/*html { filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(100%);}*/
/* CSS Document */
.top{
	height:140px;
	line-height:140px
}
.top .logo{
	margin:30px 120px 0 20px;
	float:left;
	font-size:0
}
.top_search{ margin-top:50px}
.inp01{
	width:290px;
	height:35px;
	line-height:35px;
	text-indent:10px;
	border:1px solid #dedede;
	border-right:0
}
.btn01{
	width:90px;
	height:39px;
	border:0;
	color:white;
	background-color:#d9423b
}
.top ul>li{
	display:inline-block;
	line-height:20px;
	margin-right:20px
}
.post{
	padding-left:30px;
	background:url(../image/post.png) left center no-repeat
}
.paper a{
	padding:4px 10px;
	border-radius:4px;
	background-color:#d9423b;
	color:white
}
.nav{
	border-top:5px solid #d9423b;
	border-bottom:1px solid #dedede;
	height:65px
}
.nav>.w1200{
	z-index:3
}
.nav>.w1200>ul>li{
	line-height:65px;
	float:left;
	border-right:1px solid #dedede
}
.nav>.w1200>ul>li>a{
	color:#d9423b;
	padding:0 12px;
	display:block
}
.nav>.w1200>ul>li>a:hover,
.nav>.w1200>ul>li>a.cur{
	background-color:#d9423b;
	color:white
}
.nav>.w1200>ul>li:nth-child(13){
	border:0
}
.nav>.w1200>ul>li>div{
	position:absolute;
	width:100%;
	height:55px;
	line-height:55px;
	overflow:hidden;
	background-color:white;
	left:0;
	top:66px;
	display:none
}
.nav>.w1200>ul>li>div>ul>li{
	display:inline-block;
	font-size:18px;
	color:#555;
	margin:0 10px
}
.tz_box{
	padding:10px 0;
	height:39px;
	line-height:39px;
	background:url(../image/nav_bg.gif) left bottom repeat-x
}

.notice>h3{
	float:left;
	padding-left:30px;
	margin-left:20px;
	background:url(../image/notice.png) left center no-repeat
}
.notice .bd .tempWrap{ width:1000px !important; }
.notice .bd{
	float:left;
	width:1000px;
	margin-left:30px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.notice .bd ul li a:before{
	content:'·';
	font-weight:bold;
	margin-right:5px
}
.notice .bd ul{
	overflow:hidden;
	zoom:1
}
.notice .bd ul li{
	float:left;
	width:auto !important;
	margin:0 20px;
	text-align:left; _display:inline;
	white-space:nowrap;
}

.ad{
	/*height:76px;*/
	overflow:hidden;
	position:relative
}
.ad .bd ul li{
	float:left
}
.ad .hd ul{
	position:absolute;
	right:5px;
	bottom:5px;
	z-index:2
}
.ad .hd ul li{
	font-size:12px;
	width:16px;
	height:16px;
	border-radius:8px;
	text-align:center;
	line-height:16px;
	background-color:white;
	display:inline-block;
	margin:0 3px;
	cursor:pointer
}
.ad .hd ul li.on{
	background-color:#999;
	color:white
}
.topnews{
	height:224px;
	width:1198px;
	border:1px solid #dedede;
	box-shadow:0 4px 0 #f2f2f2
}
.ttxw_box{
	height:95px;
	line-height:95px;
	margin:1px 0;
	border-bottom:1px solid #dedede;
	background:#f7f7f7 url(../image/topnews.png) 20px center no-repeat;
	font-weight:bold;
    overflow: hidden;
}
.ttxw_box a{ display:block; padding-left:115px; padding-right:15px; text-align:center}
.ttxw_box a.font1{ font-size:26px;}
.ttxw_box a.font2{ font-size:28px;}
.ttxw_box a.font3{ font-size:32px;}
.ttxw_box a.font4{ font-size:36px;}
.ttxw_box a.font5{ font-size:38px;}
.ttxw_box a.font6{ font-size:24px;}
.ttxw_box a.font7{ font-size:22px;}
.ttxw_box a.font8{ font-size:20px;}
.ttxw_box a.font9{ font-size:18px;}

.toplist .list01{
	width:800px
}
.toplist .list01 li{
	float:left;
	width:50%;
	line-height:26px
}
.toplist .list01 li a{
	color:#235ea2
}
.toplist .list01 li:before{
	content:'·';
	font-weight:bold;
	margin-right:5px;
	color:#235ea2
}
.toplist .list01 li a:hover{
	text-decoration:underline
}
.yw_box{
	width:1150px;
	height:50px;
	line-height:50px
}
.yw_box h3{
	float:left;
	width:60px;
	color:#333;
	font-size:18px;
	font-weight:bold;
}
.yw_slide{ height:50px; overflow:hidden}
.yw_box li{
	display:inline-block;
	margin:0 10px
}
.yw_box li a:before{
    content:'·';
	margin-right:5px;
	color:#235ea2
}
.yw_box li a{ display:inline-block; margin-right:25px}

.news_wuxi{width:900px}
.news_wuxi dt{ float:left; margin-right:15px; width:110px; background:url(../image/yw.png); line-height:33px; font-size:18px; color:#fff; font-weight:bold; text-indent:1em}
.news_wuxi dd{ float:left;font-size:24px; font-weight:bold}
.news_wuxi dd a:link,.news_wuxi dd a:visited{color:#d9423b}
.news_wuxi dd a:hover{ text-decoration:underline}
.news_wuxi dd a.font1{ font-size:26px;}
.news_wuxi dd a.font2{ font-size:28px;}
.news_wuxi dd a.font3{ font-size:32px;}
.news_wuxi dd a.font4{ font-size:36px;}
.news_wuxi dd a.font5{ font-size:38px;}
.news_wuxi dd a.font6{ font-size:24px;}
.news_wuxi dd a.font7{ font-size:21px;}
.news_wuxi dd a.font8{ font-size:20px;}
.news_wuxi dd a.font9{ font-size:18px;}

.leader{
	margin-top:3px;
	padding:3px 0;
	padding-left:25px;
	background:url(../image/ld.png) left center no-repeat;
	color:#dedede
}
.leader a{
	margin:0 10px;
	color:#d9423b
}

.leftBox{
	width:800px
}
.slide01{
	position:relative;
	height:520px;
	overflow:hidden
}
.slide01 .prev,.slide01 .next{ position:absolute; top:50%; margin-top:-25px; display:block;width:32px; height:50px; cursor:pointer;filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5; z-index:1000;}
.slide01 .prev{left:15px; background:url(../image/icon_prev.png)}
.slide01 .next{ right:15px; background:url(../image/icon_next.png)}
.slide01 .prev:hover,.slide01 .next:hover{filter:alpha(Opacity=100);-moz-opacity:1;opacity: 1; }
.slide01 .bd ul li{
	position:relative
}
.slide01 .bd ul li div{
	position:absolute;
	z-index:1;
	width:80%;
	height:108px;
	line-height:70px;
	font-size:30px;
	text-align:center;
	bottom:8%;
	left:10%;
	background:rgba(0,0,0,.6);
	background:url(../image/Alpha60.png) \9; /*IE9 */
	background:url(../image/Alpha60.png) \0; /*IE8 */
    *background:url(../image/Alpha60.png); /*IE7 */
    _background:url(../image/Alpha60.png); /*IE6 */
}
.slide01 .bd ul li a{
	color:white;
	display:block
}
.slide01 .hd{
	position:absolute;
	z-index:2;
	bottom:65px;
	width:100%;
	text-align:center
}
.slide01 .hd ul li{
	display:inline-block;
	_float:left;
	*float:left;
	text-indent:-9999px;
	width:34px;
	height:3px;
	background-color:#b1b2b3;
	margin:0 5px;
	cursor:pointer
}
.slide01 .hd ul li.on{
	background:white
}
.picList .title{
	height:24px;
	line-height:24px;
	background:url(../image/line.gif) left center repeat-x
}
.picList .title h3{
	float:left;
	padding:0 10px;
	background-color:white;
	border-left:4px solid #d9423b;
	font-weight:bold !important;
}
.picList .title a{
	float:right;
	display:block;
	padding:0 20px 0 10px;
	background:white url(../image/more.png) right center no-repeat
}
.topN h3{
	margin-bottom:15px
}
.topN p{
	margin-bottom:20px;
	line-height:20px
}
.topN p.grey img{
	vertical-align:-1px;
	margin-right:5px
}
.list_d{ margin-left:-20px; }
.list_d li{ float:left; /*margin-left:20px;*/_display:inline;}
.list_d li img{width:285px;}
.newL li{
	width:48%;
	line-height:40px;
	float:left;
	padding-left:2%;
	background:url(../image/dot01.gif) left center no-repeat
}
.picS li{
	width:155px;
	overflow:hidden;
	float:left;
	margin:0 22px;
	text-align:center
}
.picS li div{
	margin-top:10px;
	line-height:24px
}
.rightBox{
	width:360px
}
.tabN{
	height:520px;
	background-color:#f8f8f8
}
.tabN .title{
	height:55px;
	background-color:#d9423b
}
.tabN .title a{
	margin-top:10px;
	float:left;
	width:50%;
	display:inline-block;
	height:45px;
	line-height:40px;
	color:white;
	text-align:center
}
.tabN .title a:hover,
.tabN .title a.hover{
	background-color:#f8f8f8;
	color:#d9423b
}
.tabN ul.font16 li{
	width:95%;
	padding-left:5%;
	background:url(../image/dot01.gif) 0 11px no-repeat;
	line-height:24px;
	border-bottom:1px solid #dedede;
	padding-bottom:10px;
	margin-bottom:10px
}
.tabN ul.font16 li span{
	color:#777;
	font-size:14px;
	margin-left:10px;
	padding-left:15px;
	background:url(../image/time02.png) left no-repeat
}
.slide02 .bd ul li img{
	float:left
}
.slide02 .bd ul li div{
	float:left;
	width:100%;
	box-sizing:border-box;
	border:1px solid #dedede;
	height:50px;
	line-height:50px;
	text-align:center
}
.slide02 .hd,
.hot .hd,
.xsp_hot .hd,
.wx_box .hd{
	width:100%;
	text-align:center;
	margin-top:20px
}
.slide02 .hd ul li,
.hot .hd ul li,
.xsp_hot .hd ul li,
.wx_box .hd ul li{
	display:inline-block;
	text-indent:-9999px;
	width:10px;
	height:10px;
	border:1px solid #999;
	border-radius:6px;
	background-color:white;
	margin:0 3px;
	cursor:pointer
}
.slide02 .hd ul li.on,
.hot .hd ul li.on,
.xsp_hot .hd ul li.on,
.wx_box .hd ul li.on{
	width:32px;
	border:1px solid #d9423b;
	background-color:#d9423b
}
.hot .title,
.xsp_hot .title,
.myt_box .title,
.wx_box .title,
.lb_box .title{
	height:50px;
	line-height:50px;
	border-bottom:1px solid #dedede
}
.hot .title h3,
.xsp_hot .title h3,
.myt_box .title h3,
.wx_box .title h3,
.lb_box .title h3{
	float:left;
	height:49px;
	border-bottom:2px solid #d9423b;
	padding:0 10px;
	font-weight:bold
}
.hot .title a,
.xsp_hot .title a,
.myt_box .title a,
.wx_box .title a,
.lb_box .title a{
	float:right;
	margin-right:10px
}
.hot .bd ul li a{
	float:left;
	display:inline-block;
	margin:5px 5px 0 0
}
.hot .bd ul li a img{
	width:175px;
	height:88px
}
.xsp_hot .bd ul li a{
	float:left;
	display:inline-block;
	margin:5px 5px 0 0
}
.xsp_hot .bd ul li a img{
	width:175px;
	height:88px
}
.myt_box .pd15{
	background-color:#f8f8f8
}
.myt_box .t1{
	padding-bottom:20px;
	border-bottom:1px dotted #dedede
}
.myt_box ul li{
	line-height:36px;
	padding-left:15px;
	background:url(../image/dot01.gif) left center no-repeat
}
.wx_box .bd ul li a{
	position:relative;
	float:left;
	display:inline-block
}
.wx_box .bd ul li a>i{
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	width:100%;
	height:auto;
	display:none
}
.wx_box .bd ul li a>i img{
	width:90%;
	margin:5%;
	height:auto
}
.wx_box .hd{
	position:absolute;
	top:0;
	width:auto;
	right:10px
}
.media .title{
	height:24px;
	line-height:24px;
	background:url(../image/line.gif) center repeat-x;
	text-align:center
}
.media .title h3{
	display:inline-block;
	padding:0 20px;
	border-left:4px solid #d9423b;
	border-right:4px solid #d9423b;
	background-color:white;
	font-weight:bold
}
.tabTit{
	width:100%;
	text-align:center
}
.tabTit a{
	display:inline-block;
	padding:5px 20px;
	border-radius:8px;
	border:1px solid #dedede;
	background-color:#f5f5f5;
	margin:0 10px
}
.tabTit a:hover,
.tabTit a.hover{
	background-color:#d9423b;
	border:1px solid #d9423b;
	color:white
}
.media ul li{
	width:25%;
	float:left;
	height:80px;
	line-height:80px;
	text-align:center
}
.footer{
	height:160px;
	padding:30px 0;
	background-color:#f7f7f7;
	border-top:1px solid #dedede
}
.tb01{
	width:90%;
	margin:0 5%
}
.tb01 td{
	height:40px;
	line-height:40px
}
.tb01 td.song>div{
	float:left;
	margin:20px 10px 0 0
}
.tb01 td.song>div>a{
	display:table-cell;
	width:188px;
	height:48px;
	line-height:14px;
	border:1px solid #0095e1;
	border-radius:5px;
	vertical-align:middle;
	text-align:center
}
.tb01 td.song>div>a>img{
	vertical-align:middle
}
.tb01 td.song>div:nth-child(6)>a{
	width:auto;
	height:auto;
	border:0
}
.bottom{
	/*height:30px;*/
	padding:35px 0;
	background-color:#a92e30;
	line-height:34px
}
.bottom a{
	color:white
}
.floatR{
	width:40px;
	position:fixed;
	left:50%;
	top:280px;
	margin-left:630px;
	z-index:9999
}
.floatR ul li{
	font-size:16px;
	width:24px;
	text-align:center;
	padding:10px 8px;
	border-radius:4px;
	background-color:#ccc;
	margin-bottom:10px;
	cursor:pointer
}
.floatR ul li:hover{
	background-color:#d9423b
}
.floatR ul li.ewm i{
	position:absolute;
	display:block;
	background:#d9423b;
	left:-110px;
	top:0;
	display:none
}
.floatR ul li.ewm:hover i{
	display:block
}
.top_kv{ width:100%}
.top_kv{ height:158px; background:url(../image/kv_lh.jpg) no-repeat top center}
.top_kv a{ display:block; height:158px; line-height:100; font-size:0; overflow:hidden}