.w950{ width:960px; background: #fff;}
.w900{ width:910px;}
.w530{ width:530px;}
.w358{ width:358px;}
.w300{ width:300px;}
.w474{ width:474px;}
.mt5{ margin-top:5px;}
.mb5{ margin-bottom:5px;}
.border_ccc{ border:1px solid #ccc;}
.main{ clear:both;}


body{background:#FFF;}
/*body{background: #fff url(../images/v9/2020xinnian.png) no-repeat top center;margin-top: 240px;}*/

a{ color:#4f4f4f;}
.Article-Tool{ padding:0 !important; height:30px !important;}
.Article-Tool span.m5{ margin:7px 0;}
.Article-Tool #bdshare a{ width:auto !important;}
.Article-Tool .jiathis_style{ margin-top:8px; margin-left:10px;}
/*.Article-Tool .jiathis_style a{ background:url("../images/jiathis_ico.png") no-repeat scroll left center rgba(0, 0, 0, 0)!important; margin-left:0;}*/
#bdshare{ float:right !important; margin-top:2px !important;}
em.s_red{ color:#a50021; font-weight:bold;}
#nav em.s_red a{color:#a50021;}
#header-top{ background:url(../image/head_02.gif) repeat-x; height:29px; }
.c4389c4{ color:#4389c4; font-size:14px;}
#header-top span{ color:#4f666e; margin-top:5px; height:24px;}
#header-top a{ color:#4f666e !important;}
#logo{ border:1px solid #ccc; padding:10px 10px 5px 20px; width:927px;}
/*#logo ul li{ display:inline;}*/
#logo dl dt{ padding:5px 0;}
#logo dl dt a,#logo dl dt{ font-size:15px; font-family: Tahoma, Geneva, sans-serif;  color:#232c36;}
#logo dl dt em{ font-size:14px;}
#logo dl dt span{ margin:0 5px;}
#about_us,#home,#add,#Email,#map,#statement{background-image:url(../image/allcoin.gif);background-repeat:no-repeat; width:40px; height:40px; display: inline-block;}
#about_us{ background-position:0 0;}
#home{ background-position:-40px 0;}
#add{ background-position:-80px 0;}
#Email{ background-position:-120px 0;}
#map{ background-position:-160px 0;}
#statement{ background-position:-200px 0;}
#banner{ background:url(../image/head_13.jpg) no-repeat; width:960px; height:48px; line-height:38px;}
#banner li{ height:50px; width:80px; text-align:center;float:left; display:inline; background:url(../image/tiao_14.jpg) no-repeat right 0;}
#banner li.ban01{ margin:0 15px;width:68px; }
#banner li a{ color:#FFF; font-family:幼圆; font-size:16px; font-weight:bold; }
#end{ background:none !important; width:120px !important; text-align:right !important;}
#nav{padding-left:5px; width:953px; font-size:12px; color:#232c36; background:#f6f6f6; border:1px solid #ccc; line-height:25px; height:25px;}
#nav a{color:#232c36;padding:0 1px;}
#nav em{ margin-right:5px;}
#nav span{ margin-left:20px; float:left; display:inline;}


#xzol_content{color:#4F4F4F;}
#contenttop{ width:960px; margin-top:15px; margin-bottom:10px;}
#contenttop ul li a{color:#000;}
.contenttop_left{ width:675px; border-right:1px solid #ccc}
#public ul{ padding-left:4px; margin-top:5px;}
#public ul li{line-height:25px;background:url(../image/sign_03.jpg) no-repeat 5px 10px; padding-left:1em;  list-style-position:outside;}
.contenttop_right{ width:252px; padding-top:5px; }

i.borr{border-right:1px solid #4f4f4f;}
.animate{ display:inline-block;  border-bottom:1px solid #205a88;  margin-top:10px;  height:34px; position:relative;}
.animate i{ padding:0 10px; overflow:hidden;  line-height:20px;}
.animate ul li a{ line-height:20px; float:left; display:inline;}
.animate ul li a:hover{ color:#0064b2; display:inline-block; line-height:20px; overflow:hidden; display:inline; cursor:pointer;background:url(https://www.tibetol.cn/statics/images/sign_07.jpg) no-repeat 50% bottom #fff; display:block;}
.xz_content{ padding:10px 15px; border:1px solid #ccc; margin-top:5px; width:928px; float:left; display:inline;}
.search{ border-left:1px solid #333; margin-left:18px; padding-left:18px;}
.header{
    background: none !important;
}
#search_text{ border:1px solid #ccc; border-right:none; width:250px; height:28px;}
#seach{ background:#0064b2; height:30px; width:54px; color:#FFF;}
.content01_left,.content01_left a{ width:405px; color:#969696; }
.content01_left p{ margin-left:20px;}
span.ab{ width:405px; height:60px; display:inline-block}
.content01_up{height:120px;}
.content01_right{ width:492px;}

#aboutus .Article-Tool {
    background-color: #fff !important;
    border: none !important;
    height: auto !important;
    padding: 0px !important;
    text-align: left !important;
}

#aboutus{ margin-top:12px;}
#aboutus ul li{ margin-right:2px; width:29px; height:33px; float:left;}
#aboutus ul li a{background-image:url(../image/allcoin.gif); background-repeat:no-repeat;  display:inline-block; width:29px; height:33px;}
#aboutus ul li  a#QQ:hover ,.selected{background-position:0 -40px;}
#aboutus ul li  a#Qzone:hover {background-position:-29px -40px;}
#aboutus ul li  a#school:hover{ background-position:-58px -40px;}
#aboutus ul li  a#sina:hover{ background-position:-87px -40px;}
#aboutus ul li  a#renren:hover{ background-position:-116px -40px;}
#aboutus ul li  a#sohu:hover{ background-position:-145px -40px;}
#aboutus ul li  a#wangyi:hover{ background-position:-174px -40px;}
#QQ{ background-position:-20px -191px;}
#Qzone{ background-position:-49px -191px;}
#school{ background-position:-78px -191px;}
#sina{ background-position:-107px -191px;}
#renren{ background-position:-136px -191px;}
#sohu{ background-position:-165px -191px;}
#wangyi{ background-position:-194px -191px;}
#two_make,#aboutus{ width:240px; border-bottom:1px solid #ccc; padding-bottom:12px; margin-left:15px;}

#two_make .weixin{ width:130px;}
.weixin span{ line-height:25px;}
.content01_right #list{ border:1px solid #ccc; width:480px;  padding-left: 10px; padding-top:8px; padding-bottom:2px;}
.content01_right #list li{ width:220px; background:url(../image/sign_03.jpg) no-repeat 5px 50%; padding-left:1em; line-height:16px;}

#frist_news{ width:655px;}
#frist_news p span{ border-right:1px solid; line-height:14px; padding-right:10px;}
#first_pic{ margin-top:10px; margin-left:15px;}
#first_pic p{ line-height:20px;}
#first_pic dl dt img,#first_pic dl dt{ width:93px; height:83px;}
#first_pic dl dd{ width:155px; margin-left:10px;}

/*#ad{ width:100%; background:#ccc; height:80px; margin-top:12px;}*/
.content02_right #zixun{ background:url(../image/xizang_online_71.jpg) no-repeat;padding-left:48px; margin-top:20px; }
#zixun ul{ margin-left:20px;}
.content02_right #ulchange ul li{width:310px; background:url(https://www.tibetol.cn/statics/images/sign_11.jpg) no-repeat 5px 50%; padding-left:1em; line-height:20px;}
ul.zixun{ margin:6px 0 10px 5px;}
ul.zixun li{  background:url(https://www.tibetol.cn/statics/images/sign_11.jpg) no-repeat 5px 50%; padding-left:1em; line-height:20px;}
.xzyaowen li{ width:245px;}
.otherzq li{ width:320px;}
.content03_left{ position:relative;}
.content03_left #weibo_list{ position:absolute; top:75px; right:0px; width:260px;}
.content03_left #weibo_list li{ white-space:nowrap;}
.content03_left #weibo_list li{ margin-left:10px; line-height:26px;}
.content03_right #readpic{ background:url(../image/allcoin.gif) no-repeat 0 -274px; display:inline-block;padding-left:56px; }
.content03_right #read{  display:inline-block;padding-left:56px; }
.content03_right #read .links{background:url(../image/allcoin.gif) no-repeat 0 -308px; left:0 !important;}
.content03_right .read_left{ padding:2px; border:1px solid #ccc;}
.content03_right .read_right{ width:219px;}
.content03_right .read_right p.com_title{ margin-top:5px;}
.jiao{ height:3px; background:url(../image/sign_13.jpg) no-repeat; margin-left:10px; margin-top:8px; width:95%; overflow:hidden;}
.content03_right ul{ margin-left:5px;}
#shipin a img{ width:358px; height:250px;}
.next_v strong{ background:url(../image/next_v.gif) no-repeat; width:8px; height:8px; float:left; display:block; margin:7px; text-indent:-9999px;}
.up_v strong{ background:url(../image/up_v.gif) no-repeat; width:8px; height:8px; float:left; display:block; margin:7px; text-indent:-9999px;}
#introduce{ border:1px solid #ccc; padding:10px; height:120px; line-height:18px;}
.pinglun{ background:url(../image/allcoin.gif) no-repeat 0 -134px; width:56px; height:22px; line-height:22px; color:#FFF;}
#talk p{ height:22px; margin-top:5px;}
.reader{ width:163px; text-align:right; height:22px;}
.reader a{ height:17px; width:17px; float:right; display:inline; margin-right:9px; margin-top:2px;}
.duguo{ background:url(../image/allcoin.gif) no-repeat 0 -513px; width:56px;; height:22px; line-height:22px; color:#FFF;}
.content04_left #community{ display:inline-block;padding-left:56px; margin-bottom:10px;}
.content04_left #community .links{background:url(../image/allcoin.gif) no-repeat 0 -342px; left:0 !important;}
.content04_left #community p,.content05_left #baike p{ margin-left:15px; line-height:20px;}
 
#community .li_position,#baike .li_position{ padding-left:15px;}
#community .li_position ul{ width:300px;}
.content04_left .com_main li{ width:255px; float:left; display:inline; padding:0 5px;}
#baike .li_position ul li{ white-space:nowrap; line-height:20px;}
#baike .li_position ul{ width:350px;}
#baike .li_position ul li a i{ text-align:center;}
.content04_right #video{  display:inline-block;padding-left:56px; margin-bottom:10px;}
.content04_right #video .links{background:url(../image/allcoin.gif) no-repeat 0 -376px; left:0 !important;}
.content04_right #video_list li{ margin-top:10px; float:left; display:inline;}
.content04_right #video_list dl{ width:160px;}
/*.content04_right #video_list dl dt img{ width:160px; height:80px;}*/
.content04_right #video_list dl dd{ font-size:12px; margin-top:5px;}
.content04_right #video_list dl dd i.looks{ background:url(../image/sgin_03.jpg) no-repeat; padding-left:22px;}
.content04_right #video_list dl dd em.discuss{ background:url(../image/sgin_05.jpg) no-repeat; padding-left:24px; margin-left:20px;}
.c_0a5392{ color:#0a5392;}
.com_main li{ line-height:23px;}
h1.com_title a{ font-weight:bold;}
.bk_main{ width:237px; padding:3px 10px;}
.content05_left ul li.hr{background:url("../image/uline.gif") repeat-x  bottom center !important; }
.bk_l{ border-right:1px dotted #ccc;}
.baike_list{ padding-bottom:15px;}
.blogroll h5{ border-bottom: 1px solid #CCCCCC; color: #1E50A2; height: 26px; line-height: 26px; margin-bottom: 10px; padding-left: 10px;position: relative;}
.content05_left .com_title{ color:#900;}
.hot_ct{ width:180px;}
.person{ width:294px;}
.related{ border-top:1px dashed #ccc;}
.content04_left,.content05_left{ overflow:hidden; zoom:100%}
.links{ width:56px; height:34px; position:absolute; left:-56px; top:1px; text-align:center; display:block;}
.content03_left #weibo{ margin-left:56px;}
.content03_left #weibo .links{background:url(../image/allcoin.gif) no-repeat 0 -240px;}

.content05_left #baike{ padding-left:56px;}
.content05_left #baike .links{background:url(../image/allcoin.gif) no-repeat 0 -410px; left:0 !important;}

.content05_right #movelift{ display:inline-block;margin-left:82px; width:272px;}
.content05_right #movelift .links{background:url(../image/allcoin.gif) no-repeat 0 -444px;  width:272px !important; left:-80px !important;}
.content05_right #readpic{ display:inline-block;margin-left:56px; }
.content05_right #readpic .links{background:url(../image/allcoin.gif) no-repeat 0 -274px; }
.content05_right #link{display:inline-block;margin-left:56px;}
.content05_right #link{ background:url(../image/allcoin.gif) no-repeat 0 -478px;}
.content05_right .tel_news{ position:relative; width:327px; margin:0 auto; margin-bottom:10px;}
.content05_right .tel_news .left,.content05_right .tel_news .right{ width:10px; height:58px;}
.content05_right .tel_news .left{ background:url(../image/allcoin.gif) no-repeat 0 -156px; position:absolute; top:-13px; left:-10px;}
.content05_right .tel_news .right{ background:url(../image/allcoin.gif) no-repeat -10px -157px; position:absolute; top:-12px; right:-10px;}


.content05_right .tel_news ul{ width:325px; height:220px; border:1px solid #ccc; border-top:none; padding-top:10px;}
.content05_right .tel_news ul li{ padding:15px;}
.content05_right .tel_news ul li img{ margin-top:20px;}
.content05_right .tel_news ul#news_01 dt{ width:144px; height:166px; }
.content05_right .tel_news ul#news_02 dt{ width:176px; height:162px;}


.content05_right .tel_news dl{ width:325px; height:230px; border:1px solid #ccc; border-top:none;}
.content05_right .tel_news dl dt{ margin-left:15px; margin-top:25px; margin-right:10px;}
.content05_right .tel_news dl#news_01 dt{ width:144px; height:166px; }
.content05_right .tel_news dl#news_01 dd{ padding-top:20px;}
.content05_right .tel_news dl#news_02 dt{ width:176px; height:162px;}
.content05_right .tel_news dl#news_02 dd{ width:120px; margin-top:15px;}
.content05_right .tel_news p{ height:30px; background:#0064b2; color:#FFF; line-height:30px; padding-left:10px;}
.content05_right .tel_news p span img{ margin-right:13px;width:95px; height:16px;}
.content05_right #line_news li{ float:left; display:inline; width:110px; height:150px; margin-right:13px; margin-top:10px;}
.content05_right .link_add{ width:233px; overflow:hidden; position:absolute; top:215px; left:123px;}
.content05_right .link_add a{ width:233px; height:68px; float:left; display:inline; margin-bottom:0px;}
#links{ position:relative;}
.li_position{position:absolute; top:-10px;}
.li_position p a:hover{ color:#0064b2;}

#scroll{ bottom:10px; position:fixed; right:10px; _position:absolute; _bottom:10px; _right:10px;}
#scroll a{ outline:0 none;}
.goTop { background:url(../image/xizang_online_206.jpg) no-repeat 0 0; width:60px; height:60px; float:left; text-indent:-9999px;}

#xzol_footer{ width:960px; height:90px; background:url(../image/allcoin.gif) repeat-x 0 -535px #efefef; padding-top:30px; margin:0 auto; padding-bottom:30px}
#xzol_footer p{ text-align:center; line-height:20px; margin-right:20px;}
#KinSlideshow img{ width:355px; height:265px;}
.nums{ background:url(../image/photo_06.gif) no-repeat; color:#FFF;height:40px; width:40px; text-align:center; line-height:40px;}

.lists{ background:url(../image/photo_06.jpg) no-repeat; color:#FFF;height:22px; width:22px; text-align:center; line-height:22px; padding-right:10px}
.lists02{ background:url(../image/sign_03.jpg) no-repeat scroll 5px 10px transparent;padding-left:1em;color:#FFF;line-height:22px;}
#recommend ul li{ background:url(../image/lid.jpg) no-repeat 5px 10px; padding-left:18px; line-height:24px;}
.cli{ border-bottom:2px solid #FFF;}
.borb_car{ background:url(../image/caitiao.jpg) no-repeat 0 bottom;}
.box h5,.box h6{ line-height:31px !important;}

.time{ color:#999999;}


#xzol_footer .w950{ width:960px; background:none;}