body {
	width: 100%px;
	margin: 0 auto;

}

input { font: 10pt "ËÎÌå"; }
img {
	border: none;
}
p,ul,ol,li,form {
	margin: 0;
	padding: 0;
	list-style: none;
}
.content {
}
.sider {
	width: 300px;
}
.homepage .sider {
	width: 230px;
}
/** »áÔ±µÇÂ¼¿ò **/
.top table td {
	padding: 0px 0px;
}
.top a {
}
.top .inputText {
	height: 14px;
	border: 1px solid #dedede;
}
.top .inputSub {
	height: 19px;
	border: 1px solid #dedede;
	background-color:#FFFFFF;
	color:#888
}

/*Ê×Ò³Í·²¿µ¼º½*/
.sy_nav{ font-size:14px; color:#004a99; line-height:24px; font-family:"Î¢ÈíÑÅºÚ";}
.sy_nav span{ font-size:14px; font-weight:bold; color:#FFFFFF; line-height:24px; font-family:"Î¢ÈíÑÅºÚ";}
.sy_nav a{ font-size:14px; color:#004a99; line-height:24px; text-decoration:none; margin-right:2px; padding:0px 4px 0px 4px; font-family:"Î¢ÈíÑÅºÚ";}
.sy_nav a:hover{ font-size:14px; color:#FFFFFF; background-color:#004a99; line-height:24px; text-decoration:none; margin-right:2px; padding:0px 4px 0px 4px; font-family:"Î¢ÈíÑÅºÚ";}

/*Ê×Ò³¶¥²¿Í¨À¸¡ª »áÔ±×¢²áÓëµÇÂ¼*/

.sy_top_wz a{
display:block; 
height:40px;
font:12px/40px "ËÎÌå";
color:#ffffff;
text-decoration:none;
margin:0;
}
.sy_top_wz a:hover{
background-color:#00355e;
font:12px/40px "ËÎÌå";
color:#ffffff;
text-decoration:none;
}

.sy_top_wz2 a{
display:block; 
height:40px;
font:12px/40px "ËÎÌå";
color:#ffffff;
text-decoration:none;
margin:0;
}
.sy_top_wz2 a:hover{
font:12px/40px "ËÎÌå";
color:#ffffff;
text-decoration:none;
}





/** ÍøÕ¾¹«¹²Í·²¿µ¼º½ÑùÊ½ **/
.head-nav{font-size:14px; color:#333; margin:3px 3px 3px 3px;}
.head-nav a{ font-size:14px;width:30px; color:#333;text-decoration:none; text-align: center;text-decoration:none;display:inline-block; line-height:18px; margin:3px 3px 3px 3px;}
.head-nav a:hover{font-size:14px;width:30px; color:#fff; text-align: center;text-decoration:none; background-color:#cc0000;display:inline-block; line-height:18px; margin:3px 3px 3px 3px;}

.head-nav span a{ font-size:14px; font-weight:bold; color:#004a99;text-decoration:none; text-align: center;text-decoration:none;display:inline-block; line-height:18px; margin:3px 3px 3px 3px;}
.head-nav span a:hover{font-size:14px; font-weight:bold; color:#fff; text-align: center;text-decoration:none; background-color:#cc0000;display:inline-block; line-height:18px; margin:3px 3px 3px 3px;}

.head-nav2 a{ font-size:14px; color:#333;text-decoration:none; text-align: center;text-decoration:none;display:inline-block; line-height:18px;width:40px; margin:3px 3px 3px 3px;}
.head-nav2 a:hover{font-size:14px; color:#fff; text-align: center;text-decoration:none; background-color:#cc0000;display:inline-block; line-height:18px;width:40px; margin:3px 3px 3px 3px;}


.head-top12{font-size:12px; color:#888;}
.head-top12 a{ font-size:12px; color:#888;text-decoration:none; line-height:30px;}
.head-top12 a:hover{font-size:12px; color:#333; line-height:30px;text-decoration:underline;}

.head-red a{ font-size:12px; color:#cc0000;text-decoration:none; line-height:30px;}
.head-red a:hover{font-size:12px; color:#cc0000; line-height:30px;text-decoration:underline;}

.Channel-top14{font-size:14px; color:#dddddd;line-height:25px;padding:0px 0px 0px 0px;}
.Channel-top14 a{ font-size:14px; color:#333;text-decoration:none;line-height:25px;padding:0px 12px 0px 12px;}
.Channel-top14 a:visited{font-size:14px; color:#333;text-decoration:none;line-height:25px;padding:0px 12px 0px 12px;}
.Channel-top14 a:hover{font-size:14px; color:#bd080d;text-decoration:underline;line-height:25px;padding:0px 12px 0px 12px;}
.Channel-top14 a:active{font-size:14px; color:#333;text-decoration:none;line-height:25px;padding:0px 12px 0px 12px;}



.head_tophsbg{
	font-size:12px;
	color:#888;
	background-attachment: scroll;
	background-image: url(http://img.qx162.com/templates/v1/nr/css/images/sp120114wrap_img.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

/**ÍøÕ¾¹«¹²µ×²¿ÑùÊ½**/

.xiebandanwei12{font-size:12px; color:#ed2e01;text-align: left;line-height:22px;padding:0px 5px 0px 5px;}
.xiebandanwei12 a{ font-size:12px; color:#ed2e01; text-align: left;text-decoration:none;line-height:22px;padding:0px 5px 0px 5px;}
.xiebandanwei12 a:visited{font-size:12px; color:#ed2e01; text-align: left;text-decoration:none;line-height:22px;padding:0px 5px 0px 5px;}
.xiebandanwei12 a:hover{font-size:12px; color:#ed2e01; text-align: left;text-decoration:underline;line-height:22px;padding:0px 5px 0px 5px;}
.xiebandanwei12 a:active{font-size:12px; color:#ed2e01; text-align: left;text-decoration:none;line-height:22px;padding:0px 5px 0px 5px;}

.bot12{font-size:12px; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif, "ËÎÌå";text-align: center;line-height:22px;padding:0px 5px 0px 5px;}
.bot12 a{ font-size:12px; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif, "ËÎÌå"; text-align: center;text-decoration:none;line-height:22px;padding:0px 5px 0px 5px;}
.bot12 a:visited{font-size:12px; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif, "ËÎÌå"; text-align: center;text-decoration:none;line-height:22px;padding:0px 5px 0px 5px;}
.bot12 a:hover{font-size:12px; color:#bc2931; font-family:Verdana, Arial, Helvetica, sans-serif, "ËÎÌå"; text-align: center;text-decoration:underline;line-height:22px;padding:0px 5px 0px 5px;}
.bot12 a:active{font-size:12px; color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif, "ËÎÌå"; text-align: center;text-decoration:none;line-height:22px;padding:0px 5px 0px 5px;}




.bottom_line{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7e7e7;
}




/** ¹«¹²¶¨Òå **/
.title {
	color: #07519A;
	border-bottom: none;
}
.title td {
	font-size: 14px;
	line-height: 26px;
	color: #07519A;
	padding: 0px 10px;
}
.box {
	border: 0px;
	border-width: 0 1px 1px 1px;
}
.box ul {
	list-style: none;
	padding: 8px;
}
.box ul li {
	background: url(http://img.qx162.com/templates/v1/nr/css/images/bullet.gif) no-repeat left center;
	line-height: 1.6;
	padding: 2px 0 2px 8px;
}
.no_doc ul li {
	background: url(http://img.qx162.com/templates/v1/nr/css/images/664f33612d544973940a63c7fcc56e7b.gif);
	padding-left: 0px;
}
.box ul li p {
	margin: 0 0 4px;
	padding: 0 0 5px;
	color: #666;
	border-bottom: 1px dashed #CCC;
}
.box ul li strong {
	display: block;
}
.rank {
	margin: 0px;
	padding: 8px 6px;
}
.rank li {
	padding-left: 18px;
	line-height: 23px;
}
.rank li.no1 {
	background: url(http://img.qx162.com/templates/v1/nr/css/images/1.gif) no-repeat 4px center;
}
.rank li.no2 {
	background: #F2F8FD url(http://img.qx162.com/templates/v1/nr/css/images/2.gif) no-repeat 4px center;
}
.rank li.no3 {
	background: url(http://img.qx162.com/templates/v1/nr/css/images/3.gif) no-repeat 4px center;
}
.rank li.no4 {
	background: #F2F8FD url(http://img.qx162.com/templates/v1/nr/css/images/4.gif) no-repeat 4px center;
}
.rank li.no5 {
	background: url(http://img.qx162.com/templates/v1/nr/css/images/5.gif) no-repeat 4px center;
}
.rank li.no6 {
	background: #F2F8FD url(http://img.qx162.com/templates/v1/nr/css/images/6.gif) no-repeat 4px center;
}
.rank li.no7 {
	background: url(http://img.qx162.com/templates/v1/nr/css/images/7.gif) no-repeat 4px center;
}
.rank li.no8 {
	background: #F2F8FD url(http://img.qx162.com/templates/v1/nr/css/images/8.gif) no-repeat 4px center;
}
.rank li.no9 {
	background: url(http://img.qx162.com/templates/v1/nr/css/images/9.gif) no-repeat 4px center;
}
.rank li.no10 {
	background: #F2F8FD url(http://img.qx162.com/templates/v1/nr/css/images/10.gif) no-repeat 4px center;
}
.news_title {
	margin-top: 10px;
}
.news_title strong {
	background: #f4f4f4 url(http://img.qx162.com/templates/v1/nr/css/images/h2_icon.gif) no-repeat 8px center;
	display: block;
	padding-left: 20px;
	line-height: 2;
	margin: 0 8px;
	font-size: 14px;
}
.news_title p {
	margin: 6px 8px 0px;
	padding: 0 0 8px;
	color: #666;
	border-bottom: 1px dashed #CCC;
}
.focus_nav {
	margin-top: 10px;
	background: url(http://img.qx162.com/templates/v1/nr/css/images/focus_bg.jpg) repeat-x left top;
	border: 1px solid #AACCEE;
}
.focus_nav strong {
	font-size: 16px;
	line-height: 32px;
	margin-bottom: 6px;
	text-align: center;
	display: block;
	border-bottom: 1px dashed #ccc;
}
.margin_top {
	margin-top: 10px;
}
.inputText {
	border: 1px solid #ccc;
}
.banner_ad {
	padding: 0 10px;
}
.picText {
	margin-bottom: 0px;
	background: #F8F8F8;
}
.picText strong {
	display: block;
}
.picText img {
}
.picList {
	padding: 8px 0;
}
.picList table td img {
	margin-bottom: 1px;
}
.tprice span {
	text-decoration: line-through;
}
.price {
	color: #f60;
}

.ny-yclm-title{font-size:14px; color:#333333;text-align: left;line-height:22px;padding:0px 5px 0px 20px;}
.ny-yclm-title a{ font-size:14px; color:#333333; text-align: left;text-decoration:none;line-height:22px;padding:0px 5px 0px 20px;}
.ny-yclm-title a:visited{font-size:14px; color:#333333; text-align: left;text-decoration:none;line-height:22px;padding:0px 5px 0px 20px;}
.ny-yclm-title a:hover{font-size:14px; color:#333333; text-align: left;text-decoration:underline;line-height:22px;padding:0px 5px 0px 20px;}
.ny-yclm-title a:active{font-size:14px; color:#333333; text-align: left;text-decoration:none;line-height:22px;padding:0px 5px 0px 20px;}

/* tabÑ¡Ïî¿¨ */
.tbtncon {
	height:26px;
	background:url(http://img.qx162.com/templates/v1/nr/css/images/title_bg.gif) repeat-x;
}
.tbtn1 {
	font-size:12px;
	font-weight:normal;
	height:26px;
	border:1px solid #ace;
}
.tbtncon li{
	border:1px solid #ace;
	border-left:none;
	border-top:none;
	color:#07519A;
	cursor:pointer;
	display:block;
	float:left;
	text-align:center;
	text-decoration:none;
	width:80px;
	height:25px;
	line-height:25px;
}
.tbtncon li:hover{
	text-decoration:underline;
}
.tbtncon li.curr{
	background:#fff;
	border-bottom-color:#fff;
	cursor:default;
}

/* ÆµµÀÁÐ±íÒ³ */
.position{ font-size:12px; color:#252525;line-height:25px;padding:0px 0px 0px 10px;}
.position a{ font-size:12px; color:#252525; text-decoration:none;line-height:25px;padding:0px 0px 0px 0px;}
.position a:hover{ font-size:12px; color:#bd080d;text-decoration:underline;line-height:25px;padding:0px 0px 0px 0px;}



.r_t_01{ font-size:12px; color:#06346f; line-height:25px; padding:0px 0px 0px 0px;}
.r_t_01 a{ font-size:12px; color:#06346f; text-decoration:none;line-height:25px;padding:0px 0px 0px 0px;}
.r_t_01 a:hover{ font-size:12px; color:#bd080d;text-decoration:underline;line-height:25px;padding:0px 0px 0px 0px;}

.r_pic_t a{ font-size:12px; color:#06346f; text-decoration:none;line-height:25px;padding:0px 0px 0px 0px;}
.r_pic_t a:hover{ font-size:12px; color:#bd080d;text-decoration:underline;line-height:25px;padding:0px 0px 0px 0px;}

.r_paihang a{ font-size:12px; color:#06346f;text-decoration:none;line-height:25px;}
.r_paihang a:hover{font-size:12px; color:#bd080d;text-decoration:underline;line-height:25px;}

.news_list1 { font-size:12px; color:#999;text-decoration:none;line-height:27px;}
.news_list1 a{ font-size:14px; color:#000;text-decoration:none;line-height:27px;}
.news_list1 a:hover{font-size:14px; color:#bd080d;text-decoration:underline;line-height:27px;}
.news_list1 ul {border-bottom: 1px dashed #ccc; padding:15px 0px 15px 0px;}

.news_list4 { font-size:12px; color:#999;text-decoration:none;line-height:27px;}
.news_list4 a{ font-size:14px; color:#000;text-decoration:none;line-height:27px;}
.news_list4 a:hover{font-size:14px; color:#bd080d;text-decoration:underline;line-height:27px;}
.news_list4 ul {border-bottom: 0px dashed #ccc; padding:15px 0px 15px 0px;}

.news_list2 { font-size:14px; color:#1e50a2;text-decoration:none;line-height:27px;}
.news_list2 a{ font-size:14px; color:#1e50a2;text-decoration:none;line-height:27px;}
.news_list2 a:hover{font-size:14px; color:#bd080d;text-decoration:underline;line-height:27px;}


.flash_list .line_bottom {color: #666;margin-bottom: 4px;border-bottom: 1px dashed #ccc;
}
.flash_list .flashsay {color: #666;
}
.movie_list .line_bottom {color: #666;margin-bottom: 4px;border-bottom: 1px dashed #ccc;
}
.movie_list .titlepic img {border: 1px solid #ccc;padding: 3px;
}
.shop_list .line_bottom {color: #666;margin: 8px 0;border-bottom: 1px dashed #ccc;
}
.shop_list .line_bottom table {
	margin-bottom: 8px;
}
.photo_list .line_bottom {
	color: #666;
	margin: 8px 0;
	border-bottom: 1px dashed #ccc;
}
.photo_list .line_bottom table {
	margin-bottom: 8px;
}
.info_list .line_bottom {
	color: #666;
	margin: 8px 0;
	border-bottom: 1px dashed #ccc;
}
.info_list .line_bottom .titlepic {
	width: 90px;
}
.info_list .titlepic img {
	border: 1px solid #ccc;
	padding: 3px;
}
.info_list .line_bottom .click {
	color: #f60;
}
.info_list .line_bottom .smalltext {
	color: #666;
}

.showpage .main .box {border-width: 1px;}
.news .main .box {padding: 0 0px;background: #F7FDFF;}
.info .main .box {padding: 0 0px;}
.showpage .title_info h1 {font-size: 24px;font-family:"ºÚÌå"; color:#06346f;font-weight: normal;}
.showpage .title_info {margin-top: 20px;text-align: center;}
.info_text {font-size:12px;text-align: right;padding:0px 0px 15px 0px;color: #666666;text-decoration:none;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #ccc; font-family:Arial, Helvetica, sans-serif;}
.info_text a{ font-size:12px; font-family:Arial, Helvetica, sans-serif;text-align: center;padding:0px 0px 15px 0px;color: #bd080d;text-decoration:none;}
.info_text a:hover{ font-size:12px; font-family:Arial, Helvetica, sans-serif;text-align: center;padding:0px 0px 15px 0px;color:#bd080d;text-decoration:underline;}


.tags {font-size:12px;text-align: left;padding:0px 0px 15px 0px;color: #666666;text-decoration:none;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #ccc; font-family:Arial, Helvetica, sans-serif;}
.tags a{ font-size:12px; font-family:Arial, Helvetica, sans-serif;text-align: left;padding:0px 0px 15px 0px;color: #bd080d;text-decoration:none;}
.tags a:hover{ font-size:12px; font-family:Arial, Helvetica, sans-serif;text-align: left;padding:0px 0px 15px 0px;color:#bd080d;text-decoration:underline;}


.smalltext {font-size:12px;color: #666666; line-height:23px;}
.xinqing { font-size:14px; font-weight:bold; color:#06346f;line-height:25px; padding-left:20px;}

.showpage .digg {background: url(http://img.qx162.com/templates/v1/nr/css/images/digg_bg.gif) no-repeat left top;width: 62px;margin-bottom: 10px;}
.showpage .digg td {text-align: center;padding-right: 4px;}
.showpage .digg .diggnum {height: 20px;font-size: 16px;line-height: 20px;font-weight: bold;}
.showpage .digg .diggit {height: 30px;line-height: 24px;}
.showpage .main #text {font-size: 14px;line-height: 1.8;text-indent:2em; padding:20px;}
.showpage .main #text p {margin: 1em 0;}
.showpage #plpost {margin-top: 10px;border: 1px solid #dddddd;}

.pl_02 span {color: #CC0000; font-size:12px;}
.pl_02{ font-size:12px; color:#333; line-height:25px;}
.pl_02 a{ font-size:12px; color:#333; text-decoration:none;line-height:25px;}
.pl_02 a:hover{ font-size:12px; color:#bd080d;text-decoration:underline;line-height:25px;}

.showpage #plpost #saytext {
	display: block;
	margin: 0 0 0px;
	padding: 8px;
	height: 100px;
	width: 94%;
	border: 1px solid #ccc;
	background-image:url(http://img.qx162.com/templates/v1/nr/css/images/pl_bg.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center center;
}

.artsxp{ font-size:14px; color:#666; line-height:25px; padding:0px 0px 0px 15px;}
.artsxp a{ font-size:14px; color:#666; text-decoration:none;line-height:25px;padding:0px 0px 0px 0px;}
.artsxp a:hover{ font-size:14px; color:#bd080d;text-decoration:underline;line-height:25px;padding:0px 0px 0px 0px;}




/* ÏµÍ³ÎÄ¼þ±í¸ñÑùÊ½ */
.header	{ 
	background: #E9F2FB url(http://img.qx162.com/templates/v1/nr/css/images/title_bg.gif) repeat-x left top;
	color: #07519A;
	border: 1px solid #AACCEE;
	border-bottom: none;
}
.header a				{ color: #000000 }
.tableborder			{ background: #E1EFFB; border: 1px solid #AACCEE } 

/* ·ÖÒ³ÑùÊ½*/
.list_page {
	margin: 15px 5px;
}
.pageLink a{padding:6px 5px 5px 5px;border:1px solid #dddddd;text-align:center;text-decoration:none; font-size:12px; verdana;color:#666666;}
.pageLink a:visited{border:#dddddd 1px solid;background:#ffffff;text-decoration:none;color:#666666; font-size:12px;}
.pageLink a:hover{border:#bd080d 1px solid;background:#bd080d;text-decoration:none;color:#ffffff; font-size:12px;}
.pageLink a:active{border:#dddddd 1px solid;background:#ffffff;text-decoration:none;color:#666666; font-size:12px;}

.list_page a,
.list_page b {
	padding: 4px 4px 2px;
	border: 1px solid #dde5eb;
	background: #ffffff;
	text-align: center;
	display: inline;
	font-size: 14px;
	color:#0000ee;
		text-decoration: none;
	}
.list_page a:hover{
	border: 1px solid #dde5eb;
	background: #dde5eb;
	text-align: center;
		font-size: 14px;
	color:#0000ee;
	text-decoration: none;
	}

/*·ÖÒ³ÑùÊ½2*/
.showpage .epages {
	text-align: center; font-size:12px;
	}
.epages{padding:20px 5px 20px 5px; font-size:12px; Tahoma}
.epages *{vertical-align:middle;}
.epages a{padding:6px 5px 5px 5px;border:1px solid #dddddd;text-align:center;text-decoration:none; font-size:12px; verdana;color:#666666;}
.epages a:visited{border:#dddddd 1px solid;background:#ffffff;text-decoration:none;color:#666666; font-size:12px;}
.epages a:hover{border:#bd080d 1px solid;background:#bd080d;text-decoration:none;color:#ffffff; font-size:12px;}
.epages a:active{border:#dddddd 1px solid;background:#ffffff;text-decoration:none;color:#666666; font-size:12px;}
.epages input{margin-bottom:0px;border:1px solid #dddddd;height:15px;font:bold 12px/14px Verdana;padding-bottom:0px;padding-left:0px;margin-right:0px;color:#659B28;}

/*ËÑË÷Ò³*/
.listpage .news_list .box {
	border-width: 1px;	
	padding: 0 10px;
}
.listpage .list_content .box{
	border-width: 1px;	
	padding: 10px;
}
.listpage .news_list .box ul {
	border-bottom: 1px dashed #ccc;
}

/*Í¼Æ¬×Ô¶¯ËõÍ¼*/
.photoresize {
	max-width:560px;
	myimg:expression(onload=function(){
	this.style.width=(this.offsetWidth > 560)?"560px":"auto"}
		   );
		   
/* ·ÖÒ³ */
.article-page .page {
  margin: 0 auto;
}
.article-page .page a,
.article-page .page span {
  padding: 2px 7px;
  margin: 0 4px;
  font-size: 12px;
}
.article-page .page ._now {
  background-color: #2266bb;
  color: #ffffff;
  border-color: #2266bb;
}
.article-page .page a {
  border: 1px solid #cccccc;
  float: left;
  _display: inline;
  height: 17px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.article-page .page a:hover {
  background-color: #2266bb;
  color: #ffffff;
  border-color: #2266bb;
}
.article-page .page .disable {
  color: #cccccc;
}
.article-page .page .disable:hover {
  background-color: transparent;
  border: 1px solid #cccccc;
  color: #cccccc;
}
.article-page .page .now {
  background-color: #2266bb;
  color: #ffffff;
  border-color: #2266bb;
}
.article-page .read-btn .btn,
.article-page .read-btn .btn span {
  background-image: url(../image/btn.png);
  color: #ffffff;
}
.article-page .read-btn .btn {
  cursor: pointer;
}
.article-page .read-btn .btn-s-orange {
  height: 24px;
  background-position: -201px -245px;
  padding-left: 4px;
  float: left;
  _display: inline;
  margin-left: 10px;
}
.article-page .read-btn .btn-s-orange span {
  height: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  background-position: right -85px;
  padding-right: 4px;
  padding-left: 2px;
  float: left;
  _display: inline;
}
.article-page .read-btn .btn-s-orange span {
  padding-left: 3px;
  padding-right: 5px;
}
.article-page .read-btn a {
  padding: 0;
  border: none;
}
.article-page .read-btn a:hover {
  background-color: transparent;
}
.article-page .read-btn a:hover span {
  color: #ff0;
}
.article-page .read-btn a span {
  margin: 0;
  padding-top: 0;
}
/*·ÖÒ³µ¼º½*/
.article-menu {
  border: 1px solid #ddd;
  overflow: hidden;
  _zoom: 1;
}
.article-menu .m-head {
  height: 30px;
  background: transparent url(../image/article-menu-bar.jpg) repeat-x 0 0;
}
.article-menu .m-head .title {
  height: 29px;
  width: 92px;
  margin: 0 auto;
  font-weight: bold;
  color: #666;
  font-size: 14px;
  line-height: 29px;
}
.article-menu .menu {
  background-color: #ffffff;
  padding: 9px;
  overflow: hidden;
  _zoom: 1;
}
.article-menu .menu li {
  width: 50%;
  line-height: 24px;
  height:24px;
  float: left;
  _display: inline;
  overflow: hidden;
  zoom:1;
}
.article-menu .menu li span {
  margin-left: 11px;
  color: #333333;
}
.article-menu .menu li a:hover {
  color: #cc0000;
}
.article-menu .menu li.now-tit a{
  color: #c00;
}
/*广告*/
.banner_box{ display: block;margin-top: 20px;}
.ad-remind{height: 17px;background: rgba(0,0,0,0.6); background: #000\9;color: #fff;border-radius: 0 8px 0px 0px;line-height: 17px;width: 30px;text-align: left;overflow: hidden;font-size: 12px;font-family: Arial;position: absolute; left: 0;bottom: 0;z-index: 3;}