/***
 * @website
 * http://www.jzread.com
 * @QQ：568245346
 * @author：jsjlsf
 * @e-mail: jsjlsf@163.com
 */
 body,div,img,dl,dt,dt,ul,li,p,h1,input,h1,h2,h3{ margin:0; padding:0;}
 ul,li{ list-style:none}
 img{ border:none;}
 a{color:#050505;text-decoration:none;}
 a:hover{ text-decoration:underline; color:#c00}
 body{ font-size:12px; margin:0; padding:0; font-family: "宋体";background:#FEFEFE}
 .p1{ padding-left:15px; height:29px; line-height:29px; float:left; font-size:14px; color:#333333; font-weight:bold;}
 .p2{ padding-right:11px; height:29px; line-height:29px; color:#666666; float:right}
 .p2 a{ color:#666666;}
 .p2 a:hover{color:#bc2d09;}
 
 .nav{ height:195px; border-bottom:1px solid #dcdcdc; width:100%; background:#f7f7f7;}
 .top{ width:1000px; margin:0 auto; height:185px;}
 .header{ height:40px; line-height:40px; color:#dcdcdc; font-size: 14px;
 padding: 0px 6px 0px 7px;}
 .header a{ color:#333;padding:0 1px}
 .header a:hover{ color:#c00;}
 
 .gg{ width:1000px;}
 .s{ width:1000px; height:35px;}
 .logo{ width:230px; height:35px; float:left; padding-top:10px;}
 .logo img {height:35px;}
 .wei{ width:315px; height:26px; float:left; padding-top:28px; color:#333; font-size:14px;}
 .wei a{ color:#333}
 .wei a:hover{ color:#c00}
 .fatie{ width:79px; height:34px; float:left; padding-top:21px;}
 
 
 .so{ width:225px; height:24px;  float:right; margin-top:20px; border:1px solid #d5e2f3; background:#FFF}
 .search_input{ width:130px; float:left; border:0; padding:0px 0 0 5px; color:#999; margin:2px 0 0 5px; height:15px; border:none; font-size:12px; margin:6px 0 0 5px; margin:6px 0 0 5px\9;*margin:6px 0 0 5px;_ margin:6px 0 0 5px;marginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmargin
 }
 .search_botton{
     cursor: pointer;
     float: right;
     height: 25px;
     
     overflow: hidden;
      margin:0px 0px 0 0px; color:#666}
  .lrpl {
      float: left;
 height: 25px;
 padding-right: 4px;
 padding-top: 10px;
 color: #666;
 padding-right: 13px;
      }
 .pltj {
      float: left;
 height: 25px;
 padding-right: 4px;
 padding-top: 14px;
 color: #666;
 
 }
 .pltj a{ color:#c41e0e;
 float:left;
     
     }
 
 .qbbs {  float: left;
 height: 25px;
 padding-right: 4px;
 padding-top: 14px;
 color: #000;
 padding-right: 25px;}
 .qbbs a{
     color: #333;
     }
 
 .content{width:1000px;margin:10px auto 20px auto;}
 
 .left{ width:645px; float:left;overflow:hidden;}
 .left h1{ width:631px; height:40px; display:block; text-align:left; font-size:28px; font-family: "Microsoft YaHei, SimHei, Arial"; color:#404040; font-weight:700; margin-top:20px;}
 .gg2{ height:33px; width:601px;}
 .lei{ padding-left:0px; height:35px;  border-bottom:1px solid #e4e4e4; margin-bottom:20px;}
 
 .tx_t {
     float: left;
     height:54px;
     padding-top:11px;
     width:47px;
 }
 
 .tx_t img{ width:37px; height:37px;}
 
 .zuoze {
     float: left;
     height: 25px;
     padding-right: 4px;
     padding-top: 14px;
     color
     :#666; padding-right:13px;
 }
 .zuoze a{
     height: 25px;
     color
     :#666;
 }
 .zuoze a:hover{
     height: 25px;
     color
     :#cc0000;
 }
 .zt{ float: left;
     height: 25px;
     padding-top: 14px;
     color
     :#666; padding-right:25px;}
 .zt a{ color:#666}
 .zt a:hover{ color:#c00;}
 .hf{ width:85px; float:left;}
 .hf_left{ width:51px; height:30px; float:left; padding-top:14px; color:#1e51a2}
 .hf_left a{ color:#cc0000; text-decoration:underline;}
 .hf_right{ width:22px; float:left; padding-top:12px; height:30px; padding-left:2px;}
 
 
 .c{font-size:14px; color:#000; line-height:24px; color:#333; width:631px; padding-bottom:10px;}
 .c p{ padding-bottom:15px;} 
 #zoom img{clear:both}
 .ad04{float:right; margin: 18px 0 15px 15px;clear: right;height:280px;}
 #zhan{
 float: right;           
 clear: right;            
 height: 210px; 
 width: 1px;        
 }
 
 .cc2{ color:#333}
 .cc2 a{ color:#333}
 .cc2 a:hover{ text-decoration: underline; color:#ba2636;}
 .cc2 img{text-align:center;}
 
 
 
 
 .page1 {
     TEXT-ALIGN: center; PADDING-BOTTOM: 4px;PADDING-LEFT: 0px; WIDTH:631px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; text-indent:0em; line-height:22px;
 }
 .pageLink a{
     padding:3px 6px 2px; margin:3px; border:solid 1px #ccc; text-align:center; color:#000000; background: #fff;
     }
 .pageLink a:hover{
      background:#1E51A2; color:#fff; border:solid 1px #1E51A2;
     }
 .pageLink b{ background:#1E51A2; color:#fff; border:0; margin: 3px; padding: 3px 6px 2px; font-weight: 400; border:solid 1px #1E51A2; }
 
 .gg3{ width:631px; margin-bottom:10px;overflow:hidden}
 /*分享*/
 .xintg{ width:631px; height:32px;border-top:1px solid #e4e4e4;padding-top:10px}
 
 
 
 .xgxw{ width:623px; height:30px; padding-top:20px; padding-left:8px; font-size:16px; color:#1e50a2; border-top:1px solid #e4e4e4}
 .xgwz{ width:631px; padding-bottom:10px; }
 .xgwz li span{color:#8B9094;margin-right:12px;float:right}
 .xgwz li {
 PADDING-LEFT: 9px; WIDTH: 579px;  background:url(http://img.qx162.com/templates/v1/nr/images/ph_bg.gif) no-repeat 0px -190px ; HEIGHT: 26px; FONT-SIZE: 16px;HEIGHT: 26px;
 HEIGHT: 26px\9;*HEIGHT: 22px;_HEIGHT: 22px; color:#333333;
 } 
 .xgwz li a{ float:left; color:#333333;}
 
 .tu_xt{ width:631px; height:18px; border-top:1px solid #e4e4e4;}
 .tu{ width:645px; height:170px;}
 .tu ul{ width:645px; display:block; height:151px;}
 .tu li{ width:135px; height:151px; float:left; display:inline; margin-right:16px;}
 .tu li img{ width:135px; height:95px;}
 .tu li p{ text-align:center; padding-top:5px; line-height:18px;}
 .tu li a{ color:#333333}
 .tu li a:hover{ color:#c00}
 
 
 
 .yt{ width:631px; height:199px; padding-top:8px;}
 .yt_title{ height:50px; width:631px; border-top:2px solid #1f4fa1}
 .yt_left{ height:50px; float:left; line-height:50px; font-size:16px; color:#333}
 .yt_right{height:50px; float:right; line-height:50px; font-size:14px; color:#333;}
 .yt_right span{ color:#c00;}
 .yt_right span a{ color:#c00;}
 
 .yt_right a{ color:#333}
 .yt_right a:hover{ color:#c00;}
 .pinlun{ width:631px; height:132px; background:#f1f1f1; padding-top:15px;position:relative;}
 .plk{ width:597px; height:91px; padding-left:15px;}
 .plk textarea{ width:550px; height:75px;line-height:18px; background:#FFF; border:1px solid #ababab; font-size:14px; color:#666;padding: 5px 0 0 5px;}
 .dd{ width:597px; height:41px; padding-left:15px;position:absolute;top: 104px;}
 .zang{ width:142px; height:23px; float:left;margin-top:5px;}
 .zang input{ width:128px; height:21px; line-height:21px; border:1px solid #ababab; color:#878787; font-size:12px; padding-left:5px;}
 
 .zc{ width:105px; height:31px; float:left; padding-top:10px; color:#666}
 .zc a{ color:#666}
 .zc a:hover{ color:#c00;}
 .zxpl{ width:629px;border:1px solid #dcdcdc; padding-bottom:10px; margin-bottom:20px;}
 .zxpl_title{ width:612px; height:46px; line-height:46px; padding-left:17px; background:#f3f3f3; margin-top:1px; font-size:16px; color:#333}
 
 
 
 .logined{float:left;padding-top:14px;color:#666}
 .logined a{color:#666;text-decoration: none;}
 .logined a:hover{color:#C00;text-decoration: underline;}
 
 .plbt{ width: 61px;2px; height:45px;padding-left:15px}
 .plbt_left{ height:45px; float:left; line-height:45px; color:#1f4fa1}
 .plbt_left span{ color:#aa0303}
 .plbt_right{ height:45px; float:right; line-height:45px; color:#d1d1d1; padding-right:18px;}
 
 .plbt_contet{ width:594px; padding:0 17px 16px 17px; line-height:24px; font-size:14px}
 .hunfu{ width:613px; height:23px; text-align:right; padding-right:16px; color:#5173c3; color:#204fa1}
 .hunfu span{ color:#cb0004; margin-right:8px;}
 .hunfu span a{ color:#c00; margin:0;}
 
 .hunfu a{ margin-right:8px;}
 .plbt_xt{ width:629px; height:1px; background:url(http://img.qx162.com/templates/v1/nr/images/sitemap_10.gif) repeat-x;}
 .ckpl{ width:628px; height:33px; padding-top:15px; text-align:center}
 .ckpl img{ margin-right:15px;}
 
 .mygt{ width:631px; height:401px;}
 .mygt_title{ width:631px; height:54px; border-top:2px solid #1f4fa1;}
 .tcleft{ height:54px; float:left; line-height:54px; font-size:16px;}
 .tcright{ height:37px; padding-top:17px; width:37px; float:right; background:url(http://img.qx162.com/templates/v1/nr/images/genduo.gif) no-repeat 27px 20px;}
 .tcright2{ height:37px; padding-top:17px; width:77px; float:right; background:url(http://img.qx162.com/templates/v1/nr/images/genduo.gif) no-repeat 68px 20px;}
 .tcright2 a{ height:37px; padding-top:17px; width:77px; float:right; background:url(http://img.qx162.com/templates/v1/nr/images/genduo.gif) no-repeat 68px 20px; color:#c41e0e;}
 .tcright2 a:hover{ height:37px; padding-top:17px; width:77px; float:right; background:url(http://img.qx162.com/templates/v1/nr/images/genduo.gif) no-repeat 68px 20px; color:#c41e0e;}
 .tcright3{ height:37px; padding-top:17px; float:right; font-size:15px;}
 .tcright3 a{ color:#c00;}
 .tcright3 a:hover{ color:#c00;}
 
 .tcright a{ color:#666;}
 .tcright a:hover{ color:#c00;}
 .mygt_left{ width:210px; height:344px; float:left;}
 .mygt_left li{ width:180px; height:167px;}
 .mygt_left li img{ width:170px; height:120px; padding:4px; border:1px solid #dcdcdc;}
 .mygt_left li p{ text-align:center; padding-top:7px;}
 .mygt_left li a{ color:#000000}
 .mygt_left li a:hover{ color:#c00;}
 .mygt_right{ width:381px; height:345px; float:left;}
 .mygt_bt{ width:381px; height:54px;}
 .mygt_bt p{ width:381px; height:28px; font-size:18px; display:block;}
 .mygt_bt a{ color:#333}
 .mygt_bt a:hover{ color:#c00;}
 .mygt_bt span{ width:381px; height:26px; display:block;}
 .mygt_xt{ width:364px; height:15px; background:url(http://img.qx162.com/templates/v1/nr/images/sitemap_10.gif) repeat-x}
 .mygt_right ul{ padding-bottom:11px;}
 .mygt_right li{ width:370px; height:28px; display:block;background:url(http://img.qx162.com/templates/v1/nr/images/ph_bg.gif) no-repeat 0px -188px; font-size:14px; padding-left:11px;height:28px;height:28px;*height:24px;_height:24px; overflow:hidden;}
 .mygt_right li a{ color:#333; float:left}
 .mygt_right li a:hover{ color:#c00;}
 .mygt_right li span{ width:48px; float:right; color:#999;}
 
 
 .pic{ width:645px; height:365px;}
 .pic ul{ width:645px; display:block;}
 .pic li{ width:135px; height:148px; float:left; margin-right:16px; display:inline}
 .pic li img{ width:135px; height:95px;}
 .pic li p{ text-align:center; line-height:18px; padding-top:5px;}
 .pic li a{ color:#333}
 .pic li a:hover{ color:#c00;}
 .ph{ width:631px; height:264px; border-top:2px solid #2050a4;}
 .ph_left{ width:295px; height:264px; float:left;}
 .ph_title{ width:295px; height:56px; line-height:56px; font-size:16px;}
 .ph ul{ width:271px; height:204px; display:block; background:url(http://img.qx162.com/templates/v1/nr/images/content_69.gif) no-repeat; padding-left:24px;}
 .ph li{ height:20px; width:271px; display:block;}
 .ph li a{ color:#333}
 .ph li a:hover{ color:#c00;}
 
 .pinglun{ width:645px;}
 .pinglun_a{ width:625px;}
 #plpost {
     margin-top: 10px;
     border:1px solid #D8D8D8; 
 }
 #plpost .titleb {
     border: 0px solid #AACCEE;
 }
  #plpost .titleb span {
     color: #CC0000;
 }
 #plpost .titleb td {
     font-size: 12px;
     line-height: 25px;
     background:#FAFCFF; border-bottom:1px solid #D8D8D8; 
     padding: 0px 15px;
 }
 #plpost #saytext {
     display: block;
     margin: 0 0 10px;
     padding: 8px;
     height: 100px;
     width: 90%;
     border: 1px solid #ccc;
     background-image:url(../image/pl_bg.png);
     background-attachment: scroll;
     background-repeat: no-repeat;
     background-position: center center;
 
 }
 
 .right{width: 340px;float: right;border-right: 1px solid #DBDBDB;padding-right: 5px;}
 .gg4{ width:336px; padding-left:0px; padding-bottom:15px; margin-top:20px;}
 .news{ width:336px; height:375px; padding-left:0px; border-top:1px solid #dbdbdb;}
 .news_title{ width:336px; height:54px;}
 .news_a{ width:336px; float:left;}
 .news_a ul{ width:336px;}
 .news_a li{ width:150px; height:140px; float:left; margin-right:15px; display:inline;}
 .news_a li img{ width:150px; height:105px;}
 .news_a li p{ text-align:center; line-height:18px; padding-top:5px;}
 .news_a li a{ color:#333}
 .news_a li a:hover{ color:#c00;}
 
 .news_b{ width:336px; float:left;}
 .news_b li{ width:324px; height:25px; display:block; background:url(http://img.qx162.com/templates/v1/nr/images/ph_bg.gif) no-repeat 0px -190px; padding-left:12px;}
 .news_b li a{ color:#333}
 .news_b li a:hover{ color:#c00;}
 
 
 .news2{ width:336px;height:320px; padding-left:0px; border-top:1px solid #dbdbdb;}
 .news2 li{ width:324px; height:25px; overflow:hidden; line-height:25px; fong-size:14px;display:block; background:url(http://img.qx162.com/templates/v1/nr/images/ph_bg.gif) no-repeat 0px -190px; padding-left:12px;}
 .news2 li a{ color:#333}
 .news2 li a:hover{ color:#c00;}
 
 .news3{ width:336px;height:375px; padding-left:18px; border-top:1px solid #dbdbdb;}
 .news3 ul{ width:336px;}
 .news3 li{ width:150px; height:140px; float:left; font-size:14px; margin-right:15px; display:inline;}
 .news3 li img{ width:150px; height:105px;}
 .news3 li p{ text-align:center; line-height:18px; padding-top:5px;}
 .news3 li a{ color:#333}
 .news3 li a:hover{ color:#c00;}
 
 
 .dni{ height:79px; border-top:1px solid #dcdcdc; background:#f5f5f5; width:100%;}
 
 
 .bottom{ width:1000px;margin:0px auto 0 auto; padding:15px 0px 0 0px;line-height:26px; color:#333}
 .bottom a{ color:#333;}
 .bottom a:hover{ color:#ba2636;}
 
 
 .bq{ width:1000px; margin:0px auto 0px auto;  text-align:center; color:#dbdbdb; height:25px;}
 .bq a{color:#dbdbdb}
 .bq a:hover{ color:#dbdbdb}
 .inputText{ border:#CCC solid 1px;}
 .bbg { width: 1080px;margin-left:auto; margin-right:auto;}
