
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
input{font-family:微软雅黑;color: #999;}
.bdcs-search-form-input{font-family:微软雅黑;color: #f8f8f8;}
h1,h2,h3,h4,h5,h6 {font-size: 100%; }
ul, ol, li { list-style: none; margin: 0; padding: 0; }
a { text-decoration: none; color: #333; }
.margintop20{ margin-top:20px;}
.bodtop{border-top:1px solid #dfdfdf; padding:10px 0px;}
.floatl{float:left;}.floatr{float:right;}
.mianze{ margin:15px 0; border:1px solid #dfdfdf; border-left:0px; border-right:0px;}
.mianze h4{}
.mianze p{color:#999; font-size:12px; line-height:30px;}
.s-block td a{font-size:12px;}
.frt { float: right; }
.flt { float: left; }
.sns-share-icon{ position:absolute;width:0;height:0;z-index:-1;top:-100em; }
.hui{background:#fafafa; border-bottom:1px solid #e6e6e6; width:100%;}
#header, #container { width: 1100px; margin: 0 auto;}
#header #h-logo { float:left; padding:0; }
#header #h-nav { float: left; padding:4px 0 0 0; }
#header #h-nav .item { display: inline-block;width:60px;}
#header #h-nav .item a {margin-left: 5px;font-size: 18px;font-family: 'Microsoft YaHei','\5FAE\8F6F\96C5\9ED1','Hiragino Sans GB', tahoma,arial,sans-serif;}
#header #h-nav .item span {display: block;text-align:center; line-height:72px;}
#header #h-nav .md {width: 100px; }
#header #h-adv {clear: both; width: 100%; }
#m-header { display: none; }
img { max-width: 100%; }
#news_more_page_div_id{color:#c00;margin: 40px 0 20px;}

.zn70{display: block;width: 100%;}
.zn20{display: block;width: 100%;}
#container {overflow: hidden;margin-bottom: 30px; }
#container .positon {line-height: 50px;font-size: 14px;color: #666; }
#container .positon a{color: #666;}
#container a{color:#333}
#container a:hover{color:#c00}
#container .positon i {margin-right: 10px; }
#container .main {width: 705px;float: left;margin-right:20px;}
#container .mainbig {width:100%;}
#container .sub {overflow: hidden;position: relative;border: 1px solid #f0f0f0;border-top:0;padding:10px; }
#container .sub h2 i {margin-right: 6px;color: #c00; }
#container h1 {font-size:36px;font-family: 'Microsoft YaHei','\5FAE\8F6F\96C5\9ED1','Hiragino Sans GB', tahoma,arial,sans-serif;  line-height:55px; color:#494949;}
#container .info {line-height: 40px;font-size: 14px;color: #888; }
#container .info span {margin-right: 10px;}
#container .info span a{color: #888; }
#container .info #weixin-ns {cursor: pointer; }
#container .info #weixin-ns:hover {color: red; }
#container .info #weixin-ns i { margin-right: 4px; }
#container .a-container {padding-top: 15px;text-align: justify; }
#container .a-container img {margin: 10px 0; height:auto;}
#container .a-container p {font:normal 18px/200% "微软雅黑";color:#333; }
#news_more_page_div_id{color:#c00;margin: 40px 0 20px;}
#container .a-footer {color: #888;line-height: 32px; margin-bottom: 15px;font-size: 14px; }
#container .relation, #container .hotnews, #container .public { border-top: 1px solid #f0f0f0;margin-bottom: 15px; }
#container .relation i, #container .hotnews i, #container .public i {margin-right: 6px; }
#container .hotnews {overflow: hidden; }
#container .hotnews li {float: left;width: 23%;margin-right: 2%;overflow: hidden; }
#container .hotnews li img {width: 100%;height: 120px; }
#container .hotnews li em {font-style: normal;display: block;overflow: hidden;font-size: 14px;line-height: 40px;height: 40px;overflow: hidden; }
#container .newslist li {font-size: 14px;line-height: 14px;padding: 10px 0; }
#container .newslist li span {float: right;margin-left: 10px; }
#container .public {overflow: hidden; }
#container .public div {width: 20%;float: left; text-align:center;}
#container .public div img {max-width: 90%; }
.bloTit{font-size:20px !important;color:#004da3; font-weight:normal;}
.bloTit::before{color:#b00;}
.bloTit a{color:#004da3;}
#footer {width: 100%;overflow: hidden;clear: both;padding-top: 10px;text-align: center;font-size: 12px;border-top: 1px solid #f0f0f0;background-color: #f6f6f6;color: #515151; }
#footer .about {margin-top: 20px;margin-bottom: 0;line-height: 40px;background: #c00;color: #fff; }
#footer .about a {color: #fff; }
#footer .about a:hover {color: yellow; }
.lipictt{overflow:hidden;}
.newslist-a li {font-family:'微软雅黑';padding-left: 18px;background: url("../image/icon-point.png") no-repeat left -86px;font-size: 1em;font-weight: normal;line-height: 2em;height: 2em; overflow: hidden;font-size: 13px; }
.newslist-a li em {float: right;font-size: 12px;font-style: normal;margin-right: 6px;color: #999;}
.newslist-a li a span {float:left;margin-right:10px;}

.s-blockdl{ border-bottom:1px dashed #dfdfdf; padding-bottom:15px;width:360px;}
.s-block dl dt{ float:left; width:120px;}
.s-block dl dd{float:left; width:225px; padding-left:15px;}
.s-block dl dd h3{font-size:18px; font-weight:normal;} 

.m-footer {display: none; }
#footer {width: 100%;overflow: hidden;clear: both;padding-top: 10px;text-align: center;font-size: 12px;border-top: 1px solid #f0f0f0;background-color: #f6f6f6;color: #515151; }
#footer .about {margin-top: 20px;margin-bottom: 0;line-height: 40px;background: #c00;color: #fff; }
#footer .about a {color: #fff; }
#footer .about a:hover {color: yellow; }
#nright{float:right; height:40px;}
#nright span .cms_block_span{padding:0px;margin:0px;}
#nleft{float:left;}
#nleft span{ white-space: nowrap;font-style:normal;}
.menubull{}
.menubull dl{ border-bottom:1px dashed #dfdfdf; padding-bottom:15px;width:320px; padding:0px; margin:0px;}
.menubull dl dt{ float:left; width:120px; padding:0px; margin:0px;}
.menubull dl dd{float:left; width:320px; padding-left:15px; margin:0px;}
.menubull dl dd h3{font-size:16px; font-weight:normal; padding:0px; margin:0px;}
.menubull dl dd p{font-size:12px; color:#999;line-height:24px;text-indent:2em;}

/*后来加的代码*/
.dorp{position: relative;display: inline-block;}
.dorp_con{display: none;position: absolute;background-color: #fff;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);padding:5px; z-index:1000;line-height:28px;}
.dorp_con a{ color:#666;line-height:28px; padding-right:8px;}
.dorp:hover .dorp_con{display:block; top:70px;left:-35px;}

#container .a-container_big {padding-top: 15px;text-align: justify; }
#container .a-container_big img {margin: 10px 0; height:auto;}
#container .a-container_big p {font:normal 18px/200% "微软雅黑";color:#333; padding:0 60px; }
#a1{width:600px; height:auto; margin:0 auto;}
#a1 video {height:400px;width:600px;display: block;}
#container .newslist-a td{font-family:'微软雅黑';padding-left: 18px;background: url("../image/icon-point.png") no-repeat left -86px;font-size: 1em;font-weight: normal;line-height: 2em;height: 2em; overflow: hidden;font-size: 13px; }

/*新媒体*/
.xmt{}
.xmt dl{padding:0px; width:350px;}
.xmt dl dt{ width:344px; padding:0 3px;}
.xmt dl dt img{width:350px;height:175px;}
.xmt dl dd{padding:0px; margin:0 3px;background:#f8f8f8; width:350px; display:block; text-align:center; font-size:12px; line-height:26px;overflow: hidden;}
.xmt dl dd a{color:#003a76;}
.avatarx {display: block; height:175px; overflow: hidden; width:350px;}
.avatarx img { height:175px;}

/*所有下拉菜单开始*/
.dropdown {text-align:right; color:#999; position: relative;z-index:1000;}
.dropdown-content {z-index:1000; display: none;position: absolute; text-align:left; top:85px; font-size:12px; background-color: #fff; min-width:150px; border:1px solid dfdfdf; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); padding:10px;}
.dropdown:hover .dropdown-content { display: block;}
.dropdown:hover .dropdown-content a{padding:5px; line-height:28px;}
/*二维码下拉开始*/
.erwm{float:right;}
.erwm a {position:relative;width:88px;}
.erwm a:hover { border:none;} /*解决在IE6的问题*/
.erwm a em { display:none;}
.erwm a:hover em { display:block; width:88px; height:88px; position:absolute; left:0; top:25px;z-index:1000;}
/*二维码下拉结束*//*所有下拉菜单结束*/



/*分享代码*/
/*分享样式开始*/
.cir-btn{float:left;display:inline;}
.cir-btn .circle{float:left;display:inline;width:35px;height:35px;background-size:100% 100%;background-repeat:no-repeat;cursor:pointer;margin-right:15px;}
.cir-btn .icon1{ background-image:url(../image/text-size1.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon2{ background-image:url(../image/text-size2.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon3{ background-image:url(../image/share1.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon4{ background-image:url(../image/share2.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon5{ background-image:url(../image/share3.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon6{ background-image:url(../image/share4.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon7{ background-image:url(http://gansu.gansudaily.com.cn/cms_template/100/001/974/images/share5.gif)!important;    background-position: 0 0px !important; }

.cir-btn .icon1:hover{ background-image:url(../image/text-size1b.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon2:hover{ background-image:url(../image/text-size2b.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon3:hover{ background-image:url(../image/share1b.gif)!important;    background-position: 0 0px !important;}
.cir-btn .icon4:hover{ background-image:url(../image/share2b.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon5:hover{ background-image:url(../image/share3b.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon6:hover{ background-image:url(../image/share4b.gif)!important;    background-position: 0 0px !important; }
.cir-btn .icon7:hover{ background-image:url(http://gansu.gansudaily.com.cn/cms_template/100/001/974/images/share5b.gif)!important;    background-position: 0 0px !important; }

.main .editor .cir-btn .icon1{ background-image:url(../image/text-size1.gif)!important;        background-position: 0 0px !important; }
.main .editor .cir-btn .icon2{ background-image:url(../image/text-size2.gif)!important;        background-position: 0 0px !important; }
.main .editor .cir-btn .icon3{ background-image:url(../image/share1b.gif)!important;        background-position: 0 0px !important; }
.main .editor .cir-btn .icon4{ background-image:url(../image/share2b.gif)!important;       background-position: 0 0px !important; }
.main .editor .cir-btn .icon5{ background-image:url(../image/share3b.gif)!important;        background-position: 0 0px !important; }
.main .editor .cir-btn .icon6{ background-image:url(../image/share4b.gif)!important;        background-position: 0 0px !important; }
.main .editor .cir-btn a:hover{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}
.cir-btn .circle{ width:35px  !important; height:35px  !important; margin-right:15px  !important; margin-top:0px  !important;  }
.line{float:left;display:inline;width:1px;height:25px;margin:5px 15px 0px 0px;background:#e5e5e5;}
/*分享结束*/
.p-hide_zz ,.banquan{display: none;}
@media only screen and (max-width: 768px) {
body {background-color: #f9f9f9; }
.m-hide {display: none; }
.m-frt {float: right; }
.m-flt {float: left; }
#nright{display: none;}
.relation{display: none;}
.p-hide_zz {display: block;font-size:12px;padding:2px 0;color:#333; } 
.menubull{display: none;}
.mianze{display: none;}
.banquan {display: block;height: 2rem;}
.banquan a{border-radius: 5px;padding:.5777rem 1rem;border: 1px solid #D70003;color: #D70003;margin:.4rem;}
#header, #container, #footer {width: 100%; }
.a-header, .a-container, .relation, .hotnews, .public {margin: 15px; }
#m-header {display: block;height: 40px;padding: 4px;background-color: #f6f6f6;border-bottom: 1px solid #f0f0f0; }
#m-header i:before{font-size: 1.5rem;}
#m-header img {max-height: 100%; }
#container .main {width: 100%; }
#container .mainbig {width:100%;}
#container h1 {font-size: 1.2em; line-height:1.7em; padding-left:20px; }
#container .info {font-size: .8rem; }
#container .a-container {margin-top: 15px;padding: 10px 0;font-size: 1rem;color: #555;line-height: 1.8rem; }
#container .public div{width:33.3333%}
#container .hotnews li {float: none;width: 100%;margin-top: 10px; padding-top:10px;border-top:1px solid #fefefe;}
#container .hotnews li em {display: block;height: auto;font-size: 16px;line-height: 24px; }
#container .hotnews li img {float: left;margin-right: 15px;width: 100px;height: 60px; }
#container .newslist li {font-size: 12px;line-height: 12px; }
#container .a-footer {line-height: 2rem;font-size: .8rem; }
.m-footer {display:block;background-color:#a00;font-size:12px;padding:2px 0;text-align:center;color:#ffffff; } 
}
.m-footer p{color:#ffffff;}
.m-footer p a{color:#ffffff;}
.zn70_p{display: block;}
.zn20_p{display: block;}
.zn70_s{display: none;}
.zn20_s{display: none;}
.tv_hot19 {width:175px; float:left; margin-right:6px;}
.tv_hot19 span a{text-align:center; line-height:30px; color:#333; display:block; font-size:12px;}
.avatarsp19 {position: relative;}
.tv_hot19 .avatarsp19 {display: block;height:100px;overflow: hidden;width:175px}
.tv_hot19 .avatarsp19 img { height:100px;}
.avatarsp19:after {bottom: 0;content: url("../image/bg_play.png");left: 5px;position: absolute; z-index: 10;}
.avatarsp19:hover img, .zhuti .avatarsp19:hover img, .bbsinner .avatarsp19:hover img ,.avatarxty:hover img{transform: scale(1.3);transition: all 1s ease 0s;-webkit-transform: scale(1.3);	-webkit-transform: all 1s ease 0s;}
.clear{clear:both;}
<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2021-01-14 11:01:53" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->