<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}" /> 
  <link rel="stylesheet" href="/_/static/da14_wb0311/css/main.css"> 
  <script src="/_/static/da14_wb0311/js/jq.min.js"></script> 
  <meta name="mobile-agent" content="format=html5;url={随机字符}/{随机字符}.html"> 
  <meta name="mobile-agent" content="format=xhtml;url={随机字符}/{随机字符}.html"> 
  <script type="text/javascript">
        if(/Android|webOS|iPhone|iPod|mobile|BlackBerry|ucweb|SymbianOS/i.test(navigator.userAgent)){
            var url=window.location.href;
            try{window.location.href="{随机字符}/{随机字符}.html/heji/511.html";
            }catch(e){}
        }
    </script> 
 </head> 
 <body> 
  <div class="header"> 
   <div class="wrap"> 
    <a href="{随机字符}/{随机字符}.html" class="home fl"><i></i> 主页</a> 
    <a href="{随机字符}/{随机字符}.html" class="phone fr"><i></i> 手机版</a> 
   </div> 
  </div> 
  <div class="nav_wrap"> 
   <div class="wrap"> 
    <a href="/" class="logo fl"><img src="" alt=""></a> 
    <ul class="nav_list fl"> 
     <li><a href="/">首页</a></li> 
     <li><a href="/game/">游戏</a></li> 
     <li><a href="/app/">软件</a></li> 
     <li><a href="/news/">新闻</a></li> 
     <li><a href="/gl/">攻略</a></li> 
     <li><a href="/xinyou/">新游</a></li> 
     <li><a href="/wenda/">问答</a></li> 
     <li><a href="/jc/">教程</a></li> 
     <li class="on"><a href="/heji/">游戏专题</a></li> 
     <li><a href="/heji/list_2_1.html">软件专题</a></li> 
    </ul> 
   </div> 
  </div> 
  <div class="content"> 
   <div class="crumb"> 
    <div class="wrap"> 
     <i class="ic"></i> 
     <span>当前位置：</span> 
     <a href="/">首页</a> → 
     <a href="/heji/list_1_1.html">游戏合集</a> → 
     <a href="javascript:;">{关键词1}</a> 
    </div> 
   </div> 
   <div class="collction_head"> 
    <img data-original="{随机图片}" class="img lazy" alt="{关键词1}"> 
    <div class="info"> 
     <h1 class="bt">{关键词1}{新闻网标题}</h1> 
     <div class="desc">
      {新闻网内容} 
     </div> 
     <div class="bot"> 
      <span>共 <b>8</b> 款</span> 
      <p class="fl">更新时间：<u>{当前时间}</u></p> 
      <p class="fr">编辑：<u>{人物名称}</u></p> 
     </div> 
    </div> 
    <div class="line"></div> 
   </div> 
   <ul class="collction_list"> 
    <li> <a href="{随机字符}/{随机字符}.html" target="_blank" class="bt">{关键词1}</a> <img class="lazy" data-original="{随机图片}" alt="{关键词1}"> 
     <div class="info"> 
      <p> <i></i> {随机2数字}MB</p> 
      <span>{当前时间}</span> 
      <a href="/soft/11681.html" target="_blank" class="btn">详情</a> 
     </div> </li> 
    <li> <a href="{随机字符}/{随机字符}.html" target="_blank" class="bt">{随机关键词}</a> <img class="lazy" data-original="{随机图片}" alt="{关键词1}"> 
     <div class="info"> 
      <p> <i></i> {随机2数字}MB</p> 
      <span>{当前时间}</span> 
      <a href="/soft/11679.html" target="_blank" class="btn">详情</a> 
     </div> </li> 
    <li> <a href="{随机字符}/{随机字符}.html" target="_blank" class="bt">{关键词1}</a> <img class="lazy" data-original="{随机图片}" alt="{关键词1}"> 
     <div class="info"> 
      <p> <i></i> {随机2数字}MB</p> 
      <span>{当前时间}</span>
      <a href="/soft/11677.html" target="_blank" class="btn">详情</a> 
     </div> </li> 
    <li> <a href="{随机字符}/{随机字符}.html" target="_blank" class="bt">{随机关键词}</a> <img class="lazy" data-original="{随机图片}" alt="{关键词1}"> 
     <div class="info"> 
      <p> <i></i> {随机2数字}MB</p> 
      <span>{当前时间}</span> 
      <a href="/soft/11674.html" target="_blank" class="btn">详情</a> 
     </div> </li> 
    <li> <a href="{随机字符}/{随机字符}.html" target="_blank" class="bt">{随机关键词}</a> <img class="lazy" data-original="{随机图片}" alt="{关键词1}"> 
     <div class="info"> 
      <p> <i></i> {随机2数字}MB</p> 
      <span>{当前时间}</span> 
      <a href="/soft/11673.html" target="_blank" class="btn">详情</a> 
     </div> </li> 
    <li> <a href="{随机字符}/{随机字符}.html" target="_blank" class="bt">{关键词1}</a> <img class="lazy" data-original="{随机图片}" alt="{关键词1}"> 
     <div class="info"> 
      <p> <i></i> {随机2数字}MB</p> 
      <span>{当前时间}</span> 
      <a href="/soft/11667.html" target="_blank" class="btn">详情</a> 
     </div> </li> 
    <li> <a href="{随机字符}/{随机字符}.html" target="_blank" class="bt">{关键词1}</a> <img class="lazy" data-original="{随机图片}" alt="{关键词1}"> 
     <div class="info"> 
      <p> <i></i> {随机2数字}MB</p> 
      <span>{当前时间}</span> 
      <a href="/soft/11662.html" target="_blank" class="btn">详情</a> 
     </div> </li> 
    <li> <a href="{随机字符}/{随机字符}.html" target="_blank" class="bt">{随机关键词}</a> <img class="lazy" data-original="{随机图片}" alt="{关键词1}"> 
     <div class="info"> 
      <p> <i></i> {随机2数字}MB</p> 
      <span>{当前时间}</span> 
      <a href="/soft/11638.html" target="_blank" class="btn">详情</a> 
     </div> </li> 
   </ul> 
   <div id="page"> 
   </div> 
  </div>
  <div class="footer"> 
   <p>Copyright © {年} {关键词1}（{当前主域名}） ALL Right severed</p> 
   <p><a href="https://beian.miit.gov.cn/" rel="nofollow" style="color: #6B6B6B">晋ICP备2022005828号-1</a> </p> 
   <p><span>健康游戏忠告：</span>抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p> 
  </div>
  <script src="/_/static/da14_wb0311/js/main.js"></script> 
  <script src="/_/static/da14_wb0311/js/lazyload.js"></script>
  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
 </body>
</html>