<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="gb2312">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{自定义标题}</title>
  <meta name="keywords" content="{关键词1}" />
  <meta name="description" content="{自定义描述}" />
  <link rel="stylesheet" type="text/css" href="/_/static/da25_xs.66wz/css/main.css">
  <script src="/_/static/da25_xs.66wz/js/jquery.js"></script>
  <script src="/_/static/da25_xs.66wz/js/DPlayer.min.js"></script>
</head>

<body>
  <div class="header">
    <div class="warp">
      <h1><a href="/"><img src="" alt=""></a></h1>
      <div id="nav">
        <ul>
          <li>
            <font><b><a href="/xs/lc/">{关键词1}</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/lw/">龙湾</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/oh/">瓯海</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/dt/">洞头</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/yq/">乐清</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/ra/">瑞安</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/yj/">永嘉</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/wc/">文成</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/py/">{随机关键词}</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/ts/">泰顺</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/cn/">苍南</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/lg/">龙港</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/jk/">{关键词1}</a></b></font>
          </li>
          <li>
            <font><b><a href="http://news.66wz.com/cms_udf/2018/ojkll/index.shtml" target="_blank">瓯江口</a></b></font>
          </li>
        </ul>
      </div>
      <!-- <h3><a href="http://www.66wz.com/root/tech/app/ojnews_app_pc.html" target="_blank"><img src="http://xs.66wz.com/xs/images/ojxx.png"><font>下载APP</font></a><b><img src="http://xs.66wz.com/xs/images/ojxx_ewm.png"><br>瓯江新闻APP</b></h3> -->
    </div>
  </div>
  <div class="mheader">
    <h1><a href="/index2020.shtml"><img src="/_/static/da25_xs.66wz/images/logo2.png"></a></h1>
    <h3>
      <div class="menu amn">
        <i class="iconfont icon-menu1"></i>
      </div>
    </h3>
    <div class="popup">
      <font class="close iconfont tf-close"></font>
      <div class="pop">
        <ul>
          <li>
            <font><b><a href="/xs/lc/">鹿城</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/lw/">龙湾</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/oh/">瓯海</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/dt/">{随机关键词}</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/yq/">乐清</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/ra/">瑞安</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/yj/">{关键词1}</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/wc/">文成</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/py/">平阳</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/ts/">{随机关键词}</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/cn/">苍南</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/lg/">龙港</a></b></font>
          </li>
          <li>
            <font><b><a href="/xs/jk/">经开</a></b></font>
          </li>
          <li>
            <font><b><a href="http://news.66wz.com/cms_udf/2018/ojkll/index.shtml" target="_blank">瓯江口</a></b></font>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $(".menu").click(function () {
        $(this).parent("h3").siblings(".popup").css("display", "block");
        $(this).parent("h3").siblings(".popup").find("div").not(".pop").css("opacity", "0");
        $(this).parent("h3").siblings(".popup").children(".pop").css("opacity", "1").addClass("amn");
      });

      $(".close").click(function () {
        $(this).parent(".popup").css("display", "none");
        $(this).parent(".popup").find(".pop").removeClass("amn");
      });
    });
  </script>
  <!--enorth cms page [ enorth parse_date="2022/10/14 14:49:15.015", cost="0", server=":=$encp$=:ca0a8c1b7233c9c617121b65d227404f", error_count="0"]-->
  <div class="warp">
    <div class="dqwz">
      <!--enorth cms block start [ name="v5.position" ]--> 您当前的位置 ：
      <a href="http://xs.66wz.com/xs/">县市频道</a> &nbsp;&nbsp;-&gt;&nbsp;&nbsp;
      <a href="http://xs.66wz.com/xs/ts/index.shtml">泰顺</a>
      <!--enorth cms block end [ name="v5.position" cost="16"]-->
      <b>--&gt;</b>{关键词1}
    </div>
  </div>
  <div class="warp">
    <div class="w70 fl">
      <div class="article">
        <div class="tit">

          {新闻网标题}
        </div>
        <div class="info">
          <span>{当前时间}</span>
          <span>来源：{网站名称}</span>
        </div>
        <div class="zw">
          <div>
            <center>
              <img src="{随机图片}">
            </center>
          </div>
          <div>
            <p>　{新闻网内容}</p>
          </div>
          <p></p>
          <!--enorth cms block start [ name="v5.pages" ]-->
          <!--enorth cms block end [ name="v5.pages" cost="0"]-->
          <p style="text-align:right;">编辑：{人物名称}</p>
        </div>
      </div>
    </div>
    <div class="w28 fr">
      <!-- <div class="app2"><img src="http://xs.66wz.com/xs/images/app.jpg"></div> -->
      <div class="wR100">
        <div class="smenu2">
          <b>图说新闻</b>
        </div>
        <div class="tushou">
          <ul>
            <li class="amn"><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">
                <h3><img src="{随机图片}" alt="{标题}"></h3>
                <h4>{标题}</h4>
              </a></li>
            <li class="amn"><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">
                <h3><img src="{随机图片}" alt="{标题}"></h3>
                <h4>{标题}</h4>
              </a></li>
            <li class="amn"><a href="{随机字符}/{随机字符}.html" target="_blank" title="{关键词1}">
                <h3><img src="{随机图片}" alt="{关键词1}"></h3>
                <h4>{关键词1}</h4>
              </a></li>
            <li class="amn"><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">
                <h3><img src="{随机图片}" alt="{标题}"></h3>
                <h4>{标题}</h4>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="wR100">
        <div class="smenu2">
          <b>阅读排行</b>
        </div>
        <div class="ydph">
          <ul>
            <li><b>&middot;</b><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
            <li><b>&middot;</b><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
            <li><b>&middot;</b><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
            <li><b>&middot;</b><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
            <li><b>&middot;</b><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
            <li><b>&middot;</b><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
            <li><b>&middot;</b><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
            <li><b>&middot;</b><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
            <li><b>&middot;</b><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
            <li><b>&middot;</b><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
          </ul>
        </div>
      </div>
      <!--enorth cms page [ enorth parse_date="2021/07/16 15:50:37.037", cost="125", server=":=$encp$=:ca0a8c1b7233c9c617121b65d227404f", error_count="0"]-->
    </div>
  </div>
  <div class="footer">
    <p> <strong>县市区支站：</strong><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a> <a href="{随机字符}/{随机字符}.html"
        target="_blank">{随机关键词}</a> <a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a> <a
        href="{随机字符}/{随机字符}.html" target="_blank">{关键词1}</a> <a href="{随机字符}/{随机字符}.html" target="_blank">{关键词1}</a>
      <a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a> <a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a>
      <a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a> <a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a>
      <a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a> <a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a>
      <a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a> </p>
    <span> {关键词1} &middot; 县市频道 <em><a href="{随机字符}/{随机字符}.html">浙ICP备09100296-11</a><a
          href="{随机字符}/{随机字符}.html">广告经营许可证号：3303014000162</a><a href="{随机字符}/{随机字符}.html">增值电信业务经营许可证</a><a
          href="{随机字符}/{随机字符}.html">互联网出版许可证</a></em> <br> <em><a href="{随机字符}/{随机字符}.html">信息网络传播视听节目许可证 1105113</a><a
          href="{随机字符}/{随机字符}.html">互联网新闻信息服务许可证 3312006005</a><a href="{随机字符}/{随机字符}.html">广播电视节目制作经营许可证</a></em>
    </span>
  </div>
  <!--enorth cms page [ enorth parse_date="2020/12/14 11:01:38.038", cost="0", server=":=$encp$=:ca0a8c1b7233c9c617121b65d227404f", error_count="0"]-->
  <!--分享-->
  <script src="/_/static/da25_xs.66wz/js/jweixin-1.0.0.js"></script>
  <script>
    localUrl = location.href.split('#')[0];
    configUrl = "http://wxact.66wz.com/wechatshare/callconfig.php?callback=?&callUrl=" + encodeURIComponent(localUrl);
    $.getJSON(configUrl, function (data) {
      $.each(data, function (key, val) {
        if (key == 'debug') {
          debugjs = val;
          //alert(debugjs);
        }
        else if (key == 'appId') {
          appIdjs = val;
          //alert(appIdjs);
        }
        else if (key == 'timestamp') {
          timestampjs = val;
          //alert(timestampjs);
        }
        else if (key == 'nonceStr') {
          nonceStrjs = val;
          //alert(nonceStrjs);
        }
        else if (key == 'signature') {
          signaturejs = val;
          //alert(signaturejs);
        }
      });
      wx.config({
        debug: debugjs,
        appId: appIdjs,
        timestamp: timestampjs,
        nonceStr: nonceStrjs,
        signature: signaturejs,
        jsApiList: ['onMenuShareTimeline',
          'onMenuShareAppMessage'
          // 所有要调用的 API 都要加到这个列表中
        ]
      });
    });
    wx.ready(function () {
      // 在这里调用 API
      //alert("");
      //分享朋友圈
      wx.onMenuShareTimeline({
        title: '{标题}', // 分享标题
        //link: 'http://sj.66wz.net/wx/sample.html', // 分享链接
        imgUrl: '{随机图片}', // 分享图标
        success: function () {
          // 用户确认分享后执行的回调函数
          //alert("share success");
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
          //alert("share cancel")
        }
      });
      //分享给好友
      wx.onMenuShareAppMessage({
        title: '{标题}', // 分享标题
        desc: '', // 分享描述
        //link: 'http://sj.66wz.net/wx/sample.html', // 分享链接
        imgUrl: '{随机图片}', // 分享图标
        type: '', // 分享类型,music、video或link，不填默认为link
        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        success: function () {
          // 用户确认分享后执行的回调函数
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });
    });
  </script>
  <!--enorth cms page [ enorth parse_date="2023/03/15 09:51:50.050", cost="46", server=":=$encp$=:ca0a8c1b7233c9c617121b65d227404f", error_count="0"]-->
  <title>{自定义标题}</title>
  <meta name="keywords" content="{关键词1}" />
  <meta name="description" content="{自定义描述}" />
</body>

</html>