<!doctype html>
<html>
 <head> 
  <title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"> 
  <meta name="format-detection" content="telephone=no"> 
  <link href="/_/static/da35_takungpao/css/tkp.ico" rel="shortcut icon"> 
  <link type="text/css" rel="stylesheet" href="/_/static/da35_takungpao/css/head.css"> 
  <link type="text/css" rel="stylesheet" href="/_/static/da35_takungpao/css/mediaelementplayer.css"> 
  <link type="text/css" rel="stylesheet" href="/_/static/da35_takungpao/css/content.css"> 
  <script type="text/javascript" src="/_/static/da35_takungpao/js/jquery-1.9.1.min.js"></script> 
  <!--[if lt IE 9]>
    <script src="http://r2d2.takungpao.com/cn/lib/ie/html5.js"></script>
<![endif]--> 
  <!--[if IE 6]>
    <script src="http://r2d2.takungpao.com/cn/lib/ie/ie6-png.js"></script>
    <script>DD_belatedPNG.fix('div, ul, li, p, a, h3, img, span, b, dd');</script>
<![endif]--> 
  <script>
window.tkp_aid=831389;window.tkp_at=1;
</script> 
 </head> 
 <body> 
  <!--ad_1200_100--> 
  <div class="ad_1200_100 ad-wrapper" id="ad1">
   <a href="/{随机字符}/{随机字符}.html" target="_blank"></a>
  </div> 
  <!--/ad_1200_100--> 
  <!--头部--> 
  <div class="header_wrap"> 
   <div class="header"> 
    <div class="head clearfix"> 
     <div class="epaper">
      <a href="/{随机字符}/{随机字符}.html" target="_blank" title="{关键词1}"><img src="/_/static/da35_takungpao/images/epaper.jpg" alt="{关键词1}"></a>
     </div> 
     <div class="search">
      <a href="/{随机字符}/{随机字符}.html" target="_blank" class="btn" title="搜索">搜索</a>
     </div> 
     <ul class="date"> 
      <li> <script type="text/javascript">
                    (function(){
                        var d = new Date();
                        document.write(d.getFullYear() + "年" + (d.getMonth()+1) + "月" + d.getDate() + "日 星期" + "日一二三四五六".charAt(d.getDay()));
                    })();
                    </script> </li> 
      <li class="link"> <a href="/{随机字符}/{随机字符}.html" target="_blank">关于{关键词1}</a><span>|</span></li> 
     </ul> 
     <ul class="menu_mobile"> 
      <li class="btn_open_menu"></li> 
      <li class="btn_close_menu"></li> 
      <li class="paper"><a href="/{随机字符}/{随机字符}.html" target="_blank" title="数字报">数字报</a></li> 
     </ul> 
    </div> 
    <!--导航20--> 
    <div class="nav_wrap"> 
     <ul class="nav_mobile clearfix"> 
      <li><a href="/{随机字符}/{随机字符}.html" class="login" title="登录">登录</a></li> 
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" class="search" title="搜索">搜索</a></li> 
      <li class="setWebLangue"><a href="/{随机字符}/{随机字符}.html" target="_blank" class="fanti" title="香港站">香港站</a></li> 
     </ul> 
     <ul class="nav_list clearfix"> 
      <li class="item hide"><a href="/{随机字符}/{随机字符}.html" target="_blank" class="link" title="{关键词1}">{关键词1}</a></li> 
      <li class="item"> <a href="/{随机字符}/{随机字符}.html" target="_blank" class="link" title="新闻">新闻</a> 
       <!--新闻--> 
       <div class="subnav"> 
        <ul class="list clearfix"> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">{关键词1}</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">港闻</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">两岸</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">国际</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">军事</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">大公访谈</a></li> 
        </ul> 
       </div> 
       <!--/新闻--> </li> 
      <li class="item"> <a href="/{随机字符}/{随机字符}.html" target="_blank" class="link" title="评论">{关键词1}</a> 
       <!--评论--> 
       <div class="subnav"> 
        <ul class="list clearfix"> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">社评</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">隔海观澜</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">纵横谈</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">点击香江</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">公评世界</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">大公评论</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">妍之有理</a></li> 
        </ul> 
       </div> 
       <!--/评论--> </li> 
      <li class="item"> <a href="/{随机字符}/{随机字符}.html" target="_blank" class="link" title="视频">视频</a> 
       <!--影像--> 
       <div class="subnav"> 
        <ul class="list clearfix"> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">{关键词1}</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">图片</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">艾问人物</a></li> 
        </ul> 
       </div> 
       <!--/影像--> </li> 
      <li class="item"> <a href="/{随机字符}/{随机字符}.html" target="_blank" class="link" title="{随机关键词}">{随机关键词}</a> 
       <!--财经--> 
       <div class="subnav"> 
        <ul class="list clearfix"> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">紫荆财智</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">房产</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">快消</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">经济观察家</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">田湾点经</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">{关键词1}</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">港股</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">商业</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">汽车</a></li> 
        </ul> 
       </div> 
       <!--/财经--> </li> 
      <li class="item"> <a href="/{随机字符}/{随机字符}.html" target="_blank" class="link" title="艺文">艺文</a> 
       <!--文化--> 
       <div class="subnav"> 
        <ul class="list clearfix"> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">大公园</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">小公园</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">艺术赏析</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">{关键词1}</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">大公故事</a></li> 
         <li class="line">/</li> 
         <li><a href="/{随机字符}/{随机字符}.html" target="_blank">养生堂</a></li> 
        </ul> 
       </div> 
       <!--/文化--> </li> 
      <li class="item"> <a href="/{随机字符}/{随机字符}.html" target="_blank" class="link" title="专题">专题</a> </li> 
      <li class="mobile_more">更多</li> 
      <li class="mobile_slideup">收起</li> 
     </ul> 
    </div> 
    <!--/导航--> 
   </div> 
  </div> 
  <!--/头部-->
  <div class="article_path"> 
   <div class="path"> 
    <a href="/{随机字符}/{随机字符}.html" target="_blank">首页</a> &gt; 
    <a href="/{随机字符}/{随机字符}.html" target="_blank">新闻</a> &gt; 
    <a href="/{随机字符}/{随机字符}.html" target="_blank">内地</a> &gt; 正文 
   </div> 
  </div> 
  <!--包裹开始--> 
  <div class="wrapper clearfix"> 
   <!--左侧--> 
   <div class="wrap_left"> 
    <h2 class="tkp_con_title">{关键词1}{随机后缀}{新闻网标题}</h2> 
    <div class="tkp_con_info"> 
     <div class="tkp_con_author">
      <span>{当前时间}</span>
      <span>{网站名称}</span> 
     </div> 
     <dl class="tkp_con_fontsize"> 
      <dt>
       字号
      </dt> 
      <dd onclick="$('.tkp_content,.tkp_con_author').addClass('zoom')">
       放大
      </dd> 
      <dd onclick="$('.tkp_content,.tkp_con_author').removeClass('zoom')">
       标准
      </dd> 
     </dl> 
    </div> 
    <div class="tkp_con_share bdsharebuttonbox clearfix"> 
     <span>分享</span> 
     <a href="/{随机字符}/{随机字符}.html" class="ico_weixin" data-cmd="weixin" title="分享到微信"></a> 
     <a href="/{随机字符}/{随机字符}.html" class="ico_weibo" data-cmd="tsina" title="分享到微博"></a> 
     <a href="/{随机字符}/{随机字符}.html" class="ico_facebook" target="_blank" title="分享到facebook"></a> 
     <a href="/{随机字符}/{随机字符}.html" class="ico_twitter" target="_blank" title="分享到twitter"></a> 
    </div> 
    <div class="tkp_content">
     <p>{新闻网内容}</p>
    </div> 
    <div class="tkp_con_editor">
     责任编辑：{人物名称}
    </div> 
    <div class="ad_660_75 ad-wrapper" id="ad2">
     <a href="/{随机字符}/{随机字符}.html" target="_blank"></a>
    </div> 
    <!--相关内容--> 
    <!--/相关内容--> 
    <div id="tkpcomment"></div> 
    <div class="ad_660_75 ad-wrapper" id="ad3">
     <a href="/{随机字符}/{随机字符}.html" target="_blank"></a>
    </div> 
   </div> 
   <!--/左侧--> 
   <!--右侧--> 
   <div class="wrap_right"> 
    <div class="ad_360_200 ad-wrapper" id="ad4">
     <a href="/{随机字符}/{随机字符}.html" target="_blank"></a>
    </div> 
    <!--点击排行--> 
    <h3 class="h3_title"><em class="ico"></em>点击排行</h3> 
    <div class="paihang"> 
     <ol class="list">
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
      <li><a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">{标题}</a></li>
     </ol> 
    </div> 
    <!--/点击排行--> 
    <div class="ad_360_200 ad-wrapper" id="ad5">
     <a href="/{随机字符}/{随机字符}.html" target="_blank"></a>
    </div> 
    <div class="ad_360_200 ad-wrapper" id="ad6">
     <a href="/{随机字符}/{随机字符}.html" target="_blank"></a>
    </div> 
   </div> 
   <!--/右侧--> 
  </div> 
  <!--包裹结束--> 
  <span id="hits" style="display:none;"><script language="JavaScript" src="/_/static/da35_takungpao/api.php"></script></span> 
  <!--底部--> 
  <div class="copyright_wrap"> 
   <div class="copyright_top"> 
    <a href="/{随机字符}/{随机字符}.html" target="_blank">关于{关键词1}</a> 
    <a href="/{随机字符}/{随机字符}.html" target="_blank">法律声明</a> 
    <a href="/{随机字符}/{随机字符}.html" target="_blank">广告服务</a> 
    <a href="/{随机字符}/{随机字符}.html" target="_blank">联络我们</a> 
   </div> 
   <div class="copyright_bot"> 
    <span>Copyright © 2023 {关键词1} <em>All Rights Reserved</em></span> 
    <a href="/{随机字符}/{随机字符}.html" target="_blank">京ICP备13049349号</a> 
   </div> 
  </div> 
  <!--/底部--> 
  <div id="tipback" title="返回顶部"></div> 
  <script type="text/javascript" src="/_/static/da35_takungpao/js/header.js"></script> 
  <script type="text/javascript" src="/_/static/da35_takungpao/js/jweixin-1.0.0.js"></script> 
  <script type="text/javascript" src="/_/static/da35_takungpao/js/mediaelement-and-player.min.js"></script> 
  <script type="text/javascript" src="/_/static/da35_takungpao/js/content.js"></script> 
  <script>
$(function(){
	//视频播放
	try{
		$('video').mediaelementplayer();
	}
	catch(err){
		console.log(err);
	}
});
</script> 
  <script id="adjs" src="/_/static/da35_takungpao/js/ad.js"></script> 
  <script type="text/javascript" src="/_/static/da35_takungpao/js/tkp.js"></script>  
 </body>
</html>