<!--default_s--><!doctype html>
<html>
 <head> 
  <title>{自定义标题}</title> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta name="keywords" content="{关键词1}" /> 
  <meta name="description" content="{自定义描述}" /> 
  <meta name="author" content="{关键词1}"> 
  <meta name="Copyright" content="{关键词1}版权所有"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="apple-touch-icon" href="/_/static/da5_m.18183/css/461-221011143224X0.png"> 
  <link rel="mask-icon" href="/_/static/da5_m.18183/css/461-221011143224X0.png"> 
  <meta name="msapplication-TileImage" content="https://img.18183.com/uploads/221011/461-221011143224X0.png"> 
  <meta http-equiv="expires" content="0"> 
  <meta http-equiv="Cache-Control" content="no-transform"> 
  <meta http-equiv="Cache-Control" content="no-siteapp"> 
  <meta http-equiv="x-ua-compatible" content="ie=edge"> 
  <meta name="referrer" content="always"> 
  <link rel="canonical" href="/_/static/da5_m.18183/css/4176332.html"> 
  <link rel="alternate" media="only screen and(max-width: 640px)" href="/_/static/da5_m.18183/css/4176332_e1ec5fc158574732a0f9fd55c49a2423.html"> 
  <meta name="mobile-agent" content="format=html5; url=https://m.18183.com/news/yxpc/pcpc/202210/4176332.html"> 
  <meta name="mobile-agent" content="format=xhtml; url=https://m.18183.com/news/yxpc/pcpc/202210/4176332.html"> 
  <meta name="mobile-agent" content="format=wml; url=https://m.18183.com/news/yxpc/pcpc/202210/4176332.html"> 
  <link href="/_/static/da5_m.18183/css/reset.css" rel="stylesheet"> 
  <link rel="stylesheet" href="/_/static/da5_m.18183/css/swiper-bundle.min.css"> 
  <link rel="stylesheet" href="/_/static/da5_m.18183/css/index.css"> 
  <link rel="stylesheet" href="/_/static/da5_m.18183/css/article.css"> 
  <script type="text/javascript" src="/_/static/da5_m.18183/js/jquery.min.js" charset="utf-8"></script> 
  <script src="/_/static/da5_m.18183/js/setHtmlFontSize.js"></script> 
  <script src="/_/static/da5_m.18183/js/swiper-bundle.min.js"></script> 
  <script src="/_/static/da5_m.18183/js/circleChart.js"></script> 
  <script type="text/javascript" src="/_/static/da5_m.18183/js/lazyload.min.js" charset="utf-8"></script> 
  <script src="/_/static/da5_m.18183/js/yeomen.js" type="text/javascript" charset="utf-8"></script> 
  <script src="/_/static/da5_m.18183/js/dropload.js"></script> 
  <script src="/_/static/da5_m.18183/js/index.js"></script> 
  <script>
      var article_id = 4176332;
      var cwappType = 104;
      var cwappId = 0;
console.log(cwappId)
      var getGameKuId = 0;
      var cwappApp_canal=394;
      var columnTypeId = 22142 || 13160;
      var extraConfig = '';
        
        var reid = 218;
  </script>
 </head>  
 <body> 
  <!-- header --> 
  <link rel="stylesheet" href="/_/static/da5_m.18183/css/header2018.css"> 
  <header class="header"> 
   <a href="{随机字符}/{随机字符}.html" title="{关键词1}" class="u-logo"> <img src="images/logo.png" alt=""> </a> 
   <div class="u-crm"> 
    <a href="{随机字符}/{随机字符}.html" title="{标题}">{标题}</a> 
   </div> 
   <div class="u-menu-ser"> 
    <div class="item" id="f-nav-userphoto" style="display:none"> 
     <img src="images/header_userphoto.png" alt=""> 
    </div> 
    <div class="item" id="f-menu-ser"> 
     <span class="hicon-1"></span> 
    </div> 
   </div> 
   <div class="u-menu-ser-wrap"> 
    <ul class="n_c"> 
     <li><a href="{随机字符}/{随机字符}.html">新游</a></li> 
     <li><a href="{随机字符}/{随机字符}.html">礼包</a></li> 
     <li><a href="{随机字符}/{随机字符}.html">下载</a></li> 
     <li><a href="{随机字符}/{随机字符}.html">榜单</a></li> 
     <li><a href="{随机字符}/{随机字符}.html">评测</a></li> 
     <li><a href="{随机字符}/{随机字符}.html">资讯</a></li> 
    </ul> 
    <ul class="n_c"> 
     <li><a href="{随机字符}/{随机字符}.html">安卓</a></li> 
     <li><a href="{随机字符}/{随机字符}.html">iOS</a></li> 
     <li><a href="{随机字符}/{随机字符}.html">专区</a></li> 
     <li><a href="{随机字符}/{随机字符}.html">小说</a></li> 
     <li><a href="{随机字符}/{随机字符}.html">端游</a></li> 
     <li><a href="{随机字符}/{随机字符}.html">核弹头</a></li> 
    </ul> 
    <a href="{随机字符}/{随机字符}.html" class="u-wznav" title="">网站导航</a> 
   </div> 
   <div class="bg_usercenter"> 
    <div class="box_usercenter"> 
     <img class="photo_usercenter" src="images/photo_usercenter.png"> 
     <div class="uid_usercenter"> 
      <span></span> 
      <p></p> 
     </div> 
     <ul> 
      <li> <a href="{随机字符}/{随机字符}.html"> <i class="hicon-9"></i> <span>玩家中心</span> </a> </li> 
      <li> <a href="{随机字符}/{随机字符}.html"> <i class="hicon-5"></i> <span>我的礼包</span> </a> </li> 
      <li> <a href="{随机字符}/{随机字符}.html"> <i class="hicon-7"></i> <span>我的信息</span> </a> </li> 
      <li> <a href="{随机字符}/{随机字符}.html"> <i class="hicon-3"></i> <span>账号设置</span> </a> </li> 
     </ul> 
     <div class="signout_usercenter"> 
      <a href="{随机字符}/{随机字符}.html" id="signout_usercenter">注销</a> 
     </div> 
    </div> 
    <div class="out_usercenter"></div> 
   </div> 
  </header> 
  <script language="javascript" type="text/javascript" src="/_/static/da5_m.18183/js/passport.js"></script> 
  <script language="javascript" type="text/javascript" src="/_/static/da5_m.18183/js/headerUser.js"></script> 
  <script type="text/javascript">
// 2020.4.5日后可删除
var date44 = (new Date('2020/04/04 00:00:00')).valueOf();
var data45 = (new Date('2020/04/04 23:59:59')).valueOf();
var nowDate = (new Date()).valueOf();
if(nowDate >=date44 && nowDate<=data45){
    document.querySelector('html').style.filter = 'grayscale(1)'
}
</script> 

  <!-- /header --> 
  <!-- nav --> 
  <nav class="nav" id="topNav"> 
   <div class="swiper-container nav-swp"> 
    <div class="swiper-wrapper"> 
     <div class="swiper-slide"> 
      <a class="on" href="http://m.18183.com/">首页</a> 
     </div> 
     <div class="swiper-slide"> 
      <a href="{随机字符}/{随机字符}.html">找游戏</a> 
     </div> 
     <div class="swiper-slide"> 
      <a href="{随机字符}/{随机字符}.html">看热闹</a> 
     </div> 
     <div class="swiper-slide"> 
      <a href="{随机字符}/{随机字符}.html">查攻略</a> 
     </div> 
     <div class="swiper-slide"> 
      <a href="{随机字符}/{随机字符}.html">评测</a> 
     </div> 
     <div class="swiper-slide"> 
      <a href="{随机字符}/{随机字符}.html">游戏榜单</a> 
     </div> 
    </div> 
   </div> 
   <div class="u-s-btn"> 
    <i class="wire"></i> 
    <a class="f-btn" href="javascript:;"></a> 
   </div> 
  </nav> 
  <script src="/_/static/da5_m.18183/js/matchingSearch.js"></script> 
  <div class="u-s-box" id="uSBox"> 
   <form method="get" onsubmit="return false"> 
    <figure> 
     <figcaption> 
      <input type="hidden" name="s" value="2207325287948193293" id="bdcs-search-form-s"> 
      <input type="hidden" name="entry" value="1" id="bdcs-search-form-entry"> 
      <input class="u-ipt" id="serch-text-1" autocomplete="off" name="q" placeholder="请输入关键字" type="search"> 
     </figcaption> 
     <button class="u-btn" id="uSBoxSubmit" style="display: none;" name="" type="submit"> <i></i> </button> 
     <input type="hidden" value="SE_hldp07461_tf7tzn3j" name="tn"> 
    </figure> 
   </form> 
   <a href="{随机字符}/{随机字符}.html" class="hide-box"></a> 
  </div> 
  <!-- /nav --> 
  <!-- page --> 
  <div class="page" style="overflow: hidden;"> 
   <!-- 面包屑 --> 
   <div class="bread"> 
    <a href="{随机字符}/{随机字符}.html">{关键词1}</a> &gt; 
    <a href="{随机字符}/{随机字符}.html">新闻中心</a> &gt; 
    <a href="{随机字符}/{随机字符}.html">游戏评测</a> &gt; 
    <a href="{随机字符}/{随机字符}.html">PC游戏评测</a> &gt; 
    <span>正文</span> 
   </div> 
   <!-- /面包屑 --> 
   <!-- 下载 --> 
   <!-- /下载 --> 
   <!-- 文章 --> 
   <div class="article-box"> 
    <h2>{关键词1}{新闻网标题}</h2> 
    <div class="info"> 
     <span>来源：{随机关键词}</span> 
     <span>{人物名称}</span> 
     <span>{当前时间}</span> 
    </div> 
    <div class="content-box"> 
     <p>{新闻网内容}</p> 
    </div> 
    <a class="mianze" href="{随机字符}/{随机字符}.html" target="_blank">免责声明：文中图片应用自网络，如有侵权请联系删除</a> 
    <a style="display:none;" class="goapp" href="javascript:viod(0);" target="_blank">打开玩GOAPP，和大神一起玩好游戏</a> 
    <div class="dian_cai"> 
     <p class="zan_container"><i class="zan"></i><span class="zan_data">{随机5数字}</span></p> 
     <p class="cai_container"><i class="cai"></i><span class="cai_data">0</span></p> 
    </div> 
   </div> 
   <!-- /文章 --> 
   <!-- 广告2 --> 
   <div class="ad1" style="display:none;"> 
   </div> 
   <!-- /广告2 --> 
   <!-- 下载 --> 
   <div class="m-game-info" style="display:none;"> 
    <div class="list-game-infos"> 
     <div class="img-container"> 
      <img class="lazy" data-original="(none)" src="/4176332_e1ec5fc158574732a0f9fd55c49a2423.html" alt=""> 
     </div> 
     <div class="info-right"> 
      <h3>(none)</h3> 
      <span>游戏类型：<i>(none)</i></span> 
      <span>游戏语言：<i>(none)</i></span> 
      <div class="btn"> 
       <a href="{随机字符}/{随机字符}.html" target="_blank">IOS下载</a> 
       <a href="{随机字符}/{随机字符}.html" class="gift" target="_blank">安卓下载</a> 
      </div> 
     </div> 
    </div> 
    <div id="download"> 
     <style>
    .page .m-game-info #download .oldLogic .ios::after {
        display: none;
    }
    .page .m-game-info #download .oldLogic .and::after{
        display: none;
    }
    .page .m-game-info #download .oldLogic a {
        padding-left: 0;
    }
</style> 
     <div class="oldLogic"> 
      <a class="ios" href="{随机字符}{随机字符}/{随机字符}.html" target="_blank">资料库</a> 
      <a class="and" href="{随机字符}{随机字符}/{随机字符}.html" rel="" target="_blank">礼包</a> 
     </div> 
    </div> 
   </div> 
   <!-- /下载 --> 
   <!-- 良心手游推荐 --> 
  
   <!-- /良心手游推荐 --> 
   <!-- 评论 --> 
   <div class="comment" style="display:none;"> 
    <div class="common-title">
     评论
    </div> 
   </div> 
   <!-- /评论 --> 
   <!-- 游戏评测 --> 
   <div class="game-test"> 
    <div class="common-title">
     游戏评测
     <a href="{随机字符}/{随机字符}.html" target="_blank" title="游戏推荐"></a>
    </div> 
    <ul class="list3"> 
     <li><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> 
       <div class="img-container"> 
        <img class="lazy" data-original="{随机图片}" src="{随机字符}/{随机字符}.html" alt="{关键词1}"> 
       </div> 
       <div style="display:flex;justify-content:space-around;flex-direction: column;height: 100%;"> 
        <p>{关键词1}</p> 
        <p style="color: #b5b5b5;">{当前时间}</p> 
       </div> </a></li> 
     <li><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> 
       <div class="img-container"> 
        <img class="lazy" data-original="{随机图片}" src="{随机字符}/{随机字符}.html" alt="{标题}"> 
       </div> 
       <div style="display:flex;justify-content:space-around;flex-direction: column;height: 100%;"> 
        <p>{标题}</p> 
        <p style="color: #b5b5b5;">{当前时间}</p> 
       </div> </a></li> 
     <li><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> 
       <div class="img-container"> 
        <img class="lazy" data-original="{随机图片}" src="{随机字符}/{随机字符}.html" alt="{标题}"> 
       </div> 
       <div style="display:flex;justify-content:space-around;flex-direction: column;height: 100%;"> 
        <p>{标题}</p> 
        <p style="color: #b5b5b5;">{当前时间}</p> 
       </div> </a></li> 
     <li><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> 
       <div class="img-container"> 
        <img class="lazy" data-original="{随机图片}" src="{随机字符}/{随机字符}.html" alt="{标题}"> 
       </div> 
       <div style="display:flex;justify-content:space-around;flex-direction: column;height: 100%;"> 
        <p>{标题}</p> 
        <p style="color: #b5b5b5;">{当前时间}</p> 
       </div> </a></li> 
     <li><a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> 
       <div class="img-container"> 
        <img class="lazy" data-original="{随机图片}" src="{随机字符}/{随机字符}.html" alt="{标题}"> 
       </div> 
       <div style="display:flex;justify-content:space-around;flex-direction: column;height: 100%;"> 
        <p>{标题}</p> 
        <p style="color: #b5b5b5;">{当前时间}</p> 
       </div> </a></li> 
    </ul> 
   </div> 
   <!-- /游戏评测 --> 
   <!-- 热门新闻 --> 
   <div class="hot-news"> 
    <div class="common-title">
     热门新闻
     <a href="{随机字符}/{随机字符}.html" target="_blank" title="游戏新闻"></a>
    </div> 
    <ul class="m-list-box"> 
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
    </ul> 
   </div> 
   <!-- /热门新闻--> 
   <!-- 热门攻略 --> 
   <section class="pdlr20 bdt10 hot hot-method" style="padding-bottom: .2rem;"> 
    <div class="common-title">
     热门攻略
    </div> 
    <ul class="m-list-box"> 
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{关键词1}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{关键词1}"> <span class="con"> <span class="tt">{关键词1}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{关键词1}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
     <li class="u-item2"> <a href="{随机字符}/{随机字符}.html" target="_blank" title="{标题}"> <span class="con"> <span class="tt">{标题}</span> <span class="r-ft"> <i class="txt">{当前时间}</i> <i class="txt"></i> </span> </span> <img class="lazy" data-original="{随机图片}" src="{随机图片}" alt="{标题}"> </a> </li>
    </ul> 
    <div class="more">
     下拉加载更多
    </div> 
    <a class="nomore lookmore1" href="https://www.18183.com/gonglue/" style="display:none;" title="游戏攻略大全">查看更多</a> 
   </section> 
   <!-- /热门攻略 --> 
  </div> 
  <!-- /page --> 
  <!-- footer --> 
  <footer class="footer"> 
   <div class="u-copy"> 
    <a href="{随机字符}/{随机字符}.html">触屏版</a>| 
    <a href="{随机字符}/{随机字符}.html">客户端</a> 
   </div> 
  </footer> 
  <div style="display:none"> 
   <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30070880'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30070880' type='text/javascript'%3E%3C/script%3E"));</script> 
  </div> 
  <script src="/_/static/da5_m.18183/js/share.js"></script> 
  <!-- footer --> 
  <script src="/_/static/da5_m.18183/js/article2.js"></script> 
  <!--<script src="//js.18183.com/wap/levelc/2020/js/index.js"></script>--> 
  <!-- 统计代码 --> 
  <!-- 统计代码 --> 
  <script src="/c.php" language="JavaScript"></script> 
  <script src="/c_57b7fa2078894002aac389dbad24d455.html" language="JavaScript"></script> 
  <script src="/c_9defbca97fe341b48be0ccaf7f0e0f6d.html" language="JavaScript"></script> 
  <script type="text/javascript" src="/c_864154e9c7e447d5a9240d7f52062421.html"></script>  
  <script>
            window.browser = {
                versions: (function () {
                    var u = navigator.userAgent,
                        app = navigator.appVersion;
                    return {
                        //移动终端浏览器版本信息
                        trident: u.indexOf('Trident') > -1, //IE内核
                        presto: u.indexOf('Presto') > -1, //opera内核
                        webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                        gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                        mobile: !!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/), //是否为移动终端
                        ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                        android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                        iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
                        iPad: u.indexOf('iPad') > -1, //是否iPad
                        webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                    };
                })(),
                language: (navigator.browserLanguage || navigator.language).toLowerCase(),
            };
            console.log(browser.versions)
            if (browser.versions.android) {
                $(".ios_btn").hide();
            } else {
                $(".and_btn").hide();
            };
        </script>  
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
 </body>
</html>