<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{自定义标题}</title>
<meta name="keywords" content="{标题}" >
<meta name="description" content="{自定义描述}" />
    <meta http-equiv="Content-language" content="zh-CN">
    <meta name="SiteName" content="{关键词1}">
    <meta name="SiteDomain" content="http://jtyst.yn.gov.cn/">
    <meta name="SiteIDCode" content="5300000030">
    <meta name="ColumnName" content="交通要闻
">
    <meta name="ColumnType" content="交通要闻
">
        <meta name="ArticleTitle" content="省厅开展2023年地震灾害交通运输应急保障演练">
    <meta name="PubDate" content="2023-03-27 08:54:32">
    <meta name="ContentSource" content="{关键词1}">

    <link rel="shortcut icon" href="http://jtyst.yn.gov.cn/statics/jtyst/images/favicon.ico">
    <link href="/_/static/da76_jtyst.yn.gov/static/css/reset.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/_/static/da76_jtyst.yn.gov/static/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/_/static/da76_jtyst.yn.gov/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/_/static/da76_jtyst.yn.gov/static/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="/_/static/da76_jtyst.yn.gov/static/css/style.css">
</head>

<body class="dj">
    <div class="banner">
        <div class="bannerN">
            <div class="logo"><img src="/_/static/da76_jtyst.yn.gov/static/picture/logo.png"></div>
            <div class="socx indexss">
                <form id="searchform" action="http://jtyst.yn.gov.cn/search/s" method="get" class="input-group center-vertical">
                    <input name="qt" id="q" class="layui-input" type="text" placeholder="请输入搜索关键字" border="0">
                    <button type="submit" class="layui-btn  layui-btn-danger" id="btn_submit">搜索</button>
                </form>
            </div>
            <div class="div_wza"><a href="javascript:fycnPage();" id="fycn">简</a> | <a href="javascript:fytwPage();" id="fytw">繁</a> | <a id="toolbarSwitch" href="javascript:void(0);">无障碍浏览</a></div>
        </div>
    </div>

    <div class="nav">
        <div class="navN">
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item layui-this"><a href="javascript:;">首页</a></li>
                <li class="layui-nav-item"><a href="javascript:;" target="_self">{关键词1}</a></li>
                <li class="layui-nav-item"><a href="javascript:;" target="_blank">政府信息公开</a></li>
                <li class="layui-nav-item"><a href="javascript:;" target="_blank">{随机关键词}</a></li>
                <li class="layui-nav-item"><a href="javascript:;" target="_self">互动交流</a></li>
                <li class="layui-nav-item"><a href="javascript:;" target="_blank">数据开放</a>
                </li>
            </ul>
        </div>
    </div>
<style>
    body {
        background-color: #f5f5f5;
    }
</style>

<div class="main content">
    <div class="content_page">
        <div class="page_cat">交通要闻
            <div class="page_rnav">
                <a href="javascript:;">首页</a><span> > </span><a href="javascript:;">交通要闻
</a>             </div>
        </div>
        <!--startprint1-->
        <div class="wzbt">{关键词1}{随机后缀}{新闻网标题}</div>

        <div class="lyrqzt">
            来源：{关键词1}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{当前时间} <span class="fsw">
                【字体：<span class="b">大</span> <span class="m">中</span> <span class="s">小</span>】
            </span>
        </div>

        <div class="contentN">
            <div class="mart">
                <div class="format yh">
                    <p style="text-indent: 2em; text-align: justify;">
                        {新闻网内容}</p>
<p style="text-align:center">
	<img src="{随机图片}" style="height: 399px; width: 600px;"></p>
<p style="text-align: justify;">
	<span style="text-indent: 2em;">&nbsp; &nbsp; &nbsp; &nbsp;{新闻网内容}</span></p>
<p style="text-indent: 2em; text-align: justify;">
	{新闻网内容}</p>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <!--endprint1-->

        <div class="sbt">
            <span><input type="button" name="button_export" title="打印页面" onclick="preview(1)" value="打印页面"> &nbsp; &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp; </span>
<!--分享插件开始-->
<style>
#qrcode{position:relative}
#wxpop{display:none;position:absolute;padding:10px;font-size:12px;border:1px solid #d8d8d8;background-color:#fff}
#wxpopcon{font-weight:bold;height:16px;line-height:16px;position:relative;text-align:left}
#wxpopclose{position:absolute;right:0;top:0;font-size: 16px;}

@media screen and (max-width: 768px){
.sbt img{width: 16px;display:inline;}
}

</style>
<span style="float: right;font-size: 16px;margin-right: 25px;color:#666666;">分享到:
    <script type="text/javascript">
        var title = document.title; 
        title=title.replace(/&nbsp;/g," ");
        title=title.replace(/&quot;/g,'"');
        title=title.replace(/<br>/g,"");
        var url = document.URL; 
        var sina_url='http://service.weibo.com/share/share.php?url='+url+'&title='+title+'&source={关键词1}&sourceUrl=http%3A%2F%2Fjtyst.yn.gov.cn%2F&content=UTF-8';
        document.write('<a href="'+sina_url+'" target="_blank"><img src="/statics/jtyst/images/index/wb.jpg" width="16" /></a> <a style="cursor:pointer;" id="qrcode" onclick="qrcode()"><img src="/statics/jtyst/images/index/wx.jpg" width="16" />');
    </script>

    <div id="wxpop">
      <div id="wxpopcon"><span>分享到微信</span><a id="wxpopclose" onclick="closeqr()">×</a></div>
      <div>
        <script type="text/javascript">var _a = document.URL; document.write('<img src="https://remote.yunnan.cn/qr/php/qr.php?d=' + _a + '" alt="二维码" />');</script>
      </div>
    </div>
  
  <script>function qrcode() { document.getElementById('wxpop').style.display = 'block'; } function closeqr() { document.getElementById('wxpop').style.display = 'none'; }</script>
</span>

<!--分享插件结束-->
        </div>
    </div>
</div>


<div><div class="page_bottom bg_index3" id="page_bottom">
    <!--  网址导航  -->
    <div class="main3">
        <div class="comW1200 clearfix">
            <ul class="linknav yh clearfix">
                <li class="">
                    {随机关键词}
                    <ul>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">国家安全部</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">国家外国专家局</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">国家海洋局</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">中央广播电视总台</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">出入境管理局</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                    </ul>
                </li>

                <li class="">
                    {随机关键词}
                    <ul>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">台湾</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                    </ul>
                </li>
                <li class="">
                    {随机关键词}
                    <ul>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                        <li>
                            <a href="{随机字符}/{随机字符}.html" target="_blank" title="{随机关键词}" aria-label=".*?">{随机关键词}</a>
                        </li>

                    </ul>
                </li>

                <li class="">
                    {随机关键词}
                    <ul>
                        <li><a href="javascript:;" target="_blank">云南省航务管理局</a></li>
                        <li><a href="javascript:;" target="_blank">云南省地方海事局</a></li>
                        <li>
                            <a href="javascript:;" target="_blank">{关键词1}工程质量监督局</a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">云南省交通造价信息网</a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    {随机关键词}
                    <ul>
                        <li><a href="javascript:;" target="_blank">北京市交通委员会</a></li>
                        <li><a href="javascript:;" target="_blank">天津市交通运输委员会 </a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">山西省交通运输厅</a></li>
                        <li><a href="javascript:;" target="_blank">内蒙古自治区交通运输厅</a></li>
                        <li><a href="javascript:;" target="_blank">辽宁省交通运输厅</a></li>
                        <li><a href="javascript:;" target="_blank">吉林省交通运输厅</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">上海市交通委员会</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">浙江省交通运输厅</a></li>
                        <li><a href="javascript:;" target="_blank">安徽省交通运输厅</a></li>
                        <li><a href="javascript:;" target="_blank">福建省交通运输厅</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">山东省交通运输厅</a></li>
                        <li><a href="javascript:;" target="_blank">河南省交通运输厅</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">湖南省交通运输厅</a></li>
                        <li><a href="javascript:;" target="_blank">广东省交通运输厅</a></li>
                        <li><a href="javascript:;" target="_blank">广西壮族自治区交通运输厅 </a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">重庆市交通局</a></li>
                        <li><a href="javascript:;" target="_blank">四川省交通运输厅</a></li>
                        <li><a href="javascript:;" target="_blank">贵州省交通运输厅</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">陕西省交通运输厅</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">宁夏回族自治区交通运输厅</a></li>
                        <li><a href="javascript:;" target="_blank">新疆维吾尔自治区交通运输厅</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                    </ul>
                </li>

                <li class="">
                    {随机关键词}
                    <ul>
                        <li><a href="javascript:;" target="_blank">中国政府网</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">交通运输部长江航务管理局</a></li>
                        <li><a href="javascript:;" target="_blank">交通运输部珠江航务管理局</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">中国交通通信信息中心</a></li>
                        <li><a href="javascript:;" target="_blank">交通运输部职业资格中心</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">交通运输部公路科学研究所</a></li>
                        <li><a href="javascript:;" target="_blank">交通运输部水运科学研究所</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">交通运输部天津水运工程科学研究所</a></li>
                        <li><a href="javascript:;" target="_blank">交通运输部路网监测与应急处置中心</a></li>
                        <li><a href="{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a></li>
                        <li><a href="javascript:;" target="_blank">交通运输部管理干部学院</a></li>
                        <li><a href="javascript:;" target="_blank">交通运输部机关服务局</a></li>
                        <li><a href="javascript:;" target="_blank">长江三峡通航管理局</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!--  维护信息  -->
    <div class="footer">
        <div class="main3">
            <div class="clearfix">
                <div class="footer-content">
                    <div class="dzjg-icon">
                        <a target="_blank" href="javascript:;"><img src="/_/static/da76_jtyst.yn.gov/static/picture/red.png"></a>
                    </div>
                    <div class="bgt">
                        <a target="_blank" href="javascript:;"><img src="/_/static/da76_jtyst.yn.gov/static/picture/bgt.png"></a>

                    </div>
                    <div class="jiucuo" onclick="jumpLink()">
                        <a target="_blank" href="javascript:;"><img src="/_/static/da76_jtyst.yn.gov/static/picture/jiucuo.png"></a>
                    </div>
                    <div class="mobShow padShow"></div>
                    <div class="bqxx st">
                        <div class="line6 pcShow"></div>
                        <div class="zbdw">
                            <a href="javascript:;" target="_blank">网站地图 </a>|
                            <a href="javascript:;" target="_blank">网站声明 </a>|
                            <a href="javascript:;" target="_blank">关于我们</a>
                            <br> 主 办：{关键词1}
                        </div>
                        <div class="line6 pcShow"></div>
                        <div class="jszc">
                            承 办：{关键词1}
                            <br> 技术支持：云南网际科技有限公司
                            <br> 访问量：<span id="pv"></span>
                        </div>
                        <div class="line6 pcShow"></div>
                        <div class="baxx">
                            <img class="dgwa fl mobfl" src="/_/static/da76_jtyst.yn.gov/static/picture/W020180129407134780291.jpg.png" alt="滇公网安">
                            <div class="fl mobfl">&nbsp;<a href="javascript:;" target="_blank">滇公网安备：53010202000708号</a></div>
                            <div class="space0"></div>
                            <div class="bsm pcShow">
                                政府网站标识码：5300000030
                                <br>
                                <a href="javascript:;">滇ICP备06000948号-3</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var req = new XMLHttpRequest();
req.open('GET', 'https://webapp-ali.ynurl.cn/index.php?nova_p=S053eWFwcE1RSmE0V3oyWWZNSlZEZDNGUUFqUzNVZnFZSDF4aytuTkVEUkcwVkNMbVJTVGhpMEhBUkFqdGgyNw@@', true);
req.onload = function () {
    if (req.status === 200) {
        document.getElementById('pv').innerHTML = JSON.parse(req.responseText).num;
    }
};
req.send();
</script></div>

<div><script type="text/javascript" src="/_/static/da76_jtyst.yn.gov/static/js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="/_/static/da76_jtyst.yn.gov/static/js/layui.all.js"></script>
<script type="text/javascript" src="/_/static/da76_jtyst.yn.gov/static/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/_/static/da76_jtyst.yn.gov/static/js/web.js"></script>
<script type="text/javascript" src="/_/static/da76_jtyst.yn.gov/static/js/esdToolsInit.js"></script>
<script type="text/javascript" src="/_/static/da76_jtyst.yn.gov/static/js/tw_cn.js"></script>

<script>
    $('#page_bottom .linknav > li').hover(function() {
        $(this).addClass('cur').siblings().removeClass('cur');
    }, function() {
        $(this).removeClass('cur');
    });

    function setcurnav() {
        var g_fileName1 = window.location.pathname;
        $.each($(".layui-nav-item"), function(i, v) {
            if (g_fileName1.indexOf($(v).children("a").attr('href')) >= 0) {
                $(".layui-nav-item").removeClass('layui-this');
                $(v).addClass('layui-this');
            }
        });
    }

    setcurnav();

    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?0fc8a3659fd7e91960883ca521890937";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script></div>

<script>
    // 打印当前页面
    function preview(oper) {
        if (oper < 10) {
            bdhtml = window.document.body.innerHTML; //获取当前页的html代码
            sprnstr = "<!--startprint" + oper + "-->"; //设置打印开始区域
            eprnstr = "<!--endprint" + oper + "-->"; //设置打印结束区域
            prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html
            prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr)); //从结束代码向前取html
            window.document.body.innerHTML = prnhtml;
            window.print();
            window.document.body.innerHTML = bdhtml;
        } else {
            window.print();
        }
    }

    function qrcode() {
        document.getElementById('wxpop').style.display = 'block';
    }

    function closeqr() {
        document.getElementById('wxpop').style.display = 'none';
    }

    $('.fsw span').click(function() {
        var _el = $('.format p');
        var _ft = parseFloat(_el.css('font-size'));
        var cName = $(this).attr("class");
        if (cName === "b") {
            if (_ft <= 22) {
                _ft += 2;
            }
        } else if (cName === "s") {
            if (_ft >= 14) {
                _ft -= 2;
            }
        } else if (cName === 'm') {
            _ft = 16;
        }
        _el.css("font-size", _ft);
        // console.log(_ft );
    })
</script>

<!-- netstat -->
<input type="hidden" name="nodename" id="column" value="交通要闻
">
<input type="hidden" name="nsid" id="news_id" value="jyhcms-48-3993-128215">
<input type="hidden" name="siteid" id="siteid" value="jyhcms-48">
<input type="hidden" name="sitename" id="sitename" value="{关键词1}">
<input type="hidden" name="title" id="title" value="省厅开展2023年地震灾害交通运输应急保障演练">
<input type="hidden" name="catname" value="交通要闻
">
<input type="hidden" name="subscriber" id="editor" value="赵玉容">
<input type="hidden" name="pubtime" id="pub_time" value="2023-03-27 08:54:32">
<input type="hidden" name="xiangyu" value="rubbish">
<input type="hidden" id="static" name="static" value="fae424292fcf857c3f36dbcbe83fe526">
<script src="/_/static/da76_jtyst.yn.gov/static/js/unicodeConv.js"></script>
<script src="/_/static/da76_jtyst.yn.gov/static/js/webstat_end.js"></script>
<script src="/_/static/da76_jtyst.yn.gov/static/js/hits.js"></script>
<!-- netstat -->

	<div style="display:none;"><a href="https://smalltool.github.io/">仿站软件</a></div>
</body>

</html>
