<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}" />
<link rel="stylesheet" href="/_/static/hb152_hnquanmeiti/static/css/meiticon.css" type="text/css">
<link rel="stylesheet" href="/_/static/hb152_hnquanmeiti/static/css/dashang.css" type="text/css">
<script type="text/javascript" src="/_/static/hb152_hnquanmeiti/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/_/static/hb152_hnquanmeiti/static/js/gotop.js"></script>

        <script type="text/javascript" src="/_/static/hb152_hnquanmeiti/static/js/jquery.min1.js"></script> 
        <!-- 文章页图片限制不会称框 -->
    <style type="text/css">    
<!--    
img,a img{    
border:0;     
margin:0;     
padding:0;    
max-width:650px;    
width: expression(this.width > 650 && this.width > this.height ? 650px : 'auto';);     
max-height:1650px;    
height: expresion(this.height > 1650 ? 1650px : 'auto';);    
} -->    
</style> 

<!-- ><script src="/share.js"></script>
<link rel="stylesheet" href="/share_style1_16.css"> -->

</head>

<body>


<!------顶部开始------------------->
<div class="top">
  <div class="warp">
  <span>
  	<a href="/{随机字符}/{随机字符}.html" class="rss" target="_blank">联系我们</a> - <a href="/{随机字符}/{随机字符}.html" target="_blank">广告服务</a> -
    服务热线：{随机4数字}-{随机8数字}
  </span> 
    <script language="JavaScript" type="text/JavaScript">

			var n = new Date();

			var y = n.getFullYear();

			var m = ((m=n.getMonth()+1)<10?'0'+m:m);

			var d = ((d=n.getDate())<10?'0'+d:d);

			var h = ((h=n.getHours())<10?'0'+h:h);

			var i = ((i=n.getMinutes())<10?'0'+i:i);

			var w = new Array('日','一','二','三','四','五','六');

			document.write(y+"年"+m+"月"+d+"日"+' '+h+':'+i+' '+'星期'+w[n.getDay()]);

		</script>
  </div>
</div>
<div class="head" style="position:relative;">
<!-- background:white;margin-top:120px; -->
  <h1>
  <div class="logo"><a href="/{随机字符}/{随机字符}.html"><img src="/_/static/hb152_hnquanmeiti/static/picture/logo02.png" alt="{标题}"></a></div> </h1>
  
  <div class="search">
    <form action="http://www.hnquanmeiti.com/index.php" method="get" name="formsearch">
      
      	<input type="hidden" name="m" value="search">
		<input type="hidden" name="c" value="index">
		<input type="hidden" name="a" value="init">
		<input type="hidden" name="typeid" value="1" id="typeid">
		<input type="hidden" name="siteid" value="1" id="siteid">
      
      <input name="q" type="text" class="search-keyword fl" id="search-keyword" value="请输入关键词" onfocus="if(this.value==&#39;请输入关键词&#39;){this.value=&#39;&#39;;}" onblur="if(this.value==&#39;&#39;){this.value=&#39;请输入关键词&#39;;}">
      
      <button type="submit" class="search-submit fl">搜 索</button>  
   
    
    </form>
  </div>

  <!--  &nasp; &nasp;&nasp;&nasp;&nasp;&nasp;&nasp;&nasp;&nasp;&nasp;&nasp;&nasp;&nasp;<div class="logo"><a href="/index.php"><img src="/statics/quanmeiti/images/logo2.png" alt="{标题}"></a></div> </h1> -->
  

<!-- ----400电话  开始---------------------------------- -->  
	<div class="toptel" style="width: 300px;height: 65px;position: absolute;top: 20px;left: 1000px;color:#c4131d;font-size:26px;font-weight:bold;">
	<!-- 	<div class="toptel_01">服务热线：400-168-3693</div>
		<div class="toptel_02"></div> -->
   <!--  <div class="logo"><a href="http://www.hnquanmeiti.com/index.php?m=content&c=index&a=lists&catid=32" target="_blank"><img src="/statics/quanmeiti/images/11.jpg" alt="{标题}"></div> -->
    
	</div>  
<!-- ----400电话  结束---------------------------------- -->
  
  <div class="share"> </div>
</div>
<div class="nav">
  <ul>
    <li><a href="/{随机字符}/{随机字符}.html" class="home" target="_blank">首页</a></li>

	<li><a href="/{随机字符}/{随机字符}.html" target="_blank">全媒体要闻</a></li>
    
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">社会新闻</a></li>

    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">教育培训</a></li>

    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">民生法制</a></li>

	<li><a href="/{随机字符}/{随机字符}.html" target="_blank">金融财经</a></li>

	<li><a href="/{随机字符}/{随机字符}.html" target="_blank">资源环保</a></li>
    
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">房产旅游</a></li>
    
	<li><a href="/{随机字符}/{随机字符}.html" target="_blank">卫生健康</a></li>
    
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">全媒体影视</a></li>
    

    
  </ul>
</div><!------顶部结束------------------->

<div class="weizhi">
	您的当前位置：<a href="/{随机字符}/{随机字符}.html">新闻资讯</a> > <a href="/{随机字符}/{随机字符}.html">{关键词1}</a> > <!--  ><a href="/{随机字符}/{随机字符}.html">主页</a> &gt; <a href="/{随机字符}/{随机字符}.html">资讯</a> &gt; <a href="/{随机字符}/{随机字符}.html">国内</a> &gt;-->
</div>

<div class="main1">
  <div class="left_1">
    <div class="g_con">
      <h1>{关键词1}{随机后缀}{新闻网标题}</h1>
      <div class="info">
		<span>来源：{随机关键词2}</span>
      	<span>编辑：{人物名称}</span>
      	<span>时间：{年月日}</span>
     

        <div class="share">
<!-- ------分享代码 开始------------------- -->
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>

        </div>
      </div>
     

      <div class="ban_708">
		                      </div>
      
      <div class="con" id="mticoncc">

<p>{新闻网内容}</p>      </div>
      
    
      
      <div class="dede_pagess"><ul class="pagelist"></ul></div>
      
      <!--  ><div class="shang">
        <p><a href="javascript:void(0)" onclick="dashangToggle()" class="dashang" title="打赏，支持一下">打赏</a></p>
        <div class="hide_box"></div>
        <div class="shang_box"> <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title="关闭">
        <img src="/statics/quanmeiti/images/close.jpg" alt="取消"></a>
          <div class="shang_tit">
            <p>感谢您的支持，我会继续努力的!</p>
          </div>
          <div class="shang_payimg"> <img src="/statics/quanmeiti/images/alipayimg.jpg" alt="扫码支持" title="扫一扫"> </div>
          <div class="pay_explain">扫码打赏，你说多少就多少</div>
          <div class="shang_payselect">
            <div class="pay_item checked" data-id="alipay"> <span class="radiobox"></span> <span class="pay_logo"><img src="/statics/quanmeiti/images/alipay.jpg" alt="支付宝"></span> </div>
            <div class="pay_item" data-id="weipay"> <span class="radiobox"></span> <span class="pay_logo"><img src="/statics/quanmeiti/images/wechat.jpg" alt="微信"></span> </div>
          </div>
          <div class="shang_info">
            <p>打开<span id="shang_pay_txt">支付宝</span>扫一扫，即可进行扫码打赏哦</p>
          </div>
        </div>
      </div>
      <script type="text/javascript">

$(function(){

	$(".pay_item").click(function(){

		$(this).addClass('checked').siblings('.pay_item').removeClass('checked');

		var dataid=$(this).attr('data-id');

		$(".shang_payimg img").attr("src","/style/images/"+dataid+"img.jpg");

		$("#shang_pay_txt").text(dataid=="alipay"?"支付宝":"微信");

	});

});

function dashangToggle(){

	$(".hide_box").fadeToggle();

	$(".shang_box").fadeToggle();

}

</script>-->


      <div class="ban_708">
      	                      </div>
      
      <div class="b_box6">
      		上一篇：<a target="_blank" href="/{随机字符}/{随机字符}.html">{标题}</a>  <br>
        	下一篇： <a target="_blank" href="/{随机字符}/{随机字符}.html">{标题}{关键词1}</a>
      </div>

      <!--PC版评论开启-->

<div id="SOHUCS"></div>
<script type="text/javascript" src="/_/static/hb152_hnquanmeiti/static/js/changyan.js"></script>

<style> .module-cmt-list{display:none!important;} </style>
      
      <div class="b_box7">
        <p> 相关推荐： </p>
        
        	<ul class="box">
	         	       			          	<li><a href="/{随机字符}/{随机字符}.html">{关键词1}</a></li>
				          	<li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
				          	<li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
				          	<li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
				          	<li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
				          	<li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
				          	<li><a href="/{随机字符}/{随机字符}.html">{随机关键词}</a></li>
				          	<li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
				          	
        	</ul>
      </div>
      
      <!--  ><div class="b_box7">
        <p> 网友评论： </p>
        <div class="b_box6">
          <p><img src="/statics/quanmeiti/images/pinglun.jpg" width="708" height="262" alt=""></p>
			<p>在“\templets\demo\comments.htm”原来的内容全部删除，插入第三方评论代码，如果不需要评论功能，删除comments.html里面的内容即可<br>
			推荐使用友言、多说、畅言(需备案后使用)等社会化评论插件</p>
        </div>
      </div>-->
      
      
    </div>
  </div>
  
<!----------------判断是否 存在 iframe  开始---------------->
    <script type="text/javascript">
        $(document).ready(function () {
        	var iframelen = $("iframe").length;
        	if(iframelen > 0)
        		{
        		$("iframe").css("width","650px");
        		$("iframe").css("margin","0px auto");
        		$("iframe").css("display","block");
        		$("iframe").css("height","400px");
        		}
        	else
        		{
        		//alert("不存在");
        		}
        });
    </script>
    
<!----------------判断是否 存在 iframe  结束----------------> 
 
  
<!-- --right  kaishi ------------------- -->
<div class="right_1">
    
    <!--  ><div class="g_box2 u_2">
	      <div class="t_1"> 资讯 </div>
	      <ul class="menu">
	        <li><a href="">国际</a></li>
	        <li><a href="" class="on">国内</a></li>
	        <li><a href="">时局</a></li>
	        <li><a href="">热评</a></li>
	        <div class="clear"> </div>
	      </ul>
    </div>-->
    
    
    <div class="ban_251">
		        			<a href="/{随机字符}/{随机字符}.html" target="_blank">
   				<img src="{随机图片}" width="250" height="300">
			</a>
		         	</div>
    <div class="g_box2 u_2">
      <div class="t_1"> 最新资讯 </div>
      <ul class="b_box3 u_1">
               
        <li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		  
        <li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		  
        <li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		  
        <li><a href="/{随机字符}/{随机字符}.html">{关键词1}</a></li>
		  
        <li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		  
        <li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		  
        <li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		  
        <li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		  
        <li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		  
        <li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		               </ul>
    </div>
    
    <div class="g_box2 u_2">
      <div class="t_1"> 热门排行 </div>
      <ul class="b_box1">
       		 	
        	<li><a href="/{随机字符}/{随机字符}.html">{关键词1}</a></li>
		 	
        	<li><a href="/{随机字符}/{随机字符}.html">{随机关键词}</a></li>
		 	
        	<li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		 	
        	<li><a href="/{随机字符}/{随机字符}.html">{随机关键词}</a></li>
		 	
        	<li><a href="/{随机字符}/{随机字符}.html">{随机关键词}</a></li>
		 	
        	<li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		 	
        	<li><a href="/{随机字符}/{随机字符}.html">{随机关键词}</a></li>
		 	
        	<li><a href="/{随机字符}/{随机字符}.html">{标题}</a></li>
		 	
        	<li><a href="/{随机字符}/{随机字符}.html">{随机关键词}</a></li>
		 	
        	<li><a href="/{随机字符}/{随机字符}.html">{关键词1}</a></li>
		               </ul>
    </div>
  </div>  
  
<!-- --right  jieshu ------------------- -->
  
  
  <div class="clear"> </div>
</div>

<!--Bottom begin-->
<div class="foot">

	<div class="fotlink">

		<a target="_blank" href="/{随机字符}/{随机字符}.html">联系我们</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_blank" href="/{随机字符}/{随机字符}.html">关于我们</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		<a target="_blank" href="/{随机字符}/{随机字符}.html">广告服务</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_blank" href="/{随机字符}/{随机字符}.html">法律声明</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		<a target="_blank" href="/{随机字符}/{随机字符}.html">招聘信息</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<!-- <a href="/admin.php" target="_blank">后台管理</a> -->

	</div>

	Copyright &#169; {网站名称} 版权所有 
  	
	备案号：<a href="/{随机字符}/{随机字符}.html" target="_blank">豫ICP备{随机8数字}号</a>
	<img src="/_/static/hb152_hnquanmeiti/static/picture/mtan.png" style="width:16px;height:16px;">豫公网安备 {随机9数字}号 &nbsp;&nbsp;&nbsp;增值电信业务经营许可证：豫B2-{随机8数字}
 
</div>

<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a</div>
</body>
</html>