<!doctype html>
<html lang="zh_CN">
<head>
	<link rel="canonical" href="/{随机字符}/{随机字符}/news/fj/fz/202303/30/2111637.shtml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{自定义标题}</title>
    <meta name="keywords" content="{关键词1}">
    <meta name="description" content="{自定义描述}">
    <link rel="stylesheet" href="/_/static/hb171_m.hxnews/static/css/touch-app-2017.css">
	<link rel="stylesheet" type="text/css" href="/_/static/hb171_m.hxnews/static/css/cmstop-article.css">
	<link rel="stylesheet" href="/_/static/hb171_m.hxnews/static/css/touch-hxw-2017.css">
	<script type="text/javascript" src="/_/static/hb171_m.hxnews/static/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/_/static/hb171_m.hxnews/static/js/config.js"></script>
	<script type="text/javascript">
		var contentid = '2111637';// 文章ID
		var title = "\u798f\u5dde\u4ed3\u5c71\uff1a\u4e07\u540d\u5e72\u90e8\u4e0b\u57fa\u5c42 \u6784\u5efa\u201c\u56db\u7ea7\u8d2f\u7a7f\u201d\u6cbb\u7406\u4f53\u7cfb";//文章标题
		var topicid = '2031440';// 评论主题
		var context = '';//全文内容缓存
		var content = '';//第一页内容缓存
		var _IMG_URL = 'http://img.hxnews.com/w/templates/nhaidu';
	</script>
	<script type="text/javascript" src="/_/static/hb171_m.hxnews/static/js/article-show-mobile.js"></script>
	<script src="/_/static/hb171_m.hxnews/static/js/c.js"></script>
	
</head>
<body>
<script>cambrian.render('head')</script>
<style type="text/css">
.article-content img{opacity:1;visibility:visible;}
.bdsharebuttonbox{float:left}
</style>
<div class="head clearfix">
	<div class="logo"><a href="{泛站内链}" title="{标题}"></a></div>
	<div style="margin-top:8px;" class="hxw-search">
<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=28529395802979984' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
</div>
    <div class="right" id="web_wzdh"><i class="icon iconfont">&#xe600;</i></div>
	<a href="#" id="top"></a>
</div>
<div class="menu02 dn" id="menu">
		<ul>
    	<li><a href="{泛站内链}" title="福建">福建</a></li>
        <li><a href="{泛站内链}" title="福州">福州</a></li>
        <li><a href="{泛站内链}" title="平潭">平潭</a></li>
        <li><a href="{泛站内链}" title="莆田">莆田</a></li>
        <li><a href="{泛站内链}" title="宁德">宁德</a></li>
        <li><a href="{泛站内链}" title="三明">三明</a></li>
        <li><a href="{泛站内链}" title="南平">南平</a></li>
        <li><a href="{泛站内链}" title="龙岩">龙岩</a></li>
        <li><a href="{泛站内链}" title="厦门">厦门</a></li>
        <li><a href="{泛站内链}" title="泉州">泉州</a></li>
        <li><a href="{泛站内链}" title="漳州">漳州</a></li>
        <li><a href="{泛站内链}" title="国内">国内</a></li>
        <li><a href="{泛站内链}" title="国际">国际</a></li>
        <li><a href="{泛站内链}" title="台湾">台湾</a></li>
        <li><a href="{泛站内链}" title="娱乐">娱乐</a></li>
        <li><a href="{泛站内链}" title="体育">体育</a></li>
        <li><a href="{泛站内链}" title="论坛">论坛</a></li>
		<!--
        <li><a href="http://m.hxnews.com/news/tp" title="图片">图片</a></li>-->
        <li><a href="{泛站内链}" title="汽车" rel="nofollow">汽车</a></li>
        <li><a href="{泛站内链}" title="金融" rel="nofollow">金融</a></li>
    </ul>
</div>
<script type="text/javascript">
$("#web_wzdh").toggle(
  function () {
    $("#menu").show();
  },
  function () {
    $("#menu").hide();
  }
);
</script>
<div class="current">
	<a href="{泛站内链}">{网站名称}</a>
			><a href="{泛站内链}" title="新闻中心">新闻中心</a>
			><a href="{泛站内链}" title="福建频道">{随机关键词}</a>
			><a href="{泛站内链}" title="福州新闻">{关键词1}</a>
	</div>
<div class="cont">
	<article>
		<div class="matter_title">{关键词1}{随机后缀}{新闻网标题}</div>
		<div class="matter_line">
			<div class="nr ml0">
				{随机关键词}						</div>
			<div class="nr">{今日时间}</div>
		</div>
		<!--正文内容--><!--正文内容-->
		<section class="ui-article-detail article-content fontSizeSmall BSHARE_POP">
			<div id="content-show" class="add-cont-m">
				<p>{新闻网内容}</p>
		</div>
		</section>
		<!--/正文内容--><!--/正文内容-->
		<script type="text/javascript">
		<!--
		function pic_show(){
			$('#content-show img').parent().attr({style:"text-indent:0em;text-align: center;"});
		}
		pic_show();
		//-->
		</script>
		
		<div class="fxd clearfix">
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{},"image":{"viewList":["weixin","qzone","tsina","tieba"],"viewText":"分享到：","viewSize":"16"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			<div style="text-align: right;font-size: 12px;color: #666;">(责任编辑：{人物名称})</div>
		</div>
         <!-- 广告位：WAP内容页文章尾部广告 -->
		<!--@end 相关内容 -->
		<div class="link_news">
			<ul class="link_news_tit">
				<li><a href="javascript:void(0);" class="hovertab" id="tb_11" onmouseover="HoverLi(1,1,2);">{随机关键词}</a></li>
				<li><a href="javascript:void(0);" id="tb_12" onmouseover="HoverLi(1,2,2);">{随机关键词}</a></li>
			</ul>
			<div class="blank0"></div>
			<div class="link_newscont dis" id="tbc_11">
				<ul class="f l sm">
																						<li>
							    <div class="txt"><div class="line">
								<a href="{泛站内链}" target="_blank" title="{标题}">
									{关键词1}{标题}								</a>
								</div></div>
							</li>
																	<li>
							    <div class="txt"><div class="line">
								<a href="{泛站内链}" target="_blank" title="{标题}">
									{标题}								</a>
								</div></div>
							</li>
																	<li>
							    <div class="txt"><div class="line">
								<a href="{泛站内链}" target="_blank" title="{标题}">
									{标题}								</a>
								</div></div>
							</li>
																	<li>
							    <div class="txt"><div class="line">
								<a href="{泛站内链}" target="_blank" title="{标题}">
									{标题}{关键词1}								</a>
								</div></div>
							</li>
																	<li>
							    <div class="txt"><div class="line">
								<a href="{泛站内链}" target="_blank" title="{标题}">
									{标题}							</a>
								</div></div>
							</li>
														</ul>
			</div>
			<div class="link_newscont undis" id="tbc_12">
				<ul class="f l sm">
																						<li><div class="txt"><div class="line">
								<a href="{泛站内链}" target="_blank" title="{标题}">
									{标题}								</a>
								</div></div>
							</li>
																		<li><div class="txt"><div class="line">
								<a href="{泛站内链}" target="_blank" title="{标题}">
									{标题}								</a>
								</div></div>
							</li>
																		<li><div class="txt"><div class="line">
								<a href="{泛站内链}" target="_blank" title="{标题}">
									{关键词1}{标题}								</a>
								</div></div>
							</li>
																		<li><div class="txt"><div class="line">
								<a href="{泛站内链}" target="_blank" title="{标题}">
									{标题}								</a>
								</div></div>
							</li>
																		<li><div class="txt"><div class="line">
								<a href="{泛站内链}" target="_blank" title="{标题}">
									{标题}								</a>
								</div></div>
							</li>
															</ul>
			</div>
		</div>
		<!-- @end正文 -->
	</article>
</div>

<script type="text/javascript">
function g(o){
	return document.getElementById(o);
}
function HoverLi(m,n,counter){
	for(var i=1;i<=counter;i++){
		g('tb_'+m+i).className='normaltab';
		g('tbc_'+m+i).className='undis link_newscont';
	}
	g('tbc_'+m+n).className='dis link_newscont';
	g('tb_'+m+n).className='hovertab';
}
</script>
<footer>
	<div class="ft-global">
        <div class="nav-list">
    <a href="{泛站内链}" target="_blank">福建</a>
    <a href="{泛站内链}" target="_blank">福州</a>
    <a href="{泛站内链}" target="_blank">平潭</a>
    <a href="{泛站内链}" target="_blank">莆田</a>
    <a href="{泛站内链}" target="_blank">泉州</a>
    <a href="{泛站内链}" target="_blank">厦门</a>
    <a href="{泛站内链}" target="_blank">漳州</a>
</div>
<div class="nav-list">
    <a href="{泛站内链}" target="_blank">国内</a>
    <a href="{泛站内链}" target="_blank">国际</a>
    <a href="{泛站内链}" target="_blank">台海</a>
    <a href="{泛站内链}" target="_blank">财经</a>
    <a href="{泛站内链}" target="_blank">科技</a>
    <a href="{泛站内链}" target="_blank">娱乐</a>
    <a href="{泛站内链}" target="_blank">体育</a>
</div>


	</div>
	<div class="copyright"><a href="{泛站内链}" title="{标题}" target="_blank">{关键词1}</a></div>
</footer>
<div class="blank-10"></div>
<div class="back_top"><a href="#top">返回顶部</a></div>
<div style="display:none">
<script>
(function(){
	var contentid = '2111637';// 文章ID
	$.getJSON(APP_URL+'?app=system&controller=content&action=stat&jsoncallback=?&contentid='+contentid, function(data){});
})();
</script>
<script src="http://s95.cnzz.com/z_stat.php?id=1260851785&web_id=1260851785" language="JavaScript"></script>
<div style="display:none;">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0baf48bfc0469c5eb9b0ecac0610b290";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>

<script>
(function(){
var el = document.createElement("script");
el.src = "https://lf1-cdn-tos.bytegoofy.com/goofy/ttzz/push.js?a0c0b33778287ca8f48c7d50667c3a6f7deb9487dce7ed62313212129c4244a219d1c501ebd3301f5e2290626f5b53d078c8250527fa0dfd9783a026ff3cf719";
el.id = "ttzz";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(el, s);
})(window)
</script></div><script src="/_/static/hb171_m.hxnews/static/js/jweixin-1.0.0.js"></script>
<script language="javascript">
var url = "";
if(window.location.search.substr(1)) url = "&"+window.location.search.substr(1);
document.write("<script src='http://api.hxnews.com/share/weixin_config.php?url=http://m.hxnews.com/news/fj/fz/202303/30/2111637.shtml"+url+"'><\/script>");
var imgurl = "http://upload.hxnews.com/2023/0330/1680142638451.jpg";
var description="海峡网";
wx.ready(function () {
    wx.onMenuShareTimeline({
        title: '{自定义描述}', // 分享标题
        link: 'http://m.hxnews.com/news/fj/fz/202303/30/2111637.shtml', // 分享链接
        imgUrl: imgurl, // 分享图标
        success: function () {
            // 用户确认分享后执行的回调函数
        },
        cancel: function () {
            // 用户取消分享后执行的回调函数
        }
    });
    wx.onMenuShareAppMessage({
        title: '{自定义描述}', // 分享标题
        desc: description, // 分享描述
        link: 'http://m.hxnews.com/news/fj/fz/202303/30/2111637.shtml', // 分享链接
        imgUrl: imgurl, // 分享图标
        type: 'link', // 分享类型,music、video或link，不填默认为link
        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        success: function () {
            // 用户确认分享后执行的回调函数
        },
        cancel: function () {
            // 用户取消分享后执行的回调函数
        }
    });

});
wx.error(function(res){});
</script>
<div style="display:none"><div style="display:none"></div></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a</div>
</body>
</html>
