
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{自定义标题}</title>
    <meta name="keywords" content="{关键词1}" />
    <meta name="description" content="{自定义描述}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="author" content="({网站名称})">
    <meta name="copyright" content="Copyright  2003-2022 txsm.com fbook.net ">
    <link href="/_/static/hb18_fbookt/static/css/style.css" type="text/css" rel="stylesheet">
    <link href="/_/static/hb18_fbookt/static/css/private.css" type="text/css" rel="stylesheet">
    <link href="/_/static/hb18_fbookt/static/css/layer.css" type="text/css" rel="styleSheet" id="layermcss">
    
    <script src="/_/static/hb18_fbookt/static/js/TouchSlide.1.1.js"></script>
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false" onbeforecopy="return false" oncopy="document.selection.empty()" onselect="document.selection.empty()">
    
    

<header>
    <div class="top">
        <div class="logo">
            
        </div>
        
    <div class="login_h" id="login_box">
        
        <a href="/{随机短字符}/{随机数字}.html" style="width: 1.3rem;"><img src="/_/static/hb18_fbookt/static/picture/seach.png" alt="search" width="17" style="margin-top:8px;"></a>
        
            <a href="/{随机短字符}/{随机数字}.html" style="width: 2.3rem; color: #323335;">登录</a>

        <a href="/{随机短字符}/{随机数字}.html" style="width:3rem; color:#323335;">客户端</a>
    </div>
    </div>
</header>


<div class="nav">
    <span><a href="/{随机短字符}/{随机数字}.html">首页</a></span>
    <span><a href="/{随机短字符}/{随机数字}.html">排行</a></span>
    <span><a href="/{随机短字符}/{随机数字}.html">书库</a> </span>
    <span><a href="/{随机短字符}/{随机数字}.html">充值</a> </span>
    <span><a href="/{随机短字符}/{随机数字}.html">书架</a></span>
</div>


<div class="breadcrumb"><a href="/{随机短字符}/{随机数字}.html">首页</a> > <a href="/{随机短字符}/{随机数字}.html">{随机关键词}</a> > <a href="/{随机短字符}/{随机数字}.html">{随机关键词}</a> > {关键词1}</div>



<!--头部导航-->
<header class="header m-b10">
    
    <div class="head-title fs18"><h1>{新闻网标题}</h1></div>
    
</header>

<div class="content m-b10">
    <div class="book">
        <div class="book-a">
            <div class="book-img">
                <img src="{随机图片}" alt="{随机关键词}" class="lazyload fadeIn" style="width:90px;">
            </div>
            <div class="book-info" style="line-height:1.2rem;">
                <div>书名：{关键词1}</div>
                <div>作者：{人物名称}</div>
                <div>类别：<a href="/{随机短字符}/{随机数字}.html">{随机关键词}</a></div>
                <div>状态：已完结</div>
                <div>
                    字数：<em class="org">{随机3数字}万</em> &nbsp; 点击：{随机8数字}
                </div>
                <div>
                            <a href="/{随机短字符}/{随机数字}.html" class="newest">战神</a>
                            <a href="/{随机短字符}/{随机数字}.html" class="newest">热血</a>
                            <a href="/{随机短字符}/{随机数字}.html" class="newest">无敌</a>
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="book_btn">
            <a class="free" href="/{随机短字符}/{随机数字}.html" target="_self">{关键词1}</a>

        <a class="shelf" href="/{随机短字符}/{随机数字}.html">我要关注</a>
    </div>
</div>

<div class="content m-b10">
    <div class="title m-b10">内容简介</div>
    <div class="book_profiles">
        {新闻网内容}
    </div>
</div>

<div class="content m-b10">
    <div class="title m-b10">
        目录<em>(共 576 章，已完结 )</em>

        <em class="fr" style="margin-top: 1px;">更新于 {年月日} </em>
    </div>
    <div class="article_new">
        <a href="/{随机短字符}/{随机数字}.html">
            <em class="newest">最新</em>{随机关键词}<span style="color: #dc4735"> [VIP] </span>
        </a>
        <span class="sort" data-name="art-sort">倒序排序</span>
    </div>
    <div class="book_list" data-name="ascend">

                <a href="/{随机短字符}/{随机数字}.html">
                    <p>{随机关键词}</p>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第1章 {随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第2章 {随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第3章 {随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第4章 {随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第5章 {随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第6章{随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第7章{随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第8章{随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第9章 {随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第10章{随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第11章{随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第12章{随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第13章 {随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第14章{随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第15章{随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第16章{随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第17章{随机关键词}</p><span class="free">免费</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第18章{随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第19章{关键词1}</p><span class="vip">VIP</span>
                </a>

    </div>
    <div class="book_list" data-name="descend" style="display: none">

                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第576章 {随机关键词}（全书完）</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第575章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第574章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第573章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第572章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第571章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第570章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第569章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第568章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第567章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第566章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第565章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第564章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第563章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第562章 {关键词1}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第561章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第560章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第559章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第558章 {随机关键词}</p><span class="vip">VIP</span>
                </a>
                <a href="/{随机短字符}/{随机数字}.html">
                    <p>第557章 {随机关键词}</p><span class="vip">VIP</span>
                </a>

    </div>
    <a href="/{随机短字符}/{随机数字}.html" class="read-more">
        <p>更多目录&gt;&gt;</p>
    </a>
</div>


    <!--书评专区-->
<div class="content m-b10">
    <div class="title m-b10">
        书评专区<a class="fr" style="color: Tomato; font-size: 14px" href="/{随机短字符}/{随机数字}.html">查看更多&gt;&gt;</a>
    </div>
    <div class="comment-wrapper m-t10">
        <input type="hidden" value="3843752586536550400" id="contentId">
        <textarea class="cont-textarea data-comment-text" placeholder="{随机关键词}..." data-act="comment-cont"></textarea>
        
    </div>
    <div class="book-btn">
        
        <a href="/{随机短字符}/{随机数字}.html" class="read-more" id="js-add-comment"><p style="background-color: #09B294; color: #ffffff; padding: 10px 0; text-align:center;">{随机关键词}</p></a>
    </div>
    <!--<div class="comment-wrapper m-t10">
        <textarea class="cont-textarea data-comment-text" placeholder="写评论..." data-act="comment-cont"></textarea>-->
        
    <!--</div>
    <div class="book-btn">-->
        
        <!--<a href="/{随机短字符}/{随机数字}.html" class="read-more" id="js-add-comment"><p style="background-color: #09B294; color: #ffffff; padding: 10px 0; text-align:center;">我要评论</p></a>
    </div>-->
</div>


<div class="content m-b10">
    <div class="title m-b10">读者还喜欢</div>
    <div id="person" class="tabBox">
        <div class="hd">
            <ul>
                <li class="on">其他作品</li>
            </ul>
        </div>
        <div class="tempWrap" style="overflow: hidden; position: relative;">
            <div class="bd" style="margin: 0px; overflow: hidden; padding: 0px; position: relative; transform: translate(0px, 0px) translateZ(0px); transition-duration: 200ms; width: 1563px;">


                <ul style="display: table-cell; vertical-align: top; width: 1563px;">
                    <li>
                        <div class="promote">

                                <div class="promote-book">
                                    <a href="/{随机短字符}/{随机数字}.html" class="book-img">
                                        <img class="lazyload" src="{随机图片}" alt="{随机关键词}">
                                    </a>
                                    <p>{关键词1}</p>
                                </div>
                                <div class="promote-book">
                                    <a href="/{随机短字符}/{随机数字}.html" class="book-img">
                                        <img class="lazyload" src="{随机图片}" alt="{随机关键词}">
                                    </a>
                                    <p>{随机关键词}</p>
                                </div>
                                <div class="promote-book">
                                    <a href="/{随机短字符}/{随机数字}.html" class="book-img">
                                        <img class="lazyload" src="{随机图片}" alt="{随机关键词}">
                                    </a>
                                    <p>{随机关键词}</p>
                                </div>
                                <div class="promote-book">
                                    <a href="/{随机短字符}/{随机数字}.html" class="book-img">
                                        <img class="lazyload" src="{随机图片}" alt="{随机关键词}">
                                    </a>
                                    <p>{随机关键词}</p>
                                </div>
                                <div class="promote-book">
                                    <a href="/{随机短字符}/{随机数字}.html" class="book-img">
                                        <img class="lazyload" src="{随机图片}" alt="{随机关键词}">
                                    </a>
                                    <p>{随机关键词}</p>
                                </div>
                                <div class="promote-book">
                                    <a href="/{随机短字符}/{随机数字}.html" class="book-img">
                                        <img class="lazyload" src="{随机图片}" alt="{随机关键词}">
                                    </a>
                                    <p>{随机关键词}</p>
                                </div>




                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <script type="text/javascript">TouchSlide({ slideCell: "#person" });</script>
</div>


<div class="go-top">
    <span></span>
</div>


<div class="footer text-center">
    <p class="links">
        
        <a href="/{随机短字符}/{随机数字}.html" target="_self">登录</a> /
        <a href="/{随机短字符}/{随机数字}.html" target="_self">
            <font color="#FF0000">充值</font>
        </a> /
        <a href="/{随机短字符}/{随机数字}.html" target="_self">客服</a> /
        <a href="/{随机短字符}/{随机数字}.html">帮助</a> /
        <a href="/{随机短字符}/{随机数字}.html">标签</a>
            <span> / </span><a href="/{随机短字符}/{随机数字}.html" style="color: red;">{关键词1}福利</a>
    </p>

    <p>
        京ICP备10215746号-3      京ICP证070263号<br>京公网安备11010502025070
    </p>
</div>
    <script src="/_/static/hb18_fbookt/static/js/picLazyLoad.min.js"></script>
    <script src="/_/static/hb18_fbookt/static/js/layer.js"></script>
    <script src="/_/static/hb18_fbookt/static/js/zepto.min.js"></script>
    <script src="/_/static/hb18_fbookt/static/js/zepto.cookie.min.js"></script>
    <script src="/_/static/hb18_fbookt/static/js/main.1.0.js"></script>
    <script language="javascript" src="/_/static/hb18_fbookt/static/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script src="/_/static/hb18_fbookt/static/js/jet.common.js"></script>
    <script src="/_/static/hb18_fbookt/static/js/mobile.js"></script>

    <script type="text/javascript">
        $(function () {
            picLazyLoad({
                className: "lazyload",
                picError: '/images/default_book.jpg',
                callback: function (me) {
                    me.classList.add('fadeIn');
                }
            });
            $("[data-name=search_form]").on('submit',
                function (e) {
                    e.preventDefault();
                    if (this.searchkey.value === '请输入关键词、书号搜索...') this.searchkey.value = '';
                    if (this.searchkey) {
                        location.href = this.action + "?k=" + encodeURIComponent(this.searchkey.value) + "&q=" + Request.QueryString("q");
                    }
                });

            $("[data-act=addbook]").on("click",
                function (e) {
                    e.preventDefault();
                    var _reload = "on" == $(this).attr("data-reload") ? 1 : 0;
                    var _del = "on" == $(this).attr("data-del") ? 1 : 0;
                    var _delLi = $(this).parent("li");
                    GPage.getJson($(this).attr("data-url"),
                        function (json) {
                            // var _message = ""!=$(this).attr("data-msg") ? $(this).attr("data-msg") : json.msg
                            if ("OK" == json.status) {
                                layer.open({
                                    content: json.msg,
                                    skin: 'msg',
                                    time: 1.5 //1.5绉掑悗鑷姩鍏抽棴
                                });
                                if (1 === _del) {
                                    _delLi.remove();
                                    var _myCount = parseInt($("[data-name=my_count]").text());
                                    var _nowCount = _myCount - 1;
                                    $("[data-name=my_count]").text(_nowCount);
                                } else if (1 === _reload) {
                                    window.setTimeout(location.reload(), 2000);
                                }
                            } else {
                                if (undefined == json.msg) {
                                    openMsg(json);
                                } else {
                                    layer.open({
                                        content: json.msg,
                                        skin: 'alert',
                                        time: 1.5 //1.5绉掑悗鑷姩鍏抽棴
                                    });
                                }
                            }
                        });
                });
            $("[data-method=ajax]").submit(function (e) {
                e.preventDefault();
                var _url = $("[data-method=ajax]").attr("action");
                GPage.postForm("ajax-form",
                    _url,
                    function (json) {
                        if ("OK" == json.status) {
                            location.href = jumpurl ? jumpurl : "http://www.txsm.com";
                        } else {
                            layer.open({
                                content: json.msg,
                                skin: 'alert',
                                time: 1.5 //1.5绉掑悗鑷姩鍏抽棴
                            });
                        }
                    });
            });
        });

        function set_time_form(times) {
            var formatTime = '';
            var tempTimes = parseInt(times);

            if (tempTimes <= 0) document.write("闄愭椂鍏嶈垂");
            if (tempTimes % 3600 >= 0) {
                formatTime += Math.ceil(times / 3600) + ':';
                tempTimes = tempTimes % 3600;
            } else {
                formatTime += '00:';
            }

            if (tempTimes % 60 >= 0) {
                formatTime += Math.ceil(tempTimes / 60) + ':';
                tempTimes = tempTimes % 60;
            } else {
                formatTime += '00:';
            }

            if (tempTimes >= 10) {
                formatTime += tempTimes;
            } else {
                formatTime += '0' + tempTimes;
            }

            document.write(formatTime);
        }
    </script>
    
    <script type="text/javascript">
        $(function () {
            // 点赞月票等
            $("[data-act=j_act] a").live("click",
                function (event) {
                    event.preventDefault();
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                        $("#j_dian_box *").remove();
                    } else {
                        var _url = $(this).attr("href");
                        var id = $(this).find("a").attr("id");
                        $(this).addClass("active").siblings().removeClass("active");
                        huodong3g(_url, id, 'j_dian_box');
                    }
                    return false;
                });
            // 章节排序
            $(function () {
                $('[data-name=art-sort]').click(function () {
                    if ($(this).hasClass('desc')) {
                        $(this).text('倒序排序');
                        $(this).parent().siblings('[data-name=descend]').hide();
                        $(this).parent().siblings('[data-name=ascend]').show();
                        $(this).removeClass('desc');
                    } else {
                        $(this).text('顺序排序');
                        $(this).parent().siblings('[data-name=ascend]').hide();
                        $(this).parent().siblings('[data-name=descend]').show();
                        $(this).addClass('desc');
                    }
                });
            });
        })

    </script>


    <style type="text/css">
        #cnzz img {
            width: 0;
            height: 0;
        }
    </style>
    <div style="height: 0; width: 0;" id="cnzz">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1262357132'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1262357132%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>



    </div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a</div>
</body>
</html>