<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- 设置根目录路径 -->
    <meta id="domain" content="/{随机字符}/{随机字符}/material/">
    <!-- 设置当前文件的路径 -->
    <meta id="kjuapath" content="/{随机字符}/{随机字符}/template/tenant207/t288/js/kjua.js">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Add title for apple-mobile-web-app-title -->
    <meta name="apple-mobile-web-app-title" content="{标题}">
  
    
    <!-- Tile icon for Win8 (180x180 + tile color) -->
    <!-- <meta name="msapplication-TileImage" content="material/favicon.png" /> -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <!-- Add Page Title -->
    <title>{自定义标题}</title>
    <meta name="keywords" content="{关键词1}" />
    <meta name="description" content="{自定义描述}" />
 

    <link rel="stylesheet" href="/_/static/hb221_81/static/css/style-3.0.css">
    
    <!-- 统计详情 start-->
    <meta name="filetype" content="0">
    <meta name="publishedtype" content="1">
    <meta name="pagetype" content="1">
    <meta name="catalogs" content="cbf-208727" id="node-id-path">
    <meta name="contentid" content="cbf-16215475">
    <meta ame="publishdate" content="{年月日}">
    <meta name="author" content="{人物名称}">
    <meta name="editor" content="{人物名称}">
    <meta name="reporter" content="{人物名称}">
    <!-- 统计详情 start-->


    <link rel="stylesheet" href="/_/static/hb221_81/static/css/share_style1_16.css">
    <!-- 公共头部引入 -->
    <meta name="domain" content="{域名库}">
<link rel="icon" type="image/png" href='/{随机字符}/{随机字符}/favicon.ico'>
<script>
  // 判断shi是否是IE以下，是出现提示弹窗  对象不支持“prepend”属性或方法
  var temp = window.navigator.userAgent.toUpperCase()
  var charHead = temp.indexOf('MSIE')
  var charLast = temp.indexOf(';', charHead)
  var ieVersion = temp.substring(charHead, charLast)
  ieVersion = ieVersion.split(' ')[1]
  if (ieVersion < 11) {
    window.location.href = '/{随机字符}/{随机字符}/ysym/Ibbgdtsy/index.html'
  }
</script>
<style>
  @font-face {
  font-family: 'icomoon';
  src: url('static/font/icomoon.eot');
  src: url('static/font/icomoon.eot') format('embedded-opentype'),
    url('static/font/icomoon.woff') format('woff'),
    url('/{随机字符}/{随机字符}/material/fonts/icomoon.svg?v3lc3l') format('svg');
  font-weight: normal;
  font-style: normal;
}
</style>
<!--[if lt IE 9]>
<script src='/{随机字符}/{随机字符}/material/js/respond.min.js'></script>
<script src='/{随机字符}/{随机字符}/material/js/es5-sham.min.js'></script>
<script src='/{随机字符}/{随机字符}/material/js/es5-shim.min.js'></script>
<![endif]-->

<!-- make template id  504 name 公共头部引入 -->
<!-- make time 2023-04-03 09:36:51 -->
<!-- make template id  504 name 公共头部引入 -->

  </head>
  <body>

    <!-- 头部 -->
    <div class="top-line">
  <div class="container">
    <a href="/{随机字符}/{随机字符}.html" class="jw-logo float-left">
      <img src="/_/static/hb221_81/static/picture/logo.png" alt="">
    </a>
    <ul class="nav navbar-nav hidden-xs hidden-sm float-left nav-list">
      <li><a href="/{随机字符}/{随机字符}.html">要闻</a></li>
      <li><a href="/{随机字符}/{随机字符}.html">评论</a></li>
      <li><a href="/{随机字符}/{随机字符}.html">图片</a></li>
      <li>
        <a href="/{随机字符}/{随机字符}.html">视频</a>
      </li>
      <li class="dropdown" role="presentation" data-spm-max-idx="9" data-auto-spmd-max-idx="0">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/{随机字符}/{随机字符}.html" role="button" aria-expanded="false" data-spm-anchor-id="zm5021-001.0.0.1">
          更多<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="/{随机字符}/{随机字符}.html" target="_blank">特战</a>
          </li>
          <li>
            <a href="/{随机字符}/{随机字符}.html" target="_blank">女兵</a>
          </li>
          <li>
            <a href="/{随机字符}/{随机字符}.html" target="_blank">外军</a>
          </li>
          <li>
            <a href="/{随机字符}/{随机字符}.html" target="_blank">维和</a>
          </li>
          <li>
            <a href="/{随机字符}/{随机字符}.html" target="_blank">兵器</a>
          </li>
          <li>
            <a href="/{随机字符}/{随机字符}.html" target="_blank">空天</a>
          </li>
          <li>
            <a href="/{随机字符}/{随机字符}.html" target="_blank">军粮</a>
          </li>
          <li>
            <a href="/{随机字符}/{随机字符}.html" target="_blank">文化</a>
          </li>
        </ul>
      </li>
    </ul>

    <form action="/{随机字符}/{随机字符}/ysym/ssjgy/index.html" class="pull-right hidden-xs float-right jw-search" autocomplete="off">
      <input type="text" name="keyword" id="keyword" placeholder="请输入关键字" required="" class="input-sx">
      <input type="hidden" name="indexsearch" value="1">
      <input type="hidden" name="searchfield" value="TITLE">
      <button type="submit" class="btn btn-success btn-custom btn-sm">
        搜索
      </button>
    </form>
    <div class="float-right hidden-xs-up">
      <button class="hidden button showSideMenu sideMenuToggle" type="button">
        <span class="sr-only">显示与隐藏侧边栏</span>
      </button>
      <a href="/{随机字符}/{随机字符}.html" class="button search-btn"><span class="sr-only">搜索</span></a>
      <a id="topJFJB" href="/{随机字符}/{随机字符}.html" class="button jfjb-btn"><img src="/_/static/hb221_81/static/picture/jfjb.png" width="56" alt="解放军报"></a>
    
    </div>
  </div>
</div>

<!-- make template id  306 name 响应式列表页-头部 -->
<!-- make time 2023-04-03 09:36:50 -->
<!-- make template id  306 name 响应式列表页-头部 -->


    <div class="container m-t">
      <div class="row m-t">
        <!-- 右侧 -->
        <div class="sidebar hidden-xs hidden-sm">
  <h3>
    <span class="title">要闻推荐</span>
    <span class="sub_title">We Recommend</span>
  </h3>
  <ol class="list-ol">
        <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">{关键词1}</a>
    </li>
        <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">{随机关键词}</a>
    </li>
        <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">{标题}</a>
    </li>
        <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">{标题}</a>
    </li>
        <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">{标题}</a>
    </li>
      </ol>
  <hr>
  <h3>
    <span class="title">热点专题</span>
    <span class="sub_title">Special Reports</span>
  </h3>
  <ul class="list-unstyled list-special list_topic_toggle m-t">
        <li class="0">
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="/_/static/hb221_81/static/picture/16212745_5917dd519e1a2aca92dd62b00033f442.jpg" border="0">
        <span>{随机关键词}</span>
      </a>
    </li>
        <li class="1">
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="/_/static/hb221_81/static/picture/16205864_f9bb24be9ba0c4013a983e5de436dc69.JPG" border="0">
        <span>{标题}</span>
      </a>
    </li>
        <li class="2">
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="/_/static/hb221_81/static/picture/16205325_ba116180d81e594f10f13a37cfa21cc0.jpg" border="0">
        <span>{标题}</span>
      </a>
    </li>
        <li class="3">
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="/_/static/hb221_81/static/picture/16203751_a14fdd2ede777d7c722165a375b1cdf0.jpg" border="0">
        <span>{随机关键词}</span>
      </a>
    </li>
        <li class="4">
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="/_/static/hb221_81/static/picture/16201434_dcb0e9d896ea50554ea6c7313121ec79.jpg" border="0">
        <span>{关键词1}</span>
      </a>
    </li>
      </ul>
  <hr>
  <h3>
    <span class="title">视频推荐</span>
    <span class="sub_title">Videos</span>
  </h3>
  <ul class="list-unstyled list-pic">
        <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{随机关键词}</span>
      </a>
    </li>
        <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{标题}</span>
      </a>
    </li>
        <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{关键词1}</span>
      </a>
    </li>
        <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{标题}</span>
      </a>
    </li>
        <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{标题}</span>
      </a>
    </li>
      </ul>
  <hr>

  <h3>
    <span class="title">军事酷图</span>
    <span class="sub_title">Photos</span>
  </h3>
  <ul class="list-unstyled list-pic">
    <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{随机关键词}</span>
      </a>
    </li>
    <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{关键词1}</span>
      </a>
    </li>
    <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{标题}</span>
      </a>
    </li>
    <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{标题}</span>
      </a>
    </li>
    <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{随机关键词}</span>
      </a>
    </li>
      </ul>

  <h3>
    <span class="title">军网理论</span>
  </h3>
  <ul class="list-unstyled list-pic">
    <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{随机关键词}</span>
      </a>
    </li>
    <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{标题}</span>
      </a>
    </li>
    <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{关键词1}</span>
      </a>
    </li>
    <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{标题}</span>
      </a>
    </li>
    <li>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">
        <img src="{随机图片}" border="0">
        <span>{随机关键词}</span>
      </a>
    </li>
      </ul>
</div>
<link rel="stylesheet" href="/_/static/hb221_81/static/css/xyslb-right.css">

<!-- make template id  300 name 响应式列表页-右侧 -->
<!-- make time 2023-04-03 09:36:50 -->
<!-- make template id  300 name 响应式列表页-右侧 -->


        <!-- 正文 -->
        <div class="content">
           <!-- 面包屑导航 -->
          <ol class="breadcrumb hidden-print">
              <a href="/{随机字符}/{随机字符}.html" target="_blank">{关键词1}</a>
              正文
          </ol>
          <!-- 分享工具 -->
          <!-- <span class="bdsharebuttonbox box_fr hidden-xs bdshare-button-style1-16" id="shareUtil"  >
              <a href="#" target="_blank" class="bds_qzone" id="_qzone"  title="分享到QQ空间"></a>
              <a href="#"  target="_blank"  class="bds_tsina" id="_weibo" title="分享到新浪微博"></a>
              <a href="#"  target="_blank"  class="bds_weixin bds_custom_weixin" id="_weixin" title="分享到微信"></a>
            </span> -->
          <span class="bdsharebuttonbox box_fr hidden-xs bdshare-button-style1-16" data-bd-bind="1668156406652">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
				        <a href="#" class="bds_people bds_custom_people" data-cmd="people" title="分享到人民微博"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				        <a href="#" class="bds_weixin bds_custom_weixin" data-cmd="weixin" title="分享到微信"></a>
            </span>

          <hr class="m-n">
          <div class="article-header">
            <!--二维码-->
            <div class="qrcode visible-lg" id="qrcode">
              <div class="qrcode-content">
                <img id="qr-icon" class="hidden" src="/_/static/hb221_81/static/picture/qricon.png">
              </div>
            </div>
            <!--稿件信息-->
            <!--引题-->
                        <!--标题信息-->
            <h1>{关键词1}{随机后缀}{新闻网标题}<span class="num" id="num"></span></h1>
            <!--副标题  -->
                        <div class="info">

              <span>来源：{随机关键词2}</span>               <span>作者：{人物名称}</span>               <span>责任编辑：{人物名称}</span>               <div class="bdsharebuttonbox bdshare-button-style1-16" data-tag="share_1" data-bd-bind="1648472425865">
                <small>
                  <i class="time">{今日时间}</i>
                  <i class="share bds_count" data-cmd="count" title="累计分享0次">{随机数字}</i>

              </small></div>
            </div>
          </div>

          <div class="article-content p-t" id="article-content">
            <div id="wxsimgbox"></div>
             <div class=" m-t-list" id="main-news-list">
             
                          <p>{新闻网内容}</p>
                          <p><img src="{随机图片}" alt="{随机关键词}"></p>
             </div>
            <!-- 分页dom -->
            <div class="more-page" id="displaypagenum"></div>
            <div id="loadNextPageBtn" data-currentpage="1" class="loadNextPageBtn"></div>
          </div>

          
        </div>
        <!--/content-->
      </div>
    </div>

  <!-- 底部 -->
     <!--不使用 rmt_include_ssi path="/zjlm/xyszwdb/index.html -->
    <!--页脚-->
<div class="footer m-t-lg" id="pageFooter">
	<div class="container">
		<p class="hidden-xs">
            <!-- <a href="http://mail.chinamil.com.cn/" target="_blank" class="hidden-xs">军网邮箱</a>
            <em class="hidden-xs">|</em> -->
            <a href="/{随机字符}/{随机字符}.html" target="_blank">版权声明</a>
      <em>|</em>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">纠错/举报</a>
      <em>|</em>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">关于我们</a>
      <em>|</em>
      <a href="/{随机字符}/{随机字符}.html" target="_blank">诚聘英才</a>
        </p>
	  <p>
			<small class="hidden-xs">{网站名称}刊登的新闻信息和专题专栏资料，均为{关键词1}版权所有，未经协议授权，禁止下载使用<br></small>
			<small>Copyright ©{年} {域名库} All Rights Reserved</small>
		</p>
	</div>
</div>

<!-- make template id  735 name 图片正文-底部 -->
<!-- make time 2023-04-03 09:36:51 -->
<!-- make template id  735 name 图片正文-底部 -->

    <!--分享到-->
    <div id="share-to" class="shareto hidden-md hidden-lg">
      <h3>分享到</h3>
      <hr>
      <ul class="bdsharebuttonbox bdshare-button-style1-16" data-tag="share_2" data-bd-bind="1648472425865">
        <li>
          <a href="#" class="share-to-sina" data-cmd="tsina">新浪微博</a>
        </li>
        <li>
          <a href="#" class="share-to-tqq" data-cmd="tqq">腾讯微博</a>
        </li>
        <li>
          <a href="#" class="share-to-people" data-cmd="people">人民微博</a>
        </li>
        <li>
          <a href="#" class="share-to-weixin" data-cmd="weixin">微信</a>
        </li>
        <li>
          <a href="#" class="share-to-sqq" data-cmd="sqq">QQ 好友</a>
        </li>
        <li>
          <a href="#" class="share-to-qzone" data-cmd="qzone">QQ 空间</a>
        </li>
      </ul>
      <div class="shareto-footer">
        <button class="btn btn-default" onclick="hideShareTo()">取消</button>
      </div>
    </div>
    <!-- <div class="screen-cover close-side-menu"></div> -->
    <!--快捷菜单-->
    <div class="side-fixed-button hidden-print" id="side-fixed-button" style="right: 492px">
      <a id="back-to-top" class="back-to-top img-circle" href="javascript:backToTop();"></a>
      <a class="app hidden showSideMenu" href="javascript:shareTo();"></a>
    </div>
    <!--/快捷菜单-->
    <script src="/_/static/hb221_81/static/js/javascript-2.5.js"></script>

    <link rel="stylesheet" href="/_/static/hb221_81/static/css/simpleShare.css">
    <script src="/_/static/hb221_81/static/js/jquery.qrcode.min.js" type="text/javascript"></script>
    <script>document.write('<script src="/{随机字符}/{随机字符}/material/js/simpleShare.js?t=' + new Date().getTime() + '"><\/script>')</script>

    <script type="text/javascript" src="/_/static/hb221_81/static/js/wxs-1.0.0.js"></script>
    <script src="/_/static/hb221_81/static/js/fenye.js"></script>
    <link rel="stylesheet" href="/_/static/hb221_81/static/css/fenye.css">
      <script>
        /**
         * pageCount:页面总数
         * url：页面部分请求链接
         * url_file：页面的后缀名
         * lmno：栏目文章总条数
         * _type：fenye: pc分页 移动端点击加载   scroll: pc 手机 滚动加载更多 
         * isDetail：'detial':表示详情页正文，为空表示栏目列表
         * */
        function createManuscriptPageHTML(pageCount,pageno,url,url_file,lmno,_type,isDetail){
            createPageHTML(pageCount,pageno,url,url_file,lmno,_type,isDetail);
        }
        createManuscriptPageHTML(
          '1',
          '1',
          '16215475',
          'html',
          '',
          'fenye',
          'detail'
        )
      </script>
    <!-- 公共底部引入 -->
<script>
    document.write('<script src="/{随机字符}/{随机字符}/material/js/jquery.s2t.js?t=' + new Date().getTime() + '"><\/script>')
</script>
<script src="/_/static/hb221_81/static/js/webdig.js"></script>
<script>
  // 统计代码
  $.ajax({
    url: 'https://rmt-zuul.81.cn/api-traffic/web/poll?u=' + window.location.href,
    type: 'GET',
    success: function (res) {
      console.log('执行点击量监控')
    },
    error: function (error) {},
  })
  if ($('.bdsharebuttonbox').length > 0) {
    $('.bdsharebuttonbox a').on('click', function() {
        // 分享代码
        $.ajax({
        url: 'https://rmt-zuul.81.cn/api-traffic/web/share?u=' + window.location.href,
        type: 'GET',
        success: function (res) {
            console.log('执行分享量监控')
        },
        error: function (error) {},
        })
    })
  }
</script>
<!-- make template id  637 name 公共底部引入 -->
<!-- make time 2023-04-03 09:36:51 -->
<!-- make template id  637 name 公共底部引入 -->

<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a</div>
</body>
</html>

<!-- make template id  288 name 响应式正文 -->
<!-- make time 2023-04-10 06:46:19 -->
<!-- make template id  288 name 响应式正文 -->