<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta http-equiv="Cache-Control" content="no-transform"> 
<meta http-equiv="Cache-Control" content="no-siteapp"> 
<meta name="applicable-device" content="pc,mobile">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<script type="text/javascript" src="/_/static/hb269_xzqinglv/static/js/zepto.min.js"></script>
<link rel="stylesheet" href="/_/static/hb269_xzqinglv/static/css/style.css" type="text/css">
<link rel="icon" href="/{随机字符}/{随机字符}/skin/shu/images/logo-32x32.png" sizes="32x32">
<link rel="icon" href="/{随机字符}/{随机字符}/skin/shu/images/logo-192x192.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="/{随机字符}/{随机字符}/skin/shu/images/logo-180x180.png">
<meta name="msapplication-TileImage" content="/skin/shu/images/logo-270x270.png">
<!--[if lt IE 9]><script src="/skin/shu/js/html5.js"></script><![endif]-->
<script src="/_/static/hb269_xzqinglv/static/js/ajax.js" type="text/javascript"></script>
<style type="text/css">
.header-p-c { position: fixed; left: 0; bottom: 10%; height: 90%; z-index: 10; width: 100%; background-color: #fff; display: none; }
.header-p-c-l { width: 25%; float: left; background-color: #fff; overflow-y: scroll!important; height: 100%; }
.header-p-c-r { width: 75%; float: right; background-color: #red; }
.header-p-c-l ul li { padding: 16px 4px; display: block; text-align: center; }
.header-p-c-l ul li a { color: #666; }
.header-p-c-l ul li a:hover { color: #000; }
.header-p-c-l ul li.aa { border: 1px solid #bfc5c8; border-top: none; background: #fff; cursor: hand; }
.header-p-c-l ul li.bb { border-bottom: 1px solid #bfc5c8; cursor: hand; background-color: #f8f8f8; color: #f5692c; border-left: 2px solid #f5692c; }
.header-p-c-r { height: 100%; overflow-y: scroll!important; }
.list2 { text-align: left; background: #f8f8f8; height: 100%; overflow-y: scroll!important; }
.dis { display: block; height: 100%; overflow-y: scroll!important; }
.undis { display: none; }
.open { display: block; }
</style>
</head>
<body class="post-template-default single single-post postid-1432 single-format-standard">
<!-- <div class="wap_top"><script>cambrian.render('head')</script></div> -->
<!--- Header_wap --->
<div class="header-phone">
<div id="wap_c"><script>w_top1();</script></div>
<header>
<div class="header-wap">
   <div class="h-left"><a href="javascript:history.back(-1);"><img src="/_/static/hb269_xzqinglv/static/picture/nav_back.png"></a></div>
   <div class="h-c"><a href="/{随机字符}/{随机字符}.html">{网站名称</a></div>
   <div class="h-right"><a class="c-xia"></a></div>
</div>
</header>
<!--面包屑-->
<div class="c-xiala">
	<dl class="xiala-1"><dt><a href="/{随机字符}/{随机字符}.html" title="西藏旅游线路">旅游线路</a></dt>
		<dd><a href="/{随机字符}/{随机字符}.html">跟团游</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">周边游</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">深度游</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">外宾进藏</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">冬游西藏</a></dd>
	</dl>
	<dl class="xiala-1"><dt><a href="/{随机字符}/{随机字符}.html" title="西藏旅游景点">旅游景点</a></dt>
		<dd><a href="/{随机字符}/{随机字符}.html">拉萨景点</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">林芝景点</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">山南景点</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">昌都景点</a></dd>
		
		<dd><a href="/{随机字符}/{随机字符}.html">阿里景点</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">日喀则景点</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">那曲景点</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html" title="西藏旅游必看景点">必看景点</a></dd>
	</dl>
	<dl class="xiala-1"><dt><a href="/{随机字符}/{随机字符}.html" title="西藏旅游攻略">旅游攻略</a></dt>
		<dd><a href="/{随机字符}/{随机字符}.html">边防证</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">入藏函</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">不宜进藏</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">孕妇进藏</a></dd>
		
		<dd><a href="/{随机字符}/{随机字符}.html" title="外国人去西藏旅游">外宾去西藏</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html" title="台湾人去西藏">台湾进藏</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html" title="中国旅行证去西藏">中国旅行证</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html" title="国外绿卡去西藏">国外绿卡</a></dd>
		
		<dd><a href="/{随机字符}/{随机字符}.html" title="西藏旅游注意事项">注意事项</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">怎么去西藏</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">台湾居住证</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">港澳居住证</a></dd>
	</dl>
	<dl class="xiala-1"><dt><a href="/{随机字符}/{随机字符}.html">西藏天气</a></dt>
		<dd><a href="/{随机字符}/{随机字符}.html">拉萨天气</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">林芝天气</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">山南天气</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">昌都天气</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">阿里天气</a></dd>
		
		<dd><a href="/{随机字符}/{随机字符}.html">日喀则天气</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">那曲天气</a></dd>
	</dl>
	<dl class="xiala-1"><dt><a href="/{随机字符}/{随机字符}.html">去西藏交通</a></dt>
	    <dd><a href="/{随机字符}/{随机字符}.html">北京去西藏</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">上海去西藏</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">广州去西藏</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">西宁去西藏</a></dd>
		<dd><a href="/{随机字符}/{随机字符}.html">四川去西藏</a></dd>
	</dl>
</div>
<script type="text/javascript">
$(function(){
$(".c-xia").click(function(){
$(this).toggleClass("c-xxx");
$(".c-xiala").toggle();
})
})
</script>
<!--面包屑_end-->
<div id="wap_c"><script>w_top3();</script></div>
<!--顶部导航栏-->
<div class="nav">
   <ul>
     <li><a href="/{随机字符}/{随机字符}.html">旅游线路</a></li>
	 <li><a href="/{随机字符}/{随机字符}.html">外宾进藏</a></li>
	 <li><a href="/{随机字符}/{随机字符}.html">旅游景点</a></li>
	 <li><a href="/{随机字符}/{随机字符}.html">西藏租车</a></li>
	 <li><a href="/{随机字符}/{随机字符}.html">进藏问答</a></li>
	 
	 <li><a href="/{随机字符}/{随机字符}.html">西藏攻略</a></li>
	 <li><a href="/{随机字符}/{随机字符}.html">西藏天气</a></li>
	 <li><a href="/{随机字符}/{随机字符}.html">交通指南</a></li>
	 <li><a href="/{随机字符}/{随机字符}.html">西藏概况</a></li>
	 <li><a href="/{随机字符}/{随机字符}.html">旅游信息</a></li>
   </ul>
</div>
<!--顶部导航栏_end-->
<div id="wap_c"><script>w_so1();</script></div>
<!--底部导航栏-->
  <div id="footer-tools">
	<a class="f-phone" href="tel:13989999192"><i></i><span>联系电话</span></a> 
	<a href="/{随机字符}/{随机字符}.html" class="f-chat" rel="nofollow"><i></i><span>在线咨询</span></a> 
	<span style='cursor: pointer' onclick='copywx()' data-clipboard-target='#foo' data-clipboard-action='copy' class="booking" rel="nofollow"><a href='/{随机字符}/{随机字符}.html' class="f-weixin">添加微信</a></span>
   </div>
</div>
<!-- /header_wap --->
<div class="header-top">
    <div class="container clearfix">
        <div class="site-tel-left">
		    <a href="/{随机字符}/{随机字符}.html" title="{标题}">{网站名称}</a>欢迎您到{关键词1}。
        </div>
        <div class="site-tel-top">
            <a href="/{随机字符}/{随机字符}.html"><i class="fa iconfont">&#xe6b2;</i> 关于我们</a>
            <a href="/{随机字符}/{随机字符}.html"><i class="fa iconfont">&#xe6d4;</i> 联系我们</a>
		</div>
    </div>
</div>
<div class="header">
	<div class="container">	
        <div class="site-nav">
            <ul>
			    <li class="logo-pc-top"><div class="logo-pc"><a href="/{随机字符}/{随机字符}.html" title="{标题}"><img src="/_/static/hb269_xzqinglv/static/picture/logo-pc.png"></a></div></li>
                <li><a href="/{随机字符}/{随机字符}.html" id="pc-nav01">首页</a></li>
                <li><a href="/{随机字符}/{随机字符}.html" id="pc-nav06">旅游线路</a></li>
                <li><a href="/{随机字符}/{随机字符}.html" id="pc-nav040">外宾专线</a></li>
                <li><a href="/{随机字符}/{随机字符}.html" id="pc-nav08">旅游景点</a></li>                
                <li><a href="/{随机字符}/{随机字符}.html" id="pc-nav0">西藏租车</a></li>	
				<li><a href="/{随机字符}/{随机字符}.html" id="pc-nav18">西藏攻略</a></li>
				<li><a href="/{随机字符}/{随机字符}.html" id="pc-nav21">问答</a></li>
                <li><a href="/{随机字符}/{随机字符}.html" id="pc-nav19">资讯</a></li>
                <li><a href="/{随机字符}/{随机字符}.html" id="pc-nav24">交通</a></li>
				<li><a href="/{随机字符}/{随机字符}.html" id="pc-nav23">天气</a></li> 
            </ul>
        </div>
	</div>
</div>
<div class="container">
  <div class="curNav clearfix">您的位置: <a href="/{随机字符}/{随机字符}.html">{随机关键词}</a>&nbsp;>&nbsp;<a href="/{随机字符}/{随机字符}.html">{关键词1}</a>&nbsp;>&nbsp;</div>
  <div class="clearfix"></div>
  <div class="content-wrap">
    <div class="content">
	  <div class="article-infos">
		  <div class="article-header">
			<h1 class="article-title">{关键词1}{随机后缀}{新闻网标题}</h1>
			<ul class="article-meta">
			  <li class="meta-time"><i class="iconfont">&#xe697;</i> 时间: {今日时间}</li>
			  <li class="meta-likes"><i class="iconfont">&#xe61f;</i> 提问者: {人物名称} </li>
			
			</ul>
		  </div>
		  <div class="article-content">
			<p align="left">{新闻网内容}</p>

<p style="text-align: center;"><img alt="" src="/_/static/hb269_xzqinglv/static/picture/26acfd01fbef5c3b18fd87fd0aba299e.jpg"></p>
<p align="left">{新闻网内容}</p>

<p style="text-align: center;"><img alt="" src="/_/static/hb269_xzqinglv/static/picture/0a3cfd5aa0050a3b7912d8be5499c32a.jpg"></p>
<p align="left">{新闻网内容}</p>

	   </div>
		  <div class="tags_list"></div>
			<div class="wap_weixin">
			  <dl>
				<dt>+微信聊西藏旅行，早鸟预订有优惠！</dt>
				<dd><img src="/_/static/hb269_xzqinglv/static/picture/wap_weixin.jpg"></dd>
				<dd>① 复制手机号：<span style="cursor: pointer" onclick="" class="wx_tel" id="foo" data-clipboard-target="#foo" data-clipboard-action="copy">13989999192</span></dd>
				<dd>② 再打开微信添加好友，粘贴</dd>
			  </dl>
			</div>
		  <div class="article-ask"><a href="/{随机字符}/{随机字符}.html"><i class="iconfont">&#xe9e2;</i> 我有更好的答案</a><span>本回答由<font color="#FF870F">{人物名称}</font>负责采纳最佳答案</span></div> 
	  </div>
	  <div class="ask_reply clearfix">
	    <script>
  function CheckPl(obj)
  {
	  var saytext = obj.saytext.value;
	  if(saytext=="")
	  {
		  alert("您没什么话要说吗？");
		  obj.saytext.focus();
		  return false;
	  }
	  
	  if(saytext.length>1000) {
	  	  alert("您回答有点多，能不能简单点？");
		  obj.saytext.focus();
		  return false;
	  }
	  
	  return true;
  }
</script>
<form action="/e/pl/doaction.php" method="post" name="saypl" id="saypl" onsubmit="return CheckPl(document.saypl)">		  
<div class="pl_totel">
  其他回答<span>共有<script type="text/javascript" src="https://www.xzqinglv.com/e/public/ViewClick/?classid=21&id=12976&down=2"></script>条回答</span>
</div>
<div class="pl_list">
  <p>暂无</p></div>
<a name="answer"></a>
<div class="pl_news">
  <div class="pl_ans">我来回答</div>
  <div class="pl_news_user clearfix">
     <div class="pl_news_user_l">昵称:</div>
	 <div class="pl_news_user_r"><input name="username" type="text" id="username" value="" style="height:20px;">&nbsp; &nbsp;<input name="nomember" type="checkbox" id="nomember" value="1" checked="checked"></div>
  </div>
  <div class="pl_news_code clearfix">
     <div class="pl_news_code_l">验证码:</div>
	 <div class="pl_news_code_r"><input name="key" type="text" class="inputText" style="height:20px;">
<img src="/_/static/hb269_xzqinglv/static/picture/picture.jpg" align="absmiddle" name="plKeyImg" id="plKeyImg" onclick="plKeyImg.src='/e/ShowKey/?v=pl&t='+Math.random()" title="看不清楚,点击刷新"></div>
  </div>
  <div class="pl_news_info">
	 <textarea name="saytext" rows="6" id="saytext" class="pl_info"></textarea>
	  
<input name="id" type="hidden" id="id" value="12976">
<input name="classid" type="hidden" id="classid" value="21">
<input name="enews" type="hidden" id="enews" value="AddPl">
<input name="repid" type="hidden" id="repid" value="0">
<input type="hidden" name="ecmsfrom" value="/wenda/12976.html"> 
  </div>
</div>
</form>
	  </div>
      <div class="article-nav clearfix"> <span class="article-nav-prev">上一篇：<a href='/{随机字符}/{随机字符}.html'>甘丹寺门票价格？</a> </span> <span class="article-nav-next">下一篇：<a href='/{随机字符}/{随机字符}.html'>{标题}</a> </span> </div>
      <div class="widget widget_spots">
        <header>
          <h3>猜你喜欢</h3>
        </header>
        <div class="inner inner6">
          <ul>
		    <!--内容页tag相关-->
<li> <a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i> {标题}</a></li><li> <a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i> {标题}</a></li><li> <a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i> {标题}</a></li><li> <a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i> {标题}</a></li><li> <a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i> {标题}</a></li><li> <a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i> {标题}</a></li><li> <a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i> {标题}</a></li><li> <a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i> {标题}</a></li><li> <a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{标题}</a></li><li> <a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i> {关键词1}</a></li> <!--内容页tag//end -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="widget widget_spots">
      <header>
        <h3>热门问答</h3>
      </header>
      <div class="inner inner2">
        <ul>
		           <li><a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{标题}</a></li>
		            <li><a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{随机关键词}</a></li>
		            <li><a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{标题}</a></li>
		            <li><a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{标题}</a></li>
		            <li><a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{标题}</a></li>
		            <li><a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{标题}</a></li>
		            <li><a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{关键词1}</a></li>
		            <li><a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{标题}</a></li>
		            <li><a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{标题}</a></li>
		            <li><a href="/{随机字符}/{随机字符}.html" target="_blank"><i class="iconfont">&#xe790;</i>{标题}</a></li>
		  	
        </ul>
      </div>
    </div>
	<!-- 热门线路_右侧 -->
	<div class="widget widget_rmxl">
	  <header>
        <h3>热门线路</h3>
      </header>
       <ul class="inner">
	    		<li>
		<a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">
		<div class="pic">
			<img src="{随机图片}" alt="{随机关键词}">
			<span>¥ {随机3数字}</span>		</div>
		<div class="con">{标题}</div>
		</a>		</li>
				<li>
		<a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">
		<div class="pic">
			<img src="{随机图片}" alt="{随机关键词}">
			<span>¥ {随机4数字}</span>		</div>
		<div class="con">{关键词1}</div>
		</a>		</li>
				<li>
		<a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">
		<div class="pic">
			<img src="{随机图片}" alt="{随机关键词}">
			<span>¥ {随机4数字}</span>		</div>
		<div class="con">{标题}</div>
		</a>		</li>
				<li>
		<a href="/{随机字符}/{随机字符}.html" target="_blank" title="{标题}">
		<div class="pic">
			<img src="{随机图片}" alt="{随机关键词}">
			<span>¥ {随机4数字}</span>		</div>
		<div class="con">{随机关键词}</div>
		</a>		</li>
				
	   </ul> 
    </div>
	<!-- 热门线路_右侧//end -->
  </div>
</div>
<div class="customtrip" style="background-image: url(static/image/frombanner.jpg)" id="formbanner" name="formbanner">
    <div class="formbg-rgba">
    
    <div class="container pb45 clearfix">
        <div class="customtrip-intro fromleft">
            <header>
                <h2>{网站名称}</h2>
                <h4>让西藏旅行更简单</h4>
            </header>
            <p class="item-01">16年旅游服务经验 、<strong>始终专注进藏旅游</strong></p>
            <p class="item-02">不用辛苦看攻略、做预订、查签证资料</p>
            <p class="item-02">不止机票+酒店，帮你搞定一切</p>
            <p class="item-03">为你私人定制一次难忘的旅行</p>
        </div>
        <div class="customtrip-form fromright">
            <form id="formbook" name="formbook" method="post">
                <div class="item">
                    <label for="name">姓名</label>
                    <input type="text" class="name-input" id="name" name="name">
                    <i class="iconfont iconfont-color">&#xe61f;</i>
                </div>
                <div class="item">
                    <label>
                    	<select name="wechat1" class="form-select">
                            <option value="WeChat" selected="">微信</option>
                            <option value="Line">Line</option>
                            <option value="WhatApp">WhatApp</option>
                            <option value="Skype">Skype</option>
                        </select>
                    </label>
                    <input type="text" name="weachatid" id="weachatid" class="name-input" style="margin-left:5px;width:75%;">
                    <i class="iconfont iconfont-color">&#xe703;</i>
                </div>
                <div class="item item-phone">
                    <label for="phone">手机</label>
                    <input name="phone" type="text" id="phone" class="name-input">
                    <i class="iconfont iconfont-color">&#xe6dd;</i>
                </div>
                <div class="item item-email">
                    <label for="email">邮箱</label>
                    <input type="text" class="name-input" id="email" name="email">
                    <i class="iconfont iconfont-color">&#xe6b7;</i>
                </div>
                <div class="item item-remark">
                    <label for="remark">备注</label>
                    <textarea name="remark" id="remark" rows="4" placeholder="输入您的定制需求，越详细我们回复越准确，例如旅行时间、人数、感兴趣的景点或者问题等。"></textarea>
                </div>
                <div class="actions">
                    <input type="button" value="快速提交" class="sendButton" onclick="check_comments_1('formbook',0,0)">
                </div>
            </form>
            
        </div>
    </div>
    </div>
</div>
<div class="footer-faqs">
	<div class="container">
		<div class="inner">
			<h4>常见问题：</h4>
			<ul>
                <li><a href="/{随机字符}/{随机字符}.html" target="_blank">购物店说明</a></li>
                <li><a href="/{随机字符}/{随机字符}.html" target="_blank">自费项目说明</a></li>
                <li><a href="/{随机字符}/{随机字符}.html" target="_blank">旅游合同</a></li>
                <li><a href="/{随机字符}/{随机字符}.html" target="_blank">租车包车</a></li>
                <li><a href="/{随机字符}/{随机字符}.html" target="_blank">支付方式</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="brand">
		  <a href="/{随机字符}/{随机字符}.html" title="{网站名称}"><img src="/_/static/hb269_xzqinglv/static/picture/ft_logo.png" border="0"></a> 
		</div>
		<div class="inner">
		    <ul class="aboutlinks">
				<li><a href="/{随机字符}/{随机字符}.html">关于我们</a></li>
                <li><a href="/{随机字符}/{随机字符}.html">联系我们</a></li>
				<li><a href="/{随机字符}/{随机字符}.html">版权声明</a></li>
				<li><a href="/{随机字符}/{随机字符}.html">付款方式</a></li>
			</ul>
			<p><a href="/{随机字符}/{随机字符}.html">西藏旅游</a>报团，联系手机：<span id="copy_content">{随机9数字}</span> (微信同号) </p>
			<p>{网站名称}提供西藏旅游路线和攻略</p>
			<p>Copyright&copy;{年} <a href="/{随机字符}/{随机字符}.html">{关键词1}</a> 版权所有</p>
		</div>
		
    </div>
</div>
<script type="text/javascript" src="/_/static/hb269_xzqinglv/static/js/clipboard.min.js"></script>
<!--count-->
<script type="text/javascript" src="/_/static/hb269_xzqinglv/static/js/common.js"></script>
<script type="text/javascript" src="/_/static/hb269_xzqinglv/static/js/main.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
	//导航样式
		$('#pc-nav21').addClass('cur');

	});
</script> 
<script src="https://www.xzqinglv.com/e/public/onclick/?enews=donews&classid=21&id=12976"></script>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a</div>

</body>
</html>
