<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="telephone=no,email=no" name="format-detection">
<meta content="fullscreen=yes,preventMove=no" name="ML-Config">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}" />

<link href="/_/static/hb318_jxcsedu/static/css/common.css" rel="stylesheet" type="text/css">
<link href="/_/static/hb318_jxcsedu/static/css/style.css" rel="stylesheet" type="text/css">
<link href="/_/static/hb318_jxcsedu/static/css/jquery.mmenu.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/_/static/hb318_jxcsedu/static/js/app_font.js"></script>
<script type="text/javascript" src="/_/static/hb318_jxcsedu/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/_/static/hb318_jxcsedu/static/js/jquery.mmenu.js"></script>
<script type="text/javascript">
function click_f(){
$('#menu').css('visibility','visible');
    }

</script>
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="/_/static/hb318_jxcsedu/static/css/_sitegray_d.css">
<script language="javascript" src="/_/static/hb318_jxcsedu/static/js/_sitegray.js"></script>
<!-- CustomerNO:7765626265723230777547545352574603090305 -->
<link rel="stylesheet" type="text/css" href="/{随机字符}/{随机字符}/nav-content.vsb.css">
<script type="text/javascript" src="/_/static/hb318_jxcsedu/static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1235,'/nav-content.jsp',12977,1569116587)</script>
</head>

<body>

<div class="c_head">
    <div class="c_headbox">
        
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="/{随机字符}/{随机字符}.html" class="c_logo"><img src="/_/static/hb318_jxcsedu/static/picture/logo.png"></a>
        <div class="head_fr">
            <script language="javascript" src="/_/static/hb318_jxcsedu/static/js/dynclicks.js"></script><script language="javascript" src="/_/static/hb318_jxcsedu/static/js/openlink.js"></script><div class="head_xz">
    <a href="/{随机字符}/{随机字符}.html" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 62126)" class="xs">学生登录</a>
    <a href="/{随机字符}/{随机字符}.html" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 62127)" class="xs">教职工登录</a>
    <a href="/{随机字符}/{随机字符}.html" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 62128)" class="xs">校友登录</a>
    <a href="/{随机字符}/{随机字符}.html" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 62401)" class="xs">会员登录</a>
<div class="head_ss">
<a href="/{随机字符}/{随机字符}.html" class="btns"></a>
</div>
</div>
            <div style="clear:both;"></div>
<ul class="c_nav">
    <li>
    <a href="/{随机字符}/{随机字符}.html">学校概况</a>
    <div class="x_nav">
    <div class="x_navbox clearfix">
    <a href="/{随机字符}/{随机字符}.html" class="fl"><img src="/_/static/hb318_jxcsedu/static/picture/dht1.jpg"></a>
    <ul class="nav_list fr">
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">学校简介</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">现任领导</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">理念特色</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">机构设置</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">图说校园</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">领导关怀</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">历史沿革</a></li>
    </ul>
        </div>                      
        </div>
    </li>
    <li>
    <a href="/{随机字符}/{随机字符}.html">机构设置</a>
    <div class="x_nav">
    <div class="x_navbox clearfix">
    <a href="/{随机字符}/{随机字符}.html" class="fl"><img src=""></a>
    <ul class="nav_list fr">
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">董事会</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">党群部门</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">行政部门</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">教学部门</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">教辅部门</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">附属单位</a></li>
    </ul>
        </div>                      
        </div>
    </li>
    <li>
    <a href="/{随机字符}/{随机字符}.html">新闻信息</a>
    <div class="x_nav">
    <div class="x_navbox clearfix">
    <a href="/{随机字符}/{随机字符}.html" class="fl"><img src="/_/static/hb318_jxcsedu/static/picture/dht2.jpg"></a>
    <ul class="nav_list fr">
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">校园动态</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">院系信息</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">荣耀时刻</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">媒体应科</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">视频应科</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">应科人物</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">专题快讯</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">浴星湖大讲堂</a></li>
    </ul>
        </div>                      
        </div>
    </li>
    <li>
    <a href="/{随机字符}/{随机字符}.html">院系专业</a>
    <div class="x_nav">
    <div class="x_navbox clearfix">
    <a href="/{随机字符}/{随机字符}.html" class="fl"><img src=""></a>
    <ul class="nav_list fr">
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">人工智能学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">软件与区块链学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">智能制造工程学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">建筑工程学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">国际商务学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">财经学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">现代管理学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">光华宝石与艺术设计学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">音乐学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">教育学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">体育学院</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">马克思主义学院</a></li>
    </ul>
        </div>                      
        </div>
    </li>
    <li>
    <a href="/{随机字符}/{随机字符}.html">教学科研</a>
    <div class="x_nav">
    <div class="x_navbox clearfix">
    <a href="/{随机字符}/{随机字符}.html" class="fl"><img src=""></a>
    <ul class="nav_list fr">
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">教务处</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">教学质量监控</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">教学评估</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">科研处</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">教师发展</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">实验实训中心</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">公共教学部</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">创新创业教育</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">网络教学平台</a></li>
    </ul>
        </div>                      
        </div>
    </li>
    <li>
    <a href="/{随机字符}/{随机字符}.html">特色育人</a>
    <div class="x_nav">
    <div class="x_navbox clearfix">
    <a href="/{随机字符}/{随机字符}.html" class="fl"><img src=""></a>
    <ul class="nav_list fr">
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">三元育人</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">教师养德修为</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">学生素质养成教育</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">专业集群建设</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">课堂教学改革</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">第二课堂</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">产教融合协同育人</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">专业技能运动会</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">荣耀时刻</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">思想引领</a></li>
    </ul>
        </div>                      
        </div>
    </li>
    <li>
    <a href="/{随机字符}/{随机字符}.html">招生就业</a>
    <div class="x_nav">
    <div class="x_navbox clearfix">
    <a href="/{随机字符}/{随机字符}.html" class="fl"><img src="/_/static/hb318_jxcsedu/static/picture/dht9.jpg"></a>
    <ul class="nav_list fr">
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">招生网</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">就业网</a></li>
    </ul>
        </div>                      
        </div>
    </li>
    <li>
    <a href="/{随机字符}/{随机字符}.html">师生服务</a>
    <div class="x_nav">
    <div class="x_navbox clearfix">
    <a href="/{随机字符}/{随机字符}.html" class="fl"><img src="/_/static/hb318_jxcsedu/static/picture/dht11.jpg"></a>
    <ul class="nav_list fr">
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">通知公告</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">学生服务</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">教师服务</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">书记校长信箱</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">信息公开</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">学历查询</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">网络信息服务</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">网上办公</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">图书馆</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">学生工作</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank">应科青年</a></li>
    </ul>
        </div>                      
        </div>
    </li>
</ul>
        </div>
        
    </div>
</div>

<div class="m_head">

<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<div class="m_logo">
<a href="/{随机字符}/{随机字符}.html"><img src="/_/static/hb318_jxcsedu/static/picture/sj-logo.png"></a>
</div>
<div class="m_ss">
    <a href="/{随机字符}/{随机字符}.html" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 62163)"><img src="/_/static/hb318_jxcsedu/static/picture/m_ss.png"></a>
</div>
<!-- 手机 nav-->
<p class="m_menu"><a href="#menu"><img src="/_/static/hb318_jxcsedu/static/picture/menu.png" onclick="click_f()"></a></p>
<nav id="menu">
    <ul class="List">
	<li class="title">
            <a href="/{随机字符}/{随机字符}.html" class="logo"></a>
            <a href="#close" class="btn_mob_close"><img src="/_/static/hb318_jxcsedu/static/picture/btn_mob_close.png"></a>
        </li>
     <li class="mob_btn"><a href="/{随机字符}/{随机字符}.html">学校概况</a>
	<ul>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">学校简介</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">现任领导</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">理念特色</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">机构设置</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">图说校园</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">领导关怀</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">历史沿革</a></li>
	</ul>
     </li>
     <li class="mob_btn"><a href="/{随机字符}/{随机字符}.html">机构设置</a>
	<ul>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">董事会</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">党群部门</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">行政部门</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">教学部门</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">教辅部门</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">附属单位</a></li>
	</ul>
     </li>
     <li class="mob_btn"><a href="/{随机字符}/{随机字符}.html">新闻信息</a>
	<ul>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">校园动态</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">院系信息</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">荣耀时刻</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">媒体应科</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">视频应科</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">应科人物</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">专题快讯</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">浴星湖大讲堂</a></li>
	</ul>
     </li>
     <li class="mob_btn"><a href="/{随机字符}/{随机字符}.html">院系专业</a>
	<ul>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">人工智能学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">软件与区块链学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">智能制造工程学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">建筑工程学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">国际商务学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">财经学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">现代管理学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">光华宝石与艺术设计学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">音乐学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">教育学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">体育学院</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">马克思主义学院</a></li>
	</ul>
     </li>
     <li class="mob_btn"><a href="/{随机字符}/{随机字符}.html">教学科研</a>
	<ul>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">教务处</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">教学质量监控</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">教学评估</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">科研处</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">教师发展</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">实验实训中心</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">公共教学部</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">创新创业教育</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">网络教学平台</a></li>
	</ul>
     </li>
     <li class="mob_btn"><a href="/{随机字符}/{随机字符}.html">特色育人</a>
	<ul>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">三元育人</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">教师养德修为</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">学生素质养成教育</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">专业集群建设</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">课堂教学改革</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">第二课堂</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">产教融合协同育人</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">专业技能运动会</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">荣耀时刻</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">思想引领</a></li>
	</ul>
     </li>
     <li class="mob_btn"><a href="/{随机字符}/{随机字符}.html">招生就业</a>
	<ul>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">招生网</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">就业网</a></li>
	</ul>
     </li>
     <li class="mob_btn"><a href="/{随机字符}/{随机字符}.html">师生服务</a>
	<ul>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">通知公告</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">学生服务</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">教师服务</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">书记校长信箱</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">信息公开</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">学历查询</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">网络信息服务</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">网上办公</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">图书馆</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">学生工作</a></li>
	<li class="page_item"><a href="/{随机字符}/{随机字符}.html">应科青年</a></li>
	</ul>
     </li>
    </ul>
</nav>
</div>


<div class="c_banner">
    <div class="swiper-container">
            <div class="swiper-wrapper">
                  
<div class="swiper-slide"><a href="/{随机字符}/{随机字符}.html" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1569116587, 58131)" target="_blank"><img src="/_/static/hb318_jxcsedu/static/picture/jiaoxue01.jpg"></a></div>
              
              
<div class="swiper-slide"><a href="/{随机字符}/{随机字符}.html" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1569116587, 58132)" target="_blank"><img src="/_/static/hb318_jxcsedu/static/picture/poinggu.jpg"></a></div>
              
              
<div class="swiper-slide"><img src="/_/static/hb318_jxcsedu/static/picture/20da.jpg"></div>
              
              
<div class="swiper-slide"><a href="/{随机字符}/{随机字符}.html" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1569116587, 54693)" target="_blank"><img src="/_/static/hb318_jxcsedu/static/picture/chanjiao.jpg"></a></div>
              
              
<div class="swiper-slide"><a href="/{随机字符}/{随机字符}.html" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1569116587, 58536)" target="_blank"><img src="/_/static/hb318_jxcsedu/static/picture/daode530.jpg"></a></div>
              
</div>
        <!-- Add Arrows -->  
    </div>
     <div class="swiper-pagination"></div>
</div>

<!-- 手机 navend-->
<div class="l_con">
    <div class="l_tit">
        <div class="l_bt fl">校园动态<font>/  </font></div>
        <div class="l_wz fr">
                        <a href="/{随机字符}/{随机字符}.html">本站首页</a>
                >
                <a href="/{随机字符}/{随机字符}.html">新闻信息</a>
                >
                <a href="/{随机字符}/{随机字符}.html">{随机关键词}</a>
                >
                {关键词1}
</div>
    </div>
    
    <div class="l_box clearfix">
        <div class="l_left fl">
            <dl class="list_dl">
    <dt class="list_dt" id="open">
    <a href="/{随机字符}/{随机字符}.html">校园动态</a>
    <i class="list_dt_icon"></i>
    </dt>
    <dt class="list_dt">
    <a href="/{随机字符}/{随机字符}.html">院系信息</a>
    <i class="list_dt_icon"></i>
    </dt>
    <dt class="list_dt">
    <a href="/{随机字符}/{随机字符}.html">荣耀时刻</a>
    <i class="list_dt_icon"></i>
    </dt>
    <dt class="list_dt">
    <a href="/{随机字符}/{随机字符}.html">媒体应科</a>
    <i class="list_dt_icon"></i>
    </dt>
    <dt class="list_dt">
    <a href="/{随机字符}/{随机字符}.html">视频应科</a>
    <i class="list_dt_icon"></i>
    </dt>
    <dt class="list_dt">
    <a href="/{随机字符}/{随机字符}.html">应科人物</a>
    <i class="list_dt_icon"></i>
    </dt>
    <dt class="list_dt">
    <a href="/{随机字符}/{随机字符}.html">专题快讯</a>
    <i class="list_dt_icon"></i>
    </dt>
    <dt class="list_dt">
    <a href="/{随机字符}/{随机字符}.html">{关键词1}</a>
    <i class="list_dt_icon"></i>
    </dt>
</dl>
            <div class="l_ad"><a href="/{随机字符}/{随机字符}.html"><img src="/_/static/hb318_jxcsedu/static/picture/16.jpg"></a></div>
        </div>


        


<script language="javascript" src="/_/static/hb318_jxcsedu/static/js/NewsvoteDWR.js"></script><script language="javascript" src="/_/static/hb318_jxcsedu/static/js/engine.js"></script><script language="javascript" src="/_/static/hb318_jxcsedu/static/js/newscontent.js"></script><link href="/_/static/hb318_jxcsedu/static/css/photoswipe.css" type="text/css" rel="stylesheet"><script language="javascript" src="/_/static/hb318_jxcsedu/static/js/klass.min.js"></script><link href="/_/static/hb318_jxcsedu/static/css/format4.css" type="text/css" rel="stylesheet"><script language="javascript" src="/_/static/hb318_jxcsedu/static/js/ajax.js"></script><form name="_newscontent_fromname">
<div class="l_right fr">
    <h3 class="l_h3">{关键词1}{随机后缀}{新闻网标题}</h3>
    <div class="l_zy">
    <div>
    <font>作者：{人物名称}</font>  
    <font>发布日期：{年月日}</font>  
    <font>文章来源：{随机关键词2}
    </font>  
    <font>浏览次数：{随机3数字}</font>  
    </div>


<div class="l_fs">
   
<div class="bshare-custom"><div class="bsPromo bsPromo2"></div><a title="分享到微信" class="bshare-weixin"></a><a title="分享到QQ好友" class="bshare-qqim"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到Facebook" class="bshare-facebook"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div><script type="text/javascript" src="/_/static/hb318_jxcsedu/static/js/buttonLite.js"></script><script type="text/javascript" src="/_/static/hb318_jxcsedu/static/js/bshareC0.js"></script>

</div>
</div>

    <div id="vsb_content_4" class="l_content"><div class="v_news_content">
<p class="vsbcontent_start">{新闻网内容}</p>
<p><img src="{随机图片}" alt="{随机关键词}"></p>
</div></div><div id="div_vote_id"></div>
    
<div class="shuming">
<div class="shumingdiv">
    <div>编辑：{人物名称}</div> 
</div>
</div> 
  
    <div class="shangxiatiao">
    <p align="left">
        上一条：<a href="/{随机字符}/{随机字符}.html">{关键词1}{标题}</a><br>
        下一条：<a href="/{随机字符}/{随机字符}.html">{标题}</a>
    </p>
    </div> 
</div>
</form>
    </div>
</div>
<div class="c_footer">
    <div class="c_foot">
        <div>
            <script language="javascript" src="/_/static/hb318_jxcsedu/static/js/mp4video.js"></script>
<div class="f_lx">
<p style="margin: 0px; padding: 0px; color: rgb(221, 221, 221); text-transform: none; line-height: 30px; text-indent: 0px; letter-spacing: normal; font-family: 微软雅黑; font-size: 14px; font-style: normal; font-weight: 400; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; background-color: rgb(33, 33, 33); font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">地址：江西省南昌市新建区宏福大道{随机4数字}号</p> 
<p style="margin: 0px; padding: 0px; color: rgb(221, 221, 221); text-transform: none; line-height: 30px; text-indent: 0px; letter-spacing: normal; font-family: 微软雅黑; font-size: 14px; font-style: normal; font-weight: 400; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; background-color: rgb(33, 33, 33); font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">邮编：{随机6数字}</p> 
<p style="margin: 0px; padding: 0px; color: rgb(221, 221, 221); text-transform: none; line-height: 30px; text-indent: 0px; letter-spacing: normal; font-family: 微软雅黑; font-size: 14px; font-style: normal; font-weight: 400; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; background-color: rgb(33, 33, 33); font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">电话：{随机4数字}-{随机8数字}</p> 
<p>&nbsp;</p>
            </div>
                <div class="f_ico">
<div class="ico_er fl"><img src="/_/static/hb318_jxcsedu/static/picture/ico_1.png"><div class="er_img"><img src="{随机图片}"></div></div>
<div class="ico_er fl"><img src="/_/static/hb318_jxcsedu/static/picture/ico_2.png"><div class="er_img"><img src="{随机图片}"></div></div>
<div class="ico_er fl"><img src="/_/static/hb318_jxcsedu/static/picture/ico_3.png"><div class="er_img"><img src="{随机图片}"></div></div>
</div>
        </div>
        
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<div class="foot_img">
<img src="/_/static/hb318_jxcsedu/static/picture/f_logo.png">
</div>
    
        <div class="f_nav">
            <ul>
</ul>
            <ul>
    <li><a href="/{随机字符}/{随机字符}.html" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 62288)">友情链接：</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 62284)">教育部</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 62285)">江西省教育厅</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 62286)">中国大学生在线</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 62287)">易班-映山红网</a></li>
    <li><a href="/{随机字符}/{随机字符}.html" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1569116587, 67167)">辰林教育集团</a></li>
</ul>
        </div>
    </div>
    <div class="c_bq"><p>Copyright © {年} {关键词1} <span>All Rights Reserved&nbsp;<a href="/{随机字符}/{随机字符}.html" target="_blank">赣ICP备{随机8数字}号-7 &nbsp; 赣公网安备 {随机9数字}号</a><a href="/{随机字符}/{随机字符}.html"></a></span></p></div>
</div>
<div class="m_top"><a href="/{随机字符}/{随机字符}.html"><img src="/_/static/hb318_jxcsedu/static/picture/m_top.png"></a></div>
<script>
$(function(){

$(".m_ss img").click(function(){
    $(".m_sou").toggle();
});
$(".m_icon").click(function(){
    $(".r_alist").toggle();
});

$(".list_dt").on("click",function () {
    $('.list_dd').stop();
    $(this).siblings("dt").removeAttr("id");
    if($(this).attr("id")=="open"){
        $(this).removeAttr("id").siblings("dd").slideUp();
    }else{
        $(this).attr("id","open").next().slideDown().siblings("dd").slideUp();
    }
});

$(".list_dt").each(function(){
    if($(this).next().find('li').length==0){
        $(this).find('.list_dt_icon').hide()
        }
  });
})
</script>

<script type="text/javascript" src="/_/static/hb318_jxcsedu/static/js/swiper.min.js"></script>


<script>
var mySwiper = new Swiper('.c_banner .swiper-container',{
    pagination: '.swiper-pagination',
    paginationClickable: true,
    autoplay:5000,
    loop:true
  })
var swiper = new Swiper('.m_fw .swiper-container', {
    //pagination: '.swiper-pagination',
    paginationClickable: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
    loop:true
});

$(function(){

$(".m_ss img").click(function(){
    $(".m_sou").toggle();
});

$('.q_tab li').mouseenter(function(){
    $(this).addClass('on').siblings().removeClass('on');
    $('.q_con>div:eq('+$(this).index()+')').show().siblings().hide();   
    })

$('.q_nav li').click(function(){
    $(this).addClass('on').siblings().removeClass('on');
    $('.yx_con >div:eq('+$(this).index()+')').show().siblings().hide(); 
    })
})

</script>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a</div>
	
</body>
</html>
