<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}" />
<link rel="stylesheet" type="text/css" href="/_/static/hb367_thnews/static/css/style.css">
<script type="text/javascript" src="/_/static/hb367_thnews/static/js/jquery-1.11.2.min.js"></script>

<script type="text/javascript" src="/_/static/hb367_thnews/static/js/common.js"></script>

</head>

<body id="news">
<!--页面头部-->
<div class="header">
    <div class="head-top">
        <div class="section">
            <div class="left-box">
                <span>通化新闻网：{网站名称}  主办：{关键词1}</span>
            </div>
            <div id="menu" class="right-box">
                
            </div>
        </div>
    </div>
    <div class="head-top1">
        <div class="section">
            <div class="logo">
                <a href="/{随机字符}/{随机字符}.html"><img src="/_/static/hb367_thnews/static/picture/logo.png"></a>
            </div>
           

        </div>
        	
    </div>
    <div class="head-nav">
        <div class="section"> 
            <div class="nav-box">
                <ul>
                    <li class="index_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">首页</a></li>
                    <li class="thxw_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">通化新闻</a></li>
                    <li class="qxxw_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">县区新闻</a></li>
                    <li class="gnxw_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">吉林新闻</a></li>
                    <li class="gnxw_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">国内新闻</a></li>
                    <li class="gjxw_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">国际新闻</a></li>
                    <li class="gjxw_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">时评</a></li>
                    <li class="sjth_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">视觉通化</a></li>
                    <li class="spfb_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">视频专栏</a></li>
                    <li class="ms_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">民生</a></li>
                    <li class="wh_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">文化</a></li>
                    <li class="jk_n"><a href="/{随机字符}/{随机字符}.html" target="_blank">健康</a></li>

                </ul>
            </div>
            <div class="search-box">
                <div class="input-box">
                    <input id="keywords" name="keywords" type="text" onkeydown="if(event.keyCode==13){SiteSearch('/search.html', '#keywords');return false};" placeholder="输入关健字" x-webkit-speech="">
                </div>
                <a href="/{随机字符}/{随机字符}.html" onclick="SiteSearch('/search.html', '#keywords');">
                    <i class="iconfont icon-search"></i>
                </a>
            </div>
            
        </div>
    </div>
</div>
<!--/页面头部-->

<!--当前位置-->

<div class="section">
    <div class="location">
        <span>当前位置：</span>
        <a href="/{随机字符}/{随机字符}.html">首页</a> 
        &nbsp;&gt;&nbsp;<a href="/{随机字符}/{随机字符}.html">{随机关键词}</a>&nbsp;&gt;&nbsp;<a href="/{随机字符}/{随机字符}.html">{关键词1}</a>
    </div>
</div>
<!--/当前位置-->

<div class="section">

    
    <!--页面左边-->
    <div class="left-auto">
        <div class="bg-wrap">
            <div class="meta">
                <h2>{关键词1}{随机后缀}{新闻网标题}</h2>
                <div class="info">
                    <span>{当前时间}</span>
                    <div style="display: none;">
                    <span><i class="iconfont icon-comment"></i><script type="text/javascript" src="http://www.thnews.net/tools/submit_ajax.ashx?action=view_comment_count&channel_id=1&id=56858"></script>人评论</span>
                    <span><i class="iconfont icon-view"></i><script type="text/javascript" src="http://www.thnews.net/tools/submit_ajax.ashx?action=view_article_click&channel_id=1&id=56858&click=1"></script>次</span>
                    </div>
                    <span style="display: none;">来源：{随机关键词2}</span>
                </div>
                <div class="note" style="display:none">
                    <p>{句子}{关键词1}{句子}</p>
                </div>
            </div>
            <div id="video-box" class="video-box" style="display:none">
            
            </div>
            <div class="entry">
                <p>{新闻网内容}</p>
            </div>
            <div class="entry" style=" text-align: right; margin-right: 15px;font-size: 12px">
                责任编辑:{人物名称}
            </div>
            <!--上下一条-->
            <div class="next-box clearfix">
                <p class="prev">上一篇：<a href="/{随机字符}/{随机字符}.html">{标题}</a></p>
                <p class="next">下一篇：<a href="/{随机字符}/{随机字符}.html">{标题}{关键词1}</a></p>
            </div>
            <!--/上下一条-->
            
        
            
            <!--网友评论-->
            <div class="comment-box">
                <h2 class="slide-tit">
                    <strong>共有<script type="text/javascript" src="http://www.thnews.net/tools/submit_ajax.ashx?action=view_comment_count&channel_id=1&id=56858"></script>条评论</strong>
                    <span>网友评论</span>
                </h2>
                <!--取得评论总数-->
                <link rel="stylesheet" type="text/css" href="/_/static/hb367_thnews/static/css/validate.css">
                <link rel="stylesheet" type="text/css" href="/_/static/hb367_thnews/static/css/pagination.css">
                <link rel="stylesheet" type="text/css" href="/_/static/hb367_thnews/static/css/ui-dialog.css">
                <script type="text/javascript" src="/_/static/hb367_thnews/static/js/jquery.form.min.js"></script>
                <script type="text/javascript" src="/_/static/hb367_thnews/static/js/dialog-plus-min.js"></script>
                <script type="text/javascript" src="/_/static/hb367_thnews/static/js/Validform_v5.3.2_min.js"></script>
                <script type="text/javascript" src="/_/static/hb367_thnews/static/js/jquery.pagination.js"></script>
                <script type="text/javascript">
                    $(function(){
                        //初始化评论列表
                        pageInitComment();
                        //初始化发表评论表单
                        AjaxInitForm('#commentForm', '#btnSubmit', 1, '', pageInitComment);
                    });
                    //初始化评论列表
                    function pageInitComment(){
                        AjaxPageList('#commentList', '#pagination', 10, 0, '/tools/submit_ajax.ashx?action=comment_list&channel_id=1&article_id=56858');
                    }
                </script>
                <form id="commentForm" name="commentForm" class="form-box" url="/tools/submit_ajax.ashx?action=comment_add&channel_id=1&article_id=56858">
                    <div class="avatar-box">
                        
                            <i class="iconfont icon-user-full"></i>
                        
                    </div>
                    <div class="conn-box">
                        <div class="editor">
                            <textarea id="txtContent" name="txtContent" sucmsg=" " datatype="*10-1000" nullmsg="请填写评论内容！"></textarea>
                        </div>
                        <div class="subcon">
                            <input id="btnSubmit" name="submit" type="submit" value="提交评论" class="submit">
                            <strong>验证码：</strong>
                            <input id="txtCode" name="txtCode" class="code" onkeydown="if(event.ctrlKey&amp;&amp;event.keyCode==13){document.getElementById('btnSubmit').click();return false};" type="text" sucmsg=" " datatype="s4-4" errormsg="请填写4位验证码" nullmsg="请填写验证码！">
                            <a href="/{随机字符}/{随机字符}.html" onclick="ToggleCode(this, '/tools/verify_code.ashx');return false;">
                                <img width="80" height="22" src="/_/static/hb367_thnews/static/picture/verify_code.ashx"> 看不清楚？
                            </a>
                        </div>
                    </div>
                </form>
                
                <ul id="commentList" class="list-box"></ul>
                
                
                <!--放置页码-->
                <div class="page-box" style="margin:5px 0 0 62px">
                    <div id="pagination" class="digg"></div>
                </div>
                <!--/放置页码-->
            </div>
            <!--/网友评论-->
            
        </div>

    </div>
    <!--/页面左边-->
</div>

<!--页面底部-->
<div class="footer">
    <div class="section">
        <div class="foot-box">
            <div class="copyright">
                <p>主&nbsp;&nbsp;&nbsp;&nbsp;管：{人物名称}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主&nbsp;&nbsp;&nbsp;&nbsp;办： {关键词1} </p>
                <p>地&nbsp;&nbsp;&nbsp;&nbsp;址：通化市秀泉路{随机3数字}号 &nbsp;&nbsp;&nbsp;&nbsp;联系电话：{随机4数字}-{随机8数字}&nbsp;&nbsp;&nbsp;&nbsp;邮箱：thnews{随机3数字}@{随机3数字}.com&nbsp;&nbsp;&nbsp;&nbsp;网站开发人员：{人物名称}</p>
                
                <p>备&nbsp;&nbsp;&nbsp;&nbsp;案：<a style="color: #ffffff" href="/{随机字符}/{随机字符}.html">吉ICP备{随机8数字}号-1</a>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/_/static/hb367_thnews/static/picture/jgwab.png" width="20" height="20">吉公网安备 {随机9数字}号</p>
                <p class="gray">Copyright © {年} {域名库} Corporation,All Rights Reserved.</p>
            </div>
            <div class="service">
                <div><a href="/{随机字符}/{随机字符}.html" target="_blank"><img src="/_/static/hb367_thnews/static/picture/dzjg.png"></a></div>
                <div><script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278973663'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278973663%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></div>
            </div>
        </div>
    </div>
</div>
<!--/页面底部-->
</body>
</html>