<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "{当前url}">
<html xmlns="{当前url}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="/_/static/hb39_m.zgnt/static/css/style.css" rel="stylesheet">
<script src="/_/static/hb39_m.zgnt/static/js/jquery.min.js"></script>
<script src="/_/static/hb39_m.zgnt/static/js/jquery.SuperSlide.2.1.2.js"></script>
<link href="/_/static/hb39_m.zgnt/static/css/inner.css" rel="stylesheet">
<link href="/_/static/hb39_m.zgnt/static/css/common.css" rel="stylesheet">
<link href="/_/static/hb39_m.zgnt/static/css/mobile.css" rel="stylesheet" type="text/css">





<!--飘红
<style>
body {background: url({当前url}) no-repeat center top fixed #fff;}
</style>
-->
<!--黑白
<style type="text/css">
body{-webkit-filter: grayscale(100%);}
</style>
-->




</head>
<body>

<div class="floatR white" style="position: fixed; left: 50%; top: 280px;">
   <ul>
      <li class="backToTop"><img src="/_/static/hb39_m.zgnt/static/picture/arrow.png">顶部</li>
   </ul>
</div>








<!--头部开始-->

<div id="top" class="clearfix article_head">
<div class="w1200">
<div></div>
<div class="search"></div>
<div class="search_button">

</div>
<div class="weather">

<div class="opt">
        
</div>

</div>
</div>
</div>

<!--头部结束-->

<!--导航开始-->

<div class="daohang clearfix article_head">
<span><a href="/{随机字符}/{随机字符}.html" target="_blank">首页</a></span>
<span><a href="/{随机字符}/{随机字符}.html" target="_blank">{关键词1}</a></span>
<span><a href="/{随机字符}/{随机字符}.html" target="_blank">即时发布</a></span>
<span><a href="/{随机字符}/{随机字符}.html" target="_blank">视频直播</a></span>
<span><a href="/{随机字符}/{随机字符}.html" target="_blank">图说南通</a></span>
<span><a href="/{随机字符}/{随机字符}.html" target="_blank">理论圆桌</a></span>
<span><a href="/{随机字符}/{随机字符}.html" target="_blank">江海评论</a></span>
<span><a href="/{随机字符}/{随机字符}.html" target="_blank">财富天地</a></span>
<span><a href="/{随机字符}/{随机字符}.html" target="_blank">热点专题</a></span>
<span><a href="/{随机字符}/{随机字符}.html" target="_blank">通知公告</a></span>
</div>

<!--导航结束-->
<!---->
<!---->
<div class="w1200 mgOauto clearfix">


<div class="tit01 mgt20 mgb20 font16"><a href="/{随机字符}/{随机字符}.html">首页</a> &gt;
  {随机关键词} &gt; {关键词1} </div>


<h1 class="bigTit font30 font-w 
    "><strong>{新闻网标题}</strong></h1>

</div>



<div class="w1200 mgOauto clearfix">



<div class="ldate fl mgt40 font20">
    <p>{今日时间}</p>
    
    <!--<p class="k font12"><span>浏览</span></p>
      <p class="mgb20" id="clickCount"></p>-->
    
    <p class="k font12"><span>来源</span></p>
    <p class="font14 mgb20">
      {关键词1}            </p>
    
    <div class="share">
      
        <div>
          
        </div>
      
    </div>
  </div>



<div class="rcon fr mgt40 por">


	
<div id="zoom" class="font16">
  {新闻网内容}
<img src="{随机图片}" alt="{随机关键词}"> 
<div style="text-align:right"></div>
</div>
</div>

</div>





<!-- 尾区开始 -->
<!--
<div class="footer_main">
<div class="w1200">
<div class="footer">
<span>{网站名称} {年} 版权所有</span><br />

</div>
</div>
</div>
-->
<!-- 尾区结束 -->



<div>
   <p>{网站名称} {年} 版权所有 </p>
  
   
   
</div>









<script src="/_/static/hb39_m.zgnt/static/js/common.js"></script>
	<div style="display:none;"></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a</div>
</body>
</html>
