





<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="ColumnName" content="">
<meta name="ColumnDescription" content="">
<meta name="ColumnKeywords" content="">
<meta name="ColumnType" content="{关键词1}">
<meta name="ArticleTitle" content="{标题}">
<meta name="PubDate" content="{今日时间}">
<meta name="ContentSource" content="{关键词1}">
<base target="_blank">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}" />
<meta property="og:description" content="{句子}">
<meta property="og:title" content="{描述}">
<link type="text/css" rel="stylesheet" href="/_/static/hb71_rednet/static/css/list.css">
<link type="text/css" rel="stylesheet" href="/_/static/hb71_rednet/static/css/new_list.css">
<script>
var siteName = "{关键词1}";
var siteId="269";
var siteUrl="{域名库}"
var pcDomain="{域名库}";
var wapDomain="{域名库}";
var channelId="27870";
var contentId="11864482";
var contentTitle="{关键词1}";
var contentSummary="";
var channelUrl="/channel/0.html";
var contentUrl="/content/2022/09/23/11864482.html";
var ckie = pcDomain+ '-favCookieUUID-' + contentId;
var contentType="2";
var terminal="1";
var newsType="1";
</script>


<!--[if lte IE 8]>
<script src="//j.rednet.cn/site//static/hb71_rednet/static/js/lib/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="/_/static/hb71_rednet/static/js/jquery.js"></script>

<script type="text/javascript" src="/_/static/hb71_rednet/static/js/jquery.qrcode.js"></script>
<script src="/_/static/hb71_rednet/static/js/jquery.mystorage.js"></script>
<!--[if lte IE 9]>
	<script type="text/javascript" src="//j.rednet.cn/site//static/hb71_rednet/static/js/jquery.xdomainrequest.min.js">
<![endif]-->

<script type="text/javascript" src="/_/static/hb71_rednet/static/js/public.js"></script>
  <script type="text/javascript" src="/_/static/hb71_rednet/static/js/jweixin-1.2.0.js"></script>
  <script type="text/javascript" src="/_/static/hb71_rednet/static/js/wxshare.js"></script>

</head>
<body>

		<div class="list_header" id="list_header_unLogin">
			<!--<div class="user">
				<a class="loginBtn" href="/registlogin.html"><span class="toBaoming">我要登录</span></a>
			</div>-->
		</div>


<div>
</div>



<main class="block">
<section class="crumb">
	<div id="div_listPageLocation" class="breadcrumb"><a href="/{随机字符}/{随机字符}.html">{随机关键词}</a>&gt;<a href="/{随机字符}/{随机字符}.html">{随机关键词}</a>&gt;<span>{关键词1}</span>        </div>
</section>
<section class="overf block whitebak">
<section class="">
<h1 class="detail_title">{关键词1}{随机后缀}{新闻网标题}</h1>
<div class="detail_source t-center" style="font-size: 14px;color: #878787;">
    <span class="p_l_10">来源：{关键词1}</span>
    <span class="p_l_40">作者：{人物名称} </span>
    <span class="p_l_40">{今日时间}</span>
    <span class="p_l_10" id="numpv"></span>

</div>






<article class="f18 detail_article m_b_20">



       
                <article class="f18 detail_article m_b_30">
    
            <section class="f_left detail_share" title="">
		<div id="div_share2" class="module" style="min-height:50px;" pageid="10895" terminal="1" modulename="详情页二维码" moduletype="1" fetchdatatype="2" manualdata="[]" pagesize="1" fileid="null">

                <div class="label"></div>
                
                <div id="qrcode" style="width:100px; height:100px; margin-top:15px; display:none;position: absolute;margin-left: 70px;z-index:99;top: 110px;left: -65px;"></div>
		</div>
            </section>
          
            <script>
            $('#qrcode').qrcode({
              text: location.href,
              height: 100,
              width: 100,
              src: ''
            })
          
            $("#tcode").mouseover(function (){  
                $("#qrcode").show();  
            }).mouseout(function (){  
                $("#qrcode").hide();  
            });  
          
            </script>

<section class="detail_source detail_line ">
<ct><p style="text-align:center"><img src="{随机图片}" title="{随机关键词}" data-resourceid="{随机关键词}" alt="{随机关键词}" _styleapp="width: 1080px; height: 608px; "  class="lazyload"></p>{新闻网内容}<p style="text-align:center"><img src="{随机图片}" title="{随机关键词}" data-resourceid="{随机关键词}" alt="{随机关键词}" _styleapp="width: 1080px; height: 1920px; " ></p></ct>

</section>


</article>

</article></section>


</section>
</main>


<footer class="footers">		
			<div class="footline">© {网站名称} 版权所有</div>	
		</footer>

		<div class="right_lay">


			<div class="goTop">
				<a id="btn">
					<div><img src="/_/static/hb71_rednet/static/picture/icon_detail_top.png"></div>
				</a>
			</div>
					<div><a href="/{随机字符}/{随机字符}.html"><img src="/_/static/hb71_rednet/static/picture/icon_detail_home.png"></a></div>

		</div>

<script>

		$(document).ready(function () {
			//首先将#btn隐藏
			$(".right_lay, .wechat_sus").hide();
			//当滚动条的位置处于距顶部50像素以下时，跳转链接出现，否则消失
			$(function () {
				$(window).scroll(function () {
					if ($(window).scrollTop() > 528) {
						$(".right_lay, .wechat_sus").fadeIn(200);
					} else {
						$(".right_lay, .wechat_sus").fadeOut(200);
					}
				});
				//当点击跳转链接后，回到页面顶部位置
				$(".goTop").click(function () {
					$('body,html').animate({
						scrollTop: 0
					},
						500);
					return false;
				});


			});
		});


		$(".list_header").hide();
		$("#list_header_unLogin").show();
		// 获取登录状态
		$(function () {
			$.ajax({
				type: "get",
				url: pubUrl + "/praise-login/getUserByToken",
				contentType: "application/json",
				dataType: "json",
				beforeSend: function (request) {
					request.setRequestHeader("x-Token", myStorage.getItem("tx_boken"));
					request.setRequestHeader("portal", "portal");
				},
				success: function (data) {
					if (data) {
						$(".toBaoming").html("我要投稿")
						//getWorkData(data.id, data.realName);
						$("#userId").val(data.id);
						$(".mobile").html(data.mobile);
						if (data.recommendType == '1') { // 个人账号
							$("#isOrg").hide();
							$("#realName, .realName").html(data.realName);
							$(".adress").html(data.address);
							$(".identity").html(data.identityCard);
						}

						if (data.recommendType == '2') { // 组织账号
							$("#isPersonal").hide();
							$(".orgName").html(data.orgName);
							$("#realName, .contacts").html(data.orgContacts);
						}
					}
					$(".list_header").show();
					$("#list_header_unLogin").hide();
				},
				error: function (data) {
					console.log(data.responseJSON);
				}

			});

			// 登出
			$("#logout").click(function () {
				$.ajax({
					type: "get",
					url: pubUrl + "/praise-login/logout",
					contentType: "application/json",
					dataType: "json",
					beforeSend: function (request) {
						request.setRequestHeader("x-Token", "");
					},
					success: function (data) {
						myStorage.setItem("tx_boken", "");
						window.location.reload();
					},
					error: function (data) {
						console.log(data.responseJSON);
					}

				});
			});
		});


		if (myStorage.getItem("expires") - curTime > 0 && myStorage.getItem("tx_boken") != "") {
			myStorage.setItem("tx_boken", myStorage.getItem("tx_boken"));
			myStorage.setItem("expires", curTime + expireTime);
		} else {
			myStorage.setItem("tx_boken", "");
			myStorage.setItem("expires", "");
		}


var APIURL = (window.location.href.indexOf("172.16.6.2") > 0 ? "//172.16.6.49:8080" : "https://front-web.rednet.cn");
	
function visitLog() {
		$.ajax({
			type: "post",
			contentType: "application/json; charset=utf-8",
			url: APIURL + "/content/visit/",
			data: JSON.stringify({
				contentId: contentId,
				channelId: channelId,
				siteId: siteId,
				terminal: '1',
				url: window.location.href
			}),
			dataType: 'json',
			success: function (resp) {

			}
		});
	}

	visitLog();


</script>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a</div>
</body>
</html>
