<!doctype html>
<html>
 <head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"> 
  <meta name="apple-mobile-web-app-capable" content="yes"> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
  <meta name="format-detection" content="telephone=no"> 
  <meta name="screen-orientation" content="portrait"> 
  <meta name="full-screen" content="yes"> 
  <meta name="browsermode" content="application"> 
  <meta name="x5-orientation" content="portrait"> 
  <meta name="x5-fullscreen" content="true"> 
  <meta name="x5-page-mode" content="app"> 
  <meta name="wap-font-scale" content="no"> 
  <title>{自定义标题}</title>
  <meta name="keywords" content="{关键词1}" />
  <meta name="description" content="{自定义描述}" />
  <link rel="miphtml" href="/_/static/ow10_m.lhdown/css/131075.html"> 
  <link rel="canonical" href="/_/static/ow10_m.lhdown/css/131075_e22db21b9afa43789b043d5a5453a0e8.html"> 
  <script>
	if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
		var t = "iphone";
	} else{
		var t = "az";
	}
	var mid = "12";
	var id = "131075";
	var down_status = "1";
	var azdown = "http://lh.houhou520.com/soft/Dungreed.apk";
	var iosdown = "";
	var bid = "0";
			var ad_url = 0;
	</script> 
 </head> 
 <body id="DownBody"> 
  <link href="/_/static/ow10_m.lhdown/css/style.css" rel="stylesheet" type="text/css"> 
  <script data-main="//m.lhdown.com/statics/js/webapp_y" src="/_/static/ow10_m.lhdown/js/require.js"></script> 
  <header class="top"> 
   <a href="//m.lhdown.com/"></a> 
   <p id="topcat" class="stop-jump"><b>分类</b></p> 
   <div id="topcat-box"> 
    <p class="swiper-pagination"></p> 
    <div class="swiper-wrapper"> 
     <div class="swiper-slide"> 
      <ul> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
      </ul> 
     </div> 
     <div class="swiper-slide"> 
      <ul> 
       or<li><a href="{泛站内链}"><span>{关键词1}</span>{关键词1}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
       or<li><a href="{泛站内链}"><span>{随机关键词}</span>{随机关键词}</a></li> 
      </ul> 
     </div> 
    </div> 
   </div> 
   <form action="/search.html" method="get" class="bdcs-search-form" id="bdcs-search-form"> 
    <div class="search-box"> 
     <div class="search-input"> 
      <input type="text" name="q" class="bdcs-search-form-input" id="bdcs-search-form-input" value="{关键词1}" onfocus="if(this.value=='{关键词1}') this.value=''" onblur="if(this.value=='') this.value='{关键词1}'"> 
     </div> 
     <div class="search-btn"> 
      <input type="submit" class="bdcs-search-form-submit " id="bdcs-search-form-submit" value="搜索"> 
     </div> 
    </div> 
   </form> 
  </header> 
  <nav id="nav"> 
   <ul class="main-nav"> 
    <li> <a href="{泛站内链}">首页</a> </li> 
    <li> <a href="{泛站内链}">软件</a> </li> 
    <li> <a href="{泛站内链}">{关键词1}</a> </li> 
    <li> <a href="{泛站内链}">资讯</a> </li> 
    <li> <a href="{泛站内链}">专题</a> </li> 
   </ul> 
   <p class="pull-nav stop-jump"><span><i></i></span></p> 
   <ul class="more-nav"> 
    <li> <a href="{泛站内链}">手游库</a> </li> 
    <li> <a href="{泛站内链}">应用库</a> </li> 
   </ul> 
  </nav>
  <p class="toolbar cat"><span class="back" onclick="javascript:history.go(-1)"></span><b><a href="{泛站内链}">休闲益智</a></b></p> 
  <header id="soft-info" data-current="//m.lhdown.com/shouji/131075.html"> 
   <img id="img" src="{随机图片}" alt="{关键词1}"> 
   <h1 id="title">{关键词1} v1.6.163</h1> 
   <p><span>大小：{随机数字}</span><span><em class="star star4"></em></span></p> 
   <p><span>语言：中文</span><span>系统：Android</span></p> 
   <p><span>类别：<a href="{泛站内链}"   class="c1">{随机关键词}</a></span><span>时间：{当前时间}</span></p> 
  </header> 
  <section id="nav_left_layout"> 
   <div id="soft-download"> 
    <script src="/_/static/ow10_m.lhdown/js/down.js"></script> 
   </div> 
  </section> 
  <section class="content mg-t1"> 
   <div class="caption">
    <b>应用介绍</b>
   </div> 
   <div class="textbody"> 
    <div id="apkdb"> 
     <div id="top_menua" class="top_menua"> 
      <div class="top_menu_lista"> 
       <ul class="apkdb_02" id="details-pic"> 
        <li class="apkdb_02li"><img src="{随机图片}"></li> 
        <li class="apkdb_02li"><img src="{随机图片}"></li> 
        <li class="apkdb_02li"><img src="{随机图片}"></li> 
        <li class="apkdb_02li"><img src="{随机图片}"></li> 
        <li class="apkdb_02li"><img src="{随机图片}"></li> 
        <li class="apkdb_02li"><img src="{随机图片}"></li> 
        <li class="apkdb_02li"><img src="{随机图片}"></li> 
        <li class="apkdb_02li"><img src="{随机图片}"></li> 
       </ul> 
      </div> 
     </div> 
    </div> 
    <div id="details"> 
     <p>{关键词1}{句子}</p> 
     <p style="text-align: center;"><img src="{随机图片}"></p> 
     <h3>游戏介绍</h3> 
     <p>{句子}</p> 
     <p style="text-align: center;"><img src="{随机图片}"></p> 
     <h3>游戏特色</h3> 
     <p>1、{句子}</p> 
     <p>2、{句子}</p> 
     <p>3、{句子}</p> 
     <p>4、{句子}</p> 
     <p style="text-align: center;"><img src="{随机图片}"></p> 
     <h3>游戏亮点</h3> 
     <p>1、{句子}</p> 
     <p>2、{句子}{关键词1}</p> 
     <p>3、{句子}</p> 
     <p>4、{句子}</p> 
     <p style="text-align: center;"><img src="{随机图片}"></p> 
     <h3>游戏优势</h3> 
     <p>1、{句子}</p> 
     <p>2、{句子}</p> 
     <p>3、{句子}</p> 
     <p>4、{句子}</p> 
     <p style="text-align: center;"><img src="{随机图片}"></p> 
     <h3>更新日志</h3> 
     <p>{句子}</p> 
     <h3>小编点评</h3> 
     <p>{关键词1}{句子}</p> 
    </div> 
    <div id="expand" class="boxmore">
     <span class="stop-jump">展开</span>
    </div> 
   </div> 
  </section> 
  <section class="related-topics alike"> 
   <p class="caption"><b>相关专题</b></p> 
   <nav id="nTab" class="swiper-pagination tab-hd"> 
    <span class="swiper-pagination-bullet cur">{网站名称}</span> 
    <span class="swiper-pagination-bullet">{关键词1}</span> 
   </nav> 
   <div class="tab-bd"> 
    <div> 
     <ul class="topics-list artlist"> 
      <li> <a href="{泛站内链}"  > 
        <div class="imgarea">
         <span><img src="{随机图片}"></span>
        </div> 
        <div class="txtarea"> 
         <h2>{网站名称}</h2> 
         <p>{句子}</p> 
        </div> </a> </li> 
     </ul> 
     <ul class="list-android hot-soft-list"> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{{关键词1}}"> <b>{{关键词1}}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
     </ul> 
    </div> 
    <div class="none"> 
     <ul class="topics-list artlist"> 
      <li> <a href="{泛站内链}"> 
        <div class="imgarea">
         <span><img src="{随机图片}"></span>
        </div> 
        <div class="txtarea"> 
         <h2>{关键词1}</h2> 
        </div> </a> </li> 
     </ul> 
     <ul class="list-android hot-soft-list"> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{关键词1}"> <b>{关键词1}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
      <li> <a href="{泛站内链}"  > <img src="{随机图片}" alt="{随机关键词}"> <b>{随机关键词}</b> </a> </li> 
     </ul> 
    </div> 
   </div> 
  </section> 
  <section class="alike"> 
   <p class="caption"><b>猜您喜欢</b></p> 
   <ul class="hot-soft-list"> 
    <li> <a href="{泛站内链}"  ><img src="{随机图片}" alt="{随机关键词}"><b>{随机关键词}</b></a> <a href="{泛站内链}"   class="btn">详情</a> </li> 
    <li> <a href="{泛站内链}"  ><img src="{随机图片}" alt="{随机关键词}"><b>{随机关键词}</b></a> <a href="{泛站内链}"   class="btn">详情</a> </li> 
    <li> <a href="{泛站内链}"  ><img src="{随机图片}" alt="{随机关键词}"><b>{随机关键词}</b></a> <a href="{泛站内链}"   class="btn">详情</a> </li> 
    <li> <a href="{泛站内链}"  ><img src="{随机图片}" alt="{随机关键词}"><b>{随机关键词}</b></a> <a href="{泛站内链}"   class="btn">详情</a> </li> 
    <li> <a href="{泛站内链}"  ><img src="{随机图片}" alt="{关键词1}"><b>{关键词1}</b></a> <a href="{泛站内链}"   class="btn">详情</a> </li> 
    <li> <a href="{泛站内链}"  ><img src="{随机图片}" alt="{随机关键词}"><b>{随机关键词}</b></a> <a href="{泛站内链}"   class="btn">详情</a> </li> 
    <li> <a href="{泛站内链}"  ><img src="{随机图片}" alt="{随机关键词}"><b>{随机关键词}</b></a> <a href="{泛站内链}"   class="btn">详情</a> </li> 
    <li> <a href="{泛站内链}"  ><img src="{随机图片}" alt="{随机关键词}"><b>{随机关键词}</b></a> <a href="{泛站内链}"   class="btn">详情</a> </li> 
   </ul> 
  </section> 
  <section class="alike"> 
   <strong>同类推荐</strong> 
   <div id="alikeroller"> 
    <ul> 
     <li> <a href="{泛站内链}"  ><img src="{随机图片}">{网站名称}</a><em class="star star4"></em> </li> 
    </ul> 
   </div> 
  </section> 
  <div id="botwrapper"></div> 
  <footer class="bottom"> 
   <a id="goTop" href="javascript:void(0)" style="">返回顶部</a> 
   <p> <a href="http://{当前域名}/sitemap.xml">网站地图</a>| <a id="pcrequest" target="_blank" href="{泛站内链}">访问电脑版</a>| <a href="//m.lhdown.com/">返回首页</a> </p> 
  </footer> 
  <script src="/_/static/ow10_m.lhdown/js/jquery.js"></script> 
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?543fafba76abf7f4ef70d7af6bf71362";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script> 
  <div style="position:absolute; width:0px; height:0px; z-index:1; display:none">
   <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e66fdc5f4dccddae16668caa38481496";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
  </div>
  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
 </body>
</html>