<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}">
<meta name="Author" content="www.ynicp.com"> 
<meta name="Copyright" content="www.ynicp.com">
<style type="text/css">
	@import url("/_/static/ow112_hqzxxw/static/css/base.css");
	@import url("/_/static/ow112_hqzxxw/static/css/subpage.css");
	@import url("/_/static/ow112_hqzxxw/static/css/public.css");
	@import url("/_/static/ow112_hqzxxw/static/css/reset.css");
</style>
<script type="text/javascript" src="/_/static/ow112_hqzxxw/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/_/static/ow112_hqzxxw/static/js/jquery.SuperSlide.2.1.1.js"></script>
</head>

<body>
<!--列表页固定头部-->
<link rel="stylesheet" href="/_/static/ow112_hqzxxw/static/css/pagination.css">
<script type="text/javascript" src="/_/static/ow112_hqzxxw/static/js/common.js"></script>
<div class="gd_top">
	<!--头部-->
	<div class="top_navBr">
		<div class="top_navBr_box">
			<div class="weather">
				<iframe scrolling="no" src="api-tx_pitaya_5.html" frameborder="0" width="100%" height="30" allowtransparency="true"></iframe>
			</div>
			<!--天气插件点击跳转链接-->
			<div class="website">
				<a href="http://{当前域名}/sitemap.xml" title="网站地图">网站地图</a>
			</div>
		</div>
	</div>
	
	<!--logo-->
	<div class="logo">
		<div class="logo_box">
			<div class="logo_icon">
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="首页">
					<img src="/_/static/ow112_hqzxxw/static/picture/201912181851138014.png" alt="网站logo">
				</a>
			</div>
			<div class="serach">
				<input type="text" id="keywords" placeholder="请输入你要查询的关键字" class="shuru" onkeydown="if(event.keyCode==13){SiteSearch('/search.html', '#keywords');return false};">
				<a href="javascript:SiteSearch('/search.html', '#keywords');">
					<input type="button" value="" class="sousuo">
				</a>
			</div>
		</div>
	</div>
	<!--主导航-->
	<div class="navBr">
		<div class="navBr_box">
			<ul>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="首页">首页</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="热点">热点</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="政务">政务</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="法制">法制</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="国防">国防</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="警务">警务</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="记者">记者</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="工青妇">工青妇</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="民生">民生</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="健体">健体</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="科技">科技</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="文旅">文旅</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="商务">商务</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="农林">农林</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="交通">交通</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="县域">县域</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="民族">民族</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="头条">头条</a></li>
				<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="小记者">小记者</a></li>
			</ul>
		</div>
	</div>
</div>



<!--二级导航-->

		<div class="ej_nav">
			<div class="ej_nav_title"><!--<img src="" alt="">--></div>
			<ul>
		
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国航空">中国航空</a></li>
		
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="客运新闻">客运新闻</a></li>
		
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="铁路报道">铁路报道</a></li>
		
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="体验民生">体验民生</a></li>
		
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="空旅焦点">空旅焦点</a></li>
		
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="高铁新闻">高铁新闻</a></li>
		
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="今日铁路">今日铁路</a></li>
		
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="铁路焦点">铁路焦点</a></li>
		
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="铁路头条">铁路头条</a></li>
		
			</ul>
		</div>
		
<!--文章内容-->
<div class="xw_contant">
	<div class="xw_contant_box">
		<!--文章标题-->
		<div class="wz_title">
			<h1>{关键词1}{随机后缀}{新闻网标题}</h1>
			<div class="wz_title_bz">
				<span>作者：{人物名称} {人物名称} {人物名称}&nbsp;&nbsp;&nbsp;&nbsp;来源：{关键词1}&nbsp;&nbsp;&nbsp;&nbsp;时间：2020-10-27 09:16:19</span>
				<div class="wz_ty">报道：{人物名称} {人物名称}</div>
				<div class="wz_ls">浏览数：{随机数字} </div>
				<div class="wz_fxpl">
					
			
					<em><b>0</b>评论</em>
			
					
					<div class="fx"></div>
				</div>
			</div>
		</div>
		<!--文航主体-->
		<div class="wz_zt">
			<!--左边-->
			<div class="wz_zt_left">
				<div class="wz_zt_left_con">
					
					<p><p>
	<img src="/_/static/ow112_hqzxxw/static/picture/202010270909352892.gif" alt="">
</p>
<p>{新闻网内容}</p>
					
				</div>
				<!--上下篇-->
				<div class="sxp">
				<div class="sxp_ox"><span>上一篇：</span><b><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></b></div>
				<div class="sxp_ox"><span>下一篇：</span><b><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></b></div>
				</div>
				
				<!--相关推荐-->
				<div class="picMarquee-left">
					<div class="bd">
						<ul class="picList">
						
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}{关键词1}" target="_blank">
										{标题}{关键词1}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							<li>
								<div class="pic">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										<img src="{随机图片}" alt="{标题}">
									</a>
								</div>
								<div class="title01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
										{标题}
									</a>
								</div>
							</li>
							
							
						</ul>
					</div>
				</div>
				
				<script type="text/javascript">
				jQuery(".picMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:5,interTime:50});
				</script>
				
				<!--评论-->
				
			</div>
			<!--右边-->
		<div class="hot_contant_right">
				<div class="hot_right_box">
					<div class="title"><h1>政务推荐</h1></div>
					<div class="hot_right_text">
						<div class="hot_right_photo">
							
							<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">
								<img src="{随机图片}" alt="{标题}">
							</a>
							
						</div>
						<ul>
							
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{关键词1}{标题}">{关键词1}{标题}</a>
								</div>
							</li>
							
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
								</div>
							</li>
							
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
								</div>
							</li>
							
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
								</div>
							</li>
							
						</ul>
					</div>					
				</div>
				<!--广告图-->
				<div class="ban">
				
				</div>
				<div class="hot_right_box">
					<div class="title"><h1>国防推荐</h1></div>
					<div class="hot_right_text">
						<div class="hot_right_photo">
							
							<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">
								<img src="{随机图片}" alt="{标题}">
							</a>
							
						</div>
						<ul>
							
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
								</div>
							</li>
						
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}{关键词1}">{标题}{关键词1}</a>
								</div>
							</li>
						
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
								</div>
							</li>
						
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
								</div>
							</li>
						
						</ul>
					</div>					
				</div>
				<!--广告图-->
				<div class="ban">
					
				</div>
				<div class="hot_right_box">
					<div class="title"><h1>警务推荐</h1></div>
					<div class="hot_right_text">
						<div class="hot_right_photo">
						
							<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{关键词1}">
								<img src="{随机图片}" alt="{关键词1}">
							</a>
						
						</div>
						<ul>
							
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
								</div>
							</li>
							
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
								</div>
							</li>
							
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
								</div>
							</li>
							
							<li>
								<div class="con_yd"></div>
								<div class="hot_zy01">
									<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
								</div>
							</li>
							
						</ul>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>


<!--友情链接-->

<!--页脚-->
<div class="link_box">
	<div class="link_box_box">
		<div class="link">
			<h4>友情链接</h4>
			<ul>
				
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国政府网" target="_blank">中国政府网</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中央纪委监察部网站" target="_blank">中央纪委监察部网站</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国日报网" target="_blank">中国日报网</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="人民网" target="_blank">人民网</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="新华网" target="_blank">新华网</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="光明网" target="_blank">光明网</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中央电视台" target="_blank">中央电视台</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国经济网" target="_blank">中国经济网</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国文化网" target="_blank">中国文化网</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国青年网" target="_blank">中国青年网</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="清华大学" target="_blank">清华大学</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="北京大学" target="_blank">北京大学</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="国际在线" target="_blank">国际在线</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="凤凰网" target="_blank">凤凰网</a>
				</li>
			
				<li>
					 <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="云南网" target="_blank">云南网</a>
				</li>
			
			</ul>
		</div>
	</div>	
</div>
<div class="footer">
	<div class="footer_box">
		<div class="footer_box_box">
			<div class="footer_link">
				
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="世界" target="_blank">世界</a>|
			
			
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="国防" target="_blank">国防</a>|
			
			
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国国际记者" target="_blank">中国国际记者</a>|
			
			
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="民生焦点" target="_blank">民生焦点</a>|
			
			
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国科技" target="_blank">中国科技</a>|
			
			
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国警务" target="_blank">中国警务</a>|
			
			
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="健体头条" target="_blank">健体头条</a>|
			
			
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国文旅" target="_blank">中国文旅</a>|
			
			
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国法制" target="_blank">中国法制</a>|
			
			
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="中国农业" target="_blank">中国农业</a>|
			
			
			</div>
			<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">滇ICP备2022004097号-1</a><br>Copyright {年} {网站名称} All Rights Reserved</p>
		</div>
	</div>
</div>

<div class="goTop" id="js-go_top">
	<img src="/_/static/ow112_hqzxxw/static/picture/icon_top.png" alt="回到顶部图片">
</div>
<script src="/_/static/ow112_hqzxxw/static/js/GoToTop.js"></script>
<script>
	//示例
	$('#js-go_top').gotoTop({
		offset: 500, //距离顶部的位置
		speed: 300, //移动到顶部的速度
		/*     iconSpeed : 300, //icon动画样式的速度*/
		animationShow: {
			'transform': 'translate(0,0)',
			'transition': 'transform .5s ease-in-out'
		}, //icon动画样式显示时
		animationHide: {
			'transform': 'translate(80px,0)',
			'transition': 'transform .5s ease-in-out'
		} //icon动画样式隐藏时
	});
</script>
<script type="text/javascript">
	function browserRedirect() { 
		var url = document.location.toString();
　　　　var arrUrl = url.split("//");
　　　　var start = arrUrl[1].indexOf("/");
　　　　var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符
　　　　if(relUrl.indexOf("?") != -1){
　　　　　　relUrl = relUrl.split("?")[0];
　　　　}
//　　　　return relUrl;

	    var sUserAgent= navigator.userAgent.toLowerCase(); 
	    var bIsIpad= sUserAgent.match(/ipad/i) == "ipad"; 
	    var bIsIphoneOs= sUserAgent.match(/iphone os/i) == "iphone os"; 
	    var bIsMidp= sUserAgent.match(/midp/i) == "midp"; 
	    var bIsUc7= sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4"; 
	    var bIsUc= sUserAgent.match(/ucweb/i) == "ucweb"; 
	    var bIsAndroid= sUserAgent.match(/android/i) == "android"; 
	    var bIsCE= sUserAgent.match(/windows ce/i) == "windows ce"; 
	    var bIsWM= sUserAgent.match(/windows mobile/i) == "windows mobile"; 
	    var iurl = window.location.href;
	    var surl = iurl.substring(iurl.lastIndexOf('/'));
	    if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) { 
	        window.location.href= 'http://m.hqzxxw.com'+relUrl+''; 
	    } else { 
	
	    } 
	} 
	browserRedirect(); 
</script>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>
