<!DOCTYPE html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="cleartype" content="on">
  <meta name="viewport"
    content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
  <meta name="keywords" content="{关键词1}" />
  <meta name="description" content="{自定义描述}">
  <title>{自定义标题}</title>
  <link rel="canonical" href="{当前主域名}">
  <link rel="stylesheet" type="text/css" href="/_/static/ow135_web.08c/static/css/css1.css">
  <script type="text/javascript" src="/_/static/ow135_web.08c/static/js/jquery.min.js"></script>
  <script type="text/javascript">var WebuserLeiXing = "w"; var Webuserid = "3"</script>
  <link rel="stylesheet" href="/_/static/ow135_web.08c/static/css/jquery.fancybox.min.css">
  <script src="/_/static/ow135_web.08c/static/js/jquery.fancybox.min.js"></script>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
  <script language="javascript" src="/_/static/ow135_web.08c/static/js/Show.js"></script>
  <style>
    #classnamebox {
      display: none;
    }
  </style>
  <div class="sharing other">
    <div>
      <img src="/_/static/ow135_web.08c/static/picture/topicon1.png" alt="">
      <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{网站名称}在线投稿</a>
    </div>
    <div><img alt="" src="/_/static/ow135_web.08c/static/picture/topicon2.png"><a>
        <script type="text/javascript" src="/_/static/ow135_web.08c/static/js/date.js"></script>
      </a></div>
  </div>
  <div class="tongyong_box">
    <div class="top_logo_box">
      <div id="classnamebox">要闻</div>
      <div id="logo"><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow135_web.08c/static/picture/LOGO.png"
            style="width:240px;border:0px"></a></div>
      <div class="telbox">新闻热线：0713-{随机8数字}</div>
      <div class="Search_Box" id="Search_Box">
        <form method="POST" action="/w/3/ciye.php" name="searchform" id="searchform" target="_parent">
          <div class="main"><input name="keyword" type="text" placeholder="关键字" class="key"><input name="Action"
              value="all" style="display:none">
            <div class="but" onclick="formsubmit()">搜索</div>
          </div>
        </form>
      </div>
      <script
        type="text/javascript">function formsubmit() { if (document.searchform.keyword.value == "") { MyMessage("搜索关键字不能为空", 0, "", ""); $("#bgDiv").show(); return false; } $("#searchform").submit(); WaitingLoad(); }</script>
    </div>
    <div class="nav" style="margin:0 auto">
      <ul>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            首页
          </a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            时政
          </a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            要闻
          </a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            民生
          </a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            市直
          </a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            县市
          </a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            经济
          </a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            法治
          </a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            文教
          </a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            评论
          </a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">
            <div class="icon"></div>
            专题
          </a></li>
      </ul>
    </div>
  </div>
  <div class="content sharing">
    <div class="secondPage">
      <div class="article_show">
        <style>
          .current_column,
          .current_column a {
            color: #6b6b6b;
            font-size: 14px;
          }
        </style>
        <div class="current_column">&nbsp;您现在的位置：&nbsp;<a target="_top"
            href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>&nbsp;&gt;&gt;&nbsp;<a target='_blank'
            href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a></div>
        <div class="article_list"><!---正文开始--->
          <div class="Main_Article_box" id="Main_Article_box">
            <div class="Main_Article_title_box" id="Main_Article_title_box"><!---标题开始---><span
                class="Web_Default_Title">{关键词1}{随机后缀}{新闻网标题}</span><!---标题结束---></div>
            <div class="Main_Article_title_box" id="Main_Article_title_Properties"><!---文章属性开始---><span class="Web_Time"
                id="Web_Time">{当前时间}</span><span class="Web_CopyFrom"
                class="Web_CopyFrom">来源：{关键词1}</span><!---文章属性结束---></div>
            <div class="FenGeXian" id="FenGeXian_01"></div><!---文章正文开始--->
            <div class="Web_Default_Content" id="Web_Default_Content">
              <div id="ozoom" style="zoom: 100%">
                <p>{新闻网内容}</p>
                <p>{新闻网内容}</p>
              </div>
              <div class="ZeRenBianJi_box" id="ZeRenBianJi_box_1177">(责编：{人物名称})</div>
            </div><!---文章正文结束--->
          </div><!---正文结束--->
        </div>
      </div>
      <div class="side">
        <div class="side_paper">
          <h3 class="qq_title">
            <div class="icon"></div>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">
              最新要闻
            </a>
          </h3>
          <div class="side_paper_article">
            <div class="MoKuai_pic_right" id="MoKuai_pic_right">
              <ul id="MoKuai_32">
                <li onclick="WaitingLoad();location.href='/w/3/ciye/4O1177O112494O0O1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box">
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}"><strong>{关键词1}</strong>{标题}</a></div>
                    </div>
                  </div>
                </li>
                <li onclick="WaitingLoad();location.href='/w/3/ciye/4O1177O112492O0O1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box">
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a></div>
                    </div>
                  </div>
                </li>
                <li onclick="WaitingLoad();location.href='/w/3/ciye/4O1177O112491O0O1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box">
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a></div>
                    </div>
                  </div>
                </li>
                <li onclick="WaitingLoad();location.href='/w/3/ciye/4O1177O112490O0O1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box">
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a></div>
                    </div>
                  </div>
                </li>
                <li onclick="WaitingLoad();location.href='/w/3/ciye/4O1177O112487O0O1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box">
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a></div>
                    </div>
                  </div>
                </li>
                <li onclick="WaitingLoad();location.href='/w/3/ciye/4O1177O112485O0O1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box">
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()" href=""
                          title="{标题}">{标题}</a></div>
                    </div>
                  </div>
                </li>
                <li onclick="WaitingLoad();location.href='/w/3/ciye/4O1177O112482O0O1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box">
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a></div>
                    </div>
                  </div>
                </li>
                <li onclick="WaitingLoad();location.href='/w/3/ciye/4O1177O112481O0O1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box">
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a></div>
                    </div>
                  </div>
                </li>
                <li onclick="WaitingLoad();location.href='/w/3/ciye/4O1177O112484O0O1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box">
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <style type="text/css">
              #MoKuai_32 .main .title {
                height: 36px;
              }

              #MoKuai_32 .main .title a {
                color: #000
              }

              #MoKuai_32 li {
                display: inline-block;
              }
            </style>
          </div>
        </div>
        <div class="side_paper">
          <h3 class="qq_title">
            <div class="icon"></div>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">
              专题报道
            </a>
          </h3>
          <div class="side_paper_article">
            <div class="MoKuai_pic_top" id="MoKuai_pic_top">
              <ul id="MoKuai_91">
                <li onclick="WaitingLoad();location.href='/w/3/zhuanti/4s77s1s1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box"><a onclick="WaitingLoad()"
                      href="/{随机字符}/{随机数字}_{随机数字}.html" title="{关键词1}"><img style="width:387px;height:168px;"
                        src="{随机图片}"></a>
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{关键词1}">{关键词1}</a></div>
                    </div>
                  </div>
                </li>
                <li onclick="WaitingLoad();location.href='http://www.cnhubei.com/z/15497084/'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box"><a onclick="WaitingLoad()"
                      href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}"><img style="width:387px;height:168px;"
                        src="{随机图片}"></a>
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a></div>
                    </div>
                  </div>
                </li>
                <li onclick="WaitingLoad();location.href='/w/3/mrss/4s74s1s1.html'" style="border:0px">
                  <div class="ArticleList_box" id="ArticleList_box"><a onclick="WaitingLoad()"
                      href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}"><img style="width:387px;height:168px;"
                        src="{随机图片}"></a>
                    <div class="main" id="main">
                      <div class="title" id="title"><a onclick="WaitingLoad()" onclick="WaitingLoad()"
                          href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <style type="text/css">
              #MoKuai_91 .main .title {
                height: 30px;
              }

              #MoKuai_91 .main .title a {
                color: #000
              }
            </style>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <ul>
        <li><a><img src="/_/static/ow135_web.08c/static/picture/3.jpg" alt=""></a></li>
        <li><a><img src="/_/static/ow135_web.08c/static/picture/5.jpg" alt=""></a></li>
        <li><a target="_target" href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow135_web.08c/static/picture/brand_realname_small_img.png"
              alt=""></a></li>
        <li><a target="_target" href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow135_web.08c/static/picture/slsxwzy.jpg" alt=""></a></li>
        <li><a target="_target" href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow135_web.08c/static/picture/2021041902.png" alt=""></a>
        </li>
        <li><a><img src="/_/static/ow135_web.08c/static/picture/wcnyhxxjb.jpg" alt=""></a></li>
        <li><a target="_target" href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow135_web.08c/static/picture/12377_2.png" alt=""></a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"
            style="position: relative;display: inline-block;height: 40px;">
            <div style="width:100%;height:100%;position: absolute;top: 0;left: 0;"></div>
            <embed src="https://program.xinchacha.com/web/1608733471612575744=*.hgdaily.com.cn.svg" width="103"
              height="40" type="image/svg+xml" pluginspage="//www.adobe.com/svg/viewer/install/">
          </a></li>
      </ul>
      <div class="ft_vv">
        <img src="/_/static/ow135_web.08c/static/picture/cyrywgjb.png" alt="">
        <a target="_target" href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow135_web.08c/static/picture/6.jpg" alt=""></a>
      </div>
      <div>
        <p>{关键词1}({域名库})版权所有 未经授权禁止复制或镜像互联网新闻登载</p>
        <p>服务许可证：鄂新网备1401 互联网视听节目服务AVSP：鄂备2011013 <a href="/{随机字符}/{随机数字}_{随机数字}.html">ICP备案：鄂ICP备{随机8数字}号</a></p>
        <p>技术支持：<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{网站名称}有限公司</a></p>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $('.Web_Default_Content').find('img').each(function () {
        var _this = $(this);
        var _src = _this.attr("src");
        _this.wrap('<a data-fancybox="images" href="' + _src + '"></a>');
      })
    })
  </script>
  <script type="text/javascript">var Pic_lefturl = ''; var Pic_righturl = ''</script>
  <script type="text/javascript" src="/_/static/ow135_web.08c/static/js/pic_upnext.js"></script>
  <div id="friends" class="friendslinks"></div>
  <script type="text/javascript">
    if (appleyn.indexOf("huaweibrowser") > 0) {
      var WaitingLoad = null;
      console.log(WaitingLoad);//输出null
    }
  </script>
  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>