<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}">
<link href="/_/static/ow150_st.zjol/static/css/index.css" rel="stylesheet">
<link href="/_/static/ow150_st.zjol/static/css/kjpdkjall.css" rel="stylesheet">
<link href="/_/static/ow150_st.zjol/static/css/kjpdlist2014.css" rel="stylesheet">
<script type="text/javascript" src="/_/static/ow150_st.zjol/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/_/static/ow150_st.zjol/static/js/kjpdsidebarJdt.js"></script>
<script type="text/javascript">
	var phoneurl = '//st.zjol.com.cn/dswwlb/202207/t20220726_24575230_ext.shtml';
</script>
<script src="/_/static/ow150_st.zjol/static/js/mlfreplace.js" type="text/javascript"></script>
</head>
<style type="text/css">
.tag {
	height: 18px;
	line-height: 18px;
	margin-bottom: 23px;
}

.tag span {
	font-weight: bold;
	line-height: 34px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.listR {
	float: right;
	width: 300px;
}

.contTxt p {
	margin-bottom: 25px;
	line-height: 28px;
	font-size: 16px;
}

.rBarImg {
	position: relative;
	width: 300px;
	height: 170px;
	margin-bottom: 30px;
}

.rBarImg img {
	width: 300px;
	height: 170px;
}

.rBarImg a span {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 290px;
	padding: 0 5px;
	height: 35px;
	line-height: 35px;
	background: #333;
	opacity: .6;
	filter: alpha(opacity=60);
	color: #fff;
	text-align: center;
	overflow: hidden;
}

.news_more_page {
	text-align: center;
}

.news_more_page span {
	color: #FF9900;
	margin-right: 10px;
}

.news_more_page a {
	margin-right: 10px;
}
</style>

<body>
<!-- 科技频道通用吊顶头部开始 -->
<!--------------------topBar Begin-------------------->
<div id="pubTopBarBox">
	<div class="pubTopBar cf">
		<div class="pubTopBarL cf">
			<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="浙江在线首页" class="topBarLogo">浙江在线首页</a>
			<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="浙江在线首页" target="_blank">浙江在线首页</a>
		</div>
        <ul class="pubTopBarR cf">          
            <li class="topBarRgh"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="网上挂号">网上挂号</a></li>
            <li class="topBarRzh"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="住在杭州网">住在杭州网</a></li>
        </ul>
	</div>
</div>
<div class="clear"></div>
<!--------------------topBar End-------------------->
<!-- 科技频道通用吊顶头部结束 -->
<!-- 科技频道通用头部开始 -->
<div id="topBanner">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="logo bg">
            </a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="abiaoyu bg">
            </a>
            <span class="spanWz" style="display:none">
                主办：浙江省科技厅 浙江在线新闻网站
            </span>
            <div class="search">
                <form action="//search.zjol.com.cn/" id="searchForm" name="searchForm" method="get" target="_blank" onsubmit="document.charset='u'+'t'+'f'+'-8';">
                    <input name="q" size="10" id="anyWord" type="text" class="txt" value="请输入搜索关键字" onfocus="this.value='';" onblur="if(this.value==''){this.value='请输入搜索关键字';}">
                    <input name="Submit" type="submit" class="btnSear bg" id="Submit" value="">
                    <input name="wseColumns" type="hidden" value="S1">
                </form>
            </div>
        </div>


        <div id="nav" class="bg">
            <ul class="ulNav">
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        首页
                    </a>
                </li>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        原创
                    </a>
                </li>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        即时报
                    </a>
                </li>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        科学汇
                    </a>
                </li>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        热点资讯
                    </a>
                </li>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        科技“视”界
                    </a>
                </li>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        地市网闻
                    </a>
                </li>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        创新动力
                    </a>
                </li>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        头脑风暴
                    </a>
                </li>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        前沿技术
                    </a>
                </li>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                        专题
                    </a>
                </li>
            </ul>
        </div>
<!-- 科技频道通用头部结束 -->
<div id="page" class="clearfix">
	<!--左-->
	<div class="nyLeft">
		<div class="listlTitle">
			您当前的位置 ：
			<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
				{网站名称}
			</a>
			&nbsp;>&nbsp;
			<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="首页" class="CurrChnlCls">首页</a>&nbsp;>&nbsp;<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{关键词1}" class="CurrChnlCls">{关键词1}</a>
			&nbsp;
		</div>
		<div class="contTitA">
			
		</div>
		<div class="contTit">
			{关键词1}{随机后缀}{新闻网标题}
		</div>
		<div class="contTitB">
			
		</div>
		<div class="time">
			<span id="pubtime_baidu">
				{当前时间}
  </span>
			<span id="source_baidu">
    来源：
    {关键词1}
  </span>
			<span id="author_baidu">
    通讯员 {人物名称}
  </span>

		</div>
		<div class="contTxt">
			<p style="text-align: left;">{新闻网内容}</p>
			<div class="news_more_page" style="text-align: center;">
				
			</div>
		</div>
		<div class="tag cf">
			<span id="editor_baidu" class="fr"><b>编辑</b>：{人物名称}</span>
		</div>
		<div class="topicBk">
		</div>

		<div class="fenx clearfix">
			<span class="fxSpan">
    分享到：
  </span>
			<ul class="ulTop">
				<li class="liTop">
					<a title="分享到QQ空间" onclick="javascript:bShare.share(event,'qzone',0);return false;" class="h3Top fenxbg lt0">
					</a>
				</li>
				<li class="liTop">
					<a title="分享到新浪微博" onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;" class="h3Top fenxbg lt1">
					</a>
				</li>
				<li class="liTop">
					<a title="分享到腾讯微博" onclick="javascript:bShare.share(event,'qqmb',0);return false;" class="h3Top fenxbg lt2">
					</a>
				</li>
				<li class="liTop">
					<a title="分享到微信" onclick="javascript:bShare.share(event,'weixin',0);return false;" class="h3Top fenxbg lt3">
					</a>
				</li>
			</ul>
			<div class="bshare-custom">
				<a title="更多平台" class="bshare-more lt4 fenxbg" style="height:24px;"></a>
				
			</div>
			<script type="text/javascript" src="/_/static/ow150_st.zjol/static/js/buttonLite.js">
			</script>
			<script type="text/javascript" src="/_/static/ow150_st.zjol/static/js/bshareC1.js"></script>
		</div>
		<span class="contSpan">
  相关阅读
</span>
		<ul class="contUl">
			
		</ul>
<div>
<h3 style="margin-bottom:5px;">版权和免责申明</h3>
<p>凡注有"{关键词1}"或电头为"{关键词1}"的稿件，均为{关键词1}独家版权所有，未经许可不得转载或镜像；授权转载必须注明来源为"{关键词1}"，并保留"{关键词1}"的电头。本文为形象展示内容。</p>
</div>
	</div>
	<!--左 end-->
	<!-- 科技频道通用右侧开始 -->
	<div class="sidebar">
        <!--焦点图-->
        <div class="focus" id="slideContainer">
            <div id="frameHlicAe" class="cl">
                <div class="temp"></div>
                <div class="block">
                    <div class="cl">
                        <ul class="slideshow" id="slidesImgs">
                        
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="640" height="360" alt='{关键词1}{标题}'></a><span class="title"></span><h1 class="h1focus">{关键词1}{标题}</h1></li>
                        
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="640" height="360" alt='{标题}'></a><span class="title"></span><h1 class="h1focus">{标题}</h1></li>
                        
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="640" height="360" alt='{标题}'></a><span class="title"></span><h1 class="h1focus">{标题}</h1></li>
                        
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="640" height="360" alt='{标题}'></a><span class="title"></span><h1 class="h1focus">{标题}</h1></li>
                        
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="640" height="360" alt='{标题}'></a><span class="title"></span><h1 class="h1focus">{标题}</h1></li>
                        
                    </ul>
                </div>
                <div class="slidebar" id="slideBar">
                   <ul>
                       <li class="on">1</li>
                       <li>2</li>
                       <li>3</li>
                       <li>4</li>
                       <li>5</li>
                    </ul>
                </div>
                </div>
            </div>
 <script type="text/javascript">
        SlideShow(2000);
        </script>
        </div>
       
        <!--焦点图 end-->
                <!--科技即时报-->
                <div class="sideJsb">
                    <div class="bar">
                        <span class="icon bg">
                        </span>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="more">
                            &gt;&gt;more
                        </a>
                    </div>
                    <ul class="jsbList">
                    
                        <li>
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
								{标题}
                            </a>
                        </li>
                    
                        <li>
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
								{标题}
                            </a>
                        </li>
                    
                        <li>
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
								{标题}
                            </a>
                        </li>
                    
                        <li>
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
								{标题} 
                            </a>
                        </li>
                    
                        <li>
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
								{标题}
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <!--科技即时报 end-->
                <!--科技视界-->
                <div class="sideKjsj">
                    <div class="bar">
                        <span class="icon bg">
                        </span>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="more">
                            &gt;&gt;more
                        </a>
                    </div>
                    <ul class="kjsjList">
                     
                        <li>
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                                <img src="{随机图片}" width="640" height="360" alt='{标题}'>
                            </a>
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                                {标题}
                            </a>
                        </li>
                    
                        <li>
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                                <img src="{随机图片}" width="640" height="360" alt='{标题}'>
                            </a>
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                                {关键词1}{标题}
                            </a>
                        </li>
                       
                    </ul>
                </div>
                <!--科技视界 end-->
            </div>
	<!-- 科技频道通用右侧结束 -->
</div>
<!-- 媒立方稿件 id-->
<div id="NewsArticleID" style="display:none;">
	24575230
</div>
<!-- 文章稿件标题 -->
<div id="NewsArticleTitle" style="display:none;">
	{关键词1}{随机后缀}{新闻网标题}
</div>
<!-- 文章所属频道 id-->
<div id="NewsEditionNumber" style="display:none;">
	15493
</div>
<!-- 文章频道名称 -->
<div id="NewsEditionName" style="display:none;">
	{网站名称}
</div>
<!-- 稿件类型 -->
<div id="NewsArticleType" style="display:none;">
	新闻
</div>
<!-- 稿件来源 -->
<div id="NewsArticleSource" style="display:none;">
	{关键词1}
</div>
<!-- 稿件作者 -->
<div id="NewsArticleAuthor" style="display:none;">
	通讯员 {人物名称}
</div>
<!-- 稿件发布时间 -->
<div id="NewsArticlePubDay" style="display:none;">
	{当前时间}
</div>
<!-- 科技频道通用底部开始 -->
<div id="foot">
	<div class="foot">
		<div class="footL">
			<h1 class="h1foot">友情链接</h1>
			<div class="afoot">
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">浙江省科学技术协会</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">之江实验室</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">浙江火炬生产力促进中心</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">浙江省自然科学基金委员会</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">杭州市科学技术协会</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">宁波市科技局</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">嘉兴市科技局</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湖州市科技局</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">金华市科技局</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">丽水市科技局</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">舟山市科技局</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">中国科普网</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">新浪科技</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">腾讯科技</a>
				
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a>
				
			</div>
		</div>
		<div class="footR">
			<h1 class="h1foot">联系我们</h1>
			
				<span class="footSpan"><span class="spanTel">0571-{随机8数字}</span>联系电话：</span>
			
				<span class="footSpan"><span class="spanTel">0571-{随机8数字}</span>联系电话：</span>
			
		</div>
	</div>
</div>
<!--footEnd-->
<div id="dDfooter">
	<ul class="dDfootUl">
		<li class="dDfootLi"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">网站简介</a></li>
		<li class="dDfootLi"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">版权声明</a></li>
		<li class="dDfootLi"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">广告刊登</a></li>
		<li class="dDfootLi dDfootLiBor"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">联系我们</a></li>
		 </ul>
		<span>Copyright &copy; {年} {域名库} All Rights Reserved</span>
		<span>{关键词1}版权所有</span>
	</div>
	<!--------浙报统计代码------->
	<script id="trs_ta_js" src="http://ta.8531.cn/c/js/ta.js?mpid=1" async="async" defer="defer"></script>
	<!--------浙报统计代码end---->
	<!--------------------------------------流量统计---------------------------->
	<script type="text/javascript" src="http://www.zjol.com.cn/05zjol/js/2009/tjBrowser.js"></script>
	<!--------------------------------------流量统计end---------------------------->
	<script type="text/javascript" src="/_/static/ow150_st.zjol/static/js/optimize.js"></script>
<script id="_trs_ta_js" src="http://ta.8531.cn/c/js/ta.js?mpid=116&waitTitle=true" async="async" defer="defer"></script>
<script src="/_/static/ow150_st.zjol/static/js/optimize.js" type="text/javascript">
<!-- 科技频道通用底部结束 -->
		<script type="text/javascript" src="../../../images/jweixin-1.0.0.js"></script>
		<script type="text/javascript" src="/_/static/ow150_st.zjol/static/js/WeixinApi.js"></script>
		<script>
			//微信分享导读图url(300px以内正方形)
			var imgUrl = 'http://st.zjol.com.cn/material/zjol.jpg';

			//获取本页面地址作为分享指向链接(重要!!!!)
			var lineLink = window.location.href;

			//微信分享标题(23字以内)
			var shareTitle = document.title;

			//微信分享摘要（35字以内）
			var descContent = "我是摘要";

			//微信公众号ID
			var appid = '';

			function shareFriend() {
				WeixinJSBridge.invoke('sendAppMessage', {
					"appid": appid,
					"img_url": imgUrl,
					"img_width": "300",
					"img_height": "300",
					"link": lineLink,
					"desc": descContent,
					"title": shareTitle
				}, function(res) {
					_report('send_msg', res.err_msg);
				})
			}

			function shareTimeline() {
				WeixinJSBridge.invoke('shareTimeline', {
					"img_url": imgUrl,
					"img_width": "300",
					"img_height": "300",
					"link": lineLink,
					"desc": descContent,
					"title": shareTitle
				}, function(res) {
					_report('timeline', res.err_msg);
				});
			}

			function shareWeibo() {
				WeixinJSBridge.invoke('shareWeibo', {
					"content": descContent,
					"url": lineLink,
				}, function(res) {
					_report('weibo', res.err_msg);
				});
			}
			//  当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。  
			document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

				//  发送给好友  
				WeixinJSBridge.on('menu:share:appmessage', function(argv) {
					shareFriend();
				});

				//  分享到朋友圈  
				WeixinJSBridge.on('menu:share:timeline', function(argv) {
					shareTimeline();
				});

				//  分享到微博  
				WeixinJSBridge.on('menu:share:weibo', function(argv) {
					shareWeibo();
				});
			}, false);
		</script>
	<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>	
</body>
</html>