<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>{自定义标题}</title>
    <meta name="keywords" content="{关键词1}" />
    <meta name="description" content="{自定义描述}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var serverData = {
            logowidth: '144',
            logoheight: '30',
            coverlogoheight: '50',
            menuCount: 9,
            terms: '',
            menu: [],
            channelname: '',
            device: 'pc'
        }
    </script>
    <link rel="stylesheet" type="text/css" href="/_/static/ow159_njbg/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/_/static/ow159_njbg/static/css/art.css">
</head>
<body>
<style>
    body {
        padding-top: 0
    }
    #Header {
        position: relative;
    }
</style>
﻿<div class="wrap">
<div id="Cover" class="mod-cover">
    <div class="cover">
        <div class="coverbg"></div>
        <div class="coverlogo"><img src="/_/static/ow159_njbg/static/picture/logo.png"></div>
        <div class="coverslogan">
            <p class="ll"></p>
            <p class="rl"></p>
        </div>
    </div>
</div>
<div id="Header">
    <div class="header">
        <h1 class="test"></h1>
        <div class="logo" style="width:144px;"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow159_njbg/static/picture/logo.png" style="height:30px"></a></div>
        <div class="menulist large" style="margin:0 144px">
            <ul></ul>
        </div>
        <div class="menulist medium" style="margin:0 144px">
            <ul></ul>
        </div>
        <div class="headerSearch">
            <form name="formsearch" action="/plus/search.php">
                <input type="hidden" name="kwtype" value="0">
                <p class="searchbar">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="searchA"><i class="i"></i></a>
                    <i class="txt"><i class="i nodis"></i><input name="q" type="text" class="nodis"></i>
                </p>
                <button type="submit" class="search-submit" style="display: none">搜索</button>
            </form>
            <p class="sub-menu"><i class="icon-submenu"></i></p>

           
        </div>
    </div>

    <script type="text/javascript">
        var menu = [];

        menu.push({
            'name': '首页',
            'enname': '',
            'url': '{当前url}',
            'list': []
        });
		menu.push({
            'name': '新闻',
            'enname': '',
            'url': '/{随机字符}/{随机数字}_{随机数字}.html',
            'list': []
        });menu.push({
            'name': '南京',
            'enname': '',
            'url': '/{随机字符}/{随机数字}_{随机数字}.html',
            'list': []
        });menu.push({
            'name': '社会',
            'enname': '',
            'url': '/{随机字符}/{随机数字}_{随机数字}.html',
            'list': []
        });menu.push({
            'name': '娱乐',
            'enname': '',
            'url': '/{随机字符}/{随机数字}_{随机数字}.html',
            'list': []
        });menu.push({
            'name': '体育',
            'enname': '',
            'url': '/{随机字符}/{随机数字}_{随机数字}.html',
            'list': []
        });menu.push({
            'name': '经济',
            'enname': '',
            'url': '/{随机字符}/{随机数字}_{随机数字}.html',
            'list': []
        });menu.push({
            'name': '房产',
            'enname': '',
            'url': '/{随机字符}/{随机数字}_{随机数字}.html',
            'list': []
        });menu.push({
            'name': '原创',
            'enname': '',
            'url': '/{随机字符}/{随机数字}_{随机数字}.html',
            'list': []
        }); 
        serverData.menu = menu;
    </script>
</div>
    <div id="Body">
        <div class="body">
            <div class="left">
                <div id="banners">
                    <div class="hclc">
                        <article>
                            <h1>{关键词1}{随机后缀}{新闻网标题}</h1>
                            <div class="contInfo"><div class="floatL"><span id="pubtime_baidu">{当前时间}</span><span id="“source_baidu”">栏目：<a href="/{随机字符}/{随机数字}_{随机数字}.html">经济</a></span></div><div class="floatR"><style type="text/css">.bshare-custom{font-size:12px!important;}.bshare-custom a{margin:0 3px!important;line-height:16px;}#bsLogoList li{padding-left:0;background:none;}.b-drag{border-radius:0!important;}.b-drag-arrow{left:0!important;}</style><div class="bshare-custom"><div class="bsPromo bsPromo2"></div><span>TAG：</span></div>
                            </div></div>
                            <p style="margin: 20px 0px 0px; padding: 0px; font-family: 'Microsoft Yahei', sans-serif; border: 0px; font-size: 16px; line-height: 1.7; color: rgb(51, 51, 51);"><span style="font-size:16px;">　　{新闻网内容}</p>

<!-- page start -->
<div class="pagination"><ul></ul></div>
<!-- page end -->   
                        </article>
<!-- Comment END -->
                    </div>
                </div>
            </div>
<div class="right">
    <div class="ap">
        <div class="apt">
            <h4>随机看看</h4>
            <p class="entit"><span>NEW ARTICLE</span></p>
        </div>
        <div class="apc">
            <ul class="ulist">
			<li>
                    <span class="num top3">1</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{关键词1}{标题}">{关键词1}{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">2</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">3</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">4</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">5</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">6</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">7</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">8</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">9</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">10</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>

            </ul>
        </div>
    </div>
    <div class="ap apRecommend">
        <div class="apt">
            <h4>热门文章</h4>

            <p class="entit"><span>HOT ARTICLE</span></p>
        </div>
        <div class="apc">
            <ul class="ulist">
			<li>
                    <span class="num top3">1</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">2</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">3</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{关键词1}{标题}">{关键词1}{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">4</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">5</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">6</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">7</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">8</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">9</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>
<li>
                    <span class="num top3">10</span>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
                    <span class="tm">{年月日}</span>
                </li>

            </ul>
        </div>
    </div>
</div>
</div>
</div>
<div id="Footer">
    <p class="top-nav">
        <span style="color: #000">友情链接：</span>
        
          <a href='javascript:;' target='_blank'>{随机关键词}</a> 
             <a href='javascript:;' target='_blank'>{随机关键词}</a> 
    </p>

    <p class="site-info">
        <i></i>
        <span>Copyright &copy; {年} {域名库} {网站名称} 版权所有 <a href="/{随机字符}/{随机数字}_{随机数字}.html" target='_blank'>Power by DedeCms</a></span>
    </p>
</div>
</div>
<div class="mod-sidebar">
    <ul class="menu">
        <li class="item">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>
        </li>
        <li class="item">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">新闻</a>
        </li><li class="item">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">南京</a>
        </li><li class="item">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">社会</a>
        </li><li class="item">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">娱乐</a>
        </li><li class="item">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">体育</a>
        </li><li class="item">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">经济</a>
        </li><li class="item">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">房产</a>
        </li><li class="item">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">原创</a>
        </li> 
    </ul>
</div>
<script type="text/javascript" src="/_/static/ow159_njbg/static/js/mod.js"></script>
<script type="text/javascript" src="/_/static/ow159_njbg/static/js/jquery-1.10.1.js"></script>
<script type="text/javascript" src="/_/static/ow159_njbg/static/js/mod_page.js"></script>
<script type="text/javascript" src="/_/static/ow159_njbg/static/js/ap_ulist.js"></script>
<script type="text/javascript" src="/_/static/ow159_njbg/static/js/header.js"></script>
<script type="text/javascript" src="/_/static/ow159_njbg/static/js/cover.js"></script>
<script type="text/javascript" src="/_/static/ow159_njbg/static/js/iscroll.js"></script>
<script type="text/javascript" src="/_/static/ow159_njbg/static/js/velocity.js"></script>
<script type="text/javascript" src="/_/static/ow159_njbg/static/js/lessimgindex.js"></script>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>