<!doctype html>
<html xmlns:wb="//open.weibo.com/wb">





<head>
<script language="javascript" src="/_/static/ow215_finance.caixin/static/js/redirect.js"></script>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
 <title>{自定义标题}</title>
 <meta name="keywords" content="{关键词1}" />
 <meta name="description" content="{自定义描述}">
 <meta property="og:type" content="article">
 <meta property="og:url" content=" {当前url}">
 <meta property="og:title" content="{关键词1}{随机后缀}{新闻网标题}">
 <meta property="og:description" content="{标题}">
 <meta property="og:target" content="_parent">
 <meta property="og:image" content="{随机图片}">
 <meta name="twitter:card" content="summary_large_image">
 <meta name="twitter:site" content="{当前主域名}">
 <meta name="twitter:title" content="{关键词1}{随机后缀}{新闻网标题}">
 <meta name="twitter:description" content="">
 <meta name="twitter:url" content=" {当前url}">
 <meta name="twitter:image" content="{随机图片}">
 <link rel="stylesheet" type="text/css" href="/_/static/ow215_finance.caixin/static/css/content.css">
<!--  <link rel="stylesheet" type="text/css" href="//file.caixin.com//static/ow215_finance.caixin/static/mh5/css/artdialog.css"/> -->
 <link rel="stylesheet" type="text/css" href="/_/static/ow215_finance.caixin/static/css/newart.css">
 <script language="JavaScript">
  <!--
  var srcinfoid = 102017893;
  var share_desc = encodeURIComponent("{关键词1}{随机后缀}{新闻网标题}");
  var share_title = encodeURIComponent("自定义描述}");
  var share_picUrl = encodeURIComponent("{随机图片}");
  var share_keyword = encodeURIComponent("今日收盘");
  var share_popUpUrl = encodeURIComponent("{当前url}");
  var share_description = encodeURIComponent("{标题}");
  var media = "1";
  var attr = "5";
  
  var price = 0;
  //var entity = {"id":102017893,"category":"100300001;100300179;102017893","link":"https://finance.caixin.com/2023-04-12/102017893.html","media":1,"channel":125,"ispro":0,"fromchannel":"16,22","disable_copy":"0","redpacket":"1","tags":"","tagNames":"","type":"2","video_extra2":null};
   var entity = {"rootId":"100300001","link":" {当前url}","channel":125,"media":1,"type":2,"tagNames":"","tags":"","fromchannel":"16,22","disable_copy":"0","redpacket":"1","video_extra2":null,"id":102017893,"category":"100300001;100300179;102017893","ispro":0}
  //-->
 </script>
 <script language="javascript" src="/_/static/ow215_finance.caixin/static/js/jquery-1.7.2.min.js"></script>
 <link rel="stylesheet" type="text/css" href="/_/static/ow215_finance.caixin/static/css/finance.min.css">
<script language="javascript">var topNavIndex=2;</script>

 
 <script language="javascript" src="/_/static/ow215_finance.caixin/static/js/wb.js"></script>
 <script language="javascript" src="/_/static/ow215_finance.caixin/static/js/md5.js"></script>
 <script language="javascript" src="/_/static/ow215_finance.caixin/static/js/jour_json_data.js"></script>
 <script language="javascript" src="/_/static/ow215_finance.caixin/static/js/content.js"></script>
<script src="/_/static/ow215_finance.caixin/static/js/cx-audio.js"></script>
  <!--<script language="javascript" src="//file.caixin.com/webchannel/all/js/dist/channel.js"></script>-->
 <script language="javascript">
 var topAdCode = 2863; 
</script>
 
 <!--<script language="javascript" src="//file.caixin.com/webjs/content/pagebar_v7.js?0.4841931076877658"></script>-->
<!--<script language="javascript" src="//file.caixin.com/webjs/content/pagebar_v7_test_v2.js"></script>-->
  
 
 
 <script language="javascript">
 //$(document).ready(function(){readyContentInfo();});
 </script>
 
 <script type="text/javascript">
 jQuery(function(){
  try{
   addMagazineJourContact("author");
   addCommJourContact("Main_Content_Val","strong");
   addCommJourContact('Main_Content_Val','b');
  }catch(e){}
 });
 </script>
 <base target="_blank">
  <style type="text/css">
    /*20170914-------------*/
  /*样式添加*/
  .icon_key,.icon_time{display:inline-block}
  .icon_time{background:url(/static/ow215_finance.caixin/static/image/icon_time.png) no-repeat 5px 2px;width:20px;height:19px}
  .icon_key{background:url(/static/ow215_finance.caixin/static/image/icon_key.png) no-repeat 5px 0;width:26px;height:10px;vertical-align:middle}
  /*20170914样式添加02---------------------*/
  </style>
  
</head>
<body>
 <!--top begin-->
<!--top begin 2019-->
<style>
       .mainnav{background: none;}
       .mainnavscroll{background: #34304c}
      </style>
<div class="head">
    <div class="sitenav">
        <!-- <div class="quickMenu-left"></div> -->
        <div class="sitenavBox">
			<div class="shop_dingyue">
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" class="shopbtn" rel="nofollow">
					<span>商城</span>
				</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html">
					<div class="Btn_dingyue">订阅</div>
				</a>
			</div>
            <div class="logininfo">
                <ul id="showLoginId">
                </ul>
            </div>
            <div class="quickmenu">
				<a href="/{随机字符}/{随机数字}_{随机数字}.html">数据</a>
				<!--<a href="//index.caixin.com/" target="_blank">指数</a>-->
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">私房课</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">会议</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">Promotion</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">运动家</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">企业用户</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">应用下载</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">帮助</a>
                                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="jubao">网上有害信息举报专区</a>
			</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="topup">

        <div class="topAd">
            <script language="javascript">
                setTopLogin();
                if (typeof (topAdCode) != "undefined")
                    ads_display(topAdCode);
            </script>
        </div>

        <div class="clear"></div>
    </div>
    <div class="mainnav">
        <div class="Nav">
	  <ul>
				<li class="nav_more">
					<ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
				</li>
				<li class="navtabs juzhong"><a id="nav0" href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a></li>
				<li class="navtabs juzhong"><a id="nav1" href="/{随机字符}/{随机数字}_{随机数字}.html">经济</a></li>
				<li class="navtabs juzhong"><a id="nav2" href="/{随机字符}/{随机数字}_{随机数字}.html">金融</a></li>
				<li class="navtabs juzhong"><a id="nav3" href="/{随机字符}/{随机数字}_{随机数字}.html">公司</a></li>
				<li class="navtabs juzhong"><a id="nav4" href="/{随机字符}/{随机数字}_{随机数字}.html">政经</a></li>
				<li class="navtabs juzhong"><a id="nav5" href="/{随机字符}/{随机数字}_{随机数字}.html">世界</a></li>
				<li class="navtabs juzhong"><a id="nav6" href="/{随机字符}/{随机数字}_{随机数字}.html">观点</a></li>
				<li class="logimage"><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow215_finance.caixin/static/picture/logo.png"></a></li>
				<li class="navtabs"><a id="nav7" href="/{随机字符}/{随机数字}_{随机数字}.html">mini</a></li>
				<li class="navtabs"><a id="nav8" href="/{随机字符}/{随机数字}_{随机数字}.html">博客</a></li>
				<li class="navtabs"><a id="nav9" href="/{随机字符}/{随机数字}_{随机数字}.html">周刊</a></li>
				<li class="navtabs"><a id="nav10" href="/{随机字符}/{随机数字}_{随机数字}.html">图片</a></li>
				<li class="navtabs"><a id="nav11" href="/{随机字符}/{随机数字}_{随机数字}.html">视频</a></li>
				<li class="navtabs"><a id="nav12" href="/{随机字符}/{随机数字}_{随机数字}.html">数据</a></li>
				<li class="navtabs"><a class="navtabs" id="nav13" href="/{随机字符}/{随机数字}_{随机数字}.html">English</a></li>
			</ul>                   
        </div>
    </div>
	<div class="littlenav">
		<div class="littlenavwarp">
			<div class="left">
				<a href="#" onclick="return false;">更多</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">科技</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">地产</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">汽车</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">消费</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">能源 </a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">健康</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">环科</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">民生</a>
<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">ESG</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">数字说</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">比较</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">中国改革</a>
                                 <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">专题</a>
	
			</div>
			<div class="searchbox">
				<form method="get" action="/{随机字符}/{随机数字}_{随机数字}.html">
					<input class="keyword" name="keyword" id="keyword" type="text" onfocus="if(this.value=='请输入要搜索的信息') this.value='';" onblur="if(this.value=='') this.value='请输入要搜索的信息';" value="请输入要搜索的信息">
					<input class="seachBtn" type="image" onclick="if(document.getElementById('keyword').value=='请输入要搜索的信息')document.getElementById('keyword').value='';" src="//file.caixin.com/webchannel/home/img/nav_seach.png">
				</form>
			</div>
		</div>
		<div class="littlenavmore">
			<div class="left">
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">数据</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">财新一线</a>
				<!--<a href="//index.caixin.com/" target="_blank">指数</a>-->
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">私房课</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">会议</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">Promotion</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">运动家</a>	
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">企业用户</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">应用下载</a>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">帮助</a>
			</div>
		</div>
	</div>
</div>

<img style="width: 0; height: 0; overflow: hidden; display: block" src="/_/static/ow215_finance.caixin/static/picture/cx_logo.jpg" alt="财新传媒">
<!--top end-->
<!--top end-->
 <!--内容页 begin-->
 <div class="comMain">
  <div class="conlf">
   <div class="conTop">
    <div class="crumb">
     <span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target='_self'>{网站名称}</a> &gt; </span><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target='_self'>{关键词1}</a> &gt; </span>正文
    </div>
    <!--右侧功能 begin-->
    <!--右侧功能 begin-->
<div class="function01">
  <ul class="funcri01">
    <li class="drop_off01" onmouseover="this.className='drop_on01'" onmouseout="this.className='drop_off01'"><a class="f_comment01" href="#gocomment" target="_self"><script>document.write('<em aid="100" tid="'+srcinfoid+'">0</em>');</script></a><span class="tooltip01">发表评论</span></li>
    <li class="drop_off01" onmouseover="this.className='drop_on01'" onmouseout="this.className='drop_off01'"><div id="ckepop"><a style="width:22px;height:22px;cursor: pointer; background-image:url("/_/static/ow215_finance.caixin/static/image/ico_weixin.gif");" class="wx-share-btn"></a></div><span class="tooltip02">分享到微信朋友圈</span></li>
   <!-- <li class="drop_off01" onMouseOver="this.className='drop_on01'" onMouseOut="this.className='drop_off01'"><a class="f_tencent01" href="javascript:void(0);" target="_self" onClick="caingPostShare('qqweibo',share_title,share_description,share_popUpUrl,share_picUrl);"></a><span class="tooltip01">腾讯转发</span></li>-->
    <li class="drop_off01" onmouseover="this.className='drop_on01'" onmouseout="this.className='drop_off01'"><a class="f_sina01" href="javascript:void(0);" target="_self" onclick="caingPostShare('tsina',share_title,share_description,share_popUpUrl,share_picUrl);"></a><span class="tooltip01">新浪转发</span></li>
    
  </ul>
	<style>#ckepop .jtico{ background-image:none !important;}</style>
  <div class="clear"></div>
</div>
<!--右侧功能 end-->

    <!--右侧功能 end-->
    <div class="clear"></div>
   </div>
    
   <!--标题顶部通栏广告-->
<script language="javascript"> 
      ads_display(1633)
   </script>
<div class="f_ri">
 <ul>
  <li class="backTop"><a target="_self"></a></li>
  <li class="comment"><a href="#gocomment" target="_self"><span id="hoverComment">0</span></a></li>
  <li class="xiangguan"><a href="#xiangguan" target="_self"></a></li>
  <li class="new"><a href="#new_artical" target="_self"></a></li>
  <li class="go_rss"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_self">订阅<br>电邮</a></li>
 </ul>
</div>
<script language="javascript">
initHovering();
</script>
   <!--右侧功能 end-->
   <!--栏目介绍 begin-->
    
   <!--栏目介绍 end-->
   <!--文章内容 begin-->
   <div id="the_content" class="article">
    <div id="conTit">
     <h1>{关键词1}{随机后缀}{新闻网标题}
        
            <em class="icon_key"></em>
        
        
    </h1>
     <!--baidu begin-->
     <div class="bd_block" style="display:none"><span class="bd_block" id="pubtime_baidu">{当前时间}</span><span class="bd_block" id="source_baidu">来源： <a href="" target="_blank">{关键词1}</a></span><span class="bd_block" id="author_baidu">作者：{人物名称}，{人物名称}</span><span class="bd_block" id="editor_baidu">责任编辑：{人物名称}</span></div>
     <!--baidu end-->
     <div class="artInfo" id="artInfo">
<!-- tt.s 12/17 -->
      
 <!-- tt.e 12/17 -->
      
      {当前时间}
      
     
     </div>
     
  
     
    </div>
  
    <div class="content">
     <!--bankuai begin-->
     <div class="pip">
      
 <a name="xiangguan"></a><div name="pIpObj" class="pip_rel pip_none"><dl><dt>相关报道</dt><dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></dd><dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></dd><dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></dd><dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></dd><dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></dd><dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></dd><dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></dd><dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></dd><dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></dd><dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></dd></dl></div>
      <div class="pip_ad"> <div class="index_right_ad">

       <script language="javascript"> 

ads_display(398)

</script>

    </div>
</div>

      <!-- pid mismatch -->
     </div>
     <!--bankuai end-->
     <div class="textbox">
<!-- tt.s 12/17 --->
      
<!-- tt.e 12/17-->
      <div id="Main_Content_Val" class="text">
       <p>　　{新闻网内容}</p>
      </div>
     </div>
     <div class="clear"></div>
    </div> 
<div id="chargeWall" class="payreadwarp">
   <div class="content"></div>
  </div>
<div id="pay-layer-ad" style="display:none;">
    <script>ads_display(3422)</script>
</div>
<div id="pay-layer-pro-ad" style="display:none;">
    <script>ads_display(3940)</script>
</div>
  <div id="pay-box" class="mask">
   <div class="dialoguebox">
    <em class="maskclose"></em>
      <div class="middle">
           <p></p>
           <div class="middlewarn"></div>
           <div class="types"></div>
          </div>
      </div>
        </div>
       <!--<script src="//file.caixin.com/pkg/cx-pay-layer/js/chunk-vendors.js"></script>-->
<script src="/_/static/ow215_finance.caixin/static/js/pc.js"></script>

  <!--杂志购买 end-->
  <div id="pageNext" class="page">
   
  </div>
  <div class="content-tag">
   
  </div>
  <style>
.lanmu_textend{
padding-bottom: 28px;
color: #4a4a4a;
font-size: 16px;
}
.lanmu_textend a {
    color: #369;
}
</style>
  <div class="moreReport">
   
   
  </div>
  <div class="idetor">责任编辑：{人物名称} | 版面编辑：{人物名称}</div>
  
   <script>
(function(){
	if(! entity||!entity.fromchannel)return;
	var fromchannel = entity.fromchannel.split(',').sort().toString();
	var adid = 0;

	switch(fromchannel){
		case '20':adid = 3269;
		break;
		case '21':adid = 3271;
		break;
                case '15':adid = 3270;
		break;
		case '19':adid = 3266;
		break;
		case '16,19':adid = 3266;
		break;
		case '16,19,22':adid = 3266;
		break;
		case '16':adid = 3267;
		break;
		case '16,22':adid = 3267;
		break;
		case '22':adid = 3268;
		break;
	}
	if(entity.ispro!=0){
		adid = 3268;
	}

	if(adid){
		ads_display(adid);
	}	
})()
</script>
 </div>
 <!--赞赏 begin-->
 
 <!--赞赏 end-->
<div class="article_topic">
   <script>
       createTopicList()
   </script>
</div>
 <!--文章内容 end-->
  
 
 
 <!--新浪微博 begin-->
 <style>
/*----------------------------20131217--------------------------*/
.fenxiangRig ul{ overflow:hidden; zoom:1;}
.fenxiangRig li{ float:right; margin-left:5px; color:#fff; height:25px; line-height:25px; padding:0 8px;}
.fenxiangRig li a{ color:#fff;}
.fenxiangRig li.blueBg{ background:#0098d6;}
.fenxiangRig li.redBg{ background:#df2029;}
.fenxiangRig li.greenBg{ background:#60c426;}
</style>
<div style="clear:both;"> 
 <!--新浪关注 begin-->
 <div style="float:left;">
  <wb:follow-button uid="1663937380" type="gray_2" width="136" height="24"></wb:follow-button>
 </div>
 <!--新浪关注 end--> 
 <div style="float:right;" class="fenxiangRig">
  <ul>
  <!-- <li class="blueBg"><a href="javascript:void(0);" onClick="caingPostShare('qqweibo',share_title,share_description,share_popUpUrl,share_picUrl);" target="_self">分享到腾讯微博</a></li>-->
   <li class="redBg"><a href="javascript:void(0);" onclick="caingPostShare('tsina',share_title,share_description,share_popUpUrl,share_picUrl);" target="_self">分享到新浪微博</a></li>
   <li class="greenBg"><a style="cursor:pointer;" class="wx-share-btn">分享到微信朋友圈</a></li>
  </ul>
 </div>
<div style="clear: both;"></div>
</div>
<script src="/_/static/ow215_finance.caixin/static/js/layer.js"></script>
<script src="/_/static/ow215_finance.caixin/static/js/jquery.qrcode.min.js"></script>
<script>
    $('.wx-share-btn').click(function(){
        layer.open({
            title:'',
            type:1,
            content:'<div class="wx-share-qr" style="width:260px;height:260px;padding:20px;"></div>' ,
            success: function(layero, index){
                $('.wx-share-qr').qrcode({
                    width: 260,
                    height: 260,
                    text: location.origin+location.pathname
                });
            }
        });
    })
</script>
 <!--新浪微博 end-->
 <div class="clear"></div>

 <!--刊登转载 begin-->
 
 <!--刊登转载 end-->
 <div class="clear"></div>
 <div class="pnArt">
  <div class="preArt"><a href="/{随机字符}/{随机数字}_{随机数字}.html">上一篇：{关键词1}{标题}</a></div><div class="nextArt"><a href="/{随机字符}/{随机数字}_{随机数字}.html">下一篇：{标题}</a></div>
  <div class="clear"></div>
 </div>
 <!--相关阅读begin-->
 <script> keywordRelate=encodeURIComponent("今日收盘");</script>
 <script language="javascript">
$(document).ready(function(){showRelateReading();});
function caixinAnalyze(){
 $(".xgydBox a").click(function(){ga('send','event','TuiJianYueDuLink','click');});
}
var loadedRelateData = false;
function StringBuffer(){
 this.buffer = [];
 if(arguments[0]) this.append(arguments[0]);
}
StringBuffer.prototype.append = function(){
 this.buffer.push(arguments[0]);
 return this;
}
StringBuffer.prototype.toString = function(){
 return this.buffer.join("");
}
StringBuffer.prototype.release = function(){
 this.buffer = [];
}
function showRelateReading(){
 if(window.ActiveXObject){
  setTimeout('init()',500);
 }else{init();}
 $(window).scroll(function(){
  if(loadedRelateData) return;
  var scrollTop = $(document).scrollTop();
  var relateTop = $("#pageNext").offset().top;
  var windowHeight = $(window).height();
  if(scrollTop+windowHeight>=relateTop){
   loadedRelateData = true;
   initData();
  }
 });
}
function init(){
 var scrollTop = $(document).scrollTop();
 var relateTop = $("#pageNext").offset().top;
 var windowHeight = $(window).height();
 if(scrollTop+windowHeight>=relateTop){
  loadedRelateData=true;
  //initData();
 }
}
function initData(){
console.log("initData...");
//$.getScript("http://atsearch.caixin.com/search/jskeyword.jsp?keyword="+keywordRelate+"&type=1&size=6",function(){filter($_SearchResult);});
}
function filter(data){
console.log("filter。。。。");
 var _array=new Array();
 var dataOne=document.getElementById("1");
 var dataTwo=document.getElementById("2");
 if(dataOne!=null && dataTwo!=null){
  for(var i=0;i<data.length;i++){
   if(data[i]['link']==dataOne.href||data[i]['link']==dataTwo.href){
    continue;
   }else{
    _array.push(data[i]);
   }
  }
  printData(_array);
 }else{
  printData(data);
 }
}
function printData(data){
console.log("printData...");
 var sb=new StringBuffer();
 for(var i=0;i<4&&i<data.length;i++){
  sb.append("<li>");
  var newTime=makeMonthDay(data[i]['time']);
  var tmpTitle=data[i]['desc'];
  tmpTitle=makeSubTitle(tmpTitle);
  sb.append("<p><a title='"+data[i]['desc']+"' href='"+data[i]['link']+"'>"+tmpTitle+"</a></p>");
  sb.append("<span>"+newTime+"</span>");
  sb.append("</li>");
 }
 $("#relateReadingcontent").prepend(sb.toString());
 //增加统计参数
 for(var i=0;i<$("#relateReadingcontent a").length;i++){
  var href = $("#relateReadingcontent a").eq(i).attr("href");
  if(href.indexOf("source2EntityID")<0){
   href = href+"?source2EntityID="+srcinfoid;
  }
  $("#relateReadingcontent a").eq(i).attr("href",href);
 }
 caixinAnalyze();
}
//获取给定时间字符串的  月.日  格式的时间
function makeMonthDay(date){
 if(date.length>0){
  var tmp=date.replaceAll("-",".");
  return tmp.substring(5,10);
 }else{
  return date;
 }
}
function makeSubTitle(str,len){
 var maxlen = 34;
 var newstr = "";
 var i = j = 0;
 while(i<str.length){
  var tmpstr = str.charAt(i);
  if(str.charCodeAt(i)>127){j+=2;}else{j+=1;}
  if(j>maxlen){break;}else{newstr+=tmpstr;}
  i++;
 }
 if(newstr.length<str.length){
  return newstr+"...";
 }else{
  return newstr;
 }
}
</script>
<div class="xgydBox" id="relateReading" style="display:none">
 <h4>推荐阅读</h4>
 <div class="xgydCon">
  <ul id="relateReadingcontent">
  </ul>
 </div>
</div>
 <!--相关阅读end-->
  <div class="leftAd">

       <script language="javascript"> 
var _href=window.location.href;
if(_href.indexOf("?utm_source=UP&utm_medium=PCKeHuDuan&utm_campaign=HeZuo")>0){
ads_display(1221)
}else{

ads_display(740)
}
</script>

    </div>

 <div class="leftAd">
</div>

 <div class="multimedia">
 <h3>图片推荐</h3>
 <div class="scroll_cont">
  <div class="leftBtn" onmousedown="pa.ISL_GoUp_1()" onmouseup="pa.ISL_StopUp_1()" onmouseout="pa.ISL_StopUp_1()"></div>
  <div class="scrollBox" id="ISL_Cont_1">
   <div class="imgList">
    <div id="List1_1" class="listWithPic">
        <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
    <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{关键词1}{标题}</span></a>
    <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
    <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
    <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
    <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
    <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
    <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
 
    </div>
    <div id="List2_1" class="listWithPic"></div>
   </div>
  </div>
  <div class="rightBtn" onmousedown="pa.ISL_GoDown_1()" onmouseup="pa.ISL_StopDown_1()" onmouseout="pa.ISL_StopDown_1()"></div>
  <div class="clear"></div>
  <script type="text/javascript">
   var pa=new ScrollObject('ISL_Cont_1','List1_1','List2_1',"pa",{"PageWidth_1":"620"});
  </script>
 </div>
</div>
 <div class="multimedia">
 <h3>视听推荐</h3>
 <div class="scroll_cont">
  <div class="leftBtn" onmousedown="pa2.ISL_GoUp_1()" onmouseup="pa2.ISL_StopUp_1()" onmouseout="pa2.ISL_StopUp_1()"></div>
  <div class="scrollBox" id="2ISL_Cont_1">
   <div class="imgList">
    <div id="2List1_1" class="listWithPic">
        <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
        <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{关键词1}{标题}</span></a>
        <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
        <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
        <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
        <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
        <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
        <a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"><span>{标题}</span></a>
           
    </div>
    <div id="2List2_1" class="listWithPic"></div>
   </div>
  </div>
  <div class="rightBtn" onmousedown="pa2.ISL_GoDown_1()" onmouseup="pa2.ISL_StopDown_1()" onmouseout="pa2.ISL_StopDown_1()"></div>
  <div class="clear"></div>
  <script type="text/javascript">
   var pa2=new ScrollObject('2ISL_Cont_1','2List1_1','2List2_1',"pa2",{"PageWidth_1":"620"});
  </script>
 </div>
</div>
</div>
<div class="conri">
<!--右侧栏目公用广告位begin-->
   
   <!--右侧栏目公用广告位 end-->
<div class="rightAd ad_fujia">
<script language="javascript">
var _href=window.location.href;
if(_href.indexOf("?utm_source=UP&utm_medium=PCKeHuDuan&utm_campaign=HeZuo")>0){
ads_display(1218);
}else{ 
ads_display(752);
}
</script>
</div>

<div class="columnBox 3g">
    <h3>编辑推荐</h3>
<div class="listWithPic">



<a href="/{随机字符}/{随机数字}_{随机数字}.html">
<img src="{随机图片}" alt="pic" title="pic">
<span>{标题}</span></a>

<a href="/{随机字符}/{随机数字}_{随机数字}.html">
<img src="{随机图片}" alt="pic" title="pic">
<span>{标题}</span></a>

</div>

<ul class="list f14">

<li>  <a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>  | <a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>


<li>  <a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a>  | <a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>


<li>  <a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a> | <a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>


<li>  <a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a>  | <a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>	

<li>  <a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a>  | <a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>


</ul>
</div>

<div class="rightAd">
<script language="javascript"> 
var _href=window.location.href;
if(_href.indexOf("?utm_source=UP&utm_medium=PCKeHuDuan&utm_campaign=HeZuo")>0){ads_display(1220)}else{
ads_display(43)}
</script>
</div>
<div class="columnBox">
<h3><a href="/{随机字符}/{随机数字}_{随机数字}.html">财新名家</a></h3>
<ul class="list f14">

<li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html">{人物名称}</a></strong>：
<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
</li>


<li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html">{人物名称}</a></strong>：
<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
</li>

<li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html">{人物名称}</a></strong>：
<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题} </a>
</li>

</ul>
</div>
<div class="columnBox">
  <h3><a href="/{随机字符}/{随机数字}_{随机数字}.html">视频</a></h3>
  <div class="listWithPic">

	 <a href="/{随机字符}/{随机数字}_{随机数字}.html">
	<img src="{随机图片}">
	<span> </span></a>

	 <a href="/{随机字符}/{随机数字}_{随机数字}.html">
	<img src="{随机图片}">
	<span></span></a>

  </div>
</div>
<div class="columnBox">
 <h3><a href="/{随机字符}/{随机数字}_{随机数字}.html">博客</a></h3>
 <ul class="list">
<li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>
<li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
<li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
<li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
<li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
 </ul></div>
<div class="columnBox"><a name="new_artical"></a>
 <h3>最新文章</h3>
 <ul class="list">
      <li><span>16:58</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>
    <li><span>16:36</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
     <li><span>15:43</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
    <li><span>15:20</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
     <li><span>15:15</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
     <li><span>15:00</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
     <li><span>14:52</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
     <li><span>14:49</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
     <li><span>14:45</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
     <li><span>14:38</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
 
 </ul>
</div>

 
<div class="rightAd"> 
<script language="javascript"> 
ads_display(696)
</script>
</div>
 
</div>
<div class="clear"></div>
<div class="bottom_tong_ad">
<script language="javascript"> 
ads_display(343)
</script>
</div>
  
</div>
<!--内容页 end-->

<!--底部 begin-->
<div class="clear"></div>
<div class="bottom"> 
<!--网站地图 begin-->
 <!--<div class="map"></div>
<script src="//file.caixin.com/webjs/caixin-bottom-map.js"></script>-->
<!--网站地图 end-->
<div class="copyright">{关键词1}所刊载内容之知识产权为{网站名称}媒及/或相关权利人专属所有或持有。未经许可，禁止进行转载、摘编、复制及建立镜像等任何使用。 <br>

<a style="color:#797878;" href="/{随机字符}/{随机数字}_{随机数字}.html" rel="nofollow">京ICP证{随机6数字}号</a> <a href="/{随机字符}/{随机数字}_{随机数字}.html">京ICP备{随机8数字}号-8 </a> |<a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html"> <img src="/_/static/ow215_finance.caixin/static/picture/1511950030301165.png" width="15px;">京公网安备 110105{随机8数字}号 </a>| <a style="color:#797878;" href="/{随机字符}/{随机数字}_{随机数字}.html">广播电视节目制作经营许可证：京第{随机5数字}号</a> | <a style="color:#797878;" href="/{随机字符}/{随机数字}_{随机数字}.html" rel="nofollow">出版物经营许可证：第直{随机68数字}号</a><br>
Copyright {关键词1} All Rights Reserved 版权所有 复制必究<br>违法和不良信息举报电话（涉网络暴力有害信息举报、未成年人举报、谣言信息）：010- {随机8数字}　131 {随机8数字}  举报邮箱：{随机字符}@{随机字符}.com</div>
<div class="navBottom"><a rel="nofollow" href="/{随机字符}/{随机数字}_{随机数字}.html">关于我们</a> | <a rel="nofollow" href="/{随机字符}/{随机数字}_{随机数字}.html">加入我们</a> | <a rel="nofollow" href="/{随机字符}/{随机数字}_{随机数字}.html">啄木鸟公益基金会
</a> | <a rel="nofollow" href="/{随机字符}/{随机数字}_{随机数字}.html">意见与反馈</a> | <a rel="nofollow" href="/{随机字符}/{随机数字}_{随机数字}.html">提供新闻线索</a> | <a rel="nofollow" href="/{随机字符}/{随机数字}_{随机数字}.html">联系我们</a> | <a rel="nofollow" href="/{随机字符}/{随机数字}_{随机数字}.html">友情链接</a> <!--| <a href="http://www.caixin.com/sitemap.html">网站地图</a>--></div>
<div class="logo"><img src="/_/static/ow215_finance.caixin/static/picture/logo_bottom.png"></div>
</div>
<!--底部end--> 
<!-- comment count js --> 
<script src="/_/static/ow215_finance.caixin/static/js/count_comment.js" type="text/javascript"></script>
<!--caixin analytics start-->
<script type="text/javascript" src="/_/static/ow215_finance.caixin/static/js/caixinlog.js"></script>
<!--caixin analytics end-->
    <script>
    var cxuid = getCookie("SA_USER_UID");
 </script>
<!-- GA start 新20200628 -->

<script async="" src="/_/static/ow215_finance.caixin/static/js/js.js">
</script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-170164631-1');
    </script>

<!-- GA  end  新20200628-->

<!-- gio start -->
<script type='text/javascript'>
    !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
    gio('init', '872f3eaac31f373e', {'setImp':'false'});

    //custom page code begin here
    (function(){
        var cxname = getCookie("SA_USER_NICK_NAME");
        if(cxuid && cxname ){
            gio('setUserId', cxuid);
        }

        (function(){//当天文章统计
            var pubDateArr = location.pathname.match(/\d{4}-\d{2}-\d{2}/);
            if(pubDateArr){
                var pubDate = pubDateArr[0];
                var nowDate = new Date().toISOString().slice(0,10);
                if(pubDate==nowDate){
                    setTimeout(function(){
                        gio('track','todayarticle',{ todayarticleid: srcinfoid+'', viewtime:nowDate, viewuser:GetCookieValue("SA_USER_UID")||"0" });
                    },2000);
                }
            }
        })();

    })();
    //custom page code end here

    gio('send');
    if(getCookie('FROM_CHINA') == 'false'){
        var path= location.href
    if(entity.type == 2) {   
    var isarticle = "article"
}
        gio('track', 'oversea_views', {'path': path, 'articleType_var':isarticle,'viewuser': cxuid || '0'})
    }
    
</script>

<noscript><iframe src="javascript:;" height="0" width="0" style="hidden:true;visibility:true"></iframe></noscript>
<!-- gio  end -->
<!-- 艾瑞  start -->


<!-- 艾瑞  end -->
 
<!--  全站收费统计代码 -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-27956240-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-27956240-2');
</script>
-->
 
<div id="relate_subject_seo" style="display:none;">

</div>
<script type="text/javascript">
$(function(){
var relate_subject = $("#relate_subject_seo").html();
$(".pip").append(relate_subject);
});
</script>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div> 
</body>

</html>