<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="/_/static/ow223_gd.cri/static/js/CqgNOlk3a_CABboAAAAAAAAAAAA7412738.jumpPTM.js"></script>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<title>{自定义标题}</title>
    <meta name="keywords" content="{关键词1}" />
    <meta name="description" content="{自定义描述}">
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta content="gd .cri.cn" name="author">
	<meta content="CRI {网站名称}" name="copyright">
	<meta name="robots" content="all">
  <link rel="stylesheet" type="text/css" href="/_/static/ow223_gd.cri/static/css/CqgNOl1wZ0-AVFwsAAAAAAAAAAA5905635.resetCSS.css">
      <link rel="stylesheet" type="text/css" href="/_/static/ow223_gd.cri/static/css/CqgNOl1wZ0-AVFwsAAAAAAAAAAA5905635.common.css">
      <link rel="stylesheet" type="text/css" href="/_/static/ow223_gd.cri/static/css/rBABCmEjbk2APza3AAAAAAAAAAA1796657.common2021df.css">
      <link rel="stylesheet" type="text/css" href="/_/static/ow223_gd.cri/static/css/rBABCmEjbk2APza3AAAAAAAAAAA1796657.nologo2021.css">
      <script>
      	!window.jQuery && document.write(
      		"<script src=\"//f2.cri.cn/M00/4F/D3/CqgNOl0-aB2AZ27lAAAAAAAAAAA5883992.jquery172.js\">" + "</scr" + "ipt>");
      </script>
        <link href="/_/static/ow223_gd.cri/static/css/CqgNOljcaLyARddBAAAAAAAAAAA1358416.articlePaging.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/_/static/ow223_gd.cri/static/css/CqgNOljcaLyAXRcEAAAAAAAAAAA9219095.sider.css">
</head>

<body>
        <script>!window.jQuery && document.write("<script src=\"//f2.cri.cn/M00/4F/D3/CqgNOl0-aB2AZ27lAAAAAAAAAAA5883992.jquery172.js\">"+"</scr"+"ipt>");</script>
<link rel="stylesheet" type="text/css" href="/_/static/ow223_gd.cri/static/css/rBABCmEjbk2APza3AAAAAAAAAAA1796657.nav21.css">
<link rel="stylesheet" type="text/css" href="/_/static/ow223_gd.cri/static/css/rBABCmKO1-uAWOpaAAAAAAAAAAA7165387.nav22v2.css">
<div class="nav-19-box">
    <div class="w1200" style="position: relative;">
        <div class="logo left shadow_1"><a href="/{随机字符}/{随机数字}_{随机数字}.html">国际在线</a></div>
        <div class="nav right">
            <div class="nav-eff-bg"></div>
            <ul>
                <li class="nav-li nav-li-index" style="display:none;"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="nav-title">首页</a></li>
                <li class="nav-li nav-li-eff-1 nav-li-add-3">
                    <a class="nav-title">语言<i></i></a>
                    <div class="li-box-wrap shadow_1">
                        <div class="ol-2 languageLine">
<fjtignoreurl>
                            <ol>
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a>
                                </li>
                                <li class="li-2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-3"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-4"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-5"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-6"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-7"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-8"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-9"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-10"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-11"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-12"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-13"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-14"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-15"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-16"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-17"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-18"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-19"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-20"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-21"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-22"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-23"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-24"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-25"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-26"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-27"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-28"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-29"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-30"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-31"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-32"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-33"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-34"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-35"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-36"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-37"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-38"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-39"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-40"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-41"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-42"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-43"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-44"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-45"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-46"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-47"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-48"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <li class="li-49"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a></li>
                                <!--<li class="li-48"><a href="http://turkish.cri.cn/" target="_blank"></a></li>
								<li class="li-49"><a href="http://urdu.cri.cn/" target="_blank"></a></li>
								<li class="li-50"><a href="http://vietnamese.cri.cn/" target="_blank"></a></li>
								<li class="li-51"><a href="http://hebrew.cri.cn/" target="_blank"></a></li>
								<li class="li-52"><a href="http://dk.gbtimes.com/" target="_blank"></a></li>
								<li class="li-53"><a href="http://nl.gbtimes.com/" target="_blank"></a></li>
								<li class="li-54"><a href="http://ee.gbtimes.com/" target="_blank"></a></li>
								<li class="li-55"><a href="http://fi.gbtimes.com/" target="_blank"></a></li>
								<li class="li-56"><a href="http://is.gbtimes.com/" target="_blank"></a></li>
								<li class="li-57"><a href="http://se.gbtimes.com/" target="_blank"></a></li>
								<li class="li-58"><a href="http://lt.gbtimes.com/" target="_blank"></a></li>
								<li class="li-59"><a href="http://no.gbtimes.com/" target="_blank"></a></li>-->
                            </ol>
</fjtignoreurl>
                        </div>
                    </div>
                </li>
                <li class="nav-li"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="nav-title">讲习所</a></li>
                <li class="nav-li"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="nav-title">国际漫评</a></li>
                <li class="nav-li"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="nav-title">国际锐评</a></li>
                <li class="nav-li"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="nav-title">国际3分钟</a></li>
                <li class="nav-li"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="nav-title">国际微访谈</a></li>
                <li class="nav-li"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="nav-title">老外在中国</a></li>
                <li class="nav-li"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="nav-title">外媒看中国</a></li>
                <li class="nav-li"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="nav-title">国际甄选</a></li>
                <li class="nav-li nav-li-eff-1 nav-li-add-1">
                    <a href="###" class="nav-title">城市远洋<i></i></a>
                    <div class="li-box-wrap shadow_1">
                        <div class="ol-1">
                            <ol>
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">城市</a></li>
                                <li class="li-2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">北京</a></li>
                                <li class="li-3"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">四川</a></li>
                                <li class="li-4"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">山东</a></li>
                                <li class="li-5"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">陕西</a></li>
                                <li class="li-6"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">河北</a></li>
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">广东</a></li>
                                <li class="li-2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">江苏</a></li>
                                <li class="li-3"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">重庆</a></li>
                                <li class="li-4"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">黑龙江</a></li>
                                <li class="li-5"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">山西</a></li>
                                <li class="li-6"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">贵州</a></li>
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">广西</a></li>
                                <li class="li-2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">福建</a></li>
                                <li class="li-3"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">吉林</a></li>
                                <li class="li-4"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湖北</a></li>
                                <li class="li-5"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">河南</a></li>
                                <li class="li-6"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">辽宁</a></li>
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">甘肃</a></li>
                                <li class="li-2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">内蒙古</a></li>  
                                <li class="li-3"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">安徽</a></li>
                                <li class="li-4"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">云南</a></li>
                                <li class="li-5"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">浙江</a></li>
                                <li class="li-6"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湖南</a></li>
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">宁夏</a></li>
                                <li class="li-2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">江西</a></li>
                                <li class="li-3"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">上海</a></li>
                                <!--<li class="li-6"><a href="http://county.cri.cn/" target="_blank">县域经济</a></li>-->
                            </ol>
                        </div>
                    </div>
                </li>
                <li class="nav-li nav-li-eff-1 nav-li-add-2">
                    <a href="###" class="nav-title">企业出海<i></i></a>
                    <div class="li-box-wrap shadow_1">
                        <div class="ol-1">
                            <ol>
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">环创</a></li>
                                <!-- <li class="li-2"><a href="https://ce.cri.cn/" target="_blank">企业</a></li> -->
                                <!-- <li class="li-3"><a href="https://cj.cri.cn/" target="_blank">城建</a></li> -->
                                <li class="li-2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">财智</a></li>
                                <li class="li-3"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">教育</a></li>
                                <!-- <li class="li-3"><a href="https://it.cri.cn/" target="_blank">科技</a></li> -->
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">汽车</a></li>
                                <!--<li class="li-2"><a href="https://eco.cri.cn/" target="_blank">生态</a></li>-->
                                <!--<li class="li-3"><a href="http://cx.cri.cn/" target="_blank">创新</a></li>
								<li class="li-1"><a href="http://ich.cri.cn/" target="_blank">非遗</a></li>
								<li class="li-2"><a href="http://money.cri.cn/" target="_blank">理财</a></li>
								<li class="li-3"><a href="https://if.cri.cn/" target="_blank">互金</a></li>
								<li class="li-3"><a href="http://arts.cri.cn/" target="_blank">书画</a></li>-->
                            </ol>
                        </div>
                    </div>
                </li>
                <li class="nav-li nav-li-eff-1 nav-li-add-2 nav-li-add-2-1">
                    <a href="###" class="nav-title">文娱体育<i></i></a>
                    <div class="li-box-wrap shadow_1">
                        <div class="ol-1">
                            <ol>
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">文娱</a></li>
                                <li class="li-2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">星访谈</a></li>
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">体育</a></li>
                                <li class="li-2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">成长说</a></li>
                                <li class="li-1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">电影</a></li>
                                <li class="li-2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">演出</a></li>
                                <!--<li class="li-1"><a href="https://edu.cri.cn/" target="_blank">国广教育</a></li>-->
                            </ol>
                        </div>
                    </div>
                </li>

                <li class="nav-li"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="nav-title">楼兰平台</a></li>
                <li class="nav-li"><a href="javascript:void(0)" onclick="aria.start()" class="nav-title nav-wza">无障碍</a></li>

                <li class="nav-li-add-4-1">
                    <a class="nav-title-1"><i></i></a>
                    <div class="search-select-box">
                      <div class="search-box">
                         <div class="w10">
			   <div class="head13_search">
				<script src="/_/static/ow223_gd.cri/static/js/CqgNOl1wZ0-AcwmbAAAAAAAAAAA0640155.search.js"></script>
				<form id="form2" name="form2" method="post" onsubmit="return change()">
                                      <div class="head13_search2_box"><div class="head13_search2">站内搜索</div></div>
					<div class="head13_search1">
					     <input name="q1" id="q1" type="text" class="input_box" autocomplete="off">
					</div>
				   <div class="head13_search3">
					<input name="sa" type="image" src="//f2.cri.cn/M00/64/C4/CqgNOl1wZ0-AK5r6AAAAAAAAAAA6774382.redsearch.png" width="23" height="18" border="0" align="absmiddle">
				   </div>
				   <div type="hidden" id="selectId" name="selectId" value="0"></div>
				</form>
			    </div>
			   <div class="newsBox"></div>
			   <div id="engine"></div>
			 </div>
                    </div>
                  </div>
                </li>
                <li class="nav-li nav-li-eff-2 nav-li-add-4">
                    <a class="nav-title-2"><i></i></a>
                    <div class="li-box-wrap shadow_1">
                        <div class="ol-3">
                            <ol>
                                <li class="li-1">
                                    <div class="li-logo"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow223_gd.cri/static/picture/CqgNOl1wZ0-AK5r6AAAAAAAAAAA6774382.3n-news-logo_03.png"></a>
                                    </div>
                                    <div class="li-title"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">ChinaNews</a></div>
                                    <div class="li-pic"></div>
                                </li>
                                <li class="li-2">
                                    <div class="li-logo"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow223_gd.cri/static/picture/CqgNOl1wZ0-AK5r6AAAAAAAAAAA6774382.3n-radio-logo.png"></a>
                                    </div>
                                    <div class="li-title"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">ChinaRadio</a></div>
                                    <div class="li-pic"></div>
                                </li>
                                <li class="li-3">
                                    <div class="li-logo"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow223_gd.cri/static/picture/CqgNOl1wZ0-AK5r6AAAAAAAAAAA6774382.3n-tv-logo_03.png"></a>
                                    </div>
                                    <div class="li-title"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">ChinaTV</a></div>
                                    <div class="li-pic"></div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>
                <li class="nav-li nav-li-eff-3 nav-li-add-5">
                    <a class="nav-title-3"><i></i></a>
                    <div class="li-box-wrap shadow_1">
                        <div class="li-box">
                            <div class="line line-1"></div>
                            <div class="line line-2"></div>
                            <div class="line line-3"></div>
                            <div class="line line-4"></div>
                            <div class="left w500">
                                <div class="ol-5">
                                    <ol>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国际</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">视频</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">图片</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">评论</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">直播</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">原创</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">文娱</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">星访谈</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">体育</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">成长说</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">电影</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">演出</a></li>
                                    </ol>
                                </div>
                                <div class="ol-6">
                                    <ol>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">讲习所</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国际漫评</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国际锐评</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国际3分钟</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国际微访谈</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">老外在中国</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">外媒看中国</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国际甄选</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">一带一路</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">楼兰平台</a></li>
                                    </ol>
                                </div>
                                <div class="ol-7">
                                    <ol>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">城市</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">环创</a></li>
                                        <!-- <li><a href="https://ce.cri.cn/" target="_blank">企业</a></li> -->
                                        <!-- <li><a href="https://cj.cri.cn/" target="_blank">城建</a></li> -->
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">财智</a></li>
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">教育</a></li>
                                        <!-- <li><a href="https://it.cri.cn/" target="_blank">科技</a></li> -->
                                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">汽车</a></li>
                                        <!--<li><a href="https://eco.cri.cn/" target="_blank">生态</a></li>-->
                                        <!--<li class="li-2"><a href="http://county.cri.cn/" target="_blank">县域经济</a></li>
                                        <li><a href="http://cx.cri.cn/" target="_blank">创新</a></li>
										<li><a href="https://jq.cri.cn/" target="_blank">景区</a></li>
										<li class="li-2"><a href="https://if.cri.cn/" target="_blank">互金</a></li>
										<li><a href="http://ich.cri.cn/" target="_blank">非遗</a></li>
										<li class="li-2"><a href="http://money.cri.cn/" target="_blank">理财</a></li>
										<li><a href="http://arts.cri.cn/" target="_blank">书画</a></li>
										<li class="li-3"><a href="http://jiaoxue.cri.cn/" target="_blank">国广教育</a></li>-->
                                    </ol>
                                </div>
                            </div>
                            <div class="right w650">
                                <div class="languageLine-clone">

                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="ol-8">
                                <div class="ol-title">地方:</div>
                                <ol>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">北京</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">四川</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">山东</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">河北</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">陕西</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">广东</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">重庆</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">黑龙江</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">福建</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">江苏</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">山西</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">贵州</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">广西</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">吉林</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湖北</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">河南</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">辽宁</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">甘肃</a></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">内蒙古</a></li>
<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">安徽</a></li>
<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">云南</a></li>
                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">浙江</a></li>
                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湖南</a></li>
                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">宁夏</a></li>
                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">江西</a></li>
                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">上海</a></li>
                                    <!--<li><a href="https://news.cri.cn/gb/42071/2014/11/06/5187s4757119.htm" target="_blank">移动版</a></li>-->
                                </ol>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script src="/_/static/ow223_gd.cri/static/js/rBABCWEjbk2AM61AAAAAAAAAAAA6442141.nav21.js"></script>
<script src="/_/static/ow223_gd.cri/static/js/rBABC2KO1-uAUF7lAAAAAAAAAAA1295512.nav22v2.js"></script>
<script src="/_/static/ow223_gd.cri/static/js/CqgNOl1wZ0-AcwmbAAAAAAAAAAA0640155.zh-360.js"></script>
 
         <div class="nav-all">
<div class="nav-pub clearfix wrap">

		<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow223_gd.cri/static/picture/CqgNOlju3mOATSqLAAAAAAAAAAA291.190x50.png" width="190" height="50" alt="频道logo" title="频道logo"></a>


		<p><a><p><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>广东要闻</strong></a>　　<a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>前沿广东</strong></a><span style="color:rgb(85, 85, 85)">　　</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>魅力镇街</strong></a><span style="color:rgb(85, 85, 85)">　　</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>科创</strong></a><span style="color:rgb(85, 85, 85)">　　</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>财经</strong></a><span style="color:rgb(85, 85, 85)">　　</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>高端访谈</strong></a><span style="color:rgb(85, 85, 85)">　　</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>房产</strong></a><span style="color:rgb(85, 85, 85)">　　</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>汽车</strong></a><span style="color:rgb(85, 85, 85)">　</span></p>

<p><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>民生在线</strong></a>　　 &nbsp;<a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>自贸区</strong></a>　　&nbsp;<a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>地方视窗</strong></a><span style="color:rgb(85, 85, 85)">　　</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>国资</strong></a><span style="color:rgb(85, 85, 85)">　　</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>教育</strong></a><span style="color:rgb(85, 85, 85)">　　</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>平安广东</strong></a><span style="color:rgb(85, 85, 85)">　　</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>品牌</strong></a><span style="color:rgb(85, 85, 85)">　 &nbsp; &nbsp;</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"><strong>文旅</strong></a><span style="color:rgb(85, 85, 85)">　</span></p>
</a></p>

</div>
</div>
	
	
	<div class="main clearfix">
		<!-- con1 -->
		<div class="con1">
                        <div class="h20"></div>
		        <div class="crumbs">
			      <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><span>{网站名称}</span></a>&nbsp&gt
			      <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><span>首页</span></a>&nbsp&gt
			      <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}</a>&gt;
			      <span class="crumbs-title">正文</span>
		        </div>
			<div class="section1 mT40">
				<h2>{关键词1}{随机后缀}{新闻网标题}</h2>
				<div class="section1-t mT30">
					<span>{当前时间}</span>
					<span>来源：{关键词1}</span>
					   <span>责编：{人物名称}</span>
                                       <div class="share">
						<div class="bdsharebuttonbox">
							<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
							<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
							<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
							<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
							<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
							<a href="#" class="bds_more" data-cmd="more">更多</a>
						</div>
					</div>
				</div>
				<!--<img src="/images/detail/icon6.jpg" alt="">-->
			</div>
			<div class="section3">
				<div id="abody" class="abody" pagedata='' isautoplay="">
                                       

<p>　　{新闻网内容}</p>

                                </div>
                                <div class="page-nav"></div>
			</div>
			<div class="mT40">
				<!--<img src="/images/detail/icon6.jpg" alt="">-->
			</div>
			<!-- 相关新闻 -->
			<div class="aboutnews">
                                
			</div>
                       <div class="h40"></div>                        
                      <div class="section4 mT10">
	                    <!--not found: https://gd.cri.cn/include/state.inc-->
                     </div>		
             </div>
        <!--右侧部分-->
        
<!-- con2 -->
		<div class="con2 mT20">
			<div class="con2-t">
				<span>相关新闻</span>
			</div>
			<div class="con2-con">
				<div class="section5 mT10">
					<ul class="mT10">

						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题} </a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}{标题} </a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题} </a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题} </a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题} </a></li>

					</ul>
				</div>
				<!-- 联系图 -->
				
				<div class="ad1 mT18">

					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" rel="nofollow"><img src="{随机图片}" width="320" height="300" alt="图片" title="图片默认标题" usemap=""></a>

				</div>
				<div class="ad1 mT18">
<!--not found: https://gd.cri.cn/inc/59f20ba7-12c6-4ad1-a0c4-f0489e02ac1e.inc-->
				</div>

				<!-- 专题推荐 -->
				<div class="section6 mT18">
					<div class="section6-t">
						<span>专题推荐</span>
					</div>

					<div class="ad1 mT20">

						<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" rel="nofollow"><img src="{随机图片}" width="320" height="150" alt="图片" title="图片"></a>

					</div>

					<div class="ad1 mT20">

						<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" rel="nofollow"><img src="{随机图片}" width="320" height="150" alt="图片" title="图片" usemap=""></a>

					</div>

					<div class="ad1 mT20">
<!--not found: https://gd.cri.cn/inc/fa24d1fe-2202-4909-be6b-bea553a5177b.inc-->
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="mT10"></div>
   <link rel="stylesheet" type="text/css" href="/_/static/ow223_gd.cri/static/css/rBABCmEjbk2APza3AAAAAAAAAAA1796657.footer21.css">
<div class="clear"></div>
<div class="footer-19-box-1">
    <div class="w1200">
        <div class="footer-19-list-1 left">
            <ul>
                <li class="item-li">
                    <div class="list-title">关于我们</div>
                    <div class="list-ol">
                        <ol>
                            <!--<li class="list-ol-li1"><a href="/" target="_blank">关于CRI</a></li>-->
                            <li class="list-ol-li1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">关于本网</a></li>
                            <!--<li class="list-ol-li2"><a href="https://news.cri.cn/gb/47051/2014/08/28/6311s4671068.htm"
                                    target="_blank">联系本网</a></li>-->
                            <li class="list-ol-li2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">本网招聘</a></li>
                        </ol>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="item-li li-1">
                    <div class="list-title">业务概况</div>
                    <div class="list-ol">
                        <ol>
                            <li class="list-ol-li1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">环球资讯</a></li>
                            <!--<li class="list-ol-li2"><a href="http://www.hitfm.cn/" target="_blank">劲曲调频</a></li>-->
                            <li class="list-ol-li2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">轻松调频</a></li>
                                                        <!--<li class="list-ol-li1"><a href="https://www.cri.cn/" target="_blank">国际在线</a></li>-->
   <li class="list-ol-li1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">移动增值</a></li>
                        </ol>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="item-li li-2">
                    <div class="list-title">商务合作</div>
                    <div class="list-ol">
                        <ol>
                            <li class="list-ol-li1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">广播广告</a></li>
                            <li class="list-ol-li2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">网站广告</a></li>
                            <li class="list-ol-li1"><fjtignoreurl><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">舆情智库</a></fjtignoreurl></li>
                            <li class="list-ol-li2"><fjtignoreurl><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">云发布</a></fjtignoreurl></li>
                        </ol>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="item-li li-3">
                    <div class="list-title">更多链接</div>
                    <div class="list-ol">
                        <ol>
                            <!--<li class="list-ol-li1"><a href="https://www.cri.cn/sitemap.html" target="_blank">网站地图</a>
                            </li>-->
                            <li class="list-ol-li1"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">网站声明</a></li>
                            <li class="list-ol-li2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">友情链接</a></li>
                            <li class="list-ol-li2" style="width:100%;"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">网上有害信息举报专区</a></li>
                        </ol>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="footer-19-list-2 right">
           
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="footer-19-box-2">
    <div class="w1200">
<fjtignoreurl>
        <div class="footer-19-list-3 left">
            <ul>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="icon-1"><i></i>中国互联网举报中心</a>
                    违法和不良信息举报电话：010-{随机8数字} 举报邮箱：jubao@{随机字符}.cn</li>
                <li>新闻从业人员职业道德监督电话：010-{随机8数字} 监督邮箱：jchsh@{随机字符}.cn&nbsp;&nbsp;互联网新闻信息服务许可证101{随机8数字}</li>
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">中国互联网视听节目服务自律公约</a>
                    信息网络传播视听节目许可证 {随机7数字}　京ICP证<a target="_blank" href="/_/static/ow223_gd.cri/static/file/2013icp.jpg">120531</a>号　<a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">京ICP备{随机8数字}号</a>　<a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">
                        <i class="securityIcon"></i>&nbsp;京公网安备 110402{随机8数字}号</a></li>
            </ul>
        </div>
        <div class="footer-19-list-4 left">
            <ul>
                <li>
                    <div class="footer-wza"></div><div class="icon-2"><a><i></i></a>网站运营：{关键词1}有限公司
                    </div>
                </li>
                <li>中央广播电视总台国际在线版权所有©
                    <script>var date = new Date; var year = date.getFullYear(); document.write(year);</script>
                </li>
                <li>未经书面授权禁止复制或建立镜像</li>
            </ul>
        </div>
        <div class="clear"></div>
</fjtignoreurl>
    </div>
</div>

<div class="return-top return-to-top"></div>

<script>
	$(window).scroll(function() {
		if ($(window).scrollTop() > 200) {
			$(".return-to-top").fadeIn(300);
		} else {
			$(".return-to-top").fadeOut(300);
		}
	});

$(".return-top").click(function() {
	$('body,html').animate({
		scrollTop: 0
	}, 500);
}); 
</script>

<div style="display:none;">
<!--cctv-->
<script>
with(document)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("exparams","v_id=&aplus&",id="tb-beacon-aplus",src=(location>"https"?"//js":"//js")+".data.cctv.com/__aplus_plugin_cctv.js,aplus_plugin_aplus_u.js")
</script>
<!--cctv end-->
<!--20220905CNZZ-->
<script type="text/javascript" src="/_/static/ow223_gd.cri/static/js/z_stat-1281157920_1281157920.js"></script>
<!--20220905CNZZ-->
</div>


<script type="text/javascript" src="/_/static/ow223_gd.cri/static/js/CqgNOljcaLyAN3cjAAAAAAAAAAA4003830.share.js"></script>
<script type="text/javascript" src="/_/static/ow223_gd.cri/static/js/CqgNOljcaLyAaH3_AAAAAAAAAAA2760218.articlePaging.js"></script>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>