<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}">
<link href="/_/static/ow226_zjjnews/static/css/text.css" rel="stylesheet" type="text/css">
<script src="/_/static/ow226_zjjnews/static/js/list.js" type="text/javascript" language="en"></script>
<script type="text/javascript" src="/_/static/ow226_zjjnews/static/js/ajax.js"></script>
<script src="/_/static/ow226_zjjnews/static/js/jquery2.0.js"></script>

</head>

<body>
<div class="header">
	<div class="header_top">
    	<div class="header_top_nav">
        	<ul class="header_top_nav1">
            <li><a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.zjjnews.cn/');return(false);" href="/{随机字符}/{随机数字}_{随机数字}.html">设为首页</a></li>
            <li>|</li>
            <li>往日回顾</li>
            <li>|</li>
            <li>新闻热线：0744-{随机7数字}</li>
            </ul>
            <ul class="header_top_nav2">
            <li class="header_top_nav_wb" id="news_wb">进入微博</li>
            <li>您好，请</li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">登录</a></li>
            <li>或</li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">注册</a></li>
            <li>|</li>
            <li id="wstg"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">网上投稿</a></li>
            </ul>
            <ul id="nwes_wb_nav">
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">腾讯微博</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">新浪微博</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">天涯微博</a></li>
            </ul>
        </div>
    </div>
     
    <div class="main_backcolor">
    <div class="main_info">
    	<div class="logo"><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow226_zjjnews/static/picture/logo.jpg" alt="logo"></a></div> 
        <div class="hl"></div>
            <div class="nav_info_01">
                <ul>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">新闻中心</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">权威发布</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">美食在线</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">图片频道</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">新闻爆料</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">网络问政</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">魅力乡镇</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">资讯频道</a></li>
                </ul>
            </div>
            <div class="hl"></div>
            <div class="nav_info_02">
            <ul> 
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">分类信息</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">数字报</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">美丽中国</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">曝光台</a></li>
            </ul>
            </div>
        <div class="zjj_tq">
<iframe allowtransparency="true" frameborder="0" width="290" height="96" scrolling="no" src="/_/static/ow226_zjjnews/index.html"></iframe>
        </div>
    </div>
    </div>
    <div class="nav">
        <div class="nav1">
        <ul> 
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">政务</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">政法</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">社会</a></li>
        <li>民生</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">旅游</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">美食</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">健康</a></li>
        <li>医疗</li>
       <!-- <li><a href="/xiaofang/" target="_blank">消防</a></li>  -->
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">教育</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">专题</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">视频</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">网盟</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">财经</a></li>
        </ul>
        </div>

    </div>
</div>
<!--<div id="list_top_ad">
	<ul id="list_top_ad1"><a href='/e/public/ClickAd?adid=85' target=_blank><img src='http://www.zjjnews.cn/d/file/2022-04-29/d5759724274122e8519a7ac7e7cfc176.jpg' border=0 width='180' height='80' alt='新时代奋斗者'></a></ul>
	<ul id="list_top_ad2"></ul>
</div> -->
<div id="list_main" style="position:relative;">
	<div id="list_main_left">
    	<div id="list_nav"><b>您的位置：</b><a href="/{随机字符}/{随机数字}_{随机数字}.html">{网站名称}</a>&nbsp;>&nbsp;<a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>&nbsp;>&nbsp;<a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a></div>
        <div id="list_news">
        	<h1>{关键词1}{随机后缀}{新闻网标题}</h1>
               
            <small>{当前时间}&nbsp;&nbsp;{关键词1}&nbsp;&nbsp;作者：{人物名称}&nbsp;&nbsp;阅读：{随机数字}次</script></small>
				<ul id="content">
						<video id="video" width="640" height="auto" controls="controls" type="video/mp4" controlslist="nodownload" webkit-playsinline="true" x-webkit-airplay="true" playsinline="true" x5-video-player-type="h5" onended="myFunction()" style="display: none;">
							<source src="" class="source">您的浏览不支持此视频，请升级浏览器。</video>
					
                            <p>{新闻网内容}</p>	
                        	<br><h3><a href="/{随机字符}/{随机数字}_{随机数字}.html">返回栏目</a><strong id="bianj">[责任编辑：{人物名称}]</strong></h3>	
                </ul>
            <div id="page">
            	
            </div>
            <div style=" height:50px; line-height:50px; text-align:center;"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" style="color:#06C; border:1px solid #DBEAF5; text-decoration:none;">举报此信息</a></div>
           
        <div><!--评论区--></div>
        </div>
   
    </div>
	<div id="list_main_right" style="position:absolute; right:0; top:0;">
    	<div id="newsTJ">
        	<p></p>
            <ul><small></small>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                
            </ul>
        </div>
    	<div id="picTJ">
        	<p></p>
            <ul>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="图片"></a><br><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></span></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="图片"></a><br><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></span></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="图片"></a><br><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></span></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="图片" 景点＋度假"复合旅游模式"=""></a><br><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></span></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="图片"></a><br><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></span></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="图片"></a><br><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></span></li>
                        </ul>
        </div>
        <div id="newsPH">
        	<p></p>
            <ul><small></small>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}{标题}</a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li><li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>            </ul>
        </div>
        <div style="width:310px; height:250px; margin-top:5px; text-align:center; overflow:hidden;">
        </div>
        <div id="active">
        	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow226_zjjnews/static/picture/more.gif" alt="more"></a></p>
            <ul><small></small>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        	<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                        </ul>
        </div>
    </div>
</div>
<div class="footer">
	<div id="sm">
    	<h3>{网站名称}版权与免责声明：</h3>
        <ul>
        	<li>①凡本网注明稿件来源：&quot;{网站名称}&quot;、&quot;{关键词1}&quot;的所有作品（如文字、图片和音、视频稿件），版权均属{网站名称}有限公司，任何媒体、网站或个人未经本网书面协议授权不得转载或以其他方式复制发表。
</li>
        	<li>② 经本网书面协议授权的媒体、网站，在下载使用时必须注明稿件来源："<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" style="font-size:12px;">{网站名称}</a>"，违者本网将依法追究责任。</li>
        	<li>③ 本网转贴的文章均转载自国家正规网站，转载目的在于传递更多信息，并不代表本网赞同其观点和对其真实性负责。</li>
            <li>④ 如本网转载稿涉及作品内容、版权和其它问题，请及时与我们联系。新闻纠错：0744-{随机7数字}</li>
        </ul>
    </div>
    <div class="foot_nav">
    	<ul>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">OA办公系统</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">关于我们</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">联系我们</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">版权声明</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">广告服务</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">人才招聘</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">会员中心</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">帮助文档</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">商务合作</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">百度新闻地图</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">BaiduMap</a></li>
        <li>|</li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{当前主域名}')" target="_blank">设为首页</a></li>
        <li>|</li>
        <li><a href='javascript:;' onclick='window.external.AddFavorite("{当前主域名}","张家界新闻网")'>
加入收藏</a></li>
        </ul>
    </div>
    <div class="zjjnews_info">
    <ul>
 <li>主管单位：{网站名称}宣传部 主办单位：{网站名称}日报社 Copyright <span style="font-family:Arial, Helvetica, sans-serif">&copy;</span> 		{年} {域名库} All Rights Reserved. 版权所有：{网站名称}</li>
   <li>电信增值业务经营许可证号：湘B-{随机8数字} ICP备案信息：<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湘ICP备{随机8数字}号</a> 互联网新闻信息服务许可证：431{随机8数字}</li>
   <li>本网站所有新闻、信息和各种专题专栏资料，均为张家界新闻网所有。未经协议授权，禁止下载使用。</li>
   <li id="jblink"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">网上有害信息举报</a><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湖南互联网辟谣平台</a><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湖南互联网不良信息举报</a><a>举报电话：0744-{随机7数字}</a></li>
   <li style="width:100%; height:80px; text-align:centerl;">
   <script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/19/294/0000/40473302/CA192940000404733020001.js' type='text/javascript'%3E%3C/script%3E"));</script>
   </li>
<li style="display:none"><script src="http://www.zjjnews.cn/e/public/ViewClick/?classid=7&id=195663&addclick=1"></li>
   </ul>


</li></ul></div>
</div>
<!--安全联盟安全插件-->
<script type="text/javascript">
	var _svq_ = _svq_ || [];
	_svq_.push(['set_api_key', '16adflfafads9gf28327005056b68c3d']);
	_svq_.push(['set_noicon_class', '']); //链接前不显示任何图标，如果需要显示，请去掉这句
	_svq_.push(['set_nopopup_class', '-sv-no-popup']); 
	_svq_.push(['check_page']);
	(function(){   
		var aq = document.createElement('script');
		aq.type = 'text/javascript'; 
		aq.async = true;   
		aq.charset = 'utf-8';
		aq.src = 'http://openapi.anquan.org//static/ow226_zjjnews/static/aq.js';    
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(aq, s); 
	})();
</script>	
<script type="text/javascript">
if( $('source').attr('src') ){ $("#video").css({"display":"block"});}else{
 $("#video").css({"display":"none"});
}
</script> 
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>