<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wb="http://open.weibo.com/wb">

<head>



    <title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}">





    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform">
    <script type="text/javascript" src="/_/static/ow222_xcb.gdut/static/js/offlights.js"></script>
    <script type="text/javascript">
        function doZoom(size) {
            document.getElementById("contentText").style.fontSize = size + "pt";
        }
    </script>
    <link href="/_/static/ow222_xcb.gdut/static/css/style.css" rel="stylesheet" type="text/css">
    <script src="/_/static/ow222_xcb.gdut/static/js/bdtxk.js" type="text/javascript"></script>

    <!--Announced by Visual SiteBuilder 9-->
    <link rel="stylesheet" type="text/css" href="/_/static/ow222_xcb.gdut/static/css/_sitegray_d.css">
    <script language="javascript" src="/_/static/ow222_xcb.gdut/static/js/_sitegray.js"></script>
    <!-- CustomerNO:77656262657232307c78475c53575742000000034250 -->
    <link rel="stylesheet" type="text/css" href="/_/static/ow222_xcb.gdut/static/css/meitizhongdaneirongye.vsb.css">
    <script type="text/javascript" src="/_/static/ow222_xcb.gdut/static/js/counter.js"></script>
    <script type="text/javascript">_jsq_(1031, '/meitizhongdaneirongye.jsp', 19953, 1674704529)</script>
</head>

<body>
    <script type="text/javascript">
        //<![CDATA[
        var theForm = document.forms['aspnetForm'];
        if (!theForm) {
            theForm = document.aspnetForm;
        }
        function __doPostBack(eventTarget, eventArgument) {
            if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                theForm.__EVENTTARGET.value = eventTarget;
                theForm.__EVENTARGUMENT.value = eventArgument;
                theForm.submit();
            }
        }
//]]>
    </script>
    <script language="JavaScript">
        <!--
        function tick() {
        var hours, minutes, seconds;
        var intHours, intMinutes, intSeconds;
        var today;
        var intMon;
        today = new Date();
        intHours = today.getHours();
        intMinutes = today.getMinutes();
        intSeconds = today.getSeconds();
        intMon = today.getMonth()
        
        if (intHours == 0) {
        hours = "00:";
        } else if (intHours < 10) { 
        hours = "0" + intHours+":";
        } else {
        hours = intHours + ":";
        }
        intHours = intHours + 2;
        if (intHours == 0) {
        syhours = "00:";
        } else if (intHours < 10) { 
        syhours = "0" + intHours+":";
        } else {
        syhours = intHours + ":";
        }
        
        if (intHours == 0) {
        hours = "00:";
        } else if (intHours < 10) { 
        hours = "0" + intHours+":";
        } else {
        hours = intHours + ":";
        }
        intHours = intHours + 2;
        if (intHours == 0) {
        syhours = "00:";
        } else if (intHours < 10) { 
        nzhours = "0" + intHours+":";
        } else {
        nzhours = intHours + ":";
        }
        
        if (intMinutes < 10) {
        minutes = "0"+intMinutes+":";
        } else {
        minutes = intMinutes+":";
        }
        if (intSeconds < 10) {
        seconds = "0"+intSeconds+" ";
        } else {
        seconds = intSeconds+" ";
        } 
        intMon =intMon +1;
        
        timeString =today.getFullYear()+"年"+ intMon +"月"+ today.getDate()+"日";
        
        Clock.innerHTML = timeString;
        window.setTimeout("tick();", 1000);
        }
        
        window.onload = tick;
        //-->
    </script>
    <script src="/_/static/ow222_xcb.gdut/static/js/5dc0a866bda26a10031347d2c413eda5_webresource.axd.js" type="text/javascript"></script>
    <!--头部导航开始-->
    <div class="topdaohang">
        <div class="topdaohangc">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td width="50%"><a
                                href="/{随机字符}/{随机数字}_{随机数字}.html">关于我们</a> |
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html">部门概况</a> |
                            <a href="/{随机字符}/{随机数字}_{随机数字}.html">学校主页</a> |

                            <script language="javascript">
                                function dosuba1002a() {
                                    try {
                                        var ua = navigator.userAgent.toLowerCase();
                                        if (ua.indexOf("msie 8") > -1) {
                                            window.external.AddToFavoritesBar(document.location.href, document.title, "");//IE8
                                        } else if (ua.toLowerCase().indexOf("rv:") > -1) {
                                            window.external.AddToFavoritesBar(document.location.href, document.title, "");//IE11+
                                        } else {
                                            if (document.all) {
                                                window.external.addFavorite(document.location.href, document.title);
                                            } else if (window.sidebar) {
                                                window.sidebar.addPanel(document.title, document.location.href, "");//firefox
                                            }
                                            else {
                                                alert(hotKeysa1002a());
                                            }
                                        }

                                    }
                                    catch (e) { alert("无法自动添加到收藏夹，请使用 Ctrl + d 手动添加"); }
                                }
                                function hotKeysa1002a() {
                                    var ua = navigator.userAgent.toLowerCase();
                                    var str = "";
                                    var isWebkit = (ua.indexOf('webkit') != - 1);
                                    var isMac = (ua.indexOf('mac') != - 1);
                                    if (ua.indexOf('konqueror') != - 1) {
                                        str = 'CTRL + B'; // Konqueror   
                                    }
                                    else if (window.home || isWebkit || isMac) {
                                        str = (isMac ? 'Command/Cmd' : 'CTRL') + ' + D'; // Netscape, Safari, iCab, IE5/Mac   
                                    }
                                    return ((str) ? '无法自动添加到收藏夹，请使用' + str + '手动添加' : str);
                                }
                                function setHomepagea1002a() {
                                    var url = document.location.href;
                                    if (document.all) {
                                        document.body.style.behavior = 'url(#default#homepage)';
                                        document.body.setHomePage(url);
                                    }
                                    else if (window.sidebar) {
                                        if (window.netscape) {
                                            try {
                                                netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                                            } catch (e) {
                                                alert("该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true");
                                            }
                                        }
                                        var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
                                        prefs.setCharPref('browser.startup.homepage', url);
                                    }
                                    else {
                                        alert("浏览器不支持自动设为首页，请手动设置");
                                    }
                                }
                            </script>
                            <a onclick="javascript:dosuba1002a();" href="#">加入收藏</a> | <a href="http://{当前域名}/sitemap.xml"
                                style="TEXT-DECORATION: none;">网站地图</a>
                        </td>
                        <td width="50%"><span class="floatright">
                                <ul class="xmt">
                                    <li class="xmtweixin"><a href="/{随机字符}/{随机数字}_{随机数字}.html">微信官号</a>
                                    </li>
                                    <li class="xmtweibo"><a href="/{随机字符}/{随机数字}_{随机数字}.html">微博官号</a>
                                    </li>
                                    <li class="xmtjbhg"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">旧版回顾</a>
                                    </li>
                                    <li class="xmtjyfk"><a href="mailto:xwzx@gdut.edu.cn" target="_blank">建议反馈</a>
                                    </li>
                                </ul>
                                <div class="clear"></div>
                            </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!--头部导航结束--><!--banner开始-->
    <div class="banner"><img src="/_/static/ow222_xcb.gdut/static/picture/banner.jpg"></div><!--banner结束--><!--栏目导航开始-->
    <div class="menu">
        <ul>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">网站首页</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">广工新闻</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">图片新闻</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">媒体广工</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">数字校报</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">人文校园</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">校友动态</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">学习园地</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">专题报道</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">新媒体联盟</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">网上校史馆</a></li>
        </ul>
    </div><!--栏目导航结束--><!--时间天气以及搜索开始-->
    <div class="sousuo">
        <div class="sousuoc">
            <table height="28" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td width="24" align="center" valign="top">
                            <div style="padding-top: 7px;"><img src="/_/static/ow222_xcb.gdut/static/picture/nowtimeico.jpg"></div>
                        </td>
                        <td width="110" valign="middle">
                            <div id="Clock"></div>
                        </td>
                        <td width="370" valign="middle">
                            <!--<iframe width="350" height="23" src="http://i.tianqi.com/index.php?c=code&amp;id=1&amp;icon=1&amp;wind=0&amp;num=1" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency=""></iframe>-->
                        </td>
                        <td width="500" valign="top"><span class="floatright">
                                <div class="sousuocon">
                                    <script type="text/javascript">
                                        function _nl_ys_check() {

                                            var keyword = document.getElementById('showkeycode275003').value;
                                            if (keyword == null || keyword == "") {
                                                alert("请输入你要检索的内容！");
                                                return false;
                                            }
                                            if (window.toFF == 1) {
                                                document.getElementById("lucenenewssearchkey275003").value = Simplized(keyword);
                                            } else {
                                                document.getElementById("lucenenewssearchkey275003").value = keyword;
                                            }
                                            var base64 = new Base64();
                                            document.getElementById("lucenenewssearchkey275003").value = base64.encode(document.getElementById("lucenenewssearchkey275003").value);
                                            new VsbFormFunc().disableAutoEnable(document.getElementById("showkeycode275003"));
                                            return true;
                                        } 
                                    </script>
                                    <form action="../../sousuo.jsp?wbtreeid=1031" method="post" id="au7a" name="au7a"
                                        onsubmit="return _nl_ys_check()" style="display: inline">
                                        <input type="hidden" id="lucenenewssearchkey275003" name="lucenenewssearchkey"
                                            value=""><input type="hidden" id="_lucenesearchtype275003"
                                            name="_lucenesearchtype" value="1"><input type="hidden"
                                            id="searchScope275003" name="searchScope" value="0">



                                        <div style="height: 24px;width: 224px;float: left"><input name="showkeycode"
                                                id="showkeycode275003" class="suosuotxt"></div>
                                        <div style="height: 24px;width: 50px;float: left"><input id="ctl00_btnseach"
                                                class="suosuobtn" type="image" src="../../images/xww_ss.png"></div>



                                    </form>
                                    <script language="javascript" src="/_/static/ow222_xcb.gdut/static/js/base64.js"></script>
                                    <script language="javascript" src="/_/static/ow222_xcb.gdut/static/js/formfunc.js"></script>
                                </div>
                            </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="newslistcon">
        <div class="listright"><span id="ctl00_ContentPlaceHolder1_ListRight1_Label1"><!--新闻回顾-->
                <div class="listrightc">
                    <div class="listrightcon">
                        <div class="listrightdh">新闻查询</div>
                        <div class="news_back_date" id="datepicker">
                            <div class="com_inputbox">
                                <script language="javascript" src="/_/static/ow222_xcb.gdut/static/js/jquery-latest.min.js"></script>
                                <!-- 注:在更改样式时页面中所有元素的id和class名称请勿随意更改 -->
                                <div class="rl" style="margin:0;">
                                    <!-- 显示日历 -->
                                    <div class="calendar" id="calendar" style="width:100%"></div>
                                    <div class="dqsj">
                                        <div class="dqsj-title">
                                            <a class="dqsj-link" target="_blank"></a>
                                            <span>
                                                <a class="dqsj-more">更多</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <script>

                                    var map = {}; //存储date-json:index对应关系
                                    var tb = ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二",
                                        "十三", "十四", "十五", "十六", "十七", "十八", "十九", "二十", "二十一",
                                        "二十二", "二十三", "二十四", "二十五", "二十六", "二十七", "二十八", "二十九", "三十", "三十一"];

                                    var json = []; //请求的数据。

                                    function getJson273899(year, month) {
                                        var time = year + "-" + month;
                                        var url = "/system/resource/news/calendar/newsservices.jsp"; //文章数据请求地址
                                        $.ajax({
                                            url: url,
                                            type: "post",
                                            data: { "date": time, "owner": '1674704529', "contentid": '242664', "is_future": 'true' },
                                            dataType: "json",
                                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                            async: false,
                                            success: function (data) {
                                                json = data;
                                                calUtil.init(json[0]);
                                            },
                                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                //alert(textStatus);   
                                            },
                                            complete: function (XMLHttpRequest, textStatus) {
                                                this; // 调用本次AJAX请求时传递的options参数   
                                            }
                                        });
                                    }

                                    //更新通知信息
                                    function fillNotice273899(i, item) {
                                        var url = "{当前主域名}" + item.url; //文章内容页地址。
                                        var title = item.title;     //文章标题
                                        var summary = item.summary; //文章摘要

                                        var titlelen = 20;
                                        var summarylen = 20;
                                        if (title.length >= parseInt(titlelen)) {

                                            title = title.substr(0, titlelen) + "...";
                                        }
                                        if (summary.length >= parseInt(summarylen)) {
                                            summary = summary.substr(0, summarylen) + "...";
                                        }
                                        $(".dqsj-title a.dqsj-link").eq(i).text(title);
                                        $(".dqsj-title a.dqsj-link").eq(i).attr("href", url);
                                        $(".dqsj-summary").eq(i).text(summary);

                                    }
                                    //更新通知信息 
                                    function updateNotice273899(date) {
                                        var num = 1 - 1; //显示num篇文章
                                        var item = json[0][map[date]];
                                        fillNotice273899(0, item); //填写第一个活动
                                        var time = calUtil.showYear + "-" + calUtil.showMonth + "-" + date;
                                        $(".dqsj").hide();
                                        $(".dqsj").eq(0).show();
                                        if (item.more != undefined && item.more.length != 0) {
                                            var index = item.more.length;
                                            if (index > num) {
                                                index = num;
                                            }
                                            var htmls = new Array();
                                            for (var i = 0; i < index; i++) {
                                                htmls.push("<div class='dqsj'>");
                                                htmls.push("<div class='dqsj-title'>");
                                                htmls.push("<a class='dqsj-link' href='' target='_blank'></a>");
                                                htmls.push("<span>");
                                                htmls.push("<a class='dqsj-more' href='' style='color:#005bac;'>更多</a>");
                                                htmls.push("</span>");
                                                htmls.push("</div>");
                                                if (false == true) {
                                                    htmls.push("<div class='dqsj-summary'></div>");
                                                }
                                                htmls.push("</div>");
                                                $(".dqsj").eq(i).after(htmls.join(''));
                                                fillNotice273899(1 + i, json[0][item.more[i]]);//填写其他活动
                                            }
                                            newsmore273899(num, time);
                                        }
                                        else {
                                            $(".dqsj-more").hide();
                                        }
                                    }
                                    //显示更多文章
                                    function newsmore273899(num, time) {
                                        $(".dqsj-more").eq(num).show();
                                        var urlMore = "../../rlwzlb.jsp?urltype=tree.TreeTempUrl&wbtreeid=1268&contentid=242664&calendarselecteddate=" + time; //每天文章数量超过num篇，查看更多链接地址
                                        $(".dqsj-more").attr("href", urlMore);
                                    }

                                    function updateCalName273899(date) {
                                        var calendarName = calUtil.showYear + "-" + calUtil.showMonth + "-" + date;
                                        $(".calendar_month_span").html(calendarName);
                                    }
                                </script>
                                <script type="text/javascript">
                                    var calUtil = {
                                        //当前日历显示的年份
                                        showYear: 2018,
                                        //当前日历显示的月份
                                        showMonth: 4,
                                        //当前日历显示的天数
                                        showDate: 19,
                                        curYear: 2018,
                                        curMonth: 4,
                                        curDate: 19,
                                        eventName: "load",
                                        curTab: 0,
                                        //初始化日历
                                        init: function (signList) {
                                            calUtil.setMonthAndDay();
                                            calUtil.draw(signList);
                                            calUtil.bindEnvent();
                                        }
                                        ,
                                        draw: function (signList) {
                                            //绑定日历
                                            var str = calUtil.drawCal(calUtil.showYear, calUtil.showMonth, signList);
                                            $("#calendar").html(str);
                                            //绑定日历表头
                                            if (calUtil.isCurrent()) {
                                                updateCalName273899(parseInt(calUtil.curDate));
                                            } else {
                                                $(".calendar_month_span").html(calUtil.showYear + "-" + calUtil.showMonth + "-" + calUtil.curDate);
                                                $("#yuefen").attr("value", calUtil.showMonth);
                                            }
                                        },
                                        //绑定事件
                                        bindEnvent: function () {
                                            //绑定上个月事件
                                            $(".calendar_month_prev").click(function () {
                                                //ajax获取日历json数据
                                                calUtil.eventName = "prev";
                                                calUtil.init(json[calUtil.curTab]);
                                                calUtil.eventName = "current";
                                                map = [];
                                                var time = calUtil.showYear + "-" + calUtil.showMonth + "-" + calUtil.showDate;
                                                getJson273899(calUtil.showYear, calUtil.showMonth);
                                            });
                                            //绑定下个月事件
                                            $(".calendar_month_next").click(function () {
                                                //ajax获取日历json数据
                                                calUtil.eventName = "next";
                                                calUtil.init(json[calUtil.curTab]);
                                                calUtil.eventName = "current";
                                                map = [];
                                                var time = calUtil.showYear + "-" + calUtil.showMonth + "-" + calUtil.showDate;
                                                getJson273899(calUtil.showYear, calUtil.showMonth);
                                            });
                                            //日期点击事件
                                            $("#calendar tbody td").click(function () {
                                                //ajax获取日历json数据
                                                var date = $(this).text();
                                                var time = calUtil.showYear + "-" + calUtil.showMonth + "-" + date;
                                                if (date != "") {
                                                    //$(".calendar_cur_date").text(tb[calUtil.showMonth-1] + "月" + tb[date-1] + ((tb[date-1].length)>1?"":"日"));
                                                }
                                                //更新日历表头

                                                //更新活动通知 add by hyj
                                                if ($(this).hasClass("on")) {
                                                    var urlMore = "../../rlwzlb.jsp?urltype=tree.TreeTempUrl&wbtreeid=1268&contentid=242664&calendarselecteddate=" + time;
                                                    //alert("urlMore="+urlMore);
                                                    location.href = urlMore;
                                                }
                                                else {
                                                    //$(".dqsj").hide();
                                                }
                                            });
                                        },
                                        //获取当前选择的年月
                                        setMonthAndDay: function () {
                                            switch (calUtil.eventName) {
                                                case "load":
                                                    var current = new Date();
                                                    calUtil.curYear = calUtil.showYear = current.getFullYear();
                                                    calUtil.curMonth = calUtil.showMonth = current.getMonth() + 1;
                                                    calUtil.curDate = calUtil.showDate = current.getDate();
                                                    break;
                                                case "prev":
                                                    var nowMonth = calUtil.showMonth;
                                                    calUtil.showMonth = parseInt(nowMonth) - 1;
                                                    if (calUtil.showMonth == 0) {
                                                        calUtil.showMonth = 12;
                                                        calUtil.showYear -= 1;
                                                    }
                                                    break;
                                                case "next":
                                                    var nowMonth = calUtil.showMonth;
                                                    calUtil.showMonth = parseInt(nowMonth) + 1;
                                                    if (calUtil.showMonth == 13) {
                                                        calUtil.showMonth = 1;
                                                        calUtil.showYear += 1;
                                                    }
                                                    break;
                                                case "current":
                                                    break;
                                            }
                                        },
                                        getDaysInmonth: function (iMonth, iYear) {
                                            var dPrevDate = new Date(iYear, iMonth, 0);
                                            return dPrevDate.getDate();
                                        },
                                        bulidCal: function (iYear, iMonth) {
                                            var aMonth = new Array();
                                            aMonth[0] = new Array(7);
                                            aMonth[1] = new Array(7);
                                            aMonth[2] = new Array(7);
                                            aMonth[3] = new Array(7);
                                            aMonth[4] = new Array(7);
                                            aMonth[5] = new Array(7);
                                            aMonth[6] = new Array(7);
                                            var dCalDate = new Date(iYear, iMonth - 1, 1);
                                            var iDayOfFirst = dCalDate.getDay();
                                            if (iDayOfFirst == 0) iDayOfFirst = 7;
                                            var iDaysInMonth = calUtil.getDaysInmonth(iMonth, iYear);
                                            var iVarDate = 1;
                                            var d, w;
                                            aMonth[0][0] = "一";
                                            aMonth[0][1] = "二";
                                            aMonth[0][2] = "三";
                                            aMonth[0][3] = "四";
                                            aMonth[0][4] = "五";
                                            aMonth[0][5] = "六";
                                            aMonth[0][6] = "日";
                                            for (d = iDayOfFirst - 1; d < 7; d++) {
                                                aMonth[1][d] = iVarDate;
                                                iVarDate++;
                                            }
                                            for (w = 2; w < 7; w++) {
                                                for (d = 0; d < 7; d++) {
                                                    if (iVarDate <= iDaysInMonth) {
                                                        aMonth[w][d] = iVarDate;
                                                        iVarDate++;
                                                    }
                                                }
                                            }
                                            return aMonth;
                                        },
                                        ifHasSigned: function (signList, day) {
                                            var signed = false;
                                            $.each(signList, function (index, item) {
                                                if (item.date == day) {
                                                    signed = true;
                                                    if (map[day] == undefined) {
                                                        map[day] = index;
                                                    } else {//多个活动则在json中添加more字段
                                                        if (signList[map[day]].more == undefined) {
                                                            signList[map[day]].more = [index];
                                                        } else {
                                                            signList[map[day]].more.push(index);
                                                        }
                                                    }
                                                }
                                            });
                                            return signed;
                                        },
                                        isCurrent: function () {
                                            return (calUtil.curYear == calUtil.showYear && calUtil.curMonth == calUtil.showMonth);
                                        },
                                        drawCal: function (iYear, iMonth, signList) {
                                            var myMonth = calUtil.bulidCal(iYear, iMonth);
                                            var htmls = new Array();
                                            htmls.push("<div class='cal_main' id='cal_layer'>");
                                            htmls.push("<div class='cal_succ_calendar_title'>");
                                            htmls.push("<div class='calendar_cur_date'></div>");
                                            htmls.push("<div class='calendar_top_right'>");
                                            htmls.push("<div class='calendar_month_next'><img src='/system/resource/news/calendar/images/right-jt-n.png'></div>");
                                            htmls.push("<div class='calendar_month_prev'><img src='/system/resource/news/calendar/images/left-jt-n.png'></div>");
                                            htmls.push("<div class='calendar_month_span'></div>");
                                            htmls.push("</div></div>");
                                            htmls.push("<div class='cal'>");
                                            htmls.push("<table>");
                                            htmls.push("<tr>");
                                            htmls.push("<th>" + myMonth[0][0] + "</th>");
                                            htmls.push("<th>" + myMonth[0][1] + "</th>");
                                            htmls.push("<th>" + myMonth[0][2] + "</th>");
                                            htmls.push("<th>" + myMonth[0][3] + "</th>");
                                            htmls.push("<th>" + myMonth[0][4] + "</th>");
                                            htmls.push("<th>" + myMonth[0][5] + "</th>");
                                            htmls.push("<th>" + myMonth[0][6] + "</th>");
                                            htmls.push("</tr>");
                                            var d, w;
                                            for (w = 1; w < 7; w++) {
                                                htmls.push("<tr>");
                                                for (d = 0; d < 7; d++) {
                                                    var ifHasSigned = calUtil.ifHasSigned(signList, myMonth[w][d]);
                                                    if (ifHasSigned) {
                                                        htmls.push("<td class='on'>" + (!isNaN(myMonth[w][d]) ? myMonth[w][d] : " ") + "</td>");
                                                    } else if (myMonth[w][d] == calUtil.curDate) {
                                                        htmls.push("<td class='cur'>" + (!isNaN(myMonth[w][d]) ? myMonth[w][d] : " ") + "</td>");
                                                        var str = tb[calUtil.showMonth - 1] + "月" + tb[calUtil.showDate - 1] + ((tb[calUtil.showDate - 1].length) > 1 ? "" : "日");
                                                        htmls[2] = "<div class=calendar_cur_date>" + str + "</div>"
                                                    } else {
                                                        if (!isNaN(myMonth[w][d])) {
                                                            htmls.push("<td>" + myMonth[w][d] + "</td>");
                                                        }
                                                        else {
                                                            htmls.push("<td class='empty'></td>");
                                                        }
                                                    }
                                                }
                                                htmls.push("</tr>");
                                            }
                                            htmls.push("</table>");
                                            htmls.push("</div>");
                                            htmls.push("</div>");
                                            return htmls.join('');
                                        }
                                    };

                                    //默认初始化
                                    calUtil.init([{ "date": "" }]);
                                    function getdata273899() {
                                        //使用服务器期时间戳,校正本地日历时间
                                        var url = "/system/resource/news/calendar/newsservices.jsp?date=2018-04";
                                        $.get(url, function (data, state, xhr) {
                                            var datestr = xhr.getResponseHeader("Date");
                                            var date = new Date(datestr);

                                            if (datestr != null && date != undefined) {
                                                calUtil.curYear = calUtil.showYear = date.getFullYear();
                                                calUtil.curMonth = calUtil.showMonth = date.getMonth() + 1;
                                                calUtil.curDate = calUtil.showDate = date.getDate();
                                            }
                                            getJson273899(calUtil.showYear, calUtil.showMonth);
                                        }, "json")
                                    }

                                    $(function () {
                                        getdata273899();
                                        var time = calUtil.showYear + "-" + calUtil.showMonth + "-" + calUtil.showDate;
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                </div><!--新闻回顾--><!--媒体工大-->
                <div class="listrightc">
                    <div class="listrightcon">
                        <div class="listrightdh"><span class="floatright"><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img
                                        src="/_/static/ow222_xcb.gdut/static/picture/gdimg2.jpg"></a></span><span
                                id="ctl00_ContentPlaceHolder1_ListRight1_lblmtgd">学校新闻</span></div>
                        <script language="javascript" src="/_/static/ow222_xcb.gdut/static/js/centerCutImg.js"></script>
                        <script language="javascript" src="/_/static/ow222_xcb.gdut/static/js/ajax.js"></script>
                        <ul class="textlistul">
                            <li>
                                <div><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题} </a></div>
                            </li>
                            <li>
                                <div><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题} </a></div>
                            </li>
                            <li>
                                <div><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题} </a></div>
                            </li>
                            <li>
                                <div><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题} </a></div>
                            </li>
                            <li>
                                <div><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题} </a></div>
                            </li>
                            <li>
                                <div><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题} </a></div>
                            </li>
                            <li>
                                <div><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题} </a></div>
                            </li>
                            <li>
                                <div><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题} </a></div>
                            </li>
                            <li>
                                <div><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题} </a></div>
                            </li>
                            <li>
                                <div><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题} </a></div>
                            </li>
                        </ul>
                        <script>_showDynClickBatch(['dynclicks_u9_19949', 'dynclicks_u9_19947', 'dynclicks_u9_19937', 'dynclicks_u9_19927', 'dynclicks_u9_19918', 'dynclicks_u9_19909', 'dynclicks_u9_19907', 'dynclicks_u9_19897', 'dynclicks_u9_19887', 'dynclicks_u9_19877'], [19949, 19947, 19937, 19927, 19918, 19909, 19907, 19897, 19887, 19877], "wbnews", 1674704529)</script>
                    </div>
                </div><!--媒体工大--><!--视频新闻-->
                <div class="listrightc">
                    <div class="listrightcon">
                        <div class="listrightdh"><span class="floatright"><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img
                                        src="/_/static/ow222_xcb.gdut/static/picture/gdimg2.jpg"></a></span><span
                                id="ctl00_ContentPlaceHolder1_ListRight1_lblspxw">图片新闻</span></div>
                        <div class="videos">
                            <ul>
                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" class="spsmallimg"><img
                                            src="{随机图片}"
                                            width="132" height="88"></a>
                                    <div style="width:132px;height:20px;line-height:20px; overflow:hidden;"><a
                                            href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></div>
                                    <span class="floatright"><span id="dynclicks_u10_19950"
                                            name="dynclicks_u10_19950"></span>次</span>
                                    <font>{年月日}</font>
                                </li>
                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" class="spsmallimg"><img
                                            src="{随机图片}"
                                            width="132" height="88"></a>
                                    <div style="width:132px;height:20px;line-height:20px; overflow:hidden;"><a
                                            href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></div>
                                    <span class="floatright"><span id="dynclicks_u10_19950"
                                            name="dynclicks_u10_19950"></span>次</span>
                                    <font>{年月日}</font>
                                </li>
                            </ul>
                            <ul>
                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" class="spsmallimg"><img
                                            src="{随机图片}"
                                            width="132" height="88"></a>
                                    <div style="width:132px;height:20px;line-height:20px; overflow:hidden;"><a
                                            href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></div>
                                    <span class="floatright"><span id="dynclicks_u10_19950"
                                            name="dynclicks_u10_19950"></span>次</span>
                                    <font>{年月日}</font>
                                </li>
                               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" class="spsmallimg"><img
                                            src="{随机图片}"
                                            width="132" height="88"></a>
                                    <div style="width:132px;height:20px;line-height:20px; overflow:hidden;"><a
                                            href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></div>
                                    <span class="floatright"><span id="dynclicks_u10_19950"
                                            name="dynclicks_u10_19950"></span>次</span>
                                    <font>{年月日}</font>
                                </li>
                            </ul>
                            <script>_showDynClickBatch(['dynclicks_u10_19950', 'dynclicks_u10_19948', 'dynclicks_u10_19938', 'dynclicks_u10_19928'], [19950, 19948, 19938, 19928], "wbnews", 1674704529)</script>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div><!--视频新闻-->
            </span></div>
        <div class="listleft">
            <div class="listdaohang"><b>您现在的位置:</b>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html">{网站名称}</a>
                &gt;&gt;
                <a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>
                &gt;&gt;
                <a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>
            </div>
            <div class="contentmain">
                <h3 class="yinti"><span id="ctl00_ContentPlaceHolder1_tbxTitleIntact"></span></h3>
                <script language="javascript" src="/_/static/ow222_xcb.gdut/static/js/NewsvoteDWR.js"></script>
                <script language="javascript" src="/_/static/ow222_xcb.gdut/static/js/engine.js"></script>
                <script language="javascript" src="/_/static/ow222_xcb.gdut/static/js/newscontent.js"></script>
                <link rel="stylesheet" content-type="text/css" href="/_/static/ow222_xcb.gdut/static/css/format2.css">
                <form name="_newscontent_fromname">
                    <h1 class="title"><span id="ctl00_ContentPlaceHolder1_tbxTitle">【{关键词1}{随机后缀}{新闻网标题}</span>
                    </h1>
                    <div class="zt_title"></div>
                    <h3 class="fubiaoti"><span id="ctl00_ContentPlaceHolder1_tbxSubheading"></span>
                    </h3>

                    <div class="info"><span class="floatright">字体：<a href="javascript:doZoom(9)">小</a> <a
                                href="javascript:doZoom(10.5)" style="font-size:13px">
                                中</a> <a href="javascript:doZoom(13)" style="font-size:14px">大</a></span>
                        <span id="ctl00_ContentPlaceHolder1_tbxUpdateTime">{年月日}</span>
                        浏览量：<span id="ctl00_ContentPlaceHolder1_lblHits">
                            <script>_showDynClicks("wbnews", 1674704529, 19953)</script>
                        </span>次


                        <span id="ctl00_ContentPlaceHolder1_tbxAuthor"> 作者{人物名称}</span>



                        <span id="ctl00_ContentPlaceHolder1_tbxEditor"> 编辑：{人物名称}</span>
                        <span id="ctl00_ContentPlaceHolder1_tbxCopyFrom">来源：{关键词1} {年月日}</span>
                        <span id="ctl00_ContentPlaceHolder1_tbxCopyFrom">审核：{人物名称}</span>

                    </div>
                    <div id="ctl00_ContentPlaceHolder1_jj">
                        <p><span id="ctl00_ContentPlaceHolder1_tbxIntro">

                            </span></p>
                    </div>
                    <div class="content" id="contentText">
                        <div id="vsb_content_2">
                            <div class="v_news_content">
                                <p class="vsbcontent_start">
                                    {关键词1}{句子}
                                </p>
                                <p>{句子}{关键词1}{句子}
                                </p>
                                <p>{句子}{关键词1}{句子}{关键词1}{句子}
                                </p>
                                <p>{句子}
                                </p>
                                <p>{句子}{关键词1}{句子}
                                </p>
                                <p>{句子}{关键词1}{句子}{关键词1}{句子}
                                </p>
                                <p>{句子}{关键词1}{句子}
                                </p>
                                <p>{句子}{关键词1}{句子}
                                </p>
                                <p>{句子}{关键词1}{句子}
                                </p>
                                <p>{句子}{关键词1}</p>
                                <p class="vsbcontent_end">网址链接：<a href="/{随机字符}/{随机数字}_{随机数字}.html"
                                        target="_self">{当前url}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="div_vote_id"></div>
                    <input type="hidden" id="hid_link" value="">
                    
                    <div class="fenxianga">
                        <span class="floatright">
                            <div class="jiathis_style_24x24">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a class="jiathis_button_renren"></a>
                                <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="jiathis jiathis_txt jtico jtico_jiathis"
                                    target="_blank"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"></script>
                        </span><a href="#slj">[评论文章]</a> <a href="#">
                            <a href="javascript:window.close()">[关闭]</a> <a href="javascript:history.go(-1);">
                                [返回]</a>
                    </div>
                    <div class="frontart">
                        <br>
                        下一篇：<span id="ctl00_ContentPlaceHolder1_lblsyp"><a
                                href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></span>
                    </div>
                    <p align="right">【<a
                            href="javascript:window.opener=null;window.open('','_self');window.close();">关闭</a>】</p>
                </form>


                <div class="artmes" id="slj"><b>我来说两句</b>
                    <div class="mesline">
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="bottom">
        <div class="bottomline">
            <div class="bottomlinec"></div>
        </div>
        <div class="yqlj">
            <script type="text/javascript">
                function linkall() {
                    var h = document.getElementById('links').style.height;
                    if (h == "60px") {
                        document.getElementById('links').style.height = "auto";
                    }
                }
            </script>
            <div class="yqljtitle"><span class="floatright"><img src="/_/static/ow222_xcb.gdut/static/picture/xsqb.jpg"
                        onclick="linkall()"></span>&nbsp;友情链接</div>
            <div class="yqljcon">
                <div id="links" style="height: 60px; overflow: hidden;">
                    <div class="yqljcon2">
                        <ul>
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></li>
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></li>
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></li>
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></li>
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></li>
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></li>
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></li>
                            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></li>
                        </ul>
                        <div class="clear:both;"></div>
                    </div>

                </div>
            </div>
            <div class="bottomcon"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
                <p>Copyright©{年} {域名库} All Rights Reserved {网站名称} 版权所有 <a href="/{随机字符}/{随机数字}_{随机数字}.html"
                        target="_blank">粤ICP备{随机8数字}号</a></p>
                <p>技术支持 {关键词1}技术中心 电子邮箱：<a href="{随机字符}/{随机数字}_{随机数字}.html">{随机字符}@{随机字符}.cn</a></p>
                <p>建议使用IE7内核以上浏览器</p>
            </div>
        </div>
    </div>
    <div></div>
    <div></div>

    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>

</html>