<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}">
<link href="/_/static/ow225_chinahunan/static/css/style.css" rel="stylesheet" type="text/css">
<link href="/_/static/ow225_chinahunan/static/css/style_lb.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/_/static/ow225_chinahunan/static/js/master.js"></script>
<script type="text/javascript" src="/_/static/ow225_chinahunan/static/js/jquery-1.9.1.min.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script language="JavaScript">
    if((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
        window.location.href="http://m.chinahunan.net/view.php?aid=14929";
    }
</script>
</head>
<body>
<div class="nav_top">
    
    <div class="logo_h">
    	<div class="logo"><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow225_chinahunan/static/picture/hszx_logo.jpg" height="73"></a></div>
        <div class="logo_c">
        	<p>湖南第一新闻互动媒体</p>
            <div class="app-link-list">提供湖南权威、及时、多样的新闻资讯</div>
        </div>
        <div class="logo_r">
        	
            <div class="search_z">
            	
                <div class="search_r">
                	<form id="s_form" name="s_form" method="post" target="_blank" action="">
                        <input type="hidden" value="1" name="search_type" class="selectvalue">
                        <input type="text" value="" name="s_key" id="s_key" placeholder="关键词..." onkeydown="if(event.keyCode==13) {search_submit();return false;}">
                        <a onclick="search_submit();return false;"><img src="/_/static/ow225_chinahunan/static/picture/fdj.jpg" width="22" height="26"></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav">
	<div class="nav_in">
	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">首页</a></p>
	
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湖南</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">长沙</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">社会</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国内</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国际</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">财经</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">科技</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">娱乐</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">教育</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">健康</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">时尚</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">汽车</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">房产</a></p>
        
	<span></span>
    	<p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">历史</a></p>
        
    </div>
</div>
<div class="main">
  <div class="linebox">
     <div class="cont">
<h1>{关键词1}{随机后缀}{新闻网标题}</h1>
<div class="font_time">
                <div style="float:left; width:530px;">{当前时间}&#160;&#160;[来源:{关键词1}]&#160;&#160;[作者:{人物名称}]</div>
                <div style="float:right;width:110px;">字体:【<a href="javascript:changesize(18)">大</a> <a href="javascript:changesize(16)">中</a> <a href="javascript:changesize(14)">小</a>】</div>
        </div>
<div id="content">
<p style="margin: 5px 0px; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; text-indent: 2em;">
	&#8203{新闻网内容}</p>

      
        </div>
<div class="xgxw_bt" id="xgxw">相关新闻</div>
<ul class="xgxw_nr">

        </ul>		
		
		
     </div>
     <div class="rightbar">
       <div class="mod2">
        <div class="cont">
		
         </div>
       </div>
       <div class="mod2">
         <div class="tit"><span class="title">猜你喜欢</span></div>
         <div class="cont">
		 <div class="img328"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}" width="328" height="164"></a></div><div class="img328_t"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></div>


         </div>
       </div>
       <div class="mod2">
          <div class="tit"><span class="title">热点排行</span></div>
          <div class="cont">
            <ul class="pa_list">
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{关键词1}{标题}</a></li>
<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
  
            </ul>
          </div>
       </div>
     </div>
  </div>
</div>

<div class="foot-infor">
  <div class="aboutus">
  <a href="#" target="_blank">关于我们</a>
| <a href="#" target="_blank">广告服务</a>
| <a href="#" target="_blank">舆情服务</a>
| <a href="#" target="_blank">网站建设</a>
| <a href="#" target="_blank">商务合作</a>
| <a href="#" target="_blank">诚聘英才</a>
| <a href="#" target="_blank">法律声明</a>
| <a href="#" target="_blank">联系我们</a>
</div>
广告合作QQ：7{随机8数字} | 邮箱：{随机8数字}@qq.com 版权所有：{网站名称} 未经授权禁止复制或建立镜像<br>
相关作品的原创性、文中陈述文字以及内容数据庞杂本站无法一一核实，如果您发现本网站上有侵犯您的合法权益的内容，请联系我们，本网站将立即予以删除！
<div class="blank6"></div>   
  <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow225_chinahunan/static/picture/b02.gif" alt="中国互联网违法和不良信息举报中心" width="118" height="48" border="0"></a>&nbsp;   
  <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow225_chinahunan/static/picture/b03.gif" alt="全国新闻记者证管理及核验网络系统" width="118" height="48" border="0"></a>&nbsp;   
  <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow225_chinahunan/static/picture/b04.gif" alt="网络警察报警岗亭" width="118" height="48" border="0"></a>&nbsp; 
    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow225_chinahunan/static/picture/b05.jpg" alt="湖南省互联网违法和不良信息举报中心" width="118" height="48" border="0"></a>
    &nbsp; 
    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow225_chinahunan/static/picture/b06.jpg" alt="湖南省互联网辟谣平台" width="118" height="48" border="0"></a>
</div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>
