<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/_/static/ow237_newshenan/static/css/css.css" type="text/css">
<link href="/_/static/ow237_newshenan/static/css/list.css" rel="stylesheet" type="text/css">

</head>

<body>
<header>
<div class="head">
  <div class="logo"><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/logo.png"></a></div>
  <div class="sousuo">
  <input type="text" name="sousuo" class="sou">
  <input type="image" src="/_/static/ow237_newshenan/static/image/sousuo.jpg" alt="搜索" class="suo">
  </div>
  <div class="dingyue">
  <p><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/dingyue_03.png" alt="新浪微博"></a><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/dingyue_05.png" alt="腾讯微博"></a><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/dingyue_07.png" alt="微信"></a></p>
  </div>
</div>

<nav>
 <ul>
   <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">河南</a>
      <ul>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">民生</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">社会</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">法制</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">资讯</a></li>
             </ul>
   </li>
   <b>/</b>
   <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">文化</a>
      <ul>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">旅游</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">历史</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">体育</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">教育</a></li>
             </ul>
   </li>
   <b>/</b>
   <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">财经</a>
      <ul>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">汽车</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">理财</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">房产</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">科技</a></li>
             </ul>
   </li>
   <b>/</b>
   <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">娱乐</a>
      <ul>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">星座</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">时尚</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">影视</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">明星</a></li>
             </ul>
   </li>
   <b>/</b>
   <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">生活</a>
      <ul>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">情感</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">健康</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">消费</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">美食</a></li>
             </ul>
   </li>
   <b>/</b>
   <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">军事</a>
      <ul class="junshi">
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">邻邦</a></li>
               <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">中国</a></li>
             </ul>
   </li>
 </ul>
</nav>
</header>

<div class="wapper clearfix">
    <div class="breadcrumb">当前位置：<a href="/{随机字符}/{随机数字}_{随机数字}.html">{网站名称}</a>&nbsp;>&nbsp;<a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>&nbsp;>&nbsp;<a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>&nbsp;&gt;&nbsp;正文</div>
    <div class="content-ny">
      <h1 class="title">{关键词1}{随机后缀}{新闻网标题}</h1>
      <div class="ftime">
        <div class="fl col6">{当前时间}&nbsp;&nbsp;来源: <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}</a>&nbsp;&nbsp;作者：{人物名称}</div>
        <div class="common col6 fr">发表评论：<span class="hits"><script type="text/javascript" src="http://www.newshenan.com/e/public/ViewClick/?classid=7&id=2354&down=2"></script></span></div>
      </div>
      <div class="bank10"></div>
      <div class="bd">
        <p class="ql-align-center" style="margin-top: 0px; margin-bottom: 0px; cursor: text; padding: 0px; counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0 list-9 0; text-align: center; color: rgb(3, 3, 3); font-family: -apple-system, BlinkMacSystemFont, &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, STHeiti, Helvetica, Arial, sans-serif; white-space: pre-wrap; line-height: 2;"></p><p style="margin-top: 0px; margin-bottom: 0px; cursor: text; padding: 0px; counter-reset: list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0 list-9 0; color: rgb(3, 3, 3); font-family: -apple-system, BlinkMacSystemFont, &quot;PingFang SC&quot;, &quot;Microsoft YaHei&quot;, STHeiti, Helvetica, Arial, sans-serif; text-align: justify; white-space: pre-wrap; line-height: 2; text-indent: 42.67px;"><span style="font-size: 21.33px;">{关键词1}{随机后缀}{新闻网标题}
          {新闻网内容}</span></p><p><br></p>                <p align="center" class="pageLink"></p>
         <div class="share"><div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_huaban" data-cmd="huaban" title="分享到花瓣"></a><a href="#" class="bds_kaixin001" data-cmd="kaixin001" title="分享到开心网"></a><a href="#" class="bds_ty" data-cmd="ty" title="分享到天涯社区"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin","huaban","kaixin001","ty"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin","huaban","kaixin001","ty"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com//static/ow237_newshenan/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></div>
      </div>
      <div class="bank20"></div>
      <!--tie begin-->
      		<script>
    function CheckPl(obj)
    {
    if(obj.saytext.value=="")
    {
    alert("请填写评论内容");
    obj.saytext.focus();
    return false;
    }
    return true;
    }
    </script>
	<form action="/e/pl/doaction.php" method="post" name="saypl" id="saypl" onsubmit="return CheckPl(document.saypl)">
        <div id="tieArea" class="tie-area">
          <div class="tie-post js-post-area" id="tiePostBox">
            <div class="tie-titlebar tie-title-mend"><strong>网友评论</strong> <span class="tie-info"><font id="infocommentnumarea">0</font>条评论</span></div>
            <div class="tie-postform">
              <div class="tie-post-area">
                <div class="post-area-input js-postinput">
                  <textarea rows="8" cols="80" class="tie-textarea js-postBox" name="saytext" id="saytext" onfocus="if(this.value=='文明上网，登录发贴') this.value=''">文明上网，登录发贴</textarea>
                </div>
              </div>
              <div class="tie-author js-tie-author">
                <div class="js-unlogin" style="display: block;">
                  <div class="tie-author-login js-save"> 验证码:
                    <input name="key" type="text" class="inputText" size="10">
                    <img src="/_/static/ow237_newshenan/static/picture/picture.jpg" align="absmiddle" onclick="this.src='/e/ShowKey/?v=pl&'+Math.random();" alt="看不清楚,点击刷新">
                    <input name="nomember" type="hidden" id="nomember" value="1" checked="checked">
                    <input type="submit" name="imageField" value="发表评论" class="tie-sprite post-btn js-loginPostBtn">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input name="nomember" type="hidden" id="nomember" value="1">
        <input name="id" type="hidden" id="id" value="2354">
        <input name="classid" type="hidden" id="classid" value="7">
        <input name="enews" type="hidden" id="enews" value="AddPl">
        <input name="repid" type="hidden" id="repid" value="0">
        <input type="hidden" name="ecmsfrom" value="/henan/2354.html">
      </form>
      <div class="bank20"></div>
      <div class="pln">
        <div class="hd">
          <h3>所有评论</h3>
        </div>
        <div class="con">
            <div id="viewpl">
              <div id="infocommentarea"></div>
              <script src="http://www.newshenan.com/e/extend/infocomment/commentajax.php?classid=7&id=2354"></script>        
            </div>          
        </div>
      </div>
      <!--tie end-->
      <div class="bank20"></div>
    </div>
  </div>

<footer>
 <div class="foot">
  <h3>友情链接</h3>
  <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="" target="_blank">{随机关键词}</a>
<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="" target="_blank">{随机关键词}</a>
<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="" target="_blank">{随机关键词}</a>
<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="" target="_blank">{随机关键词}</a>
<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="" target="_blank">{随机关键词}</a>
<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="" target="_blank">{随机关键词}</a>
<a href="/{随机字符}/{随机数字}_{随机数字}.html" title="" target="_blank">{随机关键词}</a>
</p>
 </div>
 
 <div class="content-u">
  <p><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/zhyz.png"></a><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/smyz.png"></a><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/kxpg.jpg"></a><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/bjfw.gif"></a><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/wm.gif"></a><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/jbzx.gif"></a><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow237_newshenan/static/picture/smrz.png"></a></p>
 </div>
 
 <div class="content-v">
    <h3><a href="/{随机字符}/{随机数字}_{随机数字}.html">关于我们</a><b>/</b>
                      <a href="/{随机字符}/{随机数字}_{随机数字}.html">人才招聘</a><b>/</b>
                     <a href="/{随机字符}/{随机数字}_{随机数字}.html">帮助中心</a><b>/</b>
                     <a href="/{随机字符}/{随机数字}_{随机数字}.html">联系方式</a><b>/</b>
                     <a href="/{随机字符}/{随机数字}_{随机数字}.html">免责申明</a><b>/</b>
                     <a href="/{随机字符}/{随机数字}_{随机数字}.html">客户服务</a><b>/</b>
                     <a href="/{随机字符}/{随机数字}_{随机数字}.html">版权声明</a><b>/</b>
       </h3>
  <p>河南网服务电话：0371-{随机8数字}&nbsp;&nbsp;传真：0371-{随机8数字}&nbsp;&nbsp;QQ：28{随机8数字}</p>
  <p>网站法律顾问：{关键词1}律师事务所&nbsp;&nbsp;&nbsp;&nbsp;{人物名称}&nbsp;&nbsp;&nbsp;&nbsp; 法律声明</p>
  <p>{网站名称}&nbsp;&nbsp;版权所有&nbsp;&nbsp;本站点信息未经允许不得复制或镜像&nbsp;&nbsp;&nbsp;<a href="/{随机字符}/{随机数字}_{随机数字}.html">豫ICP备{随机8数字}号-4</a>&nbsp;&nbsp;</p>
 </div>
 <div class="dbq">Copyright © {年} {域名库} {网站名称} All Right Reserved.　
 
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254822762'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1254822762%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script> </div>
</footer>

</body>
</html>