<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{自定义标题}</title>
		<meta name="keywords" content="{关键词1}" />
		<meta name="description" content="{自定义描述}">
		<link href="/_/static/ow271_dajilin/static/css/content_style.css" rel="stylesheet" type="text/css">
        <link href="/_/static/ow271_dajilin/static/css/reset.css" rel="stylesheet" type="text/css">
		<script src="/_/static/ow271_dajilin/static/js/fromsubmit.js"></script>
<script>
function browserRedirect() {
    var sUserAgent = navigator.userAgent.toLowerCase();
    var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
    var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
    var bIsMidp = sUserAgent.match(/midp/i) == "midp";
    var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
    var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
    var bIsAndroid = sUserAgent.match(/android/i) == "android";
    var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
    var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
    if ((bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) ){
        uaredirect();
    }
}
function uaredirect() {
	
	urlPad = "{当前url}"

	if(urlPad){
		window.location.href=urlPad;
	}else{
		window.location.href="{当前主域名}";
	}
}

browserRedirect();
</script> 
	</head>
	<style>
    .news img{
		max-width:600px;
	}
	.title span{
		width:100%;
	}
	
	body{ padding:0 !important}
    </style>
	<body>
    	<!--Navigation start-->
		<div class="nav-banner">
			<ul class="nav">
				                 
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">吉林</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">人事</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">曝光</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">原创</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">直播</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">国内</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">体育</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">健康</a></li>

                <li class="down"><a href="/{随机字符}/{随机数字}_{随机数字}.html">数字报</a>
                <div class="down_box down_box02">
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>吉林日报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>长春日报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>江城日报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>四平日报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>辽源日报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>延边日报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>通化日报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>松原日报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>白城日报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>长白山日报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>城市晚报</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>东亚经贸</p></a>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><p>吉林农村报</p></a>
                </div>
                </li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">发布</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">监察</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">民生</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">图片</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">专题</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">国际</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">文娱</a></li>

                
                <li><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">旅游</a></li>

                <li class="nav_more" data-isopen="0">更多 +</li>

                
                <li class="nav_down"><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">评论</a></li>

                
                <li class="nav_down"><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">政库</a></li>

                
                <li class="nav_down"><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">教育</a></li>

                
                <li class="nav_down"><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">财经</a></li>

                
                <li class="nav_down"><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">科技</a></li>

                
                <li class="nav_down"><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">活动</a></li>

                
                <li class="nav_down"><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">视频</a></li>



         
			</ul>
		</div>
        <!--Navigation end-->
        <!--advertisement start-->
		<div class="advertisement">
        <!--列表广告盒子03_01-->
        <div class="adbox adbox_03_01">
		<div class="content_box">

		
		

		</div>
		</div>
		</div>
        <!--advertisement end-->
        <!--news start-->
        <!--column start-->
		<div class="nav-title">
			<div class="logo">
            	<a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow271_dajilin/static/picture/04_r2_c2.jpg" width="173" height="65" alt=""></a>
            </div>
			<div class="nav-mini">
            
           		 <a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a> ><a href="/{随机字符}/{随机数字}_{随机数字}.html">正文</a>
 
            </div>
		</div>
        <!--column end-->
		<div class="main">
        
        	<!--news title start-->
            <div class="title-title">
				{关键词1}{随机后缀}{新闻网标题}
            
            
            
            
            
            
            <p> &nbsp;&nbsp;更新时间：{当前时间} &nbsp;&nbsp;来源：{关键词1}</p>
			</div>
           <!--news title end-->

			<!--left start-->
  			<div class="more-right">
				<div class="header">
					<span class="line1"></span>
					<span class="text"><strong>吉报头条</strong></span>
					<span class="line2"></span>
				</div>
				<div class="xgxws">
					<ul>
						 
                                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>

					</ul>
				</div>
                <div class="header">
					<span class="line1"></span>
					<span class="text"><strong>重要新闻</strong></span>
					<span class="line2"></span>
				</div>
				<div class="xgxws">
					<ul>
						 
                                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>

					</ul>
				</div>
				<div class="header">
					<span class="line1"></span>
					<span class="text"><strong>国内新闻</strong></span>
					<span class="line2"></span>
				</div>
				<div class="xgxws">
					<ul>
						
                                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>

					</ul>
				</div>
				<div class="header">
					<span class="line1"></span>
					<span class="text"><strong>国际新闻</strong></span>
					<span class="line2"></span>
				</div>
				<div class="xgxws">
					<ul>
						
                                                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">​{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>

					</ul>
				</div>
                <div class="header">
					<span class="line1"></span>
					<span class="text"><strong>图片精选</strong></span>
					<span class="line2"></span>
				</div>
				<div class="xgxws">
                    
                                                    <div class="tpjx">
                                <img src="{随机图片}" width="140" height="100" alt="">
                                <div class="tpjx-title"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></div>
                            </div>
                            <div class="tpjx">
                                <img src="{随机图片}" width="140" height="100" alt="">
                                <div class="tpjx-title"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></div>
                            </div>
                            <div class="tpjx">
                                <img src="{随机图片}" width="140" height="100" alt="">
                                <div class="tpjx-title"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></div>
                            </div>
                            <div class="tpjx">
                                <img src="{随机图片}" width="140" height="100" alt="">
                                <div class="tpjx-title"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></div>
                            </div>
                            <div class="tpjx">
                                <img src="{随机图片}" width="140" height="100" alt="">
                                <div class="tpjx-title"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></div>
                            </div>

				</div>
</div>
            <!--left end-->
			<div class="content">
            	<!--news share start-->
             
				<div class="share">
					<ul>
						<li><img src="/_/static/ow271_dajilin/static/picture/fx.jpg" width="100" height="25" alt=""></li>
						<li class="share_wx"><a href="/{随机字符}/{随机数字}_{随机数字}.html" onclick="javascript:bShare.share(event,'weixin',0);return false;"></a></li>
						<li class="share_wb"><a href="/{随机字符}/{随机数字}_{随机数字}.html" onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;"></a></li>
						<li class="share_qq"><a href="/{随机字符}/{随机数字}_{随机数字}.html" onclick="javascript:bShare.share(event,'qqim',0);return false;"></a></li>
						<li><img src="/_/static/ow271_dajilin/static/picture/gn.jpg" width="100" height="25" alt=""></li>
						<!--<li><img src="/resource/img/service.jpg" width="80" height="60" alt="" /></li>-->
						<li><img src="/_/static/ow271_dajilin/static/picture/zhj.jpg" onclick='big()' width="80" height="60" alt=""></li>
						<li><img src="/_/static/ow271_dajilin/static/picture/zhjian.jpg" onclick='small()' width="80" height="60" alt=""></li>
					</ul>
				</div>
                <!--news share end-->
				<div class="news">
                	<!--news text start-->
					<div id="new-font" class="news-content">
						 
                        <p><!--enpcontent--><p style="text-indent: 2em; text-align: left;">{新闻网内容}</p><p><br></p>

					</div>
                    <!--news text end-->
                    <!--news text suffix start-->
					<div class="news-foot">
                    	 
                        	                           	<div class="new-foot-right">编辑：{人物名称}</div>


					</div>
                    <!--news text suffix end-->
                    <!--related news start-->
					<div class="xgxw">
                    
                    	
       
					</div>
                    <!--related news end-->
                    <div class="pl">
                    
                    	                        <script type="text/javascript" src="/_/static/ow271_dajilin/static/js/jquery.min.js"></script>
                        <div id="discuss"></div>
                        <script type="text/javascript">
                        var discuss = {
                           rooturl:"www.dajilin.com",
                           apiroot:"www.dajilin.com:8090/app_if/",
                           articleID:"220239",
                           siteID:"1",
                           channel:0
                        }
                        </script>
                        <script type="text/javascript" src="/_/static/ow271_dajilin/static/js/discussMain.js"></script>
                        <script type="text/javascript" src="/_/static/ow271_dajilin/static/js/jquery.reveal.js"></script>
                        <link rel="stylesheet" href="/_/static/ow271_dajilin/static/css/reveal.css">

                   </div>
				</div>
                
			</div>
		</div>
		<!--news end-->
        
        <!--foot start-->
        <div class="copyright">
			<div class="main">
				<p class="bottom_link">
	
					
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">关于我们</a>|
					<a href="/{随机字符}/{随机数字}_{随机数字}.html">广告服务</a>|
					<a href="/{随机字符}/{随机数字}_{随机数字}.html">联系我们</a>|

					
					<span> Copyright ® 版权 所有：{网站名称} </span>
				</p>
<p><a href="/{随机字符}/{随机数字}_{随机数字}.html">网络不良与垃圾信息举报受理中心</a></p><p> 违法和不良信息举报邮箱：{随机字符}@163.com&nbsp;&nbsp;&nbsp;&nbsp; 违法和不良信息举报: 0431-{随机8数字}</p>
				<p><a href="/{随机字符}/{随机数字}_{随机数字}.html">ICP备案号：吉ICP备{随机8数字}号</a>&nbsp;&nbsp; &nbsp;&nbsp; 网络经营许可证号：吉B-2-4-{随机8数字}</p>
				<p>爆料电话：0431-{随机8数字}</p>

			</div>
		</div>
        <!--foot end-->
</body>
    <script src="/_/static/ow271_dajilin/static/js/jquery.js"></script>
	<script type="text/javascript">
		var FS = 16;

		function big() {
			var a = document.getElementById('new-font');
			FS += 2;
			a.style.fontSize = FS + 'px';
		}

		function small() {
			var a = document.getElementById('new-font');
			FS -= 2;
			a.style.fontSize = FS + 'px';
		}
		var videoSrc= 'http://www.dajilin.com/resource/img/04_r2_c2.jpg';
		$(".video-js").attr('poster',videoSrc);
		$(".video-js").width(700);
		//通用下拉
		$(".down").hover(function() {
			$(this).children(".down_box").show();
			$(".down_box p").css("border", "none");
		}, function() {
			$(this).children(".down_box").hide();
		});
		//首页导航下拉
		$(".nav .nav_more").click(function() {
			$(".nav_down").fadeToggle();
			var isopen = $(".nav_more").data("isopen");
			if(isopen == "1"){
				$(this).data("isopen",'0');
				$(this).html("更多 +");
				$(".nav-banner").height(50);
				
			}else{
				$(this).data("isopen",'1');
				$(this).html("更多 -");
				$(".nav-banner").height(100);
				
			}
		});
	</script>
    

<!--<script type="text/javascript" src="http://124.234.142.97/amucsite/stat/jquery.min.js"></script>-->
<script type="text/javascript" src="/_/static/ow271_dajilin/static/js/WebClick.js"></script>
<input type="hidden" id="DocIDforCount" name="DocIDforCount" value="220239">

<script type="text/javascript" src="/_/static/ow271_dajilin/static/js/buttonLite.js"></script>
<script type="text/javascript" src="/_/static/ow271_dajilin/static/js/bshareC0.js"></script>

    
</html>
