<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>{自定义标题}</title>
    <meta name="keywords" content="{关键词1}" />
    <meta name="description" content="{自定义描述}">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/_/static/ow29_news/static/css/global.css">
    <link rel="stylesheet" type="text/css" href="/_/static/ow29_news/static/css/share.css">
    <link rel="stylesheet" href="/_/static/ow29_news/static/css/article.css">
    <script src="/_/static/ow29_news/static/js/jquery.min.js"></script>
    <script src="/_/static/ow29_news/static/js/share.js" type="text/javascript"></script>
    <base target="_blank">
    </script>
</head>

<body>
    <div class="topnavbox">
        <div class="CenterBox">
            <div class="nav-head clearfix">
                <div class="nav-head-lf">
                    <a href="{泛站内链}">{网站名称}</a>
                </div>
                <div class="nav-head-mid">
                    <a href="{泛站内链}">要闻</a>
                    <span></span>
                    <a href="{泛站内链}">政策</a>
                    <span></span>
                    <a href="{泛站内链}">中小学</a>
                    <span></span>
                    <a href="{泛站内链}">高考</a>
                    <span></span>
                    <a href="{泛站内链}">考研</a>
                    <span></span>
                    <a href="{泛站内链}">教师</a>
                    <span></span>
                    <a href="{泛站内链}">学术桥</a>
                </div>
                <div class="navMore-box">
                    <div class="nav-more">
                        <span>更多</span>
                        <img src="/_/static/ow29_news/static/picture/arrow.png" ignoreapd="false">
                    </div>
                    <div class="nav-more-show">
                        <div class="nav-more-li nav-more-li1 clearfix">

                            <a href="{泛站内链}">学业桥</a>
                            <a href="{泛站内链}">就业桥</a>
                            <a href="{泛站内链}">中职</a>
                            <a href="{泛站内链}">财会</a>
                        </div>

                    </div>
                </div>
                <div class="nav-head-ri">
                    <div class="clearfix">
                        <img src="/_/static/ow29_news/static/picture/phone.png" ignoreapd="false">
                        <span>手机端</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="pagebox">
        <div class="pagemore">
            <div class="mtop">
                <div class="left back"></div>
                <div class="center">
                </div>
                <div class="right">
                </div>
            </div>
            <div class="pagemorebody">
                <div class="jptj">热门服务</div>
                <div class="jptj-con">
                    <a href="{泛站内链}">高招服务</a>
                    <a href="{泛站内链}">研招服务</a>

                    <a href="{泛站内链}">人才服务</a>
                    <a href="{泛站内链}">学业生涯</a>
                    <a href="{泛站内链}">职教招考</a>

                    <a href="{泛站内链}">继续教育</a>
                    <a href="{泛站内链}">就业服务</a>
                    <a href="{泛站内链}">高教科创</a>
                    <a href="{泛站内链}">课程思政</a>
                    <a href="{泛站内链}">教学服务</a>
                    <a href="{泛站内链}">舆情服务</a>
                </div>
                <div class="jpzx">教育资讯</div>
                <div class="jpzx-con">
                    <a href="{泛站内链}" class="red">
                        基础教育</a>
                    <a href="{泛站内链}">中小学要闻</a>
                    <a href="{泛站内链}">落实双减</a>
                    <a href="{泛站内链}">家校共育</a>
                    <a href="{泛站内链}">总编专栏</a>
                    <a href="{泛站内链}">校长新声</a>
                    <a href="{泛站内链}">学校动态</a>
                    <a href="{泛站内链}">良师新语</a>


                    <a href="{泛站内链}" class="red">高等教育</a>
                    <a href="{泛站内链}">高教要闻</a>
                    <a href="{泛站内链}">高教政策</a>
                    <a href="{泛站内链}">高校动态</a>
                    <a href="{泛站内链}">高校数据</a>
                    <a href="{泛站内链}">高校科技</a>
                    <a href="{泛站内链}">高校访谈</a>
                    <a href="{泛站内链}">高教服务</a>
                    <a href="{泛站内链}" class="red">职业教育</a>
                    <a href="{泛站内链}">职教要闻</a>
                    <a href="{泛站内链}">政策法规</a>
                    <a href="{泛站内链}">思政育人</a>
                    <a href="{泛站内链}">专业建设</a>
                    <a href="{泛站内链}">实习实训</a>
                    <a href="{泛站内链}">校企合作</a>
                    <a href="{泛站内链}">创业就业</a>
                    <a href="{泛站内链}" class="red">继续教育</a>
                    <a href="{泛站内链}">最新资讯</a>
                    <a href="{泛站内链}">政策法规</a>
                    <a href="{泛站内链}">继教改革</a>
                    <a href="{泛站内链}">终身学习</a>
                    <a href="{泛站内链}">学术交流</a>
                    <a href="{泛站内链}">人物专访</a>
                    <a href="{泛站内链}">专题会议</a>
                    <a href="{泛站内链}" class="red">国际教育</a>
                    <a href="{泛站内链}">留学快报</a>
                    <a href="{泛站内链}">政策快讯</a>

                    <a href="{泛站内链}">国际交流</a>
                    <a href="{泛站内链}">世界名校</a>
                    <a href="{泛站内链}">人物连线</a>


                </div>
            </div>
        </div>
    </div>

    <div class="main container">
        <div class="left">
            <div class="page_nav">
                <div class="logo">
                    <span>新闻中心</span>
                </div>
                <div class="nav">
                    <a href="{泛站内链}" title="{网站名称}" class="CurrChnlCls">{网站名称}</a>&nbsp;&gt;&nbsp;<a href="{泛站内链}" title="首页"
                        class="CurrChnlCls">首页</a>&nbsp;&gt;&nbsp;<a href="{泛站内链}" title="{关键词1}"
                        class="CurrChnlCls">{关键词1}</a>
                </div>
            </div>
            <div class="title">
                {新闻网标题}
            </div>
            <div class="info">
                <div class="time">
                    {当前时间}
                </div>
                <div class="origin" style="white-space: nowrap;">
                    {人物名称}
                </div>
                <div class="origin" id="originLink"><a href="{泛站内链}">首页链接</a></div>
                <div class="share">
                    <div class="fenxiang">分享：</div>
                    <div class="sharebox">
                        <div class="social-share" data-sites="weibo,wechat,qq"></div>
                    </div>
                </div>
                <div class="gaunzhu">
                    <a href="{泛站内链}">{网站名称}</a>
                    <div class="gzmask" data-open="false">
                        <div class="gzbox">
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('.gaunzhu').click(function (event) {
                            event.stopPropagation();

                            if ($('.gzmask').attr('data-open') == 'true') {
                                $('.gzmask').hide();
                                $('.gzmask').attr('data-open', 'false');
                            } else {
                                $('.gzmask').show();
                                $('.gzmask').attr('data-open', 'true');
                            }

                            // $('html').css({ 'overflow': 'hidden', 'height': '100%' });
                            // $('body').css({ 'overflow': 'hidden', 'height': '100%' });
                        });
                        $('.main').click(function (event) {
                            $('.gzmask').hide();
                            $('.gzmask').attr('data-open', 'false');
                            // $('html').css({ 'overflow': 'auto', 'height': 'auto' });
                            // $('body').css({ 'overflow': 'hidden', 'height': 'auto' });
                        });
                        $('.gzimg').click(function (event) {
                            event.stopPropagation();
                        });
                    });
                </script>
                <style media="screen">
                    .gaunzhu {
                        position: relative;
                    }

                    .gzmask {
                        display: none;
                        width: 300px;
                        height: 300px;
                        position: absolute;
                        top: 30px;
                        left: -300px;
                        background: rgba(0, 0, 0, .5);
                        background: #fff;
                        border: 1px solid #ccc;
                    }

                    .gzbox {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .gzimg {}

                    .gzimg img {
                        width: 300px;
                        height: 300px;
                    }
                </style>

            </div>
            <div class="article">
                <div class="TRS_Editor">
                    <p>{新闻网内容}</p>
                </div>
            </div>
            <div class="perpage" id="perpage">
                <script language="JavaScript">
                    var _PAGE_COUNT = "1";
                    var _PAGE_INDEX = "0";
                    var _PAGE_NAME = "t20230308_2315678";
                    var _PAGE_EXT = "shtml";
                </script>
                <script src="/_/static/ow29_news/static/js/pages.js"></script>
            </div>
            <div class="newstj3 yaowen">
                <div class="newslist6">

                    <div class="list">
                        <a href="{泛站内链}">{关键词1}{标题}</a>
                    </div>

                    <div class="list">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="right">
            <div class="zxtj-top nomagt"><span class="ht"></span><span><a href="{泛站内链}">高校动态</a></span></div>
            <div class="zxtj-con yaowen">
                <div class="news2">

                    <div class="list2">
                        <a href="{泛站内链}">{关键词1}{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                </div>
            </div>
            <style>
                /* 2022.06.12 文章页新增浮窗广告 */
                .right_bar {
                    position: fixed;
                    right: 6px;
                    bottom: 20%;
                    z-index: 10001;
                    width: 130px;
                }

                .right_bar a img {
                    width: 100%;
                    display: block;
                }
            </style>
            <!-- 2022.06.12 文章页新增浮窗广告 -->
            <script src="/_/static/ow29_news/static/js/requestOrigin.js" ignoreapd="false"></script>

            <div class="ywtupian">
                <a href="{泛站内链}"><img src="{随机图片}" alt=""></a>
            </div>

            <!--<div class="ywtupian">
    <a href="https://e-campaign.huawei.com/events2/registerPc/pcRegister.html?eventId=9097&utm_campaign=SP-202207141804228907&utm_medium=pm-display&utm_source=eol&source=pc-%E5%9B%BA%E5%AE%9A%E5%B9%BF%E5%91%8A%E4%BD%8D&utm_object=%E6%95%99%E8%82%B2_NA&utm_content=%E6%95%99%E8%82%B2%E5%95%86%E4%B8%9A%E5%B8%82%E5%9C%BA_%E5%9B%BE%E7%89%87"><img src="https://img.eol.cn/e_images/ad/huawei1.jpg" alt="" /></a>
</div>-->

            <div class="zxtj-top"><span class="ht"></span><span><a href="{泛站内链}">数读高校</a></span></div>
            <div class="zxtj-con yaowen">
                <div class="news2">

                    <div class="list2">
                        <a href="{泛站内链}">{关键词1}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{关键词1}{标题}</a>
                    </div>

                </div>
            </div>
            <div class="ywtupian">
                <a href="{泛站内链}"><img src="{随机图片}" alt=""></a>
            </div>

            <div class="zxtj-top"><span class="ht"></span><span><a href="{泛站内链}">智者汇</a></span></div>
            <div class="zxtj-con yaowen">
                <div class="news2">

                    <div class="list2">
                        <a href="{泛站内链}">{关键词1}{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                    <div class="list2">
                        <a href="{泛站内链}">{标题}</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="xgxw"><span>相关新闻</span></div>
    <div class="zhuanti">

        <div class="li">
            <div class="left">
                <div class="fline">
                    <a href="{泛站内链}">{关键词1}{标题}</a>
                </div>
                <div class="sline">
                    <span class="origin">{网站名称}</span>
                    <span class="time">{当前时间}</span>
                </div>
            </div>
            <div class="right">
                <div class="img">

                </div>
            </div>
        </div>

        <div class="li">
            <div class="left">
                <div class="fline">
                    <a href="{泛站内链}">{标题}</a>
                </div>
                <div class="sline">
                    <span class="origin">{网站名称}</span>
                    <span class="time">{当前时间}</span>
                </div>
            </div>
            <div class="right">
                <div class="img">

                </div>
            </div>
        </div>

        <div class="li">
            <div class="left">
                <div class="fline">
                    <a href="{泛站内链}">{标题}</a>
                </div>
                <div class="sline">
                    <span class="origin">{网站名称}</span>
                    <span class="time">{当前时间}</span>
                </div>
            </div>
            <div class="right">
                <div class="img">

                </div>
            </div>
        </div>

        <div class="li">
            <div class="left">
                <div class="fline">
                    <a href="{泛站内链}">{标题}</a>
                </div>
                <div class="sline">
                    <span class="origin">{网站名称}</span>
                    <span class="time">{当前时间}</span>
                </div>
            </div>
            <div class="right">
                <div class="img">

                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div><a href="{泛站内链}">网站简介</a> | <a href="{泛站内链}">联系方式</a> | <a href="{泛站内链}">网站声明</a> | <a
                href="{泛站内链}">招聘信息</a> | <a href="{泛站内链}">京ICP证140769号</a> | <a href="{泛站内链}">京ICP备12045350号</a>
            | <a href="static/file/www1024.jpg">京网文[2014]2016-306号</a> | <a href="{泛站内链}">京公网安备 11010802020236号</a>
        </div>
        <div>版权 <a href="{泛站内链}">{网站名称}</a> CERNET Corporation</div>
        <div>{域名库}</div>
        <div class="mbanquan">版权所有&nbsp;&nbsp;{网站名称}</div>
    </div>
    <script type="text/javascript">
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();

// });</script>

    <!-- <script src="//www.eol.cn/js/target/target_6632.js"  language="javascript" ></script>  -->
    <script src="/_/static/ow29_news/static/js/weixin.share.min.js"></script>
    <script type="text/javascript">
        var desc = '';
        var paras = document.getElementsByTagName("meta");
        for (var i = 0; i < paras.length; i++) {
            var name = paras[i].getAttribute("name");
            if (name == 'description') {
                desc = paras[i].getAttribute("content");
            }
        }
        var fxtitle = document.getElementsByTagName("title")[0].innerHTML;
        new weixinShare({
            'title': fxtitle,
            'link': this.location + '',
            'image': 'https://www.eol.cn/e_images/index/2018/fxlogo.jpg',
            'desc': desc,
            'show': 1, //提示信息  0 全部不显示  1显示成功 2 显示失败 3 全部显示
        });
    </script>

    <script src="/_/static/ow29_news/static/js/ad_detail.js"></script>
    <script>
        var userAgent = window.navigator.userAgent;
        if (/Mobile|iP(hone|ad)|Android|BlackBerry|IEMobile/.test(userAgent) && /Alipay/.test(userAgent)) {
            $('.mtop').hide();
            $('.mdaohang').hide();
            $('.main.container').css({ "padding-top": "0" });
            $('.gaunzhu').hide();
            $('.mobileHtml').hide();
            $('.mewm.nopc').hide();
            $('.xgxw').hide();
            $('.zhuanti').hide();
        }
    </script>
    <script src="/_/static/ow29_news/static/js/global.js"></script>
    <script src="/_/static/ow29_news/static/js/article.js"></script>
    <div style="width: 1px; height: 0; overflow: hidden">
        <!--  <script language="javascript">
    ;(function () {
      var _doc = document.getElementsByTagName('body')[0]
      var script = document.createElement('script')
      script.setAttribute('type', 'text/javascript')
      script.setAttribute('src', '//stat.eol.cn/piwik.js')
      _doc.appendChild(script)
      function create() {
        try {
          var piwikTracker = Piwik.getTracker('//stat.eol.cn/mysql.php', 65)
          piwikTracker.trackPageView()
          piwikTracker.enableLinkTracking()
        } catch (err) {}
      }
      if (document.all) {
        script.onreadystatechange = create
      } else {
        script.onload = create
      }
    })()
  </script>-->
        <!-- End eolcounter Tag -->
        <script src="/_/static/ow29_news/static/js/stat-4696077_4696077.js" language="JavaScript"></script>
    </div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图
</body>

</html>