<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"><meta name="publishid" content="1310711419.11.9696.0"><meta name="pageid" content="11155.1182.0.0.11253139.0.0.0.0.0.11668.1310711419">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<script src="/_/static/ow307_news/static/js/pageCore.js"></script>
<title>
现代战争，坦克还行不行_新华报刊-环球
</title>
<meta name="apple-mobile-web-app-title" content="现代战争，坦克还行不行_新华报刊-环球">
<meta property="og:site_name" content="现代战争，坦克还行不行_新华报刊-环球">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<link rel="stylesheet" href="/_/static/ow307_news/static/css/common.css">
<link rel="stylesheet" href="/_/static/ow307_news/static/css/hqzz_xl.css">
<script type="text/javascript" src="/_/static/ow307_news/static/js/jquery1.12.4.min.js"></script>
</head>
<body>
<div class="bgBox clearfix">
<div class="conBox clearfix">
    <div class=banner clearfix>
        <div class=hqlogo>
             <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank><img src=/static/ow307_news/static/image/20220729hq_hqLogo_v1.png alt=></a>
        </div>
        <div class=form>
            <div class=search>
                <div class=con>
                    <input name=input type=text value=请输入检索关键词 class=input1 id=sw
                        onkeydown=KeyDown(); />
                    <a href=javascript: class=btn_ss onclick=searchsearch()>
                        <div type=submit class=submitBtn>搜索</div>
                    </a>
                    <form id=zlb method=GET action=http://www.news.cn/globe/search.htm
                        target=_blank>
                        <input name=channelid value=11155 type=hidden />
                        <input id=searchword name=searchword type=hidden />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class=nav>
        <ul>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>首页</a>
            </li>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>特别策划</a>
            </li>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>时政</a>
            </li>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>军事</a>
            </li>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>经济</a>
            </li>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>环球车谈</a>
            </li>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>文化</a>
            </li>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>社会</a>
            </li>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>科学</a>
            </li>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>专栏</a>
            </li>
            <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target=_blank>其他</a>
            </li>
        </ul>
    </div>
<div class="content">
<div class="conTit">
<h2 class="title">
    {关键词1}{随机后缀}{新闻网标题}
</h2>
<div class="info">
<span class="h-time">  <span class="h-time"> {当前时间}</span></span><span class="source">  来源：  <em id="source"> {关键词1}</em></span>
</div>
</div>
<div class="xlcontent">
<p>　　{新闻网内容}</p>
<p></p>
</div>
</div>
<div class="footer clearfix">
    <p>Copyright © {年} {域名库}　All Rights Reserved.</p>
    <p>版权所有：{网站名称}</p>
</div>
</div>
</div>
<div class="backtop"><img src="/_/static/ow307_news/static/picture/goback.png" width="74" height="70"></div>

<script src="/_/static/ow307_news/static/js/hqzz_search.js"></script>
<script src="/_/static/ow307_news/static/js/jweixin-1.6.0.js"></script>
<script src="/_/static/ow307_news/static/js/share.js"></script>
<script>
$(function () {
	var href = window.location.href;
	var _src = href.replace("c_", "ewm_").replace(".htm", "1n.jpg");
	$(".wx-ewm img").attr("src", _src);
	var wxfxPic = '{随机图片}';
	wxConfig({
		title: '{关键词1}{随机后缀}{新闻网标题}',
		desc: '',
		link: window.location.href,
		imgUrl: wxfxPic
	});
})
</script>
<script>
$(function () {
    lhr.backtop(); //backtop
});
var lhr = {
    //backtop
    backtop: function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 400) {
                $(".backtop").fadeIn(500);
            } else {
                $(".backtop").fadeOut(500);
            }
        });
        //当点击跳转链接后，回到页面顶部位置
        $(".backtop").click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
    },
};
</script>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>