<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="applicable-device" content="pc">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{自定义标题}</title>
  <meta name="keywords" content="{关键词1}" />
  <meta name="description" content="{自定义描述}">
  <link href="/_/static/ow301_hzmskj/static/css/newsshow.css" rel="stylesheet" type="text/css">
  <link type="text/css" href="/_/static/ow301_hzmskj/static/css/news1.css" rel="stylesheet">
  <script type="text/javascript">
    if ((navigator.userAgent.match(/(iPhone|iPod|Android|Backerry|WebOS|Symbian|Windows Phone|Phone)/i))) { location.replace("/m/view.php?aid=20338"); } else { }
  </script>
</head>

<body>
  <div id="header">
    <div class="header"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><strong
          style="font-size:18px">北京新闻网</strong></a> <span><a href="#">Rss订阅</a></span> <span><a
          href="http://{当前域名}/sitemap.xml">网站地图</a></span> <span><a
          href="javascript:window.external.AddFavorite('http://www.hzmskj.com/','北京新闻网')">加入收藏</a></span> <span><a
          href="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('/');">设为首页</a></span>
      <ul id="topBarNav">
        <li class="mobile"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">手机版</a></li>
      </ul>
      <br class="clear">
    </div>
    <br class="clear">
  </div>
  <!--导航begin-->
  <div class="nav">

    <p id="nav">
    <p id="nav"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">资讯首页</a><a
        href="/{随机字符}/{随机数字}_{随机数字}.html">热点要闻</a><a href="/{随机字符}/{随机数字}_{随机数字}.html">地方新闻</a><a
        href="/{随机字符}/{随机数字}_{随机数字}.html">财经要闻</a><a href="/{随机字符}/{随机数字}_{随机数字}.html">体育播报</a><a
        href="/{随机字符}/{随机数字}_{随机数字}.html">明星娱乐</a><a href="/{随机字符}/{随机数字}_{随机数字}.html">潮流时尚</a><a
        href="/{随机字符}/{随机数字}_{随机数字}.html">军事直击</a><a href="/{随机字符}/{随机数字}_{随机数字}.html">国内新闻</a><a
        href="/{随机字符}/{随机数字}_{随机数字}.html">国际新闻</a></p>
  </div>
  <!--导航end-->
  <div class="main">
    <div class="mainTop">
      <p>您现在的位置：<a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a> > <a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a> > </p>
      <form id="searchForm" method="post" name="formsearch" action="http://www.hzmskj.com/plus/search.php"
        onsubmit="return search();">
        <input type="hidden" name="kwtype" value="0">
        <input maxlength="19" id="keys" name="q" value="请输入关键字" onfocus="javascript:if(document.getElementById("
          keys").value="=" "请输入关键字" )document.getelementbyid("keys").value="" ;"=""
          onblur="javascript:if(document.getElementById(" keys").value="=" ""
          )document.getelementbyid("keys").value="请输入关键字" ;jtips.hidekeysearch()"="" type="text" autocomplete="off"
          onclick="keyPressSearch(this, 'Keyword')">
        <button type="submit" id="searchbtn" onclick="return go();"></button>
      </form>
    </div>
    <div class="mainLeft">
      <div class="newsShow">
        <h1>{关键词1}{随机后缀}{新闻网标题}</h1>
        <div class="newsTime">
          <dl>
            <dt>{年月日}<strong></strong>{关键词1}<strong></strong>编辑：{人物名称}<strong></strong>浏览：{随机数字}
            </dt>
            <dd></dd>
          </dl>
          <p><a id="small" class="smallOut" href="/{随机字符}/{随机数字}_{随机数字}.html" title="减小字体"></a><a id="big"
              class="bigOut" href="/{随机字符}/{随机数字}_{随机数字}.html" title="放大字体"></a></p>
          <br class="clear">
        </div>
        <div id="newsContent" class="newsContent">
          <p>　　{新闻网内容}</p>

        </div>
        <i class="ly">(来源：{关键词1})</i>
        <center>
          <script type="text/javascript" src='http://www.dldaj.com/guang/guang.php?aid=hzmskj680X100'></script>
        </center>
        <div class="newsPage"></div>
        <div class="newTurnto">
          <div class="newLeft">
            <p>上一篇：<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a> </p>
            <p>下一篇：<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a> </p>
          </div>
          <br class=" clear">
        </div>
        <br class="clear">
      </div>
      <div class="copr">
        <div class="coprTop">
          <h3><a href="#">版权与免责声明</a></h3>
        </div>
        <ul>
          <li>
            本网转载并注明自其它来源的作品，目的在于传递更多信息，并不代表本网赞同其观点或证实其内容的真实性，不承担此类作品侵权行为的直接责任及连带责任。其他媒体、网站或个人从本网转载时，必须保留本网注明的作品来源，并自负版权等法律责任。
          </li>
          <li>如涉及作品内容、版权等问题，请在作品发表之日起一周内与本网联系，否则视为放弃相关权利。</li>
        </ul>
      </div>
      <br class="clear">
    </div>


    <div class="right">
      <div class="rightBox">
        <div class="rightBoxTop">
          <h3><a href="#" target="_blank">今日头条</a></h3>
        </div>
        <ul class="rightBoxList">
          <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{关键词1}{标题}</a></li>
          <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
          <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
          <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
          <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
          <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
          <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
          <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
          <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
          <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></li>
          
        </ul>
        <br class="clear">
      </div>

      <center>
        <script type="text/javascript" src='http://www.dldaj.com/guang/guang.php?aid=hzmskj300X220'></script>
      </center>

      <div class="rank">
        <div class="mainRightBoxTitle">
          <h3><a>热点排行</a></h3>
        </div>
        <ul id="rankList">
          <li> <b>1</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"> {标题}</a></span>
          </li>
          <li> <b>2</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}{标题}</a></span>
          </li>
          <li> <b>3</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>
          <li> <b>4</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>
          <li> <b>5</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"> {标题}</a></span>
          </li>
          <li> <b>6</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>
          <li> <b>7</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>
          <li> <b>8</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>
          <li> <b>9</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>
          <li> <b>10</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>
          <li> <b>11</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>
          <li> <b>12</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}{标题}</a></span>
          </li>
          <li> <b>13</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>
          <li> <b>14</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>
          <li> <b>15</b><span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></span>
          </li>


        </ul>
        <br class="clear">
      </div>
    </div>
    <br class="clear">
  </div>
  <div class="hbPic">
    <div class="hbPicTitle">
      <h3><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">图说新闻</a></h3>
      <a class="more" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">更多>></a>
    </div>

    <div class="hbPicLeft"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img
          src="{随机图片}" alt=" {标题}" title=" {标题}"></a><b></b>
      <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" title=" {标题}"> {标题}</a></p>
    </div>


    <div class="hbPicRight">
      <ul>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}"
              alt="{标题}" title="{标题}"></a><b></b>
          <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
        </li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}"
              alt="{标题}" title="{标题}"></a><b></b>
          <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
        </li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}"
              alt="{标题}" title="{标题}"></a><b></b>
          <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
        </li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}"
              alt="{标题}" title="{标题}"></a><b></b>
          <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
        </li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}"
              alt="{标题}" title="{标题}"></a><b></b>
          <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
        </li>
       <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}"
              alt="{标题}" title="{标题}"></a><b></b>
          <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
        </li>

      </ul>
    </div>
    <br class="clear">
  </div>
  <div class="botAd"><br class="clear"></div>
  <div class="footer foot">
    <div class="main container">
      <div class="f-about"><small><span>Copyright © {年} <a href="/{随机字符}/{随机数字}_{随机数字}.html">{网站名称}</a> All Rights
            Reserved.</span></small></div>
      <div class="clear"></div>
    </div>
  <div class="toTop"><a title="回到顶部" target="_self" href="javascript:void(0)"></a></div>
  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div> 
</body>

</html>