<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta id="static_url" name="static_url" content="//res1.ynet.com/">
	<link rel="shortcut icon" href="http://res1.ynet.com/20/favicon.ico">
	<title>{自定义标题}</title>
	<meta name="keywords" content="{关键词1}" />
	<meta name="description" content="{自定义描述}">
	<base target='_blank'>
	<link rel="stylesheet" type="text/css" href="/_/static/ow303_news.ynet/static/css/beiqingstyle_header_2018.css">
	<link rel="stylesheet" type="text/css" href="/_/static/ow303_news.ynet/static/css/detail_new.css">
	<script type="text/javascript" src="/_/static/ow303_news.ynet/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/_/static/ow303_news.ynet/static/js/article_erweima.js"></script>
	<script type="text/javascript" src="/_/static/ow303_news.ynet/static/js/ynet_new_ad.js"></script>
</head>

<body>
	<div class="navBar" id="navBar" style="border-top: none;position: fixed;top: 0;z-index: 2147483647;">
		<ul class="w1200 cfix">
			<li class="col_index "><a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a></li>
			<li class="col_news col_news_bg"><a href="/{随机字符}/{随机数字}_{随机数字}.html">新闻</a></li>
			<li class="col_opinion "><a href="/{随机字符}/{随机数字}_{随机数字}.html">北青网评</a></li>
			<li class="col_bjqn "><a href="/{随机字符}/{随机数字}_{随机数字}.html">北京青年</a></li>
			<li class="col_beijing "><a href="/{随机字符}/{随机数字}_{随机数字}.html">北京</a></li>
			<li class="col_ent "><a href="/{随机字符}/{随机数字}_{随机数字}.html">娱乐</a></li>
			<li class="col_finance "><a href="/{随机字符}/{随机数字}_{随机数字}.html">财经</a></li>
			<li class="col_financial "><a href="/{随机字符}/{随机数字}_{随机数字}.html">金融</a></li>
			<li class="col_sports  "><a href="/{随机字符}/{随机数字}_{随机数字}.html">体育</a></li>
			<li class="col_life "><a href="/{随机字符}/{随机数字}_{随机数字}.html">生活</a></li>
			<li class="col_health "><a href="/{随机字符}/{随机数字}_{随机数字}.html">健康</a></li>
			<li class="col_edu "><a href="/{随机字符}/{随机数字}_{随机数字}.html">教育</a></li>
			<li class="col_culture "><a href="/{随机字符}/{随机数字}_{随机数字}.html">文化</a></li>
			<li class="col_home "><a href="/{随机字符}/{随机数字}_{随机数字}.html">房产</a></li>
			<li class="col_auto "><a href="/{随机字符}/{随机数字}_{随机数字}.html">汽车</a></li>
			<li class="col_photography"><a href="/{随机字符}/{随机数字}_{随机数字}.html">科技</a></li>
			<!--<li class="col_ly "><a href="http://ly.ynet.com/">旅游</a></li>//-->
			<li class="col_game "><a href="/{随机字符}/{随机数字}_{随机数字}.html">游戏</a></li>
			<!--<li class="col_cartoon "><a href="http://anime.ynet.com/">动漫</a></li>//-->
			<!--<li class="col_ent_live "><a href="http://ent.ynet.com/live.html">红人访</a></li>//-->
		</ul>
	</div><!-- navBar end -->
	<div class="navBar_height"></div>
	<script type="text/javascript" src="/_/static/ow303_news.ynet/static/js/global.js"></script>
	<div class="ynetGCom ynetGTop" id="ynetG_B1">
		<script type="text/javascript">loadYm('B1');</script>
	</div><!--ynetG end-->
	<div class="w1000">
		<ul class="cfix newsList_ul" id="wrap_recommend">

		</ul>
	</div>
	<div class="detailMain w1000">

		<div class="cfix detailSubNav">
			<a class="subLogo fLeft"><img src="/_/static/ow303_news.ynet/static/picture/ynetLogo.png"></a>
			<dl class="cfix fLeft">
				<dt><a>新闻</a></dt>
				<dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>><span>正文</span></dd>
			</dl>

		</div>
		<div class="cfix detailCon">
			<div class="fLeft detailConLeft">
				<div class="articleCon mb30" id="articleContent">
					<div class="articleTitle">
						<h1>{关键词1}{随机后缀}{新闻网标题}</h1>
						<div class="newsList_recommend" style="display:none" id="newsList_recommend">
							<div class="cfix newsList_info">
								<a class="fLeft">图集已浏览完毕</a>
								<a class="fRight" href="" target="_top">重新浏览</a>
							</div>
							<dl class="cfix" id="jrtj_recommend">
								<dt>
									<h4>今日推荐</h4>
								</dt>


							</dl>
						</div>
						<div class="msgBox" id="msgBox">
							<p class="sourceBox">
								<span class="yearMsg">{当前时间}</span>来源：<span
									class="sourceMsg">{关键词1}</span>
							</p>
							<div class="shareBox">
								<a class="weibo" id="weiBo"></a>
								<a class="kongjian" id="kongJian"></a>
								<a class="weixin"></a>
								<div class="dialogBox">
									<span class="fRight dialogClose">x</span>
									<h3>分享到微信朋友圈</h3>
									<em></em>
									<p>使用“扫一扫”即可将网页分享到朋友圈</p>
								</div>
							</div>
						</div><!--msgBox end-->
					</div>
					<div id="articleAll">

						<div class="articleBox cfix mb20" id="articleBox">
							<p>{新闻网内容}</p>
							<p>文/本报记者 {人物名称}</p>
							<p><input style="display: none;" name="titlecheckbox" type="checkbox" value="0"></p><span
								class="authors">责任编辑：{人物名称}</span>
						</div><!--articleBox end-->
						<div class="ynetGCom fLeft" id="ynetG_PIP-IN">
							<script type="text/javascript">loadYm('PIP-IN');</script>
						</div><!--ynetG end-->
						<!--articleCon end-->
					</div><!--articleCon end-->
				</div>
				

				<!--PC和WAP自适应版-->
				<div id="SOHUCS" sid="3614640"></div>
				<div class="juJiao mb30">
					<h1 class="title_h1"><span>热点聚焦</span></h1>
					<div class="cfix articleList" id="tuijian_yet" style="display:block">
						<ul class="fLeft">
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{{随机关键词}}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{{随机关键词}}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" class="noBorder">{{随机关键词}}</a></li>
						</ul>
						<ul class="fRight">
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{{随机关键词}}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{{随机关键词}}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{{随机关键词}}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html" class="noBorder">{{随机关键词}}</a></li>
						</ul>
					</div>
				</div><!--reDianJuJiao end-->
				<div class="touTiaoNews comPart mb28">
					<h1 class="title_h1"><span>头条新闻</span></h1>
					<ul>
						<li id="Tou_01">
							<script type="text/javascript">loadYm('Tou_01');</script>
						</li>
						<li class="cfix">
							<a href="/{随机字符}/{随机数字}_{随机数字}.html" class="fLeft"><img src="{随机图片}"></a>
							<h2><a href="">{关键词1}{标题}</a></h2>
							<p>{关键词1}{句子}</p>
						</li>
						<li class="cfix">
							<a href="/{随机字符}/{随机数字}_{随机数字}.html" class="fLeft"><img src="{随机图片}"></a>
							<h2><a href="">{标题}</a></h2>
							<p>{句子}</p>
						</li>
						<li id="Tou_02">
							<script type="text/javascript">loadYm('Tou_02');</script>
						</li>
						<li class="cfix">
							<a href="/{随机字符}/{随机数字}_{随机数字}.html" class="fLeft"><img src="{随机图片}"></a>
							<h2><a href="">{标题}</a></h2>
							<p>{句子}</p>
						</li>
						<li class="cfix">
							<a href="/{随机字符}/{随机数字}_{随机数字}.html" class="fLeft"><img src="{随机图片}"></a>
							<h2><a href="">{标题}</a></h2>
							<p>{句子}</p>
						</li>
						<li id="Tou_03" class="none">
							<script type="text/javascript">loadYm('Tou_03');</script>
						</li>
						<li class="cfix">
							<a href="/{随机字符}/{随机数字}_{随机数字}.html" class="fLeft"><img src="{随机图片}"></a>
							<h2><a href="">{标题}</a></h2>
							<p>{句子}</p>
						</li>
					</ul>
					<span id="touTiaoMore" class="touTiaoMore" href="/{随机字符}/{随机数字}_{随机数字}.html">点击加载更多</span>
				</div>

				<div class="ynetGCom mb30" id="ynetG_B5">
					<script type="text/javascript">loadYm('B5');</script>
				</div><!--ynetG end-->

				<div class="pdTuiJian mb30">
					<h1 class="title_h1">频道推荐</h1>
					<div class="tagBox">
						<ul class="tagTitle cfix">
							<li><span class="borderLeft">社会</span></li>
							<li><span>娱乐</span></li>
							<li><span>生活</span></li>
							<li><span>探索</span></li>
							<li><span class="borderRight">历史</span></li>
						</ul>
						<div class="tagConList">
							<div class="tagCon cfix">
								<dl class="tagImgList">
									<dd>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">
											<img src="{随机图片}">
											<span></span>
											<font>{标题}</font>
										</a>
									</dd>
									<dd>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">
											<img src="{随机图片}">
											<span></span>
											<font>{标题}</font>
										</a>
									</dd>
								</dl>
								<dl class="tagTitleList">
									<dd><a class="bigTitle" href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
									</dd>
									<dd><a class="bigTitle" href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
									</dd>
								</dl>
							</div><!--tagCon end-->
							<div class="tagCon cfix">
								<dl class="tagImgList">
									<dd>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">
											<img src="{随机图片}">
											<span></span>
											<font>{标题}</font>
										</a>
									</dd>
									<dd>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">
											<img src="{随机图片}">
											<span></span>
											<font>{标题}</font>
										</a>
									</dd>
								</dl>
								<dl class="tagTitleList">
									<dd><a class="bigTitle" href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
									</dd>
									<dd><a class="bigTitle" href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
									</dd>
								</dl>
							</div><!--tagCon end-->
							<div class="tagCon cfix">
								<dl class="tagImgList">
									<dd>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">
											<img src="{随机图片}">
											<span></span>
											<font>{关键词1}{标题}</font>
										</a>
									</dd>
									<dd>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">
											<img src="{随机图片}">
											<span></span>
											<font>{标题}</font>
										</a>
									</dd>
								</dl>
								<dl class="tagTitleList">
									<dd><a class="bigTitle" href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
									</dd>
									<dd><a class="bigTitle" href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
									</dd>
								</dl>
							</div><!--tagCon end-->
							<div class="tagCon cfix">
								<dl class="tagImgList">
									<dd>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">
											<img src="{随机图片}">
											<span></span>
											<font>{标题}</font>
										</a>
									</dd>
									<dd>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">
											<img src="{随机图片}">
											<span></span>
											<font>{标题}</font>
										</a>
									</dd>
								</dl>
								<dl class="tagTitleList">
									<dd><a class="bigTitle" href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a>
									</dd>
									<dd><a class="bigTitle" href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
									</dd>
								</dl>
							</div><!--tagCon end-->
							<div class="tagCon cfix">
								<dl class="tagImgList">
									<dd>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">
											<img src="{随机图片}">
											<span></span>
											<font>{标题}</font>
										</a>
									</dd>
									<dd>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">
											<img src="{随机图片}">
											<span></span>
											<font>{标题}</font>
										</a>
									</dd>
								</dl>
								<dl class="tagTitleList">
									<dd><a class="bigTitle" href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
									</dd>
									<dd><a class="bigTitle" href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
										<a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a>
									</dd>
								</dl>
							</div><!--tagCon end-->
						</div><!--tagConList end-->
					</div><!--tagBox end-->
				</div><!--pinDaoTuiJian end-->

				<div class="ynetGCom mb30 mt25" id="ynetG_B6">
					<script type="text/javascript">loadYm('B6');</script>
				</div><!--ynetG end-->

			</div><!--detailConLeft end-->
			<div class="fRight detailConRight">

				<div class="ynetGCom ym30" id="ynetG_P1">
					<script type="text/javascript">loadYm('P1');</script>
				</div><!--ynetG end-->

				<div class="jingHuaTuiJian mb30">
					<h2 class="title_h2">精华推荐</h2>
					<ul id="jingcai_ynet" style="display:block">
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"></a><a
								href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"></a><a
								href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"></a><a
								href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="{随机图片}"></a><a
								href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
					</ul>
				</div><!--jingXuan end-->

				<div class="ynetGCom mb30" id="ynetG_P2">
					<script type="text/javascript">loadYm('P2');</script>
				</div><!--ynetG end-->

				<div class="ywPaiHang mb30">
					<h2 class="title_h2">猜你喜欢</h2>
					<ul class="imgList cfix">
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img
									src="{随机图片}"><span
									class="tuShuo">{随机关键词}</span></a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img
									src="{随机图片}"><span
									class="tuShuo">{随机关键词}</span></a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img
									src="{随机图片}"><span
									class="tuShuo">{随机关键词}</span></a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img
									src="{随机图片}"><span
									class="tuShuo">{随机关键词}</span></a></li>
					</ul>
				</div><!--caiNiXiHuan end-->

				<div class="ynetGCom mb30" id="ynetG_P3">
					<script type="text/javascript">loadYm('P3');</script>
				</div><!--ynetG end-->

				<div class="zbTuiJian mb30">
					<h2 class="title_h2">重磅推荐</h2>
					<ul class="articleList">
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
						<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>

					</ul>
				</div><!--zhongBangTuiJian end-->

				<div class="ynetGCom mb30" id="ynetG_P4">
					<script type="text/javascript">loadYm('P4');</script>
				</div><!--ynetG end-->

				<div class="ynetGCom mb30" id="ynetG_P5">
					<script type="text/javascript">loadYm('P5');</script>
				</div><!--ynetG end-->

				<div id="ywphBox">
					<div id="ywphBoxCon" class="ywPaiHang mb30">
						<h2 class="title_h2">要闻排行</h2>
						<ul class="imgList cfix">
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img
										src="{随机图片}"><span
										class="tuShuo">{随机关键词}</span></a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img
										src="{随机图片}"><span
										class="tuShuo">{随机关键词}</span></a></li>
						</ul>
						<ul class="articleList">
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
							<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
						</ul>
					</div>
				</div><!--yaoWenPaiHang end-->

				<div id="ynetG_P6_Box">
					<div class="ynetGCom mb30" id="ynetG_P6">
						<script type="text/javascript">loadYm('P6');</script>
					</div><!--ynetG end-->

				</div>
				<div class="erWeiMa" style="display: none;"></div>
			</div><!--detailConRight end-->
		</div><!--detailCon end-->
	</div><!--detailContent end-->
	<div class="subBar">
		<ul class="w1200 cfix">
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">时尚</a></li>
			<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">动漫</a></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- download app end -->

	<div class="bq_footer">
		<div class="w1200 cfix">
			<div class="fLeft">
				<p><a href="/{随机字符}/{随机数字}_{随机数字}.html">互联网新闻信息服务许可证111{随机8数字}</a><a
						href="/{随机字符}/{随机数字}_{随机数字}.html">增值电信业务经营许可证B2-{随机8数字}号</a><a href="/{随机字符}/{随机数字}_{随机数字}.html">信息网络传播视听节目许可证号{随机7数字}</a>
				</p>
				<p><a href="/{随机字符}/{随机数字}_{随机数字}.html">京ICP备：京ICP证 {随机6数字}号</a><a href="/{随机字符}/{随机数字}_{随机数字}.html">京ICP证：京ICP证 {随机6数字}号</a><a
						href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow303_news.ynet/static/picture/Ynet_ba.png"
							style="width:15px;height:15px;margin-right:2px;">京公网安备 110105{随机8数字}</a></p>
				<p><a href="/{随机字符}/{随机数字}_{随机数字}.html">京网文[2020]{随机4数字}-{随机4数字}号</a><a href="/{随机字符}/{随机数字}_{随机数字}.html">（署）网出证（京）字第162号</a></p>
				<p>版权所有 {网站名称}</p>
			</div>
			<div class="fRight">
				<ul class="cfix">
					<li class="bq_footer_liFirst"><a href="/{随机字符}/{随机数字}_{随机数字}.html">法律事务</a></li>
					<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">联系我们</a></li>
					<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">招聘人才</a></li>
					<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">广告服务</a></li>
					<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">关于我们</a></li>
				</ul>
				<p>违法和不良信息举报电话：010-{随机8数字}/{随机8数字}/{随机8数字}</p>
				<p>举报邮箱：<a>jubao@{随机字符}t.com</a></p>
				<p>涉未成年人举报邮箱：<a>wjubao@{随机字符}.com</a></p>
				<p>涉网络暴力有害信息举报邮箱：<a>wlbljubao@{随机字符}.com</a></p>
				<p>谣言专项举报邮箱：<a>yaoyanjubao@{随机字符}t.com</a></p>
			</div>
		</div>
	</div><!-- bq_footer end -->
	<script type="text/javascript" src="/_/static/ow303_news.ynet/static/js/beiqing_finance.js"></script>
	<script type="text/javascript" src="/_/static/ow303_news.ynet/static/js/rdAjax.js"></script><!--新增加数据请求-->
	<script type="text/javascript" src="/_/static/ow303_news.ynet/static/js/detail_new.js"></script>
	<script type="text/javascript">
		window.onload = function () {
			document.getElementsByClassName("issue-btn-w")[0].innerHTML = '<a><button node-type="issue" class="btn-fw"></button></ a>';
		}
	</script>
</body>

</html>