




<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="https://www.hhhcq.cn/images/favicon.ico" media="screen">
<base target="_blank">

<link rel="canonical" href="">
<link rel="alternate" media="only screen and (max-width: 640px)" href="/{随机字符}/{随机数字}_{随机数字}.html">

<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}">
<meta property="og:description" content="{自定义描述}">
<meta property="og:title" content="{关键词1}{随机后缀}{新闻网标题}">
<link type="text/css" rel="stylesheet" href="/_/static/ow319_hhhcq/static/css/list.css">
<link type="text/css" rel="stylesheet" href="/_/static/ow319_hhhcq/static/css/default.css">

<link type="text/css" rel="stylesheet" href="/_/static/ow319_hhhcq/static/css/swiper.min.css">
<link type="text/css" rel="stylesheet" href="https://www.hhhcq.cn/css/new_list.css">
<link href="/_/static/ow319_hhhcq/static/css/plyr.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="" id="themeStyle">

<script>
var siteName = "{关键词1}";
var siteId="31";
var pcDomain="{当前主域名}";
var wapDomain="{当前主域名}";
var channelId="25192";
var contentId="12597653";
var contentTitle="{关键词1}{随机后缀}{新闻网标题}";
var contentSummary="{自定义描述}";
var channelUrl="/{随机字符}/{随机数字}_{随机数字}.html";
var contentUrl="/{随机字符}/{随机数字}_{随机数字}.html";
var ckie = pcDomain+ '-favCookieUUID-' + contentId;
var contentType="1";
var terminal="1";
var newsType="1";
var WXSHARE_LOGO = "";
</script>



<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/plyr.polyfilled.js"></script>
<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/jquery.js"></script>

<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/idangerous.swiper.min.js"></script>
<script src="/_/static/ow319_hhhcq/static/js/rednetAd.js" type="text/javascript" id="rednetAd"></script>
<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/swfobject.js"></script>


<link type="text/css" rel="stylesheet" href="/_/static/ow319_hhhcq/static/css/jplayer.blue.monday.min.css">
<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/site-config-pc.js"></script>
<script src="/_/static/ow319_hhhcq/static/js/jquery.mystorage.js"></script>


<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/config.js"></script>

    <script>
        //pageStaticFilesPath=https://wap.hhhcq.cn
		var WXSHARE_TITLE = "{关键词1}{随机后缀}{新闻网标题}";
		var WXSHARE_DESC = "{自定义描述}";
		WXSHARE_LOGO = "";
		if(WXSHARE_LOGO==""||(!WXSHARE_LOGO)){
			WXSHARE_LOGO = "//j.rednet.cn/site//static/ow319_hhhcq/static/images/00.jpg";
		}
	</script>



</head>
<body>

        <header class="wrapper">
        <nav class="overf b-bottom b-top-4red nav nav-theme">
          <ul class="channelHeader menu" style="background: url(/static/ow319_hhhcq/static/image/logo-cs.png) left center no-repeat;padding-left:155px;">
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">概况</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">要闻</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">专题</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">时政</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">经济</a></li>		 
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">民生</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">基层</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">视界</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">视听</a></li>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">外媒关注</a></li>
          </ul>
          <div class="nav-search b-bottom h44 f14">
                  <form name="search" action="//news-search.rednet.cn/search" target="_blank" accept-charset="utf-8" onsubmit="document.charset='utf-8';">
                    <input type="text" class="search-txt f14" name="q" placeholder="搜索你感兴趣的新闻"><input type="hidden" name="s" value="31">
                    <a class="icon-search"><input type="submit" alt="" name=" " value=""></a>
                  </form>
          </div>
    
        </nav>
    
      </header>


<main class="nBlock">

<div class="t-center adfile">
<script id='ad1560849799887_44'> new RedAd('ad1560849799887_44',31)</script>
</div>


    <section class="crumb m_t_35 block">
        <span class="">当前位置:</span>        
        <div id="div_listPageLocation" class="breadcrumb">










<a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>&gt;<a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>&gt;<span>正文</span>
       </div>
    </section>


    <section class="overf block">
      <section class="box_left f_left">
        <h1 class="p_t_30 f36 p_b_40 h36 fb">{关键词1}{随机后缀}{新闻网标题}</h1>
        <div class="content_info">
          <span class="p_l_10">来源：{关键词1}</span>
          <span class="p_l_10">作者：{人物名称} </span>
          <span class="p_l_10">编辑：{人物名称} </span>
          <span class="p_l_10">{当前时间}</span>
          <span class="p_l_10" id="numpv"></span>
		  <section class="f_right detail_share_city" title="{关键词1}{随机后缀}{新闻网标题}">
			  <label class="label">分享到:</label>
			  <a class="share_wb_city"></a>
			  <a class="share_qq_city"></a>
			  <a class="share_wx_ciry" id="tcode"></a>
            <div id="qrcode" style="width:100px; height:100px; margin-top:15px; display:none;position: absolute;margin-left: 70px;z-index:99;"></div>
            <script>
            $('#qrcode').qrcode({
              text: location.href,
              height: 100,
              width: 100,
              src: ''
            })
          
            $("#tcode").mouseover(function (){  
                $("#qrcode").show();  
            }).mouseout(function (){  
                $("#qrcode").hide();  
            });  
          
            </script>
		  </section>
        </div>
		<div class="split_line"></div>

<div class="t-center adfile">
<script id='ad1560849927784_45'> new RedAd('ad1560849927784_45',31)</script>
</div>

        
<article class="f18 detail-article m_b_30">
<ct><p style="text-indent: 2em; text-align: justify;">{新闻网内容}</p></ct>






<p class="f14 m_t_50 m_b_5 h20"></p>
<p class="f14 m_t_5 m_b_5 h20" style="color:#888" id="source_baidu">来源：{关键词1}</p>
<p class="f14 m_t_5 m_b_5 h20" style="color:#888" id="author_baidu">作者：{人物名称} </p>
<p class="f14 m_t_5 m_b_5 h20" style="color:#888" id="editor_baidu">编辑：{人物名称} </p>


</article>


        
        <p class="f20 p_b_10 p_t_30 b-top-2gray3 cGray3">相关链接</p>
        <ul class="list14h35 border0 b-bottom-2gray3 p_b_20">
          <div id="div_relatedContentList" pageid="432" fetchdatatype="1" terminal="1" pagesize="5">
              <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{关键词1}{标题}</a>
                <span class="date">{当前时间}</span>  
              </li>
              <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank"> {标题}</a>
                <span class="date">{当前时间}</span>  
              </li>
              <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank"> {标题}</a>
                <span class="date">{当前时间}</span>  
              </li>
              <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank"> {标题}</a>
                <span class="date">{当前时间}</span>  
              </li>
              <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank"> {标题}</a>
                <span class="date">{当前时间}</span>  
              </li>
          </div>
        </ul>
      
      </section>

    <section class="box-right f-right">
    <aside>

      <div class="aside-wrap">
        <div class="nav-title m_t_10">新闻推荐</div>
        <!-- 新闻推荐：第一条图片新闻 -->
        <div id="div_xwtj_img" class="module" style="height:150px;" pageid="483" fetchdatatype="2" terminal="1" modulename="新闻推荐-图文" moduletype="1" pagesize="1" imageratio="2:1" manualdata="[{'id':'11835843','title':'【大美鹤城】&#32;怀化大峡谷：户外露营度假好去处','contentUrl':'https://hecheng.rednet.cn/content/2022/09/16/11835843.html','multiLine':0,'urlCloud':'https://imgs.rednet.cn/data/37/IMAGE_TENANT_LIB/IMAGE/7010365/2022/9/16/a7c34c0b62ff44398ff3028edd95e2ac.png','summary':'在怀化大峡谷景区户外露营区，草地向两边延展，在这里野餐，除了感受优美的环境，还能享受大自然风柔柔吹在脸上的惬意。','publishTime':'2022-09-16 16:49:15','channelNames':'鹤城区新闻网/玩转·鹤城,时刻/鹤城,鹤城区新闻网/头条'}]" fileid="null" subappid="null">
                <div class="p_b_10 pr">
                  <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}" style="position:relative;width:300px;display:block;height:150px">
                      <img src="{随机图片}" alt="{标题}" border="0" width="300" height="150">

                     <span class="a-img-title">{标题}</span>
                  </a>
                 
                </div>
        </div>

        <!-- 新闻推荐：列表 -->
        <div id="div_xwtj_list" class="module" style="min-height:170px;" pageid="483" fetchdatatype="1" terminal="1" modulename="新闻推荐-列表" moduletype="1" pagesize="5" channelid="850" includetop="2" excludenum="0">
            <ul class="list14h34" style="padding-bottom:21px;">
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {关键词1}{标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
            </ul>
        </div>
      </div>
      <div class="p_t_10 p_b_10">
        <script type="text/javascript" src="/{随机字符}/{随机数字}_{随机数字}.html"></script>
      </div>

      <!-- 专题推荐 -->
      <div class="aside-wrap">
        <div class="nav-title">专题推荐</div>
        <!-- 专题推荐图1 -->
      
        <!-- 专题推荐图2 -->
        <div class="p_b_10 pr">
          <div id="div_topic_img_2" class="module" style="min-height:220px;" pageid="483" fetchdatatype="2" terminal="1" modulename="专题推荐-图文" moduletype="1" pagesize="2" imageratio="2:1" manualdata="[{'title':'{标题}','contentUrl':'/{随机字符}/{随机数字}_{随机数字}.html','urlCloud':'{随机图片}'},{'title':{标题}','contentUrl':'/{随机字符}/{随机数字}_{随机数字}.html','urlCloud':'{随机图片}'}]">
				<div style="position:relative">
                  <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}" style="position: relative;display: block;">
                      <img src="{随机图片}" alt="{标题}" border="0" width="300" height="150">
                    
                    <span class="a-img-title">{标题}</span>
                  </a>
                </div>  
				<div style="position:relative">
                  <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}" style="position: relative;display: block;">
                      <img src="{随机图片}" alt="{标题}" border="0" width="300" height="150">
                    
                    <span class="a-img-title">{标题}</span>
                  </a>
                </div>  
            </div>
        </div>

        <!-- 专题推荐列表：2条 -->
        <div id="div_topic_list" class="module" style="min-height:70px;" pageid="483" fetchdatatype="2" terminal="1" modulename="专题推荐-列表" moduletype="1" pagesize="2" manualdata="[{'title':'鹤城区委理论学习中心组开展2018年7月专题学习','contentUrl':'https://hecheng.rednet.cn/content/2018/07/25/291077.html'},{'title':'熊安台主持召开棚改项目调度会','contentUrl':'https://hecheng.rednet.cn/content/2018/07/27/291051.html'}]">
            <ul class="list14h34">
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{关键词1}{标题}</a>
                  </li>
            </ul>
        </div>
      </div>



    </aside>
  </section>

    </section>
</main>




  <section class="readnext  m_t_50">
    <div class="readnex_detail">
      <p class="f18 p_b_30 p_t_50 cGray9">阅读下一篇</p>
      <h1 class="p_b_40">
        <div id="div_nextNews">
              <a class="f36 cGray3" href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
        </div>

      </h1>
    </div>
  </section>


<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/wap-function.js"></script>
<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/common.js"></script>
<script>
    mutiVideoCheck();
    (function() {
        $(".detail_share").on('click', function(e) {
            if ($(e.target).hasClass("share_wb")) {
                shareTo("WB", "{标题}")
            } else if ($(e.target).hasClass("share_qq")) {
                shareTo("QQ", "{标题}")
            }
        })
        })
</script>

<script type="text/javascript" src="/_/static/ow319_hhhcq/static/js/detail.js"></script>





        <footer class="nfooter_city">
      <section class="nBlock">
        <div class="overf m_b_40 b-bottom6b6e81">
          <div class="about t-center">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">关于我们</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">广告业务</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">红网诚聘</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">实习申请</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">网上投稿</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">新闻热线</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">友情链接</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">帮助中心</a>
          </div>
		  <div align="center"><hr style="height:0px;border-width:1px 0 0 0; border-top:1px solid #ccc;width:50em;margin:0 auto;" />
        Copyright&copy; {网站名称} All Rights Reserved<br/></div>
        </div>
    </section></footer>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body></html>