<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{自定义标题}</title>
  <meta name="keywords" content="{关键词1}" />
  <meta name="description" content="{自定义描述}">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
  <script type="text/javascript">
    if (window.navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)) {
      if (window.location.href.indexOf("?mobile") < 0) {
        window.location.href = "{当前url}";
      }
    }
  </script>
  <link rel="alternate" media="only screen and (max-width:640px)" href="{当前url}">

  <link href="/_/static/ow316_hunan.voc/static/css/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/_/static/ow316_hunan.voc/static/js/master.js"></script>
  <script type="text/javascript" language="javascript">
    var _NewsID = 55648633;
    var _ClassID = 2843;
    var _EditID = 2255;
    var _BbsTid = 0
    var imgWidth = 500;
    var _CtypeID = 0;
  </script>
</head>

<body>
  <div class="header"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">华声在线首页</a> | <a
      href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湖南</a></div>
  <div class="top">
    <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow316_hunan.voc/static/picture/logo.png" alt="深读湖南-有湘味 有温度"
        width="530" height="94" class="logo fl"></a>
  </div>
  <!--top end-->
  <div class="w1100 case_main">
    <div class="news_left news_left2 fl">
      <div class="page_title">
        <h1>{关键词1}{随机后缀}{新闻网标题}</h1>
        <div class="art_info"><span class="fl">{当前时间} [<span id="source_baidu">来源:<a href="/{随机字符}/{随机数字}_{随机数字}.html"
                target="_blank">{关键词1}</a></span>] [<span id="author_baidu">作者:{人物名称}</span>] [<span
              id="editor_baidu">编辑:{人物名称}</span>]</span><span class="fr">字体:【<a
              href="javascript:changesize(18)">大</a> <a href="javascript:changesize(16)">中</a> <a
              href="javascript:changesize(14)">小</a>】</span></div>
      </div>
      <!--标题结束-->
      <div id="content">

        <p style="text-indent:2em;">{新闻网内容}
        </p>
      </div>
      <!--新闻内容结束-->
    </div>
    <!--news_left end-->
    <div class="news_right fr">
      <div class="title1 title4">
        <h2><a title="推荐阅读">推荐阅读</a></h2>
      </div>
      <div class="news_list news_list2">
        <h3><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
        </h3>
        <div class="news_pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html"
            target="_blank"><img
              src="{随机图片}"
              width="112" height="84" border=0 /></a></div><span
          class="news_text">{句子}</span>
      </div>
      <div class="news_list news_list2">
        <h3><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
        </h3>
        <div class="news_pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html"
            target="_blank"><img
              src="{随机图片}"
              width="112" height="84" border=0 /></a></div><span
          class="news_text">{句子}</span>
      </div>
      <div class="news_list news_list2">
        <h3><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
        </h3>
        <div class="news_pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html"
            target="_blank"><img
              src="{随机图片}"
              width="112" height="84" border=0 /></a></div><span
          class="news_text">{句子}</span>
      </div>
      <div class="news_list news_list2">
        <h3><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
        </h3>
        <div class="news_pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html"
            target="_blank"><img
              src="{随机图片}"
              width="112" height="84" border=0 /></a></div><span
          class="news_text">{句子}</span>
      </div>
      <div class="news_list news_list2">
        <h3><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
        </h3>
        <div class="news_pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html"
            target="_blank"><img
              src="{随机图片}"
              width="112" height="84" border=0 /></a></div><span
          class="news_text">{句子}</span>
      </div>
      <div class="news_list news_list2">
        <h3><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
        </h3>
        <div class="news_pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html"
            target="_blank"><img
              src="{随机图片}"
              width="112" height="84" border=0 /></a></div><span
          class="news_text">{句子}</span>
      </div>
      <!--news_list2 推荐阅读 end-->
    </div>
    <!--news_right end-->
  </div>
  <!--case_main end-->
  <div class="clear"></div>
  <div class="footer">
    <div class="w980"><span>© {年} {关键词1} 版权所有</span><a href="/{随机字符}/{随机数字}_{随机数字}.html"
        target="_blank">关于华声</a>|<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">广告服务</a>|<a
        href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">舆情服务</a>|<a href="/{随机字符}/{随机数字}_{随机数字}.html"
        target="_blank">网站建设</a>|<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">商务合作</a>|<a
        href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">诚聘英才</a>|<a href="/{随机字符}/{随机数字}_{随机数字}.html"
        target="_blank">法律声明</a>|<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">联系我们</a></div>
  </div>
  <!--footer end-->

  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
  <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
  <div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>  
</body>

</html>