<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="application-name" content="{网站名称}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="SiteName" content="{网站名称}">
<meta name="SiteDomain" content="{当前主域名}">
<meta name="SiteIDCode" content="CA192930000406253780001">
<meta name="ColumnName" content="{关键词1}">
<meta name="ColumnDescription" content="{关键词1}">
<meta name="ColumnKeywords" content="{关键词1}">
<meta name="ColumnType" content="{关键词1}">
<meta name="ArticleTitle" content="{关键词1}{随机后缀}{新闻网标题}">
<meta name="PubDate" content="{当前时间}">
<meta name="ContentSource" content="{关键词1}">
<meta name="keywords" content="">
<meta name="Author" content="">
<meta name="Description" content="{关键词1}{随机后缀}{新闻网标题}">
<meta name="Image" content="{随机图片}">
<meta name="Url" content="{当前url}">
<meta name="SiteId" content="1071">

      
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}">

    
    <link href="/_/static/ow325_cdrbs/static/css/module.css" rel="stylesheet" type="text/css">
    <link href="/_/static/ow325_cdrbs/static/css/default.css" rel="stylesheet" type="text/css">
	<link href="http://www.cdrbs.net/Content/cdrbs/Base/img/favicon.ico?v=BxGQ7a0QPHW7WDH7iEMIolZQGLVBrNtOEKTKvGrmoI4" type="image/x-icon" rel="shortcut icon">
    
    <link href="/_/static/ow325_cdrbs/static/css/page.css" rel="stylesheet">



    <!-- 无障碍的样式文件 -->
    <link href="/_/static/ow325_cdrbs/static/css/free_Web.css" rel="stylesheet">

    <link href="/_/static/ow325_cdrbs/static/css/power.css" rel="stylesheet">
    <script src="/_/static/ow325_cdrbs/static/js/jquery-migrate.min.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/jquery.cookie.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/webCommon.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/layer.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/jquery.SuperSlide.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/qrcode.min.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/power.core.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/power.security.csrf.js"></script>
    <script>document.write('<script src="/Content/_Common/Base/js/power.config.js?v=W1Ks-Y0jjRtHDMWqbSQIIgw3Ex3dHYrgq0pGGrEujVI?v=' + new Date().getTime() + '"><\/script>')</script>
    <script src="/_/static/ow325_cdrbs/static/js/power.loadgrayscale.js"></script>
</head>
<body>
    




<div class="wrap">
    <input name="__RequestVerificationToken" type="hidden" value="uM5X2oSXwR1WyyQQW-WcdjLVjoFQ86nt7lzSJp2kMdBTLcKGDNHONH98qs_oSpkw41I4WQ2">


<!-- header S -->
<header id="header">
    <div class="topBar">
        <div class="siteWidth">
            <div class="getMain">
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">市委</a> |    
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">市人大</a> | 
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">市政府</a> | 
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">市政协</a>
            </div>
                

            <span class="userPanel"><a id="toolbarCtrl" title="无障碍浏览(Ctrl+Alt+B)" href="/{随机字符}/{随机数字}_{随机数字}.html" class="access">无障碍版</a> | <a id="ST_translate" onclick="do_simple_to_traditional();">繁體版</a> | <a href="http://{当前域名}/sitemap.xml" target="_blank">网站地图</a></span>
        
   
        
    </div>
    </div>
    <div class="logoBar">
        <h1 title="常德日报社" id="logo"><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow325_cdrbs/static/picture/96711c4d47b3476a8c140bed6621ac7a.png"></a></h1>
       
    </div>
    <nav class="topNav">
        <div class="siteWidth">
            


<ul id="mainNav" class="mainNav">
    <li class="li1 first1" id="li-home">
        <h3 class="h1">
                <a class="a1" href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>
        </h3>
    </li>
        <li class="spe">|</li>

        <li class="li1 hasUl1 on1" id="li-zhdt">
            <h3 class="h1">
                <a class="a1" href="/{随机字符}/{随机数字}_{随机数字}.html">综合动态</a></h3>
        </li>
            <li class="spe">|</li>
        <li class="li1 hasUl1" id="li-xxgk">
            <h3 class="h1">
                <a class="a1" href="/{随机字符}/{随机数字}_{随机数字}.html">信息公开</a></h3>
        </li>
            <li class="spe">|</li>
        <li class="li1 last1" id="li-ywzt2">
            <h3 class="h1">
                <a class="a1" href="/{随机字符}/{随机数字}_{随机数字}.html">业务专题</a></h3>
        </li>
</ul>

    <script type="text/javascript">
        (function () {
            var navST;
            var navST1;
            var name = 'mainNav';
            var t = 200;
            var type = 1;
            var removeOn = 'False';
            var effect = 'fade';
            var appendItem = '#';
            var li = "#" + name + " li";
            var index = 0;

            if (!$("#" + name + " .li1").hasClass("on1")) {
                $("#" + name + " .li1").first().addClass("on1");
            } //默认第一个加.on1类
            index = $("#" + name + " .li1").index($("#" + name + " .on1"));

            //鼠标离开导航后，回复默认.on1类位置
            $("#" + name)
                .hover(
                    function () {
                        if (navST1 != null) {
                            clearTimeout(navST1);
                        }
                    },
                    function () {
                        navST1 = setTimeout(function () {
                                $("#" + name + " .li1").removeClass("on1").eq(index).addClass("on1");
                            },
                            500);
                    }
                );

            if (type == '1') {
                li = "#" + name + " .li1";
            }
            if (appendItem != '#') { //插入内容
                var appendHtml = $(appendItem).html();
                $(li).first().append(appendHtml);
                $(appendItem).remove();
            }

            if (type == '3') {
                $("#" + name + " .on1").find("ul").first().show();
            }

            $(li)
                .hover(function () {
                        var curItem = $(this);
                        var onNum = (curItem.attr("class").split(" "))[0].replace("li", "");
                        $(li).removeClass("on" + onNum);
                        curItem.addClass("on" + onNum);
                        navST = setTimeout(function () { //延时触发

                                if ($("ul:first", curItem).css("display") != "block") {
                                    $(li + " .ul" + onNum).hide();
                                    if (effect == 'fade') {
                                        $("ul:first", curItem).fadeIn(t);
                                    } else {
                                        $("ul:first", curItem).slideDown(t);
                                    }
                                };
                                navST = null;
                            },
                            t);
                    },
                    function () {
                        if (navST != null) {
                            clearTimeout(navST);
                        }
                        if (type == '1' || type == '2') {
                            if (effect == 'fade') {
                                $(this).find("ul").first().fadeOut(t);
                            } else {
                                $(this).find("ul").first().slideUp(t);
                            }
                        }
                        if (removeOn == 'True') {
                            $(this).removeClass("on1");
                        }
                    },
                    t); //end hover
        })()
    </script>

        </div>
     
    </nav>
    <script>
        //导航下拉效果
        $(".mainNav")
            .slide({
                type: "menu",
                titCell: ".li1",
                targetCell: ".ul1",
                titOnClassName: "on1",
                effect: "slideDown",
                delayTime: 200,
                returnDefault: true,
                triggerTime: 200
            });
    </script>



</header>

<div class="searchfull">
	<div class="siteWidth">
		<p class="welcome">欢迎访问{网站名称}！</p>
         


<div class="siteSearch">

    <a href="javascript:gSearch()" id="search" class="btn">搜索</a>
    <input type="text" maxlength="50" id="inputkeyword" class="from-control" placeholder="请输入关键词" spellcheck="false" onfocus="this.value='';this.style.color='#333'">
</div>

<script>
    document.getElementById("inputkeyword").onkeydown = function (e) {
        e = e || window.event;
        if (e.keyCode == 13) {
            gSearch();
        }
    };

    function gSearch() {
        var keyword = document.getElementById('inputkeyword').value;
        if (keyword == '' || keyword == "请输入关键词") {
            alert("请输入关键词");
        } else {
            window.location = 'http://www.cdrbs.net/s?sid=1071&wd=' +
                encodeURIComponent(keyword);
        }
    }
</script>
	</div>
</div>


<link href="/_/static/ow325_cdrbs/static/css/power.previewuserlogin.css" rel="stylesheet">
<link href="/_/static/ow325_cdrbs/static/css/power.phonemessagevalidate.css" rel="stylesheet">
<link href="/_/static/ow325_cdrbs/static/css/power.passwordicon.css" rel="stylesheet">

<div class="userlogin userlogin_userLoginDialog" data-userlogin="userLoginDialog"></div>
<div class="userlogincomment userlogincomment_userLoginDialog userloginmodal" data-userlogindialog="userLoginDialog">
    <input name="__RequestVerificationToken" type="hidden" value="4al8NUQb3ZYlW4BbSdEHWPP8PXTWjY53dz8g7MnnaIQGUj5WeWGMdSG2MuxFB-D2m6Jktw2">
    <div class="loginDialog">
        <div class="user-mainbox">
            <div class="top">
                <span class="closecomment">×</span>
                <div class="top">
                    <div class="hd">
                        <ul id="login-select">
                                <li class="registered on" id="pwd_registered"><a><h3>账号+密码登录</h3></a></li>
                                                                                                            </ul>
                    </div>
                </div>
            </div>
            <div class="login-main clearfix">
                <form id="validateForm">
                    <div class="login-panel">
                        <div class="bd" id="login-body">
                                                            <div class="passwordlogin">
                                    <dl class="clearfix name password-field hiddenfield">
                                        <dt class="required">用户名</dt>
                                        <dd>
                                            <input id="UserName" class="form-control hiddenfield password-field" data-val-required="用户名 字段是必需的。" data-val="true" name="UserName" type="text" value="">
                                            <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                                        </dd>
                                    </dl>
                                    <dl class="clearfix password-field phonepassword-field hiddenfield">
                                        <dt class="required">密码</dt>
                                        <dd>
                                            <input id="Password" style="width: 49%" data-val-required="密码 字段是必需的。" autocomplete="off" class="form-control hiddenfield password-field phonepassword-field" data-toggle="password" data-ui-ime="inactive" data-val="true" data-val-dangerous="true" data-val-length-max="32" data-val-length-min="6" maxlength="32" name="Password" style="" type="password">
                                            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                        </dd>
                                    </dl>
                                </div>
                                                        <dl class="clearfix enabledvalidcode hiddenfield">
                                <dt class="required">验证码</dt>
                                <dd>
                                    <div class="codeinp">
                                        <input class="form-control valid input-validation-error" data-val="true" data-val-captcha="验证码输入错误，请重新输入。" data-val-captcha-url="/captcha/validate" name="ValidateCode" type="text" value="" aria-invalid="true" aria-describedby="ValidateCode-error">
                                        <div class="validationcode" data-captcha-url="/captcha/generatecaptcha" data-type="userlogincaptcha" id="validationcode"></div>
                                    </div>
                                    <span class="field-validation-valid" data-valmsg-for="ValidateCode" data-valmsg-replace="true"></span>
                                </dd>
                            </dl>
                            <dl class="clearfix others phone-field hiddenfield" style="font-size: 10px; display: none">
                                <dt>&nbsp;</dt>
                                <dd>
                                    <span>
                                        未注册的手机号在初次登录时会自动注册为网站会员。
                                    </span>
                                </dd>
                            </dl>
                            <label class="errormessage"></label>
                                <dl class="clearfix others password-field phonepassword-field hiddenfield">
                                    <dt>&nbsp;</dt>
                                    <dd>
                                        <a target="_blank" class="forget-password" href="/{随机字符}/{随机数字}_{随机数字}.html">忘记密码？</a>
                                    </dd>
                                </dl>

                            <input type="hidden" name="LoginWayType" value="PasswordLogin">
                        </div>
                        <div class="ft phonelogin passwordlogin" id="login-btn">
                            <button type="button" class="login loginBtn">登 录</button>
                        </div>
                    </div>
                </form>
                <div class="login-tip">
                    <div class="registerlink">
                        <h4>还没有账号？</h4>
                        <a class="link" target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">立即注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" data-logincommentid="logincommentid" value="">
<input id="loginUrl" type="hidden" value="/user/ajaxlogin">
<input id="logincurrentsiteId" type="hidden" value="1071">
<input id="loginPhoneUrl" type="hidden" value="/user/ajaxphonelogin">
<input type="hidden" data-currentusernameurl="currentusernameurl" value="/user/ajaxcurrentusername">
<script src="/_/static/ow325_cdrbs/static/js/bootstrap-show-password.js"></script>
<script type="text/javascript" src="/_/static/ow325_cdrbs/static/js/wxLogin.js"></script>
<script src="/_/static/ow325_cdrbs/static/js/power.login.js"></script>
<!-- header E -->    




<!-- content S -->
<div id="content">
    <div class="path">

<em>您的位置： </em><a href="/{随机字符}/{随机数字}_{随机数字}.html">{网站名称}</a>
&gt;<a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>&gt;<a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>&gt;<span>详细内容</span></div>
    <!-- mainContent S -->
    <div class="mainContent">
        





        <!-- 正文内容 S -->
        <article class="articleCon">
            <div class="printArea" data-power-area='content'>
                <!-- 标题 -->
                <h2 class="title">
                    {关键词1}{随机后缀}{新闻网标题}
                    <div class="subheading"></div>
                </h2>
                <div class="property">
                    <span>来源：{关键词1} </span>
                    <span>发布时间：{当前时间}</span>
                    <span class="hits" style="display:none;">点击次数：{随机数字}次</span>
                    <span>【字体：<a href="/{随机字符}/{随机数字}_{随机数字}.html" data-power-command="reducefont">小</a> <a href="/{随机字符}/{随机数字}_{随机数字}.html" data-power-command="enlargefont">大</a>】</span>
                </div>
                <!-- 正文 -->
                <div class="conTxt" data-power-accessible-reading="" data-power-defaultfontsize="16" data-power-defaultlineheight="2" data-power-imgmaxwidth="800">
                    <p style="text-indent: 37px"><span style="font-family: 宋体; font-size: 19px"><span style="font-family: 宋体">{新闻网内容}</span></span></p><p><br></p>
                </div>

            </div>
            



            <div class="userControl">
                

<link href="/_/static/ow325_cdrbs/static/css/share.css" rel="stylesheet">
<div class="bdsharebuttonbox">
    <div class="hd">分享到：</div>
    <div class="bd" id="shareButtonBox"></div>
</div>
<script src="/_/static/ow325_cdrbs/static/js/jquery.share.js"></script>
<script>

$('#shareButtonBox').share({
    sites: ['wechat','weibo'],
    title: $(document.head).find('[name=ArticleTitle]').attr('content') || document.title,
    source:$(document.head).find('[name=SiteName]').attr('content') || document.title,
    image: $('[data-power-area="content"]').find("img").prop('src') || $('img:first').prop('src') || '',

    //微信分享新增参数，以下参数修改后请自行调整share.css对应的样式
    wechatQrcodeDialogId: "share_weixin_qrcode_dialog_qr", //分享到微信的弹窗ID
    wechatQrcodeSize: 200 // 分享到微信的二维码大小
});
</script>
    
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="dyBtn" data-power-command="printarea">【打印正文】</a>
            </div>

            <div class="others">
                



<div class="others" id="prevAndNextContent"></div>
<input type="hidden" name="isPreview" value="0">


            </div>
        </article>
        <!-- 正文内容 E -->
    </div>
    <!-- mainContent E -->
</div>
<!-- content E -->




<!-- footer S -->
<footer id="footer">
    <div class="siteWidth">


        <div class="copyRight"><p>版权所有 {网站名称} 备案序号：<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">湘ICP备{随机8数字}号-3</a></p><p>主办单位：{网站名称} 技术支持：{网站名称}</p><p><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow325_cdrbs/static/picture/7dafbf43538e448fbbc9cebe03b19ffd.png" alt="7dafbf43538e448fbbc9cebe03b19ffd.png">湘公网安备 430705{随机8数字}号</a></p></div>
        
        <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html" class="dzjg"><img src="/_/static/ow325_cdrbs/static/picture/blue.png" alt=""></a>
        

    </div>
</footer>
<!-- footer E -->
</div>



<link href="/_/static/ow325_cdrbs/static/css/power.previewuserlogin.css" rel="stylesheet">
<link href="/_/static/ow325_cdrbs/static/css/power.phonemessagevalidate.css" rel="stylesheet">
<link href="/_/static/ow325_cdrbs/static/css/power.passwordicon.css" rel="stylesheet">

<div class="userlogin userlogin_userLoginDialog" data-userlogin="userLoginDialog"></div>
<div class="userlogincomment userlogincomment_userLoginDialog userloginmodal" data-userlogindialog="userLoginDialog">
    <input name="__RequestVerificationToken" type="hidden" value="XBi34SK-2uY-GIBIDnv3zw9u9Y1U23-t4smQ1AiraQ__NgD-RyE-AqnGSQ8udszEvCFVFQ2">
    <div class="loginDialog">
        <div class="user-mainbox">
            <div class="top">
                <span class="closecomment">×</span>
                <div class="top">
                    <div class="hd">
                        <ul id="login-select">
                                <li class="registered on" id="pwd_registered"><a><h3>账号+密码登录</h3></a></li>
                                                                                                            </ul>
                    </div>
                </div>
            </div>
            <div class="login-main clearfix">
                <form id="validateForm">
                    <div class="login-panel">
                        <div class="bd" id="login-body">
                                                            <div class="passwordlogin">
                                    <dl class="clearfix name password-field hiddenfield">
                                        <dt class="required">用户名</dt>
                                        <dd>
                                            <input id="UserName" class="form-control hiddenfield password-field" data-val-required="用户名 字段是必需的。" data-val="true" name="UserName" type="text" value="">
                                            <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                                        </dd>
                                    </dl>
                                    <dl class="clearfix password-field phonepassword-field hiddenfield">
                                        <dt class="required">密码</dt>
                                        <dd>
                                            <input id="Password" style="width: 49%" data-val-required="密码 字段是必需的。" autocomplete="off" class="form-control hiddenfield password-field phonepassword-field" data-toggle="password" data-ui-ime="inactive" data-val="true" data-val-dangerous="true" data-val-length-max="32" data-val-length-min="6" maxlength="32" name="Password" style="" type="password">
                                            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                        </dd>
                                    </dl>
                                </div>
                                                        <dl class="clearfix enabledvalidcode hiddenfield">
                                <dt class="required">验证码</dt>
                                <dd>
                                    <div class="codeinp">
                                        <input class="form-control valid input-validation-error" data-val="true" data-val-captcha="验证码输入错误，请重新输入。" data-val-captcha-url="/captcha/validate" name="ValidateCode" type="text" value="" aria-invalid="true" aria-describedby="ValidateCode-error">
                                        <div class="validationcode" data-captcha-url="/captcha/generatecaptcha" data-type="userlogincaptcha" id="validationcode"></div>
                                    </div>
                                    <span class="field-validation-valid" data-valmsg-for="ValidateCode" data-valmsg-replace="true"></span>
                                </dd>
                            </dl>
                            <dl class="clearfix others phone-field hiddenfield" style="font-size: 10px; display: none">
                                <dt>&nbsp;</dt>
                                <dd>
                                    <span>
                                        未注册的手机号在初次登录时会自动注册为网站会员。
                                    </span>
                                </dd>
                            </dl>
                            <label class="errormessage"></label>
                                <dl class="clearfix others password-field phonepassword-field hiddenfield">
                                    <dt>&nbsp;</dt>
                                    <dd>
                                        <a target="_blank" class="forget-password" href="/{随机字符}/{随机数字}_{随机数字}.html">忘记密码？</a>
                                    </dd>
                                </dl>

                            <input type="hidden" name="LoginWayType" value="PasswordLogin">
                        </div>
                        <div class="ft phonelogin passwordlogin" id="login-btn">
                            <button type="button" class="login loginBtn">登 录</button>
                        </div>
                    </div>
                </form>
                <div class="login-tip">
                    <div class="registerlink">
                        <h4>还没有账号？</h4>
                        <a class="link" target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">立即注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" data-logincommentid="logincommentid" value="">
<input id="loginUrl" type="hidden" value="/user/ajaxlogin">
<input id="logincurrentsiteId" type="hidden" value="1071">
<input id="loginPhoneUrl" type="hidden" value="/user/ajaxphonelogin">
<input type="hidden" data-currentusernameurl="currentusernameurl" value="/user/ajaxcurrentusername">
<script src="/_/static/ow325_cdrbs/static/js/bootstrap-show-password.js"></script>
<script type="text/javascript" src="/_/static/ow325_cdrbs/static/js/wxLogin.js"></script>
<script src="/_/static/ow325_cdrbs/static/js/power.login.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/power.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/jweixin.min.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/power-weixinshare.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/jquery.GBK.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/grayscale.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/power.loadgrayscaleforie.js"></script>

    <!-- 繁体切换主要实现js文件 -->
    <script src="/_/static/ow325_cdrbs/static/js/StoT.js"></script>
    <!-- 无障碍的主要实现js文件 -->
    <script src="/_/static/ow325_cdrbs/static/js/free_Web_load.js"></script>
    <!-- 无障碍播放语音使用的插件 -->
    <script src="/_/static/ow325_cdrbs/static/js/soundmanager2.js"></script>

    
    
    <script src="/_/static/ow325_cdrbs/static/js/jquery.PrintArea.js"></script>
    <script src="/_/static/ow325_cdrbs/static/js/article.js"></script>

    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
</body>
</html>