<!-- 头部 start -->
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}">
<link rel="icon" href="https://www.dongchu.cn/statics/images/favicon.ico">
<link rel="shortcut icon" href="https://www.dongchu.cn/statics/images/favicon.ico">
<link rel="bookmark" href="https://www.dongchu.cn/statics/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="/_/static/ow338_dongchu/static/css/globle.css">
<link rel="stylesheet" type="text/css" href="/_/static/ow338_dongchu/static/css/main.css">
<script type="text/javascript" src="/_/static/ow338_dongchu/static/js/jquery.min.js"></script> 
<script type="text/javascript" src="/_/static/ow338_dongchu/static/js/jquery.cookie.js"></script> 
<script type="text/javascript" src="/_/static/ow338_dongchu/static/js/layer.js"></script> 
<script type="text/javascript" src="/_/static/ow338_dongchu/static/js/laytpl.js"></script> 
<script type="text/javascript" src="/_/static/ow338_dongchu/static/js/geetest.js"></script> 
<script type="text/javascript" src="/_/static/ow338_dongchu/static/js/common.js"></script> 
<script type="text/javascript" src="/_/static/ow338_dongchu/static/js/global.js"></script>
</head>
<body>
<!--[if lt IE 9]>
 <p style="position: fixed; left: 0px; top: 0px; background: #333; color: #fff; font-size: 18px; line-height: 30px; padding: 10px 0px; z-index: 10000; width: 100%; text-align: center;">您正在使用的浏览器版本过低，将不能正常浏览本页面。请升级到IE9版本以上，或更换浏览器。</p>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/_/static/ow338_dongchu/static/css/swiper.min.css">
<script type="text/javascript" src="/_/static/ow338_dongchu/static/js/swiper.min.js"></script>
<!-- index导航 start -->
<div id="top" class="wrapper">
  <div class="w1040">
    <div class="left">
      <div class="logo">
        <div class="logo1"><a href="{当前主域名}"><img src="/_/static/ow338_dongchu/static/picture/20221110100356492.png"></a></div>
        <div class="clear"></div>
      </div>
      <div class="nav">
        <ul>
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">要闻</a><i></i></li>
                                    <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">东楚</a><i></i></li>
                        <li class="current"><a href="/{随机字符}/{随机数字}_{随机数字}.html">生活</a><i></i></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">房产</a><i></i></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">区县</a><i></i></li>
                        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">湖北</a><i></i></li>
                                  <div class="clear"></div>
        </ul>
      </div>
      
      <div class="clear"></div>
    </div>
    <div class="right">
      <form class="search" action="https://www.dongchu.cn/index.php" method="get" target="_blank">
          
          <input type="hidden" name="m" value="search" style="display:none;">
				<input type="hidden" name="c" value="index" style="display:none;">
				<input type="hidden" name="a" value="init" style="display:none;">
				<input type="hidden" name="typeid" value="1" id="typeid" style="display:none;">
				<input type="hidden" name="siteid" value="1" id="siteid" style="display:none;">
                <input type="text" name="q" id="q" type="text" value="请输入搜索内容" onfocus="javascript:if (this.value!='') this.value='';" onblur="javascript:if (this.value=='') this.value='请输入搜索内容';" class="text" style="color:#bbbbbb;">
				<input type="submit" value="" class="sub">
       
        <div class="clear"></div>
        
      </form>
      
      <div class="login">	<!-- 登录前 -->
				<a href="/{随机字符}/{随机数字}_{随机数字}.html">一键登录</a><span>|</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">东楚号</a>
			</div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- index导航 end --> <!-- show正文 start -->
<div id="content" class="w1040">
  <div class="main">
    <div class="news-head">
      <h2>{关键词1}{随机后缀}{新闻网标题}</h2>
      <p>
        <label>{关键词1}</label>
        <i>·</i>
        <label>{当前时间}</label>
      </p>
    </div>
    <div class="news-body"> 
      <!-- 正文 start -->
      <p style="text-align: center;">{新闻网内容}</p>   
        <!-- 分享 start -->
        <div class="news-write">
  <div class="tab-share-box">
</div>
</div>
      <!-- 分享 end --> 
    </div>
  </div>
   <div class="side">
    <div id="hot_block" class="block">
      <div class="title1"> <span><img src="/_/static/ow338_dongchu/static/picture/title-icon2.png">东楚热榜</span>
        <div class="clear"></div>
      </div>
      <div class="list3">
            <ul id="hot_search">  
                             
            <li class="no1"><span>1</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                 
            <li class="no1"><span>2</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}{标题}</a></li>
                 
            <li class="no1"><span>3</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                 
            <li class="no1"><span>4</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                 
            <li class="no1"><span>5</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                 
            <li class="no1"><span>6</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                 
            <li class="no1"><span>7</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                 
            <li class="no1"><span>8</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                 
            <li class="no1"><span>9</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                 
            <li class="no1"><span>10</span><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></li>
                                    </ul>
      </div>
    </div>
    <div class="block">
      <div class="title1"> <span><img src="/_/static/ow338_dongchu/static/picture/title-icon3.png">热门推荐</span>
        <div class="clear"></div>
      </div>
      <div class="list4">
        <ul id="hot_news">     
                                    <li>
                <div class="photo2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}"><i></i></a></div>    
                <h4><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></h4>    
                <p><label>
                  {关键词1}                
                </label><i>·</i><label>{年月日}</label></p>    
                <div class="clear"></div>   
            </li>
                        <li>
                <div class="photo2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}"><i></i></a></div>    
                <h4><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></h4>    
                <p><label>
                  {关键词1}                
                </label><i>·</i><label>{年月日}</label></p>    
                <div class="clear"></div>   
            </li>
                        <li>
                <div class="photo2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}"><i></i></a></div>    
                <h4><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></h4>    
                <p><label>
                  {关键词1}                
                </label><i>·</i><label>{年月日}</label></p>    
                <div class="clear"></div>   
            </li>
                         <li>
                <div class="photo2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}"><i></i></a></div>    
                <h4><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></h4>    
                <p><label>
                  {关键词1}                
                </label><i>·</i><label>{年月日}</label></p>    
                <div class="clear"></div>   
            </li>
                         <li>
                <div class="photo2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}"><i></i></a></div>    
                <h4><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></h4>    
                <p><label>
                  {关键词1}                
                </label><i>·</i><label>{年月日}</label></p>    
                <div class="clear"></div>   
            </li>
                        <li>
                <div class="photo2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}"><i></i></a></div>    
                <h4><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></h4>    
                <p><label>
                  {关键词1}                
                </label><i>·</i><label>{年月日}</label></p>    
                <div class="clear"></div>   
            </li>
                         <li>
                <div class="photo2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}"><i></i></a></div>    
                <h4><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></h4>    
                <p><label>
                  {关键词1}                
                </label><i>·</i><label>{年月日}</label></p>    
                <div class="clear"></div>   
            </li>
                        <li>
                <div class="photo2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}"><i></i></a></div>    
                <h4><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></h4>    
                <p><label>
                  {关键词1}                
                </label><i>·</i><label>{年月日}</label></p>    
                <div class="clear"></div>   
            </li>
                         <li>
                <div class="photo2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}"><i></i></a></div>    
                <h4><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></h4>    
                <p><label>
                  {关键词1}                
                </label><i>·</i><label>{年月日}</label></p>    
                <div class="clear"></div>   
            </li>
                        <li>
                <div class="photo2"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" alt="{标题}"><i></i></a></div>    
                <h4><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></h4>    
                <p><label>
                  {关键词1}                
                </label><i>·</i><label>{年月日}</label></p>    
                <div class="clear"></div>   
            </li>
                                </ul>
      </div>
    </div>
    
    <div id="rightFixed"></div>
  </div>  <div class="clear"></div>
</div>
<!-- show正文 end -->
<div id="footer2" class="wrapper">
	<p>Copyright © {年}  {网站名称}  版权所有&nbsp;&nbsp;<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">鄂ICP备{随机8数字}号</a>&nbsp;&nbsp;投稿邮箱：{随机字符}@qq.com</p>
</div>

<!-- index右侧 start -->
<div class="bay1">
  <div class="code">
  </div>
  <a href="/{随机字符}/{随机数字}_{随机数字}.html" id="back-top" class="to-top" onclick="backToTop();" style="display: none;">回到顶部</a> </div>
<!-- index右侧 end --> 


<script type="text/javascript">

	var $otp = 0;
	var _bar = $("#rightFixed");
	var _j = 30;

	$(document).ready(function(){
		searchGeetest('index');
		getDropMenu('index');
		getHotSearch();
		getHotNews();
		getNewsList();
	});

	$(window).scroll(function(){
		//返回顶部按钮
		var _now=$(this).scrollTop();
		scroll(_now);
		//到底自动加载
		bottomAutoLoad();
		//右侧滚动固定
		var _otp = _bar.offset().top;
		if($("#hot_block").css("position") == "fixed"){
			if($otp - $(window).scrollTop() > 90){
				$("#hot_block").css({"position":"static", "top":"auto", "left":"auto"});
			}
		}else{
			if(_otp - $(window).scrollTop() <= 90){
				$otp = _otp;
				$("#hot_block").css({"position":"fixed", "top":"70px", "left":_bar.offset().left+"px"});
			}
		}
	});
	/**
	 * 上拉加载-绑定至页面高度
	 */
	function bottomAutoLoad() {
		var h1 = $(".main ul:last li:last").offset().top;
		var h2 = $(window).scrollTop();
		if((h1-h2) < (window.innerHeight*0.95)){
			if(_news.scrollFinished && _news.haveMore){
				_news.scrollFinished = false;
				_news.page++;
				getNewsList();
			}
		}
	}

	/**
	 * 主区域重置
	 * @author Rohan
	 * @DateTime 2021-08-31 18:32:02
	 */
	function resetMainDom() {
		$('.focus').remove();
		$('.news-list-dom').remove();
		$('.video-block-dom').remove();
	}
</script> 
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>