





<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<meta https-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=1280, initial-scale=0.3">
<link rel="shortcut icon" type="image/x-icon" href="https://www.rednet.cn/images/favicon.ico" media="screen">
<base target="_blank">

<link rel="canonical" href="">
<link rel="alternate" media="only screen and (max-width: 640px)" href="/{随机字符}/{随机数字}_{随机数字}.html">

  <meta name="filetype" content="1">
  <meta name="publishedtype" content="1">
  <meta name="pagetype" content="1">
  <meta name="catalogs" content="25252">
  <meta name="contentid" content="9673239">
  <meta name="publishdate" content="{当前时间}">
  <meta name="author" content="{人物名称}">
  <meta name="source" content="{网站名称}">
  <title>{自定义标题}</title>
  <meta name="keywords" content="{关键词1}" />
  <meta name="description" content="{自定义描述}">
<meta property="og:description" content="{自定义描述}">
<meta property="og:title" content="{自定义标题}">
<link type="text/css" rel="stylesheet" href="/_/static/ow333_yiyang.rednet/static/css/list.css">
<link type="text/css" rel="stylesheet" href="/_/static/ow333_yiyang.rednet/static/css/list_red.css">
<link type="text/css" rel="stylesheet" href="/_/static/ow333_yiyang.rednet/static/css/idangerous.swiper.css">
<link type="text/css" rel="stylesheet" href="/_/static/ow333_yiyang.rednet/static/css/list1.css">

  <link href="/_/static/ow333_yiyang.rednet/static/css/plyr.css" rel="stylesheet">
  <style>
      .plyr__control--overlaid {
        background: rgba(0,0,0,.7)  !important;
        padding: 0 !important;
      }
      .plyr__control--overlaid:focus, .plyr__control--overlaid:hover ,.plyr--video .plyr__control:hover{
        background: rgba(0,0,0,.7) !important;
      }
      .plyr__control--overlaid svg ,.tcp-skin .vjs-big-play-button .vjs-button-icon,.tcp-skin .vjs-big-play-button{
        width: 58px !important;
        height: 58px !important;
      }
      .plyr__control--overlaid svg{
        left: 0 !important;
      }
  </style>
  <!--[if lt IE 9]>
  <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/ie8/videojs-ie8.js"></script>
  <![endif]-->
  <script src="/_/static/ow333_yiyang.rednet/static/js/hls.min.0.8.8.js"></script>
  <script src="/_/static/ow333_yiyang.rednet/static/js/tcplayer.min.js"></script>
<script>
var siteId="11";
var siteUrl="https://yiyang.rednet.cn";
var channelId="25252";
var contentId="9673239";
var terminal="1";
</script>


  <!--[if lte IE 8]>
     <script src="//j.rednet.cn/site//static/ow333_yiyang.rednet/static/js/lib/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/plyr.polyfilled.js"></script>
  <script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/jquery.js"></script>
  <script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/config.js"></script>
  <script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/idangerous.swiper.min.js"></script>
  <script src="/_/static/ow333_yiyang.rednet/static/js/rednetAd.js" type="text/javascript" id="rednetAd"></script>
  <script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/swfobject.js"></script>
  <script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/list_img.js"></script>

<link type="text/css" rel="stylesheet" href="/_/static/ow333_yiyang.rednet/static/css/jplayer.blue.monday.min.css">
<script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/jquery.jplayer.min.js"></script>

    <script>
        //pageStaticFilesPath=https://yiyang.rednet.cn/m
		var WXSHARE_TITLE = "{自定义标题}";
		var WXSHARE_DESC = "{自定义描述}";
		WXSHARE_LOGO = "{随机图片}";
		if(WXSHARE_LOGO==""||(!WXSHARE_LOGO)){
			WXSHARE_LOGO = "//j.rednet.cn/site//static/ow333_yiyang.rednet/static/images/00.jpg";
		}
	</script>

	<script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/wxshare.js"></script>

  <script type="application/javascript">
	if (/AppleWebKit.*Mobile/i.test(navigator.userAgent) || /\(Android.*Mobile.+\).+Gecko.+Firefox/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))) {
	try {
		var url = window.location.href;
		url = url.replace("{当前url}");
		window.location.href=url;
	} catch (e) {}
}
</script>

</head>
<body>

        <header class="wrapper">
        <nav class="overf b-bottom b-top-4red nav m_b_10">
          <ul class="menu" style="background: url(/static/ow333_yiyang.rednet/static/image/logo-cs.png) left center no-repeat;padding-left:155px;">
            <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">要闻</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">益阳新闻</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">市直</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">园区</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">医卫</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">益阳教育</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">公示公告</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">安化黑茶</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">益阳高新</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">益阳市场监管</a></li>
          </ul>
          <div class="nav-search b-bottom h44 f14">
            <form name="searchform" action="//news-search.rednet.cn/search" target="_blank" accept-charset="utf-8" onsubmit="document.charset='utf-8';">
              <input type="text" class="search-txt f14" name="q" placeholder="搜索你感兴趣的新闻"><input type="hidden" name="s" value="11">
              <p class="icon-search"><input class="search-btn1" type="submit" alt="" name=" " value=""></p>
            </form>
          </div>
    
        </nav>
    
      </header>



<div class="t-center adfile">
</div>


    <section class="crumb m_t_35 block">
        <span class="">当前位置:</span>        
        <div id="div_listPageLocation" class="breadcrumb">
<a href="/{随机字符}/{随机数字}_{随机数字}.html">{网站名称}</a>&gt;<a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>&gt;<span>正文</span>        </div>
    </section>


    <section class="overf block">
      <section class="box_left f_left">
        <h1 class="p_t_30 f36 p_b_40 h36 fb">{关键词1}{随机后缀}{新闻网标题}</h1>
        <div class="content_info">
          <span class="p_l_10">来源：{关键词1}</span>
          <span class="p_l_10">作者：{人物名称} </span>
          <span class="p_l_10">编辑：{人物名称} </span>
          <span class="p_l_10">{当前时间}</span>
          <span class="p_l_10" id="numpv"></span>
		  <section class="f_right detail_share_city" title="{关键词1}{随机后缀}{新闻网标题}">
			  <label class="label">分享到:</label>
			  <a class="share_wb_city"></a>
			  <a class="share_qq_city"></a>
			  <a class="share_wx_ciry" id="tcode"></a>
            <div id="qrcode" style="width:100px; height:100px; margin-top:15px; display:none;position: absolute;margin-left: 70px;z-index:99;"></div>
            <script>
            $('#qrcode').qrcode({
              text: location.href,
              height: 100,
              width: 100,
              src: '//j.rednet.cn/images/logo_25.jpg'
            })
          
            $("#tcode").mouseover(function (){  
                $("#qrcode").show();  
            }).mouseout(function (){  
                $("#qrcode").hide();  
            });  
          
            </script>
		  </section>
        </div>
		<div class="split_line"></div>

<div class="t-center adfile">
<script id='ad1561971076313_13'> new RedAd('ad1561971076313_13',11)</script>
</div>

        
<article class="f18 detail-article m_b_30">
<ct><p style="text-align:center"></p><p style="text-indent: 2em; text-align: justify;">{新闻网内容}</p></ct>



<p class="f14 m_t_50 m_b_5 h20" style="color:#888">来源：{关键词1}</p>
<p class="f14 m_t_5 m_b_5 h20" style="color:#888">作者：{人物名称} </p>
<p class="f14 m_t_5 m_b_5 h20" style="color:#888">编辑：{人物名称} </p>

<p style="color:#888;" class="f14 m_t_50 m_b_5 h20">本文为<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{关键词1}">{关键词1}</a>原创文章，转载请附上原文出处链接和本声明。</p><p style="color:#888;" class="f14 m_t_5 m_b_5 h20">本文链接：<a href="/{随机字符}/{随机数字}_{随机数字}.html" style="color:#888">{当前url}</a></p>

     

</article>


        
        <p class="f20 p_b_10 p_t_30 b-top-2gray3 cGray3">相关链接</p>
        <ul class="list14h35 border0 b-bottom-2gray3 p_b_20">
          <div id="div_relatedContentList" pageid="432" fetchdatatype="1" terminal="1" pagesize="5">
              <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{关键词1}{标题}</a>
                <span class="date">{当前时间}</span>  
              </li>
              <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a>
                <span class="date">{当前时间}</span>  
              </li>
              <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a>
                <span class="date">{当前时间}</span>  
              </li>
              <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a>
                <span class="date">{当前时间}</span>  
              </li>
              <li>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a>
                <span class="date">{当前时间}</span>  
              </li>
          </div>
        </ul>
        
      
      </section>

    <section class="box-right f-right">
    <aside>
      <div class="aside-wrap">
        <div class="nav-title m_t_10">益阳要闻</div>
        <div id="div_xwtj_list" class="module" style="min-height:170px;" pageid="44" fetchdatatype="1" excludenum="1" terminal="1" modulename="新闻推荐-列表" moduletype="1" pagesize="5">
            <ul class="list14h34" style="padding-bottom:21px;">
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> |{关键词1}{标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
            </ul>
        </div>
      </div>



        <div class="nav-title m_t_10">公示公告</div>

        <div id="div_gsgg_list" class="module" style="min-height:170px;" pageid="44" fetchdatatype="1" excludenum="1" terminal="1" modulename="公示公告-列表" moduletype="1" pagesize="5">
            <ul class="list14h34" style="padding-bottom:21px;">
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {关键词1}{标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
            </ul>
        </div>
      



        <div class="nav-title m_t_10">益阳新闻</div>

        <div id="div_yyxw_list" class="module" style="min-height:170px;" pageid="44" fetchdatatype="1" excludenum="1" terminal="1" modulename="益阳新闻-列表" moduletype="1" pagesize="5">
            <ul class="list14h34" style="padding-bottom:21px;">
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {关键词1}{标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
                  <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                      <span></span> | {标题}</a>
                  </li>
            </ul>
        </div>
      

    </aside>
  </section>
    </section>
  </main>




  <section class="readnext  m_t_50">
    <div class="readnex_detail">
      <p class="f18 p_b_30 p_t_50 cGray9">阅读下一篇</p>
      <h1 class="p_b_40">
        <div id="div_nextNews">
              <a class="f36 cGray3" href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}">{标题}</a>
        </div>

      </h1>
      <a class="btn" href="/{随机字符}/{随机数字}_{随机数字}.html" title="返回红网首页">返回红网首页</a>
      <a class="btn" href="/{随机字符}/{随机数字}_{随机数字}.html" title="返回益阳站首页">返回益阳站首页</a>
    </div>
  </section>


  <script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/wap-function.js"></script>
  <script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/common.js"></script>
  <script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/tokenRead.js"></script>
  <script>

     mutiVideoCheck();
      var siteName = "益阳站";
     var siteId = "11";
     var channelId = "25252";
     var contentId  = "9673239";
    (function(){
	   $(".detail_share").on('click',function(e){
        if($(e.target).hasClass("share_wb")){
          shareTo("WB","{标题}")
        }else if($(e.target).hasClass("share_qq")){
          shareTo("QQ","{标题}")
        }
      })
	 $(".detail_share_city").on('click',function(e){
			if($(e.target).hasClass("share_wb_city")){
				shareTo("WB","{标题}")
			}else if($(e.target).hasClass("share_qq_city")){
				shareTo("QQ","{标题}")
			}
		})
      var site = "{当前主域名}";
      var contentId  = "9673239";
      var ckie = site + '-favCookieUUID-' + contentId;
      $(".detail_share").on('click',function(e){
        if($(e.target).hasClass("share_wb")){
          shareTo("WB","{标题}")
        }else if($(e.target).hasClass("share_qq")){
          shareTo("QQ","{标题}")
        }
      })
      $.ajax({
          type: "get",
          url: APIURL + "/content/star/" + contentId,
          success: function(data){
              $(".starCount").html(data);
          }
      });
      $(".fav").on('click',function(){
        var cookieUUID = getCookie(ckie)
        if(!getCookie(ckie)){
          addFav();
        }else{
          if(cookieUUID && cookieUUID.indexOf(contentId + '-fav') < 0){
            addFav()
          }else{
            alert('您已点赞！')
          }
        }
      });
      function addFav(){
          setCookie(ckie,contentId + '-fav-'+new Date().getTime());
          $.ajax({
            type: "put",
            url: APIURL + "/content/star/" + contentId,
            data:{
              'cookieUUID': getCookie(ckie)
            },
            dataType:'text',
            success: function(data){
                //$(".starCount").html(data);
                 var tmpData = $(".starCount").html();
                 $(".starCount").html(Number(tmpData)+1);
            }
          });
      }
    })();

//阅读量显示
//showClicks();
  </script>
  
<script type="text/javascript" src="/_/static/ow333_yiyang.rednet/static/js/detail.js"></script>





        <footer class="nfooter_city">
      <section class="nBlock">
        <div class="overf">
          <div class="about t-center">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">关于我们</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">广告业务</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">红网诚聘</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">网上投稿</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">新闻热线</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">友情链接</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">帮助中心</a>
          </div>
        </div>
    </section></footer>
   

<div style="display:none;"><script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1280700905'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1280700905' type='text/javascript'%3E%3C/script%3E"));</script></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body></html>