<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}">

<link href="/_/static/ow349_xgrb/static/css/xgw-style.css" rel="stylesheet" type="text/css">
<link href="/_/static/ow349_xgrb/static/css/xgw2016.css" rel="stylesheet" type="text/css">
<script type="text/livescript" src="/_/static/ow349_xgrb/static/js/jquery-1.3.1.js"></script>
<script type="text/javascript" src="/_/static/ow349_xgrb/static/js/foucs.js"></script>

<script>
	<!--
	function setTab(name,cursel,n){
	for(i=1;i<=n;i++){
	var menu=document.getElementById(name+i);
	var con=document.getElementById("con_"+name+"_"+i);
	menu.className=i==cursel?"hover":"";
	con.style.display=i==cursel?"block":"none";
	}
	}
	//-->

 
 </script>
</head>

<body>




<div class="d_2016_ggw">
 
 </div>

<div class="clear"></div>
<div class="d_2016_top">
  <div class="d_2016_logo"><a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow349_xgrb/static/picture/logo_03.jpg" width="245" height="86" border="0"></a></div>
  <div class="d_2016_top_right"> 
    <div class="d_2016_xqtq">
       <div class="d_2016_xq">
       <script language="javascript" type="text/javascript">
               function isnArray()
               {
                 argnr=isnArray.arguments.length
                 for(var i=0;i<argnr;i++)
                {
                  this[i+1]=isnArray.arguments[i];
                                                    }
                                                      }
                  var isnDays=new isnArray("星期一","星期二","星期三","星期四","星期五","星期六","星期日");isnDays[0]="星期日

";
    
                  mydate = new Date();
                  myyear = mydate.getFullYear();
                  mymonth = mydate.getMonth()+1;
                  today = mydate.getDate();
                  document.write(myyear+"年"+mymonth+"月"+today+"日");
                  document.write(" ")
                  document.write(isnDays[mydate.getDay()]);
       </script>
       </div>
       <div class="d_2016_tq" style="width:155px;">
     
       </div>
       <div class="d_2016_xgwy">孝感唯一新闻网站</div>
      <div class="d_2016_jrsc_img"><img src="/_/static/ow349_xgrb/static/picture/tubiao_2016_03.jpg" width="15" height="15"></div>
      <div class="d_2016_jrsc"><a href="/{随机字符}/{随机数字}_{随机数字}.html" onclick="addtoie('http://www.xgrb.cn','孝感网');" rel="sidebar" class="scsy">加入

收藏</a></div>
      <div class="d_2016_swsy_img"><img src="/_/static/ow349_xgrb/static/picture/tubiao_2016_06.jpg" width="14" height="12"></div>
      <div class="d_2016_swsy"><a href="/{随机字符}/{随机数字}_{随机数字}.html" class="scsy">设为首页</a></div>
    </div>
    
    
    
    <div class="d_2016_allCall">
      <div class="d_2016_call_img"> </div> 
      <div class="d_2016_call">新闻热线：0712-{随机7数字}</div>
      <div class="d_2016_jscall_img"><img src="/_/static/ow349_xgrb/static/picture/tubiao_2016_14.jpg" width="12" height="18"></div>
      <div class="d_2016_jscall">广告服务：0712-{随机7数字}</div>
      <div class="d_2016_zgzb">主管：{网站名称}宣传部&nbsp;&nbsp;&nbsp;&nbsp;主办：{网站名称}</div>
    </div>
    
  </div>
</div>
<!--页面顶部logo结束 -->


<!--页面头部导航 -->
<div class="d_2016_nav" style="margin:0 auto; width:1001px;">
  <div class="d_2016_nav_info">

    <ul class="d_2016_nav_info_ul1">
      <li style=" margin-left:0px; font-weight:bold;">新闻</li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">新闻聚焦</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">时政新闻</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国内国际</a></li>
      <li style=" font-weight:bold;">地方</li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">孝感县市区</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">部门</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">乡镇</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">企业科技</a></li>
      <li style=" font-weight:bold;">资讯</li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">论坛</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">民生</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">法治</a></li>
       <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">房产</a></li>
      <li style=" font-weight:bold;"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">微博</a></li>
      <li style=" font-weight:bold;"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">客户端</a></li>
    </ul>

    <ul class="d_2016_nav_info_ul2">
      <li style=" margin-left:0px; font-weight:bold;">政务</li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">书记专辑</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">市长专辑</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">公示公告</a></li>
      <li style=" font-weight:bold;">聚焦</li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">民意直通车</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">专题</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">时评</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">本网报道</a></li>
      <li style=" font-weight:bold;">爱好</li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">视频</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">摄影</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">金融</a></li>
      <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">汽车</a></li>
      <li style=" font-weight:bold;">视觉</li>
 <li style=" font-weight:bold;"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">数字报</a></li>
    </ul>

  </div>
</div>
<!--页面头部导航结束 -->

<!-- 头部结束 -->


<!-- 主体类容 -->
<div class="warp_liebiao">
   <!-- 主题类容第一层广告 
  <div class="warp_ad"></div>-->
  

  <div class="liebiao">
    <div class="navigation"><span>当前位置 :</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>&nbsp;>&nbsp;<a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a></div>
    
    <div class="liebiao_warp">
     <!-- 文章类容开始-->
	  <div class="wenzhang" style="border:0px;">

      <div class="wenzhang">
      <!--引题-->
      <div class="yinti"></div>
      <!--标题-->
      <div class="timu">{关键词1}{随机后缀}{新闻网标题}</div>
      <!--副标题-->
      <div class="ftimu"></div>
      <!--时间来源-->
      <div class="data_source">{当前时间}&nbsp;&nbsp;&nbsp;&nbsp;来源：<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}</a></div>
      
      <div class="content">
       <p>　　{新闻网内容}</p><br>
     
       <p align="center" class="pageLink"></p>
	   <div style="float:right; margin-right:9px;margin-bottom:15px;height:27px; line-height:27px; font-size:14px;">(责任编辑：
      {人物名称}            )			
			</div>

      </div>
      <!--分享按钮-->
  

      </div>

      </div>
     <!-- 文章类容结束-->
   
     <!-- 列表页最右边-->
<div class="liebiao3">
        <!--<div class="liebiao_big_ad"><img src="/skin/default/css/images/liebieoye_05.jpg" width="332" height="296" /></div>-->
         
        <div class="bjtj">
          <div class="bjtj_top"></div>
          <div class="bjtj_news">
            <ul>
                            <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>  
			                <li><font class="bd">·</font><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>  
			               
            </ul>  
          </div>
        </div>  
        
        <!--div class="liebiao_ad2"><img src="/skin/default/css/images/liebieoye_11.jpg" width="332" height="100" /></div>-->
         
        
        <div class="rdtp">
          <div class="rdtp_top"></div>          
          <div class="rdtp_news">
          
                        <div class="new_pic">
              <div class="pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="152" height="90" border="0"></a></div>
              <div class="pic_titl"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a></div>
            </div>
                        <div class="new_pic">
              <div class="pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="152" height="90" border="0"></a></div>
              <div class="pic_titl"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a></div>
            </div>
                        <div class="new_pic">
              <div class="pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="152" height="90" border="0"></a></div>
              <div class="pic_titl"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a></div>
            </div>
                        <div class="new_pic">
              <div class="pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="152" height="90" border="0"></a></div>
              <div class="pic_titl"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a></div>
            </div>
                        <div class="new_pic">
              <div class="pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="152" height="90" border="0"></a></div>
              <div class="pic_titl"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a></div>
            </div>
                        <div class="new_pic">
              <div class="pic"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="{随机图片}" width="152" height="90" border="0"></a></div>
              <div class="pic_titl"><a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a></div>
            </div>
                        
                        
          </div>
        </div>
        

        
      </div>
      <!-- 列表页最右边结束-->
    </div>
  </div>
</div>
<!-- 主体类容结束 -->
<div class="clear"></div>
<!--页脚-->
<!--页尾开始 -->
<div class="d_2016_foot">


<div style=" width:160px; margin:0 auto; overflow:hidden; margin-top:5px;">
<span style="display:block; float:left; _display:inline;"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="/_/static/ow349_xgrb/static/picture/jubao.jpg" width="160" height="50"></a></span>
</div>

    <div class="d_2016_footinfo">
  <p> <a href="/{随机字符}/{随机数字}_{随机数字}.html">关于我们</a> 企业邮箱<a href="/{随机字符}/{随机数字}_{随机数字}.html">设为首页</a> <a href="/{随机字符}/{随机数字}_{随机数字}.html">加入收藏</a> 友情链接申请</p>
   <p>投稿邮箱：{随机字符}{随机5数字}#126.com (#改成@)  举报邮箱：{随机字符}@{随机字符}.cn 违法与不良信息举报电话：0712-{随机7数字}</p>
  <p>建议使用IE7及以上版本浏览器</p>
  <p>Copyright &copy; {年} {关键词1}  All Rights Reserved </p>
  <p>鄂网备案证编号{随机6数字} 鄂新网备字[0701]号 鄂ICP备0{随机7数字}号-1 互联网视听节目服务AVSP:鄂备{随机7数字}</p>
<div style="width:250px;margin:0 auto; padding:20px 0;">
		 		<a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/_/static/ow349_xgrb/static/picture/ba.png" style="float:left;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42090202000008号</p></a>
		 	</div>
    <p>栏目域名合作:0712-{随机7数字} 业务联系:0712-{随机7数字}  </p>
 <p></p>


  </div>


</div>
<!--页尾结束 -->
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>