<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{自定义标题}</title>
    <meta name="description" content="{自定义描述}">
    <link href="/_/static/ow60_0515yc/static/css/base.css" type="text/css" rel="stylesheet">
    <link href="/_/static/ow60_0515yc/static/css/list.css" type="text/css" rel="stylesheet">
    <script src="/_/static/ow60_0515yc/static/js/jquery.js" type="text/javascript"></script>
    <script src="/_/static/ow60_0515yc/static/js/jquery.switchable.min.js" type="text/javascript"></script>
    <script src="/_/static/ow60_0515yc/static/js/base.js" type="text/javascript"></script>
    <script src="/_/static/ow60_0515yc/static/js/hg_ad.js" type="text/javascript"></script>
    <script type="text/javascript" src="/_/static/ow60_0515yc/static/js/m.js"></script>
    <script language="javascript" type="text/javascript">
        function hg_add_close1(obj) {
            $('.app_fd_main').hide();
            $(obj).hide();

        }
    </script>
    <style type="text/css">
        .txt {
            letter-spacing: 0px;
            text-indent: 1.8em;
            font-size: 12px;
            line-height: 18px;
        }

        .bqtitle {
            font-weight: bold;
            text-indent: 0em;
            font-size: 12px;
            line-height: 18px;
            padding: 0px;
        }
    </style>
    <meta name="keywords" content="{关键词1}" />
    <script type="text/javascript">
        var gUserAgent = navigator.userAgent.toLowerCase();
        var c_name = "m2o_client_id";
        var c_start = document.cookie.indexOf(c_name + "=");
        var m2o_client_id = 0;
        if (c_start != -1) {
            c_start = c_start + c_name.length + 1;
            var c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            m2o_client_id = unescape(document.cookie.substring(c_start, c_end));
        } if (m2o_client_id != '2' && gUserAgent.match(/ios|iphone|ipad|ipod|android/i)) {
            var url = '{当前url';
            if (location.search) {
                url = url + location.search;
            }
            location.href = url;
        }
        var m2o_site = { "id": "1", "name": "\u76d0\u57ce\u7f51_\u76d0\u57ce\u7b2c\u4e00\u65b0\u95fb\u7f51_\u76d0\u57ce\u5e7f\u64ad\u7535\u89c6\u603b\u53f0\u4e3b\u529e\u7684\u89c6\u9891\u65b0\u95fb\u95e8\u6237\u7f51\u7ad9", "domain": "0515yc.cn", "domain_id": "42" }; var m2o_column = { "id": "58", "title": "\u6c11\u751f\u52a8\u6001", "keywords": "" }; var m2o_content = { "id": "347914", "title": "\u7532\u6d41\u6d3b\u52a8\u589e\u5f3a\uff0c\u8bf7\u6ce8\u610f\u8fd9\u4e9b\uff01", "keywords": "", "bundle_id": "news", "module_id": "news", "content_id": "347914", "content_fromid": "204825", "rid": "647887" };</script>
    <link rel="stylesheet" type="text/css" href="/_/static/ow60_0515yc/static/css/8_58_3_2.css">
</head>

<body id="web">
    <div class="top web-see">
        <div class="wrap">
            <div class="menubar">
                <a href="{泛站内链}" target="_blank" style="padding:0px 5px 0px;">首页</a>|
                <a href="{泛站内链}" target="_blank" style="padding:0px 5px 0px;">电视直播</a>|
                <a href="{泛站内链}" target="_blank" style="padding:0px 5px 0px;">视频点播</a>|
                <a href="{泛站内链}" target="_blank" style="padding:0px 5px 0px;">要闻</a>|
                <a href="{泛站内链}" target="_blank" style="padding:0px 5px 0px;">民生</a>|
                <a href="{泛站内链}" target="_blank" style="padding:0px 5px 0px;">社会</a>|
                <a href="{泛站内链}" target="_blank" style="padding:0px 5px 0px;">国内</a>|
                <a href="{泛站内链}" target="_blank" style="padding:0px 5px 0px;">国际</a>|
                <a href="{泛站内链}" target="_blank" style="padding:0px 5px 0px;">财经</a>|
                <a href="{泛站内链}" target="_blank" style="padding:0px 5px 0px;">旅游</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear web-see"></div>
    <div class="wrap web-see" style="margin-top:10px;">
        <div class="clear"></div>
    </div>
    <div class="clear web-see"></div>
    <div class="wrap web-see" style="margin-top:10px;">
        <div class="navbar">
            <ul class="cell_129_ clearfix">
                <li><span></span><a href="{泛站内链}">{网站名称}</a><span class="line">>></span></li>
                <li><a href="{泛站内链}" title="首页">首页</a><span class="line">>></span></li>
                <li><a href="{泛站内链}" title="{关键词1}">{关键词1}</a></li>
            </ul>
        </div>
        <div class="search">
            <form class="cell_130_" method="post" action="{泛站内链}">
                <input type="text" class="text no-radius-shadow" autocomplete="off" name="search_text" value=""
                    placeholder="请输入关键词"><input type="submit" value="搜索" class="submit">
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear web-see"></div>
    <div id="web-main" class="wrap" style="margin-top:10px;">
        <div class="infocontent" style="width:920px;">
            <header class="header" style="margin-top:-10px;"><span class="logopic"></span><a href="{泛站内链}"><span
                        class="top_xz"></span></a></header>
            <div class="article-text" style="height:auto;">
                <div class="cell_131_">
                    <div class="article-title">
                        <h1>{新闻网标题}</h1>
                        <div class="article-toolbar">
                            <span class="article-assist"><span class="origin">来源:{网站名称}</span><span
                                    class="time">发布时间:{年月日}</span></span>
                            <span class="article-statist"><span class="article-view">查看数:<em id="m2oclicks"
                                        data-id="347914" data-app="news" data-mod="news"
                                        data-column="58">{随机数字}</em></span></span>
                        </div>
                    </div>
                    <div class="article-main">
                        <p>{新闻网内容}</p>
                        <p>来源：{网站名称}</p>
                        <p><span style="color: rgb(0, 112, 192);"><strong style="text-indent: 2em;"></strong></span><br>
                        </p>
                    </div>
                    <div class="article-page"></div>
                    <div class="fenx">
                        <div style="float:left; width:200px">
                            <p>责任编辑:{人物名称}</p>
                        </div>
                        <div style="float:right">
                            <!-- Baidu Button BEGIN -->
                            <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                                <span class="bds_more_n">分享到：</span>
                                <a class="bds_qzone"></a>
                                <a class="bds_tsina"></a>
                                <a class="bds_tqq"></a>
                                <a class="bds_renren"></a>
                                <a class="bds_t163"></a>
                                <a class="shareCount"></a>
                            </div>
                            <script type="text/javascript" id="bdshare_js" data="type=tools&uid=0"></script>
                            <script type="text/javascript" id="bdshell_js"></script>
                            <script type="text/javascript">
                                document.getElementById("bdshell_js").src = "https://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
                            </script>
                            <!-- Baidu Button END -->
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <hr>
                
            </div>
            <div class="web-see"
                style="height:25px;line-height:25px;margin-top:10px;width:940px;text-align:left;font-size:14px;font-weight:bold;">
                盐城24小时</div>
            <div class="web-see" style="width:920px;height:auto;">
                <div style="width:610px;height:auto;float:left;">
                    <ul class="cell_132_ clearfix">
                        <li>
                            <a target="_blank" href="{泛站内链}" title="{关键词1}{标题}">{关键词1}{标题}</a>
                        </li>
                        <li>
                            <a target="_blank" href="{泛站内链}" title="{标题}">{标题}</a>
                        </li>
                        <li>
                            <a target="_blank" href="{泛站内链}" title="{标题}">{标题}</a>
                        </li>
                        <li>
                            <a target="_blank" href="{泛站内链}"
                                title="{标题}">
                                {标题}</a>
                        </li>
                        <li>
                            <a target="_blank" href="{泛站内链}" title="{标题}">{标题}</a>
                        </li>
                        <li>
                            <a target="_blank" href="{泛站内链}"
                                title="{标题}">{标题}</a>
                        </li>
                        <li>
                            <a target="_blank" href="{泛站内链}" title="{标题}">{标题}</a>
                        </li>
                        <li>
                            <a target="_blank" href="{泛站内链}"
                                title="{标题}">{标题}</a>
                        </li>
                        <li>
                            <a target="_blank" href="{泛站内链}"
                                title="{标题}">{标题}</a>
                        </li>
                        <li>
                            <a target="_blank" href="{泛站内链}"
                                title="{标题}">{标题}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear web-see"></div>


    </div>

    <div class="clear"></div>
    <div id="Foot">
        <div id="footer">
            <div class="fline">
                <img src="/_/static/ow60_0515yc/static/picture/xx.jpg" border="0">
            </div>
            <div class="copyright" style="text-align:left;">
                {网站名称}版权所有<br>
                <a href="{泛站内链}">苏ICP备06039562号-2</a> | 苏新网备2007032号 | 互联网视听节目服务（AVSP）许可证号：1012645<br>
                增值电信业务经营许可证：苏B2-20130370<br>
                版权声明：本网站所刊登的视频版权归{网站名称}所有，其他个人、组织未经许可，不得转载。<br>
                免责声明：本网站所刊登、转载的各种稿件、图片均有可靠来源，目的是为了传播更多的信息，并不代表{网站名称}观点，本网不承担此类稿件侵权行为的连带责任。<br>
                <script src="http://s76.cnzz.com/stat.php?id=1047702&web_id=1047702&show=pic"
                    language="JavaScript"></script>
                <a href="{泛站内链}" name="XMZdhmm0jY6WPRy2UflI6XGUhc2DhLntPY6LHNVvinImP0soO0">安全联盟</a>
            </div>
        </div>
    </div>
    <div class="app_fd_main">
        <span id="gb1" onclick="hg_add_close1(this);" class="img_bottn"><img src="static/picture/gban_02.png"></span>
        <a href="{泛站内链}">
            <span class="bottom_img"></span>
        </a>
    </div>
    <script>
        function loadCss(url) {
            var link = document.createElement('link');
            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = url;
            console.log(link);
            document.getElementsByTagName('head')[0].appendChild(link);
        }

        function getMobileDevice() {
            var mbldevice = navigator.userAgent.toLowerCase();
            if (/iphone|ipod|ipad/gi.test(mbldevice)) {
                return "iOS";
            } else if (/android/gi.test(mbldevice)) {
                return "Android";
            } else {
                return "Unknow Device";
            }
        }

        var device = getMobileDevice();
        if (device == "iOS" || device == "Android") {
            loadCss("https://www.0515yc.cn/t/1/1/images/style.css");
            $("#web-main").find(".pageleft").removeClass("pageleft");
            $("#web-main").find(".infocontent").removeClass("infocontent");
            $("#web-main").removeClass("wrap");

        } else {
            loadCss("https://www.0515yc.cn/t/1/1/images/list.css");
        }
    </script>
    <div class="md">
        <!--埋点-->
        <script src="/_/static/ow60_0515yc/static/js/spm.js"></script>
        <script>
            var cid = m2o_content.id;
            if (window.spm) {
                spm.config({
                    additionalInfo: {
                        targetID: cid,
                        organization: 'zm5011',
                        category: 'event',
                        action: 'comeIn'
                    }
                });
            };
            window.onbeforeunload = function () {
                spm.push({ category: 'event', action: 'leave' })
            };
        </script>
    </div>

    <script type="text/javascript">$(".cell_130_").submit(function () {
            if ($.trim($(this).find('input[name=search_text]').val()) == "" || $.trim($(this).find('input[name=search_text]').val()) == $(this).find('input[name=search_text]').get(0).defaultValue) {
                $(this).find('input[name=search_text]').focus();
                return false;
            }
        });
        $(".m2o-vote form").submit(function (e) {
            var vote_checked = "",
                vote_data = {};
            e.preventDefault();

            if ($(this).find("input:checked").size() == 0) {
                info.open({
                    type: 'warning',
                    message: '你没有勾选'
                });
                return false;
            }

            if ($(this).find("input:checked").size() < $(this).find('input[name=id]').data('min')) {
                //console.log("你没有勾选太少");
                info.open({
                    type: 'warning',
                    message: '你没有勾选太少'

                });
                return false;
            }
            if ($(this).find("input:checked").size() > $(this).find('input[name=id]').data('max')) {
                //console.log("你没有勾选太多");
                info.open({
                    type: 'warning',
                    message: '你的勾选项太多'
                });
                return false;
            }

            $(this).find("input:checked").each(function () {
                vote_checked = vote_checked + "," + $(this).val();
            });

            /* company data */
            vote_data.option_id = vote_checked.substring(1);
            vote_data.id = $(this).find('input[name=id]').val();
            if ($(this).find('input[name=id]').data('expire')) {
                vote_data.domain = $(this).find('input[name=id]').data('domain');
                vote_data.expire = $(this).find('input[name=id]').data('expire');
            }
            if ($(this).find('.vote-option--1 input:checked').size() > 0) {
                if ($(this).find('input[name=other_title]').val() == "") {
                    info.open({
                        type: 'warning',
                        message: '请填写你的选项'
                    });
                    return false;
                }
                vote_data.other_title = $(this).find('input[name=other_title]').val();

            }

            info.open({
                type: 'loading',
                message: '投票...'
            });

            $(this).find('.m2o-vote-action').hide();

            postDataVote(vote_data);

        })


        function postDataVote(vote_data) {
            var vote_error;
            $.ajax({
                url: '/m2o/vote/vote_create.php',
                data: vote_data,
                dataType: 'json',
                timeout: 5000,
                success: function (data) {
                    if (data.length > 0 && (!data[0].error || data[0].error == 'undefined')) {
                        info.open({
                            type: 'success',
                            message: '投票成功'
                        });

                        updateVote(data[0]);
                        voteViewResult();
                        /*update cookie*/
                        if (!vote_data.expire) {
                            //setCookie(vote_data.id, vote_data.domain, vote_data.expire);
                        }
                        $('.m2o-vote-' + data[0].id).addClass("m2o-vote-success");
                    }

                    if (data[0].error) {
                        info.open({
                            type: 'error',
                            message: data[0].error
                        });
                    }
                },
                failed: function () {

                    info.open({
                        type: 'error',
                        message: '系统忙，请稍后重试'
                    });
                }

            })
        }



        function updateVote(data) {
            if ($('.m2o-vote-' + data.id).size() < 0) { return; }
            $.each(data.option, function (index, item) {
                $('.vote-item-' + item.id).find('.vote-option-text-box span').html(item.ini_single)
            });
            $("#allvotes").html(data.person_total + '人')
        }

        if (typeof $.cookie != 'undefined') {
            if ($.cookie('m2o-vote-' + $('.m2o-simple-vote input[name=id]').val()) == "m2o-vote-success") {
                $('.m2o-vote-' + $('.m2o-simple-vote input[name=id]').val()).addClass("m2o-vote-success");
            }
            $(".m2o-vote").find('input[name=id]').data('user', $.cookie['user']);
        }

        $('.m2o-vote-1 .vote-item-action label').click(function () {
            $(this).parents("form").find('.vote-item-action input').attr('checked', false);
            $(this).next('input').attr('checked', 'checked');
            $(".m2o-vote form").submit();
        });

        $('.vote-question-result').click(function () { voteViewResult(); })
        $('.vote-question-back').click(function () { voteBack(); })
        function voteViewResult() {
            $('#vote-list form ul, #vote-list form .vote-question-action').hide();
            $('#vote_result').show();
        }
        function voteBack() {
            $('#vote-list form ul, #vote-list form .vote-question-action').show();
            $('#vote_result').hide();
        }
        /*m2o clicks count start*/
        var jqm2oclick = $('#m2oclicks');
        $.ajax({
            url: "/m2o/click.php",
            data: { id: jqm2oclick.data('id'), app_uniqueid: jqm2oclick.data('app'), module_uniqueid: jqm2oclick.data('mod'), column_id: jqm2oclick.data('column'), rec: 1 },
            timeout: 5000,
            success: function (html) {
                var _htmlstart = html.indexOf('>'),
                    _htmlend = html.indexOf('</');
                jqm2oclick.html(html.substring((_htmlstart + 1), _htmlend));
            }
        });

        /*m2o clicks count end*/
    </script>
    <script src="/_/static/ow60_0515yc/static/js/js.js" language="javascript"></script>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
    <div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>

</html>