<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
    <title>{自定义标题}</title>
    <meta name="keywords" content="{关键词1}" />
    <meta name="description" content="{自定义描述}">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script src="/_/static/ow64_m.wj001/static/js/zepto.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/_/static/ow64_m.wj001/static/css/new_touch.css">
    
</head>
<body>
<!-- 头部 -->

<!-- 中间 -->
<header>
    <div style="height: 44px;">
    <div class="top_head">
        <a class="back icon" href="javascript:history.go('-1')">&nbsp;</a>
       <span class="nav_title">{网站名称}</span>
        <nav class="top_nav">
            <ul>
                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="nav_mini_btn icon">回首页</span> </a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
</header>
<article class="detaillist" id="container">
    <div class="detail_con">
        <p>{新闻网标题}</p>
        <div class="clear"></div>
    </div>
    <div class="detail detaillist">
        <div class="title detail_con">
<div style="float:left; margin-top:5px;">
    {年月日}&nbsp;&nbsp;</div>

<div style="float:right; margin-top:5px;">

        </div>

        <div class="blank10"></div>
        <div class="content_box">
            <div class="content wap_content">
<p>　　{关键词1}{句子}{句子}{关键词1}{句子}</p>
<p align="center"><img align="" alt="" src="{随机图片}" style="border-width: 0px; border-style: solid; width: 600px;"></p>
<p>　　{句子}{关键词1}{句子}{关键词1}{句子}</p>
<p>　　{关键词1}{句子}</p>
<p>　　{句子}{关键词1}{句子}{句子}</p>
<p>　　{关键词1}{句子}{关键词1}{句子}</p>
<br>
<strong><p>{句子}{关键词1}</p></strong> 

                    
 
                       
        </div>
    </div>
</div></div></article> 
<section>

</section>
    <section>
        <div class="jctj" style="border-top:none;">
            <div class="jctj_tit">精彩推荐</div>
            <ul class="jctj_con">
                                                <li>
                        <span>&gt;</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>
                    </li>
                                                    <li>
                        <span>&gt;</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{网站名称}</a>
                    </li>
                                                    <li>
                        <span>&gt;</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{网站名称}</a>
                    </li>
                                                    <li>
                        <span>&gt;</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{网站名称}</a>
                    </li>
                                                    <li>
                        <span>&gt;</span><a href="/{随机字符}/{随机数字}_{随机数字}.html">{网站名称}</a>
                    </li>
                                   
                            </ul>
        </div>
    </section>

<!-- 底部 -->

<!-- weixinshare start -->
<!-- weixinshare stop -->

    
<footer>
    <div class="footer">
        <div class="skip" id="_VersionJump">
            <p class="switch">
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="diannaoban">电脑版</a>
                <i></i>
                
            </p>
        </div>
        <div class="copyright">&copy; {年} {网站名称} {域名库}</div>
    </div>
</footer>
<script type="text/javascript" src="/_/static/ow64_m.wj001/static/js/zepto.picLazyLoad.min.js"></script>
<script type="text/javascript" src="/_/static/ow64_m.wj001/static/js/touch.js"></script>
    


</body>
</html>

