<!DOCTYPE html>
<html>

<head>
	<meta name="tplInfo" content='{"id":46073,"name":"2018文章页全媒体标准版","nodeid":0}'>
	<script src="/_/static/ow71_difang/static/js/public_share.js" atremote=""></script>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control" content="max-age=0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<meta name="renderer" content="webkit|ie-stand|ie-comp">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1">
	<meta name="keywords" content="{关键词1}" />
	<meta name="description" content="{自定义描述}">
	<meta name="filetype" content="0">
	<meta name="publishedtype" content="1">
	<meta name="pagetype" content="1">
	<meta name="catalogs" content="29677">
	<meta name="contentid" content="36426759">
	<meta name="publishdate" content="{年月日}">
	<meta name="author" content="{人物名称}">
	<meta name="editor" content="{人物名称}">
	<link href="/_/static/ow71_difang/static/css/con_style.css" type="text/css" rel="stylesheet" atremote="">
	<script src="/_/static/ow71_difang/static/js/jquery.js" atremote=""></script>
	<script src="/_/static/ow71_difang/static/js/config.js" atremote=""></script>
	<script src="/_/static/ow71_difang/static/js/require.js" atremote=""></script>
	<script src="/_/static/ow71_difang/static/js/conMediaMain.js" atremote=""></script>
	<title>{自定义标题}</title>
</head>

<body class="g-mobile">
	<!-- 分享默认图 开始 -->
	<div style="position:absolute;top:-9999px;left:-9999px;width:0px;height:0px;overflow:hidden;display:none;"><img
			src="/_/static/ow71_difang/static/picture/gmwLogo_share.jpg" atremote=""></div>
	<!-- 分享默认图 结束 -->
	<!--微信分享提示 开始-->
	<div class="g-wxTips">
		<div class="m-wxtop-tip">
			<div class="m-con">
				<p class="m-tipText">
					点击右上角<img atremote="" src="/_/static/ow71_difang/static/picture/iconshare.png" class="u-qq">微信好友
				</p>
				<p class="m-tipText">
					<img atremote="" src="/_/static/ow71_difang/static/picture/pengyouquan.png" class="u-qq">朋友圈
				</p>
				<p class="m-tipShare"><img atremote="" src="/_/static/ow71_difang/static/picture/layershare.png" class="u-share"></p>
			</div>
		</div>
		<div class="m-wxdown-tip">
			<div class="m-con">
				<!--<p class="m-tipText">点击浏览器下方“<img atremote="" src="//img.gmw.cn/pic/mgmw/lineshare.png">”分享微信好友Safari浏览器请点击“<img atremote="" src="//img.gmw.cn/pic/mgmw/share.png">”按钮</p>-->
				<p class="m-tipText">请使用浏览器分享功能进行分享</p>
				<p class="m-tip"><img atremote="" src="/_/static/ow71_difang/static/picture/arrow.png"></p>
			</div>
		</div>
	</div>
	<!--微信分享提示 结束-->
	<!--顶部广告 start-->
	<div class="u-top-ad" id="ad_con_top_full_01"></div>
	<!--顶部广告 end-->
	<!--头部 start-->
	<div class="g-header">
		<div class="m-channel-head">
			<div class="g-layout">
				<div class="m-logo">
					<!--频道logo start-->
					<!-- 新版文章页头部频道logo ssi -->
					<meta charset="UTF-8">
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img id="headerlogo" src="/_/static/ow71_difang/static/picture/12684.gif"
							alt="{网站名称}"></a>
					<!--频道logo end-->
				</div>
				<!--导航-->
				<!-- 新版文章页头部导航 ssi -->
				<!--手机端导航s-->
				<div class="m-mobile-nav">
					<ul>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">时政</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国际</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">时评</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">理论</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">文化</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">科技</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">教育</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">经济</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">生活</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">法治</a> </li>
					</ul>
					<span class="m-mobile-nav-btn"><i class="z-cur"></i></span>
				</div>
				<!--手机端导航e-->
				<!--电脑端导航s-->
				<div class="m-channel-nav">
					<ul class="m-nav">
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">时政</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国际</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">时评</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">理论</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">文化</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">科技</a> </li>
						<li> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">教育</a> </li>
						<!--<li> <a href="//economy.gmw.cn/" target="_blank">经济</a> </li>
        <li> <a href="//life.gmw.cn/" target="_blank">生活</a> </li>
        <li> <a href="//legal.gmw.cn/" target="_blank">法治</a> </li>-->
						<li class="more-nav-btn"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img
									src="/_/static/ow71_difang/static/picture/con_headIcon.png"></a> </li>
					</ul>
				</div>
				<!--电脑端导航e-->
				<!--搜索-->
				<!-- 新版搜索 ssi -->
				<meta charset="UTF-8">
				<div class="f-search">
					<div class="m-input-group">
						<input id="searchText" type="text" value="" name="q">
						<button class="u-btn" type="submit" id="submitS"></button>
					</div>
				</div>
				<div class="u-slogan"></div>
				<div class="u-reading" title="{关键词1}{随机后缀}{新闻网标题}">{关键词1}{随机后缀}{新闻网标题}</div>
			</div>
		</div>
	</div>
	<!--头部 end-->
	<!--导航 stsrt-->
	<div class="g-crumbs">
		<a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>
		<font>&gt; </font>
		<a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/ow71_difang/static/picture/12684.gif" id="ArticleChannelID"></a><a href="/{随机字符}/{随机数字}_{随机数字}.html"
			target="_blank" class="">地方频道</a>
		<font class="">> </font><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="">{关键词1}</a>
		<font>&gt; </font>
		<font>正文</font>
	</div>
	<!--导航 end-->
	<!--正文主体部分 start-->
	<div class="g-main">
		<!--正文标题 start-->
		<div class="m-title-box">
			<h1 class="u-title">
				{关键词1}{随机后缀}{新闻网标题}
			</h1>
			<div class="m-con-info">
				<!--稿件信息 strat-->
				<div class="m_tips">
					<span class="m-con-source">来源：<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{随机关键词}</a></span><span
						class="m-con-time">{当前时间}</span>
				</div>
				<!--稿件信息 end-->
				<div class="m-share">
					<div class="share" id="share"> <a class="share-qqzone"><i></i></a> <a class="share-wechat"
							href="/{随机字符}/{随机数字}_{随机数字}.html"><i></i>
							<div class="bg-code"></div>
							<div class="qrcode"></div>
							<span class="close-btn">X</span>
						</a> <a class="share-weibo"><i></i></a> </div>
				</div>
			</div>
		</div>
		<!--正文标题 end-->
		<!--左侧栏 start-->
		<div class="m-l-main">
			<!--文章正文 start-->
			<div id="articleBox" class="con-text">
				<div id="article_inbox">
					<div class="m-player_box" id="video">
						<video id='myVideo' width='100%' class='video-js vjs-big-play-centered'
							webkit-playsinline='true' playsinline='true'></video>
						<div id="a1"></div>
					</div>
					<div id="MultiAttachPh" style="display: none">

					</div>
					<div id="PicUrlPh" style="display: none">

					</div>
					<div id="SubtitlePh" style="display: none"></div>
					<div class="u-mainText">
						<!--enpproperty <articleid>36426759</articleid><date>2023-03-13 14:47:26.0</date><author></author><title>西藏日喀则：波绒边境派出所举行所长接待日活动</title><keyword>接待日,派出所,边境,所长,群众利益无小事</keyword><subtitle></subtitle><introtitle></introtitle><siteid>2</siteid><nodeid>29677</nodeid><nodename>要闻</nodename><nodesearchname></nodesearchname>/enpproperty--><!--enpcontent--><!--enpcontent-->
						<p>　　{关键词1}{句子}{句子}{关键词1}{句子}</p>
						<p>　　{句子}{关键词1}{句子}</p>
						<p>　　{句子}{句子}{关键词1}{句子}</p>
						<p>　　{句子}</p>
						<p>　　{句子}{关键词1}{句子}</p>
						<p>　　{句子}</p>
						<p>　　{句子}{句子}{关键词1}{句子}</p>
						<p>　　{关键词1}{句子}{句子}</p>
						<p>　　{句子}{句子}{关键词1}{句子}</p>
						<p>　　{句子}</p>
						<p>　　{句子}{关键词1}</p>
						<p>　　（{网站名称}记者 {人物名称} 见习记者 {人物名称} 通讯员 {人物名称}）</p><!--/enpcontent--><!--/enpcontent-->

						<!--责编-->
						<div class="m-zbTool liability">
							<span>[ </span>
							<span class="liability">责编：{人物名称}</span><span> ]</span>
						</div>

					</div>
					<div class="u-moreText">阅读剩余全文（<span class="u-percent"></span>）</div>
				</div>
			</div>
			<!--取附件设置视频封面 start-->
			<div id="titleImgWrap" style="display:none;">

			</div>
			<!--取附件设置视频封面 end-->
			<!--文章正文 end-->
			<div class="u-conBottomLine"></div>
			<!--QRcode-->

			<!--相关阅读 start-->
			<meta charset="UTF-8">
			<!-- tplID: 相关阅读 ssi-->
			<!--相关阅读 开始-->
			<div class="m-relRead">
				<h2>相关阅读</h2>
				<ul class="relReadUl" id="relReadUl">
					<li class="rRPic">
						<div class="m-imgcon">
							<div class="m-img"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="" border="0"></a>
							</div>
						</div>
						<p>
						<div class="u-titleload4"></div>
						<div class="u-titleload4"></div>
					</li>
					<li class="rRPic no-Mobile1000">
						<div class="m-imgcon">
							<div class="m-img"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img src="" border="0"></a>
							</div>
						</div>
						<p>
						<div class="u-titleload4"></div>
						<div class="u-titleload4"></div>
					</li>
					<li class="rRArticle"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
							<div class="u-titleload3"></div>
						</a> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
							<div class="u-titleload3"></div>
						</a> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
							<div class="u-titleload3"></div>
						</a> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" class="lastRra">
							<div class="u-titleload3"></div>
						</a> </li>
				</ul>
			</div>
			<!--相关阅读 结束-->





			<!--相关阅读 end-->
			<!--表情 start-->
			<!-- ssi_2018_con_motions_xy -->
			<meta charset="UTF-8">
			<div class="m-motion-wrap" id="motionsDiv">
				<!-- 百度联盟 begin -->

				<!-- 百度联盟 end -->
				<!--表情s-->
				<div class="m-motion">
					<div class="m-motion-hd">
						<h2>您此时的心情</h2>
						<div class="m-gm-vote"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img
									src="static/picture/yuntoulogo.png" alt="光明云投"></a></div>
						<div class="m-motion-rank">
							<span class="u-motion-title">新闻表情排行</span>
							<span class="m-motion-classify"><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">日</a>/<a
									href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">周</a></span>
						</div>
					</div>
					<div class="m-motion-bd">
						<ul>
							<li class="m_1">
								<div class="m-motion-con">
									<a class="face"><img src="static/picture/ico_motion_1.png"></a>
									<div class="m-motion-status">
										<div class="u-motion">开心</div>
										<div class="m-motion-numbox">
											<div class="pillar">&nbsp;</div>
										</div>
										<div class="hits">0</div>
									</div>
								</div>
							</li>
							<li class="m_2">
								<div class="m-motion-con">
									<a class="face"><img src="static/picture/ico_motion_2.png"></a>
									<div class="m-motion-status">
										<div class="u-motion">难过</div>
										<div class="m-motion-numbox">
											<div class="pillar">&nbsp;</div>
										</div>
										<div class="hits">0</div>
									</div>
								</div>
							</li>
							<li class="m_3">
								<div class="m-motion-con">
									<a class="face"><img src="static/picture/ico_motion_3.png"></a>
									<div class="m-motion-status">
										<div class="u-motion">点赞</div>
										<div class="m-motion-numbox">
											<div class="pillar">&nbsp;</div>
										</div>
										<div class="hits">0</div>
									</div>
								</div>
							</li>
							<li class="m_4">
								<div class="m-motion-con">
									<a class="face"><img src="static/picture/ico_motion_4.png"></a>
									<div class="m-motion-status">
										<div class="u-motion">飘过</div>
										<div class="m-motion-numbox">
											<div class="pillar">&nbsp;</div>
										</div>
										<div class="hits">0</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!--表情e-->
			</div>
			<!--表情 end-->
		</div>
		<!--左侧栏 end-->
		<!--右侧栏 start-->
		<div class="m-r-main no-Mobile">
			<!--视觉焦点 start-->
			<meta charset="UTF-8">
			<!-- tplID:46078 生活频道全媒体文章页右侧视觉焦点ssi-->
			<div class="m-eyecatcher is_ssi" id="m-eyecatcher">
				<h2>视觉焦点</h2>
				<ul>
					<li>
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img atremote=""
										src="{随机图片}" border="0"></a> </div>
						</div>
						<p>{关键词1}{标题}</p>
					</li>
					<li>
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img atremote=""
										src="{随机图片}" border="0"></a> </div>
						</div>
						<p>{标题}</p>
					</li>
				</ul>
			</div>
			<!--<div class="u-con-right-ad" id="ad_con_right_full_01" style="margin:20px auto;">
	<div class="_mfajg8hykh"></div>
<script type="text/javascript">
    (window.slotbydup = window.slotbydup || []).push({
        id: "u6630768",
        container: "_mfajg8hykh",
        async: true
    });
</script>


	</div>-->
			<!--视觉焦点 end-->
			<!--最热文章 start-->
			<meta charset="UTF-8">
			<!-- tplID:46162 总编室全媒体文章页右侧最热文章十条 ssi-->
			<div class="m-hotArticle is_ssi" id="m-hotArticle">
				<h2>最热文章</h2>
				<ul>
					<li>
						<div> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><a title="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{关键词1}{标题}</a> </div> <span class="topThree">1</span>
					</li>
					<li>
						<div> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><a title="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}{关键词1}</a> </div> <span class="topThree">2</span>
					</li>
					<li>
						<div> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><a title="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a>  </div> <span class="topThree">3</span>
					</li>
					<li>
						<div> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><a title="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a></div> <span>4</span>
					</li>
					<li>
						<div> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><a title="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a> </div> <span>5</span>
					</li>
					<li>
						<div> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><a title="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a>  </div> <span>6</span>
					</li>
					<li>
						<div> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><a title="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a> </div> <span>7</span>
					</li>
					<li>
						<div> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a> </div>
						<span>8</span>
					</li>
					<li>
						<div> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><a title="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a> </div> <span>9</span>
					</li>
					<li>
						<div> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><a title="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a>  </div> <span>10</span>
					</li>
				</ul>
			</div>
			<!--<div class="u-rightad_300x250" id="ad_con_right_02">
<div class="_tjyb3phfiv"></div>
<script type="text/javascript">
    (window.slotbydup = window.slotbydup || []).push({
        id: "u6630769",
        container: "_tjyb3phfiv",
        async: true
    });
</script>


</div>-->
			<!--最热文章 end-->

		</div>
		<!--右侧栏 end-->
	</div>
	<!--正文主体部分 end-->
	<!--独家策划 start-->
	<meta charset="UTF-8">

	<!-- tplID:46079 生活频道全媒体文章页通屏独家策划 ssi-->
	<div class="g-solePlan-box is_ssi no-Mobile414">
		<div class="g-solePlan" id="g-solePlan">
			<h2>独家策划</h2>
			<ul>
				<li>
					<div class="li_con">
						<div class="pic"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img atremote=""
									src="{随机图片}" border="0"></a> </div>
						<div class="block1">
							<p><a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}{标题}</a></p>
						</div>
					</div>
					<div class="li_con">
						<div class="block1">
							<p><a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></p>
						</div>
						<div class="pic divright"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img atremote=""
									src="{随机图片}" border="0"></a> </div>
					</div>
				</li>
				<li>
					<div class="li_con">
						<div class="pic"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img atremote=""
									src="{随机图片}" border="0"></a> </div>
						<div class="block1">
							<p><a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></p>
						</div>
					</div>
					<div class="li_con">
						<div class="block1">
							<p><a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></p>
						</div>
						<div class="pic divright"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img atremote=""
									src="{随机图片}" border="0"></a> </div>
					</div>
				</li>
				<li>
					<div class="li_con">
						<div class="pic"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img atremote=""
									src="{随机图片}" border="0"></a> </div>
						<div class="block1">
							<p><a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></p>
						</div>
					</div>
					<div class="li_con">
						<div class="block1">
							<p><a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a></p>
						</div>
						<div class="pic divright"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"><img atremote=""
									src="{随机图片}" border="0"></a> </div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--独家策划 end-->
	<!--推荐阅读&广告 start-->
	<div class="g-maincon">
		<div class="m-l-reads">
			<!--推荐阅读 start-->
			<meta charset="UTF-8">
			<!-- tplID:48268 经济部全媒体文章页左侧底部推荐阅读部分，用于接口获取文章 ssi-->
			<div class="g-readscon">
				<div class="u-relateread">推荐阅读</div>
				<div class="m-lists" id="m-lists">
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{关键词1}{标题}</a> </div>
							<div class="u-zy">{关键词1}{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
							</div>
							<div class="u-zy">
								{句子}
							</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a> </div>
							<div class="u-zy">{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a> </div>
							<div class="u-zy">{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
				</div>
				<div class="m-lists" id="m-lists">
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a> </div>
							<div class="u-zy">{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
							</div>
							<div class="u-zy">
								{句子}
							</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a> </div>
							<div class="u-zy">{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
							</div>
							<div class="u-zy">
								{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
				</div>

				<div class="m-lists" id="m-lists">
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
							</div>
							<div class="u-zy">{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
							</div>
							<div class="u-zy">
								{句子}
							</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}{关键词1}</a>
							</div>
							<div class="u-zy">
								{句子}{关键词1}
							</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
							</div>
							<div class="u-zy">{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
				</div>
				<div class="m-lists" id="m-lists">
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a> </div>
							<div class="u-zy">
								{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a> </div>
							<div class="u-zy">
								{句子}
							</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a> </div>
							<div class="u-zy">{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
							</div>
							<div class="u-zy">
								{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
				</div>
				<div class="m-lists" id="m-lists">
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html"
									target="_blank">{标题}</a> </div>
							<div class="u-zy">
								{句子}
							</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
							</div>
							<div class="u-zy">{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
							</div>
							<div class="u-zy">{句子}
							</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
					<div class="m-redlist">
						<div class="m-imgcon">
							<div class="m-img"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank"></a> </div>
						</div>
						<div class="m-textc">
							<div class="u-tt3"> <a atremote="" href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{标题}</a>
							</div>
							<div class="u-zy">{句子}</div>
							<div class="u-time">{当前时间}</div>
						</div>
					</div>
				</div>

				<a href="/{随机字符}/{随机数字}_{随机数字}.html" class="u-loadmore">加载更多</a>

			</div>
			<!--推荐阅读 &广告 end-->

			<!--推荐阅读 end-->
		</div>
		<div class="m-r-main">
			<div class="m-btm-ad-box">
				<div class="u--bottomad" id="ad_con_right_03"></div>
			</div>
		</div>
	</div>
	<!--推荐阅读&广告 end-->
	<!--尾部 start-->
	<!-- 新版文章页通用尾部 ssi -->
	<meta charset="UTF-8">
	<div class="g-footer">
		<div class="m-footer-box">
			<div class="m-foot-logo">
				<span>{网站名称}版权所有</span>
				<span class="u-backmob">返回适配版</span>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" class="u-pc">返回电脑端</a>
			</div>
			<ul class="m-foot-nav">
				<li>
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{网站名称}概况</a>
				</li>
				<li>
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">关于{网站名称}</a>
				</li>
				<li>
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">报网动态</a>
				</li>
				<li>
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">联系我们</a>
				</li>
				<li>
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">法律声明</a>
				</li>

				<li>
					<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{网站名称}邮箱</a>
				</li>
				<li class="nav-last">
					<a href="http://{当前域名}/sitemap.xml" target="_blank">网站地图</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- GMW Statistics -------------------BEGIN-------- -->
	<script>document.write(unescape("%3Cscript type='text/javascript' src='//channel-analysis-js.gmw.cn/md.js?" + Math.random() + "'%3E%3C/script%3E"));</script>
	<!-- GMW Statistics -------------------END -------- -->
	<!-- 谷歌 统计 2018 -->
	<script type="text/javascript">
		//判断是否是微信中的浏览器
		var ua = navigator.userAgent.toLowerCase();
		if (/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini|ZTE/.test(navigator.userAgent)) || ua.match(/MicroMessenger/i) == "micromessenger") {

		} else {
			// 2018谷歌统计代码
			window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
			ga('create', 'UA-20947729-1', 'auto');
			ga('send', 'pageview');
			document.write("<script async src=\'https://www.google-analytics.com/analytics.js\'><\/script>");
		}	
	</script>


	<div id="ad_all_0x0" style="position:relative;font-size:0;"></div>
	<div class="qrcode" style="display: none;">
		<div class="facebook">
			<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_top"></a>
			<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_top">
				<h3></h3>
			</a>
		</div>
		<div class="twitter">
			<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_top"></a>
			<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_top">
				<h3></h3>
			</a>
		</div>
	</div>
	<!--尾部 end-->
	<!--返回顶部-->
	<a href="/{随机字符}/{随机数字}_{随机数字}.html" class="u-back-top"></a>
	<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
	<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
	<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>	
</body>

</html>