<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{自定义标题}</title>
	<meta name="keywords" content="{关键词1}" />
	<meta name="description" content="{自定义描述}" />
    <link rel="stylesheet" href="/_/static/pd30_wnnews/static/css/iconfont.css">
    <link rel="stylesheet" href="/_/static/pd30_wnnews/static/css/site.css">
    <link rel="stylesheet" href="/_/static/pd30_wnnews/static/css/index.css">
    <link rel="stylesheet" href="/_/static/pd30_wnnews/static/css/style.css">
    <link rel="stylesheet" href="/_/static/pd30_wnnews/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/_/static/pd30_wnnews/static/css/article_picture.css">
    <link rel="stylesheet" href="/_/static/pd30_wnnews/static/css/article_hang.css">
    <meta http-equiv="mobile-agent" content="format=html5; url=/p/101018.html">
    <script type="text/javascript" src="/_/static/pd30_wnnews/static/js/jquery.js"></script>
    <script type="text/javascript" src="/_/static/pd30_wnnews/static/js/article_hang.js"></script>
    <!--[if IE]>
    <script>
        (function() {
            if (!
                    /*@cc_on!@*/
                    0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i= e.length;
            while (i--){
                document.createElement(e[i])
            }
        })()
    </script>
    <![endif]-->


    
</head>
<body class="body-article zhufan">

<header class="header">
    <div class="column">
        <h1 class="logo">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" class="ie6_png32">
                                <img src="/_/static/pd30_wnnews/static/picture/79a89be7d59a8233360cbf2bac8db9f9.png">
                            </a>
        </h1>
        <nav>
            <ul>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">热点</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">理论</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">政务</a></li>
        <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">县市</a></li>
        <li class="more">
        <a href="javascript:;"><span>更多</span><i class="arrow-down"></i></a>
        <div class="menu-more-box">
            <div class="shadow-top"></div>
            <ul class="shadow-center">
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">民生</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">图集</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">视频</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">评论</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">财经</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">法治</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">教育</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">健康</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">文化</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">安全</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">生态</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">交通</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">农业</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">旅游</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">体育</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">房产</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">汽车</a>
                </li>
                                <li>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">创文</a>
                </li>
                            </ul>
            <div class="shadow-foot"></div>
        </div>
    </li>
    </ul>        </nav>
        <span>
            <div id="member-loading" class="login-loading">
              <img width="20px" height="20px" src="/_/static/pd30_wnnews/static/picture/loading.gif">
            </div>
            <div id="member-login" class="login" style="display:none">
                ﻿<a href="/{随机字符}/{随机数字}_{随机数字}.html" class="login-btn">登录</a><br>

<!-- 登录框 -->
<div class="login-box" id="login-box">
    <h3 class="title">
        <span class="icon">
            <img src="/_/static/pd30_wnnews/static/picture/30842f4bb0fcd59f685f49b34deedab2.png" alt="">
        </span>
        登录媒体云账号
        <button class="close" id="close-login-dialog">×</button>
    </h3>

    <!-- 主体内容 -->
    <div class="hole-box">
        <!-- 加载框 -->
        <div class="login-loading" id="login-loading">
            <img src="/_/static/pd30_wnnews/static/picture/loading.gif" class="login-loading-image">
        </div>

        <!-- 登录框 -->
        <div class="login-box-ipt-area" id="login-box-ipt" style="display: none;">
            <div class="form-area">
                <div class="h20"></div>
                <div class="form-row ipt-area">
                    <label for="account" class="read-only">手机号</label>
                    <span class="icon icon-account"></span>
                    <input type="text" class="ipt-txt account" id="account" autocomplete="off" placeholder="手机号">
                </div>
                <div class="h20"></div>
                <div class="form-row ipt-area">
                    <label for="password" class="read-only">密码</label>
                    <span class="icon icon-password"></span>
                    <input type="password" class="ipt-txt password" id="password" autocomplete="off" placeholder="密码">
                </div>
                <div class="h20"></div>
                <div class="form-row ipt-area" id="captcha-box">
                    <label for="password" class="read-only">验证码</label>
                    <span class="icon icon-password"></span>
                    <input type="text" class="ipt-txt captcha" id="captcha" autocomplete="off" placeholder="验证码">
                    <span class="captcha-result" id="captcha-result"></span>
                    <img src="/_/static/pd30_wnnews/static/picture/captcha.png" class="captcha-image" id="captcha-image" alt="">
                </div>
                <div class="h20" id="captcha-box-hr"></div>
                <div class="chk-area">
                    <label class="remember-area elem-text">
                        <input type="checkbox" id="remember" class="ipt-chk">
                        下次自动登录
                    </label>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="elem-text">忘记密码？</a>
                </div>
                <div class="h20"></div>
                <div class="btn-area">
                    <p class="login-submit submit" id="submit">登录</p>
                    <p class="login-submit loading" id="loading"><i class="fa fa-spinner fa-spin"></i></p>
                </div>
                <div class="h20"></div>
                <div class="txt-area">
                    <p class="elem-text regist">还没账号？<a href="/{随机字符}/{随机数字}_{随机数字}.html">立即注册</a></p>
                </div>
            </div>
            <!--无外网则隐藏-云设置可设置-->
            <div class="social-login">
                
                <div class="social-btns">
                    
                </div>
            </div>
                    </div>

        <!-- 快速登录 -->
        <div class="login-box-quick-area" id="login-quick-box" style="display: none;">
            <div class="avatar">
                <img src="/_/static/pd30_wnnews/static/picture/default.png" id="quick-image" alt="">
            </div>
            <p class="user-account" id="quick-nickname"></p>
            <p class="desc">点击头像快速登录</p>
            <div class="switch-btn">
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" id="switch-account">切换账号</a>
            </div>
        </div>
    </div>
</div>
<script>
    var isLogined = false,
        oauthConfig = {
            'mode' : 'public',
            'appUrl' : 'http://app.weinan.cc', // APP站点的URL
            'noticeUrl' : 'http://www.wnnews.cn/index/login/notice', // 登录成功后，通知本站点登录的URL
            'siteid' : '10001'
        },
         key = "b5f6438a07ec12d9",  // 密码加密的公钥
         iv = "b5f6438a07ec12d9"; // 密码加密的公钥偏移量
</script>
<script src="/_/static/pd30_wnnews/static/js/aes.js"></script>
<script type="text/javascript" src="/_/static/pd30_wnnews/static/js/ie-placeholder.min.js"></script>
<script type="text/javascript" src="/_/static/pd30_wnnews/static/js/dialog.js"></script>
<script type="text/javascript" src="/_/static/pd30_wnnews/static/js/dialog-modal.js"></script>
<script type="text/javascript" src="/_/static/pd30_wnnews/static/js/oauth.js"></script>
<script type="text/javascript" src="/_/static/pd30_wnnews/static/js/member.js"></script>
            </div>
            <div id="member-user" class="user" style="display:none">
                <div class="thumb-area">
        <img src="/_/static/pd30_wnnews/static/picture/default.png" alt="" class="user-thumb">
        <i class="down-tag"></i>
</div>
<div class="toggle-menu logined">
    <span class="rotate-tag"></span>
    <ul class="user-options">
        <li>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html">
                <i class="user-icon icon-user"></i>
                <span>个人中心</span>
            </a>
        </li>
                <li>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                <i class="user-icon icon-contribution"></i>
                <span>我的投稿</span>
            </a>
        </li>
        <li>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                <i class="user-icon icon-setting"></i>
                <span>云账号设置</span>
            </a>
        </li>
        <li>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" id="logout-btn">
                <i class="user-icon icon-logout"></i>
                <span>退出登录</span>
            </a>
        </li>
    </ul>
</div>
            </div>
        </span>
    </div>
    <input type="hidden" name="alias" value="menu322" id="alias">
</header>
<div class="column article mar-t-25 pos-r ov_v">
    <div class="left-cont">
        <!-- 文章主体 -->
        <article class="article-main">
        
<style>
.logo-wnfb2 {position:relative;margin-top:5px; margin-bottom:30px}
.logo-wnfb2 img {width:100%;}
</style>
<div class="logo-wnfb2"><img src="/_/static/pd30_wnnews/static/picture/logo-wnfb2.jpg" alt=""></div>
        
        
            <h1 class="article-title">{关键词1}{随机后缀}{新闻网标题}</h1>
            <div class="article-infos">
                                <time class="date">{年月日}</time>
                
                
                
                
                                <span class="editors" href="javascript:;">编辑 {人物名称} 审签 {人物名称}</span>
                <span class="comment-box"><a href="/{随机字符}/{随机数字}_{随机数字}.html"><em></em></a></span>
                <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="comment-count"><span id="sourceId::101018" class="cy_cmt_count">0</span></a>
            </div>
            <div class="article-content">
                <span></span><p style="margin-top: 0.25em; margin-bottom: 0.25em; line-height: 1.8; font-size: 18px; text-indent: 2em; text-align: left;">{网站名称} 记者 {人物名称} 通讯员 {人物名称}</p>
<p style="margin-top: 0.25em; margin-bottom: 0.25em; line-height: 1.8; font-size: 18px; text-indent: 2em; text-align: left;">{关键词1}{句子}{句子}{关键词1}</p>
<p style="margin-top: 0.25em; margin-bottom: 0.25em; line-height: 1.8; font-size: 18px; text-indent: 2em; text-align: center;"><img src="{随机图片}"></p>
<p style="margin-top: 0.25em; margin-bottom: 0.25em; line-height: 1.8; font-size: 18px; text-indent: 2em; text-align: left;">{关键词1}{句子}{关键词1}{句子}{句子}</p>
                            </div>
            
            <div class="article">
                <!-- 文章投票挂件 -->
                <!--投票-->
<!--关联投票链接-->
<!--关联专题链接-->
<!--关联活动报名链接-->
<!--关联视频链接-->
            </div>
        </article>

<style>
.logo-wnfb {position:relative;margin-top:20px}
.logo-wnfb img {width:100%;}
</style>
<div style="height:00px"></div>


        <!-- 文章附件 -->
        
        <!-- 分享 -->
       
<div class="sharebox" data-contentid="101018">

    <div class="f-r baidu">
        <div class="bdsharebuttonbox">
            <a title="{标题}" href="#" class="bds_tsina" data-cmd="tsina"></a>
            <a title="{标题}" href="#" class="bds_weixin" data-cmd="weixin"></a>
            <a title="{标题}" href="#" class="bds_sqq" data-cmd="sqq"></a>
            <a title="{标题}" href="#" class="bds_qzone" data-cmd="qzone"></a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="bds_more" data-cmd="more"></a></div>
       
    </div>
</div>
<div class="hr-10"></div>

        <!-- 相关阅读 -->
        <!--相关阅读-->

        <!-- 评论 -->
        <!--无外网则隐藏-云设置可设置-->
<link rel="stylesheet" href="/_/static/pd30_wnnews/static/css/comment_system.css">
<div class="comment_system">
    <div class="form">
        <div class="username hide" id="js-comment-username"></div>
        <div class="user-img hide" id="js-comment-userimg">
            <img src="/_/static/pd30_wnnews/static/picture/default.png">
        </div>
        <div class="user-login-btn" id="js-comment-login-btn">登录</div>
        <div class="user-boder"></div>
        <textarea placeholder="来说2句吧..." maxlength="200"></textarea>
    </div>
    <div class="form-btn">
        <div class="submit-btn ">评论一下</div>
        <div class="submit-loading hide"></div>
    </div>
    <div class="comment-title">
        <span class="text">评论</span>
        <span class="comment-number hide">
            <span class="font-b num">0</span>人参与,<span class="font-b comment-num">0</span>条评论
        </span>
    </div>
    <div class="empty-text hide">还没有评论，快来抢沙发吧！</div>
    <div class="comment-list">
        <div class="list-title hide">最热评论</div>
        <div class="list-content" id="js-comment-list-hot">

        </div>
        <div class="list-title hide">最新评论</div>
        <div class="list-content" id="js-comment-list-new">

        </div>
    </div>
    <div class="load-more hide">
        已有<em class="font-b num">{随机数字}</em>人参与，点击查看更多精彩评论
    </div>



    <div class="remodal remodal-captcha" id="modal-captcha" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
        <h3 class="title">
            请输入验证码
            <button class="remodal-close remodal-close-message" id="remodal-close-captcha">×</button>
        </h3>

        <div class="captcha-content">
            <span class="captcha-lock"></span>
            <div class="captcha-image"><img class="captcha-image" id="captcha-image"></div>
            <div class="captcha-icon" id="captcha-icon"></div>
            <input type="text" class="captcha-txt" id="captcha-value" placeholder="验证码">
        </div>

        <div class="captcha-buttons">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="captcha-btn" id="captcha-confirm">确定</a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="captcha-btn" id="captcha-cancel">取消</a>
        </div>
    </div>


    <!-- 楼层单个模板-->
    <script type="text/html" id="js-comment-list-floor-item-html">
        <div class="floor">
            <span class="comment-info">
                <div class="username"></div>
                <div class="time"></div>
            </span>
            <div class="text"></div>
            <div class="btn-list clear-both">
                <div class="flag">举报</div>
                <div class="reply-btn">回复</div>
                <div class="del-btn">删除</div>
                <div class="ding"></div>
            </div>
        </div>
    </script>
    <!-- 列表单个模板-->
    <script type="text/html" id="js-comment-list-item-html">
        <div class="item">
            <img class="user-img" src="">
            <div class="comment-content">
                <span class="comment-info">
                    <span class="comment-user">
                        <div class="username"></div>
                        <div class="ipaddress"></div>
                    </span>

                    <div class="time"></div>
                </span>
                <div class="text"></div>
                <div class="btn-list clear-both">
                    <div class="flag">举报</div>
                    <div class="reply-btn">回复</div>
                    <div class="del-btn">删除</div>
                    <div class="ding"></div>
                </div>
            </div>
        </div>
    </script>
    <!-- 评论表单模板-->
    <script type="text/html" id="js-comment-form-html">
        <div class="form-box">
            <div class="form">
                <textarea placeholder="来说2句吧..." maxlength="200"></textarea>
            </div>
            <div class="form-btn">
                <div class="submit-btn">评论一下</div>
                <div class="submit-loading hide"></div>
            </div>
        </div>

    </script>

</div>

<script>
    var comment = {
        "contentid":"101018",
        "assets":"http://res.weinan.cc/t/site/10001/102f97b1fb497df1ae77989a9e52ece6/assets/",
        "resource":"http://res.weinan.cc",
        "login":"1",//是否需要登录
        "vf_code":"0",//是否需要验证码
        "appid":"1"
    };
</script>
<script src="/_/static/pd30_wnnews/static/js/comment_system.js"></script>
    </div>
    <!-- 右侧主体 -->
    <aside class="right-cont">

<div class="clear"></div>
<style>
    .app-2code:before{
        content: " ";
        background: url("/_/static/pd30_wnnews/static/image/4660a004323a65c2488481c610cd6fca.png!w300_h300.png") no-repeat;
        background-size: 30px 30px;
        width: 26px;
        height: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -13px;
        margin-top: -13px;
        border-radius: 3px;
    }
</style>

<!-- 广告位 -->
<!-- 侧边栏广告块 -->

<!-- 热门文章列表 -->
<!-- 侧边栏热门文章列表块 -->
<section class="rmwz ov">
    <div class="mod-title1">
        <h2>热门文章</h2>
    </div>
    <div class="ov">
        <ul class="pic-list">
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
                </div>
            </li>
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{关键词1}" target="_blank">{关键词1}</a></p>
                </div>
            </li>
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
                </div>
            </li>
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
                </div>
            </li>
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{关键词1}" target="_blank">{关键词1}</a></p>
                </div>
            </li>
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
                </div>
            </li>
                    </ul>
    </div>
</section>




<!-- 推荐文章列表 -->
<!-- 侧边栏推荐文章列表块 -->
<section class="rmwz ov mar-t-20">
    <div class="mod-title1">
        <h2>推荐文章</h2>
    </div>
    <div class="ov">
        <ul class="pic-list">
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
                </div>
            </li>
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
                </div>
            </li>
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
                </div>
            </li>
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{关键词1}" target="_blank">{关键词1}</a></p>
                </div>
            </li>
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
                </div>
            </li>
                        <li>
                <div class="pic-summary">
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">
                        <img width="80" height="60" class="img" src="{随机图片}" alt="{标题}" title="{标题}"></a>
                    <p class="summary"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="{标题}" target="_blank">{标题}</a></p>
                </div>
            </li>
                    </ul>
    </div>
</section>    </aside>
</div>
<div class="hr-10"></div>
<!-- 页脚 -->
<footer class="footer">
    <div class="column m-footer">
                <span class="powerby"></span></div>
</footer>

<script id="longweibo-template" type="text/template">
    <div class="lw-dialog">
        <div class="lw-img-outter">

        </div>
                <div class="lw-button-panel">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="weibo"><div class="lw-sina-button f-fl f-csp"></div></a>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" class="weibo"><div class="lw-tencent-button f-fr f-csp"></div></a>
        </div>
    </div>
</script>

<script type="text/javascript" src="/_/static/pd30_wnnews/static/js/jquery.corner.js"></script>
<script type="text/javascript" src="/_/static/pd30_wnnews/static/js/qrcode.min.js"></script>
<link rel="stylesheet" href="/_/static/pd30_wnnews/static/css/style1.css">
<script src="/_/static/pd30_wnnews/static/js/dialog1.js"></script>
<script type="text/javascript" src="/_/static/pd30_wnnews/static/js/common.js"></script>
<script type="text/javascript" src="/_/static/pd30_wnnews/static/js/article.js"></script>
<script src="/_/static/pd30_wnnews/static/js/jquery.jplayer.min.js"></script>
<script src="/_/static/pd30_wnnews/static/js/myAudio.js"></script>
<script type="text/javascript" src="/_/static/pd30_wnnews/static/js/article_picture.js"></script>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>