



<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="SiteName" content="{关键词1}">
    <meta name="SiteDomain" content="www.cnqc.gov.cn"><meta name="SiteIDCode" content="5108220018">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}" />
    <meta name="ColumnType" content="信息公开">
    <meta name="ColumnName" content="信息公开">
    <meta name="ArticleTitle" content="{自定义标题}">
    <meta name="PubDate" content="{年月日}">
    <meta name="ContentSource" content="县人防办">
    <meta name="Description" content="{自定义描述}">
    
    <meta name="keywords" content="{关键词1}">
    <link rel="stylesheet" href="/_/static/pd45_cnqc_gov_cn/static/css/mui-player.min.css">   

    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jweixin-1.4.0.js"></script>
<link rel="stylesheet" href="/_/static/pd45_cnqc_gov_cn/static/css/layui.css"><link rel="stylesheet" href="/_/static/pd45_cnqc_gov_cn/static/css/style.css"><link rel="stylesheet" href="/_/static/pd45_cnqc_gov_cn/static/css/head.css">
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jquery.min.js"></script>
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jquery.SuperSlide.js" type="text/javascript"></script>
    <script type="text/javascript" src="/_/static/pd45_cnqc_gov_cn/static/js/navbar.js"></script>
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jquery.traditional.js"></script>
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jquery.reveal.js"></script>
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jquery.mousewheel.js"></script>
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/scroll-startstop.events.jquery.js"></script>
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jquery.jscrollpane.min.js"></script>
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jquery.autocomplete.js"></script>
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jquery.nicescroll.js"></script>
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/layui.js"></script>
    <script src="/_/static/pd45_cnqc_gov_cn/static/js/index.js"></script>

    
    <link href="/_/static/pd45_cnqc_gov_cn/static/css/autocomplete.css" rel="stylesheet"><title>

</title></head>
<body>
    <!--<div>
    <a href="http://www.gov.cn/zhuanti/2023qglh/index.htm" target="_blank">
                <img src="/images/2023-lh.jpg"></a>
    </div>-->
    

<style>
    .head-top-links a{
        color:white;
    }
    .fr a{
        font-size:16px;
    }
</style>
<div class="mt5">
	<div class="layui-container  layui-clear ">
        <div class="fl" style="width: 120px; height: 30px;border-radius: 10px; font-size: 16px; color: white; text-align: center; line-height: 30px; float: left;">
            网站支持IPv6        
		</div>
		<div class="fr head-top-links">
		<!--	<a href="" target="_blank">统一登录</a>-->
			<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}</a>
			<a id="StranLink">简繁转换</a>
			<a href="javascript:void(0);" id="assist-open">无障碍版</a>
<script type="text/javascript" src="/_/static/pd45_cnqc_gov_cn/static/js/wza.js"></script>
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">智能问答</a>
		</div>
	</div>
</div>
<div class="head">
	<div class="layui-container  layui-clear">
		<div class="head-logo fl ">
			<a href="/{随机字符}/{随机数字}_{随机数字}.html"><img src="/_/static/pd45_cnqc_gov_cn/static/picture/logo.png" alt="{关键词1}"></a>
		</div>
		<div class="fr">
			
            <div class="id-ss-li" style="margin-top:170px;">
                <div>
                    热门搜索：
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a>
                    <a href="/{随机字符}/{随机数字}_{随机数字}.html">{随机关键词}</a>
                </div>
                
            </div>
			<div class=" head-search mr25  layui-form" style="background-color: #ffffffa6;border:0;margin: 10px 0;">
				<input style="float:left;" type="text" class=" p10 dib layui-input border-0 " id="kw" placeholder="请输入关键词">
				<button type="button" id="btnSearch" class="layui-btn layui-btn-primary  border-0 " style="background-color:red;">
					<i class="layui-icon layui-icon-search primary fz26" style="color:white;"></i>
				</button>
			</div>
            <div class="id-ss-li02">
                <span id="clock" style="vertical-align: top; color: #000;"></span>
                <span class="tq"></span>
            </div>
            <script src="/_/static/pd45_cnqc_gov_cn/static/js/Search.js"></script>
            <script type="text/javascript">
                $(function () {
                    $("#btnSearch").click(function () {
                        if ($("#kw").val()) {
                            GoSearch();
                        } else {
                            alert("请输入关键词");
                        }
                    });
                });
            </script>
		</div>
	</div>
</div>

<div class="nav-bg">
	<div class="layui-container">
		<ul class="layui-nav  my-nav">
			<li class="layui-nav-item layui-this"><a href="/{随机字符}/{随机数字}_{随机数字}.html">网站首页</a></li>
			<li class="layui-nav-item"><a href="/{随机字符}/{随机数字}_{随机数字}.html">领导之窗</a></li>
			<li class="layui-nav-item"><a href="/{随机字符}/{随机数字}_{随机数字}.html">组织机构</a></li>
			<li class="layui-nav-item">
				<a href="/{随机字符}/{随机数字}_{随机数字}.html">政府信息公开</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">基本信息公开</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">政策</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">行政规范性文件</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">政府信息公开指南</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">政府信息公开制度</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">依申请公开</a></dd>
                    

                </dl>
			</li>
			<li class="layui-nav-item">
				<a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">政务服务</a>
				<dl class="layui-nav-child"> <!-- 二级菜单 -->
				<dd><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">个人服务</a></dd>
				<dd><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">法人服务</a></dd>
				<dd><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">权力清单</a></dd>
				<dd><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">责任清单</a></dd>
				<dd><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">公共服务清单</a></dd>
				<dd><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">跑腿次数清单</a></dd>
				<dd><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">公共数据开放</a></dd>
				<dd><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">{关键词1}</a></dd>
				<dd><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">办事统计</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
                <a href="/{随机字符}/{随机数字}_{随机数字}.html">互动交流</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">书记信箱</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">县长信箱</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">在线访谈</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">民意征集</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">问卷调查</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">公众咨询</a></dd>
                    <dd><a href="/{随机字符}/{随机数字}_{随机数字}.html">人大建议政协提案</a></dd>
                </dl>
            </li>
			<li class="layui-nav-item"><a href="/{随机字符}/{随机数字}_{随机数字}.html">文件中心</a></li>
			<li class="layui-nav-item"><a href="/{随机字符}/{随机数字}_{随机数字}.html">走进{关键词1}</a></li>
			
		</ul>
	</div>
</div>

<!--导航悬浮-->
<script>
 $(window).on("scroll",function(){
            //判断向下滑动的距离
            if($(window).scrollTop()>=335){
                //将顶部导航栏固定
                $(".nav-bg").addClass("fixed");
                
            }else{
                $(".nav-bg").removeClass("fixed");
             
            }
        });
</script>
    
    
    <div class="layui-container bg-white msg mt30">
        <div class="crumbs">当前位置：<a href="/{随机字符}/{随机数字}_{随机数字}.html">首页</a>> <a href="/{随机字符}/{随机数字}_{随机数字}.html">信息公开 </a> > {关键词1}</div>

        <h1 class="fwb t-center  w100 m-auto pt40" style="line-height: 1.4;">{关键词1}{随机后缀}{新闻网标题}</h1>
        <div class="layui-clear t-666 border-bottom pb10">
            <div class="layui-clear pt10 msg-intro t-center">
                <div class="dib">
                     
                    <span class="pr10">发布日期:{年月日}  </span>
                    
                    <span>浏览量:{随机4数字}</span>
                    <span class="ml10 laiyuan">来源:{网站名称}</span>
                </div>
                <div class="dib no-print pl20">
                    <div class="dib ">
                        [ <i>字体：</i>
                        <a id="f-lg" href="javascript:;">大</a>
                        <a id="f-md" href="javascript:;">中</a>
                        <a id="f-sm" href="javascript:;">小</a>
                        ]
                    </div>
                    <button id="printPage" type="button" class="layui-btn layui-btn-primary border-0 layui-btn-sm">
                        <i class="iconfont icon-print fz22 vam"></i>
                        <p class="vam dib pl5 fz16">打印</p>
                    </button>
                    <span class="ml10 bdsharebuttonbox1" data-sites="weibo,wechat">分享:</span>
                    <link rel="stylesheet" href="/_/static/pd45_cnqc_gov_cn/static/css/share.min.css">
                    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jquery.share.min.js"></script>
                    <script>$('.bdsharebuttonbox1').share();</script>
                </div>
            </div>
        </div>
        <div class="msg-content">
            <p style="text-indent:2em;">
	<span>{关键词1}{句子}{关键词1}{句子}</span>
</p>
<p style="text-align:center;">
	<img src="{随机图片}" alt="" width="800" height="451" title="" style="height:auto !important;"> 
</p>
<p style="text-indent:2em;">
	{关键词1}{句子}{句子}{关键词1}{句子}
</p>
<p style="text-indent:2em;">
	{句子}{关键词1}{句子}
</p>
<p style="text-indent:2em;">
	<br>
</p>

            


                        
        </div>
        


    </div>



    <script src="/_/static/pd45_cnqc_gov_cn/static/js/jQuery.print.js"></script>
    <script>
        var height = $("#mui-player").height();
        if (height > 1000) {
            document.getElementById('mui-player').style.width = "400px";
        }



    </script>


    
<div class="friend-links-bg mt30">
	<div class="layui-container friend-links   pos-r clearfix ">
		<!--        <span class=" bg-primary t-white dib">链接导航</span>-->
		<dl>
			<dd>
				<a href="/{随机字符}/{随机数字}_{随机数字}.html">中国政府网</a>

			</dd>
			<dt class="font-weight-normal col">{关键词1}</dt>
		</dl>
		<dl>
			<dd>
				    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">北京</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">上海</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">四川</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">天津</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">重庆</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">河南</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">山西</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">辽宁</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">吉林</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">黑龙江</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">江苏</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">浙江</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">安徽</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">福建</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">江西</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">广东</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">海南</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">贵州</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">云南</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">陕西</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">甘肃</a>

    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">内蒙古</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">广西</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">新疆</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">香港</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">澳门</a>
			</dd>
			<dt class="font-weight-normal col">省级政府网站</dt>
		</dl>
		<dl>
			<dd>
		 <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">成都</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">自贡</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">攀枝花</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">泸州</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">德阳</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">广元</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">遂宁</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">内江</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">乐山</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">南充</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">宜宾</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">广安</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">达州</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">巴中</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">雅安</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">资阳</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">阿坝</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">甘孜</a>
    <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">凉山</a>
			</dd>
			<dt class="font-weight-normal col">市级政府网站</dt>
		</dl>
		<dl>
			<dd>
        <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">朝天区</a>
        <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">昭化区</a>
        <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">利州区</a>
        <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a>
        <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">旺苍县</a>
        <a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">苍溪县</a>
			</dd>
			<dt class="font-weight-normal col">县区政府网站</dt>
		</dl>
		
	</div>
</div>


<div class="foot-bg pt25">
	<div class="layui-container">
		<div class="foot lh24 layui-row">
			<div class="layui-col-xs3 t-center">
				<ul class="foot-link">
					<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">网站地图</a></li>
					<li><a href="/{随机字符}/{随机数字}_{随机数字}.html">使用帮助</a></li>
				</ul>
				<div class="foot-jiucuo mt0 pr10">
					<span id="_ideConac">
                                              <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">
                                              <img id="imgConac" vspace="0" hspace="0" border="0" src="/_/static/pd45_cnqc_gov_cn/static/picture/ico02.jpg" data-bd-imgshare-binded="1"></a></span>

					<script id="_jiucuo_" sitecode='5108220018' src="/_/static/pd45_cnqc_gov_cn/static/js/jiucuo.js"></script>
				</div>

			</div>
			<div class="layui-col-xs9">
				<p>
					<span class="pr20">主办单位：{关键词1}</span>
					<span class="pr20">管理：{网站名称}   </span>
				</p>
				<p>
					<span class="pr20">运行维护单位：{网站名称}</span>
					<span class="pr20">联系方式：0839-7222094</span>
				</p>
				<p>
					<span>政府网站标识码：5108220018</span>
					<span>备案号：<a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html">蜀ICP备05031225号-1</a></span>
					<span><a target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html"><img class="mr5" alt="" src="/_/static/pd45_cnqc_gov_cn/static/picture/ga.png" style="vertical-align:-8%;">川公网备案号：51082202000102</a></span>
<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1272834682'%3E%3C/span%3E%3Cscript src='https://s13.cnzz.com/z_stat.php%3Fid%3D1272834682%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
				</p>

			</div>

		</div>

	</div>
</div>
<script src="/_/static/pd45_cnqc_gov_cn/static/js/time.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#StranLink").traditional();
    })
</script>


</body>
</html>
