<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=1200">
    <title>{自定义标题}</title>
    <meta name="keywords" content="{关键词1}" />
    <meta name="description" content="{自定义描述}" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <link rel="stylesheet" href="/_/static/pd56_news_chengdu/static/css/swiper.min.css">
            <link rel="stylesheet" href="/_/static/pd56_news_chengdu/static/css/pulic.css">
        <link rel="stylesheet" href="/_/static/pd56_news_chengdu/static/css/details.css">
    <!--[if lte IE 10]>
    <script type="text/javascript">
        alert('请使用新版浏览器观看');
        window.location.href = 'https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads';
    </script>
    <![endif]-->
	<script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/config.js"></script>
    <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/jquery.js"></script>
	<script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/jquery.cookie.js"></script>
    <script type="text/javascript">
        var contentid = '2340126';// 文章ID
        var title = "\u63a2\u79d8\u6210\u90fd\u5e02\u57ce\u5e02\u5730\u4e0b\u7efc\u5408\u7ba1\u5eca  \u7ba1\u7ebf\u7684\u5730\u4e0b\u201c\u623f\u5b50\u201d\u957f\u5565\u6837\uff1f";//文章标题
        var topicid = '808430';// 评论主题
        var context = '';//全文内容缓存
        var content = '';//第一页内容缓存
        var _IMG_URL = 'http://img.chengdu.cn/templates/chengdu';
    </script>
	<script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/fet.js"></script>
<script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/repos.js"></script>
<script type="text/javascript">fet.setAlias({IMG_URL: "http://img.chengdu.cn/"})</script>
	    <script type="text/javascript">
        function GetQueryString(name){
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r!=null) return unescape(r[2]); return null;
        };
        var sl=GetQueryString('phone');
        if(sl!="yes"){
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                window.location.href="{当前url}";
            }
        }
     </script>

<style type="text/css">
   embed{width: 630px;height: 420px}
</style>
  </head>
<body>

<div class="box_wrapper_bg">
    <div class="nav_wrapper_bg">
        <div class="wrapper_1200">
            <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_self" class="renovate"></a>
            <ul class="nav_list">
                <li>
                    <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">成都头条</a></p>
                    <div class='nav_list_lm3 nav_list_lm'>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">原创</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">本地</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">国内</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">区域</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">头条智造</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">热点专题</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">党政要闻</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">传真机</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">公示</a>
                    </div>
                    <i></i>
                </li>
                <li>
                    <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">爱看视频</a></p>
                    <!--div class='nav_list_lm3 nav_list_lm'>
                        <a href="http://news.chengdu.cn/xwsy/rnbtt/" target="_blank">蓉妮播头条</a>
                    </div>
                    <i></i-->
                </li>
                <li>
                    <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">安逸成都</a></p>
                    <div class='nav_list_lm3 nav_list_lm'>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">数字文创</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">旅游</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">美食</a>
                        <!--a href="http://f.chengdu.cn" target="_blank">房产</a-->
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">教育</a>
                        <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">慧展成都</a>
                    </div>
                    <i></i>
                </li>
                <li><p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">图说成都</a></p></li>
                <li><p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">财经成都</a></p></li>
                <li><p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">超级小猪</a></p></li>
                <li><p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">文明成都</a></p></li>
                <li><p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">志愿成都</a></p></li>
                <li><p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">运动成都</a></p></li>
            </ul>
            <div class="right_search">
                <div class="research m_t40 fl">
                    <form id="searchform" name="searchform" target="_blank" method="get" accept-charset="utf-8" onsubmit="if(isIE)document.charset='utf-8'" action="http://app.chengdu.cn/">
                        <input type="hidden" name="app" value="search">
                        <input type="hidden" name="controller" value="index">
                        <input type="hidden" name="action" value="search">
                        <input type="hidden" id="type" name="type" value="all">
                        <div class="search-group">
                            <input type="submit" value="" class="submit" title="搜索">
                            <input type="text" class="ipt-text" name="wd" value="" placeholder="请输入你要搜索的关键字">
                            <span class="sub-icon-search"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="poster_lm">
        <script src="http://api2014.chengdu.cn/api2021.php?typeid=51&n=2"></script>
    </div>
    <div class="box-main w_1200 bef">
                <div class="main-fl bef" id="main">
                    <h3 class="con-h3">{关键词1}{随机后缀}{新闻网标题}</h3>
                    <div class="con-sj" data-spm-max-idx="1" data-auto-spmd-max-idx="0">
                        <span>{年月日} &nbsp;来源：{网站名称}                                                    &nbsp;
                            </span>
                        <!--分享-->
                        <div class="share_module">
                            <div class="share_list bdsharebuttonbox bdshare-button-style0-16">
                                <a class="share_icon_weibo" target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html" title="分享到新浪微博"></a>
                                <span class="share_icon_Wx" title="分享到微信" onclick="Wx('微信好友')"></span>
                                <span class="share_icon_Pyq" title="分享到朋友圈" onclick="Wx('微信朋友圈')"></span>
                            </div>
                            <input type="button" value="" class="share_btn">
                        </div>
                        <div id="WX" style="display: none;">
                            <div class="bd_weixin_popup_head">
                                <span id='share_tp'></span>
                                <p style="display: none;" id='enlarge'></p>
                                <a class="bd_weixin_popup_close" onclick="document.getElementById('WX').style.display='none';document.getElementById('weixin').innerHTML=''">×</a>
                                <div id="weixin"></div>
                                <div class="bd_weixin_popup_foot">打开微信，点击底部的“发现”，<br>使用“扫一扫”即可将网页分享。</div>
                            </div>
                        </div>

                    </div>
                   <!--div有上间距，p无间距-->
                   <!--挂件-->
                    <div class="box-tv" style="text-align: center">
                                                                                                                            </div>
                    <!-- 文章内容 -->
                    <div class="con-p2">
                        <p style="text-indent: 0px; text-align: center;"><span style="color: #888888;"><img src="{随机图片}" border="0" width="550px"></span></p>
<p style="text-align: center;"><span style="color: #888888;">{标题}</span></p>
<p style="text-indent: 0px; text-align: center;"><span style="color: #888888;"><img src="{随机图片}" border="0" width="550px"></span></p>
<p style="text-align: center;"><span style="color: #888888;">{关键词1}{标题}</span></p>
<p>{新闻网内容}</p>                                            </div>

                    <div class="box-tv" style="text-align: center">
                                                                                                                    </div>

                        
                    <p class="con-bj">
                                                    <span>编辑：{人物名称}</span>
                                                                             <span>责编：{关键词1}</span>
                        
                        
                        
                                            </p>

                    <div class='share_fot_box'>
                        <a class="share_fot_weibo" target="_blank" href="/{随机字符}/{随机数字}_{随机数字}.html" title="分享到新浪微博"><span></span>微博</a>
                        <div class="share_fot_Wx" onclick="Wx('微信好友')"><span></span>微信好友</div>
                        <div class="share_fot_Wx_pyq" onclick="Wx('微信朋友圈')"><span></span>朋友圈</div>
                    </div>
                                        </div>
                 <div class="main-rg bef">
                     <div class="hot-logo">
    热榜
 </div>
 <ul class="search">
                 <li><a href="" target="_blank" title="{标题}" class="title">{标题}</a></li>
                 <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{关键词1}" class="title">{关键词1}</a></li>
                 <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}" class="title">{标题}</a></li>
                 <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}" class="title">{标题}</a></li>
                 <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}" class="title">{标题}</a></li>
                 <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}" class="title">{标题}</a></li>
                 <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}" class="title">{标题}</a></li>
                 <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}" class="title">{标题}</a></li>
                 <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{关键词1}{标题}" class="title">{关键词1}{标题}</a></li>
                 <li><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}" class="title">{标题}</a></li>
      </ul>

                 </div>

            </div>
    <!--div class="fd" style="position: absolute;width: 400px;height:400px;top: 0;overflow: hidden;z-index: 9999;" id="enlarge">
        <img src="" alt="" style="position: absolute;left: 0;top:0" id="spread">
    </div-->
    <hr>
<footer class="w_1200">
   <div class="footer-nav">
       <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">关于我们</a> |
       <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">联系方式</a> |
       <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">广告服务</a> |
       <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">招聘信息</a>
       <br>
       <p>
           国新网许可证编号：{随机8数字} <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank">蜀ICP备{随机8数字}号-8</a> ICP许可证编号：川B2-{随机8数字} 热线电话：028-{随机8数字}  <br>
           川公网安备 {随机8数字}号 违法和不良信息举报电话 028-{随机8数字} <br>
           © {年}  {关键词1} 版权所有
       </p>
   </div>
</footer>

    <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/cmstop-imagezoom.js"></script>
    <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/cmstop-common.js"></script>
    <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/article-show.js"></script>
    <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/digg.js"></script>
    <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/ZeroClipboard.js"></script>
    <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/index.js"></script>
    <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/load.js"></script>
    <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/Enlarge.js"></script>
    <div style="display:none;">
        <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/z_stat-398990_398990.js"></script>
        <script type="text/javascript" src="/_/static/pd56_news_chengdu/static/js/z_stat-1280681117_1280681117.js"></script>
    </div>
    <!--分享-->
    <script src="/_/static/pd56_news_chengdu/static/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        function Wx(e){
            document.getElementById('weixin').innerHTML='';
            document.getElementById('share_tp').innerText = '分享到'+e;
            var path = '{当前url}';//获取页面的链接
            $("#weixin").qrcode({
                text: path,
                width: 210,
                height: 185,
                typeNumber: -1,
                background: "#ffffff",
                foreground: "#000000"
            });
            $('#WX').show()
        }
    </script>
    <script src="/_/static/pd56_news_chengdu/static/js/spm.js"></script>
    <script>
        if (window.spm) {
            // 初始化配置
            spm.config({
                userId: '全搜索网友', // 此处填写已登录用户ID
                additionalInfo: {
                    sex: '男', // 此处填写已登录用户性别
                    profession: '网友', // 此处填写已登录用户职业
                    age: 30, // 此处填写已登录用户年龄
                    targetID: '2340126', // 此处填写稿件ID
                    organization: 'zm5016', // 此处填写媒体机构ID
                    // 上报进入事件
                    category: 'event',
                    action: 'comeIn'
                }
            });
        }
        window.onbeforeunload = function () {
            // 上报离开事件
            spm.push({ category: 'event', action: 'leave' });
        };
    </script>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>