<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{自定义标题}</title>
<meta name="keywords" content="{关键词1}" />
<meta name="description" content="{自定义描述}" />
<meta http-equiv="Cache-Control" content="no-transform">
<link rel="stylesheet" type="text/css" href="/_/static/pd62_scxww_lygmedia/static/css/cmstop-article.css">
<link rel="stylesheet" type="text/css" href="/_/static/pd62_scxww_lygmedia/static/css/cmstop-comment-mode.css">
<link rel="stylesheet" type="text/css" href="/_/static/pd62_scxww_lygmedia/static/css/cmstop-right-common.css">
<script type="text/javascript" src="/_/static/pd62_scxww_lygmedia/static/js/cmstop-common.js"></script>
<script type="text/javascript" src="/_/static/pd62_scxww_lygmedia/static/js/jquery.js"></script>
<script type="text/javascript" src="/_/static/pd62_scxww_lygmedia/static/js/jquery.cookie.js"></script>
<link rel="stylesheet" type="text/css" href="/_/static/pd62_scxww_lygmedia/static/css/style.css">
<script src="/_/static/pd62_scxww_lygmedia/static/js/uaredirect.js" type="text/javascript"></script>
</head>
<body>
<div class="div-head">
  <div class="div-menu">
    <div class="div-container">
      <div class="div-left-menu"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="四川新闻网"><span>四川新闻网</span></a> </div>
      <div class="div-right-menu"> <a href="#" target="_blank" title="设为首页"><span>设为首页</span></a> <span>|</span><a href="#" target="_blank" title=" "><span>收藏本站</span></a>  </div>
    </div>
  </div>
  <div class="div-logo-search">
    <div class="div-container">
      <div class="div-logo"><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="四川新闻网"><img src="/_/static/pd62_scxww_lygmedia/static/picture/22_logo.png" alt="四川新闻网"></a></div>
      
    </div>
  </div>
</div>
<div class="topbar">
  <div class=" wrapper">
    <ul class="nav">
      <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html" title="" target="_self"><span class="glyphicon glyphicon-home"></span>首页</a></strong></li>
                  <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>宏观</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>资讯</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>国内</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>国际</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>股票</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>港股</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>新股</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>期指</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>消费</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>理财</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>基金</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>外汇</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>能源</a></strong> </li>
            <li><strong><a href="/{随机字符}/{随机数字}_{随机数字}.html"><span class="glyphicon glyphicon-home"></span>{关键词1}</a></strong> </li>
                </ul>
  </div>
</div>
<div style="height:20px; clear:both; width:100%;"></div>
<div class="main newslist">
  <div class="listl">
    <div class="inner">
      <div class="listlcon" style="margin-bottom:30px;">
        <div class="listltitle">
          <h1>{关键词1}{随机后缀}{新闻网标题}</h1>
          <p> 
            <!--<span class="spanimg1">作者： </span>--> <span class="spanimg2">来源： {网站名称} </span> <span class="spanimg3">{年月日}</span> </p>
        </div>
      </div>
      <div class="article-content fontSizeSmall BSHARE_POP">
        <div> 　<p>{关键词1}{句子}</p><p align="center"><img alt="{关键词1}" src="{随机图片}"></p><p>{新闻网内容}</p>　 </div>
        <br>
        <div id="pages" class="text-c mt25" style="margin-top:20px;">  </div>
        <div style="clear:both"></div>
      </div>
      <a name="cm"></a> </div>
  </div>
  <div class="listr"> 
    <div class="read read2">
      <div class="com-title"><span><img src="/_/static/pd62_scxww_lygmedia/static/picture/symbol-3.png" alt="" style="margin-bottom: 1px;">精彩导读</span></div>
                  <div class="readbox">
        <div class="readimg"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}"> <img src="{随机图片}" alt="{标题}" width="90" height="59"> </a></div>
        <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}">{标题}</a></p>
        <div class="floatfix"></div>
      </div>
            <div class="readbox">
        <div class="readimg"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{关键词1}"> <img src="{随机图片}" alt="{关键词1}" width="90" height="59"> </a></div>
        <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{关键词1}">{关键词1}</a></p>
        <div class="floatfix"></div>
      </div>
            <div class="readbox">
        <div class="readimg"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}"> <img src="{随机图片}" alt="{标题}" width="90" height="59"> </a></div>
        <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}">{标题}</a></p>
        <div class="floatfix"></div>
      </div>
            <div class="readbox">
        <div class="readimg"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}"> <img src="{随机图片}" alt="{标题}" width="90" height="59"> </a></div>
        <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}">{标题}</a></p>
        <div class="floatfix"></div>
      </div>
            <div class="readbox">
        <div class="readimg"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}"> <img src="{随机图片}" alt="{标题}" width="90" height="59"> </a></div>
        <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}">{标题}</a></p>
        <div class="floatfix"></div>
      </div>
            <div class="readbox">
        <div class="readimg"> <a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}"> <img src="{随机图片}" alt="{标题}" width="90" height="59"> </a></div>
        <p><a href="/{随机字符}/{随机数字}_{随机数字}.html" target="_blank" title="{标题}">{标题}</a></p>
        <div class="floatfix"></div>
      </div>
             </div>
    <div class="viewpoint hotlist">
      <div class="com-title"><span><img src="/_/static/pd62_scxww_lygmedia/static/picture/symbol-13.png" alt="">热门资讯</span></div>
      <ul>
                        <li><a href="">{标题}</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{关键词1}{标题}</a></li>
                <li><a href="/{随机字符}/{随机数字}_{随机数字}.html">{标题}</a></li>
                      </ul>
    </div>
  </div>
</div>

<div style="clear:both"></div>
<div class="footer">
  <div class="wrapper"> <p style="text-align: center"><span style="font-size: 14px">Copyright &copy; {年} {域名库} {关键词1}</span></p>
<p style="text-align: center"><span style="font-size: 14px">关于我们 商务合作 版权申明 联系我们</span></p> </div>
</div>
 
<script>
    $(function(){
        $(".nav li dl").each(function(){
            if($(this).find("dd").size()==0){
                $(this).remove();
            }
        });

    });
</script> 
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="友情链接"><a href="{轮链}">{网站名称}</a></div>
<div style="display:none;" title="网站地图"><a href="http://{当前域名}/sitemap.xml">网站地图</a></div>
</body>
</html>
