

body {
  font-family: '微软雅黑', SimSun, Arial, 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 宋体, Tahoma，arial, sans-serif;
}

a:hover {
  color: #c5171e;
}

.clearfix::after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}

.g-main {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.g-top {
  width: 100%;
  background: #505050;
  height: 24px;
  padding: 4px 0 10px;
  min-width: 1110px;
}

.m-top {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.u-top-list {
  overflow: hidden;
  float: left;
  margin-top: 9px;
}

.u-top-list li {
  float: left;
  margin-right: 20px;
}

.u-top-list li a {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.u-top-list li a:hover {
  color: #c5171e;
}

.u-top-list li span {
  color: #fff;
}

.u-top-list li img {
  margin-right: 6px;
  float: left;
}

.u-top-right {
  float: right;
}

.u-login {
  float: left;
  margin-right: 20px;
  margin-top: 9px;
  color: #fff;
}

.u-login img {
  margin-right: 10px;
  float: left;
}

.u-login a {
  font-size: 12px;
  color: #fff;
}

.u-top-form {
  float: left;
}

.u-top-form input {
  width: 174px;
  height: 28px;
  border: 1px solid #dedede;
  border-right: none;
  float: left;
  padding: 0 10px;
}

.u-top-form img {
  cursor: pointer;
  float: left;
}

.g-logo {
  width: 1100px;
  height: 100px;
  margin: 20px auto;
}

.m-logo {
  width: 306px;
  float: left;
  margin-top: 24px;
}

.m-logo img:first-child {
  margin-right: 6px;
}

.m-ad {
  width: 790px;
  height: 100px;
  float: right;
}

.g-nav {
  width: 1100px;
  margin: 0 auto;
  font-family: 'Microsoft YaHei';
  margin-bottom: 4px;
}

.m-nav-list {
  padding: 0 50px;
}

.m-nav-list .u-nav-top {
  margin-bottom: 15px;
  overflow: hidden;
}

.m-nav-list .u-nav-bottom {
  overflow: hidden;
}

.m-nav-list .u-nav-top1 {
  margin-bottom: 15px;
  overflow: hidden;
}

.m-nav-list .u-nav-top1 li {
  margin-right: 40px;
  text-align: center;
}

.m-nav-list .u-nav-top1 .end {
  margin-right: 0;
}

.m-nav-list .u-nav-bottom1 {
  overflow: hidden;
}

.m-nav-list .u-nav-bottom1 li {
  margin-right: 16px;
}

.m-nav-list .u-nav-bottom1 .end {
  margin-right: 0;
}

.m-nav-list li {
  float: left;
}

.m-nav-list li a {
  font-size: 16px;
  color: #606060;
}

.m-nav-list li a:hover {
  color: #c5171e;
}

.m-nav-list .end {
  margin-right: 0;
}

.m-nav-er {
  float: right;
  width: 355px;
  padding: 0 10px;
  padding-right: 0;
}

.m-nav-er li {
  width: 86px;
  float: left;
  margin-right: 52px;
  position: relative;
}

.m-nav-er li img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.m-nav-er li a {
  font-size: 14px;
  color: #606060;
  display: block;
  text-align: center;
}

.m-nav-er .end {
  margin-right: 0;
}

.g-ad {
  width: 1100px;
  margin: 0 auto;
}

.g-ad img {
  width: 100%;
}

.footer {
  padding: 38px 0;
  background: #f6f6f6;
  height: 450px;
  width: 100%;
  margin-top: 40px;
  min-width: 1110px;
  border-top: 3px solid #c5171e;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.about,
.contact,
.concern,
.jion {
  overflow: hidden;
  float: left;
  margin-right: 150px;
}

.about .first,
.contact .first,
.concern .first,
.jion .first {
  font-size: 16px;
  color: #020202;
}

.about li,
.contact li,
.concern li,
.jion li {
  text-align: left;
  margin-bottom: 30px;
}

.about li a,
.contact li a,
.concern li a,
.jion li a {
  color: #757575;
}

.jion {
  margin: 0;
}

.copy {
  text-align: center;
  border-bottom: 1px solid #757575;
  padding-bottom: 20px;
  margin-top: 45px;
  color: #757575;
  font-size: 14px;
}

.advertising {
  text-align: center;
  color: #757575;
  font-size: 14px;
  margin: 28px 0;
}

#f-top-new-border {
  margin-top: 10px;
}

.u_nbd_logo {
  float: left;
}

.u_nbd_column {
  float: left;
  margin-top: 8px;
}

.u-return-top {
  position: fixed;
  bottom: 10px;
  left: 50px;
  z-index: 999;
  height: 660px;
}

.u-return-top a {
  display: block;
  margin-bottom: 10px;
  position: relative;
  width: 90px;
}

.u-return-top .f-nbd-return {
  height: 60px;
  margin: 0 auto;
  width: 60px;
  position: absolute;
  left: 15px;
  bottom: 0;
  background: url(../image/return_top.png);
}

.u-return-top .f-nbd-return:hover {
  background: url(../image/return_top-h.png);
}

.f-nbd-er {
  position: absolute;
  left: -186px;
  top: -64px;
  display: none;
  z-index: 999;
}

.f-mobile-nbd {
  background: url(../image/m-nbd.png);
  height: 70px;
}

.f-mobile-nbd:hover {
  background: url(../image/m-nbd-h.png);
}

.f-mobile-nbd:hover .f-nbd-er {
  display: block;
}

.icon_theme+img {
  display: none;
}

#m-topimage {
  display: none;
}

/* 热榜 */
.rebang-cloumn li>a::before {
  display: none;

}

.rebang-cloumn .icon {
  width: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

.rebang-cloumn .normal-list span {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: inline-block !important;
  width: 78% !important;
}

.rebang-cloumn .normal-list a {
  padding-left: 0 !important;
}

.rebang-cloumn .normal-list a .icon {
  display: inline-block;
  background-size: 100% 100%;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  overflow: hidden;
  font-style: italic;

}



.rebang-cloumn .normal-list li a .icon {
  width: 25px;
  height: 20px;
  background-size: 100% 100% !important;
  text-indent: 1px !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAZCAMAAAB0BpxXAAAARVBMVEUAAAD6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzP6wzN3HoSwAAAAFnRSTlMA8K0m9dLDtKaWh3hpWUs8LR0RCOLhd560FgAAAIBJREFUOMuN00sOgCAUQ1HB/19A2f9SpegYbscnJSGvTU5rTSzE2PZ3mRXpJ22sxmZo6rCTc7GeW3AHcBKcAdwEewCv5DxwRoUHgKPgAuAqOAB4Jhc68N0hwRMUDnp5BXARHAE84EVEn9wFXK/CDcBZcAJwF3wAdPi6+V74AvmmX/KPSuIlhHYNAAAAAElFTkSuQmCC) no-repeat;
}

.rebang-cloumn .normal-list li a .icon.idx-1 {
  width: 40px;
  height: 20px;
  text-indent: 12px !important;
  background: url(../image/87a0693395540e80c10ed4f66b2ff695.png) no-repeat;
}

.rebang-cloumn .normal-list li a .icon.idx-2 {
  width: 40px;
  height: 20px;
  text-indent: 12px !important;
  background: url(../image/567e60a27b580a9b9bd8b100089d2c0d.png) no-repeat;
}

.rebang-cloumn .normal-list li a .icon.idx-3 {
  width: 40px;
  height: 20px;
  text-indent: 12px !important;
  background: url(../image/5b542e5b03b0a7d3d51797cfdc809074.png) no-repeat;
}

.rebang-cloumn .normal-list li {
  position: relative;
}

.rebang-cloumn .normal-list li a .tags {
  position: absolute;
  right: 0;
  font-size: 16px;
  top: 2px;
  padding: 3px;
  color: #fff;
  border-radius: 4px;
}

.rebang-cloumn .normal-list li a .tags.shang {
  background: #0983EA
}

.rebang-cloumn .normal-list li a .tags.re {
  background: #FF6732;
}

.rebang-cloumn .normal-list li a .tags.fei {
  background: #C1000B;
}

.rebang-cloumn .normal-list li a .tags.xin {
  background: #D4A240;
}