.PostArticle {
    border-radius: 4px;
}

.PostArticle ul {
    margin: 0 !important;
    padding: 0px !important;
    list-style-type: none;
}

.PostArticle li {
    list-style: none;
}

.PostArticle .Tabe {
    padding-bottom: 10px !important;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px !important;
}

.PostArticle .Tabe li {
    display: inline-block;
    cursor: pointer;
}

.PostArticle .Tabe li {
    margin: 0 20px 0 0 !important;
    position: relative;
    padding: 0px;
    font-size: 18px;
    font-weight: 500;
    overflow: visible;
}

.PostArticle .Tabe li:last-child {
    margin-right: 0 !important;
}

.PostArticle .Tabe li h3 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 18px !important;
}

.PostArticle .TabeCon ul {
    display: none;
}

.PostArticle .TabeCon li {
    font-size: 15px;
    line-height: 34px;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 1px dotted #e4e8eb;
}

.PostArticle .TabeCon li a {
    color: #2d2d2d;
}

.PostArticle .TabeCon li i {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    font-size: 12px;
    line-height: 24px;
    vertical-align: 2px;
    background: #e6e6e6;
    margin-right: 8px !important;
}

.PostArticle .TabeCon li i.num1 {
    background: #EEB74E;
    color: #fff
}

.PostArticle .TabeCon li i.num2 {
    background: #a7bdc8;
    color: #fff
}

.PostArticle .TabeCon li i.num3 {
    background: #e6ae92;
    color: #fff
}

.PostArticle .TabeCon .random li i {
    width: 6px;
    height: 6px;
    background: #d2d1d1;
}

.PostArticle .Tabe li.active .Tit {
    color: #f66;
}

.PostArticle .Tabe li.active .Tit:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -11px;
    left: 0;
    background: #f66;
}

/*标签*/
.zf_tags-box {
    display: inline-block;
    /*padding: 5px;*/
}

.zf_tags-box a {
    display: block;
    float: left;
    margin-bottom: 7px;
    color: #FFF !important;
    background: #FF6600;
    font-weight: 500;
    padding: 0px 12px;
    line-height: 30px;
    text-align: center;
    margin-right: 6px;
    opacity: .9;
}
.zf_tags-box a:after{
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:50px solid red;
}

.zf_tags-box a:nth-child(9n+1) {
    background: #5CB85C;
}

.zf_tags-box a:nth-child(9n+2) {
    background: #428BCA;
}

.zf_tags-box a:nth-child(9n+3) {
    background: #EEB74E;
}

.zf_tags-box a:nth-child(9n+4) {
    background: #D9534F;
}

.zf_tags-box a:nth-child(9n+5) {
    background: #567E95;
}

.zf_tags-box a:nth-child(9n+6) {
    background: #B433FF;
}

.zf_tags-box a:nth-child(9n+7) {
    background: #00ABA9;
}

.zf_tags-box a:nth-child(9n+8) {
    background: #B37333;
}

.zf_tags-box a:hover {
    opacity: 1;
    color: #F0F0EE !important;
    filter:alpha(opacity=100);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,0.7);
    -webkit-box-shadow:5px 5px 7px rgba(0,0,0,0.7);
    box-shadow:5px 5px 7px rgba(0,0,0,0.7);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
    -moz-transform:scale(1.1);
    z-index:3;
    text-decoration: none;
}

.zf_li-thumb-box{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: row;
}

.zf_thumb-box{
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    box-flex:1.0;
}
.zf_thumb{
    border: 1px solid #e5e5e5;
    padding: 2px;
    width: 48px;
    height: 48px;
}

.zf_font-box{
    -moz-box-flex:2.0; /* Firefox */
    -webkit-box-flex:2.0; /* Safari and Chrome */
    box-flex:2.0;
    width: 75%;
    margin-left: 10px;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}

.zf_xinxi-box{
    line-height: 15px;
    color: #999999;
    font-size: 12px;
    white-space: nowrap;
}

