.conr-box1{height: 98px;width: 320px;background: url('../image/dzbbar.jpg') no-repeat;background-size: cover;padding-top: 1px;}
.conr-title01{text-align: center;color:#4b342b;font-size: 1.5rem;margin: 25px 0 0 30px;font-weight: bold;}
.conr-dzblist{margin: 5px 0 0 35px;font-size: 1.3rem;}
.conr-box{width: 100%; height: auto;}
.conr-box-bg{position: relative;width: 100%; height: 34px;font-size: 1.5rem;background: url('../image/titlebar_1.jpg') no-repeat;border-bottom: 1px solid #000;
    margin-top: 10px;padding-top: 1px;}
.conr-title{color: white;width: 88px;height: 25px;line-height: 25px;text-align: center;}
.conr-more{position: absolute;font-size: 1.2rem;right: 5px;top: 10px;}

/* 焦点图片轮播图 */
.focus{position:relative;overflow:hidden;width:320px;height:220px;margin-top: 15px;}
.focus-content{position:relative;padding-left:0;list-style:none;height: 100%;}
.content-item{font-size: 0rem;height: 100%;}
.focus-content .content-item{float:left;position:relative;}
.focus-content .content-item .item-title{position:absolute;bottom:0px;width:100%;font-size: 1.2rem;height:30px;line-height:30px;text-align:center;background:#000;filter:alpha(opacity=50);background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.focus-content .content-item .item-title .title-text{position:relative;}
.focus-page{position:absolute;bottom:30px;right:3px;}
.focus-page .page-num{padding:0 5px;background:#666;}
.focus-page .curr{background:#cc0000;}
a.focusa{color:#fff;}
a.focusa:hover{color:#ffff00;}
.focus-page a{color: #fff;}
.slideBox{ width:318px;height:190px; overflow:hidden; position:relative; margin-top:10px;border:1px solid #ddd;  }
.slideBox .hd{ height:20px; overflow:hidden; position:absolute; right:5px; bottom:34px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  padding:0 5px;box-sizing: border-box; height:20px; line-height:20px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#cc0000; color:#fff; }
.slideBox .bd ul li .item-title{position:absolute;bottom:0px;width:100%;font-size: 1.2rem;height:30px;line-height:30px;text-align:center;background:#000;filter:alpha(opacity=50);background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.slideBox .bd ul li .item-title .title-text{position:relative;color:#fff;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:100%; height:100%; display:block;  }
/* 轮播图 */

.channel-con-li li{height:25px;line-height: 25px;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.conr-zt-list {width: 100%;height: auto;padding: 0px;margin-top: 10px;}
.conr-zt-list img{}
/*便民查询*/
#bmcx{margin-top:10px;}
#bmcx ul li{height: 28px;
    line-height: 28px;
    color: #4b650a;
    background:#edefe9;
    margin-bottom: 2px;
    padding-left:10px;}
#bmcx ul li span{
	display: inline-block;
    float: left;
    height: 100%;
    width: 28px;
    text-align: center;
    line-height: 24px;
    width:9px;
    height:9px;
    font-size: 2rem;
    background:#8CB400;
    color: #8CB400;
    margin:11px 8px 0 0;
}
#bmcx ul li a{color:#252525;}
#bmcx ul li a:hover{color:#ff0000;}
