
/* CSS Document */

/*视频页*/
.renturn{height: 60px;}
.renturn a{font-size: 18px; line-height: 60px; height: 60px;}

.sp-l{width:1100px; height: auto; overflow: hidden; float: left;}
.spl-top{width:817px; height: 420px; overflow: hidden; position: relative; float: left;}
.spl-top img{width:817px;height: 420px;position: absolute;top:0px;left: 0px;}
.spl-top p{width:817px;height: 80px;position: absolute;bottom:0px;left: 0px;background: url(../image/yy-bgblack-2020616.png) repeat; color: #fff; font-size: 18px; line-height: 80px;}
.spl-top p span{display: block;width:auto;height: auto;background: url(../image/yy-spred-20200619.png) no-repeat center left;padding-left:45px;margin-left: 25px;}

.sp-ul0{width:255px;height: auto;float: right;overflow: hidden;}
.sp-ul0 ul{width:1200px;}
.sp-ul0 ul li{width:255px;height:197px; margin-bottom: 25px; position: relative;}
.sp-ul0 ul li img{width:255px; height:162px; }
.sp-ul0 ul li i{display:block;width:255px;height:162px; background: url(../image/yy-spbf-20200618.png) no-repeat center; position: absolute; top: 0px;left: 0px;}
.sp-ul0 ul li p{display:block; padding:0px 10px; height: 35px; line-height: 35px; font-size: 16px; background: #f8f8f8; }



.sp-r{width:1100px;height: auto;overflow: hidden;}
.sp-r ul{width:1200px;}
.sp-r ul li{width:255px;height:197px;float: left;margin-right: 26px;margin-bottom: 25px;position: relative;}
.sp-r ul li i{display:block;width:255px;height:162px; background: url(../image/yy-spbf-20200618.png) no-repeat center; position: absolute; top: 0px;left: 0px;}
.sp-r ul li p{display:block; padding:0px 10px; height: 35px; font-size: 16px; background: #f8f8f8; }



.spimg-more ul{width: 1200px;}
.spimg-more ul li{width: 263px;height: 438px;float: left;position: relative;margin-bottom: 25px;margin-left: 12px;}
.spimg-more ul li img{width: 263px;height: 403px;float: left;}
.spimg-more ul li i{display:block;width: 263px; height: 403px; background: url(../image/yy-spbf-20200618.png) no-repeat center; position: absolute; top: 0px;left: 0px;}
.spimg-more ul li p{display:block; padding:0px 10px; height: 35px;font-size: 16px;}


/*视频2*/
.spbf_q{}
.spbf_q img{width: 1100px; height: 670px;}
.spbf_q h2{display:block; width: 100%; height: auto; font-size: 24px; text-align: left; font-weight: bold; line-height: 40px; overflow: hidden; padding-top: 10px;}
.spbf_q p{width: 1100px; height: auto; overflow: hidden;font-size: 14px;line-height: 22px; padding: 10px 0px;}
.spbf_q span{display:block; float: right; width: auto; height: auto; font-size: 14px; margin:0px 5px;  }
.spbf_q span:nth-child(3n+0){color:#BFBDBD;}

/*bt*/
.yybt2{border-bottom: 1px solid #cccccc;}
.yybt2 h2{font-size:20px;}
.yybt2 h2 a{border-bottom: 3px solid #3c8eb3; display: inline-block; line-height: 35px;font-size:18px;}

.aboutnews{}
.aboutnews ul{width:1200px;margin-top: 20px;}
.aboutnews ul li{width:204px;height: auto;float: left;position: relative;margin-bottom: 25px;margin-right: 20px;}
.aboutnews ul li img{width:204px; height: 126px;}
.aboutnews  ul li i{display:block;width:204px; height: 126px; background: url(../image/yy-spbf-20200618.png) no-repeat center; position: absolute; top: 0px;left: 0px; background-size: auto 35%;}
.aboutnews  ul li p{display:block; padding:0px 10px; height: auto; font-size: 16px;line-height:26px;}
video {object-fit: contain;}



/* 新闻列表 */
.rain_list { width: 1100px; height: auto;}
.rain_list ul { margin-top: 10px;border-bottom: 1px solid #b5b6b6; }
.rain_list li { width: 100%; height: auto; padding: 15px 0; border-top: 1px solid #b5b6b6; position: relative;}
.rain_list li img {width: 150px;/* height: 87px; */margin: 0 25px 0 10px;float: left;}
.rain_list li a.rain_tit { width: 865px; height: auto; font-size: 20px; color: #221815; margin: 8px 0; line-height: 24px; display: block; float: left;}
.rain_list li span { width: 865px; height: auto; font-size: 12px; line-height: 20px; color: #595757; display: block; float: left;}
.rain_time {position: absolute;right: 10px;bottom:10px;font-size: 12px;color: #b5b5b6;}

/*分页*/
.smy_topage
{
	margin-top: 25px;
	display: inline-block;
}

.smy_topage a
{
	background: #fff;
	border: 1px solid #ccc;
	height: 30px;
	display: inline-block;
	color: #666666;
	padding: 0 10px;
	float: left;
	text-align: center;
	line-height: 32px;
	margin: 0 6px;
}

.smy_topage a:hover
{
	background: #034da2;
	border: 1px solid #496cfe;
	color: #fff;
	text-decoration: none;
}

.smy_topage span
{
	background: #fff;
	border: 1px solid #ccc;
	height: 30px;
	display: inline-block;
	color: #c2c2c2;
	padding: 0 10px;
	float: left;
	text-align: center;
	line-height: 32px;
	margin: 0 6px;
}
.rain_list h1 a { color:#222;}
.rain_head_nav ul { width:1110px;}




/* 三级页 */
.rain_article {width: 900px;padding: 0 80px;margin: 20px auto;position: relative;}
.rain_article .rain_position { width: 100%; height: 30px; line-height: 30px; text-align: right; color: #595757; margin-bottom: 20px;}
.rain_title {width: 100%;height: auto;border-bottom: 1px solid #b5b6b6;padding-bottom: 10px;overflow: hidden;}
.rain_title a.rain_tit { font-size: 24px; font-weight: bold; color: #221815; display: block; margin-bottom: 30px; text-align: center;}
.rain_ly,.rain_title i { font-size: 14px; color: #221815;}
.rain_title i {font-style: normal; margin: 0 5px; float: left;}
.rain_art_time { font-size: 12px; color: #898989; }
.rain_comments { color: #898989; font-size: 14px; padding-left: 20px; float: right; background: url(../image/rain_comments.jpg) left center no-repeat;}
.rain_main {margin-top: 20px;width: 100%;height: auto;font-size: 16px;}
.rain_main img { max-width: 100%; height: auto;}
.rain_main p { margin: 10px 0;}
.rain_main p,.rain_main span,.rain_main a,.rain_main div { color: #221815; line-height: 24px;}
.rain_about_news { width: 1060px; height: auto; margin: 10px auto 40px;}
.rain_about_news h1 { width: 100%; height: 34px; background: url(../image/rain_righth1.jpg) bottom repeat-x;}
.rain_about_news h1 a.rain_tit { display: inline-block; color: #221815; font-size: 20px; line-height: 32px; height: 32px; border-bottom: 2px solid #4697b8; float: left;}

.rain_about_news ul { width: 100%; height: auto; padding:15px 0 20px 0; border-bottom: 1px solid #b5b6b6;}
.rain_about_news ul li { width: 195px; height: 150px; float: left; margin-right: 21px; text-align: center;}
.rain_about_news ul li img { width: 195px; height: 120px;}
.rain_about_news ul li span { font-size: 14px; color: #221815; line-height: 30px;}
.rain_about_news ul li span:hover { color: #005182; text-decoration: underline;}
.yyfxy { width: 30px; height: auto; position: absolute; right: 20px; bottom: 10px; text-align: center;}
.rain_share { display: inline-block; line-height: 30px; width: 30px; height: 30px; font-size: 14px; color: #221815;}
.yyfxy a { width: 24px!important; height: 24px!important; _height:24px!important; display: block; margin: 0 auto 8px!important; padding: 0!important;}
.bshare-qzone { background: url(../image/rain_qzone.jpg) no-repeat!important;}
.bshare-qqmb { background: url(../image/rain_qqmb.jpg) no-repeat!important;}
.rain_aut { display: block; text-align: right; font-size: 14px; color: #221815; margin-top: 20px;}
.rain_aut span { margin-left: 10px; font-weight: bold;}

/* CSS Document */

/*视频页*/
.renturn{height: 60px;}
.renturn a{font-size: 18px; line-height: 60px; height: 60px;}

.sp-l{width:1100px; height: auto; overflow: hidden; float: left;}
.spl-top{width:817px; height: 420px; overflow: hidden; position: relative; float: left;}
.spl-top img{width:817px;height: 420px;position: absolute;top:0px;left: 0px;}
.spl-top p{width:817px;height: 80px;position: absolute;bottom:0px;left: 0px;background: url(../image/yy-bgblack-2020616.png) repeat; color: #fff; font-size: 18px; line-height: 80px;}
.spl-top p span{display: block;width:auto;height: auto;background: url(../image/yy-spred-20200619.png) no-repeat center left;padding-left:45px;margin-left: 25px;}

.sp-ul0{width:255px;height: auto;float: right;overflow: hidden;}
.sp-ul0 ul{width:1200px;}
.sp-ul0 ul li{width:255px;height:197px; margin-bottom: 25px; position: relative;}
.sp-ul0 ul li img{width:255px; height:162px; }
.sp-ul0 ul li i{display:block;width:255px;height:162px; background: url(../image/yy-spbf-20200618.png) no-repeat center; position: absolute; top: 0px;left: 0px;}
.sp-ul0 ul li p{display:block; padding:0px 10px; height: 35px; line-height: 35px; font-size: 16px; background: #f8f8f8; }



.sp-r{width:1100px;height: auto;overflow: hidden;}
.sp-r ul{width:1200px;}
.sp-r ul li{width:255px;height:197px;float: left;margin-right: 26px;margin-bottom: 25px;position: relative;}
.sp-r ul li i{display:block;width:255px;height:162px; background: url(../image/yy-spbf-20200618.png) no-repeat center; position: absolute; top: 0px;left: 0px;}
.sp-r ul li p{display:block; padding:0px 10px; height: 35px; font-size: 16px; background: #f8f8f8; }



.spimg-more ul{width: 1200px;}
.spimg-more ul li{width: 263px;height: 438px;float: left;position: relative;margin-bottom: 25px;margin-left: 12px;}
.spimg-more ul li img{width: 263px;height: 403px;float: left;}
.spimg-more ul li i{display:block;width: 263px; height: 403px; background: url(../image/yy-spbf-20200618.png) no-repeat center; position: absolute; top: 0px;left: 0px;}
.spimg-more ul li p{display:block; padding:0px 10px; height: 35px;font-size: 16px;}


/*视频2*/
.spbf_q{}
.spbf_q img{width: 1100px; height: 670px;}
.spbf_q h2{display:block; width: 100%; height: auto; font-size: 24px; text-align: left; font-weight: bold; line-height: 40px; overflow: hidden; padding-top: 10px;}
.spbf_q p{width: 1100px; height: auto; overflow: hidden;font-size: 14px;line-height: 22px; padding: 10px 0px;}
.spbf_q span{display:block; float: right; width: auto; height: auto; font-size: 14px; margin:0px 5px;  }
.spbf_q span:nth-child(3n+0){color:#BFBDBD;}

/*bt*/
.yybt2{border-bottom: 1px solid #cccccc;}
.yybt2 h2{font-size:20px;}
.yybt2 h2 a{border-bottom: 3px solid #3c8eb3; display: inline-block; line-height: 35px;font-size:18px;}

.aboutnews{}
.aboutnews ul{width:1200px;margin-top: 20px;}
.aboutnews ul li{width:204px;height: auto;float: left;position: relative;margin-bottom: 25px;margin-right: 20px;}
.aboutnews ul li img{width:204px; height: 126px;}
.aboutnews  ul li i{display:block;width:204px; height: 126px; background: url(../image/yy-spbf-20200618.png) no-repeat center; position: absolute; top: 0px;left: 0px; background-size: auto 35%;}
.aboutnews  ul li p{display:block; padding:0px 10px; height: auto; font-size: 16px;line-height:26px;}
video {object-fit: contain;}



/* 新闻列表 */
.rain_list { width: 1100px; height: auto;}
.rain_list ul { margin-top: 10px;border-bottom: 1px solid #b5b6b6; }
.rain_list li { width: 100%; height: auto; padding: 15px 0; border-top: 1px solid #b5b6b6; position: relative;}
.rain_list li img {width: 150px;/* height: 87px; */margin: 0 25px 0 10px;float: left;}
.rain_list li a.rain_tit { width: 865px; height: auto; font-size: 20px; color: #221815; margin: 8px 0; line-height: 24px; display: block; float: left;}
.rain_list li span { width: 865px; height: auto; font-size: 12px; line-height: 20px; color: #595757; display: block; float: left;}
.rain_time {position: absolute;right: 10px;bottom:10px;font-size: 12px;color: #b5b5b6;}

/*分页*/
.smy_topage
{
	margin-top: 25px;
	display: inline-block;
}

.smy_topage a
{
	background: #fff;
	border: 1px solid #ccc;
	height: 30px;
	display: inline-block;
	color: #666666;
	padding: 0 10px;
	float: left;
	text-align: center;
	line-height: 32px;
	margin: 0 6px;
}

.smy_topage a:hover
{
	background: #034da2;
	border: 1px solid #496cfe;
	color: #fff;
	text-decoration: none;
}

.smy_topage span
{
	background: #fff;
	border: 1px solid #ccc;
	height: 30px;
	display: inline-block;
	color: #c2c2c2;
	padding: 0 10px;
	float: left;
	text-align: center;
	line-height: 32px;
	margin: 0 6px;
}
.rain_list h1 a { color:#222;}
.rain_head_nav ul { width:1110px;}




/* 三级页 */
.rain_article {width: 900px;padding: 0 80px;margin: 20px auto;position: relative;}
.rain_article .rain_position { width: 100%; height: 30px; line-height: 30px; text-align: right; color: #595757; margin-bottom: 20px;}
.rain_title {width: 100%;height: auto;border-bottom: 1px solid #b5b6b6;padding-bottom: 10px;overflow: hidden;}
.rain_title a.rain_tit { font-size: 24px; font-weight: bold; color: #221815; display: block; margin-bottom: 30px; text-align: center;}
.rain_ly,.rain_title i { font-size: 14px; color: #221815; }
.rain_title i {font-style: normal; margin: 0 5px; float: left;}
.rain_art_time { font-size: 12px; color: #898989; }
.rain_comments { color: #898989; font-size: 14px; padding-left: 20px; float: right; background: url(../image/rain_comments.jpg) left center no-repeat;}
.rain_main {margin-top: 20px;width: 100%;height: auto;font-size: 16px;}
.rain_main img { max-width: 100%; height: auto;}
.rain_main p { margin: 10px 0;}
.rain_main p,.rain_main span,.rain_main a,.rain_main div { color: #221815; line-height: 24px;}
.rain_about_news { width: 1060px; height: auto; margin: 10px auto 40px;}
.rain_about_news h1 { width: 100%; height: 34px; background: url(../image/rain_righth1.jpg) bottom repeat-x;}
.rain_about_news h1 a.rain_tit { display: inline-block; color: #221815; font-size: 20px; line-height: 32px; height: 32px; border-bottom: 2px solid #4697b8; float: left;}

.rain_about_news ul { width: 100%; height: auto; padding:15px 0 20px 0; border-bottom: 1px solid #b5b6b6;}
.rain_about_news ul li { width: 195px; height: 150px; float: left; margin-right: 21px; text-align: center;}
.rain_about_news ul li img { width: 195px; height: 120px;}
.rain_about_news ul li span { font-size: 14px; color: #221815; line-height: 30px;}
.rain_about_news ul li span:hover { color: #005182; text-decoration: underline;}
.yyfxy { width: 30px; height: auto; position: absolute; right: 20px; bottom: 10px; text-align: center;}
.rain_share { display: inline-block; line-height: 30px; width: 30px; height: 30px; font-size: 14px; color: #221815;}
.yyfxy a { width: 24px!important; height: 24px!important; _height:24px!important; display: block; margin: 0 auto 8px!important; padding: 0!important;}
.bshare-qzone { background: url(../image/rain_qzone.jpg) no-repeat!important;}
.bshare-qqmb { background: url(../image/rain_qqmb.jpg) no-repeat!important;}
.rain_aut { display: block; text-align: right; font-size: 14px; color: #221815; margin-top: 20px;}
.rain_aut span { margin-left: 10px; font-weight: bold;}
.yyfxy a {width: 24px!important;height: 24px!important;_height:24px!important;display: block;margin: 0 auto 8px!important;padding: 0!important;background-size: 100% 100% !important;}




















/*yanyan手机适配*/
@media (max-width:768px){
.renturn{height:1.3rem; padding-left: 5%; width: 90%;}
.renturn a{font-size: 0.45rem; line-height: 1.3rem; height: 1.3rem; display: inline-block;}	

.sp-l,.sp-ul0{width:100%; float:none;}
.spl-top{width:90%;height: 5.1rem; margin-left: 5%;}
.spl-top img{width:100%;height: 5.1rem;}
.spl-top p{width:100%;height:1rem; font-size: 0.4rem; line-height:1rem;}
.spl-top p span{padding-left: 6%;margin-left: 3%;height:1rem;background-size: auto 35%;}

.sp-ul0{width:100%;height: auto;float: right;overflow: hidden;}
.sp-ul0 ul{width:100%;}
.sp-ul0 ul li{width:42.5%;height:3.7rem; margin-bottom:0px; float: left; margin-left: 5%; margin-top: 5%;}
.sp-ul0 ul li img{width:100%; height:2.7rem; }
.sp-ul0 ul li i{width:100%;height:2.7rem;background-size: auto 45%;}
.sp-ul0 ul li p{height:1rem; line-height: 1rem; font-size: 0.4rem;}



.sp-r,.sp-r ul{width:100%;}
.sp-r ul li{width:42.5%;height:3.7rem; margin-bottom:5%; float: left; margin-left: 5%;  margin-right: 0px;}
.sp-r ul li i{width:100%;height:2.7rem;background-size: auto 45%;}
.sp-r ul li img{width:100%; height:2.7rem; }	
.sp-r ul li p{height:1rem; line-height: 1rem; font-size: 0.4rem;}



.spimg-more ul{width:100%;}
.spimg-more ul li{width:42.5%;height: 7.5rem;margin-bottom:5%;margin-left:5%;}
.spimg-more ul li img{width:100%;height: 6.5rem;float: left;}
.spimg-more ul li i{width:100%;height:6.5rem;background-size: auto 25%;}
.spimg-more ul li p{height:1rem; line-height: 1rem; font-size: 0.4rem;}
	
	
/*视屏详情页*/	
	
.spbf_q{width: 90%; margin-left: 5%; }
.spbf_q img{display: none;}
.spbf_q h2{font-size:0.5rem; line-height: 0.6rem;}	
.spbf_q p{font-size: 0.4rem;line-height: 0.6rem; text-align: justify; width: 100%;}
.spbf_q span{font-size: 0.35rem; }	
	
/*bt*/
.yybt2{border-bottom: 1px solid #cccccc; width: 90%; margin-left: 5%; height: auto;overflow: hidden;}
.yybt2 h2{font-size:0.5rem;font-weight: bold; display: block; height: auto;overflow: hidden;line-height: 0.2rem;}
.yybt2 h2 a{line-height: 1.2rem;}

.aboutnews{}
.aboutnews ul{width:100%;}
.aboutnews ul li{width:42.5%;height: 4rem;margin-bottom:5%;margin-left:5%; margin-right: 0px;}
.aboutnews ul li img{width:100%;height: 3rem;float: left;}
.aboutnews ul li i{width:100%;height:3rem;background-size: auto 40%;}
.aboutnews ul li p{height:1rem; line-height: 1rem; font-size: 0.4rem;}
.aboutnews ul li:last-child{display: none;}	
	

	
	

/* 新闻列表 */
.rain_list { width:90%; margin-left: 5%;}
.rain_list ul {width: 100%; }
.rain_list li { width: 100%; height: auto; padding: 15px 0; border-top: 1px solid #b5b6b6; position: relative;}
.rain_list li img {width:100%;height:4.5rem;margin: 0px;}
.rain_list li a.rain_tit { width:100%; font-size:0.45rem;  line-height: 0.6rem; }
.rain_list li span { width: 100%; font-size:0.4rem; line-height: 0.55rem; text-align: justify;}
.rain_time {font-size: 0.35rem;position: static;float: right; padding-top: 1%}	
	
	
	
/*新闻详情页*/	
.rain_con{width:100%;}	
.rain_article{width:90%;margin: 0px;margin-left: 5%;position: static; padding: 0px;}	
.rain_title a.rain_tit{font-size: 0.55rem; margin-bottom: 5%;}	
.rain_ly, .rain_title i	{font-size: 0.35rem; margin-bottom: 5%;}
.rain_title	{ padding: 0px;}
.rain_main{font-size: 0.4rem;}
.rain_main p{text-align: justify;}
.bshare-custom {display:none;}	
}












































/*yanyan手机适配*/
@media (max-width:768px){
.renturn{height:1.3rem; padding-left: 5%; width: 90%;}
.renturn a{font-size: 0.45rem; line-height: 1.3rem; height: 1.3rem; display: inline-block;}	

.sp-l,.sp-ul0{width:100%; float:none;}
.spl-top{width:90%;height: 5.1rem; margin-left: 5%;}
.spl-top img{width:100%;height: 5.1rem;}
.spl-top p{width:100%;height:1rem; font-size: 0.4rem; line-height:1rem;}
.spl-top p span{padding-left: 6%;margin-left: 3%;height:1rem;background-size: auto 35%;}

.sp-ul0{width:100%;height: auto;float: right;overflow: hidden;}
.sp-ul0 ul{width:100%;}
.sp-ul0 ul li{width:42.5%;height:3.7rem; margin-bottom:0px; float: left; margin-left: 5%; margin-top: 5%;}
.sp-ul0 ul li img{width:100%; height:2.7rem; }
.sp-ul0 ul li i{width:100%;height:2.7rem;background-size: auto 45%;}
.sp-ul0 ul li p{height:1rem; line-height: 1rem; font-size: 0.4rem;}



.sp-r,.sp-r ul{width:100%;}
.sp-r ul li{width:42.5%;height:3.7rem; margin-bottom:5%; float: left; margin-left: 5%;  margin-right: 0px;}
.sp-r ul li i{width:100%;height:2.7rem;background-size: auto 45%;}
.sp-r ul li img{width:100%; height:2.7rem; }	
.sp-r ul li p{height:1rem; line-height: 1rem; font-size: 0.4rem;}



.spimg-more ul{width:100%;}
.spimg-more ul li{width:42.5%;height: 7.5rem;margin-bottom:5%;margin-left:5%;}
.spimg-more ul li img{width:100%;height: 6.5rem;float: left;}
.spimg-more ul li i{width:100%;height:6.5rem;background-size: auto 25%;}
.spimg-more ul li p{height:1rem; line-height: 1rem; font-size: 0.4rem;}
	
	
/*视屏详情页*/	
	
.spbf_q{width: 90%; margin-left: 5%; }
.spbf_q img{display: none;}
.spbf_q h2{font-size:0.5rem; line-height: 0.6rem;}	
.spbf_q p{font-size: 0.4rem;line-height: 0.6rem; text-align: justify; width: 100%;}
.spbf_q span{font-size: 0.35rem; }	
	
/*bt*/
.yybt2{border-bottom: 1px solid #cccccc; width: 90%; margin-left: 5%; height: auto;overflow: hidden;}
.yybt2 h2{font-size:0.5rem;font-weight: bold; display: block; height: auto;overflow: hidden;line-height: 0.2rem;}
.yybt2 h2 a{line-height: 1.2rem;}

.aboutnews{}
.aboutnews ul{width:100%;}
.aboutnews ul li{width:42.5%;height: 4rem;margin-bottom:5%;margin-left:5%; margin-right: 0px;}
.aboutnews ul li img{width:100%;height: 3rem;float: left;}
.aboutnews ul li i{width:100%;height:3rem;background-size: auto 40%;}
.aboutnews ul li p{height:1rem; line-height: 1rem; font-size: 0.4rem;}
.aboutnews ul li:last-child{display: none;}	
	

	
	

/* 新闻列表 */
.rain_list { width:90%; margin-left: 5%;}
.rain_list ul {width: 100%; }
.rain_list li { width: 100%; height: auto; padding: 15px 0; border-top: 1px solid #b5b6b6; position: relative;}
.rain_list li img {width:100%;height:4.5rem;margin: 0px;}
.rain_list li a.rain_tit { width:100%; font-size:0.45rem;  line-height: 0.6rem; }
.rain_list li span { width: 100%; font-size:0.4rem; line-height: 0.55rem; text-align: justify;}
.rain_time {font-size: 0.35rem;position: static;float: right; padding-top: 1%}	
	
	
	
/*新闻详情页*/	
.rain_con{width:100%;}	
.rain_article{width:90%;margin: 0px;margin-left: 5%;position: static; padding: 0px;}	
.rain_title a.rain_tit{font-size: 0.55rem; margin-bottom: 5%;}	
.rain_ly, .rain_title i	{font-size: 0.35rem; margin-bottom: 5%;}
.rain_title	{ padding: 0px;}
.rain_main{font-size: 0.4rem;}
.rain_main p{text-align: justify;}
.bshare-custom {display:none;}	
}



.yyfxy a {width: 24px!important;height: 24px!important;_height:24px!important;display: block;margin: 0 auto 8px!important;padding: 0!important;background-size: 100% 100% !important;}



















