
dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td{ margin:0px; padding:0px; font-weight:normal; }
body{ width:inherit; background:url(../image/top-nav-news.png) repeat-x 0 -550px; margin:0; padding:0;}
ul, li {
list-style: none;
}
h2 {
margin: 0px;
padding: 0px;
font-size: 14px;
font-weight: bold;
}
	
.cms_head{width:1000px; margin:0 auto;}
.top_nav_wrap{ width:100%; height:53px;}
.top_nav_wrap .fl{ float:left;}
.top_nav_wrap .fr{ float:right;}
.cms_head_main{ display:block;}

#top_nav{position:relative; z-index: 500;  height:52px; text-align:left; border-bottom:solid 1px #E7E7E7; background:#F7F7F7; font-size:14px;}
#top_nav a{color:#676767; outline:0;text-decoration:none;}
#top_nav a:hover{color:#f60;text-decoration:underline;outline:0;}
#top_nav strong{font-weight:400;}
#top_nav .top-nav-logo{ float:right; display:inline-block;width:100px; height:50px;}
#top_nav .top-nav-logo a{margin:2px 0 0 10px;display:block;width:90px;height:42px;background:url(../image/top-nav-news.png) no-repeat -2px -200px;}

#top_user_menu{ width: 300px;}
#top_nav .top-nav-fr{ position:absolute; right:0;}
#top_nav .top-nav-fr,#top_nav .top-nav-fr .top-nav-menu-list{float:right; }
#top_nav .top-nav-main{height:52px}
#top_nav .top-nav-menu{height:52px}
#top_nav .top-nav-menu-list li.top-nav-menu-li,#top_nav .top-nav-menu-list li .top-ico-user-setting,#top_nav .top-nav-menu-list li .top-ico-user-phone{background:url(../image/top-nav-news.png) no-repeat 0 0;}
#top_nav .top-nav-menu-list{color:#656565}
#top_nav .top-nav-menu-list li.top-nav-menu-li{float:left;height:52px;color:#676767;background-position:-39px 20px}
#top_nav .top-nav-menu-list li.top-nav-menu-li-first{background:0}
#top_nav .top-nav-menu-list li .top-nav-user-menu,#top_nav .top-nav-menu-list li a.top-nav-main-menu,#top_nav .top-nav-menu-list li span.top-nav-main-menu{display:inline-block;height:16px;line-height:16px;padding:18px 10px;color:#5E5E5E;cursor:pointer}
#top_nav .top-nav-menu-list li a.top-nav-main-menu,#top_nav .top-nav-menu-list li span.top-nav-main-menu{font-size:14px}
#top_nav .top-nav-menu-list li a.top-nav-main-menu:hover,#top_nav .top-nav-menu-list li a.top-nav-user-menu:hover{text-decoration:underline;color:#f60}
#top_nav .top-nav-menu-list li a.on,#top_nav .top-nav-menu-list li span.on{text-decoration:none;font-weight:700;color:#2965B1}
#top_nav .top-nav-menu-list li span.on{background-color:#EBEBEB;font-weight:400}
#top_nav .top-nav-menu-list li .top-ico-user-setting{display:inline-block;width:15px;height:15px;background-position:0 -50px;cursor:pointer}
#top_nav .top-nav-menu-list li .top-ico-user-phone{display:inline-block;width:10px;height:15px;background-position:-20px -50px}


#top_nav .more-view{display:none;position:absolute;background:#fff;box-shadow:0 2px 3px rgba(0,0,0,.1);margin-top:52px;}
#top_nav ul.link-list{border:solid 1px #DADADA; background:#fff; font-size: 12px;}
#top_nav ul.link-list li{clear:both;width:100%}
#top_nav ul.link-list li.li-border-btm{border-bottom:solid 1px #E7E7E7}
#top_nav ul.link-list li a{display:block;width:100%;_width:100%;line-height:30px;color:#5E5E5E;text-indent:10px}
#top_nav ul.link-list li a:hover{background:#F5F5F5;text-decoration:none}
#top_nav ul.link-list li a .red{color:red}


#top_nav #top_nav_set_view{width:80px; margin-left:-45px;}
#top_nav .top-nav-menu-li-other:hover #top_nav_set_view{display:block;}
#top_nav .top-nav-menu-li-other:hover #top_nav_set{ background-color:#EBEBEB}
#top_nav .top-nav-menu-li-more:hover #top_nav_menu_more{ background-color:#EBEBEB}
#top_nav .top-nav-menu-li-more:hover i{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);-webkit-transition:all .2s ease 0s;-moz-transition:all .2s ease 0s;-o-transition:all .2s ease 0s;transition:all .2s ease 0s}
#top_nav .top-nav-menu-li-more:hover #top_nav_menu_more_view{display:block;}

html{_background-image:url(about:blank);_background-attachment:fixed}

/*新闻频道*/
.newsNav:after {content: '.';
display: block;
visibility: hidden;
clear: both;
height: 0px; }
.newsNav .hn_logo{ width:210px; height:80px; float:left; display:inline;}
.newsNav .hn_logo .l{ position:absolute; margin-top:10px; border-right:#eee 1px solid; padding-right:10px;}
.newsNav .hn_logo .l a{ width:80px; height:60px; display:block; background:url(../image/top-nav-news.png) no-repeat 0 -400px;}
.newsNav .hn_logo a{ float:left; display:inline-block;}
.newsNav .hn_logo h2{ margin-left:100px; font-size:20px; float:none; line-height:24px;}
.newsNav .hn_logo h2 a{ float: left; margin-left:10px; font-family:"微软雅黑","黑体"; padding-top:20px; text-decoration:none; color:#000;}
.newsNav .hn_logo h2 a:hover{ color:#f00;}
.newsNav .hn_logo p{ float: left; margin:0 0 0 110px; line-height:20px;  font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#c6c6c6;}
.newsNav .fr{ padding:10px 0 9px 0; float: right; display: inline;}
.newsNav .fr>ul{ height:30px;}
.newsNav .fr>ul>li,.newsNav .fr>ul>span>li{ float:left; height:30px;font-size:12px; position:relative;}
.newsNav .fr>ul>li>a,.newsNav .fr>ul>span>li>a{ text-decoration:none; line-height:30px; margin-right:20px; color:#666666;}
.newsNav .fr>ul>li>a:hover,.newsNav .fr>ul>span>li>a:hover{ color:#f00;}

.newsNav .chanel{ border-bottom:#eee 1px solid;}
.newsNav ul.chanel li.xwzxLi{ display:none;}

.plate_title{ display:none}
.newsNav .plate .more>a{ position:relative; padding-right:20px; margin-right:10px;}
.newsNav .plate .more>a .arrow{ position:absolute; display:block;  width:16px; height:16px; top:0px; right:0; background:url(../image/top-nav-news.png) no-repeat 0 -500px;
-webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: all 0.25s ease 0s;
      -moz-transition: all 0.25s ease 0s;
      -o-transition: all 0.25s ease 0s;
      transition: all 0.25s ease 0s;} 
.newsNav .plate .more:hover .arrow{ 
  -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: all 0.25s ease 0s;
      -moz-transition: all 0.25s ease 0s;
      -o-transition: all 0.25s ease 0s;
      transition: all 0.25s ease 0s; }	  
	  
.newsNav .plate .more #moreCity{ display:none; position:absolute; top:30px; right:0; width:320px; padding:10px 0 10px 10px; height:auto; border:#CCC 1px solid; background:#FFF; z-index: 100;}
.newsNav .plate .more #moreCity li{ float:left; font-size:13px; line-height:24px; width:45px; text-indent:5px;}
.newsNav .plate .more #moreCity li.last{ width:90px;}
.newsNav .plate .more #moreCity li a{ color:#333; text-decoration:none;}
.newsNav .plate .more #moreCity li a:hover{ color:#f00;}
.newsNav .plate .more:hover #moreCity{ display:block;}


/*广告*/
#cms_head .ad{ margin:10px auto; width:100%;}
#cms_head .ad img {
     width:100%;
     height:auto;
}



/*新闻频道*/
.newsType{ height:40px;  border-bottom:#E63301 3px solid; padding-bottom:5px; }
.newsType_title{ display:none;}
.newsType_search{ float:right; width:4%; position:relative; height:40px; background:#F7F7F7;}
.newsType_search label{ display:none; position: absolute; color: #666; line-height: 28px; font-size: 12px; margin: 5px 0 0 20px;}
.newsType_search .btn{ display:block; position:absolute; right:0px; width:38px; height:40px; text-indent:-200px; overflow:hidden; background:url(../image/search_mob.png) center no-repeat #F7F7F7;}
.newsType_search .btn:hover{ background-color:#eee;}
.newsType_search .btn2{ display:none; position:absolute; top:0; right:0px; width:35px; border:none; cursor:pointer;   background-color:inherit;}
.newsType_search .btn2:hover{background-color:inherit;}
.newsType_search .newsSearch{ width:10%; border:none; background:#fff; line-height:28px; margin-top:5px; float:right; padding-right:10%; margin-right:5px; text-indent:5px; font-size:12px; overflow:hidden;}

.newsType  ul{ float:left; width:96%; background:#F7F7F7;}
.newsType  li{ float:left; width:5.8%; text-align:center;}
.newsType  li a{ line-height:40px; color:#333; text-decoration:none; font-size:14px;}
.newsType  li a:hover{ color:#F00;}
.newsType input{ }

/*新闻频道end*/




/*隐藏移动端元素*/
.new-focus-nav-list-title,.bbs-area-list-title,.bbs-area li span,.mob_top_bar{ display:none;}
.cms_template_document{ width:1000px; margin:0 auto;}

/*移动端搜索模块弹出*/
.btnSerach_mob{ display:none;}



@media screen and (min-width: 1000px){
	.cms_head{width:1000px;}
	
	
}

@media screen and (min-width: 900px)  and (max-width: 999px){
	.cms_head,.cms_template_document{width:100%;}
}
@media screen  and  (min-width: 800px)  and  (max-width: 899px){
	.cms_head,.cms_template_document{width:100%;}
	.newsNav .fr>ul>li>a,.newsNav .fr>ul>span>li>a{ margin-right:15px;}
}

/*移动端*/
@media screen  and  (max-width: 799px){
body{ background: none;}
h2 { font-size:14px;}
.cms_template_document{ width:100%; margin:0 auto;}
.mob_top_bar{ display: block; position:fixed; top:0; width:100%; height:50px; background:#2a81cc; z-index:1000;}
.mob_top_bar .mob_navShow{ position:absolute; display:block; width:49px; height:50px; border-right:#1d6bae 1px  solid; overflow:hidden; text-indent:-200px; text-decoration:none; background:url(../image/mob_navShow1.png) center no-repeat; background-size:40px 40px}
.mob_top_bar h1{ margin: 0; margin-left:50px; border-left:#56a3e6 1px  solid; line-height:50px; font-size:18px; color:#FFF; text-align:center; text-indent:-25px;}
.mob_top_bar h1 a{ color:#FFF; text-decoration:none;}

.cms_head{ width:100%; height:50px; overflow:hidden;}
.top-nav-main{ display:none;}
.hnf_mob_bg{ position:fixed; width:100%; top:0; z-index:9999; background:#000; opacity:0.2;}
.ch_unfold{ display:block; position:fixed;  top:0; left:0; width:260px;  z-index:10000; overflow: hidden; overflow-y:auto; background:none; padding-bottom:100px; background:#FFF;  box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.ch_unfold .mob_top_bar{ display:none;}



.top_nav_wrap{width:100%;height:50px;margin:0 auto; background:#efefef;}
.top_nav_wrap .fr{ float: none;}
#top_nav{position:relative; font-size:13px; background: none; height: 49px; border-bottom: #e5e5e5 1px solid;}
#top_nav .top-nav-logo{ float:left; margin:0; width:80px;height:50px}
#top_nav .top-nav-logo a{margin:5px 0 0 5px;display:block;width:80px;height:40px;background:url(../image/hn_logo_mob.png) no-repeat 0 0; background-size:60px 40px;}
#top_nav .top-nav-logo a i{ position:absolute; display:block; width:16px; height:16px; background:url(../image/tri.png) no-repeat 0 0; margin:9px 0 0 64px; background-size:cover; -webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
#top_nav .top-nav-logo i.on{-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg);}
#top_user_menu{font-size:12px;  margin-right:5px; width: 260px; }
#top_user_menu .top-nav-menu-list{ float:right;}
#top_nav #top_user_menu .top-nav-fr{ width:100px; height:40px; }
#top_nav .top-nav-menu-li-phone,#top_nav .top-nav-menu-li-other{ display:none;}
#top_nav .top-nav-menu-list li.top-nav-menu-li, #top_nav .top-nav-menu-list li .top-ico-user-setting, #top_nav .top-nav-menu-list li .top-ico-user-phone{ background: none;}
#top_nav #top_user_menu li{ float:right; line-height:50px; height:50px; width:50px; text-align:center; }
#top_nav #top_user_menu li a{ display:block; color:#666; text-decoration:none; font-size:14px; height: 50px; line-height: 50px;}
#top_nav #top_user_menu li.top-nav-menu-li-first-login{ float:right; width:auto; line-height:50px; height:50px; }
#top_nav #top_user_menu li a{ display:block; padding:0 10px 0 5px;}
#top_nav .top-nav-main{ float:left; width:100%; height:auto;}

.newsNav .hn_logo{ display:none;}

.newsNav .fr{ float:none; display: block; padding: 0}
.newsNav .fr>ul{ height: auto;}
 /*新闻频道*/
 ul.chanel{ width:261px; height:160px; background:none; border: none; display:block; clear:both;}
 ul.chanel li{ float:left; width:87px; font-size:14px; text-align:center; line-height:40px; height:41px;}
 ul.chanel li.hnzxLi{ display:none;}
 ul.chanel li.xwzxLi{ display:block;}
 ul.chanel li a{ display:block; border-bottom:#e5e5e5 1px solid; border-right:#e5e5e5 1px solid; line-height:inherit; height: inherit; color: #666; margin: 0; height:40px; }
 ul.chanel li a:hover{ color:#000; background:#f8f8f8}

 /*新闻类别*/
 ul.newsType_list{ display:block; height:160px; float:none;}
 ul.newsType_list li{ float:left; width:87px; font-size:14px; text-align:center; line-height:40px;  }
 ul.newsType_list li a{ display:block; border-bottom:#e5e5e5 1px solid; border-right:#e5e5e5 1px solid; line-height:inherit; height: inherit; color: #666; margin: 0; height:40px; }
 ul.newsType_list li a:hover{ text-decoration:none; color:#000; background:#f8f8f8 }

.newsNav .plate_title,.newsType_title{ display: block; float:left; width:100%;  line-height:40px; height:40px; text-indent:20px; font-weight:bold; color:#666; font-size:14px; position:relative; background:#efefef; }
.newsNav .plate_title i,.newsType_title i{position:absolute; display:block; width:16px; height:16px; background:url(../image/tri.png) no-repeat 0 0; top:12px; left:60px; background-size:cover; -webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}

.newsNav .plate .more .btnMore{ display:none}
.newsNav .plate,.newsType_list { line-height:40px;  width:261px;}
.newsNav .plate .mob_fold,.newsType_list .mob_fold {display:none;}
.newsNav .plate{}
.newsNav .fr>ul>li, .newsNav .fr>ul>span>li{height:41px;}
.newsNav .fr>ul>li>a, .newsNav .fr>ul>span>li>a{ line-height: 40px; margin: 0; color: #666;}
.newsNav .fr>ul>li>a:hover, .newsNav .fr>ul>span>li>a:hover{color: #333;}
.newsNav .plate li{ float:left; width:87px; font-size:14px; text-align:center; line-height:40px; height:41px; }
.newsNav .plate li a{ display:block; border-bottom:#e5e5e5 1px solid; border-right:#e5e5e5 1px solid; line-height:inherit; height: inherit; color: #666; margin: 0; height:40px;}
.newsNav .plate li a:hover{ text-decoration:none; color:#000; background:#f8f8f8  }
.newsNav .plate_title i.on, .newsType_title i.on{ -webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg);}
.newsNav .plate li.more{ display:none;}



.newsType_list .mob_fold {display:none;}
.newsType_title i.on{ -webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg);}


.newsType_search .btn{ display:none;}



.newsType{ height:auto;  border-bottom:none; padding-bottom:50px;}
.newsType .newsType_list{ float:none; width:261px;}

.newsType:after{content: '.';
display: block;
visibility: hidden;
clear: both;
height: 0px;}
.newsType_title{ display:block;}
.newsType_search{ display:none; float:none; width:inherit; position:relative; height:auto; background:#e5e5e5 ; height:50px; position:relative;}
.newsType_search #ShowSearch{ display:none;}
.newsType_search input,.newsType_search label{ border:none; height:30px; width:220px; margin:10px 0 0 20px; line-height:30px; text-indent:5px; border-radius:5px; background:#dcdcdc; font-size:12px;}
.newsType_search .inp_on{background:#fff;}
.newsType_search label{ display:block; font-size: 12px; margin: 10px 0 0 25px;color:#999; background:none;}
.newsType_search .btn2{ position:absolute; display:block; width:24px; height:24px; border:none; top:13px; right:25px; background:none; background:url(../image/search_mob.png) center; text-indent:-200px; overflow:hidden;}
.newsType_search .newsSearch{ width:210px; border:none; background:#fff; line-height:28px; margin-top:10px; float:left; padding-right:10px; margin-right:5px; text-indent:5px; font-size:12px; overflow:hidden;}  

.btnSerach_mob{ display:inline-block; float:right;  width:40px; height:50px;}
.btnSerach_mob a{ display:block; width:40px; height:50px; background:url(../image/shearchShow.png) center 0; background-size:30px 100px; overflow:hidden; text-indent:-200px; text-decoration:none;}
.btnSerach_mob a.on{ background-color:#e5e5e5; background-position:center -50px;}

}