body{ }



em{ font-style:italic;}





/*fullTitle*/

.fullTitle .hd{padding:0; margin:0; height:50px; border:none; border-bottom:#044c82 4px solid; background:none; font-family:"微软雅黑","黑体";}

.fullTitle .bd{display:none;}

.fullTitle .hd h2{position:absolute; margin:0; padding:0 30px 0 0px; display:block; line-height:50px; font-size:30px; font-weight:bold; width:; height:54px; background:url(../image/fullTitleBg.gif) no-repeat bottom right; color:#000;}



/*面包屑导航*/

.tui-breadcrumb{ padding:0; margin:0; height:50px; border:none; border-bottom:#044c82 4px solid; background:none; font-family:"微软雅黑","黑体";}

.tui-breadcrumb li{  line-height:50px; }

.tui-breadcrumb li a{ color:#999;}

.tui-breadcrumb li a:hover{ color:#ca0606;}



.tui-breadcrumb .l0{font-size:30px; font-weight:bold; width:; height:54px; background:url(../image/fullTitleBg.gif) no-repeat bottom right; color:#000;}

.tui-breadcrumb .l0 a{ color:#000;}

.tui-breadcrumb .l0 a:hover{ color:#000; text-decoration:none;}





.newsList{ font-size:14px; height:auto;}

.newsList ul { padding-bottom:10px; margin-bottom:10px; border-bottom:#dedede 1px dashed;}

.newsList ul li{ height:30px;}

.newsList ul li h3{ height:30px; line-height:30px; background-position:0 4px; text-indent:5px; }

.newsList .normal_txtlist_date{ color:#999;}





.rightBox{border: 1px solid #dedede; padding:5px 0 10px 0; margin-top:15px;}

.rightBox .hd h2{ font-family:"微软雅黑","黑体";}

.rightBox ul li{ height:26px;}

.rightBox ul li h3{ line-height:26px; height:26px; background-position:0 2px; text-indent:5px;}

.rightBox .tui-text-list ul li span{ margin:0;}

.rightBox_sideTT{margin-top:0;}

.rightBox_sideTT .f14 ul li h3{ font-size:12px;}



.rightBoxPicList ul li{ height:auto;}



.rightRank{}

.rightRank    ul li{height:auto; margin:0; padding:0px 10px 0px 25px; width:auto; position:relative; height:28px; border-bottom:none;}

.rightRank    ul li h3{line-height:28px; font-size:14px;}

.rightRank .order .order1, .rightRank .order .order2,.rightRank .order .order3,.rightRank .order .order4,.rightRank .order .order5,.rightRank .order .order6,.rightRank .order .order7,.rightRank .order .order8,.rightRank .order .order9,.rightRank .order .order10{ position:absolute; width: 18px; height:14px; left:0; margin-top:8px;  padding: 0; text-align: center; line-height: 14px; font: normal 11px Arial; color:#999; clear: both; border:none; background:#d9d9d9; overflow:hidden;}

.rightRank .order .order1, .rightRank .order .order2, .rightRank .order .order3{border:none; background:#ca0606; color:#fff;} 







/**/

.newsPicList{}

.newsPicList .hd{ display:none;}

.newsPicList .bd{  border:#dedede 1px solid;}

.newsPicList .img-cms_fragment_354 img{ width:150px; height:120px;}









/*侧栏tab*/

#cms_body .side_tab {}

#cms_body .side_tab .hd {display: block; border:none; background:url(../image/newsImg.png) top center no-repeat;	 width: 320px; height: 40px; padding: 0; border: none; }

#cms_body .side_tab .hd li { background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;font-size: 14px;font-weight: bold;height: 40px;line-height: 33px;margin:0 0px 0 0;padding: 0;text-align: center;width: 45px;}

#cms_body .side_tab .hd li a {display: block;height: 100%;width: 100%;}

#cms_body .side_tab .hd .tabon{ padding:0; background:url(../image/newsImg.png) no-repeat  center -40px;}

#cms_body .side_tab .hd .tabon a, .side-tab .hd .tabon a:visited { color: #fff;}

#cms_body .side_tab .hd li a, #cms_body .side-tab .hd li a:visited { color: #000;}

#cms_body .side_tab .bd {padding: 8px 0 0 2px;}



#cms_body .side_tab .bd{ display:none; border:#dedede 1px solid; border-top:none; padding:10px;}





/*top-remmend*/

.top-remmend{}

.top-remmend .date{ float:left; width:50px; margin:0 9px 0 0; padding:0; line-height:30px; text-align:center;  }

.top-remmend .day{ background-color:#f5eade; height:38px; color:#846035; font-size:30px; line-height:38px; font-weight:bold; margin:0;}

.top-remmend .month{ background-color:#ca0606; color:#fff; text-align:center; line-height:18px; height:18px; font-weight:bold; margin:0;}

.top-remmend .text{ float:left; width:235px}

.top-remmend .title{ font-size:12px; font-weight:bold; color:#bca283; height:20px; line-height:20px; overflow:hidden; width:100%}

.top-remmend .headline{ height:25px; line-height:25px; overflow:hidden; font-size:14px; font-weight:bold}

.top-remmend .headline a{ cursor:pointer}

.top-remmend .headline a:hover{ text-decoration:underline}



/*daily-life*/

.side_tab .tui-topnews{ margin:10px 0 0 0}

.side_tab .tui-topnews ul li{ height:26px; line-height:26px; overflow:hidden; border:none;  width:300px; padding:0; text-indent:10px; overflow:hidden; }

.side_tab .tui-topnews ul li h3{ font-size:14px; float:left; white-space:nowrap; width:auto; margin:0; text-align:left; line-height:26px; background:url(../image/dot.gif) no-repeat 0 2px;}

.side_tab .tui-topnews ul li .summary{ font-weight:normal; margin:0 0 0 5px; padding:0; height:26px; line-height:26px;   text-align:left; color:#999}



/*friendLink*/

.friendLink{ border:#ddd 1px solid; margin:5px 0px; padding:5px 10px;}

.friendLink ul { }

.friendLink ul li{ float:left; width:auto; padding-right:10px; height:14px; line-height:14px; border-right:#ccc 1px solid; margin:5px 10px 5px 0;}

.friendLink a{color:#999;}







/*文章详情*/

.NewsInfo{ background:#f6f6f6; position:relative;}

.NewsInfo .hd{ display:none;}

.NewsInfo .bd{ padding:10px; border:none;}



.NewsInfo .tui-content .subject{position:relative;}

.NewsInfo .tui-content .subject_hasComments{ margin-right:100px;}

.NewsInfo .tui-content .subject, .tui-content .subject h2{ font-size:23px; text-align:left;}

.NewsInfo  .tui-content .info{ text-align:left; margin:10px 0 20px 0; position:relative;}

.NewsInfo .subject .remark_num{ position:absolute; display:block; height:28px; padding:0 10px; top:10px; right:-100px; background:url(../image/newsImg.png) no-repeat right -300px; color:#FFF; font-size:12px; line-height:24px;}

.NewsInfo .subject .remark_num a{ color:#FFF;}







.NewsInfo .spacelin{ width:100%;}

.NewsInfo .content{ margin:0; padding-top:6px; padding-bottom:20px;}

.NewsInfo .newsad420 {background-color: #fff; border: 1px solid #e2e2e2;height: 50px;margin: 0 auto; margin-top:20px; overflow: hidden; }

.NewsInfo .newsad420 ul {padding: 3px 10px; margin:0 auto; width:auto; width:500px;}

.NewsInfo .newsad420 li {color: #2965b1; float: left; padding: 2px;width: 160px;}

.NewsInfo .newsad420 ul li a:link,.NewsInfo .newsad420 ul li a:visited {color: #2965b1;}

.NewsInfo .content img{ max-width:100%; height:auto !important;}





.comment{ border-top:#044c82 4px solid; border-bottom:#dedede 1px solid; margin-top:30px;}

.comment  .hd{ border:none; background:none; height:50px; padding:0;}

.comment  .hd h2{ font-size:18px; font-family:"微软雅黑","黑体"; color:#000; line-height:50px; margin:0; padding:0;}

.comment .remark-wrap .hd span{ line-height:50px;}

.comment  .bd{ border:none; padding:0;}

.comment .remark-wrap .bd li{ border-bottom:#dedede 1px solid; position:relative;}

.comment .remark-wrap .bd li img{ display:none;}

.comment .remark-wrap .content p{ font-size:14px;}

.comment .remark-wrap .content p a{ color:#1c5bb9; }

.comment .remark-wrap .content p a:hover{ color:#f00; }

.comment .remark-wrap .content p.cf span{ font-size:12px; color:#999; margin-left:10px; }

.comment .remark-wrap .content p span{}

.comment .remark-wrap .content p span a{ position:absolute; top:0; font-size:12px;}

.comment .remark-wrap .content p span a.replay{ right:40px;}

.comment .remark-wrap .content p span a.copy{ right:0px;}



.comment .comment_rply_box_tianyalogin{ background:none; border:none; margin:0; margin-top:20px; height:50px;}

.comment .hd span#logout2,.comment .hd span#login2{ float:left; padding:0; margin:0; line-height:50px;}

.comment .hd span#logout2 h2,.comment .hd span#login2 h2{ margin-right:20px; line-height:46px;}

.comment .comment_rply_box_tianyalogin span{ line-height:50px;}

.comment .comment_rply_box_txt{ height:160px; width:100%;}

.comment .comment_rply_box_txt textarea{ display:; width:100%; height:158px; resize:none; background:url(../image/newsImg.png) center -410px no-repeat;}



.comment .tui-center{ float:none;}

.comment .comment_rply_box_subt{ width:90px; height:30px; background:#a60101; color:#FFF; border:none; cursor:pointer; font-weight:bold; font-size:14px;}

.comment .comment_rply_box_subt:hover{background:#c61010;}

.comment .bd .tips{ display:none;}



.out-link{ border-top:#dedede 1px solid; margin-top:3px; padding:20px 0; height:40px; line-height:40px; }

.out-link a{ display:inline-block; height:24px; line-height:24px; font-size:16px; font-family:"微软雅黑","黑体"; background:url(../image/newsImg.png) no-repeat;}

.out-link a.l{ float:left; padding-left:30px; background-position:-5px -108px;}

.out-link a.r{ float:right; margin-left:50px; padding-right:24px; background-position:right -158px;}



.colorful-pic{ border:#dedede 1px solid; padding:10px;}





/*分享*/

.shareBox{ width:60px; height:20px;background:url(../image/newsImg.png) no-repeat 0 -200px; overflow:hidden; position:absolute; bottom:20px; right:20px;}

.shareBox .bdsharebuttonbox a{ display:block;  width:60px; height:20px;  position:static; background:none;}

.shareBox .bdsharebuttonbox a:hover{ text-decoration:none;}



.NewsInfo .info .info_le{ float:left; padding-right:60px; position:relative; }

.NewsInfo .info .info_le span{ display:inline-block; margin-right:10px; }

.NewsInfo .info .info_le .shareBox{ margin:0; top:0; right:0px;}







/*图片适应*/

.static_adpic img{max-width:100%; height:auto;}



.mt15{ margin-top:15px;}

.mt20{ margin-top:20px;}









@media screen and (max-width:999px){

	.newsPicList .bd{ padding:10px 5px;}

.newsPicList .img-wrap { margin:5px;}

.newsPicList .img-cms_fragment_354 img{  width:100%; height:auto;}

}







@media screen  and (min-width:800px) and (max-width:899px){

.NewsInfo .newsad420 ul{ width:400px;}

.NewsInfo .newsad420 li {width: 190px;}





}





@media screen and (max-width:599px){

.tui-2_1-hi_p_r .tui-left{ width:96%;}	

	

.newsList ul li{ margin:0 10px;}

.newsList ul li h3{ width:100%; padding-left:0;    overflow:hidden;   text-overflow:ellipsis;   white-space:nowrap;   }

.newsList ul li h3  a{ text-indent:5px;}

.newsList .normal_txtlist_date{ display:none;}	



.NewsInfo .tui-content .subject{ margin:0; font-size:20px; line-height:24px;}

.NewsInfo .subject  .remark_num{ display:none;}

.NewsInfo .tui-content{ margin:0;}

.NewsInfo .newsad420{ width:80%;}

.NewsInfo .content{ padding-bottom:10px;  font-size:16px;}

#ShareBox2{ display:none;}	



}

