
/* CSS Document */
/*----------------------------------------台海页------------------------------------*/
.lunbo{ padding:14px; margin-top:15px; border:1px solid #dde4ec;}
.thr_list{ margin-top:15px;}
.content{ padding:14px 11px 0 14px; border:1px solid #e1e9f0;}
.con_img{ padding-bottom:15px; background: url(../image/bor_03.png) repeat-x bottom center; }
.dnzj,.twwx,.lajl{ width:388px;}
/*视频*/
.video{ margin-top:15px;}
.tu_content{ padding:14px; border:1px solid #e1e9f0;}
.vi_content{ padding:14px 14px 0 14px; border:1px solid #e1e9f0;}
.tuji{ margin-top:15px;}
/*--------------------------------------生活页-------------------------------------*/
#life_wrapper{ background:#eeeff2;}
/*美食*/
.meishi,.yangsheng,.qinzi{ margin-top:10px;}
.mt10{ margin-top:10px;}
.bord{ border:1px solid #dddee1; background:#fff;}
.com_wid{ width:388px;}
.tag{ border-bottom:1px solid #ededed;}
.con{ padding:10px 14px 0 14px;}
.msgl{ width:793px;}
.jiaju{ width:795px;}
.tu1{ width:245px;}
.tu2{ width:100px;}
/*--------------------------------------体育页-------------------------------------*/
.lm_title{ margin-top:15px; border-top:1px solid #b5b5b5; border-bottom:1px solid #b5b5b5; height:38px; line-height:38px;}
/*篮球*/
.lq_left{ width:804px; padding-right:15px; border-right:1px solid #b5b5b5;}
.xq{ border-bottom:1px solid #b5b5b5;}
.nba{ position:relative; width:804px; height:295px;}
.nbaBor{ border-bottom:1px solid #b5b5b5;}
.nba_list{ border-top:1px solid #b5b5b5; position:absolute; top:105px; left:432px; width:372px; z-index:1000;}
.lq_right{ width:365px;}
.lanqiu{ width:820px; border-top:1px solid #b5b5b5; border-bottom:1px solid #b5b5b5; height:38px; line-height:38px;}
.shipin{ width:365px; border-top:1px solid #b5b5b5; border-bottom:1px solid #b5b5b5; height:38px; line-height:38px;}
/*排球-网球-斯诺克*/
.paiqiu{ width:390px;}
.tu{ margin-top:15px; border:1px solid #c9c9c9; padding:4px;}
.wen{ margin-top:10px;}
/*图集内容*/
.tj_left{ width:589px;}
.tj_middle{ width:287px;}
/*综合内容*/
.zh_left{ width:587px; border:1px solid #c9c9c9;}
.zh_right{ width:580px; border-left:1px solid #b5b5b5; padding-left:15px;}
/*--------------------------------------FJTV专区-------------------------------------*/
.banner{ width:100%;}
.mr13{ margin-right:13px;}
.tabslist li{ float:left;}
.tabslist .last{ border:none;}

/*--------------------------------------精品热荐-------------------------------------*/
#jp_wrapper{ background:#f9f9f9; padding-top:15px;}
.jp_left,.jp_right{ border:1px solid #eee; background:#fff;}
.jp_left{ width:724px; padding:54px 64px 156px 64px;}
.jp_right{ width:302px; padding:50px 14px 116px 18px;}
.related{ border-top:1px solid #ccc; padding-top:18px;}
.rmsp,.paihang{ height:44px; line-height:44px; border-bottom:1px dashed #d9d9d9;}
.adv_2{ margin-top:20px;}
.dingc{ margin-top:70px; margin-bottom:14px; float:right;}
/*分享*/
.fenxiang a{ color:#333;}
.fenxiang a:hover{ text-decoration:none;}

/*正文 图集页*/

.tuji_main{ border:1px solid #eee; background:#fff;}
.share{ float:right;}
.share a{color:#333;}

/*----------------------------------------新闻广播----------------------------------*/
#xwgb_wrapper{ padding-bottom:15px; background: url(../image/bg_00.png) repeat-x; margin-top:10px;}
.jj_left{ width:471px; background:#fff;}
.tag0{ height:40px; line-height:40px;}
.jj_right{ width:714px; background:#fff;}
.dt_content{ padding:0 20px 6px 15px;}
.dt_content .img{ width:235px;}
.dt_content .list{ width:430px;}
.contactUs{ width:471px; background:#fff;}
.weixin{ width:228px;}
.calendar{ width:471px;}
.mr24{ margin-right:24px;}
.wx_content{ padding:34px 0 0 12px; background: url(../image/wx_bg_03.png) repeat-x; height:312px;}
.me_content{ background:#b4b4b4; padding:16px 15px 25px 15px;}
.jj_content{ padding:33px 0 23px 75px;}
/*联系我们*/
.cu_content{ font-size:14px; font-family:"宋体"; background: url(../image/phone.png) no-repeat right bottom;  padding:22px 0 100px 40px;}
.cu_content p{ margin-top:15px;}
.cu_content div{ border-bottom:1px dashed #363636; width:310px; padding:0 0 20px 0;}
.cu_content .bornone{ border:none;}
/*日历*/
.calendar{ background:#2da5da; width:471px; height:352px;}
/*友情链接*/
.foot_yqlj{ margin-top:73px; height:91px;}
.ff_left{ width:58px; background:#3678cf; color:#fff; height:51px; padding:20px 30px; font-size:22px;}
.ff_right{ background:#f7f7f7; height:91px; width:1082px;}
/*底部链接*/
.footnav{ background:#eee; height:52px; line-height:52px; margin-top:30px; width:100%;}
/*版权信息*/
.footer{ width:100%; background:#f7f7f7;}

/*----------------------------------------少儿频道----------------------------------*/
#se_wrapper{ background: url(../image/sepdbg_02.png) no-repeat center center; padding-top:15px; padding-bottom:50px;}
.zhuchi{background:#d1d2d6;}
.w687{ width:687px;}
.w328{ width:328px; }
.mt80{ margin-top:80px;}

/*---------------------------------------新闻频道-----------------------------------*/
.xw_lunbo{ margin-top:24px;}
.xw_content{ margin-top:46px;}
.xw_content .xw_wid{ width:390px;}
.xw_content .xw_tag{ height:40px;}
.xw_content .xw_con{ border:1px solid #c0c0c0;}
.friendLink{ margin-top:12px; margin-bottom:26px; float:right;}
.imgCon{ padding:106px 59px 140px 50px;}

/*---------------------------------------法治-----------------------------------*/
.shareNews{ background: url(../image/share01_f.png) 0 6px no-repeat;}
.shareSina{ background: url(../image/share03_f.png) 0 center no-repeat;}
.shareTencent{ background: url(../image/share02_f.png) 0 center no-repeat;}

/*---------------------------------------东南广播-----------------------------------*/
#dngb_wrapper{ background:#e2ebf5; font-color:#535353; font-family: "微软雅黑"; line-height: 28px; padding-bottom:30px;}
a:link {text-decoration:none;color:#535353;}
.dianbo{ padding-top:25px; margin-top:1px;}
.navi{ height:40px; background:#1b96d1;}
.gb_tag{ height:40px;}
.gb_con0{ padding:84px 57px 85px 76px; background:#fff;}
.jjl{ width:471px;}
.jjr{ width:714px;}
.w390{ width:390px;}
.thr_tag{ height:40px;}
.thr_con{ background:#fff; padding: 13px 0 0 15px;}
.datag{ height:40px;}
.dacon{ padding:15px 0; background:#fff;}
.ly{ width:736px;}
.ly_tag{ height:40px;}
.lanmu{ font-size:16px; color: #076ab1; font-family: "微软雅黑"; line-height: 28px; font-weight: bold;}
.lxwm{ width: 140px;}
.ly_con{ padding:16px 15px 30px 15px; background:#b4b4b4;}
.lx{ width:449px;}
.lx_con{ line-height:30px; font-size:14px; font-family:'宋体'; background:#fff; padding:30px 37px 35px 32px;}
.tupian{ margin-left:35px; margin-top:10px;}
.pbor{ border-top:1px dashed #000; margin-top:10px;}
.lxmain p{ padding:5px 0 0 27px; width:173px;}
.video0{ padding:15px 0 7px 15px}

/*---------------------------------------专题列表页-----------------------------------*/
.list_left{ width:810px;}
.list_right{ width:375px;}
#list_wrapper{ padding:40px 0 30px 0;}


/*-------都市平频道-------*/
.dianbo_main{ background:#ffb400;padding:15px auto;}
.pd_main{ background:#fff0d9;padding-top:15px;padding-bottom:50px;}
/*--频道介绍--*/
.pdjs_main_left{ width:488px;}
.pdjs_main_right{ width:697px;}

/*热门推荐*/
.tj_pic_main{ width:354px; height:275px;}
.tj_list_main{ width:328px;}
.tj_list{padding-top:15px; border:1px solid #000; width:326px; background:#fff;}
.sc_main{ width:45px;}
.dsxb_main{width:548px; height:373px;}
.scnw_main{ height:179px;}
.ds_main{ width:593px; height:373px;}

/*主持人*/
.zcr_main{width:45px; height:179px;}

/*--我爱大方言、都市朋友圈、都市微纪录、勇闯女人关--*/
.ds_fmain{ width:288px;}

.dz_main{}

.cell_4573_ .article-statist span,.cell_4548_ .article-statist span{ color:#fff !important;}

/*地震局表格*/
#eew_title{ display:none;}
#eew_body{ font-size: 20px;margin-bottom:10px;}
#eew_table{ font-size: 19px;width:100%;border: 1px solid black;border-collapse: collapse;}
#eew_table th{ padding: 15px;text-align: center;border: 1px solid black;border-collapse: collapse;}
#eew_table td{ padding: 15px;text-align: left;border: 1px solid black;border-collapse: collapse;}
#eew_table .eew_blue{ background-color: LightSkyBlue;}
#eew_table .eew_yellow{ background-color:Yellow;}
#eew_table .eew_orange{ background-color:DarkOrange;}
#eew_table .eew_red{ background-color:Red;}
#eew_table .eew_table_content_city{ text-align: center;}
#eew_table .eew_table_content_intensity{ text-align: center;}
#eew_table_heading_1{ width:60px;}
#eew_table_heading_2{ width:40px;}







