	a:hover,	
	.sf-menu li.sfHover li a:hover,
	.sidebar .widget a:hover,
	.site-footer .widget a:hover,
	.author-box a:hover,
	.page-content a:hover,
	.entry-content a:hover,
	article.hentry .edit-link a:hover,
	.comment-content a:hover,
	.entry-meta a:hover,
	.entry-title a:hover,
	.content-list .entry-title a:hover,
	.pagination .page-numbers:hover,
	.pagination .page-numbers.current,
	#site-bottom a:hover,
	.tab-titles li.active a,
	.entry-category a:after,
	.author-box .author-meta .author-name a:hover,
	#featured-grid h2.section-title span {
		color: #ff4c4c;
	}	
	h2.section-title .title,
	.breadcrumbs h1 span.title,	
	.tab-titles li.active a,
	.pagination .page-numbers:hover,
	.pagination .page-numbers.current,
	.sidebar .widget .widget-title span,
	#featured-grid h2.section-title span {
		border-bottom-color: #ff4c4c;
	}	
	button,
	.btn,
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.sf-menu li a:hover,
	.sf-menu li.sfHover a,
	.entry-category a,	
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active,
	.bx-wrapper .bx-pager.bx-default-pager a:focus {
		background-color: #ff4c4c;
	}
	
	@media only screen and (max-width: 767px) {
		#primary-nav {
			background-color: #ff4c4c;		
		}
	}	
	/* Secondary Color */
	.site-header .search-icon:hover span,
	.site-header .search-icon:hover span:before,
	article.hentry .edit-link a,
	.author-box a,
	.page-content a,
	.entry-content a,
	.comment-author a,
	.comment-content a,
	.comment-reply-title small a:hover,
	.sidebar .widget a,
	.site-footer .widget a {
		color: #037ef3;
	}

	/* Tertiary Color */
	#featured-grid .entry-like a.liked,
	h2.section-title .posts-counter strong,
	.popular-content .entry-meta .entry-like a.liked,
	.content-list .entry-meta.second-line .entry-like a.liked,
	.related-content .entry-meta .entry-like a.liked,
	.entry-tags .tag-links a,
	.widget_tag_cloud .tagcloud a {
		color: #76b852 !important;
	}
	.single #primary .entry-footer .entry-like a {
		background-color: #76b852;
	}
	.entry-tags .tag-links a,
	.widget_tag_cloud .tagcloud a {
		border-color: #76b852 !important;
	}
	