.bd h2 {
				font-size: 16px;
				font-weight: bold;
				color: #7d7d7d;
				line-height: 50px;
				border-bottom: 1px solid #0052B2;
			}
			.bd {
				width: 100%;
				float:left;
				padding: 0 !important;
				
				}
			.bd h2 span {
				float: right;
				font-size: 14px;
				line-height: 70px;
			}
			.bd h2 a {
				color: #7d7d7d;
			}
			.bd ul li {
				width: 100%;
				padding: 0px;
			}
			.bd ul li span{
				float: right;
				font-size: 16px;
				line-height: 50px;
				padding: 0px;
				color: #0052B2;
				
			}
            .l {
                float: left;
            }
            .r {
                width: 420px;
                float: right;
            }
            .list {
                width: 1220px; overflow: hidden;
                float: left;
                
            }
             .list ul{overflow:hidden;margin:0 0 30px 0;}
            .list ul li {
                width: 100%;
                float: left;
                list-style-type:none;
                line-height: 25px;
                padding:15px 0;
                border-bottom: 1px solid #f3f3f3;
            }
            .list ul li a {
                width:970px;
                font-size: 16px;
                letter-spacing: 2px;
               /* overflow: hidden;
                 white-space: nowrap;
                 text-overflow: ellipsis;*/
                 float:left;
            }
            .list ul li span {
                width: 120px;
                font-size: 14px;
                color: #18559f;
                float:right;
                overflow: hidden;
              /*  height: 36px;*/
                text-align:right;
            }
            .list_sz p {
                width: 100%;
                float: left;
                line-height: 36px;
                font-size: 16px;
            }
            .list_sz span {
                float: right;
                margin: 20px 0px;
                padding-right: 50px;
            }
            .biaoz {
                width: 100%;
                float: left;
                line-height: 50px;
                color: red;
                text-align: center;
                padding: ;
            }
            .bg_topbg {
                height: 35px !important;
            }
			.lsds {
				padding: 50px;
			}
			.r {
			    width: 450px;
			}
			.l {
				width: 1220px;
			}
            .c {
				width: 1220px;
			}
			.first2 {
				font-weight: bold;
			}
			.bd3 {
				width: 100%;
				float:left;
				background-color: #f2f2f2;
				margin-top: 2px;
				padding-bottom: 100px;
				}
			.bd3 h2 {
				height: 50px;
				line-height: 50px;
				float: left;
				background-color: #ce4b4b;
				margin-top: 0px;
				text-align: center;
				color: #ffffff;
				font-weight: bold;
				letter-spacing: 2px;
			font-size: 20px;
            padding: 0px 20px;
			}
			.bd3 ul li {
				width: 100%;
				padding: 0px;
				line-height: 36px;
				font-size: 16px;
				float: left;
			}
			.bd3 ul li span {
				color: #18559f;
			}
			.bd3 ul li a {
				height: 35px;
				overflow: hidden;
			}
            .bd5{
                width: 350px;
                margin:15px 50px;
                height: 140px;
                float: left;
            }
            .bd5 img {
				width: 350px;
				height: 140px;
                float: left;
			}
            .list_h {
                width:100%;
                border-bottom: 1px solid #0052B2;
            }
            .list_h h3 {
                width: 100%;
                line-height: 36px;
                float: left;
                text-align:center;
                margin: 0px !important;
                font-size: 16px;
                color: #000;
            }
            .list_h h4 {
                width: 100%;
                line-height: 36px;
                float: left;
                text-align:center;
                margin: 0px !important;
            }
            .list_h h2 {
                width: 100%;
                line-height: 80px;
                float: left;
                text-align:center;
                font-size: 40px;
                color: #18559f;
                margin: 0px !important;
            }
            .list_h h4 span {
               margin-left:40px;
             }
            .biaoz2 {
                width: 100%;
                float: left;
                color: red;
                text-align: center;
                padding-bottom: 10px;
                border-bottom: 1px solid #0052B2;
            }
            .biaoz2 h2 {
                width: 100%;
                height: 36px;
                border-bottom: 1px solid #0052B2;
            }
            .biaoz2 h2 span {
                background: #043b8a;
                padding: 9px 15px;
                float: left;
                color:#ffffff;

            }
            .biaoz2 ul li {
                width: 700px;
                height: 32px;
                line-height: 32px;
                text-align: left;
                list-style-type: disc;
                color: #000;
                list-style-type: disc;
                margin-left: 20px;
            }
.w1280{width:1280px;margin:0 auto;}
			
.t_fbh_st_bg{background:#fff;}
.t_fbh_st{color:#999999;line-height:50px;}
.t_fbh_st a{color:#999999;}
.t_fbh_snr{margin:20px auto 60px;box-sizing:border-box;padding:60px;background:#fff;}
.xwzw_title{font-size:35px;line-height:1.4;padding:0 60px;font-weight:bold;text-align:center;}
.xwzw_t1{color:#555555;text-align:center;padding:40px 0;}
.xwzw_t2{color:#111111;font-size:0.2rem;line-height:45px;}
.xwzw_t2 p {text-align: justify;}
.xwzw_t3{color:#ff0000;font-size:0.15rem;line-height:30px;text-align:center;padding:30px 0 40px 0;border-top:solid 1px #999999;margin:70px 0 -60px 0;}

.erweima {width:100%;margin:30px 0;}
.erweima p{text-align:center;color:#666666;font-size:14px;padding:0;box-sizing: border-box;font-weight:normal;line-height:30px;margin:0;}
.erweima p img{margin:0;}
@media screen and (max-device-width :1023px)  {
.xwzw_t2{font-size:0.8rem;}
.xwzw_t3{font-size:0.6rem;}
.xwzw_t1 .fontSize,.t_fbh_st{font-size:0.7rem;padding:0.5rem;line-height:1rem;}
.fnav {font-size:0.6rem;}
	}
