
body {
  min-width: 1200px;
  background: #f4f4f4;
}
.g-doc {
  margin: 0 auto;
}
.sub-header {
  background: #fff;
  height: 70px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.song {
  font-family: \5b8b\4f53;
}
.g-header {
  background: #fff;
  height: 100px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 5px solid #446da3;
}
.m-head {
  width: 1030px;
}
.m-head .logo {
  float: left;
  padding: 30px 0 0 38px;
}
.m-head .m-nav {
  float: left;
  padding: 40px 0 0 65px;
}
.m-head .m-nav a {
  color: #fff;
  display: block;
  width: 96px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  font-size: 18px;
  background: #446da3;
  float: left;
  margin-right: 10px;
}
.m-head .m-nav a:hover {
  text-decoration: none;
}
.g-main {
  width: 1000px;
  padding: 20px 15px 40px 15px;
  background: #fff;
  overflow: hidden;
}
.hot-line {
  height: 80px;
  background: #f4f4f4;
  position: relative;
  line-height: 80px;
  text-align: center;
}
.hot-line .hot {
  display: block;
  position: absolute;
  width: 34px;
  height: 68px;
  background: url("../image/top.png") no-repeat;
  left: 16px;
  top: -3px;
}
.hot-line a {
  color: #446da3;
  font-size: 36px;
  font-weight: bold;
}
.hot-line a:hover {
  text-decoration: none;
}
.hot-line .corner {
  display: block;
  width: 16px;
  height: 15px;
  background: url("../image/corner.jpg") no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}
.m-section1 {
  margin-top: 20px;
  overflow: hidden;
}
.news_tab {
  width: 415px;
}
.news_tab .tab {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #bacbe0;
}
.news_tab .tab a {
  display: block;
  float: left;
  width: 50%;
  height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #606060;
}
.news_tab .tab a:hover {
  text-decoration: none;
}
.news_tab .tab .cur {
  color: #446da3;
  border-bottom: 2px solid #446da3;
}
.news_tab .tabInfo li {
  overflow: hidden;
  margin-top: 18px;
}
.news_tab .tabInfo li span.flag {
  display: block;
  width: 5px;
  height: 5px;
  font-size: 0;
  background: #ccc;
  border-radius: 50%;
  float: left;
  margin-top: 8px;
}
.news_tab .tabInfo li a {
  display: block;
  margin-left: 15px;
  font-size: 16px;
  color: #323232;
}
.news_tab .content {
  display: none;
}
.news-pic {
  width: 540px;
}
.news-pic h3 {
  height: 40px;
  border-bottom: 2px solid #bacbe0;
}
.news-pic h3 span {
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #446da3;
  font-size: 20px;
  font-weight: bold;
  color: #606060;
  padding: 0 20px;
}
.news-pic h3 a {
  display: block;
  padding: 2px 4px;
  background: #446da3;
  color: #fff;
  float: right;
  margin-top: 10px;
}
.news-pic .slider {
  width: 540px;
  height: 392px;
  margin-top: 22px;
}
.m-ad {
  height: 70px;
  margin-top: 40px;
}
.m-ad a {
  display: block;
}
.m-section2 {
  margin-top: 30px;
  overflow: hidden;
}
.news_channel {
  width: 488px;
}
.news_channel h3 {
  height: 40px;
  border-bottom: 2px solid #bacbe0;
}
.news_channel h3 span {
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #446da3;
  font-size: 20px;
  font-weight: bold;
  color: #446da3;
  padding: 0 20px;
}
.news_channel h3 .m1 {
  padding-left: 30px;
  background: url("../image/f.png") left center no-repeat;
}
.news_channel h3 .m2 {
  padding-left: 30px;
  background: url("../image/c.png") left center no-repeat;
}
.news_channel h3 .m3 {
  padding-left: 30px;
  background: url("../image/h.png") left center no-repeat;
}
.news_channel h3 .m4 {
  padding-left: 30px;
  background: url("../image/z.png") left center no-repeat;
}
.news_channel h3 a {
  display: block;
  padding: 2px 4px;
  background: #446da3;
  color: #fff;
  float: right;
  margin-top: 10px;
}
.news_channel li {
  overflow: hidden;
  margin-top: 15px;
}
.news_channel li .icon {
  display: block;
  width: 5px;
  height: 5px;
  font-size: 0;
  background: #ccc;
  border-radius: 50%;
  float: left;
  margin-top: 8px;
}
.news_channel li span {
  display: block;
  float: right;
  color: #787878;
}
.news_channel li a {
  display: block;
  float: left;
  margin-left: 10px;
  font-size: 16px;
  color: #323232;
}
.g-footer {
  width: 100%;
  margin-top: 30px;
  border-top: 5px solid #446da3;
}
.sub-footer {
  padding-top: 35px;
  height: 300px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #333;
}
.sub-footer p a {
  color: #333;
  padding: 0 5px;
}
/*????*/
.J_slideSImg {
  width: 540px;
  height: 392px;
  overflow: hidden;
  position: relative;
}
.J_slideSImg .btn {
  position: absolute;
  width: 12px;
  height: 17px;
  z-index: 100;
  display: block;
  cursor: pointer;
}
.J_slideSImg .J_prev {
  background: url(../image/prev.png) no-repeat;
  bottom: 12px;
  left: 10px;
}
.J_slideSImg .J_next {
  background: url(../image/next.png) no-repeat;
  bottom: 12px;
  right: 10px;
}
.J_slideSImg ul {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 80;
}
.J_slideSImg li {
  float: left;
  width: 540px;
  height: 392px;
  position: relative;
}
.J_slideSImg li a {
  color: #fff;
  font-size: 14px;
}
.J_slideSImg li .opacity-bg {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 40px;
  background: #496d96;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.J_slideSImg li span {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
}
.J_slideSImg .page {
  position: absolute;
  overflow: hidden;
  right: 10px;
  bottom: 16px;
  z-index: 80;
}
.J_slideSImg .page a {
  display: block;
  width: 7px;
  height: 7px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 6px;
  font-size: 0;
}
.J_slideSImg .page .cur {
  background: #009bff;
}
.wz-left {
  width: 675px;
  float: left;
  border-right: 1px solid #e4e3e3;
}
.wz-right {
  width: 295px;
  float: right;
}
.wz-right h3 {
  height: 40px;
  border-bottom: 2px solid #bacbe0;
}
.wz-right h3 span {
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #446da3;
  font-size: 20px;
  font-weight: bold;
  color: #446da3;
  padding: 0 10px;
}
.wz-right h3 a {
  display: block;
  padding: 2px 4px;
  background: #446da3;
  color: #fff;
  float: right;
  margin-top: 10px;
}
.title-info {
  overflow: hidden;
}
.title-info .step {
  float: left;
  font-size: 16px;
  color: #242424;
}
.title-info .e-mail {
  padding: 3px 7px;
  background: #eee;
  float: right;
}
.left-info-list li {
  padding: 0 15px 20px 0;
  border-bottom: 1px dashed #e4e3e3;
  margin-top: 30px;
}
.left-info-list li .title {
  margin-bottom: 10px;
}
.left-info-list li .title a {
  font-size: 20px;
  color: #242424;
}
.left-info-list li .title a:hover {
  text-decoration: none;
}
.left-info-list li .chase {
  margin-bottom: 10px;
}
.left-info-list li .chase dl {
  overflow: hidden;
}
.left-info-list li .chase dt {
  width: 140px;
  height: 105px;
  float: left;
}
.left-info-list li .chase dd {
  padding-left: 160px;
  font-size: 16px;
  color: #636363;
  line-height: 25px;
  text-indent: 2em;
}
.left-info-list li .chase dd a {
  color: #c80900;
}
.left-info-list li .date {
  text-align: right;
  font-size: 16px;
  color: #a6a5a5;
}
.left-info-list .page {
  margin-top: 55px;
  overflow: hidden;
  text-align: center;
}
.left-info-list .page a {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.left-info-list .page .cur {
  background: #567bbc;
  color: #fff;
}
.wz-focus-pic {
  margin-bottom: 20px;
}
.wz-focus-pic ul {
  overflow: hidden;
}
.wz-focus-pic li {
  width: 120px;
  float: left;
  text-align: center;
  margin: 15px 0 0 18px;
}
.wz-focus-pic li p {
  margin-bottom: 5px;
}
.wz-focus-pic li .title {
  padding: 0 5px;
  height: 57px;
}
.inform-list li {
  overflow: hidden;
  margin-top: 22px;
}
.inform-list li .icon {
  display: block;
  width: 5px;
  height: 5px;
  font-size: 0;
  background: #ccc;
  border-radius: 50%;
  float: left;
  margin-top: 8px;
}
.inform-list li span {
  display: block;
  float: right;
  color: #787878;
}
.inform-list li a {
  display: block;
  float: left;
  margin-left: 10px;
  font-size: 16px;
  color: #323232;
}
.left-info-detail {
  padding: 35px 15px 40px 15px;
  color: rgb(27, 27, 27);
  font: 18px/1.5 Helvetica, arial, "Microsoft YaHei", freesans, clean, sans-serif;
  font-family: "SimSun","Microsoft YaHei";

}
.left-info-detail .title {
  text-align: center;
  color: #242424;
  font-size: 26px;
  font-family: sans-serif;
}
.left-info-detail .from {
  margin-top: 25px;
  color: #434343;
  font-size: 14px;
}
.left-info-detail .content {
  line-height: 35px;
  padding-top: 25px;
}
.left-info-detail .content img{
	max-width: 100%;
}
.article-about {
border: 1px solid #e0e0e0;
padding: 0px 0 20px 20px;
font-size: 16px;
overflow: hidden;
margin-top: 50px;
}
.article-about h2 {
color: #2649b9;
border-left: 2px solid #2649b9;
font-size: 16px;
font: 16px/22px "Microsoft YaHei";
padding: 0 12px;
margin: 20px 0 12px;
}
.new-list li {
background: url(../image/icon.png) -37px -113px no-repeat;
padding-left: 15px;
height: 36px;
line-height: 34px
}