.fix { *zoom: 1; *clear: both;}
.fix:before, .fix:after { display: table; clear: both; content: '';}
.l { float: left;}
.r { float: right;}
.el { overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.el2 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.el3 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
a {text-decoration: none; outline: 0;}

.insert_comment{background:#f7f7f7;  padding:20px 55px; position: relative; margin:10px 2em; line-height:26px;}
.insert_comment .from{color:#999; margin-bottom: 10px; font-size: 13px;}
.insert_comment:after, .insert_comment:before{content:""; position:absolute; width:23px; height: 18px;}
.insert_comment:before{top:20px; left:15px; background:url(https://www.21-sun.com/specolumn/img/insert01.png);}
.insert_comment:after{bottom:20px; right:15px; background:url(https://www.21-sun.com/specolumn/img/insert02.png);}
.insert_pro{line-height:26px; margin:30px 0;}
.insert_pro .pro_top .pro_pic{width:165px; margin-right: 30px; border:1px solid #ebebeb; height:110px; overflow: hidden;}
.insert_pro .pro_top .pro_pic img{margin:0;}
.insert_pro .pro_top .pro_info{overflow: hidden; border-bottom:1px solid #ebebeb;}
.insert_pro .pro_top .pro_info .pro_t{font-size: 20px; font-weight: bold; margin:0 0 8px; line-height:32px;}
.insert_pro .pro_top .pro_info .pro_t a{font-weight: normal; font-size: 16px; width:75px; border:1px solid #1274fb; border-radius:4px; text-align:center;}
.insert_pro .pro_top .pro_info .pro_t a:hover{background:#1274fb; color:#fff;}
.insert_pro .pro_top .pro_info .pro_desc{font-size: 15px; color:#666; margin-bottom: 20px;}
.insert_pro .pro_btm{margin-top:20px; line-height:30px;}
.insert_cla{margin:30px 0;}
.insert_cla a{color:#333; float:left; width:33.3333%; padding:0 2%; position:relative; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; box-sizing: border-box;}
.insert_cla a:after{content:""; position:absolute; top:50%; left:0; width:5px; height:5px; background:#a7a7a7; border-radius:50%; margin-top: -2px;}
.insert_cla a:hover{color:#1274fb;}
.insert_param{line-height:26px; margin:30px 0;}
.insert_param .pro_top{background:#f7f7f7;}
.insert_param .pro_top .pro_pic{width:185px; height:140px; overflow: hidden;}
.insert_param .pro_top .pro_pic img{margin:0;}
.insert_param .pro_top .pro_info{overflow: hidden; padding-top: 16px;}
.insert_param .pro_top .pro_info .line{float: left; width:40%; margin:0 5%; line-height:35px; color:#666;}
.insert_param .pro_top .pro_info .line span{color:#333;}
.insert_param .pro_t{font-size: 20px; font-weight: bold; margin:0 0 8px; line-height:32px; margin-bottom: 15px;}
.insert_param .pro_t a{font-weight: normal; font-size: 16px; width:75px; border:1px solid #1274fb; border-radius:4px; text-align:center;}
.insert_param .pro_t a:hover{background:#1274fb; color:#fff;}
.insert_param .pro_btm{margin-top:20px; line-height:30px;}


/**
    对比样式
*/
.insert_provs{margin:30px 0;}
.insert_provs .pro_vs_tit{font-size: 20px; font-weight: bold; color:#333; margin-bottom: 5px; margin-top: 30px;}
.insert_provs .pro_vs_table{width:100%;}
.insert_provs .pro_vs_table .rect-6667{padding-bottom: 66.67%;}
.insert_provs .pro_vs_table .rect-6667 img{width:100%; margin:0;}
.insert_provs .pro_vs_table td{border:1px solid #eeeeee; padding:0 30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; min-height: 56px; line-height:56px;}
.insert_provs .pro_vs_table .col1{width:18%; text-align: center; color:#333; }
.insert_provs .pro_vs_table .col2,
.insert_provs .pro_vs_table .col3{width:41%; text-align:center;}
.insert_provs .pro_vs_table .col4{width:50%; text-align:center;}
.insert_provs .pro_vs_table .para_s a{color:#333; display:block;}
.insert_provs .pro_vs_table .para_s a.more{color:#1274fb;}
.insert_provs .pro_vs_table .para_s a.more:hover{opacity:0.8;}
.insert_provs .pro_vs_table .pinfo{margin:20px auto; text-align:center; width:250px;}
.insert_provs .pro_vs_table .pinfo .pinfo_t{font-size: 16px; font-weight: bold;}
.insert_provs .pro_vs_table .pinfo .inquire{line-height:42px; color:#fff; border:1px solid #1274fb; border-radius:4px; color:#1274fb; width:180px; margin:0 auto;}
.insert_provs .pro_vs_table .pinfo .inquire:hover{color:#fff; background:#1274fb;}
