@font-face {
  font-family: "iconfont"; /* Project id 1943165 */
  src: url('../font/iconfont.woff2') format('woff2'),
       url('../font/iconfont.woff') format('woff'),
       url('../font/iconfont.ttf') format('truetype'),
       url('../font/iconfont.svg') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-10:before {
  content: "\e624";
}

.icon-weixin1:before {
  content: "\e6d0";
}

.icon-share:before {
  content: "\e876";
}

.icon-email1:before {
  content: "\e6ce";
}

.icon-phone1:before {
  content: "\e66f";
}

.icon-bookmark:before {
  content: "\e684";
}

.icon-youjian:before {
  content: "\e683";
  color: #106ebe;
}

.icon-facebook:before {
  content: "\eb8d";
  color: #1777f2;
}

.icon-linkedin:before {
  content: "\e955";
  color: #0073b1;
}

.icon-wechat:before {
  content: "\e674";
  color: #11b70d;
}

.icon-sina:before {
  content: "\e675";
  color: #fb5555;
}

.icon-qzone:before {
  content: "\e676";
  color: #ffcd00;
}

.icon-twitter-t:before {
  content: "\e957";
  color: #1fa0f6;
}

.icon-line:before {
  content: "\e682";
  color: #0ac300;
}

.icon-mail:before {
  content: "\e7df";
}

.icon-idcard:before {
  content: "\e7de";
}

.icon-phone:before {
  content: "\e7e3";
}

.icon-mobile:before {
  content: "\e656";
}

.icon-round:before {
  content: "\e65e";
}

.icon-send_media:before {
  content: "\e73f";
}

.icon-crawl:before {
  content: "\e661";
}

.icon-platform:before {
  content: "\e662";
}

.icon-gender:before {
  content: "\e665";
}

.icon-address:before {
  content: "\e666";
}

.icon-play:before {
  content: "\e801";
}

