
/* CSS Document */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, time, tt, u, ul, var, video, xmp {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
}
table, tbody, td, tfoot, th, thead, tr{
 	margin: 0;
	padding: 0;
	font-size: 100%;
}
html, body {height: 100%;}
h1, h2, h3, h4, h5, h6 { font-size:100%; }
address, cite, dfn, em { font-style:normal; }
code, kbd, pre, samp { font-family:courier new, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }

/* 全局CSS定义 */
body{margin:0 auto;background:#FFF;color:#666;font-family:'\5FAE\8F6F\96C5\9ED1', simsun, sans-serif,Arial;font-size:12px;line-height:14px;}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{ font-size:12px; font-weight:normal; font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
input,textarea{font-size:12px;outline: none;}
/* 链接颜色 */
a{color:#333;text-decoration:none;outline: none;}
a:hover{color:#ff0000; text-decoration:none;}
.locating{ position:relative;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}

/* 字色 */
h1 ,h4 ,h4 { color:#0055a0 }
h1 a,h3 a,h4 a{color:#004f9d}
h1 a:hover,h3 a:hover,h4 a:hover,.blue a:hover{color:#ff0000}
.blue a{#9f9f9f}
.white { color:#fff;}
.f14 { font:14px/30px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53"}
.f16 { font:16px/32px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53"}

/* 文字列表属性 */
.list14 li,.list12 li{padding:3px 0;color:#333;font-size:12px;line-height:16px;text-align:left;}
.list14 li{padding:4px 0;font-size:14px;}
.list14 li,.list12 li{height:28px;line-height:28px; padding:0 0 0 20px;overflow:hidden; background:url(../image/dot.gif) no-repeat 0 0}
.list12 li{padding:0 0 0 8px;background-position:0 -30px;background-position:0 -31px\9;}
.list14 h3{height:32px;overflow:hidden;font:16px/32px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53"}
.list14 h3 a:hover { color:#ff0000}
.list14 li a:hover { color:#ff0000}
/* 边框属性 */

.ml5 { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml13 { margin-left:13px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml25 { margin-left:25px; }
.ml30 { margin-left:30px; }
.mr5 { margin-right:5px; }
.mlr25 { margin-right:25px; margin-left:25px; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.pt5 { padding-top:5px; }
.pt8 { padding-top:8px; }
.pl10 { padding-left:10px;}
.pl20 { padding-left:20px;}


/* 浮动属性 */
.fl,.l{display:inline;float:left;}
.fr,.r{float:right;display:inline;}
.more{text-align:right; float:right}/* 更多 */
.center { text-align:center}
/* 宽高属性 */
.w1100 { width:1100px; margin:0 auto; overflow:hidden}
.w1000 { width:1000px; margin:0 auto; overflow:hidden}
.w100bg{ width:100%; background:#f9f9f9; padding:10px 0px;}
.h100 { width:100%; height:40px; overflow:hidden}
.w280 { width:280px; overflow:hidden }
.w370 { width:370px; overflow:hidden }
.w340 { width:340px; overflow:hidden }
.w330 { width:330px; overflow:hidden }
.w400 { width:400px; overflow:hidden }
.w700 { width:700px; overflow:hidden }
.w715 { width:715px; overflow:hidden }
.w350 { width:350px; overflow:hidden }
.w360 { width:360px; overflow:hidden }

/* 顶部菜单 */
.top-full{height:40px;line-height:40px;border-top:3px solid #213e82;border-bottom:1px solid #edeef0;font-weight:bold;}
.tf-l a{padding-right:20px;}
.tf-r a{padding-left:20px;}
/* 顶部导航 */
.top-nav{height:40px;line-height:40px;}
.top-nav a{ padding:0 10px;}
/* 搜索按续 */
.search-bt{background: url(../image/search_bt.png) no-repeat; width: 41px; height: 30px; float: right;}
.search-bt input{width: 41px; height: 30px; background: none;border:none;}
.search-in{background: url(../image/search_bg.png) no-repeat; width: 237px; height: 30px; float: right;}
.search-in input{width: 217px; padding: 0 5px; height: 30px; background: none;border:none;}

/* 广告 */
.ad700_90{height:90px;overflow:hidden;width:700px;}
.ad280_90{height:90px;overflow:hidden;width:280px;}
.ad280_250{height:250px;overflow:hidden;width:280px;}




/* 空行属性 */
.blk { LINE-HEIGHT: 0; HEIGHT: 0px; clear: both; FONT-SIZE: 0px }
.bl5 { LINE-HEIGHT: 0; HEIGHT: 5px; clear: both; FONT-SIZE: 0px }
.bl10 { LINE-HEIGHT: 0; HEIGHT: 10px;clear:both; FONT-SIZE: 0px }
.bl15 { LINE-HEIGHT: 0; HEIGHT: 15px;clear:both; FONT-SIZE: 0px }
.bl20 { LINE-HEIGHT: 0; HEIGHT: 20px;clear:both; FONT-SIZE: 0px }
.bl60 { LINE-HEIGHT: 0; HEIGHT: 60px;clear:both; FONT-SIZE: 0px }

/*透明*/
.alpha{display:block;width:100%;height:100%;position:relative;overflow: hidden;}
.alpha-inbox,.alpha-bg{width:100%;position:absolute;height:24px;line-height:24px;bottom:0px;left:0px}
.alpha-bg{filter:alpha(opacity=70);-moz-opacity:.7;opacity:.7;background:#000;overflow: hidden;}
.alpha-inbox{text-align:center;color:#fff;font-weight:400;font-family:"微软雅黑";font-size:12px;overflow:hidden}

.img-link{display: block;}
.img-link img{display: block;}

/* 尾部 */
.footer .frlink{float:left;border-bottom: 1px solid #e3e6ed; border-left: 1px solid #e3e6ed; border-right: 1px solid #e3e6ed;}
.frlink-hd{float:left;width:998px;height:34px;border-bottom: 1px solid #e3e6ed; border-top: 3px solid #213e82;}
.frlink-hd span{float: left; padding: 0px 0px 0px 10px; font-size: 16px; font-weight: bold; line-height: 34px;color:#000}
.frlink-bd{float: left; width: 988px; height: auto; padding: 5px;}
.frlink-bd ul{float: left; width: 988px; height: auto;}
.frlink-bd ul li{float: left; line-height: 26px; padding: 0px 0px 0px 10px;}
.frlink-bd ul li a{white-space:nowrap}
.footer .about{float: left; width: 998px; height: 40px; border: 1px solid #e3e6ed; text-align: center; line-height: 40px; font-size: 14px; margin: 15px 0px 15px 0px;}
.footer .copyright{float: left; width: 1000px; height: auto; line-height: 26px; text-align: center;padding: 0px 0px 10px 0px}
