/* 顶部菜单 */
.top-full{height:40px;line-height:40px;border-top:3px solid #213e82;border-bottom:1px solid #edeef0;font-weight:bold;}
.tf-l a{padding-right:20px;}
.tf-r a{padding-left:20px;}
/* 顶部导航 */
.top-nav{height:40px;line-height:40px;}
.top-nav a{ padding:0 10px;}

/* 面包屑 */
.breadcrumb{height:40px;}
.breadcrumb .logo{width:114px;height:32px;padding:0 10px 0 0;}
.breadcrumb .breadlink{padding:10px 0 0 10px}

/* 容器 */
.content{overflow:hidden;}
.cont-l{border-top:3px solid #213e82}
.cont-l-b{width:698px;border:1px solid #bbb;;border-top:0px;}

/* 文章列表 */
.zw{padding:20px 20px 0}
.catname{font-size:20px;height:30px;line-height:30px;width:600px;margin-bottom:15px;color:#000;font-weight:bold;}
.list14 li,.list12 li{color:#333;font-size:12px;line-height:16px;text-align:left;}
.list14 li{font-size:14px;}
.list14 li,.list12 li{height:28px;line-height:28px;overflow:hidden;}
.list12 li{padding:0 0 0 8px;background-position:0 -30px;background-position:0 -31px\9;}
.list14 h3{height:32px;overflow:hidden;font:16px/32px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53"}
.list14 h3 a:hover { color:#ff0000}
.list14 li a{font-family:"微软雅黑";color:#000}
.list14 li a:hover { color:#ff0000}
.list14 li span { float:right; color:#666; font-size:12px;font-family:"微软雅黑"}
.line01{ border-bottom:1px dashed #ddd; height:10px !important; line-height:1px; background:none; padding:0px; margin:0px auto 15px auto;}
#pages { overflow:hidden; }
#pages a { display:inline-block; height:24px; line-height:24px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 15px}
#pages a.a1 { background:#ddd; width:56px; padding:0 }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none }
#pages span { display:inline-block; height:24px; line-height:24px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center;padding:0 15px}
.page .noPage { display:inline-block; width:56px; height:24px; line-height:24px; background:#ddd ; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }
.text-c{text-align: center}.text-l{text-align: left}.text-r{text-align: right}

/* 新闻内容 */
.show .tit{padding:10px 0;border-bottom:1px solid #ccc}
.show .tit h3{line-height:44px;font-size:24px;text-align:center;}
.show .subtit{height:24px;line-height:24px;text-align:center;}

.article{padding-top:30px;font-size:15px !important;line-height:26px;}
.article span{font-size:15px !important;}
.article p{text-indent:2em;padding-bottom:25px;}
.article img{display:block;margin:0 auto}

.relnews{padding:0 15px;}
.comment{padding:0 15px;}
.rel-nav{height:36px;line-height:36px;font-weight:bold;font-size:16px;}

/* 右侧 */
.rmod{width:280px;border-top:3px solid #213e82}
.rmod-box{width:278px;border:1px solid #ccc;border-top:0px;}
.rmod-hd{height:40px;line-height:40px;padding:0 10px;}
.rmod-hd span{font-size:16px;font-weight:bold;color:#000}
.rmod-bd{padding:0 10px 10px 10px}

.vertical-pic{width:260px;background:#f2f1f1;padding:10px;}
.vp-nav{height:36px;line-height:36px;font-size:16px;color:#399deb}
.vp-bd ul{overflow:hidden}
.vp-bd{padding:5px 0 0 0;}
.vp-bd ul li{padding:0px 0px 10px 0px;width:260px;height:60px;float:left;}
.vp-bd ul li .img-link{margin-right:15px;}
.vp-bd ul li p{height:60px;line-height:24px;font-size:14px;overflow:hidden;}
.vp-bd ul li p a{color:#000}

.list-pic{overflow:hidden;}
.list-pic li{float:left;width: 124px; height: 90px; padding: 0px 0px 10px 10px;}



.list-point li{overflow:hidden;padding-left:10px;height:26px;line-height:26px;background:url(../image/point.jpg) left center no-repeat}
.list-point li a{font-size: 14px; color: #000;}
.list-point li a:hover{font-size: 14px; color: #ff0000;}

.list-rel li{overflow:hidden;padding-left:10px;height:26px;line-height:26px;background:url(../image/point.jpg) left center no-repeat}
.list-rel li a{font-size: 14px;}

/* 尾部 */
.footer .frlink{float:left;border-bottom: 1px solid #e3e6ed; border-left: 1px solid #e3e6ed; border-right: 1px solid #e3e6ed;}
.frlink-hd{float:left;width:998px;height:34px;border-bottom: 1px solid #e3e6ed; border-top: 3px solid #213e82;}
.frlink-hd span{float: left; padding: 0px 0px 0px 10px; font-size: 16px; font-weight: bold; line-height: 34px;color:#000}
.frlink-bd{float: left; width: 988px; height: auto; padding: 5px;}
.frlink-bd ul{float: left; width: 988px; height: auto;}
.frlink-bd ul li{float: left; line-height: 26px; padding: 0px 0px 0px 10px;}
.frlink-bd ul li a{white-space:nowrap}
.footer .about{float: left; width: 998px; height: 40px; border: 1px solid #e3e6ed; text-align: center; line-height: 40px; font-size: 14px; margin: 15px 0px 15px 0px;}
.footer .copyright{float: left; width: 1000px; height: auto; line-height: 26px; text-align: center;padding: 0px 0px 10px 0px}