body{color:#666666;font-size:12px;font-family:"Microsoft Yahei,宋体, Verdana, Geneva, sans-serif";line-height:24px;}
.wrapper{ width:100%; height:auto; display:block; margin:0 auto; }
.block{ width:1200px; height:auto; display:block; margin:0 auto;  position:relative; overflow: hidden;}
a { text-decoration: none; color: #666666 ;cursor: pointer; }
.overf{overflow: hidden;}
.t_center{text-align: center;}
/* float */
.f_left{ float:left;}
.f_right{ float:right;}
/* font */
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f22 { font-size: 22px; }
.f24 { font-size: 24px; }
.f26 { font-size: 26px; }
.f30 { font-size: 30px; }
.f32 { font-size: 32px; }
.f34 { font-size: 34px; }
.f36 { font-size: 36px; }
/*  margin  padding*/
.m_t_5 { margin-top: 5px !important; }
.m_t_10 { margin-top: 10px !important; }
.m_t_15 { margin-top: 15px !important; }
.m_t_20 { margin-top: 20px !important; }
.m_t_25 { margin-top: 25px !important; }
.m_t_30 { margin-top: 30px !important; }
.m_t_35 { margin-top: 35px !important; }
.m_t_40 { margin-top: 40px !important; }
.m_t_45 { margin-top: 45px !important; }
.m_t_50 { margin-top: 50px !important; }
.m_b_5 { margin-bottom: 5px !important; }
.m_b_10 { margin-bottom: 10px !important; }
.m_b_15 { margin-bottom: 15px !important; }
.m_b_20 { margin-bottom: 20px !important; }
.m_b_25 { margin-bottom: 25px !important; }
.m_b_30 { margin-bottom: 30px !important; }
.m_b_35 { margin-bottom: 35px !important; }
.m_b_40 { margin-bottom: 40px !important; }
.m_b_45 { margin-bottom: 45px !important; }
.m_b_50 { margin-bottom: 50px !important; }
.m_l_10 { margin-left: 10px !important; }
.m_l_15 { margin-left: 15px !important; }
.m_r_10 { margin-right: 10px !important; }
.p_t_5 { padding-top: 5px; }
.p_t_10 { padding-top: 10px; }
.p_t_15 { padding-top: 15px; }
.p_t_18 { padding-top: 18px; }
.p_t_20 { padding-top: 20px; }
.p_t_25 { padding-top: 25px; }
.p_t_30 { padding-top: 30px; }
.p_t_35 { padding-top: 35px; }
.p_t_40 { padding-top: 40px; }
.p_t_45 { padding-top: 45px; }
.p_t_50 { padding-top: 50px; }
.p_b_5 { padding-bottom: 5px; }
.p_b_10 { padding-bottom: 10px; }
.p_b_15 { padding-bottom: 15px; }
.p_b_20 { padding-bottom: 20px; }
.p_b_25 { padding-bottom: 25px; }
.p_b_30 { padding-bottom: 30px; }
.p_b_35 { padding-bottom: 35px; }
.p_b_40 { padding-bottom: 40px; }
.p_b_50 { padding-bottom: 50px; }
.p_l_5 { padding-left: 5px; }
.p_l_10 { padding-left: 10px; }
.p_l_15 { padding-left: 15px; }
.p_l_20 { padding-left: 20px; }
.p_l_25 { padding-left: 25px; }
.p_l_30 { padding-left: 30px; }
.p_l_40 { padding-left: 40px; }
.p_l_50 { padding-left: 50px; }
.p_r_5 { padding-right: 5px; }
.p_r_10 { padding-right: 10px; }
.p_r_15 { padding-right: 15px; }
.p_r_20 { padding-right: 20px; }
.p_r_25 { padding-right: 25px; }
.p_r_30 { padding-right: 30px; }
.p_r_40 { padding-right: 40px; }
.p_r_50 { padding-right: 50px; }
/** line-height */
.h16{ line-height: 20px; }
.h18 { line-height: 20px; }
.h20 { line-height: 20px; }
.h22 { line-height: 22px; }
.h24 { line-height: 24px; }
.h26 { line-height: 26px; }
.h28 { line-height: 28px; }
.h30 { line-height: 30px; }
.h32 { line-height: 32px; }

.box_left{width: 840px;}
.box_right{width: 300px;}
.header_ad_l,.header_ad_r{/*width:810px height: 90px ;;*/ display:block; overflow:hidden;width: 600px;height: 60px;;}
.header_ad_r{/*width:380px;*/width: 590px;}
.box_left span:first-child {padding-left: 0;}

.nfooter{background: #f8f8f8;color: #fff;height: 110px;margin-top: 60px;}
.nfooter .about{height:44px;line-height: 44px;background: #da4747;text-align: center;color: #fff;position: relative;top:14px;}
.nfooter .about a{color: #fff;padding:0 32px;}
.nfooter .about a:hover{color:#002F88 ! important;}
.nfooter .copyright{color: #666;text-align: center;height: 52px;line-height: 52px;position: relative;top:14px;}