

.lxz-home-body {
    position: relative;
    overflow: hidden;
}

.lxz-home-head {
    text-align: center;
}

.lxz-home-logo {
    margin: 54px 0 0 0;
}

.lxz-home-wp {
    width: 802px;
    margin-top: 77px;
}

.lxz-home-search {
    line-height: 52px;
    background: url("../image/lxz-home-search-bg_03.png") no-repeat;
}

.lxz-home-search .inp {
    box-sizing: border-box;
    width: 750px;
    height: 52px;
    padding: 0 42px;
    font-size: 16px;
    color: #fff;
}

.lxz-home-search .inp::placeholder {
    color: #fff;
}

.lxz-home-search .btn {
    margin-right: -1px;
    background: none;
}

.lxz-home-search .btn:hover {
    opacity: .8;
}

.lxz-home-search .btn .img {
    vertical-align: top;
}

.lxz-home-word {
    padding: 9px 42px 0;
    line-height: 26px;
}

.lxz-home-word .tt {
    font-size: 14px;
    color: #a7b5d5;
}

.lxz-home-word .a {
    padding: 0 13px;
    border-radius: 13px;
}

.lxz-home-word .a:hover {
    color: #fff;
    background: #256dc3;
}

.lxz-home-footer {
    width: 100%;
    height: 100px;
    margin-top: 97px;
    padding: 1px 0 0 0;
    line-height: 100px;
    background: url("../image/lxz-home-footer-bg_02.png") repeat-x;
}

.lxz-home-footer-link {
    margin: 22px 0 0 0;
    line-height: 0;
    position: relative;
}

.lxz-home-footer-link .m-drop-select{
	position: unset;
}
.lxz-home-footer-link .m-drop-select ul li{
	float: left;
	margin-right: 30px;
}

.lxz-home-footer-link .item {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    background: url("../image/lxz-home-footer-link-bg_03.png");
    border-radius: 16px;
}

.lxz-home-footer-link .wid1 {
    width: 152px;
}

.lxz-home-footer-link .wid2 {
    width: 182px;
}

.lxz-home-footer-link .wid3 {
    width: 112px;
}

.lxz-drop-select {
    margin: 0 0 0 10px;
    padding: 0 15px;
}

.lxz-drop-select:first-child {
    margin: 0;
}

.lxz-drop-select .select .tt, .lxz-drop-select .dropdown-menu .a {
    font-size: 13px;
    color: #fff;
}

.lxz-drop-select .dropdown-menu {
    bottom: 30px;
    padding: 0 15px;
    /*background: url("../image/lxz-home-footer-link-bg_03.png");*/
    background: #1a59a3;
    border-radius: 16px;
}

.lxz-home-footer-link .lxz-drop-select .dropdown-menu::-webkit-scrollbar {
   
}

.lxz-home-footer-link .lxz-drop-select .dropdown-menu::-webkit-scrollbar-track {
    border-radius: 0;
    opacity: 0;
}

.lxz-home-footer-link .link {
    margin: 0 0 0 13px;
    padding: 0 20px;
}

.lxz-home-footer-link .link .a {
    font-size: 13px;
    color: #fff;
}

.lxz-home-footer-link .link .a:hover {
    text-decoration: underline;
}

.lxz-home-footer-link .link .pipe {
    width: 1px;
    height: 14px;
    margin: 0 12px;
    background: #898584;
}

.lxz-home-footer-text {
    margin: 11px 0 0 0;
    line-height: 0;
}

.lxz-home-footer-text .tt {
    margin: 0 0 0 13px;
    line-height: 1;
    font-size: 13px;
    color: #fff;
}

.lxz-home-footer .mg {
    margin: 0 3px 0 26px;
}

.lxz-float {
    position: fixed;
    right: 0;
    top: 54%;
    width: 60px;
}

.lxz-float .a {
    display: block;
    margin: 0 0 28px 0;
    text-align: center;
}

.lxz-float .a .img {
    vertical-align: top;
}

.lxz-float .a .tt {
    line-height: 1;
    font-size: 14px;
    color: #fff;
}


/********************************二级页面头尾*********************************/

.lxz-body {
    background: #f8f8f8 url("../image/lxz-body-bg_01.jpg") center top no-repeat;
}

.lxz-body .lxz-float .a .tt {
    color: #444;
}

.lxz-head {
    padding: 0 0 1px 0;
    line-height: 100px;
    background: url("../image/lxz-head-bg_02.png") repeat-x;
}

.lxz-head .lxz-home-logo {
    margin: 0;
}

.lxz-head-nav li {
    display: inline-block;
    margin-left: 10px;
}

.lxz-head-nav li:first-child {
    margin-left: 0;
}

.lxz-head-nav .a {
    display: inline-block;
    width: 130px;
    line-height: 40px;
    text-align: center;
    background: url("../image/lxz-head-nav-bg.png") no-repeat;
}

.lxz-head-nav .a:hover, .lxz-head-nav .a.cur {
    background-image: url("../image/lxz-head-nav-bgCur.png");
}

.lxz-head-nav .a .img {
    display: none;
    margin: 0 10px 0 0;
}

.lxz-head-nav .a:hover .img, .lxz-head-nav .a.cur .img {
    display: inline-block;
}

.lxz-head-nav .a .tt {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.lxz-head-nav .a:hover .tt, .lxz-head-nav .a.cur .tt {
    color: #ee5257;
}

.lxz-search-wp {
    width: 602px;
    margin: 50px auto 37px;
}

.lxz-search-wp .lxz-home-search {
    line-height: 42px;
    background-image: url("../image/lxz-home-search-bg2_03.png");
}

.lxz-search-wp .lxz-home-search .inp {
    width: 560px;
    height: 42px;
    padding: 0 26px;
    font-size: 15px;
}

.lxz-search-wp .lxz-home-word {
    padding: 11px 26px 0;
}

.lxz-content {
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 15px;
    /* box-shadow: 5px 0 5px #f0f0f0, -5px 0 5px #f0f0f0, 0 5px 5px #f0f0f0, 0 -5px 5px #f0f0f0;  */
}

.lxz-footer {
    position: static;
    margin: 10px 0 0 0;
    padding: 0;
    background: #206fcc;
}

.lxz-footer .lxz-home-footer-link .link .pipe {
    background: #487ab5;
}