body,h1,h2,h3,h4,h5,h6,div,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font-size:12px;font-family:  "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1",PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif}
body{margin:0 auto;}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol,li,dl,dt,dd{list-style:none}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font:12px/1.5 tahoma,arial,sans-serif; vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
.clear{clear:both;}
a{text-decoration:none;color:#666;}
.fl-l{float: left;}
.fl-r{float: right;}