@font-face {font-family: 'iconfont';src: url('../font/iconfont1.eot');src: url('../font/iconfont1.eot') format('embedded-opentype'),url('../font/iconfont1.woff') format('woff'),url('../font/iconfont1.ttf') format('truetype'),url('../font/iconfont1.svg') format('svg');}
.iconfont{font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}

html{line-height: normal;font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif}
a{text-decoration: none;color:#333}
ul, menu, dir,h4,p {padding:0;margin:0}
ul li{list-style: none;margin:0}
h1,h2,h3,h4{margin-block-start: 0;margin-block-end: 0;}

.tac{text-align: center;}
.disb{display: block;}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}

.top{display: flex;justify-content: space-between;border-bottom: solid 2px #efefef;height:60px;background: #fff;z-index: 999;}
.top div{display: flex;justify-content: space-between;align-items: center;}
.top a {font-size: 14px; color:gray;padding: 5px 10px;}
.top a svg{width:20px;height:20px}

.mainbox{border: solid 1px #efefef;width: 1200px; margin:0 auto;margin-top: 40px;}
.main{padding:25px;}
.main .breadcrumb, .main .breadcrumb a{font-size: 16px;color:gray;}
.main .title{margin-top:40px;}
.main .title h1{font-size: 38px;font-weight: bold;color:#333333;margin-top:10px}
.main .title h4{font-size: 20px;}

.main .contbox{display: flex;justify-content: space-between;margin-top:50px;}
.main .contbox .ld{flex:0 0 85px;font-size: 12px;color:gray;display: block;padding-top: 12px;}
.main .contbox .ld i{display: block;font-size: 30px;margin-top:5px;color:lightgray;margin-left:14px}
.main .contbox .ld span{display:block}
.main .contbox .ld a{width:40px;height: 40px;font-size: 30px;line-height: 40px;margin-left:8px}
.main .contbox .ld a.normal{color:lightgray !important;border-color:lightgray !important;}
.main .contbox .ld a:nth-child(1){margin-top:10px}
/*.social-share a:before{content: '' !important}*/
.social-share {-webkit-text-stroke-width:0}

.main .contbox .md {flex:0 0 700px}
.main .contbox .md .info {font-size: 14px;height:40px;display: flex;justify-content: space-between;align-items: center;color:gray}
.main .contbox .md .info .rs {display: flex;align-items: center;width: 350px;}
.main .contbox .md .info .rs a{display: flex;justify-content: space-between;align-items: center;color:gray}
.main .contbox .md .info .rs a:nth-child(2){margin-left:20px}
.main .contbox .md .info .rs a:nth-child(3){margin-left:20px}
.main .contbox .md .info span{padding:5px 10px;cursor: pointer;border-radius: 50%;}
.main .contbox .md .info span.active{background-color:deepskyblue ;color:#fff; line-height: 12px;padding: 10px;text-align: center; }
.main .contbox .md .info i{font-size: 26px;}
.main .contbox .md .info i.infoicon{color:deepskyblue}
.main .contbox .md .cont{font-size: 16px;margin-top:40px;width: 668px}
.main .contbox .md .cont p{line-height: 200%;margin-bottom: 20px;text-indent: 2em;color: #000;font-size: 16px;}
.main .contbox .md .cont p img{max-width:650px;}
.main .contbox .md .cont p a{color:royalblue}
.main .contbox .md .cont p a:hover{color:slateblue}
.main .contbox .md .cont p.editor{text-align: right;font-size: 14px;color:darkgray}
.main .contbox .md .cont p.editor a{color:#888}

.main .contbox .rd {flex:0 0 315px;}
.main .contbox .rd .rcmdbox .hd{font-size: 20px;font-weight: bold;}
.main .contbox .rcmdlist1 ul{margin-top:5px}
.main .contbox .rcmdlist1 ul li{margin-top:25px}
.main .contbox .rcmdlist1 ul li a{display: flex;font-size: 15px;}
.main .contbox .rcmdlist1 ul li a img{width:120px;height:80px}
.main .contbox .rcmdlist1 ul li a span{flex:0 0 185px;margin-left: 20px;line-height: 25px}

.main .contbox .rcmdlist2 ul{margin-top:5px;display: flex;justify-content: space-between;flex-wrap: wrap;}
.main .contbox .rcmdlist2 ul li{width:154px;height:138px;text-align: center;margin-top:30px}
.main .contbox .rcmdlist2 ul li img{width:150px;height: 90px;display: block;}
.main .contbox .rcmdlist2 ul li span{margin-top:5px;display: block;font-size: 14px;text-align: left}
.main .contbox .rcmdlist2 ul li a{display: block;position: relative;height: 100%;width: 100%}
.main .contbox .rcmdlist2 ul li a .bf{position: absolute;top: 40%;left: 75%;width: 30px;height: 30px;opacity: 0.8;}
.main .contbox .rcmdlist2 ul li a .bf img{width: 100%;height:auto;}

.main .contbox .md .rcmdbox1{border-top:solid 1px #ccc;width:668px}
.main .contbox .md .rcmdbox1 .hd{width:133px;height: 47px;line-height: 35px;text-align: center; background: url(../image/bg_rcmd.png) left top no-repeat;color:#fff;font-weight: bold;font-size: 18px;}
.main .contbox .rcmdlist3 ul li{margin-top:45px}
.main .contbox .rcmdlist3 ul li a{display: flex;align-items: start;width:90%}
.main .contbox .rcmdlist3 ul li a span:nth-child(1){flex: 0 0 150px;height:90px;margin-right:20px;}
.main .contbox .rcmdlist3 ul li a span:nth-child(1) img{width:100%;height:100%}
.main .contbox .rcmdlist3 ul li a span:nth-child(2) p{font-size: 20px;line-height: 32px;}
.main .contbox .rcmdlist3 ul li a span:nth-child(2) p:nth-child(1){margin-top:-7px}
.main .contbox .rcmdlist3 ul li a span:nth-child(2) p.date{font-size: 14px;margin-top:5px;color:lightgray}

@media (max-width: 880px) {
    .main .title{width: 800px;}
}

.footer{text-align: center;line-height: 24px;background-color: #fbfbfb;width:100%;font-size: 14px;padding: 40px 0;margin-top:30px}

.footer .fdlinks a{line-height: 30px;font-size: 14px;}
.footer .flinks a{margin:0 2px}

.ads1{width: 1200px; margin:0 auto;margin-top:20px;display: flex;justify-content: space-between}
.ads2{margin-top:25px}

.wxqrcode{display: flex;justify-content: space-between;}
.wxqrcode span{display: block;color:#000;text-align: center}
.wxqrcode span img{display: block;}

.layui-layer{width:auto !important;}

#pagination td{padding:5px 0;}

.pagination{ margin: 0 auto;  text-align: center; font-size: 12px; }

.pagination font{float:left; margin:0 6px 0 0; padding:0 6px;text-align:center; vertical-align:middle; font-family: Arial; border:1px solid #ddd; height:20px; line-height:20px;}

.pagination a {background-color: #fff; border:1px solid #ddd; color:#2266BB; float:left; height:20px; line-height:20px; margin:0 6px 0 0; padding:0 6px; text-align:center; vertical-align:middle; font-family: Arial;}

.pagination a:hover,.pagination a.now{ border-color: #26b; }

.pagination a.now{ background-color: #26b; color: #fff; font-weight: bold; }

.pagination a.no-op { background:none repeat scroll 0 0 #fff;border-color:#ddd;}

.no-op, a.no-op {color:#ccc; cursor: pointer; text-decoration:none;}

#show-all-cont{ border-width: 0; float: left; width: 72px; line-height: 21px; height: 21px;background-image: url(../image/cmstop-big.png);background-position: -208px -202px; color: #fff; }

#show-all-cont:hover{ color: #ff0; }