html{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
body{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
div{margin: 0px; padding: 0px; border: currentColor; border-image: none;}

form{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
input{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
textarea{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
ul{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
li{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
img{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
h1{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
h2{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
h3{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
span{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
em{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
iframe{margin: 0px; padding: 0px; border: currentColor; border-image: none;}
ul{list-style: none;}
li{list-style: none;}
.search-result [type="submit"] {background: #e40000;}
.search-result .fmb .type-panel > .cur {border-bottom: 2px solid #e40000;}
.d_over{background-color:#307172;}
.d_out{background-color:#EFEFEF;}
.m-crumb span{float:left;font-size:16px;font-weight: bold;}
.m-crumb a{font-size:16px;}
.m-crumb {font-size:16px;padding-top: 10px;}
.m-crumb em{background-position: -10px -1050px;}
.article-list-wrap {    width: 750px;    margin-right: 25px;}
.article-list-wrap .article-list .item a {    font-size: 16px;    float: left;}
.article-list-wrap .article-list .item .date {    font-size: 14px;}
.article-list-wrap .article-list .hr {border-bottom: 1px solid #ff9292;}
input{font-family: "Microsoft YaHei","\u5FAE\u8F6F\u96C5\u9ED1",Arial,SimSun,"\u5B8B\u4F53";}
textarea{font-family: "Microsoft YaHei","\u5FAE\u8F6F\u96C5\u9ED1",Arial,SimSun,"\u5B8B\u4F53";}
h1{font-family: "Microsoft YaHei","\u5FAE\u8F6F\u96C5\u9ED1",Arial,SimSun,"\u5B8B\u4F53";}
h2{font-family: "Microsoft YaHei","\u5FAE\u8F6F\u96C5\u9ED1",Arial,SimSun,"\u5B8B\u4F53";}
h3{font-family: "Microsoft YaHei","\u5FAE\u8F6F\u96C5\u9ED1",Arial,SimSun,"\u5B8B\u4F53";}

input{color: rgb(67, 67, 67); font-size: 14px;}
textarea{color: rgb(67, 67, 67); font-size: 14px;}
h1{color: rgb(67, 67, 67); font-size: 16px;}
h2{color: rgb(67, 67, 67); font-size: 16px;}
h3{color: rgb(67, 67, 67); font-size: 16px;}
em{font-style: normal;}

a{color: rgb(67, 67, 67); text-decoration: none;}
a:hover{color: rgb(204, 0, 0); text-decoration: none;}

.red{color: rgb(204, 0, 0);}
.clearfix{_overflow: inherit; _zoom: 1;}
.topp{margin: 10px 0 0 0}
.maxwidth{min-width: 1080px;}
.maincenter{margin: 0px auto; width: 1080px; text-align: left;}
.maincenterg{margin: 5px auto 0px; width: 1080px; text-align: left;}
.left{float: left;}
.right{float: right;}
.hide{display: none;}
.topnav1{background: #e7e8f0; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-top-width: 0px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;}
.topnav1 .right{margin: 5px 1px 0px 0px; width: 18px;}
.topnav1 .right img{float: left; cursor: pointer;}
.topnav1 .left{width: 1060px; height: 35px; line-height: 38px; overflow: hidden;}
.topnav1 .left li{width: 106px; text-align: center; font-size: 16px; float: left;}
.toutiao{text-align: center;}
.toutiao h1{padding: 5px 5px; color: rgb(0, 51, 102); line-height: 50px; font-size: 32px;}
.toutiao h1 a{color: rgb(0, 51, 102);}
.toutiao .utc{padding: 5px 0px 20px; color: rgb(105, 105, 105); font-size: 14px;}
.toutiao .utc a{color: rgb(105, 105, 105);}
.moretoutiao{padding: 1px; border: 1px solid rgb(212, 0, 0); width: 175px;border-image: none; height: 25px; line-height: 25px; overflow: hidden;display: inline-block;}
.moretoutiao .left{background: rgb(212, 0, 0); width: 175px; height: 25px; text-align: center; color: rgb(255, 255, 255); font-size: 14px;}
.moretoutiao .right{width: 996px; height: 25px; overflow: hidden;}
.moretoutiao .right ul{}
.moretoutiao .right li{padding-right: 20px; float: left; white-space: nowrap;}
.touming{background: url("../image/f_34.png"); text-align: center; color: rgb(255, 255, 255);}


.jdttuijian .right{width: 370px; line-height: 33px; overflow: hidden; font-size: 16px;}
.zhuanti{margin-top: 10px;}
.zhuanti .left{width: 30px; height: 106px;}
.zhuanti .left a{background: url("../image/f_41.jpg") no-repeat; width: 30px; height: 106px; display: block;}
.zhuanti .right{width: 1050px;}
.zhuanti .right li{width: 200px; padding-left: 10px; float: left;}
.zhuanti .right li img{width: 200px; height: 106px;}
.dingzhi{margin-top: 5px;}
.dingzhi .left{width: 330px; overflow: hidden;padding: 10px;}
.dingzhi .right{width: 330px; overflow: hidden;padding: 10px;}
.dingzhi .center{width: 330px; overflow: hidden; padding: 10px; margin-left: 15px; float: left;background: #eee;}
.menu{}
.menu h2{background: rgb(255, 255, 255); padding: 0px 10px; height: 28px; color: #b50202; line-height: 22px; font-size: 22px; border-bottom-color: rgb(204, 0,0); border-bottom-width: 2px; border-bottom-style: solid; float: left;}
.menu h2 a{color: #b50202;}
.menu .fg{background: url("../image/f_49.jpg") no-repeat; width: 41px; height: 30px; float: left;}
.menu .more{padding-top: 6px; border-top-color: rgb(249, 134, 134); border-top-width: 2px; border-top-style: solid;}
.menu .more li{padding: 0px 10px; line-height: 19px; float: left;}
.menu .more li.on{color: rgb(204, 0, 0);}
.menu .more li.on a{color: rgb(204, 0, 0);}
.menu .off{background: url("../image/f_51.jpg") no-repeat; width: 20px; height: 20px; margin-top: 10px; float: right; cursor: pointer;}
.jdt-dian li em{background: rgb(102, 102, 102); display: block;}
.jdt-dian li.on em{background: rgb(213, 1, 0);}
.ul-1{line-height: 38px; font-size: 16px; margin-top: 10px;}
.ul-tu2{line-height: 35px; font-size: 16px; margin-top: 15px;}
.ul-tu2 li{overflow: hidden; white-space: nowrap;    text-overflow: ellipsis;}
.ul-2{line-height: 40px; font-size: 16px; margin-top: 10px;}
.ul-1 li{overflow: hidden; white-space: nowrap;text-align:left; width: 330px;    text-overflow: ellipsis;}
.ul-2 li{overflow: hidden; white-space: nowrap;}
.jdttuijian .right li{overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.img-1 div{overflow: hidden; white-space: nowrap;}
.strongli{color: rgb(0, 51, 102); font-weight: bold;}
.strongli a{color: rgb(0, 51, 102);}
li strong a{color: rgb(0, 51, 102);}
.img-1{width: 100%; height: 175px; margin-top: 12px; position: relative;}
.img-1 img{width: 100%; height: 175px; position: absolute; z-index: 1;}
.img-1 .touming{background: url("../image/f_34.png"); background-color: #ECD7D7; left: 0px; width: 100%; height: 30px; text-align: center; bottom: 0px; color: rgb(255, 255, 255); line-height: 30px; position: absolute; z-index: 2;}
.img-2{height: 250px;}
.img-2 img{height: 250px;}
.img-3{width: 160px; height: 120px; float: right;}
.img-3 img{height: 120px;}
.img-3 div{font-size: 12px;}
.img-4{float: left;}
.utc li{text-align: center; font-size: 14px;display: inline;padding-right:15px;}
.danhangzi{background: #e7e8f0;}
.danhangzi .left{width: 10px; height: 50px;}
.danhangzi .right{width: 10px; height: 50px;}
.danhangzi .center{width: 1080px; /*float: left;*/}
.f-l{float: left;_display: inline;}
.f-r{float: right;_display: inline;}
.pos-r{position: relative;}
.pos-a{position: absolute;}
.b{font-weight: bold;}
.hide,.hidden{display: none;}
.ov{overflow: hidden;_zoom: 1;}
.tc{text-align: center;}
.m-t-5{margin-top:5px;}
.m-t-10{margin-top:10px;}
.m-t-15{margin-top:15px;}
.m-l-10{margin-left:10px;}
.m-r-10{margin-right:10px;}
.m-b-10{margin-bottom:10px;}
.m-t-20{margin-top:20px;}
.m-r-20{margin-right:20px;}
.m-l-35{margin-left: 35px;}
.m-l-25{margin-left: 15px;}
.ti2{text-indent:2em}
.w380{width: 380px;}
.w370{width: 370px;}
.w351{width: 330px;background-color: #f3f3f3;padding: 10px;margin-bottom: 10px;}
.w330{width: 330px;padding: 10px;}
.h15{height: 15px;}
.w20{width: 20px;}
.clear{clear: both;}
.clearfix:after{clear: both;content: " "; display: block; font-size: 0; height: 0; visibility: hidden;}
.fz12{font-size: 12px;}
.fz14{font-size: 14px;}
.fz16{font-size: 16px;}
.l22{line-height: 22px;}
.l24{line-height: 24px;}
.noborder{border:none;}
.article-describe {
    border-left: 2px solid #ef5c59;
    background: #eee;
}
.m-title-a .m-title-h2 a {
    color: #ce0000!important;
    font-weight: bold;
}
.more{text-align:right; padding-right: 20px;}
.hline{background-color: #e2e2e2; height: 1px; overflow: hidden;}
.column{width: 1080px; margin: 0 auto;}
.article-content-title {font-weight: bold;max-width: 1080px;text-align: center;}
.article-infos, .article-infos .source {border-bottom: 1px solid #ff9292;text-align: center;font-size: 14px;}
.article-content-level2title {text-align: center;}
.article-detail .article-detail-inner p{font-size: 16px;line-height: 34px;padding-bottom: 5px;}
.article-detail .fontSizeBig p {font-size: 18px;}
.article-detail .fontSizeSmall p {font-size: 16px;line-height: 36px;}
.article-content-right {right: 10px;top: 130px; }
.imagetab img {    width: 700px;    height: 370px;}
.imagetab {     width: 700px;    height: 370px;}
.imagetab .fbg {    left: 590px;}
.m-title-a .m-title-h2 { border-bottom: 1px solid #f90303;}
.m-accordion-item.top .title {border-left-color: #ef0303;}
.m-title-a {border-bottom: 1px solid #ff9292;}
.w660 {width: 750px;}
.w351 .bg{background:rgba(0,0,0,0.7); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);bottom: 0; display: block; height: 40px; left: 0; opacity: 0.7; position: absolute; width: 100%;}
.w351 h3{bottom: 0; height: 40px; left: 0; position: absolute; text-align: left; width: 330px;line-height: 40px; text-indent: 5px; overflow: hidden;}
.w351 h3 a{color: #fff;}
.w330 .bg{background:rgba(0,0,0,0.7); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);bottom: 0; display: block; height: 40px; left: 0; opacity: 0.7; position: absolute; width: 100%;}
.w330 h3{bottom: 0; height: 40px; left: 0; position: absolute; text-align: left; width: 330px;line-height: 40px; text-indent: 5px; overflow: hidden;}
.w330 h3 a{color: #fff;}
.menuD{position:relative;height:33px;    border-bottom: 1px solid #fb7575;;line-height:28px}
.menuD ul{height:34px; position:absolute;left:0;top:0}
.menuD li{cursor:pointer;height:34px;color:#333333; text-align:center; font-size:20px;}
.menuD li a{color:#3b3b3b;font-weight: bold;}
.menuD .current{border-bottom: 1px solid #b50202; height: 33px; color:#b50202; float: left;}
.menuD .current a{color:#b50202}
.menuD .current2{background: url(../image/f_51.png) no-repeat 0px -152px ; height: 34px;}
.media_link{float:left;/* background:url(../images/bg_03.gif) repeat-y left top */}
.media_link ul{float:left;margin:10px 0px;}
.media_link li{line-height:30px;float: left;color:#ddd}
.media_link li a{color:#004276}
.media_link li a:visited{color:#004276;}
.media_link li a:hover{color:#ba2636;}
.h50{height: 50px;}
.h60{height: 60px;}
.adv{width: 100%;position: relative;}
.advimg{display:block;position:absolute;width:35px;height:21px;line-height:16px;bottom:0px;right:0px; background:url(https://xbimg.yyrb.cn/templates/yyrb/xwzx/common/common/adtag.png) no-repeat;}
.help-inline{display: block; float:left;padding:5px 10px;color: #f90000;background-color: #f2dede;border-color: #fff;text-shadow: 0 1px 0 rgba(255,255,255,0.5);}
.footnav{width:100%; height: 48px; border: 1px solid #e9e9e9; line-height: 48px; background: #f3f3f3; text-align: center; border-left:0px; border-right: 0px;}
.footnav a{padding: 0px 20px; font-size: 16px; color: #6a6a6a;}
/*原创图片*/
.picbox{height: 300px; position: relative; width: 1080px;}
.ppic{position: absolute;}
#ppic0{left: 0; top: 0; height: 300px; width: 300px;}
#ppic1{left: 315px; top: 0; height: 140px; width:215px}
#ppic2{bottom: 0; left: 315px; height: 140px;width:215px}
#ppic3{left: 550px; top: 0; height: 140px;width:215px}
#ppic4{bottom: 0; left: 550px; height: 140px;width:215px}
#ppic5{top: 0; right: 0; height: 300px; width: 300px;}
#ppic0 img{height: 300px; width: 300px;}
#ppic1 img{height: 140px; width: 215px;}
#ppic2 img{height: 140px; width: 215px;}
#ppic3 img{height: 140px; width: 215px;}
#ppic4 img{height: 140px; width: 215px;}
#ppic5 img{height: 300px; width: 300px;}
.hshadow{position: absolute; width: 100%; background:rgba(0,0,0,0.7); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000); bottom: 0; left: 0; display: block; height: 40px; opacity: 0.7;}
.hstxt{bottom: 0; left: 0; line-height: 40px; position: absolute; width: 100%; text-align: center;}
.hstxt a{font-size: 16px; color: #fff !important;}
.media_link{float:left; widows: 1080px;}
.media_link ul{float:left;margin:10px 0px;}
.media_link li{line-height:36px;color:#ddd ;text-align: left;}
.media_link li a{color:#004276; padding: 0px 8px; font-size: 14px; display: inline-block}
.media_link li a:visited{color:#004276}
.media_link li a:hover{color:#ba2636}
.help-inline{display: block; float:left;padding:5px 10px;color: #f90000;background-color: #f2dede;border-color: #fff;text-shadow: 0 1px 0 rgba(255,255,255,0.5);}
.footnav{width:100%; height: 48px; border: 1px solid #e9e9e9; line-height: 48px; background: #E7E8F0; text-align: center; border-left:0px; border-right: 0px;}
.footnav a{padding: 0px 20px; font-size: 16px; color: #6a6a6a;}
.navBox{background: #213d7c;}
.left{float: left;}
.navMain{margin: 0px auto;
width: 1080px;
height: 80px;
color: rgb(255, 255, 255);
font-size: 24px;}
.logo{margin-right: 32px;}
.left{float: left;
display: inline;}
ul.navList li{padding: 20px;
height: 40px;
line-height: 40px;
overflow: hidden;
float: left;
display: inline;}
ul.navList li a{color: rgb(255, 255, 255);}
a:visited{color: rgb(37, 37, 37);
text-decoration: none;}
a:link{color: rgb(37, 37, 37);
text-decoration: none;}
.left a:hover{color: rgb(255,255,255);}
user agent stylesheeta:-webkit-any-link{color: -webkit-link;
text-decoration: underline;
cursor: auto;}
.ad0{margin-top: 5px ;margin-bottom: 4px ;text-align: center;}
.ad1{margin-top: 5px ;margin-bottom: 4px ;text-align: center;}
.ad2{margin-top: 5px ;margin-bottom: 4px ;text-align: center;}
.ad3{margin-top: 5px ;margin-bottom: 4px ;text-align: center;}
.ad4{margin-top: 5px ;margin-bottom: 4px ;text-align: center;}
.adm0{margin-top: 5px ;margin-bottom: 4px ;text-align: center;float: left;}
.adm1{margin-top: 5px ;margin-bottom: 4px ;text-align: center;float: left;padding-left: 15px;padding-right: 15px;}
.adm2{margin-top: 5px ;margin-bottom: 4px ;text-align: center;padding-bottom: 10px;}
.topnav1{margin:0px;padding:0px;}
.topnav1 .left{height:38px; margin-top: -5px;}
#nav1-container{height:38px;}
.topnav1 .maincenter{height:38px;}
.topnav1 .right{margin-top:2px;}
.danhangzi{position: relative; /*height: 120px;*/}
.toutiao{position:relative;  /*background: url(top.gif) no-repeat;*/}

/*新增市领导活动报道集 2019-6-21*/
#city-leaders{width: 368px;text-align: center;border: 1px solid #e0e0e0;background-color: #f6f6f6;margin-bottom: 10px;}
#city-leaders h3{line-height: 35px;border-top: 3px solid #c00;display: inline-block;padding: 0 5px;font-size: 20px;}
#city-leaders ul{overflow: hidden;margin: 10px;}
#city-leaders .city-leaders-col{width:50%; float:left;} 
#city-leaders .city-leaders-col img{width:82px; height:100px;padding-bottom: 5px;}
#city-leaders ul li a span{display: block;}

/*新增首页广告轮播图 2019-7-8*/
#index_ad {margin:0px auto; margin-bottom:5px;width: 1080px; height: 100px;}
#index_ad .slides { margin: 0px auto; width: 1080px; height: 100px; overflow: hidden; position: relative; }
#index_ad .slide-pic { margin: 0px; padding: 0px; width: 1080px; overflow: hidden; list-style: none; }
#index_ad .slide-pic img { width: 1080px; height: 100px; }
#index_ad .slide-pic li { display: none; }
#index_ad .slide-pic li.cur { display: block; }
#index_ad .slide-li { margin: 0px; padding: 0px; left: 0px; bottom: 0px; position: absolute; }
#index_ad .slide-li li { margin: 0px; padding: 0px; width: 25%; height: 10px; float: left; overflow: hidden; list-style: none; }
#index_ad .slide-li a { width: 25%; height: 10px; color: #000; font-size: 12px; display: block; }
#index_ad .slide-li a:hover { color: #F00; text-decoration: none; }
#index_ad .op li { background: #999999; filter: alpha(opacity=60); opacity: 0.6; }
#index_ad .op li.cur { background: #666666; }
#index_ad .slide-txt span { display: none; }