
/* ====================
     列表页
==================== */

/*列布局*/
.Area_l {width:820px; float:left;}
.Area_r {width:425px; float:right; padding-top:14px;}


h2 {font-size:23px; overflow:hidden; line-height:40px; margin-bottom:10px;}
h3 {font-size:20px; line-height:30px; color:#000; padding-bottom:10px; padding-top:10px; overflow:hidden;}
h4 {height:40px; overflow:hidden; position:relative; margin-bottom:40px; font-size:26px;  color:#194FA5;  text-align:center;
background:url(../image/h4_bg1.png) no-repeat center;}
/*栏目标题*/
h5 {height:30px; overflow:hidden; position:relative; margin-bottom:40px;}
h5.wzjg {margin-bottom:30px;}/*文字40,图片50*/

h5 .line {width:100%; height:2px; overflow:hidden; background:#CADAE9; overflow:hidden; position:absolute; z-index:10; bottom:0;}
h5 .title{ font-size:26px; height:30px; padding:0 5px; overflow:hidden; position:absolute; z-index:100; left:30px; background:#FFF; color:#194FA5; font-weight:bold;}
h5  .more{width:50px; height:30px; overflow:hidden; display:block; background:url(../image/more.gif); float:right;}

/*列表页面*/
.lblist {}
.lblist h5 {width:190px; margin-bottom:0; position:relative; margin-top:30px;}
.lblist h5 i {width:14px; height:20px; display:block; background:#CADAE9; overflow:hidden; position:absolute; z-index:10; left:10px; top:3px;}
.lblist h5 .more {}
.lblist ul{width:100%; overflow:hidden;}
.lblist li { border-bottom:1px solid #ddd; padding:25px 10px; position:relative;}
/*.lblist li:hover { background:#f3f6f8;}*/
.lblist li .label { color:#4c4c4c; font-size:14px;}/*标签*/
.lblist li .label .class{ background:#E2EFF5; overflow:hidden; padding:3px 10px; line-height:100%; margin-right:20px; border-radius:5px;}
.lblist li .label .class a {color:#4c4c4c;}
.lblist li .label .class a:hover { color:#1950a3; text-decoration:none;}

.lblist .mores { margin-top:20px;}
.lblist li .description{width:300px; height:50px; position:absolute; z-index:10; right:0; top:30px; color:#5F5F5F;}


.piclist {width:100%; border:0; overflow:hidden; margin-top:40px;}
.piclist ul {width:1450px; overflow:hidden; display:block;}
.piclist li{width:300px; margin-right:33px; float:left; position:relative; margin-bottom:25px; cursor:pointer; overflow:hidden;}
.piclist li .img {border-radius:5px; overflow:hidden; position:relative;}
.piclist li .img img {width:100%; vertical-align:top; border-radius:5px;}
.piclist h3 {font-size:16px; overflow:hidden; line-height:26px; padding:10px 0; height:40px; text-align:center;}
.piclist li span {width:100px; height:30px; line-height:30px; display:block; text-align:center; border:1px solid #C9DEF1; border-radius:5px; margin-top:10px;}
.piclist li span a {color:#3a70a7; font-size:16px;}

.piclist1 {width:100%; border:0; overflow:hidden; margin-top:40px;}
.piclist1 ul {width:1450px; overflow:hidden; display:block;}
.piclist1 li{width:240px; margin-right:25px; font-size:12px; line-height:22px; text-align:center; float:left; margin-bottom:25px;  position:relative; cursor:pointer; overflow:hidden;}
.piclist1 li h3 {font-size:16px; overflow:hidden; line-height:26px; padding:10px 0; height:40px; text-align:center;}
.piclist1 li .img {border-radius:5px; overflow:hidden; position:relative;}
.piclist1 li .img img {width:100%; vertical-align:top; border-radius:5px;}

.piclist2 {width:100%; border:0; overflow:hidden; margin-top:40px;}
.piclist2 ul {width:1450px; overflow:hidden; display:block;}
.piclist2 li{width:400px; margin-right:50px; font-size:12px; line-height:22px; text-align:center; float:left; margin-bottom:25px;  position:relative; cursor:pointer; overflow:hidden;}
.piclist2 li h3 {font-size:16px; overflow:hidden; line-height:26px; padding:10px 0; height:40px; text-align:center;}
.piclist2 li .img {border-radius:5px; overflow:hidden; position:relative;}
.piclist2 li .img img {width:100%; height:180px; vertical-align:top; border-radius:5px;}

.piclist li:hover .img img{transform:scale(1.1,1.1);}
.piclist li .img img {width:100%; vertical-align:top; transition:1s;}
.piclist li .img{overflow:hidden; position:relative;}

.piclist1 li:hover .img img{transform:scale(1.1,1.1);}
.piclist1 li .img img {width:100%; vertical-align:top; transition:1s;}
.piclist1 li .img{overflow:hidden; position:relative;}

.piclist2 li:hover .img img{transform:scale(1.1,1.1);}
.piclist2 li .img img {width:100%; vertical-align:top; transition:1s;}
.piclist2 li .img{overflow:hidden; position:relative;}



/***************************小盒子列表****************************/


.news { margin:0; border-top:0; overflow:hidden;}
.news li {overflow:hidden; position:relative; line-height:30px;}
.txt{ font-size:15px; color:#5d5d5d;}

/* ====================
     新闻右侧
==================== */

.xw_rela1 {overflow:hidden;}
.xw_rela1 li { overflow:hidden; margin-bottom:40px;}
.xw_rela1 li .img {width:200px; float:left; margin-right:25px;}
.xw_rela1 li h3 { font-size:20px; }
.xw_rela2 { overflow:hidden; margin-bottom:10px;}
.xw_rela2 li{ margin-bottom:20px;}


.xw_rela3 {overflow:hidden; margin-bottom:15px;}
.xw_rela3 li { overflow:hidden; margin-bottom:25px;}
.xw_rela3 li h3 { margin-bottom:10px;}
.xw_rela3 li .img {width:200px; float:left; margin-right:25px;}
.xw_rela3 li .txt {width:180px; line-height:26px; overflow:hidden; float:left;}

.xw_rela4 {overflow:hidden; margin-bottom:15px;}
.xw_rela4 li{ margin-bottom:20px;}
.xw_rela4 li .txt {border-left:3px solid #E1EAF1; padding-left:20px; margin-left:10px;}

.xw_rela5 {overflow:hidden; margin-bottom:25px;}
.xw_rela5 ul {width:500px;}
.xw_rela5 li {width:200px; margin-right:25px; float:left; margin-bottom:10px; overflow:hidden;}
.xw_rela5 li h3 { font-size:16px; line-height:24px; height:40px; overflow:hidden; text-align:center;}
/* ====================
     文化右侧
==================== */
.wh_rela1 {overflow:hidden;}
.wh_rela1 ul{width:380px; margin:0 auto;}
.wh_rela1 li { overflow:hidden; margin-bottom:40px;}
.wh_rela1 li .img {width:175px; height:120px; float:left; margin-right:25px;}
.wh_rela1 li .txt {width:180px; line-height:32px; overflow:hidden; float:right; font-size:18px; color:#000;}

.wh_rela2 {overflow:hidden;}
.wh_rela2 ul {width:380px; margin:0 auto; overflow:hidden; display:block;}
.wh_rela2 li{ margin-bottom:25px; cursor:pointer; overflow:hidden;}
.wh_rela2 li img {width:100%; height:160px;}
.wh_rela2 li h3 { font-size:20px;}


/* ====================
     军事右侧
==================== */
.js_rela1 {overflow:hidden;}
.js_rela1 ul {overflow:hidden; display:block;}
.js_rela1 li{width:380px; margin:0 auto; margin-bottom:20px; cursor:pointer; overflow:hidden;}
.js_rela1 li h3 { font-size:20px; text-align:center;}

.js_rela2 {overflow:hidden;}
.js_rela2 li {width:345px; margin:0 auto; overflow:hidden; margin-bottom:25px;}
.js_rela2 li .img {width:210px; float:left;}
.js_rela2 li .txt {width:120px; height:110px; line-height:27px; overflow:hidden; float:right;}
.js_rela2 li h3 { font-size:20px;}


/* ====================
     两岸右侧
==================== */

.la_rela1 {overflow:hidden;}
.la_rela1 li { overflow:hidden; margin-bottom:40px; position:relative;}
.la_rela1 li .img {width:200px; float:left; margin-right:25px;}
.la_rela1 li h3 { margin-top:0; padding-top:0; margin-bottom:10px; height:85px; overflow:hidden;}
.la_rela1 li span {width:100px; height:30px; line-height:30px; display:block; text-align:center; border:1px solid #C9DEF1; border-radius:5px; position:absolute; z-index:10; left:225px; bottom:0;}
.la_rela1 li span a {color:#3a70a7; font-size:16px;}

.la_rela2 {overflow:hidden;}
.la_rela2 ul {overflow:hidden; display:block;}
.la_rela2 li{margin-bottom:25px; cursor:pointer; overflow:hidden;}


.la_rela3 { margin-bottom:20px; overflow:hidden;}
.la_rela3 .news {width:400px; margin:0 auto;}
.la_rela3 li {padding-left:70px; border-bottom:1px solid #EFEFEF; margin-bottom:15px; padding-bottom:15px; font-size:18px; }
.la_rela3 li span {background:#ebf1f6; overflow:hidden; width:50px; text-align:center; padding:5px 5px; font-size:14px; color:#597494;
line-height:100%; 
margin-right:20px; 
border-radius:15px; 
position:absolute; 
z-index:10; 
left:0; 
top:5px;}

/*评论*/
.pl_rela1 {overflow:hidden;}
.pl_rela1 li { overflow:hidden; margin-bottom:40px;}
.pl_rela1 li .img {width:200px; float:left;}
.pl_rela1 li .txt {width:190px; line-height:32px; overflow:hidden; float:right; font-size:21px; color:#000;}

.pl_rela2 {overflow:hidden;}
.pl_rela2 ul {overflow:hidden; display:block;}
.pl_rela2 li{ margin-bottom:25px; cursor:pointer; overflow:hidden;}
.pl_rela2 li h3 { font-size:20px;}

.pl_rela3 { margin-bottom:10px; overflow:hidden;}
.pl_rela3 li { overflow:hidden; overflow:hidden; margin-bottom:28px; margin-top:28px; }
.pl_rela3 li .img {width:98px; height:98px; padding:8px; border-radius:90px; border:1px solid #ccc; overflow:hidden; float:left;}
.pl_rela3 li .img img {width:98px; height:98px; border-radius:90px;}
.pl_rela3 h3 {width:285px; font-size:20px; line-height:32px; float:right; padding:15px 0 20px 0; overflow:hidden; border-bottom:1px solid #DBDBDB; }

/*台湾*/
.tw_rela1 {overflow:hidden;}
.tw_rela1 li { overflow:hidden; margin-bottom:40px;}
.tw_rela1 li .img {width:200px; float:left;}
.tw_rela1 li .txt {width:190px; line-height:32px; overflow:hidden; float:right; font-size:21px; color:#000;}

.tw_rela2 {overflow:hidden;}
.tw_rela2 ul {overflow:hidden; display:block;}
.tw_rela2 li{ margin-bottom:25px; cursor:pointer; overflow:hidden;}
.tw_rela2 li h3 { font-size:20px;}



.zl_rela1 {}
.zl_rela1 .jsBox {background:#f6f8fe; padding:15px; overflow:hidden; text-align:center;}
.zl_rela1 .jsBox a {width:123px; height:48px; line-height:48px; margin-left:3px; margin-bottom:10px; background:#fff; display:inline-block; border:1px solid #e4e5e6; border-radius:10px; color:#374a75; font-size:20px;}
.zl_rela2 {}
.zl_rela2 .zlBox {width:460px; overflow:hidden; text-align:center;}
.zl_rela2 .zlBox a {width:202px; float:left; margin-bottom:10px; margin-right:20px;}
.zl_rela2 .zlBox a img{width:100%;}