

/*************************
   SHOW 详情展示页面
*********************/
/*列布局*/
.Area_l {width:820px; float:left;}
.Area_r {width:425px; float:right; padding-top:14px;}
.areaL {width:130px; float:left;}
.areaR {width:700px; margin-right:10px; float:right;}


.showbody {border:0; overflow:hidden; line-height:36px; font-size:22px; color:#333333; margin-bottom:50px; margin-top:35px;}
.showbody h1 { color:#000; text-align:center; font-size:35px; line-height:50px; overflow:hidden; margin-bottom:20px;}

.showbody .cf { font-size:12px; text-align:center; height:30px; line-height:30px; color:#B7B7B7; border-bottom:1px dashed #e5e5e5;}
.showbody .description {overflow:hidden; border-left:5px solid #ccc; background:#f9f9f9; padding:10px; font-size:16px; line-height:32px;}
.showbody .box { padding:0; border:0;}
.showbody .end { text-align:center; padding:20px 0;}
.showbody .mbxDate { overflow:hidden; font-size:14px; color:#6D6D6D; overflow:hidden;}
.showbody .mbxDate a {color:#6D6D6D;}
.showbody .mbxDate a:hover{ color:#1950a3; text-decoration:none;}
.showbody .mbxDate .share {width:100px; float:right;}
.showbody .mbxDate .share a {width:40px; height:40px; margin-left:10px; display:block; float:left; overflow:hidden;}
.showbody .mbxDate .share .qzone{background:url(../image/qqkj1.png) no-repeat; background-size:40px;}
.showbody .mbxDate .share .qzone:hover {background:url(../image/qqkj.png) no-repeat; background-size:40px;}
.showbody .mbxDate .share .sina{background:url(../image/xlwb1.png) no-repeat; background-size:40px;}
.showbody .mbxDate .share .sina:hover{background:url(../image/xlwb.png) no-repeat; background-size:40px;}

.showbody video{width:100%; height:auto; max-height:500px;}
/*编辑器展示*/
.contentBox {overflow:hidden; padding-top:20px; font-size:18px;}
.contentBox img{ max-width:100%; }
.contentBox p {margin:5px 0;}
.contentBox center { padding:10px 0; margin-bottom:10px; overflow:hidden;}
.contentBox .keylink {color:#FF6600;}
.contentBox .keylink:hover { color:#CC0000; text-decoration:underline;}
.contentBox .tag a { padding:5px; color:#FF6600;}
.contentBox .tag a:hover { color:#CC0000; text-decoration:underline;}
.showbody .source { font-size:14px; color:#868686; line-height:30px; padding:20px 20px 0px 38px; overflow:hidden;}
.contentBox p a:link,.contentBox p a:visited { color:#1950a3;}
.contentBox p a:hover { color:#00F;}
.contentBox>section
{
	width:90%; margin:0 auto;
}
.videoBox {overflow:hidden; background:#666; border-radius:10px; padding:10px;}
.videoBox .video { float:left; width:850px;}
.videoBox .rela { float:left; width:360px; background:#EEE; padding:10px; overflow:hidden;}

.rela1 {overflow:hidden; border:1px solid #E7E7E7; border-radius:15px; background:#FCFCFC; padding:25px;}
.rela1 li { overflow:hidden; margin-bottom:20px;}
.rela1 li .img {width:160px; height:90px; float:left; padding:3px; border:1px solid #D8D8D8; border-radius:5px;}
.rela1 li .img img{width:160px; height:90px;}
.rela1 li .txt {width:180px; height:96px; overflow:hidden; line-height:26px; overflow:hidden; float:right; font-size:16px; color:#000; border-bottom:1px solid #D8D8D8;}


.piclist1 {width:100%; border:0; overflow:hidden; margin-top:40px;}
.piclist1 ul {width:1450px; overflow:hidden; display:block;}
.piclist1 li{width:240px; margin-right:25px; font-size:12px; line-height:22px; text-align:center; float:left; margin-bottom:25px;  position:relative; cursor:pointer; overflow:hidden;}
.piclist1 li h3 { padding:5px 0; overflow:hidden; font-size:16px; text-align:left;}
.piclist1 li .img img {width:100%; vertical-align:top; border-radius:5px;}

/*列表页面*/
.newslist li { border-top:1px solid #ddd; padding:20px 0; position:relative;  list-style-type:none;}
.newslist li .label { color:#4c4c4c; font-size:14px;}/*标签*/
.newslist li .label .class{ background:#E2EFF5; overflow:hidden; padding:3px 10px; line-height:100%; margin-right:20px; border-radius:5px;}
.newslist li .label .class a {color:#4c4c4c;}
.newslist li .label .class a:hover { color:#1950a3; text-decoration:none;}
.newslist .mores { margin-top:20px;}
.newslist li .description{width:300px; height:50px; position:absolute; z-index:10; right:0; top:30px; color:#5F5F5F;}
