
/*======Reset style======*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0; border:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
ol,ul,li{list-style:none;}
body,button,input,select,textarea{font:15px/28px \5B8B\4F53,\5FAE\8F6F\96C5\9ED1;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
abbr,acronym{border:0;font-variant:normal;}
body{margin:0 auto;width:100%;color:#4a4a4a;height:100%;background:url(../image/body-bg.gif) center top no-repeat #fff;}

.clear{display:block;clear:both;height:0;line-height:0;font-size:0;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
a{color:#1a1a1a;text-decoration:none;cursor:pointer;}
a:hover{color:#d70000;}
.w1100,.header,.top{width:1100px;margin:0 auto;}

/*============header============*/
.header{text-align:right;height:50px;line-height:50px;}

.top{height:176px;}
	.top .logo{margin:20px 0 0 10px;}
.search_r{width:246px;height:26px;margin:66px 0 0 0;border:1px solid #cacaca;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px}
	.search_r input{float:left;width:204px;padding:0 10px;height:26px;line-height:26px;color:#999;outline:none;border:0;}
	.search_r img{float:right;}

/*========case_main========*/
.case_main{margin:0px auto px;overflow:hidden;}
.news_left{width:710px;padding:0 24px 60px 0;border-right:1px solid #dadada;overflow:hidden;}
.news_left2{width:680px;padding-right:40px;}

/*===focusImg===*/
.focusImg{width:710px;height:355px;position:relative;background:#fff;overflow:hidden;}

/*===news_list===*/
.news_list{width:710px;overflow:hidden;}
	.news_list h3{height:86px;font:bold 24px/96px \5FAE\8F6F\96C5\9ED1;overflow:hidden;}
		.news_list h3 a:hover{color:#003c82;}
	.news_pic{float:left;width:192px;height:144px;}
	.news_text{float:right;width:496px;height:140px;overflow:hidden;}

.news_list2{width:340px;}
	.news_list2 h3{height:54px;padding-top:2px;font:16px/54px \5FAE\8F6F\96C5\9ED1;}
	.news_list2 .news_pic{width:112px;height:76px;}
	.news_list2 .news_text{width:218px;height:70px;padding-top:3px;font-size:13px;line-height:24px;}

/*===news_right===*/
.news_right{width:340px;font-size:14px;}
.title1{height:54px;padding-bottom:2px;background:url(../image/line.gif) left bottom no-repeat;}
	.title1 h2{display:block;height:54px;font-size:0;background:url(../image/zbhn.png) left center no-repeat;}	
	.title1 h2 a{display:block;width:100%;height:54px;}
	.title2 h2{background-image:url(../image/tjhn.png);}
	.title3 h2{background-image:url(../image/yzhn.png);}
	.title4 h2{background-image:url(../image/tjyd.png);}

.zbhn_nrz{width:340px;margin:16px 0 20px;padding-top:16px;background:url(../image/zbhn_bj.png) 49px top no-repeat;}
	.zbhn_h{width:340px;height:46px;margin:5px 0 0 0;overflow:hidden;}
	.time{float:left;width:53px;margin:4px 0 0 0;font-weight:bold;color:#8a8a8a;}
		.zbhn_h.now .time{color:#d70000;}
	.zbhn_d{float:left;width:9px;height:9px;margin:10px 0 0 0;background:url(../image/zbhn_d1.gif) no-repeat;}
		.zbhn_h.now .zbhn_d{background:url(../image/zbhn_d2.gif) no-repeat;}
	.zbhn_rz{float:right;width:272px;height:46px;}
		.zbhn_rz h4,.zbhn_rz span{display:block;width:254px;line-height:16px;overflow:hidden;}
		.zbhn_rz h4{padding:6px 0 0 14px;height:16px;color:#000;}
		.zbhn_rz span{padding:4px 0 0 14px;hanging-punctuation:16px;color:#8a8a8a;}
	.zbhn_h.now .zbhn_rz{background:url(../image/zbhn_jt.png) no-repeat;}

.tj_main{width:340px;}
	.tj_pic{width:320px;height:340px;margin:20px auto 0;overflow:hidden;}
	.tj_main h4{width:328px;padding-left:12px;height:40px;line-height:40px;color:#fff;background:#333;overflow:hidden;}
	.tj_main h4 a{color:#fff;}
	.tj_main h4 a:hover{text-decoration:underline;}
	
.tj_list{width:340px;padding:8px 0 0 0;}
	.tj_list li{width:100%;height:30px;line-height:30px;margin:4px 0;overflow:hidden;}
		.tj_list li span{float:left;width:27px;height:30px;background:url(../image/ico1.gif) left 50% no-repeat;}
		.tj_list li a{float:right;width:313px;}
		.tj_list li a:hover{text-decoration:underline;color:#d70000;}

.yzhn_h1,.yzhn_h2{width:340px;padding-top:16px;overflow:hidden;}
	.yzhn_h1_no,.yzhn_h1_nr{height:19px;line-height:19px;overflow:hidden;}
	.yzhn_h1_no{float:left;width:41px;padding:0 0 0 3px;color:#fff;font-size:12px;background:url(../image/ico2.gif) no-repeat;}
	.yzhn_h1_nr{float:right;width:284px;}
		.yzhn_h1_nr a:hover{text-decoration:underline;color:#d70000;}

.pic12{width:340px;height:170px;}
.pic12_font{padding:12px 0 0 0;}
	.pic12_fr{float:right;width:284px;height:62px;border-left:1px dotted #999;}
		.pic12_fr p,.pic12_fr span{float:right;width:272px;}
		.pic12_fr p{height:20px;line-height:20px;overflow:hidden;}
		.pic12_fr p a:hover{text-decoration:underline;}
		.pic12_fr span{font-size:12px;color:#8a8a8a;line-height:22px;height:44px;overflow:hidden;}

/*======details page======*/
.page_title{}
	.page_title h1{font:bold 30px/50px \5FAE\8F6F\96C5\9ED1;color:#000;}
	.art_info{padding-top:6px;height:50px;line-height:50px;font-size:13px;color:#5a5a5a;border-bottom:1px solid #d4d4d4;overflow:hidden;}
.summary{padding-left:92px;font:14px/26px KaiTi;color:#000;margin:30px 0 16px;background:url(../image/summary.png) left top no-repeat; height:104px;}	

#content{width:680px;font-size:16px;color:#252525;overflow:hidden;}
	#content p{margin:14px 0;}
	#content img{max-width:640px;}


/*============footer============*/
.footer{width:100%;height:120px;font:13px/120px Tahoma;text-align:center;color:#616161;background:#333;overflow:hidden;}
	.footer span,.footer a{color:#fff;margin:0 15px;}

/*======page======*/
.pageArea{width:710px;height:30px;padding-top:26px;margin:0 auto;overflow:hidden; text-align:center;}
    .pageArea a,.pageArea span{height:22px;line-height:22px;padding:0 6px;margin:0 2px;}
	.pageArea a:hover,.pageArea span.page_current{color:#dc0000;text-decoration:none;}

/* 焦点图*/
.bigimg{ 
    width:710px; 
	height:355px; 
	overflow:hidden; 
	position:relative; 	
	float:left;
	overflow:hidden;
}
.bigimg .bg{ 
    width:710px; 
	height:50px;background-color:#000; 
	filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;
    position:absolute; bottom:0; left:0;
}
.bigimg p{ 
    font-size:18px; 
	color:#fff; 
	font-family:microsoft yahei; 
	position:absolute; 
	display:block; 
	line-height: 52px;
    display: block;
    left: 8px;
    bottom: 0px;
}
.bigimg p a{ 
    color:#fff;
}
.bigimg .point{ 
    display:block; 
	position:absolute; 
	right:6px; 
	bottom:9px; 
	width:100px; 
	height:20px;
}
.bigimg .point a{ 
    display:block; 
	float:left; 
	margin:2px 8px;  
	width:8px; 
	height:8px; 
	border-radius:4px; 
	background-color:#fff;
	_margin:2px 6px;
	width:_4px; 
	height:_4px;
}
.bigimg .point a:hover,.bigimg .point a.now{ 
    background-color:#b91b21; 
	width:12px; 
	height:12px; 
	border-radius:6px; 
	margin:0 6px; 
	_margin:0px 4px;
	width:_4px; 
	height:_4px;
}

.pageNav{ clear:both; padding:30px 0 4px 0; font-size:14px; text-align:center; overflow:hidden; height:30px;}
.pageNav a.f12{ display:inline-block; padding:0 12px; overflow:hidden; margin-right:4px; color:#343434; height:28px; line-height:28px; border:1px solid #e2e2e2;}
.pageNav a:hover{ text-decoration:none; display:inline-block;}
.pageNav a.f12_a{ display:inline-block; padding:0 12px; overflow:hidden; margin-right:4px; color:#343434; height:28px; line-height:28px; border:1px solid #e2e2e2; background-color:#35baf0; color:#fff;}