/* .NewsCenter.contentPage .header .hotLine{
	display: none;
} */
.NewsCenter.contentPage .wrap{
	width:1280px;
	margin:0px auto;
}
.NewsCenter.contentPage .container .wrap{
	width:auto;
}
@media (max-width:1199px){
	.crumbNav{
		display:none;
	}
}
.NewsCenter.contentPage .wrap .contentBody{
	padding-top:30px;
}
@media (min-width:1200px) {
	.NewsCenter.contentPage .subNav li.active{
		background-color:#dddddd;
	}
	.NewsCenter.contentPage .wrap .contentBody{
		padding-top:30px;
		margin-left:200px;
	}
	
}
.NewsCenter.contentPage .wrap .contentBody .preTitle{
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	height: 30px;
}
.NewsCenter.contentPage .wrap .contentBody .preTitle:empty{
	display: none;
}
/*.NewsCenter.contentPage .wrap .contentBody .preTitle:empty + .title{
	margin-top:60px;
}*/
.NewsCenter.contentPage .wrap .contentBody .title{
	line-height: 50px;
	font-size: 25px;
	text-align: center;
	font-weight: 600;
}
.NewsCenter.contentPage .wrap .contentBody .subTitle{
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	color:#605E5A;
}
.NewsCenter.contentPage .wrap .contentBody .extInfo{
	line-height: 20px;
	padding:15px 0px;
	border-top:solid #EEEEEE 1px;
	border-bottom:solid #EEEEEE 1px;
	margin:20px 0px;
	text-align:center;
}
@media (max-width:1199px){
.NewsCenter.contentPage .wrap .contentBody .extInfo{
	text-align:left;
	padding-left:15px;
}
}
.NewsCenter.contentPage .wrap .contentBody .extInfo .pubDate{
	color:#A6A6A6;
	font-size:14px;
	margin-right:20px;
}
.NewsCenter.contentPage .wrap .contentBody .extInfo a{
	font-size:14px;
	color:#585858;
}
.contentBody .article{
	padding: 10px;
	color:#333333;
	line-height: 35px;
	font-family: "微软雅黑";
        font-size: 16px;
	overflow:hidden;
}
.contentBody .article img{
        display:inline-block;
        max-width:100%!important;
        height:auto!important;
	/*margin:0px auto;*/
}
.contentBody .editor{
	font-family: "宋体";
	text-align:right;
}
.contentBody .sytg{
	text-align:right;
	color:#cccccc;
	font-size:10px;
}