
/* CSS Document by LionLuo */
body,div,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img{ margin:0; padding:0; border:0;}
body{background:#020a1b url(../image/bg.jpg) top center no-repeat; color:#333; font-size:14px; font-family:"宋体"; text-align:center; width:100%;}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
a,a:link,a:visited{ color:#000; text-decoration:none;}
a:hover,a:active,a:focus{ color:#CC0000; text-decoration:underline;}

.line01{height:1px; line-height:1px; background:url(http://cnenews.com.cn/images/line03.gif) repeat-x;}

.border01{border:1px solid #99beff;}

.link01,.link01 a:link,.link01 a:visited{color:#333; text-decoration:none;}
.link01 a:hover{color:#C00;}

.link02,.link02 a:link,.link02 a:visited{color:#FFF; text-decoration:none;}
.link02 a:hover{color:#888;}

.link03,.link03 a:link,.link03 a:visited{color:#333; text-decoration:none;}
.link03 a:hover{color:#C00;}

.link04,.link04 a:link,.link04 a:visited{color:#c30; text-decoration:none;}
.link04 a:hover{color:#F30;}

.link05,.link05 a:link,.link05 a:visited{color:#FFF; text-decoration:none;}
.link05 a:hover{color:#FC0;}

.link06,.link06 a:link,.link06 a:visited{color:#666; text-decoration:none;}
.link06 a:hover{color:#C00;}

.link07,.link07 a:link,.link07 a:visited{color:#000; text-decoration:none;}
.link07 a:hover{color:#000;}

.link08,.link08 a:link,.link08 a:visited{color:#999; text-decoration:none;}
.link08 a:hover{color:#FFF;}

.font12px {font-size:12px;}

.float_left{float:left;}
.float_right{float:right;}
.clear_float{clear:both;}

.zheight{height:1px; margin-top:-1px;clear: both;overflow:hidden;}

#header{width:100%; height:177px; text-align:center; margin:0 auto;}

#menu{width:100%; margin:0 auto; background:#101010;}
.menu_c{width:1000px; height:45px; text-align:left; margin:0 auto;}
.menu_c li{text-align:right; width:105px; float:left; overflow:hidden; font:bold 16px/36px "宋体"; padding-top:5px; color:#FFF;}
.menu_c_home{ text-align:left; font:bold 16px/45px "微软雅黑", "黑体";}
.menu_c_home img{ padding-right:10px;}

.header_c{width:1000px; height:132px; margin:0 auto;}

.top_lm{height:25px; text-align:left; padding: 4px 0 0 7px;}
.top_lm span{ color:#b1d3fc; font:12px/22px "宋体"; padding-top:3px;}

#search{ padding: 10px 63px 0 0;width:210px; height:51px; text-align:left;}
.search_c{width:210px; height:27px; font:12px/26px "宋体"; background:url(http://cnenews.com.cn/images/search_bg.gif) left no-repeat;}
.search_c_input{width:174px; height:20px; font:13px/20px "宋体"; background:#f8f8f8; color:#999; border:0; margin:2px 0 0 5px;}
.search_c_submit{width:29px; height:27px; border:0; padding:0; margin:0}
.search_k{width:210px; height:20px; font:12px/20px "宋体"; padding-top:4px; text-align:left; color:#a1bfe4;}

#main{width:1000px; text-align:center; margin:0 auto;}

.hotnews{width:1000px;}
.hotpics{width:669px; height:352px; overflow:hidden; background:url(../image/hotpic_bg.jpg) no-repeat;}

.hotpic{width:643px;height:326px;position:relative; overflow:hidden; margin:13px 0 0 13px;}
.bigPic03 .textbg{position:absolute;width:643px;height:40px;top:286px;left:0;background:#000;filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3}
.bigPic03 .text{position:absolute;width:305px;height:40px;line-height:27px;top:286px;*top:286px;_top:286px;left:10px}
.bigPic03 .text h3{float:left; font: normal 18px/37px Microsoft YaHei,"微软雅黑"; color:#FFF; width:485px; overflow:hidden; text-align:left; height:40px; padding-top:4px;}
.bigPic03 .text span{float:right;color:#ccc;background:url(http://cnenews.com.cn/images/i_hd.gif) no-repeat 0 6px;padding-left:17px}
#prevSlide,#nextSlide{width:30px;height:54px;position:absolute;top:220px;left:0;z-index:10;text-align:center;cursor:pointer}
#prevSlide img,#nextSlide img{position:absolute;top:18px;left:10px;z-index:12}
.btnBg{position:absolute;top:0;left:0;width:30px;height:54px;filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;background:#000;position:absolute;z-index:11}
.btnBgHover{position:absolute;top:0;left:0;width:30px;height:54px;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;background:#000;position:absolute;z-index:11}
#nextSlide{left:613px}
#nextSlide img{left:15px}
.dotList{position:absolute;right:3px;top:303px;}
.dotList li{float:left;width:7px;height:7px;background:url(../image/i_dot06.gif) no-repeat top right;margin:0 7px 0 0;display:inline;cursor:pointer}
.dotList li.current{background:url(../image/i_dot06.gif) no-repeat top left}

.zxdt{width:315px; height:352px; background:url(../image/zxdt_bg.jpg) no-repeat;}
.zxdt_bt{width:315px; height:50px;}
.zxdt_bt h1{font: normal 18px/40px Microsoft YaHei,"微软雅黑"; color:#FFF; padding-left:13px; padding-top:10px;}
.zxdt_bt h1 span{font:normal 24px/40px Microsoft YaHei,"微软雅黑"; padding-right:2px;}
.zxdt_more{width:50px; height:50px;}

.zxdt_con{width:275px; padding:0 20px; text-align:left;}
.zxdt_con h1{font: normal 18px/30px Microsoft YaHei,"微软雅黑"; color:#333; width:275px; text-align:left; padding:10px 0 5px;}
.zxdt_con h2{font: normal 12px/20px "宋体"; color:#666; width:275px; height:60px; overflow:hidden;}
.zxdt_con h2 img{width:100px;height:70px;float: left;padding-right: 10px;}
.zxdt_con ul{ padding-top:10px;}
.zxdt_con ul li{width:264px; height:25px; font: normal 14px/25px "宋体"; overflow:hidden; background:url(../image/point01.gif) 1px center no-repeat; padding-left:11px;}

.xhnews{width:1000px; height:313px; background:#FFF; margin-top:20px;}

.xhnews_l{width:656px; padding:12px 0 0 13px}

.hydt{width:656px; height:173px; background:#ffe55a; margin-bottom:12px;}
.hydt_bt{padding:13px 10px 0 12px; width:80px; height:147px; text-align:right; font: 13px/25px Arial, Helvetica, sans-serif;}
.hydt_bt img{ padding-top:28px; padding-bottom:5px;}
.hydt_pic {width:200px; height:147px; padding-top:13px;}
.hydt_con{ background:#fffcef;width:330px; height:147px; margin-top:13px; padding-left:10px;}
.hydt_con ul{width:310px; padding-top:10px;}
.hydt_con ul li{width:310px; height:25px; font: normal 14px/25px "宋体"; overflow:hidden; background:url(../image/point01.gif) 1px center no-repeat; padding-left:11px; text-align:left;}

.xhjs{width:149px; height:100px;}
.xhmenu{width:180px; height:100px; margin-left:13px; background:#a3d29c;}
.xhmenu ul li{width:180px; height:33px; font: normal 16px/33px Microsoft YaHei,"微软雅黑"; text-align:left; color:#fff;}
.xhmenu a:link,.xhmenu a:visited{width:160px; height:33px; display:block; color:#FFF; text-decoration:none;padding-left:20px;}
.xhmenu a:hover{color:#FFF; background: #86bc7d url(../image/xhmenu_ico.gif) 5px center no-repeat; }

.search{width:302px; height:100px;}
.search_c{width:278px; height:36px; background:#fff; border:12px solid #10b8b2;}
.search_c input{float:left;}
.input01{width:230px; height:34px; padding-left:10px; border:0; background:#FFF; font:13px/34px "宋体";}
.input02{width:36px; height:36px; border:0; background:url(../image/search_an.gif) no-repeat;}
.search_hot{width:302px; height:36px; font:12px/18px "宋体"; padding-top:4px; text-align:left; overflow:hidden;}

.xsfb{width:315px;}
.xsfb_bt{width:315px; height:50px;}
.xsfb_bt h1{font: normal 18px/40px Microsoft YaHei,"微软雅黑"; color:#6d6d6d; padding-left:13px; padding-top:10px;}
.xsfb_bt h1 span{font:normal 24px/40px Microsoft YaHei,"微软雅黑"; color:#333; padding-right:2px;}
.xsfb_more{width:65px; height:30px; padding-top:20px; font:13px/30px Arial, Helvetica, sans-serif; text-align:left;}

.xsfb_con{width:273px; margin:0 10px; padding:8px 10px 15px; border:1px solid #e1e1e1; text-align:left;}
.xsfb_con h1{font: normal 18px/30px Microsoft YaHei,"微软雅黑"; color:#333; width:275px; text-align:left; padding:10px 0 5px;}
.xsfb_con h2{font: normal 12px/20px "宋体"; color:#666; width:275px; height:60px; overflow:hidden;}
.xsfb_con ul{ padding-top:10px;}
.xsfb_con ul li{width:264px; height:25px; font: normal 14px/25px "宋体"; overflow:hidden; background:url(../image/point01.gif) 1px center no-repeat; padding-left:11px;}

.xwnews{width:1000px; height:359px; margin-top:20px;}
.xwnews_l{width:669px; height:359px; overflow:hidden; background:url(../image/xwnews_l_bg.jpg) no-repeat;}

.wblt{width:315px; height:352px; padding-left:13px;}
.wblt_bt{width:315px; height:50px;}
.wblt_bt h1{font: normal 18px/40px Microsoft YaHei,"微软雅黑"; color:#FFF; padding-top:10px;}
.wblt_bt h1 span{font:normal 24px/40px Microsoft YaHei,"微软雅黑"; padding-right:2px;}
.wblt_more{width:55px; height:30px; padding-top:20px; font:13px/30px Arial, Helvetica, sans-serif; text-align:left;}

.wblt_con{width:275px; padding:0 20px; text-align:left;}
.wblt_con h1{font: normal 18px/30px Microsoft YaHei,"微软雅黑"; color:#333; width:275px; text-align:left; padding:10px 0 5px;}
.wblt_con h2{font: normal 12px/20px "宋体"; color:#666; width:275px; height:60px; overflow:hidden;}
.wblt_con h2 img{width:100px;height:70px;float: left;padding-right: 10px;}
.wblt_con ul{ padding-top:10px;}
.wblt_con ul li{width:264px; height:25px; font: normal 14px/25px "宋体"; overflow:hidden; background:url(../image/point01.gif) 1px center no-repeat; padding-left:11px;}

.szwb{width:315px; height:359px; background:url(../image/szwb_bg.jpg) no-repeat;}
.szwb_bt{width:315px; height:50px;}
.szwb_bt h1{font: normal 18px/40px Microsoft YaHei,"微软雅黑"; color:#FFF; padding-left:13px; padding-top:10px;}
.szwb_bt h1 span{font:normal 24px/40px Microsoft YaHei,"微软雅黑"; padding-right:2px;}
.szwb_more{width:50px; height:50px;}

.szwb_con{width:285px; padding:0 15px; text-align:left;}
.szwb_l{width:185px; height:289px;}
.szwb_con ul{ width:92px;}
.szwb_con ul li{width:92px; height:32px; text-align:center; font: normal 15px/32px Microsoft YaHei,"微软雅黑"; overflow:hidden; background: url(../image/szwb_an_bg2.gif) no-repeat; margin-bottom:11px; display:block;}
.szwb_con ul li .active{width:92px; height:32px; color:#C00; text-align:center; font: normal 15px/32px Microsoft YaHei,"微软雅黑"; overflow:hidden; background: url(../image/szwb_an_bg.gif) no-repeat; margin-bottom:11px; display:block;}

.wxjz{width:974px; height:174px; padding:13px; margin-top:20px; background:#FFF url(../image/wxjz.jpg) 13px 24px no-repeat;}
.ewm_pic{width:807px; height:98px; padding-left:140px; padding-bottom:15px;}
.ewm_pic ul li{ float:left; padding-left:35px;}
.ewm_pic img{width:98px; height:98px; float:left; padding-bottom:5px;}
.ewm_pic_r{width:150px; height:98px; overflow:hidden; text-align:left; padding-left:5px;}
.ewm_pic_r h1{font: normal 17px/28px Microsoft YaHei,"微软雅黑"; color:#333;}
.ewm_pic_r h2{font: normal 13px/25px Arial, Helvetica, sans-serif; color:#cc6633;}
.ewm_pic_r h3{font: normal 12px/20px "宋体"; color:#999;}

.ewm_font{width:974px; height:38px; background:#10b8b2; margin-top:20px;}
.ewm_font ul li{font: normal 16px/38px Microsoft YaHei,"微软雅黑"; color:#FFF; float:left; padding-left:15px;}
.ewm_font ul li span{width:122px; height:22px; font: normal 12px/22px Arial, Helvetica, sans-serif; background:#FFF; color:#009999; padding:3px 5px; margin-left:5px;}

.yqlj{width:100%; height:76px; margin:20px auto 0; background: url(../image/yqlj_bg.jpg) repeat-x;}
.yqlj_con{width:865px; height:70px; padding-left:135px; overflow:hidden; margin:0 auto; text-align:left; background:url(../image/yqlj_ico.jpg) 0 0 no-repeat;}
.yqlj_con ul{padding-top:10px;}
.yqlj_con ul li{font: normal 13px/26px "宋体"; float:left; padding-left:10px;}

#foot{ width:100%; background:#333; padding:15px 0; margin:0 auto; color:#717171;}
.foot_con{width:1000px; margin:0 auto;font: 12px/25px "宋体"; text-align:left;}
.foot_con table td img{ padding-left:20px; text-align:right;}
.foot_con_menu{ font:14px/40px "宋体"; text-align:left;}
.font_con_copy{ font:15px/40px "宋体"; color:#666;}


/* List */
.list{width:1000px;}
.list_left{width:639px; padding:22px 15px 35px; height:auto; overflow:hidden; background:#FFF;}
.list_left_wz{width:639px; height:50px; font:14px/50px "宋体"; color:#333; text-align:left; border-top:2px solid #999; border-bottom:1px dashed #CCC;}
.list_left_con ul{width:639px;}
.list_left_con ul li{width:639px; padding:25px 0 15px; text-align:left; border-bottom:1px dashed #CCC;}
.list_left_con ul li h1{width:639px; font: normal 20px/50px "Microsoft YaHei", "微软雅黑"; color:#333; }
.list_left_con ul li h2{width:639px; font: normal 14px/25px "宋体"; color:#666; }
.list_left_con ul li h3{width:639px; font: normal 13px/25px "宋体"; color:#666; }
.list_fy{ width:639px; padding:30px 0 0; color:#333;}
.list_fy a{ padding:5px 10px; font:13px/24px "宋体", Arial; background:#f5f5f5; text-decoration:none;}
.list_fy a:hover{background:#3fa7cb;font: 13px/24px "宋体", Arial; color:#FFF;}
.list_fy span{padding:5px 10px; font: bold 13px/24px "宋体", Arial; background:#3fa7cb; color:#FFF; text-decoration:none;}


.list_right{width:315px; padding:0 0 20px; overflow:hidden; background:#FFF;}

.list_wz{width:315px; padding-bottom:20px;}
.list_wz_bt{width:315px; height:50px;}
.list_wz_bt h1{font: normal 18px/40px Microsoft YaHei,"微软雅黑"; color:#6d6d6d; padding-left:13px; padding-top:10px;}
.list_wz_bt h1 span{font:normal 24px/40px Microsoft YaHei,"微软雅黑"; color:#333; padding-right:2px;}
.list_wz_more{width:65px; height:30px; padding-top:20px; font:13px/30px Arial, Helvetica, sans-serif; text-align:left;}

.list_wz_con{width:273px; margin:0 10px; padding:8px 10px 15px; border:1px solid #e1e1e1; text-align:left;}
.list_wz_con h1{font: normal 18px/30px Microsoft YaHei,"微软雅黑"; color:#333; width:275px; text-align:left; padding:10px 0 5px;}
.list_wz_con h2{font: normal 12px/20px "宋体"; color:#666; width:275px; height:60px; overflow:hidden;}
.list_wz_con ul{ padding-top:10px;}
.list_wz_con ul li{width:264px; height:25px; font: normal 14px/25px "宋体"; overflow:hidden;  padding-left:5px;}
.list_wz_con ul li span {color: #999; font: italic 20px/25px arial; width: 15px; text-align: center; padding-right:15px;display: inline-block;}

/* news */
.news_con{width:639px; padding-top:20px;}
.news_con h1{width:639px; font: normal 24px/50px "Microsoft YaHei", "微软雅黑"; color:#333; text-align:center;}
.news_con h3{width:639px; font: normal 13px/25px "宋体"; color:#666; text-align:center;}
.news_con_zw{width:639px; font:14px/24px "宋体"; color:#333; text-align:left; padding:25px 0 20px;}


/* 数字晚报 */
.list_szwb ul{width:639px;}
.list_szwb ul li{width:185px; padding:25px 11px 15px; text-align:left; float:left;}
.list_szwb ul li h1{width:185px;}
.list_szwb ul li img{ border:1px solid #f5f5f5;}
.list_szwb ul li h3{width:185px; font: normal 13px/30px "宋体"; color:#666; text-align:center; display:block;}

/* 微信矩阵*/

.list_ewm{width:639px;}
.list_ewm ul li{width:295px; float:left; padding: 15px 8px; 10px;}
.list_ewm img{width:98px; height:98px; float:left;}
.list_ewm_r{width:190px; height:98px; overflow:hidden; text-align:left; padding-left:5px;}
.list_ewm_r h1{font: normal 18px/28px Microsoft YaHei,"微软雅黑"; color:#333;}
.list_ewm_r h2{font: normal 13px/25px Arial, Helvetica, sans-serif; color:#cc6633;}
.list_ewm_r h3{font: normal 12px/20px "宋体"; color:#999;}

