/*内容页开始*/

.div2{position: fixed; _position: absolute;top: 0;z-index: 250;width: 320px;background-color:#fff}

/*主标题加粗*/
.main-title{font-weight:bold;}
.main-title {
    font-size: 38px;
    color: #4D4F53;
    line-height: 38px;
    padding: 10px 0px 40px 0px;
}


.top-bar-wrap{height:64px}
.top-bar{height:64px;border:1px solid #e5e5e5;border-width:1px 0;width:1200px;background:#fff}
.top-bar-inner{width: 1200px;margin: 0 auto;}
.top-bar-fixed{position:fixed;top:0;z-index:100;background: #F8F8F8;box-shadow: 0 2px 4px #ACACAC;left: 0px;}


/*吸顶标题*/
.top-bar-inner .second-title{display: none;font-size: 20px;line-height: 64px;float: left;width: 680px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;font-weight: bold;color:#4D4F53;}
.top-bar-fixed .second-title{display: block;}
.top-bar-fixed .date-source{display: none;}

.date-source{float:left;line-height:16px;padding:24px 0}
.date-source .date{font-size:16px;color:#888}
.date-source .source{font-size:16px;color:#fa536f;padding-left: 12px;}
.date-source .source:visited{color:#fa536f;text-decoration:none}
.date-source .source:hover{color:#fa536f;text-decoration:none}
.page-tools{float:right;padding-top:23px}
.tool-icon{height:18px;float:left;border-left:1px solid #e5e5e5;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.tool-icon a{display:block;width:66px;height:30px;background-image: url(https://www.handannews.com.cn/public/images/neirong/0908_zyc_icons.png);background-image: -webkit-image-set(url() 1x,url(../images/neirong/0908_zyc_icons2x.png) 2x);background-repeat: no-repeat;text-indent:-999em;margin-top:-6px;background-position: -999rem 0;}
.tool-icon.first{border-left:0}
.tool-des-fs a{background-position:20px 1px}
.tool-des-fs a:hover{background-position:20px -49px;}

.tool-icon a{background-image: -webkit-image-set(url(../images/neirong/icons.png?v1) 1x,url(../images/neirong/icons2x.png?v1) 2x);;}


/*.tool-des-fs .bounceFromTop{background-position:20px -49px}*/
.tool-des-fs a.disable{background-position:20px -99px}
.tool-ins-fs a{background-position:-45px 1px}
.tool-ins-fs a:hover{background-position:-45px -49px;}
.tool-ins-fs a.disable{background-position:-45px -99px}
.tool-fav a{background-position:-113px 1px}
.tool-fav a:hover{background-position:-113px -49px;}
.tool-fav .favorited{background-position:-113px -49px;}
.tool-wb a{background-position:-180px 1px}
.tool-wb a:hover{background-position:-180px -49px;}
.tool-wx a{background-position:-247px 1px}
.tool-wx a:hover{background-position:-247px -49px;}
.tool-share a{background-position:-313px 1px}
.tool-share a:hover{background-position:-313px -49px;}
.tool-cmt a{background-position:-376px 2px;float:left;padding-left: 66px;line-height: 30px;text-indent: 0;text-decoration: none;}
.tool-cmt a:visited{color: #FA536F;text-decoration: none;}
.tool-cmt a:hover{text-decoration: none;color: #FA536F;}
.tool-cmt .num{font-size:24px;color:#FA536F;}

.page-tools{position: relative;}
.share-more-list{position: absolute;top: 45px;left: 335px;box-shadow: 0 2px 4px #eaeaea;background: #fff;}
.share-more-list .tool-icon{height: 38px;border-left: 0px;float: none;}
.share-more-list .tool-icon a{padding-left: 59px;width: 73px;text-indent: 0;line-height: 38px;font-size: 14px;margin-top: 0;height: 38px;color: #979797;}
.share-more-list .tool-icon a:visited{text-decoration: none;color: #979797;}
.share-more-list .tool-icon a:hover{text-decoration: none;background-color: #F7F8F9;color: #979797;}
.share-more-list .tool-share-qq a{background-position: -388px -45px;}
.share-more-list .tool-share-qqzone a{background-position: -388px -93px;}

/*我的收藏*/
.my-favor{float: right;padding: 0 19px;line-height: 45px;height: 45px;}
.my-favor a{font-size: 14px;}
.my-favor:visited{}
.my-favor:hover{}
.my-favor i{background-image: url(../image/0908_zyc_icons.png);
background-image: -webkit-image-set(url(../image/0908_zyc_icons.png) 1x,url(//n.sinaimg.cn/finance/page/ent/images/0908_zyc_icons2x.png) 2x);
background-repeat: no-repeat;background-position: -137px -105px;display: inline-block;width: 20px;height: 20px;vertical-align: -4px;margin-right: 5px;}
.my-favor:hover i{background-position: -202px -105px ;}
.main-content{margin:0 auto;width:1200px}
.path-search{margin-top:20px;height:36px}
.path-search .path{float:left}
.path .channel-logo{float:left; width: 139px; height: 36px; background-image: url(../image/logo.png); background-image: -webkit-image-set(url(../image/logo.png) 1x,url(//n.sinaimg.cn/products/article2017/latest/images/logo2x.png?v1) 2x); background-repeat: no-repeat;}


/*正文*/

.article-content{margin-top:20px}
.article-content-left{width:840px;margin-right:40px;float:left;}
.article-content-right{width:320px;float: right;}
.article{font-size:18px;letter-spacing:1px;line-height:32px}
.article p{margin-bottom:30px}
.article-content-left .top-ad{margin-bottom:30px;overflow: hidden;width: 880px;}
.article-content-left .img_wrapper{text-align:center}
.article-content-left .img_wrapper img {display: block; margin: 0 auto; } 
.article-content-left .img_descr{line-height:20px;padding:6px 0;font-size:12px;margin:5px auto;display:inline-block;display:-moz-inline-stack;zoom:1;text-align:left;font-weight:bold;}
.article-content-left .wt_article_link{color:#FA536F;}
.article-content .quotation{position:relative;margin-bottom:30px}
.quotation .icon{background-image: url(../image/0908_zyc_icons.png);background-image: -webkit-image-set(url(../image/0908_zyc_icons.png) 1x,url(http://n.sinaimg.cn/finance/page/ent/images/0908_zyc_icons2x.png) 2x);background-repeat: no-repeat;width:28px;height:24px}
.quotation .quotation-right{background-position:-333px -100px;position:absolute;bottom:0;right:0}
.quotation .quotation-left{background-position:-268px -100px;position:absolute;top:0;left:0}
.quotation p{padding-left:38px;font-size:16px;color:#4D4F53;letter-spacing:1px;line-height:28px}

.article-bottom{margin-top: 24px;}
.article-relzt{padding-top: 24px;}
.article-relzt span{font-size: 16px;font-weight: bold;color:#4D4F53;}
.article-relzt a{font-size: 16px;padding-right: 10px;color:#4D4F53;}
.article-relzt a:visited{color:#4D4F53;}
.article-relzt a:hover{color: #FA536F;}
.show_statement{font-weight: bold;}
.keywords label{font-weight: bold;color:#4D4F53;}
.article{color: #4D4F53;}
.article-bottom .keywords a{color:#4D4F53;padding-right: 10px;}
.article-bottom .keywords a:visited{color:#4D4F53;text-decoration: none;}
.article-bottom .keywords a:hover{color:#fa536f;text-decoration: none;}

 /*字体控制*/
.article-20 .article{font-size:20px;line-height: 36px;}
.article-16 .article{font-size:16px;line-height: 30px;}
.article-16 .quotation p{font-size: 14px;line-height: 26px;}
.article-20 .quotation p{font-size: 18px;line-height: 32px;}

/* 页面css */
a:active,a:focus,a:hover{color:#dd0000;}
.date-source .source{color:#dd0000;}
.date-source .source:visited{color:#dd0000;}
.date-source .source:hover{color:#dd0000;}
.tool-cmt a:visited{color: #dd0000;}
.tool-cmt a:hover{color: #dd0000;}
.tool-cmt .num{color:#dd0000;}
.path .channel-path a:hover{color: #dd0000;}
.article-content-left .wt_article_link{color:#dd0000;}
.article-bottom .keywords a:link,.article-bottom .keywords a:visited{color: #4D4F53;}
.article-bottom .keywords a:hover,.article-bottom .keywords a:active{color: #dd0000;}
.article-bottom .btn-icon:hover{background-color:#dd0000;border-color:#dd0000}
.tit{border-top-color: #dd0000;}
.tit h3{color:#dd0000;}
.wrap-pictxt .txt a:hover{color:#dd0000;}
.pic-list .item p a:hover{color:#dd0000}
.btn-home i{background: #dd0000;}
.path .channel-logo{float:left; width: 139px; height: 36px; background-image: url(../image/logo.png); background-image: -webkit-image-set(url(../image/logo.png) 1x,url(//n.sinaimg.cn/products/article2017/latest/images/logo2x.png?v1) 2x); background-repeat: no-repeat;}

/*娱乐看点*/
.tit{border-top:2px solid #fa536f;height:60px;line-height:60px}
.right-side-ad{margin:25px 0;width: 300px;}
.high-ad img{height:500px}
.tit h3{font-size:20px;color:#fa536f;display:inline-block;font-weight:400}
.tit .more{margin-top:16px;display:inline-block;height:30px;width:30px;background-image: url(../image/0917_zyc_rightIcons.png);background-image: -webkit-image-set(url(../image/0917_zyc_rightIcons.png) 1x,url(//n.sinaimg.cn/finance/page/ent/images/0917_zyc_rightIcons2x.png) 2x);background-repeat: no-repeat;float:right;background-position: 0 -196px;}
.tit .more:hover{background-image: url(../image/0917_zyc_rightIcons.png);background-image: -webkit-image-set(url(../image/0917_zyc_rightIcons.png) 1x,url(//n.sinaimg.cn/finance/page/ent/images/0917_zyc_rightIcons2x.png) 2x);background-repeat: no-repeat;background-position: 0 -276px;}
.blk01 .wrap-pictxt{height: 340px;overflow: hidden;}
.wrap-pictxt li{height:100px;margin-bottom:20px}
.wrap-pictxt .pic{float:left;width: 150px;height: 100px;overflow: hidden;}

.wrap-pictxt .pic img{display: block;width:100%}

.wrap-pictxt .txt{float:right;width:150px}
.wrap-pictxt .txt a{color:#333;font-size:14px}
.wrap-pictxt .txt a:visited{color: #333;}
.wrap-pictxt .txt a:hover{color:#FA536F;text-decoration: none;}
.blk2{width:320px;overflow:hidden}
.pic-list{width:350px}
.pic-list .item{margin-right:20px;width:150px;float:left}
.pic-list .item img{height:100px;width:150px}
.pic-list .item p{margin:8px 0;text-align:center}
.pic-list .item p a{color:#333;text-align:center;font-size:14px}
.pic-list .item p a:hover{color:#FA536F}

/* 推荐排行 */
.wrap_55a07552_9f6c_12b3_4f25_921db3cc5584  .wrap-pictxt {
	height: AUTO;
}
.wrap_55a07552_9f6c_12b3_4f25_921db3cc5584 li {
	position: relative;
}
.wrap_55a07552_9f6c_12b3_4f25_921db3cc5584 .extra{
	position: absolute;
	bottom: -3px;
	right: 72px;
	font-size: 14px;
	color: #999;
}
a {
    color: #333;
    text-decoration: none;
}

/* 新闻排行 */
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654{
	height: 380px;
}
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654 .module-rankList li{word-wrap:break-word;word-break:break-all;text-overflow:inherit ;overflow:visible; height: auto; line-height: 22px; min-height: 44px; _height: 44px;  white-space: normal; border-bottom: 1px solid #E8E8E8; padding: 8px 0; }
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654 .module-rankList li.last{
	border-bottom: 0;
}
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654 .module-rankList li a{
	line-height: 22px;
}
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654 .module-rankList li .num{ width:40px; height:28px; line-height: 20px; margin: 13px 0 0 0; font-size: 22px; font-style: normal; text-align: left; }
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654 .module-rankList li .first{ font-size: 22px;  background: none;color:#dd0000; }


/*排行榜：热门新闻 八卦Top10*/
.module-rankList li{font-size:14px;line-height:38px;height:38px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.module-rankList li .num{float:left;width:16px;height:18px;line-height:16px;font-family:Arial;font-style:italic;color:#525252;text-align:center;margin:10px 10px 0 0}
.module-rankList li .first,.module_rank_list li .second,.module_rank_list li .third{color:#fff;font-size:11px;background-position: 0 -74px;}
.module-rankList li a:visited{color:#333;}
.module-rankList li a:hover{color:#FA536F;text-decoration: none;}

/* 新闻排行 */
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654{
	height: 380px;
}
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654 .module-rankList li{word-wrap:break-word;word-break:break-all;text-overflow:inherit ;overflow:visible; height: auto; line-height: 22px; min-height: 44px; _height: 44px;  white-space: normal; border-bottom: 1px solid #E8E8E8; padding: 8px 0; }
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654 .module-rankList li.last{
	border-bottom: 0;
}
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654 .module-rankList li a{
	line-height: 22px;
}
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654 .module-rankList li .num{ width:40px; height:28px; line-height: 20px; margin: 13px 0 0 0; font-size: 22px; font-style: normal; text-align: left; }
.wrap_8018e0e5_aec8_75bb_49ec_6f13f0593654 .module-rankList li .first{ font-size: 22px;  background: none;color:#dd0000; }


/*其他*/

.clearfix{display:block}

table {
    border-collapse: collapse;
}
td {
    border: 1px solid gray;
}
