
* {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

img {
	border: none;
}

body {
	font-size: 12px;
	font-weight: normal;
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}

.yahei {
}

p {
	line-height: 24px;
	text-indent: 2em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p a {
	color: #ff6014;
}

li a {
	color: black;
}

li a:hover {
	text-decoration: underline;
	color: red;
}

.cle {
	font-size: 0;
	height: 0;
	clear: both;
}

.blank1,.blank3,.blank5,.blank8,.blank10 {
	clear: both;
	font-size: 0;
}

.blank1 {
	height: 1px;
}

.blank3 {
	height: 3px;
}

.blank5 {
	height: 5px;
}

.blank8 {
	height: 8px;
}

.blank10 {
	height: 10px;
}

ul li {
	line-height: 24px;
}

h2 {
	background: url(../image/public1.gif) no-repeat;
}

.hotH,.hotNews,.colL,.colM,.colR,.mainLbox,.mainR2,.city,.food {
	border: solid 1px #dadbda;
}

a:hover img {
	opacity: 0.9;
}

.bannerAdv {
	width: 1200px;
	margin: 0 auto;
}

.line4 {
	background: #38863b;
	height: 4px;
	line-height: 4px;
	font-size: 0;
	clear: both;
	margin-top: 10px
}







/*head*/



.top {
	height: 40px;
	margin-bottom: 5px;
	border-bottom: solid 1px #eee;
/*background:#fff url(../images/topBgicon.jpg);*/
	background: #f5f5f5
}

.topN,.logomenu,.search,.gdongnav,.col,.main,.friendlink,.city,.foot {
	width: 1200px;
	margin: 0 auto
}
.logomenu{padding:15px 0;}
.topN {
	line-height: 40px;
	height: 40px;
}

.top span {
	margin-right: 8px;
	font-size: 14px;
}

.top a {
	color: #333;
	font-size: 14px;
}

.logo {
	width: 200px;
	float: left;
	background: white;
}

.menu {
	float: right;
	width: 970px;
	line-height: 24px;
	margin-top: 5px;
	background: white;
}

.menu span {
	margin: 0 13px;
}

.menu a {
	color: #333;
	font-size: 15px;
	letter-spacing: 3px
}

.menu a:hover {
	color: #378638;
}

.menu span {
	position: relative;
}

.menu span strong {
	font-weight: bold;
}

.menu .hoticon {
	position: absolute;
	top: -14px;
	right: -22px;
}







/*搜索*/



.search {
	height: 54px;
	line-height: 54px;
	border: solid 1px #dadbda;
	overflow: hidden;
	position: relative;
	width: 978px;
	background: white;
}

.search strong {
	display: block;
	float: left;
	color: #069;
	width: 80px;
	margin-left: 10px;
	font-size: 14px;
}

.search a {
	font-size: 12px;
	margin-right: 10px;
	color: #00679e
}

.searchFra {
	width: 490px;
	float: left;
	position: relative;
}

.searchFra label {
	margin-left: 8px;
}

#searchText,#searchSbt {
	position: absolute;
	top: 10px;
	left: 12px;
	height: 26px;
}

#searchText {
	color: #999;
	border: solid 1px #ccc;
	line-height: 30px;
	background-color: white;
	padding-left: 26px;
	width: 240px;
	background-image: url(../image/find.gif);
	background-position: 5px center;
	background-repeat: no-repeat;
	height: 30px;
}

#searchText:hover {
	border: solid 1px #ccc;
}

#searchSbt {
	left: 288px;
	background: url(../image/search-bt.gif) no-repeat center center;
	width: 96px;
	height: 32px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	border: none
}

.weibo {
	position: absolute;
	left: 380px;
	top: 15px
}



/*地区新闻导航*/



.gdongnav {
	clear: both;
	line-height: 30px;
	margin-bottom: 5px;
	border: solid 2px #eee;
	margin-top: 5px;
	padding: 5px 10px;
	width: 1180px;
	color: #999;
/*background:url(../images/gdNavbg.gif);*/
}

.gdongnav span {
	padding: 0 7px;
}

.gdongnav a {
	color: #333;
	font-size: 16px
}

.gdongnav a:hover {
	color: 333;
}







/*foot*/



.foot {
	text-align: center;
	padding: 10px 0 15px 15px
}

.foot p {
	color: #666;
}

.footNav {
	text-align: center;
	line-height: 28px;
	height: 28px;
}

.footNav a {
	color: #333;
}







/*便民服务*/



.colR {
	float: right;
	width: 300px;

	background: #e9e9e9;
	height: 328px;
	overflow: hidden
}

.colR h2 {
	color: #900
}

.colRcon span {
	display: block;
	width: 92px;
	float: left;
	padding-left: 5px;
	margin-top: 3px;
	height: 32px;
	line-height: 32px;
	border-bottom: solid 1px #d7d7d7;
}

.colRcon span em {
	height: 18px;
	width: 18px;
	background: url(../image/ico.png) no-repeat;
	display: block;
	float: left;
	margin: 5px 6px 0 3px
}

.colRcon span a {
	cursor: pointer
}

#ico1 {
	background-position: -25px 1px;
}

#ico2 {
	background-position: -2px 2px;
}

#ico3 {
	background-position: -48px 2px;
}

#ico4 {
	background-position: -70px 2px;
}

#ico5 {
	background-position: -95px 1px;
}

#ico6 {
	background-position: -25px -18px;
}

#ico7 {
	background-position: -48px -56px;
}

#ico8 {
	background-position: -27px -18px;
}

#ico9 {
	background-position: -48px -18px;
}

#ico10 {
	background-position: -116px 2px;
}

#ico11 {
	background-position: -95px -20px;
}

#ico12 {
	background-position: -2px -38px;
}

#ico13 {
	background-position: -27px -38px;
}

#ico14 {
	background-position: -48px -38px;
}

#ico15 {
	background-position: -70px -20px;
}

#ico16 {
	background-position: -117px -20px;
}

#ico17 {
	background-position: -4px -56px;
}

#ico18 {
	background-position: -115px -37px;
}

.colRcon span a {
	color: #555555;
}

.colRimg img {
	float: left;
}

.colRimg {
}



/*路径*/



.path {
	height: 60px;
	line-height: 60px;
	border-bottom: solid 1px #ccc;
	margin-bottom: 5px;
	font-size: 16px;
}

.path a {
	color: #333;
}



/*文章*/



.sonBannerAd {
	text-align: center;
	border: solid 1px #eee;
	padding: 10px 0
}



/*内容页*/



.post {
}

.sonL {
	width: 780px;
	float: left;
	background: white;
	padding-bottom: 10px;
	border: 1px solid #DADBDA;
	overflow: hidden;
	margin-top: 10px;
}

.sonL h3 {
	text-align: center;
	font-size: 24px;
	color: #333;
	line-height: 44px;
	padding: 25px;
	padding-top:50px;
}

.detailsadv {
	width: 640px;
	margin: 0 auto;
	padding-top: 15px;
}

.edit {
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #294c47;
}

.edit span {
	color: #294c47;
}

.edit span a {
	color: red;
	text-decoration: underline;
}

.edit a {
	color: #294c47;
}

.edit a:hover {
	color: red;
	text-decoration: underline
}

.info {
	border: dashed 1px #ccc;
	margin: 0 12px;
	margin-top: 10px;
	line-height: 24px;
	text-indent: 2em;
	padding: 10px;
	color: #5f5f5f;
	padding-top: 10px;
	display: none
}

.detials {
	margin: 0 35px;
	margin-top: 25px;
	font-size: 14px;
	color: #333;
	line-height: 20px
}

.sonpager {
	clear: both;
	height: 32px;
	line-height: 32px;
	margin-top: 15px
}

.sonpager li {
	float: left;
	background: none;
	border: none;
	padding: 0;
	margin-left: 5px;
}

.sonpager .thisclass {
	padding: 0 5px;
}

.detials iframe {
	margin: 10px -18px;
	margin-top: 0px
}

.detials iframe img {
}

.detials p {
	margin-bottom: 25px;
	color: #666666;
	font-size: 16px;
	color: #333;
	line-height: 30px;
	text-indent: 0;
	font-family: "微软雅黑"
}

.detials p strong {
	font-weight: bold;
}

.share_self {
	display: none
}

.detials div,.detials center {
	line-height: 24px;
	color: #666666;
	font-size: 14px;
	color: #333;
	margin-bottom: 15px;
}

.prenext {
	line-height: 40px;
	border-left: none;
	border-right: none;
	color: #333;
	font-size: 14px;
	font-weight: bold
}

.prenext p {
	line-height: 32px;
	height: 32px;
}

.prenext a {
	color: #333;
	font-size: 14px;
	font-weight: normal
}

.articleXG {
	margin-top: 5px;
	margin-bottom: 10px;
	border-top: dashed 1px #ccc;
	padding-left: 30px;
	padding-top: 5px;
}

.articleXG_t {
	height: 42px;
	line-height: 42px;
	color: #333;
	font-weight: bold;
	font-size: 16px;
	background: url(http://www.gdongw.com/templets/default/images/articleXG_t.gif);
}

.articleXG li {
	overflow: hidden;
	line-height: 36px;
	height:36px;
	background: url(../image/dian2.gif) no-repeat 0px 12px;
	padding-left: 15px;
	color: #666
}

.articleXG li a {
	color: #2b2b2b;
	font-size: 16px;
	margin-right: 5px
}



/*分享代码*/



.fenxian {
	padding-left: 25px;
}

.articleAd {
	text-align: center;
	width: 650px;
	margin: 0 auto
}

.detialsT {
	line-height: 32px;
	text-align: right;
}











/*子页右边*/



.sonR {
	width: 400px;
	float: right;
}

.sonRhot {
}

.sonRhotT {
	line-height: 42px;
	height: 42px;
	font-size: 18px;
	color: #fff;
	margin-bottom: 5px; padding-left:12px;
 background:#F60;letter-spacing: 2px; font-family:"微软雅黑";
}

.sonRhot li {
	font-size: 16px;
	line-height: 38px;
	height: 38px;
	width: 400px;
	overflow: hidden;
	border-bottom: dotted 1px #ccc; padding-left:20px; background:url(../image/li.gif) no-repeat left 12px;}
}

.sonRhot li a {
	color: #333;
	font-size: 16px;
}

.sonRcT {
	line-height: 42px;
	height: 42px;
	font-size: 18px;
	color: #fff;
	margin-bottom: 5px; padding-left:12px; background:#F60;letter-spacing: 2px;
}

.sonRc li {
	height: 125px;
	border-bottom: dashed 1px #EEE;
	margin-bottom: 5px;
}

.sonRc li strong {
	display: block;
	height: 28px;
	width: 290px;
	line-height: 28px;
	overflow: hidden;
}

.sonRc li strong a {
	font-size: 14px;
}

.sonRcimg,.sonRcimg img {
	float: left;
	width: 90px;
	height: 75px;
}

.sonRcimg {
	border: solid 1px #eee;
}

.sonRcText {
	width: 290px;
	float: right;
	height: 80px;
	overflow: hidden;
}

.sonRcText p {
	color: #666;
	line-height: 24px;
	text-indent: 0
}

.sonRc li {
	height: 75px;
}

.sonRcimg,.sonRcimg img {
	float: left;
	width: 85px;
	height: 60px;
}

.sonRcimg {
}

.sonRcText {
	width: 295px;
	float: right;
	height: 65px;
	overflow: hidden;
}

.sonRcText p {
	color: #666;
	line-height: 28px;
	font-size: 16px;
	text-indent: 0;
}

/*内容分页*/



.sonpager {
}

.sonpager li {
	border: #eee 1px solid;
	padding: 0 10px;
	text-align: center;
}

li.thisclass {
	background: #eee;
	color: #000
}



/*列表*/







.list {
	padding-top: 10px;
}

.list h3 {
	height: 24px;
	line-height: 24px;
	text-align: left;
	border-bottom: solid 2px #069;
	display: block;
	margin-bottom: 5px;
	padding: 10px 0 10px 10px
}

.list h3 a {
	color: #333;
	float: left;
	width: 100px;
	font-size: 20px;
	font-weight: bold;
}

.list li {
	padding-left: 30px;
	line-height: 34px;
	height: 34px;
	background: url(../image/dian2.gif) no-repeat 15px 15px;
	border-bottom: dotted 1px #eee;
}

.list .float {
	width: 480px;
	overflow: hidden;
	height: 34px;
	font-size: 14px;
}

.list .float em {
	font-style: normal;
}

.list .float em a {
	font-weight: bold;
}

.list li span {
	float: left;
}

.list li span a {
	text-decoration: none;
	font-size: 14px;
}

.list li strong {
	font-weight: normal;
	color: #999;
	font-size: 14px;
}

.time {
	width: 45px;
	text-align: right;
	padding-left: 9px;
}















/*分页*/



.pager {
	height: 30px;
	margin: 15px 0 15px 0;
	padding-left: 25px
}

.pager li {
	float: left;
	border: none;
	background: none;
	margin: 0;
	padding: 0px 5px;
	border: solid 1px #ccc;
	margin-right: 5px;
	height: 22px;
	line-height: 22px;
}

.pager li a {
	color: 036cb4;
}

li.thisclass {
	background: #036cb4;
	color: white;
	border: #036cb4 1px solid
}

li.thisclass a {
	color: white;
}

.pager .select {
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	height: 18px;
	width: 22px;
}







/*回顶*/



.floatbox {
	width: 76px;
	position: fixed;
	_position: absolute;
	bottom: 0px;
	left: 10px;
	bottom_: 0px;
	_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
	margin-bottom: 20px
}

.floatbox span {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #b3d9f7;
	margin-bottom: 3px
}

.floatbox span:hover {
	background: #81c0f2
}

.floatbox span a {
	color: #fff;
	font-size: 14px;
}

#return {
	background: #ff6600;
}





/*.sonRad{border:solid 3px #eee;overflow:hidden;}*/