.menu-right{background-color: #007ac3;text-align: center;position:absolute;right: 15px;Z-index:9999;top:7%;width:25%;opacity:0.8;border-radius: 10px}

.menu-right a{ display:block; height:25px; line-height:25px;  color: #ffffff;; font-family: "黑体"}

.overlazy{ position:fixed; width:100%; height:100%; left:0; top:0; z-index:8; display:none;}




/* CSS Document */

body{ max-width:700px; margin: 0 auto; background:#f2f6f9; color:#666666;  font-family:'宋体'; font-size:14px; overflow:hidden;}

img{ max-width:100%;}

/**优化**/
h1{  font-family:'微软雅黑'; font-size:18px; padding:0px; margin: 0px; font-weight:bold;}

h2{  font-family:'微软雅黑';  font-size:16px; padding:0px; margin: 0px; font-weight:bold;}

h3{  font-family:'微软雅黑';  font-size:14px; padding:0px; margin: 0px; font-weight:bold;}

/**top**/
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(http://m.ibeifang.com.cn/skins/guwang/images/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.top{ background:#0686c3; padding:3%;}

.logo{ float:left; width:85%;}

.logo img{ max-width:35%;}

.menu{ float:left; width:15%; text-align:right;}

.menu img{ max-width:50%; padding-top:18%;}

.bnert img{ max-width:100%;}

.xint{ padding:3%;}

.xint li{ border-bottom:1px dotted #d3d3d3; padding-bottom:3%; margin-bottom:3%;}

.xint h2{ color:#0686c3; line-height:32px; }

.xint p{ line-height:22px;color:#666666; }

.xinytu{padding:0 3%;}

.xinytu li{ line-height:30px; height:30px; background:url(../image/dian.jpg) no-repeat 0 center; padding-left:10px;}

.xinytu a{color:#666666;}

.xcuiy{  background:#fff; color:#666666; text-align:center; line-height:30px; width:94%; margin: 0 auto; display:block; border:1px solid #f1f1f1; margin-top:3%; margin-bottom:3%;}

.htt{ padding:3%;}

.htt img{ max-width:100%; }

/**政法**/

.zcf{ padding:0 3%;}

.dqww{ height:34px; line-height:34px; border-bottom:2px solid #0686c3; }

.dfio{ float:left; font-size:18px; color:#0686c3;}

.motr{ float:right;color:#666666;}

.fdgui{ padding:5% 0;border-bottom:1px dotted #d3d3d3;}

.zfdi{ float:left; width:35%;}

.zfdi img{ max-width:100%;}

.zfyy{ width:62%; float:right;} 

.zfyy h2{ color:#0686c3; line-height:20px;}

.zfyy p{ line-height:20px;color:#666666; }

.xinytzzu{padding:3% 0;}

.xinytzzu li{ line-height:30px; height:30px; background:url(../image/dian.jpg) no-repeat 0 center; padding-left:10px;}

.xinytzzu a{color:#666666;}

/**随手拍**/

.suishzouo{ padding-top:3%;}

.suishzouo li{ float:left; width:48%; margin-left:1%; margin-right:1%;}

.suishzouo a{ display:block;}

.suishzouo img{ max-width:100%;}

.suishzouo h2{ text-align:center; line-height:30px; color:#000;}

/**友情链接**/

.youqu{ padding:3%;}

.your_a{ display:block; float:left; color:#666666; padding-right:15px; line-height:30px;}

.dibu{ text-align:center;  padding-top:2%; line-height:24px;}

.bot{ text-align:center; line-height:30px; background:#0686c3 ; color:#fff; padding:3% 0;}

/**子页**/

.ziuy { padding:3%;}

.ziuy img{ max-width:100%; }

.gfui{line-height:24px; padding-left:3%; padding-bottom:3%;}

.gfui a{color:#666666; }

.zhjoijgh{ background:#fff; padding:3%; }

.uiyt{height:auto !important; min-height:250px; height:250px; padding-bottom:3%;}

.xcuyy{height:auto !important; min-height:250px; height:250px; padding-bottom:3%;}

.uiyt li{ line-height:30px; height:30px; background:url(../image/dian.jpg) no-repeat 0 center; padding-left:10px;}

.uiyt a{color:#666666;}

.feyy{ clear:both; height:26px; line-height:26px; padding-bottom:3%;}

.fgiou{ display:block; float:left; width:47.5%; border:1px solid #f1f1f1;  text-align:center;color:#666666;}

.fgiozu{ float:right;display:block; width:47.5%; border:1px solid #f1f1f1;  text-align:center;color:#666666;}

.xxxytr{ color:#000; line-height:24px; padding:2% 0;}

.hgpoi{ line-height:26px; padding-bottom:2%; border-bottom:1px dotted #d3d3d3;}

.hgpoi a{color:#666666;}

.gsjj{ padding-top:1%; line-height:30px;}

.erjij{ padding:2% 0;}

.erjij li{ float:left; margin-left:1%; margin-right:1%; width:48%; text-align:center; line-height:28px; border-radius:15px; background:#0686c3 ; color:#fff; margin-bottom:2%;}

.tyio{ display:block; color:#fff;}

.sspp{ }

.sspp li{border-bottom:1px dotted #d3d3d3;margin-bottom:3%;}

.dfuiu{ padding-bottom:5%;}

.fgiuuy{ float:left; width:35%;}

.fgiuuy img{ max-width:100%;}

.tyiuo{ float:right; width:62%;}

.hjop{ line-height:30px; color:#000;}

.hjiou{ line-height:24px;color:#666666; padding-top:3%;}



.xgwz{width:96%; padding:2%; margin-top:4%; padding-bottom:4%; border:1px dotted #f1f1f1; }

.xwxg{ border-bottom:1px solid #f1f1f1; padding:2% 0 3% 0; color:#0686c3;}

.jgjh{ display:block; background:#0686c3; width:5px; height:15px; float:left;}

.ghg{ border-bottom:1px dashed #d3d3d3; height:45px; line-height:45px; overflow:hidden; background:url(../image/dian.jpg) no-repeat left center; padding-left:15px;}

.ghg h3{ font-family:"宋体"; font-size:12px; font-weight:normal;}

.ghg a{ color:#666;}

.lilast{border-bottom:0px;}