.dtjt9_div_img {
    position: relative;
    overflow: visible;
}
.dtjt9_div_img .number {
    position: absolute;
    right: 5px;
    bottom: -9px; 
    z-index: 999;
}
.dtjt9_div_img .number .nomal {
    background: #666;
    opacity: 1;
    border: 0;
    border-left: 1px solid #fff;
    width: 18px;
    height: 18px;
    margin-right: 0;
    padding: 0;
	    
    opacity: 0.9;
}
.dtjt9_div_img .number .current {
    background: #ffb30f;
    opacity: 1;
    border: 0;
    border-left: 1px solid #fff;
    width: 18px;
    height: 18px;
    margin-right: 0;
	opacity: 0.9;
}
td.bc12 {
    BORDER-BOTTOM: #666666 1px dashed;
}
td.bc12.\33 {
    border: 0;
}
div#FocusViewer_2 .news_imgs {
    width: 100%;
    height: 98px;
}
div#FocusViewer_3 .news_imgs img {
    width: 100%;
    height: 98px;
}
td#my {
    border: 0;
}
p#sl {
    height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
span.loi6 {
    display: none;
}
div#dh {
    padding-left: 12px;
}
table.news.n5 {
    margin-bottom: 18px;
}
table.news.n10 {
    margin-bottom: 18px;
}
table.news.n15 {
    margin-bottom: 18px;
}
table.news.n20 {
    margin-bottom: 18px;
}
table.news.n25 {
    margin-bottom: 18px;
}
table.news.n30 {
    margin-bottom: 18px;
}
ul.wp_paging.clearfix {
    margin: 0 10px;
}
div#wp_paging_w6 {
    margin-right: 10px;
}
table.wz a {
    LINE-HEIGHT: 28px;
    COLOR: #000000;
    FONT-SIZE: 12px;
}span.possplit {
    background: none;
    text-indent: initial;
    width: 32px;
    text-align: center;
}
span.prev {
    float: left;
    COLOR: #000000;
    FONT-SIZE: 12px;
    line-height: 30px;
}
span.prev-title {
   
    display: block;
    line-height: 30px;
}
span.prev-title a {
    line-height: 30px;
    font-size: 12px;
}
span.next {
    float: left;
    COLOR: #000000;
    FONT-SIZE: 12px;
    line-height: 30px;
    display: block;
    padding: 0 !important;
}
span.next-title a {
    line-height: 30px;
    font-size: 12px;
}
.wp_column_article_list .list_item {
    height: 20px;
    line-height: 20px;
    border: 0;
}
.wp_column_article_list .list_item {
    height: 20px;
    line-height: 20px;
    border: 0;
}
.wp_column_article_list .list_item .pr_fields {
    padding-left: 40px;
	background:url(../image/pn_09.gif) no-repeat left;
}
iframe#wp_iframe_sameColumnArticle_w6 {
    width: 81% !important;
}.wp_column_article_list .list_item .title {
    float: left;
    LINE-HEIGHT: 20px;
    COLOR: #00F;
    FONT-SIZE: 12px;
    font-weight: bold;
}
.wp_column_article_list .list_item .date {
    LINE-HEIGHT: 20px;
    COLOR: #00F;
    FONT-SIZE: 12px;
}

span.mc {
    padding: 0 5px;
}
