
body>.w{margin-top:60px;}
.nav{height:60px;background:#A2261C;}
.nav .w{height:100%;display:flex;justify-content:space-around;align-items:center;}
.nav a{color:#fff;font-size:16px;font-weight:bold;}
.nav .home{background:url(../image/icon_home.png) no-repeat left;padding-left:30px;} 
.navChannel{height:46px;padding:20px 0;display:flex;align-items:flex-end;}
.navChannel>div:first-child{height:100%;display:flex;align-items:flex-end;}
.logo{height:100%;}
.navChannel h2{font-size:24px;font-weight:bold;}
.navChannel h2 span{margin:0 5px;}
.navChannel ul{margin-left:50px;display:flex;font-size:18px;}
.navChannel ul a{border-left:1px solid #ddd;padding:0 10px;line-height:19px;}
.navChannel ul a:first-child{border:0;}
.noLink{font-weight:bold;pointer-events:none;}

.recommend{height:444px;margin-bottom:30px;}
.recommend a{display:flex;justify-content:space-between;height:100%;}
.recommend img{width:790px;height:100%;}
.recommend a>div{width:490px;padding:30px;box-sizing:border-box;background:#F6F6F6;}
.recommend h4{font-size:24px;font-weight:bold;margin-bottom:25px;}
.recommend p{line-height:32px;color: #888;text-indent: 2em;}
.swiper-container-horizontal>.swiper-pagination-bullets{width:490px;left:auto;right:0;bottom:20px;}
.swiper-pagination-bullet{width:60px;border-radius:4px;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 12px;}
.swiper-pagination-bullet-active{background:#F5A544;}


.list{display:flex;justify-content:space-between;padding-bottom:30px;margin-top:20px;font-size:18px;}
.list .listPage{width:930px;}
.list .listPage li{line-height:28px;border-top:1px solid #ddd;display:flex;padding:20px 0;}
.list .listPage li:first-child{border:0;padding-top:0;}
.list .listPage li img{width:260px;height:146px;margin-right:20px;vertical-align:top;}
.list .listPage li>div{display:flex;flex-direction:column;justify-content:space-between;}
.list .listPage li span{color:#bbb;font-size:14px;margin-top:5px;}
.list .listPage li span a{color:#bbb;}
.list .feature{width:310px;}
.list .feature img{width:100%;height:175px;vertical-align:top;margin-bottom:30px;}
.feature h3{width:100%;height:32px;margin-bottom:25px;font-size:28px;font-weight:bold;background:url(../image/icon_bg_channel.png) repeat-x right bottom;}
.feature h3 a{display:inline-block;background:#fff;padding-right:30px;}

.province{display:flex;flex-wrap:wrap;margin-left:-10px;margin-top:-5px;}
.province a{width:174px;height:40px;text-align:center;line-height:40px;margin-left:10px;margin-top:10px;background:#F6F6F6;}
.province a:hover{color:#fff;background:#F5A544;}

.WP{margin-top:0;}
.WPbbPage{width:930px;}
.WPbbPage ul{display:flex;flex-wrap:wrap;margin-left:-15px;}
.WPbbPage li{width:220px;height:297px;background:#F6F6F6;padding:10px;margin-left:15px;margin-bottom:15px;box-sizing:border-box;}
.WPbbPage li:hover{background:#F6A545;}
.WPbbPage li a{width:200px;height:277px;padding:50px 15px 40px;border:1px solid #F6A545;background:#fff;box-sizing:border-box;display:flex;flex-direction:column;justify-content:space-between;text-align:center;}
.WPbbPage li a p:last-child{font-size:14px}

.FBH{margin-top:10px;}
.FBH li,.hotFeature ul li{border-top:1px solid #ddd;padding:30px 0;display:flow-root;}
.FBH li:first-child,.hotFeature ul li:first-child{border-top:0;}
.FBH li img,.hotFeature ul li img{width:400px;height:225px;margin-right:30px;}
.FBH li div,.hotFeature ul li div{width:850px;}
.FBH li .text,.hotFeature ul li .text{width:100%;}
.FBH li img,.FBH li div,.hotFeature ul li img,.hotFeature ul li div{float:left;}
.FBH li:nth-child(even) img,.hotFeature ul li:nth-child(even) img{float:right;margin-left:30px;margin-right:0;}
.FBH h5,.hotFeature ul h5{font-size:22px;font-weight:bold;margin-bottom:15px;line-height:34px;}
.FBH li p,.hotFeature ul li p{color:#888;text-indent:2em;line-height:30px;}
.hotFeature{padding-bottom:30px;}
.hotFeature .titu{width:100%;}
.hotFeature .introduction{font-size:20px;text-indent:2em;padding:50px;line-height:36px;}
.hotFeature ul{display:none;}
.hotFeature ol{background:#eee;height:60px;line-height:60px;}
.hotFeature ol li{display:flex;justify-content:center;}
.hotFeature h4{padding:0 30px;font-weight:bold;cursor:pointer;}
.hotFeature ol .on{color:#A2261C;}
.hotFeature ul h5{margin-top:5px;}

.hotZT{display:flex;justify-content:space-between;}
.hotZT img{width:416px;height:235px;vertical-align:top;}
.ZT h5{font-size:20px;}
.ZT .feature img{margin-bottom:5px;}
.ZT .feature p{margin-bottom:25px;}
.view .baseInfo{text-align:center;padding:20px;border-bottom:1px solid #ddd;}
.view h4{font-size:34px;font-weight:bold;}
.view .other{margin-top:20px;}
.view .other span{color:#777;margin:0 10px;}
.view .content{font-size:18px;padding:20px;padding-bottom:60px;line-height:2;}
.view .content p{padding:10px 0;}
.view .navChannel h2,.specialItemList .navChannel h2{font-weight:normal;}
.view .navChannel h2 a{margin:0 5px;}

.picGroup{position:relative;width:1200px;margin:0 auto;}
.picGroup ul{width:100%;}
.picGroup ul li{width:100%;display:none;}
.picGroup ul li div{width:100%;height:675px;background:#F5F5F5;margin-bottom:190px;}
.picGroup ul li p{text-indent:2em;}
.picGroup ul img,.picList li img{width:100%;height:100%;object-fit:contain;}
.picList{height:160px;display:flex;position:absolute;top:705px;}
.picList>div{width:1060px;height:100%;overflow: hidden;padding:15px 0;background:#F5F5F5;box-sizing:border-box;position:relative;}
.picList ol{position:absolute;left:0;top:15px;height:calc(100% - 30px);}
.picList>div li{width:215px;height:120px;margin:0 20px;border:5px solid #F5F5F5;background:#fff;float:left;}
.picGroup .on{border:5px solid #2F97FF;}
.picList>span{width:70px;height:100%;display:flex;justify-content:center;align-items:center;background-color:rgba(0, 0, 0, 0.5);opacity:0.2;}
.picList .Prev,.picList .Next{opacity:1;cursor: pointer;}
.picGroup .forbid{opacity:0.2;}
.picGroup .db,.picGroup .on{display:block;}

.searchbox{width:778px;margin:0 auto;line-height:26px;border-radius:5px;border: 1px solid #999;}
.searchbox input{height:30px;font-size:18px;}
.searchbox img{height:20px; margin-right:10px;}
.searchbox .back{height:20px;float:left; margin:5px 0;}
.searchbox .clear{height:20px;float:right;margin-top:10px;}
.searchbox .keyword{color:#BFBFBF;width:670px;padding: 5px 10px;font:14px/22px 'Microsoft Yahei';border-radius:5px;float:left;background: #fff;outline: none;}
.searchbox .sub{color:#777;height: 40px;padding: 5px 10px;font:14px/24px 'Microsoft Yahei';border-radius:0px 5px 5px 0px;cursor: pointer;float:right;}
.searchH .nav_sub{position:inherit;}
.searchPage{padding-top:100px;}
.SList .searchbox {margin-top:30px;margin-bottom:20px;}
.result{border-bottom:1px solid #ccc;padding:10px 20px;}
.result .num,.result .word{color: #f77618;}
.SList{padding-top:0;padding-bottom:30px;}
.SList li{border-bottom:1px dashed #eee;margin:0 20px;padding: 10px 0;display:flex;}
.SList .pic{width:178px;height:100px;margin-right: 20px;}
.SList .pic img{width:178px;height:100px;}
.SList h3 .title{font-weight:bold;margin-bottom:5px;padding:5px 0;}
.SList .date{color:#999;font-size: 14px;margin-top:5px;}

#goToTop{color:#fff;background:rgba(0, 0, 0, 0.5);width:40px;height:40px;text-align:center;line-height:38px;position:fixed;bottom:350px;right:50%;margin-right:-700px;cursor:pointer;}
body>.SList{margin-top:40px;}
.recommend,.list .listPage li img,.list .feature img,.province a,.FBH li img,.feature img,.hotFeature ul li img,.feature img,.WPbbPage li,.WPbbPage li a,.SList .pic img,#goToTop{border-radius:3px;}
.recommend,.hotZT,.province{margin-bottom:30px;}