
html,body {height:100%;min-width:1280px;}
body{color: #333;font-size:16px;font-family:'微软雅黑';}
a{color: #333;}
a:hover{color:#DE3226;}
.w{width:1280px;margin:0 auto;}
.nav_sub{width:100%;background:#A2261C;position:fixed;top:0;left:0;z-index:2;}
.nav_sub a{color:#fff;margin-left:20px;}
.nav_sub>div{width:1280px;height:60px;margin:0 auto;display:flex;align-items:center;justify-content:space-between;}
.nav_subBox{display:flex;align-items:center;}
.logo_w{margin-right:10px;}
.lan_sub .search{vertical-align:middle;margin-right:15px;}
.cur{font-size: 14px;color:#a1885f; height:55px; line-height:55px;}
.cur a{color:#a1885f; height:55px; line-height:55px;}
.footer{border-top:3px solid #DE3226;}
.footer h3{background:none;margin-bottom:15px;}
.link{padding:25px 0 40px}
.link ul{display:flex;justify-content:space-around;}
.link ul a{margin:10px;}
.copyright{color:#fff;background:#A3261D;font-size:14px;line-height:30px;text-align:center;padding:40px 0;}
.copyright a{color:#fff;}
.copyright span{margin:0 10px;}
.record{display:flex;justify-content:center;}
.record span:last-child a{display:flex;align-items:center;}
.record img{margin-left:25px;margin-right:8px;}
