body{margin:0;padding:0;font-family:Verdana,'微软雅黑','宋体',sans-serif; font-size:12px;text-align:left; background-color:#666; color:#000;}
ul,ol,li,dl,dd{margin:0;padding:0;list-style:none}
p,form,input{margin:0}
input,select,img {vertical-align:middle;}
img{border:0;}

h1,h2,h5,h6{margin:0;padding:0;font-size:16px}
h3{padding:0;font-size:22px}
h4{padding:0;font-size:16px}
h6 {font-weight:normal;font-size:12px;color: #999999;}
.clearfix:after{content:".";height:0;display:block;visibility:hidden;clear:both}
.clearfix{-height:1%;*min-height:1%}
table {border-collapse: collapse;border-spacing: 0;}
a {color:#333;text-decoration:none;}
a:hover {color:#EA0303;text-decoration:underline;}

/* 自定义列表标签链接文字颜色定义 */
a.lefta{text-decoration: none;}
a.lefta:link {color:#000000;}
a.lefta:visited {color:#000000;}
a.lefta:hover{color:#cc0000;text-decoration:underline;}
a.lefta:active {color:#000000;}

.leftb /* --自定义列表标签中奇数表格行背景颜色定义-- */
{
background:#ffffff;color: #000000;
}
.leftc /* --自定义列表标签中奇数表格行背景颜色定义-- */
{
background:#f5f5f5;color: #000000;
}
.gray,.gray a {color:#333333;}



/*头部*/
.topad3 {height:12px; border-top: #666 6px solid; border-bottom: #fff 3px solid; text-align:center; padding:9px; clear:both; background-color:#F3F3F3;}
.topad4 {height:60px; border-top: #fff 5px solid; border-bottom: #fff 5px solid; text-align:center; clear:both;}
#top {height:20px; line-height:20px; padding-right:1px; text-align:right; background:#AD0B00 url(../image/topbg.gif) no-repeat;}
#top a {color:#d1d1d1; padding:0 5px;}
#top960 {height:20px; line-height:20px; padding-right:1px; text-align:right;}
#top960 a {text-decoration:underline; color:#DADADA; padding:0 5px;cursor:pointer}
#hdbox {height:100px; clear:both; background-color:#EA0303;}
#logo {width:210px; height:100px; padding:0 0 0 0; float:left;}
.inputbox-text {width:245px; margin-right:5px;}
.input-submit {width:90px; cursor:pointer;}
#main {width:880px; margin:0 auto; background-color:#fff; margin-bottom:6px;}
/*---------------头部-------------------*/
#common {background-color:#fff;}
#common #header,#common #footer {width:100%; min-width: 1150px; margin-top:0; height:130px; background:#f5f5f5 url(../image/h_bg.gif) repeat-x left bottom; overflow:visible;}
#common #main {width:1300px; margin-top:50px; margin-bottom:0; position:relative; overflow:visible;}
#common #main .artbotbg {display:none;}
#common #main1 {width:1150px; padding-top:70px; margin-bottom:0; position:relative; margin:0 auto;overflow:visible;}
#common #main1 .artbotbg {display:none;}
#common #main2 {width:1150px; margin-top:50px;margin-bottom:0; position:relative; margin:0 auto;overflow:visible;}
#common #main2 .artbotbg {display:none;}
#common #top960 {width:1150px; margin:0 auto; background:none;}
#common #top960 a {text-decoration:underline; padding:0 5px;cursor:pointer}
#common #hdbox {width:1150px; margin:0 auto; background:none; height:80px; position:relative; overflow:visible;}
#common #hdbox #logo {height:100px; display:block; overflow:hidden; position:absolute; left:-23PX; top:-20px; width:210px; float:none;}
#common #navbox {width:1150px; margin:0 auto; overflow:visible;}
#common #mainnav {height:30px; background:url(../image/navbg.gif) repeat-x; overflow:visible;}
#common #mainnav li {float:left; border-left:1px solid #727272; height:30px; position:relative; z-index:9;}
#common #mainnav li.home {border:0 none; padding-left:0px;}
#common #mainnav li a {display:block; float:left; position:relative; z-index:99; line-height:30px; height:30px; padding:0 6px; color:#fff; font-size:14px;}
#common #mainnav li a:hover{background-color:#FFF; color:#000; text-decoration:none;}
#common #mainnav li a.current{background-color:#fff; color:#000; font-weight:bold; text-decoration:none;}
#common #mainnav li a.cur{background-color:#fff; color:#000;font-weight:bold; text-decoration:none;}
#common #mainnav li a {padding:0 10px;}
#common #mainnav li ul {background-color:#FFF;border:1px solid #BBB;visibility:hidden; width:184px; padding:10px; position:absolute; left:0; top:30px; z-index:10;}
#common #mainnav li ul li {float:left; width:61x; height:24px; line-height:24px; border:0 none; overflow:hidden;}
#common #mainnav li ul li a {width:70px; padding:0 0 0 10px; color:#000; height:24px;  font-size:12px; line-height:24px; white-space:nowrap;}
#common #mainnav li.current a {background-color:#FFF; color:#000; text-decoration:none; border-TOP:1px solid #BBB; border-LEFT:1px solid #BBB;border-right:1px solid #BBB; border-bottom:1px solid #FFF; height:29px; line-height:28px; padding:0 9px;}
#common #mainnav li.current ul li a {color:#000; background:none; border:0 none;}
#common #mainnav li ul li a:hover {color:#c00; text-decoration:underline;}
#common #footer {background: url("../image/b_bg.gif") repeat-x scroll 0 0 #666666;padding: 52px 0 52px;}
#footbox .footer-left{float:left;width:800px;margin:0 auto; font-size:14px;text-align:left;}
#footbox .footer-right{float:right;}
#daohang {width:100%; margin-top:0; height:35px; }
#nav {width:1000px; margin:0 auto; line-height:34px;}
#nav a {padding:0 4px; color:#000; font-size:12px;}
#nav a:hover{color:#cc0000; text-decoration:underline;}
.ljad {width:1150px; margin:0 auto; padding:10px 0; line-height:34px;}
.ljad1 {width:1150px;height:35px;border-bottom:1px solid #EEE; margin:0 auto; line-height:34px;}
.ljad2 {width:760px; padding-bottom:10px;}
.ljad3 {width:1150px;height:50px;border-bottom:1px solid #EEE; margin:0 auto; line-height:45px;padding-top:10px;}
.ljad4 {width:1300px;height:50px;border-bottom:1px solid #EEE; margin:0 auto; line-height:45px;padding-top:10px;}
.dh666 {width:100%; margin-top:0; height:41px; background:#f5f5f5 url(../image/daohang.gif) repeat-x left bottom;}

.topad1 {margin:4px; height:12px; text-align:center; padding:9px; clear:both; background-color:#F3F3F3;}
.topad2 {padding:2px 0px 12px 0px;}

/*中间布局*/
.mainbox {margin:0 0 10px 0; clear:both;}
.leftbox {width:681px; float:left; overflow:hidden;}
.left {width:240px; float:left; margin-right:5px; background-color:#F3F3F3;}
.left h3,.right h3 {height:28px; text-align:center; color:#fff; background-color:#c00; line-height:28px; margin-bottom:5px;}
.right h3.ret {background-color:#C9C9C9; border-bottom:2px solid #CC0000; color:#000;}
.artlist {margin-bottom:8px;}
.artlist li {font-size:14px; line-height:30px; padding-left:15px; background:url(../image/arrow.gif) no-repeat 5px 12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.artlist li span {color:#969696;font-size:12px; float:right;}
.artlist li span.newdate {color:red;}
.artlist li span.ath {margin-right:25px;}
.center {width:430px; float:left;}
.center h3 {height:28px; background-color:#BFBFBF; margin-bottom:5px;}
.center h3 .title {width:100px; text-align:center; line-height:28px; background-color:#c00; display:inline-block; color:#fff;}
.center h3 .title1 {width:130px; text-align:center; line-height:28px; background-color:#c00; display:inline-block; color:#fff;}
.googlesearch {background-color:#E7E7E7; padding:11px 0 0 10px;}
.right {width:198px; float:right; background-color:#F2EFE3;}
.right h3 a{color:#fff;}
.right h3 a:hover {color:#ff0;}
.right_dp {float: right;margin: -20px 5px 0 0}
.right_dp a{color:#999}
.right_dp a:hover {color:#ea0303;}
.ggad {text-align:center; border: 1px solid #ddd; padding:20px;}
.ggad1 {float: left;}
.ad130x90 {width:130px; height:90px; float: right;}
.ggad2 {background-color:#f5f5f5; text-align:center; padding:8px; clear:both;}
.bdad_top {text-align:center;margin-bottom: 10px; background-color:#F9F9F9; Border-bottom:10px solid #FFF; }
.bdad_2 {text-align:left; padding:15px 0 5px 0; }
.bdad {text-align:center;margin-bottom: 10px; border: 1px solid #ddd; padding:15px;}
.bdad_960 {text-align:center;margin: 10px 0; border: 1px solid #ddd; padding:15px;}
.bdad1 {text-align:center;border: 1px solid #ddd; padding:15px;}
.artbox {width:335px; float:left; margin-right:5px;}
.artbox h3 {height:28px; background-color:#BFBFBF;}
.artbox h3 .title {width:92px; text-align:center; line-height:28px; background-color:#c00; display:inline-block; color:#fff;}
.artbox h3 .title a {color:#fff;}
.artbox h3 .title a:hover {color:#ff0;}
.artbox h3 .more {float:right; line-height:28px; padding-right:5px; font-weight:normal;}
.artboxcon {padding:6px 5px 0;}
.artpic {width:150px;  float:left; padding:5px 9px 4px 1px;}
.artpic a {display:block; width:150px; height:114px; margin-bottom:18px; text-align:center;}
.artpic :hover img{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6; transition:opacity 0.3s; }
.artlistbox {width:240px; float:left;}
.picshow {text-align:center; padding:18px 0;}
.graybg {background-color:#F5F5F5;}
ul.picadshow li {margin-bottom:14px; text-align:center;}
#partner {height:180px;min-width:1150px;margin:0 auto;}

/*友情链接*/
.friendlogo {margin:30px 0 20px 0;width:1150px;}
.friendlogo li {float:left; width: 150px;  text-align: center;  margin: 0px 16px 30px 0;}
 .friendlogo li a{font-size: 14px; color: #b0b0b0;}
.friendtxt {clear: both; color: #333333; background: #F5F5F5; padding-top:8px; line-height: 20px; }
.friendtxt1 {clear: both; padding: 7px; color: #333333; background: #F5F5F5; line-height: 20px; }
.friendlink td {line-height:10px; padding:5px; text-align:center;}
.share {width: 664px;margin: 0 auto;padding: 10px 0px;}

/*广告位*/
.index_search {width: 677px;background:#f5f5f5;margin: 0 auto;margin-top: 12px; margin-bottom: 12px;border: 1px solid #DADADA;padding: 10px 0 10px 0;text-align:center;}
.index_search1 {width: 1098px;margin: 0 auto;margin-top: 10px; margin-bottom: 10px; border: 1px solid #ddd; padding:3px 0 0 0;background:#fff; text-align:center;}
.index_search2 {width: 1098px;margin: 0 auto;font-size:14px; margin-top: 10px; margin-bottom: 10px; border: 1px solid #ddd; background:#fff; padding: 25px 0 25px 0;text-align:center;}
.index_search3 {width: 620px;margin: 0 auto;font-size: 14px;border-top: 1px solid #ddd; background:#FFF; padding: 14px 0;text-align:center;}
.index_search4 {width: 685px;background:#fff;margin: 0 auto;font-size:14px; margin-top: 10px; margin-bottom: 10px; padding: 15px 0 15px 0;text-align:center;}
.index_search p {margin: 10px 0 10px 0;padding: 0px;}
.index_search5 {width: 300px;margin: 0 auto;margin-top: 10px; margin-bottom: 10px; border: 1px solid #ddd; background:#fff; text-align:center;}
.index_search7 {width: 771px;margin-top: 20px; margin-bottom: 30px; border: 1px solid #ddd; padding:3px 0 0 0;background:#fff; text-align:center;}
.index_search8 {width: 758px;margin-bottom: 10px; border: 1px solid #ddd; padding:3px 0 0 0;background:#fff; text-align:center;}
.bd_link {width: 668px;height:25px;background:#fff;margin: 0 auto;margin:10px 0; padding:11px 0; font-size:16px; border: 1px solid #ddd; text-align:center;border-radius:4px;}
.bd_link_1 {width: 773px;height: 30px;background:#fff;padding-top: 20px; text-align:left;}
.bd_link_2 {width: 773px;height: 25px;background:#fff;margin-bottom: 30px; padding:15px 0 8px; border: 1px solid #ddd; text-align:center}
.bdad_1{float: left;margin: 10px 0; }
.index_search6 {width: 371px;height:88px;margin: 10px 0 10px 0; border-right: 1px solid #ccc; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;text-align:center;float: right;}
/*尾部*/
#footer {text-align:center; width:880px; margin:0 auto; padding:5px 0;}
#footbox {width:1150px;margin: 0 auto;margin-top: 30px;}
#footer p {line-height:30px; color:#fff;}
#footer p.botlink a {color:#cecece; padding:0 35px 0 0; }
#footer p.botlink a:hover {text-decoration:none;color:#f2f2f2;}
#footer p.tj {margin-top:10px;color:#cecece;}

/*------------------------lanmu页-------------------*/

.leftbox1 {width:795px; float:left; display:inline;}
.leftbox2 {width:1150px; float:left; display:inline;}
.left1 {width:165px; float:left; padding: 5px 0 0 0;}
.left1 h3,.right h3 {height:28px; text-align:center; color:#fff; background-color:#c00; line-height:28px; margin-bottom:5px;}

.center1 {width:740px; padding:5px 0 0 0; }
.center1 h1 {height:28px; background-color:#BFBFBF; margin-bottom:5px;}
.center1 h1 .title3 {width:120px; text-align:center; line-height:28px; background-color:#c00; display:inline-block; color:#fff;}

.leftarticle {float:left;}

#loat4 {line-height:25px; COLOR: #999; padding: 0 0 5px 0;font-size:12px; border-bottom:1px solid #DADADA; margin-left:-2PX;}
#loat4 a {color:#999;}
#loat4 a:hover { color:#ea0303;}
#loat4 .date {float:right;COLOR: #000; }

#loat5 {line-height:25px; font-size:12px; COLOR: #000; height:30px;}
#loat5 .date { float:right;}
#loat5 .weibo {line-height:1px; float:right;}
#loat5 .weibo a{ text-decoration:underline;color:#666;}
#loat5 .weibo a:hover { color:#ea0303;}

#loat6 {line-height:25px; color:#999; padding: 0 0 10px 0; font-size:12px; border-bottom:1px solid #E8E8E8;}
#loat6 a {color:#999;text-decoration: none; transition: all .2s;}
#loat6 a:hover { color:#333;}
#loat6 .sharebd {float:right;COLOR: #000; }

#loat7 {line-height:25px; font-size:12px; COLOR: #000; height:30px; padding:10px 0 15px 0}

#loat8 {line-height:25px; color:#333; padding: 0 0 20px 0; font-size:14px;width:770px; }
#loat8 a {color:#999;text-decoration: none; transition: all .2s;}
#loat8 a:hover { color:#333;}
#loat8 .sharebd {float:right;COLOR: #000; }

/*文字类右边广告位*/
.comleftbox1 {padding:0 0px 0px 5px; margin-bottom:5px;}
.comleftbox1 h3 {line-height:24px;font-size:14px;color:#333;}
.comleftad {padding-bottom:20px;}
.comleftad1 {padding:15px 0;}
.comleftad2 {height:270px;padding-top:5px;}
.comleft2 {height:300px;padding-bottom:20px;}
.ntitle{/*border-bottom: 1px solid #e8e8e8;*/position: relative;}
.ntitle h3 { display: inline-block;border-left: 4px solid #de0403;padding-left: 10px;font-size: 18px;color: #333;height: 20px;line-height: 1;margin: 10px 0 15px 0;}
/*文字类频道页*/
.artbox1 { width:500px; float:left; font-size:14px; margin-right:5px;}
.artbox1 h1 { height:28px; background-color:#BFBFBF;}
.artbox1 h1 .title { width:130px; text-align:center; line-height:28px; background-color:#c00; display:inline-block; color:#fff;}
.artbox1 h1 .title a { color:#fff;}
.artbox1 h1 .title a:hover { color:#ff0;}
.artbox1 h1 .more { float:right; line-height:28px; padding-right:5px; font-weight:normal;}

.artlistbox1 {width:370px; float:left;}
.artlist1 {margin-bottom:8px;}
.artlist1 li {line-height:24px; padding-left:20px; background:url(../image/arrow.gif) no-repeat 5px 8px;}
.artlist1 li span {color:#969696; font-size:12px;float:right; padding-right:5px;}
.artlist1 li span.newdate {color:red;}
.artlist1 li span.ath {margin-right:25px;}

.artpic1 {width:80px; float:left; margin-right:15px; margin-left:14px; }
.artpic1 a {display:block; width:80px; height:100px; margin-bottom:7px; overflow:hidden;}

.center2 {width:795px; margin-top:10px;padding:0 7px 0 0; }
.center2 h3 {height:28px; background-color:#BFBFBF; margin-bottom:5px;}
.center2 h3 .title3 {width:100px; text-align:center; line-height:28px; background-color:#c00; display:inline-block; color:#fff;}

.center3 {width:1150px; margin-top:10px;padding:0 7px 0 0; border-right:1px solid #DADADA;}
.center2 h3 {height:28px; background-color:#BFBFBF; margin-bottom:5px;}
.center2 h3 .title3 {width:100px; text-align:center; line-height:28px; background-color:#c00; display:inline-block; color:#fff;}

/*内容页*/
.bottomad2 {height:265px; padding:5px 0; text-align:left; clear:both;}
.bottomad3 {height:215px; padding:5px 0; text-align:left; clear:both;}
.line {height:5px; border-top:1px solid #DADADA;}
.combox {}
.comright {width:910px; float:left; padding:14px 5px 5px 0;display:inline; }
.comright .curr {width:670px;line-height:25px; color:#999; padding: 0 0 10px 0; font-size:12px; border-bottom:1px solid #E8E8E8;; margin-left:-4PX;}
.comright .curr a {color:#999;}
.comright .curr a:hover {color:#ea0303;}
.comright_1 {width:920px; float:left; padding:1px 5px 5px 0;display:inline}
.articlebox {padding-top:15px}
.articlebox h1 {font-family:'微软雅黑','黑体'; font-size:28px; color:#333; line-height:50px; font-weight:bold;}
.artbotad1 {height:80px;border-top:5px solid #fff; clear:both;}
.artso {padding:3px 0; font-size:12px; line-height:20px; color:#999; }
.bdshare {padding:12px 0 0 0; }
.zuozhe1 {width:100%; padding:5px 10px 25px 0; font-size:12px; line-height:20px; color:#999; }
.zuozhe1 a {text-decoration:underline;color:#999;}
.zuozhe1 a:hover {color:#ea0303;}
.artcon1 {margin: 0 0 30px 0;}
.artcon {font-family: Tahoma,Verdana,"Microsoft Yahei";font-size:18px;letter-spacing:1.5px; color:#333; line-height: 40px;}
.artcon a{color: #296BCC;text-decoration: underline;}
.artcon a:hover{color:#0a1b33}
.artcon p {line-height:35px; color:#333;margin-bottom:20px;}
.artcon h2 {font-size:26px;margin-bottom:10px; color:#000000;}
.artcon h3 {font-size:24px;font-weight:bold;margin-bottom:30px;}
.artcon h6 {font-size:14px;color: #888;margin:-20px 0 20px 0;}
.artcon h3 em {
    background-image: linear-gradient(90deg,rgba(247,239,7,.9) 100%,rgba(0,0,0,.84) 0);
    background-repeat: repeat-x;
    background-size: 1px 10px;
    background-position: 0 calc(1em - 0px);
	padding: 5px 10px;
	font-style:normal;
		}
.artcon blockquote{background: url("../image/blockquote.gif") no-repeat scroll left top #f6f6f6;/* color: #333; */padding: 20px 20px 1px 50px;margin:30px 0;}
.artcon blockquote P{line-height:30px; color:#333;padding: 0;}
.artcon img {background: #fff; max-width: 910px;}
.artcon_cool {font-family: Tahoma,Verdana,"Microsoft Yahei";font-size:16px;letter-spacing:0.5px; color:#333; line-height: 35px;}
.artcon_cool a{color: #296BCC;text-decoration: underline;}
.artcon_cool a:hover{color:#0a1b33}
.artcon_cool p {line-height:35px; color:#333;margin-bottom:20px;}
.artcon_cool h2 {font-size:26px;margin-bottom:10px; color:#000000;}
.artcon_cool h3 {font-size:24px;margin-bottom:30px;}
.artcon_cool h6 {font-size:12px;color: #888;margin:-20px 0 20px 0;}
.artcon_cool h3 em {
    background-image: linear-gradient(90deg,rgba(247,239,7,.9) 100%,rgba(0,0,0,.84) 0);
    background-repeat: repeat-x;
    background-size: 1px 10px;
    background-position: 0 calc(1em - 0px);
	padding: 5px 10px;
	font-style:normal;
		}
.artcon_cool blockquote{background: url("../image/blockquote.gif") no-repeat scroll left top #f6f6f6;/* color: #333; */padding: 20px 20px 1px 50px;margin:30px 0;}
.artcon_cool blockquote P{line-height:30px; color:#333;padding: 0;}
.artcon_cool img {background: #fff; max-width:1150px;}
.artcon_sc {font-family: Tahoma,Verdana,"Microsoft Yahei";font-size:18px;letter-spacing:1.5px; color:#333; line-height: 40px;}
.artcon_sc p {line-height:35px; color:#333;margin-bottom:20px; }
.artcon_sc a{color: #296BCC;text-decoration: underline;}
.artcon_sc a:hover{color:#0a1b33}
.artcon_sc img {background: #fff; margin: 10px 0; padding: 4px; max-width: 910px; border: 1px solid #eee;}
.artcon_sc blockquote{background: url("../image/blockquote.gif") no-repeat scroll left top #f6f6f6;/* color: #333; */padding: 20px 20px 1px 50px;margin:30px 0;}
.artcon blockquote P{line-height:30px; color:#333;padding: 0;}
.artcon_png {color:#000; font-size:14px; line-height: 26px; }
.artcon_png p {line-height:26px; font-size:16px; color:#000; margin-bottom:15px; }
.artcon_png img {background: #fff; margin: 20px 50px 40px 10px; padding: 4px; max-width: 740px;}
.artcon_kz {color:#000; padding-bottom:20px;margin:10px 0;font-size:16px; line-height: 26px;}
.artcon_kz p {line-height:26px; font-size:16px; color:#000; margin-bottom:15px; }
.artcon_kz img {background: #fff; margin: 10px 0; padding: 4px; max-width: 910px;}
.artcon ul{margin-bottom:30px;margin-left:2.8em}.artcon ul li{list-style:circle;margin-bottom:.5em}.artcon ol{list-style-type:decimal;margin:0 0 1.75em 3.1em;padding:0}.artcon ol li{list-style-type:decimal}
.code1 {background-color:#fff; border: 1px solid #CCC; padding:20px; width:610px; font-family: tahoma; font-size: 9pt;}
.code1 img{margin: 10px;}
UL.bgbox {
	BORDER-RIGHT: #e5e1e2 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e5e1e2 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 6px; BORDER-LEFT: #e5e1e2 1px solid; WIDTH: 128px; PADDING-TOP: 0px; BORDER-BOTTOM: #e5e1e2 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 128px; TEXT-ALIGN: center; TEXT-DECORATION: none
}


/*栏目分页*/
/*
.showpage {font-family:Verdana,Arial,'微软雅黑','宋体',;PADDING: 7px 0; text-align:center; margin:0 auto; margin-top:13px;}

.showpage a,.showpage SPAN{ display:inline-block;height:31px;width:31px;text-align:center;line-height:31px; background:url(../image/bigPage.png) no-repeat left top; position:relative; text-decoration:none;color:#7f7f7f;font-size:14px;font-weight:bold;margin:0 5px;float:left;}
*/
.showpage A:active,.showpage SPAN.current{background:url(../image/bigPage.png) no-repeat left -93px;color:#fff; cursor:default;}
.showpage b{ display:inline-block;line-height:31px;}
.showpage a:hover{background:url(../image/bigPage.png) no-repeat left -31px;color:#7f7f7f;}
.showpage a.down{background:url(../image/bigPage.png) no-repeat left -62px;}
.pagePrev b{cursor:pointer;width:0;height:0;border-width:6px;border-style:solid;font-size:0;line-height:0;border-color:#f8f8f8 #4e4e4e #f8f8f8 #f8f8f8; position:absolute;left:7px;top:10px;}
.pageNext b{cursor:pointer;width:0;height:0;border-width:6px;border-style:solid;font-size:0;line-height:0;border-color:#f8f8f8 #f8f8f8 #f8f8f8 #4e4e4e; position:absolute;left:14px;top:10px;}

.showpage a.pageDisabled{background:url(../image/bigPage.png) no-repeat left -132px;color:#c1c1c1; cursor:default;}
.showpage a.pageNext.pageDisabled b{border-color:#eee #eee #eee #c1c1c1; cursor:default;}
.showpage a.pagePrev.pageDisabled b{border-color:#eee #c1c1c1 #eee #eee; cursor:default;}

.pre_nextart {clear:both; font-family:Verdana,'微软雅黑',"宋体"; color:#333; font-size:14px; line-height: 25px; height:55px;}
.pre_nextart li {display:list-item; line-height:25px;}

.showpage{padding:40px 0 0 0;font-size:14px; margin:0 auto; overflow:hidden;text-align:center}
.showpage span, .showpage a{line-height: normal;display:inline-block;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:#DDD 1px solid;padding:10px 15px;margin:0 5px 0 0;color:#444;background:#F8F8F8}
.showpage span.current, .showpage a:hover{border:#700 1px solid;background:url(../image/pagebg.png) 0 -125px repeat-x;color:#FFF;text-shadow:#500 1px 1px 0;text-decoration:none}
.showpage span.pages{border:0;padding:4px 20px 5px 3px;background:none}

.relatedart {width:915px;margin-top:8px;color:#333; }
.relatedart_kz {width:920px;margin-top:8px;color:#333; }
.relatedart h3 {display: inline-block;border-left: 4px solid #de0403;padding-left: 10px;font-size: 18px;color: #333;height: 20px;line-height: 1;}
.relatedart_kz h3 {line-height:20px; padding-left:2px; font-size:14px; padding:15px 0 0 0;border-top:1px solid #E8E8E8;}
.gg670 {margin-top:8px;line-height:20px; padding-left:2px; font-size:14px; padding:15px 0 0 0;border-top:1px solid #DADADA;}
.related_artlist {margin-top:5px; color:#333;font-size:14px; line-height:28px;}
.related_artlist li {padding-left:13px;background:url(../image/List_content.gif) no-repeat 3px 5px;}
.artbotbg {height:36px; clear:both; background:url(../image/botbg2.gif) no-repeat;}
.commet {padding-top:5px;padding-bottom:5px;}
.comleft {TEXT-ALIGN:left;float:right; width:341px; display:inline;}
.comleft1 {TEXT-ALIGN:left;margin-top:10px;float:right; width:341px; display:inline;}
.comleft_1 {TEXT-ALIGN:left;float:right; width:170px; display:inline;}
.comleftbox {padding:7px 0px 0px 5px; margin-bottom:5px;}
.comleftbox h3 {}
.comleftbox2 {padding:25px; margin-bottom:5px;}
.comleftlist {line-height:28px;font-size:14px; color:#333; padding-top:3px;margin:0 auto;}
.comleftlist li {line-height:28px; padding-left:5px; color:#333; background:url(https://www.sj33.cn/images/dot.gif) no-repeat 0px 8px; }
.hits{color:#666;  background-color:#666;text-align:left;}

.commain {}
.commain .left {width:175px; background-color:#f7f7f7; height:885px;text-align:center; padding-top:20px;}
.commain .center {width:495px; padding-bottom:20px;}
.list {font-size:16px; line-height:38px; margin-bottom:20px; }
.list li {line-height:38px; padding-left:20px; background:url(../image/arrow1.gif) no-repeat 5px 13px;}
.list li span {color:#969696; font-size:12px; float:right; padding-right:5px;}
.list li span.newdate {color:red;}
.list li span.ath {margin-right:25px;}
.list li.graybg {background-color:#F5F5F5}

/*----------------2010-12-06 update----------------------------*/
.newbox {clear:both;}
.nleft {width:670px; float:left;}
.location {height:30px; line-height:30px; font-size:14px;}
#focus {margin-bottom:10px;}
.lbox {border-top:0 none;}
h3.t {height:35px; background:#f1f1f1;}
h3.t .title {display:inline-block; height:35px; width:150px; background:#AD0000;; font-size:14px; color:#fff; text-align:center; line-height:33px;}
h3.t .title a {color:#fff;}
h3.t .title a:hover {color:#ff0;}

h3.t .stitle {float:right; line-height:34px; font-weight:normal; font-size:12px; color:#898888; padding-right:10px;}
h3.t .stitle a {text-decoration:underline;color:#898888;}
h3.t .stitle a:hover {color:#ea0303;}

h3.t1 {font-weight:normal; font-size:12px; color:#666; padding:10px 0;}
h3.t1 a {text-decoration:underline;color:#666;}
h3.t1 a:hover {color:#ea0303;}

h2.t1 {font-family:arial, '微软雅黑','宋体'; font-weight:200; font-size:12px; color:#666; padding:10px 0;}
h2.t1 a {text-decoration:underline;color:#666;}
h2.t1 a:hover {color:#ea0303;}

#nt {margin-bottom:0px;border-left:1px solid #ddd;border-right:1px solid #ddd;}

.lcon {padding:10px 10px 0 0}
.lrcon {width:500px; float:left;}
.lrconright {width:295px; float:left;}
.newlist {}
.newlist li {line-height:26px; padding-left:12px; background:url(../image/arrow.gif) no-repeat 0 8px; font-size:14px;}
.newlist li em {font-style:normal; color:#A3A3A3; float:right;}
.nright {float:right; width:277px;}
.ntopbox {border-top:0 none;}
.ntopcon {padding:10px 10px 0 0}
.nrlist {}
.nrlist li {line-height:25px; font-size:14px;}
.ntoprad {}
.mad {clear:both; width:1000px; overflow:hidden; margin-bottom:10px;}
.h260 {height:300px; overflow:hidden;}
.mb10 {margin-bottom:15px;}
.h260 .newlist li {line-height:24px; height:24px; padding-left:12px; background:url(../image/arrow.gif) no-repeat 0 8px; font-size:14px;}
.h260 .lcon {}
.combot #partner {width:1150px; border-top:0 none; background:#fff;}
.combot .friendtxt1 {background:#fff;}

.cse {height:70px;margin-top:20px;}

/*幻灯片*/
#ibanner {position:relative; width:670px; height:300px; overflow:hidden; margin:0 auto; }
#ibanner_pic {}
#ibanner_pic a {position:absolute; top:0; display:block; width:670px; height:300px; overflow:hidden; left:0; }
#ibanner_pic img {width:670px; height:300px;}
#ibanner_btn {position:absolute; z-index:9999; right:5px; bottom:5px; font-weight:700; font-family:Verdana,Arial; }
#ibanner_btn span {display:block; float:left; margin-left:4px; padding:0 5px; background:#FFF; cursor:pointer; }
#ibanner_btn .normal {height:15px; border:1px solid #DCDCDC; color:#9F9FC1; font-size:12px; line-height:15px; }
#ibanner_btn .current {height:15px; border:1px solid #C00100; color:#C00100; font-size:12px; line-height:15px; }

#searchbar4 {height:70px;float:right;margin-top:10px;}
#searchbar3 {width:36px;cursor:pointer;float:right; margin-top:15px;background:url(https://www.sj33.cn/Images/searchr.gif) no-repeat;height:32px;}
#searchbar2 {background:url(https://www.sj33.cn/Images/searchl.gif) no-repeat; width:250px; height:32px; float:right; margin-top:15px;}
#searchtext {height:20px;width:240px;border:0px;margin:5px 0 0 8px;font-size:14px;}

.tags {padding:38px 10px 8px 0; color:#000;font-size:12px;}
.tags a{text-decoration:underline;color:#000;}
.tags a:hover {color:#ea0303;}


.div2{top:10px;z-index:999;position:fixed;_position:absolute}

/*图片列表*/
.imglist {overflow:auto;}
.imglist li {width:50%;float:left;text-align:center;margin:10px 0 5px;}
.imglist li img {width:243px;height:185px;}
.imglist li a {display:block;width:243px;font-size:12px;line-height:32px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#artbox2 { width:770px; float:left; font-size:14px;}

.imglist2 {overflow:auto;margin-bottom:15px;width:920px;}
.imglist2 li {width:310px;float:left;text-align:left}
.imglist2 li:nth-child(3n) {
   width:287px;
}
.imglist2 li img {width:287px;height:212px;margin-top:21px;border:1px solid #edecec;display:inline-block;overflow:hidden;border-radius: 6px 6px 0 0;}
.imglist2 li a {display:inline-block;*display:inline;font-size:14px;width:245px;line-height:32px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.imglist2 li :hover img{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6; transition:opacity 0.3s; }

.imglist3 {overflow:auto;border:1px solid #DADADA;border-top:0;margin-bottom:15px;}
.imglist3 li {width:33%;float:left;text-align:center;margin:15px 0 0;}
.imglist3 li img {width:205px;height:160px}
.imglist3 li a {display:inline-block;color:#666;width:212px;font-size:12px;line-height:32px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.imglist4 {overflow:auto;margin-bottom:15px}
.imglist4 li {width:287px;float:left;text-align:left}

.imglist4 li img {width:263px;height:205px;margin-top:21px;border:1px solid #edecec;display:inline-block;overflow:hidden;border-radius: 6px 6px 0 0;}
.imglist4 li a {display:inline-block;*display:inline;font-size:14px;width:245px;line-height:32px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.imglist4 li :hover img{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6; transition:opacity 0.3s; }
.imglist5 {overflow:auto;margin-bottom:15px}
.imglist5 li {width:293px;float:left;text-align:left}
.imglist5 li:nth-child(4n) {
   width:270px;
}
.imglist5 li img {width:270px;height:185px;margin-top:21px;border:1px solid #edecec;display:inline-block;overflow:hidden;border-radius: 6px 6px 0 0;}
.imglist5 li a {display:inline-block;*display:inline;font-size:14px;width:245px;line-height:32px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.imglist5 li :hover img{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6; transition:opacity 0.3s; }
/*Tag列表*/
#tag {height:auto;border:0;border:none;}
/* #tag li {margin:0 0 15px;}*/
.tags {color:#cf3c4f;font-size:20px;margin-bottom:15px;font-weight:normal;}
.tags1 {line-height:30px; font-size:14px;padding:0 0 25px 0;}
.tags1 a {padding-right:15px;display:block;float:left;width:auto;text-decoration:none;}
.tags1 a :hover{color:#ea0303;text-decoration:none;}
/**推荐设计**/
.tjsj li {width:100%;float:left;line-height:24px;font-size:14px;padding:20px 0 0 0;}
.tjsj img {width:100px;height:75px;float:left;margin-right:15px;border:1px solid #F1F1F1;}
.tjsj li :hover img{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6; transition:opacity 0.3s; }
.tjsj li a {color:#333;width:190px;}
.tjsj li a:hover {color:#c00;text-decoration:none;}
.tjsj li span {display:block;color:#666;}
.tjsj li span a {display:block;color:#888;}
.tjsj li span.time {color:#ccc;}

/**推荐设计**/
.tjsj2 li {width:100%;float:left;line-height:26px;font-size:16px;padding:0 0 70px 0;}
.tjsj2 h2 {position: relative;font-size: 20px;font-weight: 500;margin-bottom: 5px;}
.tjsj2 h2 a {color:#121212;font-weight: bold;}
.tjsj2 h2 a:hover{color:#EA0303;text-decoration : none}
.tjsj2 li a {color:#666;width:190px;}
.tjsj2 img {width:200px;height:150px;float:left;margin-right:25px;border:1px solid #F1F1F1;border-radius:6px;}
.tjsj2 li :hover img{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6; transition:opacity 0.3s; }
.tjsj2 li span {display:block;color:#666;}
.tjsj2 li span a {display:block;color:#888;}
.tjsj2 li span.time {color:#ccc;}
.post {color: #888; font-size: 14px;margin:10px 0;line-height: 24px;letter-spacing: 0.5px;}

/*相关文章列表*/
.likelist {overflow:auto;}
.likelist li {width:210px;float:left;text-align:left;padding:15px 23px 0px 0;}
.likelist li.none {padding:15px 0px 0px 1px;}
.likelist li img {width:210px;height:160px;border:1px solid #edecec}
.likelist li a {display:block;width:210px;font-size:14px;line-height:32px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size:12px;}
.likelist li :hover img{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6; transition:opacity 0.3s; }

#paperBtn{ padding:15px 10px 15px 0;line-height: 30px;font-size:16px;height:70px}
#paperBtn a{color: #000; text-decoration:none; display:block; overflow:hidden;  white-space:nowrap;text-overflow:ellipsis;}
#paperBtn a:hover{color: #cc0000;}
#paperBtn .left{float:left;width:335px;padding-left:25px;color: #000;background: url(../image/paper_icon_prev.png) no-repeat left center;}
#paperBtn .right{float:right;width:335px;padding-right:25px;color: #000;background: url(../image/paper_icon_next.png) no-repeat right center;text-align: right;}

/* 下载按钮 */
.xz-red {font-size:16px;line-height:33px;background:#CD0000;font-weight:bold;color:#FFF;padding:12px 25px;border-radius: 15px;margin-right: 10px;}
.xz-red:hover{background:#8B0000;color:#FFF;text-decoration:none}

.xiazai {padding:0 0 40px 0;text-align:center}

.type_map{line-height:40px;padding:15px 0px;border-bottom:1px solid #F1F1F1;width:773px; margin-bottom:10px;font-size: 14px;overflow:hidden}
.type_map .left11 {float:left; width:50px}
.type_map .right1{float:left; width:690px; height:auto}
.type_map .left2 {float:left; width:60px}
.type_map .right2{float:left; width:660px; height:auto}
.type_map a{ margin-right:10px}
.type_map a.cur{color:#EA0303; font-weight:bold}

.type_map1{line-height:40px;padding:15px 0px;width:773px; margin-bottom:10px;font-size: 14px;overflow:hidden}
.type_map1 .left11 {float:left; width:50px}
.type_map1 .right1{float:left; width:690px; height:auto}
.type_map1 .left2 {float:left; width:60px}
.type_map1 .right2{float:left; width:660px; height:auto}
.type_map1 a{ margin-right:10px}
.type_map1 a.cur{color:#EA0303; font-weight:bold}

#discover {COLOR: #666; font-size:16px; width:1150px;margin:0 auto;}

#loat1 {line-height:25px; COLOR: #999; padding: 0 0 15px 0;font-size:12px; width:1150px;margin:0 auto;}
#loat1 a {color:#999;text-decoration: none; transition: all .2s;}
#loat1 a:hover { color:#333;}
#loat2 {line-height:25px; COLOR: #999; padding:15px 0;font-size:12px; width:1300px;margin:0 auto;}
#loat2 a {color:#999;text-decoration: none; transition: all .2s;}
#loat2 a:hover { color:#333;}

#loat44 {line-height:25px; COLOR: #999; padding: 0 0 5px 0;font-size:12px; border-bottom:1px solid #edecec; width:773px;}
#loat44 .weibo {line-height:1px; float:right;}
#loat44 .weibo a{ text-decoration:underline;color:#666;}
#loat44 .weibo a:hover { color:#ea0303;}
#loat44 a {color:#999;}
#loat44 a:hover { color:#ea0303;}
#loat44 .date {float:right;COLOR: #000; }

#loat45 {line-height:25px; COLOR: #999; padding: 0 0 5px 0;font-size:12px;}
#loat45 .weibo {line-height:1px; float:right;}
#loat45 .weibo a{ text-decoration:underline;color:#666;}
#loat45 .weibo a:hover { color:#ea0303;}
#loat45 a {color:#999;}
#loat45 a:hover { color:#ea0303;}
#loat45 .date {float:right;COLOR: #000; }

#typelink2 {width:240px;margin:-10px 0 15px 0;color:#a3a3a3}
#typelink2 a{display:inline;width:auto;font-size:12px}
#typelink2 a:link{color:#a3a3a3}
#typelink2 a:visited{color:#a3a3a3}
#typelink2 a:hover{color:#a3a3a3}

#typelink3 a{color:#444;font-size:14px;display:inline-block;width:300px;line-height:32px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#typelink3 a:hover{color:#EA0303;}

#typelink4 a{color:#444;font-size:14px;display:inline-block;width:265px;line-height:32px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#typelink4 a:hover{color:#EA0303;}
#typelink5 a{color:#444;font-size:14px;display:inline-block;width:270px;line-height:32px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#typelink5 a:hover{color:#EA0303;}
#sousuo {width:1150px;height:45px;border-bottom:1px solid #E8E8E8;padding-bottom:3px;clear:both;margin:0 auto;}
.leftgg {width:770px;height:25px;overflow:hidden;float:left;padding-top:13px;}
.search {height:45px;line-height:30px;margin-top:10px;float:right;}
.search1 {padding:0 7px 0 14px; line-height:16px; border-radius: 4px;  text-align:right; float:right;overflow:hidden; clear:both; background:#fff;}
.key_input {border: none; line-height: 20px; height:20px; width: 180px; background: #fff; color: #999; font-size: 12px; padding:7px 10px 8px 0}
.key_input1 {border: 1px solid #e8e8e8; line-height: 20px; height:20px; width: 366px; background: #fff; color: #999; font-size: 12px; padding:7px 10px 8px 0}
.c_btn{color: #FFFFFF; width:28px; border:none; CURSOR: pointer; padding-top: 6px; background:url(../image/icon.png) no-repeat -130px -184px;height: 37px;}

/* 友情链接 */
.s_link{line-height:28px;border:1px solid #e5e5e5;padding:15px;margin-top:18px;font-size:12px;}
.s_link b{font-weight:bold;padding:0px 3px 0 0;}
.s_link a{padding:0 5px 0 0;margin-right:10px;display: inline-block;}
.s_link a:hover{color:#cc0000}

pre {
  font-size: 12px;
  padding: 20px;
  border-left: 1px solid #D3D3C2;
  background: #F5F5F5;
  overflow: auto;
  overflow-Y: hidden;
}
.phone_see .phone_code {
    background: rgba(0, 0, 0, 0) url("../image/bg03.png") no-repeat scroll 0 0;
    display: none;
    height: 94px;
    padding-right: 7px;
    padding-top: 15px;
    position: absolute;
    right: 17px;
    top: 21px;
    width: 95px;
    z-index: 9999;
}

.phone_see:hover .phone_code {
    display: block;
}

/********************右边Icon样式***********/
.sidebar-v1 { position: fixed; right: 50%; margin-right:-650px; bottom: 130px; width: 52px; height: 52px; background: #fff; z-index: 1001; overflow:visible;}
.sidebar-v1 table { width: 100%; height: 100%; }
.sidebar-v1 table, .sidebar-v1 td { margin: 0; padding: 0; border: 0; border-spacing: 0; border-collapse: collapse; height: 52px; }
.sidebar-v1 a { display: block; width: 52px; font-size: 0; background-image: url("../image/sidebar.png");  overflow: hidden; cursor: pointer; }
.sidebar-v1 li { position: relative; }
.sidebar-v1 li span { position: absolute; right: 52px; top: 0; visibility: hidden; padding: 0 14px; opacity: 0; color: #fff; font-size: 12px; background: #0DA056; transition: .3s all ease-in; -webkit-transition: .3s all ease-in; -moz-transition: .3s all ease-in; -o-transition: .3s all ease-in; white-space: nowrap; }
.sidebar-v1 li:hover span { right: 52px; opacity: 1; visibility: visible; }
.sidebar-v1 li span i { position: absolute; right: 0; top: 50%; width: 0; height: 0; margin: -5px -10px 0 0; font-size: 0; border: 5px solid; border-color: transparent transparent transparent #0DA056; overflow: hidden; }
.sidebar-v1 li .popup-qr { top: -38px; padding: 8px; background: #fff; }
.sidebar-v1 li .popup-qr i { border-color: transparent transparent transparent #fff; }
.sidebar-v1 li .popup-qr .qr-title { display: block; padding-top: 8px; color: #000; line-height: 12px; font-size: 12px; }
.sidebar-v1 .wechat a, .sidebar-v1 .wechat span { }
.sidebar-v1 .wechat a { height: 52px; background-position: -52px 0px; }
.sidebar-v1 .wechat:hover a { background-position: 0 0px; }
.sidebar-v1 .weibo a, .sidebar-v1 .weibo span { height: 52px; line-height: 52px; }
.sidebar-v1 .weibo a { background-position: -52px -52px; }
.sidebar-v1 .weibo:hover a { background-position: 0 -52px; }
.sidebar-v1 .gotop { position: absolute; bottom: 52px; }
.sidebar-v1 .gotop a, .sidebar-v1 .gotop span { height: 52px; line-height: 52px; }
.sidebar-v1 .gotop a { background-position: -52px -104px; }
.sidebar-v1 .gotop:hover a { background-position: 0 -104px; }
.sidebar-v1 .sidebar-line { width: 19px; height: 1px; margin: 7px auto; background: #ccc; }

.sidebar-v2 { position: fixed; right: 50%; margin-right:-720px; bottom: 130px; width: 52px; height: 52px; background: #fff; z-index: 1001; overflow:visible;}
.sidebar-v2 table { width: 100%; height: 100%; }
.sidebar-v2 table, .sidebar-v1 td { margin: 0; padding: 0; border: 0; border-spacing: 0; border-collapse: collapse; height: 52px; }
.sidebar-v2 a { display: block; width: 52px; font-size: 0; background-image: url("../image/sidebar.png");  overflow: hidden; cursor: pointer; }
.sidebar-v2 li { position: relative; }
.sidebar-v2 li span { position: absolute; right: 52px; top: 0; visibility: hidden; padding: 0 14px; opacity: 0; color: #fff; font-size: 12px; background: #0DA056; transition: .3s all ease-in; -webkit-transition: .3s all ease-in; -moz-transition: .3s all ease-in; -o-transition: .3s all ease-in; white-space: nowrap; }
.sidebar-v2 li:hover span { right: 52px; opacity: 1; visibility: visible; }
.sidebar-v2 li span i { position: absolute; right: 0; top: 50%; width: 0; height: 0; margin: -5px -10px 0 0; font-size: 0; border: 5px solid; border-color: transparent transparent transparent #0DA056; overflow: hidden; }
.sidebar-v2 li .popup-qr { top: -38px; padding: 8px; background: #fff; }
.sidebar-v2 li .popup-qr i { border-color: transparent transparent transparent #fff; }
.sidebar-v2 li .popup-qr .qr-title { display: block; padding-top: 8px; color: #000; line-height: 12px; font-size: 12px; }
.sidebar-v2 .wechat a, .sidebar-v1 .wechat span { }
.sidebar-v2 .wechat a { height: 52px; background-position: -52px 0px; }
.sidebar-v2 .wechat:hover a { background-position: 0 0px; }
.sidebar-v2 .weibo a, .sidebar-v1 .weibo span { height: 52px; line-height: 52px; }
.sidebar-v2 .weibo a { background-position: -52px -52px; }
.sidebar-v2 .weibo:hover a { background-position: 0 -52px; }
.sidebar-v2 .gotop { position: absolute; bottom: 52px; }
.sidebar-v2 .gotop a, .sidebar-v1 .gotop span { height: 52px; line-height: 52px; }
.sidebar-v2 .gotop a { background-position: -52px -104px; }
.sidebar-v2 .gotop:hover a { background-position: 0 -104px; }
.sidebar-v2 .sidebar-line { width: 19px; height: 1px; margin: 7px auto; background: #ccc; }
#feedAv{ margin-top: -250px!important;transform: scale(0);}
.hold_events {
    position: absolute;
    top: 0;
    right: 25px;
    display: block;
    width: 106px;
    height: 38px;
    line-height: 38px;
    border-radius: 5px;
    color: #FFF;
    background: #F43700;
    font-weight: 600;
    font-size: 14px;
	text-align:center
}
.hold_events a {color:#FFF;text-decoration:none;}
.hold_events a:hover {color:#FFF;text-decoration:underline;}

/* 新版顶部 */
header {
    width: 100%;
    height: 56px;
    background: #cc0000;
    z-index: 3000000;
}
header nav {
    width: 1150px;
    height: 100%;
    margin: 0 auto;
}
.lion_logo {
    float: left;
    margin-top: 10px;
}
.lion_search {
    float: right;
}
.lion_top_menu_wrap {
    float: left;
}
.lion_top_menu_wrap ul {
    height: 100%;
    display: inline-block;
	padding-left:60px;
}
.lion_top_menu_wrap > ul > li {
    float: left;
    cursor: pointer;
    height: 100%;
    line-height: 56px;
    text-align: center;
    font-size: 14px;
}
.lion_top_menu_wrap > ul > li.selected > a {
    font-weight: 700;
}
.lion_top_menu_wrap ul li > a {
    display: inline-block;
    padding: 0 24px;
    color: #ffffff;
    text-decoration: none;
}
.lion_top_menu_wrap ul li:hover {
    background: #bd0202;
}
.lion_hide {
    display: none;
}
.lion_second_menu_wrap {
    position: absolute;
    background-color: #ffffff;
    top: 56px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
    color: #444;
    z-index: 99;
    width: 155px;
    text-align: left;
}
.lion_top_menu_wrap ul li:hover .lion_second_menu_wrap {
    display: block;
}
.lion_second_menu_wrap p {
    height: 44px;
    line-height: 44px;
    cursor: pointer;
}
.lion_second_menu_wrap p:hover {
    background: #f0f0f0;
}
.lion_second_menu_wrap p a {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    width:152px;
    text-decoration: none;
	color:#333;
}
.lion_second_menu_wrap p a:hover {
    color: #333333;
}
.search1 {
    margin-top: 9px;
}

.title_bar {
    border-bottom: 1px solid #eee;
    height: auto;
    width: 100%;
	}

.title_bar_1 {
	width:1300px;margin:0 auto; padding-top:0px;}
.title_bar_2 {
	width:1150px;margin:0 auto; padding-top:0px;}	
.post-title {
	 font-size: 36px;padding:25px 0;}
.artcon p iframe.inews_video{
       width: 100%;
    height: 470px;
    border: 0;}
    /*标签云*/
.btn1{padding:9px;border-radius:5px;text-align:center;font-size:14px;border:1px solid #ccc;float:left;margin:6px;line-height:15px;}
.btn1:hover{text-decoration:none;background:#cf3c4f;color:#fff;}
.coolsite{margin-bottom:24px;font-weight:bold;letter-spacing:-0.5px;padding:0}
.coolsite a{text-decoration:none;vertical-align:top;display:block;width:100%;color:#666;height:40px;padding:20px 0px 0px 0px;text-align:center;text-decoration:none;font-size:16px;line-height:20px;background:#eee;border-radius:4px;border:none;transition-property:color, background-color, text-shadow;transition-duration:1s}
.coolsite a:hover{color:#222;background:#ddd;transition-duration:.1s}
.brand-info {width: 1150px;margin: 0 auto;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
.brand-info li img a, a:active, a:visited {text-decoration: none;transition: all .2s;}
.brand-info li img:hover {-webkit-box-shadow: 0 4px 10px 0 rgba(80, 80, 80, .21);
    -moz-box-shadow: 0 4px 10px 0 rgba(80, 80, 80, .21);
    box-shadow: 0 4px 10px 0 rgba(80, 80, 80, .21)}
.brand-info li { float: left; width: 215px; text-align: center; margin: 15px 15px 30px 0; color:#999; font-size:14px;}
.brand-info li a { font-size: 14px; color: #b0b0b0; }
.brand-info li img { width: 215px; }