@import url(comm.css);
a, a:visited {
	color:#222;
	text-decoration:none;
}
a:hover, a:active {
	color:#222;
	text-decoration:underline;
}
table { 
table-layout: fixed; 
word-wrap:break-word; 
}
.left {
	float:left;
}
.right {
	float:right;
}
body {
	font-size:12px;
}
.t {
	width:100%;
	height:30px;
	border-bottom:#dedede 1px solid
}
.top {
	width:980px;
	height:28px;
	line-height:28px;
	padding:2px 5px 0 5px;
	margin:0 auto;
}
.top h1 {
	width:470px;
	height:26px;
	float:left;
	font-size:12px;
	font-weight:normal;
	overflow:hidden;
	display:block
}
.top span {
	width:80px;
	height:28px;
	line-height:28px;
	float:right;
	text-align:center;
	display:block;
	background:url(../image/sanjiao.png) left no-repeat
}
#toubiao {
	width:980px;
	margin:0 auto;
}
.tip {
	width:980px;
	height:100px;
	padding:10px 0 0 0;
	position:relative;
	margin:0 auto;
}
.tip_wb {
	width:280px;
	height:40px;
	position:absolute;
	top:32px;
	left:330px
}
.tip h2 {
	width:250px;
	height:100px;
	float:left;
	display:block
}
.tip h3.sub_logo {
	width:195px;
	height:100px;
	float:left;
	display:block;
	margin-left:15px;
}
.tip_r {
	width:450px;
	height:80px;
	float:right;
	padding:20px 0 0 0;
}
.search {
	width:360px;
	height:35px;
	float:left;
	padding:5px 0 0 90px;
	display:block
}
.search .s_w {
	width:225px;
	float:left;
	border:#CCC 1px solid;
	height:30px;
	padding-left:25px;
	background:url(../image/searchtxt.png) left no-repeat;
	line-height:30px;
	margin-right:5px;
	color:#999;
	display:block
}
.search .an {
	width:96px;
	float:left;
	height:32px;
	background:url(../image/search.png);
	color:#000;
	text-align:center;
	cursor:pointer;
	border:0;
	display:block
}
.search .an:hover {
	background:#DDDDDD;
	border:#dedede 1px solid
}
.tag {
	width:360px;
	height:30px;
	float:right;
	line-height:30px;
	overflow:hidden;
	color:#666
}
.tag b {
	color:#E60011
}
.tag a {
	text-align:left
}
.content{
word-wrap:break-word;
word-break:break-all;
}
.content img{
overflow:hidden;
max-width:640px;
width:expression_r((this.width > 680 && this.width > this.height) ? '680px': this.width+'px');
float:middle;
}


/*头条内容Css*/

.jrtt{width:980px; height:70px; margin:30px auto; padding:10px 0; background:#F3F3F3; border:#E6E6E6 1px solid; position:relative}
.jrtt h2{width:850px;  line-height:55px; font-size:26px; font-family:微软雅黑; text-align:center; font-weight:bold; color:red; overflow:hidden; display:block;  margin:0 auto}
.jrtt ul{width:720px; height:20px; margin-top:16px;  display:block;  margin:10px auto}
.jrtt ul li{width:220px; height:20px; line-height:20px; float:left; padding-left:15px; background:url(http://www.guojiw.cn/style/liico2.gif) left no-repeat;  overflow:hidden;display:block; margin:0 auto}
.jrtt ul li a{color:#3F3F3F}
.jrtt .toutiao{position:absolute; top:0px; left:0px; width:75px; height:75px; background:url(http://www.shitutv.com/style/top.gif) no-repeat}

/*新导航Css*/
.bk_nav {
	width:980px;
	height:36px;
	margin-bottom:10px;
	border-bottom:4px solid #ccc;
	margin:0 auto;
}
.bk_nav ul {
	width:980px;
	height:36px;
	font:16px/36px microsoft yahei, "宋体";
}
.bk_nav ul li {
	height:36px;
	text-align:center;
	float:left;
	background: url(../image/top_bg_b00.png) no-repeat right -646px;
}
.bk_nav ul li a {
	display:block;
	height:36px;
	padding:0 10px;
}
.bk_nav ul li a, .bk_nav ul li a:visited {
	color:#000;
	text-decoration:none;
}
.bk_nav ul li a:hover, .bk_nav ul li a:active {
	color:#000;
	text-decoration:none;
	border-bottom:4px solid #378638;
}
.bk_nav ul li a.curr {
	border-bottom:4px solid #378638;
}
.bk_nav ul li a.last {
	background:#fff;
	float:right;
	padding-left:10px;
	padding-right:0
}
.new_body {
	width:980px;
	height:auto;
	margin:20px auto 0;
}
.new_body .focus_cnt {
	width:980px; /*background:#efefef;*/
	padding-bottom:10px;
}
.new_body .fc_l {
	width:400px;
}
.fc_news {
	width:400px;
	height:210px;
	padding-top:70px;
}
.fc_news div ul li {
	font:bold 18px/24px "\5FAE\8F6F\96C5\9ED1", tahoma;
	padding:5px 0 5px;
}
.fc_news div ul li a, .fc_news div ul li a:visited {
	color:#b70000;
	text-decoration:none;
}
.fc_news div ul li a:hover, .fc_news div ul li a:active {
	color:#b70000;
	text-decoration:underline;
}
.fc_news .fc_st {
	width:400px;
	font:12px/24px "宋体";
	margin:0;
	display:block;
}
.fc_news .fc_st a, .fc_news .fc_st a:visited {
	color:#222;
	text-decoration:none;
}
.fc_news .fc_st a:hover {
	text-decoration:underline;
}
.fc_new_list {
	width:400px;
	margin-top:0px;
}
.fc_new_list ul {
	width:400px;
	height:170px;
	font:14px/26px "宋体";
}
.fc_new_list ul li {
	width:390px;
	height:26px;
	padding-left:10px;
	background:url(../image/top_bg_b00.png) 0 -270px no-repeat;
}
.fc_new_list ul li.first_news {
	padding:10px 0 5px;
	font:16px/26px "\5FAE\8F6F\96C5\9ED1", tahoma;
	font-weight:bold;
	width:400px;
	background:none;
}
.fc_new_list ul li a, .fc_new_list ul li a:visited {
	color:#222;
	text-decoration:none;
}
.fc_new_list ul li a:hover, .fc_new_list ul li a:active {
	text-decoration:underline;
	color:#b70000;
}
.fc_r {
	width:560px; /*background:#ccc;*/
	padding-bottom:0px;
}
.fc_pics {
	width:560px;
	height:305px;
	margin-top:10px;
	position:relative;
	overflow:hidden;
}
.fc_pics .pica {
	position:relative;
	width:560px;
	height:305px;
	float:left;
	display:none;
}
.fc_pics .pica a.pica_title {
	height:40px;
	width:550px;
	position:absolute;
	bottom:0;
	right:0;
	background:url(../image/b_grey.png) repeat;
	padding-left:10px;
}
.fc_pics .pica a.pica_title {
	margin-left:10px;
	font:16px/40px "\5FAE\8F6F\96C5\9ED1", tahoma;
	display:inline;
}
.fc_pics .pica a.pica_title, .fc_pics .pica a.pica_title:visited {
	color:#fff;
	text-decoration:none;
}
.fc_pics .pica a.pica_title:hover, .fc_pics a.pica_title:active {
	color:#fff;
	text-decoration:underline;
}
.fc_pics a.pre, .fc_pics a.nxt {
	display:block;
	width:45px;
	height:45px;
	position:absolute;
	top:50%;
	margin-top:-40px;
	opacity:0.5;
	filter:alpha(opacity=50);
	z-index:100;
}
.fc_pics a.pre {
	left:10px;
	background:url(../image/png24.png) 0 0 no-repeat;
}
.fc_pics a.nxt {
	right:10px;
	background:url(../image/png24.png) 0 -45px no-repeat;
}
.fc_pics a.pre:hover, .fc_pics a.nxt:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
}
.fc_pics .yema {
	width:75px;
	height:12px;
	position:absolute;
	bottom:14px;
	right:10px;
	z-index:100;
}
.fc_pics .yema li {
	width:12px;
	height:12px;
	float:left;
	display:inline;
	background:url(../image/png24.png) -24px -126px no-repeat;
	margin-right:2px;
	cursor:pointer;
}
.fc_pics .yema li.cur {
	background:url(../image/png24.png) -10px -126px no-repeat;
}
.scroll_news {
	width:560px;
	height:30px;
	background:#f6f6f6;
	margin-top:15px;
	font-size:12px;
	line-height:30px;
}
.scroll_news span {
	width:70px;
	height:30px;
	text-align:center;
	background:#e7e7e7;
	display:block;
	color:#666;
	position:relative;
	float:left;
}
.scroll_news span em {
	position:absolute;
	top:2px;
	right:-6px;
	font-style:normal;
	color:#e7e7e7;
}
.scroll_cnt {
	width:480px;
	float:right;
	height:30px;
	margin-right:5px;
	overflow:hidden;
}
.scroll_cnt .per800 {
	width:800%;
	height:30px;
	float:left;
}
.snews_list {
	float:left;
}
.snews_list a {
	margin-right:10px;
}
.snews_list a, .snews_list a:visited {
	color:#222;
	text-decoration:none;
}
.snews_list a:hover, .snews_list a:active {
	color:#b70000;
	text-decoration:underline;
}
.video_news {
	width:560px;
	height:150px;
	margin-top:15px;
}
.fc_title {
	width:560px;
	height:28px;
	border-bottom:2px solid #d6d6d6;
}
.fc_title span {
	position:relative;
	font:16px/26px microsoft yahei, "宋体";
	display:block;
	float:left;
	width:auto;
	height:26px;
	border-bottom:2px solid #378638;
	bottom:-2px;
}
.video_news .video_list {
	width:560px;
	height:115px;
	margin-top:10px;
	overflow:hidden;
}
.video_news .video_list ul {
	width:600px;
	height:115px;
}
.video_news .video_list ul li {
	width:128px;
	height:115px;
	float:left;
	display:inline;
	margin-right:16px;
}
.video_news .video_list ul li a {
	display:block;
	margin-bottom:5px;
	text-align:center;
	font-size:12px;
	position:relative;
	color:#666;
}
.video_news .video_list ul li img {
	display:block;
}
.video_news .video_list ul li a span.video_ico {
	display:block;
	width:27px;
	height:27px;
	background:url(../image/png24.png) no-repeat -8px -94px;
	position:absolute;
	right:5px;
	bottom:5px;
}
.school_news {
	width:560px;
	magrin-top:20px;
}
.sn_list_cnt {
	width:600px;
	font-size:12px;
}
.sn_list_cnt ul {
	width:270px;
	line-height:26px;
	margin-top:10px;
	float:left;
	margin-right:20px;
}
.sn_list_cnt ul li {
	width:260px;
	height:26px;
	padding-left:10px;
	background:url(../image/top_bg_b00.png) 0 -270px no-repeat;
}
/*栏目通用*/
.new_lanmu_cnt {
	width:980px;
	margin:0px auto 0;
	padding-bottom:10px; /*background:#efefef;*/
}
.new_lanmu_cnt .lanmu_title {
	height:22px;
	padding:10px 0;
	border-bottom:2px solid #d6d6d6;
}
.new_lanmu_cnt .lanmu_title h3 {
	float:left;
	width:auto;
	color:#378638;
	padding:0 15px 0 10px;
	border-left:5px solid #378638;
	font:bold 20px/22px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
	background:url(../image/top_bg_b00.png) right -681px no-repeat;
}
.new_lanmu_cnt .lanmu_title .sub_lanmu {
	width:auto;
	float:left;
	margin-left:14px;
	font:16px/22px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
}
.new_lanmu_cnt .lanmu_title .sub_lanmu a {
	color:#666;
	margin-right:10px;
}
.new_lanmu_cnt .lanmu_title span.lanmu_more {
	float:right;
	padding-right:10px;
	font:16px/22px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
	background:url(../image/top_bg_b00.png) right -298px no-repeat;
}
.new_lanmu_cnt .lanmu_title span.lanmu_more a {
	color:#666;
}
/*栏目内容左侧*/
.new_lanmu_l {
	width:400px;
	margin-top:10px;
}
.new_lanmu_l ul {
	width:400px;
	height:170px;
	font:14px/26px "宋体";
}
.new_lanmu_l ul li {
	width:390px;
	height:26px;
	padding-left:10px;
	background:url(../image/top_bg_b00.png) 0 -270px no-repeat;
}
.new_lanmu_cnt .new_lanmu_l ul li.first_news {
	padding:10px 0 5px;
	font:16px/26px "\5FAE\8F6F\96C5\9ED1", tahoma;
	font-weight:bold;
	width:400px;
	background:none;
}
.new_lanmu_l ul li a, .fc_new_list ul li a:visited {
	color:#222;
	text-decoration:none;
}
.new_lanmu_l ul li a:hover, .fc_new_list ul li a:active {
	text-decoration:underline;
	color:#b70000;
}
.new_lanmu_mid ul li{
	width:260px;
	height:26px;
	padding-top:7px;
	padding-left:10px;
	background:url(../image/top_bg_b00.png) 0 -270px no-repeat;

}
/*栏目内容右侧1 双列表*/
.new_lanmu_r {
	width:560px;
	margin-top:10px;
	padding-top:10px;
}
.new_lanmu_mid {
	width:240px;
}
.new_lanmu_mid .hd, .nl_r_r .hd {
	width:100%;
	height:24px;
	font:bold 16px/24px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
	padding:0 0 10px 0;
}
.new_lanmu_mid a {
	display:block;
}
.new_lanmu_mid a.nl_m_p1 {
	width:240px;
	height:160px;
	position:relative;
	margin-bottom:20px;
}
.new_lanmu_mid a.nl_m_p1 span {
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	width:240px;
	height:35px;
	color:#fff;
	text-align:center;
	font:12px/35px "宋体";
	background:url(../image/b_grey.png) repeat;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.img_area_btm {
	width:240px;
	height:115px;
	overflow:hidden;
}
.img_area_btm_cnt {
	width:260px;
	height:115px;
}
.img_a_b_c {
	width:110px;
	height:115px;
	margin-right:20px;
}
.img_a_b_c a.small_pic {
	width:110px;
	height:70px;
	margin-bottom:5px;
}
.img_a_b_c a.title {
	width:110px;
	height:40px;
	line-height:20px;
	font:12px/20px "宋体";
	text-align:center;
	color:#666;
}
.nl_r_r {
	width:270px;
	font-size:12px;
}
.nl_r_r ul {
	width:270px;
	line-height:26px;
	margin-top:10px;
	margin-right:20px;
	margin-top:-5px;
	margin-bottom:10px;
}
.nl_r_r ul li {
	width:260px;
	height:26px;
	padding-left:10px;
	background:url(../image/top_bg_b00.png) 0 -270px no-repeat;
}
/*栏目内容右侧2 上图下列表*/
.nl_r_r .nl_r_p {
	width:270px;
	height:115px;
	margin-bottom:8px;
	overflow:hidden;
}
.nl_r_r .nl_r_p .nl_r_p_cnt {
	width:300px;
	height:115px;
}
.nl_r_r .nl_r_p .nl_r_p_item {
	width:125px;
	height:115px;
	font-size:12px;
	overflow:hidden;
	margin-right:20px;
	float:left;
}
.nl_r_r .nl_r_p .nl_r_p_item a {
	display:block;
	margin-bottom:2px;
	text-align:center;
	line-height:20px;
	overflow:hidden;
}
.nl_r_r .nl_r_p .nl_r_p_item a img {
	display:block;
}
.image_list_cnt {
	width:980px;
	height:330px;
	overflow:hidden;
	margin-top:20px;
}
.image_list_cnt .image_list {
	width:1000px;
	height:330px;
}
.image_list_cnt .image_list .image_list_item {
	width:185px;
	height:165px;
	float:left;
	margin-right:14px;
}
.image_list_cnt .image_list .image_list_item a {
	display:block;
	font-size:12px;
	color:#666;
	text-align:center;
}
.image_list_cnt .image_list .image_list_item a img {
	margin-bottom:5px;
	display:block;
}
/*底部导航 友链css*/
.ft {
	width:980px;
	border-top:1px solid #d0d4d9;
	margin:0 auto;
	font:12px/20px "宋体";
}
.link {
	width:980px;
	padding:5px 0;
	line-height:26px;
}
.link h2 {
	width:80px;
	float:left;
	line-height:26px;
	font-size:12px;
	text-align:left;
	font-size:14px;
	color:#378638;
	font-weight:normal;
	font-family:"\5FAE\8F6F\96C5\9ED1", tahoma;
}
.link a {
	float:left;
	height:26px;
	line-height:26px;
	color:#ACACAC;
	margin-right:10px;
}
.bottombar {
	width:984px;
	padding-bottom:20px;
	margin:0 auto;
	height:140px;
	border-top:1px solid #d0d4d9
}
.bottombar-inner {
	border-top:1px solid #f3f6f9;
	padding-top:10px
}
.bottombar a:link, .bottombar a:visited {
	font-size:12px;
	color:#333
}
.bottombar a:hover {
	font-size:12px;
	color:#333
}
.bottombar-inner h4 {
	font-weight:normal;
	width:214px;
	height:43px;
	line-height:43px;
	overflow:hidden;
	font-size:16px;
	font-family:"微软雅黑", "黑体", tahoma;
	color:#333
}
.bot-left {
	float:left;
	width:250px
}
.bot-center {
	float:left;
	width:400px
}
.bot-right {
	float:right;
	width:325px
}
.bot-left-list {
	width:230px;
	border-right:1px solid #f4f6f9;
	overflow:hidden
}
.bot-left-list ul {
	width:250px
}
.bot-left-list ul li {
	width:56px;
	height:28px;
	line-height:28px;
	float:left
}
.bot-center-list {
	width:350px;
	overflow:hidden;
	border-right:1px solid #f4f6f9
}
.bot-center-list ul {
	width:400px
}
.bot-center-list ul li {
	width:100px;
	padding-left:20px;
	float:left;
	height:41px;
	line-height:41px
}
.bot-center-list ul li a {
	font-size:12px;
	color:#333
}
.bot-center-list ul li.center-01 {
	background:url(../image/top_bg_b00.png) no-repeat left 12px
}
.bot-center-list ul li.center-02 {
	background:url(../image/top_bg_b00.png) no-repeat left -171px
}
.bot-center-list ul li.center-03 {
	background:url(../image/top_bg_b00.png) no-repeat left -135px
}
.bot-center-list ul li.center-04 {
	background:url(../image/top_bg_b00.png) no-repeat left -100px
}
.bot-center-list ul li.center-05 {
	background:url(../image/top_bg_b00.png) no-repeat left -64px
}
.bot-center-list ul li.center-06 {
	background:url(../image/top_bg_b00.png) no-repeat left -27px
}
.bot-right .p1 {
	width:325px;
	color:#999;
	font-size:12px
}
.bot-right .p2 {
	width:325px;
	line-height:24px;
	color:#999;
	font-size:12px;
	margin-top:10px
}
/*comm more small*/
span.more_comm_small {
	float:right; /*padding-right:10px;*/
	font:14px/22px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53"; /*background:url(../image/top_bg_b00.png) right -298px no-repeat;*/
}
span.more_comm_small a {
	color:#888;
}
/*栏目及内容CSS*/
/*帮助中心*/
.listcon {
	width:980px;
	margin-bottom:10px
}
.listcon:after {
	content:".";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden
}
.listcon_left {
	width:240px;
	float:left;
	display:block
}
.helpmenu {
}
.helpmenu .toptitlemenu {
	background:url(../image/hlmenu1.jpg) no-repeat left top;
	height:28px;
	line-height:28px;
}
.helpmenu .toptitlemenu2 {
	border-left:1px solid #d7d7d7;
	line-height:30px;
	text-align:center;
}
.helpmenu .menustart h3 {
	display:block;
	background:url(../image/hlmenu2.jpg) no-repeat left center;
	height:30px;
	line-height:30px;
	text-align:left;
	padding-left:15px;
	font-size:13px;
	font-weight:bold;
	color:#000;
}
.helpmenu .menustart {
	display:block;
}
.helpmenu dl {
	display:block;
	border-left:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	height:auto;
	padding:5px 0 5px 0;
	width:238px;
}
.helpmenu dl dt {
	line-height:14px;
	display:block;
	padding:6px 0 6px 0;
}
.helpmenu dl dt a {
	display:block;
	line-height:14px;
	padding-left:35px;
	background:url(../image/hlmenu5.jpg) no-repeat 15px center;
	font-size:12px;
	text-align:left;
	font-weight:normal;
	color:#61645a;
}
.helpmenu dl dt a:hover {
	display:block;
	line-height:14px;
	font-size:12px;
	text-align:left;
	color:#d91616;
}
.helpmenu .bottomdd {
	background:url(../image/hlmenu3.jpg) no-repeat left top;
	height:9px;
	line-height:1px;
	font-size:1px;
}
.listarc_right {
	width:730px;
	float:right
}
.text {
	width:728px;
	border:1px #dedede solid;
	display:block;
	float:left;
}
.arctit {
	width:728px;
	height:35px;
	background:url(http://www.guojiw.cn/style/arctit.png) bottom repeat-x;
b display:block;
	float:left
}
.arctit span {
	width:80px;
	height:33px;
	padding:2px 0 0 0;
	float:left;
	line-height:33px;
	display:block;
	background:url(http://www.guojiw.cn/style/arctitshu.png) right no-repeat;
	text-align:center
}
.arctit a {
	width:100px;
	height:35px;
	float:right;
	background:url(http://www.guojiw.cn/style/QQ.png) 0 5px no-repeat;
	display:block
}
#APosition {
	height:30px;
	line-height:30px;
	padding-left:30px;
	border-bottom:1px solid #CCC;
	background:url(../image/ico_location.gif) left no-repeat
}
#Title {
	width:708px;
	height:60px;
	line-height:60px;
	color:#77AA33;
	background:url(../image/xuxian.png) bottom repeat-x;
	font-size:22px;
	text-align:center
}
#Resource {
	width:708px;
	height:45px;
	line-height:45px;
	border-bottom:1px solid #DEDEDE;
	margin-bottom:10px;
	text-align:center
}
#Abstract {
	width:688px;
	border:1px #CCC dotted;
	line-height:25px;
	color:#666666;
	padding:10px
}
#Abstract span {
	font-weight:bold
}
.helpcon {
	width:698px;
	line-height:25px;
	padding:10px 15px;
	float:left;
}
.pernext {
	width:708px;
	height:30px;
	padding:15px 10px 10px 10px;
	float:left;
	border-top:#dedede 1px solid
}
.pernext li {
	width:350px;
	height:30px;
	display:block;
	line-height:25px;
	overflow:hidden
}
.share {
	width:705px;
	height:30px;
	padding:0 10px;
	float:left
}
/*帮助列表*/
.helplist {
	width:708px;
	padding:5px 10px;
	float:left
}
.helplist ul {
	width:708px;
	padding:20px 0 15px 0;
	float:left;
	background:url(../image/xuxian.png) bottom repeat-x;
	overflow:hidden;
	display:block;
}
.helplist ul li {
	width:690px;
	height:32px;
	line-height:32px;
	background: url(../image/top_bg_b00.png) 0 -270px no-repeat;
	overflow:hidden;
	padding-left:15px;
	display:block
}
.helplist ul li p {
	font-size:14px;
	float:left;
	width:550px;
	overflow:hidden;
	display:block
}
.helplist ul li span {
	float:right;
	width:120px;
	font-size:12px;
	color:#9A9A9A;
	display:block
}
/*内页*/
.con {
	width:980px;
	height:auto
}
.con:after {
	content:".";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden
}
.conr {
	width:300px;
	min-height:1130px;
	float:right
}
.conl {
	width:670px;
	height:auto;
	float:left;
	padding-bottom:10px;
}
/*扁图栏目*/
.lbt_t {
	width:300px;
	height:365px;
}
.lbt_tag {
	width:298px;
	height:205px;
	border:#dedede 1px solid;
}
.lbt_tag h2 {
	width:283px;
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#666;
	font-weight:bold;
	overflow:hidden;
	padding-left:15px;
	background:#FAFAFA;
	border-bottom:#dedede 1px solid
}
.lbt_tag p {
	width:278px;
	height:160px;
	padding:5px 10px;
	display:block
}
.lbt_tag a {
	font-size:13px;
	padding:2px 5px;
	line-height:25px;
	color:#666
}
.lbt_tag a:hover {
	background:#666;
	color:#FFFFFF;
	text-decoration:none
}
/*扁图列表*/
.lbtc {
	width:660px;
	height:auto
}
.lbtcimg {
	width:670px;
	height:auto
}
.lbtcimg p {
	width:210px;
	height:195px;
	padding:10px 13px 10px 0;
	float:left;
	display:block
}
.lbtcimg p img {
	width:210px;
	height:135px;
	display:block
}
.lbtcimg p span {
	width:210px;
	height:25px;
	padding:2px 0;
	line-height:25px;
	color:#333;
	text-align:left;
	overflow:hidden;
	display:block
}
.lbtcimg p b {
	width:210px;
	height:25px;
	padding:2px 0;
	line-height:25px;
	color:#666;
	text-align:left;
	font-weight:normal;
	overflow:hidden;
	display:block
}
.llb {
	width:298px;
	height:515px;
	float:left;
	line-height:22px;
	border:#dedede 1px solid
}
.llb h2 {
	width:283px;
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#666;
	font-weight:bold;
	overflow:hidden;
	padding-left:15px;
	background:#FAFAFA;
	border-bottom:#dedede 1px solid
}
.llb_ul {
	padding:5px 10px;
	width: 278px;
	float:left
}
.llb_ul UL {
	width:278px
}
.col888 {
	color: #8e8e8e
}
.a_000 A {
	color: #000;
	TEXT-DECORATION: none
}
.a_000 A:hover {
	color: #000;
	TEXT-DECORATION: underline
}
.paihang1 {
border-bottom:: #e5e5e5 1px dashed;
	padding:5px 0 5px 35px;
	background: url(../image/sport.gif) no-repeat 0px 8px;
	HEIGHT: 65px;
	display:block
}
.paihang2 {
	border-bottom: #e5e5e5 1px dashed;
	padding:5px 0 5px 35px;
	background: url(../image/sport.gif) no-repeat 0px -72px;
	HEIGHT: 65px;
	display:block
}
.paihang3 {
	border-bottom: #e5e5e5 1px dashed;
	padding:5px 0 5px 35px;
	background: url(../image/sport.gif) no-repeat 0px -152px;
	HEIGHT: 65px;
	display:block
}
.llb_list {
	border-bottom: #e5e5e5 1px dashed;
	line-height: 28px;
	height: 28px;
	padding-top:1px
}
/*高图列表*/
.lgtcimg {
	width:670px;
	height:auto
}
.lgtcimg p {
	width:210px;
	height:290px;
	padding:10px 13px 10px 0;
	float:left;
	display:block
}
.lgtcimg p img {
	width:210px;
	height:230px;
	display:block
}
.lgtcimg p span {
	width:210px;
	height:25px;
	padding:2px 0;
	line-height:25px;
	color:#333;
	text-align:left;
	overflow:hidden;
	display:block
}
.lgtcimg p b {
	width:210px;
	height:25px;
	padding:2px 0;
	line-height:25px;
	color:#666;
	text-align:left;
	font-weight:normal;
	overflow:hidden;
	display:block
}
/*PAGE*/
.page {
	width:560px;
	height:30px;
	line-height:30px;
	padding:10px 0;
	float:left
}
/*广告系统*/
.lad {
	width:300px;
}
.lad img {
	width:300px;
	height:250px
}
.lad2 {
	width:660px;
	height:60px;
	float:left;
	padding-bottom:10px
}
.lad2 img {
	width:660px;
	height:60px
}
.aad {
	height:90px;
	padding-bottom:10px;
}
.aadl {
	width:762px;
	height:92px;
}
.aadl img {
	width:760px;
	height:90px;
	border:#dedede 1px solid
}
.aadr {
	width:212px;
	height:92px;
}
.aadr img {
	width:210px;
	height:90px;
	border:#dedede 1px solid
}
.iad1 {
	width:980px;
	height:60px;
}
.iad1 img {
	width:980px;
	height:60px;
}
/*文章页*/
.arc {
	width:660px;
	float:left;
	padding:5px 0
}
.jiant{
	height:20px;
	float:left;
	margin:0 auto;
}
.jiant h3 {
	width:660px;
	height:20px;
	line-height:25px;
	font-family:"微软雅黑", "黑体";
	 font-size:16px;
	font-weight: normal;
	display:block;
	float:left;
	text-align:center
}
.xiaot{
	height:20px;
	float:left;
	margin:0 auto;
}
.xiaot h6  {
	width:660px;
	height:16px;
	line-height:25px;
	font-family:"微软雅黑", "黑体";
	 font-size:16px;
	font-weight: normal;
	display:block;
	float:left;
	text-align:center
}
.title {
	height:35px;
	float:left;
}
.title h1 {
	width:660px;
	height:55px;
	line-height:45px;
	font-family:"微软雅黑", "黑体";
	 font-size:20px;
	font-weight: normal;
	display:block;
	float:left;
	text-align:center
}
.resource {
	height:30px;
	width:660px;
	float:left;
	line-height:28px;
	border-bottom:1px solid #DEDEDE;
	text-align:center;
	margin-bottom:8px
}
.des {
	height:50px;
	float:left;
	width:648px;
	padding:5px;
	line-height:25px;
	border:#CCC 1px dotted;
	overflow:hidden
}
.content {
	font-size:14px;
	padding:10px 0 15px 0;
	line-height:25px;
	color:#333;
	float:left;
	width:660px
}
.arcbodyad {
	width:300px;
	height:250px;
	float:left;
	padding:0 10px 10px 0;
	margin-top:10px
}
.content p {
	padding-top:10px
	width:660px;
	word-wrap:break-word;
	word-break:break-all;
}
.fenxiang {
	width:660px;
	height:30px;
	line-height:30px;
	padding-top:10px;
	float:left
}
.fx_l {
	width:500px;
	height:30px;
	float:left
}
.fx_r {
	width:120px;
	height:30px;
	line-height:30px;
	float:right;
	text-align:right
}
.fx_st {
	width:120px;
	padding-left:80px;
	height:30px;
	float:right;
	text-align:right
}
.fanpian {
	width:660px;
	float:left;
	padding:5px 0 5px 0
}
.fanpian p {
	width:660px;
	height:30px;
	line-height:30px;
	float:left
}
#linkNC {
	margin-bottom:8px;
	width:660px;
	float:left;
}
#linkNC #aNC {
	background:url(../image/con_bg04.png) left no-repeat;
	height:55px;
	width:252px;
	float:left;
	display:block
}
#linkNC .a1 {
	background:url(../image/conwriter.png) left no-repeat;
	padding-left:20px;
	float:right;
	font-size:14px;
	height:33px;
	line-height:33px;
	display:block
}
.xiangguan {
	width:660px;
	float:left
}
.dTit4 {
	background:url(../image/con_bg08.png);
	height:20px;
	line-height:20px;
	margin-bottom:10px
}
.dTit4 h3 {
	background:url(../image/xgtit.png) left no-repeat #fff;
	padding-left:22px;
	padding-right:10px;
	float:left;
	font-size:14px;
	font-weight:bold
}
.box_list {
	width:460px;
	float:left;
	border-bottom:#dedede 1px solid
}
.box_list ul {
	height:162px;
	display:block
}
.box_list ul li {
	width:445px;
	height:30px;
	float:left;
	line-height:30px;
	font-size:14px;
	padding-left:10px;
	background: url(../image/top_bg_b00.png) 0 -270px no-repeat;
	display:block;
	overflow:hidden
}
.box_list ul li span {
	width:340px;
	height:30px;
	float:left;
	overflow:hidden;
	display:block
}
.box_list ul li strong {
	font-size:14px
}
.box_list ul li b {
	width:100px;
	height:30px;
	float:right;
	text-align:right;
	font-weight:normal;
	font-size:12px;
	color:#999;
	display:block;
	overflow:hidden
}
.box_img {
	width:190px;
	height:344px;
	float:right;
	border-bottom:#dedede 1px solid
}
.box_imga {
	width:165px;
	height:162px;
	float:right;
	padding:5px;
}
.box_imga img {
	width:165px;
	height:107px;
	display:block;
}
.box_imga span {
	width:165px;
	height:50px;
	line-height:25px;
	padding-top:5px;
	color:#999;
	text-align:left;
	overflow:hidden;
	display:block
}
/*内容页右侧图片*/
.lbt_timg {
	width:300px;
	height:285px;
	padding-top:10px;
	padding-bottom:10px;
	float:left;
}
.lbt_timg ul {
	width:298px;
	height:270px;
	border:#dedede 1px solid
}
.lbt_timg ul li {
	width:133px;
	height:125px;
	float:left;
	padding:5px
}
.lbt_timg ul li img {
	width:135px;
	height:90px;
	padding:5px 0px 0px 5px;
	display:block
}
.lbt_timg ul li span {
	width:139px;
	height:35px;
	line-height:45px;
	padding:0px 5px 0px 0px;
	text-align:center;
	display:block;
	overflow:hidden;
	color:#666
}
/*开关切换*/
.info_right {
	width:300px;
	height:395px;
	float:right;
	background:url(../image/seq.png) 0 121px no-repeat
}
.info_right_tit {
	width:299px;
	height:40px;
	float:left;
	border:#DEDEDE 1px solid;
	border-width:0 0 0 1px;
}
.info_right_tit li {
	width:98px;
	height:38px;
	float:left;
	line-height:38px;
	font-size:14px;
	border:#DEDEDE 1px solid;
	border-width:1px 1px 0 0;
	float:left;
	text-align:center;
	cursor:pointer;
	display:block
}
.info_right_tit li.active {
	background:#FFF;
	border-bottom:none;
	font-size:14px;
	border-top:#378638 1px solid;
	color:#F00;
	font-weight:bold;
	color:#000000;
	text-align:center;
	font-size:12px;
}
.info_right_tit li.normal {
	background:#F7F7F7;
	border-bottom:#DEDEDE 1px solid;
}
.info {
	width:300px;
	height:345px;
	float:left;
	display:block
}
.info_hot {
	width:285px;
	height:70px;
	float:left;
	padding:10px 10px 0 5px;
}
.info_hot img {
	width:90px;
	height:60px;
	display:block;
	float:left
}
.info_hot span {
	width:185px;
	height:60px;
	float:right;
	padding:0;
	overflow:hidden;
	display:block
}
.itj_r .hot {
	position:absolute;
	top:45px;
	left:7px;
	width:21px;
	height:32px;
	background:url(http://www.guojiw.cn/style/hotbg.png) no-repeat
}
.info_hot span b {
	color:#FE9500;
	font-weight:normal
}
.info_right_list {
	width:270px;
	height:265px;
	float:left;
	padding-left:30px;
	display:block
}
.info_right_list a {
	width:180px;
	height:27px;
	padding:2px 10px 0 0;
	line-height:27px;
	float:left;
	overflow:hidden;
	display:block
}
.info_right_list p {
	width:80px;
	height:27px;
	padding:2px 0 0 0;
	line-height:27px;
	float:left;
	text-align:center;
	overflow:hidden;
	color:#FE9500;
	font-family:'微软雅黑';
	display:block
}
/*中标题*/
.itj_lt {
	width:655px;
	height:40px;
	float:left
}
.it3 {
	height:40px;
	line-height:40px;
	margin-bottom:10px;
	background:url(../image/titbg.png) bottom repeat-x;
}
.it3 .mark {
	width:280px;
	float:left;
	font-size:20px;
	font-family:"微软雅黑";
	font-weight:normal;
	display:block
}
.it3 .mark b {
	font-size:12px;
	color:#CCC;
	padding-left:10px;
	font-weight:normal
}
.it3 .lc {
	width:360px;
	float:left;
	padding-left:20px;
	font-size:14px;
	font-family:"微软雅黑";
	background:url(../image/ico_location.gif) left no-repeat;
	font-weight:normal;
	display:block
}
.it3 .lc a {
	font-size:14px;
	font-family:"微软雅黑";
}
.it3 .tq {
	padding:8px 5px;
	line-height:22px;
	float:left;
	color:#dedede;
	text-align:right
}
.it3 .submark {
	float:right;
	height:40px;
	line-height:40px;
}
.it3 .submark a {
	padding:0 10px;
	line-height:40px;
	font-size:12px;
	float:right;
	background:url(http://www.guojiw.cn/style/line.png) right no-repeat;
	display:block
}
.it3 .submark a:hover {
	text-decoration:none
}
.it3 .submark a.more {
	padding:0 13px 0 0;
	width:50px;
	float:right;
	text-align:center;
	font-family:Arial;
	font-size:12px;
	background:url(http://www.guojiw.cn/style/ico1hover.png) right no-repeat;
	display:block
}
/*微新闻列表*/
.listc {
	width:660px;
	padding:5px 0;
	float:left
}
.listc dl {
	width:660px;
	height:170px;
	padding:20px 0 15px 0;
	float:left;
	border-bottom:#dedede 1px dashed;
	display:block
}
.listc dt {
	width:210px;
	height:170px;
	float:left;
	display:block
}
.listc dt img {
	width:195px;
	height:130px;
	padding:2px;
	border:#dedede 1px solid;
}
.listc dt h5 {
	width:185px;
	height:35px;
	line-height:35px;
	padding:0 0 0 25px;
	color:#AAA;
	font-size:12px;
	font-weight:normal;
	background:url(http://www.guojiw.cn/style/share.gif) left no-repeat;
	display:block
}
.listc dt h5 b {
	font-weight:normal;
	color:#F00
}
.listc dd {
	width:440px;
	height:170px;
	float:right;
	display:block
}
.listc dd h3 {
	width:440px;
	height:40px;
	line-height:40px;
	color:#141414;
	font-size:16px;
	font-weight:normal;
	display:block
}
.listc dd h3 a:hover {
	background:#5384DA;
	color:#FFF;
	padding:3px 5px;
	text-decoration:none
}
.listc dd span {
	width:440px;
	height:50px;
	line-height:26px;
	padding:7px 0;
	overflow:hidden;
	display:block
}
.listc dd h6 {
	width:370px;
	height:36px;
	line-height:36px;
	padding:0 0 0 50px;
	color:#AAA;
	font-size:12px;
	font-weight:normal;
	background:url(../image/tagbg.png) left no-repeat;
	overflow:hidden;
	display:block
}
.listc dd h6 a {
	font-weight:normal;
	padding:2px 5px;
}
.listc dd h6 a:hover {
	background:#5485DB;
	color:#FFF
}
.listc dd .jw {
	width:140px;
	height:28px;
	line-height:28px;
	float:right;
	text-align:left
}
/*纯新闻列表*/
.chunlist {
	width:660px;
	padding:5px 0;
	float:left
}
.chunlist ul {
	width:660px;
	padding:15px 0 15px 0;
	float:left;
	background:url(../image/xuxian.png) bottom repeat-x;
	overflow:hidden;
	display:block;
}
.chunlist ul li {
	width:640px;
	height:32px;
	line-height:32px;
	background: url(../image/top_bg_b00.png) 0 -270px no-repeat;
	overflow:hidden;
	padding-left:15px;
	display:block
}
.chunlist ul li p {
	font-size:14px;
	float:left;
	width:500px;
	overflow:hidden;
	display:block
}
.chunlist ul li span {
	float:right;
	width:120px;
	font-size:12px;
	color:#9A9A9A;
	display:block
}
.chunlist ul li.line {
	width:620px;
	height:2px;
	margin:5px 0;
	background:url(../image/xuxian.png) repeat-x
}
/*评论*/
.pl {
	width:638px;
	float:left;
	padding:10px;
	margin:8px 0;
	border:#dedede 1px solid
}
/*相关阅读*/
.linkarc {
	width:658px;
	float:left;
	padding-bottom:5px;
	border:#dedede 1px solid
}
.linkarc_t {
	width:648px;
	height:30px;
	float:left;
	padding-left:10px;
}
.linkarc_t h2 {
	width:628px;
	font-size:12px;
	height:30px;
	line-height:30px;
	color:#999;
	padding-left:20px;
	display:block;
	background:url(../image/linkarc.png) left no-repeat;
}
.linkarc_c {
	width:630px;
	float:left;
	padding:10px;
}
.linkarc_c li {
	width:630px;
	height:28px;
	line-height:25px;
	float:left;
	border-bottom:#CCC 1px dashed
}
.linkarc_c li a {
	color:#666
}
.weizhi {
	width:980px;
	height:35px;
	float:left;
	line-height:35px;
	padding:3px 0 0 0;
	border-bottom:#dedede 1px solid
}
.weizhi h2 {
	width:260px;
	float:left;
	height:35px;
	padding-left:20px;
	font-size:14px;
	font-family:"微软雅黑";
	background:url(../image/ico_location.gif) left no-repeat;
	font-weight:blod;
	display:block
}
.weizhi_f {
	width:450px;
	height:22px;
	line-height:22px;
	padding-top:5px;
	float:right;
	text-align:right
}
/*图集展示页面*/
.atj {
	width:980px;
	float:left;
	padding:5px 0
}
.atj_title {
	height:50px;
	float:left;
}
.atj_title h1 {
	width:980px;
	height:50px;
	line-height:50px;
	font-family:"微软雅黑", "黑体";
	font-size:25px;
	font-weight: normal;
	display:block;
	float:left;
	text-align:left
}
.atj_des {
	height:35px;
	float:left;
	width:980px;
	padding:5px 0;
	line-height:26px;
	border-bottom:#CCC 1px dotted;
	color:#666;
	overflow:hidden
}
.atj_ctr {
	width:980px;
	float:left;
	height:50px
}
.atj_ad {
	width:762px;
	height:92px;
	padding:10px 109px;
	background:#F6F6F6;
}
.atj_ad img {
	width:760px;
	height:90px;
	border:#dedede 1px solid
}
.afad {
	height:250px
}
.afad_ad {
	width:300px;
	height:250px;
}
.afad .pr10 {
	padding-right:10px
}
.afad_c {
	width:370px;
	height:250px;
	padding:0 5px;
	float:left
}
.afad_c p {
	width:155px;
	height:125px;
	float:left;
	padding:0 15px;
	display:block
}
.afad_c p img {
	width:155px;
	height:100px;
	display:block;
}
.afad_c p span {
	width:155px;
	height:25px;
	line-height:25px;
	color:#999;
	text-align:center;
	overflow:hidden;
	display:block
}
/*图集展示底部图片*/
.amt {
	width:978px;
	height:170px;
	border:#dedede 1px solid
}
.amt h2 {
	width:965px;
	height:30px;
	padding-left:15px;
	line-height:30px;
	font-size:12px;
	color:#999;
	font-family:"微软雅黑";
	border-bottom:#dedede 1px solid;
}
.amt_r {
	width:290px;
	height:135px;
	float:right
}
.amt_r span {
	width:275px;
	height:25px;
	line-height:25px;
	padding-left:15px;
	background: url(../image/top_bg_b00.png) 0 -270px no-repeat;
	overflow:hidden;
	color:#666;
	display:block
}
.amt_c {
	width:680px;
	height:135px;
	float:left
}
.amt_c p {
	width:153px;
	height:100px;
	float:left;
	padding:0 10px 0 5px;
	display:block
}
.amt_c img {
	width:153px;
	height:100px;
	display:block
}
.amt_c span {
	width:153px;
	height:25px;
	float:left;
	line-height:25px;
	text-align:center;
	overflow:hidden;
	display:block;
}
/*网站地图HTML*/
.ncon {
	width:980px;
}
.ncon:after {
	content:".";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden
}
.sitemap {
	width:980px;
	padding:5px 0
}
.sitemap_t {
	width:980px;
	height:30px;
	padding-top:4px;
	line-height:30px;
	float:left;
	border-top:#333 2px solid;
	border-bottom:#999 1px solid
}
.sitemap_t a {
	color:#F30;
	padding:0 5px
}
.sitemap_t h1 {
	float:left;
	padding:0 20px;
	font-size:14px;
	font-weight:bold;
	color:#F30
}
.sitemap_t h2 {
	float:left;
	padding:0 5px;
	font-size:12px;
	font-weight:bold;
	color:#999
}
.sitemap ul {
	padding:10px 0;
	width:980px;
	float:left
}
.sitemap ul li {
	width:180px;
	height:22px;
	line-height:22px;
	float:left;
	padding:0 5px 0 10px;
	overflow:hidden;
	background:url(http://www.guojiw.cn/style/ico5.gif) left no-repeat;
	display:block
}
/*TAGlist*/
.taglist {
	width:660px;
	float:left;
	padding:5px 0
}
.taglist a {
	font-size:13px;
	padding:2px 5px;
	line-height:25px;
	color:#666
}
