/*!
 * Creator: wkg(QQ:562153916)
 */
 
/*字体基础属性控制*/
body {color: #323232;/*font: 12px/1.5 "宋体",Tahoma,Arial,STHeiti,sans-serif;*/ font: 12px/1.5 "Microsoft Yahei","微软雅黑",Tahoma,Arial,STHeiti,sans-serif;}

/*字体颜色控制*/
a {color: #666666;text-decoration: none;}
a:hover {color: #cc0000;}
.red, a.red{color:#cc0000;}
.red1, a.red1{color:#ff3b3c;}
.gray, a.gray{color:#666666;}
.gray2, a.gray2{color:#999999;}
.green, a.green{color:#2f7163;}
.green1, a.green1{color:#080;}
.orange, a.orange{color:#FF6D00;}
.orange1, a.orange1{color:#d7aa59;}
.white, a.white{color:#fff;}
.cyan{color:#783200;}
.blue, a.blue{color:#003487;}
.yellow, a.yellow{color:#fffc00;}

.color1{color:#538802;}, a.color1{color:#538802;}
.color2{color:#8c6a5e;}, a.color2{color:#8c6a5e;}
.color3{color:#f7669d;}, a.color3{color:#f7669d;}
.color4{color:#2f2f2f;}, a.color4{color:#2f2f2f;}
.color5{color:#860410;}, a.color5{color:#860410;}
.color6{color:#39b1af;}, a.color6{color:#39b1af;}

/*字体大小控制*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.f32{font-size:32px;}
.f34{font-size:34px;}
.f36{font-size:36px;}
.f38{font-size:38px;}
.f40{font-size:40px;}

/*字体行高控制*/
.h18{line-height:18px;}
.h19{line-height:19px;}
.h20{line-height:20px;}
.h21{line-height:21px;}
.h22{line-height:22px;}
.h23{line-height:23px;}
.h24{line-height:24px;}
.h25{line-height:25px;}
.h26{line-height:26px;}
.h27{line-height:27px;}
.h28{line-height:28px;}
.h29{line-height:29px;}
.h30{line-height:30px;}
.h31{line-height:31px;}
.h32{line-height:32px;}
.h33{line-height:33px;}
.h34{line-height:34px;}
.h35{line-height:35px;}
.h36{line-height:36px;}
.h37{line-height:37px;}
.h40{line-height:40px;}
.h45{line-height:45px;}

/*字体控制*/
.fm1{font-family:'微软雅黑';}
.fm2{font-family:'宋体';}
.fm3{font-family:Arial, Helvetica, sans-serif;}

/*字体其它控制*/
.n{font-weight:normal;}
.b,.strong{font-weight:600;}

/*文本对齐控制*/
.tc,.center{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}

/*文本缩进控制*/
.i999{text-indent:-999em;}
.i24{text-indent:24px;}
.i28{text-indent:28px;}
.i30{text-indent:30px;}

/*文字对象间隔控制*/
.text-s-1{word-spacing:1px;}
.text-s-2{word-spacing:2px;}
.text-s-3{word-spacing:3px;}
.text-s-4{word-spacing:4px;}
.text-s-5{word-spacing:5px;}

/*字体链接色彩控制*/
.link-a a{color:#783200;}

/*字体下划线控制*/
.t-d-lt{ text-decoration:line-through;}

/*字体下划线控制*/
.fso {font-style:oblique}
