
/* CSS Document */

.m3.box .c .fl{ width: 370px;}
.m3.box .c .fl .shannlist{ float: left;}
.m3.box .c .fl .shannlist div a{ float: left; display: block;}
.m7 .b .list li p{ border-bottom: none!important;}

.navBetaInner .mainNav{ font-size: 14px!important;}

.comment{
    display:none;
}

.photoarea p img{
    max-width: 100%;
}