/*2018092630*/


body,td,th {
	font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei",  STHeitiSC-Light, simsun,"WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
}

.w {
	width: 1200px;
}

.c {
	margin: 0 auto;
}

.header, .nav-wap, .main, .bottom, .copyright {
	width: 1000px;
	margin: 0 auto;
}

strong {
	font-weight: 600!important;
}


#topBody {
	background: #e9e9e9;
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 1000;
	min-width: 1000px;
}

#topBody .topL .slogan a {
	color: #848484;
	cursor: default;
}

#topBody .topL .slogan img {
	position: relative;
	top: -4px;
}

#topBody .topCont {
	width: 1000px;
	height: 49px;
	margin: 0 auto;
	position: relative;
	background: #e9e9e9;

}

#topBody .topCont li {
	float: left;
	margin-right: 25px;
	vertical-align: middle;
	line-height: 49px;
	font-size: 12px;
	color: #71869e;
}

#topBody .topL {
	height: 44px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#topBody .topR {
	height: 44px;
	position: absolute;
	right: 0px;
	top: 0px;
}

#topBody .topR .slogan a {
	color: #848484;
	cursor: default;
}

#topBody .topCont a {
	display: inline-block;
	height: 14px;
	line-height: 14px;
	color: #71869e;
	font-size: 12px;
	vertical-align: middle;
}



/*nav*/
.nav {
	margin: 0px auto;
	position: relative;
	top: 50px;
	width: 1000px;
	height: 140px;
	border-bottom: 7px solid #da1529
}

.nav-wap {
	height: 100%;
}

.logo { 
	margin-top: 25px;
	width: 330px;
	height: 100px;
	background: url(../image/logo.png) no-repeat; 
    background-size:304px 100px;
}



.nav-ul , .nav-ul li {
	height: 100%;
	display: inline-block;
}

.nav-ul a {
	display: inline-block;
	height: 100%;
	line-height: 40px;
	float: left;
	top: 16px;
	padding-left: 30px;
	color: #B3B3B3;
	font-size: 14px;
	transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
}

.nav-ul a:hover {
	color: #348CEC;
}

.nav-ul a:before {
	content: "";
	display: block;
	position: relative;
	top: 22px;
	left: -8px;
	width: 3px;
	height: 3px;
	background-color: #B3B3B3;
}

.nav-op {
	margin: 40px 0 ;border-left:1px solid #ccc; padding-left:20px; 
	float: left;
	width: 630px;
	height:80px;
}

.nav-op li {
	position: relative;
	float: left;
	margin: 10px 0 10px 0;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
}

.nav-op li a {
	position: relative;
	float: left;
	padding: 0 3px 0 3px;
	color: #666;
	font-size: 18px;
	cursor: pointer;
}
.nav-op li.total a {
	position: relative;
	float: left;
	padding: 0 8px 0 8px;
	color: #666;
	font-size: 18px;
	cursor: pointer;
}
.nav-op li.total a:hover { color:#F00;
}
.nav-op li.active {
	color: #FFF;
	background-color: #348CEC;
}

.nav-op li:before {
	content: "";
	display: block;
	position: absolute;
	top: 9px;
	left: 12px;
	width: 28px;
	height: 28px;
}
.bd { float:right;
}




.bd #ahsearch { top:130px; right:120px;	border-left: 5px solid #fff;height: 24px;
	position: relative; float:right; 
}

.bd #ahsearch .form {
	position: absolute;
	width:125px;
	height: 24px;
	background: #fff;
	border: 1px solid #dddddd;
	position: absolute;
}

.bd #ahsearch .submitBtn {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 1;
	top: 4px;
	right: 0px;
	left: auto;
	cursor: pointer;
}

.bd #ahsearch input {
	display: block;
	width: 65px;
	height: 24px;
	line-height: 24px\9;
	font-size: 12px;
	color: #8d9fab;
	border: 0px;
	position: absolute;
	top: 0px;
	left: 5px;
}

.iconSearchBtn {background: url(../image/icon-all.png) no-repeat;
	width: 20px;
	height: 20px;
	background-position: -19px -25px;
}
.search {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	background: url(https://www.ahnews.com.cn/images/h-search.png);
}

.search-kw {
	cursor: pointer;
}

/*header*/
.header {
	margin-top: 60px;
	margin-bottom: 32px;
	width: 1000px;
	display: block;
	background: url(https://www.ahnews.com.cn/images/bg2.jpg) 0 100% no-repeat;
	padding-bottom: 30px;
}

.h-p1 {
	height: 60px;
	overflow: hidden;
}





/* 分页 */
        ul.pages{margin: 30px auto;text-align: center;}
        ul.pages li.page,ul.pages li.page-previous,ul.pages li.page-next{height:20px;line-height:20px;text-align:center;font-size:15px;background:#fff;color:#000;clear: none;margin: 0 5px;padding: 0 6px;border: 1px solid #777;display: inline-block;}
        ul.pages li.page a,ul.pages li.page-previous a,ul.pages li.page-next a{width: auto;margin-right: 0;}
        ul.pages li.page a:hover,ul.pages li.page-previous a:hover,ul.pages li.page-next a:hover{text-decoration: none;}
        ul.pages li.page.page-active{background: #1d71b7;}
        ul.pages li.page.page-active a{color: #fff;}
/* 数据列表 */
.dataList { margin-top:30px;}
.dataList li { padding: 15px 0 10px 0; border-bottom: 1px solid #ededed; overflow: hidden; position:relative;  }
.dataList h3 { width:670px; }
.dataList h3 a { display: inline-block; line-height: 30px; overflow: hidden; font-size: 22px; color: #000; font-family:"微软雅黑"; }
.dataList h4 { width:100%; }
.dataList h4 a { display: inline-block; line-height: 30px; overflow: hidden; font-size: 22px; color: #000; font-family:"微软雅黑"; }
.dataList h5 { width:100%; }
.dataList h5 a { display: inline-block; line-height: 30px; overflow: hidden; font-size: 16px; color: #000; font-family:"微软雅黑"; }

/*.dataList .imgs { float: left; width: 138px; height: 90px; margin-right: 10px; }*/
.dataList .imgs a { font-size: 0px; vertical-align: top; float:left; width:138px; height:90px; overflow:hidden; display:inline; margin-right:10px; }
.dataList .imgs img { width: 138px; height: 90px; vertical-align: top; padding-right:10px; float:left;
-moz-transition:-moz-transform .3s ease;
-ms-transition:-ms-transform .3s ease;
transition:transform .3s ease;
 }
.dataList .imgs img:hover { width: 138px; height: 90px; vertical-align: top;  float:left;
 -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -ms-transform:scale(1.1); transform:scale(1.1)
 }
.dataList .summary {height: 70px; line-height: 24px; overflow: hidden; color: #666; font-size:14px; text-indent:2em ; margin-top:10px; }
.dataList .info { height: 14px; line-height: 14px; padding: 0; text-align: left; }
.dataList .time { font-size: 12px; color:#999; }
.dataList .moreBtn { text-align: center; padding: 15px 0; vertical-align: middle; cursor: pointer; display: none; }
.dataList .moreBtn i { display: inline-block; width: 16px; height: 16px; background: url() no-repeat; vertical-align: middle; margin-right: 5px; display: none; }
.dataList .moreBtn .text { line-height: 16px; vertical-align: middle; }
.dataList .bdsharebuttonbox { position: absolute; top: 20px; right: 0px; display: none; }
.dataList .bdsharebuttonbox span.bds_more { padding: 0 0 0 20px!important; background: url() no-repeat 0px 0px!important; line-height:20px; }
#dataMoreLink { text-align: center; display: none; }
#dataMoreLink a { color: #333; }
/*动态点赞开始*/
.praise{
    width:40px;
    height:40px;
    margin: 50px auto;
    cursor: pointer;
    font-size: 12px;
    text-align:center;
    position: relative;
}
#praise{
    display:block;
    width:40px;
    height:40px;
    margin:0 auto;
}
#praise-txt{
    height:25px;
    line-height:25px;
    display: block;
}
.praise img{
    width:40px;
    height:40px;
    display:block;
    margin: 0 auto;
}
.praise img.animation{
    animation: myfirst 0.5s;
    -moz-animation: myfirst 0.5s;	/* Firefox */
    -webkit-animation: myfirst 0.5s;	/* Safari 和 Chrome */
    -o-animation: myfirst 0.5s;	/* Opera */
}
#add-num{
    display:none;
}
#add-num .add-animation{
    color: #000;
    position:absolute;
    top:-15px;
    left: 10px;
    font-size: 15px;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
    animation: mypraise 0.5s ;
    -moz-animation: mypraise 0.5s ;	/* Firefox */
    -webkit-animation: mypraise 0.5s ;	/* Safari 和 Chrome */
    -o-animation: mypraise 0.5s ;	/* Opera */
    font-style:normal;
}
.praise .hover , #add-num .add-animation.hover , #praise-txt.hover{
    color: #EB4F38;
}

/*点赞图标放大动画开始*/
@keyframes myfirst
{
    0%{
        width:40px;
        height:40px;
    }
    50%{
        width:50px;
        height:50px;
    }
    100% {
        width:40px;
        height:40px;
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    0%{
        width:40px;
        height:40px;
    }
    50%{
        width:50px;
        height:50px;
    }
    100% {
        width:40px;
        height:40px;
    }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0%{
        width:40px;
        height:40px;
    }
    50%{
        width:50px;
        height:50px;
    }
    100% {
        width:40px;
        height:40px;
    }
}

@-o-keyframes myfirst /* Opera */
{
    0%{
        width:40px;
        height:40px;
    }
    50%{
        width:50px;
        height:50px;
    }
    100% {
        width:40px;
        height:40px;
    }
}
/*点赞图标放大动画结束*/
/*点赞数量加减动画开始*/
@keyframes mypraise
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-moz-keyframes mypraise /* Firefox */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-webkit-keyframes mypraise /* Safari 和 Chrome */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-o-keyframes mypraise /* Opera */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}
/*点赞数量加减动画结束*/
/*动态点赞结束*/
.news-position {background: url(../image/fonticon-all.png) no-repeat;background-position: -175px -212px;
padding-left:30px;
	margin-top: 18px;
	color: #999;
}

.news-position a {
	position: relative;
	margin-right: 5px;
	color: #999;
}

.news-position .location-i {
	position: absolute;
	top: 0;
	right: -16px;
}

.news-link {
	float: right;
	margin-top: 22px;
	color: #348CEC;
	width: 800px;
	text-align: right;
}

.news-link a {
	position: relative;
	margin-left: 20px;
	color: #348CEC;
	font-size: 12px;
}

.news-link a:before {
	content: "";
	color: #348CEC;
	position: absolute;
	top: 8px;
	left: -6px;
	display: block;
	border: 1px solid #348CEC;
}

.net-logo {
	float: left;
	display: inline-block;
	margin-top: 30px;
}

.h-news {
	float: left;
	width: 1000px;
}

.h-title {
	margin-top: 10px;

	font-size: 40px;
	color: #404040;

}
.yt-title { 
	margin-top: 30px;

	font-size: 20px;
	color: #404040;

}
.fb-title { 
	margin-top: 10px;

	font-size: 20px;
	color: #404040;

}
.h-time {
	margin-right: 20px;
}

.h-info {height:35px; float:left;
	margin-top: 40px;
	font-size: 14px;
	color: #666;
}

.h-info a {
	color: #348CEC;
}
.h-fx {margin-top:30px; float:right; margin-right:20px;}
.main {
	position: relative;
	overflow: hidden;
}

.part {
	float: left;
	position: relative;
	width: 700px;
}

.streamline-page .part {
	width: 1200px;
}

.p-left {
	margin-right: 40px;
	width: 130px;
}

.bg6 {
	margin-bottom: 38px;
}

.fllow1-wap {
	position: relative;
	margin-right: 40px;
	width: 130px;
}

#fllow1.fixed {
	position: fixed;
	top: 78px;
}

#fllow1.hold {
	position: absolute;
	bottom: 38px;
}

.fllow3-wap {
	0 float: right;
	position: relative;
	width: 300px;
	height: 100%;
	overflow: hidden;
}

#fllow3 {
	width: 300px;
	background-color: #FFF;
}

#fllow3.fixed {
	position: fixed;
	bottom: 38px;
}

#fllow3.hold {
	position: absolute;
	bottom: 16px;
}

#fllow3 .ad {
	overflow: hidden;
}

#fllow3 .ad a {
	display: block;
	width: 100%;
	overflow: hidden;
}

#fllow3 .ad img {
	width: 100%;
}

.s-ewm {
	margin-bottom: 24px;
	width: 130px;
	height: 159px;
	background-color: #F0F2F5;
	color: #808080;
	border-radius: 4px;
	overflow: hidden;
	text-align: center;
}

.s-ewm:hover,.s-ewm.hover {
	background-color: #348CEC;
	color: #FFF;
}

.s-ewm img {
	display: block;
	width: 115px;
	height: 115px;
	margin: 8px auto;
}

.s-ewm div {
}

.s-item {
	text-align: center;
	color: #808080;
	width: 108px;
	height: 42px;
	margin: 0 auto 16px;
	line-height: 42px;
	cursor: pointer;
}

.p-right {
	width: 670px;
}

.streamline-page .p-right {
	width: 1030px;
}




#p-detail {
	margin: 0 0 22px 0;
	font-size: 18px;
	color: #404040;
	line-height: 36px;
}

#p-detail p {
	margin-bottom: 15px;
}

#p-detail p img {
	margin: 0px auto;
	max-width: 100%!important;
	height: auto!important;
	margin: 10px 0;
}

#p-detail  img {
	margin: 0px auto;
	max-width: 100%!important;
	height: auto!important;
	margin: 10px 0;
}

.video-wap {
	margin: 22px 0;
	width: 690px;
	height: 430px;
	overflow: hidden;
}

.video-wap * {
	width: 690px;
	height: 430px;
}

.m-page .video-wap iframe {
	width: 100%;
}

.m-page .video-wap {
	width: 100%;
	height: 220px;
}

#p-detail:after {
	content: "";
	display: block;
	width: 100%;
	height: 8px;
	background-image: url(https://www.ahnews.com.cn/images/bg2.jpg);
}

.p-tags {
	position: relative;
	height: 35px;
	margin: 20px 0 10px;
}



#div_currpage {
	margin-top: 20px;
}

#div_currpage span {
	display: inline-block;
	width: 26px;
	height: 26px;
	font-size: 12px;
	font-weight: 600;
	color: #FFF;
	text-align: center;
	line-height: 26px;
	background-color: #348CEC;
}

#div_currpage a {
	display: inline-block;
	padding: 0 10px;
	height: 26px;
	font-size: 12px;
	color: #818181;
	text-align: center;
	line-height: 26px;
	background-color: #F1F3F5;
	transition: all .4s;
	-moz-transition: all .4s;
	; /* Firefox 4 */
		-webkit-transition: all .4s;
 /* Safari å’Œ Chrome */
	-o-transition: all .4s;
	; /* Opera */
}

#div_currpage a:hover {
	color: #FFF;
	background-color: #348CEC;
}

.p-kwap {
	width: 500px;
}

.streamline-page .p-kwap {
	width: 800px;
}

.p-kwap a {
	display: inline-block;
	margin-right: 8px;
	padding: 0 10px;
	line-height: 26px;
	background-color: #F0F2F5;
	font-size: 14px;
	color: #808080;
	transition: all .4s;
	-moz-transition: all .4s;
	; /* Firefox 4 */
		-webkit-transition: all .4s;
 /* Safari å’Œ Chrome */
	-o-transition: all .4s;
	; /* Opera */
}

.p-kwap a:hover {
	background-color: #348CEC;
	color: #FFF;
}

.p-jc {
	position: absolute;
	top: 1px;
	right: 0;
	width: 160px;
	font-size: 12px;
	color: #B3B3B3;
}

.p-jc a {
	color: #B3B3B3;
}

.l-ad-1 {
	position: relative;
	margin: 16px 0 40px;
}

.l-ad-1 #locat {
	position: absolute;
	top: 124px;
}

.column-name {
	position: relative;
	padding-left: 16px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	color: #348CEC;
	font-weight: 600;
}

#news-com-name {
	position: relative;
	margin-bottom: 0;
}

#news-com-location {
	position: absolute;
	top: -50px;
}

.column-name:before {
	content: "";
	position: absolute;
	left: 0;
	display: block;
	width: 4px;
	height: 100%;
	background-color: #348CEC;
}

.column-name span {
	color: #404040;
}

.relate-news .column-name {
	margin-bottom: 34px;
}

.relate-news-wap >li {
	margin-bottom: 26px;
	border-bottom: 1px solid #E6E6E6;
}

.relate-news-wap li a {
	display: block;
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 600;
	color: #404040;
}

.r-des {
	font-size: 15px;
	color: #808080;
	line-height: 28px;
	height: 56px;
	overflow: hidden;
}

.r-in {
	position: relative;
	margin: 6px 0 12px;
	font-size: 14px;
	color: #B3B3B3;
}

.r-dis {
	position: absolute;
	top: 0;
	right: 0;
	color: #B3B3B3;
}

#p2-nav {background: url(../image/list.png) no-repeat;background-position: 0 6px;

	margin:20px 0 20px 22px;
	width: 220px;
}

#p2-nav.fixed {
	position: fixed;
	top: 86px;
}

#p2-nav.hold {
	position: absolute;
	bottom: 80px;
}

.p2-nav-wap {
	position: relative;
	margin-right: 40px;
	width: 130px;
	height: 100%;
}

#p2-nav div {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #FFF;
	text-align: center;
}

#p2-nav li a {
	background: url('https://www.ahnews.com.cn/images/jt.png') no-repeat left;
	padding-left: 30px;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	color: #036;
}

#p2-nav li a.active {
}

.note {color:#999; background-color:#f3f8fd;border-radius:5px; font-size:12px; line-height:20px; border:1px dotted #ccc; padding:10px; letter-spacing:1px}
.bz {color:#333; font-size:18px; line-height:28px; text-indent:2em;padding:20px; margin-top:30px; font-family:"楷体";}

.list-item {
	margin-bottom: 15px;
	padding-bottom: 15px;
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
}

.item-pic-cont {
	float: left;
	display: inline-block;
	margin-right: 26px;
	width: 158px;
	height: 102px;
}

.item-pic {
	float: left;
	display: inline-block;
	margin-right: 18px;
	width: 158px;
	height: 102px;
}

.pic-s {
	margin: 18px 0;
	width: 100%;
	overflow: hidden;
}

.pic-s div {
	width: 736px;
}

.item-title {
	display: block;
	font-size: 20px;
	line-height: 28px;
	color: #474747;
	font-weight: 600;
	overflow: hidden;
}

.more-2 {
	position: relative;
	top: 5px;
	margin-bottom: 46px;
	padding: 12px 0;
	font-size: 20px;
	text-align: center;
	color: #348CEC;
	background-color: #F5FBFF;
	border: 1px solid #BEDDFF;
	border-radius: 4px;
	cursor: pointer;
}

.bottom>div {
	margin: 0 0 20px;
	width: 1216px;
	height: 173px;
	overflow: hidden;
}

.bottom-ad a {
	position: relative;
	display: block;
	margin-right: 14px;
	float: left;
	width: 290px;
	height: 173px;
}

.bottom-ad a img {
	width: 100%;
	height: 100%;
}

.bottom-ad a img {
	width: 100%;
	height: 100%;
}

.bottom-ad a div {
	position: absolute;
	bottom: 0;
	width: 250px;
	height: 24px;
	padding: 80px 20px 12px;
	font-size: 14px;
	color: #FFF;
	background-image: url();
	overflow: hidden;
	line-height: 30px;
	text-align: center;
}

.bottom div.bottom-next {
	width: 100%;
	height: 58px;
	margin-bottom: 46px;
	padding: 0;
	font-size: 20px;
	text-align: center;
	color: #d71629;
	line-height: 58px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 4px;
}

div.bottom-next a {
	position: relative;
	padding: 0 30px;
	margin: 0;
	width: 1248px;
	color: #d71629;
	font-weight: 600;
}

div.bottom-next a:before {
	content: "阅读下一篇";
	position: absolute;
	left: -70px;
	font-size: 14px;
	color: #e4606d;
}

div.bottom-next a:after {
	content: "";
	display: block;
	width: 22px;
	height: 16px;
	position: absolute;
	top: 4px;
	right: -20px;
	background-image: url(../image/next.png);
}

.bottom-next div {
}

.f-link {
	width: 1000px;
	margin: 0 auto 30px;
	padding-bottom: 26px;
	border-bottom: 1px dashed #333;
}

.f-logo {
	margin-top:25px;
	float: left;
	width: 270px;
	height: 89px;
	background-image: url(../image/flogo.png);

}

.f-nav {
	color: #FFF;
	font-size: 14px;
	line-height: 25px;
	margin-top: 38px;
	float: right;
	width: 720px;
}

.f-link a {
	display: inline-block;
		/* margin: 4px 11px; */
	float: left;
	color: #9CCBFF;
	font-size: 14px;
	width: 56px;
	margin: 4px 0;
	line-height: 18px;
}

.f-nav:after {
	margin-top: 38px;
	float: left;
	width: 888px;
}

.c-link a {
	color: #FFF;
	padding-right: 10px;
	margin-right: 10px;
	font-size: 14px;
	border-right: 1px solid #FFF;
}

.c-link a.last-child {
	border: none;
}

.c-bq {
	padding-top: 6px;
	font-size: 12px;
	color: #fff;
	overflow: hidden;
}

.c-bq p {
	margin-top: 6px;
}

.copyright .right span {
	position: relative;
	top: -14px;
	right: 8px;
	color: #FFF;
	font-size: 14px;
}

.copyright .right {
	margin-top: 15px;
}

.copyright .right a {
	position: relative;
	display: inline-block;
	margin-left: 4px;
	width: 42px;
	height: 42px;
}

.part-right .ad {
	display: block;
	margin-bottom: 30px;
}

.right-wap {
	margin-top: 20px;
	position:relative;
}

.right-wap .name {
	margin-left: -34px;
	position: absolute;
	top: -10px;
	left: 50%;
	padding: 0 18px;
	z-index: 2;
	background-color: #FFF;
	font-size: 16px;
	color: #808080;
}

.ahwx { width:200px; margin:0px auto; padding-top:50px;}
.ahapp { width:200px; margin:0px auto;}
.ahapp  img{ margin-left:10px;}
.hothour { border:1px solid #efefef; margin-top:40px;
	position: relative;
}

.hothour>div.name { height:50px; margin-left:15px; line-height:50px;
	width: 270px; border-bottom:1px solid #efefef;
}

.hothour>div.name span {
	display: inline-block;
	padding: 0 8px;
	color: #333;
	cursor: pointer;
	font-size: 24px;
}

.hothour>div.name span.active {
	color: #666;
}

.hothour>div.name span.x-xt {
	padding: 0 14px;
	border-right: 1px solid #ccc;
}

.i-sp {
	display: none;
}

.hot-news {
	padding: 28px 16px 0;
	display: none;
}

.hot-news li {
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #E6E6E6;
}

.hot-news li:last-child {
	border: none;
}

.hot-news li.last-child {
	border: none;
}

.hot-news li> a {
	font-size: 14px;
	margin-bottom: 8px;
}

.hot-news .left {
	font-size: 12px;
	color: #B3B3B3;
}

.hot-news .right {
	font-size: 12px;
	color: #348CEC;
}

.xs { height:200px;
	padding: 0 16px 0;
	margin-bottom: 10px;
}

.xs .name span {
	margin-left: 10px;
	padding-left: 10px;
	color: #348CEC;
	border-left: 1px solid #ccc;
}

.xs li {
	margin: 0 0 10px 10px;
	float: left;
}

.xs li a {
	display: block;
	position: relative;
}

.xs li a img {
	display: block;
	width: 120px;
	height: 85px;
}

.xs li a div {
	position: absolute;
	bottom: 0;
	width: 80px;
	height: 24px;
	padding: 85px 20px 5px;
	font-size: 12px;
	color: #FFF;
	background-image: url(../image/sbg.png);
	overflow: hidden;
	line-height: 25px;
	text-align: center;
}
.vlist {height:100px;
	padding: 0 16px 0;
}

.vlist li {background: url(../image/fonticon-all.png) no-repeat;background-position: -175px -180px;padding-left:30px;
	margin: 0 0 10px 10px; overflow:hidden; height:20px;
	float: left;
}

.vlist li a {
	display: block;
	position: relative;
}

.zt { height:230px;
	padding: 0 16px 0;
	margin-bottom: 30px;
}

.zt .name span {
	margin-left: 10px;
	padding-left: 10px;
	color: #348CEC;
	border-left: 1px solid #ccc;
}

.zt li {width: 120px; height:105px; overflow:hidden;
	margin: 0 0 10px 10px;
	float: left;
}

.zt li a { font-size:12px; text-align:center;
	display: block;
	position: relative;
}

.zt li a img { margin-bottom:5px;
	display: block;
	width: 120px;
	height: 85px;
}


.hot-bottom {
	margin-top: 10px;
}

.right-wap.hot-word {
	border-top: none;
	margin-bottom: 20px;
}

#xggj { float:left; border-top:5px solid #ccc; margin-top:20px;
	width: 680px;


}
.tit{ float:left; border-bottom:1px solid #ccc; margin-bottom:20px;
	width: 680px;
}
#xggj .newestList li { width:310px;
	background: url(../image/fonticon-all.png)no-repeat -5px -40px;
	float: left;
	height: 22px; line-height:20px; margin:0 10px 10px 0 ;
	padding-left: 20px;
	overflow: hidden;
}

#xggj .newestList a { font-size:16px;
	line-height: 22px;
}

.hot-words {
	max-height: 185px;
	margin-bottom: 30px;
	overflow: hidden;
}

.hot-words a {
	display: inline-block;
	margin: 6px 8px 6px 0;
	padding: 2px 18px;
	border: 1px solid #d71629;
	border-radius: 18px;
	font-size: 14px;
	color: #d71629;
	transition: all .4s;
	-moz-transition: all .4s;
	; /* Firefox 4 */
		-webkit-transition: all .4s;
 /* Safari å’Œ Chrome */
	-o-transition: all .4s;
	; /* Opera */
		line-height: 19px;
}

.hot-words a:hover {
	color: #FFF;
	background-color: #d71629;
}

.footer {
	padding-bottom: 12px;
	background-color: #868686;
	height: 238px;
}


/* 回到顶部 */
p#back-to-top{
  position:fixed;
  bottom:100px;
  right:80px;
}
p#back-to-top a{
  text-align:center;
  text-decoration:none;
  color:#d1d1d1;
  display:block;
  width:30px;
  /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
  -moz-transition:color1s;
  -webkit-transition:color1s;
  -o-transition:color1s;
}
p#back-to-top a:hover{
  color:#979797;
}
p#back-to-top a span{
  background:#d1d1d1 url(../image/arrow-up.png) no-repeat center center;
  border-radius:6px;
  display:block;
  height:30px;
  width:30px;
  margin-bottom:5px;
  /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
  -moz-transition:background1s;
  -webkit-transition:background1s;
  -o-transition:background1s;
}
#back-to-top a:hover span{
  background:#979797 url(../image/arrow-up.png) no-repeat center center;
}

/* 留言--------------------------------------------------*/
.liuyan { width:600px; margin:0px auto; padding-top:100px;
}

.liuyan .lyleft {width:300px; float:left; color:#00CC00; height:60px;}
.liuyan .lyright {width:300px; float:right; text-align:right; color:#FF0000; height:60px;}
.liuyan li {letter-spacing:3px;
	margin-bottom: 7px;
	vertical-align: top;
}

.liuyan li a {
    font-family: \5FAE\8F6F\96C5\9ED1;
	line-height: 20px; font-size:16px;
	vertical-align: top;
	color: #393939;
}
.btn {
background-color: #4CAF50;
border: none;
color: #FFFFFF;
padding: 8px 20px;
text-align: center;	
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
margin: 6px 0 !important;
text-decoration: none;
font-size:20px;
}


.sdkm { float:left;width:207px; height:330px; overflow:hidden; text-align:center; margin:0 23px 50px 0;}
.sdkm img{ width:207px; height:290px; padding-bottom:19px;}
.sdkm span a{font-family: \5FAE\8F6F\96C5\9ED1; font-size:14px;}