.comment {
  width: 897px;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
}

.comment .tips {
  font-size: 16px;
  font-weight: 500;
  color: #222222;
  line-height: 25px;
}

.comment .tips span {
  margin-left: 22px;
  font-size: 14px;
  color: #7d7c7c;
  line-height: 25px;
}

.comment .text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-top: 16px;
}

.comment .text-area .user-avatar {
  width: 66px;
  text-align: center;
}

.comment .text-area .user-avatar img {
  margin: 0 auto;
  display: block;
  width: 42px;
  height: 42px;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment .text-area .user-avatar p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #7d7c7c;
  line-height: 25px;
}

.comment .text-area #textarea {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 10px;
  width: 796px;
  height: 80px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: #7d7c7c;
  line-height: 25px;
  font-family: Source Han Sans CN Regular, Helvetica, sans-serif;
}

.comment .text-area #textarea::-webkit-input-placeholder {
  font-family: Source Han Sans CN Regular, Helvetica, sans-serif;
}

.comment .btn {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 76px;
}

.comment .btn .words {
  font-size: 16px;
  font-weight: 700;
  color: #7d7c7c;
  line-height: 25px;
}

.comment .btn .login,
.comment .btn .add {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 75px;
  height: 28px;
  line-height: 28px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eb0000), to(#ff480f));
  background: linear-gradient(#eb0000 0%, #ff480f 100%);
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.comment .btn .add {
  display: none;
}

.comment .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.comment .count h6 {
  font-size: 16px;
  font-weight: 500;
  color: #222222;
  line-height: 25px;
  margin-right: 22px;
}

.comment .count p {
  font-size: 14px;
  color: #7d7c7c;
  line-height: 25px;
}

.comment .comment-list {
  margin-top: 18px;
  border-top: 1px solid #e5e5e5;
}

.comment .comment-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.comment .comment-list .comment-avatar {
  width: 60px;
  height: 60px;
}

.comment .comment-list .comment-avatar img {
  display: block;
  width: 60px;
  height: 60px;
}

.comment .comment-list .comment-main {
  width: 680px;
}

.comment .comment-list .comment-main .name {
  color: #7d7c7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment .comment-list .comment-main .name h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin-right: 85px;
}

.comment .comment-list .comment-main .name .date {
  font-size: 14px;
  line-height: 16px;
}

.comment .comment-list .comment-main p {
  margin-top: 10px;
  font-size: 16px;
  color: #7d7c7c;
  text-align: justify;
  line-height: 20px;
}

.comment .comment-list .comment-main .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 14px;
  color: #7d7c7c;
  line-height: 25px;
  margin-top: 10px;
}

.comment .comment-list .comment-main .tools .zan {
  cursor: pointer;
  background: url("../image/zan.png") no-repeat left center;
  padding-left: 28px;
}

.comment .comment-list .comment-main .tools .zan.selected {
  background: url("../image/zan-active.png") no-repeat left center;
  color: #3159b6;
}

.comment .comment-list .comment-main .tools .del {
  cursor: pointer;
  background: url("../image/delete.png") no-repeat left center;
  padding-left: 28px;
  margin-left: 16px;
}

.comment-drawer {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -800px;
  z-index: 9999;
  width: 800px;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.comment-drawer .content {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-drawer.open {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}

.comment-drawer .comment-drawer-more {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin: 20px auto;
  width: 330px;
  height: 32px;
  line-height: 32px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3159b6), to(#7a96c8));
  background: linear-gradient(#3159b6 0%, #7a96c8 100%);
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
  border-radius: 100px;
}

.comment-qrcode {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
}

.comment-qrcode .comment-qrcode__desk {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.comment-qrcode .comment-qrcode__close {
  width: 11px;
  height: 11px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url("../image/close.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}

.comment-qrcode .comment-qrcode__con {
  box-sizing: content-box;
  width: 280px;
  height: 280px;
  position: absolute;
  z-index: 102;
  background: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #575757;
  padding: 20px 20px 30px 20px;
}

.comment-qrcode .comment-qrcode__con img {
  width: 100%;
}
