

.nav-banner {
	width: 100%;
	height: 50px;
	background: #2A77A5;
}

.nav {
	width: 1200px;
	margin: 0 auto;
	color: aliceblue;
	height: 50px;
}

.nav li a ,.nav_more{

	float: left;
	color: aliceblue;
	margin-left: 2.5%;
	line-height: 50px;
}
.down_box{
	background-color:#FFFFFF;
}
.search-button {
	float: right;
}

.search {
	height: 30px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}

.search-img {
	width: 30px;
	height: 30px;
	float: left;
	margin: 10px;
}

.search input {
	height: 30px;
	line-height: 30px;
	outline-style: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left: 10px;
	width: 200px;
	font-size: 14px;
	font-weight: 700;
	font-family: "Microsoft soft";
}

.search input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.advertisement {
	width: 1200px;
	margin: 10px auto;
}

.nav-title {
	width: 1200px;
	margin: 0 auto;
	height: 65px;
}

.logo {
	float: left;
}

.nav-mini {
	float: left;
	margin-left: 20px;
	padding-top: 40px;
}

.main {
	width: 1200px;
	/*height: 800px;*/
	margin: 0 auto;
	display:table;
}

.title-title {
	width: 860px;
	float: left;
	padding-bottom: 16px;
	font-size: 30px;
	padding: 10px;
	position: relative;
	border-bottom: 1px solid #e8e8e8;
}

.content {
	width: 875px;
	float: left;
	padding-top: 10px;
}

.more-right {
	width: 295px;
	float: right;
}
.title-title p {
	font-size: 12px;
	text-align: right;
	margin-top: 20px;
}
.title-title span {
    width: 100%;
    height: 30px;
    float: left;
    font-size: 18px;
    margin: 10px 0px;
}
.s1 {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 5px;
	background-color: #cae8ca;
	border: 2px solid #4CAF50;
}

.share {
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	width: 130px;
	float: left;
	text-align: center;
	height: 700px;
	border-right: 2px solid #e8e8e8;
	
}

.share ul {
	height: 500px;
	
}
.share ul li {
	margin: 10px;
	
}
.share ul li a{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none ;
}
.share_wx a,
.share_wb a,
.share_qq a {
	display: block;
	width: 60px;
	height: 60px;
	background: url(../image/bg-share.png);
	/* cursor:pointer; */
	overflow: hidden;
	line-height: 500px;
	margin: 0 auto;
}
.share_wb a          {background-position:-120px 0;}
.share_qq a          {background-position:-60px 0;}
.share_wx a:hover    {background-position:0 -60px;}
.share_qq a:hover    {background-position:-60px -60px;}
.share_wb a:hover    {background-position:-120px -60px;}
.share_wx a:hover,.font a:hover{-webkit-animation:zoomInOut 0.3s 1;-moz-animation:zoomInOut 0.3s 1;-o-animation:zoomInOut 0.3s 1;animation:zoomInOut 0.3s 1;}
.news {
	margin: 5px;
	width: 700px;
	padding: 10px;

	float: left;
}

.news-content {
	margin-bottom: 14px;
	text-indent: 2em;
	color: #333333;
	line-height: 1.7;
}
.news-content *{
	max-width: 700px; 
}
.news-foot {
	padding: 10px;
	font-size: 16px;
	margin-top: 20px;
	height: 50px;
	width: 100%;
	color: #555555;
	border-bottom: 1px solid #e8e8e8;
}
.new-author{
	margin-bottom: 10px;
}
.new-foot-left {
	float: left;
}

.new-foot-right {
	float: right;
}

.xgxw {
	padding: 10px;
	margin-top: 10px;
	float: left;
	/*height: 200px;*/
	margin-bottom: 10px;
}

.xgxw-title {
	width: 80px;
	text-align: center;
	line-height: 20px;
	color: #1795FC;
	border-left: 2px solid #1795FC;
	margin-bottom: 10px;
}

.xgxw ul li:before {
	color: #1795FC;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 7px;
	width: 4px;
	height: 4px;
	/* border: 2px #027bfb solid; */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #027bfb;
}

.xgxw ul li {
	position: relative;
	padding-left: 20px;
	margin: 10px;
}

.xgxws ul li:before {
	color: #1795FC;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 9px;
	width: 4px;
	height: 4px;
	/* border: 2px #027bfb solid; */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #027bfb;
}

.xgxws ul li {
	position: relative;
	padding-left: 20px;
	margin: 5px;
	font-size: 14px;
}

.header {
	width: 100%;
	color: #1795FC;
	height: 36px;
	line-height: 36px;
	text-align: left;
	margin-top: 30px;
}

.line1 {
	display: inline-block;
	width: 20px;
	border-top: 3px solid #cccccc;
	vertical-align: 5px;
}

.line2 {
	display: inline-block;
	width: 200px;
	border-top: 3px solid #cccccc;
	vertical-align: 5px;
}

.tpjx {
	width: 100%;
	margin-top: 10px;
}

.tpjx img {
	width: 140px;
}

.tpjx-title {

	width: 140px;
	height: 100px;
	float: right
}

.foot {
	width: 100%;
	height: 225px;
	background: #2A77A5;
	float: left;
	margin-top: 20px;
	text-align: center;
	color: white;
	padding-top: 40px;
}

.foot-line {
	margin: 20px;

}

.foot a {
	color: white;
	margin: 5px;
}
.copyright {
 margin-top:10px;
 padding: 40px 0 50px;
 background-color: #2A77A5;
 color: #FFFFFF;
 text-align: center;
 line-height: 40px;
 font-size: 14px;
 display: table;
 width: 100%;	
}

.copyright a {
 display: inline-block;

 color: #FFFFFF;
}

.copyright .bottom_link a,
.copyright .bottom_link span {
 padding: 0 10px;
}

/*list*/
.bg-blue {
	color: #1486C2;
}

.list ul li {
	float:left;
	width: 650px;
	color: #555555;

}
.list ul li img{
 float:left;
 margin:10px;

}

.list ul li h3 a {
	color: #555555;
}

.list ul li p {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #8D8D8D;
	font-size: 16px;
}

.ckxq {
	color: #6DADC9;
	float: right;
}

.list ul li span {

	color: #B8B8B8;
	font-size: 14px;
}

.title-foot {
	border-bottom: 1px solid #cccccc;
	width: 650px;
	height: 20px;
	margin-top: 10px;
	float: left;
	margin-bottom: 10px;

}

.bshare-custom {
	float: right;
}
.nav_down{
	display:none;
}
.pl *{
  max-width: 700px;
  display:none;
}