

.clearfix:after,
body,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
input,
label,
li,
ol,
p,
pre,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
ul {
	margin: 0;
	padding: 0
}

body,
html {
	height: 100%
}

body {
	font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "微软雅黑", STHeitiSC-Light, simsun, "宋体", "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif
}

li {
	list-style-type: none
}

a {
	text-decoration: none;
	outline: 0;
	color: #000;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s
}

a:hover {
	text-decoration: underline;
	/* text-decoration: none; */
	/* color: #ff9724 !important */
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

iframe,
img {
	border: 0
}

img {
	vertical-align: top
}

.clearfix {
	display: block
}

.clearfix:after {
	content: "";
	overflow: hidden;
	width: 100%;
	height: 0;
	font-size: 0;
	display: block;
	clear: both
}

.left {
	float: left
}

.right {
	float: right
}

i {
	font-style: normal
}

.main {
	width: 1200px;
	margin: 0 auto
}

/* 灰色代码 */
/*body * {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	filter: gray;
}
*/

/*新版通用广告盒子*/
.adbox{ width: 1200px;overflow: hidden; }
.adbox .content_box{ width: 1240px; display: table; padding-bottom: 10px}
.adbox .content_box a{float: left; margin:10px 10px 0 0;}

/*通用下拉效果*/
ul .down {
	position: relative;
}

ul .down_box {
	display: none;
	position: absolute;
	right: 15px;
	z-index: 999;
	border: #dcdcdc 1px solid;
	border-width: 1px 1px 0 0;
}

ul .down_box p {
	color: #6e6e6e;
	padding: 5px 10px;
	line-height: 1.5;
	text-align: right;
	background-color: #fff;
	border: #dcdcdc 1px solid;
	border-width: 0 0 1px 1px
}

