

/* ------------------------------

css for http://tibet.cn/

design by zhaiying

date 2014-12-30

---------------------------- */

/* Reset */

body,h1,h2,h3,h4,h5,h6,p,form,ul,ol,li,input,select,label,dl,dt,dd{margin:0;padding:0;font-family:"宋体";font-size:12px;-webkit-text-size-adjust:none;}

input,select,label{vertical-align:middle;font-size:12px;}

ul,ol,li{list-style:none;}

img,input{border:0;}

div,input

{

-moz-box-sizing: border-box;  

     -webkit-box-sizing: border-box; 

     -o-box-sizing: border-box; 

     -ms-box-sizing: border-box; 

     box-sizing: border-box; 

}

.clear{clear:both;height:0;overflow:hidden;}

a{color:#595959;text-decoration:none;outline:none;}

a:hover{color:#515151;text-decoration:none;}

body{background:#fff;}

.left{float:left;}

.right{float:right;}



.wrap{width:1180px;margin:0 auto;position:relative;overflow:hidden;zoom:1;}

.header .top{border-bottom:1px solid #eaeaea}

.zt_top{margin-top:10px;}

.langs{overflow:hidden;zoom:1;}

.langs a{font-size:14px;margin-right:23px;vertical-align:middle;float:left;height:41px;line-height:41px;}

.langs .logo_hx{background:url(http://www.lnzgm.com/statics/css/images/logo_hx_2018.jpg) no-repeat;width:160px;height:37px;}

.langs .tb{margin-top:10px;height:19px;line-height:19px;}

.ico1,.ico2{background:url(../image/swzy.jpg) no-repeat;float:left;width:20px;height:21px;margin-right:32px;margin-top:10px;}

.ico2{background-image:url(../image/sc.jpg);width:24px;height:20px;}

.zs{color:#7b7b7b;float:left;line-height:41px;}

.logo{background:url(../image/logo.png) no-repeat;width:322px;height:74px;float:left;margin-top:20px;}

.mid_search{float:right;margin-top:20px;}

.search{overflow:hidden;zoom:1;}

.search .txt{border:1px solid #ccc;padding:6px 12px;float:left;width:254px;font-family:"Microsoft YaHei";font-size:14px;}

.search .btn{background:url(../image/search_btn.jpg) no-repeat;float:left;width:85px;height:34px;cursor:pointer;}

.date{font-size:14px;line-height:30px;overflow:hidden;zoom:1}

.date span div{display:inline}

.other_date{margin-top:6px}

.ewm{float:right;margin-left:35px;margin-top:14px;}

.ewm li{float:left;width:90px;height:100px;margin-right:20px;text-align:center;color:#6a6a6a;}

.ewm li img{width:70px;height:70px;margin:0 10px 5px;}

.nav{background:url(../image/nav_bg.jpg) repeat;}

.nav a{font:18px "Microsoft YaHei";color:#fff;float:left;height:60px;line-height:60px;margin-right:35px;}

.nav a:hover{color:#fff;}

.nav_qt{margin-top:6px;}

.nav_qt .logo_hb{background:url(http://www.lnzgm.com/statics/css/images/logo_hb.png) no-repeat;float:left;width:161px;height:37px;margin:12px 58px 0 0;}

.nav_qt a{font-size:14px;margin-right:20px;}





.footer{width:1180px;margin:0 auto;}

.footer .info{padding:30px 0;overflow:hidden;}

.footer .info h1{float:left;width:112px;height:125px;padding:0 22px 0 0;}

.footer .info h1 img{width:112px;height:125px;}

.footer .info .txt{float:left;border-left:10px solid #eee;padding:0 0 0 20px;}

.footer .info .txt p{line-height:24px;color:#4b4b4b;}

.footer .info .txt span{margin:0 15px 0 0;}

.footer .info .txt .arial{font-family:Arial;}