

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,select,textarea,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,time, mark, audio, video{ padding: 0px; margin: 0px; vertical-align: top; }
html { overflow-y: auto;  font-family: 微软雅黑; ; text-align: center; color: #666; font-size: 13px; line-height: 1.2; letter-spacing: -1px; }
html, body { width: 100%; -webkit-text-size-adjust: none; }
body{ position: relative; min-width: 320px; overflow: hidden; }
ul, ol { list-style-type: none; }
h1,h2,h3,h4,h5,h6,th{ font-weight: normal; }
table{ border-collapse: collapse; border-spacing: 0; }
img,fieldset{ border: 0; outline: none; }
label { cursor: pointer; }
i, em, address { font-style: normal; }
caption,legend{ visibility: hidden; width: 0px; height: 0px; font-size: 0px; line-height: 0px; }
ol, ul{ list-style: none; }
img{ border: none; text-decoration: none; }
.clear { clear: both; font-size: 1px; height: 1px; width: 100%; }
.fl{ float: left; }.fr{ float: right; }.cls { clear: both; }
.clearfix { display: block; #zoom: 1; /*ie6-ie7*/; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }*+html .clearfix { min-height: 1%; }
* html{ background-image: url(about: blank); background-attachment: fixed; }
.mcw { width: 1000px; display: block; text-align: left; margin: 0px auto; padding: 0px 4px; clear: both; border: 0px; overflow: hidden; }
.mcw{ background-color: #fff; }
.hand{ cursor: pointer; }
strong,b{ font-weight: bold; }

/* html5 ie9 else */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; padding: 0; margin: 0; }
input,select,textarea{  letter-spacing: -1px; }
textarea{ resize: none; border: none; background: none; }
pre {white-space: pre-wrap;word-wrap: break-word;}

a { text-decoration: none; color: #666; cursor: pointer; }
a:link, a:visited { text-decoration: none; color: #666; }
a:hover, a:focus, a:active{ background: none; text-decoration: underline; }
/*页面变灰*/
/*html { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: url("data:image/svg+xml;utf8,
<svg xmlns="\'http://www.w3.org/2000/svg\'">
<filter id="\'grayscale\'"><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter>
</svg>
#grayscale"); filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)
}*/

/*topmenu*/
	.topmenu{height: 50px; overflow: hidden;margin: 10px auto;border: 2px solid #ccc; border-left:0px; border-right: 0px;}
	.topmenu>ul{height: 40px;}
	.topmenu li{float: right; line-height: 50px; color:#111; text-indent: 20px; display: block; font-size:15px; letter-spacing: 0px;}
	.topmenu li a{color:#111;}
	.topmenu li:first-child{text-indent: 0; float: left;}
	.topmenu #contentKey{width:220x; border: 1px solid #191919;height:20px;line-height:20px;text-indent: 5px; position: relative; top:14px; left: -10px;}
	.topmenu #btnsearch{position:relative; left:0px; top:15px; width:21px;height:21px;float:right;text-align: right; cursor:pointer;}
	#btnuser{width:21px;height:21px;position:relative; left:0px; top:12px;}
/*topmenu*/
/*toplogo*/
	.toplogo{margin:10px auto; height: 80px; overflow: hidden;width:998px;}
	.toplogo li img{margin:1px auto;}
	.toplogo li{float: right; width: 780px;}
	.toplogo li:first-child{float: left;width: 200px;}
	.toplogo .ybnewsLogo{width:180px;height: 52px;}
/*toplogo*/
	
/* mainmenu */
	#mainmenu .lm202{display:none;position:absolute;height:35px;line-height:35px;}
	#mainmenu .lm202 > li{float:left;padding:3px 10px;}
	#mainmenu .lm202 > li a{font-size:15px; color:#191919; }
	#mainmenu .lm202 a:hover{color:#136fbd;}

	#xme8{width:1000px;height:35px;}
	#xme8 li{line-height:35px; height:35px; text-indent:15px; letter-spacing:1px; font-weight:bold;}
	#xme81{float:left;text-align:left; text-indent:0; padding:0; width:460px;  color:#3b8fd1;}
	#xme81 img{position:relative; top:10px; left:-10px;}
	#xme82{float:right; width: 500px; text-align: right;}
	#mainmenu .lm202 >li#xme82 a{
		font-size:13px;
		letter-spacing: 0;
		font-weight: normal;
		color:#999;
	}
	#mainmenu .lm202 >li#xme82 a:hover{
		color:#3b8fd1;
	}
/*
	#xme82 .ybztq{clear:both;margin-top:-4px;}
	#xme82 .cityname{float:left;}
	#xme82 .divCurrentWeather{float:left;}
	img .pngtqico{position:relative; top:12px; left:-6px;}
	#xme82 .divCurrentWeather span{display:inline-block;text-indent:5px}
	#xme82 .divCurrentWeather strong{display:none;/*inline-block;text-indent:5px;font-weight:300;* /}
*/
	#mainmenu #titmenu{background-color: #148eeb; height: 45px;}
	#mainmenu #titmenu li{float:left; height:42px; line-height:42px; padding:0 21px;}
	#mainmenu #titmenu li a{font-size:17px; font-weight: bold; color:#fff;}
	#mainmenu #titmenu li a:hover{text-decoration: none;}
	#mainmenu #titmenu li:hover{border-bottom:3px solid #ccc;}

	#mainmenu #conment{height: 40px; border:1px solid #ccc;}
	
/* mainmenu */


/* weblinks */
	#weblinks{clear: both;margin-top:10px;}
	.weblinks{ width:998px; border:1px solid #ddd; text-align:left; padding: 0;}
	#weblinks h2{height: 50px; line-height: 50px; font-size:18px; font-weight: 22px; text-align: center;}
	.weblinks .linkstitle{ height:30px; line-height:30px; background:#f4f4f4; padding:0 10px 0 20px;   border-bottom:1px solid #ddd;  position:relative; }
	.weblinks .linkstitle ul{ float:left; position:absolute; left:20px; top:-1px; height:32px;   }
	.weblinks .linkstitle ul li{ float:left; padding:0 15px; cursor:pointer;  }
	.weblinks .linkstitle ul li.on{ height:30px;  background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; }
	.weblinks .linkscontent{padding-bottom: 15px;overflow: hidden;}
	.weblinks .linkscontent ul{ padding:15px;  zoom:1;clear: both;}
	.weblinks .linkscontent li{ height:24px; line-height:24px; display: block; text-indent: 10px; float:left;}
/* weblinks */
/* copy */
	.copy{text-align: center; background-color:#1d71b7; color:#fff; overflow: hidden; margin-top: 10px;clear: both;}
	.copy .liwo{line-height: 26px; font-size:14px;margin-top: 15px; letter-spacing: 0.1px;}
	.copy .iows>img{width:397px;height:68px;margin: 10px auto;}
/* copy */
/* 微信矩阵 */
	#wxjz{clear: both;margin-top:10px;}
	.wxjz{ overflow:hidden; position:relative;  border:1px solid #ccc;   }
	.wxjz .bd{ padding:10px; width:920px;margin:auto}
	.wxjz .bd ul{ overflow:hidden; zoom:1; }
	.wxjz .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
	.wxjz .bd ul li .pic{ text-align:center; }
	.wxjz .bd ul li .pic img{ width:70px; height:70px; display:block;  padding:2px; border:1px solid #ccc; }
	.wxjz .bd ul li .pic a:hover img{ border-color:#999;  }
	.wxjz .bd ul li .title{ line-height:24px;   }
	.wxjz .sPrev,.wxjz .sNext{ position:absolute; left:5px; top:40px; display:block; width:30px; height:94px; border:1px solid #ddd; background:url(../image/icoLeft.gif) center center no-repeat #f4f4f4;}
	.wxjz .sNext{left:auto; right:5px; background:url(../image/icoRight.gif) center center no-repeat #f4f4f4;}
	.wxjz .sPrev:hover,.wxjz .sNext:hover{border-color:#f60;}
/* 微信矩阵 */
/*移动端*/
#showmobile{ cursor: pointer; }
#showmobile-box { width: 200px; height: 100px; margin: 20px auto; position: absolute; display: none;  left: -1000px; top: -1000px;  background-color: #fff; z-index: 99999; }
#showmobile-box .boxcontent { width: 330px; height: 140px; border: 1px solid #ccc; background-color: #fff; }
#showmobile-box .border-arrow { width: 0; height: 0; font-size: 0; line-height: 0; position: absolute; left: 140px; top: -16px; }
#showmobile-box .border-arrow em,.border-arrow ins { width: 0; height: 0; display: block; position: absolute; border: 8px solid transparent; border-style: dashed dashed solid dashed; }
#showmobile-box .border-arrow em { border-bottom-color: #ccc; }
#showmobile-box .border-arrow ins { border-bottom-color: #fff; top: 1px; }
#showmobile-box .pix{ margin: 10px 5px 0px 5px; height: 135px; width: 100px; overflow: hidden; border: 0px solid red; float: left; }
#showmobile-box .pix img{ width: 80px; height: 80px; border: 1px solid #ddd; padding: 1px; }
#showmobile-box .pix p{ margin-top: 5px; color: #2c2c22}

#show_contact_us{ cursor: pointer; }
#show_contact_us-box { width: 200px; height: 100px; margin: 20px auto; position: absolute; display:none;  left: -1000px; top: -1000px;  background-color: #fff; z-index: 99999; }
#show_contact_us-box .boxcontent { width: 310px; height: 235px; border: 1px solid #ccc; background-color: #fff; padding:10px;}
#show_contact_us-box .border-arrow { width: 0; height: 0; font-size: 0; line-height: 0; position: absolute; left: 215px; top: -16px; }
#show_contact_us-box .border-arrow em,.border-arrow ins { width: 0; height: 0; display: block; position: absolute; border: 8px solid transparent; border-style: dashed dashed solid dashed; }
#show_contact_us-box .border-arrow em { border-bottom-color: #ccc; }
#show_contact_us-box .border-arrow ins { border-bottom-color: #fff; top: 1px; }
#show_contact_us-box .boxcontent .detail{line-height: 25px; text-align: left; padding:10px;}
/*移动端*/
/*右侧菜单*/
#rightmenu {
	right: 0px; width: 115px; text-align: center; top: 75px;   position: fixed;
	background-color:#eaeaea; overflow: hidden;border: 1px solid #bfbfbf;
}
#rightmenu>ul li.a1{border-bottom: 1px solid #bfbfbf; height: 58px; line-height:58px; border-left: 5px solid #207fe9; text-align: center;}
#rightmenu>ul li.a1 img{width: 30px; height: 30px; margin-top:15px; }
#rightmenu>ul li.a2{border-bottom: 1px solid #bfbfbf; height: 58px;line-height:58px; border-left: 5px solid #eaeaea; }
#rightmenu>ul li.a2:hover{border-left: 5px solid #207fe9; }

#rightmenu>ul li.a3{}
#rightmenu>ul li.a3 img{width:115px; height: 115px;}
#rightmenu>.x36{margin:5px;}
#rightmenu>.x36 img{width:20px;margin:5px 10px 0 10px; cursor: pointer;}
/*右侧菜单*/

/*通栏广告*/
.adlist{margin:0px;padding:0;width: 1000px; overflow: hidden;clear: both;}
.adlist>.chang{width:1000px;overflow: hidden;margin-top:8px;}
.adlist>.chang img{width:1000px;display:block;}
/*通栏广告*/
/*推荐专题*/
ul.tjzt{
	overflow: hidden;
	width:760px;
}
ul.tjzt li{
	float:left;
	font-size:14px;
	margin-right:10px;
	word-spacing: 0.1px;
}
ul.tjzt li:first-child{
	color:#f54343; 
	font-family: 微软雅黑;
}
ul.tjzt li a{
	color:#959595;
}
ul.tjzt li a:hover{
	color:#ff4455;
}
/*推荐专题*/

/* 点击量排行榜 */
.clickRandking {
	border: 0 solid #dedee8;
	z-index: 8888;
	width: 100%;
}

.clickRandking * {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.clickRandking a {
	text-decoration: none;
	color: #292929;
}

.clickRandking a:hover {
	color: #ff4455;
}

.clickRandking li {
	list-style: none;
}

#clickRandkingTitle {
	background-color: #f2f2f2;
	height: 30px;
	border-bottom: 1px solid #d1d5d9;
	font-size: 12px;
}

#clickRandkingTitle li {
	float: left;
	line-height: 30px;
	height: 30px;
}

#clickRandkingTitle li.a1 {
	width: 80px;
	text-align: center;
	font-weight: bold;
}

#clickRandkingTitle li.a2 {
	padding: 0 10px;
	border-left: 1px solid #d1d5d9;
	cursor: pointer;
}

#clickRandkingContent {
	margin: 0 5px 5px 5px;
	overflow: hidden;
	padding-top: 10px;
}

#clickRandkingContent .letter1, #clickRandkingContent .letter2 {
	position: relative;
	left: 5px;
	top: 6px;
	display: block;
	width: 16px;
	height: 16px;;
	line-height: 16px;
	text-align: center;
	font-size: 11px;
	color: #fff;
	border-radius: 2px;
	font-family: Tahoma;
	margin-right: 15px;
}

#clickRandkingContent .letter1 {
	background: #fa702c;
	border: 1px solid #f45e14;
}

#clickRandkingContent .letter2 {
	background: #b0b0b0;
	border: 1px solid #969696;
}

#clickRandkingContent .uix {
	display: none;
}

#clickRandkingContent ul {
	clear: both;
	border-bottom: 1px solid #dedee8;
	padding-bottom: 15px;
	height: 35px;
	padding-top: 10px;
	line-height: 24px;
	overflow: hidden;
}

#clickRandkingContent li {
	float: left;
	height: 35px;
}
#clickRandkingContent li:last-child {
	width: 86%;
}
#clickRandkingContent a {
	font-size: 14px;
}

#clickRandkingContent ul:last-child {
	border: 0;
}
/* 点击量排行榜 */
/* 二维码 */
div.ewm21{ 
  text-align: center;
}
div.ewm21>div{
  width: 100px;
  height: 100px;
  border:1px solid #111;
  padding:3px;
  margin:3px auto;
}
div.ewm22{
	text-align: center;line-height:30px; font-size:15px;
}

/* 二维码 */