
/******以下是默认的设置,你可以按需要进行修改********/
.ftzt{font-family: "microsoft yahei", "Microsoft YaHei", "Tahoma", "Helvetica", "SimSun", "sans-serif";}
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; }
.mp7 { margin-top:7px; }
.mb5 { margin-bottom:5px; }
.yq_top { background-image: url(../image/top_bg.jpg); background-repeat: repeat-x; background-position: top; height:40px; }
.yq_top_nr { }
.yq_top_nr .nr_logo { float:left; padding-top:8px; width:125px; height:26px; }
.yq_top_nr .nr_logo img { float:left; width:125px; height:26px; overflow: hidden; }
.yq_top_nr .nr_riqi { margin-left:50px; float:left; line-height: 40px; color: #848784; }
.yq_top_nr .nr_tianqi { margin-left:50px; float:left; line-height: 40px; color: #848784; width:180px; height:24px; margin-top:8px; overflow:hidden; }
.ye_ad_top img { margin-bottom:13px;}
.yznr_box {background-color: #f5f5f5; padding-top: 10px;}
.yznr_box_bs{background-color: #ffffff; margin-top:11px;}
/* 搜索栏 */
#net_scbar { margin-left:260px; height: 38px; line-height: 38px; overflow: hidden; float:left; padding-left:8px; }
#net_scbar .net_search_form { background: url(../image/search_form_bg.png) no-repeat scroll 0 0 transparent; float: left; height: 24px; margin-top: 6px; padding: 2px 0 2px 20px; position: relative; width: 164px; }
#net_scbar .net_scbar_txt { background: none repeat scroll 0 0 transparent; border: 0 none; float: left; height: 21px; line-height: 22px; padding-left: 5px; width: 120px; outline:none; }
#net_scbar .scbar_btn { margin: 0; padding: 0; border: none; background: transparent none; box-shadow: none; width:35px; height:24px; }
.yq_top_nr .nr_info { float:right; line-height: 40px; color: #848784; }
.yq_top_nr .nr_info a { color: #848784; text-decoration: none; }
.yq_top_nr .nr_info a:hover { color: #ff0416; text-decoration: none; }
.yq_logo{ background-image: url(../image/top_bg2.jpg); background-repeat: no-repeat; background-position: center top; }
.yq_logo_nr {height:40px; height:120px; overflow:hidden; }
.yq_logo_nr .nr_logo {  margin-top:20px; float:left; overflow:hidden; }
.yq_logo_nr .nr_logo img {overflow:hidden; }
.yq_logo_nr .nr_txt { width:180px; float:right; padding-top:20px; font-size:14px; font-family: "微软雅黑", "Tahoma", "Helvetica", "SimSun", "sans-serif"; color:#666; }
.yq_logo_nr .nr_txt p { line-height:22px; }
.yq_main { background-color: #209de6; height:42px; }

.yq_main .yq_main_nr { padding:0px; }
.fynews_menu_nav2 { overflow: hidden; }
.fynews_menu_nav2 dt { float: left; height: 70px; overflow: hidden; padding-top: 3px; padding-right:11px; }
.fynews_menu_nav2 .fudong { padding-left:0px; }
.fynews_menu_nav2 .mar2 { margin:0px 8px; color: #c6c6c6 }
.fynews_menu_nav2 dt p { line-height: 30px; height: 30px; text-decoration: none; word-wrap:normal; }
.fynews_menu_nav2 p { padding-top:5px;}
.fynews_menu_nav2 p a {height:30px; line-heigh:30px; color:#ffffff; text-decoration: none; word-wrap:normal; margin-right:45px; float:left; font-size:16px; font-family: "微软雅黑", "Tahoma", "Helvetica", "SimSun", "sans-serif"; }
.fynews_menu_nav2 p a:hover { color: #66cbff; }
.fynews_menu_nav2 dt p a:hover { color: #66cbff; }
.fynews_menu_nav2 dt dd a:hover { color: #66cbff; }
.fynews_menu_nav2 .nav_ico01 .txt { height:30px; line-heigh:30px; width:20px; float:left; padding-top:5px; color:#ffffff; margin-right:20px; }
.fynews_menu_nav2 .nav_ico01 { float:left; }
.fynews_menu_nav2 .nav_ico00 { width:990px; overflow:hidden; }
.fynews_menu_nav2 .nav_ico00 P { width:990px; height:30px; overflow:hidden; }
.fynews_menu_nav2 .nav_ico01 P { width:210px; height:30px; overflow:hidden; }


.
.fynews_menu_nav{width:1199px;height:42px;padding-left:1px;margin:auto;overflow:hidden;}
.fynews_menu_nav ul li{float:left;width:155px;height:42px;background:url(../image/mu_line.gif) right 14px no-repeat;position:relative;}
.fynews_menu_nav ul li#sy{width:154px;}
.fynews_menu_nav ul li#last{background:none;}
.fynews_menu_nav ul li a{display:block;width:155px;height:42px;line-height:42px;text-align:center;font-size:18px;color:#fff;overflow:hidden;cursor:pointer;position:absolute;left:-1px;top:0;}
.fynews_menu_nav ul li a:hover,.fynews_menu_nav ul li.on a{
	color:#fff;
	width:155px;
	background-color: #407eaf;
	text-decoration: none;
}


.fynews_menu_nav ul li#sy a{width:143px;}
.fynews_menu_nav ul li#sy .mu1:hover,.fynews_menu_nav ul li#sy.on .mu1{width:121px;}
.fynews_menu_nav ul li .mu1:hover,.fynews_menu_nav ul li.on .mu1{background-position:0 10px;}
.fynews_menu_nav ul li .mu2:hover,.fynews_menu_nav ul li.on .mu2{background-position:-135px 10px;}
.fynews_menu_nav ul li .mu3:hover,.fynews_menu_nav ul li.on .mu3{background-position:-270px 10px;}
.fynews_menu_nav ul li .mu4:hover,.fynews_menu_nav ul li.on .mu4{background-position:-405px 10px;}
.fynews_menu_nav ul li .mu5:hover,.fynews_menu_nav ul li.on .mu5{background-position:-540px 10px;}
.fynews_menu_nav ul li .mu6:hover,.fynews_menu_nav ul li.on .mu6{background-position:-675px 10px;}
.fynews_menu_nav ul li .mu7:hover,.fynews_menu_nav ul li.on .mu7{background-position:-810px 10px;}
.fynews_menu_nav ul li .mu8:hover,.fynews_menu_nav ul li.on .mu8{background-position:-945px 10px;}














.nr_huandeng{width: 580px;height: 385px;overflow: hidden;position: relative;}
.box-1 ul{}
.box-1 ul li{width: 580px;height: 385px;position: relative;overflow: hidden;}
.box-1 ul li img{display:block;width: 580px; height: 385px;}
.box-1 ul li img { transition: all 0.5s ease-in-out 0s;border-radius:3px; }
.box-1 ul li:hover img { transform: scale(1.05); }
.box-1 ul li h2{position: absolute;left: 0;bottom: 0;height: 40px;width:300px;background:rgba(0, 0, 0, 0.4); filter:progid:dximagetransform.microsoft.gradient(startcolorstr=#4E000000, endcolorstr=#4E000000);
				padding-right:500px ;font-size:18px;line-height: 40px;text-overflow: ellipsis;overflow: hidden;
				white-space: nowrap; padding-left:15px;  font-weight: normal;color: ghostwhite}			
.box-2{position: absolute;right: 10px;bottom: 14px;}
.box-2 ul li{float:left;width: 12px;height: 12px;overflow: hidden; margin: 0 5px; border-radius: 50%;
				background: rgba(255,255,255,1);text-indent: 100px;cursor: pointer;}
.box-2 ul .on{background: rgba(243,69,64,1);}
.box-3 .prev { width:38px; height:68px; left:10px; background-image:url(../image/slide.png); }
.box-3 .next { width:38px; height:68px; right:10px; background-image:url(../image/slide.png); background-position:38px 0; }
.box-3 .prev:hover { width:38px; height:68px; left:10px; background-image:url(../image/slide.png); background-position:0px 68px; }
.box-3 .next:hover { width:38px; height:68px; right:10px; background-image:url(../image/slide.png); background-position:38px 68px; }
.box-3 a { bottom:180px; position:absolute; z-index:1; outline:0; text-indent:-9999px;}
.nr_huandeng:hover .box-3 a { display:block !important; }









.xw_xxktop{ height:35px; background:url(../image/line_c.gif) 0 bottom repeat-x; overflow:hidden; margin-top:15px; text-decoration: none; }
.xw_xxktop .sec1,.xw_xxktop .sec2{display:block;float:left;width:auto;white-space:nowrap;height:35px;line-height:34px;padding:0 14px;font-size:18px;color:#333;}
.xw_xxktop .sec1:hover,.xw_xxktop .sec2,.xw_xxktop .sec2:hover{ color:#fff; background:#0e8ad3; text-decoration: none; }


.bk_yztitle { height:35px; background:url(../image/line_c.gif) 0 bottom repeat-x; overflow:hidden;text-decoration: none; }



.bk_yztitle h2 a { display:block; float:left; width:auto; white-space:nowrap; height:35px; line-height:34px; padding:0 14px; font-size:18px; color:#fff; background:#0e8ad3; text-decoration: none; font-weight: normal; }
.bk_yztitle h2 { display:block;float:left;width:auto;white-space:nowrap;height:35px;line-height:34px;font-size:18px;color:#333;}
.bk_yztitle h2 p { display:block; float:left; width:auto; white-space:nowrap; height:35px; line-height:34px; padding:0 14px; font-size:18px; color:#fff; background:#0e8ad3; text-decoration: none; font-weight: normal; }

.bk_yztitle em { float:left; padding-left:10px; height:15px; overflow:hidden; float: right; color:#999; padding-top:5px; }
.bk_yztitle .r_apn { color:#666; padding-top:3px; word-wrap:normal; float: right; padding-top:8px; line-height:22px; padding-right:10px; }
.bk_yztitle .r_apn a { margin-left:5px; margin-right:5px; color:#666; text-decoration: none; word-wrap:normal; }
.bk_yztitle .r_apn a:hover { text-decoration: none; color: #000000; }
.bk_yztitle .peih_tab { float:right; margin-top:5px; }
.bk_yztitle .peih_tab span { margin-left:5px; margin-right:5px; height:24px; color:#ba100d; }
.bk_yztitle .peih_tab .on { color:#000000; }

.bk_yztitle ul {width:470px;height:33px; overflow:hidden;line-height:30px; margin-right:15px; float:right; text-align: right; }
.bk_yztitle ul li{ vertical-align:bottom; float: right; color:#666; padding-top:8px; line-height:22px;}

.bk_yztitle ul li a{padding-left:15px; padding-right:15px;float:left;font-size:14px!important;ine-height:22px; height:22px; overflow:hidden; font-weight: normal;  border-right-width: 1px; border-right-style: solid; border-right-color: #cccccc;  color:#0764c3;}

.bk_yztitle ul a:hover{ color:#dd0000; text-decoration: none; }
.bk_yztitle ul .right {font-size: 12px; float:right;}


.xw_list{height:190px;padding:14px 0 0 0;line-height:28px;font-size:16px;overflow:hidden;}
.xw_list ul li{width:470px;height:33px;line-height:30px;vertical-align:bottom;padding-left:19px;background:url(../image/icon.gif) 0 12px no-repeat;overflow:hidden;color:#666;}
.xw_list ul li a{float:left;font-size:16px;width:420px;height:33px;overflow:hidden;}
.xw_list ul li a:hover{ color:#dd0000; text-decoration: none; }
.xw_list ul li .right {font-size: 12px; float:right;}
.xw_list ul li img{float:left;padding-top:9px !important;}


.xw_list_1{height:265px;line-height:28px;font-size:16px;overflow:hidden;}
.xw_list_1 ul li{width:470px;height:33px;line-height:30px;vertical-align:bottom;padding-left:19px;background:url(../image/icon.gif) 0 12px no-repeat;overflow:hidden;color:#666;}
.xw_list_1 ul li a{float:left;font-size:15px;width:420px;height:33px;overflow:hidden;}
.xw_list_1 ul li a:hover{ color:#dd0000; text-decoration: none; }
.xw_list_1 ul li .right {font-size: 12px; float:right;}
.xw_list_1 ul li img{float:left;padding-top:9px !important;}

.xw_list_1 ul .li_id_1 a{ font-size:16px; font-weight: bold;color:#2c6cb4; }
.xw_list_1 ul .li_id_5 a{ font-size:16px; font-weight: bold;color:#2c6cb4; }


.san_yznr{line-height:28px;font-size:16px; padding-left:7px; padding-top:7px;}
.san_yznr ul li{width:324px;height:35px;line-height:35px;vertical-align:bottom;padding-left:19px;background:url(../image/icon.gif) 0 15px no-repeat;overflow:hidden;color:#666; float:left;}
.san_yznr ul li a{float:left;font-size:16px;}
.san_yznr ul li .left{width:280px;height:30px;}
.san_yznr ul li a:hover{ color:#dd0000; text-decoration: none; }
.san_yznr ul li .right {font-size: 12px; float:right;}
.san_yznr ul li img{float:left;padding-top:9px !important;}


.san_yznr2{line-height:28px;font-size:16px; padding-left:7px; padding-top:7px; width:744px;overflow:hidden; }
.san_yznr2 ul li{width:324px;height:35px;line-height:35px;vertical-align:bottom;padding-left:19px;background:url(../image/icon.gif) 0 15px no-repeat;overflow:hidden;color:#666; float:left; margin-right:26px;}
.san_yznr2 ul li a{float:left;font-size:16px;}
.san_yznr2 ul li .left{width:280px;height:30px;}
.san_yznr2 ul li a:hover{ color:#dd0000; text-decoration: none; }
.san_yznr2 ul li .right {font-size: 12px; float:right;}
.san_yznr2 ul li img{float:left;padding-top:9px !important;}





.yq_zx_news { margin-bottom:15px;}
.yq_zx_news .nr_fd { width:580px;overflow:hidden; float:left; }
.yq_zx_news .nr_huandeng { width:580px; height:385px; padding:0px;float:left; overflow:hidden; }
.yq_zx_news .nr_shiping { width:482px; height:270px; padding:2px; border:1px #d0d0d0 solid; float:left; overflow:hidden; margin-top:8px; }
.nr_shiping .video_nav { background:url(../image/video_nav_bg.gif) no-repeat; height:30px; }
.nr_shiping .video_nav dt { width:130px; float:left; padding-top:3px; padding-left:6px; }
.nr_shiping .video_nav dd { width:50px; float:right; text-align:right; padding-top:6px; padding-right:5px; }
.yq_zx_news .nr_news { width:490px;overflow:hidden; float: right;  }
.yq_zx_news .ty_san { width:332px; float:left; }
.yq_zx_news .ty_yzsan { width:355px; float:left; margin-right:17px;}

.yq_zx_news .ty_tong { width:727px; float:left; margin-right:17px;}

.yq_zx_news .nr_yxsan { width:355px; height:324px; overflow:hidden; float:left; }

.yq_zx_news .nr_yxsan2 { width:727px; height:287px; overflow:hidden; float:left; }

.yq_zx_news .pic_san { width:1100px; height:328px; overflow:hidden; float:left;  margin-bottom:7px;}
.yq_zx_news .nr_san { width:322px; height:292px; overflow:hidden; float:left; border:1px #d0d0d0 solid; }
.yq_zx_news .nr_zhuanti { width:322px; height:800px; overflow:hidden; float: right; border:1px #d0d0d0 solid; background-color:#fcfcfc; }
.san_nr{background-color:#ffffff !important;}
.san_nr ul { padding:3px; width:310px; }
.san_nr li { padding-left:5px; height:30px; line-height:30px; padding-top:3px; overflow:hidden; border-bottom:#ddd2c0 1px dashed; }
.san_nr li span { width:58px; float:right; color:#999999; text-align:right }
.san_nr li a, .newlist li a:visited { font-size:14px; color:#444444; }
.san_pic .pic { margin:7px; border-bottom:#ddd2c0 1px dashed; padding-top:7px; margin-bottom:0px; }
.san_pic .pic .z { float:left; width:115px; padding-top:7px; }
.san_pic .pic .z img { }
.san_pic .pic .y { float: right; width:190px; }
.san_pic .pic .y .title { height:26px; line-height:26px; width:190px; overflow:hidden; }
.san_pic .pic .y .title a { height:26px; line-height:26px; font-size:14px; color:#ba100d; text-decoration: none; }
.san_pic .pic .y .desc { height:70px; line-height:22px; width:190px; overflow:hidden; }
.san_pic .pic .y .desc a { line-height:22px; color:#444444; ; text-decoration: none; }
.san_pic .list { padding-left:5px; height:30px; line-height:30px; padding-top:4px; overflow:hidden; border-bottom:#ddd2c0 1px dashed; font-size:14px; color:#444444; margin-left:5px; margin-right:5px; }
.san_pic .list a { height:30px; line-height:30px; padding-top:3px; font-size:15px; color:#444444; }
.san_pic .list span { width:58px; float:right; color:#999999; text-align:right }
.shuzi_nr { margin-bottom:7px; }
.shuzi_nr ul { padding:3px; width:310px; }
.shuzi_nr li { height:26px; width:94px; line-height:26px; float:left; overflow:hidden; border:#ddd2c0 1px solid; background-color:#e9e9e9; text-align: center; margin-left:6px; margin-top:5px; }
.shuzi_nr li a { text-decoration: none; }
.shuzi_nr li a:hover { color: #000000; text-decoration: none; }
.zhuanti_nr ul { padding:5px; width:310px; }
.zhuanti_nr li { height:75px; width:335px; line-height:26px; float:left; overflow:hidden; border:#ddd2c0 1px solid; background-color:#e9e9e9; text-align: center; margin-left:14px; margin-top:14px; margin-bottom:0px; }
.zhuanti_nr li img { height:75px; width:335px; }
.zhuanti_nr li a { text-decoration: none; }


.nr_pic_jy li { height:220px; width:195px; line-height:26px; float:left; overflow:hidden; border:#ddd2c0 1px solid; background-color:#e9e9e9; text-align: center; margin-left:15px; margin-top:12px; margin-bottom:0px; }
.nr_pic_jy li img { height:220px; width:195px; }
.nr_pic_jy li a { text-decoration: none; }



.img_jjbox{width:1060px;height:394px;overflow:hidden;position:relative; margin:20px;}
.img_jjbox ul li{position:absolute;width:168px;height:126px;overflow:hidden;}
.img_jjbox ul li a{display:block;width:100%;height:100%;position:relative;overflow:hidden;cursor:pointer;}
.img_jjbox ul li a img{width:100%;height:100%;cursor:pointer;}
.img_jjbox ul li a .con_imgname{display:block;width:100%;height:40px;line-height:40px;text-align:center;font-size:15px;color:#fff;position:absolute;left:0;bottom:-40px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background:url(https://www.yingzhounews.net/TMP/images/text_bg.png) repeat;cursor:pointer;}
.img_jjbox ul li a:hover .con_imgname{bottom:0;-moz-transition:all 0.3s;-o-transition:all 0.3s;-webkit-transition:all 0.3s;transition:all 0.3s;}
.img_jjbox ul li.num1{left:0;top:0;width:346px;height:260px;}
.img_jjbox ul li.num2{left:0;top:268px;}
.img_jjbox ul li.num3{left:178px;top:268px;}
.img_jjbox ul li.num4{left:356px;top:0;}
.img_jjbox ul li.num5{left:356px;top:134px;}
.img_jjbox ul li.num6{left:356px;top:268px;}
.img_jjbox ul li.num7{left:535px;top:0;}
.img_jjbox ul li.num8{left:535px;top:134px;}
.img_jjbox ul li.num9{left:535px;top:268px;} 
.img_jjbox ul li.num10{left:714px;top:0;}
.img_jjbox ul li.num11{left:892px;top:0;}
.img_jjbox ul li.num12{left:714px;top:134px;width:346px;height:260px;}


/* 新闻头条 */
.nr_news .box_hot { width:480px; padding:5px; height:112px; overflow:hidden; margin:0 auto; }
.nr_news .box_hot h3 { width:480px; height:40px; overflow:hidden; line-height:40px; text-align:center; font-size:20px; font-family: "微软雅黑", "Tahoma", "Helvetica", "SimSun", "sans-serif"; }
.nr_news .box_hot h3 a {  text-decoration: none; font-size:20px; color:#dd0000;font-family: "微软雅黑", "Tahoma", "Helvetica", "SimSun", "sans-serif"; }
.nr_news .box_hot p { width:480px; height:72px; overflow:hidden; line-height:24px;font-size:14px;color:#666; text-align:left; text-indent: 2em; letter-spacing: 1px;  }
.nr_news .box_hot p a { color:#666; text-decoration: none; font-size:14px; }

.nr_news .box_hot p .hong { color:#dd0000!important; text-decoration: none; font-size:14px; }


.nr_news .box_hot h3 a:hover, .box_2 .box_hot p a:hover { color:#0679a9; }


.nr_news .bg_no3 { border-bottom:none; padding-bottom:0px; }
.nr_newsls { margin-bottom:7px; margin-left:10px; }
.nr_newsls ul { padding:3px; width:455px; }
.nr_newsls li { padding-left:5px; height:34px; line-height:34px; padding-top:4px; overflow:hidden; border-bottom:#ddd2c0 1px dashed; }
.nr_newsls li span { width:58px; float:right; color:#999999; text-align:right }
.nr_newsls li a, .newlist li a:visited { font-size:15px; color:#444444; }
.video_nr { padding:8px; width:480px;}
.video_nr .pic { width:230px; height:162px; overflow:hidden; float:left; margin-right:6px; display:block; position:relative; margin-top:7px; }
.video_nr .pic .img div { width:32px; height:32px; position:absolute; left:90px; top:50px; }
.video_nr .pic .img { width:220px; height:130px; padding:2px; border:1px #d0d0d0 solid; display:block; }
.video_nr .pic .txt { color:#ba100d; text-decoration: none; line-height:25px;font-size:13px; float:left; padding-left:5px; }
.video_nr .pic .txt a{font-size:13px; }
.video_nr .list { width:195px; font-size:13px;float:left; background:url(../image/video_ico.gif) no-repeat left 8px; padding-left:5px; height:26px; line-height:26px; overflow:hidden; color:#444444; padding-left:22px; margin-right:22px; }
.video_nr .list a { height:26px; font-size:13px;line-height:26px; color:#444444; }
.video_nr .list span { width:58px; float:right; color:#999999; text-align:right }

.bk_title { width:100%; float:left; margin-bottom:3px; height:42px; border-bottom:1px solid #F4F4F4 !important; background-image: url(../image/sidetitle.png); background-repeat: repeat; background-position: left center; }


.bk_title2 { height:35px; background-color:#fcfcfc; border-bottom:1px #d0d0d0 solid; }
.bk_title h2 a { font-size:18px; font-family: "微软雅黑", "Tahoma", "Helvetica", "SimSun", "sans-serif"; color:#3075c2; text-decoration: none; font-weight: bold; }
.bk_title h2 {  font-family: "微软雅黑", "Tahoma", "Helvetica", "SimSun", "sans-serif";float:left; padding-left:10px; font-size:18px; line-height:38px; text-decoration: none;}
.bk_title h2 a:hover { text-decoration: none; color: #3075c2; }
.bk_title em { float:left; padding-left:10px; height:15px; overflow:hidden; float: right; color:#999; padding-top:5px; }
.bk_title .r_apn { color:#666; padding-top:3px; word-wrap:normal; float: right; padding-top:8px; line-height:22px; padding-right:10px; }
.bk_title .r_apn a { margin-left:5px; margin-right:5px; color:#666; text-decoration: none; word-wrap:normal; }
.bk_title .r_apn a:hover { text-decoration: none; color: #000000; }
.bk_title .peih_tab { float:right; margin-top:5px; }
.bk_title .peih_tab span { margin-left:5px; margin-right:5px; height:24px; color:#ba100d; }
.bk_title .peih_tab .on { color:#000000; }
#nav_guide { margin-bottom:5px; }
.MainTable .dragTable { width:100%; margin-top:5px; overflow:hide; border:0px #9ACAD6 solid; }
.MainTable .dragTable .head { background: none; height:30px; padding-top:0px; border:1px #d0d0d0 solid; background-color:#fcfcfc; }
.MainTable .dragTable .head .L { background:none; width:10px; height:30px; margin-left:0px; float:left; }
.MainTable .dragTable .TAG { float:left; color:#c70412; font-weight:bold; padding:9px 5px 0 0px; height:24px; font-size:14px; }
.MainTable .dragTable .TAG a { color:#c70412; font-size:14px; }
.MainTable .dragTable .morelink { float:left; padding-top:8px; padding-left:10px; }
.MainTable .dragTable .morelink a { margin-left:10px; text-decoration: underline; }
.MainTable .dragTable .more { float:right; padding-right:1em; padding-top:8px; }
.MainTable .dragTable .more a { color:#666; }
.MainTable .dragTable .more a:hover { color:#c70412; text-decoration: none; }
.yq_link { width:1100px; overflow:hidden;  margin-top:2px; }
.yq_link_nr { padding:15px; }
.yq_link_nr .link_mc { float:left; width:98px; font-size:14px; text-align: right; height:24px; line-height:24px; }
.yq_link_nr .link_nr { width:890px; float: left; ; }
.yq_link_nr .link_nr ul { }
.yq_link_nr .link_nr li { height:24px; line-height:24px; float:left; }
.yq_link_nr .link_nr li a { text-decoration: none; padding-left:8px; padding-right:8px; font-size:14px; }
.yq_link_nr .link_nr li a:hover { color: #FF0000; text-decoration: none; }
.yq_copyright { border-top-width: 5px; border-top-style: solid; border-top-color: #0e8ad3; padding-top:20px; padding-bottom:30px; line-height:22px; color:#595959; text-decoration: none; text-align: center; margin-top:8px; }
.yq_copyright a { color:#595959; text-decoration: none; }
.yq_copyright a:hover { color:#595959; text-decoration: none; }
#yq_ad_a2 { width:990px; height:80px; overflow:hidden; }
#yq_ad_a2r .FL { width:690px; height:80px; overflow:hidden; float:left; }
#yq_ad_a2 .FR { width:290px; height:80px; overflow:hidden; float:right; }

.Caidan{ width:84px;
position:fixed;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));right:50%; margin-right:-650px;top:235px;border-radius:0px;}
.Caidan .Cd_01{ margin-bottom:10px; text-align: center;}
.Caidan div a{display:block; width:82px; margin-bottom:3px;}

.Caidan_1{ width:84px;
position:fixed;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));left:50%; margin-left:-600px;top:235px;border-radius:0px;}
.Caidan_1 .Cd_01{ margin-bottom:10px; text-align: center;}
.Caidan_1 div a{display:block; width:82px; margin-bottom:3px;} 





/**页面导航开始***/
.yz_ui_Site_nav{width:1050px; padding:15px; padding-bottom:0px;}
.yz_ui_Site_nav ul{line-height: 35px;padding-left:15px;font-size: 16px;}
.yz_ui_Site_nav ul:after{content: '';display: block;clear: both;}
.yz_ui_Site_nav ul ol,.yz_ui_Site_nav ul li{float: left;}
.yz_ui_Site_nav ul ol{height:35px; width:25px;line-height:35px;vertical-align:bottom;padding-left:5px;background:url(../image/wz_ico.png) 0 6px no-repeat;overflow:hidden;color:#666;}
.yz_ui_Site_nav ul li a{ color:#666; font-size: 16px; text-decoration: none;  font-family: "微软雅黑", "Tahoma", "Helvetica", "SimSun", "sans-serif";}
.yz_ui_Site_nav ul li a:hover{color:#dd0000;}
.yz_ui_Site_nav ul li a:before{ content:'>'; display: inline-block; color: #999; padding:0px 5px; }
.yz_ui_Site_nav ul li a.home:before{content:'';}
/**页面导航结束***/


.ArticlMainContainer .RightCnt { background-color:#FFFFFF!important;}



.LeftBoxInfo .sorts li a{ background: #ffffff!important; color: #888!important;}
.LeftBoxInfo .sorts li.ck a{background: #015293!important;color: #FFF!important;}
.LeftBoxInfo .sorts li a:hover{background: #F90!important;color: #fff!important;}

.ArticlMainContainer{background-color:#FFFFFF!important; width:1000px !important; padding:30px !important; margin-bottom:30px!important;}


.img-140-190 img {background-color:#FFFFFF!important; width:50px !important;}
.zhuanti_nr_2 { width:1100px;height:90px; margin:auto; margin-bottom:15px;}
.zhuanti_nr_2 li { height:90px; width:355px; line-height:26px; float:left; overflow:hidden; border:#ddd2c0 1px solid; background-color:#e9e9e9; text-align: center; margin-right:14px; margin-bottom:10px; }
.zhuanti_nr_2 li img { height:90px; width:355px; }
.zhuanti_nr_2 li a { text-decoration: none; }
.ad_id_3 {margin-right:0px !important;}
.ad_id_6 {margin-right:0px !important;}