/*获取积分弹窗*/
.receive-points-popup{position: fixed;top:50%;left: 50%;width:140px;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);transform: translate(-50%,-50%);background: rgba(0,0,0,.6);padding: 18px 0;border-radius: 10px;z-index: 9999;}
.receive-points-popup .animate-box{width: 80px;height: 80px;background-image: url("../image/img_points_animate.png");background-size:auto 100%;background-repeat:no-repeat;margin: 0 auto;-webkit-animation: swiper 2.4s steps(24) .1s backwards;-o-animation: swiper 2.4s steps(24) .1s backwards;animation: swiper 2.4s steps(24) .1s backwards;}
.receive-points-popup p{color: #fff;font-size: 14px;text-align: center;margin-top: 15px;font-weight: bold;}
@-webkit-keyframes swiper {
    0%{
        background-position: -80px 0;
    }
    100%{
        background-position: -2000px 0;
    }
}
@-o-keyframes swiper {
    0%{
        background-position: -80px 0;
    }
    100%{
        background-position: -2000px 0;
    }
}
@keyframes swiper {
    0%{
        background-position: -80px 0;
    }
    100%{
        background-position: -2000px 0;
    }
}