/* new_share */
	    .main {
	        background: none;
	    }
	
	    .zj_banner {
	        width: 100%;
	        height: 260px;
	        background: url(../image/2010061232539851074.png) center top no-repeat;
	        background-size: 100% 100%;
	        position: relative;
	    }
	
	    .zjSearch {
	        width: 717px;
	        margin: 0 auto;
	        padding-top: 72px;
	    }
	
	    .zjSearch input {
	        float: left;
	    }
	
	    .zj_banner .zj_bannerWrap {
	        padding-top: 0;
	    }
	    .zjSearch input[type='text'] {
	        width: 575px;
	        height: 62px;
	        line-height: 62px;
	        font-size: 15px;
	        color: #000000;
	        padding-left: 15px;
	    }
	
	    .zjSearch input[type='submit'] {
	        width: 142px;
	        height: 62px;
	        line-height: 62px;
	        padding-left: 0;
	        font-size: 21px;
	        color: #fff;
	        border: 0;
	        outline: none;
	        background: #ec940a;
	    }
	
	    input::placeholder {
	        color: #999999;
	        font-size: 16px;
	    }
	
	    /* 澶у閮藉湪鎼  */
	    .hotWord {
	        font-size: 14px;
	        color: #fff;
	        margin-top: 10px;
	    }
	
	    .hotWordTitle {
	        color: #fff;
	    }
	
	    .hotWord li {
	        float: left;
	        margin-right: 20px;
	        cursor: pointer;
	        color:#fff;
	    }

	
	
	
					<style>
					.hotWord {
						opacity: 1;
					}
					
					.zjSearch input[type='submit'] {
						padding-left: 0;
						background: #ec940a;
					}


					.zj_app_banner{
						display: none;
					}
					@media only screen and (max-width: 767px) {
						.zj_app_banner{
							display: block;
						}
	
						.zj_app_banner{
							width: 100%;
							height: auto;
							background: url(../image/2101141413548788665.png) center center no-repeat;
							background-size: 100% 100%;
							position: relative;
						}
						/*妫€绱㈡鏍峰紡*/
						.zjSearch {
							width: 100%;
							margin: 0 auto;
							padding: 6vw 10%;
						}
						
						.zjSearch input {
							float: left;
						}
						
						.zjSearch input[type='text'] {
							width: 84.1%;
							height: 8vw;
							line-height: 8vw;
							font-size: 3vw;
							color: #000;padding-top: 2px;
							padding-left: 3vw;
						}
						
						.zjSearch input[type='submit'] {
							width: 15.9%;
							height: 8vw;
							line-height: 8vw;
							/*padding-left: 50px;*/
							font-size: 3vw;
							color: #fff;
							border: 0;
							outline: 0;
							/* background: #ec940a url(http://zjjcmspublic.oss-cn-hangzhou-zwynet-d01-a.internet.cloud.zj.gov.cn/jcms_files/jcms1/web3096/site/picture/0/1901051423596518249.png) no-repeat 27px center */
						}
						
						input::placeholder {
							color: #999;
							font-size: 2vw;
						}
						
						.hotWord1 {
							font-size: 1rem;
							color: #fff;
							opacity: 0.8;
							margin-top: 2vw;
							line-height: 4vw;
						}
						
						.hotWord1 li {
							float: left;
							margin-right: 2vw;
							cursor: pointer;
							line-height: 4vw;
							font-size: 3.7vw;
							color: #ffffff;
						}
						.hotWord1 p{    
							font-size: 3.7vw;
							font-weight: normal;
							font-stretch: normal;
							line-height: 4vw;
							letter-spacing: 0rem;
							color: #ffffff;
						}
						
					}
	@media only screen and (min-width:6.25rem) and (max-width:47.9375rem) {
	input::-webkit-input-placeholder {
	    font-size: 14px;
	    color: #BEBEBE;
	    letter-spacing: 0;
	}
	
	input:-moz-placeholder {
	    font-size: 14px;
	    color: #BEBEBE;
	    letter-spacing: 0;
	}
	
	input::-moz-placeholder {
	    font-size: 14px;
	    color: #BEBEBE;
	    letter-spacing: 0;
	}
	
	input:-ms-input-placeholder {
	    font-size: 14px;
	    color: #BEBEBE;
	    letter-spacing: 0;
	}
	
	}
	
	
	
	/* old_share */
	    .hotWord {
	        opacity: 1;
	    }
	    
	    .zjSearch-old input[type='submit'] {
	        padding-left: 0;
	        background: #ec940a;
	    }
	    
	    .main {
	        background: none;
	    }
	    
	    .zj_banner {
	        width: 100%;
	        height: 260px;
	        background: url(../image/2010061232539851074.png) center top no-repeat;
	        background-size: 100% 100%;
	        position: relative;
	    }
	    
	    .zjSearch-old {
	        width: 685px;
	        margin: 0 auto;
	        padding-top: 72px;
	    }
	    
	    .zjSearch-old input {
	        float: left;
	    }
	    
	    .zj_banner .zj_bannerWrap {
	        padding-top: 0;
	    }
	    
	    .zjSearch-old input[type='text'] {
	        width: 565px;
	        height: 62px;
	        line-height: 62px;
	        font-size: 20px;
	        color: #000000;
	        padding-left: 15px;
	    }
	    
	    .zjSearch-old input[type='submit'] {
	        width: 120px;
	        height: 62px;
	        line-height: 62px;
	        padding-left: 0;
	        font-size: 24px;
	        font-weight: bold;
	        color: #fff;
	        border: 0;
	        outline: none;
	        background: #ec940a;
	    }
	    
	    input::placeholder {
	        color: #999999;
	        font-size: 20px;
	    }
	    /* 澶у閮藉湪鎼  */
	    
	    .hotWord {
	        font-size: 18px;
	        color: #fff;
	        margin-top: 10px;
	    }
	    
	    .hotWordTitle {
	        color: #fff;
	    }
	    
	    .hotWord li {
	        float: left;
	        margin-right: 20px;
	        cursor: pointer;
	        color: #fff;
	    }