/*头部*/
.zf_top{ background:#fff; height:205px; border-bottom:2px solid #a80506}
.zf_main{ width:1040px; margin:0 auto; position:relative;overflow:hidden;}
.zf_timg{ float:left;}
.zf_topr{ float:right; width:440px; margin:60px 0 0 0;}
.zf_topr form{ float: left; width:170px;}
.textlb{ width:129px; height:18px; line-height:18px; border:0; background:#eee; float:left;font-family: none;}
.h1212{ float:left; width:22px; height:18px; background:url(../image/2021072114200595011.jpg) center no-repeat; border:0;}
.bdsharebuttonbox{ float:left;}
a.zf_yx{ float:left; width:22px; height:20px; background-image:url(../image/2021072114202626079.jpg);background-position:0 0; margin:0 15px 0 10px}
a.zf_yx:hover{opacity:.8;filter:alpha(opacity=80);}
a.zf_weixin{ float:left; width:22px; height:20px; background-image:url(../image/2021072114202626079.jpg);background-position:-39px 0; margin:0 15px 0 10px}
a.zf_weixin:hover{opacity:.8;filter:alpha(opacity=80);}
a.zf_weibo{ float:left; width:22px; height:20px; background-image:url(../image/2021072114202626079.jpg);background-position:-79px 0; margin:0 15px 0 10px}
a.zf_weibo:hover{opacity:.8;filter:alpha(opacity=80);}
.h121211{ float:left; width:26px; height:16px;  border:1px solid #b6b9b2; border-left:0;}
.textlb1{ width:129px; height:14px; line-height:14px; border:0; background:#fff; float:left; border:1px solid #b6b9b2;border-right:0;}
a.zf_login{ float:left; font-size:12px; color:#919191; margin:3px 5px 0 10px}
.zf_nav{ float:left; width:100%; padding:40px 0 0; position:relative;}
.zf_nav li{ float:left; padding:0 25px;text-align:center; background:url(../image/2021072010273780301.jpg) right center no-repeat; height:20px; line-height:20px;}
.zf_nav li a{ font-size:16px; color:#a80506;}
.textlb::placeholder{color:#000;font-size:13px;font-weight:500;}
/*foot*/
#_ideConac { display:inline-block;vertical-align:-13px;}
.foot{background:#fff;  height:180px; line-height:32px; font-size:12px;width:961px; }
.foot-m{ text-align:left; font-size:12px; color:#000; padding:0 0 0;}
.foot-m a{ font-size:12px; color:#000}
.wy_er{ display:inline-block; margin:0 10px; line-height:1; width:80px; text-align:center;}
.wy_wj{text-align:center;}
.lj_ya{ height:40px; line-height:40px; background:#c81207; color:#fff; margin:0 0 20px;}
.lj_ya a{ margin:0 10px ;color:#fff;}
.zf_foot{ float:left; width:1000px; padding:0 20px; background:#fff;}
.zf_foot1{ float:left; width:961px; padding:0 20px; background:#fff;}
.foot1{background:#fff;  height:180px; line-height:32px; font-size:12px;width:1001px; margin:0 auto; }
.foot2{background:#fff;  height:180px; line-height:32px; font-size:12px; margin:0 auto; }
.footer2_list{height:39px; padding-left:16px;border-top: 1px solid #bababa;padding-top: 13px;}
.footer2_list li{float:left; margin-top:0; font-size:14px; padding-right:15px; line-height:25px;}
.footer2_list li a{ color:#000}

.foot1_l{
    float: left;
    width: 36%;
}
.foot1_m{ 
    float: left;
    width: 43%;
}
.foot1_m p{padding-left:20px;}
.foot1_m p b{font-weight:500;margin-right:10px;}
.foot1_r{    
     float: left;
     width: 21%;
 }
.head_top{height:35px;background-color:#af0a00;line-height:35px;display:none;}
.head_top a{font-size:16px;margin-left:15px;color:#fff;}
.nav_btn{display:none;width:32px;height:24px;background:url(../image/2021081616165431796.png) no-repeat center 0px;float:right;}
.sy_nav_mobile{display:none;    position: absolute;left: 0; top:35px;transition: all .3s;background-color:#fff; box-shadow: 0 10px 20px #999;}
.sy_nav_mobile li a {
    padding: 14px 12px 14px 44px;
    color: #5c6773;
    border-bottom: 1px solid #b9bec4;
    background-color: #e9ecee;
    text-decoration: none;
    position: relative;
    display: block;
}
.sy_nav_mobile li b{width: 8px;height:8px;border-radius: 4px;background-color: #5c6773;display: block;
    float: left;
    margin-top: 5px;
    margin-right: 15px;}

.close-menu-btn {
    position: absolute;
    right: 34px;
    top: 15px;
    font-size: 24px;
    padding: 0 10px;
}
ul.mobile-menu {
    display: block;
    top: -10px;
    width: 100%;
    background: #fff;
    box-shadow: 1px 2px 5px #999;
    border-radius: 0 0 5px 5px;
}
.checked{height:345px!important;}


/*手机适配*/
@media screen and (max-width:640px) {
.zf_main {
    width: 100%;
}
.zf_timg {
    width: 100%;}
.head_top{display:block;}
.form1{float: right;
    margin-top: 10px;
    margin-right: 3px;}
.zf_topr .form2{width: 100%;
    margin-bottom: 10px}
.textlb {
    width: 65%;
    height: 35px;
    line-height: 35px;
    border: 0;
    background: #eee;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.h1212 {
    float: left;
    width: 35px;
    height: 35px;
    background: url(../image/2021081015032040595.png) center #af0a00 no-repeat;
    border: 0;
}
.nav_btn{display:block; margin: 0 10px;margin-top:10px;    background-size: 60%;}
.zf_login1,.bsxt_login{display:none;}
.sy_nav_mobile{display:block;width:100%;z-index: 100;height: 0; overflow: hidden;}
.close-menu-btn {
    display: block;
}
.zf_topr {
    float: right;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.zf_nav{display:none;}
.zf_top{height:auto;display:none;}
a.zf_yx{margin-left:0;}

/*首页foot*/
.foot1 {
    width: 100%!important;height:auto;padding-bottom:20px;overflow:hidden;padding:0!important;
}
.foot1_l {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.foot1_m {
    width: 100%;
}
.foot1_m table,.foot1_m table tbody,.foot1_m table tr{display:block;width:100%;}
.foot1_m table td{
       display:block;width:100%!important;text-align:center;
}
.foot1_r {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10px;
}
.foot1_m p {
    padding-left: 20px;
    line-height: 27px;
    height: auto;
}
.foot1_m p:last-child{margin-top:10px;}


}



/*foot*/
#_ideConac { display:inline-block;vertical-align:-13px;}
.foot{background:#fff;  height:180px; line-height:32px; font-size:12px;width:961px; }
.foot-m{ text-align:left; font-size:12px; color:#000; padding:0 0 0;}
.foot-m a{ font-size:12px; color:#000}
.wy_er{ display:inline-block; margin:0 10px; line-height:1; width:80px; text-align:center;}
.wy_wj{text-align:center;}
.lj_ya{ height:40px; line-height:40px; background:#c81207; color:#fff; margin:0 0 20px;}
.lj_ya a{ margin:0 10px ;color:#fff;}
.zf_foot{ float:left; width:1000px; padding:0 20px; background:#fff;}
.zf_foot1{ float:left; width:961px; padding:0 20px; background:#fff;}
.foot1{background:#fff;  height:180px; line-height:32px; font-size:12px;width:1001px; margin:0 auto; }
.foot2{background:#fff;  height:180px; line-height:32px; font-size:12px; margin:0 auto; }
.footer2_list{height:39px; padding-left:16px;border-top: 1px solid #bababa;padding-top: 13px;}
.footer2_list li{float:left; margin-top:0; font-size:14px; padding-right:15px; line-height:25px;}
.footer2_list li a{ color:#000}

.foot1_l{
    float: left;
    width: 36%;
}
.foot1_m{ 
    float: left;
    width: 43%;
}
.foot1_m p{padding-left:20px;}
.foot1_m p b{font-weight:500;margin-right:10px;}
.foot1_r{    
     float: left;
     width: 21%;
 }



/*手机适配*/
@media screen and (max-width:640px) {


/*首页foot*/
.foot1 {
    width: 100%!important;height:auto;padding-bottom:20px;overflow:hidden;padding:0!important;
}
.foot1_l {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.foot1_m {
    width: 100%;
}
.foot1_m table,.foot1_m table tbody,.foot1_m table tr{display:block;width:100%;}
.foot1_m table td{
       display:block;width:100%!important;text-align:center;
}
.foot1_r {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10px;
}
.foot1_m p {
    padding-left: 20px;
    line-height: 27px;
    height: auto;
}
.foot1_m p:last-child{margin-top:10px;}


}