.hotBanner{ width:1000px;  padding:6px 0px 2px 0;}
/*.hotBanner div{ width:488px; height:60px; overflow:hidden; margin-bottom:6px; text-align:center}*/
.hotBanner ul li{ height:60px; overflow:hidden; margin-bottom:6px;display:inline;}
.hotBanner .fl{float:left}
.hotBanner .fr{float:right}

dd{font-size:12px;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.mainCont{ width:1000px; margin:0 auto; margin-top:8px;}
.mainLeft{
	width:680px;
	float:left;
	font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";
}
.mainRight{
	width:310px;
	float:right;
}

.newslistArea{ border:1px solid #adceea;}
.newslistTitle{ height:26px;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";border-bottom:1px solid #adceea; padding-left:28px; line-height:26px; color:#214b75; background:url(../image/newslistTitle.jpg) no-repeat;}
.newslistTitle strong{ color:#1f376d;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.newslistTitle span{ margin:0 6px;}
.newslistBox,.newsInfoBox{ padding:10px 30px; background:#fff;}
.newslist{ margin-bottom:18px; }
.newslist li{ height:28px; padding-left:10px; line-height:28px; font-size:14px; background:url(../image/gloomy_ico.jpg) no-repeat left center;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.newslist li span{ float:right; color:#666;}
   .newslist li a:link,.newslist li a:visited{color:#333; text-decoration:none;}
   .newslist li a:hover{color:#c00; text-decoration:underline;}

.pictArea{ border-top:1px solid #adceea; clear:both;}
.cyfenxiangtb{
	width:100%;
	height:50px;
	text-align:center;
	overflow:hidden;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
}
.cyfenxiangtb img{ display:inline;padding-right:10px}

.pictTitle{ height:38px; line-height:38px; background:url(../image/listhotpictitle.jpg) repeat-x 0 0;}
.pictTitle h3{ margin-left:18px; padding-left:12px; font-size:14px; font-weight:bold; color:#1f376d; background:url(../image/pictTitle_ico.jpg) no-repeat left center;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.pictList{ width:680px; padding:8px 0; }
.pictList li{ display:inline; width:144px; height:124px; margin-left:20px; float:left; overflow:hidden;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.pictList li img{ display:block; width:140px; height:96px; border:1px solid #e5e6e6; padding:1px;}
.pictList li span{ display:block; line-height:22px; text-align:center;}
  .pictList li span a:link,.pictList li span a:visited{color:#737574; text-decoration:none;}
  .pictList li span a:hover{color:#C00; text-decoration:none;}

.transform{ height:34px; padding-left:16px; border-bottom:1px dashed #c1d3d9; line-height:34px; background:url(../image/transform_bg.jpg) repeat-x 0 0;}
  .size{ width:106px; padding-left:24px; margin-right:22px; background:url(../image/size_ico.jpg) no-repeat left center; color:#0a6ebe; float:left;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
  .size a{ margin:0 4px;}
     .size a:link,.size a:visited{color:#0a6ebe; text-decoration:underline;}
     .size a:hover{color:#C00; text-decoration:underline;}
.collect{ width:60px;padding-left:24px; float:left; background:url(../image/collect_ico.jpg) no-repeat left center;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
     .collect a:link,.collect a:visited{color:#0a6ebe; text-decoration:none;}
     .collect a:hover{color:#C00; text-decoration:none;}
.share{ width:200px; line-height:34px; color:#0a6ebe; float:right;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.bshare-custom{ width:140px; float:left;}
.bshare-custom a{margin-top:7px;}
.share strong{ display:block; float:left; font-weight:normal;}
.share span{ display:inherit; margin-left:6px; padding-left:20px; float:left;}
.share span.xinlang{ background:url(../image/xinlang_ico.jpg) no-repeat left center;}
.share span.qq{ background:url(../image/qq_ico.jpg) no-repeat left center;}
.share span.wangyi{ background:url(../image/wangyi_ico.jpg) no-repeat left center;}


.headline{ margin:10px 0; text-align:center;}
.headline dt{ line-height:40px; font-size:16px; font-weight:bold;}
.headline dd{ line-height:24px; color:#666;}
.headline dd span{ margin:0 20px;}
.summary{ border:1px solid #e4e4e4; padding:4px 8px; font-size:12px; background:#fff;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.summary p{ color:#666; line-height:22px;}
.summary p strong{ color:#e60012;}
.longtextArea p{ margin-top:10px; color: #333333;letter-spacing: 1px;  line-height:26px; font-family:"微软雅黑",Arial, Helvetica, sans-serif;font-size:15px;}
.longtextArea { margin-top:10px; color: #333333;letter-spacing: 1px;  line-height:28px; font-family:"微软雅黑",Arial, Helvetica, sans-serif;font-size:15px;}
.tadaytext{ height:38px; line-height:38px; }
.tadaytext h3{ margin-left:18px; padding-left:12px; font-size:14px; font-weight:bold; color:#2c2c2c; background:url(../image/pictTitle_ico.jpg) no-repeat left center;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}

.related{width:640px; padding:8px 20px; overflow:hidden}
.related li{
	display:block;
	width:310px;
	padding-left:10px;
	line-height:24px;
	float:left;
	background:url(../image/gray_ico.jpg) no-repeat left center;
	font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";
}
  .related li a:link,.related li a:visited{color:#014991; text-decoration:none;}
  .related li a:hover{color:#C00; text-decoration:none;}
.lineclear{ clear:both; height:1px; margin:0 8px; overflow:hidden; border-top:1px dashed #c1d3d9;}





.sidepart310{ margin-top:8px; border:1px solid #adceea;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.sidepart310 h3{ height:26px; padding-left:18px;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体"; line-height:26px; border-bottom:1px solid #adceea; color:#1f376d; font-size:12px; font-weight:bold; background:url(../image/listrightTitle.jpg) repeat-x 0 0;}
.sidepartBox{ padding:8px 10px;}
.sidepartList{ padding-left:22px; background:url(../image/number_ad1.jpg) no-repeat; overflow:hidden;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.sidepartList2{background:url(../image/number_ad2.jpg) no-repeat;overflow:hidden;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.sidepartList li{ width:250px; height:24px; line-height:24px; overflow:hidden;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}

.sidepicList{ height:122px; padding-top:8px;}
.sidepicList li{ display:inline; width:138px; height:122px; margin-left:10px; float:left;}
.sidepicList li img{ display:block; width:132px; height:90px; padding:2px; border:1px solid #b8b8b8;}
.sidepicList li span{ display:block; line-height:22px; text-align:center;}
.sidetextList{ clear:both; margin:6px 10px 6px;}
.sidetextList li{ height:24px; width:250px; padding-left:10px; line-height:24px; background:url(../image/gray_ico.jpg) no-repeat left center; overflow:hidden;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}

.leafletsmall{ margin-top:8px;}

.specialInfo{ height:120px; padding:6px;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.specialHot{ width:138px; float:left;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.specialInfo p{ width:150px; float:right; color:#666; line-height:20px; overflow:hidden}
.specialHot img{ display:block; width:132px; height:90px; padding:2px; border:1px solid #b8b8b8;}
.specialHot span{ display:block; line-height:22px; text-align:center;}

.videoList{ width:308px;padding-top:8px;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.videoList li{
	display:inline;
	width:138px;
	height:150px;
	margin-left:10px;
	float:left;
	font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";
}
.videoList li img{ display:block; width:132px; height:90px; padding:2px; border:1px solid #b8b8b8;}
.videoList li span{ display:block; line-height:22px; text-align:center;}
.videoText{ margin:0px 8px 4px;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}
.videoText li{ padding-left:25px; line-height:26px; background:url(../image/video_ico.jpg) no-repeat left center;font-family:"微软雅黑",Arial, Helvetica, sans-serif,"宋体";}



.picturebox{border:1px solid #adceea; background:url(../image/picturebox_bg.jpg) repeat-x 0 0;}
.headInfo{ margin:8px 0; text-align:center;}
.headInfo dt{ line-height:38px; font-size:18px; font-weight:bold; color:#333;}
.headInfo dd{ line-height:26px; color:#666;}
.headInfo dd span{ margin:0 10px;}
.biggraphics{ margin:12px 0;height:620px;}
.pagepic{ width:36px; float:left; position:relative;}
.pagepic span{ display:block; width:36px; height:59px; margin-top:250px;}
.pagepic strong{ width:12px; height:65px; padding:5px 7px 0;*height:60px; *padding:10px 7px 0;  font-weight:normal; position:absolute;background:url(../image/pagepic_btn.jpg) no-repeat;}
.pagepic strong.lookbig{ left:0; top:0; }
.pagepic strong.keep{ right:0; top:0;}

.enlarge{ display:block; width:926px; height:620px; overflow:hidden; text-align:center; float:left;}


.captionText{ padding:0 36px;}
.captionText p{ margin-top:6px;line-height:22px; text-indent:2em;}
.shareArea{  border-top:1px dashed #c7c7c7; margin:12px 36px; padding-top:12px;height:24px; line-height:24px;}
.shareArea span img{ vertical-align:middle; margin:0 8px;}

.albumsBox{ clear:both; height:105px; padding:10px 46px;}
.upalbums{ display:inline; width:102px; height:95px; padding:10px 8px 0; float:left; background:url(../image/albums_picbg.jpg) no-repeat;}
.upalbums img{ width:102px; height:68px;}
.upalbums span{ display:block; line-height:26px; text-align:center;}

.thresh{ display:inline; width:21px; height:22px; margin:0 15px; padding-top:48px; float:left;}
.thisalbumsArea{ display:inline; width:568px; height:70px; padding-top:18px; float:left; overflow:hidden;}
.thisalbumsList{ width:700px; height:70px;}
.thisalbumsList li{ display:inline; width:98px; height:64px; padding:2px; border:1px solid #7f7f7f; margin-right:12px;float:left; overflow:hidden;}
.thisalbumsList li.this{ border:1px solid #4ca9ff;}
.thisalbumsList li img{width:98px; height:64px;}

.interrelatedpic{ clear:both; margin-top:8px; border:1px solid #adceea;}
.interTitle{ height:33px; background:url(../image/interTitle.jpg) repeat-x 0 0;}
.interTitle h3{ padding:0 18px; border-right:1px solid #adceea; font-size:14px; font-weight:bold; color:#1f376d; line-height:33px; float:left;background:url(../image/interTitle_h3.jpg) repeat-x 0 0;}
.mitoList{ width:998px; padding:12px 0 5px;}
.mitoList li{ display:inline; width:130px; height:122px; margin-left:11px; float:left; overflow:hidden;}
.mitoList li img{ display:block; width:128px; height:96px; border:1px solid #cdcdcd;}
.mitoList li span{ display:block; line-height:24px; text-align:center;}
  .mitoList li span a:link,.mitoList li span a:visited{color:#737574; text-decoration:none;}
  .mitoList li span a:hover{color:#c00; text-decoration:none;}
.pageNav {
    clear: both;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 22px;
    margin: 18px 0;
    padding-left: 60px;
}

.pageNav .a1 {
    color: #DBE1E6;
}

.pageNav a.f12, .pageNav strong.f12, .pageNav span {
    font-size: 12px;
}
.pageNav a, .pageNav span {
    border: 1px solid #CCDBE4;
    height: 20px;
    line-height: 22px;
}
.pageNav a, .pageNav strong, .pageNav span {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    margin-right: 5px;
    overflow: hidden;
    padding: 0 8px;
}
.pageNav {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
