

.theContent{width: 1200px;margin: 0 auto;}
.contTitle{height: 18px;}
.contTitle span{display: inline-block;font-size: 18px;}
.contTitle span:nth-child(1){margin-right: 10px;}
.contTitle img{width: 18px;height: 18px;}
/*调查征集*/
.list{padding-bottom:30px;padding-top:20px;}
.list_ul{padding-left:20px;}
.list_ul li{color: #ef2d36;padding:10px 0 10px 0;background: url(http://www.czxww.cn/img/li_bg.jpg) no-repeat left center;border-bottom:1px dashed #ccc;height:33px;line-height: 33px;position: relative;}
.list_ul li a{color: black;font-size:16px;display: block;padding-right:70px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;float: left;}
.list_ul li span{font-size:12px;color:#934145;position: absolute;right:0;display: block;height:33px;top:10px;line-height: 33px;}
.list_ul li a:hover{color: #ef2d36;text-decoration: underline;}

/*页码*/
/*.pages{text-align: center;padding-bottom:50px;}
.pages ul{display: inline-block;}
.pages ul li{float: left;list-style: none;width: 53px;margin: 0 10px;}
.pages ul li a{color: black;border:1px solid #ccc;height:28px;width: 53px;display: inline-block;line-height: 28px;text-align: center;margin:0 5px;font-size: 16px;}
.pages ul li a:hover{background: #ef2d36;color:#fff;}*/


