@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9 */
  src: url('../font/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('https://www.jinxun.cc/Statics_n/fonts/8ec7579626db4faea713a08b484a189b.woff') format('woff2'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-top:before {
  content: "\e61f";
}

.icon-service:before {
  content: "\e649";
}

.icon-pen:before {
  content: "\e614";
}

.icon-link:before {
  content: "\e66f";
}

.icon-tag:before {
  content: "\e61a";
}

.icon-qqqun:before {
  content: "\e688";
}

.icon-search:before {
  content: "\e693";
}

.icon-bianji:before {
  content: "\e6b0";
}

.icon-user:before {
  content: "\e685";
}

.icon-qq:before {
  content: "\e62d";
}

.icon-phone:before {
  content: "\e674";
}

.icon-address:before {
  content: "\e675";
}

.icon-refresh:before {
  content: "\e699";
}

.icon-time:before {
  content: "\e619";
}

.icon-weibo-fill:before {
  content: "\e60e";
}

.icon-cry:before {
  content: "\e609";
}

.icon-close2:before {
  content: "\e612";
}

.icon-comment:before {
  content: "\e6d8";
}

.icon-friendcircle:before {
  content: "\e6da";
}

.icon-weibo:before {
  content: "\e6dd";
}

.icon-wechat:before {
  content: "\e6de";
}

.icon-qzone:before {
  content: "\e6df";
}

.icon-sofa:before {
  content: "\e6fd";
}

.icon-close:before {
  content: "\e639";
}

.icon-qr:before {
  content: "\e640";
}

.icon-view:before {
  content: "\e608";
}

.icon-douban-fill:before {
  content: "\e615";
}

.icon-quote:before {
  content: "\e630";
}

.icon-qq-fill:before {
  content: "\e61b";
}

.icon-wechat-fill:before {
  content: "\e64d";
}

.icon-thumb:before {
  content: "\e627";
}

.icon-chuanzhen:before {
  content: "\e6d6";
}

.icon-line:before {
  content: "\e611";
}

.icon-phone-fill:before {
  content: "\e6d3";
}

.icon-tuijian:before {
  content: "\e616";
}

.icon-mail:before {
  content: "\e600";
}

.icon-qzone-fill:before {
  content: "\e665";
}

.icon-setting:before {
  content: "\e632";
}

.icon-hot:before {
  content: "\e621";
}

.icon-category:before {
  content: "\e6a7";
}

.icon-right:before {
  content: "\e64b";
}

.icon-left:before {
  content: "\e64c";
}

.icon-down:before {
  content: "\e6a8";
}

