body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input,  blockquote, th, td {
    margin: 0px;
    padding: 0px;
}
body {
    color:#000;/*004276*/
	font-size: 12px;
    font-family: simsun,arial,helvetica,clean,sans-serif;
	
}
/* html {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	_filter:none;
} */
#cont img {cursor:pointer;}
.article_content img {cursor:pointer;}
a{color:#000;text-decoration:none;}/*004276*/
a:hover{color:#ba2636;text-decoration: underline;}

h2{font-size:14px;}
hr{margin:0 0 0 0;}
ul { list-style:none;}
img {border:0px;}
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;display: block;}
#logo{background: url(../image/dhtv_logo.png) no-repeat; 
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="../image/dhtv_logo.png");
_background:none;width:222px;height:53px;
}

#content{width:1000px;margin:0 auto;background:#fff;}
.kuan{width:1000px;margin:0 auto;padding:0;}
.pt{font-size:14px;}

/*zdy*/
.shadow{filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px #909090;/*opera或ie9*/}
.zt{font-size:14px;color:#333;}
.zt2{font-size:12px;color:#333;text-decoration:none;}
.ge{clear:both;height:15px;font-size: 1px;line-height: 0px;}
.ge3{clear:both;height:5px;font-size: 1px;line-height: 0px;}
.ge2{height:10px;border-top:1px solid #ccc;}

#head1{padding:0;}
.top1{width:100%;height:35px;background:url(../image/n_10.gif);line-height:35px;color:#ba2636;}
.top2{background:#000;height:100px;}

.top_tiao1{height:9px;background:#2b2b2b;}
	#nav2{height:80px;line-height:30px;border-bottom:1px solid #ccc;border-top:3px solid #901d22;background:#436372;}
	#nav{width:980px;margin:0 auto;}
	
		#nav ul{}
		#nav ul li{text-align:center;height:25px;line-height:30px;float:left;}
		.hh1{width:73px;}
		.shu1 {width:1px;font-size: 1px;line-height: 0px;}
		.shu {width:1px;height:20px;font-size: 1px;line-height: 0px;background:#526f7d;border-left:1px solid #2e4451;margin-top:5px;}
		#nav ul li a{display:block;color:#fff;font-size:12px;text-align:center;height:30px;text-decoration:none;padding:0 10px 0 10px;}
		#nav ul li a:hover{color:#fff;text-decoration:underline;}

.lm1{width:665px;float:left;}		
.left1{width:280px;border-right:1px solid #ccc;float:left;}
	.left1_1{width:250px;margin-left:10px;}
.mid1{width:384px;float:left;}
	.mid1_1{width:340px;margin-left:19px;}
	.kuang3{width:640px;min-height:200px;}
		.kuang3_0{width:638px;border:1px solid #ccc;border-top:none;min-height:200px;}
		.kuang3_1{width:93px;height:9px;background:#678c60;float:left;font-size: 1px;line-height: 0px;}
		.kuang3_2{width:545px;height:7px;background:#ccc;float:left;font-size: 1px;line-height: 0px;}
		.kuang3_3{padding-left:10px;height:38px;line-height:38px;border-bottom:1px solid #ccc;}
		.kuang3_4{padding:10px;line-height:24px;min-height:200px;height:auto;_height:200px;}
			.kuang3_4 ul li a{font-size:14px;}
		.kuang3_5{padding-right:10px;height:38px;line-height:38px;border-top:1px solid #ccc;text-align:right;}
			.kuang3_5 a{font-size:12px;color:#333;}
		
.right1{width:335px;float:left;}
	.right_c{background:#f0f0f0;width:325px;padding:10px 0 10px 10px;}
		.right_c1{background:#fff;width:313px;border:1px solid #d9d9d9;min-height:90px;height:auto;_height:90px;}
		
#link{padding:10px;line-height:24px;}
	#link ul li{text-align:center;height:25px;line-height:30px;float:left;padding:0 12px 0 10px;}
	#link ul li a{color:#004276;}
#foot{height:80px;line-height:30px;text-align:center;padding-top:20px;}

