
/*
	Style Name : Default.css
	Description: main css
	Author     : piaoxue
	Email      : sxf982 at 163.com
	QQ         : 25280716
*/

* {
	padding:0;
	margin:0;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0 auto;padding:0;border:0;outline:0;}
img     { border:0; }
img,input{ vertical-align:middle}
ul,li { list-style:none; margin:0px; padding:0px;}
a{ color:#383838;text-decoration:none}
a:hover{ text-decoration:underline;}
body {
	font-family:Arial, Helvetica,"宋体", sans-serif;
	font-size:12px;
	text-align:center;
	padding:0px;
	color:#464646;
	background-color:#FFFFFF;
	height:auto !important;
	margin:0 auto;
	Margin-Right: auto; 
	Margin-Left: auto;	
}
div,p,ul,li
{
  Margin-Right: auto; 
  Margin-Left: auto;
  margin:0 auto;
  padding:0 auto;
}
ul {
	list-style:none;
}

a {
	text-decoration:none;
	color:#383838;
}
a:hover {
	color:#383838;
}

img {
	border:none;
}
iframe
{
	margin:0 auto;
	padding:0px;
	border:0px;
}

.top{ background:url(../image/topbg_list.png) repeat-x; height:31px; overflow:hidden;line-height:31px;}
.wrap{ margin:0 auto; width:960px;}
.clear{ clear:both; font-size:0; line-height:0; height:0;}
.menubar{width:750px;height:31px;float:left;line-height:31px;padding-left:40px;background:url(../image/tb.png) no-repeat;text-align:left;}
.loginbar{width:150px;height:31px;line-height:31px;float:right;text-align:center;}

.hotbar{width:938px;height:100px;border:1px #cccccc solid;padding:10px;margin-top:10px;}
.hotbar li{text-align:left;height:20px;line-height:20px;}
.hotbar li a{font-size:12px; color:#000;}
.hotbar li a:hover{font-size:12px; color:#000;}
.hotleft{width:95px;float:left;height:100px;line-height:20px;text-align:left;}
.hotright{width:95px;float:right;height:100px;line-height:20px;text-align:left;}
.hotpic{width:728px;float:left;height:90px;line-height:20px;text-align:left;margin-top:5px;margin-left:8px;}

.navbar{width:540px;height:33px;background:url(../image/navicon.png) no-repeat; padding-left:110px;float:left;line-height:33px;font-size:12px;text-align:left;}

.pageleft{width:650px;height:auto;float:left;}
.pageright{width:300px;height:auto;float:right;}
.infocontent{width:608px;padding:20px;border-left:1px #cccccc solid;border-bottom:1px #cccccc solid;border-right:1px #cccccc solid;border-top:3px #004274 solid;text-align:left;}

.ccrjia
{
    width:298px;border:1px #cccccc solid;height:auto;margin-top:10px;text-align:left;
}
    .ccrjia ul li
    {
        text-align:left;
        line-height:22px;
    }
.videonews{width:628px;padding:10px;border:1px #cccccc solid;margin-top:10px;}

#Foot
{
	margin-top:5px;
	height:auto !important;
	height:30;
	min-height:30px;
	width:960px;
}

#liv_print_area {line-height:25px;font-size:14px;}
.liv_art_title {text-align:center;font-size:18px;font-weight:bold;}
.liv_art_info {text-align:center;}


.img_list1{ padding:10px; float:left;}
.img_list1 li{ width:136px; float:left; margin-left:7px; margin-right:7px;}
.img_list1 li a{ display:block; text-align:center; color:#787878;line-height:20px; }
.img_list1 li img{ padding:0;width:130px;height:95px;}

.img_list2{ float:left;}
.img_list2 li{ width:126px; float:left; margin-left:5px; margin-right:5px;}
.img_list2 li a{ display:block; text-align:center; color:#787878;line-height:20px; }
.img_list2 li img{ padding:0;width:120px;height:90px;}


.bds_more_n{
display: block;
font-family: '宋体',Arial;
height: 25px;
float: left;
cursor: pointer;
padding-bottom: 3px;
padding-left: 22px;}

/*搜索*/
.tiaojian{ margin:10px 0px; font-size:14px; font-weight:bold; color:#be0000; line-height:26px}
.tiaojian a{ font-size:12px; padding-left:5px; color:#333; font-weight:normal}
.listfen ul li a em{ font-style:normal;color:#be0000;}
.app_fd_main{ display:none;}
