/* CSS Document */
/***** 头部 *****/
.topIndex { background:#fff;}
.topAll { background:#fff; padding:0 0 12px;}

/**/
.hdNavOut { background-position:0 -110px;}
.hdNav { background-position:0 -110px; height:59px; overflow:hidden;}
.hdNavMain { width:970px; margin:0 auto; font-size:14px; color:#e7ecf1 !important; line-height:23px;}
.hdNavMain a { font-size:14px; color:#e7ecf1 !important; margin:0 8px; text-decoration:none;}
.hdNavMain a:hover { text-decoration:underline;}
.hdNavMain ul { height:59px; overflow:hidden;}
.hdNavMain li { border-right:#174071 1px solid; float:left; margin:6px 0 0 20px; }
.hdNavMain dt { height:23px; line-height:23px;}
.hdNavMain .pA { width:225px; padding-left:5px;}
.hdNavMain .pB { width:195px;}
.hdNavMain .pC { width:110px;}
.hdNavMain .pD { width:115px;_width:100px; border:none !important;}
.hdNavMain .weather { width:230px; margin:0 !important; border:none !important;}
/**/

/*公共头 重定义 20120802*/
.otNav { background-position:0 -381px; height:60px; overflow:hidden;}
.otNavMain { width:970px; margin:0 auto; font-size:14px; color:#e7ecf1 !important; height:60px; line-height:23px; display:block;}
.otNavMain a { font-size:14px; color:#fff !important; margin:0 10px; text-decoration:none;}
.otNavMain a:hover { text-decoration:underline;}
.otNavMain ul { height:59px; overflow:hidden;}
.otNavMain li { background:url(http://www.zbxww.org/images/css/news/navAllDetail.png) no-repeat 0 9px; float:left; text-align:center; height:59px; display:inline;}
.otNavMain dl { margin:7px 0 0; }
.otNavMain dt { height:23px; line-height:23px;}
.otNavMain .pA { width:238px; margin-left:73px; background:none !Important;}
.otNavMain .pB { width:220px;}
.otNavMain .pC { width:173px;}
.otNavMain .pD { width:200px; border:none !important;}
.otNavMain .weather { width:230px; margin:0 !important; border:none !important;}

