
 .footer_1{width:980px;overflow:hidden;overflow-y:hidden;overflow-x:hidden;clear:both;text-align:left; color:#02519b;}
 .footer_1 a:link{color:#02519b;}
 .footer_1 a:visited{color:#02519b;}
 .footer_1 a:hover{color:#02519b;}
 .footer_1 a:active{color:#02519b;}
 .footer_1 .footer_2{width:980px;height:6px;font-size:1px;clear:both;margin-left:0px;margin-top:0px;display:inline-block;background-image: url(../image/footer_2_2.jpg);text-align:left; line-height:6px;}
 .footer_1 .footer_3{width:771px;height:26px;clear:both;margin-left:138px;margin-top:10px;display:inline-block;text-align:center;font-size:14px;}
 .footer_1 .footer_62{width:997px;height:97px;clear:both;margin-left:0px;margin-top:11px;display:inline-block;text-align:center;}
 .footer_1 .footer_62_inner{width:997px;height:57px;clear:both;margin-left:0px;margin-top:11px;display:inline-block;text-align:center;}
 .footer_1 .footer_54{width:778px;height:41px;clear:both;margin-left:131px;margin-top:8px;display:inline-block;text-align:left;}
 .footer_1 .footer_54 .footer_55{width:114px;height:41px;margin-left:0px;margin-top:0px;float:left;display:inline;text-align:left;}
 .footer_1 .footer_54 .footer_56{width:114px;height:41px;margin-left:19px;margin-top:0px;float:left;display:inline;text-align:left;}
 .footer_1 .footer_54 .footer_57{width:114px;height:41px;margin-left:19px;margin-top:0px;float:left;display:inline;text-align:left;}
 .footer_1 .footer_54 .footer_58{width:114px;height:41px;margin-left:19px;margin-top:0px;float:left;display:inline;text-align:left;}
 .footer_1 .footer_54 .footer_59{width:114px;height:41px;margin-left:18px;margin-top:0px;float:left;display:inline;text-align:left;}
 .footer_1 .footer_54 .footer_60{width:113px;height:41px;margin-left:19px;margin-top:0px;float:left;display:inline;text-align:left;}
 .footer_1 .footer_61_logo{width:997px;height:24px;font-size:12px;clear:both;margin-left:0px;margin-top:0px;display:inline-block;line-height:24px;text-align:center;}
 .footer_1 .footer_61{width:997px;height:1px;font-size:1px;clear:both;margin-left:0px;margin-top:6px;display:inline-block;background-color:#f0f0f0;text-align:left; line-height:1px;}
