
#newewm{position:fixed;top:278px;right:30px;z-index:98}
@media (max-width:1500px){#backtop,#newewm{display:none}}
#backtop{position:fixed;top:200px;right:30px;z-index:98;width:107px;height:78px}
.title_fixed{position:fixed;top:0;left:0;z-index:99;margin-top:114px;width:100%;height:75px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fff;-webkit-box-shadow:0 0 15px 0 #b1b1b1;box-shadow:0 5px 15px 0 #b1b1b1;text-align:center;line-height:66px!important;line-height:65px}
.mt15{margin-top:15px}
.borderRadius5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px}
.nav_bar_fixed{position:fixed;top:0;left:0;z-index:9999;width:100%}
body{background:#f4f4f4}
.content{padding-top:24px}
#ad_ym{margin-bottom:12px}
.con_left{float:left;width:880px}
.con_left_nav{padding:17px 0;width:100%;color:#666;font-size:14px;line-height:46px}
.con_left_nav a{color:#666}
.icon2{display:inline-block;background:url(../image/U719P4T47D50049F24532DT20220420110502.png) no-repeat 9999px 9999px}
.icon2_nav_bg{margin:0 10px -3px 6px;width:16px;height:17px;background-position:0 0}
.icon2_smaller{width:24px;background-position:-26px 0}
.icon2_bigger,.icon2_smaller{margin-right:6px;height:18px;vertical-align:middle}
.icon2_bigger{width:23px;background-position:-60px 0}
.con_left_nav_share{color:#969696;font-size:14px}
.social-share{font-size:14px}
.content_maincontent_more{margin-bottom:15px;padding:24px 15px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#fff;-ms-border-radius:5px;-o-border-radius:5px}
.content_left_title{padding:0 20px 15px;color:#333;font-weight:700;font-size:39px;line-height:53px}
.content_left_time{padding:0 20px 15px;border-bottom:1px solid #f2f2f2;color:#b7b7b7;font-size:14px;line-height:40px}
.bigger_font_size,.small_font_size{margin-right:20px;font-size:12px;cursor:pointer}
.small_font_size{margin-right:0}
.content_left_time .source{color:#c1c1c1}
.content_maincontent_content{padding-top:16px}
.left_zw{margin:0 15px}
.left_zw em{font-style: italic;}
.left_zw .adInContent{margin-right:20px;}
.comment_title_wrapper{margin:30px 0 9px;padding-bottom:18px;border-bottom:3px solid #cd131c}
.comment_title_wrapper .title{color:#5a5a5a;font-weight:700;font-size:22px}
.comment_title_wrapper .tips{color:#a2a2a2;font-size:12px;line-height:44px}
.content_maincontent_share{padding-top:10px}
.share_wrapper{float:left;margin-top:10px;width:90px;border-top:1px solid #f2f2f2}
.share_wrapper.fixed{position:fixed;top:190px}
.share_wrapper .operation{padding:14px 0;border-bottom:1px solid #f2f2f2;color:#333;font-size:14px;cursor:pointer}
.share_wrapper .operation span{display:block}
.content_icon{display:inline-block;background:url(../image/U719P4T47D49987F24532DT20220331100658.png) no-repeat 9999px 9999px}
.content_icon_text{width:23px;height:20px;background-position:0 0}
.content_icon_hudong{width:23px;height:22px;background-position:-23px 0}
.content_icon_wechat{width:39px;height:39px;background-position:0 -22px}
.content_icon_sina{width:39px;height:39px;background-position:-39px -22px}
.content_icon_zone{width:39px;height:39px;background-position:-78px -22px}
.content_maincontent_left{float:right;overflow:hidden;width:768px}
#tupian_div .video-js .vjs-big-play-button:before,.tupian_div .video-js .vjs-big-play-button:before{content:""}
#tupian_div .video-js .vjs-big-play-button,.tupian_div .video-js .vjs-big-play-button{width:50px;height:36px;background:url(../image/play.png) no-repeat}
#tupian_div,.tupian_div{margin:0 15px 30px}
.tupian_div{max-width:700px;margin:0 auto}
.left_ph{text-align:center}
.left_ph img {max-width:100%}
.left_zw p,.bianzhean_title{margin-bottom:20px;color:#333;font-size:20px;line-height:40px}
.bianzhean_title{margin-bottom:10px;}
.left_zw img{max-width:700px;display:block;margin:0 auto}
.left_pt,.pictext{margin:0 auto 10px;padding:10px 5px;color:#828282;text-align:left;font-size:16px;text-indent:2em;width:700px;line-height:26px}
.left_pt{margin:0 auto 10px}
.left_pt.pictext{margin:0 auto 10px}
.pictext.nodetail{display:none}
.adEditor{overflow:hidden;}
.left_name{padding-right:0;padding-bottom:0;width:485px;background:url(../image/bg1.jpg) repeat-x 0;color:#494949;text-align:right;font-size:14px}
.left_name span{display:inline-block;padding-left:10px;background:#fff}
.channel{float:none;display:block;margin:36px auto 20px;padding:0 15px;width:300px;height:36px;border:1px dashed #d63d44;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px}
.channel,.channel a{text-align:center;line-height:36px}
.channel a{color:#cd131c;font-size:18px}
.border-bottom-1{border-bottom:1px solid #e8e8e8}
.relative_news_wrapper,.selected_news_wrapper,.zt_wrapper{overflow:hidden;padding-top:20px;border-top:1px solid #e8e8e8}
.zt_wrapper ul li{color:#333;font-size:18px}
.zt_wrapper a{color:#1e76e2;font-weight:700}
.relative_news_wrapper{margin-top:20px;margin-bottom:10px}
.relative_news_wrapper h4{margin-bottom:10px;color:#000;font-weight:700;font-size:22px;line-height:40px}
.relative_news{width:100%;overflow:hidden}
.relative_news ul li{float:left;width:100%;background:url(../image/12.jpg) no-repeat 0;padding-left:15px}
.relative_news ul li a{display:block;overflow:hidden;width:100%;color:#333;text-overflow:ellipsis;white-space:nowrap;font-size:16px;line-height:34px}
.selected_news_wrapper h4{color:#000;font-weight:700;font-size:22px;line-height:40px}
.news_list_ul{text-align:left}
.news_list_ul li .news_content a.gray5:hover{text-decoration:none}
.news_list_ul li{padding:10px 0;border-bottom:1px dashed #e5e5e5;cursor:pointer}
.news_list_ul li .bigpic_list{overflow:hidden;margin:0;padding:0}
.news_list_ul li .intermoren_box{padding-top:7px}
.news_list_ul li .intermoren_left{float:left;width:220px}
.news_list_ul li .intermoren_left img{width:220px;height:146px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.news_list_ul li .intermoren_right{margin-left:240px}
.news_list_ul li .news_title{height:115px;color:#003689;font-size:22px;font-family:microsoft yahei}
.news_list_ul li .news_title .news_title_img{float:left;padding-top:3px}
.news_list_ul li .news_title .news_title_img img{vertical-align:middle}
.news_list_ul li .news_title .news_title_text{float:left;padding-left:10px}
.news_list_ul li .news_title em{font-style:normal}
.news_list_ul li .news_title a{color:#333;text-align:left;text-decoration:none;font-size:24px;font-family:微软雅黑;line-height:40px}
.news_list_ul li .news_title a:hover{text-decoration:underline}
.news_list_ul li .news_source{height:24px;color:#999;font-size:14px;line-height:24px}
.news_list_ul li .bigpic_list{color:#c5c3c4;font-size:14px;font-family:microsoft yahei;line-height:28px}
.page_bar_bg{display:block;margin:20px auto 30px;width:inherit;height:41px;text-align:center}
.page_bar{display:block;margin:0 auto;padding-top:2px;width:188px;height:37px;color:#989898;font-size:16px;cursor:pointer}
.con_right{float:right;width:370px}
.recommend_news_lmtitle{text-align:left}
.recommend_news_lmtitle a,.recommend_news_lmtitle span.nolink{display:inline-block;margin-top:0;padding-left:10px;background:url(../image/U947P4T47D50090F24534DT20220428160433.png) no-repeat 0;color:#333;font-weight:700;font-size:20px;line-height:28px}
.recommend_news_switchbtn{position:relative;z-index:1;float:right;padding-right:0;width:63px}
.dlyL1{position:relative;margin:5px auto 0;width:73px;height:25px}
.dlyL1 .number{padding:0 5px}
.dlyL1 .switch_btn{float:left;display:block;width:16px;height:17px;cursor:pointer}
.dlyL1 .switch_btn.prev{background:url(../image/dt_lh.jpg) no-repeat}
.dlyL1 span{float:left;height:17px;color:#ccc;font-size:12px;font-family:Tahoma;line-height:17px}
.dlyL1 span i{display:none}
.dlyL1 span i.current{display:block}
.dlyL1 .switch_btn.next{background:url(../image/dt_rh.jpg) no-repeat}
.dlyL1 span.prevsel{background:url(../image/dt_lsel.jpg) no-repeat}
.dlyL1 span.nextsel{background:url(../image/dt_rsel.jpg) no-repeat}
.recommend_news_wrapper{margin-top:25px;padding-bottom:13px}
.ydtj_div{margin-bottom:10px;width:370px}
.ydtj_div a:hover{text-decoration:underline}
.ydtj_div .ydtj_div_left{float:left;width:165px;background:#f6f6f6}
.ydtj_div .ydtj_div_left img{width:100%;height:110px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.ydtj_div .ydtj_div_right{margin-left:165px;padding:0 10px 0 20px;height:110px;background:#f6f6f6;line-height:110px}
.ydtj_div .ydtj_div_right p{display:inline-block;font-weight:700;font-size:16px;line-height:26px;text-align:left}
.recommend_news_newlist_innerwrapper{position:relative;overflow:hidden;width:370px;height:360px}
.recommend_news_newlist,.recommend_news_newlist li{position:absolute;top:0;left:0}
.dxw_wrapper{overflow:hidden;padding:20px;border:1px solid #e8e8e8;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.dxw_logo_title{color:#666;font-size:14px;line-height:32px}
.dxw_logo_title img{max-width:120px;border-radius:50%;-webkit-border-radius:50%}
.count{color:#a9a9a9;font-size:14px;line-height:54px}
.count span{margin-left:7px;color:#333;font-size:16px;line-height:54px}
.dwx_line_title{position:relative;margin:0 auto;width:250px;min-height:32px}
.dxw_line{position:absolute;top:15px;z-index:0;width:100%;border-bottom:1px solid #ededed}
.dxw_title{position:absolute;z-index:2;margin-left:85px;padding:0 10px;background-color:#f4f4f4;color:#333;font-size:14px;line-height:32px}
.dxw_logo_title .vlogo{display:inline;vertical-align:middle;margin-right:15px;margin-left:3px}
.dwx_newslist li a{display:block;overflow:hidden;margin-top:15px;width:100%}
.dwx_newslist li a img{float:left;width:120px;height:80px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.dwx_newslist li a .dwx_newslist_title{margin-left:135px;color:#333;font-size:16px;line-height:26px;text-align:left}
.rewen_qiqu_wrapper{overflow:hidden;margin-top:13px;background:url(../image/line1.png) 100% repeat-x}
.rewen_qiqu_wrapper div{float:left;background:#f4f4f4}
.rewen_qiqu_wrapper div:first-child{background:#f4f4f4 url(../image/U947P4T47D50090F24534DT20220428160433.png) 0 no-repeat}
.rewen_qiqu_wrapper div a,.rewen_qiqu_wrapper div span{padding:0 10px;color:#333;font-size:20px}
.rewen_qiqu_wrapper .active a,.rewen_qiqu_wrapper .active span{font-weight:700}
.rewen_qiqu_wrapper .verticalbar{margin-top:5px;width:1px;height:18px;background:#d9d9d9}
.sp_tp_wrapper .rdsp-img{position:relative;overflow:hidden;margin-top:20px;width:370px;height:220px}
.sp_tp_wrapper .rdsp-img img{width:100%;height:100%;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.sp_tp_wrapper .rdsp-img .title,.sp_tp_wrapper .rdsp-img .video-title{position:absolute;bottom:0;overflow:hidden;padding:20px 10px;width:355px;background:url(../image/U947P4T47D49898F24532DT20220309102914.png) repeat-x;color:#fff;text-overflow:ellipsis;white-space:nowrap;font-size:16px}
.sp_tp_wrapper .rdsp-img .video-title{overflow:hidden;padding-left:70px;width:290px;text-overflow:ellipsis;white-space:nowrap;font-size:14px}
.sp_tp_wrapper .rdsp-img .video-btn{position:absolute;bottom:10px;left:10px;width:50px;height:36px;background:url(../image/play.png) no-repeat}
.sp_tp_wrapper .rdsp-list{margin:10px 0 20px}
.sp_tp_wrapper .rdsp-list li{overflow:hidden;width:375px;text-align:left;text-overflow:ellipsis;white-space:nowrap;line-height:44px}
.sp_tp_wrapper .rdsp-list li a{text-decoration:none;font-size:14px}
.sp_tp_wrapper .rdsp-list li em{float:left;margin-top:14px;padding:0 5px;width:16px;height:15px;background:url(../image/U435P4T47D49951F981DT20220321182114.jpg) no-repeat 0}
.jczb_lmtitle{background:url(../image/line1.png) repeat-x 0;text-align:left}
.recommend_news_lmtitle.jczb_lmtitle a,.recommend_news_lmtitle.jczb_lmtitle span.nolink{padding-right:12px;background:#f4f4f4 url(../image/U947P4T47D50090F24534DT20220428160433.png) no-repeat 0}
.zb_recommended li{overflow:hidden;margin-top:15px}
.zb_recommended .left{position:relative;float:left;width:165px;height:105px}
.zb_recommended .left img{width:100%;height:100%;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.zb_recommended .left .video{position:absolute;top:32px;left:56px;z-index:1;width:50px;height:36px;background:url(../image/play.png) no-repeat}
.zb_recommended .right{margin-left:180px;height:105px;line-height:105px;display:block;float:none}
.zb_recommended .right .ydtj_title{display:inline-block;vertical-align:middle;font-size:16px;line-height:26px;text-align:left}
.right_ph_wrapper ul li{float:left;overflow:hidden;margin-right:20px;margin-bottom:13px;width:174px;margin-top:20px;}
.right_ph_wrapper ul li:nth-child(2n){margin-right:0}
.right_ph_wrapper ul li img{max-width:100%;min-height:128px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.right_ph_wrapper ul li p{color:#333;font-size:16px;line-height:20px}
.right_ph_wrapper{margin-top:10px}
.xwph_wrapper{overflow:hidden;margin:20px 0 0}
.xwph-list{background:url(../image/U719P4T47D50532F24532DT20220708150124.png) no-repeat left 0;margin-top:20px}
.xwph-list li{width:330px;height:42px;padding-left:38px;text-align:left}
.xwph-list a{font-size:16px}
.rongmeiti_wrapper{margin-bottom:15px}
.chuangyi_list{overflow:hidden;margin:20px 0}
.chuangyi_list li{margin:0 15px 15px 0}
.chuangyi_list li:nth-child(2n){margin-right:0}
.chuangyi_list li img{width:176px;height:207px}
.wx_wrapper{overflow:hidden;margin-top:6px}
.wx_title_wrapper{position:relative;margin-bottom:10px;height:41px}
.weibo_title_bg,.wx_title_bg{position:absolute;top:0;left:16px}
.wx_title_bg{width:341px;height:40px;background:url(../image/U719P4T47D50049F24534DT20220420172107.png) no-repeat}
.wxBigpic{position:relative}
.wx_content{margin-bottom:25px}
.wx_title_wrapper p{position:absolute;left:111px;color:#73ac7a;font-weight:700;font-size:16px}
.wx_title_wrapper p.weibo{top:4px;left:118px;color:#e1a05b}
.weibo_title_bg{width:342px;height:41px;background:url(../image/U719P4T47D50052F24532DT20220420172301.png) no-repeat}
.wxBigpic,.wxBigpic img{width:370px;height:155px;border-radius:10px 10px 0 0}
.wxBigpic{border-radius:10px 10px 0 0;background-color:#fff}
.wxBigpic_bg{left:0;width:370px;background:#000;opacity:.5;filter:Alpha(Opacity=50)}
.wxBigpic_bg,.wxBigpic_info{position:absolute;bottom:0;overflow:hidden;height:40px}
.wxBigpic_info{left:10px;z-index:2;overflow:hidden;width:330px;color:#fff;text-align:left;text-overflow:ellipsis;white-space:nowrap;font-size:16px;line-height:40px}
.wxTuwen{overflow:hidden;padding:12px 10px;border:1px solid #ececec;border-top:none;background:#fff}
.wxTuwen .lefttext{float:left;display:inline-block;margin-top:13px;margin-right:20px;width:220px;height:84px;height:60px;vertical-align:middle;font-weight:700;font-size:18px;line-height:84px;line-height:28px}
.wxTuwen .rightimg{float:right;overflow:hidden}
.wxTuwen .rightimg,.wxTuwen .rightimg img{width:84px;height:84px}
.zb_recommended.wx_weibo_list .zb_recommended_left,.zb_recommended.wx_weibo_list .zb_recommended_left img,.zb_recommended.wx_weibo_list .zb_recommended_right{margin-bottom:20px;width:160px;height:100px;line-height:32px}
.zb_recommended.wx_weibo_list .zb_recommended_right .title{overflow:hidden;padding-top:7px;height:60px;font-weight:700;font-size:18px}
.zb_recommended.wx_weibo_list .zb_recommended_right .time{color:#949494;font-size:14px}
.sp_tp{clear:both;padding:10px 0 0;width:100%}
.sp_tp li{float:left;margin:10px 13px 15px 0;width:178px;text-align:center}
.sp_tp li:nth-child(2n){margin-right:0}
.sp_tp li img{width:178px;height:114px}
.sp_tp li p{margin:5px 0 0;padding:0;text-align:left}
.sp_tp li p a{color:#333;font-size:16px;line-height:20px}
.sp_list li{width:315px}
.sp_tp li{position:relative}
.jczb_wrapper{margin-top:10px}
.play{position:absolute;top:39px;left:64px;z-index:2;width:50px;height:36px;background:url(../image/play.png) no-repeat;cursor:pointer}
.recommend_news_newlist_wrapper{margin-top:15px}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-main{border-bottom-color:red}
.rmt4 .leftimg{float:left}
.rmt4 .leftimg img{margin-bottom:20px;width:160px;height:100px;border-radius:5px;line-height:32px}
.rmt4 .righttext{float:left;margin-left:20px;width:180px}
.rmt4 .righttext a{overflow:hidden;padding-top:7px;height:60px;font-weight:700;font-size:18px}
.rmt1 .logo-wx{position:relative;margin:0 auto 10px;width:341px;height:40px;background:url(../image/U719P4T47D50049F24534DT20220420172107.png) no-repeat}
.rmt1 .logo-wx p{float:left;color:#73ac7a;font-weight:700;font-size:16px}
.rmt1 .logo-wx p:first-child{margin-left:98px}
.rmt4{margin-top:20px}
.rmt4 .logo-wb{position:relative;margin:0 auto 10px;width:341px;height:40px;background:url(../image/U719P4T47D50052F24532DT20220420172301.png) no-repeat}
.rmt4 .logo-wb p{float:left;color:#e1a05b;font-weight:700;font-size:16px}
.rmt4 .logo-wb p:first-child{margin-left:98px}
#second-title{position:fixed;left:0;z-index:6;display:none;width:100%;height:auto;border-bottom:1px solid #c6c6c6}
#second-title .divnew .left{overflow:hidden;width:1050px}
#second-title #logo{float:left;margin-top:16px;margin-right:10px;padding-right:10px;width:135px;height:44px;border-right:1px solid #e2e2e2}
#second-title h1{margin:0;padding:15px 0 15px 30px;text-align:left;font-weight:400;font-weight:700;font-size:30px;font-family:微软雅黑;line-height:36px}
#zhengwenvideo .whb{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px}
#ad_ditong{width:1280px;margin:0 auto}
.newewm{background:#fff;padding:9px 15px;text-align:center;margin-bottom:10px;cursor:pointer}
.newewm p{margin-top:8px;font-size:14px}
.icon_newewm{display:inline-block;background:url(../image/U719P4T47D50262F24532DT20220526162535.png) no-repeat 9999px 9999px}
.icon_tobacktop{width:17px;height:16px;background-position:0 0}
.icon_comment{width:21px;height:19px;background-position:-17px 0}
.icon_shareto{width:22px;height:22px;background-position:-38px 0}
.share3{display:none}
.zb_recommended{margin-bottom:13px}
#pinpaitop_ad,.afternewsrank_ad{margin-bottom:15px}
#dingtong{margin-top:15px;text-align:center;max-width:1280px}
.videojsObj{width:700px;margin:0 auto;text-align:center}
.videojsObj>div{width:700px}
.left_zw p.linkAndSource{font-size:12px;text-align:center;margin:10px auto;overflow:hidden;line-height:20px}
.left_zw p.linkAndSource a{text-decoration:none;float:left;color:#1272c9}
.left_zw p.linkAndSource .right{padding-right:2px;}

/*分页*/
#function_code_page{overflow:hidden; zoom:1; font-size:16px; margin: 35px auto; text-align: center; width: 90%; }
#function_code_page span{ display:inline-block;margin-right:10px; overflow:hidden; text-align:center; background:#c72a2a; height: 30px; line-height: 30px;color:#fff; cursor:pointer; border-radius: 5px; padding:0 10px; }
#function_code_page a{display:inline-block; overflow:hidden; zoom:1; margin-right:10px; overflow:hidden; text-align:center; border-radius: 5px; }
#function_code_page a,#function_code_page a:hover{ color:#666; text-decoration:none; height: 30px; line-height: 30px; background: #f2f2f2; margin-right:10px; overflow:hidden; text-align:center; padding: 0 10px;}
#function_code_page a:hover{display:inline-block;margin-right:10px; overflow:hidden; text-align:center; background:#c72a2a; height: 30px; line-height: 30px;color:#fff; cursor:pointer; border-radius: 5px;  padding: 0 10px; }