
/* CSS Document */
html{font-size:62.5%;}
body{ padding:0; margin:0; color:#000000;text-align:center; background:#fff; font-family:"宋体";}
h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td{margin:0;padding:0;}
div{margin:0 auto;text-align:left;}
li{text-align:left;}
a:link,a:visited{ text-decoration:none;}
a:hover{ text-decoration:none;}
img{ border:none;}
ol,ul,li{list-style:none;}
em,i{ font-style:normal;} 
/*clear*/
.clearfix{clear:both;}
/*other*/
h1,h2,h3,h4,h5,h6{ text-align:left;}
.red,.red a:link,.red a:visited,.red a:hover{ color:#cc3333; font-weight:bold;}
.gray,.gray a:link,.gray a:visited,.gray a:hover{ color:#666666;}
.withe,.withe a:link,.withe a:visited,.withe a:hover{ color:#fff;}
/* Landscape phone to portrait tablet */

li{list-style:none;text-align:left;text-decoration:none;font:normal;}
a{text-decoration:none; color:#000000;}
.clear{ clear:both;}



#header{width:1200px; height:80px; margin:0px auto; margin-bottom:10px;}
#header img{ width:1200px; height:80px;}
#header{width:1200px; height:80px; margin:0px auto; margin-bottom:10px;}
#header img{ width:1200px; height:80px;}
/*logo start*/
#banner{width:1200px; height:80px; margin:10px auto 10px auto; display:block; background-color:#FFFFFF;}
#logo{float:left; width:240px;height:80px; margin:0 auto;}
#logo img{width:240px;height:80px;}
#baright{ float:left; width:750px; height:80px;margin:0px; margin-left:5px;}
#baright img{ width:750px; height:80px; margin:0px;}
#baright1{ float:right; width:200px; height:80px;}
#baright1 ul{ margin-left:5px;font-size:12px;   line-height:180%; margin-top:15px; padding:0px;}

/* menu start*/
#bg{ width:100%; height:auto;margin-top:0px;background-color:#CA0000; }
#menu{ width:1200px; height:50px;margin:0 auto;}
#menu ul{ width:auto; height:auto; margin:0px auto;display:inline-table;text-align:center; padding:0px; margin-left:230px;}
#menu li{ float:left; width:110px; height:50px; text-align:center;}
#menu li:hover{ background-color:#FF6666;}
#menu a{  line-height:220%; color:#FFFFFF;  font-size:22px; padding:0px;}

/*nav start*/
#nav{ width:1200px; height: auto; margin:10px auto;}
#nav ul{ list-style:inside; margin:4px auto; padding-left:260px;}
#nav a{  font-size:16px; color:#000000; margin-left:5px; margin-right:5px;}
#nav a:hover{color:#A80000; text-decoration:none;}


#title{ width:1200px; height: auto; margin:20px auto; clear:both; padding-top:20px;}
#title h1 {   font-size:36px; font-weight:bold; text-align:center; font-family:"SimHei";}
/*author*/
.author{ width:1200px; height:14px; margin:0 auto;}
.author ul{  width:auto; height:auto; margin-left:460px; padding:1px;}
.author li{ margin-left:20px;display:inline; font-family:"宋体";font-size:14px;text-align:center; padding-left:6px;}
.bj{ float:right; font-size:15px; color:#666666; font-family:"宋体"; margin-right:50px;}


/*share*/
#share {width:1200px; height:30px; margin:20px auto; padding:10px 0px; border-bottom:solid #cccccc 1px;}
#sharebtn{width:300px; float:right;}
.shareleft {float:left; font-size:14px;}
.bdsharebuttonbox {float:left;text-align:right; width:100%;}
/*time*/
#time{ width:700px; height:auto; margin-left:15px;float:left;}
#time span { margin-left:20px;  font-size:16px; color:#666666;}
#time span a{ margin:0px 10px;  font-size:16px; color:#666666;}

#con {width:1200px; height:auto; margin:0px auto;}

/*text*/
#left{width:790px; height:auto; float:left;}
#ltext{width:790px; margin:5px 0px 5px 0px;  font-size:18px; line-height:240%;}
#ltext img { width:auto; height:auto; margin:0 auto; text-align:center; padding-bottom:15px; display:block;}

/*text adver*/
#ladver{ width:550px;  padding:10px; margin-left:110px;}
#ladver img{width:550px; height:320px; }

/*text erweima*/
#lcode{ width:740px;height:auto; margin:10px auto; padding:0px;}
#lcode ul{width:650px; height:180px; background-color:#f6f6f6; border:#f6f6f6 1px solid; margin-left:50px; padding:0px; padding-top:10px;}
#lcode ul li{width:33%; float:left; margin:3px auto;text-align:center; font-size:18px;}
#lcode ul li img{width:130px; height:130px;}

/* text  tuijian*/
.ltj{ margin:15px 0px 10px 10px;  padding-bottom:10px;}
.ltj h2 { font-size:22px; padding-left:35px;padding-top:18px; font-weight:normal;}
.ltjcon{margin-top:15px;}
.ltj ul{ width:49%; margin-bottom:10px; float:left; margin-left:1%;}
.ltj ul li{ list-style:square; color:#A80000; margin-left:15px;}
.ltj ul li a{font-size: 14px; line-height: 180%;}

/* text radver*/



/*right*/
#right{ width:380px; height:auto; float:right; background-color:#F7F7F7; margin-top:20px; padding-bottom:20px;}

/*���*/
.radver{ width:380px; height:80px;padding:0px;}
.radver img{width:380px; height:80px;}

.radver1{width:380px; height:220px; margin-top:15px; }
.radver1 img{width:350px; height:220px;margin-left:15px;}
/*shizheng*/
.rtop{width:380px; height:auto; border-style:none; margin-top:15px;}


.rtitle{ font-size:20px; padding-top:8px; padding-bottom:8px; color:#000000; border:solid 1px #F5F5F5;font-weight:bold;}
.rtitle span{ color:#A80000; font-weight:bold;}
.rtitle a{ float:right; color:#333333;   font-size:14px; margin-right:10px; margin-top:8px;padding:1px; }

.rtext { width:98%;margin-top:5px; margin-bottom:0px; margin-left:5px; padding:0px;color:#666666; }
.rtext ul{ margin-left:0px; padding:0px;}
.rtext li{ list-style:inside; color:#A80000;}
.rtext li a{text-decoration:none;font-size: 14px;  color:#000000; line-height:200%;}


/*shijue*/
.rsj{ width:380px; margin-top:15px;}
.rsj1{ width:340px;  text-align:center; overflow: hidden;position: relative; margin:10px auto 0 auto; border:none; }
.rsj1 img{width:340px; height:210px; border:none;}
.rsj1 span{width:100%; height: 35px; position:absolute; top:175px; left:0px;font-size: 16px; display:block; line-height:35px;background-image:url(../image/sj04.png);}
.rsj1 span a{ text-decoration:none;color:#FFFFFF;}

/*paike*/
.rpk{width:380px; height:auto; padding:0px;margin-top:15px;}
.rpk1 { width:360px; margin:5px 0px 10px 5px; padding:0;}
.rimage{ float:left;width:170px;display:inline-table;  position:relative; margin-left:10px; margin-top:7px; border:none;}
.rimage img{width:170px;height:105px;border:none;}
.rimage span{text-align:center;  position:absolute; bottom:3px; left:0px; background-image:url(../image/sj04.png); width:100%;}
.rimage span a{  font-size:14px; color:#FFFFFF;text-align:center;line-height:180%;}

/*zhuanti*/
.rzt{ width:380px; height:auto; padding:0px; margin-top:15px;}
.rzt1{ position:relative; width:360px; margin:0 auto;}
.rzt1 img{ width:360px; height:80px; margin:10px auto; padding:0px; border:none;}
.rzt1 span{ text-align:center; position:absolute; bottom:13px; left:0px; background-image:url(../image/sj04.png); width:360px; height:25px;}
.rzt1 span a{   font-size:14px; color:#FFFFFF; line-height:25px;}



/*guanyuwomen*/
#link1bg{width:100%; background-color:#A80000; height:35px; margin-top:20px;}
#link1{ width:1200px; margin:0 auto;}
#link1 ul{ margin-left:10px;}
#link1 li{ float:left;line-height:220%;   font-size:16px; margin-left:20px;}
#link1 a{ color:#FFFFFF; }

#link2 { width:1200px; margin-top:20px;}
#link2 ul{}
#link2 li{ float:left;   font-size:14px; margin-left:20px; line-height:200%;}
#linktitle{ width:1200px; font-size:20px;   line-height:300%;}
#link2 li a{ color:#000000;}

/*footer start*/
.gywm{width:1200px; height:auto; margin:0 auto; margin-top:20px; padding-bottom:5px; border-top:#999999 solid 1px;}
.gywm ul{ margin-left:200px; margin-top:10px;}
.gywm li{ display:inline;  font-size:14px; margin-left:5px;}
.gywm li a { color:#000000;  font-size:14px;}

.info{
	width:100%;
	height:auto;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	background-color: #A80000;
	margin-top: 20px;
}
.info span{ line-height:230%; font-size:14px;color:#FFFFFF; }
.info img{ margin:0 auto; height:70px;}
.info a{ line-height:230%; font-size:14px;color:#FFFFFF; }

.tag{ width:50px; height:50px; position:fixed; bottom:30px; right:40px;}
.tag ul{ width:50px; height:50px;}
.tag li{}
.tag li a{filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5} 
.tag li a:hover {filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9} 

.pnav{ width:100%; background-color:#333333; display:none;}
.pnav ul{ padding-left:10px; width:90%;}
.pnav li{ margin-left:20px; display:inline; line-height:400%;}
.pnav a{ font-size:1.8rem; color:#FFFFFF;}

/* MEDIA QUERIES Mobile phone
---------------------------------------------------------------------- */	   
	   
@media (min-device-width:320px) and (max-width:689px),
       (max-device-width:480px) and (orientation:portrait)
	   {
	
	
.pnav{ width:100%; background-color:#CA0000; display:block; margin-bottom:10px;}
.pnav ul{ padding-left:3%;width:96%; padding-top:7px; padding-bottom:7px;}
.pnav li{ margin-left:1rem;display:inline; line-height:260%;}
.pnav a{ font-size:1.6rem; color:#FFFFFF;}	 	
	   
/*header start*/
.clear{clear:both;}
#header{width:100%; height:auto; margin:0px auto; margin-bottom:5px; display:none;}
#header img{ width:100%; height:auto;display:none;}
/*logo start*/
#banner{width:100%; height:auto; margin:0px; display:block; background-color:#FFFFFF;}

#logo{float:left; width:40%;height:auto; margin:0 auto; display: block;}
#logo img{width:100%;height:auto;}

#baright{ float:left; width:100%; height:auto;margin:0px; margin-left:0px; display:none;}
#baright img{ width:100%; height:auto; margin:0px;}

#baright1{ float:right; width:60%; height:auto; display:block;}
#baright1 ul{ margin-left:1rem;font-size:1.2rem;   line-height:180%; margin-top:0.5rem; padding:0px;}
/* menu start*/
#bg{ width:100%; height:auto; margin-top:5rem; background-color:#CA0000; display:none; }
#menu{ width:100%; height:auto;margin:0 auto;}
#menu ul{ width:100%; height:auto; margin:0px auto;display:inline-table;text-align:center; padding:0px;}
#menu a{  line-height:200%; color:#FFFFFF; margin-left:0px; font-size:1.8rem; padding:0px; margin-top:0.5rem;}
/*nav start*/
#nav{ width:100%; height: auto; margin:1rem auto; display:none;}
#nav ul{ list-style:inside; margin:0px; padding-left:0px;}
#nav a{  font-size:1.6rem; color:#000000; margin-left:0.5rem; margin-right:0.5rem;}
#nav a:hover{color:#A80000; text-decoration:none;}

/*����*/
#title{ width:100%; height: auto; margin:1rem auto; clear:both;}
#title h1 {   font-size:1.8rem; font-weight:bold; text-align:left; font-family:"SimHei";}
/*����*/
.author{ width:100%; height:auto; margin:0.1rem auto; display:block;}
.author ul{ width:auto; height:auto; margin-left:0rem; padding:0.5rem 0rem 0.5rem 0rem; background-color:#fafafa;}
.author li{ margin-left:2rem;  font-family:"宋体";font-size:1.2rem; line-height:180%;text-align:left; border-right:none; padding-right:auto;}

/*����*/
#share {width:100%; height: auto;float:left; margin:0px auto; padding:0px 0px; border-bottom:none; display:block;}
#sharebtn{width:100%; float:left; padding-top:0px;}
#shareleft {float:left; width:22%; font-size:14px;}
#bdsharebuttonbox {float:left; text-align:left; width:100%;}
/*����λ��*/
#time{ width:100%; height:auto;  margin:0px auto; padding:0px 0px; border-bottom:none; display:block;}
#time span { margin-left:1px;  font-size:14px; line-height:200%; font-size:1.4rem; color:#333333;}
#time span a{ margin:0px 1rem;   font-size:14px;font-size:1.4rem; }

#con {width:100%; height:auto; margin:0px auto;}
/*�ı�*/
#left{width:100%; height:auto;}
#ltext{width:98%; padding:0px;   font-size:1.4rem; line-height:200%; margin:0% 0% 0% 1%;}
#ltext img { width:98%; height:auto; margin-left:1%; text-align:center; }
/*���*/
#ladver{ width:98%; height:auto; padding:0px; margin:1rem 0rem 0rem 0rem; float:left; padding-right:1%;padding-left:1%;}
#ladver img{ width:100%; height:auto; margin:0px; padding:0px;padding-bottom:1%; }
/*��ά��*/
#lcode{ width:100%;height:auto; margin-top:1rem; margin-bottom:0px; padding:0;}
#lcode ul{width:85%; height:auto; background-color:none; background-color:none;border:none; margin-left:7%; padding:0px; padding-top:1rem;}
#lcode ul li{width:33%; float:left; margin:0 auto;text-align:center; font-size:1.2rem;}
#lcode ul li img{width:100%; height: auto;}
/*�Ƽ��Ķ�*/
.ltj{ width:100%; height:auto; margin-left:0px; background-color:#f6f6f6; display:none;}
.ltj h2 { font-size:24px; font-size:2.4rem; font-weight:normal; padding-left:3rem;padding-top:1.8rem; color:#000000;}
.ltjcon{}
.ltj ul{margin-top:1.6rem; margin-bottom:1rem; margin-left:2rem; }
.ltj ul li{font-size: 14px; font-size:1.4rem; line-height: 200%;}
.ltj ul li a{color:#000;text-decoration:none;}


/*���б�*/
#right{ width:100%;height:auto; float:left;background-color:#f6f6f6; margin-top:10%; padding:0px;margin-bottom:0px;}
/*ʱ��*/
.rtop{width:100%; height:auto; border-style:none; margin-top:1.5rem; display:none;}
.rtitle{ font-size:2rem; padding-top:2rem; padding-bottom:0rem; color:#000000; padding-left:1rem; border-top:none; border-bottom:none;}
.rtitle span{ color:#FF0000; font-weight:bold; display:none; }
.rtitle a{ float:right; color:#33333;  font-size:1.2rem; margin-right:3rem; margin-top:0.8rem;}

.rtext { width: 95%;margin-top:1.5rem; margin-bottom:0px; margin-left:5%; padding:0px color:#666666; }
.rtext ul{ margin-left:5px; padding:0px;}
.rtext li{font-size: 1.4rem;padding: 0.8rem 0 0px 0;overflow: hidden;line-height: 150%;}
.rtext li a{color:#000000;text-decoration:none;}
/*�Ӿ�*/
.rsj{ width:400px; height:auto;margin-top:15px; display:none;}
.rsj1{ width:341px; height:auto; text-align:center; overflow: hidden;position: relative; margin:25px auto 0 auto; border:none; }
.rsj1 img{width:340px; height:240px; border:none;}
.rsj1 span{width:100%; height: 35px; position:absolute; top:205px; left:0px;font-size: 16px; display:block; line-height:35px;background-image:url(../image/sj04.png);}
.rsj1 span a{ text-decoration:none;color:#FFFFFF;}

/*�Ŀ�*/
.rpk{width:100%;height:auto; padding:0px;margin-top:0rem;}
.rpk1 { width:100%; height:auto; margin:0.5rem 0px; padding:0;}
.rimage{ float:left;width:50%; height:auto; display:inline-table; overflow:hidden; position:relative; margin-left:0px; border:none;padding:0px;}
.rimage img{width:98%;height:120px; border:none; margin:1rem 0rem; margin-left:2%; }
.rimage span{text-align:center;  position:absolute; bottom:1.3rem; left:0px; background-image:url(../image/sj04.png); width:100%; height: auto; display:none;}
.rimage span a{  font-size:1.4rem; color:#FFFFFF;text-align:center;line-height:200%;}

/*ר��*/
.rzt{ width:100%; height:auto; padding:0px; margin-top:1.5rem;}
.rzt1{ position:relative; width:36rem; padding:0px; margin-left:10%; margin-top:0px;}
.rzt1 img{ width:90%; height:auto; margin:5% auto; padding:0px; border:none;}
.rzt1 span{ text-align:center; position:absolute; bottom:2rem; left:0; background-image:url(../image/sj04.png); width:90%; height:auto;}
.rzt1 span a{   font-size:1.4rem; color:#FFFFFF; line-height:250%;}

/*���*/
.radver{ width:400px; height:80px;padding:0px; display:none;}
.radver img{width:400px; height:80px;}
.radver1{width:380px; height:200px;padding:0px; margin-top:15px; display:none;}
.radver img{width:380px; height:200px;}

#link1bg{width:100%; background-color:#A80000; height:35px; margin-top:20px; display:none;}
#link1{ width:1200px; margin:0 auto;}
#link1 ul{ margin-left:10px;}
#link1 li{ float:left;line-height:220%;   font-size:16px; margin-left:20px;}
#link1 a{ color:#FFFFFF; }

#link2 { width:100%; margin-top:20px;}
#link2 ul{}
#link2 li{ float:left;   font-size:14px; margin-left:20px; line-height:200%;}
#linktitle{ width:100%; font-size:20px;   line-height:300%;}
#link2 li a{ color:#000000;}

/*��վ��Ϣ*/
.gywm{width:1200px; height:auto; margin:0 auto; margin-top:20px; padding-bottom:5px; border-top:#999999 solid 1px; display:none;}
.gywm ul{ margin-left:200px; margin-top:10px;}
.gywm li{ display:inline;  font-size:14px; margin-left:5px;}
.gywm li a { color:#000000;  font-size:14px;}

.info{width:100%; height:auto; margin:0 auto; padding-top:10px; padding-bottom:10px; text-align:center;}
.info span{ line-height:200%; font-size:1.4rem; }
.info img{ margin:0 auto; height:50px;}
.info a{ line-height:200%; font-size:1.4rem; }
 
.tag{ width:50px; height:50px; position:fixed; bottom:10px; right:20px;}
.tag ul{ width:50px; height:50px;}
.tag li{}
.tag li a{filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5} 
.tag li a:hover {filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9} 
	   }
