		 body{position:relative;}
		    .container{
		        width:1216px;
		        margin:0 auto;
		        position:relative;
		    }
		    /*中心内容标题部分*/
		    .con-title{
		    	padding:10px 250px 10px 150px;
		    	border-bottom:1px solid rgb(153,153,153);
                        position:relative;
		    /*	background:url(/images/index/titlebg.png) no-repeat;
                          background-position: right center;
                   */	
		    }
                   .con-title .title-advert{
                        display:inline-block;
                        width:250px;
                        height:51px;
                       position:absolute;
                       top:12px;
                      right:0;
                   }
                    .con-title .title-advert img{
                        display:inline-block;
                        width:250px;
                        height:51px;
                        margin-top:0;    
                     }
		    .one-tag{
		    	display: inline-block;
		    	height:25px;
		    	line-height:25px;
		    	padding:0 12px;
		    	border-radius:15px;
		    	color:white;
		    	background:rgb(192,27,25);
		    	font-size:14px;
		    }
                     .titlename{
                         display:inline-block;
                       }
		    .titlename h1{
		    	display:inline;
		    	vertical-align:middle;
		    	font-size:30px;
		    	line-height:45px;
		        margin-left:20px;
		    }
		    .titlename h1 a {
		    	/*color:rgb(0,154,247);*/
		    	color: rgb(188,25,26);
		    }
		    .con-title p{
		    	font-size:14px;
		    	line-height:20px;
		    }
.con-title p a{margin-right:20px;}
		    /*中心内容标题部分结束*/
		   
		   .con-news{
		   	  padding:12px 0 18px 25px;
		   /*	  background:rgba(13,233,21,0.4);*/
		   }
		   .con-news >p{
		   	  font-size:14px;
		   	  line-height: 20px;
		   	  text-align: center;
		   }
		   .con-news > p > span{
		   	  color:rgb(197,27,25);
		   	  font-weight: 700;
		   	  margin-left:0px;
		   }
		   .con-news > p span{
		   	   margin: 10px;
		   }
                   /*新闻题目滚动*/
                   .con-news .newstxt-slide{
                      display:inline-block;
                      width:941px;
                      height:19px;
                      overflow:hidden;
                      margin:0;
                      vertical-align: top;
                   }
                   .con-news .newstxt-slide a{
                        font-weight: 500;
                   }
		   .news-main{
		   	   margin-top:15px;
		   }
		   .main-left{
		      width:472px;
		      float: left;
		   }
		   
		   /*轮播图开始*/
		   #slide-index .on{
		  	background-color:rgb(197,27,25);
		   }
		   .news-slide{
		   	  width:100%;
		   	  height:280px;
		   	  overflow: hidden;
		   	  position:relative;
		   }
		   #slide-list{
		   	 position: absolute;
		   }
		   .news-slide ul{
		   	   width:400%;
		   	   height:280px;
		   }
		   .news-slide ul li{
		   	  float:left;
		   	  position:relative;
		   }
		    .news-slide ul li a{
		    	display:inline-block;
		    }
		   .news-slide ul li{
		   	  width:472px;
		   	  height:280px;
		   }
		   .news-slide ul li img{
		   	display:block;
		   	  width:472px;
		   	  height:280px;
		   }
		   .news-slide ul li p{
		   	  width:452px;
		   	  height:40px;
		   	  padding-left:20px;
		   	  line-height:40px;
		   	  font-size:12px;
		   	  position: absolute;
		   	  bottom: 0;
		   	  color:white;
		   	  background:black;
		   }
		   #prev,#next{
		   	  width:20px;
		   	  position:absolute;
		   	  bottom:6px;
		   	  color:white;
		   	  font-size:20px;
		   	  font-weight:600;
		   	  z-index: 100;
		   	  text-align: center;
		   	  line-height:20px;
		   	  cursor: pointer;
		   	  cursor: -ms-pointer;
		   }
		   #next{
		   	 right:3px;
		   }
		   #prev{
		     	bottom: 6px;
		   	    right:106px;
		   }
		  #slide-index{
		  	  position:absolute;
		  	  bottom: 6px;
		  	  right:30px;
		  	  background:black;
		   	  display: inline-block;
		   	  width:60px;
		   	  height:20px;
		   	  line-height:20px;
		   	  margin-left:8px;
		   }
		   #slide-index li{
		   	 display:inline-block;
		   	 width:7px;
		   	 height:7px;
		   	 margin-top:8px;
		   	 margin-right:8px;
		   	 line-height:40px;
		   	 background-color: white;
		   	 border-radius: 50%;
		   	 cursor: pointer;
		   	 cursor: -ms-pointer;
		   }
		   #slide-index li:last-of-type{
		     	margin-right:0;
		   }
		   /*正在直播板块*/
		   .news-radio{
		   	  width;100%;
		   	  height:87px;
		   	  margin-top:10px;
		   }
		   .radio-top{
		   	  width:100%;
		   	  height:11px;
		   	  background:rgb(36,36,36);
		   }
		   .radio-top span{
		   	  display:inline-block;
		   	  vertical-align: top;
		   }
		   .radio-top span:first-of-type{
		   	  width:158px;
		      height:8px;
		      margin-top:3px;
		      margin-left:10px;
		      background:rgb(233,24,56);
		   }
		   .radio-top span:last-of-type{
		   	 display:inline-block;
		   	  width:0;
		   	  height:0;
			  border-right:8px solid transparent;
		   	  border-bottom:8px solid rgb(233,24,56);
		   	  margin-top:3px;
		   	  margin-left:-5px;
		   }
		   .radio-bottom{
		   	  width:100%;
		   	  height:76px;
		   	  background:rgb(0,0,0);
		   	  line-height:76px;
		   	  color:white;
		   }
		    .radio-bottom a{
		    	color:white;
		    }
		    .radio-play{
		    	display: inline-block;
		    	width:158px;
		    	height:76px;
		    	text-align: center;
		    	line-height: 76px;
		    	background:rgb(233,24,56);
		    	font-size:24px;
		    	margin-left:10px;
		    }
		    .radio-room{
		    	display: inline-block;
		    	width:120px;
		    	height:46px;
		    	text-align: center;
		    	line-height: 46px;
		    	border-radius: 5px;
		    	background:rgb(233,24,56);
		    	font-size:20px;
		    	margin:0 17px;
		    }
		    .radio-time{
		    	font-size:18px;
		    }
		    .radio-time img{
		    	vertical-align: middle;
		    }
		    .radio-time span{
		    	vertical-align: middle;
		    }
		    /*正在直播间板块结束*/
		   /* .radio-bottom > span:first-of-type{
		    	font-szie:25px;
		    }*/
		   .main-center{
		   	   width:210px;
		   	   height:120px;
		   	   display:inline-block;
		   	   margin:0 20px;
		   }
		   .main-center li{
		   	   width:210px;
		   	   height:120px;
		   }
		   .main-center li a{
		   	   display:inline-block;
		   }
		   .main-center li img{
		    	    width: 210px;
                            display: block;
                           height: 120px;
		   }
		   .main-center li:nth-of-type(2){
		        margin:8px 0;
		   }
		   .main-right{
		   	   width:460px;
		   	   display:inline-block;
		   	   vertical-align: top;
		   }
		   .news-list{
		       padding:5px 0 18px 0;
		   }
		   .news-list ul{
		   	  margin-top:12px;
		   	  font-size: 16px;
		   }
		   .news-list ul li a{
		   	  color: #000000;
		   }
		   .news-list ul li{
		   	   margin-bottom: 15px;
		   }
		   .news-list ul li:last-of-type{
		   	   margin-bottom:0px;
		   }
		   .titlename h3{
		      display:inline;
		      vertical-align:middle;
		      font-size:16px;
		      line-height:25px;
		      margin-left:12px;
		   }
		   .con-banner{
		   	  width:1202px;
		   	  height:135px;
		   	  padding-left:14px;
		   }
		   .con-banner img{
		   	  width: 1202px;
                           height: 66px;
		   }
		   .con-notice{
		   	  padding-left:14px;
		   	  margin:20px 0;
		   }
		   .con-notice .one-tag{
		   	    display:inline-block;
		    	width:110px;
		    	height:33px;
		    	border-radius: 16px;
		    	padding:0;
		    	line-height:33px;
		    	font-size:14px;
		    	text-align:center;
		    	text-align: -moz-center;
		    	font-weight:600;
		    	margin-left:0;
		   }
		   .con-notice span{
		   	   height:33px;
		   	   font-size:16px;
		   	   line-height:33px;
		   	   margin-left:7px;
		   }
		   .cln-title{
		   	  margin-left:14px;
		   	  font-size:24px;
		   	  font-weight: 700;
		   	  color:rgb(192,25,27);
		   	  padding-bottom: 8px;
		   	  border-bottom: 3px solid rgb(192,25,27);
		   }
		   .cln-title .special-title a{
		   	   color:rgb(192,25,27);
		   }
		   .cln-title .upright-tag{
		   	  display:inline-block;
		   	  width:6px;
		   	  height:21px;
		   	  line-height:26px;
		   	  background:rgb(192,25,27);
		   }
		   .cln-hot{
		   	 /*background:rgba(200,10,200,0.3);*/
		   	 margin-left:14px;
		   	 font-size:0;
		   }
		   .hl-nav{
		   	  margin:16px 0; 
		   }
		   /*鼠标移动到li上，li变色*/
		   .hl-nav .color-change{
		  	  background:rgb(192,25,27);
		  	  color:white;
		   }
		   .hl-nav .color-change a{
		   	  color:white;
		   }
		   .hl-nav li{
		   	 width:140px;
		   	 height:46px;
		   	 line-height:46px;
		   	 text-align:center;
		   	 cursor: pointer;
		   	 cursor: -ms-pointer;
		   	 text-align:-moz-center;
		   	 font-size:18px;
		   	 font-weight:700;
		   	 border:1px solid rgb(205,205,205);
		   	 background:white;
             display:inline-block;		   	 
		   }
		    .hot-left,.hot-right{
		    	display:inline-block;
		    	vertical-align: top;
		    }
		    .hot-left ul{
		        display: flex;
		        flex-wrap: wrap;
		    }
		    .hot-left ul li{
		        width:227px;
		    	height:68px;
		    	position:relative;
		    	display:inline-block;
		    	margin-right: 13px;
		    	margin-top: 12px;
		    }
		    .hot-left ul li:nth-child(5n){
		    	margin-right: 0px;
		    }
		    .hot-left ul li a{
		    	width:227px;
		    	height: 138px;
		    	display: block;
		    	overflow: hidden;
		    }
		    .hot-left ul li img{
		    	min-width: 100%;
		    	max-height: 100%;
		    }
		    .hot-left ul li p{
		      position:absolute;
		      width:100%;
		      background:rgba(205,205,205,0.5);
		      bottom:0;
		      font-size:14px;
		      color:white;	
		      height:24px;
		      line-height:24px;
		      text-align: center;
		    }
                    .hl-imglist{
                       width:100%;
                       height:100%;
                       overflow:hidden;
                    }
		    .hotlist{
		    	width:708px;
		    	height:438px;
                        overflow:hidden;
		    }
		    .hotlist li{
		    	width:227px;
		    	height:138px;
		    	position:relative;
		    	display:inline-block;
		    }
		    .hotlist li a{
		    	width:227px;
		    	height: 138px;
		    	display: block;
		    	overflow: hidden;
		    }
		    .hotlist li img{
		    	min-width: 100%;
		    	max-height: 100%;
		    }
		    .hotlist li p{
		      position:absolute;
		      width:100%;
		      background:rgba(205,205,205,0.5);
		      bottom:0;
		      font-size:14px;
		      color:white;	
		      height:24px;
		      line-height:24px;
		      text-align: center;
		    }
		    .hotlist li:nth-child(2),.hotlist li:nth-child(5),.hotlist li:nth-child(8){
		    	margin-left:13px;
		    	margin-right:13px;
		    }
		    .hotlist li:nth-child(4),.hotlist li:nth-child(5),.hotlist li:nth-child(6){
		    	margin-top:12px;
		    	margin-bottom: 12px;
		    }
		    .hot-right{
		    	margin-left:25px;
		    }
		    .hr-title{
		    	font-size:18px;
		    	width:120px;
		    	height:50px;
		    	line-height: 50px;
		    	text-align:center;
		    	font-weight:700;
		    	background:rgb(192,25,27);
		    	margin:18px 0;
		    }
		    .hr-title a{
		    	color:white;
		    }
		    .hrcon-left,.hrcon-right{
		    	display:inline-block;
		    	text-align:center;
		    	vertical-align: top;
		    }
		    .hrcon-left h5,.hrcon-right h5{
		    	height:22px;
                        line-height:22px;
                       font-weight:500;
		    	font-size:14px;
		    }
                    .hrcon-right p{
		     	font-size: 12px;
		     	line-height:22px;
		     	text-align:center;
                        width:170px;
                        height:22px;
                        overflow:hidden;
                    }
		    .hr-content h5 a{
		    	font-weight:500;
		    	font-size:14px;
		    }
		    .hrcon-left > div,.hrcon-right > div{
		     	border-right:2px dashed rgb(205,205,205);
		    }
		    .hrcon-left > div{
		    	padding:0 17px 0 8px;
		    }
		    .hrcon-right > div{
		    	padding:0 17px;
		    }
		    .hrcon-left img{
		    	width:210px;
		    	height:60px;
		    }
		    .hrcon-right img{
		    	width:170px;
		    	height:160px;
		    }
		     .hrcon-left p{
		     	font-size: 12px;
		     	line-height:22px;
		     	text-align:center;
                        width:210px;
                        height:22px;
                        overflow:hidden;
                        margin:6px 0;
		     }
		     .hspk-operation{
		     	position:relative;
		     }
		     .hspk-operation .hr-title{
		     	display: inline-block;
		     }
		     .hspk-operation > a{
		     	position:absolute;
		     	bottom:18px;
		     	right:0;
		     	color:rgb(0,154,247)!important;
		     	font-size: 14px;
		     	line-height:20px;
                        cursor:pointer;
		     }
		     .hspk-img li{
		     	display:inline-block;
		     	width:218px;
		     	height:146px;
		     	overflow: hidden;
		     	position:relative;
		     }
		     .hspk-img img{
		     	width:218px;
                        height:146px;
		     }
		     .hspk-img a{
		     	display:block;
		     }
		     .hspk-img p{
		     	position:absolute;
		     	width:100%;
		     	line-height: 24px;
		     	bottom: 0;
		     	font-size:12px;
		     	color:white;
		     	text-align: center;
		     }
		     .hspk-img li:first-of-type{
		     	margin-right:12px;
		     }
		     
		     /*民生速递板块开始*/
		     .hotline-title{
		     	padding-top:30px;
		     	position:relative;
		     }
		     .hotline{
		     	margin-left:30px;
		     }
		     .hotline-title div{
		     	 display: inline-block;
		     	 position:absolute;
		     	 right:20px;
		     	 line-height:30px;
		     	 font-size:16px;
		     }
		      .hotline-title div span{
		      	margin-left:40px;
		      }
		     .hotline-title div a{
		     	display: inline-block;
		     	color:rgb(0,154,247);
		     }
		     .hotline-tag{
		     	height:22px;
		     	line-height:22px;
		     	color:rgb(192,25,27);
		     	border:1px solid rgb(192,25,27);
		     	padding:0 10px;
		     	border-radius: 4px;
		     	font-size:14px;
		     }
		     .hotline-left,.hotline-right{
		     	display:inline-block;
		     	vertical-align: top;
		     }
		     .hotline-left{
		     	width:820px;
		     }
		     .hotline-list{
		     	border-bottom:1px solid rgb(205,205,205);
		     	padding-bottom: 20px;
		     }
		     .hotline-list a{
		     	margin-bottom: 15px;
		     }
		     .hlist-left,.hlist-right{
		     	width:378px;
		     	display:inline-block;
		     	vertical-align: top;
		     }
		     .hlist-left{
		     	font-size:16px;
		     	margin-right:50px;
		     }
		     .hlist-one li{
		     	height:30px;
		     	line-height:30px;
		     }
		     .hlist-one .hlt-title{
		      	margin:25px 0 10px 0;
		     }
		     .hlist-one li p{
		     	display:inline-block;
		     	width:270px;
		     	overflow: hidden;
		     	text-overflow: ellipsis;
		     	-ms-text-overflow: ellipsis;
		     	white-space: nowrap;
		     }
		     .hlist-one li span{
		     	margin-left:14px;
		     	vertical-align:top;
		     }
		     .hlist-two .hlt-title{
		     	margin:20px 0 10px 0;
		     }
		     .hlist-two li p{
		     	width:auto;
		     	max-width: 270px;
		     }
		    .hlist-three .hlt-title{
		     	margin:25px 0 15px 0;
		     }
		     .hlist-three li{
		     	width:170px;
		     	height:142px;
		     	display:inline-block;
		     	font-size:14px;
                        float:left;
		     }
		     .hlist-three li p{
		     	overflow: hidden;
			    text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-line-clamp: 2;
			    -webkit-box-orient: vertical;
		     }
		     .hlist-three li  a{
		     	display: inline-block;
		        width:170px;
		     	height:142px;
		     }
		     .hlist-three li img{
		     	display:block;
		     	width:170px;
                        height:99px;
		     }
		     .hlist-three li a{
		     	color:rgb(100,100,100);
		     }
		     .hlist-three li:nth-of-type(1),.hlist-three li:nth-of-type(3), .hlist-three li:nth-of-type(5){
		     	margin-right:26px;
		     }
		     .hlist-three li:nth-of-type(3),.hlist-three li:nth-of-type(4){
		     	margin-top:20px;
		     	margin-bottom:20px;
		     }
		     .hotline-operation{
		     	padding:13px 0 20px 730px;
		     }
		     .hotline-operation a{
                       cursor:pointer;
		     }
		     .hotline-operation a img{
		     	vertical-align: middle;
		     	margin-right:8px;
		     }
		     .hotline-operation a span{
		     	font-size:16px;
		     	vertical-align: middle;
		     }
		     .hotline-right{
		     	width:300px;
		     	margin-left:44px;
		     }
		     .hotline-right .cln-title{
		     	margin-top:25px;
		     	border-bottom: 0;
		     	font-size:20px;
		     	margin-left:0;
		     }
		     .callme{
		     	font-size:16px;
		     	font-weight:500;
		     	float:right;
                        cursor:pointer;
		     }
		     .callme span,.callme img{
		     	vertical-align: middle;
		     	margin-left:5px;
		     }
		     .hotline-right .cln-title span:first-child{
		     	vertical-align: middle;
		     }
		     .hlrt-img{
		     	width:300px;
		     	height:138px;
		     	position:relative;
		     	overflow: hidden;
		     }
		     .hlrt-img a{
		     	display:block;
                        width:100%;
                        height:100%;
		     }
		     .hlrt-img img{
		     	width:100%;
		     	display:block;
		     }
		     .hlrt-img p{
		     	width:100%;
		     	position:absolute;
		     	text-align:center;
		     	text-align: -webkit-center;
		     	text-align: -moz-center;
		     	background:rgba(25,25,25,0.6);
		     	color:white;
		     	font-size:15px;
		     	bottom: 0;
		     	height:32px;
		     	line-height:32px;
		     }
		     .hlrt-list{
		     	margin-top:10px;
		     }
		     .hlrt-list a{
		     	display: block;
		     }
		     .hlrt-list li p{
		     	width:100%;
		     	line-height:30px;
		     	height:30px;
		     	overflow: hidden;
		        text-overflow: ellipsis;
		     	-ms-text-overflow: ellipsis;
		     }
		     /*文字超出部分隐藏变为省略号*/
		     .textover{
		     	overflow: hidden;
		     	text-overflow: ellipsis;
		     	-ms-text-overflow: ellipsis;
		     	white-space: nowrap;
		     }
		     .hlrb-img{
		     	width:122px;
		     	overflow: hidden;
		     	font-size:14px;
		     	display:inline-block;
		     }
		     .hlrb-img img{
		     	width:100%;
		     	height:74px;
		     }
		     .hlrb-img p{
		     	width:100%;
		     	line-height:30px;
		     	height:30px;
		     	overflow: hidden;
		     }
		     .hlright-bottom .hlrb-img:nth-of-type(2){
		     	margin-right:30px;
		     }
		     .hlrb-list li p{
		     	width:100%;
		     	height:30px;
		     	line-height:30px;
		     	overflow:hidden;
		     }
		     .hlrb-list li a{
		     	display:block;
		     	height:30px;
		     }
		     .hlrb-list li span{
		     	display:inline-block;
		     	width:5px;
		     	height:5px;
		     	margin-right:10px;
		     	background:rgb(180,180,180);
		     }
		     
		     /*旅游天地板块*/
		    .tour-left{
		    	width:388px;
		    	margin-left:20px;
		    	display:inline-block;
		    	vertical-align: top;
		    }
		    .tour-tag{
		    	width:388px;
		    	height:50px;
		    	line-height:50px;
		    	background:url(http://www.hsnewsnet.com/img/travel_line.jpg) repeat-x;
		    	background-size: 100% 100%;
		    }
		    .tour-tag span{
		    	line-height:50px;
		    	background:white;
		    	padding-right:12px;
		    	font-size:20px;
		    	font-weight: 700;
		    	color:rgb(188,25,26);
		    }
		    .tour-tag span a{
		    	color:rgb(188,25,26);
		    }
		    .tl-content a{
		      display: block;
		    }
		    .tl-content h5{
		    	font-size:16px;
		    	line-height:50px;
		    }
		    .tl-content p{
		    	font-size:16px;
		    	line-height:32px;
		    }
		    .tour-left,.tour-middle{
		    	padding-top:25px;
		    }
		    .tour-middle{
		    	width:750px;
		    	display:inline-block;
		    	vertical-align: top;
		    	margin:0 0px 0 50px;
		    }
		    .tourm-content{
		    	margin:25px 20px 25px 0;
                        display:inline-block;
		    }
		    .tourm-content a{
		    	display:block;
		    }
		    .tourm-content  img{
		    	width:156px;
		    	height:104px;
		    	display:block;
		    	margin-right:8px;
		    }
		    .tourm-text{
		    	width:180px;
                        font-size:14px;
		    	line-height:20px;
		    	vertical-align: top;
		    	color:rgb(120,120,120);
		    }
		    .tourm-text h5{
		    	font-size:16px;
                        height:48px;
		    	line-height: 25px;
	                overflow: hidden;
	                text-overflow: ellipsis;
	               -ms-text-overflow: ellipsis;
	               -webkit-line-clamp: 2;
	                display:-webkit-box;
                       -webkit-box-orient:vertical;
		    	color:black;
		    	font-weight: 500;
		    }
                  .tourm-text p{
                        width:180px;
                        height:39px;
	                overflow: hidden;
	                text-overflow: ellipsis;
	               -ms-text-overflow: ellipsis;
	               -webkit-line-clamp: 2;
	                display:-webkit-box;
                       -webkit-box-orient:vertical;
                   }
		    .tourm-content  img,.tourm-text{
		       display:inline-block;
		    }
		/**    .tour-right{
		    	width:315px;
		    	height:338px;
		    	display:inline-block;
		    	vertical-align: top;
		    	background:rgb(247,247,247);
		    	margin-top:20px;
		    }
		    .tour-right .tour-tag{
		    	background-image: none;
		    	text-align: center;
		    	width:100%;
		    }
		    .tour-right .tour-tag span{
		    	background:none;
		    }
		    .tour-right p{
		    	line-height:35px;
		    	padding:0 12px;
		    	font-size:14px;
		    	overflow: hidden;
		    }
		    .tour-right p a{
		    	color:rgb(120,120,120);
		    }
		    .tour-right p span:first-child{
		     	font-weight:600;
		     	margin-right:15px;
		     	margin-left:0;
		    }
		    .tour-right p span:first-child a{
		    	color:rgb(100,100,100);
		    }
		    .tour-right p span{
		        margin-left:3px;
		    }   **/
		    /*旅游板块结束*/
		   
		   /*资讯中心板块*/
		  .newscenter-title{
		  	  padding-top:30px;
		   }
		   .news-center{
		   	 padding-top:15px;
		   	 margin-left:20px;
		   }
		   .nscenter-title{
		   	  width:100%;
		   	  line-height:36px;
		   }
		   .news-center .nscenter-title{
		   	  /*background:url(/images/index/newscenter-bg.png) no-repeat;*/
		   	  /*background-size: 100% 100%;*/
		   }
		   .nscenter-title div{
		   	  display:inline-block;
		   	  font-size:20px;
		   	  font-weight:700;
		   	  color:rgb(0,151,255);
		   	  padding:0 25px 2px 0;
		   	  /*background:url(/images/index/newsctr.png) no-repeat right bottom;*/
		   	  background-color:white;
		   }
		   .nscenter-title div span{
		   	  background:white;
		   }
		   .nscenter-title div a{
		   	 color:rgb(0,151,255);
		   }
		   .nscenter-title p{
		   	  display:inline-block;
		   	  width:300px;
		   	  height:30px;
		   	  border-top: 5px solid #ccc;
		   }
		   .nscenter-content{
		   	  margin-left:20px;
		   	  padding-bottom:20px;
		   }
		   .nscenter-left,.nscenter-right{
			   	display:inline-block;
			   	vertical-align: top;
		   }
                  .nscenter-left{
                            width:894px;
                   }
		   .nscenter-right{
		     	margin-left:10px;
		   }
		   .nscenter-right  a{
		   	 display: block;
		   }
		   .nscenter-right{
		   	    width: 284px;
			    height: 235px;
			    overflow: hidden;
			   /* margin-top: 66px; */
			    position: relative;
		   }
		   .nscenter-right  .nscrbt-one{
		           display: inline-block;
		   	   width:139px;
		   	   /*height:77px;
		   	   overflow: none;*/
		   	   position:relative;
		   }
                   .nscenter-right  .nscrbt-one:nth-of-type(1),.nscenter-right  .nscrbt-one:nth-of-type(2){
                           margin-bottom:15px;
                    }
		   .nscenter-right  .nscrbt-one img{
		   	   width:139px;
		   	   height:77px;
                    }
		   .nscenter-right .nscrbt-one p{
		     	  width:100%;
		   	  line-height:22px;
		   	  font-size:12px;
                          color:black;
		   	/*  color:white;
		   	  bottom: 0;
		   	  position: absolute; */
		   	  text-align: center;
		   }
		   .nscenter-right  img{
		   	   width:100%;
		   }
		   .one-tag a{
		   	  color:white;
		   }
		   .nsc-tag{
		     	display: inline-block;
		    	height:20px;
		    	line-height:20px;
		    	padding:0 5px;
		    	font-size:14px;
		    	border-radius:10px;
		    	border:1px solid rgb(192,27,25);
                        color:rgb(192,27,25);
		   }
		   .nscl-title{
		   	  margin:20px 0;
		   }
		   .nscl-title p span:last-child{
		   	  font-size:18px;
		   	  line-height:25px;
		   	  font-weight:600;
		   	  vertical-align: middle;
		   }
                   .nscenter-content .nscl-con{
                         width:894px;
                         font-size:16px;
		   	 line-height:30px;
                    }
                    .nscl-con p{
                          display:inline-block;
                          margin-right:10px;
                          width:425px;
		   	  height:35px;
		   	  line-height:35px;
		   	  overflow: hidden;
                    }
		   .nscl-left,.nscl-right{
		   	  display:inline-block;
		   	  font-size:16px;
		   	  line-height:30px;
		   	  margin-right:20px;
		   }
		   .nscl-left p,.nscl-right p{
		   	  width:425px;
		   	  height:35px;
		   	  line-height:35px;
		   	  overflow: hidden;
		   }
		   /*黄山媒体矩阵*/
		  .hs-media .nscenter-title{
		  	background:none;
		  }
		  .hs-media .nscenter-title div{
		  	 background-image:none;
		  }
		  .media-array{
		  	width:100%;
		  	padding-top:15px;
		  	display: flex;
		  	justify-content: space-between;
		  }
		  .media-array a{
		  	display:block;
		  }
		  .media-array li:last-of-type{
		  	 margin-right:0;
		  }
		  .media-array li[index="12"]{
		  	 margin-right:0;
		  }
		  .media-array li{
		  	 display:inline-block;
		  	 width:68px;
		  	 height:74px;
		  	 margin-right:20px;
		  	 
		  }
		  .media-array li img{
		   	  width:100%; 
		  }
		  
		  /*广电合作*/
		 .convenient-people{
		 	font-size:16px;
		 	padding:40px 0;
		 	position: relative;
		 }
		  .convenient-people .nscenter-title div{
		  	 background:none;
		  	 padding-bottom: 20px;
		  }
		  .convenient-people .nscenter-title div span{
		  	 margin-right:5px;
		  }
		  .convenient-people  .nscl-left,.convenient-people  .nscl-right{
		  	 vertical-align: top;
		  }
		  .convenient-people  .nscl-left{
		  	 width:600px;
		  }
		  .convenient-people  .nscl-right{
		  	  border:1px solid rgb(0,151,255);
		  	  width:490px;
		  	  padding:10px 25px;
		  	  position: absolute;
		  	  right:0;
		  	  margin-right:0;
		  }
		  .easy-content ul{
		  	  width:100%;
		  }
		  .convenient-people .nscl-right .easy-content li{
		  	  display:inline-block;
		  	  line-height:30px;
		  	  min-width: 116px;
		  }
		  .convenient-people .nscl-right .easy-content li:last-of-type{
                       margin-left:30px;
                   }
		  /*组织新闻链接四张图片部分*/
		  .partyimg-list{
		  	 width:1202px;
		  	 margin-left:14px;
		  	 padding:10px 0 30px 0;
		  }
		   .partyimg-list img{
		   	 width:286px;
		   	 height:83px;
		   	 margin-right:10px;
		   }
		  /*友情链接板块开始*/
		  .friend-links{
		  	font-size: 16px;
		  	padding:30px 12px 35px 14px;
		  	line-height:30px;
		  }
		  .friend-links span{
		  	padding-right:5px;
		  }
.friend-links span.link_r{color:rgb(192,25,27);font-weight:bold;}		
		
		/*右侧二维码*/
		#news-twocode{
			position:fixed;
			width:114px;
			height:375px;
			right:24px;
			top:300px;
			z-index:100;
		}
		#news-twocode img{
			width:114px;
			height:114px;
		}
		#news-twocode div:first-of-type{
			margin-top:0;
		}
		#news-twocode div{
			margin-top:10px;
		}
/*列表页*/
.list_container{width:1216px;margin:0 auto;overflow:hidden;min-height:417px;}
.list_container dl{padding:24px 0;border-bottom:1px solid #e8e8e8;overflow:hidden;}
.list_container dl dt{width:165px;height:110px;float:left;margin-right:25px;}
.list_container dl dt img{width:165px;height:110px;}
.list_container dl dd{float:left;width:1000px;}
.list_container dl dd h2{margin-bottom:17px;}
.list_container dl dd h2 a{color:#000;font-size:16px;}
.list_container dl dd h2 span{font-size:14px;margin-left:20px;font-weight:400;color:rgb(50,50,50);}
.list_container dl dd p{color:#787878;font-size:14px;}
.pages{width:1216px;height:64px;margin:36px auto;text-align:center;}
.pages span{display:inline-block;margin-right:6px;}
.pages span a{border:1px solid #c8c8c8;height:31px;display: inline-block;line-height:31px;padding:0 12px;}
.pages span a.on{height:33px;display: inline-block;line-height:33px;padding:0 12px;background:#bc191a;color:#fff;}
.pages input{width:33px;text-align:center;border:1px solid #c8c8c8;height:31px;display: inline-block;line-height:31px;margin-right:10px;}
/*内容页 begin*/
.crumbs_nav{width:98%;border-bottom:1px solid #f1f1f1;height:34px;margin:0 1%;}
.crumbs_nav ul{width:1216px;margin:0 auto;}
.crumbs_nav ul li{float:left;color:#333;font-size:16px;height:34px;line-height:34px;}
.crumbs_nav ul li a{color:#333;font-size:16px;}
.crumbs_nav ul li.on{color:#bc191a;}
.content{overflow:hidden;width:1216px;margin:27px auto 107px;}
.player{width:1216px;height:582px;margin:0 auto 52px;}
.content h3{font-size: 28px;line-height: 40px;color:#333;}
.content .assist {height: 28px;line-height: 28px;margin: 10px 0 20px;color: #666;font-size:16px;}
.content .assist .time{float:left;margin-right:20px;}
.content .content_center p{font-size: 16px;line-height: 30px;overflow:hidden;margin-top:15px;margin-bottom:15px;}



.hs_wxImg_box{position:relative;}
.hs_wxImg_box .hs_wxImg {position: absolute;padding: 0;top: 35px;left: -12px;width: 200px;height: 200px;overflow: hidden;display: none;z-index: 9999;cursor: pointer;}
.hs_wxImg_box .hs_wxImg img {width: 100%;height: 100%;}
.hs_wxImg_box:hover .hs_wxImg {display: block;}
.nscenter-content li{position:relative;}
.nscenter-content li .hsimg{position: absolute;padding: 0;top:72px;left: -12px;width: 200px;height: 200px;overflow: hidden;display: none;z-index: 9999;cursor: pointer;}
.nscenter-content li .hsimg img{width: 100%;height: 100%;}
.nscenter-content li:hover .hsimg {display: block;}


/*内容页底部的新闻推荐*/
                     .related_news{
                            width:100%;
                            margin-top:35px;
                            font-size:14px;
                         }
                       .long_line{
                           width:100%;
                           height:10px;
                           border-top:1px solid rgb(200,200,200); 
                       }
                       .related_news h5{
                           line-height:30px;
                           font-weight:500; 
                           font-size:18px; 
                           padding-left:10px;   
                       }
                        .related_news h5 span{
                           padding:0 10px;
                           border-left:5px solid rgb(188,25,26);
                        }
                        .newslist_box{
                           padding:10px 20px 0 20px; 
                        }
                        .newslist_box li{
                             height:36px;
                             line-height:36px;
                         }
                         .newslist_box .rnews_title{
                            display:inline-block;
                            max-width:600px;
                            height:100%;
                            overflow:hidden; 
                        }
                        .newslist_box .rnews_title a{
                            display:block;
                         }
                         .newslist_box .rnews_title a:hover{
                              color:rgb(188,25,26);
                         }
                        .newslist_box .news_disc{
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            border-radius: 3px;
                            background: rgb(200,200,200);
                            margin-right: 10px;
                         }
                        .newslist_box span{
                            vertical-align: middle;
                         }
                        .newslist_box .rnews_time{
                                 padding-right:40px;
                                 color:rgb(100,100,100);
                                 float:right;         
                         }
                         
                         
                         
    #pwindow{
       /*width:260px;*/
       width:350px;
       height:200px;
       z-index:999;
   }
   #pwindow img{
       width:100%;
       display:block;
       margin:0;
   }
   #pwindow p{
       text-align:right;
   }
   #pwindow p a{
       cursor:pointer;
   }
   
   /*视频样式*/
   div[id*="TIDE_PLAYER_"]{background:#fff !important;}
   div[style='position:relative;z-index:300;']{text-align:center;}
   object[id*="TIDE_PLAYER_"]{text-align:center;width:640px;height:480px;}
   embed[name*="TIDE_PLAYER_"]{width:640px;height:480px;}
   
   
   .shareBox {
	  float:left;
	  position: relative;
	}
	.shareBox .item {
	  width: 120px;
	  height: 30px;
	  line-height: 30px;
	  cursor: pointer;
	  float:left;
	}
	.shareBox .item:hover span {
	  color: #FF1534;
	}
	.shareBox .item i {
	  float: left;
	  width: 30px;
	  height: 30px;
	}
	.shareBox .item span {
	  float: left;
	  font-size: 16px;
	  font-family: MicrosoftYaHei;
	  color: #111111;
	  margin-left: 12px;
	}
	.shareBox .item:nth-child(1) {
	  background: url(../image/share_weibo.png) no-repeat;
	  background-size: 30px 30px;
	}
	.shareBox .item:nth-child(2) {
	  background: url(../image/share_qq.png) no-repeat;
	  background-size: 30px 30px;
	}
	.shareBox .item:nth-child(3) {
	  background: url(../image/share_weixin.png) no-repeat;
	  background-size: 30px 30px;
	}
	.shareBox .shareimg_weixin_div{
		line-height: 40px;
		text-align: center;
		z-index: 3;
		overflow: visible;
		width: 155px;
		margin-left: 0;
		position: absolute;
		padding: 20px;
		border: 1px solid rgb(209, 210, 214);
		top: 45px;
		background-color: rgb(255, 255, 255);
		display: none;
		left: 181px;
	}
   
