
/* CSS Document */
.changePic {overflow: hidden;position: relative;}
.changePic .content_pic {overflow: hidden;}
.changePic #index-slide .changeDiv a {display: none;left: 0;position: absolute;top: 0;}
.changePic #index-slide .title-bg, .changePic .title {bottom: 0;height: 30px;left: 0;line-height: 30px;overflow: hidden;position: absolute;width:100%;}
.changePic #index-slide .title-bg {background: none repeat scroll 0 0 #000000;opacity: 0.5;}
.changePic #index-slide .title a {color: #ffffff;display: block;padding-left:10px;}
.changePic #index-slide .change {bottom: 4px;height: 20px;position: absolute;right: 3px;text-align: right;z-index: 9999;}
.changePic #index-slide .change i {background: none repeat scroll 0 0 #666666;color: #ffffff;cursor: pointer;display: -moz-inline-stack;font-family: Arial;font-size: 12px;font-style: normal;
height: 15px;line-height: 15px;margin-right: 2px;padding: 2px 6px;}
.changePic #index-slide .change i.cur {background: none repeat scroll 0 0 #ff7700;}