#focus {
	OVERFLOW: hidden; HEIGHT: 298px; POSITION: relative; LEFT: 0px; TOP: 0px; WIDTH: 370px
}
#focus .focus_view {
	OVERFLOW: hidden; HEIGHT: 228px; WIDTH: 370px
}
#focus .focus_view UL {
	OVERFLOW: hidden; HEIGHT: 228px; POSITION: relative; WIDTH: 370px
}
#focus .focus_view LI {
	HEIGHT: 228px; POSITION: absolute; LEFT: 0px; TOP: 0px; WIDTH: 370px; opacity: 0
}
#focus .focus_view IMG {
	HEIGHT: 228px; FLOAT: left; WIDTH: 370px
}
#focus .focus_text {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; LEFT: 0px; FILTER: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#50000000',endColorstr = '#50000000')\9; Z-INDEX: 3; TOP: 198px; PADDING-RIGHT: 15px; WIDTH: 340px
}
#focus .focus_text H3 {
	OVERFLOW: hidden; HEIGHT: 30px; TEXT-ALIGN: right; LINE-HEIGHT: 30px
}
#focus .focus_text H3 A {
	FONT-SIZE: 18px; FONT-FAMILY: "微软雅黑", "黑体", Arial, sans-serif; FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: none
}
#focus .focus_text LI {
	DISPLAY: none
}
#focus .focus_text LI.show {
	DISPLAY: block
}
#focus .focus_slider {
	HEIGHT: 64px; PADDING-TOP: 10px; MARGIN: 0px auto; WIDTH: 370px; padding-bottom:5px;
}
#focus .focus_slider .mask {
	OVERFLOW: hidden; HEIGHT: 64px; FLOAT: left; MARGIN-LEFT: 8px; MARGIN-TOP: 0px; DISPLAY: inline; WIDTH: 330px; MARGIN-RIGHT: 6px
}
#focus .focus_slider UL {
	OVERFLOW: hidden; HEIGHT: 58px; MARGIN-LEFT: 0px; WIDTH: 660px
}
#focus .focus_slider LI {
	OVERFLOW: hidden; BORDER-TOP: #e5e5e5 2px solid; HEIGHT: 50px; BORDER-RIGHT: #e5e5e5 2px solid; BORDER-BOTTOM: #e5e5e5 2px solid; FLOAT: left; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; MARGIN: 0px 4px; BORDER-LEFT: #e5e5e5 2px solid; DISPLAY: inline; PADDING-RIGHT: 2px; WIDTH: 66px; border-radius: 4px
}
#focus .focus_slider .current {
	BORDER-TOP: #900 2px solid; BORDER-RIGHT: #900 2px solid; BORDER-BOTTOM: #900 2px solid; BORDER-LEFT: #900 2px solid
}
#focus .focus_slider LI IMG {
	HEIGHT: 50px;WIDTH: 66px; 
}
#focus .focus_slider LI A {
	OVERFLOW: hidden; HEIGHT: 50px; BACKGROUND: #000; DISPLAY: block; WIDTH: 66px
}
#focus SPAN.prev {
	CURSOR: pointer; HEIGHT: 64px; FLOAT: left; MARGIN: 0px; WIDTH: 13px
}
#focus SPAN.next {
	CURSOR: pointer; HEIGHT: 64px; FLOAT: left; MARGIN: 0px; WIDTH: 13px
}
#focus SPAN.prev {
	BACKGROUND: url(../image/home_newsslider_lf.jpg) no-repeat 2px 10px
}
#focus SPAN.next {
	BACKGROUND: url(../image/home_newsslider_rg.jpg) no-repeat 2px 10px
}
#focus LI.current IMG {
	
}
#focus #num {
	FONT-SIZE: 14px; RIGHT: 10px; POSITION: absolute; COLOR: #fff; TOP: 10px
}
