html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
div,
dl,
dt,
dd,
ul,
ol,
li,
input,
button,
textarea,
p,
th,
td,
a,
img,
strong {
    border: 0;
    margin: 0px;
    padding: 0px;
}

body,
input,
button,
select,
td,
th,
textarea {
    font-family: "Microsoft Yahei", arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

li {
    list-style-type: none;
}

img,
input {
    vertical-align: middle;
}

img {
    max-width: 100%;
}

cite,
em {
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

.clear {
    clear: both;
    font: 0px/0px sans-serif;
    display: block;
}

.cfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}

.cfix {
    zoom: 1;
}

.none,
.dropMenu li dl {
    display: none;
}

.fLeft,
.dropMenu li {
    float: left;
}

.fRight,
.bq_footer ul li {
    float: right;
}

.block,
.dropMenu li a {
    display: block;
}

.cul_header ul li {
    float: right;
}

.cul_header ul,
.cul_footer .fBox {
    width: 1200px;
    margin: 0 auto;
}

.cul_footer .fBox {
    overflow: hidden;
}

.cul_footer,
.cul_footer .fBox a {
    color: #fff;
}

.mt50 {
    margin-bottom: 50px;
}

.cul_header ul li,
.cul_footer .fBox a {
    font-size: 18px;
}

.cul_header {
    width: 100%;
    min-width: 1200px;
    height: 48px;
    border-bottom: 2px solid #efefef;
    box-shadow: 2px 2px 8px 2px #efefef;
    background: #fff;
}

.entBox_hrf .cul_header {
    box-shadow: none;
}

.cul_header ul {
    line-height: 49px;
    height: 50px;
}

.cul_header ul li a {
    color: #595757;
    border-right: 1px solid #8e8d8d;
    display: inline-block;
    line-height: 18px;
    padding: 0 18px;
}

.cul_header ul li.active,
.cul_header ul li:hover {
    position: relative;
    z-index: 99999;
    margin-left: -1px;
    background: #bc1409;
}

.cul_header ul li.active a,
.cul_header ul li:hover a {
    padding: 0 18.5px;
    color: #fff;
}

.cul_header ul li.active a,
.cul_header ul li:hover a,
.cul_header ul li.cul_transparent a {
    border-right: 1px solid transparent;
}

.cul_subNav li a:hover,
.cul_subNav li.active a {
    color: #bc1409
}

.cul_subNav_box .cul_logo {
    display: flex;
    align-items: center;
}

.cul_footer {
    background: #333;
    width: 100%;
    min-width: 1200px;
    font-size: 16px;
}

.cul_footer .fBox {
    height: 82px;
    line-height: 82px;
}

.cul_footer .fBox p.fLeft {
    line-height: 88px;
}

.cul_footer .fBox a span {
    margin: 0 7px 0 9px;
}

#gotoTop {
    display: none;
    cursor: pointer;
    width: 34px;
    height: 34px;
    background: url(../image/gotop_n.png) no-repeat;
    float: right;
    right: 50%;
    bottom: 0;
    position: fixed;
}

#gotoTop:hover {
    background: url(../image/gotop_h.png) no-repeat;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.bq_header,
.bq_links,
.bq_footer {
    min-width: 1200px;
}

.bq_header {
    font-size: 14px;
    background: #fff;
}

.dropMenu li dl,
.bq_footer {
    font-size: 12px;
}

.dropMenu li a,
.dropMenu li dl dd a,
.epaper .dropMenu li {
    color: #808080;
}

.headerTop_127 {
    height: 151px;
}

.bq_header {
    padding: 18px 0 10px;
}

.dropMenu li {
    width: 104px;
    text-align: center;
}

.dropMenu li.emailNew {
    text-align: right;
    width: auto;
}

.dropMenu li.invite {
    width: 90px;
}

.dropMenu li a:hover,
.bq_footer a:hover {
    color: #1c79a7;
}

.dropMenu li.active {
    position: relative;
    cursor: pointer;
}

.dropMenu li.active a {
    background: url(../image/cul_icon.png) no-repeat;
}

.dropMenu li a.weiBo {
    background-position: 75px -710px;
}

.dropMenu li a.gongZhongHao {
    background-position: 83px -710px;
}

.dropMenu li.cur a.weiBo {
    background-position: 75px -740px;
}

.dropMenu li.cur a.gongZhongHao {
    background-position: 83px -740px;
}

.dropMenu li dl {
    border-top: 4px solid #a8cfed;
    background: #e8e8e8;
    width: 104px;
    position: absolute;
    top: 36;
    left: 0;
    z-index: 100000;
}

.dropMenu li dl dd {
    line-height: 36px;
    padding: 0 9px;
}

.dropMenu li.active dl dd a {
    background: none;
}

.dropMenu li dl dd a {
    border-bottom: 1px solid #ccc;
    color: #707070;
}

.dropMenu li dl dd.dd_last-child a {
    border-bottom: 0;
}

.navBar {
    background: #d5e7f3;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    width: 100%;
    left: 0;
    margin-bottom: 15px;
}

.navBar ul {
    background: #f5f5f5;
}

.navBar ul li {
    width: calc(1200px / 17);
    float: left;
}

.navBar ul li {
    border-top-style: solid;
    transition: background .3s;
    -moz-transition: background .3s;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    text-align: center;
}

.navBar ul li a {
    display: block;
    border-left: 1px solid #d2d2d2;
    /*color: #3e3a39;*/
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.navBar ul li:last-child a {
    border-right: 1px solid #d2d2d2;
}

.navBar ul li:hover a {
    color: #fff;
    border: none;
}

.navBar ul li {
    border-top-width: 5px;
}

.navBar_height {
    height: 38px;
    margin-bottom: 20px;
}

.subBar {
    background-color: #fff;
    border-top: 1px solid #dcdddd;
    position: relative;
}

.subBar ul li {
    float: left;
    width: 79px;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #dcdddd;
    text-align: center;
}

.subBar ul li a {
    font-family: "Hiragino Sans GB W3";
    font-size: 14px;
    color: #3e3a39;
}

.subBar ul {
    border-left: 1px solid #dcdddd;
}

.subBar li:hover {
    background: #dcdddd;
}

.subBar li:hover a {
    color: #727171;
}

.col_index {
    border-top-color: #e6ca89;
}

.col_news {
    border-top-color: #76c1e3;
}

.col_bjqn {
    border-top-color: #fd6801;
}

.col_beijing {
    border-top-color: #900d00;
}

.col_ent {
    border-top-color: #c490bf;
}

.col_finance {
    border-top-color: #a9ceee;
}

.col_financial {
    border-top-color: #67c7ce;
}

.col_sports {
    border-top-color: #5ab623;
}

.col_life {
    border-top-color: #b28850;
}

.col_edu {
    border-top-color: #2d543a;
}

.col_culture {
    border-top-color: #614a31;
}

.col_home {
    border-top-color: #9eb76e;
}

.col_auto {
    border-top-color: #556b96;
}

.col_photography {
    border-top-color: #62a3de;
}

.col_ly {
    border-top-color: #90c486;
}

.col_game {
    border-top-color: #f39800;
}

.col_cartoon {
    border-top-color: #61bbd0;
}

.col_health {
    border-top-color: #72c17b;
}

.col_index:hover {
    background: #e6ca89;
}

.col_opinion {
    border-top-color: #386688;
}

.col_news:hover,
.col_news_bg {
    background: #76c1e3;
}

.col_bjqn:hover,
.col_bjqn_bg {
    background: #fd6801;
}

.col_beijing:hover,
.col_beijing_bg {
    background: #900d00;
}

.col_ent:hover,
.col_ent_bg {
    background: #c490bf;
}

.col_finance:hover,
.col_finance_bg {
    background: #a9ceee;
}

.col_financial:hover,
.col_financial_bg {
    background: #67c7ce;
}

.col_sports:hover,
.col_sports_bg {
    background: #5ab623;
}

.col_life:hover,
.col_life_bg {
    background: #b28850;
}

.col_edu:hover,
.col_edu_bg {
    background: #2d543a;
}

.col_culture:hover,
.col_culture_bg {
    background: #614a31;
}

.col_home:hover,
.col_home_bg {
    background: #9eb76e;
}

.col_auto:hover,
.col_auto_bg {
    background: #556b96;
}

.col_ly:hover,
.col_ly_bg {
    background: #90c486;
}

.col_game:hover,
.col_game_bg {
    background: #f39800;
}

.col_photography:hover,
.col_photography_bg {
    background: #62a3de;
}

.col_cartoon:hover,
.col_cartoon_bg {
    background: #61bbd0;
}

.col_health:hover,
.col_health_bg {
    background: #72c17b;
}

.col_opinion:hover,
.col_opinion_bg {
    background: #386688;
}

.col_news_bg a,
.col_bjqn_bg a,
.col_beijing_bg a,
.col_ent_bg a,
.col_finance_bg a,
.col_financial_bg a,
.col_sports_bg a,
.col_life_bg a,
.col_edu_bg a,
.col_culture_bg a,
.col_home_bg a,
.col_auto_bg a,
.col_ly_bg a,
.col_game_bg a,
.col_ent_live_bg a,
.col_health_bg a,
.col_cartoon_bg a,
.col_opinion_bg a {
    color: #fff;
}

.bq_footer {
    background: #292929;
    padding: 25px 0;
}

.bq_footer p,
.bq_footer ul {
    margin-bottom: 10px;
}

.bq_footer .fLeft p a {
    margin-right: 8px;
}

.bq_footer ul li {
    border-right: 1px solid #fff;
    line-height: 13px;
    padding: 0 6px 0 7px;
}

.bq_footer ul li.bq_footer_liFirst {
    border-right: none;
    padding-right: 0;
}

.bq_footer div.fRight {
    text-align: right;
}

.bq_footer,
.bq_footer a,
.bq_footer p,
.bq_footer p a,
.bq_footer ul li a {
    color: #dedcdc;
}