
a:hover {color:#FF0000;text-decoration:underline;}
*{margin:0px; padding:0px;}
body{margin:0px; padding:0px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0px; margin:0px;}
table,td,tr,th{font-size:12px;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{border:0px;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.blank5{margin-top:5px;}
.blank10{margin-top:10px;}
.blank20{margin-top:20px;}
a{color:#2c374b; text-decoration:none;}
.w980{width:980px; margin:0px auto;}
.header{height:30px; background:#f0f0f0; border-bottom:1px solid #d8d8d8; font-size:12px; color:#d0ced9;}
.headerleft{float:left;}
.headerright{float:right;}
.header a{height:30px; background:#f0f0f0; text-decoration:none; line-height:30px;}
.header a{margin:0px 10px;}
.ad{width:980px; margin-left:auto; margin-right:auto;}
.nav{width:980px; margin-left:auto; margin-right:auto; font-size:14px; line-height:34px; height:34px; color:#024498; border-bottom:1px solid #dbdbdb; padding-bottom:10px;}
.nav .nava{ float:left;padding-left:10px;width:141px; text-align:right;}
.nav .navb{ float:left;padding-left:25px; width:799px;}
.nav a{font-size:14px; line-height:34px; height:34px; color:#024498; text-decoration:none;font-weight:bold;margin:0px 7px;}
.wrapper{width:980px; margin-left:auto; margin-right:auto;}
.cola{float:left;width:640px;}
.cola-ad{width:100%; text-align:left;}
.cola-position{font-size:12px; line-height:22px; color:#252525;}
.cola-position a{ text-decoration:none;}
.weizhi{float:left; height:27px; line-height:27px;}
.search{float:right; width:300px; }
.search span{float:left;height:27px; line-height:27px; margin-right:5px;}
.cola-content{width:100%;}
.cola-content h1{width:100%;text-align:center; font-size:28px; height:50px; line-height:50px; font-weight:bold;}
.cola-content .other{height:30px; text-align:center;font-size:12px; color:#878787; line-height:30px; padding:10px 0px;}
.cola-content .other span{padding:0px 10px;}
.cola-content .content{font-size:14px; color:#252525; line-height:25px; padding:20px; overflow:hidden;}
.share{font-size:14px; color:#878787;margin-top:50px; height:40px; line-height:40px;}
.share .sharezi{float:left;}
.bdsharebuttonbox{float:left;padding-top:5px;}
.editor{float:right; padding-right:30px; color:#000; font-weight:bold;}
/*相关新闻*/
.xgxw-list{width:100%;border-top:2px solid #228bc4;overflow: hidden;}
.xgxw-list h2{height:35px; line-height:35px; padding-left:10px; border-bottom:1px solid #daecec;}
.xgxw-list h2 a{font-size:14px; color:#2e3649; font-weight:bold; text-align:left; text-decoration:none;}
.xgxw-list ul{width:100%;}
.xgxw-list li{font-size:14px; height:27px; line-height:27px;background:url(../image/icon_v9.gif) no-repeat left -124px; overflow:hidden; padding-left:9px;}
.xgxw-list li.current{font-weight:bold;}
.comment .tit{width:100%;}
.comment .tit-a{float:left; height:30px; line-height:30px;font-size:14px; font-weight:bold;}
.comment .tit-b{float:right; font-size:12px; color:#949494;}
.comment .text{width:100%;}
.comment .submit{width:100%; text-align:right;}
/*图集列表*/
/*右边*/
.colb{float:right; width:318px; border-left:1px solid #dbdbdb;}
.colb-ad{width:100%; text-align:right;}
.colb-list{ padding:10px 0px 10px 20px;border-top:1px solid #dbdbdb;}
.tit span{height:30px; line-height:30px;}
.tit span.tita{float:left; font-size:14px; color:#252525; font-weight:bold;}
.tit span.titb{float:right; width:80px; background:url(../image/ydqb.gif) no-repeat 50px 1px;}
.tit span a{font-size:12px;color:#888888; text-decoration:none;}
.colb-list ul{width:100%;}
.colb-list li{font-size:14px; height:27px; line-height:27px;background:url(../image/icon_v9.gif) no-repeat left -124px; overflow:hidden; padding-left:9px;}
.colb-list li.current{font-weight:bold;}
/**/
.footer{width:980px; margin-left:auto; margin-right:auto; padding:20px 0px; border-top:1px solid #dbdbdb;}
.footer p{ text-align:center; font-size:12px;color:#000; line-height:22px;}
/*大标题*/
.dabiaoti {text-align: center;width: 630px;font-size: 26px;line-height: 43px;margin-right: auto;margin-left: auto;font-weight: bold;}

/*评论列表*/
.comment-item{border-bottom:1px dotted rgb(238, 238, 238);padding:10px 0;}
.comment-item-main{font-size:12px;color:#666;margin:0 -10px 0 64px;line-height:24px;}
.comment-item-bar span, .comment-item-pubdate, .comment-item-action a{margin-right:10px;}
/*评论IP隐藏*/
.comment-item-ip{font-size:12px;color:#666;margin:0 -10px 0 64px;line-height:24px;display:none;}
/*评论IP隐藏 END*/
.comment-item-main a{color:#004276;}
.comment-item-avatar{padding:3px 0 0;}
.comment-item-avatar img{border-radius:5px;}
.comment-item-content{color:rgb(0, 0, 0);line-height:18px;}
.comment-item-action {text-align:right;}
.comment-item-digg{position:relative;}
.comment-item-bar{height:24px;}
.comment-item-bar span{float:left;}
.comment-item-bar .comment-item-pubdate{float:right;}
.comment-item-increase{position:absolute;left:0;top:-2px;background:rgb(238, 238, 238);border:1px solid rgb(221, 221, 221);font-weight:700;color:#c00;line-height:20px;width:40px;text-align:center;background-image: -moz-linear-gradient(top, rgb(102, 102, 102), rgb(238, 238, 238));background-image: linear-gradient(top, rgb(102, 102, 102), rgb(238, 238, 238)); background-image: -webkit-linear-gradient(top, rgb(102, 102, 102), rgb(238, 238, 238));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(102, 102, 102)', endColorstr='rgb(238, 238, 238)', GradientType='0');display:none;} 
#cmtload{background:rgb(247, 247, 247);font-size:14px;margin:-5px 0 0;padding:5px;line-height:20px;text-align:center;border-radius:5px;cursor:pointer;color:#333;font-size:12px;display:none;}
}