
*{padding:0; margin:0 auto;} /* IE8*/
*+html *{padding:0; margin:0;}
* {margin:0; padding:0;}
body{ -webkit-text-size-adjust: none;color:#444; background: #f5f5f5;font-family:"微软雅黑";}
div{font-size:14px; text-align:left;margin:0 auto;}
a { color:#444; text-decoration: none; outline:medium none; }
a:hover{color:#900;}
ul,li{padding:0px; margin:0px; list-style-type:none; list-style: none;}
img{border:none;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
.clear:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
* html .clear{clear:both;} /* IE6 */
*+html .clear{clear:both;} /* IE7 */
.transparent{background:transparent;}
.left{float:left;}
.right{float:right;}
.bold{font-weight:bold} 


.powz{line-height: 44px;height: 44px;font-size: 14px;font-family: "微软雅黑";color: #000; padding-left: 30px; background: url(../image/wz.png) 0 9px no-repeat; width: 1010px; margin: 0 auto;}
.cen-div .powz{ margin-left:-6px;}


#con_xw_2 .time{ display: none;}

.bnnn p{ float: right; width: 165px; height: 37px;}
.bnnn p a{ margin-right: 8px; font-size: 14px;}

/*ͷ��*/
.hheader{ height: 189px !important; background: #ffffff; min-width: 1100px;}
.htop{ width: 1100px; margin: 0 auto; height: 126px; background: #ffffff;}
.htop .hlogo{ padding: 25px 0 0 28px; float: left; width: 496px;}
.htopr{ width: 420px; float: right; padding-right: 20px;}
.htopt{ padding-top: 22px; height: 40px;}
.htopt ul.hjf{ width: 60px; height: 30px; line-height: 30px; padding-left: 100px; float: left; margin-right: 0px;}
.htopt .hjf li{ float: left; width: 20px; height: 30px; cursor: pointer; color: #434343; font-size: 14px; text-align: center; margin-right: 10px;}
.htopt li.hover{ color: #ffffff; background: url(../image/hjf.png) 0 6px no-repeat;}
.htopt .ht{ padding: 4px 0 0 5px; float: left;}
.htopt .ht img{ margin-right: 6px; cursor: pointer;}
.hzqdh{ float: right; width: 97px; height: 24px; padding-top: 3px;}
.hzqdh img{ cursor: pointer;}
.hinp{ float: right;padding-top: 0 !important;}
.hinp input{ width: 312px; border: 1px solid #4F86DA; float: left; height: 35px; line-height: 35px; color: #999999; text-indent: 1em;}
.hinp img{ float: left;}

.hnav{ height: 44px; background: #347BD7; min-width: 1100px;}
.hnav>ul{ width: 1100px; margin: 0 auto;  position:relative;}
.hnav>ul>li{ height: 44px; line-height: 44px; float: left;}
.hnav>ul>li>a{padding: 0 42px;color: #FFFFFF;font-size: 22px;display: block;}
.hnav>ul>li:first-child>a{padding: 0px 25px;}
.hnav>ul>li:hover>a{ background: #eeeeee; color:#347BD7; }
.hnav>ul>li:hover .hnavbox{ display: block;}
.hnavbox{ display: none; width: 1000px; padding: 0 50px; height: 110px; background: url(../image/hmbb.png); position: absolute; top: 44px; left: 0;}
.hnavbox .hnavl{ width: 799px; height: 110px; float: left; border-right: 1px solid #333;}
.hnavbox p{ height: 36px; line-height: 36px; font-weight: bold;}
.hnavbox p span{ display: block; float: left; width: 117px; color:#333;  font-size: 16px; text-align: center;}
.hnavbox p a{ margin-right: 20px; font-size: 16px; color:#333;}
.hnavbox .hnavr p{ padding-left: 20px;}
.hnavbox .hnavr{ width: 200px; height: 110px; float: left;}
.hnavbox ul li{ float: left;}
.hnavbox ul li a{ padding: 0 10px; display: block; font-size: 16px; color:#333; float: left; font-weight: bold;}
#hnav1{ padding-left: 66px;}
#hnav2{ padding-left: 15px;}
#hnav3{ padding-left: 448px;}
#hnav4{ padding-right: 15px; float: right;}
#hnav5{ padding-right: 10px; float: right;}
#hnav6{ padding-right: 10px; float: right;}


/*����*/
.hcontent{ background: url(../image/hbg.png) repeat-x #F9F9F9;}
.hcon{ width: 1100px; margin: 0 auto; background: #ffffff;}
.hc1{ width: 1053px; height: 110px; margin: auto; text-align: center;}
.hc1 div{ height: 51px; padding-top: 16px;}
.hc1 div a{ font-size: 28px; color: #0052AD;}
.hc1 div a:hover{ color:#cc0000;}
.hc1 p{ font-size: 16px; color: #888888;}

.hc2{ width: 1053px; margin: 0 auto; height: 520px; margin-bottom: 20px;}

.hc3{ width: 1053px; margin: 0 auto; height: 440px; margin-bottom: 20px;}
.hc3 .hn{ width: 176px; height: 440px; float: left; border: 1px solid #E7E7E7; background:#F7F7F7; border-right: none;}
.hc3 .hn li{ height: 88px;  padding: 0 6px; line-height: 87px; font-size: 18px; cursor: pointer;  border-right: 1px solid #337BD6;}
.hc3 .hn li.hover{ background: url(../image/hnhover.png) no-repeat #ffffff; border-right: none;}
.hc3 .hn li a{ display: block; border-bottom: 1px solid #C8C8C8; height: 88px;}
.hc3 .hn li.hover a{ color: #ffffff; border-bottom: none;}
.hn li i{ width: 28px; height: 30px; float: left; margin: 28px 16px 0;}
.hn li i.hn1{ background: url(../image/hn1.png);}
.hn li i.hn2{ background: url(../image/hn2.png);}
.hn li i.hn3{ background: url(../image/hn3.png);}
.hn li i.hn4{ background: url(../image/hn4.png);}
.hn li i.hn5{ background: url(../image/hn5.png);}
.hn li.hover i.hn1{ background: url(../image/hn1a.png);}
.hn li.hover i.hn2{ background: url(../image/hn2a.png);}
.hn li.hover i.hn3{ background: url(../image/hn3a.png);}
.hn li.hover i.hn4{ background: url(../image/hn4a.png);}
.hn li.hover i.hn5{ background: url(../image/hn5a.png);}
.hboxs{ width: 875px; height: 440px; float: right; border: 1px solid #337BD6; border-left: none;  overflow: hidden; position: relative;}
#hhbox{ width: 5000px; height: 440px; position: absolute; left: 0; top: 0;}
.hbox{ width: 875px; height: 440px; float: left;}

/*Ҫ�Ŷ�̬*/
.hyw .fl{ width: 501px; height: 414px; margin: 15px 0 0 19px;}
.htis{ height: 38px; line-height: 38px; background: #eeeeee; margin-bottom: 17px;}
.htis li{ height: 45px; width: 167px; float: left; font-size: 20px; text-align: center;}
.htis li a{ display: block; color: #000000;}
.htis li.hover{ background: url(../image/hhover3.png) top center no-repeat;}
.htis li.hover a{ color: #ffffff;}
#con_lzwm_2 .htis li{ width: 167px;}
.hlis{ line-height: 29px;}
.hlis ul{  font-size: 16px;}
.hlis ul li{ height: 29px;}
.hlis span{ font-size:10px; color: #d2d2d2; margin-right: 5px;}
.hyw .fr{ width: 290px; height: 414px; margin: 15px 28px 0 0px;}
.htis2{ height: 39px; line-height: 39px; font-size: 18px; border-bottom: 1px solid #d2d2d2;}
.htis2 i{ width: 23px; height: 23px; float: left; margin: 9px 8px 0 0;}
.htis2 i.hbqi{ background: url(../image/hrmbq.jpg);}
.htis2 i.haxi{ background: url(../image/hax.jpg);}
.hrmbq{ height: 166px;}
.hlis2{ line-height: 29px; font-size: 16px;}


/*��Ϣ����*/
.hgk .fl{ width: 501px; height: 414px; margin: 23px 0 0 21px;}
.hgk .hlis2{ line-height: 28px;}
.hgk .fr{ width: 335px; height: 440px; background: #f6f4f4;}
.hxxzl{ width: 286px; height: 311px; background: #ffffff; margin: 23px auto 8px;}
.hxxzl div{ width: 38px; height: 311px; background: url(../image/hxxzl.png); float: left;}
.hxxzl ul{ width: 216px; float: left; padding: 10px 15px 0; border: 2px solid #F7F7F7; border-left: none; height: 297px;}
.hxxzl li{ height: 40px; line-height: 40px; font-size: 16px; text-align: center; border: 1px solid #efefef; margin-bottom: 7px; #margin-bottom: 4px;}
.hxxzl li a{ display: block;}
.hysqi{ width: 286px; margin: 0 auto 12px; height: 42px; line-height: 42px; font-size: 16px; background: url(../image/hysq.png) 0 no-repeat;}
.hysqi i{ width: 32px; height: 30px; float: left; margin: 6px 30px 0 50px; background: url(../image/hysqi.png);}
.hysqi a{ display: block;}
.hgkbg{ width: 286px; height: 85px;  margin: 0 auto;}
.hgkbg li{ width: 134px; height: 36px; background: url(../image/hysq2.png); float:left; line-height: 36px; margin-bottom: 8px;}
.hgkbg li i{ width: 20px; height: 22px; float: left; margin: 7px 7px 0 20px;}
.hgkbg li.ha1 i{ background: url(../image/ha1.png);}
.hgkbg li.ha2 i{ background: url(../image/ha2.png);}
.hgkbg li.ha3 i{ background: url(../image/ha3.png);}
.hgkbg li.ha4 i{ background: url(../image/ha4.png);}
.hgkbg li.ha2,.hgkbg li.ha4{ float: right;}
.hgkbg li a{ display: block;  font-size: 16px;}

/*�����Ӧ*/
.hjd .hjdt{ height: 222px; padding: 0 14px;}
.hzcjd{ width: 481px; float: left;}
.hzcjdti{ padding-top: 11px; height: 39px; border-bottom: 1px solid #D9D9D9; margin-bottom: 5px;}
.hzcjdti li{ height: 38px; line-height: 38px; width: 100px; text-align: center; font-size: 20px; float: left;}
.hzcjdti li a{ color: #888888;}
.hzcjdti li.hover{ border-bottom: 2px solid #347bd7; color:#347bd7;}
.hzcjdti li.hover a{ color:#347bd7;}
.hzcjdli li{ height: 30px; line-height: 30px; background: url(../image/hbook.png) 7px 7px no-repeat; font-size: 16px; padding-left: 28px;}
.hzcjdli li:hover{ background: url(../image/hbooka.png) 7px 7px no-repeat;}
.hxwfbh{ width: 351px; float: left; margin-left: 15px;  height: 222px; position: relative;}
.hxwfbh img{ position: absolute; top: 34px; left: 73px; width: 244px; height: 151px;}
.hxwfbh p{ position: absolute; top: 166px; left: 73px; width: 244px; height: 18px; background: url(../image/hmb.png); line-height: 18px; text-align: center;}
.hxwfbh p a{ color: #ffffff; font-size: 12px;}
.hxwfbh div{ width: 24px; height: 145px; position: absolute; left: 21px; top: 19px;}
.hxwfbh div a{  display: block; width: 24px; height: 145px;font-size: 20px;margin-top: 41px;text-align: center}
.hjdb{ height: 204px; padding: 0 14px;}
.htjzc{ width: 495px; height: 201px; border: 1px solid #D9D9D9; float: left;}
.htjzcti{ height: 40px; line-height: 40px; font-size: 20px; }
.htjzcti a{ color: #000000; }
.htjzcti span{ float:left; margin-left: 20px;}
.htjzcti ul{ width: 50px; float: right; padding-top: 13px;}
.htjzcti li{ width: 16px; height: 16px; float: left; margin-right: 5px; cursor: pointer;}
#tj1{ background: url(../image/hleft2a.png);}
#tj2{ background: url(../image/hright2a.png);}
#tj1.hover{ background: url(../image/hleft2.png);}
#tj2.hover{ background: url(../image/hright2.png);}

#con_bs_1{ position: relative;}
.fwtn{ width: 50px; position: absolute;bottom: -20px;right: 240px;}
.fwtn li{ width: 16px; height: 16px; float: left; margin-right: 5px; cursor: pointer;}
#tja1{ background: url(../image/hleft2a.png);}
#tja2{ background: url(../image/hright2a.png);}
#tja1.hover{ background: url(../image/hleft2.png);}
#tja2.hover{ background: url(../image/hright2.png);}


.htjzcc li{ width: 151px; height: 151px; float: left; margin-left: 10px;}
.htjzcc li img{ width: 151px; height: 151px;}
.hhygq{ width: 334px; height: 201px; border: 1px solid #D9D9D9; float: right;}
.hlis3{ padding: 0 18px;}
.hlis3 li{ height: 30px; line-height: 30px; background: url(../image/hdian.png) 5px 13px no-repeat; padding-left: 21px; font-size: 16px;}
.hlis3 li:hover{ background: url(../image/hdiana.png) 5px 13px no-repeat;}


/*���·���*/
.hbs .fl{ width: 552px; height: 422px; margin: 8px 0 0 17px;}
.hbsti{ height: 42px; line-height: 42px; font-size: 20px;}
.hbsti span{ float: left;}
.hbsti img{ float: left; margin: 10px 0 0 16px;}
.hbsti ul{ width: 192px; float: right;}
.hbsti ul li{ float: left; font-size: 12px; color:#337BD7;}
.hbsti ul li a{ padding: 0 5px; color:#337BD7;}
.hbsti ul a:hover{ color:#cc0000;}
.hbsc{ width: 548px; height: 283px; border: 2px solid #d6d7d9; margin-bottom: 7px;}
.hbscti{ height: 50px; background: #EEEEEE; border-bottom: 2px solid #d6d7d9;}
.hbscti li{ width: 120px; height: 50px; line-height: 50px; border-right: 2px solid #d6d7d9; border-bottom: 2px solid #d6d7d9; float: left; text-align: center; font-size: 18px;}
.hbscti li.hover{ background: #ffffff; border-bottom: 2px solid #ffffff;}
.hbscti li.hover a{ color: #00469C;}
.hbsli{ padding: 5px 0 0 13px; height: 202px;}
.hbsli li{ width: 75px;  height: 23px; line-height: 23px; float: left; margin: 0 1px 3px 0;}
.hbsli li a{ color: #949494;}
.hbsli li:hover a{ color: #337BD7;}
#con_bs_1 .hbsli li{ width:171px;  height: 20px; line-height: 20px;}

.hinp2{ height: 35px;}
.hinp2c{ height: 35px; line-height: 35px; width: 291px; border: 1px solid #DCDCDC; float: left; margin-left: 20px; position: relative;}
.hinp2c input{ width: 240px; height: 35px; line-height: 35px; color: #999999; border: none; outline: none; position:absolute; left: 0; top: 0; text-indent: 1em;}
.hinp2c img{ position: absolute; right: 20px; top: 4px;}
.hinp2b{ float: right; margin-right: 18px;}
.hqy{position: relative;width: 548px;height:80px;border: 2px solid #d6d7d9;/* background: #F4FBFF; */}
.hqy li{ width: 137px; height: 38px; line-height: 38px; font-size: 14px; float:left;}
.hqy li i{ width: 21px; height: 18px; float: left; margin: 10px 6px 0 10px;}
.hqy li.hbs1 i{ background: url(../image/hbs1.png);}
.hqy li.hbs2 i{ background: url(../image/hbs2.png);}
.hqy li.hbs3 i{ background: url(../image/hbs3.png);}
.hqy li.hbs4 i{ background: url(../image/hbs4.png);}
.hqy li.hbs5 i{ background: url(../image/hbs5.png);}
.hqy li.hbs6 i{ background: url(../image/hbs6.png);}
.hqy li.hbs7 i{ background: url(../image/hbs7.png);}
.hbs .fr{ width: 258px; float: right; margin: 8px 27px 0 0px;}
.hbmc{ width: 252px; height: 130px; border: 2px solid #d6d7d9;}
.hbmc li{ width: 79px; text-align: center; height: 40px; line-height: 40px; font-size: 16px; float: left; margin-right: 5px;}
.hbmc li i{ width: 19px; height: 19px; float: left; margin: 10px 7px 0 10px;}
.hbmc li.hm1 i{ background: url(../image/hm1.png);}
.hbmc li.hm2 i{ background: url(../image/hm2.png);}
.hbmc li.hm3 i{ background: url(../image/hm3.png);}
.hbmc li.hm4 i{ background: url(../image/hm4.png);}
.hbmc li.hm5 i{ background: url(../image/hm5.png);}
.hbmc li.hm6 i{ background: url(../image/hm6.png);}
.hbmc li.hm7 i{ background: url(../image/hm7.png);}
.hbmc li.hm8 i{ background: url(../image/hm8.png);}
.hbmc li.hm9 i{ background: url(../image/hm9.png);}
.hbmc li.hm10 i{ background: url(../image/hm10.png);}
.hbmc li.hm11 i{ background: url(../image/hm11.png);}
.hbmc li.hm12 i{ background: url(../image/hm12.png);}
.hzxyy{ width: 252px; height: 155px; border: 2px solid #d6d7d9;}
.hzxyy li{ width: 211px; margin: 12px auto 0; height: 24px; font-size: 16px; line-height: 24px; text-align: center; background: url(../image/hyybg.png);}
.hzxyy li a{ color: }
.hzxyy li:hover{ background: url(../image/hyyhover.png);}
.hzxyy li:hover a{ color: #ffffff;}

/*��������*/
.hdjl .fl{ width: 528px; height: 414px; border: 2px solid #F1F1F1; margin: 12px 0 0 11px;}
.hdjl .hdjlti{ height: 44px; line-height: 44px; border-bottom: 1px solid #E4E4E4; margin-bottom: 10px;}
.hdjl .hdjlti li{ width: 94px; float: left; margin-left: 13px; font-size: 20px; text-align: center;}
.hdjl .hdjlti li.hover{ border-bottom: 2px solid #337BD6; height: 43px;}
.hdjl .hdjlti li a{ display: block; }
.hdjlti li.hover a{ color: #337BD6;}
.hta1{ width: 504px; margin: 0 auto;}
.hta1 th{ background: #EDEDED; height: 28px; font-weight: 400; color: #636363;}
.hta1 td{ padding: 11px 5px 0;}
.hta1 td span{ color: #C5C5C5;}
.hh{ color: #B8B7B7;}
.hblue{ color: #337BD7; text-align: center;}
.hdjl .fr{ width: 306px; height: 414px; border: 2px solid #F1F1F1; margin: 12px 11px 0 0px;}
.hx{ padding: 5px 10px 0;overflow: hidden}
.hx li{ width: 135px; height: 40px; float: left; background: #EDEDED; text-align: center;line-height: 40px;margin-bottom: 4px}
.hx li i{ width: 24px; height: 24px; margin: 0 auto 2px;}
.hx li a{ display: block;width: 135px; height: 40px; font-size: 15px;color: #3480cd;position: relative;text-indent: 20px}
.hx li img{position: absolute;left: 8px;top: 6px}
.hx li.hx3{ float: right; margin-right: 0;}
.hx .hxc1{  margin-bottom: 5px;}
.zwgk_comr1 div.clear{ #display: none;}
.hx .hxc2{ height: 55px; margin-bottom: 15px;}
.hx li.hx4{ width: 139px; height: 55px;}
.hx li.hx5{ width: 141px; height: 55px; float: right; margin-right: 0;}
/*.hx li.hx1 i{ background: url(../images/hx3.png) no-repeat;}*/
/*.hx li.hx2 i{ background: url(../images/hx4.png) no-repeat;}*/
/*.hx li.hx3 i{ background: url(../images/hx5.png) no-repeat;}*/
/*.hx li.hx4 i{ background: url(../images/wxx.png) no-repeat;}*/
/*.hx li.hx5 i{ background: url(../images/hx5.png) no-repeat;}*/
/*.hx li:hover{ background: #337BD7;}*/
/*.hx li:hover a{ color: #ffffff;}*/
/*.hx li.hx1:hover i{ background: url(../images/hx3a.png) no-repeat;}*/
/*.hx li.hx2:hover i{ background: url(../images/hx4a.png) no-repeat;}*/
/*.hx li.hx3:hover i{ background: url(../images/hx5a.png) no-repeat;}*/
/*.hx li.hx4:hover i{ background: url(../images/hx4a.png) no-repeat;}*/
/*.hx li.hx5:hover i{ background: url(../images/hx5a.png) no-repeat;}*/
.hzjti{ height: 39px; line-height: 39px; border-bottom: 1px solid #E5E5E5; width: 283px; margin: 0 auto 14px;}
.hzjti>a{ float: left; display: block; background: url(../image/hdc.png) 0 9px no-repeat; width: 86px; padding-left:30px; font-size: 20px;
border-bottom: 2px solid #337BD7; height: 38px;}
.hzjti>a:hover{ background: url(../image/hdca.png) 0 9px no-repeat;}
.hzjti span{ float: right;}
.hzjti span a{ color: #337BD7;}
.hzjti span a:hover{ color: #cc0000;}
.hdli{ padding: 0 10px;}
.hdli li{ height: 29px; line-height: 29px;}
.hdli li:hover{ color:#337BD7;}
.h12345 ul li{
    float: left;
    height: 71px;
    width: 75px;
    text-align: center;
    margin-right: 0px;
    margin-left: 4px;
    padding-top: 3px;
}
.h12345{
    overflow: hidden;
    padding-top: 10px;
}
.hdxb {
    height: 338px;
}
.hdxb .hdxb1 {
    border-bottom: 1px dashed #DCDCDC;
    width: 488px;
    margin: 0 auto;
    padding-bottom: 2px;}
.hdxti {
    height: 32px;
    line-height: 34px;
    padding-left: 12px;
    background: url(http://wenchang.hainan.gov.cn/wenchang/xhtml/images/hdxtibg.png) 0 11px no-repeat;
}
.hdxti a {
    font-size: 20px;
    color: #000000;
}
#scrollDiv {
    width: 488px;
    height: 132px;
    overflow: hidden;
}
#scrollDiv ul {
    width: 488px;
}
.hdxb1 li {
    font-size: 14px;
    color: #000000;
    padding-left: 15px;
}
.hdxb1 li p{
    height: 22px;line-height: 22px;
}
#scrollDiv2 {
    width: 488px;
    height: 132px;
    overflow: hidden;
}
#scrollDiv2 ul {
    width: 488px;
}
.hdxb1 li p span.hdxdata {
    float: right;
    margin-right: 0;
}
index.css:242
.hdxb1 li p span {
    font-size: 12px;
    margin-right: 20px;
}
.hc4{ width: 1053px; margin: 0 auto 20px; height: 72px; padding-top: 15px; background: url(../image/hztbg.png) repeat-x;}
.hc4 ul{ width: 195px; height: 62px; padding-left: 10px; border-left: 1px dashed #D2D2D2; float: left;}
.hc4 ul li{ line-height: 30px; font-size: 14px; color: #D2D2D2;}
.hc4 ul li:hover{ color: #337BD7;}
.hc4 a{ color: #434343;}
.hc4 .xgdzt{ width: 25px; float: right; margin-right: 11px; margin-top: -7px;}
.hc4 .xqhzt{ width: 168px; height: 57px; margin: 0 6px 0 9px; float: left;}

.hc5{ width: 1053px; margin: 0 auto 20px; height: 344px;}
.hc5_left{float:left;height: 342px;width: 529px;border: 1px solid #8db7e1;background: url("../image/miwcbg.png") -1px -1px no-repeat;}
.hc5_right{float: right;height: 342px;width: 521px;border: 1px solid #8db7e1;border-left: none}
.tit{height: 60px;background: url("../image/mlwc_zs.png") 0px 12px no-repeat;background-size: 624px 35px;}
.mlwc{font-size: 20px;color: #010101;line-height: 60px;padding-left: 5px}
.tit img{vertical-align: -2px;margin-left: 12px}
.wcgk{width: 495px;height: 255px}
.mlwc_box{height: 255px;float: left;margin-left: 20px;}
.chan{float: left}
.mlwc_box .text{float: left;width: 234px;height: 255px;margin-left: 20px}
.text_top{height: 178px;text-align: left;line-height: 28px;font-size: 12px}
.text_img{height:77px; }
.wcly{height: 44px;
    border-bottom: 1px solid #8db7e1;
    background: url("../image/miwcbg.png") -1px -1px no-repeat;
    overflow: hidden;
}
.wcly .wcly_title{line-height: 44px;height: 44px;font-size: 20px;color: #010101;padding-left: 5px;width: 200px;float: left;}
.wcly img{vertical-align: -3px}
.wcly .wcly_title a{padding-left: 5px}
.wcly_nav{float: right;width: 200px;line-height: 44px;}
.wcly_nav a{font-size: 14px;text-align: center;display: inline-block;width: 85px;font-weight: bold;
}
.wcly_nav .change{color: #347bd7;
    background: white;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    height: 40px;
    margin-top: 4px;
    border: 1px solid #8db7e1;border-bottom: none;}
.content,.content>div{height: 298px;}
.content>div{padding: 0 15px}
#syqh li{float: left;width: 98px;line-height: 32px;height:40px;text-align: center;background: url("../image/dian_grey.png") 41px 24px no-repeat;overflow: auto}
#syqh li a{color: #444444;font-size: 16px;border-bottom: 1px solid #EEEEEE;display: block;width: 98px;}
.qh_content ul{margin-top: 10px}
#syqh  .qh_hover{background: url("../image/dian_blue.png") 41px 24px no-repeat;}
#syqh  .qh_hover a{border-bottom: 1px solid #8db7e1;}
.img_div{height: 100px;background: url("../image/lytpbg.png") no-repeat;margin-top: 20px;overflow: hidden}
.img_div_main{width: 424px;height: 92px;margin-left: 53px;margin-top: 5px}
.img_div a{display: block;float: left;margin-top: 5px;margin-left: 15px}



.hc5 .hzjhn{ width: 517px; height: 263px; border: 2px solid #F1F1F1; float: left;}
.hti2{ padding: 0 12px; height: 52px; line-height: 52px; background: url(../image/hhx.gif) 128px 22px no-repeat;}
.hti2 a{ display: block; font-size: 20px;  float: left; padding-right: 12px; background: #ffffff;}
.hti2 i{ width: 24px; height: 23px; float: left; margin: 15px 8px 0 3px; transition:all .3s ease-in-out;}
.hti2 a:hover i{ transform:rotate(360deg);}
.hzjhn .hti2 i{ background: url(../image/htv1.png); }
.hzjhnc{ padding: 0 12px;}
.hzjhnti{ width: 103px; float: left;}
.hzjhnti li{ height: 33px; background: url(../image/hbbg.png) no-repeat; line-height: 33px; text-indent: 16px; font-size: 16px; margin-bottom: 5px;}
.hzjhnti li.hover{ background: url(../image/hhover.png) no-repeat;}
.hzjhnti li.hover a{ color: #ffffff;}
.hzjc{ width: 175px; float: left; margin: 0 5px;}
.hzjc li{ line-height: 27px;}
.hmxp{ width: 205px; float: right; padding-top: 14px;}
.hmxpc{ width: 203px; height: 151px; border: 1px solid #DCDCDC;}
.hmxpc .hmxpcti{ height: 35px; line-height: 35px;}
.hmxpc .hmxpcti a{ display: block; background: url(../image/htmxp.png) 15px 8px no-repeat; padding-left: 42px; font-size: 18px; color: #2B69BA;}
.hmxpc .hmxpcti a:hover{ background: url(../image/htmxpa.png) 15px 8px no-repeat;}
.hmxpic{ width: 179px; height: 111px; margin: 0 auto;}
.hztx{ width: 176px; margin: 0 auto; padding-top: 7px;}
.hztx a{ width: 176px; height: 27px; display: block; background: url(../image/hztx.png); text-align: center; line-height: 27px; font-size: 16px; color: #ffffff;}
.hztx a:hover{ color: #ff8000;}
.hzymy{ width: 517px; height: 263px; border: 2px solid #F1F1F1; float: right;}
.hzymy .hti2 i{ background: url(../image/htv2.png); }
.hzyti{ height: 29px; padding: 0 10px;}
.hzyti li{ float: left; font-size: 18px; color: #BEBEBE;}
.hzyti li a{ margin: 0 15px; width: 81px; display: block; float: left; text-align: center; color: #BEBEBE; height: 28px;}
.hzyti li.hover a{ border-bottom: 2px solid #337BD7; color: #00469C;}
.hzyc{ width: 472px; padding: 10px 10px 0; height: 153px; border: 1px solid #A7C7E8; margin: 0 auto; background: url(../image/hlbg.png);}
.hzyti2{ height: 33px; background: url(../image/hbbg2.png) no-repeat;}
.hzyti2 li{ height: 33px; line-height: 27px; text-align: center;  float: left; margin-right: 3px;}
.hzyti2 li a{ display: block; padding: 0 13px;}
.hzyti2 li:hover{ background: url(../image/hhover2.png) top center repeat-x;}
.hzyti2 li:hover a{ color: #ffffff;}
.hzyti2 li.hover{ background: url(../image/hhover2.png) top center repeat-x;}
.hzyti2 li.hover a{ color: #ffffff;}
.hzyli li{ height: 30px; line-height: 30px; overflow: hidden; #height: 26px; #line-height: 26px;}
.hzyli li div{ float: left; }
.hzyli li div span{ font-size: 5px; color: #337BD7; margin-left: 5px;}
.hzyli li span.hdata{ float: right; margin-right: 9px; color: #BEBEBE;}

.hfooter{ border-top: 5px solid #4f8fd1; width: 1070px; margin: 0 auto; background: #ffffff;}
.hyqlj1{ height: 42px; line-height: 42px; border-bottom: 1px solid #dbdbdb; font-size: 16px; overflow: hidden;}
.hyqlj1 span{ margin-left: 30px; color: #1B1B1B; float:left;}
.hyqlj1 li{ margin-left: 33px; float: left;}
.hyqlj1 li img{ float: left; margin: 12px 6px 0 0;}
.hyqlj1 a{ color: #838383;}
.hyqlj2{ position: relative; height: 46px; border-bottom: 1px solid #dbdbdb;}
.hyqlj2>span{ height: 46px; line-height: 46px; float: left; margin-left: 30px; font-size: 16px; color:#1B1B1B;}
.hyqc{ width: 726px; float:left; }
.hyqc>li{ padding: 0 20px; height: 46px; line-height: 46px; float: left; color: #888888; font-size: 16px; margin-left: 15px; cursor: pointer; }
.hyqli{ width: 1043px; height: 122px; padding: 5px; background: #eeeeee; position: absolute; top: 46px; left: 0; overflow-x: hidden; display: none; *overflow: scroll;}
.hyqli li span{ color: #3E3E3E;}
.hyqli .yinc-lj{ display: none; line-height: 24px;z-index: 999; background: #ffffff; overflow: hidden; padding: 10px; border: 2px solid #1e4b8f; position:relative;}
.hyqli li:hover .yinc-lj{ display: block;}
div.yinc-lj a {
    display: block;
    font-size: 14px;
    color: #333333;
    padding-left: 20px;
    padding-right: 10px;
    background: url(../image/zx-dfbszn4.png) 5px 50% no-repeat;
}
.hyqc>li:hover{ background: #eeeeee; color:#1e4b8f; height: 178px;}
.hyqc>li:hover>div{ display: block;}
.hyqli li{ float: left;  padding-left: 15px; width:232px; font-size: 14px; height: 25px; color:#333333; line-height: 25px;}
.hfc{ height: 180px; font-size: 16px; color: #838383; padding-top: 30px;}
.hfc a{ color: #838383;}
.hfc .fl{ width: 665px; margin-left: 30px; line-height: 30px;}
.hfc .fl ul{ height: 30px;}
.hfc .fl li{ float: left;}
.hfc .fr{ width: 272px; float: right; padding-top: 25px; text-align: center;}
.hfc .fr li.hdb{ width: 100px; padding-top: 8px; float: left;}
.hfc .fr li.hzc{ width: 145px; float: left; padding-top: 19px;}
.wzylink{width: 100%;height: auto;}
.wzylink .tit{width: 100%;height: 46px;line-height: 46px;color:#00479d;font-size: 20px;}
.wzylink ul li{width: 100%;height: 40px;line-height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.wzylink ul li span{color:#333;font-size: 16px ;margin:0px 4px;}
.wzylink ul li a{color:#333;font-size: 16px ;}
.wzylink ul li a:hover{color: #00479d;}


#tzwc_img a{display: block;float: left;font-size: 16px;color: white;padding: 41px 25px;margin-top: 16px;margin-left: 3px}
#img1{background: url("../image/qwgk_1.jpg") no-repeat;}
#img2{background: url("../image/zsxx_1.jpg") no-repeat;}
#img3{background: url("../image/fzgh_1.jpg") no-repeat;}
#img4{background: url("../image/zdxm_1.jpg") no-repeat;}
#snxx li{width: 113px;height: 60px;float: left;background: url("../image/snxxbg.jpg") no-repeat;margin-left: 4px;margin-top: 19px;background-size: 100% 100%;}
#snxx li a{font-size: 16px;line-height: 60px;text-align: center;color: #00479d;}
.wchq_list{width:260px;height: 78px;background: url("../image/wchqbg.jpg") no-repeat;margin-top: 6px}
.wchq_list_tit{width: 22px;height: 76px;text-align: center;padding:  2px 1px 0 3px;font-size: 14px;}
.wchq_list_tit a{color: #333333}
.wchq_list_tit a:hover{color: red}
.wchq_list_con{width: 230px;height: 78px;}
.wchq_list_con .hlis2 li{font-size:14px;line-height:26px;text-indent: 5px}
.div_div{width:160px;margin:0 auto;}

.jsxfw2{ width: 100px; float: left; color: #666; font-size: 18px; margin-left: 20px; position: relative; cursor: pointer; line-height: 42px; z-index: 99; background: url(../image/dropdown.png) 80px 18px no-repeat;}
.jsxfw2 i{ display: none;}
.jsxfw2:hover ul{ display: block;}
.jsxfw2:hover{ color:#1e4b8f;}
.jsxfw2 ul{ width: 435px; padding: 15px; overflow: hidden; position: absolute; top: 41px; left: 0; display: none; background: #ffffff; z-index: 99; border: 1px solid #ddd;}
.jsxfw2 li{ width: 108px; height: 30px; line-height: 30px; float: left; text-align: left;}
.jsxfw2 li a{ color: #666; font-size: 14px;}
.jsxfw_2{ width: 119px; float: left; text-align: center; color: #666; font-size: 20px; margin-left: 20px; position: relative; cursor: pointer; line-height: 43px; z-index: 99; background: url(../image/dropdown.png) 103px 18px no-repeat;}
.jsxfw_2:hover ul{ display: block;}
.jsxfw_2 ul{ width: 400px; padding: 15px; overflow: hidden; position: absolute; top: 42px; left: 0; display: none; background: #ffffff; z-index: 99; border: 1px solid #ddd;}
.jsxfw_2 li{ width: 100px; height: 30px; line-height: 30px; float: left; text-align: left;}
.jsxfw_2 li a{ color: #666; font-size: 14px;}

.hbsc{ position:relative;}
.hbsc_div{ background:#eeeeee}
.hbsc_div .hbscti{ float:left;}
.hbsc_search{ float:left;margin-left:10px; margin-top:5px;}
.hbsc_search .hinp2c{ width:160px; margin-left:0px;}
.hbsc_search .hinp2c input{ width:160px;}
.hbsc_search .hinp2c img{right: 7px;}
.wsbs_li li{ height:auto!important; line-height:25px; float:left; width:75px; text-align:center;font-size: 12px;}
.wsbs_li li span{ display:block; width:75px;height: 35px; margin-top: 5px;}
.wsbs_more{ position:absolute; left:50%; bottom:10px; width:35px; margin-left:-17px;}
.wsbs_more b{ display:block; float:left; width:15px; height:10px; background:url(../image/20190114bg.png) no-repeat 0px; cursor:pointer;}
.wsbs_more b.hover{  background:url(../image/20190114bg1.png) no-repeat 0px;}
.hyxxBlock{
    margin: 0px auto;
    width: 1028px;
    padding: 20px 36px 0;
    overflow: hidden;
}




.wsbs_li span.bsfwico0{ background:url(../image/20190114ico1.png) no-repeat center;}
.wsbs_li span.bsfwico1{ background:url(../image/20190114ico2.png) no-repeat center;}
.wsbs_li span.bsfwico2{ background:url(../image/20190114ico3.png) no-repeat center;}
.wsbs_li span.bsfwico3{ background:url(../image/20190114ico4.png) no-repeat center;}
.wsbs_li span.bsfwico4{ background:url(../image/20190114ico5.png) no-repeat center;}
.wsbs_li span.bsfwico5{ background:url(../image/20190114ico6.png) no-repeat center;}
.wsbs_li span.bsfwico6{ background:url(../image/20190114ico7.png) no-repeat center;}
.wsbs_li span.bsfwico7{ background:url(../image/20190114ico8.png) no-repeat center;}
.wsbs_li span.bsfwico8{ background:url(../image/20190114ico9.png) no-repeat center;}
.wsbs_li span.bsfwico9{ background:url(../image/20190114ico10.png) no-repeat center;}
.wsbs_li span.bsfwico10{ background:url(../image/20190114ico11.png) no-repeat center;}
.wsbs_li span.bsfwico11{ background:url(../image/20190114ico12.png) no-repeat center;}
.wsbs_li span.bsfwico12{ background:url(../image/20190114ico13.png) no-repeat center;}
.wsbs_li span.bsfwico13{ background:url(../image/20190114ico14.png) no-repeat center;}
.wsbs_li span.bsfwico14{ background:url(../image/20190114ico15.png) no-repeat center;}
.wsbs_li span.bsfwico15{ background:url(../image/20190114ico16.png) no-repeat center;}
.wsbs_li span.bsfwico16{ background:url(../image/20190114ico17.png) no-repeat center;}
.wsbs_li span.bsfwico17{ background:url(../image/20190114ico18.png) no-repeat center;}
.wsbs_li span.bsfwico18{ background:url(../image/20190114ico19.png) no-repeat center;}
.wsbs_li span.bsfwico19{ background:url(../image/20190114ico20.png) no-repeat center;}
.wsbs_li span.bsfwico20{ background:url(../image/20190114ico21.png) no-repeat center;}
.wsbs_li span.bsfwico21{ background:url(../image/20190114ico22.png) no-repeat center;}
.wsbs_li span.bsfwico22{ background:url(../image/20190114ico23.png) no-repeat center;}
.wsbs_li span.bsfwico23{ background:url(../image/20190114ico24.png) no-repeat center;}
.wsbs_li span.bsfwico24{ background:url(../image/20190114ico25.png) no-repeat center;}
.wsbs_li span.bsfwico25{ background:url(../image/20190114ico26.png) no-repeat center;}
.wsbs_li span.bsfwico26{ background:url(../image/20190114ico27.png) no-repeat center;}
.wsbs_li span.bsfwico27{ background:url(../image/20190114ico28.png) no-repeat center;}
.wsbs_li span.bsfwico28{ background:url(../image/20190114ico29.png) no-repeat center;}
.wsbs_li span.bsfwico29{ background:url(../image/20190114ico30.png) no-repeat center;}



.wsbs_li span.grfwico0{ background:url(../image/20190114ico31.png) no-repeat center;}
.wsbs_li span.grfwico1{ background:url(../image/20190114ico32.png) no-repeat center;}
.wsbs_li span.grfwico2{ background:url(../image/20190114ico33.png) no-repeat center;}
.wsbs_li span.grfwico3{ background:url(../image/20190114ico34.png) no-repeat center;}
.wsbs_li span.grfwico4{ background:url(../image/20190114ico35.png) no-repeat center;}
.wsbs_li span.grfwico5{ background:url(../image/20190114ico36.png) no-repeat center;}
.wsbs_li span.grfwico6{ background:url(../image/20190114ico37.png) no-repeat center;}
.wsbs_li span.grfwico7{ background:url(../image/20190114ico38.png) no-repeat center;}
.wsbs_li span.grfwico8{ background:url(../image/20190114ico39.png) no-repeat center;}
.wsbs_li span.grfwico9{ background:url(../image/20190114ico40.png) no-repeat center;}
.wsbs_li span.grfwico10{ background:url(../image/20190114ico41.png) no-repeat center;}
.wsbs_li span.grfwico11{ background:url(../image/20190114ico42.png) no-repeat center;}
.wsbs_li span.grfwico12{ background:url(../image/20190114ico43.png) no-repeat center;}
.wsbs_li span.grfwico13{ background:url(../image/20190114ico44.png) no-repeat center;}
.wsbs_li span.grfwico14{ background:url(../image/20190114ico45.png) no-repeat center;}
.wsbs_li span.grfwico15{ background:url(../image/20190114ico37.png) no-repeat center;}
.wsbs_li span.grfwico16{ background:url(../image/20190114ico38.png) no-repeat center;}
.wsbs_li span.grfwico17{ background:url(../image/20190114ico39.png) no-repeat center;}
.wsbs_li span.grfwico18{ background:url(../image/20190114ico40.png) no-repeat center;}
.wsbs_li span.grfwico19{ background:url(../image/20190114ico41.png) no-repeat center;}
.wsbs_li span.grfwico20{ background:url(../image/20190114ico51.png) no-repeat center;}
.wsbs_li span.grfwico21{ background:url(../image/20190114ico44.png) no-repeat center;}
.wsbs_li span.grfwico22{ background:url(../image/20190114ico42.png) no-repeat center;}
.wsbs_li span.grfwico23{ background:url(../image/20190114ico43.png) no-repeat center;}
.wsbs_li span.grfwico24{ background:url(../image/20190114ico55.png) no-repeat center;}
.wsbs_li span.grfwico25{ background:url(../image/20190114ico56.png) no-repeat center;}
.wsbs_li span.grfwico26{ background:url(../image/20190114ico57.png) no-repeat center;}


.wsbs_li span.grfwico27{ background:url(../image/2019612icon1.png) no-repeat center;}
.wsbs_li span.grfwico28{ background:url(../image/2019612icon2.png) no-repeat center;}
.wsbs_li span.grfwico29{ background:url(../image/2019612icon3.png) no-repeat center;}

.hyxxleft{
    float: left;
    width: 750px;
}
.hyxxleft .list-right_title{
    line-height: 30px;
    margin: 10px 0;
}
.hyxxright {
    position: relative;
    width: 240px;
    float: right;
}
.hyxxright .hyxxtime {
    position: relative;
    width: 100%;
    height: 265px;
}
.hyxxright .hylist {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.szf-slideli{display: none;}
.szf-slide b {
    position: absolute;
    right: 12px;
    font-size: 26px;
}
.hyxxright .hylist li.szf-slide {
    position: relative;
    height: auto;
    background: #347bd7;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.hyxxright .hylist li.szf-slide a{
    background: #fff;
    color: #347bd7;
}
.hyxxright .hylist li {
    height: 44px;
    line-height: 44px;
    margin-bottom: 10px;
}
.hyxxright .hylist a {
    display: block;
    width: 100%;
    height: 100%;
    background: #347bd7;
    color: #fff;
    text-align: center;
}
.hyxxleft #page_div .pagination_index_last{    width: 350px;}
.hldti{
    width: 100%;
    height: 43px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
.hldti a {
    float: left;
    display: inline-block;
    padding: 0px 6px;
    height: 43px;
    line-height: 43px;
    color: #005292;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.hldti a.hover{
    border-bottom: 2px solid #347BD7;
}
.indexchax ul{width: 105%;}
.indexchax li {
    width: 156px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #eeeeee;
    float: left;
    margin-right: 22px;
    margin-bottom: 15px;
}
.indexchax li a {
    color: #333;
    font-size: 16px;
    display: block;
}
.indexchax{
    width: 1050px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}