*{ padding: 0; margin: 0;}
body{ font-family:"微软雅黑"; font-size:14px; color:#3F3F3F;}
a{text-decoration:none;}
body a{ color: #333333;}
.mr10{ margin: 0 10px;}
.mheader{width: 100%;height: 50px;color: #333333;position: relative;z-index: 999; background-image: url(../image/mtbg.jpg); background-size: cover; -webkit-background-size: cover; -o-background-size: cover; background-position: center 0; line-height: 50px;font-size: 18px; border-bottom: 1px solid #DDDDDD; top: 0;}
.mheader>img{ height: 37px; vertical-align: middle; margin: -5px auto 0;}
.mheader .fl img{width: 13px;margin: 0 0 0 13px;vertical-align: middle;cursor:pointer; }
.mheader .fl{ width: 20px; height: 50px;}
.mheader .fr img{width: 20px;margin: 0 8px 0 0;vertical-align: middle;}

.mtnav{ height: 80px; line-height: 40px; background: #277ED6;}
.mtnav li{ float: left; width: 25%; text-align: center; height: 40px; font-size: 16px; border-right: 1px solid #2372C1; border-bottom: 1px solid #2372C1; box-sizing:border-box;}
.mtnav li a{ color: #ffffff; display: block;}


.mcontent{width: 100%;background: #FFFFFF;padding-bottom: 20px;}
.mb10{margin-bottom: 5px;text-align: center;}
.mcontent a{font-size: 18px;}
.mcontent .zwgk{width: 64%;height: 160px;line-height: 160px;background: #88CF8B;float: left;}
.mcontent .zwgk img{width: 58px;vertical-align: middle;margin-left: 5%;}
.mcontent .wsbs{width: 35%;height: 160px;background: #1AC26B;float: right;}
.mcontent .wsbs img{width: 56px;margin-top: 40px;padding-bottom: 10px;}
.mcontent .gzhd{width: 32%;height: 305px;background: #50D9CF;float: left;}
.mcontent .gzhd img{width: 57px;margin-top: 105px;padding-bottom: 10px;}
.mcontent .c2-r{width: 66.8%;float: right;}


.swiper-container{ background: #1D74FF; padding: 0 5%;}
.swiper-button-disabled{ display: none;}
.zw-nav2{width: 100%;height: 40px;}
.zw-nav2 li{font-size: 14px;float: left;width: 25%;color: #80B9D8;text-align: center;line-height: 40px; height: 40px;}
.zw-nav2 li a{ color: #C5DCFF; display: block; width: 90%; height: 28px; background: #0F6BD8; margin-top: 6px; line-height:28px; border-radius: 20px; font-size: 14px;}
.zw-nav2 li.hover{color: #fff;}
.zw-nav2 li.hover a{color: #fff;}
.zw-nav2 li a.hover{ background: #F99D5C; color: #ffffff;}

.zw-nav{width: 100%;height: 35px;background: #E8EFF9;}
.zw-nav li{font-size: 15px;float: left;width: 25%;color: #3F3F3F;text-align: center;line-height: 35px; font-weight: bold;}
.zw-nav li a{ color: #3F3F3F;}
.zw-nav li.hover{color: #fff; background: #006CBD;}
.zw-nav li.hover a{ color: #fff;}

.news-list-wrap a { display: block;color: #3F3F3F;}
.news-list-wrap{margin:0 10px;}
.news-list-wrap li{ border-bottom:#d5d5d5 solid 1px; padding:10px 0 10px 0; float:left; overflow:hidden; width:100%}
.news-list-wrap img{float:right;width:30%;height:20%;}
.news-list-wrap p{ line-height:30px;font-size:12px;color:#999; height:30px;  overflow: hidden;}
.news-list-wrap span{padding-right: 2%;}

.mnlis{ padding-top: 10px;}
.mnlis li{ height: 30px; line-height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0 10px;}
.mnlis li a{ font-size: 16px;}

.mfooter{width: 100%;height: 48px;color: #fff;line-height: 48px;text-align: center;background: #1AC26B;}

.mnav{width: 100%;height: 50px;background: #F8F8F8;position: fixed;left: 0;bottom: 0;border-top: 1px solid #CCCBC9; z-index: 9999;}
.mnav li{width: 33%;height: 50px;float: left;color: #777777;text-align: center;  box-sizing:border-box;}
.mnav li img{width: 20px;height: 20px;margin-top: 5px;}
.mnav li a{font-size: 12px;color: #777777;}
.mnav li#yw.hover a{ color: #FB6E50;}
.mnav li#zw.hover a{ color: #4FC1EA;}
.mnav li#fw.hover a{ color: #49D0AE;}
.mnav li#hd.hover a{ color: #FEB839;}


.mblock{position: fixed; z-index:99999; width:100%; height: 100%; background:url(../image/mmb.png); display: none; top: 0;}
.zsidebar{width:85%; height: 265px; background-color:#FFF; z-index:9999;right: 0; top: 0; position: absolute;}

.zlist{ padding-top: 10px;}
.zlist ul li{background-color:#FFF; line-height:30px; padding: 7px 0; padding-left: 25px; height: 30px; border-bottom: 1px solid #E0E0E0; border-left: 5px solid #ffffff;}
.zlist ul li img{ float: right; margin-right: 20px; margin-top: 7px;}
.zlist ul li i{ display: none; width: 30px; height: 30px; float: left; margin: 0 20px;}
.mn1{ background: url(http://wenchang.hainan.gov.cn/nwenchang/xhtml/images/mn1.png) top center no-repeat;}
.mn2{ background: url(http://wenchang.hainan.gov.cn/nwenchang/xhtml/images/mn2.png) top center no-repeat;}
.mn3{ background: url(http://wenchang.hainan.gov.cn/nwenchang/xhtml/images/mn3.png) top center no-repeat;}
.mn4{ background: url(http://wenchang.hainan.gov.cn/nwenchang/xhtml/images/mn4.png) top center no-repeat;}
.mn5{ background: url(http://wenchang.hainan.gov.cn/nwenchang/xhtml/images/mn5.png) top center no-repeat;}
.zlist li.hover .mn1{ background: url(http://wenchang.hainan.gov.cn/nwenchang/xhtml/images/mn1a.png) top center no-repeat;}
.zlist li.hover .mn2{ background: url(http://wenchang.hainan.gov.cn/nwenchang/xhtml/images/mn2a.png) top center no-repeat;}
.zlist li.hover .mn3{ background: url(http://wenchang.hainan.gov.cn/nwenchang/xhtml/images/mn3a.png) top center no-repeat;}
.zlist li.hover .mn4{ background: url(http://wenchang.hainan.gov.cn/nwenchang/xhtml/images/mn4a.png) top center no-repeat;}
.zlist li.hover .mn5{ background: url(http://wenchang.hainan.gov.cn/nwenchang/xhtml/images/mn5a.png) top center no-repeat;}
.zlist ul li a{color: #666666; display: block; height:30px;line-height: 30px;position: relative; font-size: 18px;}
.hpsp-c{padding-bottom: 1em;}
.zlist ul li a span{ font-size: 18px;}
.zlist ul li.hover{ border-left: 5px solid #277ED6; background: #F5F5F5;}
.zlist ul li.hover a{ color: #277ED6;}

#mlist3 p{}
.mblue{ float: right; color: #2879AB;}
.mgreen{ float: right; color: #00B200;}
.morange{ float: right; color: #FF7F00;}

.clear{clear: both;}
.mjzgd{ margin: 10px 10px 0; height: 30px; line-height: 30px; background: #EEEEEE; font-size: 14px; text-align: center; border-radius: 5px; border: 1px solid #cccccc;}
.mjzgd a{ color: #666666; font-size: 14px;}

.m_foder{ line-height: 23px; padding: 15px 0 20px; overflow: hidden; text-align: center; background: #1A72B3; color: #76C1FB; font-size: 14px;}
.m_foderc{ padding-bottom: 5px; color: #ffffff; border-bottom: 1px solid #ffffff; width: 80%; margin: 0 auto; margin-bottom: 5px;}
.m_foder a{ color: #ffffff;}


.mti2{ height: 50px; line-height: 50px; border-bottom: 1px solid #EEEEEE; margin-bottom: 5px;}
.mti2 ul{ margin: 0 10px;}
.mti2 ul li{ width: 50%; height: 49px; text-align: center; float: left; font-size: 20px; color: #666666;}
.mti2 ul li.hover{ border-bottom: 2px solid #0377CE; color: #0377CE;}

.mti3{ height: 50px; line-height: 50px; margin-bottom: 5px; border-bottom: 1px solid #EEEEEE;}
.mti3 ul{margin: 0 10px;}
.mti3 ul li{ width: 33%; height: 49px; text-align: center; float: left; font-size: 18px; color: #000000; }
.mti3 ul li.hover{ border-bottom: 2px solid #277ED6; color: #277ED6;}
.mti3 ul li.hover a{ color: #277ED6;}

.mfg{ height: 10px; background: #E7EAF1; }

.red{ color: #277ED6; margin-left:10px;}

.mctt{ margin: 0 10px; color: #1F6BB6;}
.mctt div{ padding: 10px 0 5px; text-align: center; line-height: 30px;}
.mctt div a{ color: #1F6BB6; font-size: 16px; font-weight: bold;}
.mctt p{ line-height: 25px; padding-bottom: 10px;}
.mctt p a{ color: #1F6BB6; font-size: 14px;}

.mtj{ padding: 15px 10px; overflow: hidden;}
.mtj li{ width: 48%; height: 150px; position: relative; float: left;}
.mtj li img{ width: 100%; height: 150px;}
.mtj li p{ width: 100%; height: 30px; line-height: 30px; background: #EEEEEE; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  position: absolute; bottom: 0; left: 0; z-index: 99;}
.mtj li p a{ color: #777777; font-size: 14px;}
.mtj li:nth-child(2){ float: right;}

.mztzl{ padding-bottom: 15px;}
.mztzl .mztti{ height: 40px; line-height: 40px; background: #277ED6; text-align: center; }
.mztti a{ color: #ffffff; font-size: 18px;}

ul.mpic3{ margin: 0 10px; padding-top: 10px;}
.mpic3 li{ width: 33%; text-align: center; margin-bottom: 10px; line-height: 25px; float: left; text-align: center;}
.mpic3 li img{ width: 70%; display:block; margin: 0 auto 5px;}
.mpic3 li a{ font-size: 15px; color:#292929;}

.mpic{ margin: 0 10px;}
.mpic li{ width: 100%; position: relative; margin-top: 10px;}
.mpic li:nth-child(2){ margin-top: 5px;}
.mpic li img{ width: 100%;}
.mpic li p{ position: absolute; top: 45%; left: 0; width: 100%; height: 30px; line-height: 30px; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.mpic li p a{ color: #ffffff; font-size: 22px; font-weight: bold;}

.mnbox2{ padding-bottom: 15px;}

.mwz{ height: 40px; line-height: 40px; margin: 0 10px; font-size: 14px;}

.mztlis{ margin: 0 10px; overflow: hidden; padding-top: 10px;}
.mztlis li{ width: 48%; height: 50px; line-height: 50px; border: 1px solid #AEC7DA; background: #EEF7FF; float: left; margin-bottom: 10px; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.mztlis li:nth-child(2n){ float: right;}
.mztlis li a{ font-size: 16px; color: #1972B2;}

.msearch {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    width: 28px;
    height: 30px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.msImg {
    width: 100%;
}
.msearch_input {
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 3px;
    background: #ffffff;
    width: 90%;
    position: absolute;
    top: 60px;
    z-index: 999;
    left: 2%;
    min-height: 35px;
    display: none;
}
.msearch_input:before {
    z-index: 99;
    top: -5px;
    display: block;
    width: 0;
    height: 0;
    background: transparent;
    border-style: solid;
    border-width: 0 .34rem .34rem .34rem;
    border-color: transparent transparent #ffffff transparent;
    content: " ";
    position: absolute;
    right: 1px;
}
.msearch_input input {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    text-indent: 10px;
}
.msearch_input a {
    position: absolute;
    top: 13px;
    right: 8px;
}
.msearch_input a img {
    max-width: 100%;
    display: block;
}
.mheader .logo_box{
    float: left;
    width: 300px;
    padding-top: 0 !important;
}
.mheader .logo_box img{
    display: block;
    float: left;
    height: 35px;
    margin-right: 8px;
    padding-top: 6px;
}
.mheader .logo_name h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding-top: 4px;
    color: #f6b017;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.75);
}
.mheader .logo_name p{
    color: #af7b08;
    line-height: 13px;
    padding-top: 6px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
