
/* CSS Document */

/*-------------------------------↓分页样式开始↓------------------------------------*/
.page_num{padding-top:20px; height:50px; overflow:hidden; width:98%; margin:auto; font-size:13px;}

#page_div{line-height:20px; color:#666; padding:5px 12px;}


#pagination_input{ width:35px; height:16px; line-height:16px; margin:0 8px; padding:0; overflow:hidden; border:1px solid #ccc;}


#page_div .pagination_index, #page_div .pagination_index_num{ 
	background:#fff; border:1px solid #dfdfdf; padding:0 8px;
	margin-right:4px;
	float: left; height:20px;text-align:center;}
#page_div .pagination_index a, #page_div .pagination_index_num a{padding:0px; margin:0px;text-align:center;  color:#666666;}
#page_div .pagination_index a:hover, #page_div .pagination_index_num a:hover{padding:0px; margin:0px;text-align:center;  color:#666666;}

#page_div .pagination_index_last{width:400px; float:right; text-align:right}
/* ========="首页"样式=========*/

#page_div .pagination_index_num{margin-right:4px; padding:0px; width:35px;}
#page_div .currentIndex{ background:#0C86D8; border:1px solid #dfdfdf; width:35px; height:20px;
line-height:20px; color:#FFF;text-align:center; font-weight:bold;} /*=========当前页码样式=========*/
/*-------------------------------↑分页样式结束↑---------------------------------------*/