
/* CSS Document */
.mainHeader {
	width:100%;
	margin:0px auto; 
	background:#fff;
      padding-bottom:10px;
	border-bottom:10px solid #F5F5F5;
 }
.mainHead {
	width:1200px;
	height:130px;
	background:#fff;
	margin:0px auto;
	
	}
.mHtop {
	width:100%;
	height:30px;
	line-height:30px;
	padding:5px 0px;
	}
.mHtop_left {
	float:left;
	width:30%;
	font-size:13px;
	}
.mHtop_right {
	float:right;
	width:70%;
	color:#fff;
	
	display:inline-block;
	position:relative;
	}
.mHtop_right span {
	float:right;
	height:30px;
	line-height:30px;
	background:#fff;
	color:#000;
	margin:0px 10px;
	font-size:14px;
	}
.mHtop_right i {
	font-style:normal;
	position:relative;
	}
.mHtop_right .mHtop_wx {
	width:120px;
	height:120px;
	position:absolute;
	top:20px;
	right:-10px;
	z-index:200;
	display:none;
	background:url(../image/floatbg.png) no-repeat;
	min-width: 120px;
	min-height:120px;
	padding:10px;
  
	}
.mHtop_right .mHtop_wx img {
	width:105px;
	height:103px;
	padding:10px;
	}
.mHtop_right .mHtop_app {
	width:120px;
	height:120px;
	position:absolute;
	top:20px;
	right:-10px;
	z-index:200;
	display:none;
	background:url(../image/floatbg.png) no-repeat;
	min-width: 120px;
	min-height:120px;
	padding:10px;
  
	}
.mHtop_right .mHtop_app img {
	width:105px;
	height:103px;
	padding:10px;
	}
.mHbom {
	width:100%;
      overflow:hidden;
	padding:25px 0px;
	
	}
.mHbom_logo {
	float:left;
	}
.mHbom_logo img { width:150px; height:65px; }
.mHbom_logoline {
	float:left;
	margin-top:5px;
	margin-left:10px;
	}
.mHbom_title {
	float:left;
	margin:8px 0px 0px 8px;
	font-size:14px;
	line-height:20px;
	color:#555;
	width:200px;
	}
.mHbom_title span {
	display:block;
	float:left;
}
.mHbom_title span.zbf {
	letter-spacing:6.2px;
}
.mHbom_title span.zgf {
	letter-spacing:0.2px;
}
.mHbom_nav {
	float:right;
	height:40px;
	margin-top:5px;
	}
.mHbom_nav ul {
	padding-top:8px;
	}
.mHbom_nav li {
	float:left;
	display:inline-block;
	height:32px;
	line-height:30px;
	padding:0px 7px 0px 10px;
	margin:0px 7px;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	letter-spacing:3px;
	}
.mHbom_nav li:hover {
	background:#CE000A; /*移上背景色*/
	border-radius:3px;
	color:#fff;
	}
.mHbom_nav li.active {
	background:#CE000A;
	border-radius:3px;
	color:#fff;
	}
.mHbom_search {
	float:right;
	padding-top:17px;
	cursor:pointer;
	position:relative;
	}
.mHbom_search img {
	cursor:pointer;
	width:20px;
	height:20px;
	}
.mHbom_seashow {
	position:absolute;
	right:0;
	top:50px;
	width:260px;
	height:34px;
	line-height:34px;
	float:right;
	display:none;
	}
.mHbom_seashow #q {
	width:240px;
	height:28px;
	line-height:28px;
	border:1px solid #000;
	border-radius:4px;
	padding:0px 6px;
	font-size:14px;
	font-weight:bold;
	background-color:#fff;
	}
	
.mHbom_seashow #btnsearch {
	display:block;
	width:40px;
	height:25px;
	line-height:25px;
    top: 3px;
    left:210px;
	background-image:url('../image/seabtn.png');
	background-repeat:no-repeat;
	background-position:10px -2px;
	background-size:30px 26px;
	cursor: pointer;
    position: absolute;
	z-index:50;
	border:0;
	}
#shownavbtn {
	display:none;
	}
	
	
@media screen and (max-width:768px) {
	
	.foot_ad, .mHtop, .mHbom_seashow {
		display:none;
	}
	*{
		padding:0;
		margin:0;
		-webkit-tap-highlight-color:rgba(0,0,0,0);

		}
	 body,html {
		 width:100%;	
		 overflow:auto; 
		 background:#fff;
		}
	.mainHeader,.mainHead {
		width:100%;
		padding:0;
		height:61px;
		border:0;
		overflow:hidden;
		}
	.mHbom {
		width:100%;;
		height:35px;
		margin:0px;
		padding:10px 20px;
		border-bottom:1px solid #f1f1f1;
		}
	.mHbom_logo img {
		margin-left:-10px;
                height:40px;
		width:auto;
		}
	.mHbom_logoline img {
		height:30px;
		margin-left:15px;
		padding-right:15px;
		}
	.mHbom_title {
		font-size:13px;
		line-height:18px;
		padding:0;
		margin:0;
		}
	.mHbom_title span {
		display:block;
		float:left;
	}
	.mHbom_title span.zbf {
		letter-spacing:6.3px;
	}
	.mHbom_title span.zgf {
		letter-spacing:0.6px;
	}
	.mHbom_search {
		position:absolute;
		top:0;
		right:0;
		height:41px;
		width:40px;
		}
	.mHbom_search>img {
		width:20px;
		height:20px;
		padding-left:10px;
		padding-top:6px;
		}
	#showseabtn {display:none;}
	#shownavbtn {display:block;}
	.mHbom_nav {
		background-color: rgba(128,128,128,1);
		width: 100%;
		height:auto;
		position: absolute;
		top: 50px;
		left: 0px;
		padding-top: 30px;
		padding-bottom: 30px;
		display: none;
		overflow:hidden;
		z-index:999;
		}
	.mHbom_nav a {
		display: inline-block;
		text-decoration: none;
		width: 80%;
		margin-left: 10%;
		color: #FFFFFF;
		border-bottom: solid 1px rgba(255,255,255,0.3);
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		outline: none;
		-webkit-animation-duration: 0.5s;
		animation-duration: 0.5s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: returnToNormal;
		animation-name: returnToNormal;
		overflow:hidden;
		
		}
	.mHbom_nav a:hover {
		background-color: rgba(0,0,0,0.9);
		}
	.mHbom_nav li {
		display:inline;
		height:30px;
		line-height:28px;
		text-align:left;
		font-size:14px;
		letter-spacing:2px;
		
		}
	.mHbom_nav li:hover {
		background:#000; /*移上背景色*/
		border-radius:0px;
		color:#fff;
		}
	 .mHbom_nav li.active  {
		background:#000;
		display: inline-block;
		border-radius:0px;
		color:#fff;
		width: 96%;
		margin-left: 0;
		padding-left:23px;
		
		}
	@-webkit-keyframes returnToNormal {
	  0% {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -100%, 0);
	    transform: translate3d(0, -100%, 0);
	  }

	  100% {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	  }
	}
	@keyframes returnToNormal {
	  0% {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -100%, 0);
	    transform: translate3d(0, -100%, 0);
	  }

	  100% {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	  }
	}
    .bottom {
	  	padding:0px;
	  	margin:0px;
	  	height:45px;
     }
    .foot_3 p:nth-child(1) {
	  	display:none;
     }
    .foot_3 p {
	  	font-size:13px;
	  	padding-top:5px;
     }
}