@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9 */
  src: url('../font/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('https://www.sxkjbs.com/statics/css/b4ae915df72043fb9c6b413dc4b9c6b9.woff') format('woff2'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-top:before {
  content: "\e699";
}

.icon-search:before {
  content: "\e79e";
}

.icon-hot:before {
  content: "\e61f";
}

.icon-login:before {
  content: "\e630";
}

.icon-refresh:before {
  content: "\e62a";
}

.icon-dingyue:before {
  content: "\e61e";
}

.icon-redian:before {
  content: "\e600";
}

.icon-arrow_down:before {
  content: "\e601";
}

.icon-bofang:before {
  content: "\e8ce";
}

.icon-client:before {
  content: "\e6ea";
}

.icon-shouji:before {
  content: "\e845";
}

.icon-guanbi:before {
  content: "\e609";
}

