
/* CSS Document */
/*列表页*/
.contentBox{ margin:0 auto; height:auto; width:1000px;position:relative;}
body{
	background:#F6F6F6;
}
#menu48{ width:120px; border:1px solid #ccc; background:#fff; position:absolute; text-align:center; right:0; top:0; display:none; z-index:999}
#menu48 li{ height:25px; line-height:25px;}
#menu48 li a{ color:#999;}
.top{ height:31px; line-height:31px; width:100%; background:url(../image/topbg.jpg) repeat-x left center;}
.top .header{ width:1000px; margin:0 auto;  text-align:center; position:relative; z-index:20}
.top .header .nav ul li a{ color:#0c2ccd;}
.top .header .nav ul a.more{ color:#666; }
.header .nav ul{ float:right; width:400px;}
.header .nav ul li{ float:left; width:80px; text-align:center;}
.header .navlf{ float:left; width:100px; background:url(../image/smalllogo.png) no-repeat left center; padding-left:20px;}
/*content*/
#views{display:none;}
.place #resizer{ float:right; margin-right:313px;}
.place{ height:25px; line-height:25px;}
.gg_p1{ width:100%; height:auto; }
.gg_p1 img{ width:1000px; height:100px;}
.gpp_p10{widht:1000px; height:100px; overflow:hidden; margin:0 auto;}

.center{ width:1010px; border-bottom:1px solid #000; margin:0 auto; background:#efecfd; border-right:1px solid #ccc;}
.center .cat_list{ float:left; width:694px; border:1px solid #ccc;  border-top:3px solid #0c2ccd; background:#fff}
.center .cat_list h1{ font-size:20px; height:30px; line-height:30px; background:#ede9fa; padding-left:30px;}
.center .cat_list p.fubiaoti{ text-align:center; font-size:16px; line-height:25px;}
.center .cat_list h1 a{ color:#104799; font-weight:bold;}
#contentText{ margin-bottom:10px;  padding:0 30px; z-index:10}
#contentText img{ width:624px; /*height:100px*/}
.tttp{ border-bottom:1px dotted #ccc; padding-bottom:10px; margin-top:10px;} 
.tttp h6{ font-size:14px; font-weight:bold; color:#333333;}
.pages {background:none;clear:both;}
.pages ul {padding-left:10px;}
.pages ul li {overflow:hidden;float:left;}
.pages ul li a {display: inline;border:1px solid #D6E0EA;float:left;padding:2px 6px;margin-right:2px;text-decoration:none;font-size:12px;}
.pages ul li span{display:inline-block;padding:4px 6px;margin-right:2px;text-decoration:none;font-size:12px;}
.pages ul li a:hover, .pages ul li a.hover {background:#DBEBF8;color:#343235;}
.pages .subpage {float:right;margin-right:10px;color:#34405A;font-size:12px;}
.pages .subpage .page-txt {height:20px;line-height:20px;width:40px;padding:0;border:1px solid #D4E1EA;vertical-align:middle;}
.pages .subpage .page-submit {height:22px;line-height:22px;width:40px;padding:0;border:1px solid #D4E1EA;vertical-align:middle;}
/*右侧部分*/
.pmain_r{ float:right; width:313px;}
.p_search {clear:both;padding:5px 5px 0 7px;overflow:hidden;border-top:1px solid #D2DAEF;width:301px;}
.p_search .search-keyword {border:1px solid #B6B6B6;height:18px;width:215px;vertical-align:middle;float:left;padding:0 3px;}
.p_search .search-submit {height:20px;line-height:20px;width:78px;text-align:center;border:1px solid #B6B6B6;vertical-align:middle;float:left;background:url(../image/topbg.jpg) left center repeat-x;font-size:12px;color:#566F85;cursor:pointer;}
.pzbox {width:294px;margin:10px auto 0 auto;border:1px solid #D7DCF2;border-top:2px solid #AAC2E8;background:#FFF;overflow:hidden;}
#n_pic ul li p{text-align:center;}
.ptui dt {height:35px;line-height:35px;padding-left:15px;color:#1143A1;border-bottom:1px solid #CCDFF3;}
.ptui dt a {color:#2351A7;}
.ptui dd a {color:#306790;}
.ptui dd h6 {clear:both;height:25px;line-height:25px;font-size:14px;overflow:hidden; padding-left:20px;}
.ptui dd h6 a {color:#011758;}
.ptui dd ol {padding:5px 0 5px 10px;}
.ptui dd ol li {height:24px;padding-left:10px;line-height:24px; background:url(../image/dian2.jpg) left center no-repeat}
.ptui dd ol li a {color:#306790;}
.pdigg {clear:both;overflow:hidden;}
.pdigg dt{height:35px;width:296px;margin-left:-1px;}
.pdigg dt span a {width:95px;height:35px;line-height:35px;display:inline-block;border-bottom:1px solid #CCDEF4;text-align:center;text-decoration:none;color:#306790;}
.pdigg dt span a:hover, .pdigg dt span a.hover {border-right:1px solid #CCDEF4;border-left:1px solid #CCDEF4;border-bottom:0;}
.pdigg dd {background:url(http://www.lfxww.com/r/cms/lfxww/lfxww/images/pdigg.jpg) 0 0 no-repeat;padding: 0 5px;}
.center.clearfix .pmain_r .pzbox .pdigg ul li {line-height:33px;height:33px;padding-left:21px;overflow:hidden; list-style:decimal;}
.pdigg dd ul li a {color:#00386F;}
.ptupian {clear:both;overflow:hidden;}
.ptupian  #n_pic img{ width:130px; height:90px;}
.ptupian dt {height:35px;width:296px;margin-left:-1px;}
.ptupian dt span a {width:95px;height:35px;line-height:35px;display:inline-block;border-bottom:1px solid #CCDEF4;text-align:center;text-decoration:none;color:#306790;}
.ptupian dt span a:hover, .ptupian dt span a.hover {border-right:1px solid #CCDEF4;border-left:1px solid #CCDEF4;border-bottom:0;}
.ptupian dd {padding:10px 10px 0px 10px;}
.ptupian dd ul {width:110%;}
.ptupian dd ul li {float:left;margin-right:10px;line-height:25px;padding-bottom:5px;}
.ptupian dd ul li a {color:#274884;}
/*index02*/
#contentText p.p{ margin-top:10px;}
#contentText p.p a{ display:inline-block; width:103px; background:url(../image/ipabg.jpg) no-repeat center center; height:25px; line-height:25px; margin-bottom:5px; text-align:center }
.listbox{ margin-bottom:10px;}
#contentText .listbox p.shijian{ height:18px; line-height:18px; font-size:12px; color:#333;}
#contentText .listbox ul.ul li{ border-bottom:1px dashed #999999; list-style:none; background:none; padding:0; height:100%;}
#contentText .listbox ul.ul li img{ height:69px; width:634px;}
#contentText .listbox ul.ul li a{ float:none; display:inline-block; height:70px;}
#listbox{font-size:14px;}
.listbox ul li{ height:25px; line-height:25px;  color:#507da7; padding-left:10px; background:url(../image/dian2.jpg) no-repeat left center; clear:both;}
.listbox ul li a{ color:#043570; float:left;}
.listbox ul li span{ float:right; color:#656567; font-size:12px; }
.pzbox .love{ border:1px solid #428cc9}
.pzbox .love dt{height:34px; background:#428cc9;  padding:0 20px; color:#eaffff; font-size:14px; line-height:34px;}
.pzbox .love dt b{ float:left}
.pzbox .love dt img{ padding-top:5px; float:right; cursor:pointer; }
.pzbox .love ol{padding:5px 0 5px 10px;}
.pzbox .love ol li {height:24px; padding-left:10px;line-height:24px; background:url(../image/dian2.jpg) left center no-repeat}
.pzbox .love ol li a {color:#306790;}
/*index03*/
.cat_list h2.h2{ color:#000b51; font-size:24px; line-height:50px; text-align:center; min-height:68px;}
.cat_list h3.h3{ height:25px; line-height:25px; background:#edeaf8; color:#334058; text-align:center; font-size:12px;}
#contentText .p1 p{ padding:10px; font-size:16px; color:#333; line-height:30px; }
#contentText .p1 p img{ width:624px; height:auto;}
#contentText .p1 .img img{ width:590px; height:90px;}
#contentText .re{text-indent:2em}
.dayin{ height:25px; line-height:25px;font-size:12px; padding-right:20px; padding-left:10px; border-bottom:1px dotted #8a8a8a;}
.dayin a{ padding:0 10px; color:#334058;}
.dayin a b{ color:#039;}
.dayin span{ float:right; color:#043570;}
.dayin span i{ font-style:normal;}
.pageup{ padding:30px;}
.pageup p{ height:25px; line-height:25px;font-size:12px; color:#333; }
.pageup p a{ color:#729aff; font-size:12px;}
.pageup .share{ margin:20px 0;  height:22px; line-height:22px;}
.pageup .share strong{ color:#003; font-size:14px; padding-bottom:5px;}
.pageup .share strong a{ color:#333; font-size:12px; font-weight:400;}
.pageup .share strong a img{ padding-left:20px; }
.pageup .share h6{ float:right;}
.picture{ border:1px solid #316bff;}
.picture h2{ color:#fff; font-size:18px; height:30px; line-height:30px; background:#316bff; padding-left:30px;}
.picture .picture1{ padding:12px 8px 12px 12px;}
.picture .picture1 ol li{ float:left; margin-right:11px; width:122px;}
.picture .picture1 ol li img{ width:120px; height:90px; border:1px solid #ccc;}
.picture .picture1 ol li img:hover{ border:1px solid #f00}
.picture .picture1 ol li a{ color:#333; margin}
.picture .picture1 ol li a:hover{ color:#f00; }
.picture .picture1 ul li{ float:left; height:25px; line-height:25px; width:310px; padding-left:10px; background:url(../image/dian2.jpg) no-repeat left center;}
.picture .picture1 h4{ height:25px; line-height:25px; background:#c1c4ff; font-weight:400; font-size:12px;}
.picture .picture1 h4 a{ padding:0 10px; color:#316bff}
.picture .picture1 h4 a:hover{ color:#f00;}
.picture .picture1 span{ float:right; padding-right:30px; font-size:14px; color:#666; margin-top:20px;}
.reader{ border-top:1px solid #ccc; padding:10px 30px;}
.reader h2{ height:30px; line-height:30px; color:#333; font-size:14px;}
.reader ol li{ background:url(../image/dian2.jpg) left center no-repeat; height:25px; line-height:25px; padding-left:10px;}
.reader ol li a{ color:#316bff; font-size:14px; margin-right:20px;}
.reader ol li span{ font-size:12px; color:#666;}
.comment{ padding:15px; border-top:10px solid #ccc;}
.comment h2{ font-size:14px;}
.comment p{ color:#999; font-size:12px; height:20px; line-height:20px;}
.comment p span{ float:right; color:#666; font-size:12px; display:inline-block;}
.comment p b{ font-style:normal; float:left;}
.comment p span input{padding:5px;}
.comment p span label{ padding-left:18px}
.comment p span .label1{ background:url(../image/cmt-good.gif) no-repeat left center;}
.comment p span .label2{ background:url(../image/cmt-neu.gif) no-repeat left center;}
.comment p span .label3{ background:url(../image/cmt-bad.gif) no-repeat left center;}
.comment .tearra{ margin-top:10px;}
.newcomment{ border-top:1px dotted #ccc; padding-top:10px; margin-top:10px;}
.newcomment h2 i{ font-style:normal; float:left;}
.newcomment h2 a{ float:right; color:#316bff;}
.newcomment dl{ padding:10px; border-bottom:1px dotted #ccc;}
.newcomment dl dd{ color:#09F;}
.newcomment dl dt{ color:#ff789e; margin-bottom:10px;}
.newcomment dl dt span{ color:#333;}
.newcomment dl dd span{ color:#666;}
/*index04*/

.bennerimg { width:100%; background:#f00;}
.gg_p2{ height:70px; margin:0 auto; width:1000px; }

.baner{border:1px solid #666;}
.baner img{ width:683px; height:350px;}
.list4box{ padding:0 10px;}
.list4box .list4{ border-bottom:2px solid #09c; padding-bottom:10px;}
.list4box .list4 dt{ font-size:18px; line-height:45px; font-weight:bold}
.list4box .list4 dt a{ color:#333;}
.list4box .list4 dd{color:#777; line-height:25px; font-size:14px;}
.list4box .list4 p{ color:#999;}
.list4box .list4 p span{ margin-right:10px; background:url(../image/time.jpg) no-repeat left center; padding-left:15px;}
.list4box .list4 p b{ padding-left:20px; background:url(../image/from.jpg) no-repeat left center; margin-left:10px; font-weight:400}
p.re{ text-indent:2em; text-align: left;}

/*焦点图*/
div.slideBox{ position:relative; width:683px; height:350px; overflow:hidden;}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px; position:relative;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/; width:683px; height:350px;}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:35px; background-color:#000; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox li span a{ position:absolute; left:20px; bottom:10px; color:#FFF; font-size:12px; line-height:35px;  text-decoration:none; font-weight:bold; z-index:888 }
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left/*For IE.ADD.JENA.201206300844*/; width:10px; height:10px; background-color:#FFF; margin:15px 10px 0px 0px; }
div.slideBox div.tips div.nums a.active{ background-color:#093;}

/*右侧广告*/
.gg_pr1{ width:300px;margin:0 auto; border:1px solid #D7DCF2;overflow:hidden;}

hr{ margin:10px 0; size:1; color:#8a8a8a;}


/*全文阅读*/
.yuedu{ margin:0 auto; height:92px; line-height:32px; font-size:16px; position:relative; color:#666;background-color: #F4F4F4; text-indent:2em;}
.yuedu a{ position:absolute; bottom:0; right:0; width:55px; background:#06F; display:inline-block; height:18px; color:#fff; font-size:12px; line-height:18px; text-align:center; text-indent:0}


/**/
.contentBox .textbox{ width:100%; height:100px; color:#fff; font-size:30px; font-family:"微软雅黑";}

.contentBox .textbox .gg_p1{height:68px; line-height:68px; width:970px; margin:16px  auto; background:#2b4cb5; padding-left:30px;}
.contentBox .textbox .gg_p1 img{ height:68px; width:1000px;}



.p2-crr{color:red;text-decoration:underline}