body{font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.xbt-nav{
    border-bottom:solid 1px #C6DEFC;

}
.navbar-default .navbar-nav>li>a {
    color: #0c2ccd;
}
.xb777{color:#777;}
.xb-left{
    background-color:#fff;
    border:solid 1px #ccc;
    border-top:3px solid #0c2ccd;
}
.xb-h2{
    font-size:2em;
    color:#000b51;
    /*line-height:150%;*/
    padding:2% 0;
    margin-top:0;
   }
.xb-h4{
     font-size: 1em;
    background-color:#edeaf8;
    color:#334058;
    padding:1.5% 0;
    }
.xb-bg{
    background-color:#efecfd;
}
.xb-r-item-bg{
    background-color:#fff;
    margin-top:2%;
    border-top:2px solid #AAC2E8;
}
.tab-pane{
    background-color:#fff;
    padding-top:4%;
    overflow:hidden;
    border:solid 1px #ddd;
    border-top:none;
}
.xb-img{
    height: 90px;
    width: 100%;
    display: block;
}
.nry p{
    font-size:1.3em;
    line-height:160%;
    color:#333;
}
.nry img,.nry p img{
     display:block;
     width: 100%;
     height: auto;
    }
.zrbj{
    font-size:1.1em;
    color:blue;
 }
.pageup p,.pageup p a{
    color:#31589f;
    font-size:1em;
}
.copyr{
    padding:20px;
    margin:0 20px;
    background-color:#ebf1f1;
    border:solid 1px #ccc;
    color:#000;
    line-height:200%;
    margin-bottom:20px;
}
.xb-dh{}
.xb-boder{ solid 1px red;}
.xb-dh li{
  width:auto;
  float:left;
  display:block;
  margin-left:10px;

}
.xb-dh li a{
  display:block;
  color:#333;
  font-size:1.1em;
  padding-top:15px;
  padding-bottom:10px;
}
.xb-dh li a:hover,.xb-dh li.active{
  text-decoration:none;
  background:transparent  url(../image/xb-dh-bg.png) no-reapeat bottom center;
}
.xpp{width:300%;overflow:auto;}
.xb-footer{margin-top:2%;}
.foott{width:100%}

.xb-bt-nav ul li{
   border:red 0px solid;
   width:20%;
   float:left;
}
.xb-bt-nav ul li a{
   color:#333;
   text-align:center;
}
.xb-bt-nav ul li a:hover,.xb-bt-nav ul li.active a{
   text-decoration:none;
   color:#12b9ff;
}
.bg-fff{
   background:#fff;
}
.xb-1-bd{
  border-bottom:solid 1px #eee;
  border-right:solid 1px #eee;
}
.xb-1-bd-nr{
  border-right:none;
}

.swiper-pagination {
  text-align:right;
}
.xb-s-title{
        color:#fff;
        font-size:1.6em;
        text-indent:0.1em;
        position:absolute;
	width:100%;
        height:60px;
        line-height:60px;
	background:rgba(0,0,0,0.5);
        bottom:0px;
        overflow:hidden;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    top:0;
}
#shizheng ul li,#wenhua ul li,#lvyou ul li,#yingxiang ul li,#shehui ul li{
  font-size:1.2em;
  color:#333;
}
.xb-img-bg{
  overflow:hidden;
  border:solid 1px #ccc;
  height:100px;
  background-size:cover;
}
.xb-t-img{
 padding-left:0;
 padding-right:0;
}
.xb-box{
  border-bottom:solid 1px #ccc;
  padding:2% 0;
}
.xb-tit>h4>a{
  color:#333;
  font-size:1em;
 }
.foott p {
 line-height:120%;
}
.i_nav #i_nav_btn {
    background-position: 21px -192px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
}

.i_head, .i_logo, .i_login, #i_nav_btn, .tag_vid, .i_section_more_btn, .i_topNews_more:before, .i_search_nav a div, .btn-submit, .i_search_icon, .i_foot_nav a, .top_bottom div p, .i_topNews_next, .i_topNews_hometown_next {
    background-image: url(../image/xbico.png);
    background-repeat: no-repeat;
    background-size: 500px auto;
}
.i_nav a:nth-child(n+14) {
    display: none;
}
.i_nav a {
    float: left;
    width: 14.28%;
    text-align: center;
    white-space: nowrap;
    height: 26px;
    line-height: 26px;
    font-size: 18px;
    color: #333;
}
.btn>a>span.kx,button a{
    color:#fff;
    font-weight:bolder;
}
#myTab li{border-radius:0;}
.fubiaoti{
   font-size:1.5em;
   line-height:150%;
   color:#000b51;
   margin-top:1%;
}
.pagebar{
   width:100%;
}
.pagebar a{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.p2-crr {
    color: red;
    
}
#views input[type="text"] {background:#edeaf8}
@media screen and (max-width:768px) {
    .xbt-nav{
        border-bottom:solid 1px #C6DEFC;
        background:url(../image/xblogo.jpg) top center no-repeat;
         
    }
    
}
@media screen and (max-width:640px) {
    .xbt-nav{
        border-bottom:solid 1px #C6DEFC;
        background:url(../image/xblogo.jpg) top center no-repeat;
    }
    .nry img{
        display:block;
        width:100%;
        height:auto;
    }
}
