	.zx-xxxqy-nr strong{font-weight:bold}
	.bdsharebuttonbox{zoom:1;position:relative}
.bdsharebuttonbox .ttqq,.bdsharebuttonbox .ttwx,.bdsharebuttonbox .ttqzone,.bdsharebuttonbox .ttbdhome,.bdsharebuttonbox .ttsina,.bdsharebuttonbox .ttbaidu,.bdsharebuttonbox .ttrenren,.bdsharebuttonbox .tttqq,.bdsharebuttonbox .tthuaban,.bdsharebuttonbox .ttfbook,.bdsharebuttonbox .ttmore{background:url(../image/fxtb.png) no-repeat;}
.bdsharebuttonbox{text-align: left;font-size:14px;line-height:24px;height:48px;background-repeat:no-repeat; width:100%; }
.bdsharebuttonbox .ttwx{background-position:0px -24px; font-size:14px;}
.bdsharebuttonbox .ttqzone{background-position:0px -48px; font-size:14px;}
.bdsharebuttonbox .ttsina{background-position:0px -96px; font-size:14px;}
.bdsharebuttonbox .tttqq{background-position:0px -120px; font-size:14px;}
.bdsharebuttonbox{zoom:1}
.bdsharebuttonbox:after{content:".";visibility:hidden;display:block;height:0;clear:both}
.bdsharebuttonbox a,.bdsharebuttonbox .bds_more{font-size:18px;padding-left:25px;line-height:24px;height:24px;background-repeat:no-repeat;cursor:pointer;margin:6px 6px 6px 0; display:inline-block;}
.bdsharebuttonbox a:hover{color:#333;opacity:.8;filter:alpha(opacity=80)}
.bdsharebuttonbox .bds_more{color:#333;float:left}
.bdsharebuttonbox .tttqq{background-position:0px -144px}
.bdsharebuttonbox .tthuaban{background-position:0px -168px}
.bdsharebuttonbox .ttfbook{background-position:0px -192px}
#fxcode{position:absolute;width:200px;height:220px;top:35px;display:none;background-color:#fff;border:1px solid #CFCFCF;padding:10px;font-size:12px;line-height:14px;border-radius:5px; left:5px; text-align:center}
#fxcode .f{float:left}
#fxcode .r{float:right}
#fxcode .fxjg{padding-bottom:5px}
#fxcolse:hover{color:#FF7E00;}

.maincon-b {
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #f1f1f1;
}