.gg_cnt_detail{background-color:#f4f4f4;height:46px;margin-top:48px}
.gg_cnt_contain{width:1002px;height:100%;margin-left:auto;margin-right:auto;overflow:hidden}
.bigscreen_log{display:none}
.gg_cnt_lrs{width:1002px;overflow:hidden;height:100%}
.gg_cnt_left{position:relative;width:100%;height:auto;float:left}
.detail_position{width:50%;height:100%;line-height:46px;font-size:12px;float:left}
.pluge-content{float:right;margin-top:5px}
.detail_position a.detail_logo{display:inline-block;height:100%;position:relative;color:#333;width:60px\9;width:auto \9\0}
.detail_position a.detail_logo span{margin-right:8px;font-size:16px;color:#fff;background-color:#ec4b4b;padding:1px 8px;border-radius:4px}
.detail_position a{color:#666}
.detail_cnt{position:relative}
.detail_cnt{width:1002px;height:auto;margin-left:auto;margin-right:auto}
.detail_cnt .recommend{display:none}
.detail_cnt .main_content{width:1002px;height:auto;overflow:hidden}
div.article,div.aside{float:right}
div.article{background-color:#fff}
.detail_left{float:left;width:650px;height:auto}
.detail_left_cnt{position:relative;width:640px;height:auto;padding:16px 15px 0 15px}
.J-title_detail{position:relative}
.content-r-fixed{position:fixed;left:50%;margin-left:-501px;bottom:51px;z-index:999}
.title_detail h1{height:auto;line-height:36px;font-size:26px;color:#333;overflow:hidden;font-weight:700}
.title_detail h1{height:auto;line-height:36px;font-size:26px;color:#333;overflow:hidden;font-weight:700}
.share_cnt_p{height:27px;line-height:25px;font-size:12px;color:#666;width:100%;position:relative}
.share_cnt_p i{padding-right:10px}
.user_error_op{position:relative;padding-left:26px}
.user_error_op span{text-align:center;color:#aaa;font-size:14px;border-radius:6px;cursor:pointer}
. .widt_ad{display:block;padding-bottom:10px;padding-top:10px}
.widt_ad img{display:block;margin:0 auto;width:550px\9}
.contain_detail_cnt img{display:block;margin-left:auto;margin-right:auto;max-width:100%;background-color:#f1f0f0}
.detail_left_cnt .contain_detail_cnt{line-height:30px}
.contain_detail_cnt p{padding-top:8px;padding-bottom:8px;text-indent:2em;font-size:16px}
.head .head_content{padding:12px 0 8px 0}
.head h1{font-size:26px;font-weight:700;height:auto;line-height:37px;color:#333}
.head .user_error_op span{line-height:25px}
.head .guide{margin-top:14px;padding-left:30px;font-size:16px;position:relative;zoom:1;line-height:30px}
.head .guide .j-guide p{padding-bottom:10px}
.head .guide span{position:absolute;width:24px;height:24px;background:url(../image/split_icon.png) no-repeat 0 0}
.head .guide span.com-1{top:0;left:0}
.head .guide span.com-2{bottom:13px;right:4px;background-position:-24px 0}
.art_content .item{font-size:16px;zoom:1;position:relative;margin-top:12px;background-color:#fff}
.art_content .item_content{padding:20px 18px 0 18px}
.art_content .item h2{font-size:22px;color:#ec4b4b;padding:0;font-weight:700;line-height:47px}
.art_content .item h3{font-size:16px;margin-bottom:0;padding:8px 0;color:#333;line-height:28px}
.art_content .item .index_icon{position:absolute;top:0;left:0;width:50px;height:50px;background:url(../image/news_icon.png) no-repeat;font-size:24px;text-indent:8px;font-family:arial;color:#fff}
.art_content .item p{padding-bottom:6px;color:#333;line-height:30px}
.art_content .item p img{max-height:100%}
.art_content .item_content .widt_ad img{max-width:634px}
.article_tags{width:568px;padding:3px 0 10px 72px;margin:0 0 10px 15px;height:auto;position:relative;border-bottom:1px solid #eee;font-family:微软雅黑,"Microsoft YaHei",arial,sans-serif}
.article_tags .icon{display:block;position:absolute;left:0;top:5px;width:24px;height:24px;background:url(../image/biaoqian.png) no-repeat center center}
.article_tags .tag{display:block;position:absolute;left:29px;top:5px;width:40px;height:24px;line-height:24px;font-size:16px;color:#333}
.article_tags .tagcns{font-size:14px;color:#888;overflow:hidden}
.article_tags .tagcns .item{float:left;margin-right:6px;line-height:28px;text-align:center}
.article_tags .tagcns .item a{padding:2px 5px;border:1px solid #eee;color:#888;border-radius:3px}
.article_tags .tagcns .item a:hover{border-color:#ee4b4b;color:#ee4b4b}
.pagination{width:auto;height:31px;text-align:center;padding-top:10px;padding-bottom:6px}
.pagination a.cur,.pagination a:hover{background-color:#ec4b4b;color:#fff;text-decoration:none}
.pagination a{border:1px solid #ccc;margin:0 1px;font-size:12px;padding:4px 8px;cursor:pointer}
div.bottom_over_cnt{width:640px;float:right;height:auto;padding:0 15px;margin-bottom:10px;background-color:#fff}
.guess_like{width:640px;height:auto;float:left;color:#ddd;background-color:#fff}
.guess_like .rel-recmmend{margin-top:0;padding-bottom:5px;position:relative}
.guess_title{float:left;width:100%;height:32px;margin-top:15px;line-height:50px;color:#ec4b4b}
.guess_title span{font-size:20px;font-weight:400;color:#ec4b4b;border-bottom:2px solid #666;display:block;width:100%;height:32px;line-height:32px;position:relative}
.rel-recmmend a{position:absolute;right:0;top:5px;font-size:14px;color:#666;width:40px;height:25px;line-height:25px}
.guess_title span i{position:absolute;display:block;width:80px;height:2px;background-color:#ec4b4b;left:0;bottom:-2px;overflow:hidden}
.guess_contain{float:left;width:100%;height:auto;overflow:hidden}
.recomend_content{margin-top:10px;width:650px;height:122px}
.recomend_content li.even{margin-right:20px}
.recomend_content li{float:left;width:325px;height:28px;position:relative;list-style:none;line-height:28px;overflow:hidden;font-size:14px;text-indent:12px;zoom:1}
.recomend_content li.even{margin-right:20px}
.recomend_content li span{position:absolute;display:block;left:0;top:13px;z-index:99;width:3px;height:3px;border-radius:50%;font-size:0;background-color:#cecece}
.recomend_content li .tm{display:none}
.hot_recommend_cnt{width:100%;height:auto;overflow:hidden;position:relative}
ul.tjnewsrcontent{width:100%;height:auto;overflow:hidden;padding:0;margin:2px 0 0 0}
ul.tjnewsrcontent li{position:relative}
ul.tjnewsrcontent li{width:100%;border-bottom:1px solid #ececec;overflow:hidden}
ul.tjnewsrcontent li:hover{background-color:#f8f8f8}
ul.tjnewsrcontent li:hover h3{color:#ee4b4c}
ul.tjnewsrcontent .recommend_news_many>a{display:block;width:640px;height:150px;padding:10px 0}
ul.tjnewsrcontent .recommend_news_many h3{font-size:20px;line-height:24px;position:relative;height:24px;overflow:hidden}
ul.tjnewsrcontent .recommend_news_many p.img-wrap{width:650px;height:90px;overflow:hidden;margin-top:10px}
ul.tjnewsrcontent .recommend_news_many p.from{position:absolute;left:0;bottom:10px;font-size:12px;color:#999}
ul.tjnewsrcontent .recommend_news_many p.img-wrap span{width:152px;height:90px;margin-right:10px;overflow:hidden}
ul.tjnewsrcontent .recommend_news_many p.img-wrap span.wz{font-size:14px;text-align:center;line-height:90px;background-color:#ededed;color:#999}
img.animation,ul.tjnewsrcontent li img{-webkit-transition:all .4s;-moz-transition:all .4s;-ms-transition:all .4s;-o-transition:all .4s;transition:all .4s}
img.animation:hover,ul.tjnewsrcontent li img:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
ul.tjnewsrcontent li.recommend_news .red_news{display:block;width:100%;height:90px;padding:10px 0}
ul.tjnewsrcontent li .pic{float:left;display:inline;overflow:hidden;position:relative;width:152px;height:90px}
ul.tjnewsrcontent li .pic img{width:100%;height:100%;font-size:0}
ul.tjnewsrcontent li .text{float:left;display:inline;width:465px;height:93px;padding-left:20px;overflow:hidden;position:relative;font-size:12px;color:#999}
ul.tjnewsrcontent li .text h3{width:100%;height:60px;line-height:30px;font-size:20px;margin:0;padding:0;color:#333;overflow:hidden;font-weight:700}
ul.tjnewsrcontent li .text p.source{position:absolute;margin:0;padding:0;left:16px;bottom:-5px;width:470px;height:25px;line-height:25px}
ul.tjnewsrcontent li .text p.source span{position:absolute;left:0;bottom:3px;font-size:12px;color:#b4b4b4}
.main_item_cnt{background-color:#fff;padding:0 10px}
#unartificial{padding-bottom:15px}
.car-contrast{width:300px;padding:20px 10px;height:175px;background-color:#fff}
.car-contrast p.car-title{float:left;width:300px;height:36px;background-color:#f8f8f8}
.car-contrast p.car-title span.car-name{color:#333;font-weight:700;font-size:16px;line-height:36px;float:left;padding-left:10px}
.car-contrast p.car-title a.car-more{font-size:14px;color:#bbb;float:right;line-height:36px;margin-right:10px}
.car-contrast p.car-title a.car-more:hover{color:#ee4b4c}
.car-contrast .car-info-box{width:300px;float:left;padding-top:10px}
.car-contrast .car-info-box .car-img-box{display:block;float:left;margin-left:5px;height:90px;width:120px}
.car-contrast .car-img-box img{width:100%;height:100%}
.car-contrast .car-info-box p{float:left;width:174px;height:90px}
.car-contrast .car-info-box p span{display:block;line-height:20px;text-align:center;color:#999;font-size:14px;margin-top:5px}
.car-contrast .car-info-box p span.price{color:#f10215;font-size:18px;margin-top:24px}
.car-contrast .car-btn{float:left;width:135px;height:30px;line-height:30px;text-align:center;border-radius:2px;margin-top:10px}
.car-contrast .contrast{background-color:#fff;border:1px solid #f10215;color:#f10215;margin-left:5px}
.car-contrast .see-same-kind{background-color:#f10215;border:1px solid #f10215;color:#fff;margin-left:17px}
.detail_room{width:auto;padding:20px 10px 0;background-color:#fff}
.detail_room .room_til{width:100%;height:48px;position:relative}
.room_til .atr_pic{float:left;display:block;width:48px;height:48px;position:relative}
.room_til .atr_pic span{display:block;width:100%;height:100%;border-radius:50%;overflow:hidden}
.atr_pic span img{width:100%;height:100%}
.atr_pic b{position:absolute;right:-3px;top:26px;width:20px;height:20px;background:url(../image/icon_v.png) no-repeat center center}
.room_til .atr_name{position:absolute;left:60px;top:9px;display:block;width:150px;line-height:30px;font-size:16px;font-weight:700;overflow:hidden;color:#333}
.atr_name a{float:left;position:relative}
.room_til .toRoom{position:absolute;right:0;top:9px;display:block;width:84px;height:30px;background-color:#fff;border:1px solid #ec4b4b;font-size:16px;text-align:center;line-height:30px;color:#ec4b4b}
.room_til .toRoom:hover{color:#fff;background-color:#ec4b4b}
.room_til .unbind-dfh{color:#fff;background-color:#ec4b4b}
ul.room_news{width:100%;padding-top:5px}
ul.room_news li{margin-top:10px;padding-left:24px;font-size:14px;line-height:24px;position:relative;max-height:48px;overflow:hidden}
ul.room_news li .dom{position:absolute;top:0;left:0;width:24px;height:24px;background:url(../image/detail_sprites.png) no-repeat -72px -493px}
ul.room_news li a{color:#333}
ul.room_news li a:hover{color:#ee4b4b}
.see_more{width:100%;height:34px;position:relative;margin-top:20px}
.see_more .see_hf{display:block;width:100%;height:100%;background:url(../image/see_more01.png) no-repeat center center}
.see_more .see_txt{display:block;position:absolute;top:3px;left:50%;margin-left:-55px;font-size:16px;line-height:26px;width:110px;height:26px;color:#ec4b4b}
.gg_cyup360{padding-top:20px;padding-bottom:20px}
.rec_cns{display:none;float:right;width:180px;height:auto;padding-top:20px}
.rec_cns .rec_hot{width:180px;height:auto}
.rec_cns .rec_til{width:auto;height:38px;padding-left:20px;line-height:38px;font-size:16px;background-color:#ee4b4c;color:#fff}
.rec_cns ul.rec_cnt{width:100%;padding-bottom:120px;padding-top:12px;background-color:#f9f9f9;overflow:hidden}
.rec_cns ul.rec_cnt li{width:100%;line-height:41px;font-size:16px}
.rec_cns ul.rec_cnt li a{display:block;height:41px;width:100%;text-indent:20px;color:#333;overflow:hidden}
.rec_cns ul.rec_cnt li a:hover{color:#ec4b4b}
.rec_hot_fixed{position:fixed;left:50%;top:0;margin-left:460px;z-index:99}
div.aside{width:320px;min-height:10px;float:left;margin-right:10px}
.detail_right_cnt{float:left;width:320px;height:auto}
div.gg_right1{font-size:0;padding:0 10px;background-color:#fff}
.channel_ybq_x{width:300px;height:auto;color:#ddd}
.main_r_title{width:300px;height:32px;padding:0 10px 20px;background:#fff;position:relative}
div.hot_video{padding-left:0;padding-right:0}
.main_r_title h4{width:100%;height:100%}
.main_r_title h4 span{font-size:20px;font-weight:400;color:#ec4b4b;border-bottom:2px solid #666;display:block;width:100%;height:32px;line-height:32px;position:relative}
.main_r_title h4 span em{position:absolute;display:block;width:80px;height:2px;background-color:#ec4b4b;left:0;bottom:-2px;overflow:hidden}
ul.sift_item{width:auto;height:auto;overflow:hidden;padding-top:6px}
ul.sift_item li{float:left;width:100%;height:auto;overflow:hidden;padding-bottom:15px}
ul.sift_item li span{float:left;display:block;width:116px;height:68px;overflow:hidden;font-size:0;background:url(../image/moudle_bg.png) no-repeat center center;background-size:cover;position:relative}
ul.sift_item li span img{width:100%;height:100%}
ul.sift_item li p{float:left;height:50px;width:172px;line-height:25px;font-size:14px;color:#333;padding-left:12px;overflow:hidden}
ul.sift_item li p:hover{color:#ee4b4b}
.gg_detail_baidu{width:auto}
.channel_ybq_x{width:300px;height:auto;color:#ddd}
.icp_items{width:300px;font-size:14px;line-height:36px}
.icp_items .icp_item{width:100%;border-bottom:1px solid #ececec}
.icp_item .icp_til{width:40px;text-align:center;overflow:hidden}
.icp_item a{float:left;color:#333;height:36px}
.icp_item a:hover{color:#ee4b4c}
.icp_item .icp_dot{float:left;width:4px;color:#ececec}
.icp_item .icp_dil{width:250px;padding-left:6px;overflow:hidden}
.icp_items .icp_item{width:100%;border-bottom:1px solid #ececec}
div.gg_right3{font-size:0;background-color:#fff;width:300px;padding:0 10px}
div.gg_right4{width:300px;background:#fff;padding:6px 10px 14px 10px}
div.gg_right6{width:300px;background-color:#fff;padding:0 10px}
.all_see{padding-bottom:0}
.dfh_cns{background-color:#fff;padding:0 10px 20px 10px;overflow:hidden}
.dfh_cns li{height:108px;border-bottom:1px dashed #bbb;margin-top:16px}
.dfh_cns li .dfh-info{height:40px}
.dfh_cns li .dfh-info .img{float:left;display:block;width:36px;height:36px;overflow:hidden;border-radius:50%}
.dfh_cns li .dfh-info img{width:100%;height:100%}
.dfh_cns li .dfh-info .dfh-name{float:left;line-height:40px;font-size:12px;color:#777;margin-left:12px}
.dfh_cns li .dfh-info .dfh-time{float:right;line-height:40px;font-size:12px;color:#888}
.dfh_cns li .dfh-news{line-height:20px;margin-top:12px;max-height:40px;overflow:hidden}
.dfh_cns li .dfh-news a{color:#333;font-size:14px}
.dfh_cns li .dfh-news a:hover{color:#ee4b4c}
div.gg_right8{display:none}
div.gg_right9{width:300px;background-color:#fff;padding:0 10px 10px}
.footerDetail{color:#333;width:100%;height:auto;overflow:hidden;background-color:#f7f7f7;border-top:1px solid #e3e5e8;padding:10px 0;text-align:center;font-size:12px;line-height:20px}
.footerDetail a{color:#333}
div.gg_right6 iframe{padding-top:15px;padding-bottom:8px;position:relative;margin-left:-5px}
div.dsp_dlleft,div.dsp_dlright{width:100px}
.dsp_dlleft{position:fixed;display:block;z-index:9999;left:0;top:50%;margin-top:-140px;width:100px;font-size:0}
div.gg_right2{font-size:0;background-color:#fff;padding:0 10px;overflow:hidden}
.gg_detail_baidu{width:auto}
.dsp_dlright{position:fixed;display:block;z-index:9999;right:0;top:50%;margin-top:-140px;width:100px;font-size:0}
.J-title_detail{position:relative}
.user_error_op{position:relative;padding-left:26px}
.user_error_op span{text-align:center;color:#aaa;font-size:14px;border-radius:6px;cursor:pointer}
.user_error_op i{position:absolute;width:16px;height:14px;background:url(../image/click_icon.png) no-repeat 0 -14px;display:block;z-index:990;left:6px;top:6px;padding-right:0}
.user_error_op:hover i{background:url(../image/click_icon.png) no-repeat 0 0}
.user_error_op:hover span{color:#ec4b4b}
.mask_error{position:fixed;width:100%;height:100%;background-color:#000;opacity:.5;filter:alpha(opacity=.5);filter:alpha(opacity=50);z-index:999;top:0;left:0}
.error_pop{position:fixed;top:50%;left:50%;z-index:9999;width:300px;height:60px;margin-top:-30px;margin-left:-150px;line-height:60px;font-size:16px;text-indent:58px;color:#333}
.error_pop i{position:absolute;width:28px;height:27px;left:20px;top:17px;z-index:99999}
div.error_pop_succes{background-color:#fff}
div.error_pop_succes i{background:url(../image/promt_icon.png) no-repeat 0 0}
div.error_pop_fail{background-color:#fff;width:156px;margin-left:-78px}
div.error_pop_fail i{background:url(../image/promt_icon.png) no-repeat 0 -27px;height:28px}
.error_content{width:615px;height:415px;background-color:#fff;position:fixed;top:50%;left:50%;margin-left:-307px;margin-top:-208px;z-index:9999}
* html .mask_error{position:absolute;bottom:auto;margin-bottom:00;margin-top:0;margin-left:0;margin-right:0;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)))}
* html .error_pop{position:absolute;bottom:auto;margin-bottom:150px;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)))}
* html .error_content{position:absolute;bottom:auto;margin-bottom:150px;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)))}
.error_title{position:relative;border-bottom:2px solid #f2f2f2}
.error_title h3{height:52px;line-height:52px;padding-left:20px;color:#333;font-size:20px;font-weight:400}
.error_title i{position:absolute;cursor:pointer;top:16px;right:14px;z-index:9;display:block;width:27px;height:21px;background:url(../image/close_sp.png) no-repeat -3px 3px}
.proposal_content{margin-left:45px}
.proposal_tit{font-size:16px;color:#333;margin-top:10px;margin-bottom:10px}
.proposal_opt li{float:left;position:relative;width:112px;height:16px;line-height:16px;font-size:14px;color:#333;margin-bottom:12px;overflow:hidden;text-indent:20px;cursor:pointer;background:url(../image/check.png) no-repeat 0 0}
.proposal_opt li.act{background:url(../image/check_sure.png) no-repeat 0 0}
.proposal_opt li.last_check{width:170px}
.proposal_textarea{width:520px;height:60px;border:1px solid #e0e0e0;position:relative;margin-top:4px}
.proposal_textarea textarea{width:510px;height:50px;margin-top:10px;margin-left:10px;font-size:14px;color:#333;display:block;resize:none;border:0;outline:0;padding:0;-webikt-transition:.1s height linear;-webkit-transition:.1s height linear;transition:.1s height linear}
.proposal_textarea .textarea_value{position:absolute;z-index:99;top:12px;left:10px;color:#999;font-size:14px}
.proposal_phone{position:relative;margin-top:20px}
.proposal_phone .phone_input{border:1px solid #e0e0e0;height:30px;width:204px;line-height:30px;padding-left:10px}
.proposal_phone span{position:absolute;z-index:99;left:228px;top:0;width:295px;line-height:15px;height:30px;overflow:hidden;font-size:14px;color:#333}
.error_submit{width:350px;margin:45px auto 0}
.error_submit .error_button_a{display:block;width:350px;height:46px;line-height:46px;text-align:center;margin:0 auto;border:0;border-radius:4px;background:#d1d1d1;font-size:16px;color:#fff;cursor:default}
.error_submit .error_button_a.disabled{background:#db3f40;cursor:pointer}
.error_submit{position:relative}
.error_submit span{position:absolute;top:7px;left:157px;z-index:9999;display:none;width:32px;height:32px;background:url(../image/0.gif) no-repeat;background-size:cover;animation:myfirst1 8s;-moz-animation:myfirst1 8s;-webkit-animation:myfirst1 8s;-o-animation:myfirst1 8s}
@keyframes myfirst1{0%{transform:rotate(0)}
50%{transform:rotate(50deg)}
100%{transform:rotate(100deg)}
}
@-moz-keyframes myfirst1{0%{transform:rotate(0)}
50%{transform:rotate(50deg)}
100%{transform:rotate(100deg)}
}
@-webkit-keyframes myfirst1{0%{transform:rotate(0)}
50%{transform:rotate(50deg)}
100%{transform:rotate(100deg)}
}
@-o-keyframes myfirst1{0%{transform:rotate(0)}
50%{transform:rotate(50deg)}
100%{transform:rotate(100deg)}
}
.user_error_news{display:none}
.error_promt{position:absolute;z-index:9;left:45px;bottom:87px;font-size:14px;color:#ef4b4c}
.gg_detail_cnt{overflow:hidden}
.gg_item_bomttom_cnt iframe{position:relative;left:0}
.gg_item_bomttom_cnt{width:640px;height:auto;overflow:hidden;color:#ddd;margin:0 auto;position:relative;background-color:#fff}
.gg_item_bomttom_cnt .gg-icon{width:40px;height:16px;line-height:16px;text-align:center;background-color:rgba(0,0,0,.6);color:#fff;display:block;z-index:9;position:absolute;right:0;bottom:0}
.ggPic_item_bomttom_cnt{width:640px;height:auto;margin:0 auto;color:#ddd;position:relative;overflow:hidden;font-size:0;background-color:#fff}
.ggPic_item_bomttom_cnt iframe{width:930px;position:relative;left:-234px}
.dsp_yxxf{position:fixed;display:block;z-index:9999;right:0;bottom:0;width:300px;font-size:0}
div.gg_detail_art{position:relative;overflow:hidden}
.J-bdsharebuttonbox-wrap{display:none;position:fixed;left:50%;top:120px;margin-left:516px;font-size:12px;color:#999;line-height:21px;width:36px;z-index:999}
.J-bdsharebuttonbox-wrap.bdshare-special .bdsharebuttonbox{float:left}
.J-bdsharebuttonbox-wrap .bdsharebuttonbox a.bds-qzone{background-position:-36px -28px}
.J-bdsharebuttonbox-wrap .bdsharebuttonbox a.bds-tsina{background-position:-36px -56px}
.J-bdsharebuttonbox-wrap .bdsharebuttonbox a.bds-weixin{background-position:-36px 0}
.J-bdsharebuttonbox-wrap .bdsharebuttonbox a{margin:0;margin:5px 0;padding-left:0;background:url(../image/share_bgc_new.png) no-repeat;width:36px;height:28px;overflow:hidden}
.discuss-wrap span.conment-bg{width:36px;height:29px;background:url(../image/ping_lun.png) no-repeat center center}
.share_cnt_p a{color:#666;padding-right:10px}
.discuss-wrap span.conment-bg{width:36px;height:29px;background:url(../image/ping_lun.png) no-repeat center center}
.discuss-wrap{float:left;z-index:99;font-size:14px;padding-top:5px}
.discuss-wrap span.discuss_a{display:block;width:36px;height:27px;color:#ee4b4b;line-height:27px;text-align:center}
.discuss-wrap span.discuss_a i{color:#ee4b4b;font-size:14px;padding-right:0}
.share_cnt_p i{padding-right:10px}
.share_cnt_p a{color:#666;padding-right:10px}
.discuss-wrap{display:block;float:left;width:36px;height:56px;z-index:99;font-size:14px;padding-top:5px;position:relative;cursor:pointer}
.discuss-wrap>a{padding:0}
.goto_top{position:fixed;left:50%;width:38px;height:130px;margin-left:516px;bottom:91px;z-index:9999;display:none}
.goto_top a.show_go_index{background-image:url(../image/float_1.png);background-position:0 0;bottom:92px;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.goto_top a{display:block;width:100%;height:38px;position:absolute;left:0;background:transparent url(../image/to_top_v2.png) no-repeat scroll 0 0}
.goto_top a.show_go_index:hover{background-position:-38px 0}
.goto_top a.show_go_1:hover{background-position:-38px -46px}
.goto_top a.show_go_0:hover{background-position:-38px -92px}
.goto_top a.show_go_0{background-image:url(../image/float_1.png);background-position:0 -92px;bottom:0;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.goto_top a.show_go_1{background-image:url(../image/float.png);background-position:0 -46px;bottom:46px;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.goto_top .red_point{display:none;position:absolute;top:0;left:auto;right:0;width:13px;height:13px;background:url(../image/red_point.gif) no-repeat center center}
.extend_read{width:100%;height:auto;margin-bottom:10px}
.extend_read .extend_til{width:100%;font-size:18px;line-height:30px;color:#ec4b4b;position:relative}
.extend_read .extend_til p{position:relative}
.extend_read .extend_til p span{padding-right:15px}
.extend_read .extend_til p b{display:block;font-size:0;position:absolute;top:50%;left:42px;width:3px;height:3px;background-color:#ec4b4b}
.extend_read .extend_til i{display:block;font-size:0;position:absolute;top:50%;right:0;width:575px;height:1px;background-color:#ececec}
.extend_read .extend_cnt{border-bottom:1px solid #ececec}
.extend_read .ysydcontent{width:100%;font-size:14px;color:#888;line-height:30px;padding-bottom:22px}
.extend_read .ysydcontent li{padding-top:6px}
.extend_read .ysydcontent li p{text-indent:28px;max-height:90px;overflow:hidden}
.extend_read .ysydcontent li h3{width:100%;height:48px;font-size:16px;line-height:48px;font-weight:400;overflow:hidden}
.extend_read .ysydcontent li h3 a{display:block;width:100%;height:100%;color:#333;overflow:hidden}
.extend_read .ysydcontent li h3 a:hover{color:#ec4b4b;text-decoration:underline}
.shop_content{width:600px}
.shop_content .item{position:relative;display:block;width:560px;padding:20px;background:#fafafa;text-decoration:none;clear:none!important;zoom:1}
.shop_content .item:after{content:'';height:0;display:block;clear:both;display:none;visibility:hidden}
.shop_content .item .item-pic{float:left;height:160px;width:160px;margin-right:20px;overflow:hidden}
.shop_content .item .item-pic img{width:100%}
.shop_content .item .item-info{float:left;position:relative;height:160px;width:380px;overflow:hidden}
.shop_content .item:visited .item-title{color:#818181}
.shop_content .item .item-title{line-height:28px;color:#333;font-size:16px;height:56px;width:380px;display:-webkit-box;margin-top:10px;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
.shop_content .item .item-price{position:absolute;left:0;bottom:0;display:block;font-size:18px;color:#ee4b4b;height:30px;line-height:30px}
.shop_content .item-price span{font-size:30px;color:#ee4c4b}
.item-old-pice{position:absolute;left:100px;bottom:0;color:#bbb;font-size:18px;display:block;height:18px;line-height:18px}
.shop_content .item .item-btn{position:absolute;right:0;bottom:0;height:36px;width:98px;background:no-repeat center url(../image/detail_tdj_btn.png)}
.shop_content .item .item-btn:hover{background-position:0 -72px}
.shop_content .item:after{content:"";clear:both;display:block!important;height:0}
.bottom_over_cnt h1{font-size:24px;color:#333;background:#fff;padding:15px 15px 0}
#discuss_box{position:relative;width:640px;padding:20px 0;float:left;font-family:"microsoft yahei",Arial,Helvetica,sans-serif;background-color:#fff}
#discuss_box .sofa{width:100%}
#discuss_box .sofa img{display:block;margin:80px auto}
div#discuss_box.detail-comment{padding-bottom:0}
h4.comment-title{font-size:20px;font-weight:400;height:30px;margin-bottom:8px}
h4.comment-title p.comment-logo{width:110px;height:30px;float:left;background:url(../image/detail_sprites.png) no-repeat -5px -533px}
h4.comment-title>a{display:block;float:right;font-size:14px;padding-right:3px}
h4.comment-title>a:hover{text-decoration:underline}
h4.comment-title>a.no_hover_num:hover{text-decoration:none;color:#333}
h4.comment-title>a #comment_num{margin-left:30px;color:#ee4c4c;line-height:30px;font-weight:700}
#discuss_box .more-comment{display:block;font-size:12px;color:#777;line-height:40px;margin-left:50px;width:160px}
#discuss_box .more-comment:hover{text-decoration:underline;color:#ee4b4c}
#discuss_box .more-comment span{color:#ee4b4c}
.comment-input{position:relative}
.comment-input>img{display:block;width:40px;height:40px;border-radius:50%;float:left}
.comment-input input{width:488px;height:72px;border:1px solid #ee4b4c;display:block;float:left;text-indent:10px;margin-left:10px;border-right:0}
input[type=text]:disabled{background-color:#fff}
.comment-input .go-login{position:absolute;height:38px;line-height:40px;left:60px;top:16px;background:#fff;color:#aaa;font-size:14px}
.comment-input .go-login a{color:#ee4c4b}
.comment-input .text-box{margin-left:10px;float:left;border:1px solid #e8e8e8}
.comment-input textarea{display:block;width:568px;height:56px;color:#aaa;font-size:14px;padding:10px;border:0}
.comment-input .send-reply-box{height:36px;background:#fafafa;border-top:1px solid #e8e8e8;position:relative}
.comment-input .send-reply-box span{position:absolute;line-height:35px;font-size:14px;color:#aaa;top:0;right:110px}
.comment-input .send-reply-box span.err{color:#ee4c4b}
.comment-input .send-reply-btn{position:absolute;top:-1px;right:-1px;float:right;height:38px;border:0;width:100px;color:#fff;background-color:#ee4c4b}
.comment-input .send-reply-btn:hover{background-color:#ce3a3a}
.comment-input button.send-comment{width:100px;display:block;background:#ee4b4c;color:#fff;height:74px;float:left;border:0;text-align:center}
.comment-input button.dis{background-color:#ee4b4c}
.hot-user-comment{display:none;margin-bottom:40px}
.user-comment{padding-bottom:15px;margin-top:35px}
.hot-user-comment h5,.user-comment h5{font-size:18px;color:#ee4b4c}
.hot-user-comment h5 span,.user-comment h5 span{display:block;width:72px;height:30px;font-weight:400;border-bottom:2px solid #ee4c4b;line-height:30px}
.comment-box{border-top:1px solid #f1f1f1;padding-top:20px}
.comment-box.reply-box{background-color:#fbfbfb;border:0;width:586px;padding-top:10px;overflow:hidden}
.second-comment{border-top:1px dashed #aaa;margin-left:55px;display:none}
.comment-box .box-top{height:40px}
.comment-box .box-top img{display:block;width:40px;height:40px;border-radius:50%;float:left;margin-right:15px}
.comment-box.reply-box .box-top img{width:24px;height:24px;margin-right:10px;margin-left:5px}
.comment-box .box-top .name-and-time{width:auto;float:left;height:40px}
.name-and-time .comment-name{display:block;font-size:14px;color:#888}
.comment-box.reply-box .comment-name{font-size:12px}
.name-and-time .comment-time{font-size:12px;color:#d4d4d4}
.comment-operation{height:16px;padding-top:12px;float:right;margin-right:5px;position:relative}
.comment-operation .comment-zan{padding-left:16px;float:left;margin-right:15px;color:#aaa;font-size:12px;background:url(../image/comment_reply.png) no-repeat -12px -102px;display:block}
.comment-operation .zan-fix{display:block;width:15px;height:15px;position:absolute;left:3px;top:0;color:#ee4b4c;font-size:12px;line-height:15px;text-align:center}
.comment-operation .has-zan{color:#ee4b4b;background-position:-12px -162px}
.comment-operation .comment-reply{float:left;color:#333;text-decoration:underline;margin-right:15px;font-size:12px;display:block}
.comment-operation .comment-reply:hover{color:#ee4b4c}
.comment-operation .comment-report{float:left;padding:8px;background:url(../image/comment_reply.png) no-repeat -10px -130px;display:block}
.box-bottom{margin:12px 0 14px 0;line-height:28px;font-size:16px;color:#333;padding-left:55px;padding-right:10px}
.comment-box.reply-box .box-bottom{font-size:14px;padding-left:39px;padding-right:10px;margin-bottom:20px;line-height:22px;margin-top:0}
.comment-box .show-hide-reply{cursor:pointer;color:#1e50a2;font-size:14px;height:20px;margin-bottom:10px;display:inline-block;cursor:pointer;margin-left:55px}
.comment-box .more-reply{width:130px;height:35px;line-height:35px;background:#fff;border:0;font-size:12px;color:#1e50a2;display:block;margin:10px auto}
.comment-box .more-reply.dis{color:#aaa}
.comment-box .show-hide-reply span{display:block;width:20px;height:20px;float:right;background:url(../image/comment_reply.png) no-repeat;background-position:-6px -278px}
.comment-box .show-hide-reply.show span{background-position:-6px -190px}
.comment-box .show-hide-reply.hide{background-position:72px -280px}
.comment-box .show-hide-reply .comment-box.reply-box .show-hide-reply{margin-left:39px}
.comment-box .comment-reply-input{display:block;border:1px solid #e8e8e8;height:113px;margin:10px 0 20px 55px}
.comment-box.reply-box .comment-reply-input{margin-left:39px}
.comment-box .comment-reply-input textarea{display:block;width:593px;height:56px;color:#aaa;font-size:14px;padding:10px;border:0}
.comment-box.reply-box .comment-reply-input textarea{width:554px}
.comment-box .comment-reply-input p.send-reply-box{height:36px;background:#fafafa;border-top:1px solid #e8e8e8;position:relative}
p.send-reply-box button{position:absolute;top:-1px;right:-1px;float:right;height:38px;border:0;width:100px;color:#fff;background-color:#ee4c4b}
p.send-reply-box button:hover{background-color:#ce3a3a}
.surplus-font{line-height:35px;font-size:14px;color:#aaa;float:right;padding:0 10px;margin-right:100px}
.surplus-font.err{color:#ee4c4b}
.hotcomment-no-more{display:none}
.comment-no-more{display:none;width:100%;height:60px;margin-bottom:20px}
.comment-no-more .bg{margin:0 auto;height:125px;width:260px;background:url(../image/no-tidings.png) no-repeat top center}
.comment-no-more p{margin:20px 0;color:#c3c3c3;font-size:16px;height:20px;line-height:20px;text-align:center}
.comment-more{display:none;height:40px;line-height:40px;color:#aaa;border:1px solid #d8d8d8;text-align:center;font-size:16px;margin-top:10px;border-radius:3px;cursor:pointer;margin-bottom:20px}
.comment-more:hover{color:#ee4c4b;border:1px solid #ee4c4b}
.comment-more a{display:block}
.comment-more:hover a{color:#ee4c4b}
.comment-loading{height:20px;width:100%;background:url(../image/0.gif) center no-repeat;background-size:20px}
#J_send_comment.dis,#J_send_reply.dis{background:#aaa}
#J_send_comment.dis:hover,#J_send_reply.dis:hover{background:#aaa}
#J_report_mask{display:none;position:fixed;width:9999px;height:99999px;left:0;top:0;background-color:rgba(0,0,0,.6);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);z-index:999999}
.report-box{width:530px;height:335px;position:fixed;left:50%;top:50%;margin-top:-175px;margin-left:-265px;background-color:#fff;z-index:1000}
.report-box .report-close{width:30px;height:30px;position:absolute;right:10px;top:10px;cursor:pointer;background:url(../image/comment_reply.png) no-repeat -10px -65px}
.report-box p{height:50px;line-height:50px;font-size:22px;color:#333;padding-left:20px;border-bottom:1px #ddd solid}
.report-box>span{display:block;color:#333;margin-bottom:10px;font-size:14px;padding-left:35px;margin-top:30px}
.report-box ul{padding-left:35px;height:100px}
.report-box ul li{width:123px;height:20px;line-height:20px;margin:15px 0;color:#333;float:left}
.report-box ul li span{display:block;float:left;height:20px;line-height:20px}
.report-box ul li i{display:block;float:left;height:20px;width:20px;cursor:pointer;background:url(../image/comment_reply.png) no-repeat -10px -222px}
.report-box ul .action i{background-position:-10px -251px}
.report-box .btn-group{padding:0 30px;margin:20px 35px 0}
.report-box button{margin:0 13px;width:170px;height:40px;font-size:18px;border-radius:3px;border:0}
.report-box #cancel_report{background-color:#ddd;color:#666}
.report-box #cancel_report:hover{background-color:#c5c5c5}
.report-box #confirm_report{color:#fff;background-color:#ee4b4c}
.report-box #confirm_report:hover{background-color:#ce3a3a}
@media screen and (min-width:1440px){.gg_cnt_detail .gg_cnt_contain{width:1240px}
.gg_cnt_contain .gg_cnt_lrs{width:1240px}
.header-left ul.nav li.narrow-hide{display:block}
.header-left .more-nav li.narrow-show{display:none}
.header-left .nav-more-btn .more-nav{height:148px}
.section .detail_cnt{width:1240px}
div.art_content .item p{padding-bottom:12px;padding-top:12px;font-size:18px;line-height:32px}
.section .detail_cnt .main_content{width:100%}
.article .detail_left{width:900px}
.main_content div.aside{width:320px}
.detail_left_cnt{width:650px;padding-left:20px;padding-right:20px}
.main_content div.bottom_over_cnt{width:650px;padding:0 20px}
.detail_left_cnt .contain_detail_cnt{margin-top:25px;line-height:32px;font-size: 16px;line-height: 30px}
.detail_left_cnt .contain_detail_cnt p{padding-bottom:12px;padding-top:12px;font-size:18px}
.contain_detail_cnt .widt_ad{padding-bottom:0;padding-top:0}
div.guess_like{width:650px}
.guess_contain .recomend_content{width:100%}
.guess_like div.rec_cns{display:block}
.guess_like div.hotrec_cns{width:640px;float:left;padding:0 25px 0 5px}
#discuss_box{width:650px}
.comment-input textarea{width:778px}
.comment-input input{width:708px}
.comment-box.reply-box{width:805px}
.comment-box .comment-reply-input textarea{width:783px}
.comment-box.reply-box .comment-reply-input textarea{width:744px}
.gg_detail_cnt div iframe{position:relative;left:-15px}
#dsp_left2{padding-top:20px;width:auto;position:relative;top:-10px}
.gg_item_bomttom_cnt{margin:0 auto;width:650px;padding:0 20px}
.gg_item_bomttom_cnt iframe{left:30px}
.ggPic_item_bomttom_cnt{width:650px}
:root .ggPic_item_bomttom_cnt iframe{left:-10px}
.ave_left71 iframe{width:930px;position:relative;left:-20px}
div.gg_cyup360{width:auto;padding-top:20px;padding-left:22px}
div.gg_bottom_cyup360{width:720px}
div.ave_170809{left:-65px!important}
#dsp_btxf div.dsp_wide{left:0}
#ny_xypxf div.dsp_wide{left:0}
div.dsp_wide span.dsp_icon{right:3px}
div.dsp_xst{width:870px;height:120px}
div.dsp_xst .ad_ct{width:100%;height:120px;padding:0}
div.dsp_xst .dsp_item{width:204px;height:120px;margin-right:15px}
div.dsp_xst .dsp_img img{width:204px;height:120px}
div.dsp_xst .dsp_pop{width:100%}
div.dsp_xst a.dsp_txt{width:100%}
div.dsp_xst .nomr{margin-right:0}
.recomend_content{width:100%}
.recomend_content li{text-indent:12px;width:435px;font-size:16px}
.recomend_content li.even{margin-right:30px}
.recomend_content li span{right:3px}
.recomend_content li.topnews{font-weight:700}
.recomend_content li a{display:block;width:435px;height:28px;overflow:hidden;color:#333}
.recomend_content li a:hover{color:#ee4b4c}
.recomend_content li .tm{position:absolute;display:block;right:0;top:0;z-index:2;width:55px;height:28px;line-height:28px;font-size:14px;color:#888;font-weight:400}
.recomend_content li.odd .tm{right:0}
ul.tjnewsrcontent li.recommend_news .red_news:hover{background-color:#f8f8f8}
ul.tjnewsrcontent li.recommend_news .red_news:hover .text h3{color:#ee4b4b}
.extend_read .extend_til i{width:800px}
div.hot_dis,div.new_dis{width:100%}
.comment_succue_host,ul.comment_succue,ul.comment_succue_d{width:100%}
ul.comment_succue li .comment_m{width:840px}
ul.comment_succue_host li .comment_m{width:840px}
ul.comment_succue_d li .comment_m{width:840px}
div.show_more{width:100%}
p.comment_succue_p{width:800px}
.aside .content-r-fixed{margin-left:-620px}
div.J-bdsharebuttonbox-wrap{margin-left:636px}
div.goto_top{margin-left:636px}
.rec_hot_fixed{position:fixed;left:50%;top:48px;margin-left:420px;z-index:99}
.article_tags{width:568px;height:40px;margin-left:20px}
.rec_hot_rel{position:absolute;bottom:20px;right:5px;margin-right:15px}
.bottom_cns{position:relative}
.header_cnt_2_detail{margin:60px auto 0;width:1240px;background:url(../image/detail_toprg2.png) 100% 100% no-repeat}
.gg_item_bomttom_cnt .gg-icon{display:none}
}
.section{background-color:#f4f4f4}
#avetest_left81{padding:0}
.guide-box-one{position:absolute;top:-75px;right:40px;width:250px;height:150px;z-index:999}
.guide-box-one img.guide-bubble{width:180px;position:absolute;right:0;bottom:25px}
.guide-box-one img.guide-animate{position:absolute;width:80px;left:20px;bottom:2px}
.guide-box-one span.guide-close{display:block;position:absolute;width:35px;height:30px;top:32px;z-index:9;right:15px;cursor:pointer;background:url(../image/guide_bg.png)}
.guide-box-one span.giude-one-next{display:block;position:absolute;width:75px;height:30px;bottom:52px;z-index:9;left:86px;cursor:pointer;background:url(../image/guide_bg.png)}
.guide-box-two{position:absolute;bottom:117px;right:55px;width:260px;z-index:9;height:190px}
.guide-box-two img.guide-bubble{position:absolute;bottom:0;width:220px;left:30px}
.guide-box-two img.guide-animate{position:absolute;width:100px;left:0;bottom:80px}
.guide-box-two span.guide-close{position:absolute;display:block;width:30px;height:30px;top:70px;right:25px;cursor:pointer;z-index:9;background:url(../image/guide_bg.png)}
ul.tjnewsrcontent li .rmtjzt_360{height:150px;padding:10px 0}
ul.tjnewsrcontent li .rmtjzt_360 h3{font-size:20px;line-height:24px;position:relative;height:24px;overflow:hidden}
ul.tjnewsrcontent li .rmtjzt_360 h3 a{color:#333}
ul.tjnewsrcontent li .rmtjzt_360 h3 a:hover{color:#ec4b4b}
ul.tjnewsrcontent li .rmtjzt_360 p.img-wrap{width:650px;height:90px;overflow:hidden;margin-top:10px}
ul.tjnewsrcontent li .rmtjzt_360 p.img-wrap a{width:152px;height:90px;margin-right:10px;overflow:hidden}
ul.tjnewsrcontent li .rmtjzt_360 p.img-wrap a.wz{font-size:14px;text-align:center;line-height:90px;background-color:#ededed;color:#999}
ul.tjnewsrcontent li .rmtjzt_360 p.from{position:absolute;width:100%;left:0;bottom:10px;font-size:12px;color:#999}
ul.tjnewsrcontent li .rmtjdt_360{width:100%}
ul.tjnewsrcontent li .rmtjdt_360 a{display:block;width:100%;padding-top:10px;padding-bottom:30px}
ul.tjnewsrcontent li .rmtjdt_360 h3{font-size:20px;line-height:24px;position:relative;height:24px;overflow:hidden}
ul.tjnewsrcontent li .rmtjdt_360 h3 a{color:#333}
ul.tjnewsrcontent li .rmtjdt_360 h3 a:hover{color:#ec4b4b}
ul.tjnewsrcontent li .rmtjdt_360 p.img-wrap{width:100%;overflow:hidden;margin-top:10px;height:160px}
ul.tjnewsrcontent li .rmtjdt_360 p.img-wrap a{display:block;width:100%;height:160px}
ul.tjnewsrcontent li .rmtjdt_360 p.img-wrap img{width:100%;height:100%}
ul.tjnewsrcontent li .rmtjdt_360 p.from{position:absolute;left:0;bottom:10px;font-size:12px;color:#999}
ul.tjnewsrcontent li .rmtjdt_360 p.from a{display:block;width:100%;height:auto}
ul.tjnewsrcontent li .rmtjzt_360 p.from{width:100%}
ul.tjnewsrcontent li .rmtjdt_360 p.from{width:100%}
ul.tjnewsrcontent li .rmtjdt_360 p.from span{position:absolute;right:0;bottom:0}
ul.tjnewsrcontent li a.rmtjxt_360 p.source span{position:absolute;right:0;left:auto;bottom:0}
ul.tjnewsrcontent li .rmtjzt_360 p.from span{position:absolute;right:0;bottom:0}
