@font-face {
    font-family: "iconfont";
    src: url("../font/iconfont1.woff") format("woff"),url("../font/iconfont1.woff") format("woff"),url("../font/iconfont1.ttf") format("truetype")
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-ysqgk:before {
    content: "\e6fb"
}

.icon-gknr:before {
    content: "\e663"
}

.icon-gkzd:before {
    content: "\e666"
}

.icon-gknb:before {
    content: "\e667"
}

.icon-xxgk:before {
    content: "\e669"
}

.icon-fupin:before {
    content: "\e60e"
}

.icon-idcard:before {
    content: "\e674"
}

.icon-fazhan:before {
    content: "\e614"
}

.icon-set:before {
    content: "\e662"
}

.icon-qitafuwu:before {
    content: "\e62d"
}

.icon-maikefeng:before {
    content: "\e60b"
}

.icon-zhishi:before {
    content: "\e600"
}

.icon-jiaoyu:before {
    content: "\e62c"
}

.icon-gengduo:before {
    content: "\e685"
}

.icon-phone2:before {
    content: "\e61e"
}

.icon-hudong:before {
    content: "\e65f"
}

.icon-kefu:before {
    content: "\e61f"
}

.icon-left3:before {
    content: "\e789"
}

.icon-left:before {
    content: "\e697"
}

.icon-right:before {
    content: "\e6a7"
}

.icon-alipay:before {
    content: "\e6e8"
}

.icon-location1:before {
    content: "\e601"
}

.icon-trash:before {
    content: "\e71f"
}

.icon-location2:before {
    content: "\e611"
}

.icon-close:before {
    content: "\e62b"
}

.icon-success1:before {
    content: "\e635"
}

.icon-bianji:before {
    content: "\e602"
}

.icon-evaluate:before {
    content: "\e610"
}

.icon-gou:before {
    content: "\e612"
}

.icon-left2:before {
    content: "\e64c"
}

.icon-right2:before {
    content: "\e613"
}

.icon-fabu:before {
    content: "\e7a9"
}

.icon-dizhi:before {
    content: "\e619"
}

.icon-shuju:before {
    content: "\e61c"
}

.icon-info:before {
    content: "\e6aa"
}

.icon-close2:before {
    content: "\eca0"
}

.icon-edit:before {
    content: "\e622"
}

.icon-yijian:before {
    content: "\e633"
}

.icon-zhixing:before {
    content: "\e654"
}

.icon-print:before {
    content: "\e617"
}

.icon-jigou:before {
    content: "\e660"
}

.icon-right3:before {
    content: "\e788"
}

.icon-email:before {
    content: "\e68b"
}

.icon-zhinan:before {
    content: "\e8d0"
}

.icon-search:before {
    content: "\e658"
}

.icon-baogao:before {
    content: "\e604"
}

.icon-zhuye:before {
    content: "\e61a"
}

.icon-email2:before {
    content: "\e624"
}

.icon-zhuanti:before {
    content: "\e671"
}

.icon-phone:before {
    content: "\e618"
}

.icon-top:before {
    content: "\e6f5"
}

.icon-app:before {
    content: "\e6f2"
}

.icon-weibo:before {
    content: "\e63d"
}

.icon-tqq:before {
    content: "\e603"
}

.icon-wchart:before {
    content: "\e606"
}

.icon-ask:before {
    content: "\e64f"
}

.icon-canjiren:before {
    content: "\e76a"
}

.icon-shouji:before {
    content: "\e6bd"
}

.icon-jia:before {
    content: "\e641"
}

.icon-jian:before {
    content: "\e6b4"
}

.icon-baobiao1:before {
    content: "\e634"
}

.icon-zhidu:before {
    content: "\e657"
}

.icon-zhinan2:before {
    content: "\e607"
}

.icon-xinwen:before {
    content: "\e61b"
}

.icon-yulan:before {
    content: "\e668"
}

.icon-gongkai:before {
    content: "\e69e"
}

.icon-baobiao2:before {
    content: "\e608"
}

.icon-qita:before {
    content: "\e64d"
}

.icon-baobiao3:before {
    content: "\e627"
}

.icon-nianbao:before {
    content: "\e61d"
}

.icon-dian:before {
    content: "\e609"
}
/*!
 * my custom css
 *
 *
 */

.bg-primary {
    background-color: #0f58a4
}

.bg-secondary {
    background-color: #6c757d
}

.bg-success {
    background-color: #28a745
}

.bg-info {
    background-color: #17a2b8
}

.bg-warning {
    background-color: #ffc107
}

.bg-danger {
    background-color: #dc3545
}

.bg-light {
    background-color: #f8f9fa
}

.bg-dark {
    background-color: #343a40
}

.bg-gray1 {
    background-color: #f8f9fa
}

.bg-gray2 {
    background-color: #e9ecef
}

.bg-gray3 {
    background-color: #dee2e6
}

.bg-gray4 {
    background-color: #ced4da
}

.bg-gray5 {
    background-color: #adb5bd
}

.bg-gray6 {
    background-color: #6c757d
}

.bg-gray7 {
    background-color: #495057
}

.bg-gray8 {
    background-color: #343a40
}

.bg-gray9 {
    background-color: #212529
}

.bg-white {
    background-color: #fff !important
}

.bg-transparent {
    background-color: transparent !important
}

.border {
    border: 1px solid red
}

.border-0 {
    border: 0 !important
}

.border-top-0 {
    border-top: 0 !important
}

.border-right-0 {
    border-right: 0 !important
}

.border-bottom-0 {
    border-bottom: 0 !important
}

.border-left-0 {
    border-left: 0 !important
}

.border {
    border: 1px solid #dee2e6 !important
}

.border-top {
    border-top: 1px solid #dee2e6 !important
}

.border-right {
    border-right: 1px solid #dee2e6 !important
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important
}

.border-left {
    border-left: 1px solid #dee2e6 !important
}

.rounded {
    border-radius: .25rem !important
}

.rounded-top {
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important
}

.rounded-right {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important
}

.rounded-bottom {
    border-bottom-right-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important
}

.rounded-left {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important
}

.rounded-circle {
    border-radius: 50% !important
}

.rounded-0 {
    border-radius: 0 !important
}

.fz12 {
    font-size: 12px !important
}

.fz14 {
    font-size: 14px !important
}

.fz16 {
    font-size: 16px !important
}

.fz18 {
    font-size: 18px !important
}

.fz20 {
    font-size: 20px !important
}

.fz22 {
    font-size: 22px !important
}

.fz24 {
    font-size: 24px !important
}

.fz26 {
    font-size: 26px !important
}

.fz28 {
    font-size: 28px !important
}

.fz30 {
    font-size: 30px !important
}

.fz32 {
    font-size: 32px !important
}

.fz36 {
    font-size: 36px !important
}

.fz38 {
    font-size: 38px !important
}

.fz40 {
    font-size: 40px !important
}

.fw {
    font-weight: bold
}

.pos-static {
    position: static !important
}

.pos-r {
    position: relative !important
}

.pos-a {
    position: absolute !important
}

.pos-f {
    position: fixed !important
}

.pos-sticky {
    position: static !important
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030
}

.fixed-left {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1030
}

.fixed-right {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030
}

@supports (position: sticky) {
    .sticky-top {
        position: sticky;
        top: 0;
        z-index: 1020
    }
}

.w16 {
    width: 16.6666666667% !important
}

.w20 {
    width: 20% !important
}

.w25 {
    width: 25% !important
}

.w33 {
    width: 33.333333% !important
}

.w50 {
    width: 50% !important
}

.w60 {
    width: 60% !important
}

.w75 {
    width: 75% !important
}

.w80 {
    width: 80% !important
}

.w100 {
    width: 100% !important
}

.h16 {
    height: 16.6666666667% !important
}

.h20 {
    height: 20% !important
}

.h25 {
    height: 25% !important
}

.h33 {
    height: 33.333333% !important
}

.h50 {
    height: 50% !important
}

.h60 {
    height: 60% !important
}

.h75 {
    height: 75% !important
}

.h80 {
    height: 80% !important
}

.h100 {
    height: 100% !important
}

.mw100 {
    max-width: 100% !important
}

.mh100 {
    max-height: 100% !important
}

.t1 {
    top: 1px !important
}

.r1 {
    right: 1px !important
}

.b1 {
    bottom: 1px !important
}

.l1 {
    left: 1px !important
}

.m1 {
    margin: 1px !important
}

.mt1 {
    margin-top: 1px !important
}

.mr1 {
    margin-right: 1px !important
}

.mb1 {
    margin-bottom: 1px !important
}

.ml1 {
    margin-left: 1px !important
}

.t5 {
    top: 5px !important
}

.r5 {
    right: 5px !important
}

.b5 {
    bottom: 5px !important
}

.l5 {
    left: 5px !important
}

.m5 {
    margin: 5px !important
}

.mt5 {
    margin-top: 5px !important
}

.mr5 {
    margin-right: 5px !important
}

.mb5 {
    margin-bottom: 5px !important
}

.ml5 {
    margin-left: 5px !important
}

.t10 {
    top: 10px !important
}

.r10 {
    right: 10px !important
}

.b10 {
    bottom: 10px !important
}

.l10 {
    left: 10px !important
}

.m10 {
    margin: 10px !important
}

.mt10 {
    margin-top: 10px !important
}

.mr10 {
    margin-right: 10px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.ml10 {
    margin-left: 10px !important
}

.t15 {
    top: 15px !important
}

.r15 {
    right: 15px !important
}

.b15 {
    bottom: 15px !important
}

.l15 {
    left: 15px !important
}

.m15 {
    margin: 15px !important
}

.mt15 {
    margin-top: 15px !important
}

.mr15 {
    margin-right: 15px !important
}

.mb15 {
    margin-bottom: 15px !important
}

.ml15 {
    margin-left: 15px !important
}

.t20 {
    top: 20px !important
}

.r20 {
    right: 20px !important
}

.b20 {
    bottom: 20px !important
}

.l20 {
    left: 20px !important
}

.m20 {
    margin: 20px !important
}

.mt20 {
    margin-top: 20px !important
}

.mr20 {
    margin-right: 20px !important
}

.mb20 {
    margin-bottom: 20px !important
}

.ml20 {
    margin-left: 20px !important
}

.t25 {
    top: 25px !important
}

.r25 {
    right: 25px !important
}

.b25 {
    bottom: 25px !important
}

.l25 {
    left: 25px !important
}

.m25 {
    margin: 25px !important
}

.mt25 {
    margin-top: 25px !important
}

.mr25 {
    margin-right: 25px !important
}

.mb25 {
    margin-bottom: 25px !important
}

.ml25 {
    margin-left: 25px !important
}

.t30 {
    top: 30px !important
}

.r30 {
    right: 30px !important
}

.b30 {
    bottom: 30px !important
}

.l30 {
    left: 30px !important
}

.m30 {
    margin: 30px !important
}

.mt30 {
    margin-top: 30px !important
}

.mr30 {
    margin-right: 30px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.ml30 {
    margin-left: 30px !important
}

.t35 {
    top: 35px !important
}

.r35 {
    right: 35px !important
}

.b35 {
    bottom: 35px !important
}

.l35 {
    left: 35px !important
}

.m35 {
    margin: 35px !important
}

.mt35 {
    margin-top: 35px !important
}

.mr35 {
    margin-right: 35px !important
}

.mb35 {
    margin-bottom: 35px !important
}

.ml35 {
    margin-left: 35px !important
}

.t40 {
    top: 40px !important
}

.r40 {
    right: 40px !important
}

.b40 {
    bottom: 40px !important
}

.l40 {
    left: 40px !important
}

.m40 {
    margin: 40px !important
}

.mt40 {
    margin-top: 40px !important
}

.mr40 {
    margin-right: 40px !important
}

.mb40 {
    margin-bottom: 40px !important
}

.ml40 {
    margin-left: 40px !important
}

.t50 {
    top: 50px !important
}

.r50 {
    right: 50px !important
}

.b50 {
    bottom: 50px !important
}

.l50 {
    left: 50px !important
}

.m50 {
    margin: 50px !important
}

.mt50 {
    margin-top: 50px !important
}

.mr50 {
    margin-right: 50px !important
}

.mb50 {
    margin-bottom: 50px !important
}

.ml50 {
    margin-left: 50px !important
}

.t60 {
    top: 60px !important
}

.r60 {
    right: 60px !important
}

.b60 {
    bottom: 60px !important
}

.l60 {
    left: 60px !important
}

.m60 {
    margin: 60px !important
}

.mt60 {
    margin-top: 60px !important
}

.mr60 {
    margin-right: 60px !important
}

.mb60 {
    margin-bottom: 60px !important
}

.ml60 {
    margin-left: 60px !important
}

.t70 {
    top: 70px !important
}

.r70 {
    right: 70px !important
}

.b70 {
    bottom: 70px !important
}

.l70 {
    left: 70px !important
}

.m70 {
    margin: 70px !important
}

.mt70 {
    margin-top: 70px !important
}

.mr70 {
    margin-right: 70px !important
}

.mb70 {
    margin-bottom: 70px !important
}

.ml70 {
    margin-left: 70px !important
}

.t80 {
    top: 80px !important
}

.r80 {
    right: 80px !important
}

.b80 {
    bottom: 80px !important
}

.l80 {
    left: 80px !important
}

.m80 {
    margin: 80px !important
}

.mt80 {
    margin-top: 80px !important
}

.mr80 {
    margin-right: 80px !important
}

.mb80 {
    margin-bottom: 80px !important
}

.ml80 {
    margin-left: 80px !important
}

.t90 {
    top: 90px !important
}

.r90 {
    right: 90px !important
}

.b90 {
    bottom: 90px !important
}

.l90 {
    left: 90px !important
}

.m90 {
    margin: 90px !important
}

.mt90 {
    margin-top: 90px !important
}

.mr90 {
    margin-right: 90px !important
}

.mb90 {
    margin-bottom: 90px !important
}

.ml90 {
    margin-left: 90px !important
}

.t100 {
    top: 100px !important
}

.r100 {
    right: 100px !important
}

.b100 {
    bottom: 100px !important
}

.l100 {
    left: 100px !important
}

.m100 {
    margin: 100px !important
}

.mt100 {
    margin-top: 100px !important
}

.mr100 {
    margin-right: 100px !important
}

.mb100 {
    margin-bottom: 100px !important
}

.ml100 {
    margin-left: 100px !important
}

.t110 {
    top: 110px !important
}

.r110 {
    right: 110px !important
}

.b110 {
    bottom: 110px !important
}

.l110 {
    left: 110px !important
}

.m110 {
    margin: 110px !important
}

.mt110 {
    margin-top: 110px !important
}

.mr110 {
    margin-right: 110px !important
}

.mb110 {
    margin-bottom: 110px !important
}

.ml110 {
    margin-left: 110px !important
}

.t120 {
    top: 120px !important
}

.r120 {
    right: 120px !important
}

.b120 {
    bottom: 120px !important
}

.l120 {
    left: 120px !important
}

.m120 {
    margin: 120px !important
}

.mt120 {
    margin-top: 120px !important
}

.mr120 {
    margin-right: 120px !important
}

.mb120 {
    margin-bottom: 120px !important
}

.ml120 {
    margin-left: 120px !important
}

.t0 {
    top: 0 !important
}

.r0 {
    right: 0 !important
}

.b0 {
    bottom: 0 !important
}

.l0 {
    left: 0 !important
}

.m0 {
    margin: 0 !important
}

.mt0 {
    margin-top: 0 !important
}

.mr0 {
    margin-right: 0 !important
}

.mb0 {
    margin-bottom: 0 !important
}

.ml0 {
    margin-left: 0 !important
}

.t1 {
    top: 1px !important
}

.r1 {
    right: 1px !important
}

.b1 {
    bottom: 1px !important
}

.l1 {
    left: 1px !important
}

.p1 {
    padding: 1px !important
}

.pt1 {
    padding-top: 1px !important
}

.pr1 {
    padding-right: 1px !important
}

.pb1 {
    padding-bottom: 1px !important
}

.pl1 {
    padding-left: 1px !important
}

.t5 {
    top: 5px !important
}

.r5 {
    right: 5px !important
}

.b5 {
    bottom: 5px !important
}

.l5 {
    left: 5px !important
}

.p5 {
    padding: 5px !important
}

.pt5 {
    padding-top: 5px !important
}

.pr5 {
    padding-right: 5px !important
}

.pb5 {
    padding-bottom: 5px !important
}

.pl5 {
    padding-left: 5px !important
}

.t10 {
    top: 10px !important
}

.r10 {
    right: 10px !important
}

.b10 {
    bottom: 10px !important
}

.l10 {
    left: 10px !important
}

.p10 {
    padding: 10px !important
}

.pt10 {
    padding-top: 10px !important
}

.pr10 {
    padding-right: 10px !important
}

.pb10 {
    padding-bottom: 10px !important
}

.pl10 {
    padding-left: 10px !important
}

.t15 {
    top: 15px !important
}

.r15 {
    right: 15px !important
}

.b15 {
    bottom: 15px !important
}

.l15 {
    left: 15px !important
}

.p15 {
    padding: 15px !important
}

.pt15 {
    padding-top: 15px !important
}

.pr15 {
    padding-right: 15px !important
}

.pb15 {
    padding-bottom: 15px !important
}

.pl15 {
    padding-left: 15px !important
}

.t20 {
    top: 20px !important
}

.r20 {
    right: 20px !important
}

.b20 {
    bottom: 20px !important
}

.l20 {
    left: 20px !important
}

.p20 {
    padding: 20px !important
}

.pt20 {
    padding-top: 20px !important
}

.pr20 {
    padding-right: 20px !important
}

.pb20 {
    padding-bottom: 20px !important
}

.pl20 {
    padding-left: 20px !important
}

.t25 {
    top: 25px !important
}

.r25 {
    right: 25px !important
}

.b25 {
    bottom: 25px !important
}

.l25 {
    left: 25px !important
}

.p25 {
    padding: 25px !important
}

.pt25 {
    padding-top: 25px !important
}

.pr25 {
    padding-right: 25px !important
}

.pb25 {
    padding-bottom: 25px !important
}

.pl25 {
    padding-left: 25px !important
}

.t30 {
    top: 30px !important
}

.r30 {
    right: 30px !important
}

.b30 {
    bottom: 30px !important
}

.l30 {
    left: 30px !important
}

.p30 {
    padding: 30px !important
}

.pt30 {
    padding-top: 30px !important
}

.pr30 {
    padding-right: 30px !important
}

.pb30 {
    padding-bottom: 30px !important
}

.pl30 {
    padding-left: 30px !important
}

.t35 {
    top: 35px !important
}

.r35 {
    right: 35px !important
}

.b35 {
    bottom: 35px !important
}

.l35 {
    left: 35px !important
}

.p35 {
    padding: 35px !important
}

.pt35 {
    padding-top: 35px !important
}

.pr35 {
    padding-right: 35px !important
}

.pb35 {
    padding-bottom: 35px !important
}

.pl35 {
    padding-left: 35px !important
}

.t40 {
    top: 40px !important
}

.r40 {
    right: 40px !important
}

.b40 {
    bottom: 40px !important
}

.l40 {
    left: 40px !important
}

.p40 {
    padding: 40px !important
}

.pt40 {
    padding-top: 40px !important
}

.pr40 {
    padding-right: 40px !important
}

.pb40 {
    padding-bottom: 40px !important
}

.pl40 {
    padding-left: 40px !important
}

.t50 {
    top: 50px !important
}

.r50 {
    right: 50px !important
}

.b50 {
    bottom: 50px !important
}

.l50 {
    left: 50px !important
}

.p50 {
    padding: 50px !important
}

.pt50 {
    padding-top: 50px !important
}

.pr50 {
    padding-right: 50px !important
}

.pb50 {
    padding-bottom: 50px !important
}

.pl50 {
    padding-left: 50px !important
}

.t60 {
    top: 60px !important
}

.r60 {
    right: 60px !important
}

.b60 {
    bottom: 60px !important
}

.l60 {
    left: 60px !important
}

.p60 {
    padding: 60px !important
}

.pt60 {
    padding-top: 60px !important
}

.pr60 {
    padding-right: 60px !important
}

.pb60 {
    padding-bottom: 60px !important
}

.pl60 {
    padding-left: 60px !important
}

.t70 {
    top: 70px !important
}

.r70 {
    right: 70px !important
}

.b70 {
    bottom: 70px !important
}

.l70 {
    left: 70px !important
}

.p70 {
    padding: 70px !important
}

.pt70 {
    padding-top: 70px !important
}

.pr70 {
    padding-right: 70px !important
}

.pb70 {
    padding-bottom: 70px !important
}

.pl70 {
    padding-left: 70px !important
}

.t80 {
    top: 80px !important
}

.r80 {
    right: 80px !important
}

.b80 {
    bottom: 80px !important
}

.l80 {
    left: 80px !important
}

.p80 {
    padding: 80px !important
}

.pt80 {
    padding-top: 80px !important
}

.pr80 {
    padding-right: 80px !important
}

.pb80 {
    padding-bottom: 80px !important
}

.pl80 {
    padding-left: 80px !important
}

.t90 {
    top: 90px !important
}

.r90 {
    right: 90px !important
}

.b90 {
    bottom: 90px !important
}

.l90 {
    left: 90px !important
}

.p90 {
    padding: 90px !important
}

.pt90 {
    padding-top: 90px !important
}

.pr90 {
    padding-right: 90px !important
}

.pb90 {
    padding-bottom: 90px !important
}

.pl90 {
    padding-left: 90px !important
}

.t100 {
    top: 100px !important
}

.r100 {
    right: 100px !important
}

.b100 {
    bottom: 100px !important
}

.l100 {
    left: 100px !important
}

.p100 {
    padding: 100px !important
}

.pt100 {
    padding-top: 100px !important
}

.pr100 {
    padding-right: 100px !important
}

.pb100 {
    padding-bottom: 100px !important
}

.pl100 {
    padding-left: 100px !important
}

.t110 {
    top: 110px !important
}

.r110 {
    right: 110px !important
}

.b110 {
    bottom: 110px !important
}

.l110 {
    left: 110px !important
}

.p110 {
    padding: 110px !important
}

.pt110 {
    padding-top: 110px !important
}

.pr110 {
    padding-right: 110px !important
}

.pb110 {
    padding-bottom: 110px !important
}

.pl110 {
    padding-left: 110px !important
}

.t120 {
    top: 120px !important
}

.r120 {
    right: 120px !important
}

.b120 {
    bottom: 120px !important
}

.l120 {
    left: 120px !important
}

.p120 {
    padding: 120px !important
}

.pt120 {
    padding-top: 120px !important
}

.pr120 {
    padding-right: 120px !important
}

.pb120 {
    padding-bottom: 120px !important
}

.pl120 {
    padding-left: 120px !important
}

.t0 {
    top: 0 !important
}

.r0 {
    right: 0 !important
}

.b0 {
    bottom: 0 !important
}

.l0 {
    left: 0 !important
}

.p0 {
    padding: 0 !important
}

.pt0 {
    padding-top: 0 !important
}

.pr0 {
    padding-right: 0 !important
}

.pb0 {
    padding-bottom: 0 !important
}

.pl0 {
    padding-left: 0 !important
}

.m-auto {
    margin: auto !important
}

.mt-auto, .mr-auto, .mb-auto, .ml-auto, .mx-auto {
    margin-left: auto !important
}

i, em {
    font-style: normal
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.text-overflow-2 {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.fl {
    float: left !important
}

.fr {
    float: right !important
}

.fn {
    float: none !important
}

.lh16 {
    line-height: 1.5
}

.lh2 {
    line-height: 2
}

.lh24 {
    line-height: 2.4
}

.lh26 {
    line-height: 2.6
}

.lh3 {
    line-height: 3
}

.tin2 {
    text-indent: 2em
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.dib {
    display: inline-block
}

.db {
    display: block
}

.vam {
    vertical-align: middle !important
}

.t-left {
    text-align: left !important
}

.t-right {
    text-align: right !important
}

.t-center {
    text-align: center !important
}

.t-lowercase {
    text-transform: lowercase !important
}

.t-uppercase {
    text-transform: uppercase !important
}

.t-capitalize {
    text-transform: capitalize !important
}

.fwn {
    font-weight: normal !important
}

.fwb {
    font-weight: bold !important
}

.oh {
    overflow: hidden
}

.vim {
    vertical-align: middle
}

.img-auto {
    max-width: initial
}

.t-white {
    color: #fff !important
}

.t-primary {
    color: #0f58a4
}

.t-secondary {
    color: #6c757d
}

.t-success {
    color: #28a745
}

.t-info {
    color: #17a2b8
}

.t-warning {
    color: #ffc107
}

.t-danger {
    color: #dc3545
}

.t-light {
    color: #f8f9fa
}

.t-dark {
    color: #343a40
}

.t-gray1 {
    color: #f8f9fa
}

.t-gray2 {
    color: #e9ecef
}

.t-gray3 {
    color: #dee2e6
}

.t-gray4 {
    color: #ced4da
}

.t-gray5 {
    color: #adb5bd
}

.t-gray6 {
    color: #6c757d
}

.t-gray7 {
    color: #495057
}

.t-gray8 {
    color: #343a40
}

.t-gray9 {
    color: #212529
}

.bgf9 {
    background: #f9f9f9
}

.t-666 {
    color: #666666
}

.t-999 {
    color: #999999
}

.w-16 {
    width: 16.6666666667% !important
}

.w-20 {
    width: 20% !important
}

.w-25 {
    width: 25% !important
}

.w-33 {
    width: 33.333333% !important
}

.w-50 {
    width: 50% !important
}

.w-60 {
    width: 60% !important
}

.w-75 {
    width: 75% !important
}

.w-80 {
    width: 80% !important
}

.w-100 {
    width: 100% !important
}

.h-16 {
    height: 16.6666666667% !important
}

.h-20 {
    height: 20% !important
}

.h-25 {
    height: 25% !important
}

.h-33 {
    height: 33.333333% !important
}

.h-50 {
    height: 50% !important
}

.h-60 {
    height: 60% !important
}

.h-75 {
    height: 75% !important
}

.h-80 {
    height: 80% !important
}

.h-100 {
    height: 100% !important
}

.w-auto {
    width: auto !important
}

.h-auto {
    height: auto !important
}

.mw-auto {
    max-width: inherit
}

.plr10 {
    padding-left: 10px;
    padding-right: 10px
}

.plr15 {
    padding-left: 15px;
    padding-right: 15px
}

.plr20 {
    padding-left: 20px;
    padding-right: 20px
}

.plr25 {
    padding-left: 25px;
    padding-right: 25px
}

.plr30 {
    padding-left: 30px;
    padding-right: 30px
}

.ptb5 {
    padding-top: 5px;
    padding-bottom: 5px
}

.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.cur {
    cursor: pointer
}

.btn-text {
    border: 0 !important;
    background: none
}

.nobg {
    background: none !important
}

.clearfix::after {
    display: block;
    content: "";
    clear: both
}

.msg {
    line-height: 2
}

.msg-intro {
    color: #666
}

    .msg-intro span {
        width: 80px;
        text-align: right
    }

    .msg-intro a {
        color: #666
    }

.msg-content {
    min-height: 400px;
    padding-top: 30px;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px
}

    .msg-content img {
        margin: 0 auto;
        display: block
    }

.Pager {
    line-height: 44px;
    text-align: center
}

    .Pager a {
        padding: 3px 8px;
        background-color: #0f58a4;
        margin: 0px 4px;
        color: white
    }

    .Pager .pageOn {
        color: #0f58a4;
        background-color: white;
        border: 1px solid #0f58a4;
        padding: 2px 7px
    }

.page {
    line-height: 44px;
    text-align: center
}

    .page a {
        padding: 3px 8px;
        background-color: #0f58a4;
        margin: 0px 4px;
        color: white
    }

    .page .pageOn {
        color: #0f58a4;
        background-color: white;
        border: 1px solid #0f58a4;
        padding: 2px 7px
    }

.sj02-iem {
    margin-bottom: 30px
}

    .sj02-iem .title {
        border-bottom: 1px solid #0f58a4;
        position: relative
    }

        .sj02-iem .title a {
            display: inline-block;
            padding: 0 20px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            font-size: 18px;
            color: #ffffff;
            background: #0f58a4
        }

    .sj02-iem .list01 ul {
        padding: 10px 0 0;
        zoom: 1
    }

    .sj02-iem .list01 li {
        color: #999;
        margin-left: 20px;
        line-height: 2.6;
        list-style: disc
    }

        .sj02-iem .list01 li a {
            float: left;
            max-width: 76%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }

        .sj02-iem .list01 li img {
            vertical-align: initial;
            padding-left: 5px
        }

        .sj02-iem .list01 li span {
            float: right;
            color: #999999;
            padding-right: 10px
        }

.site-map-wrap {
    min-height: 600px
}

.site-map-item {
    border: 1px solid #F1F1F1;
    margin-bottom: 20px
}

    .site-map-item .site-map-title {
        text-indent: 32px;
        color: #0f58a4;
        font-size: 16px;
        line-height: 52px;
        height: 52px;
        background: #f1f0f0;
        overflow: hidden;
        border-top: 2px solid #0f58a4
    }

        .site-map-item .site-map-title a {
            color: #0f58a4;
            font-weight: bold;
            font-size: 16px;
            margin-left: 10px
        }

.site-map-list {
    padding: 10px 20px 10px 20px
}

    .site-map-list a {
        color: black
    }

    .site-map-list ul {
        overflow: hidden
    }

        .site-map-list ul li {
            padding-left: 2em
        }

    .site-map-list .zzxx li, .site-map-list .leaderlist li {
        float: left
    }

    .site-map-list .zdgk {
        padding-bottom: 10px
    }

    .site-map-list .jcgk {
        padding-bottom: 20px
    }

    .site-map-list .zdgk ul li {
        float: left
    }

    .site-map-list .jcgk label {
        font-weight: bold
    }

    .site-map-list .jcgk ul li ul li {
        float: left
    }

    .site-map-list .gkml label {
        padding-left: 2em;
        font-weight: bold
    }

.layui-container {
    width: 1170px !important
}

.layui-table th, .layui-table td {
    font-size: initial
}

.search-btn {
    background-color: #0f58a4
}

body {
    font-size: 18px;
   background: url(../image/青川人民政府背景.png) no-repeat center top;
padding-top:200px
    font-family: 微软雅黑;
}

a {
    color: #333;
    text-decoration: none
}

    a:hover {
        color: #fa0000;
        transition: .3s
    }

img {
    max-width: 100%
}

.primary {
    color: #0f58a4
}

.primary-light {
    color: #166cb2
}

.bg-primary {
    background: #0f58a4
}

.bg-e {
    background: #eee
}

.fz36 {
    font-size: 36px
}

.red {
    color: #fa0000 !important
}

.lh225 {
    line-height: 2.25
}

.head {
    height: 299px;
    /*background: url("../images/head-bg.jpg") no-repeat center 0*/
}

.head-top {
    height: 35px;
    line-height: 35px;
    background: #ebebeb
}

.head-top-links a {
    display: inline-block;
    border-left: 1px solid #999;
    padding-left: 10px;
    margin-right: 10px;
    line-height: 1
}

    .head-top-links a:first-child {
        border-left: 0
    }

.head-logo {
    margin-top: 102px
}

.head-search {
    border: 1px solid #0f58a4;
    border-radius: 5px
}

    .head-search input[type='text'] {
        width: 300px;
        border-radius: 5px
    }

.nav-bg {
    background: #0f58a4
}

.my-nav {
    background: none;
    text-align: center;
    width: 114%;
    margin-left:-80px;
}

    .my-nav .layui-nav-item {
        display: table-cell;
        width: 1%;
        line-height: 70px;
        position: initial
    }

        .my-nav .layui-nav-item > a {
            font-size: 22px;
            font-weight: bold;
            padding: 0;
            color: #ffffff
        }

    .my-nav .layui-nav-more {
        display: none
    }

    .my-nav .layui-this:after {
        background: #fff;
        display: none
    }

    .my-nav .layui-nav-bar {
        display: none;
        height: 4px;
        border-radius: 2px;
        bottom: 10px;
        background: #ffffff
    }

    .my-nav .layui-nav-child {
        top: 70px;
        font-weight: bold;
        line-height: inherit;
        border: 0;
        background: rgba(255,255,255,0.8)
    }

        .my-nav .layui-nav-child dd {
            display: inline-block;
            margin: 0 0px
        }

            .my-nav .layui-nav-child dd a {
                font-size: 16px
            }

                .my-nav .layui-nav-child dd a:hover {
                    background: 0
                }

#picNews .qiehuan li:after, #zhaoshang .qiehuan li:after {
    content: '';
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50)
}

#picNews .qiehuan li a, #zhaoshang .qiehuan li a {
    color: #ffffff
}

#picNews .qiehuan li img, #zhaoshang .qiehuan li img {
    width: 100%;
    height: 100%
}

#picNews .qiehuan li p, #zhaoshang .qiehuan li p {
    font-size: 18px;
    padding-left: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 40px;
    line-height: 40px;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#picNews .layui-carousel-ind, #zhaoshang .layui-carousel-ind {
    top: -30px;
    z-index: 3;
    text-align: right;
    right: 10px
}

    #picNews .layui-carousel-ind ul, #zhaoshang .layui-carousel-ind ul {
        background: none
    }

    #picNews .layui-carousel-ind li, #zhaoshang .layui-carousel-ind li {
        width: 12px;
        height: 12px;
        margin: 0 6px;
        background: #ffffff
    }

    #picNews .layui-carousel-ind .layui-this, #zhaoshang .layui-carousel-ind .layui-this {
        background: #0f58a4
    }

    #picNews .layui-carousel-ind:after, #zhaoshang .layui-carousel-ind:after {
        display: none !important
    }

#toutiao {
    background: url("../image/toutiao.png") no-repeat 20px center
}

    #toutiao:before {
        content: '头条';
        position: absolute;
        z-index: 3;
        left: 35px;
        top: 38px;
        width: 20px;
        font-size: 20px;
        line-height: 1.2;
        color: #fff;
        font-weight: bold;
        text-align: center
    }

    #toutiao div:hover {
        color: #d90000
    }

    #toutiao .layui-carousel-arrow {
        width: 27px;
        height: 27px;
        line-height: 27px;
        border-radius: 2px;
        right: 27px;
        left: auto !important
    }

    #toutiao > *[carousel-item] > * {
        background: 0
    }

    #toutiao[lay-anim="updown"] .layui-carousel-arrow {
        top: 30px
    }

        #toutiao[lay-anim="updown"] .layui-carousel-arrow[lay-type="add"] {
            bottom: 30px
        }

    #toutiao > *[carousel-item]:before {
        display: none
    }

.layui-tab-content {
    overflow: hidden
}

.tab1 {
    margin: 0px
}

    .tab1 .layui-tab-title {
        width: 100%
    }

        .tab1 .layui-tab-title li {
            display: table-cell;
            width: 1%;
            padding: 0;
            font-size: 20px;
            font-weight: bold;
            height: 42px;
            line-height: 42px
        }

        .tab1 .layui-tab-title .layui-this a {
            background: #0f58a4;
            color: #fff
        }

        .tab1 .layui-tab-title .layui-this:after {
            border: 0;
            font-family: layui-icon;
            content: "\e625";
            color: #0f58a4;
            height: auto;
            top: 36px;
            line-height: 1
        }

.news-list li {
    color: #999;
    margin-left: 20px;
    line-height: 2.1;
    list-style: disc
}

    .news-list li a {
        float: left;
        max-width: 82%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .news-list li i {
        color: #fa0000;
        font-style: normal
    }

        .news-list li i:before {
            content: '【'
        }

        .news-list li i:after {
            content: '】'
        }

    .news-list li em {
        float: right;
        color: #999999;
        font-style: normal
    }

        .news-list li em:before {
            content: '【'
        }

        .news-list li em:after {
            content: '】'
        }

    .news-list li span {
        float: right;
        color: #999999;
        padding-right: 10px
    }

.news-list-mini li a {
    max-width: 60%
}

.news-list-mini li em {
    padding: 0 20px
}

#hengfu {
    text-align: center
}

    #hengfu img {
        width: 100%;
        height: 100%
    }

    #hengfu .layui-carousel-ind {
        top: -30px;
        text-align: right
    }

        #hengfu .layui-carousel-ind ul {
            background: none
        }

        #hengfu .layui-carousel-ind li {
            width: 12px;
            height: 12px;
            margin: 0 6px;
            background: #eee
        }

        #hengfu .layui-carousel-ind .layui-this {
            background: #0f58a4
        }

.tab2 {
    margin: 0px
}

    .tab2 .layui-tab-title {
        width: 100%;
        border-color: #dee2e6;
        height: auto
    }

        .tab2 .layui-tab-title li {
            padding: 0;
            font-size: 17px;
            font-weight: bold;
            line-height: 3;
            margin-right: 2em
        }

        .tab2 .layui-tab-title .layui-this a {
            color: #fa0000
        }

        .tab2 .layui-tab-title .layui-this:after {
            border: 0;
            border-bottom: 3px solid #0f58a4;
            height: auto;
            top: 50px
        }

.tab2-lh3 .layui-tab-title li {
    line-height: 3
}

.tab2-lh3 .layui-tab-title .layui-this:after {
    top: 53px
}

.my-table {
    margin: 0
}

    .my-table thead th {
        color: #0f58a4;
        font-weight: bold
    }

.crumbs {
    overflow: hidden;
    height: 46px;
    line-height: 46px;
    background: #eee;
    text-indent: 1em;
    position: relative;
    top: 15px
}

.menu {
    text-align: center
}

    .menu .title {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        height: 56px;
        line-height: 56px;
        background: #0f58a4
    }

    .menu li {
        font-size: 18px;
        line-height: 3.2;
        background: #f3f3f3
    }

        .menu li a {
            display: block;
            margin-top: 1px
        }

            .menu li a.on, .menu li a:hover {
                color: #fa0000
            }

.title1 {
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e6e6e6
}

    .title1 span {
        color: #fa0000;
        position: relative;
        display: inline-block;
        padding: 0 10px
    }

        .title1 span:after {
            content: '';
            left: 0;
            right: 0px;
            position: absolute;
            height: 3px;
            background: #0f58a4;
            bottom: -2px
        }

    .title1 .more {
        float: right;
        font-size: 14px;
        color: #666666;
        margin-right: 20px
    }

.title2 {
    background: #e9ecef;
    line-height: 3
}

    .title2 span {
        background: #0f58a4;
        width: 16%;
        text-align: center;
        display: inline-block;
        color: #ffffff;
        font-weight: bold;
        position: relative;
        left: 0
    }

    .title2 a {
        line-height: 3;
        margin-right: 20px;
        float: right;
        color: #666666
    }

.leader-box {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-top: 30px
}

.leader-type {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 60px
}

.leader-list {
    text-align: center;
    line-height: 3
}

    .leader-list li img {
        width: 128px;
        height: 170px;
        display: block
    }

.msg-intro tbody tr:hover {
    background: none
}

.ysqgk-hd {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: -25px
}

    .ysqgk-hd li {
        cursor: pointer;
        padding: 25px
    }

        .ysqgk-hd li span {
            line-height: 3;
            background: #0f58a4;
            color: #fff;
            display: block
        }

    .ysqgk-hd .layui-this span {
        background: #fa6161
    }

    .ysqgk-hd .layui-this:after {
        border: 0;
        font-family: layui-icon;
        content: "\e625";
        color: #fa6161;
        height: auto;
        bottom: 13px;
        line-height: 1;
        position: absolute;
        left: 50%;
        margin-left: -9px
    }

.navtips {
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 10px;
    position: relative;
    border: 1px solid #FCDEA7;
    color: #4f4f4f;
    line-height: 1.6;
    margin-bottom: 10px;
    background: #f8f8d8
}

.spacial img {
    height: 90px
}

.friend-links-bg {
    background: #e3e3e3
}

.friend-links span:first-child, .friend-links dt {
    height: 40px;
    line-height: 40px;
    padding: 0 20px
}

.friend-links dt {
    cursor: pointer
}

    .friend-links dt:after {
        content: ' ▲';
        color: #999
    }

    .friend-links dt.no-after:after {
        content: ''
    }

.friend-links dl {
    display: inline-block
}

.friend-links dd {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    z-index: 999;
    min-height: 120px;
    padding: 10px 0;
    margin: 0 15px;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 0
}

    .friend-links dd a {
        width: 16.3%;
        display: inline-block;
        text-align: center;
        line-height: 3
    }

        .friend-links dd a:hover {
            background: #fff
        }

.friend-links dl:hover dt {
    background: #fff
}

.friend-links dl:hover dd {
    display: block;
    transition: .3s
}

.foot-bg {
    background: #0f58a4;
    padding: 20px 0;
    color: #ffffff
}

.foot-link {
    color: #ffffff
}

    .foot-link li {
        display: inline-block;
        border-left: 1px solid #fff;
        padding: 0 10px;
        line-height: 1
    }

        .foot-link li a {
            color: #fff
        }

        .foot-link li:first-child {
            border: 0
        }

/*.foot-jiucuo img {
    margin: 0 20px !important
}*/

.foot a {
    color: #ffffff
}

.fixed-right-tools {
    position: fixed;
    right: 20px;
    top: 45%
}

    .fixed-right-tools .btn {
        border: 0;
        display: inline-block;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        white-space: nowrap;
        padding: 9px 12px;
        border-radius: 4px;
        user-select: none
    }

        .fixed-right-tools .btn .iconfont {
            font-size: 28px;
            color: #ffffff
        }

    .fixed-right-tools .btn-default {
        background: #cccccc
    }

        .fixed-right-tools .btn-default:hover {
            background: #0f58a4
        }

            .fixed-right-tools .btn-default:hover .iconfont {
                color: #ffffff
            }

    .fixed-right-tools .pos-r:hover .qrcode {
        display: block
    }

    .fixed-right-tools .qrcode {
        display: none;
        position: absolute;
        top: 0;
        right: 70px;
        width: 140px;
        height: 140px;
        border: 2px solid #0f58a4
    }

        .fixed-right-tools .qrcode:after {
            content: '';
            position: relative;
            left: 100%;
            top: 5px;
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 0;
            border-style: dashed;
            border-color: transparent;
            overflow: hidden;
            border-left-style: solid;
            border-left-color: #0f58a4;
            border-width: 10px
        }

        .fixed-right-tools .qrcode img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            display: inline-block
        }

.i-zfxxgk a:hover {
    border: 1px solid #fa0000 !important;
    background: #fff
}

.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    text-align: center
}

    .slider .bd li {
        overflow: hidden
    }

        .slider .bd li img {
            display: block;
            margin: 0 auto;
            width: 100%
        }

    .slider .tempWrap {
        overflow: visible !important
    }

    .slider .hd {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 1;
        height: 10px;
        bottom: 20px;
        text-align: center
    }

        .slider .hd li {
            display: inline-block;
            *display: inline;
            zoom: 1;
            width: 10px;
            height: 10px;
            line-height: 99px;
            overflow: hidden;
            border-radius: 50%;
            background: #ffffff;
            margin: 0 5px;
            cursor: pointer;
            filter: alpha(opacity=60);
            opacity: 0.6
        }

            .slider .hd li.on {
                background-position: 0 0;
                filter: alpha(opacity=100);
                opacity: 1
            }

    .slider .pnBtn {
        width: 35px;
        height: 35px;
        cursor: pointer
    }

        .slider .pnBtn .arrow {
            display: none;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            z-index: 999;
            font-size: 50px;
            width: 50px;
            height: 50px;
            display: inline-block;
            color: #ffffff
        }

            .slider .pnBtn .arrow:hover {
                filter: alpha(opacity=60);
                opacity: 0.6
            }

    .slider .prev .arrow {
        left: 0
    }

    .slider .next .arrow {
        right: 0
    }

.special {
    position: relative
}

    .special .prev, .special .next {
        display: block;
        overflow: hidden;
        cursor: pointer;
        position: absolute;
        height: 100px;
        line-height: 100px;
        width: 30px;
        text-align: center;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
        color: #ffffff
    }

    .special .next {
        left: auto;
        right: 0
    }

    .special .bd {
        overflow: hidden;
        text-align: center
    }

        .special .bd ul {
            overflow: hidden;
            zoom: 1
        }

            .special .bd ul li {
                float: left;
                _display: inline;
                overflow: hidden;
                width: 292.5px
            }

                .special .bd ul li img {
                    display: block
                }

.i-wgk p {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 31px;
    left: 0;
    top: 50%;
    margin-top: -15px
}
.i-wgk .layui-col-xs2 {
    width: 20%
}

.layui-carousel, .layui-carousel > *[carousel-item] > * {
    background: none
}

    .layui-carousel > *[carousel-item]:before{
        display:none;
    }

/**归档时间**/

.lm_gd {
    display: block !important;
    position: absolute;
    top: 480px;
    left: 66%;
    transform: rotate(-16deg);
    width: 240px;
    z-index: 9999999;
}

    .lm_gd img {
        width: 100%;
        height: 100%;
    }

    .lm_gd .gdtime {
        position: absolute;
        top: 78px;
        left: 77px;
        color: #303592;
        font-size: 18px;
    }


/*在线访谈*/
.zxft-web {
    overflow: hidden;
}

.zxft-top {
    padding: 20px 15px;
    overflow: hidden;
    background: #f7f6f6;
}

    .zxft-top .img {
        float: left;
        width: 570px;
        height: 320px;
        overflow: hidden;
    }

    .zxft-top .box {
        overflow: hidden;
        width: 527px;
        margin-left: 24px;
    }

        .zxft-top .box h1 {
            line-height: 38px;
            font-size: 18px;
            color: #000;
            margin-top: 38px;
        }

        .zxft-top .box p {
            color: #999999;
            line-height: 38px;
        }

        .zxft-top .box div {
            margin-top: 120px;
            color: #333333;
            line-height: 38px;
        }

            .zxft-top .box div a {
                color: #0079ce;
            }

.zxft-ftbj {
    margin-top: 16px;
}

    .zxft-ftbj .title {
        margin-top: 27px;
        height: 42px;
        background: #f7f6f6;
        overflow: hidden;
    }

        .zxft-ftbj .title span {
            width: 200px;
            background: #0078ce;
            line-height: 42px;
            font-weight: bold;
            font-size: 18px;
            color: #ffffff;
            float: left;
            text-align: center;
        }

    .zxft-ftbj .text {
        line-height: 30px;
        color: #000;
        padding: 18px 27px 34px;
        text-indent: 2em;
    }

.zxft-ftnr .title {
    margin-top: 27px;
    height: 42px;
    background: #f7f6f6;
    overflow: hidden;
}

    .zxft-ftnr .title span {
        width: 200px;
        background: #0078ce;
        line-height: 42px;
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
        float: left;
        text-align: center;
    }

.zxft-ftnr .text {
    height: 735px;
    overflow: hidden;
    overflow-y: auto;
    line-height: 30px;
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 0 30px;
}

    .zxft-ftnr .text i {
        color: #0078ce;
    }

    .zxft-ftnr .text div {
        padding: 30px 0;
        line-height: 30px;
        color: #000;
    }

.zxft-img {
    padding-bottom: 70px;
    margin-top: 15px;
}

    .zxft-img .title {
        margin-top: 27px;
        height: 42px;
        background: #f7f6f6;
        overflow: hidden;
    }

        .zxft-img .title span {
            width: 200px;
            background: #0078ce;
            line-height: 42px;
            font-weight: bold;
            font-size: 18px;
            color: #ffffff;
            float: left;
            text-align: center;
        }

.zxft-img-ul {
    width: 110%;
    margin-top: 10px;
    overflow: hidden;
}

    .zxft-img-ul ul li {
        float: left;
        margin-right: 20px;
    }

        .zxft-img-ul ul li a {
            display: block;
            width: 218px;
            height: 148px;
        }

            .zxft-img-ul ul li a img {
                display: block;
                width: 218px;
                height: 148px;
                background: #444444;
            }

/*在线访谈结束*/

.id-ss-li {
    color: #343434;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
}

    .id-ss-li div {
        float: left;
    }

        .id-ss-li div a {
            color: #343434;
            display: inline-block;
        }

.id-ss-link {
    float: right;
    color: #e60012;
}

.id-ss-li01 {
    margin-top: 5px;
    overflow: hidden;
}

    .id-ss-li01 .text {
        float: left;
        background: url("http://cnqc.gov.cn/images/d01.png");
        width: 296px;
        height: 36px;
        border: 0;
        text-indent: 10px;
    }

    .id-ss-li01 .btn {
        background: url("http://cnqc.gov.cn/images/ico.png");
        width: 64px;
        height: 36px;
        border: 0;
        float: left;
    }

.id-ss-li02 {
    color: #FFFFFF;
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width: 1200px){
body {
    width: 1300px;
}
}

/*附件下载样式*/
.slide-tit{ border-bottom:1px solid #f0f0f0; color:#0066b1;line-height:1em; font-size:16px; font-weight:bold; }
    .slide-tit strong{ padding:10px 0; float:right; color:#999; font-size:12px; font-weight:normal; }
	.slide-tit span{ position:relative; top:1px; display:inline-block; padding:10px 0; border-bottom:1px solid #0066b1; }
    .attach-list{ color:#757575;margin-top:5px; }
    .attach-list ul li{ margin-top:5px; padding:3px; border-bottom:1px solid #ebebeb; }
    .attach-list ul li .link-btn{ display:block; float:right; margin-top:-1px; padding:5px 12px; border:0px solid #e0e0e0; line-height:20px; font-size:14px; cursor:pointer; }
    .attach-list ul li .link-btn i{ font-size:14px; }
    .attach-list ul li .icon-box{ display:inline-block; margin-right:0px; line-height:0px; color:#ccc; }
    .attach-list ul li .icon-box i{ font-size:20px; }
    .attach-list ul li .info{ display:inline-block; }
    .attach-list ul li .info h3{ line-height:20px; color:#333; font-size:14px; font-weight:normal; }
    .attach-list ul li .info span{ margin-right:5px; line-height:18px; color:#999; font-size:12px; }

.sxsj {
    display: block !important;
    position: absolute;
    top: 185px;
    left: 66%;
    transform: rotate(-16deg);
    width: 240px;
    z-index: 9999999;
}


/*头部飘红
body {
    padding-top:120px;
    background:url(https://www.cngy.gov.cn/images/2023xian.png) no-repeat top center;
    margin-top: 50px;
}
*/
