* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body,
td,
th,
div {
    font-family: 宋体;
    font-size: 12px;

    list-style: none;
}

body {
    background-color: #ffffff;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

.mar15{margin:1.5% 0;}

.top {
    width: 960px;
    margin: 0 auto;
}

.head-2img-block {
    margin-left: 1px;
    width: 100%;
    height: 96px;
}

.logo {
    float: left;
    width: 21%;
    height: 100%;
}

.gxztcad {
    float: right;
    width: 79%;
    margin: 13px 0 13px 0;
}

.logo img {
    width: 200px;
    height: 50px;
    margin: 23px 0 0 0;
}

.gxztcad img {
    width: 740px;
    height: 70px;
    margin-left: 18px;
}

.block2 {
    width: 100%;
    height: 40px;
    border-bottom: #0B3B8C 2px solid;
}

.head-track {
    display: inline;
    text-align: left;
    float: left;
    margin-top: 5px;
}

.news-hotline {
    text-align: right;
    display: inline;
    float: left;
    margin-top: 5px;
	position: relative;
    left: 85px;
}

.search-form {
    width: 350px;
    margin: 0px;
    padding: 0px;
    display: inline;
    float: right;
}

.search-form form {
    float: right;
}

.search-form img {
    margin-left: -6px;
    margin-top: -2px;
    display: inline;
}

.search-form a img {
    margin-left: -10px;
    margin-top: -2px;
    display: inline;
}

.middle {
    width: 960px;
    margin: 0 auto;
}

.left-section {
    width: 650px;
    float: left;
}

.right-section {
    width: 300px;
    float: right;
}

.main-article {
    width: 100%;
    border: 1px solid #D3DBE6;
    margin: 10px 0;
}

.title {
    text-align: center;
    vertical-align: top;
    padding: 0.65em 0.5em 0.25em;
}

.source {
    vertical-align: top;
    text-align: center;
    padding: 1em;
    _padding: 0.8em;
    *padding: 0.8em;
}

.four-ads {
    text-align: center;
    padding: 1em;
    _padding: 1em;
    *padding: 1em;
}

.four-ads>a {
    display: inline-block;
    width: 20%;
    margin: 0 10px;
}
.four-ads>a>img{
    vertical-align:middle;
}
.article-content {
    width: 610px;
    margin: 0 auto;
    _margin: 1.5em;
    *margin: 1.5em;
}

.video{ margin:0px auto;}
.article-content>.black14>p>img {
    height: auto;
    margin: 0 !important;
    border: 0 !important;
    width: 100%;
}

.article-content>.black14>p>a>img {
    height: auto;
    margin: 0 !important;
    border: 0 !important;
    width: 100%;
}

.editor {
    vertical-align: bottom;
    text-align: right;
    font-size: 12px;
}

.bdshare {
    margin: 35px 20px;
}

.platform {
    border-top: 1px solid #D3DBE6;
    text-align: right;
    height: 33px;
    padding-top: 9px;
    padding-right: 10px;
}

.cat-info {
    width: 100%;
    height: 100px;
}

.cat-info li {
    float: left;
    line-height: 25px;
    width: 147px;
    overflow: hidden;
    white-space: nowrap;
    background-image: url(../image/dot.png);
    background-repeat: no-repeat;
    padding-left: 10px;
}

.block3 {
    border: 1px solid #D9E4F3;
    margin: 10px 0;
}

.block3 .blues14 {
    padding: 1px 0 1px 10px;
}

.blue-bg {
    background-color: #F3F8FF;
}

.xgyd{
    border-top: 1px #d8d8d8 solid;
}
.xgtt{
    padding: 5px 10px 0;
}
.xglst{
    padding: 5px;
    overflow: hidden;
}
.xglst li{
    height: auto;
    line-height: 25px;
    overflow: hidden;
    background-position: 0;
    background-image: url(../image/dot-blue.gif);
    background-repeat: no-repeat;
    margin: 0 5px;
    padding-left: 10px;
}
.list {
    padding-top: 5px;
    background-color: #F3F8FF;
}
.list li {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    background-position: 0;
    background-image: url(../image/dot-blue.png);
    background-repeat: no-repeat;
    margin: 0 5px;
    padding-left: 10px;
}

.line {
    border-bottom: 1px solid #D9E4F3;
    background-color: rgb(234, 242, 251);
    background-image: url(../image/bg.jpg);
    background-repeat: repeat-x;
}

.divide {
    border-bottom: 1px solid #D9E4F3;
    background-color: #FAFAFA;
    width: 100%;
    padding: 1px 0 1px 0;
}

.divide span {
    margin-left: 17px;
}

.add-padding {
    padding: 10px 11px;
}

.wechat-ad {
    vertical-align: top;
}

.four-imgs {
    width: 100%;
    margin: 5px 0px;
    text-align: center;
}

.four-imgs ul {
    height: 125px;
    margin-top: 10px;
}

.four-imgs ul li {
    float: left;
    width: 162.5px;
    display: inline;
}

.four-imgs ul li img {
    width: 142px;
    height: 100px;
    border: none;
    *margin-bottom: 5px;
    _margin-bottom: 5px;
}

.four-imgs ul li a p {
	margin-top:0px;
    line-height: 25px;
}

.two-imgs {
    text-align: center;
}

.two-imgs li {
    width: 50%;
    display: inline;
    float: left;
    padding-top: 10px;
    background-color: #F3F8FF;
}

.two-imgs li a img {
    width: 130px;
    height: 100px;
    border: none;
    display: inline;
}

.two-imgs li a p {
    clear: both;
    margin: 0;
    padding: 0;
}

.two-imgs-list {
    background-color: #F3F8FF;
    padding-top: 7px;
}

.two-imgs-list li {
    height: 25px;
    line-height: 25px
}

.two-imgs-list li img {
    width: 18px;
    height: 13px;
    margin: 0 8px 0px 8px;
    vertical-align: middle;
}

.foot {
    width: 960px;
    margin: 0 auto;
}

.claim {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    clear: both;
    border-top: #d8d8d8 1px solid;
    border-bottom: #d8d8d8 1px solid;
}

.claim p {
    margin: 0 10px;
}

.copyright {
    width: 960px;
    text-align: center;
    margin: 0 auto;
}

.hidden-lg {
    display: none;
}

/* 图标字体 */

.name {
    font: 12px/1.3 'Arial', 'Microsoft YaHei';
    color: #666;
}

.icon_lists {
    width: 100%;
    height: 7rem;
    padding-top: 0.8rem;
}

.icon_lists>li {
    width: 20%;
    float: left;
    text-align: center;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 3rem;
}

.closepanel {
    width: 100%;
    height: 2rem;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: .32rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: solid 1px #dcdcdc;
}


.hdnv {
    position: fixed;
    height: 2.688rem;
    background: -webkit-linear-gradient(top, #00A1E9, #0086DF);
    width: 100%;
    top: 0;
}

.mlogo {
    margin: 0 auto;
    text-align: center;
}

.mlogo img {
    width: 8rem;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    top: 0.625rem;
}

.desktop {
    margin: .5rem;
    position: absolute;
    left: 2%;
    top: 9%;
}

.desktop>a {
    color: #ffffff;
}

.desktop>a>i {
    font-size: 1.5rem;
}

.share>img {
    float: right;
    width: 1.39rem;
    height: 1.44rem;
    margin-top: -1rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}



/* 分享 */

#sharepanel {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(9, 9, 9, 0.63);
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1000;
}

.showpanel-content {
    display: none;
    width: 100%;
    background-color: #f1f1f1;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 10000;
}

.guidewxt_layout_default {
    display: none;
}

.guidewxt_layout_show {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(9, 9, 9, 0.63);
    background-image: url(../image/guidewxt.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* 底部 */

.footer {
    margin-top: 2.2rem;
    position: absolute;
    background: #00A1E9;
    background: -webkit-linear-gradient(top, #00A1E9, #0086DF);
    width: 100%;
}

.fotInfoOne,
.fotInfoTwo {
    padding-top: 0.35rem;
}

.fotInfoOne,
.fotInfoTwo {
    color: #fff;
    text-align: center;
}

.fotInfoOne>a {
    display: inline-block;
    padding: 0 0.625rem;
    color: #fff;
    border-right: 0.063rem solid #fff;
}

.fotInfoOne>a:last-child {
    border-right: none;
}

.fotInfoTwo>img {
    vertical-align: middle;
}

.tw12 {
    font-size: 12px;
    color: #504D48;
}

.tw12 a:link {
    color: #504D48;
    text-decoration: none;
}

.tw12 a:visited {
    color: #504D48;
    text-decoration: none;
}

.tw12 a:hover {
    color: #FE5802;
    text-decoration: none;
}

.tw12 a:active {
    color: #FE5802;
    text-decoration: none;
}

.orange12 {
    font-size: 12px;
    color: #FE5802;
}

.orange14 {
    line-height: 25px;
    font-size: 18px;
    color: #FE5802;
    font-weight: bold;
}

.orange14 a:link {
    color: #FE5802;
    font-size: 18px;
    text-decoration: none;
}

.orange14 a:visited {
    color: #FE5802;
    font-size: 18px;
    text-decoration: none;
}

.orange14 a:hover {
    color: #FE5802;
    font-size: 18px;
    text-decoration: underline;
}

.orange14 a:active {
    color: #FE5802;
    font-size: 18px;
    text-decoration: none;
}

.black14 {
    line-height: 25px;
    font-size: 14px;
    color: #000000;
}


.pages{text-align:center;font-family:arial;margin-bottom:10px;}
.pages a{text-decoration:none;}
.pages li{height:20px!important;line-height:20px!important;width:auto!important;background-image:none!important;list-style-type:none;display:inline-block; border:1px #ddd solid;padding:3px 6px!important;margin:2px;}
.pages li:hover{background-color:#ccc;color:#1E90FF}
.pages .page-active{background-color:#ccc;}

.black14 a:link {
    color: #000000;
    text-decoration: none;
}

.black14 a:visited {
    color: #000000;
    text-decoration: none;
}

.black14 a:hover {
    color: #cc0000;
    text-decoration: underline;
}

.black14 a:active {
    color: #cc0000;
    text-decoration: none;
}

.black30 {
    line-height: 30px;
    font-size: 26px;
    color: #000000;
    font-weight: bold;
}

.blueq12 {
    line-height: 25px;
    font-size: 12px;
    color: #8896B1;
}

.blueq12 a:link {
    color: #8896B1;
    text-decoration: none;
}

.blueq12 a:visited {
    color: #8896B1;
    text-decoration: none;
}

.blueq12 a:hover {
    color: #0B3B8C;
    text-decoration: none;
}

.blueq12 a:active {
    color: #0B3B8C;
    text-decoration: none;
}

.blue12 {
    font-size: 12px;
    color: #0B3B8C;
}

.blue12 a:link {
    color: #0B3B8C;
    text-decoration: none;
}

.blue12 a:visited {
    color: #0B3B8C;
    text-decoration: none;
}

.blue12 a:hover {
    color: #0B3B8C;
    text-decoration: underline;
}

.blue12 a:active {
    color: #0B3B8C;
    text-decoration: none;
}

.blue14 {
    line-height: 25px;
    font-size: 14px;
    color: #0B3B8C;
}

.blue14 a:link {
    color: #0B3B8C;
    text-decoration: none;
}

.blue14 a:visited {
    color: #0B3B8C;
    text-decoration: none;
}

.blue14 a:hover {
    color: #0B3B8C;
    text-decoration: underline;
}

.blue14 a:active {
    color: #0B3B8C;
    text-decoration: none;
}

.blues14 {
    line-height: 25px;
    font-size: 14px;
    color: #1C2C58;
}

.blues14 a:link {
    color: #1C2C58;
    text-decoration: none;
}

.blues14 a:visited {
    color: #1C2C58;
    text-decoration: none;
}

.blues14 a:hover {
    color: #1C2C58;
    text-decoration: underline;
}

.blues14 a:active {
    color: #1C2C58;
    text-decoration: none;
}

.black2 {
    PADDING-RIGHT: 7px;
    PADDING-LEFT: 7px;
    PADDING-BOTTOM: 7px;
    MARGIN: 3px;
    PADDING-TOP: 7px;
    TEXT-ALIGN: center
}

.black2 A {
    BORDER-RIGHT: #777 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #777 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    BORDER-LEFT: #777 1px solid;
    COLOR: #777;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #777 1px solid;
    TEXT-DECORATION: none
}

.black2 A:hover {
    BORDER-RIGHT: #777 1px solid;
    BORDER-TOP: #777 1px solid;
    BORDER-LEFT: #777 1px solid;
    COLOR: #333;
    BORDER-BOTTOM: #777 1px solid;
    BACKGROUND-COLOR: #ddd
}

.black2 A:active {
    BORDER-RIGHT: #777 1px solid;
    BORDER-TOP: #777 1px solid;
    BORDER-LEFT: #777 1px solid;
    COLOR: #333;
    BORDER-BOTTOM: #777 1px solid;
    BACKGROUND-COLOR: #ddd
}

.black2 SPAN.current {
    BORDER-RIGHT: #777 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #777 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    BORDER-LEFT: #777 1px solid;
    COLOR: #333;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #777 1px solid;
    BACKGROUND-COLOR: #eee
}

.black2 SPAN.disabled {
    BORDER-RIGHT: #aaa 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #aaa 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    BORDER-LEFT: #aaa 1px solid;
    COLOR: #aaa;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #aaa 1px solid;
}


.cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cf {
    *zoom: 1;
}

@media (max-width:767px) {
    .article-content .black14 img{
        width: 100%;
    }
    .hidden-xs {
        display: none !important;
    }
    .hidden-lg {
        display: block !important;
		z-index:100;
    }
    .middle {
        width: 100%;
        margin-top: 2.688rem;
    }
    .left-section {
        width: 100%;
        margin: 0 auto;
    }
    .black14 {
        margin-top: -15px;
    }
    .main-article {
        margin-top: 0;
        border: 0;
    }
    .article-content {
        margin: 0 auto;
        width: 100%;
    }
    .article-content p {
        font-size: 1.5em;
        line-height: 1.8em;
    }
    .title {
        font-family: "微软雅黑";
        margin: 0.5em;
        font-size: 2.4em;
        color: #333;
        text-align: left;
        padding: 0;
    }
    .source {
        font-size: 1.2em;
        padding: 1rem;
        text-align: left;
    }
    .editor {
        font-size: 1.2em;
        padding-right: 16px;
    }
    #displaypagenum {
        margin-top: 2rem;
    }
    .black2 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .black2 a {
        margin: 4px;
        color: #777;
        border: 0;
        padding: 0;
    }
    .black2 a:hover {
        border: 0;
        background-color: transparent;
    }
    .black2 a:active {
        border: 0;
        color: #333;
        background-color: transparent;
    }
 #pubtime_baidu{ font-family:"宋体";}

@media (max-width: 414px) {
    .article-content .black14 img{
        width: 100%;
    }

    .middle {
        width: 100%;
        margin-top: 2.688rem;
    }
    .left-section {
        width: 100%;
    }
    .main-article {
        width: 100%;
        border: 0;
    }
    .article-content {
        margin: 0 auto;
        width: 100%;
    }
    .title {
        font-family: "微软雅黑";
        margin: 0.5em;
        font-size: 2.4em;
        color: #333;
        text-align: left;
        padding: 0;
    }
    .source {
        font-size: 1.2em;
        padding: 1rem;
        text-align: left;
    }
    .editor {
        font-size: 1.4em;
    }
    #displaypagenum {
        margin-top: 2rem;
    }
    .black2 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .black2 a {
        margin: 2px;
        color: #777;
        border: 0;
        padding: 0;
    }
    .black2 a:hover {
        border: 0;
        background-color: transparent;
    }
    .black2 a:active {
        border: 0;
        color: #333;
        background-color: transparent;
    }
}

@media (max-width: 436px) {
    .article-content .black14 img{
        width: 100%;
    }

    .middle {
        width: 100%;
        margin-top: 2.688rem;
    }
    .left-section {
        width: 100%;
    }
    .main-article {
        border: 0;
        width: 100%;
    }
    .article-content {
        width: 95%;
    }
    .title {
        font-family: "微软雅黑";
        margin: 0.5em;
        font-size: 2.4em;
        color: #333;
        text-align: left;
        padding: 0;
    }
    .source {
        font-size: 1.2em;
        padding: 1rem;
        text-align: left;
    }
    .editor {
        font-size: 1.45em;
        padding-right: 0.28em;
    }
    #displaypagenum {
        margin-top: 2rem;
    }
    .black2 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .black2 a {
        margin: 3px;
        color: #777;
        border: 0;
        padding: 0;
    }
    .black2 a:hover {
        border: 0;
        background-color: transparent;
    }
    .black2 a:active {
        border: 0;
        color: #333;
        background-color: transparent;
    }
}















/*@media(min-width: 413px) and(max-width: 361px) {
    .middle {
    width: 375px;
  }

    .left-section {
        width: 100%;
    }
    .main-article {
        width: 100%;
    }
    .article-content {
        margin: 0 auto;
        width: 95%;
    }
.title {
        font-size: 24px;
    }

    .main-article {
        border: 0;
    }
}*/


/*@media(min-width: 766px) and(max-width: 415px) {
    .middle {
    width: 435px;
  }

    .left-section {
        width: 100%;
    }
    .main-article {
        width: 100%;
    }
    .article-content {
        margin: 0 auto;
        width: 95%;
    }
    .title {
        font-size: 24px;
    }
    .source{
font-size: 1.2em;
    }
}*/

@media (max-width:375px) {
    .article-content .black14 img{
        width: 100%;
    }
    .middle {
        width: 100%;
        margin-top: 2.688rem;
    }
    .left-section {
        width: 100%;
    }
    .main-article {
        border: 0;
        width: 100%;
    }
    .article-content {
        margin: 0 auto;
        width: 95%;
    }
    .title {
        font-family: "微软雅黑";
        margin: 0.5em;
        font-size: 2.2em;
        color: #333;
        text-align: left;
        padding: 0;
    }
    .source {
        font-size: 1.1em;
        padding: 0.9rem;
        text-align: left;
    }
    .article-content p {
        font-size: 1.25em;
        line-height: 1.8em;
    }
    .editor {
        font-size: 1em;
    }
    #displaypagenum {
        margin-top: 2rem;
    }
    .black2 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .black2 a {
        margin: 2px;
        color: #777;
        border: 0;
        padding: 0;
    }
    .black2 a:hover {
        border: 0;
        background-color: transparent;
    }
    .black2 a:active {
        border: 0;
        color: #333;
        background-color: transparent;
    }
}


@media (max-width:360px) {
    .article-content .black14 img{
        width: 100%;
    }

    .middle {
        width: 100%;
        margin-top: 2.688rem;
    }
    .left-section {
        width: 100%;
    }
    .main-article {
        border: 0;
        width: 100%;
    }
    .article-content {
        margin: 0 auto;
        width: 95%;
    }
    .black14 {
        margin-top: 15px;
    }
    .title {
        font-family: "微软雅黑";
        margin: 0.5em;
        font-size: 2em;
        color: #333;
        text-align: left;
        padding: 0;
    }
    .source {
        font-size: 1em;
        padding: 0.8rem;
        text-align: left;
    }
    .article-content p {
        font-size: 1.2em;
        line-height: 1.8em;
    }
    .editor {
        font-size: 1em;
    }
}



@media (max-width:320px) {
    .article-content .black14 img{
        width: 100%;
    }

    .middle {
        width: 100%;
        margin-top: 2.688rem;
    }
    .left-section {
        width: 100%;
    }
    .main-article {
        border: 0;
        width: 100%;
    }
    .article-content {
        margin: 0 auto;
        width: 95%;
    }
    .title {
        font-family: "微软雅黑";
        margin: 0.5em;
        font-size: 1.8em;
        color: #333;
        text-align: left;
        padding:0;
    }
    .source {
        font-size: 0.95em;
        padding: 0.75rem;
        text-align: left;
    }
    .article-content p {
        font-size: 1em;
        line-height: 1.8em;
    }
    .editor {
        font-size: 1em;
    }
    #displaypagenum {
        margin-top: 2rem;
    }
    .black2 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .black2 a {
        margin: 2px;
        color: #777;
        border: 0;
        padding: 0;
    }
    .black2 a:hover {
        border: 0;
        background-color: transparent;
    }
    .black2 a:active {
        border: 0;
        color: #333;
        background-color: transparent;
    }
}

@media (max-width:220px) {
    .article-content .black14 img{
        width: 100%;
    }

    .title {
        font-size: 1.4em;
        padding:0;
    }
    #displaypagenum {
        margin-top: 2rem;
    }
    .black2 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .black2 a {
        margin: 2px;
        color: #777;
        border: 0;
        padding: 0;
    }
    .black2 a:hover {
        border: 0;
        background-color: transparent;
    }
    .black2 a:active {
        border: 0;
        color: #333;
        background-color: transparent;
    }
}













/*搜索框的样式*/

#bdcs {
    display: inline;
    float: right;
    padding-bottom: 5px;
    margin-left: 5px;
    _margin-left: 3px;
    _width: 310px;
    _float: right;
}

#bdcs-search-inline form {
    width: 310px;
}

#bdcs-search-form-submit {
    display: inline;
    _position: absolute;
    _width: 47px;
}

#bdcs-search-form-input-label {
    height: 28px !important;
    line-height: 30px !important;
    *top: 2px !important;
}













/*分享 begin*/

.fx {
    height: 44px;
    border-top: 1px solid #D3DBE6;
    line-height: 44px;
}

.fx>span {
    margin-left: 2.5%;
    _float:left;
    *float:left;
    _margin-top: 2%;
    *margin-top: 2%;
}

.divShareAll {
    height: 25px;
    float: right;
    width: 440px;
    margin-top: 1.5%;
    _margin-top: 2%;
    *margin-top: 2%;
}

.divShare {
    height: 25px;
    _width: 220px;
    float: right;
    width: 169px;
}

.fenxbg {
    background: url(../image/tubiao.png) no-repeat;
}

.fenxbgs {
    background: url(https://appwap.taizhou.com.cn/resource/templateRes/201607/20/17290/17290/images/tubiao_yuan.png) no-repeat;
}

.fxSpan {
    float: right;
}

.ulTop {
    margin-top: -15px;
    *margin-top: 0px;
    _margin-top: 0px;
}

.liTop,
.h3Top {
    transition: all .5s;
    -moz-transition: all .5s;
    /* Firefox 4 */
    -webkit-transition: all .5s;
    /* Safari 和 Chrome */
    -o-transition: all .5s;
    /* Opera */
}

.liTop {
    height: 24px;
    float: left;
    margin-right: 3px;
}

.h3Top {
    display: block;
    width: 24px;
    height: 24px;
    float: left;
}

.lt0 {
    background-position: 0 0;
    cursor: pointer;
}

.lth0 {
    background-position: 0 -31px;
    cursor: pointer;
}

.lt1 {
    background-position: -24px 0;
    cursor: pointer;
}

.lth1 {
    background-position: -24px -31px;
    cursor: pointer;
}

.lt2 {
    background-position: -48px 0;
    cursor: pointer;
}

.lth2 {
    background-position: -48px -31px;
    cursor: pointer;
}

.lt3 {
    cursor: pointer;
    background-position: -72px 0;
}

.lth3 {
    background-position: -72px -31px;
    cursor: pointer;
}

.lt4 {
    background-position: -96px -31px;
    cursor: pointer;
    width: 27px;
    display: block;
    float: left;
    _margin-left: -5px;
}

.lth4 {
    background-position: -96px 0;
    cursor: pointer;
}

.spanShare {
    float: left;
    margin-right: 10px;
}



.video{ margin:0px auto; background-color:#fff!important ;}

 


.article-content img{ max-width:600px;}

.video-box{ width:100%;}
.video-js{ background-color:#fff!important ; width:100%!important; max-height:400px;}
.vjs-tech{background-color:#fff!important ; }
.html5media-video-fallback{ width:100%!important;}

/*分享 end*/

