
body { margin: 0; padding: 0; font-size: 14px; font-family:"\5FAE\8F6F\96C5\9ED1", "SimSun", Arial, Helvetica, sans-serif; font-style: normal;color: #393939; }
html, body { _background-image: url(about:blank); _background-attachment: fixed;  text-align: left; }
html { height: 100%; }
body { height: 100%; background: #fff; }
div,form,img,ul,ol,li,dl,dt,dd,p,i,em {margin: 0; padding: 0; border: 0;}
div, ul, li { margin: 0; padding: 0; border: 0; }
ul, li { list-style-type: none; }
h1,h2,h3,h4,h5,h6 { margin:0; padding:0; font-size:12px; font-style:normal; font-weight:normal;}
h6{font-size:12px;font-weight:normal;margin:5px auto;}
table,td,tr,th{font-size:12px;}
font{font-size:12px;}
em{font-style:normal}
input { outline: none; }
img { border: none; vertical-align: middle; }

/* 默认链接颜色 */
a { cursor: pointer; outline: none; color: #393939; text-decoration: none; }
a:link {}
a:visited {}
a:active, a:hover { color: #ef1c22 }
/* 颜色属性 [定义规则，小写c加颜色名称] */
.cRed,.cRed:link,.cRed:visited{color:#F00;}
.cRed a,.cRed a:link,.cRed a:visited{color:#F00;}
.cRed a:hover{color:#F00;}

.cWhite,.cWhite:link,.cWhite:visited{color:#FFF;}
.cWhite a,.cWhite a:link,.cWhite a:visited{color:#FFF;}
.cWhite a:hover{color:#FFF; text-decoration:underline}

/* 字体属性 [定义规则，小写f加属性名称] */
.fB {font-weight: bold;}
.fI {font-style: italic;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.f16px{font-size:16px;}
.f18px{font-size:18px;}
.f24px{font-size:24px;}

.left{ float:left;}
.right{ float:right;}
.inline{display:inline;}
.block{display:block;}
.clear{ clear: both; font-size:1px;}
.hidden{ display:none;}
.blank0{ height:0px; clear:both; font-size:1px;overflow:hidden;}
.blank5{ height:5px; clear:both; font-size:1px;overflow:hidden;}
.blank1{ height:1px; clear:both; font-size:1px;overflow:hidden;}
.blank2{ height:2px; clear:both; font-size:1px;overflow:hidden;}
.blank3{ height:3px; clear:both; font-size:1px;overflow:hidden;}
.blank4{ height:4px; clear:both; font-size:1px;overflow:hidden;}
.blank6{ height:6px; clear:both; font-size:1px;overflow:hidden;}
.blank7{ height:7px; clear:both; font-size:1px;overflow:hidden;}
.blank8{ height:8px; clear:both; font-size:1px;overflow:hidden;}
.blank9{ height:9px; clear:both; font-size:1px;overflow:hidden;}
.blank10{ height:10px; clear:both; font-size:1px;overflow:hidden;}
.blank12{ height:12px; clear:both; font-size:1px;overflow:hidden;}
.blank11{ height:11px; clear:both; font-size:1px;overflow:hidden;}
.blank120{ height:120px; clear:both; font-size:1px;overflow:hidden;}
.blank13{ height:13px; clear:both; font-size:1px;overflow:hidden;}
.blank14{ height:14px; clear:both; font-size:1px;overflow:hidden;}
.blank15{ height:15px; clear:both; font-size:1px;overflow:hidden;}
.blank16{ height:16px; clear:both; font-size:1px;overflow:hidden;}
.blank18{ height:18px; clear:both; font-size:1px;overflow:hidden;}
.blank19{ height:19px; clear:both; font-size:1px;overflow:hidden;}
.blank20{ height:20px; clear:both; font-size:1px;overflow:hidden;}
.blank22{ height:22px; clear:both; font-size:1px;overflow:hidden;}
.blank30{ height:30px; clear:both; font-size:1px;overflow:hidden;}
.pbottom5{ padding-bottom:5px;}
.pbottom4{ padding-bottom:4px;}
.pbottom8{ padding-bottom:8px;}
/*横向列表*/
.list_across{ margin:0; padding:0;}
.list_across li{white-space: nowrap;float:left; list-style-type:none;display:block;}
/*竖向列表*/
.list_erect{margin:0; padding:0;}
.list_erect li{white-space: nowrap;clear:left; list-style-type:none;display:block;}


/* 清除浮动 */
.clearfix { display: block; #zoom:1;/*ie6-ie7*/; overflow:hidden}
.clearfix:after { content: ''; overflow: hidden; width: 100%; height: 0px; font-size: 0px; margin: 0px; padding: 0px; display: block; clear: both; }

.unclick{overflow:visible!important;}


/*分页*/
.article_left_box02 .article_w .article .page {height:70px; line-height: 30px;padding-top:20px;text-align: center;font-size: 1.2rem; font-size: 12px;}
.article_left_box02 .article_w .article .page a {display: inline-block; padding:0 12px; vertical-align: top;letter-spacing: normal; color: #fff;background: #bbb;margin:0 2px;}
.article_left_box02 .article_w .article .page i {margin:0 2px;}
.article_left_box02 .article_w .article .page a:hover {background: #666;}
.article_left_box02 .article_w .article .page .now {cursor: default; background: #666;}
.article_left_box02 .article_w .article .page .disable {cursor: default;}
.article_left_box02 .article_w .article .page .disable:hover {background: #bbb;}


