
body{ font-family:"微软雅黑"; background:url(../image/bgar.jpg)top center no-repeat}

#main{ width:1000px; margin:auto; height:auto;padding-top:5px; margin-bottom:10px;}

.mainleft{ width:730px; float:left; overflow:hidden; padding-top:20px;/*background:#f9f9f9*/}
.postion{ width:730px; height:40px; line-height:40px; font-size:12px}
.postion a{ color:#000000; font-size:12px; text-decoration:none; font-family:"微软雅黑"}
.postion a:hover{ color:#FF3300}

.mainleft .article{ border-top:1px solid #c6cacc;width:728px;text-align:left;word-wrap:break-word;word-break:break-all;}
.mainleft .article h1{ width:700px; line-height:30px; padding-bottom:15px; padding-top:30px; text-align:center; margin:0px auto;font-family:'微软雅黑';font-size:25px; font-weight:lighter;color:#565757;}
.mainleft .article .fushu{ width:600px; height:30px; font-size:12px; line-height:30px; color:#333333; margin:0px auto; text-align:center; background:#efefef; margin-top:20px;}
.mainleft .article .fushu span{ margin-left:10px; margin-right:5px;color:#333333}
.mainleft .article .fushu span a{ color:#333333; text-decoration:none}
.mainleft .article .fushu span a:hover{ text-decoration:underline; color:#990000}
.mainleft .article .text{padding-left:20px; padding-right:20px; padding-top:15px; line-height:30px;font-size:16px; color:#686868}
.mainleft .article .text p{margin-bottom:20px; margin-top:10px;}
.mainleft .article .text img{max-width:600px;height:auto;width:expression(this.width > 600 ? "600px" : this.width);}

.mainleft .article .prevnext{ width:700px; background:url(../image/xx.gif) top repeat-x; border-bottom:1px solid #dcdcdc; margin:0px auto; height:50px; line-height:50px; color:#3685fe; font-size:14px; overflow:hidden;  margin-top:35px; font-weight:bold; margin-bottom:35px}
.mainleft .article .prevnext ul li{ width:345px; float:left;height:50px; line-height:50px; margin-right:5px; overflow:hidden;}
.mainleft .article .prevnext ul li a{ font-size:14px; font-weight:lighter}
.mainleft .article .prevnext ul li a:hover{ text-decoration:underline; color:#ff6800}

.mainleft .arclist{ border-top:1px solid #c6cacc;text-align:left;word-wrap:break-word;word-break:break-all; padding:20px;}
.mainleft .arclist .titlelist{ padding-bottom:30px;}
.mainleft .arclist .titlelist ul li{ width:660px; float:left; line-height:30px; height:30px;}
.mainleft .arclist .titlelist ul li.xx{ background:url(../image/xx.gif) 0px 24px repeat-x; height:30px; width:660px; display:block}
.mainleft .arclist .titlelist ul li a{ float:left; font-size:14px; color:#333333; padding-left:10px; background:url(../image/dian.png) left no-repeat}
.mainleft .arclist .titlelist ul li a:hover{ text-decoration:underline; color:#ff6800}
.mainleft .arclist .titlelist ul li span{ float:right; color:#999999; font-size:12px; text-align:right; font-family:Arial, Helvetica, sans-serif}

.mainleft dl{ width:680px;padding-bottom:10px; padding-top:10px;}
.mainleft dl dt{ display:block;height:35px; line-height:35px; border-bottom:1px solid #dbdbdb;}
.mainleft dl dt strong {width:130px; border-bottom:1px solid #3685fc; display:block; text-align:center; font-weight:bold; color:#3685fc; text-align:left; padding-left:10px; float:left}
.mainleft dl dt strong a{color:#3685fc;}
.mainleft dl dt span{ float:right; width:100px; display:block; font-size:12px; text-align:right}
.mainleft dl dt span a{ color:#666666}
.mainleft dl dd{ width:680px; float:left; line-height:30px; height:30px;}
.mainleft dl dd a{ float:left; font-size:14px; color:#333333; padding-left:10px; background:url(../image/ico-1.gif) left no-repeat}
.mainleft dl dd a:hover{ text-decoration:underline; color:#ff6800}
.mainleft dl dd span{ float:right; color:#999999; font-size:12px; text-align:right; font-family:Arial, Helvetica, sans-serif; display:block;}

.mainright{ width:250px;float:right;padding-top:0px; overflow:hidden}
.mainright .rad{ margin-top:30px; margin-bottom:0px;}
.mainright .rad img{ width:250px; height:auto}
.mainright .box{ width:250px; overflow:hidden; margin-top:20px;}
.mainright .box .type{ width:248px; background:url(../image/titbg.png) repeat-x; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; line-height:50px; height:50px;}
.mainright .box .type ul li{ width:90px; float:left; text-align:center}
.mainright .box .type ul li.on{ background:url(../image/titbgon.jpg) top repeat-x;}
.mainright .box .type ul li.on a{ color:#3685fe}
.mainright .box .type ul li a{ font-size:16px; color:#3685fb; color:#808080; font-weight:bold }
.mainright .box .newlist ul{ padding-top:10px;}
.mainright .box .newlist ul li{ width:97%; height:30px; line-height:30px;overflow:hidden; background:url(../image/dian.png) left no-repeat; padding-left:10px;}
.mainright .box .newlist ul li a{ font-size:14px; color:#696768} 
.mainright .box .newlist ul li a:hover{ font-size:14px; color:#ff6800} 

.mainright .box .paihang ul{ padding-top:10px;}
.mainright .box .paihang ul li{ width:100%; height:33px; line-height:33px;overflow:hidden; background:url(../image/xx.gif) bottom repeat-x}
.mainright .box .paihang ul li span{ width:15px; height:15px; line-height:15px; font-size:12px; font-family:Arial, Helvetica, sans-serif; background:#CCCCCC; color:#FFFFFF; text-align:center; border-radius:3px; display:inline-table;} 
.mainright .box .paihang ul li span.phb1{ background:#990000} 
.mainright .box .paihang ul li span.phb2{ background:#FF3300} 
.mainright .box .paihang ul li span.phb3{ background:#006666} 
.mainright .box .paihang ul li a{ font-size:14px; color:#696768; padding-left:5px;} 
.mainright .box .paihang ul li a:hover{ font-size:14px; color:#ff6800} 
.photo img{ padding:1px; border:1px solid #dcdcdc}
.photo img:hover{ padding:1px; border:1px solid #ff6800}

.jubao{ width:918px; padding:40px;margin:15px auto; font-size:14px; border:1px solid #3685fb}
.jubao span{ color:#FF0000}
.jubao h1{ width:600px; text-align:center; margin:auto; color:#3685fb; font-size:25px; margin-bottom:40px;}
.jubao table{ border:1px solid #dcdcdc; border-bottom:0px; border-right:0px;}
.jblist table td{height:40px; line-height:40px; background:#FFFFFF}
.jubao input,.jubao select,.jubao textarea{ margin-left:10px;}
.jubao input.intxt{ width:100px; font-size:12px; line-height:18px; padding:4px 7px; color:#333; font-family:"Microsoft Yahei"; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; border:1px solid #d1d1d1;}
.jubao form select{height:28px; line-height:28px; color:#333; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;outline:none; text-align:left}
.jubao textarea{color:#333; font-family:"Microsoft Yahei"; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; border:1px solid #d1d1d1; padding:5px; line-height:25px; margin-top:5px; margin-bottom:5px;}
.jubao .coolbg{padding:0 12px; background:#ff6800; display:block; color:#fff;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; height:26px; line-height:26px; float:left; cursor:pointer; border:0px; margin-top:10px; margin-right:10px;}

.jubao td.rb{ background:#f3f3f3; text-align:right; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; border-top:1px solid #FFFFFF; padding-right:10px;}
.jubao td.lb{ text-align:left; padding-left:10px; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; border-top:1px solid #FFFFFF; }

.worklist table{ border:0px; width:450px; float:left}
.flink{ display:none}

/*==========以下部分是Validform必须的===========*/
.Validform_checktip{margin-left:8px;line-height:20px;height:20px;overflow:hidden;color:#999;font-size:12px;}
.Validform_right{color:#71b83d;padding-left:20px;background:url(https://www.sxhjnews.com/images/xx/right.png) no-repeat left center;}
.Validform_wrong{color:red;padding-left:20px;white-space:nowrap;background:url(https://www.sxhjnews.com/images/xx/error.png) no-repeat left center;}
.Validform_loading{padding-left:20px;background:url(https://www.sxhjnews.com/images/xx/onload.gif) no-repeat left center;}
.Validform_error{background-color:#ffe7e7;}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999;
background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}
