body,html{
    font-size: 16px;
    background: #f6f7f8;
    color: #222;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 6px;
    padding-right: 6px;
}
.row{
    margin-right: -6px;
    margin-left: -6px;
}
a{
    color: #222;
}
a:hover,a:focus{
    color: #06c;
}
.imore{
    text-align: center;
    padding-top: 10px;
}
.imore a{
    color: #06c;
}
.imore a.disabled{
    color: #999;
}
.panel{
    margin-bottom: 12px;
}
.panel-default{
    border: 0;
}
.panel-default>.panel-heading{
    background: #fff;
    border-bottom: 1px solid #eee;
}
.panel-default>.panel-heading h2,.panel-default>.panel-heading h3{
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.v-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.v-flex-column{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.v-flex-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}
.v-flex-item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.v-flex-item-2{
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}
.v-flex-item-3{
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    flex: 3;
}
.v-flex-item-4{
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    flex: 4;
}
.v-flex-item-5{
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    flex: 5;
}


.v-to-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.v-to-ellipsis-1{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.v-to-ellipsis-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.v-to-ellipsis-3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}




.navbar .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}


.breadcrumb{
    background: #fff;
}

.ibanner{
    margin-bottom: 10px;
}
.pli{
    position: relative;
    margin-bottom: 6px;
    overflow: hidden;
}
.pli .thumb{
    position: relative;
    padding-top: 50%;
}
.pli .thumb img{
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.pli .txt{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5));
    padding: 10px;
    color: #fff;
    font-size: 16px;
}
.pli .txt a{
    color: #fff;
}
.pli .txt .tit{
    font-size: 20px;
    margin-bottom: 6px;
}

.filter{
    background: #fff;
}
.filter .li{
    border-bottom: 1px dashed #eee;
    padding: 8px 0;
    line-height: 1.5;
    font-size: 14px;
}
.filter .li .dt{
    text-align: right;
    width: 60px;
    padding: 0 10px;
    font-weight: bold;
}
.filter .li .dd{ }
.filter .li .dd a{
    display: inline-block;
    padding: 0 8px;
    border-radius: 3px;
}
.filter .li .dd a.active{
    color: #fff;
    background: #06c;
}



.list{}
.list .li{
    overflow: hidden;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0;
}
.list .li:hover{
    background: #f9fafb;
}
.list .li .thumb{
    /*width: 130px;*/
    margin-right: 15px;
}
.list .li .thumb img{
    width: 130px;
}
.list .li .tit{
    font-size: 18px;
}
.list .li .tit a{
    color: #222;
}
.list .li .tit a{
    font-weight: bold;
}
.list .li .tit a:hover{
    color: #06c;
}
.list .li .desc{
    color: #828a92;
    font-size: 13px;
}
.list .li .catname{
    margin-right: 10px;
    font-size: 12px;
}
.list .li .date{
    padding-left: 10px;
    color: #666;
    font-size: 12px;
}
.list .li .hits{
    font-size: 12px;
    color: #666;
    padding-left: 10px;
}
.list .li .hits img{
    height: 26px;
    vertical-align: middle;
    position: relative;
    right: -5px;
}






.list-1 .li{
    line-height: 24px;
    padding: 10px 10px;

    font-size: 14px;
}
.list-1 .li .num span{
    width: 20px;
    height: 14px;
    background: #e6f1fb;
    cursor: pointer;
    line-height: 14px;
    text-align: center;
    color: #06c;
    font-size: 12px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 10px;
}
.list-1 .li .con{
}
.list-1 .li .con a{
    color: #333;
    font-weight: bold;
}
.list-1 .li .con a:hover{
    color: #06c;
}
.list-1 .li .con .hot{
    height: 18px;
    line-height: 18px;
    display: inline-block;
    margin-left: 7px;
    color: #999;
    font-size: 12px;
    background: #f5f5f5;
    border-radius: 2px;
    padding: 0 6px;
}


.list-3{}
.list-3 .li{
    overflow: hidden;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.list-3 .li .thumb{
    margin-right: 10px;
}
.list-3 .li .thumb img{
    width: 80px;
}
.list-3 .li .tit{
    line-height: 1;
    margin-bottom: 5px;
}
.list-3 .li .tit a{
    color: #2a2f37;
    font-size: 14px;
    font-weight: bold;
}
.list-3 .li .tit a:hover{
    color: #06c;
}
.list-3 .li .date{
    color: #838a91;
    font-size: 12px;
}



.list-4{}
.list-4 .li{
    overflow: hidden;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0;
}
.list-4 .li .thumb{
    width: 150px;
    margin-right: 15px;
}
.list-4 .li .thumb img{
    width: 100%;
}
.list-4 .li .tit{
    font-size: 18px;
    margin-bottom: 3px;
}
.list-4 .li .tit a{
    color: #222;
}
.list-4 .li .tit a{
    font-weight: bold;
}
.list-4 .li .tit a:hover{
    color: #06c;
}
.list-4 .li .info{
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}
.list-4 .li .info .starbox{
    display: inline-block;
    margin-right: 10px;
}
.list-4 .li .info .star{
    display: inline-block;
    background: url(../image/star-off.png) repeat-x left center;
    width: 80px;
    height: 25px;
    background-size: 16px 16px;
    vertical-align: middle;
}
.list-4 .li .info .star i{
    display: block;
    height: 100%;
    background: url(../image/star-on.png) repeat-x left center;
    background-size: 16px 16px;
}
.list-4 .li .info{}
.list-4 .li .keywords{
    color: #828a92;
    font-size: 12px;
    margin-bottom: 5px;
}
.list-4 .li .keywords span{
    border-left: 1px solid #eee;
    padding: 0 8px;
}
.list-4 .li .keywords span:nth-child(1){
    border: 0;
    padding-left: 0;
}
.list-4 .li .desc{
    border-top: 1px dashed #eee;
    margin-top: 5px;
    padding-top: 8px;
    font-size: 14px;
    color: #666;
}



.slide{
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}
.slide .swiper-slide img{
    display: block;
    width: 100%;
}


.thumb-1{
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.thumb-1 .li{
    padding-left: 8px;
    padding-right: 8px;
}
.thumb-1 .li .thumb{
    position: relative;
    padding-top: 60%;
    overflow: hidden;
}
.thumb-1 .li .thumb img{
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.thumb-1 .li a{
    color: #222;
}
.thumb-1 .li a:hover{
    color: #06c;
}
.thumb-1 .li .tit{
    padding: 5px 0;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
}








.detail{
    font-size: 15px;
}
.detail .head{}
.detail .head h1{
    font-size: 24px;
    margin: 0;
    padding: 15px;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.detail .head .info{
    color: #999;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    margin-bottom: 10px;
}
.detail blockquote{
    font-size: 14px;
    background: rgba(238,238,238,.5);
}
.detail .content img{
    max-width: 100%;
}



.detail-2{}
.detail-2 .body{
    font-size: 14px;
    color: #666;
}
.detail-2 .starbox{

    margin-right: 10px;
}
.detail-2 .starbox .star{
    display: inline-block;
    background: url(../image/star-off.png) repeat-x left center;
    width: 80px;
    height: 25px;
    background-size: 16px 16px;
    vertical-align: middle;
}
.detail-2 .starbox .star i{
    display: block;
    height: 100%;
    background: url(../image/star-on.png) repeat-x left center;
    background-size: 16px 16px;
}

.pages{
    text-align: center;
    padding: 10px 0;
}
.pages a,.pages span{
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    border: 1px solid #eee;
    font-size: 14px;
}
.pages a:hover,.pages span{
    background: #06c;
    color: #fff;
    border-color: #06c;
}

.footer{
    background: #2e2e30;
    color: #eee;
    padding-top: 30px;
    font-size: 14px;
}
.footer a{
    color: #eee;
}
.footer .copyright{
    border-top:1px solid #444;
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 10px;
}


.footnav{
    margin-bottom: 10px;
    text-align: center;
}
.footnav a{
    margin: 0 10px;
}



@media screen and (min-width:320px) and (max-width:760px){
    .list .li .desc,.list .li .hits,.list .li .catname{
        display:none;
    }
    .list .li .tit.v-to-ellipsis{
        white-space:normal;
        font-size: 15px;
        text-align: justify;
        word-break: break-all;
    }
    .list .li .date{
        padding:0
    }
    .list .li .thumb img{
        width:100px;
    }
    .list-4 .li .tit{
        white-space:normal;
        text-align: justify;
        word-break: break-all;
        display: block;
        width: 100%;
    }
    .list-4 .li .thumb{
        margin:0;
        display: none;
    }
    .v-flex-item{
        width: 100%;
    }
}