
/* CSS Document */

h1{ line-height:-1px; text-align:center; margin:38px 0px 10px 0px; font-size:24px; font-family:"微软雅黑", "宋体"; font-weight:normal; color:#000000;}
h2{ text-align:center; margin-bottom:15px; font-size:20px; font-family:"微软雅黑", "宋体"; font-weight:normal; color:#000000;}
.article{ padding:0px 35px; color:#333333;}
.info{height:35px;text-align: center;margin: 0 auto; background: #F5F7FC;line-height: 32px;}
.info .tag{}
.info .time,.info .source{ display:inline-block; margin-left:20px;}
.share{width:280px;}
.share .fl{ line-height:26px;font-family:"微软雅黑", "宋体"; font-size:16px}
.pageContent{ line-height:28px; font-size:14px;}
.pageContent p{ margin:14px 0px; display:block;}
.pageContent img{ display:inline-block}
.editor{ margin-top:14px;}