
/* CSS Document */



* { margin:0; padding:0; word-break:break-all;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td { margin:0; padding:0;}
body{ font-size:12px;font-family:'宋体'; color:#888888; overflow-x:hidden}
img{ border:0; display:block;}
ul, li { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-size:14px; }
a{ color:#333333;text-decoration:none; cursor:pointer; }
a:hover,.title small a:hover{ color:#006699;text-decoration:none; }
.cl{ clear:both}
.fl{ float:left;}
.fr{ float:right;}
.mt25{ margin-top:25px;}
.container{ width:1200px; margin:0 auto; position:relative;}
.container1{ width:1200px; margin:0 auto;}
input.placeholder,textarea.placeholder{ color:#a9a9a9}
.w18{font-size:18px; font-family:"微软雅黑", "宋体";}

 /*公共�?start*/
/*.headbanner{ background:#b01209 url(https://www.hunanzx.gov.cn/hnzx/xhtml/css/headbanner.jpg) no-repeat center top; height:100px;}
.headbanner a{position:absolute; width:100%; height:100px;}*/

.headbanner{ background:#b01209 url(https://www.hunanzx.gov.cn/hnzx/xhtml/css/headbanner.jpg) no-repeat center top; height:auto;}
.headbanner a{position:absolute; width:100%; height:auto;}

.top{ line-height:38px; height:48px; background:url(https://www.hunanzx.gov.cn/hnzx/xhtml/css/topBg.png) repeat-x top; color:#666666; z-index:333;}
.header{ height:359px; position:relative; top:-10px;overflow: hidden;}
.header .hiSlider-wrap{z-index:-1; position:absolute; left:50%; margin-left:-960px;}
.header ul.hiSlider li{width:1920px; height:510px;z-index:-1;}
.logo{ padding-top:90px;}
.header .keyWordSearch{width:312px;height:34px; line-height:34px; margin-top:15px;}
.header .keyWordSearch input{line-height:34px; height:34px; border:none;}
.header .keyWordSearch input.input{ width:204px; padding:0px 20px; float:left}
.header .keyWordSearch input.butn{ text-align:center; width:68px; float:right; background:#d9281c; color:#fff; font-size:14px; cursor:pointer;}
.header .keyWordSearch input.butn:hover{ background:#f82b1d;}
.navBox{ margin-top:30px;height:52px; line-height:52px;background-color:#006699;/*:rgba(0,102,153,0.8);*/ opacity:0.80;filter:alpha(opacity=80); }
.nav{ position:absolute;bottom:0px; line-height:52px;}
.nav a{ display:block; float:left; color:#ffffff; font-size:18px; font-family:"微软雅黑", "宋体";width:150px; text-align:center;}
.nav a:hover{ background:url(https://www.hunanzx.gov.cn/hnzx/xhtml/css/navActive.jpg) center no-repeat #d9281c;}
{ color:#fdffe3; font-weight:bold;}
 /*公共�?end*/
 
 /*公共�?start*/
.footer{padding-top:20px;}
.link{ background:#ebebeb; padding:23px 0px; height:30px;color:#000;}
.link .title{ line-height:30px; font-size:18px;  margin-right:33px;}
.seclect_op{ margin-right:7px;}
.seclect_op span{display:block; position:relative; line-height:28px; height:28px; cursor:pointer; border:1px #cccccc solid; padding:0px 30px 0px 10px; background:#fff;}
.seclect_op span i{ display:block; position:absolute; background:url(../image/arrow.jpg) no-repeat; width:9px; height:6px; top:11px;right:10px;}
.seclect_op ul.option{ display:none; position:absolute; z-index:222;height: 138px;overflow-y: scroll;}
.seclect_op ul.option li{ line-height:22px; background:#fff; padding:0 5px; border:1px #e8e7e7 solid; border-top:none; border-bottom:1px #e8e7e7 dashed;}
.seclect_op ul.option li a{ display:block}
.textLink{ line-height:30px;}
.textLink a{ display:inline-block; padding:0px 20px;}
.copyright{ background:#006699; color:#ffffff; line-height:24px; padding:8px 0px;}
.copyright .container{ text-align:center;}
.copyright .conac{width:80px;height:80px;margin:0 auto;}
.copyright #_ideConac{height: 80px;}
.copyright .fl{ http://59.231.9.236:8004/hnzx/zxjg/wsxxwyh/wsxxwyhgzdt/202105/t20210526_19371554.htmlmargin-right:20px;}
.containercon a{color:#fff;}
 /*公共�?end*/

/*列表*/
ul.list{ display:block;}
ul.list li{ line-height:28px; font-size:14px; position:relative;}
ul.list li a{display: block;width: 85%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
ul.list li span.time{ position:absolute; right:0px;top:0px;}
ul.list.pointList li{ padding-left:14px; background: url(https://www.hunanzx.gov.cn/hnzx/xhtml/css/listBlackPoint.jpg) no-repeat 0px;}

/*标题带下划线*/
.title{ height:29px; border-bottom:2px #e6edf3 solid;}
.title span{ display:inline-block; padding:0 15px; font-size:18px; font-weight:bold; font-family:"微软雅黑", "宋体"; line-height:18px;height: 29px; float:left;}
.title span.active{ height:29px;border-bottom:2px #006699 solid; color:#006699}
.title span.active a{color:#006699}
.title small{ float:right; display:inline-block; margin-top:6px;}
.title small a{ color:#666666}
 
 
/*内页带标题的面包*/
.position { border-bottom:2px #e6e6e6 solid; height:35px;}
.position .current{margin-left: 15px; font-family:"微软雅黑", "宋体"; font-size:20px; font-weight:bold; color:#333333;}
.BreadcrumbNav,.BreadcrumbNav a{ color:#999999; font-size:12px; line-height:36px}
.BreadcrumbNav a:hover{ text-decoration:underline}
/*内页带标题的面包*/


/*文字列表*/
.leftpatr{float:left; width:880px;}
.loction{border-bottom:2px solid #e6e6e6; height:45px; line-height:45px;}
.lm_tit{font-family:"微软雅黑"; font-size:20px; font-weight:bold; color:#333333; float:left; padding-left:11px;}
.weizhi{float:right; text-align:right;font-size:12px; font-family:"宋体"; color:#999999; padding-right:8px;}
.weizhi a{color:#999999;}
.wzlist li{height:40px; line-height:40px;font-size:14px;padding-left:11px; padding-right:33px; border-bottom:1px dashed #dcdcdc;}
.wzlist li .fl{ }
.wzlist li .fl a{color:#333333;}
.rightpart{float:right; width:275px; height:1002px; background:#f6f6f6;}
.rightpart_1{font-family:"微软雅黑"; font-size:20px; font-weight:bold; color:#333333; text-align:center; padding:25px 0;}
.rightpart_1 a{color:#006699;}
.rightpart_2 li{width:238px; text-align:center;  line-height:36px; background:#e6e6e6;  font-size:16px; margin:0 auto;margin-bottom:9px;font-family:"微软雅黑"; }
.rightpart_2 li a{color:#333333; display:block;}
.rightpart_2 li a:hover{color:#fff; background:#5da7cc;}
/*视频列表*/
.videolist{border-bottom:2px solid #e6e6e6; padding-bottom:20px;}
.videolist li{position:relative; width:206px; float:left; margin-top:22px; margin-right:18px;}
.videolist li .spbfbt{position:absolute; top:55px; left:87px; z-index:1;}
.videolist_2{line-height:25px; padding-top:5px; text-align:center;}
.videolist_2 a{color:#333333;}
/*电子书列表页*/
.booklist li{float:left; margin-right:18px; margin-top:16px; width:279px;}
.booklist li .booklist_2{text-align:center; line-height:25px; margin-top:10px;}
.booklist li .booklist_2 a{color:#333333;}

@media screen and (min-width:320px) and (max-width:1199px)  {
	body{width:1210px; margin:0 auto;}
	.header{width:1200px; overflow:hidden;}
	.footer{width:1200px;}
	}