/*公共样式*/
.clear-cf:after {
    content: "";
    clear: both;
    display: block;
}

.container {
    width: 1200px !important;
    padding-left: 0;
    padding-right: 0;
}
.margintop15 {
margin-top:15px;
}
.badwords {
background:#feff14 !important;
color:#F00 !important
}
.w100 {
    width: 100%;
    position: relative;
}

.public-header-top {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0 14px;
    background: #f8f8f8;
    border-bottom: 3px solid #e4e4e4;
}

.public-header-top .top-left {
    float: left;
}

.public-header-top .top-left * {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    font-size: 12px;
    color: #000;
}

.public-header-top .set-page-button, .public-header-top .time {
    border-left: 1px solid #ececec;
}

.public-header-top .set-page-button {
    padding: 0 15px;
}

.public-header-top .time {
    padding: 0 40px;
    border-right: 1px solid #ececec;
}

.public-header-top .time .week {
    margin-left: 12px;
}

.public-header-top .top-right {
    float: right;
}

.top-icons {
    width: 100%;
    position: relative;
}

.top-icons .icons {
    display: inline-block;
    vertical-align: middle;
    width: 52px;
    height: 36px;
}

.top-icons .icons + .icons {
    border-left: 1px solid #d6d6d6;
}

.top-icons .xl-wb {
    background: url(../image/icon_02.png) no-repeat center;
}

.top-icons .tx-wb {
    background: url(../image/icon_04.png) no-repeat center;
}

.top-icons .wx {
    background: url(../image/icon_06.png) no-repeat center;
}

.top-icons .tel-phone {
    background: url(../image/icon_08.png) no-repeat center;
}

.top-icons .txt {
    background: url(../image/icon_10.png) no-repeat center;
}

.top-icons .top-arrow {
    width: 55px;
    background: url(../image/icon_12.png) no-repeat center;
}
/*top*/
.sitetopbar { clear:both;background:#333333;color:#FFF;
}
.sitetopbar .top-left {
    float:left;width:700PX;font-size:0px;
}
.sitetopbar .top-left li {
    display: inline-block; 
}
.sitetopbar .top-left a {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 15px;
    text-align: center;
    display: block;
    border-right: 1px solid #3d3d3d;
}
.sitetopbar .top-left a:hover {
        color:#FFF; background:#292929;
        }
.sitetopbar .top-right {
    float:right;width:220PX;font-size:0px;
}



    .sitetopbar .top-right li {
      display:inline-block;
    }
    .sitetopbar .top-right a {
    color:#fff;font-size:16px;line-height:30px;padding:10px 15px; text-align:center;
  display:block;border-left:1px solid #3d3d3d
    }
        .sitetopbar .top-right a:hover {
        color:#FFF; background:#292929;
        }
/*广告区域*/
.public-ad{
    margin-top: 24px;
}
/*切换控制按钮*/
.control{
    position:absolute;
    right: 20px;
    top:-10px;
}
.control li{
    margin-bottom: 8px;
}
.control li a{
    color: #dd090b;
    background: #fff;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
}
.control li.on a{
    background: #dd090b;
    color: #fff;
}
/*图片文字*/
.pos-text{
    position: absolute;
    width: 100%;
    bottom:-2px;
    zoom: 1;
    left: 0;
    background:rgba(0,0,0,.5);
    text-align: center;
}
.pos-text p{
    color: #fff;
    line-height: 50px;
    font-weight:500;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*公共title*/
.public-news-title{
    width: 100%;
    height: auto;
    line-height: 24px;
}
.public-news-title:after{
    content: "";
    display: block;
    clear: both;
}
.public-news-title h6{
    font-size: 15px;
    color: #23527c;
    line-height: 24px;
    display: block;
}
.public-news-title h6 a{
    color: #23527c;
    display: inline-block;
}
.public-news-title .time{
    color: #9f9f9f;
    font-size: 12px;
}
.public-news-title .gray-info{
    color: #999999;
    font-size: 12px;
}
/*公共新闻文字列表*/
.public-news-text-list:after{
content:"";
    display: block;
    clear: both;
}
.public-news-text-list li{
    margin-top: 15px;
}
.public-news-text-list li a{
    font-size: 16px;
    line-height: 18px;
    color: #5a5959;
    display:block;
    padding-left: 8px;
    background:url("../image/back-dotted.jpg") no-repeat left center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.public-news-text-list li a:hover{
    color: #cc0000;
    cursor: pointer;
}
/*公共新闻内容*/
.public-news-content{
    width: 100%;
    position: relative;
}
.public-news-hd{
    padding-bottom: 12px;
    border-bottom: 4px solid #d9e3e4;
}
.public-news-hd:after{
    content: "";
    display: block;
    clear: both;
}
.public-news-hd .hd-box{
    width: 50%;
    float: left;
}
.public-news-hd h3{
    font-size:18px;
    padding-left: 18px;
    position: relative;
}
.public-news-hd h3:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 14px;
    background: #cc0000;
}
.public-news-hd  .fr a{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #23527c;
    padding: 0 16px;
}
.public-news-hd  .fr a+a{
    border-left: 1px dotted #999999;
}
.public-news-content .left-news-box,.public-news-content .center-news-box,.public-news-content .right-news-box{
    float: left;
    margin-top: 10px;
}
.public-news-content .left-news-box{
    width: 528px;
}
.public-news-content .center-news-box{
    width: 372px;
    padding-left: 14px;
    padding-right: 20px;
    border-left: 1px dotted #ccc;
}
.public-news-content .right-news-box{
    width: 298px;
    border-left: 1px dotted #ccc;
    padding-left: 14px;
}

.public-news-content .public-news-title h4{
    font-size: 18px;
    color: #a92727;
    font-weight: 500;
}
.public-news-content .public-news-title .more{
    font-size: 12px;
    color: #990000;
}
.left-img{
    position: relative;
    float: left;
}
.right-text-list{
    float: right;
}
.left-img .img{
    overflow: hidden;
}
.left-img .img img{
    width: 100%;
    height: auto;
}
.news-column-content{
    height: auto;
    overflow: hidden;
   padding-top: 16px;
    padding-bottom: 14px;
border-bottom: 1px solid #cccccc;
}
.news-column-content .left-img{
    width: 158px;
}
.news-column-content .left-img .img{
    width: 158px;
    height: 102px;
}
.news-column-content .left-img p{
    margin-top: 12px;
    line-height: 18px;
    color: #666666;
    font-size: 12px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
.news-column-content .right-text-list{
    width: 336px;
}
.news-column-content .right-text-list li:first-child{
    margin-top: 0;
}
.border-t-none{
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.news-column-content .right-text-list li a{
    color: #333333;
    font-size: 15px;
}
.news-column{
    padding-right: 8px;
}
.more{
    font-size: 12px;
    color: #990000;
}
.right-public-tab{
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}
.right-public-tab .hd{
    height: 28px;
    border-bottom: 1px solid #dddddd;
    padding-right: 8px;
}
.right-public-tab .hd li{
    float: left;
    width: 68px;
}
.right-public-tab .hd li.right-more{
    width: auto;
    float: right;
}
.right-public-tab .hd li.right-more a{
    color:#990000;
}
.right-public-tab .hd li a{
    width: 100%;
    color: #666;
    font-size: 12px;
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.right-public-tab .hd li.on a{
    background: #fff;
    color:#990000;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin-bottom: -1px;
}
.right-public-tab .bd ul li{
    margin-top: 10px;
}
.right-news-box .img-lis{
    margin-top: 20px;
}
.right-news-box .img-lis li{
    float: left;
}
.right-news-box .img-lis li+li{
    margin-left: 32px;
}
.right-news-box .img-lis li img{
    width: 105px;
    height: 70px;
}
.img-text .public-news-text-list li{
    margin-top: 10px;
}
/*底部*/
.footer{
    width: 100%;
    position: relative;
    margin-top: 30px;
}
.friend-link{
}
.friend-link .hd{
    text-align: left;
}
.friend-link h2{
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.friend-link h2:after{
    content: "";
    display: block;
    clear: both;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ff9900;
}
.news-column-content .right-text-list li a:hover{
    color:#cc0000;
}
.friend-link ul{

}
.friend-link li{
    margin-top: 12px;
    padding: 0 6px;
}
.friend-link li a{
    line-height: 18px;
    font-size: 12px;
    color: #666;
}
.friend-link li a:hover{
    text-decoration: underline;
    color: #cc0000;
}
.footer-about{
    width: 100%;
    background: #e6e6e6;
    margin-top: 22px;
}
.footer-about li{
    padding: 0;
}
.footer-about li a,.footer-about li span{
    font-size: 15px;
    color: #666;
    line-height: 56px;
}
.footer-about li a{
    padding: 0 13px;
}
.footer-about li a:hover,.footer-about li.active a{
    text-decoration: underline;
    color:#cc0000;
}
.footer-bt{
    margin-top: 20px;
    padding-bottom: 80px;
}
.footer-bt p{
    font-size: 14px;
    color: #999;
    line-height: 20px;
    margin-bottom: 10px;
}
.footer-bt p a{
    color: #164d6c;
}
.footer-bt p .icon{
    padding-left: 22px;
    background:url("../image/icon_123.png") no-repeat left center;
}

/*广告*/
.top-adv-3 .top-adv-left {
float:left;width:270px;float:left;
}
.top-adv-3 .top-adv-right {
float:left;width:270px;float:right;
}
.top-adv-3 .top-adv-center {
float:left;margin-left:6px;width:640px;
}
.top-adv-swiper-pagination {
bottom:3px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 3px;
    left: 0;
    width: 100%;
}
.advbp {
float:left;width:595px; margin-top:10px;margin-right:5px;
}

.tabtit {  
}
.tabtit li { display:inline-block;padding:10px 20px;font-size:16px;color:#666;cursor:pointer
    }
    .tabtit li a{font-size:16px;
    }
    .tabtit li.active {
    color:#cc0000;font-weight:bold;border-bottom:3px solid #cc0000;
    }
        .tabtit li.active a {font-size:16px;
        }
.jinronglogo {
border:1px solid #ddd;padding:5px 0px; clear:both;
}
    .jinronglogo li {
    display:inline-block;padding:5px 7px;
    }

.aboutmenu {
margin-top:20px;border:1px solid #ddd; float:left;width:230px;border-top:3px solid #cc0000
}
    .aboutmenu li {
    padding:10px 15px; text-align:left;font-weight:normal;font-size:16px;border-bottom:1px solid #ddd; line-height:35px;
    }
     .aboutmenu li a {
    padding:10px 15px; text-align:left;font-weight:normal;font-size:16px;
    }