
/* CSS Document */
* {
	margin:0;
	padding:0;
	list-style:none;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
body {
	margin: 0px;
	padding:0px;
	font-size: 12px;
}
form, img, ul, ol, li, dl, dd, dt, p {
	margin: 0;
	padding: 0;
	border: 0;
}
input, select {
	font-size:12px;
	margin:0;
	padding:0;
}
input, select, textarea {
	font-size:12px;
}
input {
	vertical-align:middle;
}
a {
	cursor:pointer;
	outline:none;
}
#topline {
	border:1px solid #cfdae8;
	border-left:none;
	border-bottom:none;
	overflow:hidden;
	background:#d7d7d7;
	zoom:1;
	height:43px;
}
#topnav {
	width:1000px;
	margin:0px auto;
	padding-top:12px;
}
#topnav01 {
	background: url(../image/newsicon.png) no-repeat;
	width:100px;
	padding-left:20px;
	float:left;
	lineheight:30px;
}
#topnav01 a {
	color:#333;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
}
#topnav02 {
	background: url(../image/weiicon.png) no-repeat;
	width:140px;
	padding-left:20px;
	float:left;
}
#topnav02 a {
	color:#333;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
}
#zhuban {
	float:right;
	font-size:14px;
}
/*longad*/
.longad {
	clear:both;
	width:1000px;
	height:90px;
	margin:0px auto;
}
.longad img {
	margin-top:0px;
	margin-bottom:5px;
}
/*head*/
#head {
	width:1000px;
	margin:0px auto;
	margin-top:15px;
	height:90px;
}
#logo {
	float:left;
}
/*nav*/
.col_w1000 {
	width:1000px;
	margin:0 auto;
}
#nav {
	margin:0 auto;
	height:41px;
	background: url(../image/nav_bg01.gif) repeat-x center top;
}
#colnav {
	background:url(../image/nav_bg01.gif) repeat-x;
	height:40px;
}
#colnav ul {
	background: url(../image/nav_bg02.gif) left top no-repeat;
	height:40px;
	overflow:hidden;
}
#colnav ul li {
	font-size:14px;
	height:40px;
	line-height:40px;
	background:url(../image/nav_bg02.gif) right top no-repeat;
	padding:0 14px;
	float:left;
}
#colnav ul li a {
	color:#fff;
	text-decoration:none;
}
#colnav ul li a:hover {
	color:#efc79d;
	text-decoration:none;
}
#colnav ul .pa01 {
	padding:0 30px;
	font-weight:bold;
}
#colnav ul .pa01 a {
	color:#efc79d;
}
#subnav {
	width:1000px;
	height:40px;
	border-bottom:1px solid #e1e1e1;
	overflow:hidden;
}
#subnav ul {
	height:40px;
	margin-left:-16px;
	overflow:hidden;
}
#subnav ul li {
	font-size:12px;
	height:40px;
	line-height:40px;
	background:url(../image/linegray.png) left top no-repeat;
	padding:0 14px 0 16px;
	float:left;
}
#subnav ul li a {
	color:#2b2b2b;
	text-decoration:none;
}
#subnav ul li a:hover {
	color:#ba2636;
	text-decoration:none;
}
/*coloumn01*/
#content {
	clear: both;
	margin: 20px auto;
	padding: 0px;
	width:1000px;
	text-align: left;
	overflow:hidden;
}

#left {
	float: left;
	margin: 0px;
	width: 640px;
}

#right {
	float: left;
	margin-left: 30px;
	width: 330px;
}
.tit-r {
	margin: 0px;
	height: 26px;
	padding-top: 6px;
	padding-left: 15px;
	font-size: 16px;
	font-weight: bolder;
	color: #000;
	background: url(../image/bg_jsyw.png) top right no-repeat;
	border-top: solid 4px #0f2851;
	letter-spacing: 1px;
}

#tel {
	padding-top: 9px;
	padding-left: 15px;
	font-size: 13px;
}

#cont {
	margin: 10px 0px;
	border: solid 1px #e8e8e8;
	border-top: solid 4px #dcdcdc;
}
#cont .img {
	width:600px;
}

#txt {
	margin: 10px;
	padding: 0px 10px;
	font-size: 14px;
	line-height: 2em;
}


#time {
	float: left;
	width: 46%;
	text-align: right;
	font-size:12px;
	color:#666;
}

#come {
	float: right;
	margin-bottom: 10px;
	width: 46%;
	text-align: left;
	font-size:12px;
	color:#666;
}

.pic {
	clear: both;
	margin: 5px 0px;
	text-align: center;
}

.pic-txt {
	margin: 0px;
	text-align: center;
	font-size: 14px;
}

.pic-txt2 {
	margin: 0px;
	text-align: left;
	font-size: 14px;
}

#remark {
	font-family: 楷体_GB2312;
}

#editor {
	text-align: right;
	padding-right: 26px;
	padding-bottom: 15px;
	font-size: 14px;
}

#bshare-custom {
	float: right;
	margin-bottom: 10px;
	margin-top: 5px;
}

h1 {
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 20px;
	text-align: center;
}

h2 {
	padding-left: 26px;
	font-size: 16px;
   font-weight: bold;
}

h3 {
	padding-left: 28px;
	font-size: 13px;
}

#daily {
	margin: 10px 0px;
	padding-bottom: 20px;
	width: 322px;
	border: solid 1px #e8e8e8;
}

#daily ul {
	margin: 0px;
	padding: 0px 16px;
	list-style-type: none;
}

#daily li {
	padding-left: 15px;
	background: url(../image/list-l.png) left no-repeat;
	line-height: 3em;
}

#daily li a {
	color: #000;
	text-decoration:none;
}

.content-r {
	margin: 5px 0px;
	padding-bottom: 20px;
	width: 322px;
	border: solid 1px #e8e8e8;
}
.rightgg {
   height:260px;
   margin-top:10px;
   padding-top:10px;
   text-align:center;
}

/*search*/
.searchnav {
	padding:9px 0 0 0;
	width:656px;
	float:right;
}
.left {
	float:left;
	display:inline;
	padding-top:18px;
}
#txt p {
	margin:16px auto;
}
.strip {
	float:left;
	line-height:13px;
	height:13px;
	color:#666;
	padding-left:10px;
}
.strip b {
	float:left;
}
.strip a {
	color:#fff;
	text-decoration:none;
	padding:0 5px;
}
.strip a:hover {
	color:#fff;
	text-decoration:none;
	display:inline-table;
}
.strip span {
	float:left;
}
.strip .sunshine {
	margin:3px 1px 0;
}
.strip_t {
	padding:0 0 0 58px;
	font-family:Arial;
	font-weight:bold;
	line-height:33px;
}
.strip_r {
	padding:0 0 0 58px;
	font-family:Arial;
	float:right;
	padding-left:0;
}
.strip_select {
	margin-top:3px;
	width:119px;
	height:18px;
	background:#dfdfdf;
	border:#ccc 1px solid;
	color:#666;
	cursor:pointer;
	font-size:14px;
}
.searchinput {
	width:335px;
	float:right;
	padding-top:13px;
}
.searchinput .search_input {
	border:#dedede 1px solid;
	width:180px;
	height:22px;
	padding:0 5px;
	background:#fff;
	color:#666;
	line-height:22px;
	float:left;
}
.searchinput .search_a {
	line-height:24px;
	text-align:center;
	color:#fff;
	margin-left:10px;
	background:#b21112;
	float:left;
	display:block;
	width:70px;
	height:24px;
	text-decoration:none;
	font-size:14px;
}
.searchinput .search_a:hover {
	color:#fff;
	background:#5cb9e2;
	text-decoration:none;
}
.search_listbox {
	float:left;
	position:relative;
	z-index:2;
	width:60px;
}
.searchinput .search_listinput {
	border:none;
	width:30px;
	height:22px;
	padding:0 5px;
	background:#fff;
	color:#a0a0a0;
	line-height:22px;
	float:left;
}
.searchinput .search_list {
	float:left;
	background:url(http://i6.chinanews.com/2013/ho/image/2014/serach_b.jpg) no-repeat;
	display:block;
	width:19px;
	height:19px;
	margin:1px 1px 0 0;
}
/*foot*/
#bottom {
	color:#333;
	margin:0px auto;
	padding-top:20px;
	width:100%;
}
#bottom a {
	color:#333;
	font-size:12px;
	text-decoration:none;
}
#bottomnav {
	background:url(../image/bottom_bg.jpg) repeat-x;
	height:39px;
	line-height:22px;
	text-align:center;
}
#bottomnav ul {
	margin:0px auto;
	padding:0px;
	width:900px;
}
#bottomnav li {
	border-left:1px solid #000;
	padding:0px 20px;
	margin-top:9px;
	list-style:none;
	float:left;
}
#bottominformation {


	background:#d7d7d7;

	text-align:center;
}
#bottominformation a {
	color:#979797;
	text-decoration:none;
}
#bottominformation a:hover {
	color:#979797;
	text-decoration:underline;
}


.top{background:#efefef;height:44px;border-bottom: 1px solid #d9d9d9;}
.top-nav{width: 1000px;line-height: 44px;margin: 0 auto;color:#d1d1d1;height: 44px;}
.nav-l{width:944px;}
.nav-l li{width: 33px;overflow: hidden;float: left;}
.nav-l a{color:#888; border-left: 1px solid #d1d1d1;padding-left: 4px;}
.nav-l a:hover{color: red;}
.nav-l .cns-home{width: 86px;}
.nav-l .cns-home a{color:#6f6f6f;font-size: 14px;font-weight: bold;border:none;}
.fl { float:left; }


.pagebottom{
	margin:15px auto;
	color:#737373;
	font-size:12px;
	clear:both;
}

.pagebottom_1{color:#737373;height:30px;font-size:14px;line-height:30px;text-align:center;background:none;}
.pagebottom a{color:#737373; text-decoration:none;}
.pagebottom a:hover{color:#737373; text-decoration:underline;}
.pagebottom_2{
	text-align:center;
	line-height:26px;
	padding-top:5px;
	margin-top:3px;
}

