.secondDeclare {padding: 60px 0 40px;display: none;}
.secondDeclare .list-title {text-align: center;font-size: 18px;color: #333;margin-bottom: 35px;}
.secondDeclare .list-title span {padding: 0 140px;background: url(../image/CqgNOl3XTl2Ae01dAAAAAAAAAAA3965757.icon-6_07.jpg) repeat-x left center;}
.secondDeclare .list-title strong {background: #e4e4e4;padding: 0 25px;}
.secondDeclare .list-brief {line-height: 26px;}
.secondDeclare .list-brief p {margin-bottom: 20px;}