.head_channel_news .logo {
	width: auto;
}
.pic_1 .dis a img {width:100% !important;max-width:100% !important;}
.wrapper{
	width: 960px;
}
.con_lft,.xiezhen_con{
	width: 650px;
}
#con_lft,#nr_left,.jianbiao,#context{
	width: 618px;
}
.jianbiao,.about_news{
	width: 598px;
}
.con_box02{
	width: 318px;
}
.xiezhen_box,.xiezhen_con{
	width: 648px;
}
.news_ph {
    width: 320px;
}
#pages { margin:15px auto; text-align:center; clear:both;}
#pages a { padding:3px 6px 2px; margin:3px; border:1px solid #B9DFF9; text-align:center; color:#077ac7;}
#pages a.now{ background:#077ac7; color:#fff; border:0;}
#pages a:hover,#pages a.now:hover { background:#077ac7; color:#fff;}


.cont1 .kuang{
	margin-right: 7px;
}
#huobao{
	height: 270px;
}
/*ipad pro*/
@media screen and (max-width:1024px){



}
/*ipad*/
@media screen and (max-width: 1000px){
.head_wrapper,.ban img,#main,.content,.right,.kuang2,.shequ li,.mid2 .kuang,.con_lft, .xiezhen_con,#con_lft, #nr_left, .jianbiao, #context,.wrapper{
	width: 100%;
}
.mid,.mid2{
	width: 52%;
	margin-left: 0;
}
.zhuanti dd{
	text-align: left;
}
.xinwen{
	width: 100%;
	padding: 0;
	margin: 0;
}
.xinwen li{
	width: 93%;
}
.wrap,.k_l{
	width: 100%;
}
.k_l{
	width: 98%;
	margin: 0 auto;
	padding: 0 1%;
}
.list_news2 li{
	width: 80%;
}
}
/*iphone*/
@media screen and (max-width: 767px){
.head_channel_news .logo{
	width: 100%;
	height: auto;
}
.tuijian{
	float: none;
	padding-top: 0;
}
.head_channel_news ul {
	height: auto;
	overflow: hidden;
}
.head_channel_news ul li{
	border-right:none;
}
#img_wrap,.left,.kuang,#img_wrap img,.pic_1 .dis a,#font_hd,.lkff,#ifocus_opdiv,.mid, .mid2,.pic,.scrolldoorFrame{
	width: 100%;
}
.mid{
	margin-left: 0;
	height: auto;
}
.pic{
	text-align: center;
	margin: 0;
	width: 50%;
}
.pic img,.zhuanti img{
	margin: 0 auto;
}
#xinwenpic,#shipinxinwen,#sdnews,#yuanchuang{
	height: auto;
}
.zhuanti a{
	    text-align: center;
    display: block;
}
.xinwen2{
	margin: 0;
}
#nr_left{
	padding: 0;
}
.jianbiao{
	width: 93%;
}
#context p{
	text-indent: 0 !important;
}
.xiezhen_box, .xiezhen_con,.news_ph,.con_box02{
	width: 100%;
	height: auto;
}

}

