html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.a_lay{
    color: #1e63b0;
}
.a_lay:hover{
    text-decoration: underline;
}

html,
body {
    min-height: 100%;
}

#popup{
    cursor: pointer;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #333;
}

/* logo修改 */
.header-hh .watermark img{
    border-radius: 5px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input,
textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
/* 底部 */
.footer{
    width: 100%;
    /* height: 525px; */
    background: #575757;
}
.footer .qrCode{
    width: 1200px;
    margin: 0 auto;
    padding-top: 54px;
    display: flex;
    justify-content: space-around;
}
.footer .qrCode h2{
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    font-size: 19px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.footer .qrCode .border-bottom{
    margin-bottom: 12px;
    border-bottom: 1px solid #686868;
}

.footer .qrCode .container-div{
    width: 280px;
}
.footer .qrCode .container-div img{
    width: 105px;
    height: 105px;
    float: left;
}
.footer .qrCode .container-div .hp{
    
    float: left;
    width: 160px;
    margin-left: 10px
}
.footer .qrCode .container-div .hp h3 {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
}
.footer .qrCode .container-div .hp p {
    line-height: 14px;
    font-size: 10px;
    color: #fff;
}
.footer .wrap{
    width: 1050px;
    margin: 0px auto;
    overflow: hidden
}
.footer .wrap .about {
    height: 37.5px;
    background: url('../image/btn_b.png') repeat-x bottom;
    text-align: center;
}
.footer .wrap .about a{
    padding: 0 18.75px;
    line-height: 37.5px;
    color: #f3f3f3;
    font-size: 12px;
}
/* 版权 */
.footer .wrap .copyright{
    margin-top: 11.25px;
}
.footer .wrap .copyright p{
    text-align: center;
    color: #b8b8b8;
    line-height: 22.5px;
    position: relative;
    font-size: 10.5px;
    margin: 0;
}
.footer .wrap .icon{
    width: /*849*/991px;
    height: 95px;
    margin: 0 auto
}
.container-div.wei{
    display: block;
}
.container-div.wei.on{
    display: none;
}
.landi{
    text-align: center;
    background-color: #1e63b0;
    padding: 1px 6px;
    color: #fff;
}
button{
    outline:none;
}

/* 资讯 */

/* 县市区 */
.nav li{
    position: relative;
}
.partyA,.countyA{
    width: 340px;
    padding: 10px 20px;
    background: #FFF;
    opacity: .8;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 10px;
    margin-left: -156px;
    display: none;
}
.partyA::after{
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    transform: rotate(90deg); /*顺时针旋转90°*/
}
.countyA::after{
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    transform: rotate(90deg); /*顺时针旋转90°*/
}
.nav li:nth-child(2):hover .partyA{
    display: flex;
}
.nav li:nth-child(3):hover .countyA{
    display: flex;
}
.partyA a,.countyA a{
    color: #000;
    display: flex;
    width: 100px;
    padding: 5px 0;
}
.countyA a:hover{
    color: #2ea7e0;
}
.partyA a:hover{
    color: #2ea7e0;
}
@media screen and (max-width: 1200px) {
    body,.footer{width:1400px;}
    
}