@charset "utf-8";
/* CSS Document */
#main { width:1000px;}
#main_container { background:none; width:1000px;}
#newsLeft { width:690px; background-position:0 -107px !important; border-right:1px solid #ddd; min-height:1200px;} /*修改定位及背景图*/
#newsLeft, #newsRight h5, #hotNews, #hotVideo dd { background:rgba(0, 0, 0, 0) url("../images/U386P932DT20150711193428.png") no-repeat scroll 0 0};
#newsRight {float:right;border-left:1px solid #ddd;}
#newsRight h5{background-position: -690px 0px;}
#hotNews {background-position: -690px -32px;}
#location{width:660px; margin:0 5px; height:30px; line-height:30px; border-bottom:#ddd solid 1px; padding-right:10px; text-align:right;}
#newsArea{ width:660px;}
#newsTitle { width:660px;}
#newsInfo { width:640px;}
#newsText { width:640px; margin:20px 10px;}


<!--[932,3,22] published at 2021-12-23 18:42:37 from #10 by 赵谦 -->  
