/*文章附件*/
.attachments {width: 100%;margin: 40px auto;overflow: hidden;border: 1px solid #eee;}
.attachments label {color: #59A5FF;font-size: 16px;height: 45px;line-height: 45px;display: block;border-bottom: 1px solid #eee;padding-left:20px;}
.attachments ul {list-style: none;padding: 0}
.attachments ul li {border-bottom: 1px dashed #EEE;height: 45px;line-height: 45px;padding: 0 20px;}
.attachments ul li:last-child {border-bottom: none;}
.attachments .attach-item .attach-size {font-size: 14px;color: #CCC;float: right!important;}
.attachments .attach-download {display: inline-block;width: 70%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden}
.attachments .attach-download:hover{color: #59A5FF;}
.attachments .icon-filetype{width: 18px; height: 18px; display: inline-block;background: url(http://res.cnwest.com/t/site/10001/663789250d35fb30006597dcddc4be8b/assets/cnwest2022/public/images/filetype.png);  float: left;margin-right: 10px;margin-top: 13px;}
.attachments .icon-filetype-excel{background-position: 0px 0;}
.attachments .icon-filetype-other{background-position: -18px 0;}
.attachments .icon-filetype-img{background-position: -36px 0;}
.attachments .icon-filetype-ppt{background-position: -54px 0;}
.attachments .icon-filetype-word{background-position: -72px 0;}
.attachments .icon-filetype-zip{background-position: -90px 0;}
.attachments .icon-filetype-psd{background-position: -108px 0;}

/*图集*/
.gallery{text-align:center;margin-top:20px;line-height: 1.8em;}
.gallery div{display:inline-block;overflow:hidden;padding:0px 0px 8px 0px;}

.gallery a{display:inline-block; position: relative;border:1px solid #ededed;}
.gallery a:before,.gallery a:after {position: absolute;border-bottom:1px solid #ededed;background:#fff;content: "";display: block;height: 100%;}
.gallery a:before {z-index: -1;bottom: -4px;right:4px;width: calc(100% - 10px);}
.gallery a:after {z-index: -2;bottom: -8px;right:8px;width: calc(100% - 20px);	}

.gallery a img{max-width:640px;display:block;}
.gallery a span {position: absolute;top: 10px;left: -22px;background: #2b99ff;color: #fff;width: 80px;line-height: 20px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);text-align: center;font-size: 12px;box-shadow: 0 1px 2px rgba(34,25,25,0.4);}

/*投票*/
.vote-hang-data{margin-top: 40px auto;}
.vote-hang-element{text-indent: 0;}
/*浮动*/
.clearfix:after{content:"";display:block;clear:both;visibility:hidden;height:0}
.pull-left{float: left;}
.pull-right{float: right;}

.cloud-overflow-ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}/*文字溢出隐藏*/

.vote-link {text-indent: 0;line-height: 40px;margin: 40px auto;background: #FFFFFF;border: 1px solid #E1E1E1;border-radius: 2px;padding:10px 20px;color:#59A5FF}/*链接*/
.vote-link .new-icon-huodongbaoming,.vote-link .new-icon-zhuanti{color: #379EF1;font-size: 18px;margin-left: 10px;vertical-align: middle;}
.vote-link img{vertical-align: text-bottom;}
.vote-link a {display:block;font-size: 16px;color: #4B4B4B;text-decoration: underline;}
.vote-link a:hover{color:#59A5FF}

.vote-hang-element{position: relative;background: #FFFFFF;border: 1px solid #E1E1E1;border-radius: 2px;margin: 0 auto 10px;}
.vote-hang-top{padding: 10px 20px;}
.vote-hang-top>img{vertical-align: middle;}
.vote-hang-top>span{color: #59A5FF;font-size: 16px;}
.vote-hang-title{font-size: 16px;color: #333333;padding: 0 20px;}
.vote-hang-model{padding: 0 20px 10px;font-size: 12px;color: #999999;border-bottom: 1px dashed #D9D9D9;margin-bottom: 10px;}
.vote-hang-item{padding: 0 20px 10px;}
.vote-multi-item>input{-webkit-appearance: none;width: 16px;height: 16px;background: #FFFFFF;border: 1px solid #BEBEBE;margin-top: 0;margin-left: 0;vertical-align: middle;border-radius: 3px;}
.vote-radio-item>input{-webkit-appearance: none;width: 16px;height: 16px;border-radius: 50%;margin-top: 0;margin-left: 0;vertical-align: middle;border: 1px solid #BEBEBE;}
.vote-radio-item>label{
    /*margin-top: -8px!important;*/
}
.vote-multi-item>label{
    /*margin-top: -7px!important;*/
}
.vote-hang-item>label{width: 90%;color: #666666;font-size: 14px;margin-top: -1px;margin-left: 8px;}
.vote-multi-item input.checked{background-image: url(http://res.cnwest.com/t/site/10001/663789250d35fb30006597dcddc4be8b/assets/cnwest2022/public/images/hang/muti_checked.png);}
.vote-radio-item input.checked{background-image: url(http://res.cnwest.com/t/site/10001/663789250d35fb30006597dcddc4be8b/assets/cnwest2022/public/images/hang/checked-sky.png);}
.hang-submit-button:hover,
.vote-hang-submit:hover{cursor: pointer;}
.vote-hang-submit{height: 35px;line-height:35px;background: #59A5FF;color: #FFFFFF;text-align: center;}
.vote-hang-alert{display: none;width: 110px;height: 35px;padding: 0 10px;position: absolute;bottom: 0;top: 0;left: 0;right: 0;margin: auto;opacity: 0.4;background: #000000;border-radius: 2px;color: #FFFFFF;font-size: 15px;text-align: center;line-height: 35px;}
.vote-hang-item-title{font-size: 14px;color: #666666;margin-bottom: 5px;}
.vote-hang-item-pre>div:first-child{height: 13px;background: #E5E5E5;}
.vote-hang-item-pre>div:first-child>span{display: block;height: 13px;background: #2589FF;}
.vote-hang-item-pre>div:last-child{font-size: 12px;color: #4B4B4B;text-align: right;}
.vote-hang-compare-title{padding: 0 20px;font-size: 14px;color: #666666;}
.vote-hang-compare-image{margin: 0 20px;height: 20px;}
.vote-hang-compare-image>div:first-child{border-top-left-radius: 10px;border-bottom-left-radius: 10px;background: #67ADFF ;height: 20px;}
.vote-hang-compare-image>div:last-child{border-top-right-radius: 10px;border-bottom-right-radius: 10px;background: #F6A623;height: 20px;}
.vote-hang-compare-pre{padding: 10px 20px;font-size: 14px;color: #4B4B4B;}
.vote-hang-compare-button{font-size: 12px;color: #666666;margin-bottom: 10px;}
.vote-hang-element .border-radius{border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
/*关联视频链接*/
.video-link-element{position: relative;background: #FFFFFF;border: 1px solid #E1E1E1;border-radius: 2px;margin: 40px auto;text-indent: 0;}
.video-link-top{padding: 0 10px;height: 40px;line-height: 40px;}
.video-link-top>img{vertical-align: middle;}
.video-link-top>span{color: #59A5FF;font-size: 16px;}
.video-link-player{max-height: 320px;min-width: 540px;width: 100%;height: 100%;}

.video-link-player-container{position:relative;background:#000;width:100%;}
.video-link-player-container:after {content: '';display: block;padding-top: 56.25%;z-index: 1;}
.video-link-player-container video{position: absolute;z-index: 2;top: 0;left: 0;width: 100%;height: 100%;}

.video-link-player iframe{width: 100%;height: 100%;}
.video-link-title{height: 40px;line-height: 40px;font-size: 16px;padding: 0 10px;}
.vote-blue{color: #67ADFF;}
.vote-yellow{color: #F6A623;}

/*相关阅读*/
.relatedread{width:100%;margin:40px auto}
.relatedread .panel-heading{padding:2px 10px;border:1px solid #ddd;height:40px;line-height:40px;color:#59A5FF;}
.relatedread .panel-body{padding:15px;border:1px solid #ddd;margin-top:-1px}
.relatedread .panel-body li{line-height:35px}
.relatedread .panel-body li a:hover{color:#2d7eeb;cursor:pointer}