body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0;-webkit-tap-highlight-color:transparent }

html {
    font-size : 10px;
}
@media only screen and (min-width: 360px){
    html {
        font-size: 11.25px !important;
    }
}
@media only screen and (min-width: 375px){
    html {
        font-size: 11.7188px !important;
    }
}
@media only screen and (min-width: 384px){
    html {
        font-size: 12px !important;
    }
}
@media only screen and (min-width: 414px){
    html {
        font-size: 12.9375px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 13.375px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 15px !important; 
    }
}
@media only screen and (min-width: 600px){
    html {
        font-size: 18.75px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 20px !important; 
    }
}
button,input,select,textarea{outline:0;}
textarea{resize:none;}
ul,li{list-style:none;}
img{outline:0;border:none;}
button,input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:none;}
a{color:#333;text-decoration:none; -webkit-tap-highlight-color: transparent;}
a:hover{text-decoration:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block; margin: 0; padding: 0;}
body{font-family:microsoft yahei,Verdana,Arial,Helvetica,sans-serif; }

.logo{ width: 98%; height: auto; overflow: hidden; font-size: 0rem; margin: 1rem auto;}
.logo img{ width: 100%;}

.head_l { float:left; width:50%; margin:15px; }
    .head_l img {width:100%;    }
.head_r {float:right; width:38%; margin:20px 15px 15px 0;  }
    .head_r .tel {  text-align:right; }
        .head_r .tel a {color:#ff8f02;          }
    .head_r .f1 {font-size:12px; color:#999;  line-height:22px;  }
    .head_r .f2 {font-size:18px;    }

@media (min-width: 768px){
   .head_r .f1 {font-size:15px; margin-bottom:20px;    }
    .head_r .f2 {font-size:30px;    }
    .head_r { margin-top:30px;   }
}



.banner{ width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box; margin-top: 0.1rem;}
.banner img{ display: block; width: 100%;}

.daohang{width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box;}
.daohang li{ float: left; width: 33.333%; text-align: center; height: 3.2rem; background: #006600; color: #ffffff; font-size: 1.4rem; line-height: 3.2rem; overflow: hidden;}
.daohang li a{ color: #FFFFFF;}
.daohang li:nth-child(4),.daohang li:nth-child(5),.daohang li:nth-child(6){ background: #0d590d;}

@media (max-width: 768px){
    .daohang li{ float: left; width: 33.333%; text-align: center; height: 3.0rem; background: #006600; color: #ffffff; font-size: 1.2rem; line-height: 3.0rem; overflow: hidden;}
}

@media (max-width: 640px){
    .daohang li{ float: left; width: 33.333%; text-align: center; height: 2.5rem; background: #006600; color: #ffffff; font-size: 1.2rem; line-height: 2.5rem; overflow: hidden;}
}





/*产品中心*/
.cpzx{ width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem 0.8rem 0.8rem; box-sizing: border-box; margin-top: 1.5rem;}
.cpzx_tit{ color: #333333; font-size: 2.0rem; font-weight: bold; height: 3.0rem; line-height: 3.0rem; overflow: hidden; text-align: center;}
.cpzx_flmc{ width: 100%; height: auto; overflow: hidden; margin-top: 0.8rem;}
.cpzx_flmc li{ float: left; width: 23.33%; background: #006600; height: 2.4rem; line-height: 2.4rem; text-align: center; color: #ffffff; font-size: 1.4rem; margin-right: 2.22%;}
.cpzx_flmc li a{ color: #ffffff; }
.cpzx_flmc li:last-child{ float: right; margin-right: 0%;}
.cpzx_tw{ width: 100%; height: auto; overflow: hidden;}
.cpzx_tw li{ float: left; width: 46.66%; height: auto; overflow: hidden; padding-top: 0.5rem; padding-bottom: 0.7rem;}
.cpzx_tw li:nth-child(2),.cpzx_tw li:last-child{ float: right; margin-right: 0%;}
.cpzx_tw li img{ display: block; width: 100%; }
.cpzx_tw li span{ display: block; color: #333333; font-size: 1.4rem; height: 3.0rem; line-height: 3.0rem; text-align: center; overflow: hidden;}
.cpzx_more{ width: 12.0rem; border: 0.1rem solid #dadada; height: 2.5rem; line-height: 2.5rem; text-align: center; margin: 0 auto; color: #333333; font-size: 1.4rem; box-sizing: border-box;}
.cpzx_more a{ color: #333333; display: block;}

/*成功案例*/
.ggal{ width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box; margin-top: 1.4rem;}
.ggal_tit{ width: 100%; background: #006600; height: 3.0rem; line-height: 3.0rem; }
.ggal_tit a{ color: #ffffff; display: block;}
.ggal_tit a:first-child{ font-size: 1.6rem; padding-left: 0.7rem; float: left;}
.ggal_tit a:last-child{ font-size: 1.2rem; float: right; padding-right: 0.8rem;}
.ggal_tw{ width: 100%; height: auto; overflow: hidden; margin-top: 1.0rem;}
.ggal_tw li{ float: left; margin-bottom: 0.4rem; height: 10.0rem; position: relative; width: 49.66%; overflow: hidden;}
.ggal_tw li:nth-child(2),.ggal_tw li:last-child{ float: right;}
.ggal_tw li img{ display: block; width: 100%; }
.ggal_tw li i{ display: block; width: 100%; height: 3.0rem; position: absolute; left: 0; bottom: 0; background: #000000; opacity: 0.6;}
.ggal_tw li span{ display: block; width: 100%; height: 3.0rem; position: absolute; left: 0; bottom: 0; line-height: 3.0rem; text-align: center; overflow: hidden; color: #ffffff; font-size: 1.4rem;}

/*关于我们*/
.gywm{ width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box; margin-top: 1.9rem;}
.gywm_tit{ width: 100%; background: #006600; height: 3.0rem; line-height: 3.0rem; }
.gywm_tit a{ color: #ffffff; display: block;}
.gywm_tit a:first-child{ font-size: 1.6rem; padding-left: 0.7rem; float: left;}
.gywm_tit a:last-child{ font-size: 1.2rem; float: right; padding-right: 0.8rem;}
.gywm_tw{ width: 100%; height: auto; overflow: hidden; border-bottom: 0.1rem dotted #cccccc; margin-top: 1.3rem; padding-bottom: 0.8rem;}
.gywm_tw img{ display: block; float: left; width: 10.0rem; }
.gywm_tw_you{ float: right; width: calc(100% - 11.0rem); height: auto; }
.gywm_tw_you span{ display: block; color: #333333; font-size: 1.4rem; font-weight: bold; height: 2.0rem; line-height: 2.0rem; overflow: hidden;}
.gywm_tw_you p{ color: #666666; font-size: 1.2rem; line-height: 2.0rem; height: 6.0rem;}
.gywm_img{ width: 100%; height: auto; overflow: hidden; margin-top: 1.0rem;}
.gywm_img li{ float: left; width: 32%; height: 6.7rem; margin-right: 2%;}
.gywm_img li:last-child{ float: right; margin-right: 0%;}
.gywm_img li img{ display: block; width: 100%; }
.gywm_tell{ width: 100%; background: #ff4200; height: 3.0rem; line-height: 3.0rem; text-align: center; overflow: hidden; color: #ffffff; font-size: 1.4rem; margin-top: 1.0rem;}
    .gywm_tell a {color: #ffffff; 
    }
@media (max-width: 768px){
    .gywm_tw_you p{ color: #666666; font-size: 0.8rem; line-height: 1.1rem; height: 6.0rem;}
}

@media (max-width: 640px){
    .gywm_tw_you p{ color: #666666; font-size: 0.5rem; line-height: 1.1rem; height: 6.0rem;}
}


/*服务热线*/
.tell{  background: #ff4200; height: 3.0rem; line-height: 3.0rem; text-align: center; overflow: hidden; color: #ffffff; font-size: 1.4rem; margin-top: 1.0rem;
    margin: 0 0.8rem; box-sizing: border-box; margin-top: 0.1rem;

}



/*产品-分类*/
.titl{ background: #006600; height: 3.0rem; line-height: 3.0rem; font-size: 1.6rem; padding-left: 0.7rem; color: #fff; }
.pro_sub{width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box; margin-top: 1.9rem;}
.pro_sub_box{ margin-top: 0.5rem;}
.pro_sub_box li{ width: 33%; float: left; font-size: 1.2rem; height: 2.2rem; line-height: 2.2rem; overflow: hidden;}

/*产品-详细*/
.prod{width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box; margin: 1.9rem 0 1.9rem 0;}
.prod_body{ width: 100%; height: auto; overflow: hidden; padding: 1.5rem 0.8rem 2.0rem 0.8rem; box-sizing: border-box; color: #333333; }
.prod_body img{display: block; margin: 0 auto; max-width: 100%;}
.prod_body h2{ font-size: 1.3rem; margin: 1.5rem 0 0.5rem 0;}
.prod_body p{margin-bottom: 1rem;}
.prod_body table {  border-collapse:collapse; width:100%; margin-bottom:10px; overflow: hidden; font-size: 0.8rem; line-height: 1.5rem; }
.prod_body table,.prod_body th, .prod_body td  {  border: 1px solid #C1C1C1; text-align:center; font-family:Arial;  }
.prod_body th{ background-color:#EAEAEA; }
.prod_body a{ text-decoration: underline; }
.prod_body ul,.prod_body ol{ padding-left: 1.5rem; margin-bottom: 1rem; }
.prod_body li{ padding-left: 0.5rem; list-style:decimal; }

.prod_f{ background-color: #e9e9e9; position: relative; padding: 1rem; line-height: 1.5rem; margin-top: 2rem;}
.prod_f .prv{}
.prod_f .bac{position: absolute; right: 2rem; top:1.5rem; }

@media (max-width: 768px){
    .prod_body{ font-size: 0.9rem; line-height: 1.5rem;}
}
@media (max-width: 640px){
    .prod_body { font-size: 1.0rem; line-height: 1.7rem;}
}

/*产品-相关内容*/
.pro_rela{width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box; margin: 1.9rem 0 1.9rem 0;}

/* 相关产品 滚动 */
.picScroll-left{ width:100%;  overflow:hidden; position:relative; font-size:12px; }
.picScroll-left a{ color:#666; }
.picScroll-left .hd{ overflow:hidden;  height:30px; padding:0 10px; position:absolute; top:40px; width:97%;}
.picScroll-left .hd .prev{ display:block;  width:26px; height:26px; float:left;overflow:hidden;cursor:pointer; background:url("../image/icon1.png") no-repeat;}
.picScroll-left .hd .next{ display:block;  width:26px; height:26px; float:right;overflow:hidden;cursor:pointer; background:url("../image/icon2.png") no-repeat;}
.picScroll-left .bd{ padding:0 0 5px 0px;  margin-top:10px;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ float:left; _display:inline; overflow:hidden; width: 33%; height:auto;  margin-right:10px; text-align:center;  }

.picScroll-left .bd ul li .pic{ text-align:center; }
.picScroll-left .bd ul li .pic img{display:block;    width: 100%; }
.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll-left .bd ul li .title{ line-height:20px;   }

@media (max-width: 768px){
    .picScroll-left .bd ul li{  width: 32%; font-size:1rem; line-height: 2rem;   }

}


@media (max-width: 640px){
    .picScroll-left .bd ul li{  width:48%; font-size:1.2rem; line-height: 2rem;   }
}








/*服务中心-详细*/
.service{width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box; margin: 1.9rem 0 1.9rem 0;}
/*.service_body{ width: 100%; height: auto; overflow: hidden; padding: 1.5rem 0.8rem 2.0rem 0.8rem; box-sizing: border-box; color: #333333; font-size: 1.6rem; line-height: 2.5rem;}*/
.service_body{ width: 100%; height: auto; overflow: hidden; padding: 1.5rem 0.8rem 2.0rem 0.8rem; box-sizing: border-box; color: #333333; font-size: 0.9rem; line-height: 2rem;}



.service_body img{display: block; margin: 0 auto; max-width: 100%;}
.service_body h2{ font-size: 1.3rem; margin: 0.3rem 0;}
.service_body p{ font-size: 0.9rem; line-height: 1.5rem;}
.service_body table {  border-collapse:collapse; width:100%; margin-bottom:10px; overflow: hidden; font-size: 0.9rem; line-height: 2rem; }
.service_body table,.service_body th, .service_body td  {  border: 1px solid #C1C1C1; text-align:center; font-family:Arial;  }
.service_body th{ background-color:#EAEAEA; }
/*
.service_body ol,.service_body ul{ margin-left: 1rem; font-size: 0.9rem; line-height: 2rem;}
.service_body li{  padding-left: 1rem; list-style:decimal;}
*/
.service_d { margin-left: 1rem;}
.service_d li{  padding-left: 0.5rem; list-style:decimal; font-size: 0.9rem; line-height: 2rem;}

.honor{ width: 100%; height: auto; overflow: hidden; padding-top: 0.5rem; padding-bottom: 1.2rem;}
.honor li{ width: 33%; float: left; padding: 1.0rem 0.8rem 0rem 0rem; height: auto; overflow: hidden; box-sizing: border-box;}
.honor li img{ display: block; width: 100%; }
.honor li span{ display: block; color: #333333; font-size: 1.2rem; line-height: 2.5rem; height: auto; overflow: hidden;}


@media (max-width: 768px){
    .honor li{ width: 33%; padding: 1.0rem 1rem 0rem 0rem; height: 10.5rem; }
    .honor li span{ font-size: 1.0rem;  }



}

@media (max-width: 640px){
    .honor li{ width: 50%; padding: 1.0rem 0.8rem 0rem 0.8rem; height: 12.5rem;  }
    .honor li span{ font-size: 1.2rem;  }



}








/*新闻资讯*/
.xwzx{ width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box; margin-top: 1.9rem;}
.xwzx_tit{ width: 100%; background: #006600; height: 3.0rem; line-height: 3.0rem; }
.xwzx_tit a{ color: #ffffff; display: block;}
.xwzx_tit a:first-child{ font-size: 1.6rem; padding-left: 0.7rem; float: left;}
.xwzx_tit a:last-child{ font-size: 1.2rem; float: right; padding-right: 0.8rem;}
.xwzx_wen{ width: 100%; height: auto; overflow: hidden; margin-top: 0.5rem;}
.xwzx_wen li{ color: #333333; font-size: 1.5rem; height: 3.2rem; line-height: 3.2rem; overflow: hidden;}
.xwzx_wen li span{ display: inline-block; color: #1b5a9d; font-size: 1.2rem; font-family: "宋体"; padding: 0 0.4rem;}

.xwzx_d{ width: 100%; height: auto; overflow: hidden; padding: 1.5rem 0.8rem 2.0rem 0.8rem; box-sizing: border-box; color: #333333; font-size: 1.2rem; line-height: 2.5rem;}
.xwzx_d img{display: block; margin: 0 auto; max-width: 100%;}
.xwzx_d ul,.xwzx_d ol{ padding-left: 1rem; }
.xwzx_d li{ padding-left: 0.5rem; list-style:decimal;}

@media (max-width: 768px){
    .xwzx_wen li{ font-size: 1.2rem; height: 2.5rem; line-height: 2.5rem; }
    .xwzx_d{ font-size: 1.0rem; line-height: 1.8rem;}
}

@media (max-width: 640px){

    .xwzx_d{ font-size: 1.2rem; line-height: 2rem;}

}



/*@media (max-width: 640px){

}*/





/*友情链接*/
.yqlj{ width: 100%; height: auto; overflow: hidden; margin-top: 1.0rem;}
.yqlj_tit{ width: 100%; overflow: hidden; height: 3.0rem; line-height: 3.0rem; color: #006600; font-size: 1.5rem; background: #bbe4bc; padding-left: 1.5rem;}


/*
.yqlj_tit li{ width: 50%; float: left; height: 3.0rem; line-height: 3.0rem; text-align: center; color: #ffffff; font-size: 1.5rem; background: #006600;}
.yqlj_tit li.active{ background: #1b5a9d;}*/



#hzhbbd li{ display: none;}
#hzhbbd li ul li{ display: block;}
.yqlj_text{ width: 100%; height: auto; overflow: hidden; padding: 0.8rem; box-sizing: border-box;}
.yqlj_text li{ float: left; color: #666666; font-size: 1.2rem; height: 2.4rem; line-height: 2.4rem; padding: 0 1.6rem; white-space: nowrap;}
.yqlj_text li a{color: #666666;}
.yqlj_pic{width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem 0.8rem 0.8rem; box-sizing: border-box;}
.yqlj_pic img{ display: block; float: left; width: 7.5rem; height: 5.0rem; margin-top: 0.8rem;  margin-right: 0.8rem;}

.copyright{ background-color: #bbe4bc;  width: 100%; height: auto; overflow: hidden; padding: 0.8rem 0.8rem 2.0rem 0.8rem;  margin-top: 2rem; box-sizing: border-box; border-top: 0.1rem solid #dadada; text-align: center; color: #999999; font-size: 1.2rem; line-height: 2.0rem;}

.toubu{ height: 3.4rem; background: #006600; position: relative; margin: 0 0.8rem; box-sizing: border-box; margin-top: 0.1rem; }
.shouye{ display: block; width: 3.0rem; position: absolute; left: 0; top: 0; height: 3.4rem;}
.shouye img{ display: block; width: 2.2rem; height: 1.9rem; float: right; margin-top: 0.6rem;}
#toubu_nav{ width: 7.0rem; position: absolute; right: 0; top: 1rem; height: 3.4rem;}
#toubu_nav { color: #ffff00;}
#toubu_nav img{ display: block; float: left; width: 2.2rem; height: 1.3rem; margin-top: 0.9rem;}
.lanmumz{ width: 100%; height: 3.4rem; line-height: 3.4rem; text-align: left; overflow: hidden; padding: 0 1.0rem; box-sizing: border-box; color: #ffffff; font-size: 1.8rem;}
.lanmumz a{ color: #FFFFFF;}
.toubu_daohang{  background: #006600; position: absolute; right: 0; top: 3.4rem; padding: 0 2.0rem; display: none; z-index: 999;
    filter:alpha(opacity=85);   -moz-opacity:0.85;   -khtml-opacity: 0.85;  opacity: 0.85;  }
.toubu_daohang li{ color: #ffffff; font-size: 1.4rem; height: 2.0rem; line-height: 2.9rem;}
.toubu_daohang li a{ color: #ffffff;}

@media (max-width: 768px){
    .toubu_daohang{width: 89.2%; }
    .toubu_daohang li{  font-size: 1.0rem; height: 2.0rem; line-height: 2.0rem; float:left; width: 30%;}
}

@media (max-width: 640px){
    .toubu_daohang{width: 87%; }
    .toubu_daohang li{  font-size: 1.2rem; height: 2.3rem; line-height: 2.3rem; float:left; }
}



.lanmu_nav{ width: 100%; height: auto; overflow: hidden; padding: 1.2rem 0.8rem; box-sizing: border-box; border-bottom: 0.1rem dotted #cccccc;}
.lanmu_nav li{ float: left; width: 31%; height: 2.5rem; line-height: 2.5rem; overflow: hidden; text-align: center; background: #38383c; color: #ffffff; font-size: 1.4rem; margin-right: 3.5%; border-radius: 0.3rem;}
.lanmu_nav li a{ color: #FFFFFF;}
.lanmu_nav li:last-child{ float: right; margin-right: 0%;}
.lanmu_nav li:first-child{ background: #1b5a9d;}

.liebiao{ width: 100%; height: auto; overflow: hidden;  padding: 0 0.8rem;box-sizing: border-box; margin: 0 0 1.9rem 0;}




.lbbox{ width: 100%; height: auto; overflow: hidden; padding-bottom: 1.4rem;}
.lbbox li{ width: 100%; padding: 1.2rem 0.8rem; height: auto; overflow: hidden; box-sizing: border-box; border-bottom: 0.1rem dotted #cccccc;}
.lbbox li img{ display: block; float: left; width: 8.4rem; height: 6.3rem;}
.lbbox_you{ float: right; width: calc(100% - 9.4rem); height: auto; overflow: hidden;}
.lbbox_you span{ display: block; color: #333333; font-size: 1.4rem; height: 2.1rem; line-height: 2.1rem; overflow: hidden;}
.lbbox_you p{ color: #999999; font-size: 1.0rem; height: 4.0rem; line-height: 1.5rem; overflow: hidden;}

.fenye{ width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box; text-align: center; margin:10px auto;}
.fenye li,.fenye a,.fenye span{ display: inline;}
.fenye li a, .fenye a,.fenye span,.fenye li strong, .fenye strong{ display: inline-block; background: #006600; height: 2.0rem; line-height: 2.0rem; padding: 0 0.9rem; color: #ffffff; font-size: 1rem;}
.fenye li strong, .fenye strong{ background: #006600; font-weight: normal;}

.anlibox{ width: 100%; height: auto; overflow: hidden; padding-top: 0.5rem; padding-bottom: 1.2rem;}
.anlibox li{ width: 33%; float: left; padding: 1.0rem 0.8rem 0rem 0rem; height: auto; overflow: hidden; box-sizing: border-box;}
.anlibox li img{ display: block; width: 100%; }
.anlibox li span{ display: block; color: #333333; font-size: 1.2rem; line-height: 2.5rem; height: auto; overflow: hidden;}


@media (max-width: 768px){
    .anlibox li{ width: 33%; padding: 1.0rem 1rem 0rem 0rem; height: 10.5rem; }
    .anlibox li span{ font-size: 1.0rem;  }



}

@media (max-width: 640px){
    .anlibox li{ width: 50%; padding: 1.0rem 0.8rem 0rem 0.8rem; height: 12.5rem;  }
    .anlibox li span{ font-size: 1.2rem;  }



}



.neirong{ width: 100%; height: auto; overflow: hidden; padding-top: 2.0rem; padding-bottom: 1.0rem;}
.neirong_head{ width: 100%; height: auto; overflow: hidden; border-bottom: 0.1rem dotted #cccccc; padding: 0 0.8rem 0.4rem 0.8rem; box-sizing: border-box;}
.neirong_head h1{ text-align: center; color: #333333; font-size: 1.7rem; line-height: 2.5rem;}
.neirong_head p{ text-align: center; color: #999999; font-size: 0.9rem; line-height: 2.0rem; margin-top: 0.4rem;}
.neirong_body{ width: 100%; height: auto; overflow: hidden; padding: 1.5rem 0.8rem 2.0rem 0.8rem; box-sizing: border-box; color: #333333; font-size: 1.2rem; line-height: 2.5rem;}
.neirong_body img{display: block; margin: 0 auto; max-width: 100%;}
.fenxiang{ width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box;}
.neirong_sxy{ width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; box-sizing: border-box; margin-top: 1.9rem;}
.neirong_sxy p{ color: #1b5a9d; height: 2.0rem; line-height: 2.5rem; overflow: hidden; font-size: 1.0rem;}
.neirong_sxy p a{color: #333333;}

/*相关阅读*/
.xgyd{ width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem 1.4rem 0.8rem; box-sizing: border-box; margin-top: 1.9rem;}
.xgyd_tit{ width: 100%; background: #006600; height: 3.0rem; line-height: 3.0rem; color: #ffffff;font-size: 1.6rem; padding-left: 0.7rem; box-sizing: border-box;}
.xgyd_wen{ width: 100%; height: auto; overflow: hidden; margin-top: 0.5rem;}
.xgyd_wen li{ color: #333333; font-size: 1.6rem; height: 3.2rem; line-height: 3.2rem; overflow: hidden;}
.xgyd_wen li span{ display: inline-block; color: #1b5a9d; font-size: 1.2rem; font-family: "宋体"; padding: 0 0.4rem;}


@media (max-width: 768px){
    .neirong_body{ font-size: 1.0rem; line-height: 1.8rem;}



}

@media (max-width: 640px){

    .neirong_body{ font-size: 1.2rem; line-height: 2rem;}

}
