/**/

.eap_table{    margin: 0 auto;}
html{font-family: 微软雅黑 !important;}

/*
html{font-size:95% !important; font-family: 微软雅黑,Microsoft YaHei !important;}
*/

/*
body, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, a, code, em, img, q, small, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input, textarea {
    font-family: "微软雅黑","Microsoft YaHei";
}
*/

body, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input, textarea{font-size: inherit;}