.cell_1735_ { }
.cell_1735_ .pic{display:block;font-size:12px;color:#666;}
.cell_1735_ .pic img{ float:left; margin-top:10px;}
.cell_1735_ .pic .wen{ margin-left:10px; display:block; float:left;}
.cell_1735_ .pic:hover{ color:#f8b03f;}
.cell_1735_ .picshow{width:120px;height:126px;top:40px;left:-35px;display:none;background:url(../image/201902131752505585.png) no-repeat center top transparent;}
.cell_1735_ .picshow img{width:110px;height:109px; padding: 11px 0 0 5px;}
.cell_1735_ .fl .ewmli{ margin-right:15px;}
.cell_1735_ .zindex{ z-index:2;}

.cell_1736_{ margin:1px 10px 0 0;}
.cell_1736_ .sethome{ display:; font-size:12px; color:#999;}
.cell_1736_ .shoucang{ display:none; font-size:12px; color:#999;}
.cell_1737_{font-size:12px;padding:;margin:;background:;margin-top:10px;float:right}
.cell_1737_ a{font-size:12px;color:#999;padding:0 4px;cursor:pointer;}
.cell_1737_ span{font-size: 12px!important; color: #cdcdcd!important; line-height: 20px!important;}

.cell_1738_{ margin:4px 40px 4px 0; padding:; display:block;}
.cell_1739_ li{ float:left; font-size:16px; height:58px; line-height:58px;}
.cell_1739_ li a{ color:#999; padding:0 14px; display:block;}
.cell_1739_ li a:hover,.cell_1739_ li.current{ background:; color:#fda428; text-decoration:none; border-bottom:2px solid #fda428;}
.cell_1739_ li.current a{ color:#fda428;}
.cell_1740_{ font-size:14px; margin:13px 0 0 0; line-height:18px; background:;}
.cell_1740_ .text{ vertical-align: top; outline:none; width:150px; background-color:#646464; font-size:14px;padding:10px;height:8px;border:1px solid #646464;border-right:none;}
.cell_1740_ .submit{ vertical-align: top; outline:none; border:none;background:url(../image/20200122155207uaTT.png) no-repeat right center #fff;width:29px;text-align:center;height:30px;overflow:hidden;font-size:14px;color:#FFF;cursor:pointer}
.cell_1741_ { background:url(../image/20161017134631k6PC.png) no-repeat 12px center transparent; height:;line-height:;padding:10px 0 10px 36px;font-size:12px;color:#666;overflow:hidden;}
.cell_1741_ li{float:left;padding:0 2px;background:;}
.cell_1741_ a{font-size:12px;color:#999;  }


.cell_1742_{line-height:26px;font-size:16px; color:#333; font-family:"simsun", arial;margin:0 0 20px;}
.cell_1742_ .article-title{}
.cell_1742_ .pull-left {text-align:left;}
.cell_1742_ .article-title h1{font-size:20px;color:#333; text-align:center; margin:15px 14px 0 14px; line-height:32px;}
.cell_1742_ .article-toolbar{padding-top:5px;color:#666;font-size:12px;font-family:arial;height:18px;}
.cell_1742_ .article-assist .publish-time{padding:0 22px; color:#999;}
.cell_1742_ .liv-article-review{ border:1px solid #d2d2d2; padding:7px;}
.cell_1742_ .liv-article-review .cmt-total{ color:#f8b03f;}
.cell_1742_ .article-statist span{ color:#666;}
.cell_1742_ .article-statist em{padding:0 2px;}
.cell_1742_ .author{ font-size:14px; color:#666; margin-left:12px;}
/*分享*/
.bdshare-button-style0-16 .bds_more{ background-image:none !important; white-space: nowrap;line-height: 24px !important; width:45px !important;}
.bdshare-button-style0-16 a{margin:0 5px 0 0 !important; padding-left:0 !important; width:24px; height:24px !important; }
.bdshare-button-style0-16 .bds_tqq{ background-image:url(../image/20161031150050EJOV.png);background-position:0 0 !important;}
.bdshare-button-style0-16 .bds_qzone{ background-image:url(../image/20161031150058SXUT.png);background-position:0 0 !important;}
.bdshare-button-style0-16 .bds_sqq{ background-image:url(../image/20161031150105Vukw.png);background-position:0 0 !important;}
.bdshare-button-style0-16 .bds_tsina{ background-image:url(../image/20161031150112Nlo4.png);background-position:0 0 !important;}

.cell_1742_ .article-main{margin:0 10px;overflow:hidden; border-bottom:1px solid #f6f6f6;padding-bottom:20px;}
.cell_1742_ .article-main img{max-width:100%;}
.cell_1742_ .article-main .image, .cell_1742_ .article-main object{margin-top:10px;}
.cell_1742_ .article-main p{margin-top:20px;text-indent:2em;}
.cell_1742_ .article-main a{color:#3a6fb0;}

.cell_1742_ .news-pic-list{width:530px;height:300px;margin:20px auto;overflow:hidden;}
.cell_1742_ .news-pic-list ul{width:2000em;}
.cell_1742_ .news-pic-list ul li{display:none;position:relative;float:left;width:530px;height:302px;overflow:hidden;}
.cell_1742_ .news-pic-list ul li.show{display:block;}
.cell_1742_ .news-pic-list ul li span{position:absolute;left:0;bottom:0;width:500px;padding:15px 15px;background:#000;color:#fff;opacity:0.7;font-size:12px;font-family:arial;}

.cell_1742_ .news-pic-tab{position:relative;width:100%;margin:0 auto;padding:20px 0;background:#f7f7f7;}
.cell_1742_ .news-pic-tab .list{width:508px;height:65px;margin:0 auto;overflow:hidden;}
.cell_1742_ .news-pic-tab .list ul{width:2000em;}
.cell_1742_ .news-pic-tab .list ul li{float:left;width:108px;height:65px;margin-right:10px;}
.cell_1742_ .news-pic-tab .list ul li a{display:block;padding:2px;}
.cell_1742_ .news-pic-tab .list ul li a img{width:104px;height:61px;}
.cell_1742_ .news-pic-tab .list ul li a:hover,.cell_1742_ .news-pic-tab ul li.hover a{background-color:#1f5ba5;}
.cell_1742_ .news-pic-tab>a{display:block;position:absolute;top:20px;width:16px;height:62px;background:url(https://www.pznews.com/t/icon/201308/201308011450222cxr.png) no-repeat center;}
.cell_1742_ .news-pic-tab>a:hover{background-color:#e6e5e5;}
.cell_1742_ .news-pic-tab a.news-prev{left:10px;}
.cell_1742_ .news-pic-tab a.news-next{right:10px;background-image:url(https://www.pznews.com/t/icon/201308/20130801145153a627.png);}
.cell_1742_ .article-page{width:100%;text-align:center;}
.cell_1742_ .article-page span{color:#999;padding:0 5px;}
.cell_1742_ .article-page a{color:#000;padding:0 5px;}

.cell_1742_ .playerDrag{text-align:center;}
.cell_1742_ .playerDrag{margin-bottom:20px;}
.cell_1742_ .article-contribute-imgs{margin-top:20px;}
.cell_1742_ .article-contribute-imgs p{text-align:center;text-indent:0;margin-bottom:20px;}

.cell_1742_ .m2o-simple-vote{padding: 20px;background: #FAFAFA;margin:20px 0 }
.cell_1742_ .m2o-simple-vote .vote-header{margin-bottom:10px;}
.cell_1742_ .m2o-simple-vote .vote-title{ color:#605f5f; font-weight:700;line-height:22px; height:22px;font-size:14px;margin-left:3px;}
.cell_1742_ .m2o-simple-vote .vote-limit{ color:#b8b8b8; font-size:12px; line-height:20px; height:20px;margin-left:3px;}
.cell_1742_ .m2o-simple-vote .vote-limit span{margin-right:10px;}
.cell_1742_ .m2o-simple-vote .more-info{ border-top:1px solid #ededed;padding:10px 0; line-height:24px; word-wrap:break-word; font-size:12px; color:#666;}
.cell_1742_ .m2o-simple-vote .vote-option{padding:0 0 10px;width:100%;overflow:hidden;font-size:12px; color:#666;}
.cell_1742_ .m2o-simple-vote .vote-option-selected{background:#E9E9E9;}
.cell_1742_ .m2o-simple-vote .vote-check{ height:20px; overflow:hidden; line-height:20px; }
.cell_1742_ .m2o-simple-vote .m2o-submit-btn, .cell_1742_  .m2o-simple-vote .m2o-view-btn{background:#605f5f;padding:0 10px ;margin-left:3px; margin-right:10px;font-size:12px; color:#FFF; text-align:center; line-height:22px;border-radius:3px;}
.cell_1742_ .m2o-simple-vote .other_title{border: 1px solid #DDD;border-radius: 2px;margin-left: 10px;}


.cell_1742_ .m2o-simple-vote .vote-check,  .cell_1742_  .m2o-simple-vote .vote-option-bar{padding:0 0 0 3px;}
.cell_1742_ .m2o-vote-expire .vote-option input,.cell_1742_  .m2o-vote-success .vote-option input, .cell_1742_  .m2o-vote-expire .m2o-vote-action,.cell_1742_  .m2o-vote-success .m2o-vote-action,  .cell_1742_ .vote-option-bar{display:none;}
.cell_1742_ .m2o-vote-expire .vote-option-bar,.cell_1742_  .m2o-vote-success .vote-option-bar, .cell_1742_ .m2o-vote-view .vote-option-bar{display:block;}

.cell_1742_ .vote-option-outer-box{float:left;background: #efefef;width: 150px;height: 11px;margin: 7px 0 0;}
.cell_1742_ .vote-option-text-box{font-size: 12px;padding: 5px 0 0 5px;float: left;}
.cell_1742_ .vote-option-text-box span{color: #900;margin-left: 10px;}
.cell_1742_ .vote-option-inner-box{background:url(https://www.pznews.com/t/icon/201312/20131219200933bYZH.png) repeat-x left top transparent;height: 11px;}
.cell_1742_ .vote-option-color1{background-position: 0 -11px}
.cell_1742_ .vote-option-color2{background-position: 0 -22px}
.cell_1742_ .vote-option-color3{background-position: 0 -33px}
.cell_1742_ .vote-option-color4{background-position: 0 -44px}
.cell_1742_ .vote-option-color5{background-position: 0 -55px}
.cell_1742_ .vote-option-color6{background-position: 0 -66px}
.cell_1742_ .vote-option-color7{background-position: 0 -77px}
.cell_1742_ .vote-option-color8{background-position: 0 -88px}
.cell_1742_ .vote-option-color9{background-position: 0 -99px}
.cell_1743_ {font-size:18px;color:#fda428;background:;padding-left:;line-height:;padding-right:;}
.comments{background:;padding:;color:rgb(51, 51, 51);font-size:14px;}
.comment-form{color:#999;font-size:12px;}

.comments .wys{ color:#f8b03f; font-size:20px; border-top:; line-height:50px; width:100%;}
.m2o-js-reffer{ font-size:12px; color:#555453; margin-right:10px;}

.cmt-author{padding:8px 0 0;line-height:18px;}
.cmt-author a, .m2o-user-success a, .m2o-user-success a{color:rgb(0, 66, 118);}
.cmt-result strong{font-weight:100;color:#c14541;}
.comments .textarea{width:96.5%; border:1px solid #e5e5e5;color:#b5b5b5;background:#fff; padding:10px; height:78px;line-height:18px; resize:none; outline:none;font-size:12px;}
.comments .submit{width:91px;height:30px;border:none;box-shadow: none;text-align:center;line-height:30px; color:white; font-size:14px; cursor:pointer; margin:20px 0 0 0; background:#f8b03f;}
.m2o-user-success a, .comments-login-form .login-submit{margin-right:10px;}
.m2o-user-success label{font-size:10px;color:#999;}
.cmt-result {padding:5px 0 0;}
.cmt-face{width:19px;height:19px;margin-top:3px;background:url(https://www.pznews.com/t/icon/201401/20140124145804xAEy.png) no-repeat left top;overflow:Hidden;text-indent:-999em;}
.cmt-face:hover{background-position:0 -19px;}
.cmt-content{position:relative;}
.cmt-info{position:absolute;background:black;background:rgba(0,0,0,0.9);padding:5px 10px;line-height:20px;width:200px;top: 0;left: 50%;margin-left: -110px;color:white;font-size:12px;border-radius:0 0 5px 5px;display:none;}
.cmt-content .error{background:rgb(248, 148, 6);background:rgba(248, 148, 6,0.9);}
.cmt-content .success{background:rgb(70, 136, 71);background:rgba(70, 136, 71,0.9);}

.comments-login-form, .m2o-user-success{margin-bottom:5px;}
.comments-login-form .text{border:1px solid rgb(175, 175, 175);box-shadow:inset 0 2px 2px rgba(213,213,213, 0.5);border-radius:3px;color:#333;background:#FFF;padding:3px 6px;height:16px;line-height:16px;outline:none;font-size:12px;width:110px;float:left;margin-right:5px;}


.comments-login-form .switch-login-type, .comments-login-form .gologin{display:none;}
.comments-login-form .switch-login-type a{margin-right:10px;border:1px solid rgb(175, 175, 175);background:#F1F1F1;line-height:16px;padding:3px 10px;border-radius:3px;color:#000;text-decoration:none;}



#emotions{left:0;width:395px;font-size:12px;background:#fff;position:absolute;border:1px solid #E8E8E8;}#emotions a{color:#9ABBC8;text-decoration:none;padding:2px 7px;}#emotions img{border:0;}#emotions div{overflow:hidden;margin:5px 10px;padding:1px;}#emotions #prev,#emotions #next{margin-left:3px;background:#eee;}#emotions .categorys{height:23px;color:#9ABBC8;overflow:hidden;}#emotions .categorys a{display:inline-block;}#emotions .categorys a:hover{text-decoration:underline;}#emotions .categorys a.current{cursor:default;background:#F0F0F0;-moz-border-radius:3px;-webkit-border-radius:3px;}#emotions .container{overflow:hidden;padding:1px;}#emotions .container a{float:left;width:26px;height:22px;text-align:center;border:1px solid #e8e8e8;margin:-1px 0 0 -1px;padding:4px 2px;}#emotions .container a:hover{z-index:2;position:relative;border:1px solid #0095cd;}#emotions .page{text-align:right;}#emotions .page a.current{color:#666;background-color:#fff;}#emotions .page a{margin-left:3px;color:#0078B6;background-color:#f3f3f3;}#emotions .page a:hover{background-color:#e7e7e7;}


.pl-list{ padding:10px 0 13px 5px; border-top:1px solid #e5e5e5;}
.pl-list img{ float:left; }
.pl-list .itb-txt{ margin:5px 0 0 96px;}
.pl-list .pl-title{ font-size:12px; color:#f8b03f;}
.pl-list .pl-title:hover{ text-decoration:none;}
.pl-list .pl-desc{ font-size:14px; color:#333; padding: 15px 0 0; line-height:20px; word-break: break-all;}
.pl-list:hover{ background:#f7f7f7;}
#cmtlist .zw{ padding-top:15px;}

.comments_column .new{ font-size:16px; color:#f8b03f; line-height:35px; padding:10px 10px 5px 10px; border-bottom:2px solid #f8b03f;}
#cmtload{ color:#f8b03f; cursor: pointer; width:198px; margin: 20px auto 0; height:28px; line-height:28px; display: block; background:#fff; border:1px solid #c9c9c9;
display:none;}

.pl-list .time{float: right;}



.cell_1746_{background-color:#F6F6F6; }
.cell_1746_ .tl-header{ float:left; background-color:#FDA427; color:#fff; font-size:20px; font-weight:normal; display:inline-block; height:37px; line-height:37px; padding:0 15px;  position:relative; }
.cell_1746_ .tl-header:before, .cell_1746_ .tl-header:after{ display:block; content:""; position:absolute; top:0; }
.cell_1746_ .tl-header:before{ width:5px; height:42px; background:url(../image/20161103194730Jp8O.png) no-repeat right top transparent; left:-5px; }
.cell_1746_ .tl-header:after{ width:3px; height:37px; background:url(../image/201611031947431b2d.png) no-repeat right top transparent; right:-3px; }

.cell_1747_{ padding:;}
.cell_1747_ ul{ padding:; margin:10px 0 0 0; background:;line-height:30px;font-size:14px;color:#333;}
.cell_1747_ ul li{ background:; padding-left:;}
.cell_1747_ ul li a{ font-size:14px;color:#333; padding:1px 0;}
.cell_1747_ ul li a:hover{ color:#f8b03f; text-decoration:none;}
.cell_1747_ ul li .m2o-type-news{background:url(../image/20161104172637paH7.png) no-repeat left center transparent; padding-left:25px}
.cell_1747_ ul li .m2o-type-vod{background:url(../image/20161017152218ewDe.png) no-repeat left center transparent; padding-left:25px}
.cell_1747_ ul li .m2o-type-tuji{background:url(../image/20161017152208NnQv.png) no-repeat left center transparent; padding-left:25px}

.cell_1748_ {font-size:18px;color:#666;background:url(../image/20161104172311Gvk4.png) no-repeat left center transparent;padding-left:37px;line-height:;padding-right:;}
.cell_1749_ ul{width:110%;}
.cell_1749_ li{float:left;position:relative; overflow:hidden; width:320px;height:213px;margin:;display:inline;}
.cell_1749_ p, .cell_1749_ .filter{position:absolute;bottom:0;left:0;width:100%;height:30px;height:30px}
.cell_1749_ p{text-indent:5px;line-height:30px;}
.cell_1749_ .filter{background:black;opacity:.6;filter:alpha(opacity=60);}
.cell_1749_ a{color:rgb(255,255,255);font-size:14px;font-weight:normal; display:block; text-align:center}
.cell_1749_ .vod-play-icon{width:320px;height:213px;}
.cell_1749_ img{ width:320px; height:213px;}
.cell_1750_ ul{width:110%;}
.cell_1750_ li{float:left;position:relative; overflow:hidden; width:150px;height:84px;margin:20px 20px 0 0;display:inline;}
.cell_1750_ p, .cell_1750_ .filter{position:absolute;bottom:0;left:0;width:100%;height:30px;height:30px}
.cell_1750_ p{text-indent:5px;line-height:30px;}
.cell_1750_ .filter{background:black;opacity:.6;filter:alpha(opacity=60);}
.cell_1750_ a{color:rgb(255,255,255);font-size:14px;font-weight:normal; display:block; text-align:center}
.cell_1750_ .vod-play-icon{width:150px;height:84px;}
.cell_1750_ img{ width:150px; height:84px;}
.cell_1751_{background:url(../image/2016110817480868a5.png) no-repeat left center transparent; height:; line-height:; padding:;float:;margin:;border-bottom:;}
.cell_1751_ span{display:inline-block;}

.cell_1751_ .txt{
    color:#666;
    font-size:18px;
    font-weight:;
    padding:0 0 0 37px;
    margin:;
    border-left:;
    }
.cell_1751_ .line{
    width:;
    height:;
    border-bottom:;
    margin:;
}

.cell_1751_ .tl-more{float:right;}
.cell_1751_ .tl-more a{color:;font-size:;}

.cell_1752_{ padding:10px 0; margin:; border-top:; background:;line-height:24px;font-size:14px;color:#333;}
.cell_1752_ li{ background:url(../image/20161108175427CYmm.png) no-repeat 6px center transparent; padding-left:20px;}
.cell_1752_ li a{ font-size:14px;color:#333;}
.cell_1752_ li a:hover{ color:#f8b03f; text-decoration:none;}
.cell_1753_{ padding:10px 0; margin:; border-top:; background:;line-height:24px;font-size:14px;color:#333;}
.cell_1753_ li{ background:url(../image/20161108175427CYmm.png) no-repeat 6px center transparent; padding-left:20px;}
.cell_1753_ li a{ font-size:14px;color:#333;}
.cell_1753_ li a:hover{ color:#f8b03f; text-decoration:none;}
.cell_1754_ {font-size:18px;color:#666;background:url(../image/20161104172423ty8Y.png) no-repeat 4px center transparent;padding-left:37px;line-height:;padding-right:;}
.cell_1755_{padding:}
.cell_1755_ ul{width:110%}
.cell_1755_ li{line-height:20px;height:110px;width:150px;margin:20px 20px 0 0;font-size:12px;position:relative; overflow:hidden; display:inline;float:left}
.cell_1755_ img{border:;padding:;width:150px; height:84px}
.cell_1755_ p{padding:5px 0 0;text-align:left}
.cell_1755_ p a{color:#333;font-size:12px}
.cell_1755_ .vid-play-icon{width:16px;height:16px; padding-left:21px; font-size:12px; color:#fff; line-height:16px; background:url(../image/20161103201637Yz89.png) no-repeat; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src=&#39;../image/20161103201637Yz89.png&#39;);
_background: none}
.cell_1755_ .vod{ background: black; opacity: 0.5; filter: alpha(opacity=50); position: absolute; top: 58px;left: 0px;padding: 5px;}

.cell_1757_{ position:relative; float:left; background:; height:90px; line-height:90px;}
.cell_1757_  a{ padding:; font-size:18px; display:block; width:50px; height:90px; color:#fff; font-weight:normal; text-align:center}
.cell_1757_  a:hover{ text-decoration:none;}

.cell_1758_{ position:relative; float:left; background:; height:90px; line-height:90px;}
.cell_1758_  a{ padding:; font-size:18px; display:block; width:50px; height:90px; color:#fff; font-weight:normal; text-align:center}
.cell_1758_  a:hover{ text-decoration:none;}

.cell_1759_{ position:relative; float:left; background:; height:90px; line-height:90px;}
.cell_1759_  a{ padding:; font-size:18px; display:block; width:50px; height:90px; color:#fff; font-weight:normal; text-align:center}
.cell_1759_  a:hover{ text-decoration:none;}

.cell_1760_{ color:#666; padding:; margin:; display:table; margin-right:auto; margin-left:auto;}
.cell_1760_ a{ margin:0 10px; color:#e5e5e5; font-size:14px;}
.cell_1761_{ margin:35px 0 0 0;}
.cell_1761_ p{ color:#999; font-size:14px;}
.cell_1761_ span{ color:#ebebeb;}
.cell_1762_{ margin:10px 0 0 0; padding:0 0 20px 0;}
.cell_1762_ p,p a{ color:#999; font-size:14px; line-height:36px;}
.cell_2013_{background:;font-size:12px; height:35px; line-height:35px;overflow:hidden;float:left;margin:0 120px 0 0;display:;}
.cell_2013_ li{float:left; background:;}
.cell_2013_ li a{color:#666;padding:0 8px;}
.cell_2013_ li.current{background:;}
.cell_2013_ li.current a{color:;}
.cell_2013_ li a:hover{text-decoration:none;}

.yingxin{display:;}
.xinwen{display:;}
.nav2{display:;}

.cell_2014_{background:;font-size:12px; height:35px; line-height:35px;overflow:hidden;float:left;margin:;display:;}
.cell_2014_ li{float:left; background:;}
.cell_2014_ li a{color:#666;padding:0 8px;}
.cell_2014_ li.current{background:;}
.cell_2014_ li.current a{color:;}
.cell_2014_ li a:hover{text-decoration:none;}

.yingxin{display:;}
.xinwen{display:;}
.nav2{display:;}

