body {font-family: simsun}



.g-header { background-color: whitesmoke; border-bottom: 1px solid #eeeeee; }

.g-header-link li{ float: left;display: inline;height:28px;background: url(../image/point_c.jpg) no-repeat left center;padding-left:5px;margin-right:10px;}

.g-header-link a { margin: 0 4px; font-size: 12px; line-height: 2.4; color: #333333; }

.g-header-link a:hover, .g-header-link a:focus { color: #b30000; text-decoration: underline; }



.g-header-banner { margin: 10px 0; }



.navbar-brand { padding: 0 15px; }



.logo-qxw { background-image: url(../image/logo_qxw.jpg); }



.nav > li > a, .nav > li > a { color: #333333; }

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus { color: #b30000; text-decoration: underline; }

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus { background-color: #fff; }



.breadcrumb a { color: #333333; }

.breadcrumb a:hover, .breadcrumb a:focus { color: #b30000; text-decoration: underline; }



.navbar { border-bottom: 1px solid #999999; }



.navbar-toggle { background-color: #eeeeee; }



.icon-bar { background-color: #fff; }



.main .container { padding-top: 15px; border-top: 3px solid #1187b7; }



.g-footer { margin: 20px 0 30px; }



.g-footer-links li a { color: #333333; font-weight: 700; }

.g-footer-links li a:hover, .g-footer-links li a:focus { color: #b30000; text-decoration: underline; }



.g-sb-t-main { font-size: 14px; font-weight: 700; }

.g-sb-t-main a { color: #333333; }

.g-sb-t-main a:hover, .g-sb-t-main a:focus { color: #b30000; text-decoration: underline; }



.g-sb-col { margin: 15px 0; padding-top: 5px; border-top: 2px solid #1187b7; }



.g-sb-col-hd { margin-bottom: 15px; font-family: microsoft yahei; font-size: 16px; font-weight: 700; }



.g-sb-list { margin-top: 15px; padding-left:5px; }

.g-sb-list li { margin-bottom: 5px; height:20px; line-height:20px; overflow:hidden; background: url(../image/point_b.jpg) no-repeat left center; padding-left: 10px;}

.g-sb-list li a { color: #333333; }

.g-sb-list li a:hover, .g-sb-list li a:focus { color: #b30000; text-decoration: underline; }



.g-sb-list_yy { margin-top: 0px; padding-left:5px; }

.g-sb-list_yy li { margin-bottom: 5px; height:20px; line-height:20px; overflow:hidden; background: url(../image/point_b.jpg) no-repeat left center; padding-left: 10px;}

.g-sb-list_yy li a { color: #333333; }

.g-sb-list_yy li a:hover, .g-sb-list li a:focus { color: #b30000; text-decoration: underline; }



.g-sb-gallery a { color: #333333; }

.g-sb-gallery a:hover, .g-sb-gallery a:focus { color: #b30000; text-decoration: underline; }



.g-list-group { margin-bottom: 20px; border-bottom: 1px solid #dddddd; }



.g-list-t { font-family: simhei; font-size: 20px; }

.g-list-t a { color: #333333; }

.g-list-t a:hover, .g-list-t a:focus { color: #b30000; text-decoration: underline; }



.g-list-c { margin-bottom: 10px; }

.g-list-c img { margin-right: 10px; }



.g-list-p { text-indent: 2em; line-height:24px; color:#444; font-size:14px;}



#displaypagenum { display: inline-block; padding-left: 0px; margin: 20px 0px; border-radius: 4px; }

#displaypagenum a, #displaypagenum span { position: relative; float: left; padding: 2px 8px; color: #333333; background-color: #FFF; border: 1px solid #fff; margin-left: -1px; }

#displaypagenum a:hover, #displaypagenum a:focus { color: #fff; text-decoration: none; background-color:#cc0000; border: 1px solid #DDD;}

#displaypagenum .page3 { color: #fff; background-color:#cc0000; border: 1px solid #DDD;}



.g-content-t { font-size: 24px; font-weight: 700; margin-bottom:20px; }



.g-content-s { margin: 20px 0 20px; padding: 10px; background-color: whitesmoke; border: 1px solid #dddddd; color: #666666; }



.g-content-c { line-height: 1.8; }

.g-content-c p img{ max-width:100%; height:auto !important;}

.g-content-c div img{ max-width:100%; height:auto !important;}

.g-content-c center img{ max-width:100%; height:auto !important;}

.g-content-c video{max-width:100%; height:auto !important;}

.g-content-c p video{max-width:100%; height:auto !important;}

.g-content-c div video{max-width:100%; height:auto !important;}

.g-content-c center video{max-width:100%; height:auto !important;}



.g-content-fujian { font-size: 14px; font-weight: 700; color: #007FD6; margin-top: 20px; }

.g-content-fujian br { display: none; }

.g-content-fujian a { color: #333333; margin-right: 10px; font-weight: 400; }

.g-content-fujian a:hover, .g-content-fujian a:focus { color: #b30000; text-decoration: underline; }



.g-content-extension { margin: 20px 0 30px; }

.g-content-extension h5 { padding: 5px 10px; background-color: #eeeeee; font-weight: 700; }



.g-content-list { margin-top: 15px; padding-left: 15px; }

.g-content-list li { margin-bottom: 5px; }

.g-content-list li a { color: #333333; }

.g-content-list li a:hover, .g-content-list li a:focus { color: #b30000; text-decoration: underline; }

.g-content-list li span { margin-left: 15px; }



.g-content-tab { margin: 15px 0; padding-top: 5px; border-top: 2px solid #1187b7; }



.g-content-tab-hd { margin-bottom: 15px; font-size: 14px; font-weight: 700; }

.g-content-tab-hd li { padding: 0 25px; }

.g-content-tab-hd li a { color: #333333; }

.g-content-tab-hd li a:hover, .g-content-tab-hd li a:focus { color: #b30000; text-decoration: none; }

.g-content-tab-hd li.active a { color: #b30000; }



.g-content-tab-list li { margin-bottom: 20px; margin-left:20px;}



.g-content-tab-list-t, .g-content-tab-list-s { font-weight: 700; }

.g-content-tab-list-t a, .g-content-tab-list-s a { color: #333333; }

.g-content-tab-list-t a:hover, .g-content-tab-list-s a:hover, .g-content-tab-list-t a:focus, .g-content-tab-list-s a:focus { color: #b30000; text-decoration: underline; }



.g-content-tab-list-s { font-weight: 400; }



.g-content-tab-gallery li { margin-bottom: 15px; width: 180px; margin-left:40px; }

.g-content-tab-gallery li a { color: #333333; }

.g-content-tab-gallery li a:hover, .g-content-tab-gallery li a:focus { color: #b30000; text-decoration: underline; }

.g-content-tab-gallery li a p { margin: 5px 0; }



/*# sourceMappingURL=main.css.map */





/*评论框调用*/

/*20140307添加*/

/*.wy_comment{ width:651px; height:auto; margin-top:35px}*/

.wy_comment{ width:651px; height:auto; margin-top:20px; margin-bottom:20px;}

/*20140307添加*/

.wy_comm_t{ width:651px; height:32px; overflow:hidden; border-bottom:1px solid #ddd; background:url(../image/seccon_tpline.jpg) no-repeat left top}

.wy_comm_t_style{ font-weight:bold; font-size:14px; height:32px; line-height:32px; overflow:hidden; margin-left:10px}



.wy_comm_con{ width:649px; height:235px; overflow:hidden; border:1px solid #ddd; margin-top:12px}

.wy_comm_ct{ width:649px; height:39px; overflow:hidden; background:url(../image/sec_comm_tb.jpg) repeat-x; border-bottom:1px solid #ddd}



.wy_comm_zc{ margin-left:20px; margin-top:8px}

.wy_comm_zc span{}

.wy_comm_wbicon{ margin-left:28px; margin-top:8px}

.wy_comm_cc{ width:100%; height:139px; overflow:hidden}

.wy_comm_cc textarea {width:100%; height:135px;}



input.seczc_text{ width:100px; height:18px; border:1px solid #ccc; background:#fff; color:#555; overflow:hidden}

input.seczc_btn{ width:40px; height:22px; *height:22px; border:1px solid #ccc; background:#eee; color:#444; *line-height:21px; font-size:12px; cursor:pointer}



.wy_comm_cf{ float:right; display: inline; margin-top:15px}

.wy_comm_cf span{ float:left; display:inline; margin-right:5px}

/*评论框调用*/



.visible-md{ margin-top:30px;}





/* for ie7 */

.lt-ie8 .row { position: relative; zoom: 1;}

.lt-ie8 .col-md-8 { width: 647px !important;}

.lt-ie8 .col-md-4 { width: 313px !important;}




.g-content-c p {
    margin: 0 0 10px;
    word-wrap: break-word;
}

<!--ecms sync check [sync_thread_id="3bcee7cc5a424330844ab778a62d31c1" sync_date="2022-10-08 10:53:35" check_sum="3bcee7cc5a424330844ab778a62d31c1]-->