.header{
    margin-bottom: 17px;
}
.con{
    padding-left: 0;
}
.location{
    width: 1143px;
    margin: 0 auto;
    font-size: 15px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #999B9C;
    line-height: 1;
    margin-bottom: 10px;
}
.con-left .news-title{
    font-size: 29px;
    font-family: Alibaba;
    font-weight: normal;
    color: #030303;
    line-height: 38px;
    margin-bottom: 14px;
}
.con-left .news-info{
    margin-bottom: 35px;
}
.con-left .news-info span{
    font-size: 13px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #727272;
    line-height: 1;
    margin-right: 20px;
}
.con-left .article p{
    font-size: 17px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #000000;
    line-height: 25px;
    margin-bottom: 20px;
    text-indent: 4em;
}