.header {
    margin-bottom: 49px;
}
.header-mid .adver-item{
    width: 1143px;
    height: 112px;
}
.con{
    width: 1143px;
    margin: 0 auto;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}
.con .con-left{
    width: 747px;
}
.con-left .column-top{
    margin-bottom: 41px;
}
.column-top .column-title{
    font-size: 31px;
    font-family: Alibaba;
    font-weight: normal;
    color: #A40000;
    line-height: 1;
    position: relative;
}
.column-top .column-title::before{
    content: '';
    width: 10px;
    height: 30px;
    background: #A40000;
    position: absolute;
    left: -25px;
}
.column-top a{
    font-size: 15px;
    font-family: Alibaba PuHuiTi;
    font-weight: 400;
    color: #999B9C;
    line-height: 20px;
    float: right;
}
.con-left .firstnews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
}
.firstnews .newspic{
    width: 284px;
    height: 196px;
}
.firstnews .news-info{
    width: 417px;
}
.firstnews .news-info a{
    font-size: 21px;
    font-family: Alibaba;
    font-weight: normal;
    color: #030303;
    line-height: 28px;
    height: 56px;
    margin-bottom: 28px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.firstnews .news-info p{
    font-size: 17px;
    font-family: Alibaba;
    font-weight: normal;
    color: #6C6C6C;
    line-height: 31px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.newslist li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    position: relative;
    font-size: 0;
}

.newslist li:nth-child(8){
    margin-bottom: 41px;
}
.newslist li:last-child{
    margin-bottom: 0;
}
.newslist .news-title{
    width: 486px;
}
.newslist li .news-title::before{
    content: '';
    width: 6px;
    height: 6px;
    background: #DADBDD;
    display: inline-block;
    margin-right: 17px;
    vertical-align: middle;
}
.newslist .news-title a{
    display: inline-block;
    width: 463px;
    font-size: 20px;
    font-family: Alibaba;
    font-weight: normal;
    color: #030303;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    
}
.newslist p{
    font-size: 20px;
    font-family: Alibaba;
    font-weight: normal;
    color: #000001;
    line-height: 1;
}
.con-right {
    width: 332px;
}
.con-right .item-box{
    position: relative;
    background: #DADADA;
    padding: 11px 15px 14px 15px;
    font-size: 0;
    margin-bottom: 35px;
}
.con-right .item-box .column-name{
    width: 57px;
    height: 35px;
    background: #A40000;
    box-shadow: 0px 3px 5px 1px rgba(161, 161, 161, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 19px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #FCFDFD;
    z-index: 99;
}
.swiper-pic.swiper-container{
    width: 301px;
    margin-bottom: 21px;
}
.swiper-pic .swiper-slide .news-title{
    width: 100%;
    padding: 9px 0;
    background: rgba(0,0,0,0.41);
    font-size: 15px;
    text-indent: 12px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #FCFDFD;
    line-height: 1;
    position: absolute;
    bottom: 0;
}
.swiper-container .swiper-pagination{
    text-align: right;
    margin-right: 10px;
}
.swiper-container .swiper-pagination-bullet{
    width: 5px;
    height: 5px;
    background: #C0C4C5;
    border-radius: 50%;
}
.swiper-container .swiper-pagination-bullet-active{
    background: #3852C4;
}
.swiper-slide .news-pic{
    position: relative;
    width: 100%;
    height: 179px;
}
.swiper-slide .news-pic .play-btn{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 115px;
    top: 35px;
}
.news-title p{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.itemlist{
    margin-bottom: 13px;
}
.itemlist li{
    margin-bottom: 9px;
    position: relative;
    padding-left: 8px;
}
.itemlist li:last-child{
    margin-bottom: 0;
}
.itemlist li::before{
    content: '';
    width: 4px;
    height: 4px;
    background: #7D7D7D;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 0;
}
.itemlist li a{
    display: inline-block;
    width: 279px;
    font-size: 14px;
    font-family: Alibaba;
    font-weight: normal;
    color: #78787A;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}
.item-box .more{
    font-size: 13px;
    font-family: Alibaba PuHuiTi;
    font-weight: 400;
    color: #999B9C;
    line-height: 1;
    display: block;
    text-align: right;
}
.con-right .entrance-box{
    font-size: 0;
}
.entrance-box .entrance-top{
    width: 100%;
    padding: 26px 6px 11px 0;
    background: #A40000;
    margin-bottom: 16px;
}
.entrance-top a{
    font-size: 15px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 1;
    display: block;
    text-align: right;
}
.entrance-box .entrance-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.entrance-list li{
    margin-bottom: 14px;
}
.entrance-list li:nth-child(n+3){
    margin-bottom: 0;
}
/* 融媒体联盟 */
.con-right .medialist{
    font-size: 0;
}
.medialist li{
    margin-bottom: 40px;
}
.medialist li .media-box{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    background: #DADADA;
    margin-bottom: 12px;
}
.medialist li .media-logo{
    margin-left: 5px;
}
.medialist li .media-name{
    display: inline-block;
    margin-left: 30px;
    font-size: 21px;
    font-family: Alibaba;
    font-weight: normal;
    color: #000000;
    line-height: 29px;
}
.medialist li .media-title{
    font-size: 15px;
    font-family: Alibaba;
    font-weight: normal;
    color: #030303;
    line-height: 1;
}
.con-right .drop-btn{
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DADADA;
}
/* 专题 */
.topiclist li{
    padding-bottom: 33px;
    border-bottom: 3px solid #E5E6E7;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.topiclist li .topic-box{
    width: 340px;
}
.topic-box .topic-pic{
    width: 100%;
    height: 228px;
    margin-bottom: 13px;
}
.topic-box .topic-title{
    font-size: 14px;
    color: #5F4B7B;
    font-weight: 400;
    line-height: 1;
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}