@charset "utf-8";
/* CSS Document */
body{font-family: '宋体'; font-size: 12px;  margin: 0; padding: 0;color:#464646}
ul,li,p{margin:0px;padding:0px; list-style-type:none;}
a{color:#464646; text-decoration:none}a:hover{color:#878787; }
img{border:0px;padding:0px;margin:0px;}
.fr{float:right;}.fl{float:left;}
.clear{clear:both;}
.clearfloat{height:0;font-size:1px;clear:both;line-height:0;}
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.fontwhite{color:#fff;}
.font16{font-size:16px;}.font12{font-size:12px;}.font18{font-size:18px;}.font20{font-size:20px;}.font24{font-size:24px;}
.fontwhite a{color:#fff;}.fontwhite a:hover{color:#284E8F;}
.fontgrey{color:#878787;}.fontgrey a{color:#878787;}.fontgrey a:hover{color:#464646;}
.fontgrey4{color:#e4e4e4;}.fontgrey4 a{color:#464646;}.fontgrey4 a:hover{color:#386ec3;}
.fontgrey3{color:#e4e4e4;}.fontgrey3 a{color:#878787;}.fontgrey3 a:hover{color:#464646;}
/*.fontgrey2{color:#878787;}.fontgrey2 a{color:#386ec3;}.fontgrey2 a:hover{color:#878787;}*/
.fontblue{color:#386ec3;}.fontblack{color:#000;}.fontblue a {color:#386ec3; }
.center{text-align:center;}
.fontred{color:#fe0002;}
.fontgreen{color:#029801;}
.width50px{width:50px;}
.font14px{font-size:14px;}.font16px{font-size:16px;}
.top-bar{ background:#f9f9f9;height:30px;color:#e4e4e4;}
.fontblack{color:#000;}
.t12{font-size: 12px;}
.bordergrey{ border:solid 1px #f4f4f4}
.bordergrey2{ border-bottom:solid 1px #dfdfdf; height:1px}
.padding10{ padding:5px 0 5px 5px}.padding20{padding:20px;}
.mr10{ margin-right:10px}
.zoom1{ overflow:auto; zoom:1}
.pt10{ padding-top:10px;}
.pl10{ padding-left:10px;}
.pr25{ padding-right:25px;}
.pr10{ padding-right:10px;cursor:pointer;}
.pl5{ padding-left:5px;}
.pt5{ padding-top:5px;}
.pb5{ padding-bottom:5px;}.pr5{ padding-right:5px;}
.pl15{ padding-left:15px;}
.pr15{ padding-right:15px;}
.pt15{ padding-top:15px}
.pb10{ padding-bottom:10px}
.mb10{ margin-bottom:10px}
.pb20{ padding-bottom:20px}.pt20{ padding-top:20px}.pb30{ padding-bottom:30px}.pt30{ padding-top:30px}
.mt50{ margin-top:50px}.mt15{ margin-top:15px}
.mb15{ margin-bottom:15px}.mr20{ margin-right:20px}.mr10{ margin-right:10px}
.pt30{ padding-top:30px;}
.mt25{ margin-top:25px}
.bgrey{ background:#DFDFDF}.bgrey3{ background:#878787}
.textindent{ text-indent:15px}.textindent2{ text-indent:25px}
.pleft{ padding-left:10px}
.pm10{  padding-bottom:10px; padding-top:10px}
.bgrey2{ background:#f6f6f6}
.white a{color:#fff;}.white a:hover{color:#464646;}
.bds_mor {
background: url(../images/is.png) no-repeat 0 5px!important;
}
.bds_mor{
display: block;
font-family: '宋体',Arial;
height: 16px;
float: left;
padding-top: 6px;
padding-bottom: 3px;
padding-left: 22px;
}
.blank1{height:10px;}
.width980{width:980px;}
.content{margin:0px auto;}
.marginauto{margin:0px auto;}
.marginauto .classi a{color:#ffffff;
	font-size:14px;font-weight:bold; cursor: pointer; float: left; text-align: center; padding:0px 15px;
	 background:url(../images/imgmenubg.gif) no-repeat right #2b60ac;}
.marginauto .classi a:hover{background:#284e8f;background-image:none}
#menu-a {
    background:#284e8f;background-image:none;
}
.width970p{width:970px;}
.line35{line-height:35px;}.line30{line-height:30px;}.line45{line-height:45px;}.line55{line-height:58px;}.line50 {
    line-height: 50px;
}
.line28 { line-height: 28px;}.line20{line-height:20px;}
.line22{line-height:22px;}
.line18{line-height:18px;}
.line25{line-height:25px;}
.line29 {
    line-height: 29px;
}
.linenews{    line-height: 29px;height:29px;overflow:hidden;}
.bold{font-weight:bold}
.top{padding:13px 0px 13px 0px;color:#464646;font-size: 12px;}
.topbanner{padding:0px 10px 0px 11px;margin-top:10px;}
.toplogo{font-size:26px;color:#386ec3;  font-family: "simhei";line-height:50px;    width: 290px;}
.toplogo2 {
    color: #386EC3;
    font-family: "simhei";
    font-size: 26px;
    line-height: 50px;
}
.input1{ border:1px solid #e6e6e6;background:url(../images/img2.gif) repeat-x;line-height:28px; height:28px; width:320px;padding-left:10px; text-align:left;color:#999;font-size:14px;}
.input2 {
    width: 160px;
}.button1{ border:0px;height:33px; width:32px;padding:0px;background:url(../images/img4.gif) no-repeat;}
.menu{background:#2b60ac; height:36px;line-height:36px; }
.left320px{width:318px;}.middle390{width:392px;margin:0px 25px;}.right220px{width:220px;}

.join{ background:url(../images/join.gif) no-repeat left;padding-left:22px;padding-right:20px;}
.login{ background:url(../images/login.gif) no-repeat left;padding-left:22px;margin-left:20px;}
.flash{}
.left-title{padding:5px 0px 10px 10px;color:#878787;}


.left-title2 {
    color: #878787;padding: 17px 0 12px;
}
.left-title3 {
line-height:35px;padding-left:15px;
}
.left-title4 {
 line-height:40px; height:40px;overflow:hidden;color:#464646;border-bottom:1px solid #e1e1e1;padding:0px 15px;margin-bottom:5px;}
.left-title4 span{color:#878787}
.list12px li{line-height:30px;padding-left:10px;}
.dottedline{  background:url(../images/dashed-img.gif) repeat-x ;height: 1px;}
.dottedline2{margin:11px 0px;background:url(../images/dashed-img.gif) repeat-x ;height: 1px;}
.dottedline5{background:url(../images/dashed-img.gif) repeat-x ;height: 1px;}
.dottedline3 {
    background:url(../images/dashed-img.gif) repeat-x ;height: 1px;
}
.dottedline4 {
  background:url(../images/dashed-img.gif) repeat-x ;margin:13px 0px; height: 1px;
}
.solidline{
    background:#EAEAEA;
    height: 1px;
}
.sndtitle{height:25px;overflow:hidden;line-height:25px;}
.hotnewsred { background:#8a9db7; height: 30px;overflow:hidden;}.hotnewsred a{color:#fff;}.hotnewsgrey{ background:#f6f6f6}
.hotnewsgrey2{ background: none repeat scroll 0 0 #F6F6F6;color:#e1e1e1}
.hotnewsgrey2 span {  padding:0 10px;width:150px;}
.iconlist1 span{  
    line-height: 25px;
    overflow: hidden;
    padding-right: 20px;
    width: 176px;}

.titleright{line-height:40px;height:40px;padding:0px 10px }
.list-right {padding-top:4px;}
.list-right li{ background:url(../images/img14.gif) no-repeat  12px 10px ;padding-left:25px; line-height:25px;}
.list-right a{color:#386ec3;}
.list-right-width{width:50px; padding-right:5px; float:left}
.title-small{ background:url(../images/img13.gif) no-repeat 10px 10px #F9f9f9; padding-left:25px;height:28px;line-height:28px;}
.title-small span{width:60px; padding-right:5px;}.width70px{width:70px;}.width90px{width:80px;}.width447{ width:447px}
.width290 {
    width: 300px;
}
.ad980px{MARGIN:15PX 0PX;width:980px;height:70px;}
.ad650px{MARGIN:15PX 0PX 15px 13px;width:647px;height:69px;}

.line25over{line-height:28px;height:28px;overflow:HIDDEN;}
.width330px{width:330px;border-left:0px;}
.width329px{width:304px;border:1px solid #e8e8e8;border-left:0px;padding:10px 10px 0px 10px;height:250px;}
.width320px{width:320px;}
.width318px{width:318px;border:1px solid #e8e8e8;height:260px; }
.width300px{width:300px;border:1px solid #e8e8e8;height:260px; }
.width665 {width: 650px;}
.height300px{width:304px;border:1px solid #e8e8e8;border-left:0px;padding:10px 10px 0px 10px;height:300px;}
.width1{height:22px;}
.width1l{ float:left;width:158.5px; text-align:center; line-height:22px; font-weight:bold;  border-bottom:1px solid #e8e8e8;}
.width2{ height:58.5px;}
.width2l,.width2r{ float:left;width:158.5px;}
.width2l{padding-top:15px; height:44.5px; border-right:1px solid #e8e8e8;}
.widthsp1{display:block; line-height:18px; padding-left:25px;}
.widthsp2{display:block; text-align:center; color:#7088C1;}
.list2-li{padding-left:15px;line-height:30px;}
.list2-li a{color:#464646;}.list2-li a:hover{color:#999;}
.margintop15{margin-top:15px}.paddingleft15{padding-left:15px;}.paddingleft10{padding-left:10px;}
.margintop10{margin-top:10px}
.pic-list{}
.pic-list img{width:80px;height:65px;}
.pic-list-detail{padding:0px 10px;width:198px;}.pic-list-detail2{padding:10px;width: 204px;}
.pic-list2{ width:144px; height:115px;}.pic-list2 p{margin:0px;padding:0px; background: #27b8c9}
.pic-list3{ width:318;}
.hidde{display:none}
.imgs{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;background:#0000;}
.product-list{
    border: 1px solid #E8E8E8;
    padding:0 10px;height:654px;overflow:hidden;width:298px;padding-bottom:10psx;
}

.product-list1{
    border: 1px solid #E8E8E8;
    padding:0 10px;height:754px;overflow:hidden;width:298px;padding-bottom:10psx;
}

.product-bak{
    border: 1px solid #E8E8E8;
    padding:0 10px;height:814px;overflow:hidden;width:298px;padding-bottom:10psx;
}
.product-list-t{padding:15px 0px 10px 0px;}
.product-list-d{padding:0px 5px 10px 0px; }.product-list-d li {
    float: left;white-space:nowrap;
    line-height:30px;line-height:28px\9;*line-height:30px;
    padding-right: 20px;
}
.yourplace li{ float:left;padding:0px 3px;}
.yourplace a{color:#386ec3;}
.width250{width:290px;margin-right:15px;}
.width715{ width:675px;}
.zsqx{padding: 0px; width:318px;border: 1px solid #E8E8E8;height:342px;overflow:hidden;}




.listmenu{background:#f9f9f9; height:35px;line-height:35px;color:#464646;font-size:14px; }
.listmenu-a{color:#fff; font-weight:bold; background:#ff3a3a;text-align:center;}
.listmenu a{  float:left;width:75px;text-align:center; cursor:pointer}
.listmenu a:hover{ background:#F2F2F2;color:#000;}



.listmenu2{ height:35px;line-height:35px;color:#464646;font-size:14px;border:1px solid #EAEAEA;border-top:0px; }
.listmenu2 a{  float:left;width:108px;text-align:center; cursor:pointer;color:#464646;}
.listmenu2 a:hover{color:#464646;background:#f9f9f9; } 
.listmenu-2a {

    color: #464646;
    font-size:14px;font-weight:bold;
    text-align: center;
}

.blank2{ border:1px solid #eaeaea; padding:15px;}.blank3{ border:1px solid #eaeaea;border-top:0px; padding:15px;}
.bgred{ background:#ff2525;padding-right:5px}.bggrey{ background:#576673;padding:0px 5px}

.content-list{  padding:20px 0px;color:#878787}
.content-list li{ background:url(../images/img14.gif) no-repeat left ; margin:0px 20px;padding-left:15px; line-height:32px;}
.content-list a{color:#386ec3; font-size:14px;}
.content-list a:hover{color:#888}
.content-list p{padding:5px 0px 0px 35px;}

/*首页图片新闻*/
.n1 {height: 230px; width: 316px; position: relative;}
.n11{height: 28px; width: 316px;  border-top: 1px  solid #F6f6f6; position: relative;*height:25px;background: none repeat scroll 0 0 #F6f6f6;}
.n2 {height: 30px;line-height:30px; width: 316px; position: absolute; bottom: 0px; left: 0px; opacity: 0.5; background:#000;}
.n3 {height: 30px;line-height:30px; padding-left:10px;position: absolute; bottom: 0px; left: 0px; font-size:14px;color:#fff;}
.n4 {margin:0px 10px;height: 28px; *height: 25px;  position: absolute;   width: 298px ;border-top: 1px solid #f1f1f1;*border-top:0px solid #f1f1f1;}
.n5 {height: 28px;line-height: 28px;*height: 25px;*line-height: 25px;cursor:pointer;padding-left:10px;position: absolute; bottom: 0px; left: 0px; font-size:12px;color:#666666;}
.d1 {float: left;}
.d11 {float: left;display:none}

.focus-icon {
width: 13px;
height: 12px;
float: left;
display: inline;
margin: 8px 6px 0 0;
background-position: 0 -90px;
overflow: hidden;
font-size: 0;
}

/* search */
#dropdown{}
#dropdown p {
   background:#f2f2f2;
    border: 1px solid #E6E6E6;
    border-right:0px;
    color: #807A62;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding:0px 8px; 
    position:relative;
    color: #999999;
    font-size: 14px;}
#dropdown ul{width:58px; margin-top:-1px; background:#f2f2f2;border:1px solid #e6e6e6;position:absolute; display:none}
#dropdown ul li{height:24px; line-height:24px; text-indent:10px}
#dropdown ul li a{display:block; height:24px; color:#999; text-decoration:none}
#dropdown ul li a:hover{background:#fff; color:#999}

/*商品�?*/
	.button {
	margin: 10px;
	text-decoration: none;
	font: bold 1.5em 'Trebuchet MS',Arial, Helvetica;
	/*Change the em value to scale the button*/
	display: inline-block;
	text-align: center;
	color: #fff;
	border: 1px solid #9c9c9c;
	/* Fallback style*/
	border: 1px solid rgba(0, 0, 0, 0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 .05em rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
}
.button, .button span {
	-moz-border-radius: .3em;
	border-radius: .3em;
}
.button span {
	border-top: 1px solid #fff;
	/* Fallback style*/
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	display: block;
	padding: 0.5em 2.5em;
	/* The background pattern*/
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
	background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%), -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
	/* Pattern settings*/
	-moz-background-size: 3px 3px;
	-webkit-background-size: 3px 3px;
	background-size: 3px 3px;
}
.button: hover {
	box-shadow: 0 0 .1em rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}
.button: active {
	/* When pressed, move it down 1px*/
	position: relative;
	top: 1px;
}
/*----------------------------*/
	.button-khaki {
	background: #A2B598;
	background: -webkit-gradient(linear, left top, left bottom, from(#BDD1B4), to(#A2B598) );
	background: -moz-linear-gradient(-90deg, #BDD1B4, #A2B598);
	filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#BDD1B4', EndColorStr='#A2B598');
}
.button-khaki: hover {
	background: #BDD1B4;
	background: -webkit-gradient(linear, left top, left bottom, from(#A2B598), to(#BDD1B4) );
	background: -moz-linear-gradient(-90deg, #A2B598, #BDD1B4);
	filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A2B598', EndColorStr='#BDD1B4');
}
.button-khaki: active {
	background: #A2B598;
}
/*--------------------------*/
	.button-orange {
	background: #f09c15;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8c939), to(#f09c15) );
	background: -moz-linear-gradient(-90deg, #f8c939, #f09c15);
	filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f8c939', EndColorStr='#f09c15');
}
.button-orange: hover {
	background: #f8c939;
	background: -webkit-gradient(linear, left top, left bottom, from(#f09c15), to(#f8c939) );
	background: -moz-linear-gradient(-90deg, #f09c15, #f8c939);
	filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f09c15', EndColorStr='#f8c939');
}
.button-orange: active {
	background: #f09c15;
}

/*产业�?*/
table.imagetable {
	border:0px ;
	border-collapse: collapse;width:100%
}
table.imagetable a{color:#464646}
table.imagetable a:hover{color:#386ec3}
table.imagetable td {
	padding:10px;
	border:1px dotted #EAEAEA;
}
table.imagetable th {
	padding:10px;
	border:1px dotted #EAEAEA;
}

/*footer*/
.bkgrey{border-top:1px #e6e6e6 solid;border-bottom:1px #e6e6e6 solid;font-size:12px;padding:15px 0px;color:#e1e1e1}
.bkgrey a{font-size:12px;color:#666}
.bkgrey a:hover{color:#386ec3;}
.bkgrey span{color:#464646;font-weight:bold}
/*详细�?*/
ul.list-text{ width:120px;padding-top:3px;}
ul.list-text li{ line-height:20px; float:left; margin-right:10px}
.dir{ border-bottom:solid 4px #386ec4; height:30px;color:#e1e1e1;}
.dir a{ color:#386EC3;}
.detail-text p{margin-bottom:20px}
.tips{ background:#f5f5f5;margin-top:20px;line-height:35px;height:35px;overflow:hidden;color:#464646;}
ul.guide{ border-top:dotted 1px #b4b4b4; padding:15px 0 3px 0}
ul.guide li{ float:left}
ul.report{ padding-top:10px}
.search{ background:url(../images/inpt.gif) no-repeat; height:31px; border:0; width:243px; text-indent:6px; line-height:31px}
.btn{ background:url(../images/btn.gif) no-repeat; height:31px; border:0; width:36px; margin-top:1px}
ul.moreinfo li{line-height:22px; text-indent:0;}
ul.moreinfo li span{ float:left;margin-right:10px}
ul.moreinfo li span.span1{ width:204px}
.contactnews li{ background:url(../images/img14.gif) no-repeat  2px 13px ;padding-left:15px;}
.conn{text-align:center;}
.txtbz {
clear: both;
line-height: 20px;
font-size: 12px;
margin: 5px 0px 0px;
background-color: #f4f4f4;
color: #666666;
text-indent: 20px;
}
.cle {
clear: both;
}
.ftab td{line-height:20px;padding:0px 3px;}
.ftab .w1{BACKGROUND: url(../images/all.gif) no-repeat #fafdff -282px -440px;text-indent:20px;}
.ftab .w2{padding-left:10px}
.ftab .stit{font:bold 14px "SimSun";color:#21469f;height:20px;line-height:20px;background-color:#e9f1fb;text-align:center;}


/*chain*/
.ys_tb3 {
background: url(../images/ys_tb1.gif) 8px 8px no-repeat;
padding-left: 25px;
}
.blue, a.blue:link, a.blue:visited {
color: #22479F;
text-decoration: none;
}
.t14 {
font-size: 14px;
}
.lrsh {
padding-bottom: 6180px;
margin-bottom: -6180px;
}
.wd690 {
width: 690px;
}
.magt15 {
margin-top: 15px;
}
.ovh {
overflow: hidden;
}
.magt15 {
margin-top: 15px;
}
.tac {
text-align: center;
}

/*DateCSS样式*/ 
.header{font:12px Arial, Tahoma!important;font-weight:bold!important;font:11px Arial, Tahoma;font-weight:bold;color:#154BA0;/*年月连字符颜�?*/background:#3CF;/*年月连字符背景色*/height:25px;padding-left:10px;}
.header td{padding-left:10px;}
.header a{color#F0F;}
.header input{background:none;vertical-align:middle;height:16px;}
.category{font:12px Arial, Tahoma!important;font:11px Arial, Tahoma;color:#90F;/*星期字体颜色*/height:20px;background-color:#CF9;/*星期字体背景�?*/}
.category td{border-bottom:2px solid #3CF;/*星期与日期分割线颜色及宽�?*/}
.expire, .expire a:link, .expire a:visited{color:#000;/*当前日期前的颜色*/}
.default, .default a:link, .default a:visited{color:#999;/*当前日期后的颜色*/}
.checked, .checked a:link, .checked a:visited{color:#F00;/*选定年份、�?�定月份及�?�定日期的颜�?*/}
.today, .today a:link, .today a:visited{color:#0F0;/*当前年份、当前月份及当前日期的颜�?*/}
#calendar_year{display:none;line-height:130%;background:#3CF;/*年份选择框分割线颜色*/position:absolute;z-index:10;}
#calendar_year .col{float:left;background:#3CF;/*年份选择框底�?*/margin-left:0px;border:0px solid #3CF;/*年份选择框边框颜色及宽度*/padding:2px;}
#calendar_month{display:none;background:#3CF;/*月份选择框底�?*/line-height:130%;border:0px solid #3CF;/*月份选择框边框颜色及宽度*/padding:2px;position:fixed;z-index:11;}
.tableborder{background:white;border:2px solid #3CF;/*控件边框颜色*/}
#year, #month{padding-right:2px;}

/*cpro_list*/
.name {
color: #04005E;
font-size: 24px;
font-weight: bold;
line-height: 40px;
text-align: center;
}
.name2 {
height: 24px;
line-height: 24px;
text-align: center;
}
.block h3{
    background:scroll 0 0 transparent;
    display: block;
    font-size: 14px;
    height: 20px;
    padding: 5px 10px 5px 36px;
    width: 704px;
}
.block h3 span{
    float: right;
    font-size: 12px;
    margin-right: 20px;
    *margin-top: -20px;
    _margin-top: -20px;
}
.block h4{
    background:scroll 0 0 transparent;
    display: block;
    font-size: 14px;
    height: 28px;
    padding: 5px 10px 5px 36px;
    width: 704px;
}
.block h4 span{
    float: right;
    font-size: 12px;
    margin-right: 20px;
    *margin-top: -20px;
    _margin-top: -20px;
}
.block .message{
    color: #244499;
    margin: 5px;
}
.message span{
    background:scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    padding-left: 3px;
	  width: 60px;
}
.block .inc-section{
    margin-top: -5px;
} 
.block .inc-section span{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
.block .inc-section span a{
    color:#244499;
    text-decoration: none;

}
.block .inc-section form{

}
.block .inc-page-jump{
  margin: 5px;
}
.block .inc-page-jump span{
  font-weight: bold;
  color: #66CC00;
}
.block .inc-page-jump a{
  padding:2px 5px;
  background:#effcff;
}
.block .inc-page-jump a:hover{
  background:#FFEF8E;
}

.block .data-detail{
  margin: 5px 0px;
}
.block .data-detail table{
  border-collapse: collapse;
  width: 99%;
}
.block .data-detail table th{
    border: 1px solid #E8E8E8;
    border-spacing: 1px;
    line-height: 150%;
    padding: 2px;
    text-align: right;
    width: 150px;
}
.block .data-detail table td{
  line-height: 150%;
  border: 1px solid #E8E8E8;
  border-spacing: 1px;
}

.block .data-list{
  margin: 8px 0px;
}
.block .data-list table{
    border-collapse: collapse;
    width: 98%;
}
.block .data-list table tr {
   border: 1px solid #E8E8E8;
    line-height: 25px;
}
.block .data-list table tr:nth-child(odd) {
   border: 1px solid #E8E8E8;
}
.block .data-list table tr:hover{
  background-color: #FFF6C1;
}
.block .data-list table th{
   background:#F3F3F3;
    color: #666666;
    font-size: 12px;
}
.block .data-list table td{
   border: 1px solid #E8E8E8;
  border-spacing: 1px;
}
.block .data-list table td.center{
  text-align: center;
}

/* flexslider */
.flexslider{position:relative;height:200px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:200px;}
.slides li a{ display:block; width:100%; height:100%; text-align:left; text-indent:-9999px}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:255px;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3; left:0;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:20px;background:url(../images/prev.png) center center no-repeat;display:none;}
.flex-direction-nav li a.flex-next{right:20px;background:url(../images/next.png) center center no-repeat;display:none;}

/*jqzoom*/
#preview{ float:none; margin:auto; text-align:center; width:320px;}
.jqzoom{ width:320px; height:280px; position:relative;}

.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:350px; height:56px; padding-top:6px; overflow:hidden;}
#spec-left{ background:url(../images/left.gif) no-repeat; width:10px; height:45px; float:left; cursor:pointer; margin-top:5px;}
#spec-right{background:url(../images/right.gif) no-repeat; width:10px; height:45px; float:left;cursor:pointer; margin-top:5px;}
#spec-list{ width:318px; float:left; overflow:hidden; margin-left:2px; display:inline;}
#spec-list ul li{ float:left; margin-right:0px; display:inline; width:62px;}
#spec-list ul li img{ padding:2px ; border:1px solid #ccc; width:50px; height:50px;}

#n{margin:10px auto; width:320px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}

/*jqzoom www.divcss5.com */
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:320px;height:300px;background:url(../images/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:290px; margin-right:6px;}
#spec-list div{ margin-top:0;margin-left:-30px; *margin-left:0;}

/*panel*/
.panel-overlay-link, .panel-overlay-index { display:block; padding-top:10px; font-family:微软雅黑, 黑体; }
.panel-overlay-link, .panel-overlay-link:hover { text-decoration:none; }
.panel-overlay-index { position:absolute; top:0; right:10px; font-size:16px; }
.panel img {width:320px;height:230px;}
.nav-next, .nav-prev { background:url(../images/picsquare_icons.png) repeat 0 -292px #fff; }
.nav-prev { background-position:0 -292px; }
.nav-prev:hover { background-position:-60px -292px; }
.nav-prev:active { background-position:-120px -292px; }
.nav-next { background-position:-25px -292px; }
.nav-next:hover { background-position:-85px -292px; }
.nav-next:active { background-position:-145px -292px; }
.filmstrip li { width:90px; height:60px; overflow:hidden; }
.filmstrip img { width:128px; height:60px; margin-left:-19px; }

/*pager*/
.inc-page-jump a {
padding: 4px 8px;  background:  #eaeaea;
border: #e1e1e1 1px solid;
margin: 10px 1px;
color: #888;
}
.inc-page-jump a:hover {
padding: 4px 8px; background:  #2B60AC;
border: #284E8F 1px solid;font-weight:bold;
margin: 10px 1px;
color: #fff;
}
.inc-page-jump-a {
padding: 4px 8px; background:  #2B60AC;
border: #284E8F 1px solid;font-weight:bold;
margin: 10px 1px;
color: #fff;
}
.pager{padding:10px; text-align:left;background:#F9F9F9; }

.table-other {font-size:14px; border-collapse:collapse;border:0px dotted #e4e4e4;margin:0px;padding:0px;}
.table-other th{padding:20px;border:1px dotted #e4e4e4; }
.table-other td{border:1px dotted #e4e4e4; background:#fff;padding:15px;}.table-other th{width:15%}
.bgwhite{background:#fff;}
.table-other th.borleft0{border-left:0px;}
.table-other td.borright0{border-right:0px;}

.input2 {
    background: url("../images/img2.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #E6E6E6;
    color: #999999;
    font-size: 14px;
    height: 28px;
    padding-left: 10px;
    text-align: left;
    width:280px;
}
.input3 {
    background: url("../images/img2.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #E6E6E6;
    color: #999999;
    font-size: 14px;
    height: 28px;
    padding-left: 10px;
    text-align: left;
    width: 110px;
}.width963_s {
    clear: both;
    margin: 0 auto;
    width: 980px;
}.width963_s li {
    float: left;
    margin-right:10px;
}
.width963_s .no {
    margin: 0;
}
