

/*
*   program: 西藏集约化-公共头尾
*   author: ln
*   date: 2018-12-04
*/

.g-header, .g-main, .g-footer {
    min-width: 1200px;
}

body {
    position: static;
}

.nmz-head-tool-wp {
    background: #1d74cd;
    border-bottom: 1px solid #f3f7fa;
}

.nmz-head-tool {
    padding: 0 15px;
    line-height: 30px;
}

.nmz-head-tool .a {
    font-size: 12px;
    color: #dfe8f6;
}

.nmz-head-tool .link:hover {
    font-weight: bold;
    text-decoration: underline;
}

.nmz-head-tool .line {
    width: 1px;
    height: 10px;
    margin: 0 10px;
    background: #dfe8f6;
}

.nmz-head-tool .tool {
    width: 80px;
    text-align: center;
}

.nmz-head-tool .tool:hover {
    background: #1b6cbf;
}

.nmz-head-bar-wp {
    background: #dae8f4;
}

.nmz-head-bar {
    height: 80px;
    padding: 0 10px 0 5px;
}

.nmz-head-bar .logo {
    margin: 17px 0 0 0;
}

.nmz-head-nav .li  {
    margin: 0 0 0 45px;
}

.nmz-head-nav .a {
    margin: -1px 0 0 0;
    padding: 36px 0 0 0;
    line-height: 1;
    font-size: 18px;
    color: #333;
}

.nmz-head-nav .a:hover, .nmz-head-nav .a.cur {
    font-weight: bold;
    color: #1d74cd;
    background: url("../image/nmz-head-nav-cur.png") center top no-repeat;
}

.nmz-head-btm {
    height: 18px;
    background: url("../image/nmz-head-btm_02.png") repeat-x;
}

.nmz-bg-white {
    background: #fff;
}

.nmz-footer-link {
    margin-top: 20px;
    line-height: 80px;
}

.nmz-footer-link>.img {
    margin: 0 6px 0 19px;
}

.nmz-footer-link>.tag {
    margin: 0 23px 0 0;
    font-weight: bold;
    font-size: 18px;
    color: #0084d7;
}

.nmz-footer-drop {
    width: 248px;
    margin-left: 10px;
    line-height: 38px;
    border: 1px solid #ececec;
}

.nmz-footer-drop .select, .nmz-footer-drop .dropdown-menu {
    padding: 0 15px;
}

.nmz-footer-drop .select .tt, .nmz-footer-drop .dropdown-menu .a {
    max-width: none;
    font-size: 16px;
    color: #828282;
}

.nmz-footer-drop .dropdown-menu {
	bottom: 40px;
}

.nmz-footer-btm {
    height: 97px;
    margin-top: 20px;
    background: #226dba;
}

.nmz-footer-btm .db {
    vertical-align: top;
}

.nmz-footer-lf {
    padding: 22px 0 0 0;
}

.nmz-footer-lf .text {
    margin: 0 0 0 18px;
    line-height: 1;
    font-size: 12px;
    color: #dfe7f2;
}

.nmz-footer-lf .text .tt {
    margin: 9px 0 0 0;
}

.nmz-footer-about {
    margin: 30px 0 0 0;
    line-height: 14px;
}

.nmz-footer-about .a {
    font-size: 14px;
    color: #dfe7f2;
}

.nmz-footer-about .a:hover {
    text-decoration: underline;
}

.nmz-footer-about .line {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 12px;
    background: #a5bcdd;
}

.nmz-footer-find {
    margin: 25px 0 0 22px;
}

.nmz-float {
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    padding: 210px 0 0 0;
    text-align: center;
    background: url("../image/nmz-float-bg_03.png");
}

.nmz-float .li {
    position: relative;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
}

.nmz-float .a {
    display: block;
}

.nmz-float .a .tt {
    display: none;
    margin: 0 14px;
    font-size: 14px;
    color: #fff;
}

.nmz-float .a:hover, .nmz-float .a.cur {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 12px;
    text-align: left;
    white-space: nowrap;
    background: #26b87c;
    border-radius: 25px 0 0 25px;
}

.nmz-float .a:hover .img, .nmz-float .a.cur .img {
    margin:  0 0 0 12px;
}

.nmz-float .a:hover .tt, .nmz-float .a.cur .tt {
    display: inline;
}

.nmz-top-search-wp {
    box-sizing: border-box;
    height: 167px;
    padding: 53px 0 0 0;
    text-align: center;
}

.nmz-top-search {
    line-height: 50px;
    background: url("../image/nmz-top-search-bg_01.png");
    border: 1px solid #fff;
}

.nmz-top-search .inp {
    box-sizing: border-box;
    width: 550px;
    height: 50px;
    padding: 0 27px;
    font-size: 14px;
    color: #333;
}

.nmz-top-search .inp::placeholder {
    font-size: 14px;
    color: #666;
}

.nmz-top-search .btn {
    width: 50px;
    height: 50px;
    background: #e2052a;
}

.nmz-top-search .btn:hover {
    opacity: .8;
}

.nmz-search-word {
    margin: 8px 0 0 0;
    line-height: 19px;
}

.nmz-search-word .tt {
    font-size: 14px;
    color: #fff;
}

.nmz-search-word .a {
    margin: 0 0 0 10px;
    padding: 0 12px;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
}

.nmz-search-word .a:hover, .nmz-search-word .a.cur {
    background: url("../image/nmz-top-search-bg_02.png");
}