

/*
*   program: 西藏集约化-页面中间内容
*   author: all
*   date: 2018-12-04
*/

/********************************首页 by ln*********************************/
.vxz-bn_tab{
	width: 100%;
	background: #fff;
	box-sizing: border-box;
}
.shadow10{
	box-shadow: 0 0 10px #d7e5fd;
}
.vxz-ban-box{
	height:370px; 
	width: 400px;
	overflow: hidden;
	position: relative;
}
.vxz-ban-img{
	height:280px; 
	width: 400px;
	overflow: hidden;
	position: relative;
}
.vxz-ban-img a{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
}
.vxz-ban-img a img{
	display: block;
	height:100%;
	width: 100%;
}
.vxz-ban-time{
	position: absolute;
	left: 15px;
	bottom: 74px;
	height:38px;
	width: 50px;
	border-radius: 5px;
	overflow: hidden;
}
.vxz-ban-time a{
	display: block;
	height:100%;
	width: 100%;
}
.vxz-ban-time a span{
	display: block;
	width: 100%;
	height:22px; 
	line-height: 22px;
	text-align: center;
	color: #424658;
	font-size: 16px;
	font-weight: bold;
	background: #fff;
}
.vxz-ban-time a p{
	height:16px;
	line-height: 16px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background: #d53541;
}
.vxz-ban-btn{
	position: absolute;
	right: 10px;
	bottom: 24px;
	height: 20px;
	width: 45px;
	z-index: 5;
}
.vxz-ban-btn .btns{
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border:1px solid #e5e9ee;
	border-radius: 3px;
	cursor: pointer;
	box-sizing: border-box;
	color: #b7bac1;
	font-size: 14px;
}	
.vxz-ban-btn .btns:hover{
	color: #fff;
	background: #00ce9d;
}
.vxz-ban-text{
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 90px;
	width: 100%;
	box-sizing: border-box;
	border:1px solid #e5e9ee;
	border-top: transparent;
	border-radius: 0 0 4px 4px;
	z-index: 2;
}
.vxz-ban-text p{
	position: absolute;
	bottom: 18px;
	left: 15px;
}
.vxz-ban-text p a.tit{
	display: block;
	height: 26px;
	line-height: 26px;
	font-size: 16px;
	color: #424658;
	max-width: 300px;
}
.vxz-ban-text p a.det{
	display: block;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: #989ba8;
	max-width:300px;
}
.vxz-index_tab{
	width: 514px;
	height: 370px;
}
.vxz-cm_tab-tit{
	height: 36px;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e9ee;
}
.vxz-cm_tab-tit p.select{
	height:36px;
	overflow: hidden;
}
.vxz-cm_tab-tit p.select a{
	float: left;
	height: 35px;
	color: #424658;
	font-size: 16px;
	line-height: 35px;
	box-sizing: border-box;
}
.vxz-cm_tab-tit.a_pd54 p.select a{
	padding:0 54px;
}
.vxz-cm_tab-tit p.select a.cur{
	border-bottom: 2px solid #336eda;
}
.vxz-tab-item p.tit{
	height: 72px;
	width: 100%;
	overflow: hidden;
	padding:18px 0;
}
.vxz-tab-item p.tit a{
	font-size: 30px;
	line-height: 36px;
	color: #363947;
}
.vxz-tab-list li a{
	float: left;
	font-size: 16px;
	color: #444;
	max-width: 65%;
	line-height: 36px;
	padding-left: 24px;
	background: url(../image/vxz-tab-icon01.png) no-repeat left center;
}
.vxz-tab-list li span{
	float: right;
	font-size: 12px;
	color: #9c9fac;
	line-height: 36px;
}
.vxz-tab-list li a:hover{
	font-weight: bold;
	color: #2a8bed;
}
.vxz-btns-ck{
	width: 205px;
	height: 370px;
}
.vxz-btns-ck .tit{
	height: 36px;
	line-height: 36px;
	width: 100%;
	text-align: center;
	color: #424658;
	font-size: 16px;
}
.vxz-ck-list li{
	margin-bottom:5px;
}
.vxz-ck-list li a{
	display: block;
	height: 80px;
	width: 100px;
	box-sizing: border-box;
	border:1px solid #e5e9ee;
	border-radius: 4px;
	position: relative;
}
.vxz-ck-list li a img{
	margin:16px auto 0;
}
.vxz-ck-list li a img.img01{
	display: block;
}
.vxz-ck-list li a img.imgh{
	display: none;
}
.vxz-ck-list li a:hover{
	background: #2a8bed;
}
.vxz-ck-list li a:hover span{
	color: #fff;
}
.vxz-ck-list li a:hover img.img01{
	display: none;
}
.vxz-ck-list li a:hover img.imgh{
	display: block;
}
.vxz-ck-list li a span{
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #666976;
	font-size: 12px;
}
.vxz-btns-ck .oa-ck{
	display: block;
	width: 100%;
	height: 80px;
	background: url(../image/vxz-ck-iconbg07.png) no-repeat;
}
.vxz-btns-ck .oa-ck img{
	float: left;
	margin:25px 10px 0 57px;
}
.vxz-btns-ck .oa-ck span{
	float: left;
	line-height: 80px;
	color: #fff;
	font-size: 14px;
}
.vxz-fade-box{
	box-sizing: border-box;
	height: 180px;
	width: 100%;
	background: #fff;
}
.vxz-fade-box a,
.vxz-fade-box a img{
	display: block;
	height: 100%;
	width: 100%;
}
.vxz-thr_tab-box{
	background: #fff;
	box-sizing: border-box;
}
.vxz-thr-tabs{
	width: 370px;
}
.vxz-cm_tab-tit a.more{
	float: right;
	line-height: 36px;
	color: #9c9fac;
	font-size: 12px;
	padding-right: 18px;
	background: url(../image/vxz-tab-more.png) no-repeat right center;
}
.vxz-cm_tab-tit.a_top-10 p.select a{
	line-height: 20px;
}
.vxz-tab-list.a_pd14 li a{
	padding-left: 14px;
	max-width: 90%;
}
.vxz-roll-box{
	height:245px; 
	width: 100%;
	box-sizing: border-box;
	background: #fff;
}
.vxz-pic-tit{
	height:22px;
	width: 100%;
	position: relative;
}
.vxz-pic-tit .icon{
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 9px;
	margin-top: 1px;
}
.vxz-pic-tit .tit{
	float: left;
	line-height: 22px;
	color: #2c345b;
	font-size: 16px;
}
.vxz-pic-tit .line{
	float: left;
	width: 1054px;
	height:1px;
	background: #eceef2;
	margin-left: 10px;
	margin-top: 11px;
}
.vxz-pic-tit .more{
	position: absolute;
	height:22px;
	width: 22px;
	background: url(../image/vxz-pic-more.png) no-repeat;
	top: 0px;
	right: 4px;
}
.vxz-pic-list{
	margin-top: 22px;
}
.vxz-pic-list a{
	float: left;
	height:150px;
	width: 185px;
	position: relative;
	margin-left: 10px;
}
.vxz-pic-list a:first-child{
	margin-left: 0;
}
.vxz-pic-list a img{
	display: block;
	height: 100%;
	width: 100%;
}
.vxz-pic-list a span{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height:40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	background: url(../image/op40-bg.png);
}
.vxz-bigban-fade{
	height:400px;
	width: 100%;
	position: relative;
}
.vxz-bigban-img{
	position: absolute;
	height:400px;
	width: 100%;
	min-width: 1200px;
	overflow: hidden;
}
.vxz-bigban-img a{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left:-960px;
	width: 1920px;
	height:100%;
}
.vxz-bigban-img a img{
	width: 100%;
	height:100%;
}
.vxz-bigban-num{
	position: absolute;
	width: 100%;
	bottom: 74px;
	font-size: 0px;
	height:3px;
	text-align: center;
}
.vxz-bigban-num span.item{
	display: inline-block;
	width: 50px;
	height:3px;
	background: #fff;
	margin:0 5px;
	cursor: pointer;
}
.vxz-bigban-num span.item.cur{
	background: #fecc64;
}
.vxz-ption_mt54{
	position: relative;
	margin-top: -54px;
}
/*互动交流*/
.vxz-location67{
	height:67px;
}
.vxz-leader-box{
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
}
.vxz-leader-tit{
	height:48px;
	box-sizing: border-box;
	border-bottom: 1px solid #dbeaf3;
}
.vxz-leader-tit a.tit{
	height:52px;
	width: 130px;
	background: url(../image/vxz-leader-icon01.png) no-repeat center bottom;
}
.vxz-leader-tit a.tit span{
	display: block;
	height:48px;
	width: 100%;
	text-align: center;
	line-height: 48px;
	color: #fff;
	font-size: 16px;
	background: #336eda;
}
.vxz-leader-tit a.btns{
	height:30px;
	width: 90px;
	line-height: 30px;
	text-align: center;
	background: #336eda;
	color: #fff;
	font-size: 13px;
	margin-right: 10px;
	margin-top: 10px;
}
.vxz-leader-tit a.btns.color{
	background: #fabc37;
}
.vxz-leader-table{
	width: 100%;
}
.vxz-tit-bth{
	height:40px;
	margin-top: 6px;
}
.vxz-tit-bth span{
	font-size: 14px;
	color: #1e81cd;
	line-height: 44px;
	font-weight: bold;
	float: left;
	text-align: center;
}
.vxz-tit-bth .th1,
.vxz-leader-table td.td1{
	width: 123px;
}
.vxz-tit-bth .th2,
.vxz-leader-table td.td2{
	width: 334px;
}
.vxz-tit-bth .th3,
.vxz-leader-table td.td3{
	width: 140px;
}
.vxz-tit-bth .th4,
.vxz-leader-table td.td4{
	width: 140px;
}
.vxz-tit-bth .th5,
.vxz-leader-table td.td5{
	width: 123px;
}
.vxz-leader-table table{
	width: 100%;
	border:1px solid #dbeaf3;
}
.vxz-leader-table table tr{
	border:1px solid #dbeaf3;
	height:50px;
}
.vxz-leader-table table tr td{
	border:1px solid #dbeaf3;
	font-size: 13px;
	color: #666;
	text-align: center;
}
.vxz-leader-table table tr td a.tit{
	display: block;
	text-align: left;
	padding-left: 22px;
	box-sizing: border-box;
	max-width: 300px;
}
.vxz-leader-table table tr td a:hover{
	color: #1e81cd;
}
.vxz-leader-tit a.btns.red{
	background: #bf0103;
}
.vxz-leader-tit a.btns.blue{
	background: #27adc5;
}
.vxz-zxft-box{
	background: #fff;
}
.vxz-zxft-tit{
	height:48px;
	box-sizing: border-box;
	border-bottom: 1px solid #dbeaf3;
	width: 100%;
}
.vxz-zxft-tit a.tit{
	float: left;
	height:20px;
	line-height: 20px;
	margin-left:10px;
	padding-left: 14px;
	border-left: 3px solid #3b9be5;
	font-size: 18px;
	color: #336eda;
	font-weight: bold;
	margin-top: 14px;
}
.vxz-zxft-tit a.more{
	line-height: 48px;
	color: #999;
	font-size: 12px;
	margin-right: 12px;
	cursor: pointer;
}
.vxz-zxft-tit a.more:hover{
	text-decoration: underline;
}
.vxz-zxft-img,
.vxz-zxft-img a,
.vxz-zxft-img a img{
	display: block;
	height:170px;
	width: 100%;
}
.vxz-zxft-info{
	box-sizing: border-box;
	padding:12px 12px 12px 20px;
}
.vxz-zxft-info li span{
	float: left;
	height: 30px;
	line-height: 30px;
	color: #444;
	font-size: 14px;
	font-weight: bold;
}
.vxz-zxft-info li a{
	float: left;
	height: 30px;
	line-height: 30px;
	color: #444;
	font-size: 14px;
}
.vxz-zxft-more{
	display: block;
	width: 295px;
	height:42px;
	line-height: 42px;
	margin:0 auto 25px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: #336eda;
}
.vxz-zxft-more:hover{
	color: #fff;
	font-weight: bold;
}
.vxz-myzj-list{

}
.vxz-myzj-list a{

}
.vxz-myzj-list a span.type{
	float: left;
	color: #999;
	line-height: 36px;
	font-size: 14px;
	margin-right: 12px;
}
.vxz-myzj-list a span.type.ing{
	color: #eb4444;
}
.vxz-myzj-list a .info{
	float: left;
	line-height: 36px;
	color: #666;
	font-size: 14px;
	max-width: 72%;
}
.vxz-myzj-list a .info:hover{
	color: #336eda;
}
.vw-const-box{
	padding: 20px;
}
/*图片列表*/
.vxz-plist-box{
	background: #fff;
}
.vxz-cpic-tit{
	height:50px;
	width: 100%;
	background: url(../image/vxz-cpic-bg.png) no-repeat;
}
.vxz-cpic-tit a.txt{
	display: block;
	line-height: 50px;
	background: url(../image/vxz-pic-icon01.png) no-repeat 22px center;
	box-sizing: border-box;
	padding-left: 60px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
}
.vxz-plist-gp{

}
.vxz-plist-gp li a{
	float: left;
	height:253px;
	width: 275px;
	margin-left: 20px;
	box-sizing: border-box;
}
.vxz-plist-gp li a:hover{
	border:1px solid #4b7eda;
	box-shadow: 0px 0px 5px #e3e2e2;
}
.vxz-plist-gp li a:first-child{
	margin-left: 0;
}
.vxz-plist-gp li a img{
	display: block;
	height:200px;
	width: 100%;
}
.vxz-plist-gp li a span{
	display: block;
	height:53px;
	line-height: 53px;
	box-sizing: border-box;
	padding:0 12px;
	border:1px solid #d2d2d2;
	border-top: transparent;
	font-size: 14px;
	color: #000;
}
.vxz-plist_pages{
	padding:45px 0;
}
/*领导介绍*/
.nxz-slide-pie-wp.vxz-rset_pd{
	padding:0;
}
.nxz-overview>.slide.vxz-slide{
	width: 270px;
}
.nxz-overview>.slide.vxz-slide .nxz-overview-title{
	box-sizing: border-box;
}
.vxz-slide-lists a.item{
	display: block;
	height:48px;
	cursor: pointer;
	border-left:2px solid transparent;
}
.vxz-slide-lists{
	margin-top: 14px;
}
.vxz-slide-lists a.item.cur{
	background: #f7fafd;
	border-left-color: #336eda;
}
.vxz-slide-lists a.item.cur .name{
	color: #336eda;
}
.vxz-slide-lists a.item:hover{
	background: #f7fafd;
	border-left-color: #336eda;
}
.vxz-slide-lists a.item:hover .name{
	color: #336eda;
}
.vxz-slide-lists a.item .name{
	font-size: 16px;
	color: #333;
	line-height: 48px;
	padding-left: 48px;
}
.vxz-slide-lists a.item .job{
	width: 104px;
	line-height: 48px;
	color: #999;
	font-size: 14px;
}
.nxz-overview-bg.vxz-slide_bg{
	width: 100%;
}
.nxz-overview>.cont.vxz-cont{
	width: 910px;
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 15px;
}
.vxz-leader-jlbox{

}
.vxz-leader-jlpic{
	width: 140px;
	min-height: 190px;
}
.vxz-leader-jlpic a{
	background: #ccc;
}
.vxz-leader-jlpic a,
.vxz-leader-jlpic a img{
	display: block;
	height:190px;
	width: 100%;
}
.nxz-overview>.cont.vxz-cont .vxz-cm_tab-tit p.select a.cur{
	color: #336eda;
	font-size: 18px;
	font-weight: bold;
	padding:0 10px;
}
.vxz-leader-e_if{
	margin-left: 28px;
}
.vxz-leader-e_if .item{
	font-size: 16px;
	color: #333;
	line-height: 30px;
}
/*搜索页面*/
.vxz-sear_page-tit{
	height:42px;
	line-height: 42px;
	color: #666;
	box-sizing: border-box;
	padding-left: 18px;
	font-size: 14px;
	background: #f7fafd;
}
.vxz-sear_cons{
	box-sizing: border-box;
	padding:20px 40px 0px 30px;
}
.vxz-sears-list .vxa-sub{
	color: #000;
	line-height: 34px;
	font-size: 18px;
}
.vxz-sears-list .vxa-sub a{
	color: #e22117;
}
.vxz-sh_item01{
	margin-top: 5px;
}
.vxz-sh_item01 .simg{
	height:100px;
	width: 150px;
}
.vxz-sh_item01 .cons{
	height:100px;
	margin-left: 15px;
	width: 630px;
}
.vxz-sh_item01 .cons .item{
	color: #333;
	line-height: 28px;
	font-size: 14px;
}
.vxz-sh_item01 .cons .item .link{
	color: #e22117;
}
.vxz-sh_item02{

}
.vxz-sh_item02 li a{
	float: left;
	color: #333;
	font-size: 16px;
	line-height: 30px;
	box-sizing: border-box;
	padding-left: 15px;
	background: url(../image/vxz-sear-icontab.png) no-repeat left center;
}
.vxz-sh_item02 li span{
	float: right;
	line-height: 30px;
	color: #999;
	font-size: 12px;
}
.vxz-sh_item03{
	width: 804px;
	overflow: hidden;
}
.vxz-sh_item03 a{
	float: left;
	height:100px;
	overflow: hidden;
	margin-left: 1px;
}
.vxz-sh_item03 a:first-child{
	margin-left: 0px;
}
.vxz-sh_item03 a img{
	display: block;
	height:100%;
}
.vxz-sh_item04 p.title{
	
}
.vxz-sh_item04 p.title .type{
	float: left;
	height: 26px;
	width: 86px;
	background: #3092dd;
	color: #fff;
	line-height: 26px;
	text-align: center;
	font-size: 16px;
}
.vxz-sh_item04 p.title .word{
	line-height: 26px;
	color: #000;
	font-size: 18px;
	vertical-align: middle;
}
.vxz-sh_item04 p.title .word span{
	color: #e22117;
	vertical-align: middle;
}
.vxz-sh_item04 .det{

}
.vxz-sh_item04 .det .item{
	color: #222;
	font-size: 14px;
	line-height: 28px;
}
.vxz-sh_item04 .det .item .red{
	color: #e22117;
}	
.vxz-sh_item04 .det .link-time{
	margin-top: 8px;
}
.vxz-sh_item04 .det .link-time a{
	font-size: 12px;
	color: #222;
	line-height: 20px;
	float: left;
	cursor: pointer;
}
.vxz-sh_item04 .det .link-time span{
	color: #999;
	font-size: 12px;
	float: left;
	line-height: 20px;
	margin-left: 8px;
}
.vxz-sears-list{
	width: 865px;
	padding-bottom: 55px;
	box-sizing: border-box;
	padding-right: 60px;
	border-right: 1px solid #eaecef;
}
.vxz-sh_item04 p.title .type.red{
	background: #ed534b;
}
.vxz-sears-com_tit{
	height: 50px;
	box-sizing: border-box;
	
	border-bottom: 1px solid #dedede;
}
.vxz-sears-com_tit a.tit{
	line-height: 50px;
	color: #1e81cd;
	font-weight: bold;
	font-size: 14px;
}
.vxz-sears-timel{

}
.vxz-sears-timel .time{
	display: block;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color: #333;
	box-sizing: border-box;
	padding-left: 10px;
	background: url(../image/vxz-sear-icontab.png) no-repeat left center;
	cursor: pointer;
}
.vxz-sears-timel .time.cur{
	color: #1e81cd;
	font-weight: bold;
}
.vxz-sears-timel .time:hover{
	color: #1e81cd;
	font-weight: bold;
}
/*文章列表*/
.vxz-art-box .vxz-thr-tabs{
	padding: 20px;
    box-sizing: border-box;
    border: 1px solid #e5e9ee;
    border-radius: 4px;
}
.vxz-art-box .vxz-cm_tab-tit p.select a{
	font-weight: bold;
	color: #424658;
}
/*站点地图*/
.vxz-map-lists{
	min-height: 630px;
}
.vxz-map-lists li{
	height: 60px;
	box-sizing: border-box;
	border:1px solid #ebebeb;
	margin-bottom:20px;
}
.vxz-map-lists li .name{
	float: left;
	height: 60px;
	width: 95px;
	background: url(../image/vxz-map-icon.png) no-repeat right center;
	margin:-1px 0px 0px -1px;
}
.vxz-map-lists li .name span{
	display: block;
	height: 100%;
	line-height: 60px;
	width: 90px;
	background: #2a8bed;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.vxz-map-lists li .btns{
	float: left;
	line-height: 30px;
	color: #474747;
	font-size: 14px;
	padding:0 20px;
	margin:15px 0;
	cursor: pointer;
}
.vxz-map-lists li .btns:hover{
	color: #fff;
	background: #2a8bed;
	border-radius: 20px;
}
/*追加*/

.nxz-overview>.slide.width290{
	width: 290px;
}
.nxz-overview.vw-conts .nxz-overview-title{
	box-sizing: border-box;
}
.nxz-overview.vw-conts>.cont{
	width: 910px;
	box-sizing: border-box;
	margin-top: 0px;
	border-left: 1px solid #e5eaf2;
}
.nxz-overview.vw-conts .nxz-tabBtns{
	height: 53px;
}
.nxz-overview.vw-conts .nxz-overview-bg{
	width: 100%;
}
.nxz-gl-lists{
	padding: 0px;
}
.vw-sub-at{
	margin-top: 30px;
	background: #f7fafd;
	height: 38px;
	width: 100%;
	box-sizing: border-box;
	padding: 11px 0;
}
.vw-sub-at .nxz-art-msg{
	margin-top: 0px;
}
.vw-xl-cons{
	padding:48px 60px;
	box-sizing: border-box;
}
.vw-xl-cons a,
.vw-xl-cons a img{
	display: block;
	width: 790px;
	margin: 0 auto;
}
.vw-xl-cons .title{
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #333;
	font-size: 20px;
	font-weight: bold;
}
.vw-xl-cons .list .item{
	color: #333;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 24px;
}
/*信息公开细缆*/
.vw-inp-boxP{

}
.vw-inp-box .inptit{
	font-size: 30px;
	color: #333;
	text-align: center;
	color: #464646;
	line-height: 44px;
	font-weight: bold;
	margin-top: 36px;
}


.vw-inp-sub{
	height: 22px;
	font-size: 0px;
	text-align: center;
	margin:20px 0 10px;
}
.vw-inp-sub .name{
	display: inline-block;
	line-height: 22px;
	font-size: 14px;
	color: #666;
}
.vw-inp-sub .cls{
	display: inline-block;
}
.vw-inp-sub .cls .color{
	display: inline-block;
	height: 16px;
	width: 16px;
	background: #ccc;
	border-radius: 3px;
	margin:0 3px;
	border:1px solid #e5e5e5;
	box-sizing: border-box;
	cursor: pointer;
}
.vw-inp-sub .color.cur{
	height: 18px;
	width: 18px;
}
.vw-inp-sub .color.cr1{
	background: #fff;
}
.vw-inp-sub .color.cr2{
	background: #d5e3f3;
}
.vw-inp-sub .color.cr3{
	background: #ccece2;
}
.vw-inp-sub .color.cr4{
	background: #f0d7ef;
}
.vw-inp-sub .color.cr5{
	background: #f5e6c2;
}
.vw-inp-sub .font{
	display: inline-block;
	background: url(../image/vx-inp-ficon01.png) no-repeat;
	width: 22px;
	height: 15px;
	margin-left: 35px;
	
}
.vw-inp-sub .fsize{
	display: inline-block;
	position: relative;
}
.vw-inp-sub .fsize .f-sel{
	display: inline-block;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	overflow: hidden;
	box-sizing: border-box;
	border:1px solid #ddd;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #666;
	cursor: pointer;
	margin:0 10px;
	background: #fff;
	position: relative;
	z-index: 10;
}
.vw-inp-sub .fsize .line{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 100px;
	height: 1px;
	background: #ddd;
}
.vw-inp-sub .fsize .f-sel.cur{
	background: #1d74cd;
	border-color: #1d74cd;
	color: #fff;
}
.vw-inp-tabls{
	border-top: 1px dashed #9a9a9a;
	border-bottom: 1px dashed #9a9a9a;
}
.vw-inp-tabls{
	padding-top: 20px;
}
.vw-inp-tabls .table{
	width: 840px;
	margin:0 auto;
	border:1px solid #77ace1;
}
.vw-inp-tabls .table tr{
	border:1px solid #77ace1;
	height: 32px;
}
.vw-inp-tabls .table tr td{
	border:1px solid #77ace1;
	height: 32px;
	font-size: 14px;
}
.vw-inp-tabls .table tr td.th{
	color: #1d74cd;
	background: #dbe9f8;
	width: 100px;
	text-align: center;
}
.vw-inp-tabls .table tr td.td{
	color: #333;
	padding-left: 15px;
	width: 310px;
}
.vw-art-list{
	padding:0 40px;
	margin-top: 30px;
}
.vw-art-list .item{
	line-height: 34px;
	color: #333;
	font-size: 14px;
	text-indent: 2rem;
}
.vw-file-list{
	padding:28px 40px;
}
.vw-file-list li span{
	float: left;
	font-size: 14px;
	padding-left: 20px;
	font-weight: bold;
	color: #333;
	background: url(../image/vw-fj-icon01.png) left center no-repeat;
	line-height: 36px;
}
.vw-file-list li a{
	float: left;
	font-size: 14px;
	color: #1d74cd;
	line-height: 36px;
}
.vw-inp-btms{
	padding:0 40px;
}
.vw-thr-list {
	margin-top: 24px;
}
.vw-thr-list a{
	float: left;
	border:1px solid #e7e7e7;
	height: 30px;
	width: 70px;
	box-sizing: border-box;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	color: #666;
	margin-right: 16px;
	border-radius: 20px;
	cursor: pointer;
}
.vw-thr-list a:hover{
	color: #226dba;
	border-color: #226dba;
}
.vw-shape-list{
	height: 38px;
	line-height: 38px;
	margin-top: 25px;
}
.vw-shape-list span{
	float: left;
	height: 38px;
	line-height: 38px;
	color: #666;
	font-size: 14px;
}
.vw-shape-list a{
	float: left;
	height: 38px;
	width: 38px;
	border-radius: 50%;
	margin:0 7px;
}