

/*
*   program: 西藏集约化-宽高、margin、padding
*   author: all
*   date: 2018-12-04
*/
/*width*/
.width865{
	width: 865px;
}
.width700{
	width: 700px;
}
.width315{
	width: 315px;
}
.width275{
	width: 275px;
}
.width290{
	width: 290px;
}
.width220{
	width: 220px;
}
.width200{
	width: 200px;
}
/*height*/
.height200{
	height: 200px;
}
.height300{
	height: 300px;
}
.height400{
	height:400px;
}
.height410{
	height: 410px;
}
/*padding*/
.pd10{
	padding:10px;
}
.pd20{
	padding:20px;
}
.pd30{
	padding:20px;
}
.pd15{
	padding:15px;
}
.pd25{
	padding:25px;
}
.pdtb10{
	padding:10px 0;
}
.pdtb20{
	padding:20px 0;
}

.pdtb30{
	padding:30px 0;
}
.pdlr10{
	padding:0 10px;
}
.pdlr20{
	padding:0 20px;
}

.pdlr30{
	padding:0 30px;
}


.pdl10{
	padding-left: 10px;
}
.pdl20{
	padding-left: 20px;
}
.pdl30{
	padding-left: 30px;
}
.pdl40{
	padding-left: 40px;
}
.pdl15{
	padding-left: 15px;
}
.pdl25{
	padding-left: 25px;
}

.pdr10{
	padding-right: 10px;
}
.pdr20{
	padding-right: 20px;
}
.pdr30{
	padding-right: 30px;
}
.pdr40{
	padding-right: 40px;
}
.pdr15{
	padding-right: 15px;
}
.pdr25{
	padding-right: 25px;
}

.pdt10{
	padding-top: 10px;
}
.pdt20{
	padding-top: 20px;
}
.pdt30{
	padding-top: 30px;
}
.pdt40{
	padding-top: 40px;
}
.pdt15{
	padding-top: 15px;
}
.pdt25{
	padding-top: 25px;
}

.pdb10{
	padding-bottom: 10px;
}
.pdb20{
	padding-bottom: 20px;
}
.pdb30{
	padding-bottom: 30px;
}
.pdb40{
	padding-bottom: 40px;
}
.pdb15{
	padding-bottom: 15px;
}
.pdb25{
	padding-bottom: 25px;
}

/*margin*/
.ml10{
	margin-left: 10px;
}
.ml20{
	margin-left: 20px;
}
.ml30{
	margin-left: 30px;
}
.ml40{
	margin-left: 40px;
}
.ml15{
	margin-left: 15px;
}
.ml25{
	margin-left: 25px;
}

.mr10{
	margin-right: 10px;
}
.mr20{
	margin-right: 20px;
}
.mr30{
	margin-right: 30px;
}
.mr40{
	margin-right: 40px;
}
.mr15{
	margin-right: 15px;
}
.mr25{
	margin-right: 25px;
}

.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt40{
	margin-top: 40px;
}
.mt15{
	margin-top: 15px;
}
.mt25{
	margin-top: 25px;
}

.mb10{
	margin-bottom: 10px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}
.mb40{
	margin-bottom: 40px;
}
.mb15{
	margin-bottom: 15px;
}
.mb25{
	margin-bottom: 25px;
}