

* {margin:0;padding:0;list-style:none;font-family:Microsoft YaHei,Arial,"微软雅黑";color:#323232;}
body,.listleftop1 em {font-size:12px;}
img{border:none;}
a{color:#323232;text-decoration:none;}
a:hover{text-decoration:underline;}
.auto{height:auto;overflow:hidden;}
.w1102{width:1102px;height:auto;overflow:hidden;margin:0 auto;}
.lf{float:left;}
.ri{float:right;}
.backtop{width:57px;height:21px;position:fixed;right:20px;bottom:20px;}

.header{width:100%;height:99px;background:url(../image/headerbg.jpg) repeat-x;}
.logo{width:445px;height:99px;float:left;}
.search{width:193px;float:right;height:99px;}
.search input.searchtext{width:168px;height:25px;line-height:25px;text-indent:3px;background:#fff;float:left;border:none;margin-top:37px;}
.search input.searchsub{width:25px;height:25px;float:left;border:none;background:url(../image/searchsub.jpg);margin-top:37px;}
.topnav{height:99px;line-height:99px;float:right;margin-right:40px;}
.topnav a{color:#fff;margin:0 15px;}

.nav{width:100%;height:69px;background:url(../image/navbg.jpg);}
.navbox{height:69px;}
.navbox ul li{padding:0 13px;height:59px;background:url(../image/navli.jpg) no-repeat bottom center;text-align:center;line-height:59px;float:left;padding-top:10px;}
.navbox ul li a{font-size:14px;}
.navbox ul li a:hover,.navbox ul li a.current{color:#0060b0;text-decoration:none;}

.footertext{height:71px;padding-top:20px;width:1104px;margin:35px auto 0;}
.copyright{width:1104px;line-height:21px;text-align:center;font-size:12px;}
.footerlink{width:265px;height:41px;line-height:41px;text-align:center;}
.copyright a{font-size:12px;color:#9e9e9e;margin:0 8px;}


.subnav{width:1030px;margin:0 auto;height:24px;background:url(../image/subnavicon.jpg) no-repeat left top;line-height:24px;color:#0060b0;text-indent:25px;margin-top:24px;}
.subnav span{color:#0060b0;margin-left:4px;}