.arc_l3{
    width: 940px;
    min-height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px
    rgba(3, 0, 0, 0.06);
    padding: 33px 12px 25px;
}
.arc_r3{
    width: 250px;
    /*box-shadow: 0px 0px 10px 0px*/
    z-index: 1000;
    /* rgba(3, 0, 0, 0.06); */
    position: absolute;
    top: 60px;
    left: 950px;
}
.arc3_t{
    width: 100%;
    padding: 22px 15px 17px;
    box-shadow: 0px 0px 10px 0px rgba(3, 0, 0, 0.06);
}
.arc_l3 h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #333333;
    text-align: center;
}
.arc_l3 .arc_time{
    margin-left: 25px;
}
.sub_title{
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
    color: #999;
    padding-bottom: 10px;

}
.arc_l3 .content{
    text-align: center;
    padding: 0 20px 25px 20px;
}
.arc_l3 .content img{
    max-width: 1200px;
    width: auto;
    /*margin-top: 30px;*/
}
.arc_l3 .content p{
    text-align: left;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
    margin-top: 15px;
    text-indent: 2em;
}

.arc_l3 .page1{
    width: 100%;
    height: 67px;
    background-color: #f2f2f2;
    padding: 11px 30px 0;
    margin: 25px auto 0;
}
.arc_l3 .page1 a{
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.arc_r3 h2{
    /*font-size: 18px;*/
    font-size: 16px;
    /*font-weight: normal;*/
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    /*color: #ec0315;*/
    color: #333;
    margin-bottom: 15px;
}
.arc_r3 h3{
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    margin-top: 19px;
}
.arc3_list ul li{
    margin-top: 8px;
}
.arc3_list ul li a{
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.hidden2>strong{
    color: red;
}
.page2{
    padding: 0 5px;
}
.page2 ul{
    margin: 15px auto 0;
}
.page2 ul li{
    float: left;
    margin: 0 2px;
}
.page2 ul li a{
    display: block;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 24px;
    border: solid 1px #999999;
}
.page2 ul li a:hover,.page2 ul li.active a{
    background: #ec0315;
    color: #fff;
    border: solid 1px #ec0315;
}
