
        html{
            color:#000;background:#fff;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,select {
            margin:0;
            padding:0;
        }
        article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
            display:block;
        }
        audio,canvas,video {
            display: inline-block;*display: inline;*zoom: 1;
        }
        body,div,p,button,input,select,textarea{
            font:14px/1.6 "微软雅黑","宋体","SourceHanSansCN","PingFangSC-Regular";
        }
        input,select,textarea{
            font-size:100%;
        }
        input{
            border:none;
        }
        table{
            border-collapse:collapse;border-spacing:0;
        }
        th{
            text-align:inherit;
        }
        img{
            /*vertical-align:middle;*/
            vertical-align:top;
        }
        fieldset,img{
            border:0;
        }
        iframe{
            display:block;
        }
        abbr,acronym{
            border:0;font-variant:normal;
        }
        del {
            text-decoration:line-through;
        }
        address,caption,cite,code,dfn,em,th,var {
            font-style:normal;
        }
        ol,ul,li {
            list-style:none;
        }
        caption,th {
            text-align:left;
        }
        h1,h2,h3,h4,h5,h6 {
            font-size:100%;
            font-weight:500;
        }
        q:before,q:after {
            content:'';
        }
        sub, sup {
            font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
        }
        sup {top: -0.5em;}
        sub {bottom: -0.25em;}
        a {
            cursor: pointer; 
            color: #000101;
            text-decoration: none;
            border:none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color:transparent;
            outline:none；
        }
        a:link{
            text-decoration: none;
        }
        a:visited{
            text-decoration: none;
        }
        a:focus {
            text-decoration: none;
            outline-style:none;
            -moz-outline-style: none;
        }

        a:hover {
            /*color:#be1116;*/
            text-decoration:none;
        }
        a:active  {
            text-decoration:none;
        }
        
        
        input{
            outline: none;
            }

        /* 清理浮动 */
        .cl:after {
            visibility:hidden;
            display:block;
            font-size:0;
            content:" ";
            clear:both;
            height:0;
        }
        .cl {
            zoom:1; /* for IE6 IE7 */
        }
        /*haslayout*/
        .has-layout{
            zoom:1
        }
        /* 设置内联, 减少浮动带来的bug */
        .fl,.fr {
            display:inline;
        }
        .fl {
            float:left;
        }
        .fr{
            float:right;
        }
        input{
            outline:none;
            }
        /*颜色*/
        .cbbb {
            color: #bbb;
        }
        .c777 {
            color: #777;
        }
        .cl-orange {
            color:#fc8500;
        }
        a.cl-orange,a.cl-orange:hover {
            color:#fc8500;
            text-decoration: none;
        }
        .overhid {
            overflow: hidden;
        }
        
        /*延伸阅读*/
       #moreread {
        margin-top:20px;
        margin-bottom: 20px;
    }  
       #moreread h3{color: #0A5095;
        font-size: 18px;
        line-height: 30px;
        text-indent: 0px;
        font-weight: bold;}
        #moreread ul li {
        font-size: 16px;
        line-height: 1.8em;
        list-style: none;
        text-indent: 0px;
        margin: 3px auto;
    }
    /*延伸结束*/
        /**/
        body{
            position: relative;
        }
        .s_pc_topline{background: #2381c0;color:#fff;font-size:16px;padding:5px 0;}
        .s_pc_topline .row{background:url("../image/1668565729305.jpg") no-repeat left center; }
        .s_pc_topline a{color:#fff;font-size:16px;}
        .s_pc_top {
            /*padding-top: 16px;
            padding-bottom: 10px;*/
            border-top: 0；
            border-bottom: 1px solid rgba(0,0,0,0.10);
            /*margin-bottom: 30px;*/
            /*margin-bottom: 39px;*/
            /*margin-bottom: 20px;*/
        }
        .s_pc_nav {
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-box;
            display: -webkit-flex;
            display: box;
            display: flexbox;
            display: flex;
            /*min-width: 950px;*/
            min-width: 800px;
            margin: 0 auto;
            position: relative;
            max-width: 1000px;
        }
        .s_pc_logo {
            /*padding-left: 31px;*/
            padding-right: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
            float: left;
            height: 40px;
        }
        .s_pc_ss {
            height: 29px;
            /* padding-left: 128px; */
            position: absolute;
            background: #fff;
            /*right: 40px;*/
            right: 0px;
            top: 0;
            padding-top: 24px;
            padding-bottom: 16px;
        }
        .s_pc_nav ul {
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-box;
            display: -webkit-flex;
            display: box;
            display: flexbox;
            display: flex;
            height: 78px;
            float: left;
        }
        .s_pc_nav ul>li {
            font-size: 16px;
            min-width: 32px;
            margin: 0 15px;
            line-height: 78px;

        }
        .s_pc_nav ul>li a{color:#333;}
        .s_pc_nav ul>li>a:hover{
            color: #1855A5;
        }
        .s_pc_nav ul>li img {
            vertical-align: middle;
        }
        .s_pc_nav .hove>a {
            font-weight: bold;
        }
        .s_pc_nav_k{
            position: relative;
            border-right:1px solid #fff;
            border-left:1px solid #fff;
        }
        .s_pc_nav_k>a{
            display: inline-block;
            height: 78px;
            width: 60px;
            text-align: center;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            position: relative;
            z-index: 2;
         
            background: #fff url(../image/icon1.png) no-repeat center center;
            background-size: 19px 19px;
            transition: background 0.8s;
            -moz-transition: background 0.8s; /* Firefox 4 */
            -webkit-transition: background 0.8s; /* Safari 和 Chrome */
            -o-transition: background 0.8s;
        }
        .s_pc_nav_k_box{
            position: absolute;
            left: 0;
            top: 59px;
            border: 1px solid rgba(10,80,149,0.10);
            /*border-top: 0;*/
            background: #fff;
            z-index: 1;
        }
        .s_pc_nav_k_box ul{
            height: auto;
        }
        .s_pc_nav_k_box ul>li{
            width: 75px;
            line-height: 60px;
        }
        .s_pc_nav_k_box ul>li div {
            line-height: 60px;
            height: 60px;
        }
        .s_pc_nav_k_box ul>li div>a{
            font-size: 18px;
        }
        .s_pc_nav_k .s_pc_nav_k_box{
            display: none;
        }
        .s_pc_nav_k:hover>a{
            border-left: 1px solid rgba(10,80,149,0.10);
            border-right: 1px solid rgba(10,80,149,0.10);
        }
        .s_pc_nav_k:hover .s_pc_nav_k_box{
            display: block;
        }
        
        .s_pc_nav_k:hover{
            border-top:1px solid rgba(10,80,149,0.10);
            border-left:1px solid rgba(10,80,149,0.10);
        }
        .s_pc_nav_k:hover>a{
            background: #fff url(../image/icon2.png) no-repeat center center;
            background-size: 19px 19px;
        }
        .s_pc_nav_k:hover .s_pc_nav_listNav{
            display:block;
        }
        .s_pc_nav_listNav{
            position: absolute;
            left: -250px;
            top: 77px;
            border: 1px solid rgba(10,80,149,0.10);
            /* border-top: 0; */
            background: #fff;
            z-index: 1;
            width: 560px;
            padding:20px 38px;
            display:none
        }
        .s_pc_listNav {
            float: left;
            padding: 4px 15px;
            margin: 10px 11px;
            background: #F6F8FC;
            border-radius: 35px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
        }
        .s_pc_nav_k .s_pc_nav_listNav .s_pc_listNav:hover{
            background: #1855A5;
        }
        .s_pc_nav_k .s_pc_nav_listNav .s_pc_listNav:hover a{
            background: #1855A5;
            color:#fff;
        }
        .s_pc_listNav > a{
            color: #333333;
        }
        /*手机导航*/
        /*.s_s_nav{
            border-bottom: 1px solid #ccc;
        }*/
        .s_s_nav_box{
            padding: 15px 0px;
        }
        .ss_nav{
            padding-top: 10px;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
            cursor: pointer;
            width: 20px;
            height: 40px;
            display: block;
        }
        .s_s_box_log{
            text-align: center;
        }
        .s_s_box_ss{
            padding-top:8px;
            text-align: right;
        }
        .ss_nav:focus {
          outline: 0;
        }
        .icon-bar {
            display: block;
            margin: 6px 0;
            width: 20px;
            height: 2px;
            background-color: #0A5095;
        }
        
        /*导航展示*/
        .s_nav-content{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #fff;
            z-index: 2;
            display: none;
        }
        .s_nav_content_top{
            position: relative;
            padding: 18px;
        }
        .s_nav_content_top span{
            position: absolute;
            top: 13px;
            left: 15px;
            color: #0A5095;
            font-size: 20px;
            line-height: 1;
        }
        .s_nav_content_top h2{
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 18px;
            color: #333333;
            letter-spacing: 0;
        }
        .s_nav_content_bott{
            padding: 0 15px;
        }
        .s_nav_content_bott li>.row>div{
            padding: 5px 0px;
            background: #F6F8FC;;
            margin: 8px 2px;
            text-align: center;
            border-radius: 20px;
        }
        .s_nav_content_bott li>.row>div a{
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #333333;
        }
        .s_nav_content_bott li>.row .s_nav_content_hover a{
            color: #377FFC;
        }


        .cont{
            padding: 0 15px;
        }
        .title{
            font-size: 32px;
            text-align: center;
            color: #333333;
            letter-spacing: 0;
            line-height: 1.8;
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 20px;
            font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
        }
        .mbx{
            padding-bottom: 10px; 
            padding-top: 10px; 
            border-top:1px solid rgba(82,131,233,0.26);;
            border-bottom:1px solid rgba(82,131,233,0.26);;
        }
        .mbx a{
            color: #333;
        }
        .mbx span{
            color: #888;
        }
        .mbx a,.mbx span{
            padding-right: 5px;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 1.2;
        }
        .s_laiz{
            padding-bottom: 20px;
            margin-bottom: 40px;
            border-bottom: 1px solid rgba(82,131,233,0.26);
        }
        .s_laiz_box1 span{
            font-size: 16px;
            color: #888888;
            letter-spacing: 0;
            padding-right: 10px;
        }
        .s_laiz_box1 a {
            font-size: 16px;
            color: #305798;
            letter-spacing: 0;
        }
        .fenxiang,.dahao,.xiaohao,.dayin{
            width: 31px;
            height: 31px;
            display: inline-block;
            margin-left: 30px;
            vertical-align: middle;
            cursor: pointer;
        }
        .dahao{
            background: url(../image/1358.png) no-repeat center;
            cursor: pointer;
            background-size:31px 31px;
        }
        .dahao:hover{
            background: url(../image/zhzd1.png) no-repeat center;
        }
        .xiaohao{
            cursor: pointer;
            background: url(../image/1357.png) no-repeat center;
            background-size:31px 31px;
        }
        .xiaohao:hover{
            background: url(../image/zhjx1.png) no-repeat center;
        }
        .dayin{
            background: url(../image/1355.png) no-repeat center;
            background-size:31px 31px;
        }
        .dayin:hover{
            background: url(../image/dy1.png) no-repeat center;
        }
        .s_laiz_box2{
            text-align: right;
        }
        /*分享*/
        .fenxiang{
            background: url(../image/1356.png) no-repeat center;
            background-size:31px 31px;
        }
        .fenxiang:hover{
            background: url(../image/fx1.png) no-repeat center;
        }
        #bdshare .bds_more{
            background:none;
            margin: 0;
            width: 31px;
            height: 31px;
            display: inline-block;
        }
        .bdshare_dialog_box{
            box-sizing: content-box;
        }
        .z_cen_box{
            padding: 0px 0 40px 0;
        }
        .z_cen_box p{
            line-height: 2.2;
            padding: 5px 0;
            word-break: break-word;
            text-indent: 2em;
            color:#000000;
        }
        .z_cen_box img{
            max-width: 90%;
            /* margin-left:-2em;*/
            height: auto !important;
            /*margin-top: -1rem;*/
        }
        .f_size_1 p{
            font-size: 16px;
            
        }
        .f_size_2 p{
            font-size: 18px;
        }
        .f_size_3 p{
            font-size: 20px;
        }
        .z_cen_sq{
            font-size: 16px;
            color: #9B9EA3;
            letter-spacing: 0;
            padding-bottom: 43px;
        }
        .z_cen_bj{
            padding-bottom: 35px;
            padding-top: 35px;
        }
        .z_cen_bj span{
            padding-right: 10px;
            font-size: 16px;
            color: #9B9EA3;
            letter-spacing: 0;
        }
        
        /*右侧*/
        .s_pc_r_box{
            padding-left: 50px;
            padding-top: 5px;
        }
        .s_pc_r_box_gg{
            padding-bottom: 50px;
            display:none;
        }
        .swiper {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;
            list-style: none;
            padding: 0;
            z-index: 1;
        }
        .swiper_list{
            display: block;
            position: relative;
        }
        .swiper_list img{
            width: 100%;
            border-radius: 3px;
        }
        .s_pc_r_box_gg .swiper_list span{
            position: absolute;
            right:2px;
            top: 2px;
            font-size: 12px;
            padding: 2px 4px;
            color: #FFFFFF;
            letter-spacing: 0;
            background: rgba(0,0,0,0.50);
            border-radius: 3px;
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            display: inline-block;
            /*border: 1px solid #fff;*/
            border-radius: 100%;
            background: #fff;
            /*opacity: .4;*/
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background: rgba(255,255,255,0.50);
            width:20px;
            height:10px;
            border-radius: 4px;
        }
        .s_r_rdph{
            padding-bottom: 30px;
        }
        
        .s_pc_rdph_title{
            font-size: 20px;
            padding-left: 14px;
            color: #1855A5;
            letter-spacing: 0;
            line-height: 29px;
            padding-bottom: 12px;
            font-weight: bold;
            font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
        }
        
        .s_pc_rdph_box_yt{
            padding: 18px 15px 0;
            background: #F6F8FC;
        }
        .s_pc_rdph_box_yt_img{
            padding-right: 14px;
            overflow: hidden;
        }
        .s_pc_rdph_box_yt_img img{
            width: 100%;
            height:78.5px;
        }
        .s_pc_rdph_box_yt_img img:hover{
            transform: scale(1.1);  
        }
        .s_pc_rdph_box_yt_v{
            padding-left: 30px;
            padding-bottom: 20px;
            position: relative;
        }
        .s_pc_biaohao{
            position: absolute;
            left: 0;
            top: -2px;
            font-size: 16px;
            color: #999999;
            letter-spacing: 0;
            line-height: 1.6;
        }
        .s_pc_biaohao_huang{
            color: #FF9400;
        }
        .s_pc_rdph_box_yt_title_first {
            height: 44px;
            overflow: hidden;
        }
        .s_pc_rdph_box_yt_title a{
            font-size: 14px;
            color: #333333;
            letter-spacing: 0;
            line-height: 1.6;
        }
        .s_pc_rdph_box_yt_title a:hover{
            color: #FF9400;
        }
        .s_pc_rdph_box_yt_title_x{
            padding-top: 12px;
            font-family: MicrosoftYaHei;
            font-size: 12px;
            color:#64788C;
            letter-spacing: 0;
            line-height: 12px;
            font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
        }
        .s_r_pdtj{
            background: #fff;
        }
        .s_pc_pdtj_box{
            padding-bottom: 24px;
        }
        .s_pc_pdtj_box_dt_img{
            overflow: hidden;
        }
        .s_pc_pdtj_box_dt_img a>img{
            width: 100%;
            height: 193px;
            border-radius: 3px;
        }
        .s_pc_pdtj_box_dt_img a>img:hover{
            transform: scale(1.1);
        }
        .s_pc_pdtj_box_dt_text{
            padding-top: 12px;
        }
        .s_pc_pdtj_box_dt_text a{
            font-size: 14px;
            color: #333333;
            letter-spacing: 0;
            line-height: 1.7;
        }
        .s_pc_pdtj_box_dt_text a:hover{
            color:#FF9400;
        }
        .s_pc_pdtj_box_xt_img {
            overflow: hidden;
        }
        .s_pc_pdtj_box_xt_img img{
            width: 100%;
            height: 80px;
            border-radius: 3px;
        }
        .s_pc_pdtj_box_xt_img img:hover{
            transform: scale(1.1); 
        }
        .s_pc_pdtj_box_xt_box{
            padding-left: 16px;
        }
        .s_pc_pdtj_box_xt_text a{
            font-size: 14px;
            color: #333333;
            letter-spacing: 0;
            line-height: 1.7;
        }
        .s_pc_pdtj_box_xt_text a:hover{
            color:#FF9400
        }
        .s_pc_pdtj_box_xt_bq{
            font-size: 12px;
            color: #64788C;
            letter-spacing: 0;
            line-height: 1;
            padding-top: 5px;
        }
        img {
    	    transition:all 0.5s ease-out;
    	    /* 过度 所有css属性 1秒过度 结束慢*/
            -moz-transition:all 0.5s ease-out;
            	/* Firefox 4 */
            -webkit-transition:all 0.5s ease-out;
            	/* Safari 和 Chrome */
            -o-transition:all 0.5s ease-out;
            	/* Opera */
        }
        /**/
        .z_cen_wntj{
            overflow: hidden;
        }
        .z_cen_wntj_title{
            margin-bottom: 30px;
            border-bottom: 1px solid rgba(82,131,233,0.15);
        }
        .z_cen_wntj_title span{
            padding-bottom: 15px;
            display: inline-block;
            font-size: 22px;
            color: #1855A5;
            letter-spacing: 0;
            font-weight: 900;
            border-bottom: 3px solid #1855A5;
            font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
        }
        .z_cen_wntj_box{
            position: relative;
            margin: 0 -20px;
        }
        /*.z_cen_wntj_box_box {
            position: absolute;
        }
*/        .z_cen_wntj_list{
            padding: 0 20px;
        }
        .z_cen_wntj_list_img{
            overflow: hidden;
        }
        .z_cen_wntj_list_img img{
            width: 100%;
            border-radius: 3px;
        }
        .z_cen_wntj_list_img img:hover{
            transform: scale(1.1);  
        }
        .z_cen_wntj_list_title{
            font-weight: bold;
            font-size: 20px;
            color: #0D0D0D;
            letter-spacing: 0;
            line-height: 1.5;
            /*padding-top: 19px;*/
            padding-top:12px;
        }
        .z_cen_wntj_list_title a{
            font-family: Microsoft YaHei","\5FAE\8F6F\96C5\9ED1;
            font-size: 20px;
            color: #0D0D0D;
            letter-spacing: 0;
            line-height: 30px;
            font-weight: bold;
        }
        .z_cen_wntj_list_title a:hover{
            color: #FF9400;
        }
        .z_cen_wntj_list_js{
            /*padding-top: 19px;*/
            padding-top: 18px;
            color: #868686;
        }
        .z_cen_wntj_list_bq_yd{
            font-size: 13px;
            color: #64788C;
            letter-spacing: 0;
            text-align: justify;
        }
        .z_cen_wntj_list_bq_yd img{
            vertical-align: middle;
        }
        .z_cen_wntj_list_bq_lm{
            /*background: #377FFC;*/
            padding:0 8px;
            font-size: 13px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: justify;
            cursor: pointer;
        }
        .z_cen_wntj_list_bq_lm img{
            width: 14px;
            vertical-align: middle;
        }
        .z_cen_wntj_list_bq{
            /*padding: 25px 0;*/
            padding: 20px 0 18px;
            box-shadow: 0 1px 0 0 #E5EDFC;
            border-radius: 3px 0 0 0;
            margin-bottom: 20px;
        }
        .pc_jzgd{
            margin: 10px 0;
            padding: 20px 0; 
            text-align: center;
            color: #868686;
            cursor:pointer;
        }
        /*一行排列*/
        .sj_cen_list_z {
            border-bottom: 1px solid rgba(10,80,149,0.10);
            padding-top: 12px;
            padding-bottom: 16px;
        }
        .sj_cen_list_wutu {
            padding-bottom: 13px;
        }
        .sj_cen_list_bq_cen_l {
            padding-top: 7px;
        }
        .sj_cen_list_bq_cen_l span {
            font-size: 12px;
            color: #64788C;
            letter-spacing: 0;
            padding-right: 10px;
        }
        span.s_s_xiaobq{
            float: right;
            background: rgba(55,127,252,0.06);
            border: 1px solid rgba(55,127,252,0.10);
            border-radius: 4px;
            border-radius: 4px;
            text-align: center;
            padding: 0 10px;
        }

        /*移动到顶部*/
        .s_ding {
            width: 34px;
            height: 34px;
            /* position: absolute; */
            position: fixed;
            display:none;
            right: 30px;
            bottom: 50px;
            background: url(../image/s_ding.png);
            background-size: 100% 100%;
        }
        .toolbarSwitch_wap{
            display: none;
        }
        /*foot*/
        .s_pc_foot{
            padding-top: 20px;
            background: #F6F8FC;
            box-shadow: 0 -1px 0 0 rgba(0,0,0,0.11);
            /*padding: 0 120px;*/
            text-align: center;
            padding-bottom: 24px;
        }
        .s_pc_foot_box {
            /*width: 1200px;*/
            margin: 0 auto;
        }
        .s_pc_foot_box p{
            font-family: AppleSystemUIFont;
            font-size: 12px;
            color: #666666;
            letter-spacing: 0;
            padding-bottom: 12px;
        }
        .s_pc_foot_box div a{
            display: inline-block;
            margin: 0 6px;
        }
        /*手机foot*/
        .sj_foot{
            text-align: center;
            background: #F8F8F8;
            padding-top: 23px;
        }
        .sj_foot h3{
            font-family: PingFangSC-Semibold;
            font-size: 18px;
            color: #000000;
            text-align: center;
            padding-bottom: 20px;
        }
        .sj_foot div{
            padding-bottom: 20px;
        }
        .sj_foot div a{
            font-family: PingFangSC-Regular;
            font-size: 13px;
            color: #666666;
            text-align: center;
            padding: 0 2px;
        }
        .sj_foot p{
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #666666;
            letter-spacing: 0;
            text-align: center;
            padding: 16px 0;
            border-top: 1px solid rgba(0,0,0,0.11);
        }
        /*广告*/
        .z_cen_ggjm{
            padding-bottom: 70px;
            position: relative;
            display:none;
        }
        .z_cen_ggjm img{
            width: 100%;
            border-radius: 3px;
        }
        .z_cen_ggjm a span{
            position: absolute;
            right: 0;
            background: rgba(0,0,0,0.50);
            padding: 2px 6px;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #FFFFFF;
            border-radius: 3px;
        }
        .article-page{
            width: 100%; 
            text-align: center;
        }
       
        .article-page ul {
            display: inline-block;
            *display: inline;
            margin-bottom: 0;
            margin-left: 0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            *zoom: 1;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
            box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        }
        .article-page ul>li>a, .article-page ul>li>span {
            float: left;
            padding: 4px 12px;
            line-height: 20px;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
            border-left-width: 0;
        }
        .article-page ul>li:first-child>a, .article-page ul>li:first-child>span {
            border-left-width: 1px;
            -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
            -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -moz-border-radius-bottomleft: 4px;
            -moz-border-radius-topleft: 4px;
        }
        .page li a {
            font-size: 14px;
        }   
        .page .read-btn {
            padding-top: 40px;
            *padding-top: 0px;
            *border: solid 1px #ccc;
        }
        .article-page .page li {
            display: inline;
        }
        .article-page ul>li>a.now {
            background: #0A5095;
            color: #fff;
        }
        .article-page ul{
            -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
            box-shadow: 0 0px 0px rgba(0,0,0,0);
        }
        .btn {
            display: inline-block;
            *display: inline;
            padding: 4px 12px;
            margin-bottom: 0;
            *margin-left: .3em;
            font-size: 14px;
            line-height: 20px;
            color: #333;
            text-align: center;
            text-shadow: 0 1px 1px rgba(255,255,255,0.75);
            vertical-align: middle;
            cursor: pointer;
            background-color: #f5f5f5;
            *background-color: #e6e6e6;
            background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
            background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
            background-image: -o-linear-gradient(top,#fff,#e6e6e6);
            background-image: linear-gradient(to bottom,#fff,#e6e6e6);
            background-repeat: repeat-x;
            border: 1px solid #ccc;
            *border: 0;
            border-color: #e6e6e6 #e6e6e6 #bfbfbf;
            border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
            border-bottom-color: #b3b3b3;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            *zoom: 1;
            -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
            -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
        }
        .s_r_pdtj_box{
            background:
            #F6F8FC;
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        /*为你推荐新加*/
        .pin_tips a{
            color: #868686;
            display: inline-block;
            align-items: center;
            width: 100%;
        }
        .pin_tips span{
            background: rgba(10, 80, 149, 0.15);
            width: 6px;
            height: 6px;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            margin-right: 10px;
        }
        .pin_tips {
            font-size: 14px;
            color: #868686;
            line-height:24px;
        }
        .pin_tips a:hover{
            color: #FF9400;
        }

        /*为你推荐手机端带图*/
        .sj_cen_list {
            border-bottom: 1px solid rgba(10,80,149,0.10);
            padding-top: 12px;
            padding-bottom: 16px;
            display: flex;
            position: relative;
        }
        .sj_cen_list_title {
            padding-right: 7px;
        }
        .sj_cen_list_title a {
            font-size: 17px;
            color: #333333;
            letter-spacing: 0;
            line-height: 1.4;
        }
        .sj_cen_list_img a img {
            width: 100%;
            /* height: 65px; */
            border-radius: 5px;
        }
        .sj_cen_list_q{
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .sj_right{
            padding-right:20px;
        }
        .sj_right img{
            width:14px;
        }

        /*分享*/
        .bdsharebuttonbox{
            width:300px;
            background:#fff;
            display:none;
            position: fixed;
            z-index:999;
            /*left:50%;
            top:50%;
            margin-left:-150px;
            margin-top:-50px;*/
            margin-left:-300px;
            margin-top:-170px;
            padding:10px;
            border: 6px solid #8F8F8F;
            border-radius: 3px;
        }
        .bdsharebuttonbox a{
            width:128px;
            float:left;
            color:#333;
        }
        .tool_title{
            width:100%;
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .bdshare_dialog_close {
            width: 22px;
            height: 23px;
            float: right;
            display: block;
            margin-top: 2px;
        }
        .s_pc_gg{
            display:none;
        }




/*插件 */
.mypage{width: 1000px;text-align: center; margin: 0 auto;}
.pagination{display: inline-block !important;  text-align: center; overflow: hidden; padding: 20px 0;}

.pagination a{float: left;padding:0px 5px;}
.pagination  a,.pagination  span{background-color: #eee;line-height: 40px;padding:0px 15px;font-size:16px;color:#666;padding:5px 20px;display:block;}
.pagination  a:hover{background-color: #ddd;}
.pagination .prev,.pagination .next{font-weight:700;padding:5px 30px;}
.pagination .prev {border-radius: 32px 0 0 32px;}
.pagination .next {border-radius: 0 32px 32px 0;}
.pagination .current {display:block;color:#fff !important;background-color:#2D7FC8;margin:0px;border-radius: 12px;}


.pagination-xs{width: 250px; margin: 10px auto;}
.pagination-xs a{float: left;padding:0px 5px; }
.pagination-xs  a,.pagination-xs  span{background-color: #eee;line-height: 32px;padding:0px 15px;font-size:16px;color:#666;padding:5px 10px;display:block;}
.pagination-xs  a:hover{background-color: #ddd;}
.pagination-xs .prev,.pagination-xs .next{font-weight:700;padding:5px 10px;}
.pagination-xs .prev {border-radius: 32px 0 0 32px;}
.pagination-xs .next {border-radius: 0 32px 32px 0;}
.pagination-xs .current {display:block;color:#fff !important;background-color:#2D7FC8;margin:0px; }


        @media screen and (max-width: 768px) {
            .toolbarSwitch_wap{
                display: block;
            }
            .sj_cen_list_img a img{
                width:100%;
                height:70px;
            }
            .bdsharebuttonbox{
                /*margin-left:-75px;
                margin-top:-25px;*/
                margin-left:-200px;
                margin-top:-88px;
            }
            .title{
                font-size:26px;
            }
        }
        @media screen and (min-width: 768px) {
            .cont{
                padding: 0 0;
            }
        }
        @media (min-width: 769px) and (max-width: 999px) {
            .sj_cen_list_img a img{
                width:100%;
                height:140px;
            }
        }
        @media (min-width: 1000px) and (max-width: 1199px) {
            .sj_cen_list_img a img{
                width:100%;
                height:170px;
            }
        }

        @media screen and  (min-width: 1200px){
            .s_ding{
                width:68px;
                height:68px;
            }
            .container {
              width:1000px !important;
             }
        }
    