body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,button,img {
	margin:0;
	padding:0;
	border:0
}
img,button {
	border:none
}
ol,ul,li {
	list-style:none
}
body {
	font-family:"Hiragino Sans GB","Helvetica Neue","Helvetica","Microsoft Yahei","\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";
	font-size:14px;
	min-width:1200px;
	background:#f3f0eb;
	color:#333
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal
}
s,i,u,em {
	font-style:normal
}
.fl {
	float:left
}
.fr {
	float:right
}
.clear {
	clear:both;
	zoom:1
}
.clearfix:before,.clearfix:after {
	content:"";
	display:table
}
.clearfix:after {
	clear:both;
	overflow:hidden
}
.clearfix {
	zoom:1
}
a {
	color:#333;
	text-decoration:none
}
a:hover {
	color:#ff4839
}
a:focus {
	outline:none;
	-moz-outline:none
}
input {
	box-sizing:content-box
}
input:-webkit-autofill {
	-webkit-box-shadow:0 0 0px 1000px white inset
}
.wai{width:100%;margin:0 auto;position:relative}
