/* 分类树导航样式START */
.hide{display:none}
.header-wrap{background-color:#fff;width:100%; margin-bottom:5px}
.navwrap{background:#048521;height:0;box-shadow:0 1px 2px #999;-webkit-box-shadow:0 1px 2px #999;-moz-box-shadow:0 1px 2px #999}
#nav{height:38px;width:1190px;margin:0 auto;position:relative;padding:0;z-index:4}
.navbar{height:36px;padding-left:218px;position:relative}
.navbar a{float:left;width:auto;text-align:center;height:36px;line-height:36px;color:#fff;padding:0 15px;text-decoration:none;font-size:15px;font-family:"\5FAE\8F6F\96C5\9ED1";white-space:nowrap;border-right:1px #931900 solid;border-left:1px #a52600 solid;position:relative}
.navbar a.first{border-left:0 none}
.navbar a.last{border-right:0 none}
.navbar a:hover{background-color:#8d1e01;color:#fff}
.navbar a.current{background-color:#6c1500;border-right:1px #6c1500 solid;box-shadow:0 0 10px #4f0000 inset;-webkit-box-shadow:0 0 10px #4f0000 inset;-moz-box-shadow:0 0 10px #4f0000 inset}
.navbar a:hover{text-decoration:none}
.navbar a.current:hover{color:#fff}
.navbar .navbt{width:105px;height:30px;position:absolute;top:3px;right:10px;background:url(http://www.gfie.org/res/images/navbt.jpg) no-repeat;border:0 none;float:none;font-size:14px;line-height:30px;padding:0}
a.navbt span{background:url(http://www.gfie.org/res/images/iconmap.jpg) no-repeat 1px 3px;padding-left:18px}
.navbar a.navbt:hover{background:transparent url(http://www.gfie.org/res/images/navbt-hover.jpg) no-repeat}
.navbar a.navbt:hover span{background-image:url(http://www.gfie.org/res/images/iconmap-hover.jpg)}

.manav{float:left; margin-left: 48px;}
.manav ul{}
.manav .ali-nav-current{border-bottom: 3px solid #027b08;}
.manav li{float:left;    height: 50px;    line-height: 66px;margin: 0 2px;}
.manav li:hover{border-bottom: 3px solid #027b08;}
.manav li a{padding: 0 13px 4px;font-size: 16px;color: #fff;text-align: center;}

.sw-layout-w990{padding-top:100px;}

.pros{position:absolute;top:0;left:1px;z-index:1000;width:218px;/*box-shadow: 0px 0px 3px 0px #3ab133;-webkit-box-shadow: 0px 0px 3px 0px #3ab133;*/}
.pros h2{ text-align:left;height:37px;line-height:38px;color:#fff;font-size:16px;font-weight:400;font-family:"\5FAE\8F6F\96C5\9ED1";padding-left: 40px;}
.subpage h2{background:url(http://www.gfie.org/res/images/icon-dropdown.jpg) no-repeat 146px center;cursor:pointer}
.subpage .prosul{display:none}
.prosul{padding-left:3px;width:213px;margin-top:2px;_overflow:hidden;height:372px; overflow:hidden;background-color: #f8f8f8;border: 1px solid #e2e2e2;}
.prosul li,.prosul i{background:url(http://www.gfie.org/res/images/iconcatg.png) no-repeat;}
li.food{background-position:10px 15px}
li.enjoy{background-position:10px -35px}
li.women{background-position:10px -85px}
li.life{background-position:10px -135px}
li.travel{background-position:10px -185px}
li.goods{background-position:10px -235px}
.prosul li{line-height:45px;height:45px;_overflow:hidden;/*border-bottom:1px #bb2d1e dashed;*/margin-right:3px;padding-left:38px}
.prosul li.prosahover{/*border-bottom:1px #fff solid;*/background-color:#048521;margin-right:0;padding-right:3px;width:174px;}
.prosul a{color:#ffd0c0;/*padding-right:8px;*/_padding-right:6px;white-space:nowrap;display:inline-block;height:25px}
.prosul a.hot{background:url(http://www.gfie.org/res/images/icon-hot.png) right 8px no-repeat}
.prosul li.prosahover a.hot{background-image:url(http://www.gfie.org/res/images/icon-hot-hover.png)}
.prosul li.prosahover a{color:#636363}
.prosul li a.ti{font-size:14px;font-family:"\5FAE\8F6F\96C5\9ED1";color:#222; width:150px; height:45px; float:left;}
.prosul li.prosahover a.ti{color:#fff; width:150px; height:47px; float:left;}
.prosul li a:hover{color:#fff}
.prosul li.nochild a:hover{color:#fff}
.prosul li i{float:right;display:block;width:3px;height:45px;text-indent:-999em;background-position:0 -279px;padding-right:12px}
.prosul li.prosahover i{background-position:0 -326px}
.prosul li.last{border-bottom:0 none}
.prosul li.bd-solid{border-bottom:1px #c22900 solid}
.prosul li.hotareas{background-image:none;padding-left:12px;line-height:26px;height:106px;*overflow:hidden}
.prosul li.hotareas i{line-height:30px;margin-top:-2px;height:40px;background-position:0 -279px}
.prosul li.hotareas a{line-height:30px;height:30px}
.prosul li.hotareas a.hot{background-position:right 0}
.prosul li h2{padding-left:0;line-height:40px;display:inline;font-size:14px;font-weight:400;}
.prosul li.prosahover h2{color:#d03322}
.prosmore{padding:15px;position:absolute;z-index:999;left:217px;top:0;background-color:#fff;border:1px #ccc solid;/*border-left:0 none;*/width:620px;height:342px; overflow:hidden}
.prosul .prosmore{text-align:left}
.prosul .prosmore span{/*height:36px;width:107px;*/line-height:22px;display:block;}
.prosul li .prosmore a{/*height:18px;line-height:18px;padding:0 10px;*/font-size:12px;}
.prosul li .prosmore a:hover{background-color:#d03322;color:#fff}
.prosmore em{font-weight:400;padding:0 5px;display:inline-block;max-width: 80px;overflow: hidden;height: 22px;}
.prosmore em{*display:inline;*zoom：1}
.prosmore em.morehot{background:url(http://www.gfie.org/res/images/icon-hot-more.png) right top no-repeat;padding-right:22px}

.cell-tags{/*width:720px;*/ height:100px; overflow:hidden}
.cell-tags h8{	
    float: left;
	display: inline;
	text-align:center;
	padding-right:5px;
}
.prosmore .fd-left a {
	font-size: 14px;
	color: #258
}

.prosmore .list-item {
	height: 55px;
	line-height: 25px;
	overflow: hidden;
	float:left;
	border-bottom: 1px #e5e5e5 solid;
}

.prosmore .list-item li {
	margin-left: 10px
}
/*分类树导航END */
html {
	color: #000;
	overflow-y: scroll;
	background: #fff
}

body,/*h1,*/h2,h3,h4,h5,h6,hr,/*p,*/blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,form/*,th,td*/ {
	margin: 0;
	padding: 0;
	list-style:none;
}

#header p {
	margin: 0;
	padding: 0
}

body,button,input,select,textarea {
	font: 12px/1.5 Tahoma,Arial,"\5b8b\4f53",sans-serif
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

address,cite,dfn,em,var {
	font-style: normal
}

code,kbd,pre,samp,tt {
	font-family: "Courier New",Courier,monospace
}

small {
	font-size: 12px
}

ul,ol {
	list-style: none
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none;
	color: #048521
}

abbr[title],acronym[title] {
	border-bottom: 1px dotted;
	cursor: help
}

q:before,q:after {
	content: ''
}

legend {
	color: #000
}

fieldset,img {
	border: 0
}

button,input,select,textarea {
	font-size: 100%; border:#e3e3e3 1px solid; padding:1px;
}

hr {
	border: 0;
	height: 1px;
	*color: #fff
}

img {
	-ms-interpolation-mode: bicubic
}

article,aside,footer,header,hgroup,nav,section,figcaption,details,summary {
	display: block
}

menu {
	list-style: none;
	margin: 0;
	padding: 0
}

figure {
	display: block;
	margin: 0
}

output,time {
	display: inline
}

mark {
	display: inline;
	background: yellow;
	color: #000
}

address {
	padding: 0
}

.fd-left {
	float: left;
	display: inline;
	text-align:center;
}

.fd-right {
	float: right
}

.fd-clear {
	clear: both; display:none;
}

.fd-clr {
	zoom: 1
}

.fd-clr:after {
	display: block;
	clear: both;
	height: 0;
	content: "\0020"
}

.fd-hide {
	display: none
}

.fd-show {
	display: block
}

.fd-inline {
	display: inline
}

.fd-lump {
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline
}

.fd-visible {
	visibility: visible
}

.fd-hidden {
	visibility: hidden
}

.fd-locate {
	position: relative
}

.fd-cny {
	font-family: Helvetica,Arial
}

.fd-gray {
	color: #666
}

.fd-bold {
	font-weight: 700
}

.w952 {
	width: 952px;
	margin: 0 auto;
	padding: 0 4px
}

#header,#content,#footer,.layout {
	zoom: 1
}

#header:after,#content:after,#footer:after,.layout:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both
}

.grid-fixed {
	margin-right: 0!important
}

.layout .grid-1 {
	float: left;
	width: 32px;
	margin-right: 8px
}

.layout .grid-2 {
	float: left;
	width: 72px;
	margin-right: 8px
}

.layout .grid-3 {
	float: left;
	width: 112px;
	margin-right: 8px
}

.layout .grid-4 {
	float: left;
	width: 152px;
	margin-right: 8px
}

.layout .grid-5 {
	float: left;
	width: 192px;
	margin-right: 8px
}

.layout .grid-6 {
	float: left;
	width: 232px;
	margin-right: 8px
}

.layout .grid-7 {
	float: left;
	width: 272px;
	margin-right: 8px
}

.layout .grid-8 {
	float: left;
	width: 312px;
	margin-right: 8px
}

.layout .grid-9 {
	float: left;
	width: 352px;
	margin-right: 8px
}

.layout .grid-10 {
	float: left;
	width: 392px;
	margin-right: 8px
}

.layout .grid-11 {
	float: left;
	width: 432px;
	margin-right: 8px
}

.layout .grid-12 {
	float: left;
	width: 472px;
	margin-right: 8px
}

.layout .grid-13 {
	float: left;
	width: 512px;
	margin-right: 8px
}

.layout .grid-14 {
	float: left;
	width: 552px;
	margin-right: 8px
}

.layout .grid-15 {
	float: left;
	width: 592px;
	margin-right: 8px
}

.layout .grid-16 {
	float: left;
	width: 632px;
	margin-right: 8px
}

.layout .grid-17 {
	float: left;
	width: 672px;
	margin-right: 8px
}

.layout .grid-18 {
	float: left;
	width: 712px;
	margin-right: 8px
}

.layout .grid-19 {
	float: left;
	width: 752px;
	margin-right: 8px
}

.layout .grid-20 {
	float: left;
	width: 792px;
	margin-right: 8px
}

.layout .grid-21 {
	float: left;
	width: 832px;
	margin-right: 8px
}

.layout .grid-22 {
	float: left;
	width: 872px;
	margin-right: 8px
}

.layout .grid-23 {
	float: left;
	width: 912px;
	margin-right: 8px
}

.layout .grid-24 {
	float: left;
	width: 952px
}

.w952 {
	width: 952px;
	margin: 0 auto;
	padding: 0 4px
}

.w1120 {
	width: 1120px;
	margin: 0 auto;
	padding: 0 4px 0 12px
}

.w990 {
	width: 1190px;
	margin: 0 auto;
	padding: 0 4px
}

.mr10 {
	margin-right: 10px
}

.grid-fixed {
	margin-right: 0!important
}

h1,h2,h3,h4 {
	font-weight: normal;
}

body,a {
	color: #444
}

a:hover,a:active {
	color: #f50;
}

#content {
	margin-top: 0
}

#header {
	margin-bottom: 9px
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (max-device-width:480px) {
	layout {
		padding-left: 5px;
		padding-right: 5px
	}
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
	.layout {
		padding-left: 5px;
		padding-right: 5px
	}
}

@media only screen and (max-device-width:480px) {
	.layout {
		padding-left: 5px;
		padding-right: 5px
	}
}

.layout {
	width: 1190px;
	margin: 0 auto;
}

.layout .col-main,.layout .col-sub,.layout .col-ext {
	float: left;
	margin-right: 10px;
	overflow: hidden
}

.layout .col-main {
	width: 720px;margin-left: 230px;
}

.layout .col-sub {
	width: 220px; display:none;
}

.layout .col-ext {
	width: 230px;
	margin-right: 0
}

.layout-space .layout {
	margin-bottom: 8px
}

.layout-fixed {
	margin-bottom: 0!important
}

.grid-right {
	float: right!important
}

.fill-content #content {
	margin-top: 0
}

.fill-content .layout {
	margin: 0 auto;
	width: 952px;
	padding: 0 4px
}

.float-cancel {
	float: none!important
}

.last-col {
	margin-right: 0!important;
	padding-right: 0!important
}

.ms-yh {
	font-family: 5 FAE 8 F6F 9 6 C5 9 ED1,;
	9ED14F53: ,;
	6: 587 6 CC9 9 A7F 6 B63 9 ED1 4 F53,;
	5: 34 E 6 587 7 EC6 9 ED1;
	font-weight: 400
}

a.a-img,a.a-mix {
	display: inline-block;
	font-size: 0;
	line-height: 0
}

a.a-mix:hover,a.a-mix:active {
	text-decoration: none
}

a.a-mix img {
	margin-bottom: 2px
}

a.a-mix span,a.a-mix .description {
	display: block;
	font-size: 12px;
	line-height: 1.5
}

.vertical-img {
	display: table;
	text-align: center;
	overflow: hidden;
	font-size: 0;
	*display: block
}

.vertical-img .box-img {
	display: table-cell;
	vertical-align: middle;
	border:1px solid #e2e2e2;
	*display: inline;
	*writing-mode: tb-rl;
	*text-align: center;
	*height: 100%
}

.vertical-img img {
	vertical-align: middle
}

.layout,.define,,.listindex,,.list-product,,.list-tags,,.cell-header,,.cell-product-3rd,,.cell-tags,,.cell-tags ul {
	zoom: 1
}

.layout:after,.define:after,.listindex:after,.list-product:after,.list-tags:after,.cell-header:after,.cell-product-3rd:after,.cell-tags:after,.cell-tags ul:after {
	/*display: block;*/
	clear: both;
	height: 0;
	content: "\0020"
}

.define dt,.define dd,.listindex li,.list-tags li,.cell-header .titleindex,.cell-header li,.cell-header dt,.cell-header dd,.cell-tags li {
	float: left;
	_display: inline
}

.list-product li {
	float: left!important
}

.listindex li li {
	float: none
}

.cell-header p,.cell-header ul,.cell-header dl {
	overflow: hidden;
	_display: inline-block
}

.cell-product-1st dt,.cell-product-1st dd,.cell-product-2nd dt,.cell-product-2nd dd,.cell-product-3rd dt,.cell-product-3rd dd,.cell-tags dd,div.cell-tags ul {
	overflow: hidden
}

.cell-product-2nd dt {
	font-size: 0;
	line-height: 0;
	margin-bottom: 2px
}

.cell-product-3rd dt {
	float: left;
	font-size: 0;
	line-height: 0;
	_margin-right: -3px
}

.cell-list-txt {
	line-height: 1.8
}

.cell-tags dd,.cell-tags li {
	word-break: keep-all
}

.cell-tags dt.fd-left,div.cell-tags .fd-left {
	_margin-right: -3px
}

.orange,a.orange:link,a.orange:visited {
	color: #048521!important
}

.red {
	color: #de0001!important
}

.green {
	color: #2b8600!important
}

.main {
	margin-bottom: 0px;
}

.icon-hp-more {
	*display: inline;
	display: inline-block;
	zoom: 1;
	font-size: 12px;
	background: url("http://www.gfie.org/res/images/452401_1451252140.png") 0 -418px;
	height: 9px;
	width: 4px
}

.cell-hot-market {
	zoom: 1
}

.cell-hot-market:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both
}

.cell-hot-market .hot-img,.cell-hot-market .hot-info {
	float: left
}

.cell-hot-market .hot-img {
	position: relative;
	top: 7px
}

.hot-img a {
	float: left;
	width:70px;
	height:70px;
	overflow:hidden;
}

.cell-hot-market .hot-img img {
	display: block;
	width:auto;
}

.cell-hot-market .hot-info li {
	padding-left: 16px;
	height: 26px;
	line-height: 26px;
	overflow: hidden
}

.cell-hot-market .hot-info .current {
	background: url("http://www.gfie.org/res/images/459266_1451252140.png") no-repeat scroll 0 0 transparent;
	background-position: 6px -377px
}

.cell-hot-market .hot-info .current a:visited {
	color: #048521
}

.cell-hot-market .hot-info .current a:link {
	color: #048521
}

.cell-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-spacing: 0;
	background: #f7f7f7;
	border: 1px solid #dfdfdf
}

.cell-table td {
	text-align: center;
	border: 1px solid #dfdfdf;
	width: 25%
}

.cell-linkbtn-list {
	zoom: 1
}

.cell-linkbtn-list:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both
}

.cell-linkbtn-list a {
	background: #f4f4f4;
	border: 1px solid #e0e0e0;
	text-align: center;
	height: 20px;
	width: 78px;
	line-height: 20px;
	cursor: pointer;
	float: left;
	margin-left: 10px;
	margin-bottom: 5px
}

.cell-linkbtn-list .first {
	margin-left: 0
}

.cell-rank-list .rank1 {
	background-position: 0 6px
}

.cell-rank-list .rank2 {
	background-position: 0 -18px
}

.cell-rank-list .rank3 {
	background-position: 0 -42px
}

.cell-rank-list .rank4 {
	background-position: 0 -66px
}

.cell-rank-list .rank5 {
	background-position: 0 -90px
}

.cell-rank-list .rank6 {
	background-position: 0 -114px
}

.cell-rank-list .rank7 {
	background-position: 0 -138px
}

.cell-rank-list .rank8 {
	background-position: 0 -162px
}

.cell-rank-list .rank9 {
	background-position: 0 -186px
}

.cell-rank-list .rank10 {
	background-position: 0 -210px
}

.cell-rank-list li {
	height:26px;
	line-height:26px;
	overflow:hidden;
	padding-left: 20px;
	background: url("http://www.gfie.org/res/images/rank.png") no-repeat
}

.cell-rank-list .count {
	padding-right: 5px;
	float: right;
	color: #727272
}

.cell-list-info {
	margin: 15px 0;
	width: 100%;
	max-width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-spacing: 0
}

.cell-list-info td {
	vertical-align: middle;
	padding-left: 7px
}

.cell-list-info .label {
	width: 33px;
	padding-left: 0;
	text-align: center;
	border: 1px solid #e0e0e0;
	background: #f5f5f5
}

.cell-img-title {
	overflow: hidden;
	height: 20px;
	display: block;
	position: relative
}

.cell-img-title img {
	position: absolute;
	display: block
}

.cell-img-title .title-name1 {
	top: 0
}

.cell-img-title .title-name2 {
	top: -30px
}

.cell-img-title .title-name3 {
	top: -60px
}

.cell-img-title .title-name4 {
	top: -90px
}

.cell-img-title .title-name5 {
	top: -120px
}

.cell-img-title .title-name6 {
	top: -150px
}

.cell-img-title .title-name7 {
	top: -177px
}

.cell-img-title .title-name8 {
	top: -207px
}

.cell-img-title .title-name9 {
	top: -237px
}

.cell-img-title .title-name10 {
	top: -267px
}

.cell-img-title .title-name11 {
	top: -297px
}

.cell-img-title .title-name12 {
	top: -327px
}

.cell-img-title .title-name13 {
	top: -357px
}

.cell-img-title .title-name14 {
	top: -387px
}

.cell-img-title .title-name9 {
	top: -238px
}

.cell-img-title .title-name14 {
	top: -387px
}

#alibar-v4 {
	background-color: #a1d41d;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
}

#alibar-v4 .alibar-container {
	margin: 0 auto;
	padding: 0 4px;
	width: 1190px;
	height: 60px;
	_overflow: hidden;
	font: 12px/60px Tahoma,Arial,"\5B8B\4F53",sans-serif
}

#alibar-v4 a {
	text-decoration: none
}

#alibar-v4 a:hover {
	color: #fff!important
}

#alibar-v4 .topnav li,#alibar-v4 .nav-arrow,#alibar-v4 .topnav-purchaselist .nav-title span,#alibar-v4 .topnav-tp .contact-us,#alibar-v4 .topnav-tp .apply-form,#alibar-v4 .topnav-tp .join-promotion,#alibar-v4 .topnav-tp .renewal-online {
	background: url(http://www.gfie.org/res/images/alibar-v4.gif) no-repeat
}

#alibar-v4 li {
	float: left
}

#alibar-v4 .extra {
	position: relative;
	z-index: 1804
}

#alibar-v4 .account-sign-status {
	float: right;
	color: #fff
}

#alibar-v4 .account-sign-status li {
	list-style: none
}

#alibar-v4 .account-sign-status a:link,#alibar-v4 .account-sign-status a:visited {
	color: #fff;margin-left:5px;
}

#alibar-v4 .account-sign-status li {
	padding: 0 5px
}

#alibar-v4 .account-sign-status a.modify-nick {
	color: #048521
}

#alibar-v4 .account-msg a span {
	margin-left: 2px;
	padding: 0 4px;
	background-color: #048521;
	color: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px
}

#alibar-v4 .account-msg a:hover span {
	background-color: #f30
}

#alibar-v4 .topnav {
	float: right
}

#alibar-v4 .topnav a:link,#alibar-v4 .topnav a:visited {
	color: #666
}

#alibar-v4 .topnav li {
	background-position: right 6px
}

#alibar-v4 .nav-title {
	float: left;
	padding: 0 10px;
	height: 24px
}

#alibar-v4 .extra:hover .nav-title,#alibar-v4 .nav-hover .nav-title {
	padding: 0 9px;
	border-left: solid 1px #d1d1d1;
	border-right: solid 1px #d1d1d1;
	background-color: #fff
}

#alibar-v4 .topnav li.nav-hover-prev {
	background: 0
}

#alibar-v4 .nav-arrow {
	padding-right: 10px;
	background-position: right -160px
}

#alibar-v4 .topnav li:hover .nav-arrow,#alibar-v4 .topnav .nav-hover .nav-arrow {
	background-position: right -190px
}

#alibar-v4 .list-first {
	background: 0
}

#alibar-v4 .nav-content {
	display: none;
	border: solid 1px #d1d1d1;
	border-top: 0 none;
	background-color: #fff;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 1px 0
}

#alibar-v4 .topnav .extra:hover .nav-content,#alibar-v4 .topnav .nav-hover .nav-content {
	display: block;
	position: absolute;
	top: 24px;
	z-index: 2000
}

#alibar-v4 .nav-content dl {
	float: left;
	padding: 4px 12px
}

#alibar-v4 .nav-content dt {
	font-weight: 700;
	color: #b0b0b0
}

#alibar-v4 .nav-content dd {
	line-height: 24px;
	word-spacing: no-wrap
}

#alibar-v4 .nav-content a:link,#alibar-v4 .nav-content a:visited {
	color: #444
}

#alibar-v4 .topnav-myali .nav-content {
	left: 0;
	width: 252px
}

#alibar-v4 .topnav-purchaselist .nav-title span {
	padding-left: 12px;
	background-position: 0 -238px
}

#alibar-v4 .topnav-purchaselist-stock em {
	color: #048521
}

#alibar-v4 .topnav-purchaselist .nav-content {
	left: 0;
	width: 240px
}

#alibar-v4 .topnav-purchaselist .product-list {
	padding: 4px 0
}

#alibar-v4 .topnav-purchaselist .product-list p {
	padding: 16px 0;
	text-align: center;
	color: #525151
}

#alibar-v4 .topnav-purchaselist .purchase-info {
	padding: 10px 0;
	background-color: #f7f7f7;
	text-align: center
}

#alibar-v4 .topnav-purchaselist .purchase-info p {
	margin-bottom: 6px;
	color: #646464
}

#alibar-v4 .topnav-purchaselist .purchase-info em {
	font-weight: 700
}

#alibar-v4 .topnav-purchaselist-stock .product-list p {
	display: none
}

#alibar-v4 .topnav-purchaselist dl {
	padding: 4px 8px
}

#alibar-v4 .topnav-purchaselist dl a {
	color: #06c!important
}

#alibar-v4 .topnav-purchaselist dl a:hover {
	color: #048521!important
}

#alibar-v4 .topnav-purchaselist dt {
	float: left;
	margin: 4px 8px 0 0;
	text-align: center
}

#alibar-v4 .topnav-purchaselist dt a {
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden
}

#alibar-v4 .topnav-purchaselist dd {
	float: right;
	width: 166px;
	line-height: 1.5
}

#alibar-v4 .topnav-purchaselist dd.price {
	color: #8c8c8c;
	font-family: Helvetica
}

#alibar-v4 .topnav-purchaselist dd.action {
	text-align: right
}

#alibar-v4 .topnav-purchaselist dd em {
	margin: 0 2px;
	color: #048521
}

#alibar-v4 .topnav-purchaselist a.btn-y {
	display: inline-block;
	width: 90px;
	height: 24px;
	border: solid 1px #e89f0e;
	border-bottom-color: #cf7f01;
	background-color: #fca000;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcb10a),color-stop(1,#f18e06));
	background-image: -webkit-linear-gradient(top,#fcb10a 0,#f18e06 100%);
	background-image: -moz-linear-gradient(top,#fcb10a 0,#f18e06 100%);
	background-image: -o-linear-gradient(top,#fcb10a 0,#f18e06 100%);
	background-image: -ms-linear-gradient(top,#fcb10a 0,#f18e06 100%);
	background-image: linear-gradient(top,#fcb10a 0,#f18e06 100%);
	border-radius: 3px;
	color: #fff!important;
	font-weight: 700;
	line-height: 24px;
	text-align: center
}

#alibar-v4 .topnav-purchaselist a.btn-y:hover {
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f29b06),color-stop(1,#e57902));
	background-image: -webkit-linear-gradient(top,#f29b06 0,#e57902 100%);
	background-image: -moz-linear-gradient(top,#f29b06 0,#e57902 100%);
	background-image: -o-linear-gradient(top,#f29b06 0,#e57902 100%);
	background-image: -ms-linear-gradient(top,#f29b06 0,#e57902 100%);
	background-image: linear-gradient(top,#f29b06 0,#e57902 100%)
}

#alibar-v4 .topnav-purchaselist a.btn-y:active {
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e07f00),color-stop(1,#e48c02));
	background-image: -webkit-linear-gradient(top,#e07f00 0,#e48c02 100%);
	background-image: -moz-linear-gradient(top,#e07f00 0,#e48c02 100%);
	background-image: -o-linear-gradient(top,#e07f00 0,#e48c02 100%);
	background-image: -ms-linear-gradient(top,#e07f00 0,#e48c02 100%);
	background-image: linear-gradient(top,#e07f00 0,#e48c02 100%)
}

#alibar-v4 .topnav-tp .nav-content {
	left: 0;
	width: 128px
}

#alibar-v4 .topnav-tp .nav-content a {
	padding-left: 20px
}

#alibar-v4 .topnav-tp .contact-us {
	background-position: 2px -56px
}

#alibar-v4 .topnav-tp .order-online {
	text-decoration: none!important
}

#alibar-v4 .topnav-tp .apply-form {
	background-position: 2px -86px
}

#alibar-v4 .topnav-tp .join-promotion {
	background-position: 2px -116px
}

#alibar-v4 .topnav-tp .renewal-online {
	background-position: 2px -279px
}

#alibar-v4 .topnav-sitemap .nav-content {
	right: 0;
	width: 361px
}

#alibar-v4 .alibar-tips {
	position: absolute;
	background: #fffcdc;
	border: 1px solid #e7d4ac;
	padding: 10px 8px;
	z-index: 1500;
	box-shadow: 2px 2px rgba(0,0,0,0.1)
}

#alibar-v4 .tips-top {
	position: absolute;
	display: block;
	font-size: 0;
	top: -8px;
	top: -8px\9;
	left: 10px;
	width: 13px;
	height: 8px;
	background: url("http://www.gfie.org/res/images/447550_1451252140.png") no-repeat 0 -60px;
	z-index: 1501
}

#alibar-v4 .tip-logo {
	float: left;
	width: 30px;
	height: 34px;
	background: url("http://www.gfie.org/res/images/447550_1451252140.png") no-repeat
}

#alibar-v4 .tips-close {
	float: left;
	width: 10px;
	height: 10px;
	background: url("http://www.gfie.org/res/images/447550_1451252140.png") no-repeat 0 -40px;
	cursor: pointer;
	font-size: 0
}

#alibar-v4 .tip-text {
	float: left;
	padding: 0 20px 0 14px;
	width: 156px
}

#alibar-v4 .detail-link {
	color: #369
}

#alibar-v4 .tip-text em {
	color: #c97831
}

#alibar-v4 .tip-text a.i-know {
	display: block;
	text-align: right
}

#alibar-v4 .alibar-loading {
	background: url('http://www.gfie.org/res/images/loading.gif') no-repeat 50% 50%;
	padding: 27px 0
}

#masthead-v4 {
	padding: 12px 4px
}

#masthead-v4 .sub-logo-v4,#masthead-v4 .alisearch-type-v4 li,#masthead-v4 .alisearch-category-v4 h3,#masthead-v4 .alisearch-action-v4 button {
	background: url(http://www.gfie.org/res/images/masthead-v4.png) no-repeat
}

#masthead-v4 .ali-logo-v4 {
	float: left;
	margin-top: 6px
}

#masthead-v4 .main-logo-v4 {
	display: block;
	float: left;
	margin: 4px 12px 0 0;
	padding: 4px;
	width: 153px;
	height: 37px;
	border-radius: 2px;
	text-decoration: none
}

#masthead-v4 .main-logo-v4:hover {
	box-shadow: rgba(0,0,0,0.2) 0 0 1px 1px
}

#masthead-v4 .sub-logo-v4 {
	display: block;
	float: left;
	padding-left: 12px;
	height: 49px;
	line-height: 49px;
	background-position: -160px top;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size: 22px;
	font-weight: 700;
	color: #666
}

#masthead-v4 a.sub-logo-v4 {
	text-decoration: none
}

#masthead-v4 a.sub-logo-v4:hover {
	color: #048521
}

#masthead-v4 .ali-search-v4 {
	float: right;
	width: 540px
}

#masthead-v4 legend {
	display: none
}

#masthead-v4 .alisearch-type-v4 {
	height: 21px;
	_overflow: hidden
}

#masthead-v4 .alisearch-type-v4 li {
	float: left;
	width: 64px;
	height: 20px;
	line-height: 1.5;
	border-top: solid 1px transparent;
	background-position: -160px -50px;
	text-align: center;
	cursor: pointer;
	_border-top-color: tomato;
	_filter: chroma(color=tomato)
}

#masthead-v4 .alisearch-type-v4 li.first,#masthead-v4 .alisearch-type-v4 li.current-next {
	background: 0
}

#masthead-v4 .alisearch-type-v4 li.current {
	position: relative;
	width: 62px;
	height: 21px;
	border: solid 1px #c9c9c9;
	border-bottom: 0 none;
	border-radius: 2px 2px 0 0;
	background-image: none;
	background-color: #f7f7f7;
	font-weight: 700
}

#masthead-v4 .alisearch-type-v4 a {
	color: #000;
	text-decoration: none
}

#masthead-v4 .alisearch-container-v4 {
	padding: 4px;
	height: 26px;
	_overflow: hidden;
	border: solid 1px #c9c9c9;
	background-color: #f7f7f7
}

#masthead-v4 .alisearch-keywords-v4,#masthead-v4 .alisearch-category-v4,#masthead-v4 .alisearch-action-v4 {
	float: left
}

#masthead-v4 .alisearch-keywords-v4 {
	padding: 0 4px;
	width: 420px;
	height: 24px;
	border: solid 1px #ececec;
	border-top: solid 1px #d1d1d1;
	background-color: #fff
}

#masthead-v4 .alisearch-extend .alisearch-keywords-v4 {
	width: 318px
}

#masthead-v4 .alisearch-keywords-v4 input {
	padding: 2px 0;
	width: 100%;
	height: 20px;
	*height: 18px;
	line-height: 1.5;
	overflow: hidden;
	border: 0 none
}

#masthead-v4 .alisearch-keywords-v4 input.empty {
	color: gray
}

#masthead-v4 .alisearch-category-v4 {
	display: none;
	border-top: solid 1px #d1d1d1;
	border-bottom: solid 1px #ececec
}

#masthead-v4 .alisearch-extend .alisearch-category-v4 {
	display: block
}

#masthead-v4 .alisearch-action-v4 button {
	width: 99px;
	height: 26px;
	overflow: hidden;
	border: 0 none;
	cursor: pointer
}

#masthead-v4 .alisearch-action-v4 button.hover,#masthead-v4 .alisearch-action-v4 button:hover {
	background-position: left -26px
}

#masthead-v4 .alisearch-category-v4 {
	position: relative;
	z-index: 1011;
	cursor: default
}

#masthead-v4 .alisearch-category-v4 h3 {
	padding: 2px 22px 2px 8px;
	width: 72px;
	height: 20px;
	background-position: right -90px;
	background-color: #fff;
	line-height: 20px
}

#masthead-v4 .category-hover h3 {
	background-position: right -70px
}

#masthead-v4 .alisearch-category-v4 ul {
	display: none;
	position: absolute;
	left: -1px;
	top: 24px;
	min-width: 102px;
	_width: 102px;
	border: solid 1px #d1d1d1;
	background-color: #fff;
	line-height: 20px;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 1px 0
}

#masthead-v4 .category-hover ul {
	display: block
}

#masthead-v4 .alisearch-category-v4 li {
	padding: 2px 8px;
	min-width: 86px;
	_width: 86px;
	height: 20px
}

#masthead-v4 .alisearch-category-v4 li.hover,#masthead-v4 .alisearch-category-v4 li:hover {
	background-color: #ececec
}

#masthead-v4 .alisearch-category-v4 li.current {
	font-weight: 700
}

#masthead-v5 {
	padding: 12px 4px
}

#masthead-v5 .sub-logo-v5,#masthead-v5 .alisearch-type-v5 li,#masthead-v5 .alisearch-category-v5 h3,#masthead-v5 .alisearch-action-v5 button {
	background: url("http://www.gfie.org/res/images/masthead-v5.png") no-repeat
}

#masthead-v5 .ali-logo-v5 {
	float: left;
	margin-top: 10px
}

#masthead-v5 .main-logo-v5 {
	display: block;
	float: left;
	border-radius: 2px;
	text-decoration: none
}

#masthead-v5 .main-logo-v5:hover {
	box-shadow: rgba(0,0,0,0.2) 0 0 1px 1px
}

#masthead-v5 .sub-logo-v5 {
	display: block;
	float: left;
	padding-left: 12px;
	height: 49px;
	line-height: 49px;
	background-position: -160px top;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size: 22px;
	font-weight: 700;
	color: #666
}

#masthead-v5 a.sub-logo-v5 {
	text-decoration: none
}

#masthead-v5 a.sub-logo-v5:hover {
	color: #048521
}

#masthead-v5 .ali-search-v5 {
	float: right;
}

#masthead-v5 legend {
	display: none
}

#masthead-v5 .alisearch-type-v5 {
	height: 21px;
	overflow: hidden
}

#masthead-v5 .alisearch-type-v5 li {
	float: left;
	width: 54px;
	height: 20px;
	line-height: 1.5;
	border-top: solid 1px transparent;
	background-position: -108px -50px;
	text-align: center;
	cursor: pointer;
	_border-top-color: tomato;
	_filter: chroma(color=tomato);
}

#masthead-v5 .alisearch-type-v5 li.first {
	background: 0;
	margin-left: -7px
}

#masthead-v5 .alisearch-type-v5 li.head_search_on {
	position: relative;
	border-bottom: 0 none;
	font-weight: 700;
	color: #048521
}

#masthead-v5 .alisearch-type-v5 li.head_search_on a {
	color: #048521;
	text-decoration: none
}

#masthead-v5 .alisearch-type-v5 a {
	color: #000;
	text-decoration: none
}

#masthead-v5 .alisearch-container-v5 {
	padding-top: 0
}

#masthead-v5 .alisearch-container-v5:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both
}

#masthead-v5 .alisearch-keywords-v5,#masthead-v5 .alisearch-category-v5,#masthead-v5 .alisearch-action-v5 {
	float: left
}

#masthead-v5 .alisearch-keywords-v5 {
    height: 30px;
    background-color: #fff;
    border-right: 0;
    position: relative;
}

#masthead-v5 .alisearch-extend .alisearch-keywords-v5 {
	width: 318px
}

#masthead-v5 .alisearch-keywords-v5 input {
    background: #FFF;
    width: 100%;
    height: 30px;
    line-height: 1.5;
    overflow: hidden;
    border: 0 none;
    top: 0;
    left: 0;
    padding: 0;
	text-indent: 32px;
}

#masthead-v5 .alisearch-keywords-v5 input:focus {
	outline: 0
}

#masthead-v5 .alisearch-keywords-v5 input.empty {
	color: gray
}

#masthead-v5 .alisearch-category-v5 {
	display: none
}

#masthead-v5 .alisearch-extend .alisearch-category-v5 {
	display: block;
	border: 3px solid #048521;
	border-left: 0;
	border-right: 0
}


#masthead-v5 .alisearch-action-v5 button.hover,#masthead-v5 .alisearch-action-v5 button:hover {
	background-position: left -120px
}

#masthead-v5 .alisearch-category-v5 {
	position: relative;
	z-index: 1011;
	cursor: default
}

#masthead-v5 .alisearch-category-v5 h3 {
	padding: 2px 22px 2px 8px;
	width: 72px;
	height: 26px;
	background-position: right -87px;
	background-color: #fff;
	line-height: 26px
}

#masthead-v5 .category-hover h3 {
	background-position: -59px -67px;
	width: 71px;
	border: solid 1px #d1d1d1;
	border-bottom: 0;
	padding: 1px 22px 2px 7px
}

#masthead-v5 .alisearch-category-v5 ul {
	display: none;
	position: absolute;
	left: 0;
	top: 30px;
	min-width: 100px;
	_width: 100px;
	border: solid 1px #d1d1d1;
	border-top: 0;
	background-color: #fff;
	line-height: 26px
}

#masthead-v5 .category-hover ul {
	display: block
}

#masthead-v5 .alisearch-category-v5 li {
	padding: 2px 8px;
	min-width: 84px;
	_width: 84px;
	height: 26 px
}

#masthead-v5 .alisearch-category-v5 li.hover,#masthead-v5 .alisearch-category-v5 li:hover {
	background-color: #ececec
}

#masthead-v5 .alisearch-category-v5 li.current {
	font-weight: 700
}

.ali-nav2 {
	margin-bottom: 12px;
	margin-left:214px;
	width:972px;
}

.ali-nav2 li {
	float: left;
	cursor: pointer;
	zoom: 1;
	font-size: 14px;
	text-align: center
}

.ali-nav2 .ali-nav-main {
	height: 38px;
	overflow: hidden;
	padding-left: 20px;
}


.ali-nav2 .ali-nav-main .ali-nav-current {
	background-color: #fff;
/*margin-left:8px;*//*width:65px*/
	padding: 0 12px;
}

.ali-nav2 .ali-nav-main .ali-nav-current a {
	color: #048521;
	font-size:16px;
}

.ali-nav2 .ali-nav-main .ali-nav-current a:hover {
	color: #048521;
	
}

.ali-nav2 .ali-nav-main li {
	height: 38px;
	line-height: 30px;
	margin-top: 3px;
	margin-right: 20px;
	_margin-right: 20px;
	width:70px;
}

.ali-nav2 .ali-nav-main li.spacing {
	margin-left: -3px;
	margin-right: 22px;
	width: 1px;
	background: url("http://www.gfie.org/res/images/459266_1451252140.png") no-repeat 0 -194px
}

.ali-nav2 .ali-nav-main li.pre-last {
	margin-right: 5px
}

.ali-nav2 .ali-nav-main li.last {
	margin-right: 0
}

.ali-nav2 .ali-nav-main li.caigou-img {
	width: 134px;
	background: url("http://www.gfie.org/res/images/460264_1451252140.jpg") no-repeat 0 -973px;
	margin-top: 0;
	float: right
}

.ali-nav2 .ali-nav-main li.caigou-img a {
	vertical-align: -4px;
	_vertical-align: -8px;
	margin-left: 10px;
	font-family:"微软雅黑";
	font-size:16px;
}

.ali-nav2 .ali-nav-main li a {
	color: #fff;
	font-size:16px;
}

.ali-nav2 .ali-nav-main li a:hover {
	color: #fc6!important;
	text-decoration: none
}

.ali-nav2 .ali-nav-sub {
	border: 1px solid #ffcfa0;
	border-top: 0;
	height: 37px;
	overflow: hidden;
	background-color: #fffbef;
	padding-left: 18px;
	display:none;
}

.ali-nav2 .ali-nav-sub li {
	height: 36px;
	line-height: 40px;
	margin-right: 21px;
	_margin-right: 20px
}

.ali-nav2 .ali-nav-sub li.nohref {
	cursor: default
}

.ali-nav2 .ali-nav-sub li.spacing {
	margin-left: -2px;
	margin-right: 20px;
	width: 1px;
	background: url("http://www.gfie.org/res/images/459266_1451252140.png") no-repeat 0 -476px
}

.ali-nav2 .ali-nav-sub li.last {
	margin-right: 0
}

.ali-nav2 .ali-nav-sub li a {
	color: #333
}

.ali-nav2 .ali-nav-sub li a:hover {
	color: #ff5a00;
	text-decoration: none
}

.hot-keyword {
	float: left;
	width: 670px;
	height: 20px;
	overflow: hidden;
	overflow: hidden;
	line-height: 20px;
	color: #333;
	padding-top: 7px
}

.hot-keyword .hot-keyword-list {
	width: 670px;
	height: 20px;
	overflow: hidden
}

.hot-keyword .hot-keyword-list li {
	float: left;
	margin-right: 15px
}

.hot-keyword .hot-keyword-list a:link,.hot-keyword .hot-keyword-list a:visited {
	color: #444
}

.hot-keyword .hot-keyword-list a:hover,.hot-keyword .hot-keyword-list a:active {
	color: #048521
}

.hot-keyword .more-search {
	background: url("http://www.gfie.org/res/images/masthead-v5.png") no-repeat -160px -28px;
	padding-left: 12px
}

*html {
	background-image: url("about:blank");
	background-attachment: fixed
}

#top-banner-layout {
	width: 100%;
	background-color: #fffbe1
}

#top-banner-layout #top-banner {
	height: 32px;
	width: 1190px;
	margin: 0 auto
}

#top-banner-layout #top-notice {
	width: 1190px;
	height: 31px;
	line-height: 31px;
	margin: 0 auto;
	background: #fffbe1;
	overflow: hidden
}

#top-banner-layout #top-notice .text {
	padding-left: 6px
}

#top-banner-layout #top-notice #top-notice-close {
	font-size: 0;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	width: 10px;
	height: 10px;
	background: url("http://www.gfie.org/res/images/423203_1451252140.png") no-repeat 0 -40px;
	cursor: pointer
}

#footer-v1 a:link,#footer-v1 a:visited {
	color: #919191
}

#footer-v1 a:hover,#footer-v1 a:active {
	color: #fff!important
}

#footer-v1 .footer-container {
	padding: 8px 0 12px 0
}
.footer-ali-pages ul li a{color:#919191 !important;}
#footer-v1 ul,#footer-v1 li,#footer-v1 dt,#footer-v1 dd {
	display: inline;
	color: #999
}

#footer-v1,#footer-v1 .footer-ali-group,#footer-v1 .net-admission,#footer-v1 .footer-ali-copyright,#footer-v1 .footer-ali-certs {
	padding-bottom: 0px
}
.mod-footer{
	text-align: center;
	width: 1190px;
	margin: 0 auto;
	padding: 8px 0px 0;
	color: #333;
	border-top: 1px solid #303030;
	}
.footer-ali-copyright p{color:#919191 !important;}
.certs-icons img{height:40px;opacity:0.7}
#footer-v1 .footer-ali-certs {
	padding-top: 6px;
	width: 908px;
	margin: 0 auto
}

#footer-v1 .footer-net-ic {
	top: 0;
	left: 246px;
	background-position: 0 0
}

#footer-v1 .footer-net-ic a {
	display: inline-block;
	width: 52px;
	height: 62px;
	overflow: hidden;
	line-height: 186px
}

#footer-v1 .net-admission li {
	color: #333
}

#taobao-stock {
	border-left: 1px solid #da3626;
	border-right: 1px solid #da3626;
	background-color: #f55343;
	color: #ffdbad
}

#taobao-stock .tb-inner {
	background: url("http://www.gfie.org/res/images/449298_1451252140.png") 0 center;
	width: 1190px;
	margin: 0 auto;
	height: 100px;
	position: relative
}

#taobao-stock h2 {
	color: #fff;
	font-weight: bold;
	margin-bottom: 15px
}

#taobao-stock .tb-why,#taobao-stock .tb-try {
	position: absolute;
	top: 7px
}

#taobao-stock .tb-why {
	left: 225px
}

#taobao-stock .tb-try {
	left: 548px
}

#taobao-stock .tb-try ul {
	overflow: hidden;
	zoom: 1;
	width: 308px;
	padding-top: 5px
}

#taobao-stock .tb-try li {
	float: left;
	width: 77px;
	height: 24px;
	text-align: center
}

#taobao-stock .tb-try a {
	color: #fdfbd3
}

#taobao-stock .tb-close {
	position: absolute;
	right: 3px;
	top: 5px;
	width: 22px;
	height: 22px;
	display: block;
	cursor: pointer
}

#taobao-stock .tb-xunjia {
	position: absolute;
	top: 47px;
	right: 10px
}

#taobao-stock .tb-xunjia .xunjia-link {
	margin-left: 10px
}

#taobao-stock .tb-xunjia a {
	color: #a50
}

#header {
	height: 115px;
	margin-bottom: 0;
}

#masthead-v5 {
	padding: 0;
float:left;}

#masthead-v5 .main-logo-v5:hover {
	box-shadow: none
}

#masthead-v5 .ali-logo-v5 {
	margin-top: 0
}

#masthead-v5 .ali-search-v5 {
	float: left;
}

#masthead-v5 .masthead-right {
    float: left;
    margin-left:50px;
    position: relative;
	margin-top: 15px;
}

#masthead-v5 .masthead-right .alisearch-top {
	float: left;
	width: 60px;
	padding: 24px 2px 0 15px;
	text-align: left
}

#masthead-v5 .more {
	background: url("http://www.gfie.org/res/images/432636_1451252140.png") no-repeat 59px -448px;
	color: #048521
}

#masthead-v5 .alisearch-keywords-v5 {
	width: 180px
}

#masthead-v5 .alisearch-keywords-v5 input {
	position: absolute
}

#masthead-v5 .alisearch-action-v5 button.alisearch-textbotton {
    background: url(http://www.gfie.org/res/images/search.jpg) no-repeat 0 -18px;
    background-size: 18px;
    width: 18px;
    height: 18px;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 6px;
}
.head_sousuo_right{float:right;}

#masthead-v5 .main-logo-v5 {
	margin-right: 0;
	padding-right: 0
}

#fixed-right-bottom-container {
	position: fixed;
	_position: absolute;
	right: 0;
	bottom: 0
}

.pages {
	padding: 10px 0 10px 0;
	text-align: center;
	font-size: 12px;
	color: #666666;
}

.pages a:link,.pages a:visited,.pages a:active {
	color: #004499;
	background: #FFFFFF;
	border: #cdcdcd 1px solid;
	padding: 5px;
	text-decoration: none;
}

.pages a:hover {
	background: #FFFFFF;
	border: #cdcdcd 1px solid;
	color: #FF6600;
	padding: 5px;
	text-decoration: none;
}

.pages strong {
	background: #f8f8f8;
	padding: 5px;
	border: #cdcdcd 1px solid;
	color: #048521;
}

.pages_inp {
	border: #2E6AB1 1px solid;
	padding: 1px;
	width: 30px;
	text-align: center;
	color: #666666;
}

.pages label {
	background: #FFFFFF;
	border: #2E6AB1 1px solid;
	color: #004499;
	padding: 1px 5px 1px 5px;
}

.pages label em {
	color: red;
	font-weight: bold;
	font-style: normal;
}

.pages label span {
	font-weight: bold;
}

.pages cite {
	font-style: normal;
}

.pages .pages_btn {
	margin-left: 10px;
	border: solid 1px #b3b3b3;
	margin-top: 0px;
	border-bottom-color: #9a9a9a;
	padding: 1px 9px;
	background-color: #f0f0f0;
	color: #444;
	vertical-align: middle;
	cursor: pointer;
	overflow: visible;
	background-image: -webkit-linear-gradient(#fcfcfc,#e4e4e4);
	background-image: -moz-linear-gradient(#fcfcfc,#e4e4e4);
	background-image: linear-gradient(top,#fcfcfc,#e4e4e4);
	border-radius: 2px;
	*padding: 0 8px;
	*height: 22px;
	*margin-top: 1px
}

.pages input {
	border: solid 1px #a0a0a0;
	height: 18px;
	width: 36px;
	padding: 1px 2px;
	background-color: #fff;
	margin: 0px 2px 0;
	overflow: hidden;
	vertical-align: middle;
	color: #444;
	box-shadow: inset 0 1px 1px #e6e6e6
}

.sw-mod-pagination .pagination {
	font-family: Tahoma;
	font-size: 12px;
	height: 35px;
	clear: both;
	overflow: hidden;
	text-align: center
}

.sw-mod-pagination .pagination .page-bottom,.sw-mod-pagination .pagination form {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle
}

.sw-mod-pagination .pagination a,.sw-mod-pagination .pagination a:link,.sw-mod-pagination .pagination a:visited,.sw-mod-pagination .pagination .page-prev,.sw-mod-pagination .pagination .page-cur,.sw-mod-pagination .pagination .page-start,.sw-mod-pagination .pagination .page-end,.sw-mod-pagination .pagination .page-next,.sw-mod-pagination .pagination .page-break {
	float: left;
	height: 28px;
	line-height: 28px;
	padding: 0 9px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 14px
}

.sw-mod-pagination .pagination .page-bottom:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both
}

.sw-mod-pagination .pagination .page-cur {
	border: 1px solid #ccc;
	color: #048521;
	border-right: 0;
	font-weight: bold;
	background-color: #f8f8f8
}

.sw-mod-pagination .pagination a,.sw-mod-pagination .pagination a.page-next {
	border: 1px solid #ccc;
	font-size: 12px;
	border-right: 0
}

.sw-mod-pagination .pagination a:hover {
	text-decoration: none;
	color: #048521
}

.sw-mod-pagination .pagination .page-break {
	border-left: 1px solid #ccc;
	height: 30px
}

.sw-mod-pagination .pagination a.page-prev,.sw-mod-pagination .pagination a.page-next,.sw-mod-pagination .pagination .page-start {
	width: 55px;
	padding: 0;
	font-size: 12px;
	margin-right: 10px;
	border: 1px solid #ccc
}

.sw-mod-pagination .pagination .page-start {
	color: #ddd
}

.sw-mod-pagination .pagination a.page-prev:hover {
	border: 1px solid #048521;
	text-decoration: none
}

.sw-mod-pagination .pagination .page-end {
	border: 1px solid #ddd;
	padding: 0 5px;
	padding-right: 16px;
	color: #ddd;
	font-size: 12px
}

.page-op {
	color: #444
}

.page-op #jumpto {
	width: 32px;
	text-align: center;
	border: 1px solid #ececec;
	border-top: 1px solid #ccc;
	color: #000;
	font-family: Tahoma,SimSun,Arial;
	height: 20px;
	margin: 0 4px 5px;
	text-align: center;
	vertical-align: middle
}

.page-op #jump-sub {
	height: 25px;
	margin: 0 0 2px 8px;
	width: 43px;
	cursor: pointer;
	background-color: #f5f5f5;
	border: 1px solid #b2b2b2
}

.page-op #jump-sub:hover {
	border-radius: 2px;
	box-shadow: 0 0 2px #a8a8a8;
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6
}

.page-op .total-page {
	padding-right: 8px
}

.page-op .total-page b {
	font-weight: bold
}

*html {
	background-image: url("about:blank");
	background-attachment: fixed
}

#top-banner-layout {
	width: 100%;
	background-color: #fffbe1
}

#top-banner-layout #top-banner {
	height: 32px;
	width: 1190px;
	margin: 0 auto
}

#top-banner-layout #top-notice {
	width: 1190px;
	height: 31px;
	line-height: 31px;
	margin: 0 auto;
	background: #fffbe1;
	overflow: hidden
}

#top-banner-layout #top-notice .text {
	padding-left: 6px
}

#top-banner-layout #top-notice #top-notice-close {
	font-size: 0;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	width: 10px;
	height: 10px;
	background: url("../image/423203_1451252140.png") no-repeat 0 -40px;
	cursor: pointer
}

#ie6-kill {
	width: 100%;
	background-color: #fffbe1
}

#ie6-kill #ie6-kill-inner {
	width: 1190px;
	height: 31px;
	line-height: 31px;
	margin: 0 auto;
	overflow: hidden
}

#ie6-kill #ie6-kill-inner .text {
	width: 660px;
	margin: 0 auto
}

#ie6-kill #ie6-kill-inner a:link,#ie6-kill #ie6-kill-inner a:visited,#ie6-kill #ie6-kill-inner a:hover,#ie6-kill #ie6-kill-inner a:active {
	color: #048521
}

#alibar {
	margin-bottom: 10px;
    height: 60px;
}

.alibar-container {
	width: 1190px
}

#header {
	height: 115px;
	margin-bottom: 0;
	background:#fff;
	background: url(http://www.gfie.org/res/images/head_top_bg.jpg) repeat scroll 0px -30px;
}
.mod-masthead{min-width:1190px}
.left_head {
	background: #f8f8f8 url('http://www.gfie.org/res/images/left_head.gif') repeat-x;
	padding: 8px 10px 7px 10px;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #e7e9ee
}

#search_tips {
	z-index: 1000;
	position: absolute;
	width: 470px;
	overflow: hidden;
	cursor: pointer;
	margin: 72px 0 0 342px;
	font-size: 13px;
	line-height: 20px;
	color: #666666;
	background: #FFFFFF;
	border: #CCC 1px solid;
}

#search_tips div {
	height: 20px;
	padding: 1px 8px 1px 8px;
	clear: both;
	overflow: hidden;
}

#search_tips div span {
	float: right;
	font-size: 12px;
}

#search_tips label {
	display: block;
	width: 100%;
	background: #FAFAFA;
	font-size: 12px;
	color: #0000CC;
	text-align: right;
}

.postit {
	color: #003278;
	padding: 0 5px 0 12px;
	line-height: 37px;
	background: #D7E9FF url('http://www.gfie.org/res/images/pos.gif') repeat-x 0 bottom;
	margin: 1px 1px 10px 1px;
}

.info_trade {
	font-size: 14px;
	text-align: left;
	font-family: \5FAE\8F6F\96C5\9ED1,\9ED1\4F53,\6587\6CC9\9A7F\6B63\9ED1\4F53,\534E\6587\7EC6\9ED1;
	margin: 0 0 8px 0;
	border-bottom: #F1F1F1 1px solid;
	padding: 0 0 2px 10px;
}

.contact_head {
	background: url('http://www.gfie.org/res/images/lianxi_head.gif') no-repeat;
	padding: 10px 0 5px 18px;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
}

.contact_body {
	padding: 10px;
	height:350px;
	border: #d84600 3px solid;
}

.contact_body li {
	line-height: 24px;
	border-bottom: #E2E2E2 1px solid;
	padding: 0 0 0 10px;
}
.f_orange_img{position:absolute;float:left; width:70px}
.f_orange_img2{margin-left:70px}
.contact_body li span {
	color: #1B4C7A;
	padding: 0 8px 0 0;
}

.box_head_1 {
	background: url('http://www.gfie.org/res/images/box_head_1_l.gif') no-repeat;
}

.box_head_1 div {
	height: 32px;
	line-height: 33px;
	overflow: hidden;
	padding: 0 12px 0 15px;
	background: url('http://www.gfie.org/res/images/box_head_1_r.gif') no-repeat right 0;
	color: #333333;
}

.box_head_1 strong {
	font-size: 14px;
}

.box_head_2 {
	border: #e7e9ee 1px solid;
	border-bottom: none;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	padding: 0 10px 0 10px;
	background: url('http://www.gfie.org/res/images/box_head_2.gif') repeat-x 0 bottom;
	color: #333333;
}

.box_head_2 strong {
	font-size: 14px;
}

.type {
	height: 33px;
	line-height: 34px;
	overflow: hidden;
	background: #D7E9FF url('http://www.gfie.org/res/images/type_bg.gif') repeat-x;
	padding-left: 35px;
}

a.type_1:link,a.type_1:visited,a.type_1:active,a.type_1:hover {
	float: left;
	display: block;
	padding: 0 15px 0 15px;
	background: #FFFFFF;
	color: #000000;
	font-weight: bold;
	background: url('http://www.gfie.org/res/images/type_1.gif') repeat-x;
	border-left: 1px solid #048521;
	border-right: 1px solid #048521;
	text-decoration: none
}

a.type_2:link,a.type_2:visited,a.type_2:active {
	float: left;
	display: block;
	padding: 0 15px 0 15px;
	border-right: #E2F0FB 1px solid;
	height: 32px;
}

a.type_2:hover {
	background: #2676D9;
	color: #FFFFFF;
}

.tab_head {
	border: #e7e9ee 1px solid;
	border-bottom: none;
	height: 33px;
	line-height: 33px;
	font-size: 13px;
	overflow: hidden;
	background: #EFF6FF url('http://www.gfie.org/res/images/tab_head.gif') repeat-x;
	color: #333333;
	font-weight: bold;
}

.tab_1 {
	float: left;
	padding: 0 15px 0 15px;
	border-right: #e7e9ee 1px solid;
	cursor: pointer;
	font-weight: normal;
}

.tab_2 {
	float: left;
	padding: 0 15px 0 15px;
	border-right: #e7e9ee 1px solid;
	cursor: pointer;
	background: #FFFFFF;
	background: url('http://www.gfie.org/res/images/tab_1.gif') repeat-x;
}

.box_head {
	border: #e7e9ee 1px solid;
	border-bottom: none;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	padding: 0 10px 0 10px;
	background: #EFF6FF url('http://www.gfie.org/res/images/box_head.gif') repeat-x;
	color: #333333;
}

.box_head strong {
	font-size: 14px;
}

.left_menu {
	width: 150px;
	font-size: 13px;
	letter-spacing: 1px;
	background: #FFFFFF url('http://www.gfie.org/res/images/left_menu.gif') repeat-y;
}

.left_menu a {
	width: 90%;
	display: block;
}

.left_menu ul {
	background: #FFFFFF url('http://www.gfie.org/res/images/left_menu_ul.gif') no-repeat;
	padding-top: 2px;
}

.left_menu_li {
	line-height: 37px;
	height: 37px;
	background: url('http://www.gfie.org/res/images/left_menu_li.gif') no-repeat;
	padding-left: 30px;
}

.left_menu_on {
	line-height: 37px;
	height: 37px;
	background: url('http://www.gfie.org/res/images/left_menu_on.gif') no-repeat;
	padding-left: 30px;
}

.titleshow {
	font-size: 20px;
	text-align: center;
	font-family: \5FAE\8F6F\96C5\9ED1,\9ED1\4F53,\6587\6CC9\9A7F\6B63\9ED1\4F53,\534E\6587\7EC6\9ED1;
	font-weight: normal;
	padding: 15px 0
}

#head {
	width: 100%;
	position: fixed;
	z-index: 999999;
	left: 0;
}

.back2top {
	width: 58px;
	height: 58px;
	position: fixed;
	_position: absolute;
	right:3%;
	/*left: 57%;*/
	/*margin-left: 500px;*/
	bottom: 100px;
	_bottom: auto;
	cursor: pointer;
	
}

.back2top a {
	display: block;
	width: 100%;
	height: 100%;
	background: url('http://www.gfie.org/res/image/back2top.png') no-repeat;
}

.back2top a:hover {
	background: url('http://www.gfie.org/res/image/back2top.png') no-repeat -58px 0;
	text-decoration: none
}

.m_l_2 {
	width: 980px;
}

.m_r_2 {
	width: 200px;
}






/*public*/
.container{ width:1180px; margin:0 auto 30px; padding-top:100px; overflow:hidden}
.contenta{ width:830px; float:left;padding:0;}
.img-fd img{width:100%; transition:all .5s ease-out}
.img-fd:hover img{transform:matrix(1.04,0,0,1.04,0,0)}

.show-more{height:45px; line-height:45px; color:#333; font-size:18px; display:block; text-align:center; background:#f3f5f9; margin:30px 0;}
.show-more i{ width:38px; height:22px; display:inline-block; margin-right:10px; background:url(http://www.gfie.org/res/images/loading.gif) no-repeat center center; vertical-align:middle}

.shade{position: fixed; background:rgba(0,0,0,.7); left: 0; top:0; width: 100%; height: 100%; display: none; opacity: 0; z-index:2;}
.shade-show{ opacity:1; -webkit-transition:all 0.25s linear; -moz-transition:all 0.25s linear; -o-transition:all 0.25s linear; transition:all 0.25s linear;}

/*content-page*/
.content-page{margin:5px 20px;font-size:13px;background-color:#F4FCFF;background-color:white;height:36px;line-height:36px;text-align:center;overflow:hidden;padding:1em 4px 4px;clear:both}
.content-page a{padding:3px 8px;margin:2px;text-decoration:none}
.content-page a.current,.content-page a:hover{font-weight:400;color:white;background-color:#D14836}



.main{ width:1190px; margin:0 auto;  overflow:hidden}

/*home-content*/

.banner{ height:360px; overflow:hidden;}
.slidea{ width:670px; float:left; margin-right:10px;}
.swiper-container{ height:360px; margin-left:auto; margin-right:auto;}
.swiper-slide{ text-align: center;font-size: 18px;background: #eee;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items:center;align-items:center;}
.swiper-slide img{ width:670px; height:360px;}
.swiper-slide .box{ width:670px; height:80px; padding:20px 100px 20px 40px; text-align:left; display:block; position:absolute; bottom:0; left:0; background-image:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%); background-image:-moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);}
.swiper-slide .title1{ height:100%; font-size:22px; line-height:30px; color:#fff; display:block; position:relative}
.swiper-slide .title1:hover{ color:#e05a5a}

.thumbs{ float:left;}
.thumba{ width:150px; height:112px; margin-bottom:12px;}
.thumba:last-child{ margin-bottom:0;}
.thumba .img{ height:100%; display:block; position:relative; overflow:hidden}
.thumba .img img{ width:100%; height:100%;}
.thumba .img .bg{ width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(39,38,39,.6);}
.thumba .img .title_box{ width:100%; height:100%; color:#fff; position:absolute; left:0; top:0; display:table}
.thumba .img .title1{ color:#fff; padding:0 8px; vertical-align:middle; display:table-cell; overflow:hidden; text-align:center;text-indent: 0;}

.wrapa{ margin-top:20px; overflow:hidden}
.wrapa ul{}
.wrapa li{ padding:30px 0 30px 235px; border-bottom:1px solid #eaecef; position:relative}
.wrapa .img{ width:200px; height:140px; overflow:hidden; position:absolute; left:0; top:30px;}
.wrapa .img .sort{ background:rgba(0,0,0,0.7); position:absolute; top:0; left:0; z-index:1}
.wrapa .img .sort a{ padding:5px 12px; color:#fff; line-height:1; display:block}
.wrapa .word{ padding-right:10px;}
.wrapa h3 a{ color:#272322; transition:all .3s; font-size:20px; font-weight:bold;}
.wrapa li:hover h3 a{ color:#e05a5a}
.wrapa .des{ line-height:180%; color:#888; padding-top:15px; overflow:hidden}
.wrapa .infoa{ height:26px; line-height:26px; color:#b8b8b8; padding-top:12px; margin-top:10px}
.wrapa .infoa .count{ float:right; }
.wrapa .infoa .time{ float:left; margin-right:30px}
.wrapa .infoa .time i{ width:14px; height:14px; margin-top:6px; float:left; margin-right:5px; background:url(http://www.gfie.org/res/images/lph-pageList-sprite.png) no-repeat -2px -42px;}
.wrapa .infoa .status{ float:left; color:#e05a5a; font-weight:bold;}
.wrapa .infoa .cmt{ min-width:55px; color:#b8b8b8; float:right;}
.wrapa .infoa .cmt i{ width:17px; height:14px; float:left; margin-top:6px; margin-right:5px; background:url(http://www.gfie.org/res/images/lph-pageList-sprite.png) no-repeat 0 -119px;}

/*home-content movie*/
.movie li{ min-height:260px;  padding:30px 0 30px 185px; }
.movie .img{ width:150px; height:200px;}

/*home-sidebar*/
.sidebar{ width:330px; float:right; overflow:hidden}
.sidebar .banner{ width:330px; height:360px;}

.widget{ margin-bottom:15px; position:relative; clear:both}
.title_container{ border-bottom:2px solid #ccc; padding:12px 0 4px;}
.title_container .title1{  font-size:20px; text-align:center; color:#333; display:block; margin-top:10px;}
.title_container .sub_title{ display:block; font-size:12px; font-family:Arial; color:#999; text-align:center; margin-top:5px;}

/*sidebar-hot-article*/
.hotlist li{ height:42px; line-height:42px; overflow:hidden; border-top:1px solid #f0f0f4;}
.hotlist a{ display:block; padding:5px 0;}
.hotlist span.comment{ width:35px; color:#d14836; display:inline-block; padding:0 8px 0 4px; text-align:center; float:left; font-size:18px;font-weight:bold}
.hotlist span.title1{ display:block; color:#333;}
.hotlist li:hover span.title1{ color:#e05a5a}

/*sidebar-author*/
.authorlist li{ padding:10px 0; border-bottom:1px solid #eee; overflow:hidden}
.authorlist .avt img{ width:70px; height:70px; border-radius:50%; border:1px solid #eee; float:left; margin-right:18px;}
.authorlist .desc{ padding-left:95px;}
.authorlist .desc a{ color:#333}
.authorlist .desc .name{ font-weight:bold; color:#343434}
.authorlist .desc .text{ color:#a6a6a6; margin-top:5px}
.authorlist .desc .pagenum{ margin-top:5px;}
.authorlist .desc .pagenum a{ color:#333;}
.authorlist .desc .pagenum a:hover{ color:#e05a5a}

/*sidebar-comments*/
.recentcomments li{ color:#555; padding-bottom:8px; margin-top:10px; border-bottom:1px dotted #DFDFDF; overflow:hidden; position:relative; padding-left:60px;}
.recentcomments img{ width:60px; height:60px; position:absolute; left:0; top:4px;}
.recentcomments .rc-info{ margin-top:5px;padding-left: 10px;    height: 20px;    overflow: hidden;}
.recentcomments .rc-info a{ color:#474747}
.recentcomments .rc-info a:hover{ color:#e05a5a}
.recentcomments .rc-reviewer{ font-weight:700; display:inline}
.recentcomments .rc-post{ color:#999; display:inline}
.recentcomments .rc-excerpt{ color:#555; margin-top:5px;padding-left:10px;height:38px;overflow:hidden;}

/*sidebar-article-list*/
.articlelist li{ overflow:hidden; border-top:1px solid #f0f0f4; position:relative; padding:20px 10px 20px 140px;}
.articlelist li:hover{ background:#f5f5f5}
.articlelist .imgbox{ width:120px; height:80px; overflow:hidden; position:absolute; left:5px;}
.articlelist .infoa{ overflow:hidden; margin-top:5px}
.articlelist .infoa h4 a{ color:#474747;}
.articlelist li:hover h4 a{ color:#e05a5a}
.articlelist .infoa .desc{ color:#999; margin-top:10px;}

/*sidebar-recommend-article*/
.recommend{ height:235px; position:relative; text-align:center; padding:0 30px; overflow:hidden}
.recommend .tag{ padding:2px 10px; position:absolute; top:0; right:0; color:#fff; display:block; z-index:1; background:#E94C3D}
.recommend .imgbox{ width:100%; height:235px; display:block; position:absolute; left:0; top:0;}
.recommend .imgbox img{ width:105%; height:105%; position:absolute; left:-10px; top:-10px; display:block; -webkit-filter:blur(3px);}
.recommend .imark{ width:100%; height:100%; display:block; position:absolute; bottom:0; left:0; background:url(http://www.gfie.org/res/images/zhengmingbg.png) no-repeat; background-size:330px;}
.recommend .tit{ line-height:36px; color:#fff; font-size:20px; position:relative; top:80px; overflow:hidden; font-weight:400}
.recommend-list{ height:124px; overflow:hidden; background:#262627; padding:10px 20px 0;}
.recommend-list li{ height:50px; line-height:50px; background:url(http://www.gfie.org/res/images/arrow.png) no-repeat 260px center #262627; border-bottom:2px solid #fff; padding:0 5px;overflow:hidden;}
.recommend-list li a{ color:#fff; font-size:16px; display:block}
.recommend-list li a:hover{ color:#e05a5a}
