html {
	color: #000;
	overflow-y: scroll;
	background: #fff
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,form,th,td {
	margin: 0;
	padding: 0
}

body,button,input,select,textarea {
	font: 12px/1.5 Tahoma,Arial,"\5b8b\4f53",sans-serif
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

address,cite,dfn,em,var {
	font-style: normal
}

code,kbd,pre,samp,tt {
	font-family: "Courier New",Courier,monospace
}

small {
	font-size: 12px
}

ul,ol {
	list-style: none
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline;
	color: #ff7300
}

abbr[title],acronym[title] {
	border-bottom: 1px dotted;
	cursor: help
}

q:before,q:after {
	content: ''
}

:focus {
	outline: 0
}

legend {
	color: #000
}

fieldset,img {
	border: 0
}

button,input,select,textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	border: 0;
	height: 1px;
	*color: #fff
}

img {
	-ms-interpolation-mode: bicubic
}

.fd-left {
	float: left
}

.fd-right {
	float: right
}

.fd-clear {
	clear: both
}

.fd-clr {
	zoom: 1
}

.fd-clr:after {
	display: block;
	clear: both;
	height: 0;
	content: "\0020"
}

.fd-hide {
	display: none
}

.fd-show {
	display: block
}

.fd-inline {
	display: inline
}

.fd-lump {
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline
}

.fd-visible {
	visibility: visible
}

.fd-hidden {
	visibility: hidden
}

.fd-locate {
	position: relative
}

.fd-cny {
	font-family: Helvetica,Arial
}

.fd-gray {
	color: #666
}

.fd-bold {
	font-weight: 700
}

.w952 {
	width: 952px;
	margin: 0 auto;
	padding: 0 4px
}

.w968 {
	width: 968px;
	margin: 0 auto
}

.w968 .layout {
	padding-left: 8px
}

#header,#content,#footer,.layout {
	zoom: 1
}

#header:after,#content:after,#footer:after,.layout:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both
}

.grid-fixed {
	margin-right: 0!important
}

.info-layout {
	width: 1190px;
	padding:20px 0px 12px;
	margin: 0 auto;
	zoom: 1
}

.info-layout:after {
	display: block;
	height: 0;
	content: "\0020";
	clear: both
}

.info-layout .grid-fixed {
	margin-right: 0!important
}

.week-hot-sort li i,.week-hot-sort li .tft,.box .titlenews,.pictorial-box .current i,.seeing .titlenews .last,.seeing .detailnews,.seeing .detailnews .point,.seeing .detailnews .tip,.seeing li .i,.bpx,.bpx .titlenews .more,.related-recommend .rr-list li i {
	background: url("http://www.gfie.org/res/images/429376_1921578814.png") no-repeat
}

.info-detail-path i,.info-detail-article .titlenews .print,.info-detail-article .d-footer .print,.info-detail-article .d-footer .comment,.info-detail-ud .up i,.info-detail-ud .down i,.related-recommend .rr-path i {
	background: url("http://www.gfie.org/res/images/462272_77407103.png") no-repeat
}

body {
	color: #333
}

a:link,a:visited {
	color: #333
}

a:hover {
	color: #c00;
	text-decoration: underline
}

.grid-300 {
	float: left;
	display: inline;
	width: 300px;
	margin-right: 10px
}

.grid-420 {
	float: left;
	display: inline;
	width: 420px;
	margin-right: 10px
}

.grid-250 {
	float: left;
	display: inline;
	width: 250px;
	margin-right: 10px
}

.grid-730 {
	float: left;
	display: inline;
	width: 730px;
	margin-right: 10px
}

.grid-990 {
	float: left;
	display: inline;
	width: 990px
}

.grid-680 {
	float: left;
	display: inline;
	width: 840px;
	margin-right: 10px
}

.grid-690 {
	float: left;
	display: inline;
	width: 690px;
}

.box {
	border: solid 1px #d9dfee
}

.box .titlenews {
	height: 32px;
	overflow: hidden;
	background-position: 0 -710px;
	background-repeat: repeat-x
}

.box .titlenews h4,.box .titlenews h2 {
	float: left;
	display: inline;
	margin: 7px 0 7px 10px;
	height: 18px;
	overflow: hidden;
	font-weight: bold
}

.box .titlenews .a:link,.box .titlenews .a:visited {
	float: right;
	display: inline;
	margin: 7px 10px 0 0;
	height: 18px;
	color: #258
}

.box .titlenews .a:hover {
	color: #c00;
	text-decoration: underline
}

.box .detailnews {
	padding: 4px 10px 0 10px
}

.box .img-a {
	float: left;
	display: inline;
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin-right: 8px
}

.box p {
	margin-top: 6px;
	color: #888;
	line-height: 22px
}

.box .llst {
	margin-top: 10px
}

.box .llst li {
	display: block;
	height: 18px;
	overflow: hidden;
	padding: 3px 0;
	vertical-align: middle
}

.box .llst .pit {
	float: left;
	display: inline;
	width: 3px;
	height: 3px;
	overflow: hidden;
	margin: 8px 5px 0 0;
	background-position: -40px 0
}

.box .llst a {
	float: left;
	display: inline
}

.bpx {
	border: solid 1px #e5eaef;
	background-position: 0 -750px;
	background-repeat: repeat-x
}

.bpx .titlenews {
	height: 18px;
	overflow: hidden;
	padding: 7px 10px 16px;
	overflow: hidden
}

.bpx .titlenews h2 {
	float: left;
	display: inline;
	height: 18px;
	overflow: hidden;
	margin-right: 14px;
	font-weight: bold
}

.bpx .titlenews a:link,.bpx .titlenews a:visited {
	float: left;
	display: inline;
	height: 18px;
	overflow: hidden;
	color: #258
}

.bpx .titlenews a:hover {
	color: #c00;
	text-decoration: none
}

.bpx .titlenews .more:link,.bpx .titlenews .more:visited {
	float: right;
	display: inline;
	padding-right: 6px;
	width: 26px;
	overflow: hidden;
	background-position: 28px -104px;
	color: #333
}

.bpx .titlenews .more:hover {
	color: #c00;
	text-decoration: none
}

.info-detail-path {
	padding: 0 0 8px 16px;
	height: 18px;
	overflow: hidden;
	color: #888
}

.info-detail-path a:link,.info-detail-path a:visited {
	float: left;
	display: inline;
	color: #258;
	text-decoration: none
}

.info-detail-path a:hover {
	color: #c00;
	text-decoration: underline
}

.info-detail-path span {
	float: left;
	display: inline
}

.info-detail-path strong {
	font-weight: normal
}

.info-detail-path i {
	float: left;
	display: inline;
	width: 4px;
	height: 8px;
	margin: 6px 10px 0 10px;
	background-position: 0 -80px
}

.info-detail-article {
	overflow: hidden;
	margin-bottom:40px;
	border-bottom: 1px dotted #eaecef;
}

.info-detail-article .titlenews {
position: relative;
    padding: 14px 0 10px;
    overflow: hidden;
    border-bottom: 1px dotted #dfe4e9;
}

.info-detail-article .titlenews h1 {
	display: block;
	overflow: hidden;
	padding-left: 0;
	font-size: 26px;
	font-weight:bold;
}

.info-detail-article .titlenews .h1-t-l {
	text-align: left
}

.info-detail-article .titlenews .other {
	margin-top: 29px;
	height: 18px;
	overflow: hidden
}

.info-detail-article .titlenews a,.info-detail-article .titlenews span {
/*float:left;display:inline;*/
	height: 18px;
	overflow: hidden;
}

.info-detail-article .titlenews span {
	color: #333
}

.info-detail-article .titlenews .mr52 {
	margin-right: 52px
}

.info-detail-article .titlenews .mr28 {
	margin-right: 28px
}

.info-detail-article .titlenews .mr18 {
	margin-right: 18px
}

.info-detail-article .titlenews strong {
	font-weight: normal
}

.info-detail-article .titlenews .shared,.info-detail-article .titlenews .print {
	float: right;
	display: inline
}

.info-detail-article .titlenews .span-space {
	float: right;
	display: inline;
	background-color: #e3e3e3;
	width: 1px;
	height: 12px;
	overflow: hidden;
	margin: 3px 10px 0
}

.info-detail-article .titlenews .print {
	padding-left: 22px;
	background-position: 0 2px
}

.info-detail-article .detailnews {
	position: relative;
	padding:10px 0 0;
	overflow: hidden;
}

.info-detail-article .detailnews .d-content {
	font-size: 14px;
	line-height: 1.8
}

.info-detail-article .detailnews .d-p {
	width: 620px;
	overflow: hidden;
	text-indent: 2em;
	padding: 13px 0
}

.info-detail-article .detailnews .d-content a:link,.info-detail-article .detailnews .d-content a:visited {
	color: #258;
	text-decoration: none
}

.info-detail-article .detailnews .d-content a:hover {
	color: #c00;
	text-decoration: underline
}

.info-detail-article .d-content table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	color: #333
}

.info-detail-article .d-content table th,.info-detail-article .d-content table td {
	border: solid 1px #dbdbdb;
	height: 22px;
	padding: 3px 3px;
	text-align: center;
	vertical-align: middle
}

.info-detail-article .detailnews .editor {
	display: block;
	margin: 8px 0 39px;
	height: 18px;
	overflow: hidden;
	color: #888;
	font-size: 12px;
	line-height: 1.5
}

.info-detail-article .detailnews .paging {
	margin-left: 156px;
	margin-bottom: 52px;
	height: 30px;
	overflow: hidden
}

.info-detail-article .paging .paging-box {
	float: left;
	display: inline;
	height: 28px;
	overflow: hidden;
	border: solid 1px #ccc;
	border-left-width: 0
}

.info-detail-article .paging .paging-box a:link,.info-detail-article .paging .paging-box a:visited {
	float: left;
	display: inline;
	background-color: #fff;
	width: 27px;
	height: 28px;
	overflow: hidden;
	border-left: solid 1px #ccc;
	line-height: 28px;
	text-align: center;
	color: #258;
	text-decoration: none
}

.info-detail-article .paging .paging-box a:hover {
	background-color: #f8f8f8;
	color: #c00;
	text-decoration: none
}

.info-detail-article .paging .paging-box .current:link,.info-detail-article .paging .paging-box .current:visited {
	color: #ff7300;
	background-color: #f8f8f8;
	font-weight: bold
}

.info-detail-article .paging .paging-box .current:hover {
	color: #c00;
	background-color: #f8f8f8;
	text-decoration: none
}

.info-detail-article .paging .next:link,.info-detail-article .paging .next:visited {
	float: left;
	display: inline;
	margin-left: 13px;
	height: 28px;
	width: 55px;
	overflow: hidden;
	border: solid 1px #ccc;
	text-align: center;
	line-height: 28px;
	color: #258;
	text-decoration: none
}

.info-detail-article .paging .next:hover {
	text-decoration: none;
	color: #c00
}

.info-detail-article .paging .all:link,.info-detail-article .paging .all:visited {
	float: left;
	display: inline;
	height: 18px;
	overflow: hidden;
	margin: 6px 10px 0 20px;
	color: #258;
	text-decoration: none
}

.info-detail-article .paging .all:hover {
	color: #c00;
	text-decoration: underline
}

.info-detail-article .paging span {
	float: left;
	display: inline;
	height: 18px;
	overflow: hidden;
	margin: 6px 0 0 0;
	color: #888
}

.info-detail-article .detailnews .d-footer {
	padding: 16px 16px 16px;
	height: 40px;
	overflow: hidden
}

.info-detail-article .d-footer a {
	float: left;
	display: inline;
/*height:18px;*/
	overflow: hidden;
/*margin-top:11px*/
}

.info-detail-article .d-footer .span-space {
	float: left;
	display: inline;
	width: 1px;
	height: 12px;
	overflow: hidden;
	background-color: #dbdbdb;
	margin: 14px 10px 0
}

.info-detail-article .d-footer .print {
	padding-left: 22px;
	background-position: 0 2px;
	margin-top: 4px;
}

.info-detail-article .d-footer .comment {
	padding-left: 22px;
	background-position: 0 -17px;
	margin-left: 16px;
	margin-top: 4px;
}

.info-detail-article .d-footer .comment:hover,.info-detail-article .d-footer .comment:active {
	background-position: 0 -238px;
	color: #c00
}

.info-detail-ud {
	height: 54px;
	overflow: hidden;
	font-size: 14px
}

.info-detail-ud .up {
	float: left;
	display: inline;
	width: 50%;
	height: 54px;
	overflow: hidden;
}

.info-detail-ud .up span {
	float: left;
	display: inline;
	height: 22px;
	overflow: hidden;
	margin-top: 14px;
	color: #888
}

.info-detail-ud a {
	float: left;
	display: inline;
	height: 22px;
	overflow: hidden;
	margin-top: 14px
}

.info-detail-ud h3 {
	float: left;
	display: inline;
	height: 22px;
	font-weight: normal
}

.info-detail-ud .down {
	float: left;
	display: inline;
	width: 50%;
	height: 54px;
	overflow: hidden
}

.info-detail-ud .down span {
	float: left;
	display: inline;
	height: 22px;
	overflow: hidden;
	margin: 14px 0 0 36px;
	color: #888
}

.info-detail-ud .down i {
	float: left;
	display: inline;
	margin: 14px 0 0 18px;
	width: 14px;
	height: 23px;
	overflow: hidden;
	background-position: -20px -40px
}

.related-recommend {
	width: 878px;
	overflow: hidden;
	border: solid 1px #e7e9ee;
	border-width: 0 1px 1px;
	padding: 25px 0 24px
}

.related-recommend .rr {
	padding: 0 0 1px 28px
}

.related-recommend .rr .titlenews {
	float: left;
	display: inline;
	width: 80px;
	overflow: hidden;
	height: 22px;
	line-height: 22px;
	font-weight: bold
}

.related-recommend .rr .rr-path {
	float: left;
	display: inline;
	width: 555px;
	overflow: hidden
}

.related-recommend .rr-path a {
	float: left;
	display: inline;
	height: 22px;
	overflow: hidden;
	line-height: 22px;
	white-space: nowrap
}

.related-recommend .rr-path .mr40 {
	margin-right: 40px
}

.related-recommend .rr-path i {
	float: left;
	display: inline;
	width: 4px;
	height: 8px;
	overflow: hidden;
	margin: 7px 7px 0;
	background-position: 0 -80px
}

.related-recommend .rr-list {
	float: left;
	display: inline;
	overflow: hidden
}

.related-recommend .rr-list ul {
	display: block;
	margin-top: 18px
}

.related-recommend .rr-list li {
	float: left;
	display: inline;
	height: 18px;
	width: 405px;
	overflow: hidden;
	padding: 3px 0 3px 28px;
	vertical-align: middle
}

.related-recommend .rr-list li i {
	float: left;
	display: inline;
	height: 3px;
	width: 3px;
	overflow: hidden;
	margin: 8px 5px 0 0;
	background-position: -40px 0
}

.related-recommend .rr-list a {
	float: left;
	display: inline
}

.related-recommend .rr-list .r-s:link,.related-recommend .rr-list .r-s:visited {
	color: #c00;
	text-decoration: none;
	margin-right: 10px
}

.related-recommend .rr-list .r-s:hover {
	color: #c00;
	text-decoration: underline
}

.the-statement {
	overflow: hidden;
	border-top-width: 0;
	padding: 12px 28px;
}

.the-statement p {
	line-height: 20px;
	width: 612px;
	overflow: hidden;
	color: #888
}

.detail-txt-share {
	float: left;
	display: inline;
	margin-left: 16px
}

.detail-txt-like {
	float: right;
	display: inline
}

.info-detail-article .d-footer .detail-txt-like a {
	margin: 2px
}

.banner-300x240 {
	width: 302px;
	height: 256px;
	overflow: hidden;
}

.bannerl-300x240 {
	width: 300px;
	height: 240px;
	overflow: hidden;
	margin-top: 11px
}

.week-hot-sort {
	border: solid 3px #d84600;
	height: 287px;
	margin-top: 12px
}

.week-hot-sort .titlenews {
	height: 28px;
	padding: 1px 0 4px 10px;
	background-color: #d84600
}

.week-hot-sort .titlenews h2 {
	font-size: 14px;
	line-height: 2;
	color: #fff;
	font-weight: bold
}

.week-hot-sort .detailnews {
	padding: 7px 0 0
}

.week-hot-sort .detailnews li {
	position: relative;
	display: block;
	height: 26px;
	width: 294px;
	overflow: hidden;
	vertical-align: middle
}

.week-hot-sort li a {
	display: block;
	height: 18px;
	overflow: hidden;
	padding: 4px 10px 4px 30px;
	width: 254px
}

.week-hot-sort li a:hover {
	background-color: #f8f8f8
}

.week-hot-sort li i {
	display: block;
	position: absolute;
	top: 0;
	left: 10px;
	width: 14px;
	height: 18px;
	overflow: hidden;
	margin: 4px 0 0;
	background-position: -20px -78px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-style: normal
}

.week-hot-sort li .tft {
	background-position: 0 -78px
}

.week-hot-sort li a span {
	float: right;
	display: block;
	height: 18px;
	overflow: hidden;
	color: #888
}

.week-hot-sort li a:hover span {
	color: #888;
	text-decoration: none
}

.div-info-focus {
	height: 190px;
	margin-top: 12px
}

.div-info-focus ul {
	margin-top: 3px
}

.div-info-focus li {
	display: block;
	height: 24px;
	overflow: hidden;
	vertical-align: middle
}

.div-info-focus li div {
	height: 22px;
	overflow: hidden;
	width:290px;
}

.div-info-focus li a {
	/*float: left;*/
	display: inline;
	height: 18px;
	overflow: hidden;
	margin: 3px 0 3px 10px
}

.div-info-focus .li-odd {
	background-color: #f8f8f8
}

.pictorial-box {
	height: 72px;
	overflow: hidden;
	margin: 2px 0 6px 10px
}

.pictorial-box ul {
	display: block;
	height: 72px
}

.pictorial-box .f-tab-t {
	display: block;
	height: 18px;
	width: 200px;
	padding: 3px 0;
	vertical-align: middle
}

.pictorial-box .f-tab-t i {
	float: left;
	display: inline;
	width: 4px;
	height: 7px;
	background-position: -10px -110px;
	overflow: hidden;
	margin: 6px 4px 0 0
}

.pictorial-box .f-tab-t a {
	float: left;
	display: inline
}

.pictorial-box .current a {
	font-weight: bold
}

.pictorial-box .tab-t-box {
	float: left;
	display: inline;
	height: 72px;
	overflow: hidden;
	margin-left: 8px
}

.pictorial-box .tab-b-box {
	float: left;
	display: inline;
	width: 70px;
	height: 72px;
	overflow: hidden
}

.pictorial-box .f-tab-b {
	height: 70px;
	padding: 1px 0;
	overflow: hidden
}

.pictorial-box .f-tab-b img {
	display: block;
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-width: 0
}

.div-recommend {
	height: 408px;
	margin-top: 12px
}

.div-recommend .detailnews {
	padding: 0 0 0 16px
}

.div-recommend a {
	float: left;
	display: inline;
	width: 130px;
	height: 172px;
	margin: 0 8px 10px 0;
	overflow:hidden;
}

.div-recommend a img {
	display: block;
	border-width: 0;
	width: 130px !important;
	height: 130px;
	overflow: hidden
}

.banner-300x180 {
	height: 180px;
	width: 300px;
	overflow: hidden;
	margin-top: 12px
}

.banner-300x180 img {
	display: block;
	width: 300px;
	height: 180px;
	overflow: hidden;
	border-width: 0
}

.seeing {
	height: 599px;
	margin-top: 12px
}

.seeing .titlenews {
	position: relative;
	height: 36px;
	padding: 0 0 0 10px;
	background-color: #3b6c9c
}

.seeing .titlenews h2 {
	float: left;
	display: inline;
	height: 28px;
	margin-top: 4px;
	overflow: hidden;
	font-size: 14px;
	line-height: 2;
	color: #fff;
	font-weight: bold
}

.seeing .titlenews .last {
	position: absolute;
	left: 300px;
	top: 0;
	float: right;
	display: inline;
	width: 6px;
	height: 36px;
	overflow: hidden;
	background-position: -50px 0
}

.seeing .detailnews {
	height: 561px;
	border: solid 2px #d9dfee;
	border-width: 0 2px 2px 0;
	background-position: 0 -139px
}

.seeing .detailnews .point {
	position: absolute;
	top: 17px;
	left: -3px;
	display: block;
	width: 9px;
	height: 12px;
	overflow: hidden;
	background-position: -30px -20px
}

.seeing .detailnews .tip {
	display: block;
	height: 18px;
	width: 49px;
	padding-left: 10px;
	overflow: hidden;
	margin-left: 17px;
	background-position: 0 -40px;
	color: #fff
}

.seeing .detailnews .part-m-1 {
	position: relative;
	height: 150px;
	padding: 13px 0 0 2px
}

.seeing .detailnews .part-m-2 {
	position: relative;
	height: 150px;
	padding: 0 0 0 2px
}

.seeing .detailnews .part-m-3 {
	position: relative;
	height: 248px;
	padding: 0 0 0 2px
}

.seeing .part-m-2 .point,.seeing .part-m-3 .point {
	top: 4px;
	background-position: -40px -20px
}

.seeing .part-m-3 .point {
	top: 3px
}

.seeing .part-m-2 .tip,.seeing .part-m-3 .tip {
	background-position: 0 -60px
}

.seeing .part-m-3 ul {
	padding-bottom: 4px
}

.seeing ul {
	display: block;
	margin-top: 10px;
	padding-bottom: 3px
}

.seeing li {
	display: block;
	height: 18px;
	padding: 1px 0 1px 20px;
	overflow: hidden;
	vertical-align: middle
}


.seeing li .i {
	float: left;
	display: inline;
	width: 3px;
	height: 3px;
	overflow: hidden;
	margin: 8px 6px 0 0;
	background-position: -40px 0
}

.seeing li a {
	float: left;
	display: inline
}

.seeing .img-hd {
	display: block;
	padding: 6px 0 0 18px;
	width: 278px;
	height: 81px;
	overflow: hidden;
	margin-top: 1px;
	background-color: #f8f8f8
}

.seeing .img-hd a img {
	float: left;
	display: inline;
	width: 70px;
	height: 70px;
	margin: 3px 5px 0 0
}

.seeing .img-hd p {
	color: #888
}

.seeing .img-hd .img-hd-action {
	height: 18px;
	margin-top: 2px;
	overflow: hidden
}

.seeing .img-hd-action a:link,.seeing .img-hd-action a:visited {
	float: left;
	display: inline;
	color: #258
}

.seeing .img-hd-action a:hover {
	color: #c00;
	text-decoration: underline
}

.seeing .img-hd-action .span-space {
	float: left;
	display: inline;
	width: 1px;
	height: 12px;
	overflow: hidden;
	margin: 3px 8px 0
}

.the-products {
	margin-top: 12px;
	width: 300px;
	overflow: hidden
}

.the-products .p4p_box_v_b {
	width: 298px;
	overflow: hidden
}

.comment-area {
	margin-top: 12px;
	width: 820px
}

#tanx img {
	margin-top: 12px;
}

.bread {
	height: 28px;
	line-height: 28px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.f14 {
	font-size: 14px;
	font-weight: bold;
}

.gray {
	color: #606060;
}

.gray a:link {
	color: #606060;
	text-decoration: none;
}

.gray a:visited {
	color: #606060;
	text-decoration: none;
}

.gray a:hover {
	color: #ff6600;
	text-decoration: none;
}

.orange {
	color: #ff5a00;
}

.orange a:link {
	color: #ff5a00;
	text-decoration: none;
}

.orange a:visited {
	color: #ff5a00;
	text-decoration: none;
}

.orange a:hover {
	color: #ff6600;
	text-decoration: underline;
}

.blue {
	color: #336699;
}

.blue a:link {
	color: #336699;
	text-decoration: none;
}

.blue a:visited {
	color: #336699;
	text-decoration: none;
}

.blue a:hover {
	color: #ff6600;
	text-decoration: underline;
}

.f14 {
	font-size: 14px;
	font-weight: bold;
}

.mt10 {
	margin-top: 10px;
}

.leftbar {
	width: 678px;
	float: left;
	overflow: hidden;
}

.leftlist {
	width: 676px;
	border: 1px solid #e1e1e1;
	float: left;
}

.leftlist .gray {
	color: #adadad;
}

.tit {
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #e1e1e1;
	background-color: #f5f5f5;
	padding: 0 10px;
}

.leftshow {
	padding: 5px 15px;
	width: 646px;
}

.leftshow dl {
	border-bottom: 1px dotted #d7d7d7;
	padding: 15px 5px 5px 5px;
}

.leftshow dt {
	padding-bottom: 5px;
}

.leftshow dd {
	line-height: 24px;
}

.pagetab {
	margin: 15px 0;
}

.unv-list li i {
	background: url("http://www.gfie.org/res/images/429376_1921578814.png") no-repeat
}

.unv-list a:link,.unv-list a:visited {
	color: #258
}

.unv-list a:hover {
	color: #c00
}

.unv-list li {
	height: 149px;
	padding-right: 0px;
	background-position: 0 38px;
	background-repeat: repeat-x;
	vertical-align: middle
}

.unv-list div {
	height: 148px;
	overflow: hidden;
	background-color: #fff;
	padding: 0 16px
}

.unv-list div:hover {
	background-color: #f8f8f8
}

.unv-list li i {
	display: block;
	height: 1px;
	overflow: hidden;
	background-position: 0 -130px;
	background-repeat: repeat-x
}

.unv-list strong {
	height: 28px;
	overflow: hidden;
	font: normal 18px/42px "\5fae\8f6f\96c5\9ed1","\534e\6587\7ec6\9ed1","\9ed1\4f53"
}

.unv-list img {
	float: left;
	display: inline;
	width: 160px;
	height: 110px;
	overflow: hidden;
	margin-right: 16px;
	border: solid 1px #ececec
}

.unv-list p {
	padding: 4px 0 0;
	height: 64px;
	font-size: 14px;
	line-height: 22px
}

.unv-list span {
	display: block;
	height: 18px;
	overflow: hidden;
	color: #888
}

.unv-list span span {
	float: left;
	display: inline;
	height: 18px;
	overflow: hidden;
	margin-right: 16px
}

.unv-list span label {

	float: left;
	display: inline;
	height: 18px;
	overflow: hidden
}

.unv-list span em {
	float: left;
	display: inline;
	height: 18px;
	overflow: hidden;
	margin-right: 8px
}

.newkeytags {
	font-size: 14px;
	padding: 20px 0 0 0px;
}

.d-content p {
	padding-bottom: 15px;
	font-size: 16px;
	line-height:36px;
}

.d-content b {
	padding-bottom: 15px;
	font-size: 16px;
	line-height:36px;
}

.d-content span {
	padding-bottom: 15px;
	font-size: 16px;
	line-height:36px;
}

.d-content strong {
	padding-bottom: 15px;
	font-size: 16px;
	line-height:36px;
}

.d-content center {
	padding-bottom: 15px;
	font-size: 16px;
	line-height:36px;
}