.wecode {
  position: fixed;
  right: 3%;
  bottom: 5%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  line-height: 1;
  border-radius: 6px;
  background-color: #ec3323;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.49), inset -2.828px 2.828px 0px 0px rgba(174, 21, 8, 0.38);
}
.wecode .wecodetitle {
  font-size: 18px;
  color: #fff;
}
.wecode .colsebtn {
  position: absolute;
  right: -20px;
  top: -25px;
  text-align: right;
}
.wecode .colsebtn img {
  width: 20px;
  height: 20px;
}
.wecode .wechatimg {
  margin: 15px 0 20px 0;
}
.wecode .ihmxcx {
  width: 125px;
  height: 125px;
  border-radius: 5px;
}
.wecode .wechattext {
  font-size: 14px;
  color: #fff;
}
.mainright {
  width: 28%;
  float: right;
  margin-left: 2%;
  padding-left: 0px;
}
.mainright .block {
  background: #fff;
  margin-bottom: 30px;
  padding: 20px;
}
.mainright .block:last-child {
  margin-bottom: 0;
}
.mainright .block-title {
  font-size: 18px;
  color: #212121;
  border-left: solid 3px #fc4d3c;
  padding-left: 5px;
  margin-bottom: 20px;
}
.mainright .classbg {
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: block;
}
.mainright .classbg:last-child {
  margin-bottom: 0;
}
.mainright .czy {
  background: url(http://www.gsdh.com.cn/res/images/czy.jpg) no-repeat;
  background-size: cover;
  width: 300px;
  height: 165px;
}
.mainright .ggy {
  background: url(http://www.gsdh.com.cn/res/images/ggy.jpg) no-repeat;
  background-size: cover;
  width: 300px;
  height: 165px;
}
.mainright .sys {
  background: url(http://www.gsdh.com.cn/res/images/sys.jpg) no-repeat;
  background-size: cover;
  width: 300px;
  height: 165px;
}
.mainright .gjyx {
  background: url(http://www.gsdh.com.cn/res/images/gjyx.jpg) no-repeat;
  background-size: cover;
  width: 300px;
  height: 165px;
}
.mainright .text {
  position: absolute;
  bottom: 0;
  height: 26px;
  line-height: 26px;
  color: #fff;
  padding-left: 15px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  font-weight: bold;
}
.mainright .description {
  display: block;
  margin-bottom: 20px;
}
.mainright .description:last-child {
  margin-bottom: 0;
}
.mainright .imgwarp img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}
.mainright .title {
  font-size: 16px;
  color: #212121;
  line-height: 25px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.mainright .content {
  font-size: 14px;
  color: #313131;
  line-height: 20px;
}
.mainleft {
  float: left;
  width: 66%;
  background: #fff;
  padding: 20px;
  margin-right: 4%;
}
.icon {
  color: #b8b8b8;
  margin-right: 5px;
}
.mg-r20 {
  margin-right: 20px;
}
.fixed {
  position: fixed;
  bottom: 0;
  width: 769px;
  z-index: 10;
  border-top: solid 1px #d8d8d8;
  background-color: rgba(255, 255, 255, 0.92);
  margin-left: -20px;
}
.main-content .mesinfo {
  height: 50px;
  margin: 20px 0;
  background: #fff;
}
.main-content .mesinfo .ad {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  width: 30%;
}
.main-content .mesinfo .ad .advator {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}
.main-content .mesinfo .rightinfo {
  width: 70%;
  color: #727272;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-content .mesinfo .rightinfo .suppose {
  width: 65%;
  text-align: right;
  padding-right: 40px;
}
.main-content .mesinfo .rightinfo .share {
  position: relative;
  width: 35%;
}
.main-content .mesinfo .rightinfo .share .changeshare {
  position: absolute;
  z-index: 1;
  width: 90px;
  left: 50px;
  top: 15px;
}
.main-content .mesinfo .rightinfo .share .changeshare dd {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
  float: left;
  background: url(http://www.gsdh.com.cn/res/images/sharebg.png) no-repeat;
  background-size: 79px;
}
.main-content .mesinfo .rightinfo .share .changeshare .sina {
  background-position: -6px -25px;
}
.main-content .mesinfo .rightinfo .share .changeshare .sina:hover {
  background-position: -6px -3px;
}
.main-content .mesinfo .rightinfo .share .changeshare .qzone {
  background-position: -31px -25px;
}
.main-content .mesinfo .rightinfo .share .changeshare .qzone:hover {
  background-position: -31px -3px;
}
.main-content .mesinfo .rightinfo .share .changeshare .wechat {
  background-position: -55px -25px;
}
.main-content .mesinfo .rightinfo .share .changeshare .wechat:hover {
  background-position: -55px -3px;
}
.main-content .title {
  font-size: 28px;
  color: #212121;
  font-weight: bold;
}
.main-content .author {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #545454;
  position: relative;
  height: 36px;
  line-height: 36px;
}
.main-content .img-content {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.main-content .img-content img {
  max-width: 100%;
  width:100%;
  height: auto;
}
.main-content .outline {
  font-size: 18px;
  color: #313131;
  box-shadow: inset 5px 0 0 #fd4e3d;
  margin-bottom: 40px;
}
.main-content .outline p {
  padding: 0;
  padding-left: 15px;
  text-indent: 0;
  line-height: 30px;
  color: #313131;
  font-weight: bold;
}
.main-content p {
  font-size: 16px;
  color: #313131;
  line-height: 30px;
  margin-bottom: 40px;
  text-align: justify;
}
.main-content p img {
  max-width: 100%;
  height: auto;
}
.main-content .common-title {
  font-size: 18px;
  color: #313131;
  line-height: 1;
  border-left: solid 3px #fd4e3d;
  padding-left: 10px;
  margin-bottom: 40px;
  font-weight: bold;
}
.main-content .copyright {
  color: #545454;
  font-size: 14px;
}
.more {
  font-size: 18px;
  color: #545454;
  display: block;
  width: 100%;
  text-align: center;
  border: solid 1px #d8d8d8;
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mobile-common {
  background: #fff;
  padding: 20px;
}
.user_titles {
  font-size: 18px;
  color: #5c5d5d;
  height: 60px;
  line-height: 60px;
  padding-left: 27px;
}
.comment-wrap {
  color: #474747;
  font-size: 14px;
}
.comment-wrap .comment-content {
  width: 100%;
}
.comment-wrap .user-comment-title {
  font-size: 18px;
  line-height: 1;
  padding: 15px 0 20px 0;
}
.comment-wrap .comment-frame .user-portrait {
  width: 9%;
}
.comment-wrap .comment-frame .user-portrait span {
  display: inline-block;
  width: 52px;
  font-size: 14px;
  color: #474747;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.comment-wrap .comment-frame .user-portrait img {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  margin-bottom: 2px;
}
/*.user-portrait{
    width: 10%;
}*/
.comment-wrap .comment {
  width: 91%;
}
.other-title-content .comment,
.self-comment .comment {
  width: 100%;
}
.comment-wrap .comment textarea,
.other-title-content .comment textarea,
.self-comment .comment textarea {
  width: 100%;
  height: 68px;
  line-height: 20px;
  resize: none;
  padding: 10px;
  border: 1px solid #f6f6f6;
  font-size: 14px;
}
.comment-wrap .comment textarea:focus,
.other-title-content .comment textarea:focus,
.self-comment .comment textarea:focus {
  outline: 0;
}
.comment-wrap .comment .btn-wrap,
.other-title-content .comment .btn-wrap,
.self-comment .comment .btn-wrap {
  margin-top: 20px;
}
.comment-wrap .comment .btn-wrap input,
.other-title-content .comment .btn-wrap input,
.self-comment .comment .btn-wrap input {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #f6f6f6;
  padding-left: 10px;
}
.comment-wrap .comment .btn-wrap input:focus,
.other-title-content .comment .btn-wrap input:focus,
.self-comment .comment .btn-wrap input:focus {
  outline: 0;
}
.comment-wrap .comment .btn-wrap .valid-img,
.other-title-content .comment .btn-wrap .valid-img,
.self-comment .comment .btn-wrap .valid-img {
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: 15px;
  border: 1px solid #f6f6f6;
}
.comment-wrap .comment .btn-wrap .publish,
.other-title-content .comment .btn-wrap .publish,
.self-comment .comment .btn-wrap .publish {
  width: 75px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  background: #f13b29;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.comment-wrap .comment .btn-wrap .publish:focus,
.other-title-content .comment .btn-wrap .publish:focus,
.self-comment .comment .btn-wrap .publish:focus {
  background: #9e805f;
}
.hide-comment {
  display: none;
  margin-top: 10px;
  width: 100%;
}
.comment-item-wrap {
  font-size: 14px;
}
.comment-item-wrap .comment-item .title {
  height: 50px;
  line-height: 50px;
  color: #5c5d5d;
  font-size: 14px;
}
.comment-item-wrap .comment-item .look-more {
  width: 100%;
  height: 40px;
  color: #919191;
  cursor: pointer;
  line-height: 38px;
  margin-top: 15px;
  border: 1px solid #f6f6f6;
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  text-align: center;
}
.comment-item-wrap .comment-item .look-more:hover {
  background: #fff;
}
.comment-item-wrap .comment-item li {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #f6f6f6;
}
.comment-item-wrap .comment-item li .user-portrait {
  font-size: 0;
  width: 9%;
}
.comment-item-wrap .comment-item li .user-portrait img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #f6f6f6;
}
.comment-item-wrap .comment-item li .main-comment {
  width: 91%;
}
.comment-item-wrap .comment-item li .main-comment .more-reply {
  text-align: right;
}
.comment-item-wrap .comment-item li .main-comment .date {
  color: #909090;
  font-size: 12px;
  margin-left: 10px;
}
.comment-item-wrap .comment-item li .main-comment .content {
  padding-top: 15px;
  font-size: 14px;
  color: #474747;
  line-height: 20px;
}
.comment-item-wrap .comment-item li .main-comment .num-wrap {
  padding-top: 15px;
}
.comment-item-wrap .comment-item li .main-comment .self-comment {
  margin-top: -5px;
  font-size: 12px;
  padding-top: 5px;
}
.comment-item-wrap .comment-item li .main-comment .self-comment .user-info a {
  font-size: 14px;
  color: #61b4ff;
}
.comment-item-wrap .comment-item li .main-comment .self-comment .support-num {
  color: #798590;
  display: inline-block;
  padding-left: 22px;
  padding-right: 2px;
  margin-right: 10px;
  line-height: 20px;
  cursor: pointer;
  height: 20px;
  background: url(http://www.gsdh.com.cn/res/images/up.png) no-repeat 0 -119px;
}
.comment-item-wrap .comment-item li .main-comment .self-comment .support-num:hover,
.comment-item-wrap .comment-item li .main-comment .self-comment .support-num.active {
  background-position: 0 0;
}
.comment-item-wrap .comment-item li .main-comment .self-comment .talk-num {
  color: #798590;
  line-height: 20px;
  display: inline-block;
  padding-left: 24px;
  height: 20px;
  cursor: pointer;
  background: url(http://www.gsdh.com.cn/res/images/up.png) no-repeat 0 -178px;
}
.comment-item-wrap .comment-item li .main-comment .self-comment .talk-num:hover,
.comment-item-wrap .comment-item li .main-comment .self-comment .talk-num.active {
  background-position: 0 -59px;
}
.comment-item-wrap .comment-item li .main-comment .other-comment-wrap {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #f6f6f6;
}
.comment-item-wrap .comment-item li .main-comment .other-comment-wrap:hover .reply {
  display: block;
}
.comment-item-wrap .comment-item li .main-comment .other-comment-wrap .other-user-portrait {
  font-size: 0;
}
.comment-item-wrap .comment-item li .main-comment .other-comment-wrap .other-user-portrait img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border: 1px solid #f6f6f6;
  border-radius: 50%;
}
.comment-item-wrap .comment-item li .main-comment .other-comment-wrap .other-comment .user-info a {
  display: inline-block;
  color: #61b4ff;
  font-size: 14px;
}
.comment-item-wrap .comment-item li .main-comment .other-comment-wrap .date-wrap {
  margin-top: 33px;
  text-align: right;
}
.comment-item-wrap .comment-item li .main-comment .other-comment-wrap .date-wrap .reply {
  color: #f13b29;
  display: none;
  cursor: pointer;
  margin-right: 5px;
}
.comment-item-wrap .comment-item li .main-comment .other-comment-wrap .more-reply {
  margin-top: 5px;
  text-align: right;
  font-size: 12px;
}
.comment-item-wrap .comment-item li .main-comment .other-comment-wrap a {
  color: #61b4ff;
}
.comment-item-wrap .comment-item li .main-comment .self-comment .num:hover,
.comment-item-wrap .comment-item li .main-comment .self-comment .num.active {
  color: #e82354;
}
.userinfo {
  width: 100%;
  display: table;
  position: relative;
}
.userinfo .advator {
  width: 60px;
  height: 60px;
  padding-right: 20px;
}
.userinfo .advator img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.userinfo .username .name {
  font-size: 24px;
  color: #242424;
  margin-bottom: 10px;
  position: relative;
}
.userinfo .username .name .subtitle {
  position: absolute;
  margin-left: 10px;
  font-size: 14px;
  color: #727272;
  bottom: 0;
}
.userinfo .username .mes {
  color: #727272;
  font-size: 12px;
}
.userinfo .username .text-content {
  line-height: 20px;
  font-size: 14px;
  color: #bbb;
}
.vertical-top {
  vertical-align: top;
}
.mgnone {
  margin: 0!important;
}
.project {
  margin-top: 40px;
}
.project .futitle {
  font-size: 18px;
  color: #3c3c3c;
  margin-bottom: 40px;
}
.foundermsg .userinfo {
  margin-bottom: 40px;
}
.ullist {
  font-size: 14px;
  color: #727272;
}
.ullist li {
  margin-bottom: 20px;
}
.ullist li .time {
  margin-right: 30px;
}
.top-banner {
  background: #fff;
  padding-bottom: 25px;
}
.top-banner .bannerimg {
  width: 500px;
  height: 312px;
}
.top-banner .bannerimg img {
  width: 500px;
  height: 312px;
}
.top-banner .info {
  width: 300px;
  padding-left: 35px;
}
.top-banner .info .title {
  font-size: 22px;
  color: #242424;
  margin-bottom: 16px;
  margin-top: 12px;
}
.top-banner .info .text {
  font-size: 16px;
  color: #727272;
  line-height: 26px;
  margin-bottom: 50px;
  overflow: hidden;
}
.top-banner .info .bottom {
  color: #bbb;
  font-size: 14px;
}
.top-banner .info .bottom .suppose {
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 24px;
  height: 24px;
}
.top-banner .info .bottom .tag {
  display: inline-block;
  background: #f0e7de;
  border-radius: 3px;
  color: #675037;
  font-size: 12px;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  margin-right: 8px;
  margin-bottom: 5px;
}
.top-banner .info .bottom .adress {
  height: 18px;
  line-height: 18px;
}
.top-banner .info .bottom .adressicon {
  background: url(http://www.gsdh.com.cn/res/images/detail.png) no-repeat 0 -46px;
  width: 22px;
  height: 18px;
  float: left;
}
.top-banner .info .bottom .adress-icon {
  background: url(http://www.gsdh.com.cn/res/images/detail.png) no-repeat 0 -44px;
  width: 22px;
  height: 24px;
  float: left;
}
.top-banner .info .bottom .tagicon {
  background: url(http://www.gsdh.com.cn/res/images/detail.png) no-repeat 0 -89px;
  width: 22px;
  height: 24px;
  float: left;
}
.top-banner .info .bottom .time {
  background: url(http://www.gsdh.com.cn/res/images/detail.png) no-repeat 0 3px;
  width: 22px;
  height: 24px;
  float: left;
}
.top-banner .info .bottom .approve {
  background: url(http://www.gsdh.com.cn/res/images/supp.png) no-repeat 0 2px;
  width: 22px;
  height: 24px;
  float: left;
  cursor: pointer;
}
.top-banner .info .bottom .approve:hover {
  background-position: 0 -58px;
}
.top-banner .info .bottom .approve:active,
.top-banner .info .bottom .approve.active {
  background-position: 0 -118px;
}
.top-banner .info .bottom .like {
  background: url(http://www.gsdh.com.cn/res/images/supp.png) no-repeat 0 -178px;
  width: 25px;
  height: 24px;
  float: left;
  cursor: pointer;
}
.top-banner .info .bottom .like:hover {
  background-position: 0 -238px;
}
.top-banner .info .bottom .like:active,
.top-banner .info .bottom .like.active {
  background-position: 0 -298px;
}
.top-banner .info .bottom .first {
  margin-top: 20px;
  margin-bottom: 20px;
}
.top-banner .info .bottom .nums {
  margin-bottom: 18px;
  font-size: 14px;
  color: #727272;
}
.top-banner .info .bottom .nums .redtext {
  font-size: 34px;
  color: #b53c3c;
  font-weight: bold;
}
.top-banner .info .bottom .nums .personnum {
  font-size: 24px;
  color: #b53c3c;
  font-weight: bold;
}
.top-banner .info .bottom .adresswrap {
  margin-top: 15px;
  margin-bottom: 20px;
}
.top-banner .info .bottom .register {
  height: 40px;
  line-height: 40px;
  width: 120px;
  margin-top: 20px;
}
.mg-tnone {
  margin-top: 0!important;
}
.fengeline {
  width: 100%;
  height: 5px;
  background: #f13b29;
  margin: 40px 0;
}
.img-o {
  margin-bottom: 30px;
}
.img-o img {
  width: 100%;
}
.casedep {
  padding: 30px 20px;
  background-color: #fff;
}
.casedep .item1 {
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 30px;
  color: #313131;
  text-align: justify;
}
.casedep .item1:before {
  position: absolute;
  top: 5px;
  left: 0;
  content: " ";
  width: 3px;
  height: 18px;
  background-color: #fd4e3e;
}
.casedep .casecontent p {
  margin-bottom: 15px;
  text-align: justify;
  line-height: 30px;
  font-size: 16px;
}
.casedep .casecontent p span {
  font-size: 16px!important;
}
.casedep .casecontent img {
  max-width: 100%;
}
.casedep .no-all {
  color: #84cbdd;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
.casedep .item2 {
  margin-bottom: 20px;
  padding: 20px 0 0;
  border: 1px solid #d0d0d0;
}
.casedep .item2 p {
  text-align: justify;
  text-indent: 2em;
  margin-bottom: 90px;
  font-size: 16px;
  line-height: 28px;
  color: #313131;
  padding: 0 30px;
}
.casedep .item2 .line1 {
  text-align: center;
  color: #545454;
  font-size: 16px;
}
.casedep .item2 .line1 .item {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
}
.casedep .item2 .line1 .item:first-child {
  margin-left: 0;
}
.casedep .item2 .line1 .item .biggertext {
  color: #fd4e3e;
  font-size: 32px;
  font-weight: bold;
}
.casedep .item2 .cd-btn {
  width: 195px;
  height: 40px;
  background-color: #fa4a39;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin: 33px auto 0;
  border-radius: 4px;
  font-weight: bold;
}
.casedep .item2 .line2 {
  text-align: center;
  font-size: 16px;
  padding-top: 14px;
  color: #545454;
}
.casedep .item3 {
  padding: 20px 25px;
  background-color: #fffee8;
  color: #545454;
  font-size: 16px;
  line-height: 30px;
  margin-top: 120px;
}
.casedep .item3 .cdi-t {
  font-weight: 600;
}
.casedep .font-bold {
  font-weight: bold;
}
.casedep .line-through {
  text-decoration: line-through;
}
@media (max-width: 768px) {
  .wecode {
    display: none;
  }
  .mainleft {
    width: 100%;
    padding: 10px;
  }
  .mobile-common {
    padding: 10px;
  }
  .main-content .title {
    font-size: 18px;
  }
  .main-content .mesinfo .ad {
    width: 33%;
    padding-left: 10px;
  }
  .main-content .mesinfo .rightinfo {
    width: 67%;
  }
  .main-content .mesinfo .rightinfo .suppose {
    padding-right: 0;
    width: 47%;
  }
  .main-content .mesinfo .rightinfo .share {
    width: 52%;
  }
  .comment-item-wrap .comment-item li .user-portrait {
    width: 14%;
  }
  .comment-item-wrap .comment-item li .main-comment {
    width: 86%;
  }
  .mainright {
    width: 100%;
  }
  .fixed {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .casedep .item2 .line1 .item {
    margin-bottom: 10px;
  }
  .comment-wrap .comment-frame .user-portrait {
    width: 18%;
  }
  .comment-wrap .comment {
    width: 82%;
  }
}

.mainleft .main-content {
  overflow: hidden;
}
.mainleft .main-content img {
  max-width: 100%;
}