#con{ width:980px; margin:0 auto;}  
#con .ccwCopyR{width:100%; text-align:center; height:50px; line-height:25px;font-size:14px; margin-top:5px; COLOR: #1F356F;}
#con .ccwCopyRL{width:100%;text-align:center; height:40px; border-bottom:1px solid #cccccc; line-height:40px; font-size:14px;}
a.botnav:link{COLOR: #1F356F; TEXT-DECORATION: none; font-size:14px}
a.botnav:visited{COLOR: #1F356F; TEXT-DECORATION: none; font-size:14px}
a.botnav:hover{COLOR: #1F356F;	TEXT-DECORATION: underline; font-size:14px}