/**************
*  2018-06-27  *
*              *
***************/

body{
    font-family: "Microsoft YaHei","微软雅黑", Arial, Helvetica, sans-serif;
}
.ad{
    width: 100%;
}
.ad img{
    width: 100%
}
.mt20{
    margin-top: 20px!important;
}
.mt30{
    margin-top: 30px!important;
}
/*头部*/
.header{
    width: 100%;
    /*height: 130px;*/
    border-bottom: 1px solid #E1E1E1;
}
.header .head{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}
/*logo*/
.header .head .logo{
    /* width: 300px; */
    height: 31px;
    float: left;
    padding-left: 5px;
}
.header .head .logo img{
    padding-top: 28px;
    float: left;
}
.header .adBox{
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 10px;
}
.header .head .logo span{
    padding: 0 5px;
    height: 27px;
    display: inline-block;
    float: left;
    line-height: 27px;
    font-size: 18px;
    color:#fff;
    background-color: #A61111;
    text-align: center;
    margin-top: 32px;
    margin-left: 10px;
}
.header .navBox{
    border-bottom: 1px solid #E1E1E1;
    background-color: #F8F8F8;
}
.header  ul.nav{
    width: 1200px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    
}
.header  ul.nav li{
    padding: 0 12px;
    text-align: center;
    font-size: 16px;
    float: left;
}
.header  ul.nav li.first{
    padding-left: 0;
}
.header  ul.nav li.last{
    padding-right: 0;
}
.header  ul.nav li a{
    color:#333;
    font-size: 16px;
}
.header .head .r_box{
    width: 315px;
    height: 24px;
    border:1px solid #B2B2B2;
    float: right;
    margin-top: 36px;
    margin-right: 77px;
}
.header .head .r_box input{
    width: 258px;
    height: 24px;
    float: left;
    padding-left: 15px;
    border:none;
    outline:none;
    font-size: 12px;
    color:#ccc;
}
.header .head .r_box .searchBtn{
    width: 37px;
    height: 100%;
    float: right;
    background:url(../image/searchBtn.jpg);
    cursor: pointer;
}

.content{
    margin: 0 auto;
    overflow: hidden;
}
.NoSidebar{
    width: 1000px;
}
.Sidebar{
    width: 1200px;
}
.content .topBox{
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 10px;
}
.content .topBox h1{
    font-size: 35px;
    color:#333;
    /*height: 40px;*/
    line-height: 40px;
    margin-top: 30px;
}
.Sidebar .topBox h1{
    font-size: 28px;
}

.Sidebar .topBox h1.subtitle{
    font-size: 18px;
    color: #555;
    margin-top: 5px;
    font-weight: normal;
}
.content .topBox .timeBox{
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-top: 40px;
}

.Sidebar .topBox .timeBox{
    margin-top: 12px;
    padding-bottom: 18px;
}
.content .topBox .timeBox span{
    font-size: 14px;
    color:#999;
    height: 100%;
    line-height: 20px;
    padding-right: 13px;
}
.Sidebar .leftCon{
    width: 860px;
    float: left;
}
.content .con{
    width: 100%;
    padding-top: 15px;
}
.content .con p{
    font-size: 18px;
    line-height: 34px;
    color: #555;
    word-wrap: break-word;
    text-align: justify;
    padding: 7px 0; 
}
.content .con .responsible_editor{
    float: right;
    color:#666;
    font-size: 16px;
    clear: both;
}
.content .con p.videoBox{
    width: 100%;
    height: 560px;
}
.content .con p img{
    display: block;
    margin:0 auto;
    margin-top: 34px;
    max-width: 100%;
    /*width: 600px!important;;*/
}
.content .con p span.title{
    font-size: 16px;
    line-height: 35px;
    color:#333;
    display: block;
    text-align: center;
    height: 27px;
    line-height: 20px;
    margin-top: 10px;
}
.content .con .evmTg{
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top:20px;
}
.content .con .evmTg img{

}
/*右侧侧栏*/
.Sidebar  .rightSidebar{
    width: 300px;
    float: right;
}
/*右侧全球直播*/
.Sidebar  .rightSidebar .box{
    width: 300px;
    height: 580px;
    overflow: hidden;
}
.Sidebar  .rightSidebar .GlobalLive_img{
    width: 100%;
    padding: 30px 0;
}
.GlobalLive{
    width: 275px;
    padding-left: 10px;
    margin-left: 10px;
    /*overflow: auto;*/

}
.Sidebar  .rightSidebar .btn_more{
    width: 80%;
    height: 40px;
    cursor: pointer;
    line-height: 50px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
}
.Sidebar  .rightSidebar .btn_more:hover{
    color:#a61111;
}
.GlobalLive:after {
   content:""; 
   display: block; 
   clear:both; 
}
.GlobalLive .item{
    width: 275px;
    /*margin-top: 10px;*/
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed #999;
}
.GlobalLive li.none{
    display:none
}
.GlobalLive .item .msg_dot{
    width: 9px;
    height: 9px;
    position: absolute;
    top:20px;
    left: -15px;
}
.GlobalLive .item .animate_dot{
    width: 30px;
    height: 30px;
    background: url(../image/icon.png) no-repeat -50px -320px;
    position: absolute;
    left: -26px;
    top: 9px;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
    
}

.GlobalLive .item:hover .animate_dot{
    -webkit-animation: myfirst .3s;
    -moz-animation: myfirst .3s;
    -ms-animation: myfirst .3s;
    -o-animation: myfirst .3s;
    animation: myfirst .3s;
}
@keyframes myfirst{
    0%   {
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -ms-transform: scale(0.25);
        transform: scale(0.25);
        -webkit-transform: scale(0.25);
    }
    20%   {
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -ms-transform: scale(0.2);
        transform: scale(0.2);
        -webkit-transform: scale(0.2);
    }
    40%   {
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -ms-transform: scale(0.4);
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
    }
    60%   {
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -ms-transform: scale(0.6);
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
    }
    80%   {
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
   
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

 
@-webkit-keyframes myfirst /* Safari 与 Chrome */{
    0%   {
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: scale(1);
    }
  
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
.GlobalLive .item .msg_time{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding-left: 5px;
    margin: 5px 0 4px;
    position: relative;
    font: italic 14px/30px 'Arial';
    color: #404040;
}
.GlobalLive .item:hover .msg_time{
    background-color: #a61111;
    color: #fff;
}
.GlobalLive .item .msg_time .tagbtn{
    width: 50px;
    height: 30px;
    display: inline-block;
    float: right;
    background-color: #ccc
}
.GlobalLive .item .msg_text{
    margin-bottom: 20px;
    font: normal 12px/20px 'SimSun';
    transition: all 1s;
    -webkit-transition: all 1s; 
    color:#666;
}
.GlobalLive .item .line_clamp{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 60px;
    overflow: hidden;
    color:#888;
}
.GlobalLive{
    border-left: 1px solid #c0c7ca;
}
.GlobalLive .item{
}
.GlobalLive .item .msg_dot{
    background: url(../image/icon.png) no-repeat -50px -300px;
}
.GlobalLive .item:hover .msg_dot{
    background-position: -50px -310px; 
}
/*右侧全球直播 end*/
/*阅读排行*/
.Sidebar .rightSidebar .readingRankings{
    width: 100%;

}
.Sidebar .rightSidebar .readingRankings h2{
    width: 100%;
    height: 26px;
    line-height: 22px;
    font-size: 18px;
}
.Sidebar .rightSidebar .readingRankings h2 a{
    color: #A61111;
}
.Sidebar .rightSidebar .readingRankings ul.lists{
    width: 100%;
}
.Sidebar .rightSidebar .readingRankings ul.lists li{
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
    overflow: hidden;
}
.Sidebar .rightSidebar .readingRankings ul.lists li span{
    float: left;
    width: 20px;
    color:#999999;
    font-weight: bold;
    font-size: 16px;
    height: 18px;
    line-height: 20px;
    /*background: url(../image/zhw_tb_num.png) 2px -67px no-repeat;;*/

}
.Sidebar .rightSidebar .readingRankings ul.lists li:nth-child(1) span{
    background: url(../image/zhw_tb_num.png) 2px -70px no-repeat;;
    color:#FF0000;
}
.Sidebar .rightSidebar .readingRankings ul.lists li:first-child span{
    background: url(../image/zhw_tb_num.png) 2px -70px no-repeat;;
    color:#FF0000;
}
.Sidebar .rightSidebar .readingRankings ul.lists li:nth-child(2) span{
    background: url(../image/zhw_tb_num.png) 2px -85px no-repeat;;
    color:#EE3030;
}
.Sidebar .rightSidebar .readingRankings ul.lists li+li span{
    background: url(../image/zhw_tb_num.png) 2px -85px no-repeat;;
    color:#EE3030;
}
.Sidebar .rightSidebar .readingRankings ul.lists li:nth-child(3) span{
    background: url(../image/zhw_tb_num.png) 2px -104px no-repeat;;
    color:#EE3030;
}
.Sidebar .rightSidebar .readingRankings ul.lists li+li+li span{
    background: url(../image/zhw_tb_num.png) 2px -104px no-repeat;;
    color:#EE3030;
}
.Sidebar .rightSidebar .readingRankings ul.lists li:nth-child(4) span{
    background: url(../image/zhw_tb_num.png) 2px -122px no-repeat;;
    color:#999999;
}
.Sidebar .rightSidebar .readingRankings ul.lists li+li+li+li span{
    background: url(../image/zhw_tb_num.png) 2px -122px no-repeat;;
    color:#999999;
}
.Sidebar .rightSidebar .readingRankings ul.lists li:nth-child(5) span{
    background: url(../image/zhw_tb_num.png) 2px -139px no-repeat;;
    color:#999999;
}
.Sidebar .rightSidebar .readingRankings ul.lists li+li+li+li+li span{
    background: url(../image/zhw_tb_num.png) 2px -139px no-repeat;;
    color:#999999;
}

.Sidebar .rightSidebar .readingRankings ul.lists li a{
    width: 280px;
    float: right;
    color:#888;
    line-height: 21px;
    font-family: "宋体";
}
/*阅读排行 end*/


.footer{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #ccc;
    margin-top: 60px;
}
.footer .footCon{
    width: 1200px;
    height: 130px;
    margin: 0 auto;
}
.footer .footCon p{
    text-align: center;
    font-size: 12px;
    width: 100%;
    height: 14px;

}
.footer .footCon p a{
    color:#333;
}
.footer .footCon p.qualifications a{
    color:#333;
    padding: 0 10px;
}
.footer .footCon p.about a{
    color:#333;
    padding: 0 5px;
}
.footer .footCon p.about span{
    border-left:1px solid #666;
    height: 12px;
    display: inline-block;
}
