

/* CSS Document */

.tabcon1 .list {width:300px; _width: 299px;}
.tabcon1 .list .ul li { background: url(../image/ico16x16.png) no-repeat -20px -1082px; line-height: 36px; overflow: hidden; width: 300px; height: 36px;}
.tabcon1 .list .ul a { font-size: 16px; color: #333; margin-left: 11px; }



.tabcon2{width:660px;overflow: hidden;}
.tabcon2 .menu{width:300px;font-size:16px;color: #333; line-height:26px;height:26px;border-bottom:1px solid #eeeeee;padding-left:20px;}
.tabcon2 .more{float:right;width:60px;text-align:center;font-size:14px; color: #333;}
.tabcon2 .list {width:320px; _width: 299px;}
.tabcon2 .list .h1 {font-size:16px;color: #333;}
.tabcon2 .list .h3 a { font-size: 16px; color: #333;line-height:26px;height:26px; }。
.tabcon2 .list .summary { color: #777; font-size: 12px; margin-top: 6px; line-height: 22px; }
.tabcon2 .list .ul li { background: url(../image/ico16x16.png) no-repeat -20px -1083px; line-height: 30px; overflow: hidden; width: 320px; height: 30px;}
.tabcon2 .list .ul a { font-size: 14px; color: #333; margin-left: 11px; }
.tabcon2 .align-c {overflow: hidden; max-height: 50px;}
.tabcon2 .piclist {width:660px; _width: 299px;}


.htabcon .menu{width:360px;font-size:16px;color: #333; line-height:26px;height:26px;border-bottom:1px solid #eeeeee;padding-left:20px;}
.htabcon .more{float:right;width:60px;text-align:center;font-size:14px; color: #333;}
.htabcon .list {width:380px; _width: 359px;overflow: hidden;}
.htabcon .list .h1 {font-size:16px;color: #333;}
.htabcon .list .h3 a { font-size: 16px; color: #333;line-height:26px;height:26px; }。
.htabcon .list .summary { color: #777; font-size: 12px; margin-top: 6px; line-height: 22px; }
.htabcon .list .ul li { background: url(../image/ico16x16.png) no-repeat -20px -1083px; line-height: 34px; overflow: hidden; width: 360px; height: 34px;margin:0px auto;}
.htabcon .list .ul a { font-size: 16px; color: #333; margin-left: 11px; }
.htabcon .align-c {overflow: hidden; max-height: 50px;}
.htabcon .picture { width: 380px; height: 200px;margin:0px auto;overflow: hidden;}
.htabcon .picture :hover img{  -webkit-transform: scale(1.1);  -ms-transform: scale(1.1);  transform: scale(1.1);    -webkit-transition: transform .5s; -webkit-transition: -webkit-transform .5s; transition: -webkit-transform .5s; transition: transform .5s; transition: transform .5s, -webkit-transform .5s;}
.htabcon .picture .text { position: absolute; left: 0; bottom: 0; height: 38px; line-height: 38px; background-color: rgba(0, 0, 0, 0.4); width: 100%; overflow: hidden; }
.ie8 .htabcon .picture .text {filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);}
.htabcon .picture .text a { color: #fff; padding-left: 8px; font-size: 16px; }
.htabcon .picture .text a:hover { color: #fff !important;}


.c-white{color:#FFF;}
	.c-white a:link,
	.c-white a:visited{color:#FFF;text-decoration:none;}
	.c-white a:hover{text-decoration:underline;color:#FFF;}

.wm20{margin-right:20px;}


.tag_link{width:1200px; margin:0 auto;display: block;overflow:hidden;height:100px;background-color: #FFFFFF; }
.tag_link .tabmenu { height: 28px;background-image: url(../image/inbga.gif);background-repeat: repeat-x;background-position: 0px 0px;padding:0px;border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;}
.tag_link .tabmenu { clear: both; overflow: hidden; width:1198px;height: 28px;border-top:1px solid #eeeeee;}
.tag_link .tabmenu li {font-size:12px;text-align:center;line-height:28px;float:left;height: 28px;width: 90px;background-image: url(../image/menu_bg3.gif);background-position: bottom;}
.tag_link .tabmenu li a{ color:#333333;}
.tag_link .tabmenu .selected {line-height:28px;height: 28px;width:89px;font-weight: bold;overflow: hidden;background-color: #FFFFFF;	background-image: url(../image/menu_bg3.gif);background-position:top;}
.tag_link .tabcon {text-align:left;height:53px;border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;width:1182px; padding:8px; vertical-align: top; overflow: hidden;}
.tag_link .tabcon {line-height:22px;overflow:auto;clear:both;font-size:14px;}
.tag_link .tabcon li{float:left;line-height:22px;margin-left:10px;font-size:14px;}
.tag_link .tabcon a{color:#333333;}
.tag_link .tabcon .hide{display: none;}

.ewmz { background: url("../image/ewmz.jpg") no-repeat scroll 0 0 transparent; height: 187px; margin: 0 auto 0px auto; position: relative; width: 1000px;}
.ewmz ul li { color: #565656; font-size: 12px; left: 110px; list-style: none outside none;  position: absolute; top: 12px;}
.ewmz ul li.z1 { left: 109px; top: 61px;}
.ewmz ul li.z1 p { line-height: 30px;}
.ewmz ul li.z2 { left: 270px; top: 146px;}
.ewmz ul li.z3 { left: 425px; top: 146px;}
.ewmz ul li.z4 { left: 585px; top: 146px;}
.ewmz ul li.z5 { left: 735px; top: 146px;}
.ewmz ul li.z6 { left: 880px; top: 146px;}


#footer {background:url(http://www.lzrb.com.cn/img/css/endnav_bga.jpg) no-repeat; margin:0 auto 0;height:37px; line-height:38px; overflow:hidden; font-size:12px;width:1000px;}
#footer .footright {background:url(http://www.lzrb.com.cn/img/css/endnav_bg.jpg) right -141px no-repeat; display:block; width:8px; height:37px; float:right; overflow:hidden;}
#footer .footnav {padding-left:270px;background:url(http://www.lzrb.com.cn/img/css/endnav_bg.jpg) left -30px no-repeat; height:37px; float:left; line-height:38px; color:#1E50A2; overflow:hidden;}
#footer .footnav a {background:url(http://www.lzrb.com.cn/img/css/endnav_bg.jpg) 4px -104px no-repeat; float:left; padding:0 5px 0 13px;color:#666666;}
#footer .footnav .firstNode {background:none;}
#footer .goHome {float:right; width:85px; height:23px; background:url(http://www.lzrb.com.cn/img/css/endnav_bg.jpg) left -178px no-repeat; overflow:hidden; text-indent:-19em; margin:8px 5px 0 0;}
#footer .footnav a,#footer .footnav a:visited {color:#333333;}
#footer .footnav a:hover {color:#cc0000;}
#footer .footsearch {float:right; display:inline; width:128px; height:20px; margin:9px 13px 0 0; overflow:hidden;display:none;}
#footer .footsearch .textBox {background:url(http://www.lzrb.com.cn/img/css/endnav_bg.jpg) right -202px no-repeat; width:106px; height:20px; line-height:20px; text-indent:4px; padding:0; border:none;color:#666; float:left;}
#footer .footsearch .footsearchbtn {background:url(http://www.lzrb.com.cn/img/css/endnav_bg.jpg) left -222px no-repeat; width:22px; height:20px; border:none; text-indent:-100em; cursor:pointer; float:left;}
#copyright .tt_piclist{margin:5px auto;width:450px;height:50px;}
#copyright .tt_piclist li{width:110px;float:left;text-align:center;}
#copyright{width:960px;margin:0 auto;padding:6px 0 5px;color:#515151;font-size:12px;text-align:center;line-height:22px;}
#copyright a{color:#333333;}
.fhide{display: none;}
