/* 列表页样式 */
.lb_content{width:950px;margin-top:8px;display:inline-block;}
.lb_left{width:650px;float:left;border:1px solid #E3E3E3;}
.lb_wz{width:640px;height:20px;padding:8px 0 0 10px;border-bottom:1px solid #E3E3E3;color:#333333;}
.lb_page{width:600px;margin:0 auto;}
.lb_page_bt{width:600px;font-size:18px;font-weight:bold;margin-top:15px;color:#333333;}
.lb_fy{width:600px;height:50px;padding-top:10px;background-image: url(../image/title_line.gif);background-repeat: repeat-x;background-position: bottom;}
*html .lb_fy{width:600px;height:50px;padding-top:10px;background-image: url(../image/title_line.gif);background-repeat: repeat-x;background-position: bottom;}
*+html .lb_fy{width:600px;height:50px;padding-top:10px;background-image: url(../image/title_line.gif);background-repeat: repeat-x;background-position: bottom;}
.pages strong{margin:0px 1px;padding:6px 7px;text-align:center;border:1px solid #9EAFE7;color:#FFFFFF;background-color:#3A59B3;}
.pages{height:25px;padding:9px 15px 7px 0px;text-align:center; clear:both;}
*html .pages{height:25px;padding:10px 15px 5px 0px;text-align:center; clear:both;}
*+html .pages{height:25px;padding:9px 15px 7px 0px;text-align:center; clear:both;}
.pages a{margin:0 -5px;padding:5px 5px;text-align:center;border:1px solid #9EAFE7;color:#105BB6;}
.pages a:hover{margin:0 -5px;padding:5px 5px;text-align:center;border:1px solid #9EAFE7;color:#FFFFFF;background-color:#3A59B3;}
*html .pages a{margin:0px 1px;padding:6px 7px;text-align:center;border:1px solid #9EAFE7;color:#105BB6;}
*html .pages a:hover{margin:0 1px;padding:6px 7px;text-align:center;border:1px solid #9EAFE7;color:#FFFFFF;background-color:#3A59B3;}
*+html .pages a{margin:0 1px;padding:5px 7px;text-align:center;border:1px solid #9EAFE7;color:#105BB6;}
*+html .pages a:hover{margin:0 1px;padding:6px 7px;text-align:center;border:1px solid #9EAFE7;color:#FFFFFF;background-color:#3A59B3;}
.line02left{width:600px;height: 1px;margin: 15px 0px;font-size: 0;background-image: url(../image/title_line.gif);background-repeat: repeat-x;}
.list_ys{width:600px;margin-top:8px;line-height:25px;color:#666666;}
.list_ys a { FONT-FAMILY: "宋体"; font-size:14px; color: #454545;}
.list_ys a:hover {color: #bc2931; text-decoration:underline;}
.list_ys li{padding-left:10px;	background: no-repeat transparent url(../image/diao.jpg) 0 0.8em;}
.list_bottom{width:600px;height:50px;padding-top:8px;}
.lb_right{width:287px;float:right;overflow:hidden;}
.ad_gg_03{width:285px;padding:0px;border:1px solid #E3E3E3;text-align:center;margin-top:0px;}
.ad_gg_04{width:279px;padding:3px;border:1px solid #E3E3E3;text-align:center;margin-top:5px;}
.jrtj{width:285px;margin-top:8px;padding-bottom:5px;border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;display:inline-block;}
.jrtj_bt{width:275px;height:21px;padding:8px 0 0 10px;font-size:14px;font-weight:bold;background-image: url(../image/box_nav_bg.jpg);background-repeat: repeat-x;}
.jrtj_list{width:275px;padding:8px 0 0 8px;line-height:22px;}
.djph_list{width:250px;margin:8px 0 0 5px;padding:3px 0 0 25px;line-height:24px;background-image: url(../image/ph_bg.jpg);background-repeat: no-repeat;background-position: left top;}
.foot{width:950px;margin-top:10px;border-top:1px solid #dddddd;display:inline-block;}
/*文本内容页样式*/
.wb_content{width:600px;margin:0 auto;}
.wb_dqwz{width:600px;height:20px;margin-top:12px;color:#333333;}
.wb_ad_01 {width:600px;}
.wb_ad_02 {margin:0 0 10px 5px;}
.wb_title{width:600px;text-align:center;height:25px;margin-top:15px;font-size:18px;font-weight:bold;color:#003973;height:auto;}
.wb_ftitle{width:600px;text-align:center;height:25px;margin-top:15px;font-size:18px;font-weight:bold;color:#003973;height:auto;}
.wb_xwly{width:600px;text-align:center;height:25px;margin-top:8px;color:#666666;background-image: url(../image/title_line.gif);background-repeat: repeat-x;background-position: bottom;}
.wb_xwly a { FONT-FAMILY: "宋体"; font-size:12px; color: #990000;}
.wb_xwly a:hover {color: #bc2931; text-decoration:underline;}
.wb_gjz{width:600px;height:25px;margin-top:15px;font-weight:bold;color:#333333;}
.wb_nr{width:600px;line-height:23px;font-size:14px;margin-top:15px;text-align:left;}
.wb_nr img{margin:0 auto; display:block;}
.wb_nr a {font-size:14px;}
.wb_fx{width:600px;height:30px;}
.wb_fx_left{width:450px;float:left;}
.wb_fx_right{width:150px;float:right;padding-top:5px;text-align:right;color:#666666;}
.wb_xgwz{width:650px;padding-bottom:8px;display:inline-block;margin-top:10px;}
.wb_xgwz_bt{width:640px;height:18px;padding:8px 0 0 10px;font-weight:bold;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;display:inline-block;}
.wb_xgwz_list{width:620px;margin:0 auto;line-height:23px;padding:8px 0 0 8px;}
.wb_xgwz_list a { FONT-FAMILY: "宋体"; font-size:14px; color: #3333333;}
.wb_xgwz_list a:hover {color: #bc2931; text-decoration:underline;}
.wb_xwpl{width:650px;padding-top:10px;background-image: url(../image/title_line.gif);background-repeat: repeat-x;background-position: top;}
.inputText{width:90px;height:14px;border:1px solid #cccccc;}
.inputkey{width:55px;height:14px;border:1px solid #cccccc;}
textarea{width:477px;height:80px;border:1px solid #cccccc;}
.wb_tpxw{width:134px;float:left;margin:8px 8px 0 18px;}
*html .wb_tpxw{width:134px;float:left;margin:8px 11px 0 11px;}
*+html .wb_tpxw{width:134px;float:left;margin:8px 10px 0 16px;}
.wb_tpxw_pic{width:130px;padding:1px;border:1px solid #dddddd;}
.wb_tpxw_bt{width:134px;padding-top:5px;text-align:center;}
.wb_tpxw_yl{width:130px;float:left;margin:8px 2px 0 8px;}
*html .wb_tpxw_yl{width:130px;float:left;margin:8px 2px 0 5px;}
*+html .wb_tpxw_yl{width:130px;float:left;margin:8px 2px 0 5px;}
.wb_tpxw_pic_yl{width:125px;padding:1px;border:1px solid #dddddd;}
.wb_tpxw_bt_yl{width:130px;padding-top:5px;text-align:center;}
.spxw{width:124px;float:left;margin:8px 5px 0 10px;}
*html .spxw{width:124px;float:left;margin:8px 5px 0 6px;}
*+html .spxw{width:124px;float:left;margin:8px 5px 0 10px;}
.spxw_pic{width:120px;height:90px;padding:2px;background-image: url(../image/video.gif);background-repeat: no-repeat;}
.spxw_bt{width:124px;padding-top:5px;text-align:center;}
.wb_spxw{width:285px;height:29px;background-image: url(../image/box_nav_bg.jpg);background-repeat: repeat-x;}
.wb_spxw_bt{width:100px;padding:8px 0 0 10px;font-size:14px;font-weight:bold;float:left;}
.wb_spxw_more{width:100px;padding:10px 8px 0 0;text-align:right;float:right;}
.wb_hbxw{width:265px;margin:0 auto;padding-top:8px;}
.wb_hbxw_pic{width:102px;padding:1px;border:1px solid #dddddd;float:left;}
.wb_hbxw_bt{width:150px;line-height:22px;color:#666666;float:left;margin-left:8px;}
.wb_hbxw_list{width:265px;margin:0 0 0 8px;line-height:22px;background-image: url(../image/title_line.gif);background-repeat: repeat-x;background-position: top;padding-top:8px;color:#666666;display:inline-block;}
*html .wb_hbxw_list{width:265px;margin:0 auto;line-height:22px;background-image: url(../image/title_line.gif);background-repeat: repeat-x;background-position: top;padding-top:8px;color:#666666;}
*+html .wb_hbxw_list{width:265px;margin:0 auto;line-height:22px;background-image: url(../image/title_line.gif);background-repeat: repeat-x;background-position: top;padding-top:8px;color:#666666;}
.taobao{width:260px;margin:0 auto;padding-top:6px;text-align: center;}
/*图片列表样式*/
.tp_list{width:948px;margin-top:8px;border:1px solid #dddddd;padding-bottom:8px;}
.tp_wz{width:938px;height:20px;padding:8px 0 0 10px;border-bottom:1px solid #dddddd;color:#333333;}
.tp_pic{width:140px;float:left;margin:8px 6px 0 11px;}
*html .tp_pic{width:140px;float:left;margin:8px 7px 0 8px;}
*+html .tp_pic{width:140px;float:left;margin:8px 6px 0 11px;}
.tp_pic_img{width:136px;padding:1px;border:1px solid #dddddd;}
.tp_pic_bt{width:140px;height:30px;padding-top:5px;overflow:hidden;}
.tp_fy{width:948px;text-align:center;height:30px;margin-top:15px;}
/*图片集样式*/
img{ border:0; display:inline-block; }
.float_left{float:left}
.float_right{float:right}
.showpic_ex{width:580px; background:#F4F4F4;margin:0 auto;border:1px solid #CCCCCC;}
.photo_bar{padding:0 10px;height:35px;background:#EBEBEB}
.photo_bar dd{float:left;margin:5px}
.photo_bar dt{float:right;margin:5px}
#imgBox{text-align:center;padding:15px 0}
#photolist{height:80px;clear:both;background:#EBEBEB}
#photolist .kz{margin:10px 0;}
#photolist .list li{margin:5px 10px;float:left;height:70px;width:70px}
/*微博样式*/
.wbbox{width: 286px;border: 1px solid #dbdbdb;margin-top:5px;}
.wbTitle{width: 286px;overflow: hidden;}
.wbTab{height: 29px;width: 286px;overflow: hidden;}
.wbTab li{display: block;float: left;width:117px;padding-left:25px;height: 28px;line-height: 28px;font-size: 13px;border-right: 1px solid #dbdbdb;background-color: #fefefe;}
.wbTab .txwb{background-color: #EDFAFE;border-bottom:1px solid #EDFAFE; }
.wbTab .xlwb{background-color: #fff;}
.wbTab .border{border-bottom: 1px solid #dbdbdb;background-color: transparent;}
.wbTab i{display:block;float:left;width:16px;height:16px;margin:6px 5px 0 0;background-image: url("../image/wb_logo.gif");background-repeat: no-repeat;overflow: hidden;}
.wbTab li:hover{cursor: pointer;}
.txwb{background-position: 0 0;}
.xlwb{background-position: 0 -19px;}
.has_tab{height: 450px;overflow: hidden;}
/*新闻内容页免责声明*/
.mzsm {width:600px;margin:10px 0 0 10px;color: #999999;font-size: 12px;}
.mzsm_i {width:550px;margin:10px 0 25px 20px;}
.mzsm_i ul {margin-left:10px;color: #999999;font-size: 12px;}
/*新闻内容页内容简介*/
.wb_xwst {width:600px;height:48px;margin-top:15px;color:#666666;background-image: url(../image/title_line.gif);background-repeat: repeat-x;background-position: bottom;}
.wb_sti {width:550px;text-align:left;}