*{font-size:100%;vertical-align:baseline}
img{display:inline-block}
ul{padding:0;margin:0}
li,ol,ul{list-style:none}
em{font-style:normal}
body {
    color: #333;
    background: #f9f9f9;
    font-size: 14px;
    line-height: 2;
    font-family: "Microsoft YaHei", SimSun, Arial, Helvetica, Tahoma, sans-serif;
    -webkit-text-size-adjust: none;
}
*{-webkit-font-smoothing:antialiased}
button,input,label,select,textarea{vertical-align:middle}
h1,h2,h3,h4,h6{margin:0;padding:0;font-weight:700;font-size:100%}
a:link{text-decoration:none;color:#333}
a:visited{text-decoration:none}
a:hover{text-decoration:underline}
html,body,p,dd,dt{margin:0;padding:0;border:0}
article,aside,details,dialog,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
address, caption, cite, code, dfn, em, th, var, i {
    font-weight: normal;
    font-style: normal;
}
/*table{border-collapse:separate;border-spacing:0}
caption,td,th{text-align:left;font-weight:400;float:none!important}
table,td,th{vertical-align:middle}*/
blockquote:after,blockquote:before,q:after,q:before{content:''}
blockquote,q{quotes:""""}
a img{border:0}
:focus{outline:0}
button,input,label,select,textarea{vertical-align:middle}
a {
    color: #333;
}
a:link{text-decoration:none}
a:visited{text-decoration:none}
a:hover {
    color: #d00300;
    text-decoration: underline;
}
.clearfix:after,.clearfix:before{content:" ";display:table}
.clearfix:after{clear:both}
.fl{float:left}
.fr{float:right}
.clear{ clear:both; }

.f12{font-size:12px;}  
.f13{font-size:13px;}  
.f14{font-size:14px;}  
.f16{font-size:16px;}  
.f20{font-size:20px;}  
.fb{font-weight:bold;}

/*padding-top*/
.pt100{padding-top:100px;}

/*margin-top*/
.mt5{margin-top:5px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}

/*margin-left*/
.ml8{margin-left:8px;}
.ml10{margin-left:10px;}

/*margin-right*/
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr27{margin-right:27px;}

/*margin-bottom*/
.mb6{margin-bottom:6px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}

/*定位*/ 
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}

/*宽度-像素*/
.w393{width:393px;}

/*高度-像素*/
.h10{height:10px;}
.h20{height:20px;}
.h60{height:60px;}
.h80{height:80px;}

img.animation {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.auto {height: auto;overflow: hidden;}

.main-body{width: 1200px; margin: 0px auto; background-color: #fff; min-height:600px;}
.wrapper{width:1200px; margin:0 auto; display:block;}

/* 顶部 */
.header{min-width: 1200px; height:242px; text-align: center;background: #fff}
.header .wrapper{height:242px;background:url(../image/head_bg.png) bottom right no-repeat;}
.header .top {height: 45px;line-height: 45px;border-bottom:1px dotted #ccc}
.header .top .welcome{}
.header .top .member{}
.header .top .member .ucenter{margin-right: 20px;}
.header .top .member .ucenter .login{background:url(http://www.hexieshaanxi.com/statics/pc/images/icon-login.jpg) left center no-repeat}
.header .top .member .ucenter .register{background:url(http://www.hexieshaanxi.com/statics/pc/images/icon-reg.jpg) left center no-repeat}
.header .top .member .ucenter a{color:#10684f;width: 65px; text-align: center;display: inline-table;}
.header .top .member .favorite span{font-size:14px;color:#dcdcdc;margin:0 10px;}

.header .logo{padding-top: 48px;}
.header .slogan{height:38px;line-height:38px;letter-spacing: 10px;padding-top: 15px;}
.header .search{width:480px; padding-top:50px}
.header .search form{height:38px;border:1px solid #CCC;border-radius:5px;}
.header .search .keyword{float:left;width:240px;height:36px;}
.header .search .type{float:left;width:51px;height:36px;margin:0 7px;border:1px solid #CCC}
.header .search .submit{float:left;width:50px;height:38px;color:#fff;background:url(../image/icon-search.png) center center no-repeat;}
.header .search .search_But{color:#FFF}
.header .search input,.header .search select{display:block;height:100%;line-height:36px;border:none;background:0 0}
.header .search .keyword input{width:230px;padding:0 3px}
.header .search .submit input,.header .search .type select{width:100%}
.header .search .submit input{cursor:pointer}
.header .search .other{width:160px;line-height:38px;position: relative;}
.header .search .other div{background:#fff;padding:12px;position: absolute;left:-100%;top:48px;-moz-box-shadow:0px 0px 2px 3px #f0f0f0;-webkit-box-shadow:0px 0px 2px 3px #f0f0f0;box-shadow:0px 0px 2px 3px #f0f0f0;border:1px solid #f0f0f0;display: none;z-index: 4}
.header .search .other div i{display: block;width:32px;height: 18px;background: url(../image/h_iconj.png) no-repeat;position: absolute;left:50%;top:-18px;}
.header .search .other a{color:#DD2A2A;}
.header .search .other:hover div{display: block;}
/* 导航 */
.nav{background:url(../image/nav_bg.png) center center no-repeat #d00300;height:54px;min-width:1200px;}
.nav .nav-box{width:1200px; margin:0px auto;height:54px;line-height:54px;position:relative; overflow: hidden; text-align: center;}
.nav .nav-box .fl li{display:block;float:left;height:54px;line-height: 54px;width:90px;}
.nav .nav-box .fl li a{font-size:16px;color:#fff;font-weight: bold;}
.nav .nav-box .fl li.active{background:#db272a;}
.nav .nav-box .fl li:hover{background:#db272a; text-decoration:none;}
.nav .nav-box .fr{width:350px;height:54px;line-height:54px;}
.nav .nav-box .fr img{vertical-align: middle;}
.nav .nav-box .fr span{color:#fff;padding: 0px 5px;}

/*友情链接*/
.link-main{min-width: 1200px;height: auto;background:#f0f0f0;border-top:4px #d00300 solid;}
.link-main .link-nav{height: 50px;line-height: 50px;background:#fff;}
.link-main .link-nav li{float:left;height:50px;padding:0 67px;cursor:pointer;font-size: 16px;}
.link-main .link-nav li:after{content:"";width: 16px;height: 16px;display: inline-block;margin-left: 10px;background:url(http://www.hexieshaanxi.com/statics/pc/images/icon-link-off.png) center center no-repeat}
.link-main .link-nav li.on {background:#f0f0f0;}
.link-main .link-nav li.on:after{content:"";width: 16px;height: 16px;display: inline-block;margin-left: 10px;background:url(http://www.hexieshaanxi.com/statics/pc/images/icon-link-on.png) center center no-repeat}
.link-main .link-cont{height: auto;}
.link-main .link-cont .links{width: 100%;height: auto; padding:10px 30px 10px;display:inline-block;}
.link-main .link-cont .links dd{float: left;width: 25%;height: 35px;line-height: 35px;}
.link-main .link-cont .links a{line-height:25px;font-size:14px;padding-right:10px;}
.link-main .link-cont .links .intro{padding:10px;}
.link-main .link-cont .links .intro p{line-height:25px;font-size:14px;text-indent: 26px;}

/* 底部 */
.footer{border-top:18px solid #d00300;min-width: 1200px; background:#535353;}
.footer .wrapper{height:385px;background:url(../image/foot_bg.png) center bottom no-repeat;}
.footer .f-logo{text-align:center}
.footer .f-nav{border-top:1px solid #767676;font-size:14px;line-height: 50px;text-align:center; margin-top: 15px;}
.footer .f-nav span{color:#fff;padding: 0 15px;}
.footer .f-nav a{color:#fff;}
.footer .copyright{padding: 15px 0px;overflow:hidden;text-align:center}
.footer .copyright ul{display:block}
.footer .copyright ul li{color:#fff;font-size:14px;line-height:26px}
.footer .copyright ul li a{color:#fff}
.footer .copyright ul li span{color:#fff;font-weight: bold;}
.footer .f-report{text-align:center}
.footer .other{height:50px;line-height:50px;background:#262626;color:#fff;text-align:center}

.friendlink_tit {margin-top: 21px; font-size: 28px;  text-align: center; line-height: 26px; font-weight: bold;}
.friendlink_c {display: flex; flex-wrap: wrap; margin-top: 30px; margin-bottom: 44px;}
.friendlink_c > div { width: 10%; margin-bottom: 16px; overflow: hidden;}
.friendlink_c a { color: #666666;}

/*返回首页*/
.backToHome{width:48px;height:48px;line-height:20px;color:#666;font-size:16px;text-align:center;position:fixed;left:50%;bottom:70px;cursor:pointer;background:#d4d4d4;margin-left:630px; padding: 4px 0 0;border-radius: 5px;}
.backToHome:hover{color:#fff;text-indent:0;background:#d00300}

/*返回顶部*/
.backToTop{display:none;width:48px;height:48px;line-height:20px;color:#105590;font-size:16px;text-align:center;text-indent:-9999px;position:fixed;left:50%;bottom:10px;cursor:pointer;background:url(../image/top.jpg) no-repeat scroll center top #d00300;margin-left:630px;padding:4px 0 0;border-radius: 5px;}
.backToTop:hover{color:#fff;text-indent:0;background:#d00300}

/* 主栏 和 侧栏 */
.mainContent{width:820px;zoom:1}
.pageContent{width:840px;zoom:1}
.pageRight{width:820px;zoom:1}
.mainRight{width:874px;zoom:1}
.sideLeft{width:325px;overflow:hidden}
.side{width:325px;overflow:hidden}

/*图片放大*/
.slow img:hover{ transform:scale(1.05);}
.slow img{-moz-transition: all 0.9s ease-in-out;-webkit-transition: all 0.9s ease-in-out;-o-transition: all 0.9s ease-in-out;-ms-transition: all 0.9s ease-in-out;transition: all 0.9s ease-in-out;}/*缓慢效果*/

/* 位置导航 */
.path{height:56px;line-height:56px;margin:0 auto 25px;text-align:left;font-size:14px;color:#666;border-bottom:1px solid #cdcdcd}
.path a,.path span{position:relative;padding:0 4px;color:#666}
.path em{padding-left:0}

/*==============分页=====================*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 25px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.8;
  text-decoration: none;
  color: #d00300;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #d00300;
  border-color: #d00300;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination > li > .active,
.pagination > li > .active > span,
.pagination > li > .active > a:hover,
.pagination > li > .active > span:hover,
.pagination > li > .active > a:focus,
.pagination > li > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #d00300;
  border-color: #d00300;
}
.pagination > li > .active:hover {
  color: #fff;
  cursor: default;
  background-color: #3498DB;
  border-color: #2f89c6;
}
