.page-news_list .pub-news_list-header, .page-news_list .pub-news_list-header, .page-news_detail .pub-news_list-header {
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
  height: 44px;
}
.page-news_list .pub-news_list-header .icons, .page-news_list .pub-news_list-header .icons, .page-news_detail .pub-news_list-header .icons {
  background-position: -363px -52px;
  width: 5px;
  height: 18px;
  margin-right: 12px;
  position: relative;
  top: 3px;
}
.page-news_list .pub-news_list-header span, .page-news_list .pub-news_list-header span, .page-news_detail .pub-news_list-header span {
  font-size: 18px;
}
.page-news_list .pub-logo-listpage, .page-news_list .pub-logo-listpage, .page-news_detail .pub-logo-listpage {
  position: relative;
}
.page-news_list .pub-logo-listpage .logo-search, .page-news_list .pub-logo-listpage .logo-search, .page-news_detail .pub-logo-listpage .logo-search {
  position: absolute;
  right: 0;
  bottom: -51px;
}
.page-news_list .news_list-titletype, .page-news_list .news_list-titletype, .page-news_detail .news_list-titletype {
  height: 61px;
  line-height: 61px;
  border-bottom: 1px solid #E8E8E8;
  font-size: 24px;
  color: #018bd3;
}
.page-news_list .news_list-blockA, .page-news_list .news_list-blockA, .page-news_detail .news_list-blockA {
  margin-bottom: 69px;
}
.page-news_list .news_list-blockA .blockA-left, .page-news_list .news_list-blockA .blockA-left, .page-news_detail .news_list-blockA .blockA-left {
  width: 784px;
  margin-top: 10px;
}
.page-news_list .news_list-blockA .blockA-left .list ul li, .page-news_list .news_list-blockA .blockA-left .list ul li, .page-news_detail .news_list-blockA .blockA-left .list ul li {
  padding: 13px 0;
  height: 49px;
}
.page-news_list .news_list-blockA .blockA-left .list ul li.hr, .page-news_list .news_list-blockA .blockA-left .list ul li.hr, .page-news_detail .news_list-blockA .blockA-left .list ul li.hr {
  border-top: 1px dashed #999999;
  height: 1px;
  padding: 0;
  margin: 13px 0;
}
.page-news_list .news_list-blockA .blockA-left .list ul li a, .page-news_list .news_list-blockA .blockA-left .list ul li a, .page-news_detail .news_list-blockA .blockA-left .list ul li a {
  font-size: 18px;
  color: #333333;
  max-width: 640px;
  height: 23px;
  line-height: 23px;
}
.page-news_list .news_list-blockA .blockA-left .list ul li a .dot, .page-news_list .news_list-blockA .blockA-left .list ul li a .dot, .page-news_detail .news_list-blockA .blockA-left .list ul li a .dot {
  position: relative;
  top: -4px;
  margin-right: 15px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
}
.page-news_list .news_list-blockA .blockA-left .list ul li .time, .page-news_list .news_list-blockA .blockA-left .list ul li .time, .page-news_detail .news_list-blockA .blockA-left .list ul li .time {
  color: #999999;
  font-size: 14px;
  height: 23px;
  line-height: 23px;
}
.page-news_list .news_list-blockA .blockA-left .list .pub-pagination, .page-news_list .news_list-blockA .blockA-left .list .pub-pagination, .page-news_detail .news_list-blockA .blockA-left .list .pub-pagination {
  margin-top: 59px;
}
.page-news_list .news_list-blockA .blockA-right, .page-news_list .news_list-blockA .blockA-right, .page-news_detail .news_list-blockA .blockA-right {
  width: 369px;
  margin-top: 38px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-qr, .page-news_list .news_list-blockA .blockA-right .news_list-qr, .page-news_detail .news_list-blockA .blockA-right .news_list-qr {
  font-size: 0;
}
.page-news_list .news_list-blockA .blockA-right .news_list-qr .item, .page-news_list .news_list-blockA .blockA-right .news_list-qr .item, .page-news_detail .news_list-blockA .blockA-right .news_list-qr .item {
  text-align: center;
  margin-left: 6px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-qr .item:first-child, .page-news_list .news_list-blockA .blockA-right .news_list-qr .item:first-child, .page-news_detail .news_list-blockA .blockA-right .news_list-qr .item:first-child {
  margin-left: 0;
}
.page-news_list .news_list-blockA .blockA-right .news_list-qr .item .thumb img, .page-news_list .news_list-blockA .blockA-right .news_list-qr .item .thumb img, .page-news_detail .news_list-blockA .blockA-right .news_list-qr .item .thumb img {
  width: 119px;
  height: 104px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-qr .item p.action, .page-news_list .news_list-blockA .blockA-right .news_list-qr .item p.action, .page-news_detail .news_list-blockA .blockA-right .news_list-qr .item p.action {
  font-size: 16px;
  margin: 5px 0;
  height: 20px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-qr .item p.name, .page-news_list .news_list-blockA .blockA-right .news_list-qr .item p.name, .page-news_detail .news_list-blockA .blockA-right .news_list-qr .item p.name {
  color: #ee6c00;
  font-size: 14px;
  height: 18px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-pics, .page-news_list .news_list-blockA .blockA-right .news_list-pics, .page-news_detail .news_list-blockA .blockA-right .news_list-pics {
  margin-top: 30px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-pics .content, .page-news_list .news_list-blockA .blockA-right .news_list-pics .content, .page-news_detail .news_list-blockA .blockA-right .news_list-pics .content {
  overflow: hidden;
  margin-top: 27px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-pics .content ul, .page-news_list .news_list-blockA .blockA-right .news_list-pics .content ul, .page-news_detail .news_list-blockA .blockA-right .news_list-pics .content ul {
  width: 382px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-pics .content ul li, .page-news_list .news_list-blockA .blockA-right .news_list-pics .content ul li, .page-news_detail .news_list-blockA .blockA-right .news_list-pics .content ul li {
  width: 178px;
  height: 109px;
  margin-bottom: 14px;
  margin-right: 13px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-pics .content ul li a, .page-news_list .news_list-blockA .blockA-right .news_list-pics .content ul li a, .page-news_detail .news_list-blockA .blockA-right .news_list-pics .content ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.page-news_list .news_list-blockA .blockA-right .news_list-pics .content ul li a img, .page-news_list .news_list-blockA .blockA-right .news_list-pics .content ul li a img, .page-news_detail .news_list-blockA .blockA-right .news_list-pics .content ul li a img {
  width: 100%;
  height: 100%;
}
.page-news_list .news_list-blockA .blockA-right .news_list-pics .content ul li a p, .page-news_list .news_list-blockA .blockA-right .news_list-pics .content ul li a p, .page-news_detail .news_list-blockA .blockA-right .news_list-pics .content ul li a p {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  padding: 0 10px;
  line-height: 25px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push, .page-news_list .news_list-blockA .blockA-right .news_list-push, .page-news_detail .news_list-blockA .blockA-right .news_list-push {
  margin-top: 16px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content, .page-news_list .news_list-blockA .blockA-right .news_list-push .content, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content {
  margin-top: 20px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .thumb, .page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .thumb, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content .bignews .thumb {
  width: 151px;
  height: 116px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .thumb a, .page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .thumb a, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content .bignews .thumb a {
  display: block;
  width: 100%;
  height: 100%;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .thumb a img, .page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .thumb a img, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content .bignews .thumb a img {
  width: 100%;
  height: 100%;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .text, .page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .text, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content .bignews .text {
  width: 205px;
  height: 116px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .text h2, .page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .text h2, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content .bignews .text h2 {
  margin-bottom: 5px;
  height: 25px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .text h2 a, .page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .text h2 a, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content .bignews .text h2 a {
  font-size: 20px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .text p, .page-news_list .news_list-blockA .blockA-right .news_list-push .content .bignews .text p, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content .bignews .text p {
  line-height: 22px;
  font-size: 14px;
  text-align: justify;
  height: 86px;
  overflow: hidden;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content ul, .page-news_list .news_list-blockA .blockA-right .news_list-push .content ul, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content ul {
  margin-top: 20px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content ul li, .page-news_list .news_list-blockA .blockA-right .news_list-push .content ul li, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content ul li {
  padding: 12px 0;
  height: 44px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-push .content ul li a .dot, .page-news_list .news_list-blockA .blockA-right .news_list-push .content ul li a .dot, .page-news_detail .news_list-blockA .blockA-right .news_list-push .content ul li a .dot {
  position: relative;
  top: -4px;
  margin-right: 7px;
  background: #000000;
}

.page-news_list .pub-news_list-header, .page-news_detail .pub-news_list-header {
  border-bottom: none;
}
.page-news_list .pub-news_list-header .icons, .page-news_detail .pub-news_list-header .icons {
  background-position: -376px -52px;
  height: 20px;
}
.page-news_list .pub-news_list-header span, .page-news_detail .pub-news_list-header span {
  font-size: 24px;
}
.page-news_list .news_list-blockA .blockA-left .list ul li a, .page-news_detail .news_list-blockA .blockA-left .list ul li a {
  color: #747474;
}
.page-news_list .news_list-blockA .blockA-left .list .zhuanti_list-pagination, .page-news_detail .news_list-blockA .blockA-left .list .zhuanti_list-pagination {
  margin-top: 26px;
}
.page-news_list .news_list-blockA .blockA-left .list .zhuanti_list-pagination a, .page-news_detail .news_list-blockA .blockA-left .list .zhuanti_list-pagination a {
  width: 74px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #158CD0;
  color: #FFFFFF;
  margin-left: 11px;
  display: inline-block;
  font-size: 14px;
}
.page-news_list .news_list-blockA .blockA-left .list .zhuanti_list-pagination a:first-child, .page-news_detail .news_list-blockA .blockA-left .list .zhuanti_list-pagination a:first-child {
  margin-left: 0;
}
.page-news_list .news_list-blockA .blockA-left .list .zhuanti_list-pagination .jump, .page-news_detail .news_list-blockA .blockA-left .list .zhuanti_list-pagination .jump {
  font-size: 0;
  height: 32px;
}
.page-news_list .news_list-blockA .blockA-left .list .zhuanti_list-pagination .jump span, .page-news_detail .news_list-blockA .blockA-left .list .zhuanti_list-pagination .jump span {
  display: inline-block;
  margin-left: 11px;
  font-size: 14px;
}
.page-news_list .news_list-blockA .blockA-left .list .zhuanti_list-pagination .jump input, .page-news_detail .news_list-blockA .blockA-left .list .zhuanti_list-pagination .jump input {
  border: 1px solid #B2B2B2;
  height: 32px;
  width: 50px;
  text-align: center;
  line-height: 32px;
  outline: none;
  margin-left: 11px;
  font-size: 14px;
}
.page-news_list .news_list-blockA .blockA-right, .page-news_detail .news_list-blockA .blockA-right {
  width: 350px;
  margin-top: 30px;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti-right_ad img, .page-news_detail .news_list-blockA .blockA-right .zhuanti-right_ad img {
  width: 100%;
  height: auto;
}
.page-news_list .news_list-blockA .blockA-right .news_list-qr, .page-news_detail .news_list-blockA .blockA-right .news_list-qr {
  margin-top: 32px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-qr .item, .page-news_detail .news_list-blockA .blockA-right .news_list-qr .item {
  margin-left: 16px;
}
.page-news_list .news_list-blockA .blockA-right .news_list-qr .item .thumb img, .page-news_detail .news_list-blockA .blockA-right .news_list-qr .item .thumb img {
  width: 106px;
  height: 93px;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush {
  margin-top: 16px;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews {
  overflow: hidden;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul {
  width: 372px;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li {
  width: 164px;
  margin-right: 22px;
  margin-bottom: 10px;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li:last-child, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li:last-child, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li:last-child, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li:last-child {
  margin-right: 0;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li a, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li a, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li a, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li a {
  display: block;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li a .thumb, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li a .thumb, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li a .thumb, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li a .thumb {
  width: 164px;
  height: 107px;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li a .thumb img, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li a .thumb img, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li a .thumb img, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li a .thumb img {
  width: 100%;
  height: 100%;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li a .title, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li a .title, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content .bignews ul li a .title, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content .bignews ul li a .title {
  color: #898989;
  overflow: hidden;
  line-height: 26px;
  height: 52px;
  text-align: justify;
  margin-top: 15px;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content ul.list, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content ul.list, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content ul.list, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content ul.list {
  margin-top: 5px;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content ul.list li, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content ul.list li, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content ul.list li, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content ul.list li {
  padding: 9px 0;
  height: 38px;
}
.page-news_list .news_list-blockA .blockA-right .zhuanti_list-push .content ul.list li a .dot, .page-news_list .news_list-blockA .blockA-right .zhuanti_list-channelpush .content ul.list li a .dot, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-push .content ul.list li a .dot, .page-news_detail .news_list-blockA .blockA-right .zhuanti_list-channelpush .content ul.list li a .dot {
  position: relative;
  top: -4px;
  margin-right: 7px;
  background: #1385FC;
  border-radius: 100%;
  width: 3px;
  height: 3px;
}

.page-news_detail .pub-logo-listpage {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 20px;
  height: calc(100% + 20px);
}
.page-news_detail .pub-logo-listpage .logo-search {
  position: relative;
  right: auto;
  bottom: auto;
}
.page-news_detail .news_detail-title {
  margin-top: 35px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.page-news_detail .news_detail-title h1 {
  color: #333333;
  font-size: 36px;
  line-height: 1.3;
  font-weight: bolder;
  word-break: break-all;
}
.page-news_detail .news_detail-title h2 {
  color: #666666;
  font-size: 24px;
  margin-top: 10px;
  line-height: 1.4;
  word-break: break-all;
}
.page-news_detail .news_detail-title .title-datashare {
  margin-top: 5px;
  color: #737373;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
}
.page-news_detail .news_detail-title .title-datashare .data {
  font-size: 0;
  height: 100%;
}
.page-news_detail .news_detail-title .title-datashare .data span {
  margin-right: 15px;
  font-size: 14px;
}
.page-news_detail .news_detail-title .title-datashare .data span:last-child {
  margin-right: 0;
}
.page-news_detail .news_detail-title .title-datashare .share {
  height: 100%;
}
.page-news_detail .news_detail-title .title-datashare .share .social-share .social-share-icon {
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 26px;
  margin: 0 10px;
}
.page-news_detail .news_list-blockA {
  margin-bottom: 60px;
}
.page-news_detail .news_list-blockA .blockA-left {
  margin-top: 30px;
}
.page-news_detail .news_list-blockA .blockA-left .article-zhaoyao {
  position: relative;
  font-size: 0;
  padding-left: 10px;
  line-height: 1.5;
}
.page-news_detail .news_list-blockA .blockA-left .article-zhaoyao:before {
  position: absolute;
  left: 0;
  top: 50%;
  height: calc(100% - 8px);
  width: 3px;
  background: #158CD0;
  content: "";
  display: block;
  transform: translate(0, -53%);
}
.page-news_detail .news_list-blockA .blockA-left .article-zhaoyao span {
  color: #666666;
  font-size: 18px;
  word-break: break-all;
}
.page-news_detail .news_list-blockA .blockA-left .article-zhaoyao span:first-child {
  color: #000000;
}
.page-news_detail .news_list-blockA .blockA-left .article-content {
  text-align: justify;
  font-size: 18px;
  word-break: break-all;
  margin-top: 15px;
}
.page-news_detail .news_list-blockA .blockA-left .article-content img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
.page-news_detail .news_list-blockA .blockA-left .article-content iframe {
  width: 100%;
  display: block;
  margin: 10px auto;
  border: none;
  /*max-width: inherit;*/
  /*max-height: inherit;*/
  /*height:100%;*/
  /*position: absolute;*/
}
.page-news_detail .news_list-blockA .blockA-left .article-content video {
  display: block;
  width: 100%;
  margin: 10px auto;
}
.page-news_detail .news_list-blockA .blockA-left .article-content p {
  line-height: 2.5;
position: relative;
}
.page-news_detail .news_list-blockA .blockA-left .article-content section {
  display: block;
}
.page-news_detail .news_list-blockA .blockA-left .article-page {
  text-align: center;
  margin-top: 40px;
  font-size: 0;
  height: 25px;
}
.page-news_detail .news_list-blockA .blockA-left .article-page a {
  display: inline-block;
  padding: 5px 9px;
  background: #F1F3F5;
  margin: 0 4px;
  color: #797979;
  font-size: 12px;
}
.page-news_detail .news_list-blockA .blockA-left .article-page a.active {
  background: #378AE8;
  color: #FFFFFF;
}
.page-news_detail .news_list-blockA .blockA-left .article-tagauthor {
  margin-top: 40px;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 20px;
  height: 39px;
  line-height: 39px;
}
.page-news_detail .news_list-blockA .blockA-left .article-tagauthor .article-tag a, .page-news_detail .news_list-blockA .blockA-left .article-tagauthor .article-tag span {
  font-size: 14px;
  color: #8a8a8a;
}
.page-news_detail .news_list-blockA .blockA-left .article-tagauthor .article-author {
  color: #8a8a8a;
  font-size: 14px;
}
.page-news_detail .news_list-blockA .blockA-left .article-samelist {
  margin-top: 20px;
}
.page-news_detail .news_list-blockA .blockA-left .article-samelist ul li {
  padding: 10px 0;
  padding-top: 15px;
  border-bottom: 1px solid #EEEEEE;
}
.page-news_detail .news_list-blockA .blockA-left .article-samelist ul li h2 {
  margin-bottom: 20px;
  height: 28px;
}
.page-news_detail .news_list-blockA .blockA-left .article-samelist ul li h2 a {
  font-weight: bolder;
  font-size: 22px;
}
.page-news_detail .news_list-blockA .blockA-left .article-samelist ul li p {
  color: #C9BBB9;
  font-size: 14px;
  height: 18px;
}
.page-news_detail .news_list-blockA .blockA-left .pub-detail-comment {
  margin-top: 20px;
}
.page-news_detail div.login-box h3.title {
  width: 100% !important;
}
.page-news_detail div.login-box h3.title span.icon img {
  margin-top: 15px;
}
