body, div, dl, dt, dd, ol, h1, h2, h3, h4, h5, h6, form, p, th, td
{
 margin: 0;
 padding: 0;}
body
{
 font-size: 13px;
 color:#170000;
 margin:0px auto;
 line-height:30px;
min-width:1024px;}
a
{
 text-decoration: none;
 color:#2c2d2d;}
a:hover
{
color:#a80406;}
.pointer
{
cursor:pointer;}
img
{
 border-style: none;
 border-color: inherit;
 border-width: 0px;
 padding: 0px;
 margin: 0px;}
ul
{
 margin: 0px;
 padding: 0px;}
ul li
{
 list-style: none;margin:0px;padding:0px;}
.clear{
 clear: both;
 width: 0px;
 height: 0px;
 margin: 0px;
 padding: 0px;
 line-height: 0px;
 font-size: 0px;}
.floatright{float:right;}
.topdaohang{ background:url(../image/topbg.jpg) repeat-x;width:100%;margin:0px auto;  height:39px;}
.topdaohangc{ width:1004px; margin:0px auto; line-height:39px;background:url(../image/topbg.jpg) repeat-x;}
.banner{ width:1004px; margin:0px auto;}
.menu{ width:100%; background:url(../image/menubg.jpg) repeat-x; height:41px; font-weight:bold;font-family:"微软雅黑";}
.menu ul{ width:1004px; margin:0px auto; height:41px; overflow:hidden; line-height:41px; background-color:#d20001; background:url(../image/menuli2.jpg) no-repeat right top;}
.menu ul li{ float:left; background:url(../image/menuli.jpg) no-repeat left top; width:91px; text-align:center; font-size:15px;}
.menu ul li a{ color:#FFFFFF;}
.menu ul li a:hover{ color:#FFFFFF;}
.sousuo{ background-color:#f8f8f8; height:41px;}
.sousuoc{ width:1200px; margin:0px auto; font-size:13px; padding-top:7px; height:41px;}
.sousuocon{ background:url(../image/sousuobg.jpg) no-repeat; width:277px; height:24px; padding-top:2px; padding-bottom:2px; overflow:hidden; padding-left:2px;}
.suosuotxt{ width:224px; border:none; line-height:24px;padding-top:0px; margin-top:0px; background:none; height:24px;}
.suosuobtn{ width:50px; background:none; border:none; height:24px;}
.topnews{ width:1004px; margin:0px auto; margin-top:10px; background:url(../image/xwttbg.jpg)  repeat-y left top;}
.topnewsc{  background:url(../image/xwtt.jpg)  no-repeat left top;color:#170000;font-size: 13px;
}
.topnews h1 a{ font-size:32px;font-family:"微软雅黑";}
.topnews h1{ text-align:center; font-weight:normal; padding-top:25px;}
.topnewjj{ padding:5px 30px 10px 30px; text-indent:4ex; line-height:25px;}
.topnewsbot{ border-bottom:1px dashed #cdcdcd; margin-left:4px; width:999px; height:1px; font-size:0px; line-height:0px; overflow:hidden;}
.main{ width:1004px; margin:0px auto;}
.mainc{padding-left:3px;}
.main1{width:1001px;  padding-top:10px;}
.main1left{ float:left; width:317px; margin-right:15px; border:1px solid #cfcfcf; border-top:none; height:570px;}
.main1right{ float:left; width:667px;}
.daohang1{ background:url(../image/daohangbot.jpg) no-repeat left bottom #fafafa; height:40px; line-height:40px; padding-left:10px; padding-right:10px;}
.daohang1 .lm{ font-size:20px;font-family:"微软雅黑";}
.daohang1 .floatright{ padding-top:12px;}
.daohang1 .yw{ color:#bebbbb;font-size:16px;font-family:"微软雅黑";}
.xmt li{ float:left; padding-top:4px; line-height:30px; width:90px; display:inline;}
.xmtweixin a { display:block;   background:url(../image/weixinico.jpg) no-repeat left center;height:30px; padding-left:25px;}
.xmtweixin a:hover { display:block;  background:url(../image/weixinhico.jpg) no-repeat left center; height:30px; padding-left:25px;}
.xmtweibo  a { display:block; background:url(../image/weiboico.jpg) no-repeat left center;height:30px; padding-left:22px;}
.xmtweibo  a:hover { display:block;  background:url(../image/weibohico.jpg) no-repeat left center; height:30px; padding-left:22px;}
.xmtjbhg a { display:block;  background:url(../image/jbhgico.jpg) no-repeat left center;height:30px; padding-left:25px;}
.xmtjbhg a:hover { display:block;  background:url(../image/jbhghico.jpg) no-repeat left center; height:30px; padding-left:25px;}
.xmtjyfk a { display:block;  background:url(../image/jyfkico.jpg) no-repeat left center;height:30px; padding-left:25px;}
.xmtjyfk a:hover { display:block;  background:url(../image/jyfkhico.jpg) no-repeat left center; height:30px; padding-left:25px;}

#NewsTop_cnt{width:317px;}
.dis {display: block;}
.undis {display: none;}
.tabcen{ width:317px;  height:42px; background:url(../image/xinwen-top-bg2.jpg) repeat-x;border-bottom:1px solid #cfcfcf;}
.tabcen p{ float:left; display:block;font-family:"微软雅黑"; display:inline;padding-top:0px; line-height:40px;font-size:14px;} 
.tabcen a{ color:#000000; font-size:18px; border-top:2px solid #4e4e4e; display:block;  height:40px;}
.tabcenh2{width:106px;}

.tabcenh{width:106px;line-height:40px;font-size:18px;text-align:center;font-family:"微软雅黑"; }
.tabcenh a{color:#be000c;font-size:18px;background:url(../image/tabhoverbg2.jpg) no-repeat left top; height:40px;line-height:40px;text-align:center; padding-top:2px; border:none;width:106px; display:block;}

.ywcon{ padding:5px 7px 5px 10px;}
.ywtop2{ height:205px; padding-top:5px;}
.ywtop2 div{ height:170px; overflow:hidden;}
.ywtop2 img{ width:300px;}
.ywtop2 h3{ font-size:15px; border-bottom:1px dotted #d8d6d6;  text-align:center;}
.ywtop h3{ font-size:15px;}
.yyjianjie{ line-height:20px; font-size:13px; color:#4f4f4f;}
.ywul li{ line-height:25px; font-size:14px;}
.ywul .ywbold { font-size:15px; font-weight:bold; padding-top:3px;}
.main2{ padding-top:10px; height:175px; width:1001px;}
.main3{ padding-top:10px; height:auto;width:1001px;}
.main3left{ float:left; width:672px; height:auto;}
.main3right{ float:left; width:300px; padding-left:29px; height:auto;}
.main3leftc{ padding-bottom:15px;}
.lefttitle{ height:47px; border-bottom:1px solid #dbdbdb; margin-bottom:8px; background:url(../image/graylinebg.jpg) repeat-x #fafafa;}
.lefttitlec{ height:34px; background:url(../image/titiletop.jpg) no-repeat left top;  padding-left:10px; padding-top:13px;}
.titlech{ color:#9c0102; font-size:23px;font-family:"微软雅黑";}
.titleeng{ color:#d7d6d6; font-size:24px;font-family:"微软雅黑";}
.main3leftclt{ float:left; width:320px; display:inline; padding-right:16px; height:330px;}
.main3leftcrt{ float:left; width:320px; display:inline; padding-left:15px; border-left:1px solid #e6e6e6;height:360px;}
.main3lefttitle{ background:url(../image/mainlefttitlebg.jpg) no-repeat; height:42px; line-height:32px; margin-bottom:5px;}
.main3lefttitle div{ color:#FFFFFF; font-size:18px;font-family:"微软雅黑"; width:101px; text-align:center;}
.main3lefttitle .gdimg{ float:right; padding-top:10px;}
.textlistul li{ line-height:31px; height:31px; background:url(../image/grayline.jpg) no-repeat right bottom; font-size:13px;}
.textlistul li div{ background:url(../image/sjico.jpg) no-repeat 3px 10px; padding-left:15px;}
.textlistuld li{ line-height:31px; height:31px; background:url(../image/grayline.jpg) no-repeat right bottom; font-size:14px; width:330px;}
.textlistuld li div{ background:url(../image/sjico.jpg) no-repeat 3px 10px; padding-left:15px;}
.yspcon{ width:320px; overflow:hidden;}
.textlistuld2020 li{ line-height:31px; height:31px; background:url(../image/grayline.jpg) no-repeat right bottom; font-size:14px; width:330px;}
.textlistuld2020 li div{ background:url(../image/sjico.jpg) no-repeat 3px 10px; padding-left:15px;}
.yspcon{ width:320px; overflow:hidden;}
.splistul{ width:340px; padding-top:5px;}
.splistul li{ float:left; width:150px;  height:160px; padding-right:20px;}
..splistul li .spimg{ height:106px;}
.splistul li .spimg img{  width:146px; height:102px;}
.splistul li .spimg a{ display:block;border:1px solid #cccccc; padding:1px;width:146px; height:102px;}
.splistul li .spimg a:hover{display:block;border:1px solid #959593; background-color:#959593;}
.splistul li .sptit{ font-size:13px; line-height:21px; padding-top:5px;}
.splistul li .sptime{ font-size:12px; height:12px; line-height:12px; color:#666666;}
.splistul li .sptime img{ padding-right:3px;}
.leftnewstop{ border-bottom:1px  dashed #dbdbdb; height:300px;} 
.leftnewstop .leftnewstopimg{}
.leftnewstop .leftnewstopimg a{display:block;border:1px solid #cccccc; padding:4px;width:310px; height:170px; overflow:hidden;}
.leftnewstop .leftnewstopimg a:hover{display:block;border:1px solid #908f8f; padding:4px;width:310px; height:170px;}
.leftnewstop .leftnewstopimg a div{ height:170px; cursor:pointer; overflow:hidden;}
.leftnewstop .leftnewstopimg a img{width:310px;}
.leftnewstop .leftnewstoptit{ font-weight:bold; font-size:15px; line-height:32px; padding-top:5px;}
.leftnewstop .leftnewstopjj{ color:#5a5b5b; font-size:13px; line-height:24px; text-indent:4ex;}
.textlistul2 li{ background:url(../image/redico.jpg) no-repeat left 14px; line-height:33px; padding-left:10px; font-size:14px;}
.main3rightc{ padding-bottom:16px;}
.main3rightcdh{ height:43px; background:url(../image/indexrdhbg.jpg) repeat-x; padding-right:10px;}
.main3rightcdh .tit{ background:url(../image/indexrdhtit.jpg) no-repeat; font-size:22px;font-family:"微软雅黑"; text-align:center; color:#FFFFFF; height:43px; width:147px; line-height:38px;}
.main3rightcdh .gdimg{ float:right; padding-top:13px;}
.xyztul{ padding-top:12px;}
.xyztul  a{ display:block;border:1px solid #cccccc; margin-bottom:8px;width:292px; padding:3px; height:62px; overflow:hidden;}
.xyztul  a:hover{ display:block;border:2px solid #888585; margin-bottom:8px;width:292px; padding:2px; height:62px; overflow:hidden;}
.xyztul  a img{ width:292px;height:62px;}
.main3rightcon{ background-color:#f9f9f9; padding:10px; border:1px solid #f5f5f5; border-top:none;}
.bottom{ background-color:#f8f8f8; height:auto;}
.bottomline{ background-color:#dbdbdb; height:3px; font-size:0px; line-height:0px; overflow:hidden;}
.bottomlinec{ background-color:#c80000; height:3px; width:1004px; margin:0px auto; font-size:0px; line-height:0px; overflow:hidden;}
.bottomcon{ border-top:2px solid #717171;}
.yqlj{ width:1004px; margin:0px auto;}
.yqljtitle{ color:#170000;  padding:15px 15px 0px 10px; font-size:18px; font-family:"微软雅黑";line-height:20px;}
.yqljcon{ padding:15px 15px 0px 15px; font-size:12px; color:#afafaf;}
.yqljcon a{color:#616161;margin:0px 3px;}
.yqljcon a:hover{color:#aa0808;margin:0px 3px;}

.yqljcon2{font-size:12px; color:#afafaf; height:60px;}
.yqljcon2 ul{list-style:none;}
.yqljcon2 ul li{padding:0px 2px; background:url(../image/img-ge.jpg) no-repeat right center; float:left;height:25px;line-height:25px;}
.yqljcon2 ul li a{color:#616161;}
.yqljcon2 ul li a:hover{color:#aa0808;}

.bottomcon{border-top:1px solid #bdbdbd; margin:0px auto; width:1004px; margin-top:10px; font-size:12px;color:#616161; padding-bottom:15px; padding-top:10px; text-align:center;}
.bottomcon p{line-height:30px;margin:0px;padding:0px;}
.linkcss{ display:none;}
.listmain{ width:1004px; margin:0px auto; padding-top:15px;}
.listdaohang{ border-top:2px solid #4e4e4e; background-color:#f9f9f9; height:35px;font-family:"微软雅黑"; padding-left:10px; font-size:14px; line-height:35px;}
.listmainc{ margin-top:15px; border:1px solid #dddddd; margin-bottom:20px; height:auto; padding:18px 0px 10px 0px;}
.atitle{ font-family:"微软雅黑"; font-size:28px; text-align:center; font-weight:normal; padding-bottom:15px; line-height:35px;}
.imginfo{ padding:0px 25px 0px 25px;}
.info{ border-top:1px dotted #cbcbcb; padding-top:15px; padding-bottom:10px; color:#323232; font-size:12px;}
.imgcontent{ padding:15px 20px 5px 20px; text-indent:4ex;}
.videocontent{ margin:25px 0px 20px 0px;}
.newslistcon{ width:1200px; margin:0px auto; padding-top:15px; padding-bottom:15px;position:relative;}
.listleft{ float:left; width:875px; display:inline;overflow:hidden;min-height:980px;}
.listright{position:absolute; width:305px;top:15px;right:0px;min-height:980px;}
.listrightc{  border-top:2px solid #4e4e4e; background-color:#f9f9f7;}
.listrightcon{ border:1px solid #f5f5f5; border-top:none;height:auto; padding:0 10px 10px 10px; margin-bottom:15px;}
.listrightdh{ font-family:"微软雅黑"; color:#d90000; height:40px; line-height:36px; font-size:17px;}
.listdhimg{ padding-top:5px; overflow:hidden;}
.listdhimg img{ width:675px;}
.listtextul li{background:url(../image/redico.jpg) no-repeat 10px 16px; line-height:40px; padding-left:25px; font-size:14px; border-bottom:1px solid #f5f5f5; line-height:40px;}
.listtextul li .floatright{font-family:"微软雅黑"; color:#535353; font-size:13px;} 
.listrightdh .floatright{ padding-top:13px;}
.videos{  height:auto; padding-left:3px;}
.videos ul{ width:100%;}
.videos ul li{ float:left; line-height:20px;width:132px;padding-left:0px; padding-right:8px; padding-bottom:7px; padding-top:3px; font-size:12px;}
.spsmallimg{ display:block;padding:1px; text-align:center; border:1px solid #CCCCCC;width:128px; margin-bottom:5px;}
.spsmallimg:hover{ display:block;padding:1px;text-align:center; border:1px solid  #545353;width:128px; margin-bottom:5px;}
.spsmallimg img{ width:128px;}
.videos ul li a{ font-size:12px;}
.videos ul li font,.videos ul li span{ font-size:12px; color:#909090; font-family:Arial, Helvetica, sans-serif;}
.listimgul{border-top:1px solid #f0f0f0; margin-top:15px; margin-bottom:5px;}
.listimgul li{ height:auto; overflow:hidden;}
.listimgul li table{ padding:0px; margin:0px;}
.listimgul .listimgula{ display:block;  border-bottom:1px solid #f0f0f0; padding:15px 0px 15px 0px;}
.listimgul .listimgula:hover{ display:block; background-color:#f7f7f7;padding:15px 0px 15px 0px;}
.listimgulimg img{ width:124px; height:82px;}
.listimgultitle{ font-size:20px; font-family:"微软雅黑";}
.listimguljj{ font-size:12px; line-height:25px; color:#818181;}
.contentmain{ padding-top:5px;width:875px;}
.contentmain .yinti{ font-family:"微软雅黑"; line-height:35px; text-align:center;}
.contentmain .title{font-family:"微软雅黑"; text-align:center; padding-top:5px; font-size:27px; font-weight:normal; line-height:35px;}
.contentmain .fubiaoti{ text-align:center;font-family:"微软雅黑";font-weight:normal; padding-top:10px; line-height:35px;}
.contentmain .jianjie{ border:1px solid #dcdcdc; background-color:#f7f7f7; padding:10px; color:#666666; line-height:23px; text-indent:4ex;}
.contentmain .content{ line-height: 200%;
font-size:16px;
padding-bottom:30px;}
.contentmain .content{ padding-top:20px;color:#170000;}
.contentmain .content p{ padding-top:7px; padding-bottom:7px;text-indent:2.4em;}
.contentmain .content img{padding-top:5px;padding-bottom:5px;max-width:100%;;display:block;margin:0px auto;}
.contentmain .content span{font-size:16px;}
.fenxianga{ border-bottom:1px dotted #cccccc;}
.contentmain .frontart{ padding-top:8px;}
.artmes{ padding-top:15px;}
.artmes b{ font-size:14px; color:#333333;}
.mesline{ height:2px; background-color:#d0d0d0; font-size:0px; line-height:0px; margin-bottom:10px;}
.mesline .line{height:2px;background-color:#c70909; font-size:0px; line-height:0px; width:75px;}
.mescon{ border:1px solid #dddddd; background-color:#f8f8f8; height:auto; padding:10px; margin-bottom:10px;}
.mescon .mesname{}
.mescon .mesname .tbx{ border:1px solid #d4d4d4; height:18px;}
.mescon .mesname  font{ color:#c70909;}
.mescon .mescontent{ padding-bottom:10px;}
.mescon .mescontent .tbxcon{border:1px solid #d4d4d4; height:100px; width:650px;}
.mescon .mesfbtbn{ text-align:right;}
.redbtn{ background-color:#c70909; width:100px; height:28px; color:#FFFFFF; border:none; font-size:14px;}
.mesul li{ border-bottom:1px solid #d4d4d4;}
.mesul .uname{ font-size:12px;}
.mesul .uname font{ color:#379be9; font-size:12px;}
.mesul .uname span{ color:#999999;}
.mesul .umescon{ padding-left:15px;}
.page{ padding-top:18px;}
.imagelistd{ width:675px; overflow:hidden;}
.imagelistc{ margin-top:10px; width:685px;}
.imagelistc li{ float:left;background:url(../image/imagelistbg.jpg) no-repeat; padding:6px 6px 0px 6px; width:206px; height:205px; margin-bottom:15px; margin-right:10px; display:inline;}
.imagelistc img{ width:206px; height:160px;}
.imagelistc li .ilimg{ height:170px;}
.sjgddaohangt{ border-top:3px solid #4e4e4e; font-size:0px; line-height:0px; height:0px;  border-bottom:5px solid #f9f9f9;}
.sjgddaohangc{ background:url(../image/sjgdtpico.jpg) no-repeat 3px center; padding-left:38px;  font-weight:bold; font-size:20px; font-family:"微软雅黑"; color:#000000;}
.sjgddaohangc span{ float:right; padding-top:10px;}
.sjgdimg{ border:1px solid #b7b7b7; height:224px; padding:10px; background-color:#eff0f0; margin-top:15px;}
.sjgdimg img{ width:330px; height:224px;}
.sjgdimg h4{font-size:16px; font-family:"微软雅黑";}
.sjgdimg .subinfo{ color:#666666; font-size:12px;}
.sjgdimg .imgjianjie{ font-size:12px; text-indent:4ex; line-height:26px;}
.sjgdimg .imgjianjie a{ color:#a7090a;}
.sjgdvideo{  height:244px;   margin-top:5px;}
.sjgdvideo img{ width:360px; height:224px;}
.sjgdvideo h4{font-size:16px; font-family:"微软雅黑";}
.sjgdvideo .subinfo{ color:#666666; font-size:12px;}
.sjgdvideo .imgjianjie{ font-size:12px; text-indent:4ex; line-height:26px;}
.sjgdvideo .imgjianjie a{ color:#a7090a;}
.videolistd{ width:675px; overflow:hidden;}
.videolistd .videolistc{ margin-top:10px; width:705px;}
.videolistd .videolistc li{ float:left;padding:6px 0px 0px 0px; width:213px;  margin-bottom:15px; margin-right:20px; display:inline;}
.videolistd .videolistc img{ width:206px; height:150px;}
.videolistd .videolistc li .ilimg{ height:160px; overflow:hidden;}
.videolistd .videolistc li .iltext{ line-height:23px;}
.listimgul2{border-top:1px solid #f0f0f0; margin-top:15px; margin-bottom:5px;}
.listimgul2 li{ height:auto; overflow:hidden;}
.listimgul2 li table{ padding:0px; margin:0px;}
.listimgul2 .listimgula2{ display:block;  border-bottom:1px solid #f0f0f0; padding:15px 0px 15px 0px;}
.listimgul2 .listimgula2:hover{ display:block; background-color:#f7f7f7;padding:15px 0px 15px 0px;}
.listimgulimg2 {width:164px; display:block; height:112px;border:1px solid #CCCCCC; padding:2px;}
.listimgulimg2 div{ height:112px; overflow:hidden; cursor:pointer;}
.listimgulimg2 img{ width:164px;}
.listimgultitle2{ font-size:20px; font-family:"微软雅黑";}
.listimguljj2{ font-size:13px; line-height:25px; color:#818181;}
.mapul{background:url(../image/mapbg.jpg); width:1004px; height:auto;}
.mapul li{ line-height:40px;font-size:13px; width:482px; padding-left:20px; height:40px; float:left;  font-family:"微软雅黑";}
.mapul li b{ font-size:16px;}
.mapul .altline{ background-color:#f8f8f7;}
.weibot{ height:53px;}
.weibodiv{ border:1px dotted #d9d9d9;  height:379px; margin-top:10px; padding-top:0px; padding-left:5px;}
.weinxin{ border:1px solid #d9d9d9; height:237px; margin-top:5px; padding:1px; font-family:"微软雅黑";}
.weixincon{ background:url(../image/weixinbg.jpg) repeat-x; height:237px;}
.weixinma { line-height:20px;}
.weixinma b{ font-size:15px;}
.weixinma font{ color:#4f8708;}
.gzwx  div{ font-size:12px;}
.gzwx  b{ font-size:13px;}
.gzwx h2{ font-size:22px; color:#4f8708; font-weight:normal;}
.indexweixin a{ display:block; height:130px; width:220px;}
.xiaoyuanguangbo a{ display:block; height:130px; width:180px;}
<!--

#ImgPlayer{width:669px; height:352px; overflow:hidden; border:1px #BDCBD7 solid; padding:1px 3px 0 1px;}
#ImgBlk{width:442px; height:339px; background-color:#E9F0F7; padding:13px 12px 0 11px; float:left;}
#ss_img_div{width:442px; height:302px; overflow:hidden;}
#ss_img_div img{}
#ImgNum{height:37px; overflow:hidden;}
#ImgNum ul{ padding:0 0 0 0; float:right; cursor:default; padding-top:6px;}
#ImgNum li{width:30px; height:28px; line-height:28px; overflow:hidden; padding:0px 0 0 0; text-align:center; font-family:Arial;  font-size:12px; float:left; margin-left:5px; cursor:pointer;}
#ImgNum li.itemOff{background:url(../image/news_pic_ws_002.gif) no-repeat top; color:#000;}
#ImgNum li.itemOff:hover{color:#A80000;}
#ImgNum li.itemOn{background:url(../image/news_pic_ws_003.gif) no-repeat top; color:#A80000; font-weight:bold; height:28px; line-height:28px; padding:0px 0 0 0; overflow:hidden;}
#ImgNum div{float:left; width:73px; text-align:left; padding:4px 0 0 0; margin:10px 0 0 0; height:15px; line-height:15px; cursor:pointer; font-size:12px; color:#7D98BF;}
#Play{background:url(../image/news_pic_ws_004.gif) no-repeat bottom right;}
#Pause{background:url(../image/news_pic_ws_005.gif) no-repeat bottom right;}
#TxtBlk{width:203px; float:left;}
#Txt{padding:15px 10px 0 10px; text-align:left; height:300px;  border-left:none;}
#Txt h2{color:#A80000; text-align:left; font-size:18px; font-family:"微软雅黑"; font-weight:normal; padding:1px 0 5px 0; background:none;}
#Txt h2 a,#Txt h2 a:visited{color:#333333; text-decoration:none;}
#Txt h2 a:hover,#Txt h2 a:active{color:#A80000; text-decoration:underline;}
#con{text-align:left; text-indent:4ex;  color:#666666; line-height:21px;}
#date_PN{text-align:left; font-size:12px;}
#date{padding:12px 0 0 8px; color:#5C5C5C; width:200px; float:left; text-align:center;}
#PN{float:left; width:100px; padding:11px 0 0 0;}
#PN #pre{display:block; float:left; width:42px; padding:0 0 0 8px;text-decoration:none; color:#009;}
#PN #next{display:block; float:left; width:44px; padding:0 0 0 6px;text-decoration:none; color:#009;}
#PN #pre:visited,#PN #next:visited{color:#009;}
#PN #pre:hover,#PN #next:hover{text-decoration:underline;}

-->

.xyjz { font-family:"微软雅黑"; font-size:16px;}
.xyjz td{ padding-left:30px;}
.gdjs img{ width:280px;}
.zxjzcss{ margin-top:15px;font-family:"微软雅黑";}
.zxjzcss th{ text-align:right; width:20%; height:40px;}
.zxjzcss td{ padding-left:15px; width:80%;height:40px;}
.zxjzcss td .tbx{border:1px solid #d4d4d4; height:23px; line-height:23px; width:440px;}
    .erweima{border-bottom: 1px dotted #CCC; margin-bottom:5px;padding-bottom: 15px;}
    .erweima p{ width:220px;display: inline-block;*zoom:1;*display:inline; text-align:center;}
    .erweima img{width:130px; display:block;margin: 0 auto;padding-bottom: 10px;}
    .erweima span{ line-height:20px;}


.contentmain .content p{    font-size: 16px !important;
    color: #323232;
    line-height: 36px !important;
    font-family: "微软雅黑";
    margin-bottom: 8px;}
.contentmain .content span{    font-size: 16px !important;
    color: #323232;
    line-height: 36px !important;
    font-family: "微软雅黑";
    margin-bottom: 8px;}