/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-6-10, 16:23:04
    Author     : Administrator
*/


/* CSS Document */
*{ padding:0; margin:0}
ul,ol{ list-style-type:none}
a{ text-decoration:none}
a:hover{ color: #de1620}
img{ border:0}
.qingchu{ clear:both}
/*列表页广告*/
.xiangqing_one{ width: 1000px; margin: auto; overflow: hidden; position: relative; margin-top: 36px}
.xiangqing_one img.xiangqing_guanggao_one{ width: 770px; height: 90px; float: left}
.xiangqing_one img.xiangqing_guanggao_two{ width: 220px; height: 90px; float: left; margin-left: 10px; display: inline}
/*列表页广告*/
/*标题+栏目位置+搜索*/
.xiangqing_biaoti{  width: 100%; margin: auto; padding-bottom: 50px}
.xiangqing_two{ width: 1000px; margin: auto; overflow: hidden}
.xiangqing_two_left{ float: left; margin-top: 26px; display: inline}
.xiangqing_two_left ul li{ float:left}
.xiangqing_two_left ul li.lanmu{ height: 40px; line-height: 40px; margin-top: 8px}
.xiangqing_two_left ul li.lanmu a{ font-family: "微软雅黑"; font-size: 12px; color: #898989; padding-left: 5px}
.xiangqing_two_right{ float: right; margin-top: 40px; display: inline}
.xiangqing_two_right ol{ margin-right: 2px}
.xiangqing_two_right ol li{ float:left}
.xiangqing_two_right ol li form #wd{ width: 224px; height: 30px; border: solid 1px #707070; border-radius: 5px; color: #cbc9ca; padding-left: 10px; font-family: "微软雅黑"; font-size: 16px; text-align: 30px; float: left; margin-right: 8px; display: inline}
.xiangqing_two_right ol li form #search-btn{ width: 27px; height: 30px; float: left; border:0;}
.xiangqing_two_right ol li form #search-btn img{ width: 27px; height: 30px}
/*标题+栏目位置+搜索*/

/*大标题+摘要+分享*/
.xiangqing_dabiaoti{  width: 1000px; margin: auto}
.xiangqing_dabiaoti h2{font-family: "微软雅黑"; font-size: 38px; color: #000000; line-height: 60px}
.xiangqing_dabiaoti p{font-family: "微软雅黑"; font-size: 22px; color: #000000; margin-top: 15px; line-height: 40px}
.xiangqing_dabiaoti .fxandtime{ width: 1000px; margin: auto; margin-top: 20px}
.xiangqing_dabiaoti .fxandtime .fxandtime_left{ float: left}
.xiangqing_dabiaoti .fxandtime .fxandtime_left ul{ margin-top: 12px}
.xiangqing_dabiaoti .fxandtime .fxandtime_left li{ float: left; margin-right: 20px; display: inline;font-family: "微软雅黑"; font-size: 12px; color: #898989}
.xiangqing_dabiaoti .fxandtime .fxandtime_left li a{ font-family: "微软雅黑"; font-size: 12px; color: #898989}
.xiangqing_dabiaoti .fxandtime .fxandtime_right{ float: right}
/*大标题+摘要+分享结束*/

/*文章*/
.xiangqing_three{ width: 1000px; margin: auto; overflow: hidden; margin-bottom: 56px}
.xiangqing_three_left{ float:left; width: 660px; margin-top: 28px; overflow: hidden}
.xiangqing_three_left iframe{width:100%!important;position: relative;left: -2em;}
.xiangqing_three_left p{font-family: "微软雅黑"; font-size: 18px; color: #000000; line-height: 28px; text-indent: 2em;}
.xiangqing_three_left img{ text-indent: 0em; width: 660px}
.xiangqing_three_left p img{ text-indent: 0em; width: 660px; float: left;}
.xiangqing_three_left .relatedread{ width: 660px; border: solid 1px #dddddd; margin-top: 60px; margin-bottom: 60px} 
.xiangqing_three_left .panel-heading{ width: 660px; height: 44px; border-bottom:solid 1px #dddddd}
.xiangqing_three_left .panel-heading h3{ line-height: 44px; margin-left: 14px; color: #c1161c}
.xiangqing_three_left .panel-body ul{ margin-top: 26px; margin-left: 16px}
.xiangqing_three_left .panel-body ul li{ margin-bottom: 23px}
.xiangqing_three_left .panel-body ul li a{ color: #333333}
/*文章*/
.xiangqing_three_right{ float:left; width: 318px; margin-left: 22px; display: inline; margin-top: 22px}

/*精彩推荐*/
.xiangqing_three_right .nanningxiaoshi{ width: 318px; height: 306px; overflow: hidden}
.xiangqing_three_right .nanningxiaoshi .xiaoshi24{ border-bottom:solid 1px #eeeeee; width: 318px;}
.xiangqing_three_right .nanningxiaoshi .xiaoshi24 h2{ width: 100px; border-bottom: solid 1px #e23e3e; padding-bottom: 5px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi24 h2 a{ font-family: "微软雅黑"; font-size: 18px; color: #333333; font-weight: normal}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_one{width: 318px; margin-top: 8px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_one h3{ height: 32px;font-family: "微软雅黑"; font-size: 14px; color: #333333; font-weight: normal; border-left: solid 2px #dddddd; line-height: 32px; padding-left: 8px; display: none}
/*.index_five_right .nanningxiaoshi .xiaoshi_wenzhang_one h3:hover{ border-left: solid 2px #e23e3e}*/
/*.index_five_right .nanningxiaoshi .xiaoshi_wenzhang_one h3:hover +.xiaoshi_wenzhang_one_neirong{ display: block}*/
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_one .xiaoshi_wenzhang_one_neirong{ margin-top: 14px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_one .xiaoshi_wenzhang_one_neirong img{ width: 120px; height: 90px; float: left}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_one .xiaoshi_wenzhang_one_neirong p{ width: 185px; height: 90px; float: left;font-family: "微软雅黑"; font-size: 14px; color: #333333; line-height: 22px; margin-left: 12px; display: inline}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_one .xiaoshi_wenzhang_one_neirong p:hover{ color: #de1620}


.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_two{width: 318px; margin-top: 8px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_two h3{ height: 32px;font-family: "微软雅黑"; font-size: 14px; color: #333333; font-weight: normal; border-left: solid 2px #e23e3e; line-height: 32px; padding-left: 8px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_two .xiaoshi_wenzhang_two_neirong{ margin-top: 14px; display: none}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_two .xiaoshi_wenzhang_two_neirong img{ width: 120px; height: 90px; float: left}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_two .xiaoshi_wenzhang_two_neirong p{ width: 185px; height: 90px; float: left;font-family: "微软雅黑"; font-size: 14px; color: #333333; line-height: 22px; margin-left: 12px; display: inline}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_two .xiaoshi_wenzhang_two_neirong p:hover{ color: #de1620}

.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_three{width: 318px; margin-top: 8px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_three h3{ height: 32px;font-family: "微软雅黑"; font-size: 14px; color: #333333; font-weight: normal; border-left: solid 2px #dddddd; line-height: 32px; padding-left: 8px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_three .xiaoshi_wenzhang_three_neirong{ margin-top: 14px; display: none}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_three .xiaoshi_wenzhang_three_neirong img{ width: 120px; height: 90px; float: left}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_three .xiaoshi_wenzhang_three_neirong p{ width: 185px; height: 90px; float: left;font-family: "微软雅黑"; font-size: 14px; color: #333333; line-height: 22px; margin-left: 12px; display: inline}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_three .xiaoshi_wenzhang_three_neirong p:hover{ color: #de1620}

.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_four{width: 318px; margin-top: 8px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_four h3{ height: 32px;font-family: "微软雅黑"; font-size: 14px; color: #333333; font-weight: normal; border-left: solid 2px #dddddd; line-height: 32px; padding-left: 8px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_four .xiaoshi_wenzhang_four_neirong{ margin-top: 14px; display: none}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_four .xiaoshi_wenzhang_four_neirong img{ width: 120px; height: 90px; float: left}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_four .xiaoshi_wenzhang_four_neirong p{ width: 185px; height: 90px; float: left;font-family: "微软雅黑"; font-size: 14px; color: #333333; line-height: 22px; margin-left: 12px; display: inline}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_four .xiaoshi_wenzhang_four_neirong p:hover{ color: #de1620}

.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_five{width: 318px; margin-top: 8px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_five h3{ height: 32px;font-family: "微软雅黑"; font-size: 14px; color: #333333; font-weight: normal; border-left: solid 2px #dddddd; line-height: 32px; padding-left: 8px}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_five .xiaoshi_wenzhang_five_neirong{ margin-top: 14px; display: none}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_five .xiaoshi_wenzhang_five_neirong img{ width: 120px; height: 88px; float: left}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_five .xiaoshi_wenzhang_five_neirong p{ width: 185px; height: 88px; float: left;font-family: "微软雅黑"; font-size: 14px; color: #333333; line-height: 22px; margin-left: 12px; display: inline}
.xiangqing_three_right .nanningxiaoshi .xiaoshi_wenzhang_five .xiaoshi_wenzhang_five_neirong p:hover{ color: #de1620}

/*精彩推荐结束*/



.sharebox{  margin-top: 0px}


