
/* CSS Document */


*{ padding:0; margin:0}
ul,ol{ list-style-type:none}
a{ text-decoration:none}
img{ border:0}
.qingchu{ clear:both}
.dibu{ width: 1000px; overflow: hidden; margin: auto; height: 350px; margin-top: 56px}
.dibu ul{ margin-left: 132px}
.dibu ul li{ float: left; margin-right: 10px; display: inline; margin-bottom: 8px}
.dibu ul li a{ font-family:"宋体"; font-size: 12px; color: #000000}
.dibu p{ text-align: center;font-family:"宋体"; font-size: 12px; color: #000000; margin-bottom: 8px}
.dibu dl{ width: 290px; margin: auto; margin-top: 30px}
.dibu dl dd{ float: left; width: 51px; height: 49px; margin-right: 6px; display: inline}
.dibu dl dd img{width: 51px; height: 49px}
.shiyedanwei{ margin: auto; width: 52px; height: 65px; margin-top: 24px}

/*公众号*/
.gongzhonghao{ position: fixed; right: 100px; top:50%}
.gongzhonghao .erweima{ width: 100px; float: left; border: solid 1px #dddddd}
.gongzhonghao .erweima img{ width: 100px; height: 100px}
.gongzhonghao .erweima .weixin{ width: 100px;height: 30px; text-align: center; background: #eeeeee; line-height: 30px;font-family: "宋体"; font-size: 12px; color: #666666; cursor: pointer}
.gongzhonghao .erweima #_ins{ width: 100px; height: 100px; background: #000000; cursor: pointer}
.gongzhonghao .erweima #_inss{ width: 100px; height: 100px; background: #000000; display: none; cursor: pointer}
.gongzhonghao .erweima #_insss{ width: 100px; height: 100px; background: #000000; display: none; cursor: pointer}
.gongzhonghao .erweima #_inssss{ width: 100px; height: 100px; background: #000000; display: none; cursor: pointer}
.gongzhonghao .guanbi{ width: 15px; height: 15px; float: left;font-family: "宋体"; font-size: 14px; color: #666666; text-align: center; line-height: 15px; border: solid 1px #dddddd; cursor: pointer}
/*公众号结束*/