
/*
	Css for PEL,	ver 1.0
	CopyRight By Dongyi Network Technology CO.,Ltd Design Center

	所有网站通用模块，可根据自身网站修改
*/
/* 通用信息列表 */
.infoList{text-align: left;}
.infoList li{height: 30px; line-height: 30px; overflow: hidden; 
    font-size: 12px;}
.infoList li a{}
.infoList li .date{float: right;font-size: 12px;
    color: #666;}
.infoList li .node{color: #f00; margin-right: 5px;}
.infoList li.noData{color: #999; background: none; padding: 0;}

/* 时间信息列表 */
.dateInfoList{text-align: left;}
.dateInfoList li{padding: 8px 0; line-height: 24px; border-bottom: 1px dotted #ccc;}
.dateInfoList li a{}
.dateInfoList li .dateRight{float: right; color: #999;}
.dateInfoList li.last{border-bottom: none;}


/* 通用带图片的信息列表_普通式 */
.picList li{text-align: center;}
.picList li .pic img{width: 95px; height: 125px; padding: 4px; border: 1px solid #ddd; background: #fff;}
.picList li .pic a:hover img{border-color: #aaa;}
.picList li .title{padding-top: 5px;}


/* 通用带图片的信息列表_普通式 - 横排浮动 */
.picListFl{margin-right: -2%; overflow: hidden; zoom: 1;}
.picListFl li{width: 23%; margin-right: 2%; text-align: center; float: left; _display: inline; overflow: hidden;}
.picListFl li .pic{overflow: hidden}
.picListFl li .pic img{width: 100%; transition: 200ms; -webkit-transition: 200ms; -o-transition: 200ms; -moz-transition: 200ms;}
.picListFl li .title{font-size: 14px; padding-top: 8px; max-height: 56px;}
.picListFl li:hover .pic img{transform: scale(1.05, 1.05); -moz-transform: scale(1.05, 1.05); -webkit-transform: scale(1.05, 1.05); -o-transform: scale(1.05, 1.05);}


/* 内容带图片的信息列表_普通式 - 左图片右文字 */
.txtPicList li{overflow: hidden; padding-bottom: 10px; margin-bottom: 10px;}
.txtPicList li .pic{width: 96px; float: left;}
.txtPicList li .pic img{width: 90px; height: 90px; padding: 2px; border: 1px solid #ddd; background: #fff;}
.txtPicList li .pic a:hover img{border-color: #aaa;}
.txtPicList li .con{width: 230px; float: left; padding-left: 8px;}
.txtPicList li .title{height: 28px; line-height: 28px; font-size: 14px; color: #c30000; font-weight: bold;}
.txtPicList li .title a{color: #c30000;}
.txtPicList li .intro{color: #666; line-height: 20px;}
.txtPicList li .intro .more{color: #c30000; font-size: 12px;}
/* 内容带图片的信息列表_普通式 - 上图片下文字 */
.txtPicListB li .pic img{width: 190px; height: 120; padding: 4px; border: 1px solid #ddd; background: #fff;}
.txtPicListB li .pic a:hover img{border-color: #aaa;}
.txtPicListB li .title{height: 28px; line-height: 28px; font-weight: bold;}
.txtPicListB li .title a{color: #9b770a;}
.txtPicListB li .intro{color: #666;}
.txtPicListB li .intro .more{color: #f60;}
/* 头条图文信息列表_普通式 */
.topicList .t{overflow: hidden;}
.topicList .t .pic{width: auto; float: left; margin-right: 20px;}
.topicList .t .title{height: 28px; line-height: 28px; font-size:16px; font-weight: bold;text-align: center; padding-top: 5px;}
.topicList .t .title a{color: #fff;}
.topicList .t .intro{    padding-top: 5px;
    line-height: 21px;
    font-size: 13px;
    color: #fff;
    text-indent: 2em;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px dashed #d1d1d1;}
.topicList .t .intro .more{color: #0087cb;}
.topicList .t .intro .more:hover{color: #d53b05;}
.topicList .n{height: 32px; line-height: 32px; overflow: hidden; }
.topicList .n .tit{}
.topicList .n .date{float: right; color: #999; margin-left: 10px;}
.topicList .noData{padding: 0; background: none; color: #999;}

/* 有图片时追加的类 class="topicList topicHasPic" */
.topicHasPic .t{position: relative; overflow: hidden; zoom: 1; border-bottom: 1px dashed #ccc;}
.topicHasPic .pic{width: 160px; margin-right: 20px; float: left;}
.topicHasPic .pic img{width: 100%; /* height: 120px; */}
.topicHasPic .pic a:hover img{border-color: #aaa;}
.topicHasPic .con{overflow: hidden; zoom: 1;}
/* 焦点图切换-广告 */
.slideBox{height: 100px; overflow: hidden; position: relative;}
.slideBox .hd{position: absolute; z-index: 1; right: 5px; bottom: 5px;}
.slideBox .hd ul{overflow: hidden; zoom: 1; float: left;}
.slideBox .hd ul li{font-size: 12px; float: left; margin-right: 2px; width: 16px; height: 16px; line-height: 16px; text-align: center; background: #000; cursor: pointer; color: #fff; filter: alpha(opacity=60); opacity: 0.6;}
.slideBox .hd ul li.on{background: #f00; filter: alpha(opacity=100); opacity: 1;}
.slideBox .bd{position: relative; z-index: 0;}
.slideBox .bd .con{display: none;}
/* 焦点图切换-新闻内容 */
.focusBox{overflow: hidden; position: relative;}
.focusBox .hd{position: absolute; z-index: 1; right: 10px; bottom: 14px;}
.focusBox .hd ul{overflow: hidden; zoom: 1; float: left;}
.focusBox .hd li{color: #fff;}
.focusBox .bd{position: relative; overflow: hidden;}
.focusBox .bd li{position: relative;}
.focusBox .bd .pic{position: relative; z-index: 0; line-height: 0;}
.focusBox .bd .pic img{width: 100%; height: 388px; border: 0;}
.focusBox .bd .con{position: absolute; width: 100%; z-index: 1; bottom: 0; height: 38px; line-height: 38px; text-align: left;}
.focusBox .bd .con .title{position: absolute; width: 76%; bottom: 0; left: 0; z-index: 1; height: 100%; overflow: hidden;}
.focusBox .bd .con .title a{color: #fff; padding-left: 10px; text-decoration: none;}
.focusBox .bd .con .titleBg{position: absolute; width: 100%; z-index: 0; bottom: 0; left: 0; background: #000; filter: alpha(opacity=60); opacity: 0.6; height: 38px;}

/* url_方块样式分页 */
.page{font-size: 0; text-align: center; padding: 25px 0; clear: both;}
.page a, .page span{display: inline-block; _display: inline; font-size: 14px; zoom: 1; border: 1px solid #E1E1E1; padding: 0px 7px; margin: 0 3px 5px 0; line-height: 25px; height: 25px;}
.page a:hover, .page span:hover{border: 1px solid #3f87c1; text-decoration: none; color: #bf0101;}
.page .current{background: #3f87c1; border: 1px solid #3f87c1; color: #fff !important; font-weight: bold;}
.page select, .page input{margin: 0 4px; background: #fff; border: 0 solid #E1E1E1; vertical-align: middle;}
.page input{text-align: center; padding: 0 4px; outline: none;}
/*-- 网站地图 --*/
.siteMap{padding: 15px 10px; overflow: hidden; zoom: 1;}
.siteMap .li1{margin-bottom: 20px;}
.siteMap .h1{height: 40px; line-height: 40px; border: 1px dotted #ccc; background: #fff; background: #f6f6f6;}
.siteMap .h1 .a1{font: normal 16px/40px "Microsoft YaHei"; _font-weight: bold; color: #0068B7; padding-left: 15px;}
.siteMap .ul1{padding: 10px 20px; zoom: 1;}
.siteMap .li2{display: inline-block; *display: inline; zoom: 1; padding-right: 50px; vertical-align: top; padding-bottom: 5px;}
.siteMap .a2{color: #666;}
.siteMap .ul2{padding: 0 0 20px 0;}
.siteMap .li3{line-height: 18px; display: inline-block; *display: inline; zoom: 1;}
.siteMap .a3{color: #999; padding-right: 10px; margin-right: 10px; border-right: 1px solid #ddd;}
.siteMap .last3 .a3{border-right: 0;}
.siteMap #liID41 .li2{display: block;}

/*--
颜色代码
#1E72B4 深蓝色标题
#C4DEF8 淡蓝色边框
--*/