#wrap,
#header,
#header .topBar,
#header .logoBar,
#header .swf {
    width: 1320px
}

#content {
    width: 1300px
}

.mainNav {
    background-size: cover;
}

.mainNav .li1 {
    width: 130px;
}

.path {
    width: 1254px;
    background: url('../image/path1.jpg') 0px 0px no-repeat;
}

.side,
.sideMenu {
    width: 325px;
}

.sideMenu .bd ul {
    width: 297px;
}

.sideMenu .bd ul li {
    width: 137px;
}

.sideMenu .hd {
    background: url('../image/sideMenuHd1.jpg') 0px 0px no-repeat;
}

.mainContent {
    width: 955px;
}

.focusBoxA,
.focusBoxA .bd li,
.focusBoxA .bd li .pic img {
    width: 955px;
    height: 384px;
}

.focusBoxA .bd li .con,
.focusBoxA .bd li .con .bg {
    width: 316px;
}
.focusBoxA .bd li .con .title,
.focusBoxA .bd li .con .intro{
    width: 286px;
}

.focusBoxA .bd li .con {
    height: 385px;
}

.focusBoxA .bd li .con .title {
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.focusBoxA .bd li .con .intro {
    top:90px;
    height: 164px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
}

.focusBoxA .bd li .con .more {
    top: 285px;
    width: 91px;
    height: 31px;
    line-height: 31px;
}

.focusBoxA .bd li .con .bg {
    height: 385px;
}

#pagePicScroll {
    width: 955px;
}

#pagePicScroll .bd,
#pagePicScroll .bd .tempWrap {
    width: 884px !important;
}

#pageBoxLoop {
    width: 955px;
}

#pageBoxLoop .boxLoop {
    width: 468px;
}

#footer,
#footer .footerNav {
    width: 1300px;
}

.FriendSite{
    width: 1261px;
}
.FriendSite ul {
    width: 1051px;
    margin: 0 auto;
}

.pageTPList li.hasPic .pic,
.pageTPList li.hasPic .pic img {
    width: 139px;
}

.pageTPList li.hasPic .con {
    width: 754px;
}

.sideMenu .bd ul li.on a {
    background-size: cover;
}

.sideMenu .bd ul li a:hover{
    background-size: cover;
}

.pagePicList {
    width: 936px;
}

.pagePicList li,
.pagePicList li .pic,
.pagePicList li .pic img {
    width: 215px;
}

.pagePicList li {
    height: 156px;
}

.pagePicList li .pic,
.pagePicList li .pic img {
    height: 146px;
}

body {
    background: url('../image/body1.jpg') 50% 0px no-repeat !important;
}

html {
    background: url('../image/body-y1.jpg') 50% 0px repeat-y #fcfcfc !important;
}

.pagePicList li .title a {
    width: 212px;
}
.picListFl li {
	width: 185px !important;
}
.picListFl li .pic img,.picListFl li .title .bg,.picListFl li .title a{
    width: 185px;
}

#sideRMPH ul li {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.infoList li {
    white-space: nowrap;
    text-overflow: ellipsis;
}