body {
}

.display-none { display:none;}
.display-block { display: block;}

.btn-comment-r {
   /* width: 10%;*/
    float: right;
    background: #09B295;
    color:#fff;
    line-height:33px;
    padding:0 10px;
}
.input-comment-l {
    /*width: 90%;
    float: left;
    background: #09B295;*/
    width:95%;
    border: 1px #09B295 solid;
    color: #09B295;
    line-height: 33px;
    padding: 0 10px;
    margin:10px 0;
}

.clear-both { clear:both;}

.color-tomato {
    color: #dc4735
}

