/* 音频小插件样式 */
.audio-box{width: 40%;height: 40px;line-height: 40px;min-width: 500px;background-color:rgba(0,0,0,0.01);border: 1px solid #ddd;border-radius:10px;margin: 0 auto;text-align: initial;text-indent:0;cursor: pointer;}
.audio-box .play-btn{width: 20px;height:20px;display: inline-block;background: url('../image/mplay2.png') no-repeat 0 0;margin-top:10px;margin-left: 6%;float: left;}
.audio-box .audio-progress{vertical-align:middle;display: inline-block;width: 66%;height: 2px;background: #ccc;margin-top:0;margin-left: 10px;}
.audio-box .audio-progress .audio-progress-bar{display: inline-block;width: 0;height: 100%;background: #29C233;float: left;}
.audio-box .currentTime{display: inline-block;width: 20%;height: 100%;line-height: 40px;text-align: center;text-indent:0;font-size: 14px;}

