/*
Theme ID: ecms286
Author: 墨鱼移植
Author QQ：48444431
Author Email：48444431@qq.com
Author URL: http://www.moyublog.com/
*/

/*广告位*/
.ad1{margin-top:20px;}
/*other*/
.block2-list{margin-top:20px;}
.block2-list:nth-child(-n+2){margin-top:0;}
/*==========public class=========*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear{clear:both}
.fl{float:left}
.fr{float:right}
.bn{border:none!important}
.pd{padding:1.5em}
.mb{margin-bottom:20px}
.mt{margin-top:20px}
.mr{margin-right:20px}
.br{-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px}
.sb{box-shadow:0 0px 0px rgba(26,26,26,.1);}
.nav-sb{box-shadow: 0 3px 14px 0 rgba(199,209,215,.4);background:#fff}
.container{max-width:1200px;margin:0 auto}
.transition{-webkit-transition:all ease .4s;-moz-transition:all ease .4s;-ms-transition:all ease .4s;-o-transition:all ease .4s;transition:all ease .4s}
.img-cover{object-fit: contain;
width: 100%;
height: inherit;}
/*单行文本溢出省略*/
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
/*两行文本溢出省略*/
.multi-ellipsis{position:relative;line-height:1.4em!important;height:2.8em!important;overflow:hidden}
.multi-ellipsis:after{content:"";font-weight:700;position:absolute;bottom:0;right:0;padding-left:20px;background:-webkit-linear-gradient(left,transparent,#fff 62%);background:-o-linear-gradient(right,transparent,#fff 62%);background:-moz-linear-gradient(right,transparent,#fff 62%);background:linear-gradient(to right,transparent,#fff 62%)}
/*修改不同视口下公共类属性的值*/
@media screen and (max-width:1200px){
.mb{margin-bottom:10px}
.m-ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap!important}
.m-multi-ellipsis{position:relative;line-height:1.4em!important;height:2.8em!important;overflow:hidden}
.m-multi-ellipsis:after{content:"";font-weight:700;position:absolute;bottom:0;right:0;padding-left:20px;background:-webkit-linear-gradient(left,transparent,#fff 62%);background:-o-linear-gradient(right,transparent,#fff 62%);background:-moz-linear-gradient(right,transparent,#fff 62%);background:linear-gradient(to right,transparent,#fff 62%)}
}
/*ios样式去除*/
input,textarea,button{outline-style:none;-webkit-appearance:none;} 
/*不同视口下对html的显隐*/
.hidden{display:none}
@media screen and (max-width:1200px){.hidden-sm-md-lg{display:none!important}}
@media screen and (max-width:768px){.hidden-sm{display:none!important}}
@media screen and (min-width:769px) and (max-width:992px){.hidden-md{display:none!important}}
@media screen and (min-width:993px) and (max-width:1200px){.hidden-lg{display:none!important}}
@media screen and (min-width:1201px){.hidden-xl{display:none!important}}

/*导航*/
.nav{float: left;width:100%;background-color: #77B43C;}
.navbar{max-width: 1200px;margin: 0 auto;}
.nav ul{list-style: none;}
.nav li{float: left;font-size: 16px;position: relative;z-index: 8888888;height:40px;line-height:40px;}
.nav li+#nvabar-item-index{display: none;}
.nav li a{color: #fff;padding: 0 30px;display: inline-block;font-weight:bold;text-align:center;}
.nav li:hover > a{background-color: #57832C;}
.nav li.active > a{background-color: #57832C;}
.nav ul ul{display: none;background-color: #77B43C;position: absolute;top: 100%;left: 0;}
.nav ul li:hover > ul{display: block;background-color: #77B43C;}
.nav ul ul li{white-space: nowrap;line-height: 45px;}

.nav ul ul ul{top: 0;left: 100%;}
.search{float: right;margin-top: 15px;position:relative;display:none;}
.search form{width: 150px;height: 30px;line-height: 30px;overflow: hidden;color: #ddd;}
.search form input{float: left;width: 100%;height: 30px;line-height: 28px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 1px solid #fff;border-right: 0;padding-left: 8%;}
.search form button{position:absolute;right:0;width: 30px;height: 30px;line-height: 30px;text-align: center;-webkit-box-sizing: border-box;-mo-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;background-color: #fff;border: 1px solid #fff;border-left: 0;border-radius:100px;cursor:pointer;}




/*========幻灯片======*/
/*Swiper 3.0.5*/
.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1}
.swiper-container-no-flexbox .swiper-slide{float:left}
.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-fles-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}
.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}
.swiper-slide{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}
.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}
.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}
.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}
.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}
.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}
.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}
.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}
.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}
.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}
.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}
.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}
.swiper-pagination.swiper-pagination-hidden{opacity:0}
.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}
.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}
.swiper-pagination-white .swiper-pagination-bullet{background:#fff}
.swiper-pagination-bullet-active{opacity:1;background:#007aff}
.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}
.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}
.swiper-container-vertical>.swiper-pagination{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}
.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet{margin:5px 0;display:block}
.swiper-container-horizontal>.swiper-pagination{bottom:10px;left:0;width:100%}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:0 5px}
.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}
.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}
.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}
.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}
.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}
.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}
.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}
.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}
.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}
.swiper-container-fade .swiper-slide{pointer-events:none}
.swiper-container-fade .swiper-slide-active{pointer-events:auto}
.swiper-container-cube{overflow:visible}
.swiper-container-cube .swiper-slide{pointer-events:none;visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;width:100%;height:100%}
.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}
.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}
.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px)}
.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow{z-index:0}
.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}
.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}
.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}
.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}
.swiper-scrollbar-cursor-drag{cursor:move}
.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}
.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}
.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}
@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}
}
@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}
}
/*Swiper自定义css*/
.swiper-container{margin-bottom:20px!important;width:100%;height:354px}
.swiper-container img{width:100%;height:354px;}
.swiper-slide{text-align:center;background:#fff}
.swiper-button-next,.swiper-button-prev{background-image:none!important;opacity:.8;background-color:rgba(0,0,0,.3);position:absolute;width: 35px;height: 70px;line-height:70px;font-size:28px;font-weight:700;color:#fff;text-align:center;cursor:pointer;transition:.3s;border-radius:3px;}
.swiper-button-prev{left:0px}
.swiper-button-next{right:0px}
.swiper-container:hover .swiper-button-prev{left:0px;}
.swiper-container:hover .swiper-button-next{right:0px;}
.swiper-container:hover .swiper-button-next,.swiper-container:hover .swiper-button-prev{opacity:1}
.swiper-slide .link{display:block}
.swiper-slide .p{position:absolute;bottom:.3em;color:#fff;font-size:16px;z-index:2;text-align:center;width:100%;padding:0 1em;}
.swiper-pagination-bullet{width: 14px;height: 14px;border-radius: 100%;}
.swiper-pagination-bullet-active{background-color:#77B43C;opacity:1}
.swiper-container-horizontal>.swiper-pagination{width:50%;margin:auto;position:absolute;bottom:2%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-align:center}
.swiper-pagination{text-align:right}
.swiper-slide .mask{position:absolute;top:0;bottom:0;right:0;left:0;background-image: linear-gradient(180deg,rgba(0,0,0,0) 85%,rgba(0,0,0,.95));z-index:1}

/*========侧边栏======*/
.right-listbox section{background:#fff;padding:15px 18px 20px 18px; margin-bottom:20px; }
.right-listbox section ul{padding-top:10px;}
.widget-content li .info{padding-top:5px;}
.widget-content li .iconfont{font-size:12px;}
/*--热门文章--*/
#aside_hot{overflow:hidden;}
#aside_hot ul li{  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; height:22px; position:relative; background:url(../image/pai.png) 0 0px no-repeat; line-height:22px; margin-top:14px; padding-left:34px;}
#aside_hot ul .paihang1{background-position:0 0;}
#aside_hot ul .paihang2{background-position:0 -34px;}
#aside_hot ul .paihang3{background-position:0 -68px;}
#aside_hot ul .paihang4{background-position:0 -102px;}
#aside_hot ul .paihang5{background-position:0 -136px;}
#aside_hot ul .paihang6{background-position:0 -170px;}
#aside_hot ul .paihang7{background-position:0 -204px;}
#aside_hot ul .paihang8{background-position:0 -238px;}
#aside_hot ul li a{ line-height:22px; color:#333; font-size: 14px;}
#aside_hot ul li a:hover{color:#77B43C; text-decoration:underline;}
/*--最新文章--*/
#aside_new li{width:272px;height:90px; padding:10px 0; border-bottom:1px #eeeeed dashed;}
#aside_new .rec-img{float:left; width:122px; height:90px;overflow: hidden;}
#aside_new .rec-img img{ width:122px; height:90px;}
#aside_new .rec-content{width:132px; float:right; overflow:hidden;}
#aside_new .rec-content  h3{width: 132px;overflow: hidden;text-overflow: ellipsis;font-size: 16px;line-height: 20px;font-weight: 300;margin-bottom: 12px;height: 40px;}
#aside_new .rec-content  p{ width:132px; height:50px; overflow:hidden; text-overflow:ellipsis;font-size:12px; color:#888; line-height:22px;margin-bottom:2px; }
#aside_new li h3:hover{color:#77B43C;}
#aside_new .rec-content span{color:#b6b5b5; font-size:12px;}


#divCatalog li{width:50%;display:inline-block}
#divCatalog li:nth-of-type(even){text-align:right}
#divCatalog li a{width:96%;display:inline-block;text-align:center;border:1px solid #ddd;border-radius:3px;padding:.5em 0;margin-top:.5em}
#divCatalog li a:hover{background-color:#77B43C;color:#fff;border:1px solid #77B43C}
#divPrevious li{list-style:circle;list-style-position:inside;border-bottom:1px dashed #ddd;padding:.5em 0}
#divPrevious li:last-child{border:none;padding-bottom:0}
#divPrevious li:first-child{padding-top:0}
#divTags li,#aside_hot_tag li{display:inline-block}
#divTags .tag-count,#aside_hot_tag .tag-count{font-size:12px;}
#divTags li a,#aside_hot_tag li a{border-radius:2px;display:inline-block;text-align:center;background:#eee;padding:.2em 1em;margin:.8em .2em 0 0;font-size: 12px;}
#aside_hot_tag li a{margin:.5em .5em 0 0}
ul.divTags,ul.aside_hot_tag{margin-top:-.5em}
#divTags li a:hover,#aside_hot_tag li a:hover{background-color:#77B43C;color:#fff;-webkit-transition:all ease .2s;-moz-transition:all ease .24s;-ms-transition:all ease .2s;-o-transition:all ease .2s;transition:all ease .2s}
#divMisc li{display:inline-block;padding-right:5%}
#divAuthors li,#divFavorites li,#divLinkage li{display:inline-block;padding-right:1em}
#divArchives li,#divNavBar li,#divStatistics li{display:inline-block;width:49.2%}
#divContorPanel .cp-login a,#divContorPanel .cp-vrs a{width:48.3%;display:inline-block;text-align:center;border:1px solid #ddd;border-radius:3px;padding:.5em 0;margin-top:.5em}
#divContorPanel .cp-login a:hover,#divContorPanel .cp-vrs a:hover{background-color:#77B43C;color:#fff;border:1px solid #77B43C}
#tbCalendar{width:100%}
#tbCalendar a{width:40px;height:40px;color:#77B43C;padding:2px}
#tbCalendar tbody a{display:inline-block;background-color:#77B43C;color:#fff;border-radius:3px}
#tbCalendar caption{height:60px;line-height:60px}
#tbCalendar td,#tbCalendar th{width:40px;height:40px;line-height:40px}
#tbCalendar caption{font-size:18px}
#tbCalendar tbody{text-align:center}
#divSearchPanel input[type=text]{width:78%;border:none;background:0 0;font-weight:400;padding:.5em;color:#333;border:1px solid #ddd;border-radius:3px;border-top-right-radius:0!important;border-bottom-right-radius:0!important}
#divSearchPanel input[type=submit]{width:21.9%;border:none;cursor:pointer;padding:.5em;background-color:#77B43C;color:#fff;border:1px solid #77B43C;border-radius:3px;border-top-left-radius:0!important;border-bottom-left-radius:0!important;margin-left:-6px}
/*--站点信息--*/
#aside_about{padding:0;}
#aside_about .bg{width:348px;height:142px}
#aside_about .avatar{width:100%;text-align:center;margin-top:-42px}
#aside_about .img{width:70px;height:70px;margin:0 auto;border-radius:100px;border:5px solid rgba(255,255,255,.8)}
#aside_about .wrap{padding-top:0}
#aside_about .title{text-align:center;font-size:20px;color:#333}
#aside_about .info{color:#666;padding-top:5px;line-height:26px;overflow:hidden}
#aside_about .ul{position:relative;margin-top:17px}
#aside_about .line{position:absolute;left:46%;top:5px;z-index:1;color:#aaa;font-size:22px}
#aside_about .li{width:49.5%;text-align:center}
#aside_about .num{text-align:center;font-size:22px;font-weight:100;line-height:10px}
#aside_about small{display:block;color:#999}


/*--随机图文--*/
#aside_random .list{padding:.6em 0}
#aside_random li:first-child{padding-top:0}
#aside_random li:last-child{padding-bottom:0}
#aside_random .comment,#aside_random .time{color:#999;padding-right:1.5em}
#aside_random .comment i.iconfont,#aside_random .time i.iconfont{padding-right:2px}
#aside_random .list .img-wrap{float:left;overflow:hidden;display:block;height:70px;width:100px}
#aside_random .random-img{width:100px;height:70px}
#aside_random .random-text{margin-left:120px}
#aside_random .title{line-height:1.6em}
/*--最新文章--*/ 
#aside_new .list{padding:.6em 0}
#aside_new li:first-child{padding-top:0}
#aside_new li:last-child{padding-bottom:0}
#aside_new .time,#aside_new .view{color:#666;padding-right:1.5em}
#aside_new .time i.iconfont,#aside_new .view i.iconfont{padding-right:2px}
#aside_new .list .img-wrap{float:left;overflow:hidden;display:block;height:70px;width:100px}
#aside_new .random-img{float:left;width:100px;height:70px}
#aside_new .new-text{margin-left:120px}
#aside_new .title{line-height:1.6em;}
/*--热门评论--*/ 
#aside_hot_comment .list{padding:.6em 0}
#aside_hot_comment li:first-child{padding-top:0}
#aside_hot_comment li:last-child{padding-bottom:0}
#aside_hot_comment .comment,#aside_hot_comment .time{color:#666;padding-right:1.5em}
#aside_hot_comment .comment i.iconfont,#aside_hot_comment .time i.iconfont{padding-right:2px}
#aside_hot_comment .list .img-wrap{float:left;overflow:hidden;display:block;height:70px;width:100px}
#aside_hot_comment .random-img{width:100px;height:70px}
#aside_hot_comment .new-text{margin-left:120px}
#aside_hot_comment .title{font-size:14px;font-weight:300;}
/*--最新留言--*/
#divComments .list{padding:.6em 0}
#divComments li:first-child{padding-top:0}
#divComments li:last-child{padding-bottom:0}
#divComments .avatar{float:left;display:block}
#divComments .avatar img{width:60px;height:60px;border:2px solid #fff;-webkit-transition:.4s;-webkit-transition:-webkit-transform .4s ease-out;transition:transform .4s ease-out;-moz-transition:-moz-transform .4s ease-out}
#divComments .title{margin-left:70px}
#divComments .title .a{display:block;padding-top: 2px;font-size: 14px;}
#divComments .info i.iconfont{padding-right:5px}
#divComments .info{color:#999;margin-top: 10px;}
#divComments .author{padding-right:.5em}
/*--文章页作者信息--*/ 
#widget_aside_author .title{margin:-1.5em;background:#f8f8f8;padding:1.5em;background-size:100%!important}
#widget_aside_author .img{border-radius:100px;width:70px;height:70px;margin:0 auto;display:block;border:5px solid rgba(255,255,255,.8)}
#widget_aside_author .avatar{margin-top:50px;display:block}
#widget_aside_author .name{font-size:22px;text-align:center}
#widget_aside_author .level{font-size:12px;background-color:#77B43C;padding:2px 6px;color:#fff;text-align:center;display:inline-block;vertical-align:middle}
#widget_aside_author .intro{color:#888;text-align:center}

/*--兼容图片灯箱插件（ID: fancybox）--*/
.art-content .md-image{width:100%!important}
/*--文章详情页--*/
.art-main img{max-width:100%!important;height:auto!important;}
.art-main .art-head{margin-bottom:10px;}
.art-main .art-title{font-size:28px}
.art-main .head-info{color:#999;padding-top:5px;padding-bottom: 20px;}
.art-main .head-info i.iconfont{padding-right:2px}
.art-main .head-info .author,.art-main .head-info .comment,.art-main .head-info .edit,.art-main .head-info .time,.art-main .head-info .view{padding-right:1em}
.art-main .art-content{padding-top:10px;position:relative;font-size:16px;width:100%;word-break:break-all}
.art-content a{color:#77B43C}
.art-content a:hover{border-bottom:1px dashed #77B43C}
.art-content h1,.art-content h2,.art-content h3,.art-content h4,.art-content h5,.art-content h6{margin:10px 0}
.art-content h1{font-size:1.8em}
.art-content h2{font-size:1.6em}
.art-content h3{font-size:1.4em}
.art-content h4{font-size:1.2em}
.art-content h5{font-size:1em}
.art-content h6{font-size:0.8em}
.art-content blockquote{color:#666;font-weight:400;border-left:4px solid #77B43C;padding:.5em 1em;background-color:#f9f9f9}
.art-content img{height:auto}
.art-content table {border-collapse:collapse;empty-cells:show;border-spacing:0}
.art-content table tr.firstRow{font-weight:bold;background-color:#f8f8f8;text-align:left}
.art-content table th,.art-content table td{padding:.3em .5em;margin:0;vertical-align:top;border:1px solid #ddd}
.art-content blockquote,.art-content dl,.art-content form,.art-content hr,.art-content ol,.art-content p,.art-content pre,.art-content table,.art-content ul{font-weight:400;margin-bottom:1rem}
.art-content blockquote p,.art-content ul p{margin-bottom:0}
.art-content li{margin-left:1.2em}
.art-content hr{border:none;margin-top:1.5rem;margin-bottom:1.5rem;border-top:1px solid #eee;height:1px;background:0 0}
.art-content audio,.art-content img,.art-content video{}
.art-content b,.art-content strong{font-weight:700;}
.art-content .padding{padding-right:.5em}
.art-content .art-copyright,.art-content .tag-wrap{font-size:14px}
.art-content .tags{padding:.1em .3em;color:#77B43C;}
.art-content .tag-wrap .dot{color:#77B43C;opacity:.5;}
.art-content .tags:hover{}
.art-copyright{background:#f8f8f8;padding:1em 1.5em}
.art-copyright .copyright,.art-copyright .from{font-weight:700;padding-top:10px}
.prev-next{padding:1.5em;position:relative;background: #f4f4f4;}
.prev-next strong{font-weight:400}
.prev-next .post-next,.prev-next .post-prev{width:46%;color:#666;font-size:16px}
.prev-next .post-next{text-align:right}
.prev-next .next,.prev-next .prev{display:block;font-size:14px}
.quick-prev-next .next,.quick-prev-next .prev{position:fixed;z-index:1;top:45%;height:50px;line-height:50px;width:50px;font-size:50px;color:#888}
.quick-prev-next .next:hover,.quick-prev-next .prev:hover{color:#333}
.quick-prev-next .prev{left:0}
.quick-prev-next .next{right:0}

/*--相关文章--*/
.related-art{position:relative;z-index:2}
.related-item{width:31%;margin-right:3.4%}
.related-item .span{height: 160px;display: block;overflow: hidden;margin-bottom: 5px}
.related-item a{display:block}
.related-item .img{height:160px;width:100%}
.related-item .titile{height:3.2em;overflow:hidden}
.related-item:nth-child(3n+0){margin-right:0}
/*评论*/
/*commentlist*/
.commentlist,#comment{padding:20px;padding-top:0;}
.commentlist h3,#comment h3{font-size:16px; margin-top:20px; border-left:4px solid #77B43C;padding-left:10px;}
.commentlist {margin-bottom:15px;}
.commentlist ol li {clear:both; padding:10px 0;}
.commentlist ol li .cmt-info {position:relative; padding-left:50px; margin-bottom:10px;}
.commentlist ol li .gravatar {position:absolute; left:0; top:3px; width:40px; height:40px;}
.commentlist ol li .gravatar img {display:block; width:100%; height:auto; transform:Rotate(-720deg); transition:transform 0.4s ease 0s;}
.commentlist ol li .gravatar img:hover {transform:Rotate(720deg); transition:transform 0.4s ease 0s;}
.commentlist ol li .cmt-author {font-weight:bold;font-size:14px; margin-bottom:5px;}
.commentlist ol li .cmt-author a {color:#000;}
.commentlist ol li .cmt-meta {font-size:14px;color:#999;}
.commentlist ol li .cmt-meta span,.commentlist ol li .cmt-meta span a{color:#6B92B2;}
.commentlist ol li .cmt-floor {position:absolute; right:0; top:3px; font-size:14px; color:#666;}
.commentlist ol li .cmt-con {font-size:14px; color:#333;}
.commentlist ol li ol {margin-left:10px; border:1px solid #ebebeb; background:#f9f9f9; margin-top:15px; padding:0 10px;}
/*commentsform*/
.commentsform p {clear:both; overflow:hidden; margin:10px 0; font-size:14px;}
.commentsform .text {width:50%; border:1px solid #ddd; height:35px; line-height:35px; padding:0 5px; margin-right:10px; font-family:'Microsoft Yahei';}
.commentsform textarea {width:97%; border:1px solid #ddd; height:150px; padding:8px 1%; -webkit-border-radius:4px; border-radius:4px; font-size:1em; font-family:'Microsoft Yahei';}
.commentsform .submit,.commentsform a#cancel-reply {width:50%; border:0px solid #ddd; cursor:pointer; height:42px;line-height:42px; font-family:'Microsoft Yahei'; color:#555;font-size:14px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-appearance:none;background: #eee;}
.commentsform .submit:hover {background-color:#77B43C; color:#fff; transition:all 0.2s ease-in 0s;}
.commentsform a#cancel-reply {display:block; opacity:.8; background:#F04848;text-align:center; line-height:42px;height: 42px;color:#fff;}
.commentsform a#cancel-reply:hover {color:#fff;opacity:1; transition:all 0.2s ease-in 0s;}
/*--分页--*/
.pagebar { clear: both; overflow: hidden; text-align: center; font-size: 12px; }
.pagebar .nav-links { clear: both; line-height: 32px; margin: 15px auto; }
.pagebar .nav-links a, .pagebar .nav-links b { display: inline-block; margin: 3px; padding: 0 10px; min-width: 32px; height: 32px; line-height: 32px; border: 1px solid #77B43C;; box-sizing: border-box; font-weight: 400; }
.pagebar .nav-links a { background: #fff; color: #999; }
.pagebar .nav-links b { background: #77B43C;; color: #fff; }
.pagebar .nav-links a:hover { border: 1px solid #77B43C;; background: #77B43C;; color: #fff; }
.pagebar .nav-links a.current  { border: 1px solid #77B43C;; background: #77B43C;; color: #fff; }
/*========广告位======*/
.ad a{display:block;line-height:0}
.ad img{width:100%;display:block;}
/*--回顶--*/
.toolbar{bottom:120px;position:fixed;right:0;margin-right:15px;cursor:pointer;z-index:99}
#totop{display:none}
.toolbar i.iconfont{color:#fff;font-size:18px}
.toolbar .btn{display:block;padding:10px;margin-bottom:5px;width:auto;height:auto;line-height:18px;vertical-align:middle;text-align:center;border-radius:3px;opacity:.8;}
.toolbar .btn:hover{opacity:1;}
#qr #qr-img{position:absolute;display:none}
#qr-img{left:-210px;bottom:5px;width:180px;height:180px;padding:8px;box-shadow: 0 1px 3px rgba(26,26,26,.2);background: #fff;}

/*==========responsive==========*/
@media screen and (max-width:1200px){
.toolbar #qr{display:none;}
.width1200{margin-top:60px;}
.title-details h1{text-align:left;}
.search-form{width:92%;display:none;}
.main{padding: 4%;width: 92%;background:#fff!important;padding-top:0;}
.ck-slide{margin-top:0;}
.right-listbox{margin-top:20px!important;margin-bottom: 20px;}
.swiper-container,.ck-slide,.swiper-container img{height:20vh;}
.swiper-pagination-bullet{width:8px;height:8px;}
.ad{width:100%;}
.fm-knowledge-box1 .right-listbox .r2,.fm-knowledge-box1 .right-listbox{width:100%;height:auto;border:none;padding:0;}
.fm-knowledge-content .business-gg .list-gg-big{width:100%!important;}
.business-gg{margin-top:10px!important;width: 100%;}
.business-gg .list-gg{width: 100%;height:auto;}
.business-gg .list-gg img,.business-gg img{width: 100%;display: block;}
.fm-knowledge-content .business-gg .list-gg-big{height:auto;}
.right-listbox .r2,.right-list-hot ul li{width:100%!important;border:none;}
.right-list-hot ul li{width:92%!important}
.right-listbox,.fw-knowledge-slide{width:100%!important;float:none;}
.fm-knowledge-content-p li{width:100%!important;margin-top:0;}
.fm-knowledge-content-rec .border, .fm-knowledge-content-brand .border{width:100%!important;border:none;padding:0; height: auto;}
.fm-knowledge-content-p{width:100%!important;border:none;padding:0;margin-top:0;height: auto;}
.fm-knowledge-content-list{width:100%!important;}
.fm-knowledge-content-img{width:28%;height:6%;}
.fm-knowledge-content-img img{width:100%;max-height:6%;}
.fm-knowledge-content-zi{width:69%;}
.swiper-slide li,.swiper-slide li img{width:100%;}
.fm-knowledge-content-rec, .fm-knowledge-content-brand{margin-left:0;margin-top: 20px;width: 100%;}
.fm-knowledge-content-rec .border li{width: 94%;}

.fm-knowledge-content-rec.tt0{margin-left:0px;}
.fm-knowledge-content-rec.tt1{}
.fm-knowledge-content-rec.tt2{margin-left:0px;}
.fm-knowledge-content-rec.tt3{}
.fm-knowledge-content-rec.tt4{margin-left:0px;}
.fm-knowledge-content-rec.tt5{}
.fm-knowledge-content-rec.tt6{margin-left:0px;}
.fm-knowledge-content-list:nth-child(2n){float:none}
.friendship-link{width:92%;}
.footer-infor{width:92%;}
.footer-phone{margin-left:0;text-align: left;}
.footer-zz{width:92%;padding:4%;}
.footer-nav{height:auto;line-height:auto;width:90%;padding: 2%;text-align:left;white-space: nowrap;overflow: scroll;}
.footer-phone p{display:inline-block;padding-right: 20px;font-size: 12px;}
.footer-zz p{text-align:left;}
.friendship-link{margin-top:10px;margin-bottom:10px;}
.left-listbox{width:100%;}
.left-listbox .left-list-title{width:100%;margin: 10px 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-left:0;margin-top: 0;}
.left-listbox .left-list-title .list-title-news,.left-listbox .left-list-title .list-title-type{font-size:12px;}
.left-listbox .list-news-sub{width:100%;margin:0;}
.list-news-sub li{width:100%;padding:0;height:auto;padding:10px 0;}
.list-news-sub li > a{width:28%;display:block;float:left;}
.news-sub-content h1{width:100%;font-size:16px;}
.list-news-sub .news-sub-content{float:right;width:68%;margin-left:0;}
.list-news-sub .news-sub-img{width: 100%;height:4%;}
.list-news-sub .news-sub-img img{width:100%;height:70px;}
.list-news-sub li:hover{box-shadow: 0 0 0 #fff;}
.left-listbox{margin:10px 0;margin-top:0;}
.title-details{margin:0;width:100%;}
.title-details h1{width:100%;font-size:22px;white-space: normal;height:auto;}
.wechat-content-box .wechat-er{width:50%;height:auto;}
.wechat-content-box .wechat-content{width:100%;padding-left: 0;border-left:none;}
.wechat-content-box .wechat-content h3{margin-top: 0;}
.wechat-content-box .wechat-content p{margin-top:0;}
.tit-content-details-lastbox .article-edit p{margin-left:0;}
.next-last-page p{width:100%;margin-left:0;}
.be-about-article .about-article-img{width:28%;height:6%;}
.about-article-content{width:68%;margin-left:0;}
.about-article-content .about-article-time{margin-top:0;}
.about-article-content h3{width:100%;margin-bottom:0;font-size:16px;}
.be-about-article ul li{padding:10px 0;}
.commentlist, #comment{padding:0;}
}
/*自适应CSS*/
#mnav,#search,.muser{display: none;}
@media screen and (max-width: 1200px) {
    .block2-list:nth-child(-n+2){float: right;margin-top: 20px;}
    .navbar{width:100%;}
    .search{display:block;}
    .head-search{width:100%;}
    #header{width: 100%; height: 55px;margin-bottom: 0; position: fixed;z-index: 99992;top: 0;background-color: #fff;border-bottom:1px solid #eee;box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.08);}
    .logo{width: 100%;text-align: center;margin-top:0;}
    .logo img{max-height: 55px;}
    .nav li.active > a {background-color: transparent;}
    
    #mnav,#search{display: block;position: absolute;top: 0;cursor: pointer;width: 55px;height: 55px;text-align: center;line-height:55px;}
    #mnav{left:0%;}
    #search{right:0;}
    .search form input{padding-left:10px;}
    .nav-sb{box-shadow:0 0 0 #fff;}
    #mnav i,#search i{width: 55px;height: 55px;text-align: center;line-height:55px;}

    .nav{display: none; margin-left: 0;width: 100%;position: absolute;z-index: 99999;margin-top:0;padding:20px 0;top: 55px; left: 0;right: 0;}
    .nav li{float: none;width: 100%;position: static;height:auto;}
    .nav li a{padding: 0 5px;display: block;text-align:left;}
/*  .nav ul li:hover ul{display: none;}*/
    .nav ul{text-indent:10px;}
    .nav ul ul{display: block;position: static;padding-left: 3%;overflow: hidden;}
    .nav ul ul li{line-height: 30px;float: left;margin-right: 0;width: 25%;padding: 0;}
    .nav ul ul ul{display: none;}
    .nav ul ul li:hover ul{display: none;}

    .search{display: none;float: none;margin-top: 0; position: absolute;top: 100%;left: 0;right: 0; background-color:#77B43C;z-index: 9999;}
    .search form{width: 90%;margin: 10px auto;height: 38px;line-height: 36px;}
    .search form input{height: 38px;line-height: 36px;}
    .search form button{width:38px;height: 38px;line-height: 36px;right:30px;}
    .title-details .details-date{text-align:left;}
    .title-details h1{margin-top:10px;}
    .title-details .details-date{margin:0;}
    .news-sub-content .sub-content-main,.news-sub-content h1{margin-bottom:0;width: auto;}
    .be-about-article .about-article-img img{height:70px!important;}
}
.dou-main h1{font-size:24px;margin:15px 0;}
.dou-main h2{font-size:22px;margin:15px 0;border-left:5px solid #77B43C;background-color:#eee;padding:10px 15px;}
.dou-main h3{font-size:20px;margin:15px 0;border-left:5px solid #77B43C;background-color:#eee;padding:10px 15px;}
.dou-main h4{font-size:18px;margin:15px 0;margin:15px 0;border-left:5px solid #77B43C;background-color:#eee;padding:10px 15px;}
.dou-main h5{font-size:16px;margin:15px 0;margin:15px 0;border-left:5px solid #77B43C;background-color:#eee;padding:10px 15px;}
.dou-main h6{font-size:14px;margin:15px 0;margin:15px 0;border-left:5px solid #77B43C;background-color:#eee;padding:10px 15px;}

/*手机端底部导航*/
.btmnav {padding:15px 20px;background-color:#dbdbdb;position:fixed;left:0;right:0;bottom:0;z-index:100;zoom:1;display:none}
.btmnav:after {content:"";display:block;clear:both}
.btmnav a {padding:3px 10px;font-size:14px;color:#fff;line-height:22px;text-decoration:none;border-radius:18px;display:block}
.btmnav a.btn {width:72px;height:72px;margin-left:-41px;padding:0;font-size:14px;color:#333;text-align:center;border:5px solid #dbdbdb;border-radius:50%;box-shadow:2px 0 25px #bababa inset;background:#d9d9d9;position:absolute;top:-10px;left:50%;display:block}
.btmnav a.btn p {margin:7px 0 3px;font-size:30px;color:#ee7600;font-family:icomoon}
.btmnav a:first-child {float:left;display:inline;letter-spacing:2px;background:#ff3e3e}
.btmnav a:last-child {float:right;display:inline;letter-spacing:2px;background:#0cbb33}
@media screen and (max-width:996px) {.btmnav{display:block;}}




.art-main li,.art-main ul {
    list-style: inherit!important;margin-left: 10px;
}
.be-about-article ul,.be-about-article li{
    list-style:none!important;
    margin-left: 0!important;
}

.list-news-sub li:hover h1, .news-sub-content-d, .friendship-link-name li:hover, .fm-knowledge-content-rec .border li i.iconfont, .right-list-hot ul li a:hover, .right-listbox .right-list-title span, .footer-phone b, .top-nav ul .nav-phone strong, .fm-knowledge-content-zi p:hover, .left-listbox .left-list-title .list-title-type, #aside_hot ul li a:hover, #aside_new li h3:hover, .wechat-content-box .wechat-content h3 {
color:#;
}
.dou-main h2, .dou-main h3, .dou-main h4, .dou-main h5, .dou-main h6 {
border-left:5px solid #;
}
.recommend-b {
border:1px solid #;
}
a.page-numbers:hover {
border-color: #;
}
.wap-avigation li h3, .right-listbox .right-list-title span, .title-first, .right-listbox .right-list-title span, .commentlist h3, #comment h3 {
border-left:4px solid #;
}
.friendship-link-title {
border-bottom:2px solid #;
}
.search-form .search-hd, .top-nav ul .top-nav-login a, .swiper-pagination-bullet-active, .commentsform .submit:hover, .footer-nav, .btn, a.page-numbers:hover, .nav, .nav li:hover > a, .nav ul li:hover > ul, .search {
background-color:#;
}
.nav li.active > a, .nav li:hover > a, .nav ul ul {
background-color:#;
}
.video {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}
.video iframe,
.video object,
.video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/*广告位*/
.ad{padding:20px 0;}
.ad img{display:block;border:none;width:100%;}
.pcd_ad{display:block;}
.mbd_ad{ display:none}
@media(max-width:768px) {
.pcd_ad{display:none !important;}
.mbd_ad{display:block !important;}
.mbd_ad img{display:block;border:none;width:100%!important;height:auto!important}
}
.an_btn{    border-radius: 5px;
    color: #fff !important;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    display: inline-block;
    background-color: #f62020;
    padding: 0 15px;
    box-shadow: 1px 1px 4px rgba(246, 32, 32, 0.8);
    text-align: center;margin-bottom: 10px;}
.ecomment {margin:0;padding:0;}
.ecomment {margin-bottom:12px;overflow-x:hidden;overflow-y:hidden;padding-bottom:3px;padding-left:3px;padding-right:3px;padding-top:3px;background:#FFFFEE;padding:3px;border:solid 1px #999;}
.ecommentauthor {float:left; color:#F96; font-weight:bold;}
.ecommenttext {clear:left;margin:0;padding:0;}