
/*rm-nav*/
.rm_nav{background: #F5F5F7;position: relative;height:55px;-webkit-transition: all .3s ease-out;transition: all .3s ease-out; overflow:hidden;}
.rm_nav_con{height:55px;}
.rm_nav .col-1 ul{line-height:55px;font-size: 16px;font-weight: 500;font-family:"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;}
.rm_nav .col-1 li.shouye{margin-right:18px}
.rm_nav .col-1 li.jubao{margin:0 14px}
.rm_nav .col-1 li{display:inline-block;line-height:55px;margin:0 1px;cursor: pointer;font-family:"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;}
.rm_nav .col-1 li.menu_item ul,.rm_nav .col-1 li.language ul,.rm_nav .col-1 li.menu_itemth ul{display:none;}
.rm_nav .col-1 li.menu_item ul.df li{padding:0 17px 0 0;}
.rm_nav .col-1 li span{line-height:55px;height:55px;display:block;padding:0 18px;font-family:"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;}
.rm_nav .col-1 i{background:url(../image/arrow2.png) no-repeat;display:inline-block;width:11px;height:6px;margin:0 2px;vertical-align:middle;}
.rm_nav .col-1 li.navmoon div{display: block;position: absolute;top:55px;border-bottom:1px solid #E1E1E1;background:#fff;width:100%;left:0;}
.rm_nav .col-1 li.navmoon ul{ width:1280px;margin:0 auto;display:block; float:none;}
.rm_nav .col-1 li.navmoon ul li{ padding:0 60px 0 0px; margin:0 auto;}
.rm_nav .col-1 li.navmoon div.xinwen ul li{padding:0 45px 0 0px;}
.rm_nav .col-1 li.navmoon span.active{background:#fff;color:#D23939}
.rm_nav .col-1 li{display:inline-block;height:55px;vertical-align: top;}
.rm_nav .col-1 li.language,.rm_nav .col-1 li.menu_itemth{line-height:55px;font-size:16px;font-weight: 500;display:inline-block;cursor: pointer;}
.rm_nav .col-1 li.language span,.rm_nav .col-1 li.menu_itemth span{line-height:55px;height:55px;display:block;padding:0 15px;font-family:"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;}
.rm_nav .col-1 li.language ul.dyz li{padding:0 0px 0 0;display:inline-block;width:93px;text-align:center;}
.rm_nav .col-1 li.language ul.dyz li.wy{width:auto;padding:0 8px;}
.rm_nav .col-1 li.menu_itemth ul.hzwz li{padding:0 25px 0 0; height:40px; vertical-align:middle; line-height:40px;}
.rm_nav .col-1 li.language ul.dyz li img{ margin-top:20px;}
.rm_nav .col-1 li.language ul.dyz li img.meng{ margin-top:10px;}
.rm_nav .col-1 li.nav_more{width:54px;text-align: center;border-left:1px solid #ebebed;border-right:1px solid #ebebed;cursor: pointer;}
.rm_nav .col-1 li.nav_more img,.sou img{margin-top:30%;}
/*.rm_nav .col-1 li.dhfj{ margin-right:20px;}*/
.nav_jia img{margin-top:12%;}
.nav_jia{ width:130px;padding-right:10px;}
.rm_nav .col-1 li.wza img{margin:30% 13px 0 13px;}
.rm_nav .col-1 li.sou{width:54px;text-align: center;}
.rm_nav .col-1 li.Sign{width:75px;height: 55px;background: #E8E8EA;line-height:55px;text-align: center;font-size:16px;font-weight: 400;font-family:"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;}
.rm_nav .col-1 li.Sign em{background:url(../image/icon10.png) no-repeat left center;display:inline-block;width:22px;height:22px;vertical-align: middle;margin-right:2px}
.rm_nav .col-1 span img.zhuan{ vertical-align:middle; margin-left:4px;}
.arrowDown{-webkit-transition: -webkit-transform 0.4s ease-out;-moz-transition: -webkit-transform 0.4s ease-out;transition: -webkit-transform 0.4s ease-out;transform-origin:center center;transform: rotate(0deg);}
.arrowUp{-webkit-transition: -webkit-transform 0.4s ease-out;-moz-transition: -webkit-transform 0.4s ease-out;transition: -webkit-transform 0.4s ease-out;transform-origin:center center;transform: rotate(180deg);}
.nav_more_con{display: none;background:#fff;font-family:"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;}
.nav_more_con h1{text-align: center;margin-top:30px}
.nav_more_con ul{border-bottom:1px solid #ECECEC;padding-bottom:20px;margin-top:50px}
.nav_more_con ul li{font-size: 20px;line-height:35px;float:left;margin-left:70px}
.nav_more_con h3{font-size: 18px;color: #D23939;margin-top:20px}

.more_con{font-size:16px;border-bottom:1px solid #ECECEC;padding-bottom:20px;}
.more_con a{margin:25px 20px 0 0px;display:inline-block;width:158px;}
.more_con2 a{width:208px;margin:25px 0px 0 0px;}
.more_btn{background:url(../image/close.png) no-repeat;width:22px;height:22px;position: absolute;top:50px;right:5%;cursor: pointer;}
.nav_more_con ul li img{vertical-align: middle;margin-right:5px;}
.nav_mask{background:#000;filter: Alpha(opacity=30);-moz-opacity: 0.3;-khtml-opacity: 0.3;opacity: 0.3;top:0;position: absolute;}
.rm_footer{background: #F5F5F7;padding-top:20px;margin-top:20px}
.office{border-bottom:1px solid #ECECEC;padding-bottom:30px;}
.office .col-1{width:320px;}
.office .col-2{width:860px;}
.office .col-1 p{font-size: 14px;font-weight: 400;line-height: 24px;margin-top:21px}
.office_domestic{width:868px;float:left;}
.office .col-2 h3{font-size: 16px;font-family: "Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;font-weight: 500;line-height: 24px;}
.office_domestic a{width:48px;}
.office_domestic a,.office_overseas a{margin-top:15px;margin-right:17px;font-size:14px;font-weight: 400;line-height: 22px;display:inline-block;text-align:left;}
.office_overseas{width:380px;float:right;}
.office_overseas a{width:64px;}
.office_overseas div a.rm_map{background:url(../image/icon9.png) no-repeat 25px center;line-height:40px;font-size:16px;font-weight: 400;border-radius: 25px;border: 1px solid #999;display:block;width:140px;height:40px;text-indent: 3em;}
.office_domestic a.qb01{ width:120px;}
/*Links*/
.Links{margin-top:20px;}
.Links h3{font-size: 16px;font-family: "Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;font-weight: 500;line-height: 24px;}
.Links p{border-bottom:1px solid #ECECEC;padding-bottom:30px;}
.Links p a{width:130px;display:inline-block;margin-right:7px;margin-top:15px;font-weight: 400;font-size:14px;line-height: 22px;}
.Links p.bq01{padding-bottom:0px; border:none; text-align:center; margin-top:20px;}
/*information*/
.information{margin-top:30px}
.information p{font-size:14px;font-weight: 400;line-height: 22px;text-align: center;margin-bottom:17px}
.information p span.xian{ margin:0 8px;}
.information p,.information p a,.Links p.bq01 a{color: #999999;}
.p_login{width:100%;height:160px;position:absolute;background:#fff;z-index:35;position: absolute;top:55px;left:0;padding-bottom:6px;text-align:center; display:none;}
#txz_dlh{display:none;}
#txz_dlq,#txz_dlh{width:220px; margin:0 auto;left:50%;top:10px;position:absolute; margin-left:390px;}
.p_login div.jiao{ width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #e60012; margin:0 auto; position:absolute;top:0;left:50%;margin-left:560px;}
#txz_dlh div.lg_up{padding:10px 0 5px 0;}
.p_login div.lg_up{background:#e60012;color:#fff; padding:1px 0; border-radius:4px 4px 0 0;}
.p_login div.lg_up a{color:#fff;}
.p_login div.lg_up span img{ vertical-align:middle; margin-right:10px;}
.p_login div.lg_up em{ line-height:20px; font-size:14px;}
.p_login div.lg_down{background:#fff;color:#000; padding:5px 0;-webkit-box-shadow:3px 3px 4px #999;-moz-box-shadow:3px 3px 4px #999;box-shadow: 3px 3px 4px #999;}
.p_login p{margin:0px 0 5px 0; font-size:14px; line-height:24px;}
.p_login p.tc{font-size:12px; margin:0 auto;}
.p_login p a{color:#fff; font-size:12px; float:right; margin-right:15px;}
.p_login p.tc a{color:#000;}
.p_login p a.red{color:#900}
.p_login p input,.p_search input.people_input{width:180px;height:20px;color:#d0d0d0;border:1px solid #d0d0d0;line-height:20px;padding-left:10px;background:#fff; font-size:12px;}
.p_login div.lg_up p b{ font-weight:500; float:left; margin-left:15px; font-size:12px;}
.p_login input.people_button_sub,.p_search input.people_button_sub,#logout{border:none;width:70px;height:20px;background:#e70012;border:none;color:#fff;font-size:12px;text-align:center;padding:0}
#logout{display:inline-block;line-height:25px;width:80px;height:24px;font-size:14px;cursor:pointer}
#difang{position:absolute;bottom:2px;left:0px;font-size:18px;background:#fff;z-index:999;display:none;width:100%;height:100px;}
#difang li{ white-space:nowrap; overflow:hidden; line-height:26px; margin-top:20px;}
.ggtl img{ width:100%; height:auto;}
@media screen and (max-width: 1279px){
	.header img{ margin-top:36px;}
	/*rm-nav*/
    .rm_nav .col-1 li{margin:0;padding:0px}
	.rm_nav .col-1 h1{ margin-right:15px;}
	.rm_nav .col-1 h3{ margin-left:15px;}
	.rm_nav .col-1 li span,.rm_nav .col-2 li.language span{padding:0 10px}
	.rm_nav .col-1 li.language,.rm_nav .col-1 li.menu_itemth{ padding:0px;}
    .nav .col-2{width:240px;}
    .nav_more img{margin-top:20%;}
    .rm_nav .col-1 li.sou img{margin-top:28%;}
    .rm_nav .col-1 li.Sign{width: 80px;}
    .rm_nav .col-1 li.menu_item ul li{padding:0 40px 0 0px;}
    .rm_nav .col-1 li.menu_item ul.df li{padding:0 8px 0 0px;}
	.rm_nav .col-1 li.navmoon ul,.rm_nav .col-2 li.navmoon ul{ width:1000px; margin:0 auto; display:block; float:none;}
	.rm_nav .col-1 li.language ul.dyz li,.rm_nav .col-1 li.menu_itemth ul.hzwz li{padding:0 3px 0 0;}
    .nav_more_con ul li{margin-left:50px;font-size:16px;}
    .more_con a{margin:13px 0px 0 0px;}
    .more_con2 a{margin:13px 0px 0 0px;}
    .more_con{font-size:16px;}
    .nav_more_con h1{margin-top:40px}
    .nav_more_con ul{margin-top:70px}
	.rm_main .col-2 h2 img{ width:100%; height:auto;}
	.office .col-1{width:240px;}
    .office .col-2{width:672px;}
    .office_domestic{width:680px;}
    .office_overseas{width:290px;}
    .office_domestic a,.office_overseas a{margin-right:8px; margin-top:10px}	
	.p_login{}
	.p_login div.jiao{ margin-left:420px;}
	#txz_dlq,#txz_dlh{ margin-left:240px;}
	.information p span.xian{ margin:0 1px;}
	.rm_nav .col-1 li.nav_jia{ display:none;}
	.Links p a{ margin-top:10px;}
}
@media (min-device-width:320px) and (max-width:689px),(max-device-width:480px){
	.rm_nav .col-1 li.language{ padding-right:5px;}
	.rm_nav .col-1 li.jubao{ margin:0 11px;}
	.rm_nav .col-1 li.shouye{ margin-right:11px;}
	.rm_nav .col-1 li.wza{display:none;}
	.rm_nav .col-1 li.dhfj{margin-right:20px;}
	.rm_nav .col-1 li.language{padding-right:10px;}
}