.ops_shareLayer ul, 
.ops_shareLayer li, 
.ops_shareLayer a, 
.ops_shareLayer i {
    margin: 0px;
    padding: 0px;
}

.ops_shareLayer {
    line-height: 44px;
}

.ops_shareLayer .ops_tit {
    color: #666;
    float: left;
    margin-right: 10px;
}

.ops_shareLayer .ops_icons {
    float: left;
}

.ops_shareLayer .ops_icons li {
    float: left;
    height: 44px;
    width: 44px;
    list-style: outside none none;
    margin-right: 10px;
}

.ops_shareLayer .ops_icons a {
    float: left;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    padding: 10px;
}

.ops_shareLayer .ops_icons a i {
    background-image: url(http://www.people.com.cn/img/2020fenxiang/images/ops_icons_02.png);
    height: 18px;
    width: 18px;
    line-height: 18px;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ops_shareLayer .ops_icons li:nth-child(1) a i{
    background-image: url(../image/icon-share-weibo.png);
    
}

.ops_shareLayer .ops_icons li:nth-child(1) a i:hover {
    background-image: url(../image/icon-share-weibo-active.png);
}

.ops_shareLayer .ops_icons li:nth-child(2) a i{
    background-image: url(../image/icon-share-weixin.png);
    
}

.ops_shareLayer .ops_icons li:nth-child(2) a i:hover {
    background-image: url(../image/icon-share-weixin-active.png);
}

.ops_shareLayer .ops_icons li:nth-child(3) a i{
    background-image: url(../image/icon-share-qzone.png);
    
}

.ops_shareLayer .ops_icons li:nth-child(3) a i:hover {
    background-image: url(../image/icon-share-qzone-active.png);
}

.ops_shareLayer .ops_icons li:nth-child(4) a i{
    background-image: url(../image/icon-share-cut.png);
    
}

.ops_shareLayer .ops_icons li:nth-child(4) a i:hover {
    background-image: url(../image/icon-share-cut-active.png);
}

.ops_shareLayer .ops_icons li:nth-child(2) {
    
}

.ops_shareLayer .ops_icons li:nth-child(3) {
    
}

.ops_shareLayer .ops_icons li:nth-child(4) {
    
}


.ops_shareLayer .ops_icons a.icon_rmwb {
}

.ops_shareLayer .ops_icons a.icon_rmwb:hover, .ops_shareLayer .ops_icons a.icon_rmwb:focus {
}

.ops_shareLayer .ops_icons a.icon_sina {
}

.ops_shareLayer .ops_icons a.icon_sina:hover, .ops_shareLayer .ops_icons a.icon_sina:focus {
    
}

.ops_shareLayer .ops_icons a.icon_sina i {
    /* background-position: 0 -50px; */
}

.ops_shareLayer .ops_icons a.icon_weixin {
}

.ops_shareLayer .ops_icons a.icon_weixin:hover, .ops_shareLayer .ops_icons a.icon_weixin:focus {
}

.ops_shareLayer .ops_icons a.icon_weixin i {
    /* background-position: 0 -100px; */
}

.ops_shareLayer .ops_icons a.icon_qzone {
}

.ops_shareLayer .ops_icons a.icon_qzone:hover, .ops_shareLayer .ops_icons a.icon_qzone:focus {
}

.ops_shareLayer .ops_icons a.icon_qzone i {
    /* background-position: 0 -150px; */
}

.ops_shareLayer .ops_icons a.icon_copy {
}

.ops_shareLayer .ops_icons a.icon_copy:hover, .ops_shareLayer .ops_icons a.icon_copy:focus {
}

.ops_shareLayer .ops_icons a.icon_copy i {
    /* background-position: 0 -200px; */
}

.weixin_popup {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    padding: 10px;
    position: fixed;
    z-index: 11001;
    text-align: left;
    font-size: 12px;
    color: #333;
}

.weixin_popup .weixin_popup_head {
    color: #000;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    position: relative;
    text-align: left;
}

.weixin_popup .weixin_popup_head .weixin_popup_close {
    color: #999;
    font-size: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    width: 16px;
}

.weixin_popup .weixin_popup_main {
    TEXT-ALIGN: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.weixin_popup .weixin_popup_foot {
    color: #666;
    line-height: 22px;
    text-align: left;
}

#weixin_qrcode {
    height: 295px;
    left: 333.5px;
    bottom: 150px;
    width: 240px;
}

.ops_shareLayer ul.ops_icons {
    border: 1px solid rgba(201, 201, 201, 0.29);
    padding: 0 10px 0 16px;
    border-radius: 4px;
}

.ops_shareLayer ul.ops_icons li {
    float: left;
    height: 36px;
    width: 36px;
    list-style: outside none none;
    margin-right: 8px;
}

.ops_icons {
    overflow: hidden;
    float: none;
}

#ops_share {
    display: none;
    opacity: 0;
    position: fixed;
    left: -20px;
    top: 20px;
    z-index: 999999999;
    transition: all .3s ease;
}

#ops_share ul {
    background: #fff;
}

#ops_share {
    width: 220px;
    padding-left: 30px;
}

#ops_share:after {
    
}

#pos_share.triangle-right {
    padding-right: 30px;
}

.triangle-right:after {
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid solid solid;
    border-color: transparent transparent transparent #fff;
    right: 6px;
    top: 12px;
}

.triangle-right:before {
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid solid solid;
    border-color: transparent transparent transparent rgba(201, 201, 201, 0.29);
    right: 4px;
    top: 12px;
}

.triangle-left:after {
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid solid solid;
    border-color: transparent #fff transparent transparent ;
    left: 20px;
    top: 12px;
}

.triangle-left:before {
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid solid solid;
    border-color: transparent rgba(201, 201, 201, 0.29) transparent transparent ;
    left: 18px;
    top: 12px;
}

.triangle-top:after {
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid solid solid;
    border-color: transparent  transparent #fff transparent ;
    right: 58px;
    top: -11px;
}

.triangle-top:before {
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid solid solid;
    border-color: transparent  transparent rgba(201, 201, 201, 0.29) transparent ;
    right: 58px;
    top: -12px;
}



#ops_share.section-share-show-left {
    padding-left: 0;
}

#ops_share.section-share-show-left:after {
    left: auto;
    right: 20px;
    background: url(http://www.people.com.cn/img/2020fenxiang/images/tri2.png) center no-repeat;
}

