
/* CSS Document */
#menuav{ background:#095a99;height:38px; line-height:38px; overflow:hidden;}
.menunav{ width:1004px; margin:0px auto; color:#FFF; }
.menunav li{ float:left;}
.menunav li a{ color:#fff;padding:0 25px; display:inline-block}
.menunav li a:hover{ background:#06487a; color:#fff; text-decoration:none;}
.aselect { background:#06487a; }



/*********** 返回顶部 ************/
.returnTop {
    position: fixed;
    _position: absolute;
     left:50%;
	 margin-left:515px;
    bottom: 10px;
    _bottom: auto;
    display: none;
    width: 54px;
    height: 54px;
	background:url(../image/gotop.png) no-repeat right center;
    text-indent: -9999px;
    cursor: pointer;
}

.returnTop:hover {
    position: fixed;
    _position: absolute;
     left:50%;
	 margin-left:515px;
    bottom: 10px;
    _bottom: auto;
    display: none;
    width: 54px;
    height: 54px;
	background:url(../image/gotop.png) no-repeat left center;
    text-indent: -9999px;
    cursor: pointer;
}
