 /* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0px; padding:0px; font-family:'Microsoft YaHei';}
html{font-size:62.5%;font-family:'Microsoft YaHei',;} 
fieldset, img { border:none; }
img{border:none;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol ,li{ list-style:none; }
input { padding-top:0px; padding-bottom:0px; display:block; }
input::-moz-focus-inner { border:none; padding:0px; }
select, input { vertical-align:middle; }
select, input, textarea { font-size:13px; margin:0px; }
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea { resize:none; overflow:hidden;}
table { border-collapse:collapse; }
body { font-family:"Microsoft YaHei",background:#ffff;}
.clearfix:after { content:"."; display:block; height:0px; visibility:hidden; clear:both; }
.clearfix {zoom:1; }
.clearit {clear:both; height:0px; font-size:0px; overflow:hidden; width:100%; }
a {text-decoration:none;}
.hidden{visibility:hidden;}
.sss {background: #ebebeb; height: 26px; width: 100%;}
.center {width: 1000px;height: 26px; margin: 0 auto; position: relative;}
.centerleft {width: 500px; height: 26px; float: left;line-height: 26px;}
.centerright { height: 26px; width: 264px;float: right;line-height: 26px;}
.centerright ul {padding-top: 0px;}
.centerright ul li {margin-right: 16px;float: left;text-align: center;font-size: 12px;
	list-style: none;}
.logo {
	height: 73px;
	width: 1000px;
	margin: 0 auto;
	position: relative;}
.daohang {
	height: 60px;
	width: 1000px;
	margin: 0 auto;
	position: relative; background: #cc0001}
.daohang ul {padding-top: 22px;margin-left: 69px}
.daohang ul li {height: 10px;
	line-height: 16px;
	font-family: "微软雅黑";
	font-size: 16px;
	width: 120px;
	text-align: center;
	float: left;
	list-style: none;
	margin-right: 5px;}
.daohang ul li a {color: #fff; display: block;}
.daohang ul li a:hover {
	color: #999; }
.daohangxia {
	height: 30px;
	width: 998px;
	margin: 0 auto;
	position: relative; background: #f9f5f6; border-width: 1px; border-color: #cc0001;
	border-style: solid;}
.daohangxias {height: 30px;}
.daohangxias ul {padding-top: 7px; margin-left: 43px;}
.daohangxias ul li {line-height: 16px; font-family: "微软雅黑";
	font-size: 12px;
	text-align: center; float: left;list-style: none;
	height: 10px; width: 54px; margin-right: 50px; font-weight: 700; }
.daohangxias ul li a {color: #cc0001; display: block;}
.daohangxiaz {height: 1px;
	width: 956px;
	margin: 0 auto;
	position: relative; background: #cc0001;}
.daohangxiax {height: 52px;}
.daohangxiax ul {padding-top: 0px; margin-left: 43px;}
.daohangxiax ul li {line-height: 16px; font-family: "微软雅黑"; font-size: 12px; text-align: center;
	float: left; list-style: none;
	 height: 10px; width: 54px; margin-right: 30px; font-weight: 700; margin-top: 8px;}
.daohangxiax ul li a {color: #333; display: block;}

.tu {height: 75px;
	width: 1000px;
	margin: 0 auto;
	position: relative; background: #fff; }
.tuz {margin-left: 2px; padding-top: 11px; float: left;}
.tuc {float: left; margin-left: 10px; padding-top: 11px;}
.tuy {float: right; padding-top: 11px;}

.news {
    width: 1000px;
    height: 72px;
    background: url(../image/news.jpg) no-repeat 0 10px;
    margin: 0 auto;
    padding: 10px 0 5px;
    position: relative;
}
.news .title {
    width: 120px;
    height: 72px;
    line-height: 72px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-right: 13px;
    float: left;}
.news .mid {
    width: 540px;
    padding: 10px 22px 0 24px;
    float: left;}
.news .mid .hot {
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;}
.news .mid .hot a {
    color: #fe5625;}
.news .mid .mess {
    height: 20px;
    line-height: 20px;}
.news .right {
    width: 280px;
    padding-top: 10px;
    float: left;} 
.news .right .txt {
    height: 26px;
    line-height: 26px;
    font-size: 14px;}
.news .close {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;}   


.zhong {width: 1000px; height: 450px; margin: 10px auto; position: relative;}
.zhongz {width: 303px; height: 450px; float: left; }
.zhongzs {margin-left: 2px}
.xian {margin-left: 2px; width: 301px; height: 1px; background: #cc0001; margin-top: 27px;}
.xianxia {width: 301px; height: 40px; background: #fcf4f2; margin-left: 2px;}
.xianxia ul {padding-top: 10px; margin-left: 9px; width: 70px;
height: 16px; float: left;}
.xianxia ul li {line-height: 16px; font-family: "微软雅黑"; font-size: 16px; list-style: none;
	 height: 16px; width: 70px; font-weight: 700;}
.xianxia ul li a {color: #cc0001;}
.xianxiay {padding-top: 10px; float: right; margin-right: 15px;}
.zhongzx {width: 301px; height: 60px; margin-left: 2px; margin-top: 15px; }
.zhongzxz {float: left; }
.zhongzx ul {width: 210px; height: 60px; float: right;  }
.zhongzx ul li {font-size: 12px; list-style: none;}
.zhongzx ul li a {color: #333;}
.zhongc {width: 320px; height: 450px; margin-left: 40px; float: left;}
.zhongcs {width: 320px; height: 35px; border-bottom: 1px #f7deda solid;}
.zhongcs ul {width: 70px; height: 16px; float: left; padding-top: 10px; font-weight: 700}
.zhongcs ul li {font-size: 16px; list-style: none; font-weight: 700；}
.zhongcs ul li a {color: #cc0001}
.zhongcsz ul {width: 75px; height: 22px; float: right; background: #f7deda}
.zhongcsz ul li {font-size: 12px; list-style: none; float: 0 auto; margin-left: 6px; }
.zhongcsz ul li a {color: #cc0001}
.zhongxia {width: 320px; height: 414px;}
.zhongxias {width: 320px; height: 390px;  margin-top: 20px; float: left;}
.zhongxias ul {float: left;}
.zhongxias ul li {font-size: 14px; list-style: disc; float: left; margin-left: 17px;margin-bottom: 12px; width: 302px;}
.zhongxias ul li a {color: #333}
/*.zhongxias ul li a:hover {color: #cc0001; font-size:16px;}*/
.zhongxias ul li a.on{color: #cc0001; font-size:16px;}
.zhongy {width: 301px; height: 450px; float: right;}
.zhongys {width: 301px; height: 41px; background: #fcf4f2; border-top: 1px #f7deda solid; }
.zhongys ul { float: left; margin-left: 12px; margin-top: 10px; font-weight: 700}
.zhongys ul li {font-size: 16px;}
.zhongys ul li a {color: #cc0001;}
.zhongyx {width: 301px; height: 116px; margin-top: 16px;}
.zhongyx a {color: #333; font-size: 16px; }
.zhongyxtu {padding-top: 15px; float: left;}
.zhongyxy {float: right; width: 156px; height: 72px; padding-top: 15px; margin-left: 15px;}
.zhongyxy a:hover {color: #333;}
.zhongyxx {width: 301px; height: 116px; margin-top: 16px;}
.zhongyxx a {color: #333; font-size: 16px; }
.zhongyxxtu {padding-top: 15px; float: left;}
.zhongyxyx {float: right; width: 156px; height: 72px; padding-top: 15px; margin-left: 25px;}
.zhongyxyx a:hover {color: #333; display: block;}
.zhongyxz {width: 301px; height: 131px;}
.zhongyxz ul {padding-left: 20px;}
.zhongyxz ul li {margin-top: 13px; font-size: 14px; list-style: disc; }
.zhongyxz ul li a {color: #333;}
.zzhongyi {width: 1000px; height: 265px; margin:0 auto ;  position: relative;}
.zzhongyiz {width: 303px; height: 265px; float: left;}
.zzhongyizs {width: 301px; height: 41px; margin-top:12px; background: #fcf4f2;
border-top: solid 1px #cc0001; }
.zzhongyizs ul {height: 20px; margin-top: 10px; }
.zzhongyizs ul a {font-size: 16px; color: #cc0001; font-weight: 700; margin-left: 10px; }
.zzhongyizzs {width: 301px; height: 142px; }
.zzhongyizz {margin: 16px 5px 0;width: 140px; height: 126px; float: left;}
.zzhongyizz a {padding-left: 0 auto;    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    height: 18px;
    display: block; font-weight: 400; color: #333;  }
.zzhongyizzy {margin-top: 16px; width: 141px; height: 126px; float: right;}
.zzhongyizzy a {padding-left: 0 auto; padding-left: 10px; font-weight: 400; color: #333; }
.zzhongyizx {width: 301px; height: 70px;}
.zzhongyizx ul {padding-left: 20px;}
.zzhongyizx ul li {font-size: 14px; list-style: disc; padding-bottom: 10px;}
.zzhongyizx ul li a {color: #333;}
.zzhongyic {width: 320px; height: 265px; margin-left: 40px; float: left;}
.zzhongyics {width: 320px; height: 29px; border-bottom: 1px solid #cc0001;}
.zzhongyics a {color: #cc0001; font-size: 16px; font-weight: 700;}
.zzhongyicxz {width: 50px; height: 236px; float: left;}
.zzhongyicxz ul {padding-top: 18px; padding-left: 15px;}
.zzhongyicxz ul li { font-size: 14px; list-style: disc; margin-bottom: 11px; font-weight: 700;}
.zzhongyicxz ul li a {color: #333;}
.zzhongyicxc {margin-top: 20px; width: 8px; height: 200px; float: left;}
.zzhongyicxy {width: 302px; height: 236px; float: left;padding-left: 18px;}
.zzhongyicxy ul {padding-top: 18px;}
.zzhongyicxy ul li { font-size: 14px; margin-bottom: 11px; font-weight: 700; list-style:disc; }
.zzhongyicxy ul li a {color: #333;}
.zzhongyiy {width: 301px; height: 265px; float: right; }
.zzhonger {width: 1013px; height: 60px; margin:0 auto ;  position: relative;}
.zzhongsan {width: 1000px; height: 95px; margin:0 auto ;  position: relative;}
.zzhongsi {width: 1000px; height: 362px; margin:0 auto ;  position: relative;}
.zzhongsiz {width: 301px; height: 362px; float: left;}
.zzhongsizs {width: 301px; height: 36px; background: #fcf4f2; border-top: solid 1px #cc0001; padding-top: 9px;}
.zzhongsizs a {font-size: 16px; color: #cc0001; font-weight: 700; margin-left: 11px;}     
.zzhongsizz {width: 301px; height: 192px; margin-top: 15px; border-bottom: 1px #999 dotted;}
.zzhongsizz ul {width: 301px; height: 20px; margin-top: 12px; }
.zzhongsizz ul a {font-size: 16px;  color: #333;}
.zzhongsizx {height: 114px; width: 301px;}
.zzhongsizx ul {padding-left: 18px;}
.zzhongsizx ul li {padding-top: 12px; font-size: 14px; list-style: disc; }
.zzhongsizx ul li a {color: #333; }
.zzhongsic {width: 321px; height: 362px; float: left; margin-left: 40px;}
.zzhongsics {width: 321px; height: 36px; background: #fcf4f2; border-top: solid 1px #cc0001; padding-top: 9px;}
.zzhongsics a {font-size: 16px; color: #cc0001; font-weight: 700; margin-left: 11px;}     
.zzhongsicz {width: 321px; height: 192px; margin-top: 15px; border-bottom: 1px #999 dotted;}
.zzhongsicz ul {width: 321px; height: 20px; margin-top: 12px; }
.zzhongsicz ul a {font-size: 16px;  color: #333;}
.zzhongsicx {height: 114px; width: 301px;}
.zzhongsicx ul {padding-left: 18px;}
.zzhongsicx ul li {padding-top: 12px; font-size: 14px; list-style: disc; }
.zzhongsicx ul li a {color: #333; }
.zzhongsiy {width: 301px; height: 362px; float: right;}
.zzhongsiys {width: 301px; height: 36px; background: #fcf4f2; border-top: solid 1px #cc0001; padding-top: 9px;}
.zzhongsiys a {font-size: 16px; color: #cc0001; font-weight: 700; margin-left: 11px;}     
.zzhongsiyz {width: 301px; height: 192px; margin-top: 15px; border-bottom: 1px #999 dotted;}
.zzhongsiyz ul {width: 301px; height: 20px; margin-top: 12px; }
.zzhongsiyz ul a {font-size: 16px;  color: #333;}
.zzhongsiyx {height: 114px; width: 301px;}
.zzhongsiyx ul {padding-left: 18px;}
.zzhongsiyx ul li {padding-top: 12px; font-size: 14px; list-style: disc; }
.zzhongsiyx ul li a {color: #333; }
.zzhongwu {width: 1013px; height: 60px; margin:0 auto ;  position: relative;}
.zzhonglv {width: 1000px; height: 95px; margin:0 auto ;  position: relative;}
.zzhongqi {width: 1000px; height: 362px; margin:0 auto ;  position: relative;}
.zzhongqiz {width: 301px; height: 362px; float: left;}
.zzhongqizs {width: 301px; height: 36px; background: #fcf4f2; border-top: solid 1px #cc0001; padding-top: 9px;}
.zzhongqizs a {font-size: 16px; color: #cc0001; font-weight: 700; margin-left: 11px;}     
.zzhongqizz {width: 301px; height: 192px; margin-top: 15px; border-bottom: 1px #999 dotted;}
.zzhongqizz ul {width: 301px; height: 20px; margin-top: 12px; }
.zzhongqizz ul a {font-size: 16px;  color: #333;}
.zzhongqizx {height: 114px; width: 301px;}
.zzhongqizx ul {padding-left: 18px;}
.zzhongqizx ul li {padding-top: 12px; font-size: 14px; list-style: disc; }
.zzhongqizx ul li a {color: #333; }
.zzhongqic {width: 321px; height: 362px; float: left; margin-left: 40px;}
.zzhongqics {width: 321px; height: 36px; background: #fcf4f2; border-top: solid 1px #cc0001; padding-top: 9px;}
.zzhongqics a {font-size: 16px; color: #cc0001; font-weight: 700; margin-left: 11px;}     
.zzhongqicz {width: 321px; height: 192px; margin-top: 15px; border-bottom: 1px #999 dotted;}
.zzhongqicz ul {width: 321px; height: 20px; margin-top: 12px; }
.zzhongqicz ul a {font-size: 16px;  color: #333;}
.zzhongqicx {height: 114px; width: 301px;}
.zzhongqicx ul {padding-left: 18px;}
.zzhongqicx ul li {padding-top: 12px; font-size: 14px; list-style: disc; }
.zzhongqicx ul li a {color: #333; }
.zzhongqiy {width: 301px; height: 362px; float: right;}
.zzhongqiys {width: 301px; height: 36px; background: #fcf4f2; border-top: solid 1px #cc0001; padding-top: 9px;}
.zzhongqiys a {font-size: 16px; color: #cc0001; font-weight: 700; margin-left: 11px;}     
.zzhongqiyz {width: 301px; height: 192px; margin-top: 15px; border-bottom: 1px #999 dotted;}
.zzhongqiyz ul {width: 301px; height: 20px; margin-top: 12px; }
.zzhongqiyz ul a {font-size: 16px;  color: #333;}
.zzhongqiyx {height: 114px; width: 301px;}
.zzhongqiyx ul {padding-left: 18px;}
.zzhongqiyx ul li {padding-top: 12px; font-size: 14px; list-style: disc; }
.zzhongqiyx ul li a {color: #333; }
.zzhongba {width: 1000px; height: 362px; margin:0 auto ;  position: relative;}
.zzhongbaz {width: 301px; height: 362px; float: left;}
.zzhongbazs {width: 301px; height: 36px; background: #fcf4f2; border-top: solid 1px #cc0001; padding-top: 9px;}
.zzhongbazs a {font-size: 16px; color: #cc0001; font-weight: 700; margin-left: 11px;}     
.zzhongbazz {width: 301px; height: 192px; margin-top: 15px; border-bottom: 1px #999 dotted;}
.zzhongbazz ul {width: 301px; height: 20px; margin-top: 12px; }
.zzhongbazz ul a {font-size: 16px;  color: #333;}
.zzhongbazx {height: 114px; width: 301px;}
.zzhongbazx ul {padding-left: 18px;}
.zzhongbazx ul li {padding-top: 12px; font-size: 14px; list-style: disc; }
.zzhongbazx ul li a {color: #333; }
.zzhongbac {width: 321px; height: 362px; float: left; margin-left: 40px;}
.zzhongbacs {width: 321px; height: 36px; background: #fcf4f2; border-top: solid 1px #cc0001; padding-top: 9px;}
.zzhongbacs a {font-size: 16px; color: #cc0001; font-weight: 700; margin-left: 11px;}     
.zzhongbacz {width: 321px; height: 192px; margin-top: 15px; border-bottom: 1px #999 dotted;}
.zzhongbacz ul {width: 321px; height: 20px; margin-top: 12px; }
.zzhongbacz ul a {font-size: 16px;  color: #333;}
.zzhongbacx {height: 114px; width: 301px;}
.zzhongbacx ul {padding-left: 18px;}
.zzhongbacx ul li {padding-top: 12px; font-size: 14px; list-style: disc; }
.zzhongbacx ul li a {color: #333; }
.zzhongbay {width: 301px; height: 362px; float: right;}
.zzhongbays {width: 301px; height: 36px; background: #fcf4f2; border-top: solid 1px #cc0001; padding-top: 9px;}
.zzhongbays a {font-size: 16px; color: #cc0001; font-weight: 700; margin-left: 11px;}     
.zzhongbayz {width: 301px; height: 192px; margin-top: 15px; border-bottom: 1px #999 dotted;}
.zzhongbayz ul {width: 301px; height: 20px; margin-top: 12px; }
.zzhongbayz ul a {font-size: 16px;  color: #333;}
.zzhongbayx {height: 114px; width: 301px;}
.zzhongbayx ul {padding-left: 18px;}
.zzhongbayx ul li {padding-top: 12px; font-size: 14px; list-style: disc; }
.zzhongbayx ul li a {color: #333; }
.zzhongjiu {width: 1000px; height: 44px; margin:0 auto ;  position: relative; }
.zzhongshi {width: 1035px; height: 324px; margin:0 auto ;  position: relative; }
.zzhongshii {width: 173px; height: 324px; float: left;margin: 0px 17px;}
.zzhongshii ul {height: 30px;}
.zzhongshii ul li {padding-top: 12px; font-size: 16px; font-weight: 500; }
.zzhongshii ul li a {color: #333; }
.zzhongshier {width: 173px; height: 324px; float: left; margin-left: 35px;}
.zzhongshier ul {height: 30px;}
.zzhongshier ul li {padding-top: 12px; font-size: 16px; font-weight: 500; }
.zzhongshier ul li a {color: #333; }
.zzhongshisan {width: 173px; height: 324px; float: left; margin-left: 35px;}
.zzhongshisan ul {height: 30px;}
.zzhongshisan ul li {padding-top: 12px; font-size: 16px; font-weight: 500; }
.zzhongshisan ul li a {color: #333; }
.zzhongshisi {width: 173px; height: 324px; float: left; margin-left: 35px;}
.zzhongshisi ul {height: 30px;}
.zzhongshisi ul li {padding-top: 12px; font-size: 16px; font-weight: 500; }
.zzhongshisi ul li a {color: #333; }
.zzhongshiwu {width: 173px; height: 324px; float: right;}
.zzhongshiwu ul {height: 30px;}
.zzhongshiwu ul li {padding-top: 12px; font-size: 16px; font-weight: 500; }
.zzhongshiwu ul li a {color: #333; }
.dibu {height: 200px; background: #ececec; clear: both; }
.dibuz {width: 1000px; height: 180px; margin:0 auto ;  position: relative; padding-top: 20px;}
.dibuzs {height: 30px; padding-bottom: 10px;}
.dibuzs p a {font-size: 14px; color: #313131; font-weight: 700; float: left; margin-left: 15px;
line-height: 30px;}

.dibuzz {height: 30px;  padding-bottom: 10px;}
.dibuzz p a {font-size: 14px; color: #313131; font-weight: 700; float: left; margin-left: 15px;
line-height: 31px;}
.dibuzx {height: 30px;  padding-bottom: 10px;}
.dibuzx p a {font-size: 14px; color: #313131; font-weight: 700; float: left; margin-left: 15px;
line-height: 33px; font-family:  "微软雅黑";}

.beian {height: 228px; background: #990000; }
.beianz {width: 1000px; height: 228px; margin:0 auto;  position: relative;}
.beianz ul {float: left;  position: relative; margin-bottom: 30px; margin-top: 20px;}
.beianz ul li {text-align: center; font-size: 14px; height: 20px; padding-top: 4px; }
.beianz ul li p {color: #fff;}

.yiweizhi {width: 1000px; height: 38px; margin: 0 auto; position: relative;}
.yiweizhi a {font-size: 12px; color: #333;}
.yiweizhi a:hover {color: #cc0001;}
.yizhong {width: 1000px; min-height: 1111px; margin: 0 auto; position: relative; }
.yizhongz {width: 743px; float: left; margin-bottom: 30px; border-bottom: 1px #e5e5e5 solid; border-left: 1px #e5e5e5 solid; border-right: 1px #e5e5e5 solid; }
.yizhongzs {width: 745px; height: 41px; border-bottom: 1px #e5e5e5 solid; border-top:2px #cc0001 solid; background: #f9f9f9;}
.yizhongzz {width: 745px;} 
.yizhongzzyi {width: 719px; height: 150px; border-bottom: 1px #e5e5e5 solid; margin-left: 13px;} 
.yizhongzzyi ul {float: left; padding-left: 10px; width: 529px; height: 151px;}   
.yizhongzzyi ul li {margin-top: 15px;}              
.yizhongzzer {width: 719px; height: 150px; border-bottom: 1px #e5e5e5 solid; margin-left: 13px;} 
.yizhongzzer ul {float: left; padding-left: 10px; width: 529px; height: 151px;}   
.yizhongzzer ul li {margin-top: 15px;} 
.yizhongzzsan {width: 719px; height: 150px; border-bottom: 1px #e5e5e5 solid; margin-left: 13px;} 
.yizhongzzsan ul {float: left; padding-left: 10px; width: 529px; height: 151px;}   
.yizhongzzsan ul li {margin-top: 15px;}
.yizhongzzsi {width: 719px; height: 150px; border-bottom: 1px #e5e5e5 solid; margin-left: 13px;} 
.yizhongzzsi ul {float: left; padding-left: 10px; width: 529px; height: 151px;}   
.yizhongzzsi ul li {margin-top: 15px;}
.yizhongzzwu {width: 719px; height: 150px; border-bottom: 1px #e5e5e5 solid; margin-left: 13px;} 
.yizhongzzwu ul {float: left; padding-left: 10px; width: 529px; height: 151px;}   
.yizhongzzwu ul li {margin-top: 15px;}
.yizhongzzlu {width: 719px; height: 150px; border-bottom: 1px #e5e5e5 solid; margin-left: 13px;} 
.yizhongzzlu ul {float: left; padding-left: 10px; width: 529px; height: 151px;}   
.yizhongzzlu ul li {margin-top: 15px;}
.yizhognzx {height: 73px; width: 743px;}
.yipageNav {
    clear: both;
    height: 22px;
    margin: 18px 0;
    vertical-align: middle; text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.yipageNav a {padding-left: 10px; color: #000;}
.yipageNav a.current{color: #999999;}
.yizhongy {width: 250px; height: 1020px; float: right; }
.yizhongys {width: 248px; height: 200px; border-bottom: 1px #e5e5e5 solid; border-top: 2px #cc0001 solid;
border-left: 1px #e5e5e5 solid; border-right: 1px #e5e5e5 solid; }
.yizhongyss {width: 228px; height: 30px; margin-left: 10px; border-bottom: 1px #e5e5e5 solid; padding-top: 10px;}
.yizhongysx {width: 248px; height:160px; }
.yizhongysx ul {width: 248px; height:160px; margin-left: 4px;}
.yizhongysx ul li {width: 70px; height: 20px;float: left; font-size: 14px;  font-weight: 700; padding:5px 5px; }
.yizhongysx ul li a {color: #333;}
.yizhongysx ul li a:hover {color: #cc0001;}
.yizhongyg {width: 250px; height: 300px; margin-top: 10px; }
.yizhongyx {width: 248px; height: 267px; border-bottom: 1px #e5e5e5 solid; border-top: 2px #cc0001 solid;
border-left: 1px #e5e5e5 solid; border-right: 1px #e5e5e5 solid; margin-top: 10px;}
.yizhongyxs {width: 228px; height: 30px; margin-left: 10px; border-bottom: 1px #e5e5e5 solid; padding-top: 10px;}
.yizhongyxx {width: 228px; height: 237px;}
.yizhongyxx ul {padding-top: 5px; }
.yizhongyxx ul li {width: 228px; height: 25px; border-bottom: 1px #e5e5e5 dotted; margin-left: 10px;
 font-size: 14px; padding-top: 4px;}
.yizhongyxx ul li a {color: #333; }
.yizhongyzx {width: 248px; height: 207px; border-bottom: 1px #e5e5e5 solid; border-top: 2px #cc0001 solid;
border-left: 1px #e5e5e5 solid; border-right: 1px #e5e5e5 solid; margin-top: 10px;}
.yizhongyzxs {width: 228px; height: 30px; margin-left: 10px; border-bottom: 1px #e5e5e5 solid; padding-top: 10px;}
.yizhongyzxx {width: 228px; height: 177px;}
.yizhongyzxx ul {padding-top: 5px; }
.yizhongyzxx ul li {width: 228px; height: 25px; border-bottom: 1px #e5e5e5 dotted; margin-left: 10px;
 font-size: 14px; padding-top: 4px;}
.yizhongyzxx ul li a {color: #333; }

.erweizhi {width: 1000px; height: 38px; margin: 0 auto; position: relative;}
.erweizhi a {font-size: 12px; color: #333;}
.erweizhi a:hover {color: #cc0001;}
.erzhong {width: 1000px; min-height: 1111px; margin: 0 auto;}
.erzhongz {width: 743px; float: left; margin-bottom:30px; border-bottom: 1px #e5e5e5 solid;border-top:2px #cc0001 solid; border-left: 1px #e5e5e5 solid; border-right: 1px #e5e5e5 solid; }
.erzhongzs {width: 719px; height: 160px; border-bottom: 1px #e5e5e5 dotted; margin-left: 13px; }
.erzhongzs ul {padding-top: 40px; height: 40px;}
.erzhongzz {width: 719px; border-bottom: 1px #e5e5e5 solid; margin-left: 13px;} 
.erzhongzzyi {width: 719px; display: inline-block; padding-bottom:15px; border: 1px #e5e5e5 solid;  margin-top: 15px;margin-bottom: 27px;} 
.erzhongzzyi ul {float: left;  width: 700px; padding-left: 10px;}   
.erzhongzzyi ul li {margin-top: 15px;} 
.erzhongzztu {width: 719px; height: 433px;}
.erzhongzx {width: 719px; height: 93px; border-bottom: 1px #e5e5e5 solid; margin-left: 13px;}  
.erzhongzx ul {width: 719px; height: 93px; }
.erzhongzx ul li {font-size: 14px; padding-top: 15px;}
.erzhongzx ul li a {color: #333;} 
.erzhongzxg {width: 719px; height: 140px; margin-left: 13px;}         
.erzhongzxg ul {width: 719px; height: 80px; padding-top: 20px;}
.erzhongzxg ul li {width: 350px; float: left; margin-bottom: 10px; font-size: 14px;}
.erzhongzxg ul li a {color: #333;}
.erzhongzxg ul li a:hover {color: #cc0001;}

.erzhongy {width: 250px; height: 1020px; float: right; }
.erzhongys {width: 248px; height: 200px; border-bottom: 1px #e5e5e5 solid; border-top: 2px #cc0001 solid;
border-left: 1px #e5e5e5 solid; border-right: 1px #e5e5e5 solid; }
.erzhongyss {width: 228px; height: 30px; margin-left: 10px; border-bottom: 1px #e5e5e5 solid; padding-top: 10px;}
.erzhongysx {width: 248px; height:160px; }
.erzhongysx ul {width: 248px; height:160px; margin-left: 4px;}
.erzhongysx ul li {width: 70px; height: 20px;float: left; font-size: 14px;  font-weight: 700; padding:5px 5px; }
.erzhongysx ul li a {color: #333;}
.erzhongysx ul li a:hover {color: #cc0001;}
.erzhongyg {width: 250px; height: 300px; margin-top: 10px; }
.erzhongyx {width: 248px; height: 267px; border-bottom: 1px #e5e5e5 solid; border-top: 2px #cc0001 solid;
border-left: 1px #e5e5e5 solid; border-right: 1px #e5e5e5 solid; margin-top: 10px;}
.erzhongyxs {width: 228px; height: 30px; margin-left: 10px; border-bottom: 1px #e5e5e5 solid; padding-top: 10px;}
.erzhongyxx {width: 228px; height: 237px;}
.erzhongyxx ul {padding-top: 5px; }
.erzhongyxx ul li {width: 228px; height: 25px; border-bottom: 1px #e5e5e5 dotted; margin-left: 10px;
 font-size: 14px; padding-top: 4px;}
.erzhongyxx ul li a {color: #333; }
.erzhongyzx {width: 248px; height: 207px; border-bottom: 1px #e5e5e5 solid; border-top: 2px #cc0001 solid;
border-left: 1px #e5e5e5 solid; border-right: 1px #e5e5e5 solid; margin-top: 10px;}
.erzhongyzxs {width: 228px; height: 30px; margin-left: 10px; border-bottom: 1px #e5e5e5 solid; padding-top: 10px;}
.erzhongyzxx {width: 228px; height: 177px;}
.erzhongyzxx ul {padding-top: 5px; }
.erzhongyzxx ul li {width: 228px; height: 25px; border-bottom: 1px #e5e5e5 dotted; margin-left: 10px;
 font-size: 14px; padding-top: 4px;}
.erzhongyzxx ul li a {color: #333; }


.sanweizhi {width: 1000px; height: 38px; margin: 0 auto; position: relative;}
.sanweizhi a {font-size: 12px; color: #333;}
.sanweizhi a:hover {color: #cc0001;}
.sanzhengwen {width: 998px; margin: 0 auto; position: relative; 
      border:1px #e1e1e1 solid; border-top:2px #cc0001 solid; margin-bottom:30px;}
.sanzhengwens {height: 40px; border-bottom: 1px #f0f0f0 solid; background:#f9f9f9; }
.sanzhengwens p {font-size: 16px; color: #333; font-weight: 700; line-height: 40px;
 padding-left: 18px;}
.sanzhengwenz {border-bottom: 1px #e5e5e5 solid;}   
.sanzhengwenx {height: 60px;clear: both; line-height: 60px;
   vertical-align: middle; text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; }
.sanzhengwenx a {padding-left: 10px;}


.siweizhi {width: 1000px; height: 38px; margin: 0 auto; position: relative;}
.siweizhi a {font-size: 12px; color: #333;}
.siweizhi a:hover {color: #cc0001;}
.sizhengwen {width: 998px; margin: 0 auto; position: relative;
 border:1px #e1e1e1 solid; border-top:2px #cc0001 solid; }
.sizhengwenz {width: 966px; vertical-align: middle; text-align: center;
margin: 0 auto; position: relative;padding-bottom: 20px;} 
.sizhengwenzs {height: 120px; border-bottom: 1px #aaaaaa dotted; }
.sizhengwenzx {padding-bottom:10px; width: 964px; margin-top: 10px; border: 1px #e5e5e5 solid; 
 text-align: center; padding-top:10px; }
.sizhengtu {height: 255px; width: 998px; margin: 0 auto; position: relative; 
border:1px #e1e1e1 solid; border-top:2px #cc0001 solid; margin-top: 10px;margin-bottom: 20px; }
.sizhengtus {height: 52px; border-bottom: 1px #eeeeee solid; background:#f9f9f9; }


.wuweizhi {width: 1000px; height: 38px; margin: 0 auto; position: relative;}
.wuweizhi a {font-size: 12px; color: #333;}
.wuweizhi a:hover {color: #cc0001;}
.wuzhong {width: 1000px; border-top:2px #cc0001 solid;
 margin: 0 auto; position: relative; }
.wuzhongz {width: 1000px; padding-top: 40px;} 
.wujiazai {height: 30px; width: 100px; margin: 0 auto; position: relative;
border:1px #cccccc solid; text-align: center;}
.wujiazai a {line-height: 30px;}


.luweizhi {width: 1000px; height: 38px; margin: 0 auto; position: relative;}
.luweizhi a {font-size: 12px; color: #333;}
.luweizhi a:hover {color: #cc0001;}
.luzhengwen {width: 998px; margin: 0 auto; position: relative;
 border:1px #e1e1e1 solid; border-top:2px #cc0001 solid; }
.luzhengwenz {width: 966px; vertical-align: middle; text-align: center;
margin: 0 auto; position: relative;} 
.luzhengwenzs {height: 120px; border-bottom: 1px #aaaaaa dotted; }
.luzhengwenzx { width: 964px; margin-top: 10px; border: 1px #e5e5e5 solid; 
 text-align: center; display: table-cell; vertical-align: middle;position: relative;}
.luzhengwenzx span {vertical-align: middle; position: relative;}
.luzhengwenx {height: 60px;width: 966px; margin: 0 auto; position: relative;}
.luzhengwenx ul li {font-size: 14px;}
.luzhengwenx ul li a {color: #333; }
.luzhengwenx ul li a:hover {color: #cc0001;}
.luzhengtu {height: 420px; width: 998px; margin: 0 auto; position: relative; 
border:1px #e1e1e1 solid; border-top:2px #cc0001 solid; margin-top: 10px; }
.luzhengtus {height: 52px; border-bottom: 1px #eeeeee solid; background:#f9f9f9; }

.slideBox .prev, .slideBox .next {
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 42px;
    height: 74px;
    background: url(../image/12.png) no-repeat;
}
.slideBox .next {
    left: auto;
    right: 2%;
    background: url(../image/13.png) no-repeat;
}
.zhongzs .bd{width: 299px; height: 206px; position: relative;}
.zhongzs .bd a{display: block; width: 299px; height: 206px; position: relative;}

.zhongzs .bd img{display: block; width: 299px; height: 206px; float: left;}
.zhongzs .bd p{
    width: 299px;
    position: absolute;
    top: 180px;
    left: 0px;
    z-index: 10;
    height: 26px;
    background: rgba(0,0,0,0.4);
    display: block;
    line-height: 26px;
    text-align: center;
    color: #fff;
}
.zhongzs .prev {
    position: absolute;
    width: 27px;
    height: 45px;
    font-size: 9px;
    left: 2px;
    top: 100px;
    background: url(../image/prev-next.jpg) no-repeat 0px 0px;
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: none;
}
.zhongzs .next {
    position: absolute;
    width: 27px;
    height: 45px;
    font-size: 9px;
    left: 274px;
    top: 100px;
    background: url(../image/prev-next.jpg) no-repeat 0px -54px;
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: none;
}
.zhongzs .prev:hover,.zhongzs .next:hover{ opacity: 0.8; filter:alpha(opacity=80);}
.zhongzs:hover .prev {display: block;}
.zhongzs:hover .next {display: block;}
.zhongzs .hd{
    width: 300px;
    top: 200px;
    left: 2px;
    position: absolute;
    height: 10px;
}
.zhongzs .hd li{
    display: inline-block;
    background-color: #333;
    width: 49px;
    height: 6px;
    position: relative;
    margin: 0 1px 0 0;
    outline: 0px;
}
.zhongzs .hd li.on{
    background-color:#649FE1;
}

.erzhongzzer p{font-size: 16px;max-width: 720px;}
.erzhongzzer img{max-width: 720px;}

.soso {
    float: right;
    margin-top: 22px;
    width: 231px;
}
.soso .submit {
    float: right;
    width: 50px;
    height: 30px;
    border: none;
    font-size: 12px;
    background: url(../image/soso.jpg) left bottom no-repeat;
    cursor: pointer;
}
.soso .inputWarp {
    float: right;
    width: 180px;
    height: 28px;
    margin: 0;
    padding: 0;
    line-height: 22px;
    background: none;
    border: #c9c9c9 1px solid;
    border-right: none;
}
.soso .txtArea {
    width: 150px;
    _width: 145px;
    height: 26px;
    _height: 24px;
    margin: 1px 0 0 5px;
    font-size: 14px;
    line-height: 26px;
    border: 0;
    color: #666;
    outline: none;
    font-size: 100%;
    padding: 0;
}




