a,body,dd,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,img,input,label,li,ol,p,span,strong,ul{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6,strong{font-weight:normal;}
em,cite{font-style:normal;}
ol,ul{list-style:none;}
img,iframe,video{vertical-align:top;}
a,
a:active,
a:focus,
a:hover,
a:visited{text-decoration:none}
a,
img{-webkit-touch-callout:none}
input[type=password],
input[type=text],
textarea{resize:none;outline:0;-webkit-appearance:none;white-space:pre-wrap;word-wrap:break-word;background:#fff;}

body {background:#fff; font-family:'PingFang SC','PingFang TC','Noto Sans CJK SC','Noto Sans CJK TC','Microsoft Yahei',Helvetica,Arial;background:#fff; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); -webkit-text-size-adjust:none;}
body,html a {color:#333;}

html {font-size: 13.33333vw;}

input,textarea {-webkit-appearance:none;-moz-appearance:none;appearance:none;}
*, *::before, *::after {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
/*  */
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:"";}
.mt10 {margin-top:0.1rem !important;}
.mt20 {margin-top:0.2rem !important;}
.mt30 {margin-top:0.3rem !important;}
.mt40 {margin-top:0.4rem !important;}
/*  */
.indx-top-bar{background:url(../image/header_bg.jpg) no-repeat 50% 0;background-size:cover;}
.header_bg{}
.header{position:relative;height:1rem;margin:0 .27rem;}
.header_logo,
.header_home_btn,
.header_menu_btn{display:block;height:100%;background-position:50% 50%;background-repeat:no-repeat;background-size:contain;}
.header_logo{float:left;width:2.88rem;background-image:url(../image/icon_new_logo.png);}
.header_txt{float:left;margin-left:.16rem;padding-top:.27rem;font-size:.36rem;color:#fff;}
.header_txt a{color:#fff;}
.header_home_btn{margin-left:.2rem;float:right;width:.42rem;background-image:url(../image/icon_home_btn.png);}
.header_menu_btn{float:right;width:.31rem;width:.42rem;margin-left:.2rem;background-image:url(../image/icon_menu_btn.png);background-repeat:no-repeat;background-size:.31rem auto;}

.header_eng{font-size:.28rem;float:right;margin-top:.32rem;color:#fff;}
.header_eng a{color:#fff;background-image:url(../image/icon-lang.png);background-repeat:no-repeat;background-position:left center;background-size:.48rem auto;padding-left:.5rem;}


.shaanxi_city{display:none;}
.shaanxi_all_nav{display:none;}

.shaanxi_all_nav{padding-bottom:10px;}


.chan-main-nav{position:relative;-webkit-box-shadow:0 .05rem .05rem -.05rem rgba(151,125,124,.7);box-shadow:0 .05rem .05rem -.05rem rgba(151,125,124,.7);z-index:1;font-size:0.28rem;display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:space-between;line-height:0.46rem;width:100%;padding:0.2rem 0 0.15rem;}
.chan-main-nav a{color:#fff;display:inline-block;width:16%;text-align:center;}
.chan-main-nav a.cur,
.chan-main-nav a.active{font-weight:bold;}

/**/
.focus-swiper{height:4.0rem;overflow:hidden;}
.focus-swiper .swiper-slide{overflow:hidden;position:relative;}
.focus-swiper .swiper-slide a{display:block;}
.focus-swiper .swiper-slide img{position:absolute;top:0;left:50%;width:auto;min-width:100%;height:4.0rem;transform:translateX(-50%);}
.focus-swiper .swiper-slide p{position:absolute;bottom:0;left:0;width:100%;height:1.0rem;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#fff;font-size:0.28rem;background:-webkit-linear-gradient(transparent,rgba(43,43,43,.85));background:linear-gradient(transparent,rgba(43,43,43,.85));}
.focus-swiper .swiper-container{width:100%;height:100%;}
.focus-swiper .swiper-pagination{font-size:0;z-index:999;}
.focus-swiper .swiper-pagination-bullet{background-color:#fff;opacity:1;border-radius:50%;}
.focus-swiper .swiper-pagination-bullet-active{background-color:#ab0301;}
.index-swiper .swiper-slide p{padding:0 1.7rem 0 15px;line-height:1.2rem;}
.index-swiper .swiper-pagination{text-align:right;padding-right:15px;bottom:16px;}


/* list */
.defList {}
.defList .item {border-bottom:1px solid #ddd; margin:0 15px;}
.defList .item a {display:block; overflow:hidden;}
.defList .item-tit {font-size:16px; line-height:1.6; font-weight:400;}
.defList .item-img {border-radius:0.03rem; overflow:hidden;}
.defList .item-img img {width:100%;}
.defList .item-foot{font-size:.24rem;line-height:140%;color:#666;}
.defList .item-foot span.source{margin-right:0.15rem;}
.defList .item-foot span.source:empty{display:none;}
.defList .item-foot span.time{background-image:url(../image/icon-time.png);background-repeat:no-repeat;background-position:left center;background-size:0.24rem auto;padding-left:0.3rem;}
.defList .item-foot span.read{background-image:url(../image/icon-read.png);background-repeat:no-repeat;background-position:left center;background-size:12px auto;padding-left:18px;}
.defList .item-foot span.read[data-comment-id]{display:none;}
/*.defList .item-foot span.read {position:relative;margin-left:.15rem;}*/
/*.defList .item-foot span.read:before{content:'.';position:absolute;left:-12px;}*/

.defList .item-default .item-img {float:right; width:120px; height:80px;margin-left:5px;}
.defList .item-default a {padding:0.2rem 0;}
.defList .item-default .item-img img {min-height:100%;}
.defList .item-default .item-tit { max-height:50px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.defList .item-default .item-foot {margin-top:14px;}
/**/
.footer{text-align:center; background-color:#ab0301; padding:0.15rem 0; line-height:1.5; font-size:0.14rem; color:#fff; margin-top:0.5rem;}
.footer .aboutus a{color:#fff; padding:0 0.15rem;}
.footer a{color:#fff;}
/* article */
.arti {padding:0.4rem 15px 0;}

.artiHead {margin-bottom:0.3rem;}
.artiTit {margin-bottom:5px;font-size:0.42rem;line-height:1.39; text-align:justify; font-weight:700;}
.artiInfoBox {position:relative;line-height:26px;}

.artiInfo {font-size:0.24rem;color:#999;height:0.3rem;}
.artiInfo a {color:#999;}

.artiInfo .artiSource {margin-right:0.16rem;}
.artiInfo .artiTime {}

.artiSetFont {position:absolute;right:-0.2rem;top:0;z-index:1;font-size:0;line-height:0;}
.artiSetFont a {display:inline-block;vertical-align:middle; background-size:0.29rem auto; background-position:center;background-repeat:no-repeat; width:0.5rem;height:0.5rem;margin:0 0.05rem;}
.artiSetFont_small {background-image:url(../image/icon-asmall.png);}
.artiSetFont_big {background-image:url(../image/icon-abig.png);}

.artiCon {position:relative; font-size:0.34rem; line-height:0.56rem; height:auto; overflow:hidden;}
.artiCon p {margin:0.2rem 0 0.2rem 0; word-wrap:break-word; word-break:break-all; text-align:justify;}
.artiCon p.news_img_title {color:#999; font-size:14px;}
.artiCon p.pcenter {text-align:center;}
.artiCon img {width:100%; height:auto;display: block;}
.artiCon strong {font-weight:bold;}
.artiCon strong.kw {font-weight:normal;}
.artiCon strong.kw a {border-bottom:1px dashed #000;}

.artiCon p.news_img_title {text-align:center !important; text-indent:0;}
.artiCon p.news_img_title span,
.artiCon p.news_img_title cite {display:inline-block;text-align:left;font-style:normal;}

#video video { height: 100%;width: 100%;}
/**/
.artiBottom {position:relative;height:.5rem;}
/**/
.editor_author_moblie {text-align:right;font-size:14px;color:#a5a5a5;}
.min_height {height:300px;}  
.auto_height {height:auto;}

.continue-reading {position:absolute;width:100%;height:1.36rem;bottom:0;left:0;text-align:center;padding-top:0.5rem; background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(54%, #ffffff), to(#ffffff));background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 54%, #ffffff 100%);background-image:linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #ffffff 54%, #ffffff 100%);display:none;}
.continue-reading strong {font-size:0.28rem;color:#ab0301;font-weight:normal;position:relative;}
.continue-reading strong:before {content:'';display:inline-block;width:0.17rem;height:0.18rem;background:url(../image/arrow-down.png) no-repeat 50%;background-size:100% auto;position:absolute;left:50%;bottom:-0.2rem;margin-left:-0.08rem;}
/**/
.comHd {color:#999; font-size:0.28rem; display:table; margin:0.40rem 15px 0; white-space:nowrap; text-align:center; background:transparent; clear:both; width:calc(100%-50px); min-width:calc(100%-50px); height:1px;}
.comHd h3 {display:inline-block; padding:0 0.44rem;}
.comHd:before,.comHd:after {position:relative; top:0; display:table-cell; width:50%; border-top:1px solid #ddd; -webkit-transform:translateY(50%); -ms-transform:translateY(50%); transform:translateY(50%); content:'';}
/* home */
.headline {background-color: #f7f7f7;padding: 10px 25px;font-size: 0.28rem;line-height: 0.66rem}
/*  */
.modHd{margin:.27rem .27rem 0;overflow:hidden;border-bottom:solid 1px #ab0301;}
.modHd h3{width:1.56rem;height:.64rem;padding-left:.06rem;border-bottom:solid .06rem #ab0301;float:left;font-size:.38rem;line-height:.58rem;font-weight:bold;color:#ab0301;background:url(../image/icon_title_arrow.png) no-repeat 1rem .2rem;background-size:.1rem auto;}
.modHd h3 a{color:#ab0301;}
.modHd span{font-size:0.22rem;float:right;}
.modHd span a{margin-left:0.25rem;}
/*  */
.floating-shade{position:fixed;left:0;top:0;width:100%;height:100%;z-index:998;display:none;}
.floating-bg{position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,.75);z-index:999;}
.fl-header{height:1rem;}
.fl-header-logo{float:left;width:2.88rem;background-image:url(../image/icon_new_logo.png);display:block;height:100%;background-position:50% 50%;background-repeat:no-repeat;background-size:contain;margin-left:.27rem;}
.fl-header-logo a{display:block;width:100%;height:100%;}
.fl-header-txt{float:left;margin-left:.16rem;padding-top:.27rem;font-size:.36rem;color:#fff;}
.fl-header-txt a{color:#fff;}
.fl-close{background:url(../image/close-white.png) no-repeat;width:.36rem;height:100%;background-size:contain;background-position:center;float:right;margin-right:0.27rem;}
.floating-layer{width:100%;background:url(../image/header_bg.jpg) no-repeat 50% 0;background-size:cover;position:relative;z-index:9999;}
.floating-layer .shaanxi_city{height:1.2rem;padding:0.2rem 0 0.15rem;}
.floating-layer ul{display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:space-between;}
.floating-layer li{width:16%;text-align:center;float:left;}
.floating-layer li a{font-size:0.28rem;color:#fff;height:0.48rem;line-height:0.48rem;display:block;}

.article_vote{margin:.5rem 0;}
.article_vote_btn{display:block;width:auto;text-align:center;line-height:.85rem;height:.85rem;font-size:.3rem;border-radius:.1rem;background-color:#b01804;color:#fff;}

.chan_newsVideo{display:block;padding:.2rem 0;}
.chan_newsVideo video{width:100% !important;}
.chan_newsVideo .video-js{width:6.5rem;height:auto;padding-top: 56.25%;margin:0 auto;overflow:hidden;}
/* 广告 */
.sptpAD{border-bottom:1px solid #ddd;}



/* about */
.aboutRight{font-size:0.28rem;margin:0 .3rem;}
.aboutRight #chan_newsDetail img{max-width:100%;}
.aboutRight #chan_newsDetail p{line-height:185%;margin:1.2em 0;}
#webTitle{font-size:.32rem;font-weight:bold;margin-top:.5rem;color:#ab0301;}


/* english */
.eng-swiper,.eng-swiper .swiper-slide img{height:4.22rem;}
.eng-defList .item-default .item-img{width:2.4rem;height:1.35rem;}
.eng-defList .item-tit{font-size:.28rem;line-height:1.2;}
.eng-defList .item-default .item-tit{max-height:none;-webkit-line-clamp:3;}
.eng-defList .item-default .item-foot{font-size:.18rem;margin-top:.08rem;color:#999;}

/**/
.common-list{display:flex;flex-wrap:wrap;overflow:hidden;margin:0.3rem 15px 0;text-align:justify;justify-content:space-between;}
.common-list p{font-size:0.24rem;color:#404040;line-height:1.6;padding-top:0.2rem;}
.common-list a{display:block;padding-bottom:.2333rem;}
.common-list .item{width:3.1rem;}
.common-list .item-img{width:3.2rem;height:2.26rem;position:relative;}
.common-list .item-img img{width:100%;height:100%;}
.common-list .item-img i{width:35px;height:35px;background-size: 100% 100%;display: block;position: absolute;left: 0;right: 0;top: 50%;margin: -17.5px auto 0;}

/**/
@media screen and (min-width:769px){
    html{font-size:102.4px;}
    html .wap-wrap{width:768px;margin:0 auto}
}