.newsdetail-navbar {
  background: #c40e25;
  border: none;
  margin-bottom: 0;
  border-radius: 0;
}
.newsdetail-navbar .navbar-brand {
  display: inline-block;
  font-size: 0;
  text-indent: -9999px;
  width: 116px;
  height: 60px;
  padding: 10px 0;
  margin-right: 50px;
  background-image: url('../image/logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 10px;
}
.newsdetail-navbar .navbar-header {
  margin: 0;
  font-size: 0;
  text-align: center;
  position: relative;
}
.newsdetail-navbar .navbar-header .languageswitch {
  color: #fff;
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 14px;
}
.newsdetail-navbar .navbar-toggle {
  float: left;
  border: 1px solid #fff;
  margin: 13px 10px;
}
.newsdetail-navbar .navbar-form {
  margin-top: 13px;
  margin-bottom: 13px;
  border-color: #f3f3f3;
}
.newsdetail-navbar .navbar-form .form-control {
  border-color: #fff;
  background: #fff;
  box-shadow: none;
}
.newsdetail-navbar .navbar-form .input-group-btn .btn {
  border-color: #f3f3f3;
  background: #f3f3f3;
  box-shadow: none;
  outline: none;
}
.newsdetail-navbar .navbar-form .input-group-btn .btn .iconfont {
  font-weight: bold;
  font-size: 14px;
  color: #e30129;
}
.newsdetail-navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
.newsdetail-navbar .navbar-nav > li > a {
  color: #fff;
  padding: 20px 15px;
}
.newsdetail-navbar .navbar-nav > li > a:hover,
.newsdetail-navbar .navbar-nav > li > a:focus {
  background: #a81319;
  color: #fff;
}
.newsdetail-navbar .navbar-nav > li.active > a {
  background: #a81319;
  color: #fff;
}
.newsdetail-navbar .navbar-nav > li.open {
  position: static;
  background: none;
}
.newsdetail-navbar .navbar-nav > li.open > a {
  background: #a81319;
}
.newsdetail-navbar .navbar-nav > li .dropdown-menu {
  background: #a81319;
  border: none;
  border-radius: 0;
  width: 100%;
}
.newsdetail-navbar .navbar-nav > li .dropdown-menu li {
  float: left;
}
.newsdetail-navbar .navbar-nav > li .dropdown-menu li a {
  color: #fff;
  padding: 10px;
}
.newsdetail-navbar .navbar-nav > li .dropdown-menu li a:hover,
.newsdetail-navbar .navbar-nav > li .dropdown-menu li a:focus {
  color: #fff;
  background: none;
}
.ad a {
  position: relative;
  display: block;
}
.ad a img {
  width: 100%;
  height: 100%;
}
.hottopic {
  margin-top: 20px;
}
.hottopic .box_body {
  padding-top: 20px;
}
.hottopic .hottopic_list .item {
  margin-bottom: 20px;
}
.hottopic .hottopic_list .item a {
  display: block;
}
.hottopic .hottopic_list .item a img {
  width: 100%;
  height: 100px;
}
.recommendread .box_body {
  padding: 20px 0 0 0;
}
.recommendread .recommend_list li {
  margin-bottom: 20px;
}
.recommendread .recommend_list li a {
  position: relative;
  display: block;
  overflow: hidden;
}
.recommendread .recommend_list li a img {
  width: 100%;
  height: 185px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.recommendread .recommend_list li a img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.recommendread .recommend_list li a .title {
  position: absolute;
  padding: 0 10px;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .newsdetail-navbar {
    background: #e70022;
    border: none;
  }
  .newsdetail-navbar .navbar-brand {
    float: none;
    padding: 0;
    margin-right: 0;
  }
  .newsdetail-navbar .navbar-nav {
    margin: 7.5px 0;
  }
  .newsdetail-navbar .navbar-nav > li > a {
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
  }
  .newsdetail-navbar .navbar-nav > li > a:hover,
  .newsdetail-navbar .navbar-nav > li > a:focus {
    background: #c6171e;
    color: #fff;
  }
  .newsdetail-navbar .navbar-nav > .open > a {
    background-color: #a81319;
    color: #fff;
  }
  .newsdetail-navbar .navbar-nav > .open > a:hover,
  .newsdetail-navbar .navbar-nav > .open > a:focus {
    background-color: #a81319;
    color: #fff;
  }
  .newsdetail-navbar .navbar-nav > .open .dropdown-menu {
    margin: 0;
    padding: 0;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .newsdetail-navbar .navbar-nav > .open .dropdown-menu > li {
    float: left;
    width: 50%;
    clear: none;
  }
  .newsdetail-navbar .navbar-nav > .open .dropdown-menu > li > a {
    line-height: 30px;
    padding: 5px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
  .newsdetail-navbar .navbar-nav > .open .dropdown-menu > li > a:hover,
  .newsdetail-navbar .navbar-nav > .open .dropdown-menu > li > a:focus {
    background: #c6171e;
    color: #fff;
  }
  .newsdetail-navbar .navbar-nav > .open .dropdown-menu.twocolumn {
    width: 100%;
    font-size: 0;
  }
  .newsdetail-navbar .navbar-nav > .open .dropdown-menu.twocolumn li {
    display: inline-block;
    text-align: center;
    width: 50%;
  }
  .newsdetail-navbar .navbar-nav > .active > a {
    background: #c6171e;
    color: #fff;
  }
  .newsdetail-navbar .navbar-nav > .active > a:hover,
  .newsdetail-navbar .navbar-nav > .active > a:focus {
    background: #c6171e;
    color: #fff;
  }
  .newsdetail-navbar .navbar-form {
    border-color: #ca1636;
  }
  .newsdetail-navbar .navbar-toggle {
    float: none;
    position: absolute;
    left: 0;
    border-color: #fff;
  }
  .newsdetail-navbar .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .newsdetail-navbar .navbar-toggle:hover,
  .newsdetail-navbar .navbar-toggle:focus {
    background-color: #c6171e;
  }
}
/* 小屏幕（平板，大于等于 768px） */
/* 中等屏幕（桌面显示器，大于等于 992px） */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
