
/* CSS Document */
.pr_18{padding-right:2px;}
.white12 {font-size: 12px;color: #FFFFFF;font-family: "微软雅黑";line-height:40px;}
.white18{ color:#FFFFFF; font-size:18px; line-height:30px;}
.black18{ color:#000; font-size:18px; line-height:40px;}
.black20{ color:#000; font-size:20px; line-height:53px;}
.black26{font-size: 26px;color: #000; line-height:45px;}
.gray14{ color:#5a5a5a; font-size:14px; line-height:27px;}
.gray22{font-size: 22px;color: #636363; line-height:45px;}

/* 广告位 */
.ad1{ width:1400px; height:80px;overflow:hidden; margin:40px auto}
.ad1 img{ width:1400px; height:80px; }

/* 导航 */
.dh_bj{ width:100%;min-width:1400px; height:98px; background-color:#bf0614; margin-top:15px;}
#nav{ width:1400px; height:98px; z-index:9999; margin:0 auto}
#nav li{ float:left}
.nmgnews_logo{ position:relative;}
.nmgnews_logo img{ width:261px; height:155px; position:relative; top:-12px; left:-22px;}
.other_logo{ padding-top:15px;}
.other_logo img{ width:59px; height:62px;}
#daohang{ width:650px; padding-left:20px; padding-top:15px; padding-right:115px;}
#daohang li{ padding-right:36px;}

/* 正文 */
.cont_w{width:1400px; margin:60px auto; height:100%; overflow:hidden;}
.cont{width:1200px; height:100%; padding-left:20px; margin:0 auto;}
.source{border-bottom:3px solid #d9d9d9;text-align:center; padding-bottom:15px;color:#868686; font-size:16px; line-height:30px;}
.title{text-align:center; padding-top:30px; padding-bottom:30px; width:1000px; margin:0 auto}
.wz{width:1000px; padding-top:20px;min-height:750px; margin:0 auto}
.yjfx{width:114px; height:680px; padding-top:160px; left:12%; float:left}
.yjfx img{ width:114px; height:120px;}
.fxd{text-align:center; padding-top:20px; padding-bottom:20px;}
.fx{text-align:center; padding-top:10px; padding-bottom:5px;}
.bj{float:right; margin-top:20px;color:#636363;}


/* 推荐阅读 */
#tjyd{background:#f5f5f5; height:200px; padding-top:25px;}
#tjyd ul{ width:1400px; margin:0 auto}
.fhsy{width:154px; height:53px; background:url(../image/back_sy.png); margin-top:15px; text-align:center; padding-top:color:#000; font-size:18px; line-height:53px;}
#mzsm{height:180px; background-color:#e4e5e5; padding-top:20px;}
#mzsm ul{ width:1400px; margin:0 auto}

/* 公共网尾 */
.pub_footer{ width:100%;min-width:1400px; height:107px; background-color:#bf0614;}
.footer{width:1400px; padding-top:15px; height:90px; margin:0 auto}
.foot_a{ width:573px; float:left}
.foot_b{ width:475px; padding-left:140px; float:left}
.logo_footer{ float:right}
.logo_footer img{ width:211px; height:95px;}

