.dialoguebox .bottom,.dialoguebox .middle p,.dialoguebox .middle .middlewarn{
  display: none;
}
.mask .maskclose, .reward-pop .maskclose{
  top:10px;
  right:10px;
  background: url('../image/conponclose.png') no-repeat;
  width:24px;
  height:24px;
  cursor: pointer;
}
.dialoguebox{
  width: 700px;
  border-radius: 10px;
  top: 10%;
  margin-top:0px;
  height: 530px;
}
.dialoguebox .middle{
  border-radius: 10px;
  position:relative;
  overflow: inherit;
  background: url('../image/costbg_new.png') no-repeat;
  z-index: 11;
  border:0;

}
.dialoguebox .middle .subtitle{
  text-align: center;             
  line-height: 54px;
  font-size: 22px;
}
.dialoguebox .middle .types{
  margin: 13px 0 0 0;
}
.dialoguebox .middle .couponwarn{
  font-size:14px;
  height: 36px;
  line-height: 18px;
  display:block;
  margin-top: 15px;
  text-align:left;
  color: #f8ad18;
  font-family: '微软雅黑';
  margin: 0 61px;
  padding-top: 8px;
}
.dialoguebox .middle .pricebox{
  padding: 16px 0 0 16px;
  margin: 0 0 0 11px;
  height:200px;
  display: inline-block;
  width: 541px;
  overflow: hidden;
  position: relative;
  z-index: 11;
}
.dialoguebox .middle .sbmain{
  position: relative;
  left: 0;
  transition: left 0.3s;
}
.dialoguebox .middle .butlist{
  font-size: 22px;
  height: 45px;
  line-height: 45px;
  margin: 0 56px;
}
.dialoguebox .middle .butlist div{
  float: left;
  border-radius: 30px 0 0 30px;
  padding-left: 10px;
}
.dialoguebox .middle .butlist div span{
  padding-left:48px;
  color:#f8ad18;
  font-size: 36px;
  font-family: "微软雅黑";
  font-weight: bold;
}
.dialoguebox .middle .butlist div span i{
  color:#333;
  font-size: 14px;
  font-style: normal;
}
.dialoguebox .middle .butlist a{
  width: 150px;
  display: block;
  float: right;
  height: 45px;
  background: #f8ad18;
  border-radius: 5px;
  color:#fff;
  font-style: normal;
  font-size: 20px;
  font-family: "黑体";
}
.dialoguebox .middle .butlist a:hover{
  color: #252525;
}
.dialoguebox .middle .Coupon{
  padding: 44px 0 30px 10px;
  text-align: left;
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  margin: 0 52px;
}
.dialoguebox .middle .Coupon .NeedToKnow{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  margin-left: 12px;
}
.dialoguebox .middle .Coupon .couponselet{
  /* width: 320px; */
  width: 79%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  float: right;
  outline: none;
  background: url('https://file.caixin.com/static/mh5/images/select.png') no-repeat right center;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  text-indent: 10px;
}
.dialoguebox .middle .Coupon .couponselet option{
  text-indent: 10px;
}
.dialoguebox .middle .types .items{
  height:144px;
  width: 144px;
  border-radius:50%;
  background: #e8e0d5;
  cursor: pointer;
  float: left;
  margin-right: 42px;
  position: relative;
}
.dialoguebox .middle .types .items .roundLeft{
  width: 12px;
  height: 7px;
  border-radius: 10px;
  background: #e8e0d5;
  display:block;
  position: absolute;
  right:-14px;
  top:69px;
  display: none;
}

.dialoguebox .middle .types .items:before{
  display:block;
  width:177px;
  height: 177px;
  background: red;
  content: '';
  border-radius:50%;
  background: #e8e0d5;
  opacity: 0.4;
  position: relative;
  top:-16px;
  left:-16px;
}
.dialoguebox .middle .types .itemslast:before{
  background: #d2dfdc;
}
.dialoguebox .middle .types .items h4{
  font-size: 22px;
  color: #362e2b;
  position: absolute;
  top: 30px;
  left: 0px;
  text-align: center;
  width: 100%;
  font-weight: normal;
}
.dialoguebox .middle .types .items div{
  position: absolute;
  top: 76px;
  text-align: center;
  width: 100%;
}
.dialoguebox .middle .types .items div .nowProce{
    font-size: 36px;
    color: #a18b73;
    font-weight: bold;
}
.dialoguebox .middle .types .items label{
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 1px solid #bdbdbd;
  color: #fff;
  display: inline-block;
  line-height: 17px;
} 
.dialoguebox .middle .types .now label{
  position: relative;
  top: -0px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: none;
  background: url('../image/dui.png') no-repeat right center;
  display: inline-block;
  background-size: contain;
}
.reward-bt02 {background:none;border-radius: 0;width:auto;cursor: pointer;min-height:auto;margin:0;}
/*200170911--------------*/
#chargeWall{background:none;margin-bottom:30px;}
.payment_box{background:url(../image/payment_bg.png) no-repeat 0 0;width:660px;height:189px;overflow:hidden}
.payment_box dl{text-align:center;padding:70px 0 0 0}
.payment_box dt{font-size:18px;background:#f2c052;width:400px;height:33px;line-height:100%;border-radius:5px;margin:0 auto 15px;color:#000;padding-top:15px}
.payment_box dt em{display:inline-block;margin-left:10px;vertical-align: middle;}
.payment_box dd{font-size:16px;}
.payment_box dd span{color:#4485b9;padding:0 0 0 10px}
.payment_box dd span a{color:#4485b9}

.payment_box.img-pay-btn{
  background:none;
  overflow:visible;
  height: auto;
}
.payment_box.img-pay-btn dl{
  padding:0;
}
.box_title.for-img{
  width:100%;
  text-align: center;
}
.payment_box.img-pay-btn dt{
  background:none;
  width:100%;
  height:auto;
  border-radius:0;
  padding:0;
  margin:0;
  border:0;
}
.payment_box.img-pay-btn dt img{
  width:100%;
  height:auto;
}
.payment_box.img-pay-btn dd{
  margin-top:15px;
}
.zan_box{text-align:center}
.zan_box p{padding:5px 0 20px 0}
.zan{background:url(../image/zan_bg_03.jpg) repeat-x 0 0;height:81px;overflow:hidden;zoom:1}
.zan ul{width:300px;margin:0 auto}
.zan .zan_l,.zan .zan_m,.zan .zan_r{float:left}
.zan .zan_m{cursor:pointer}
.zan .zan_l,.zan .zan_r{font-size:16px;color:#b09680;line-height:81px}    
.zan .zan_l{margin-right: 10px;}
.zan .zan_r{margin-left: 10px;}       
/*赞赏弹出层 20170912------------------------*/
.reward-pop02{display:none;width:420px;-webkit-box-sizing:border-box;box-sizing:border-box;background:#f8f8f8;position:fixed;top:50%;left:50%;margin-top:-200px;z-index:10001;border-radius:3px;font-size:12px;padding:30px 10px;margin-left:-210px}
.reward-pop02 .maskclose02{width:50px;height:50px;position:absolute;right:-38px;top:-38px;z-index:100;background:url(../image/mclose.png) no-repeat center center}
.reward-pop-title02{color:#b09680;text-align:center;font-size:14px}
.money_box{width: 400px;overflow: hidden;}
.reward-pop-list02{width:400px;margin:30px 0 0 30px;}
.reward-pop-list02 li{float:left;width:80px;height:80px;line-height:75px;text-align:center;border:1px solid #eeebe7;border-radius:50%;margin:0 50px 15px 0;-webkit-box-sizing:border-box;box-sizing:border-box;color:#9b9b9b;font-size:12px;cursor:pointer;color:#000}
.reward-pop-list02 li.selected{border-color:#eeebe7;background:#eeebe7}
.reward-pop-list02 var{font-size:26px;margin-right:4px;font-style:normal;color:#f8ad18;font-weight:700}
.reward-pop-num-bt02{text-align:center;width:80%;height:36px;line-height:34px;margin:30px auto 0;color:#369;font-size:14px}
.reward-pop-form02{display:none;cursor:pointer;position:relative;width:80%;height:36px;line-height:34px;margin:30px auto 0;border:1px solid #9b9b9b;border-radius:3px;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden}
.reward-pop-form02 span{position:absolute;left:10px;top:0;z-index:10;line-height:34px;font-size:14px;color:#000}
.reward-pop-ipt02{width:100%;height:36px;line-height:36px;font-size:18px;border:none;outline:0;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:126px}
.reward-pop-bt02{background:url(../image/zan_bg_03.jpg) repeat-x 0 0;height:81px;text-align:center;cursor:pointer}
.reward-pop02 .send{display:block;color:#b09680;text-align:center;padding:5px 0 0;font-style:normal}
.no-info-line{height: 106px;margin:0 61px;}
.no-info-line div{padding-top: 66px; border-bottom: 1px solid #d0c5b9;}
.free2weekpro{padding: 0px;margin-left:4px;border-bottom: 1px solid #eb8c14;display: inline-block;cursor: pointer}