
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, form, fieldset, input, p,span, th, td, blockquote, lengend, button, textarea {margin:0; padding:0;}
ul,li{ list-style:none outside;  padding:0; margin:0; }
ul,ol{list-style: none; padding:0; margin:0; }
a{ text-decoration:none; }
a img, input { border:0}
img{ vertical-align:middle;}
input, textarea{ outline:none;}
i{ font-style:normal}

/* 常用样式 */
body{ font-family: "微软雅黑"; font-family:"Microsoft YaHei"; font-size:14px; line-height:130%; color:#333; }

a:link{ color: #333; text-decoration: none;}
a:visited{ color: #333; text-decoration: none;}
a:hover{ color: #1d71b7; text-decoration: none;}
a:active{ color: #333; text-decoration: none;}

.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
.hide{ display:none; }
.show{ display:block; }

.rgtmarin{ margin-right:0 !important;}
.lefmarin{ margin-left:0 !important;}
.btmmarin{ margin-bottom:0 !important;}

.red{ color:#ff0000;}
.blue{ color:#1d71b7;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}

/* header_PC */
.header{ width:1200px; margin:0 auto; height:125px;}
.header h2{ display:block; width:40%; float:left; padding-top:26px;}

.headrgt{ width:60%; float:right; text-align:right; margin-top:25px;}
.headrgt h4{ width:100%; clear:both; color:#999; font-size:15px;}
.headrgt h4 a{ color:#999; margin-left:10px;}
.headrgt h4 a:hover{ color:#000;}
.headrgt p{ float:right; width:355px;  height:38px; line-height:38px; border:1px solid #cccccc; margin-top:17px;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.headrgt p input{display:block; float:left; border:none; background:none; height:38px; line-height:38px; width:280px; font-family:"Microsoft YaHei"; color:#999; margin-left:10px; }
.headrgt p a{display:block; float:right; border:none; background:#2a7dc3; text-align:center; height:36px; line-height:36px; width:60px;border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0;}
.headrgt p a:hover{background:#146cb4;}

.m_ssicon{ display:none;}
.m_ssbox{ display:none;}

.top_m{ display:none;}
/* nav_PC*/
#navbluebox{ width:100%; clear:both; background:#1d71b7; padding:10px 0;}
#navbluebox .navcon{width:1200px; margin:0 auto; clear:both;}
#navbluebox .navcon span{ display:inline-block; text-align:center; color:#fff; font-size:17px; line-height:160%; margin-left:25px;}
#navbluebox .navcon span a{ color:#fff;}
#navbluebox .navcon span a:hover{ color:#75ddff;}

.navbar{ clear:both; width:100% !important; padding:0 !important; margin:0 !important;}
.navbar-brand{clear:both; width:100% !important; padding:0 !important; margin:0 !important;}
.container-fluid{clear:both; width:100% !important; padding:0 !important; margin:0 !important;}
.navbar-header{clear:both; width:100% !important; padding:0 !important; margin:0 !important;}
.navbar-default{clear:both; width:100% !important; padding:0 !important; margin:0 !important;}

#navbar{ clear:both; width:100% !important; padding:0; margin:0;background:#f1f1f1;}
.nav{padding:0 !important; margin:0 !important;}
.navbar-nav{display:block;width:1200px !important; clear:both;line-height:160%; padding:0 !important; margin:0 !important; margin:0 auto !important; float:none !important;font-size:16px;}
.navbar-nav li{ margin-right:35px; padding:10px 0;color:#999 !important;}
.navbar-nav li a{ padding:0 !important; margin:0 !important;color:#999 !important;}
.navbar-nav li.active a{ background:none !important;color:#1d71b7 !important;}
.navbar-nav li.titpd{color:#1d71b7 !important; margin-right:15px;padding-left:25px}

/* footer_PC*/
#footer{ width:100%; margin:0 auto; clear:both}
#footer .footernav{ width:100%; clear:both; background:#1d71b7; padding:10px 0;}
#footer .footernav .footernavcon{width:1200px; margin:0 auto; clear:both;}
#footer .footernav .footernavcon span{ display:inline-block;text-align:center; color:#fff; font-size:16px; line-height:150%; margin-left:26px;}
#footer .footernav .footernavcon span a{ color:#fff;}
#footer .footernav .footernavcon span a:hover{ color:#75ddff;}

.footercon{ width:1200px; margin:0 auto; padding:20px 0 20px 0; text-align:center; color:#666; line-height:200%;}
.footercon p{ width:100%;}
.footercon span{ padding:0 10px;}
.footercon p span a{ color:#155fad;}
.footercon p span a:hover{ text-decoration:underline;}
.footercon p.jbblxx{ margin-top:10px;}

/* layout_PC*/
.mainbox{ width:1200px; margin:0 auto; clear:both; margin-bottom:30px;}
.mainbox20{ width:1200px; margin:0 auto; clear:both; margin-bottom:20px;}
.mainboxno{ width:1200px; margin:0 auto; clear:both;}
.main92{ width:92%; margin:0 auto; clear:both; margin-bottom:30px;}
.mainboxss{ width:1198px; border:1px solid #ddd; padding-top:30px; margin:0 auto; clear:both; margin-bottom:20px;}

.mainbox20 p.tonglan{ width:100%; height:100px; background-size:100% !important;}
.mainbox20 p.tonglan a{ display:block; width:100%; height:100px;}

.mainboxno p.tonglan{ width:100%; height:90px; background-size:100% !important;}
.mainboxno p.tonglan a{ display:block; width:100%; height:90px;}

/* title_PC*/
.tleBlueLine{ width:100%; height:48px; line-height:48px; border-bottom:1px solid #e0e0e0; font-size:20px; clear:both;}
.tleBlueLine span{ display:block; float:left; margin-right:40px; height:48px; line-height:48px; font-weight:bold;}
.tleBlueLine span.ontle{ border-bottom:3px solid #0760ab; color:#0760ab;}
.tleBlueLine span.ontle a{ color:#0760ab; }
.tleBlueLine p{ float:right; color:#ff3209; font-size:16px; font-weight:bold;}
.tleBlueLine p a{ color:#ff3209;}
.tleBlueLine p a:hover{ text-decoration:underline;}

.tleBlueLine20{ width:100%; height:48px; line-height:48px; border-bottom:1px solid #e0e0e0; font-size:20px; margin-bottom:20px; clear:both; position:relative;}
.tleBlueLine20 span{ display:block; float:left; margin-right:40px; height:48px; line-height:48px; font-weight:bold; color:#666;}
.tleBlueLine20 span a{ color:#666;}
.tleBlueLine20 span.ontle{ border-bottom:3px solid #0760ab; color:#222222;}
.tleBlueLine20 span.ontle a{ color:#222222; }
.tleBlueLine20 p{ height:32px; line-height:32px; text-align:center; float:right; margin-top:10px; font-size:16px;}
.tleBlueLine20 p a{ display:inline-block; color:#fff; background:#1d71b7; padding:0 10px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.tleBlueLine20 p a:hover{  background:#3182c5;}

/* 当前位置_PC*/
.CurrentLocation{ width:1200px; margin:0 auto; line-height:26px; clear:both; font-size:14px; padding:15px 0; border-bottom:1px solid #ddd; margin-bottom:10px;}
.CurrentLocation p{ width:97%; padding-left:25px; margin:0 auto; color:#999; background:url(../image/icondq.png) left 4px no-repeat; }
.CurrentLocation p span{ margin:0 6px;}
.CurrentLocation p a{ color:#155fad; margin:0 6px;}
.CurrentLocation p a:hover{ text-decoration:underline;}
.CurrentLocation p a:last-child{ color:#999;javascript:; cursor:default;}
.CurrentLocation p a:last-child:hover{ text-decoration:none;}

/* 分页_PC*/
.pagerji{ width:100%; margin:0 auto; text-align:center; clear:both; padding-top:20px; font-size:14px;}
.pagerji span a{ display:inline-block; padding:0 12px; height:30px; line-height:30px; margin:0 3px; text-align:center; border:1px solid #e5e5e5;}
.pagerji span a:hover{background:#ecf4fc; transition: 0.3s; -webkit-transition: 0.3s; -o-transition: 0.3s; -moz-transition: 0.3s;}
.pagerji span a.dq{ background:#ecf4fc; color:#1d71b7; }
.pagerji span a.queding{ background:#ecf4fc; font-weight:bold; }
.pagerji span a.queding:hover{ color:#fff; background:#1d71b7; }
.pagerji span.tiaozhuan{  display:inline-block; padding:0 12px; height:30px; line-height:30px; margin:0 3px; text-align:center;}
.pagerji span.tiaozhuan input{ width:30px; height:30px; line-height:30px; text-align:center; background:#fff; margin:0 6px; border:1px solid #e5e5e5;}

/* 其他_PC*/
.linediv_idx{ width:1200px; height:1px; margin:0 auto; border-bottom:1px solid #e0e0e0; margin-bottom:25px; clear:both;}
.linediv{ width:100%; height:5px; border-bottom:1px dotted #ccc; margin-bottom:20px; clear:both;}
.tdlefline{ border-left:1px solid #e6e6e6;}

/* tab切换_PC */
.slideTxtBox{ width:370px; margin-right:44px; float:left;}
.slideTxtBox .hd{ width:100%; height:48px; line-height:48px; border-bottom:1px solid #e0e0e0; font-size:20px; clear:both; margin-bottom:20px; }
.slideTxtBox .hd ul{ width:100%; position:relative; }
.slideTxtBox .hd ul li{ display:block; float:left; margin-right:40px; height:48px; line-height:48px; font-weight:bold; color:#666; }
.slideTxtBox .hd ul li a{ color:#666;}
.slideTxtBox .hd ul li:hover{ cursor:pointer;}
.slideTxtBox .hd ul li.on{ border-bottom:3px solid #0760ab; color:#0760ab;}
.slideTxtBox .hd ul li.on a{color:#0760ab; }

.slideTxtBox .hd ul p{ float:right; color:#ff3209; font-size:16px; font-weight:bold;}
.slideTxtBox .hd ul p a{ color:#ff3209;}
.slideTxtBox .hd ul p a:hover{ text-decoration:underline;}

.slideTxtBox .bd ul{ zoom:1; width:100%; clear:both; }
.slideTxtBox .bd li{ width:100%; clear:both; font-size:16px; padding:5px 0; line-height:150%;}
.slideTxtBox .bd ul p.more{ display:none;}

.slideTxtBox .hd ul li span.glyphicon{ font-size:14px; color:#999; font-weight:normal !important; position:absolute; right:0; line-height:48px;}
.slideTxtBox .hd ul li span.glyphicon{ display:none;}
.slideTxtBox .hd ul li.on span.glyphicon{ display:inline-block;}
.slideTxtBox .hd ul li span.midmore{ right:42%;}

/* tab底部链接_PC */
.fotsites{ width:100%; border-top:1px solid #cccccc; padding:10px 0 15px 0;}

.footlink{ width:1200px; margin-right:0; float:none; margin:0 auto;}
.footlink .hd{ width:100%; height:40px; line-height:40px; border-bottom:none; font-size:16px; clear:both; margin-bottom:15px; }
.footlink .hd ul{ width:100%; }
.footlink .hd ul li{ display:inline-block; font-weight:bold; color:#333; }
.footlink .hd ul li span{ display:block; float:left; height:40px; line-height:40px; font-weight:bold;}
.footlink .hd ul li.on{border-bottom:none; }
.footlink .hd ul li.on span{ border-bottom:3px solid #0760ab; color:#0760ab;}

.footlink .bd ul{ zoom:1; width:100%; clear:both; }
.footlink .bd li{ width:100%; clear:both; font-size:15px; padding:0; line-height:180%;}
.footlink .bd li span{ display:inline-block; margin-right:30px;}

@media (max-width:767px){
/* header_m*/
.header{ width:100%; height:3.6rem !important; position:relative;}
.header h2{ display:block; float:none; width:65%; margin-left:18%; padding-top:0.2rem;}
.header h2 img{ max-width:100% !important; }

.headrgt{ width:100%; float:none; text-align:center; margin-top:0.25rem;}
.headrgt h4{font-size:0.26rem; display:none;}
.headrgt p{ display:block; clear:both; float:none; width:80%; height:0.8rem; line-height:0.8rem; margin:0 auto; }
.headrgt p input{height:0.8rem; line-height:0.8rem; width:75%;}
.headrgt p a{ height:0.78rem; line-height:0.78rem; width:20%;}

.m_ssicon{ display:block; width:10%; line-height:40px; float:right; margin-top:0.4rem; text-align:center;}
.m_ssicon span{ color:#01708f; font-size:0.4rem;}

.m_ssbox{ display:block;}
.m_ssbox{ position:absolute; top:0.5rem; right:7%;}
.m_ssbox span{ font-size:0.4rem; z-index:99 !important;}
.btn-primary{ color:#01708f; background:none; border:none; z-index:99 !important; outline:none;}
.btn-primary.focus,.btn-primary:focus{color:#01708f;background:none; border:none; outline:none;}
.btn-primary:hover{color:#01708f;background:none; border:none; outline:none;}
.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary{color:#01708f;background:none; border:none;}
.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover{color:#01708f;background:none; border:none;}
.modal-footer .btn-ss{ background:#01708f; color:#fff;}
.modal-title{color:#01708f; font-weight:bold;}

.top_m{ display:block;}
.top_m{ width:100%; background:#f0f0f0; height:0.8rem;}
.top_m p{ width:75%; float:left; line-height:0.8rem; color:#666; font-size:0.24rem;}
.top_m p span{ margin-left:0.1rem;}
.top_m button{ margin:0; border:1px solid #ccc; background:#fff; height:0.6rem; padding:0 0.08rem; margin-top:5px; margin-right:5px;}

/* nav_m*/
#navbluebox{ padding:0.16rem 0; width:100%;}
#navbluebox .navcon{width:93%; margin-left:7%; }
#navbluebox .navcon span{font-size:0.32rem; line-height:160%; margin-left:0; display:block; float:left; width:20%; text-align:left;}
#navbluebox .navcon span.long{ width:30%;}
#navbluebox .navcon span a{ color:#fff;}
#navbluebox .navcon span a:hover{ color:#75ddff;}

.navbar-header{ position:relative;}
.navbar-header .navbar-toggle{ position:absolute; top:0; left:0 !important;}

.navbar-collapse{ position:absolute; top:-1.4rem !important; background:#fff !important; padding:0.2rem 0 !important;}
.navbar-collapse .navbar-nav{ width:90% !important; }
.navbar-collapse .navbar-nav li{ float:left; width:33.3% !important; padding:10px 0; margin:0;border-bottom:1px solid #ddd; font-size:0.3rem;}
.navbar-collapse .navbar-nav li a:hover{ cursor:pointer;}

/* layout_m*/
.mainbox{ width:96%; margin-bottom:0.3rem;}
.mainbox20{ width:96%; margin-bottom:0.2rem;}
.mainbox20 p.tonglan{ width:100%; height:1.2rem; background-size:200% 100% !important;}
.mainbox20 p.tonglan a{ display:block; width:100%; height:1.2rem;}
.mainbox20 p.tonglan img{ width:100% !important; height:1.2rem;}
.mainboxno{ width:96%; }
.mainboxno p.tonglan{ width:100%; height:1.2rem; background-size:200% 100% !important;}
.mainboxno p.tonglan a{ display:block; width:100%; height:1.2rem;}
.mainboxno p.tonglan img{ width:100% !important; height:1.2rem;}
.main92{ width:95%; margin-bottom:0.3rem;}
.mainboxss{ width:100% !important; border:none; padding-top:0.2rem; margin-bottom:0.2rem;}

/* title_m*/
.tleBlueLine{ height:0.9rem; line-height:0.9rem; font-size:0.36rem;}
.tleBlueLine span{ margin-right:0.6rem; height:0.9rem; line-height:0.9rem;}
.tleBlueLine p{ font-size:0.3rem;}

.tleBlueLine20{ width:100%; height:0.9rem; line-height:0.9rem;font-size:0.36rem; margin-bottom:0.3rem; }
.tleBlueLine20 span{  margin-right:0.6rem; height:0.9rem; line-height:0.9rem;}

/* tab切换_m */
.slideTxtBox{ width:100%; margin-right:0; float:none;}
.slideTxtBox .hd{ width:100%; height:0.9rem; line-height:0.9rem;font-size:0.36rem; margin-bottom:0.3rem; }
.slideTxtBox .hd ul li{margin-right:0.6rem; height:0.9rem; line-height:0.9rem;}

.slideTxtBox .bd li{ font-size:0.3rem; padding:5px 0; line-height:150%;}
.slideTxtBox .bd ul p.more{ display:block; margin:0 auto; background:#eee; text-align:center; width:50%; height:0.6rem; line-height:0.6rem; margin-top:0.2rem; font-size:0.28rem; border-radius:4px;}

.slideTxtBox .hd ul li.on span.glyphicon{  display:none;}

/* tab底部链接_m【要放在tab切换_m之后】 */
.fotsites{ width:96%; margin:0 auto; border-top:1px solid #cccccc; padding:0.2rem 0 0.15rem 0;}

.footlink{ width:100%;}
.footlink .hd{ height:0.8rem; line-height:0.8rem; font-size:0.3rem; margin-bottom:0; }
.footlink .hd ul li span{ height:0.8rem; line-height:0.8rem; font-size:0.3rem; margin-bottom:0;}
.footlink .bd{ margin-left:0.1rem;}
.footlink .bd li span{  margin-right:0.4rem; line-height:200%;font-size:0.28rem;}

/* footer_m*/
#footer{ width:100%; margin:0 auto; clear:both}
#footer .footernav{ width:100%;padding:0.2rem 0;}
#footer .footernav .footernavcon{width:100%; }
#footer .footernav .footernavcon span{ display:inline-block !important;font-size:0.3rem; line-height:150%; margin-left:0.35rem;}

.footercon{ width:100%; padding:0.2rem 0 0.2rem 0; line-height:180%;}
.footercon p{ width:100%;}
.footercon span{ padding:0 0.08rem; display:inline-block; font-size:0.26rem;}
.footercon p.jbblxx{ margin-top:0.2rem;}

/* 当前位置_m*/
.CurrentLocation{ width:100%; line-height:170%; font-size:0.26rem; padding:0.2rem 0;margin-bottom:0.2rem;}
.CurrentLocation p{ width:94%; padding-left:6%;background:url(../image/icondq.png) left 0.08rem no-repeat; background-size:0.32rem; }

/* 分页_m*/
.pagerji{ padding-top:0.3rem; font-size:0.28rem;}
.pagerji span a{padding:0 0.2rem; height:0.55rem; line-height:0.55rem; margin-bottom:0.1rem; }
.pagerji span.tiaozhuan{ padding:0 12px; height:0.55rem; line-height:0.55rem;}
.pagerji span.tiaozhuan input{ width:0.9rem; height:0.55rem; line-height:0.55rem;}

/* 其他_m*/
.linediv_idx{ width:100%; margin-bottom:0.2rem;}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
/* header_pad */
.header{ width:98%;}

/* nav_pad*/
#navbluebox .navcon{width:100%;}

.navbar-nav{width:96% !important; padding:8px 0 !important; }
.navbar-nav li{ margin-right:30px; padding:0px 0; line-height:150% !important;}

/* footer_pad*/
#footer{ width:100%;}
#footer .footernav .footernavcon{width:98%;}
.footercon{ width:100%; }

/* layout_pad*/
.mainbox{ width:98%;}
.mainbox20{ width:98%;}
.mainboxno{ width:98%;}
.main92{ width:92%;}
.mainboxss{ width:96%;}
.mainbox20 p.tonglan img{ width:100% !important; }
.mainboxno p.tonglan img{ width:100% !important; }

/* 当前位置_pad*/
.CurrentLocation{ width:100%;}

/* 其他_pad*/
.linediv_idx{ width:100%;}

/* tab切换_pad */
.slideTxtBox{ width:100%; margin-right:0;}

/* tab底部链接_pad */
.footlink{ width:98%; margin-right:0; float:none; margin:0 auto;}

/* 分页_pad*/
.pagerji span a{margin-bottom:10px; }

	}