* {
	padding: 0;
	margin: 0px auto;
}
ul, li { list-style: none; }
.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow:hidden;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix { zoom: 1; }
/* IE6 */
*:first-child + html .clearfix { zoom: 1; }
/* IE7 */
a {
	color: #3E3E3E;
	text-decoration: none;
}
a:hover {
	color: #2F7CE4;
	text-decoration:underline;
}
img { border: 0; }
body {
		color: #3E3E3E;
		font-size: 12px;
	-webkit-text-size-adjust: none;
line-height: 25px;
}
.page { width: 1003px; }

#page { margin: 0 auto;    width: 1000px; }
#dDfooter {
	text-align: center;
	padding: 20px 0 10px;
	border-top: 1px solid #E0E0E0;
	margin-top: 10px;
}
#dDfooter .dDfootUl li {
	display: inline;
	border-right: 1px solid #000;
	padding-right: 10px;
	margin-left: 15px;
	line-height: 18px;
}
#dDfooter .dDfootUl li.dDfootLiBor { border: none; }
.fl { float: left; }
.fr { float: right; }
.w220 { width: 220px; }
.w240 { width: 240px; }
.w255 { width: 255px; }
.w330 { width: 330px; }
.w340 { width: 340px; }
.w360 { width: 360px; }
.w380 { width: 380px; }
.w610 { width: 610px; }
.w750 { width: 750px; }
.w755 { width: 755px; }
.mt15 { margin-top:15px;}
.mb15 { margin-bottom: 15px;}
.mb20 { margin-bottom: 20px;}
.mr20 { margin-right:20px;}
.mr30 { margin-right:30px;}
.mr35 { margin-right:35px;}
.kuang{ border:1px solid #DCDCDC;}
/*顶部导航*/
.top_nav { }
/*logo搜索区*/
.logo_banner {
	height: 60px;
	overflow: hidden;
	margin-bottom: 10px;
}
.logo_banner .zjol_logo {
	background: url(../image/detail_r1_c1.jpg) no-repeat top left;
	height: 60px;
	width: 60px;
	float: left;
		_display: inline;
	text-indent: -999px;
}
.logo_banner .tzpd_logo {
		height: 60px;
	width: 150px;
	float: left;
	_display: inline;
	}
.search_weather {
		float: right;
	text-align: right;
	padding-top:10px;
}
.logo_banner span.channel_name{
	float:left;
	width:90px;
	height:60px;
}
.newsPage .logo_banner span.channel_name{
	background:url(../image/news.jpg)  no-repeat scroll left top;
}
.healthPage .logo_banner span.channel_name{
	background:url(../image/health.jpg) no-repeat scroll left top;


}
.foodPage .logo_banner span.channel_name{
	background:url(../image/food.jpg)  no-repeat scroll left top;
}
.jiajuPage .logo_banner span.channel_name{
	background:url(../image/jiaju.jpg)  no-repeat scroll left top;
}
.lvyouPage .logo_banner span.channel_name{
	background:url(../image/lvyou.jpg)  no-repeat scroll left top;
}
.fangchanPage .logo_banner span.channel_name{
	background:url(../image/fangchan.jpg)  no-repeat scroll left top;
}
.caijingPage .logo_banner span.channel_name{
	background:url(../image/caijing.jpg)  no-repeat scroll left top;
}
.carPage .logo_banner span.channel_name{
	background:url(../image/car.jpg)  no-repeat scroll left top;
}
.search_weather form#searchForm {
    background: url(../image/searchbox.jpg) no-repeat scroll left center transparent;
    height: 25px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 230px;
    margin-right:0;
}
.search_weather form#searchForm input#anyWord {
    border: 0 none;
    color: #999999;
    float: left;
    font-size: 12px;
    height: 15px;
    margin: 4px 0 4px 10px;
    width: 150px;
}

#xwrq{font-size:12px;color:#b3b3b3;}
.sy_banner{margin-bottom:5px;}

.fenxiang{
   margin-bottom: 55px;
    margin-top: 10px;
   }
.fenxiang span{
  display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}
.bqsm{border-top:1px solid #DDDDDD;}

.bqsm span {
    float: left;
    font-size: 12px;
    font-weight: bold;
    width: 710px;
}

.bqsmp{   font-size: 12px;
    line-height: 24px;
    margin-bottom: 12px;   width: 710px;   float: left;}
.bqsmimg{ 
background: url(../image/ewm.jpg) no-repeat;    
height: 103px;   
margin-bottom: 15px;  
text-indent: -9999px;
 width: 103px;
margin-top:100px;
}

.bqsmp2{  border-bottom: 1px solid #DDDDDD;
    display: block;
    font-size: 12px;
    height: 31px;
    text-align: center;}

.zhaiyao{ 
border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 12px 18px 10px;
}

.fixtop{  
   background: none repeat scroll 0 0 #FcFcFc;
    border-bottom: 1px solid #D6D6D6;
    border-top: 3px solid #033981;
    height: 30px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
margin-bottom: 5px;

}
	

.fixtop_nav{ margin:0 auto;width:1000px;}
.weibo{width:67px; float:right;margin-top:-20px;position: relative;
 }
.usercard_layer_outside{display:none;}
.yqlink{  background-color: #FCFCFC;
    border: 1px solid #E0E0E0;
        margin-top:5px;
    padding: 10px;
    text-align: left;}
.yqlink a{padding-right:10px;}



#footer {
    font-size: 12px;
    text-align: center;

}
#footer p {
    clear: both;
    font-size: 12px;
    line-height: 36px;
}
.footerA {
    border-right: 1px solid;
    display:inline-block;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    padding-right: 5px;
}
.footerB {
    display: inline-block;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
}
.footerImg {
    display: block;
    height: 50px;
    margin-top:17px;
    overflow: hidden;
    width: 930px;
}
.footerImg a {
    float:left;
    padding: 0 4px;
}
.footS1 {
        height: 50px;
    text-indent: -9999px;
    width: 170px;
  background: url(../image/foot_01.jpg) no-repeat; 
}
.footS2 {
     background: url(../image/foot_2.jpg) no-repeat; 
    display: block;
    height: 50px;
    margin-left: 5px;
    text-indent: -9999px;
    width: 170px;
}
.footS3 {
       display: block;
    height: 50px;
    margin-left: 5px;
    text-indent: -9999px;
 background: url(../image/foot_05.jpg) no-repeat; 

    width: 168px;
}
.footS4 {
        display: block;
    height: 50px;
    margin-left: 9px;
    text-indent: -9999px;
 background: url(../image/foot_07.jpg) no-repeat; 

    width: 168px;
}
.footS5 {
        display: block;
    height: 50px;
    margin-left: 5px;
    text-indent: -9999px;
 background: url(../image/foot_09.jpg) no-repeat; 
   width: 170px;
}

