body {
	font-family: "Microsoft Yahei", "微软雅黑", "Tahoma", "SimSun";
	font-size: 14px;
	line-height: 26px;
	color: #333;
	_background-image: url(about:blank);
	_background-attachment: fixed;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #ff7d00;
}
ul {
	list-style: none;
}
img {
	border: none;
	display:block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fl {
	float: left;
	_display: inline;
}
.fr {
	float: right;
	_display: inline;
}
.clear {
	height: 0px;
	line-height: 0px;
	overflow: hidden;
	clear: both;
	font-size: 0px;
}
.cf:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.cf {
 *zoom:1;
}
.mb20 {
	margin-bottom: 20px;
}
/********************全局样式 end********************/
.zjnewsbg2014{
	background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) no-repeat;
}

/*头部广告 begin*/
.topAD{
	display: none;
		height:40px;
	overflow:hidden;
	margin-top:15px;
}
.topAD img{
		height:40px;
}
/*头部广告 begin*/

/*****header end*****/
.logoBox{
	float: left;
	width: 700px;
	height: 80px;	
}
.logo {
	width: 136px;
	height: 30px;
	margin: 25px 0 0 5px;
	text-indent: -9999px;
	display: block;
	background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) 0px 0px;
}
.phone {
	width: 215px;
	height: 25px;
	line-height:25px;
	float: right;
	margin: 10px 5px 2px 0px;
	text-align: right;
}
.phonePic {
	float: left;
	width: 29px;
	height: 18px;
	margin-top: 3px;
	background: url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) 0 -142px no-repeat;
	cursor:pointer;
}
.phonePic:Hover{
	background: url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) -29px -142px no-repeat;
}
#loginFrame{
	width:258px;
	float:right;
	height:30px;
}
.input-wrap {
	width: 215px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #e6e6e6;
	font-size: 12px;
	display:block;
	position:relative;
	float:left;
	background-color:#FFF;
}
.default {
	position:absolute;
	left:5px;
	color:#666;
	height:auto
}
.mar65{
	margin-right:65px;
}
.inputtextarea {
	border:none;
	background:none;
	outline: none;
	padding-left: 5px;
	height: 25px;
	_height: 23px;
	font-size: 12px;
	color: #333;
	line-height: 23px;
	width:210px;
}
.btn{
	width:40px;
	background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) -290px 0px no-repeat ;
	float:left;
	border:none;
	height:27px;
	cursor:pointer;
}
.btnHover{
	background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) -318px 0px no-repeat ;
}
/*****header end*****/

/*****nav begin*****/
.navBox{
	}
#nav {
		padding-left:0px;
	height: 44px;
	border-top: 1px solid #e6e6e6;
	position: relative;
	z-index: 1;
}
#ulNav {
	height: 44px;
}
.liNav {
	float: left;
	position: relative;
	height: 44px;
	line-height: 44px;
	padding-right: 45px;
	margin: none;
}
.aNav {
	font-size: 16px;
	color: #333;
}
#lava {
	height: 44px;
	width: 48px;
	border-top: 1px solid #1375be;
	position: absolute;
	top: -1px;
	z-index: -1;
}
.rNav {
	width: 138px;
	height: 27px;
	position: absolute;
	right: 5px;
	top: 9px;
}
.p10 {
	padding-right: 10px;
}
.liRnav {
	width: 27px;
	height: 27px;
	float: left;
}
.rnavA{
	background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) 0 -54px no-repeat;
	text-indent:-9999px;
	display:block;
	width:27px;
	height:27px;
}
.rnavA:hover{
	background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) -27px -54px no-repeat;
}
.rnavB{
	background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) 0 -91px no-repeat;
	text-indent:-9999px;
	display:block;
	width:27px;
	height:27px;
}
.rnavB:hover{
		background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) -27px -91px no-repeat;
}
.rnavC{
	background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) -78px -54px no-repeat;
	text-indent:-9999px;
	display:block;
	width:27px;
	height:27px;
}
.rnavC:hover{
		background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) -105px -54px no-repeat;
}
.rnavD{
	background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) -79px -91px no-repeat;
	text-indent:-9999px;
	display:block;
	width:27px;
	height:27px;
}
.rnavD:hover{
		background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) -106px -91px no-repeat;
}
/*****nav end*****/

/******main begin******/
#main{
		zoom:1;
	float: left;
    padding-top: 5px;
    width: 710px;
}
#main .l{
	float: left;
	}
/******wky140725******/
#main .all{
	float: left;
	}
/******wky140725END******/
#main .r{
	float:right;
	width:300px;
}
.bortop5{
	border-top:5px solid #1375be;
}

/*左侧 begin*/
.listlTitle{
	font-size: 12px;
	margin-bottom: 20px;
}
.contTitA{
	font-size:16px;
	text-align:center;
	margin-bottom:10px;
}
.contTit{
	font-size:22px;
	text-align:center;
	margin-bottom:12px;
}
.contTitB{
	font-size:16px;
	text-align:center;
	margin-bottom:6px;
}
.time{
	margin-bottom:20px;
	text-align:center;
	font-size:12px;
}
.time span{
	margin:0 7px;
}
.contTxt{
	line-height:30px;
	margin-bottom:12px;
	font-size:16px;
}
/*******wky140725*******/
.contTxtFix{
	padding:0px 20px;
}
/*******wky140725END*******/	
.contTxt p{
	margin-top:15px;
}
.contTxt img{
	max-width:650px;
}
.contAu{
	height:35px;
	border-bottom:1px solid #dddddd;
	margin-bottom:14px;
}
/*******wky140725*******/
.contAuFix{
	padding:0px 20px;
}
/*******wky140725end*******/
.contmz{
	margin-bottom:20px;
	padding-top:12px;
	font-size:12px;
}
.contmzp{
	line-height:24px;
	margin-bottom:12px;
	font-size:12px;
}
/*相关阅读*/
.mrgzBox{
	border-bottom:1px  solid #dddddd;
	height:190px;
	margin-bottom:20px;
}
/********wky140725******************/
.mrgzBoxFix{
	padding:0px 20px;
}
/********wky140725END******************/
.mrimgbox{
	float:left;
	width:200px;
	overflow:hidden;
	_display:inline;
}
/********wky140725******************/
.mrimgbox{
	float:right;
	width:200px;
	overflow:hidden;
	_display:inline;
}
/********wky140725END******************/
.zjzxweixin{
	width:200px;
	padding-top:35px;
}
.zjzxweixin span{
	display:block;
	width:103px;
	height:103px;
	background:url(http://tz.zjol.com.cn/images/tzpdewm.jpg) no-repeat;
	margin-bottom:5px;
}
.h1mrimg{
	width:200px;
	font-size:12px;
	height:25px;
	line-height:25px;
	font-weight:normal;
	text-align:center;
	overflow:hidden;
}
.h1mrimg a{
	font-size:12px;
	font-weight:normal;
}
.mrgzBoxr{
	float:right;
	width:510px;
}
/********wky140725******************/
.mrgzBoxrfix{
	float:left;
	width:510px;
        padding:0px 20px;
}
/********wky140725END******************/
.mrgzBoxr span{
	font-weight:700;
	display:block;
}
.contLi{
	overflow:hidden;
	line-height:26px;
	height:26px;
	padding-left:10px;
	background: url("http://tz.zjol.com.cn/images/tzpddian.png") no-repeat}
/*图片列表*/
.newsImage {
		overflow: hidden;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
}
.newsImageUl{
	display:block;
}
.newsImageUl li {
	float: left;
	display:block;
	_display:inline;
	text-align: center;
	margin-right:15px;
	overflow:hidden;width: 220px;
	
}
.newsImageUl li.last {
	margin-right:0;
}
.newsImageUl li img {
	width: 220px;
	height: 165px;
}
.spanImgs {
	display:block;
	padding:0 2px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	background-color: #333;
	overflow: hidden;
	cursor: pointer;
	color: #fff;
width: 220px;

}
.newsImageUl li a:hover .spanImgs {
	background:#0066cb;
}
/*左侧 end*/

/*左侧广告 begin*/
.lTopAD{
	width:300px;
	height:60px;
}
.lTopAD img{
	width:300px;
	height:60px;
}
.lBottomAD{
	width:300px;
	height:248px;
}
.lBottomAD img{
	width:300px;
}
/*左侧广告 end*/

/*原创热点*/
.contRbox{
	margin-bottom:15px;
}
.divboxR2title{
	height:25px;
}
.spanR2title{
	height:24px;
	display:block;
	float:right;
	width:229px;
	line-height:18px;
	border-bottom:1px solid #1375be;
}
.h1boxR2title{
	height:24px;
	float:left;
	width:70px;
	border-bottom:1px solid #1375be;
	line-height:18px;
	font-size:16px;
}
.h1boxR2title a{
	font-size:16px;
}
.ycrdUl{
	display:block;
	padding-top:5px;
}
.ycrdUl li{
	line-height:30px;
	height:30px;
	text-align:left;
	overflow:hidden;
	padding-left:10px;
	background: url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) -976px 14px no-repeat;
}
.ycrdUl li a{
	font-size:12px;
}
/*原创热点*/

/*品牌栏目*/
.ulImg{
	display:block;
	padding-top:15px;
	margin-bottom:20px;
}
.ulImg li{
	display:block;
	width:300px;
	height:35px;
	overflow:hidden;
	vertical-align:middle;
	margin-bottom:15px;
}
.jsbImg{
	width:95px;
	height:35px;
	background-position:-521px 0px;
	display:block;
	float:left;
}
.whbImg{
	width:95px;
	height:35px;
	background-position:-521px -40px;
	display:block;
	float:left;
}
.xgcImg{
	width:95px;
	height:35px;
	background-position:-521px -80px;
	display:block;
	float:left;
}
.zbkImg{
	width:95px;
	height:35px;
	background-position:-521px -120px;
	display:block;
	float:left;
}
.zthImg{
	width:95px;
	height:35px;
	background-position:-521px -160px;
	display:block;
	float:left;
}
.aImgR{
	float:left;
	display:block;
	width:195px;
	height:34px;
	line-height:18px;
	padding-top:1px;
	font-size:12px;
	padding-left:10px;
	overflow:hidden;
}
/*品牌栏目*/

/*浙江视觉 begin*/
.contRbox{
	margin-bottom:15px;
}
.divRigimage{
	padding-top:15px;
}
.liRigImage {
	float: left;
	width: 140px;
	height: 130px;
	text-align: center;
}
.ashipimg {
	height: 130px;
	width: 140px;
	overflow: hidden;
	display: block;
	cursor: pointer;
	position: relative;
}
.img160{
	width:140px;
	height:105px;
}
.playIcon160 {
	position: absolute;
	width: 35px;
	height: 35px;
	top: 70px;
	left: 0px;
	background: url(http://tz.zjol.com.cn/images/tzpdshipin1s.png);
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/05zjnews/images/shipin1s.png');
	_background: none;
}
.ashipimg:hover .playIcon160 {
	background: url(http://tz.zjol.com.cn/images/tzpdshipin2s.png) left;
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/05zjnews/images/shipin2s.png');
	_background: none;
}
.spanImg {
	display:block;
	padding:0 2px;
	height:25px;
	line-height:25px;
	vertical-align: middle;
	background-color: #333;
	overflow: hidden;
	cursor: pointer;
	color: #fff;
	font-size:12px;
	text-align:center;
}
.marL20{
	margin-left:20px;
}
/*浙江视觉 end*/
/******main end******/
.jsbBg{
	display:block;
		height:91px;
	background:url(http://tz.zjol.com.cn/images/tzpdzjnewsbg2014.png) 0 -218px no-repeat;
	text-indent:-99999px;
}
/*分享 begin*/
.divShareAll{
	height:25px;
		margin-bottom:20px;
}
/**********wky140725***************/
.divShareAllFix{
	height:25px;
	width:970px;
	margin-bottom:20px;
	padding-right:10px;
}
/**********wky140725END***************/
.divShare{
	height:25px;
	width:215px;
	_width:220px;
	float:right;
}
.fenxbg {
	background:url(http://tz.zjol.com.cn/images/tzpdtubiao.png) no-repeat;
}
.fenxbgs{
	background: url(http://tz.zjol.com.cn/images/tzpdtubiao_yuan.png) no-repeat;
}
.fxSpan {
	float:right;
}
.ulTop {
	float:left;
}
.liTop, .h3Top {
	transition: all .5s;
	-moz-transition: all .5s; /* Firefox 4 */
	-webkit-transition: all .5s; /* Safari 和 Chrome */
	-o-transition: all .5s; /* Opera */
}
.liTop {
	height: 24px;
	float: left;
	margin-right: 5px;
}
.h3Top {
	display: block;
	width: 24px;
	height: 24px;
	float: left;
}
.lt0 {
	background-position: 0 -31px;
	cursor: pointer;
}
.lth0 {
	background-position: 0 0;
	cursor: pointer;
}
.lt1 {
	background-position: -24px -31px;
	cursor: pointer;
}
.lth1 {
	background-position: -24px 0;
	cursor: pointer;
}
.lt2 {
	background-position: -48px -31px;
	cursor: pointer;
}
.lth2 {
	background-position: -48px 0;
	cursor: pointer;
}
.lt3 {
	background-position: -72px -31px;
	cursor: pointer;
}
.lth3 {
	background-position: -72px 0;
	cursor: pointer;
}
.lt4 {
	background-position: -96px -31px;
	cursor: pointer;
	width:27px;
	display:block;
	float:left;
	_margin-left:-5px;
}
.lth4 {
	background-position: -96px 0;
	cursor: pointer;
}
.spanShare{
	float:left;
	color:#666;
	margin-right:10px;
}
/*分享 end*/
/****************返回底部******************/
.entranceRight {
	width: 40px;
	height: 140px;
	position: fixed;
	_position: absolute;
	left: 50%;
	margin-left: 500px;
	bottom: 5px;
	 _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-

this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt

(this.currentStyle.marginBottom, 10)||0)));
}
.entranceRight a {
	display: block;
	width: 40px;
	height: 40px;
	margin-bottom: 1px;
	background:url(http://tz.zjol.com.cn/images/tzpdjsbxbg.png) no-repeat scroll -78px 0;}
.entranceRight a:hover {
	background:url(http://tz.zjol.com.cn/images/tzpdjsbxbg.png) no-repeat scroll -118px 0 }
/****************返回底部 end******************/