/*Comment*/
.clear{clear: both;}
#comment{padding-bottom:20px;}
#comment .summary{border-bottom:1px solid #ccc;padding:5px 5px 12px 5px;margin: 0 9px;}

#comment .word{padding:0 9px;line-height:20px;border:0;}
#comment .word dl dt{padding:0;margin-top:6px;border:0;font-size:13px;}
#comment .word dl dd{padding:10px 5px;color:#999;border-bottom: 1px solid #ddd;font-size: 13px;}
#comment .word .item{width:auto;color:#999;padding:10px 0 15px 0;border:0;border-bottom: 1px solid #ddd;margin:0;font-size:14px;}
#comment .word .item:hover{border:0;border-bottom: 1px solid #ddd;}
#comment .word .item .st1{float:left;}
#comment .word .item .st1 em{padding-right:12px;font-size:14px;padding-left: 2px;font-style: normal;}
#comment .word .item .st1 a,#comment .word .item .st1 span{color:#f60;font-weight:bold;}
#comment .word .item .st1 a:hover{color:#f60;}
#comment .word .item .st1 i{font-size:13px;padding-left:12px;font-style:normal; text-decoration:none;}
#comment .word .item .st2{float:right;}
#comment .word .item .st3 {padding:5px 0 0 0;}
#comment .word .item .st3 span{color:#444;line-height:24px;font-size: 14px;padding-left: 6px;}
#comment .word .item .st4{margin:0;border:1px solid #dbdbdb;background:#f9f9f9;padding:9px 9px;margin-top:15px; position:relative;border-radius: 3px;}
#comment .word .item .st4 p {color:#777;line-height: 24px;}
#comment .word .item .st4 p span{color:#ff8400;}
#comment .word .item .st4 u{text-align:right; text-decoration:none;display:block;margin-top: 6px;font-size: 13px;padding-right: 5px;}
#comment .word .item .st4 i{width:14px;height:8px;background:url(https://www.68h5.com/images/topbr.gif) no-repeat; position:absolute;left:30px;top:-7px;}

#comment .word .item .itembt{text-align:right;padding-right:5px;}
#comment .word .item .itembt a{position:relative;margin-left: 20px;font-size: 13px;}
#comment .word .item .itembt a .ding{position: absolute;right:-5px;top:-10px;z-index:10;font-size:24px;color:#28bd98;}
#comment .word .item .itembt a .cai{position: absolute;right:-5px;top:-10px;z-index:10;font-size:24px;color:#ff6f6f;}
#comment .word .item .itembt a.s{color: #28bd98;}
#comment .word .item .itembt a.a{color: #ff6f6f;}

#comment .more{border:1px solid #dbdbdb;text-align:center;height:26px;line-height:26px;margin-top:10px;}
#comment .more a{display:block;color:#999;background:#fff;}
#comment .more a:hover{display:block;color:#999;background:#f4f4f4;}

#comment .bottom{border:1px solid #dbdbdb;border-top:4px solid #f60;margin:15px 1px 0;padding:9px;position:relative;}
#comment .bottom .st1{color:#666;color: #9E9E9E;margin-bottom:8px;font-size: 14px;line-height:30px;overflow: hidden;}
#comment .bottom .st1 .names{border:1px solid #ddd;height:28px;line-height:28px;width:190px;display:none;float: left;border-radius: 3px;margin-right:10px;}
#comment .bottom .st1 .names{border:1px solid #f60;}
#comment .bottom .st1 .names em{border-right:1px solid #f60;background:#f60;color:#fff;}
#comment .bottom .st1 .names em{border-right:1px solid #ddd;width:42px;height:28px;line-height:28px;display:block;text-align:center;float:left;font-style:normal;}
#comment .bottom .st1 .names input{width:130px;height:28px;line-height:28px;border:0;background:none;padding:0 8px;font-size:13px;color:#555;float: left;}
#comment .bottom .st1 .reping{float:right;color:#444;padding-right:3px;display:none;}
#comment .bottom .st1 .reping i{color:red;padding-left:10px;cursor: pointer;}
#comment .bottom .st1 .reping i:hover{color:#f40;text-decoration: underline;}
#comment .bottom .st1 .reping i,#comment .bottom .st1 .reping em{font-style:normal;}

#comment .bottom .st2{height:100px;background:#fff;}
#comment .bottom .st2 .Insider_box{width:98%;height:90px;padding:5px 1%;border:1px solid #dbdbdb;overflow:hidden;color:#444;line-height:24px;font-size:14px;border-radius: 3px;}
#comment .bottom .st2 .Insider_box:hover{border:1px solid #f60;}
#comment .bottom .st2_box{width:100%;height:90px; overflow:hidden;border:none;border:none;color:#ccc;line-height:24px;font-size:14px;}
#comment .bottom .st3{height:32px;margin-top:10px;}
#comment .bottom .st3 .btleft{width:200px;float:left;padding-left:2px;}
#comment .bottom .st3 .btleft a{font-size: 14px;}
#comment .bottom .st3 p{float:right;width:380px;height:auto;}
#comment .bottom .st3 p .btms{display:block;width:96px;height:32px;line-height:32px;color:#fff;font-size:16px;background:#f60;margin:0;padding:0;text-align:center;border-radius:4px;float: right;border:0;cursor:pointer;}
#comment .bottom .st3 p .btms:hover{background:#e65d01;}
#comment .bottom .st3 p .code{position:relative;float:right;margin-right:8px;border:1px solid #f60;display: block;width: 230px;height: 30px;border-radius:3px;}
#comment .bottom .st3 p .code:hover{border:1px solid #f60;}
#comment .bottom .st3 p .code i{position:absolute;left:0;top:0;text-align:center;width:56px;height:30px;line-height:30px;background:#f60;color:#fff;font-size: 14px;font-style:normal; text-decoration:none;}
#comment .bottom .st3 p .code em{position:absolute;top:4px;right:80px;width:88px;height:22px;display:block;cursor: pointer;z-index:2;}
#comment .bottom .st3 p .code input{position:absolute;top:1px;right:0;padding-left:100px;width:70px;height:29px;line-height:29px;border:0;border-radius:2px;z-index:1;}

#comment  .loadmore{display: none;height:34px;line-height:34px;text-align:center;color:#888;background:#f9f9f9;border:1px solid #eee;cursor:pointer;margin:10px 8px 0 8px;border-radius:4px;}
#comment  .loadmore:hover{background:#f6f6f6;color:#666;}
#comment .summary .sum_txt_1 .st2 strong{display:none;}
#comment .summary .sum_txt_1 .st1 p{display:none;}
.alert{width:200px;position:fixed;top:50%;left:50%;background:rgba(0,0,0,0.6);color:#fff;text-align:center;padding:15px 15px;line-height:22px;border-radius:6px;font-size:15px;z-index:999999;margin:-30px 0 0 -100px;}