.pub-foot {
  height: 332px;
  background: #006ac1;
  overflow: hidden;
  margin-top: 45px;
  width: 100%;
  min-width: 1080px;
}
.pub-foot a {
  color: #fff;
  font-family: "宋体";
  font-size: 12px;
}
.pub-foot .pub-footlf {
  float: left;
  width: 137px;
  height: 332px;
  background: #0d72c4;
  padding-left: 35px;
}
.pub-foot .pub-footlf h2 {
  height: 32px;
  line-height: 32px;
  margin-top: 20px;
  color: #fff;
  font-family: "宋体";
  font-size: 14px;
}
.pub-foot .pub-footlf ul li {
  height: 36px;
  line-height: 36px;
}
.pub-foot .pub-footlf ul li a {
  color: #ccdbee;
}
.pub-foot .pub-footcent {
  background: #0065b7;
}
.pub-foot .pub-footrt {
  float: left;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 35px;
  height: 332px;
  width: 670px;
}
.pub-foot .pub-footrt ul.foot-tab {
  overflow: hidden;
  margin-top: 20px;
}
.pub-foot .pub-footrt ul.foot-tab li {
  line-height: 32px;
  float: left;
  overflow: hidden;
  padding-right: 30px;
}
.pub-foot .pub-footrt ul.foot-tab li a {
  font-size: 14px;
  display: block;
}
.pub-foot .pub-footrt ul.foot-tab li.foot-tabact a {
  font-weight: bold;
}
.pub-foot .pub-footrt .foot-con ul {
  overflow: hidden;
  width: 672px;
  border-bottom: 1px dashed #588fce;
}
.pub-foot .pub-footrt .foot-con ul li {
  height: 46px;
  line-height: 46px;
  padding-right: 16px;
  float: left;
}
.pub-foot .pub-footrt .foot-con ul li a {
  color: #ccdbee;
  display: block;
}
.pub-footbtm {
  overflow: hidden;
  font-family: "宋体";
  font-size: 12px;
  color: #666;
  padding-top: 15px;
  background: url(../image/foot-bg.png) no-repeat #fff center;
}
.pub-footbtm > ul {
  overflow: hidden;
  margin: 0 auto;
  width: 350px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 8px;
}
.pub-footbtm > ul li {
  overflow: hidden;
  float: left;
}
.pub-footbtm > ul li a {
  display: block;
  float: left;
  font-size: 14px;
  font-family: "宋体";
  color: #333;
}
.pub-footbtm > ul li span {
  display: block;
  float: left;
  padding: 0 12px;
  font-size: 14px;
  font-family: "宋体";
  color: #333;
}
.pub-footbtm > p {
  text-align: center;
  height: 32px;
  line-height: 32px;
}
.pub-footbtm .foot-btm {
  overflow: hidden;
  width: 670px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.pub-footbtm .foot-btm a {
  width: 118px;
  height: 50px;
  border: 1px solid #d1d1d1;
  background: #fff;
  overflow: hidden;
  float: left;
  margin: 0 5px;
}
.pub-footbtm .foot-btm a img {
  display: block;
  float: left;
  width: 38px;
  height: 44px;
  margin-top: 5px;
  margin-left: 5px;
}
.pub-footbtm .foot-btm a span {
  display: block;
  float: left;
  width: 70px;
  line-height: 16px;
  margin-top: 10px;
  margin-left: 5px;
}