.index_flash{ width:100%; height:280px; overflow:hidden; position:relative; /*border:1px solid #ddd;*/margin: 0 auto;  }
.index_flash .hd{width: 100%;text-align: center; height:18px; overflow:hidden; position:absolute; bottom:10px; z-index:1; }
.index_flash .hd ul{margin: 0 auto;display: inline-block;*display: inline;*zoom:1; overflow:hidden; zoom:1; }
.index_flash .hd ul li{ float:left; margin-right:10px;  width:8px; height:8px;border-radius: 50%; line-height:8px; text-align:center; background:#fff; cursor:pointer; }
.index_flash .hd ul li.on{ background:#9ca2a3; color:#fff; }
.index_flash .bd{ position:relative; height:100%; z-index:0;   }
.index_flash .bd li{zoom:1; vertical-align:middle; }
.index_flash .bd img{ width:100%; height:280px; display:block; }

#pages { margin:15px auto; text-align:center; clear:both;}
#pages a { padding:3px 6px 2px; margin:3px; border:1px solid #B9DFF9; text-align:center; color:#077ac7;}
#pages a.now{ background:#077ac7; color:#fff; border:0;}
#pages a:hover,#pages a.now:hover { background:#077ac7; color:#fff;}
.slibox{
	width: 420px;
	float: left;
	margin-right: 19px;
}
.piazza{
	height: auto !important;
}

.headline_title_nr3,.piazza_nr2{
	    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nn{
	margin-top: 10px;
}
.footer{
	text-align: center;
	padding-top: 50px;
}
.footer p{
	margin: 10px 0;
}
#news-content p{
	line-height: 2;
	margin-top: 15px;
}
/*ipad pro*/
@media screen and (max-width:1024px){
.top_nav,.nav{
	width: 100%;
}
.top_nav_right{
	width: auto;
}
.nav_right,.hot_search,.content{
	width: 100%;
}
.nav{
	height: auto;
	overflow: hidden;
}
.nav_right{
	height: auto;
	margin-bottom: 10px;
}
.hot_search_left{
	width: auto;
}
.content{
	overflow: hidden;
}
.slibox{
	width: 48%;
	margin-right: 2%;
}
.content_l{
	width: 50%;
	margin-right: 0;
}
.headline,.headline_title_nr,.headline_title_nr2,.ad,.ad img,.piazza,.piazza_title,.column{
	width: 100%;
}
.headline_title{
	overflow: hidden;
}
.headline_title_r{
	width: auto;
	float: right;
}
.bbox0{
	height: 280px;
	overflow: hidden;
}
.content_r,.activity,aside{
	width: 100% !important;
	
}
aside .mchd dd figure {
    max-height: 100px;
    overflow: hidden;
    height: 76px;
}
.bbox1{
	width: 48%;
	margin-right: 1%;
height: 500px;
overflow: hidden;
}
.column_nr dd{
	width: 60%;
}
.bbox2{
	height: auto;
	height: 500px;
overflow: hidden;
}
.piazza_nr2{
	overflow: hidden;
}
.piazza_nr2 dd{
	width: 60%;
}
.piazza_pic div{
	float: left !important;
}
.house,.yqlj{
	width: 100%;
}
.piazza_title_r{
	width: auto;
}
.list_yd,.newsmain01,.newsmain01 .left,.common_newsmain .right{
	width: 100%;
}
.activity{
	height: auto;
}
#news-content{
	width: 100%;
}
.aaaa{
	width: 96% !important;
}

}


/*ipad*/
@media screen and (max-width: 1000px){
.column_nr dt{
	width: 39%;
	margin-right: 1%;
}
.column_nr dt img{
	width: 100% !important;
}
.bbox4{
	height: 250px;
	overflow: hidden;
}
.bbox2,.bbox1{
   height: 410px;
}
.content{
	height: auto !important;
}
.car_tit_wz{
	width: auto;
}
.footer{
	height: auto;
}

.content_l{
	width: 48%;
	margin-right: 1%;
}

}
/*iphone*/
@media screen and (max-width: 767px){
.slibox {
    width: 100%;
    margin-right: 0%;
}
.content_l {
    width: 100%;
    margin-right: 0;
}
.nav_right li{
	margin-left: 0;
	width: 49.5%;
}
.hot_search_left{
display: none;
}
.bbox2, .bbox1{
	height: auto;
}
.column_nr dt,.column_nr dd,.piazza_nr2 dt,.piazza_nr2 dd{
	width: 100%;
}
.piazza_nr2 dt{
	margin: 0;
}
.piazza_nr2 dt img,.piazza_nr2{
	width: 100% !important;
}
.nn img{
	width: 49% !important;
}
.xq_bt h1{
	height: auto;
}
#news-content p img{
	max-width: 100%;
}
}

