*{ margin:0; padding:0;}
body,html{ font-size:14px; font-family:"Microsoft YaHei","????",Verdana, Arial, Helvetica, sans-serif; /*background-image:url(../images/bg.png);*/ background-position:center top; background-repeat:no-repeat;}
strong,em,b,i{ font-size:12px;}
ul,ol{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-size:12px; font-weight:normal;}
img{ border:0;}
img,input,select{ vertical-align:middle;}
a{text-decoration:none;color: inherit;}
table {border-collapse:collapse; border-spacing:0; margin-top:10px;}
:focus { outline: none; }/*???Firfox*/
a,area { blr:expression(this.onFocus=this.blur()) }/*???IE*/
.clearfix {zoom:1; display:table;}/*???????????????????*/
.clear_both{ clear:both; font-size:0; height:0; overflow:hidden;}
.clearfix{clear:both; display:block;}/*msn???????*/


/* ??????? start */
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}