*{ margin:0; padding:0; border:0;}
html{ font-size:20px !important; }
body { font-family:PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif";  color:#333; }

a{ color:#333; text-decoration:none;}
a:hover{ text-decoration:none; }
li,a,input,button{ outline:none;}
ul,li{ list-style:none;}
nav{ display:none;}

.border-none{ border:none !important;}
.clear:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clear{zoom:1}
.clearfix{ overflow:hidden;zoom:1;}
.radius{ border-radius:4px;}
.left{ float:left;}
.right{ float:right;}
.more-news { display: block; width:50%; width:120px \9; height:30px \9; line-height:25px \9; margin:10px auto 20px \9; height: 1.5rem;line-height: 1.4rem;border-radius: 4px;margin: 0 auto 2rem; border: 1px solid #5b8632; text-align: center; color: #5b8632 !important; margin-top: 25px;}
.li_center{ margin:0px 15px;}
.display{ display:block !important;}
.gray {-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
.img_mark { position: absolute;top: .4rem;left: .4rem; display: block;padding: 0 .5rem;color: #fff; background: rgba(0,0,0,.5);font-size: .6rem;text-align: center;border-radius: 1rem;z-index: 11;}
.img_mark:hover{ color:#FFF;}
.position_r{ position:relative;}
.position_r .ad_mark{ right:0px; bottom:0; position:absolute; z-index:4; font-size:0.5rem; color:#6d6d6d; background:#000; opacity:.3; padding:0px 5px;}


/*pc_head*/
.common-header{ width:100%; border-bottom:1px solid #ededed; height:62px;}
.common-header .header_container{ width:1120px; margin:0px auto; padding:10px 0;position:relative;}

.common-header { clear:both;font-size:15px;}
.common-header a.logo{ top:12px; left:0px; position:absolute; height:36px; width:83px; }
.common-header  ul { float:left; padding-left:120px; clear:both;}
.common-header  ul li{ display:inline-block; position: relative;top:-8px;  float:left \9;}
.common-header  ul li a:hover{ background:none; color:#5b8632; }
.common-header  ul li a{ padding:18px 12px; font-size:0.8rem; font-size:16px \9;}
.common-header  ul li.active{ font-weight:600; color:#000; border-bottom: solid 2px #5b8632;}
.common-header .header_right{ position:absolute; right:0; top:16px;}
.common-header .wap_nav{ display:none;}

.nav_box {  position:relative; overflow:hidden;zoom:1; width:765px;}
.nav_box button{ display:none;}



.serch_content{ border:1px solid #e6e8eb; border-radius:20px; margin-top:2px; padding:2px 5px 2px;  background:#FFF; z-index:99; position:absolute; width:188px;  top:11px; right:290px; } 
.serch_content input{ outline:none; padding-left:10px;}
.serch_content .input_text{ width:140px;font-size:12px; font-family:"微软雅黑"; font-weight:100;}
.serch_content .input_button{ padding:3px 6px 3px 8px;color:#FFF; background:none; color:#999; outline:none;}


/**主体内容**/
.center_content{ width:1120px; margin:25px auto;}
.load-img.fade {opacity: 1;}

.center_content .content_left{ width:770px; margin-right:40px;}
.content_left  .editor_recommend_box{ position:relative; }
.content_left .editor_recommend_box ul li{float: left;position: relative; width: 32%;overflow: hidden; height:184px;}
.content_left  .editor_recommend_box ul li a { display: block; width: 100%;top: 0;left: 0;}
.content_left  .pc_list   a:hover  img{     transform: scale(1.3);transition: all 1s ease 0s;-webkit-transform: scale(1.3); -webkit-transform: all 1s ease 0s;}
.content_left  .editor_recommend_box ul li a img {width: 100%;}
.content_left  .editor_recommend_box ul li a img:hover{    -webkit-transform: scale(1.05);transform: scale(1.05);}
.content_left  .editor_recommend_box ul li .des {position: absolute;font-size: .7rem;word-break: break-all;width: 100%; line-height: 1.6; bottom: 0;}
.content_left  .editor_recommend_box ul li .des a { color: #fff;display: block; bottom: 0;top: 0;position: absolute;left: 0;width: 100%; height: auto;}
.content_left  .editor_recommend_box ul li .des span { padding: .25rem .75rem;padding:5px 10px\9; display: block;bottom: 0; left: 0;  width: 100%;position: absolute;background: rgba(0,0,0,.8);word-break: break-all;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; background:#acacac\9;}

.list_con .list_tab {padding-top: .5rem; top: 0;z-index: 99; background: hsla(0,0%,100%,.9);font-weight: 600;
 -webkit-backdrop-filter: blur(8px);position:relative;}
.list_con .list_tab_bar{height: 3rem; padding-top: .5rem;top: 0;z-index: 99; background: hsla(0,0%,100%,.9);font-weight: 600; -webkit-backdrop-filter: blur(8px); margin-bottom:0px; background:#FFF \9;}
.list_con .list_tab_bar .sign{ background:#f08441; width:16px; height:16px; border-radius:16px; line-height:16px; color:#FFF; display:block; position:absolute; top:-5px; right:-10px; text-align:center; font-size:10px; font-weight:100; opacity:0.8;}
.list_con .list_tab ul{white-space: nowrap; overflow-x: auto; height: 2.5rem;  height:50px\9; line-height:50px\9;line-height: 1rem;-webkit-overflow-scrolling: touch; border-bottom: 1px solid #e6e8eb; overflow:hidden;}
.list_tab_bar li {list-style: none; color: #828a92; cursor: pointer;position: relative; padding-bottom: .5rem;font-size: .9rem;
line-height: 1.2; -webkit-transition: color .5s ease-in; transition: color .5s ease-in; font-size:16px \9; margin:0px 15px\9; margin-right: 1.2rem; display: inline-block;}
.list_tab_bar li a{color: #828a92;}
.list_tab_bar li a:hover{ text-decoration:none;}
.list_tab_bar li.active span{color: #3d464d;}
.list_tab_bar li.active:before { opacity: 1;}
.list_tab_bar li:before {content: " "; display: inline-block;width: 6px;height: 6px;border-radius: 50%; margin-right: 6px; background-color: #3d464d;vertical-align: middle;opacity: 0;background-color:#fff \9;}
.list_tab_bar li .seo_h2 {font-size: inherit;padding: 0;margin: 0; display: inline-block;font-weight: 600;}

.list_tab .location{ position:absolute; right:150px; top:17px; top:10px \9;}
.list_tab .location_text {padding: 10px;border: 1px solid #e6e8eb; border-top: none; overflow:hidden;zoom:1;}
.list_tab .location_text a{ padding:2px 5px; display:block; float:left; color:#828a92 !important; font-weight:500;}
.list_tab .location_text a:hover{ color:#06C !important;}


/*导航固定*/
.list_tab_fixed{ width:100%; position:fixed; top:0px; right:0;    border:1px solid #e6e8eb; z-index:999; display:none;}
.list_tab_fixed .list_tab_bar{height: 3rem; padding-top:0.8rem;top: 0;z-index: 99; background: hsla(0,0%,100%,.9);font-weight: 600; -webkit-backdrop-filter: blur(8px);  width:1100px; margin:0px auto;}
.list_tab_fixed .list_tab ul{white-space: nowrap; overflow-x: auto; height: 2.5rem;line-height: 1rem;-webkit-overflow-scrolling: touch;overflow:hidden;}
.list_tab_fixed .list_tab_bar li {list-style: none; color: #828a92; cursor: pointer;position: relative; padding-bottom: .5rem;font-size: .9rem; line-height: 1.2; -webkit-transition: color .5s ease-in; transition: color .5s ease-in; margin-right: 1.2rem; display: inline-block;}


.article_list{ }
.article_list ul li {border-bottom: 1px solid #e6e8eb; margin-top: -1px;  padding: 15px 0 \9;}
.article_list ul li .inner_li {border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; height: 9.5rem; overflow: hidden; padding: 1rem 0;position: relative;}
.article_list .h5_mark {display: none;line-height: 1;}
.article_list .mark {position: absolute;top: .4rem;left: .4rem;display: block;padding: 0 .5rem;color: #fff;background: rgba(0,0,0,.5);font-size:12px;text-align: center;border-radius: 1rem; z-index: 11;}
.article_list .img_box {float: left;  width:200px \9; height:150px \9; width: 10rem;height: 7.5rem;background-color: #c3c3c3;position: relative; overflow: hidden;}
.article_list .img_box .img { width: 100%;height: 100%;display: block;background-size: cover;}
.article_list .img_box img {width: 100%;height: 100%; }
.article_list .img_box img:hover{-webkit-transition: .7s; transition: .7s;    -webkit-transform: scale(1.05); transform: scale(1.05);}
.article_list .mark {position: absolute;top: .4rem;left: .4rem;display: block; padding: 0 .5rem;color: #fff;background: rgba(0,0,0,.5);font-size:12px; text-align: center;border-radius: 1rem; z-index: 11;}
.article_list .intro {   font-size: .65rem; line-height: 1.5;word-break: break-all;color: #828a92;height: 100%;position: relative; }
.article_list .margin_left{ margin-left: 11rem; margin-left:220px \9;}
.article_list .intro h3 {font-size: 22px;overflow: hidden;font-weight: 600; margin-top:0px;}
.article_list .intro h3 a{overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 2;color:#3d464d;}
.article_list .intro h3 a:hover,
.brand_news .news-post-item .info-box .title:hover{ color:#5b8632;}
.article_list .intro .abstract { max-height:75px;position: relative;text-overflow: ellipsis;overflow: hidden; word-break:break-all;-webkit-box-orient: vertical; display: -webkit-box; font-size:16px;}
.article_list .intro .info { position: absolute;line-height: 1.2;vertical-align: middle;width: 100%; bottom:0px;}
.article_list .info-list, .article_list .tags-list {display: inline-block;white-space: nowrap;}
.article_list .intro .info .user-info {vertical-align: middle;display: inline-block;}
.article_list .intro .info .name {color: #999; margin: 0;vertical-align: middle;}
.article_list .intro .info .time-div, .article_list .intro .info .user-info-point {vertical-align: middle; display: inline-block;}
.article_list .intro .info [class*=icon], .article_list .intro .info [class^=icon] {vertical-align: middle;font-size: 14px;margin: 1px 4px 0 0;}
.article_list .tags-list i { display: inline-block;color: #999!important; margin-left: 0!important;}
.article_list .tags-list a {color: #999; display: inline-block;max-width: 90px;overflow: hidden; text-overflow: ellipsis;white-space: nowrap; vertical-align: middle;}
.article_list .info-list {padding-right: 2rem;}

.article_list ul li .info-flow-monographic-wrapper.inner_li {height:11.25rem;}
.article_list ul li .info-flow-monographic-inner {position: relative; width: 100%;height: 100%;overflow: hidden;}
.article_list ul li .info-flow-monographic-inner .img-pad { width:770px; height:185px;}
.article_list ul li .info-flow-monographic-inner .background-cover { content: " ";position: absolute;top: 0; bottom: 0;left: 0;
 width: 100%;background-color: rgba(0,0,0,0);z-index: 8;}
.article_list ul li .info-flow-monographic-inner .info { padding: 0 1rem; bottom: 0rem;left: 0; position: absolute;width: 100%;color: #fff;z-index: 9; padding-right: 4rem; display:none;}
.article_list ul li .info-flow-monographic-inner .info .title {font-size:22px; margin-bottom:20px; font-weight: 600;
text-overflow: ellipsis;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;line-height: 1.5em;max-height: 1.5em;}
.article_list ul li .info-flow-monographic-inner .info .desc { font-weight: 400text-overflow: ellipsis; display: -webkit-box;
-webkit-box-orient: vertical; -webkit-line-clamp: 2;overflow: hidden;line-height: 1.5em; max-height: 3em; font-size: 12px;}



.center_content .content_right{ width:300px;} 
.content_right h3 {font-size:16px; color: #3d464d; margin: 0 auto 15px; padding: 25px 0;text-align: center; border-top: 2px solid #5b8632;border-bottom: 1px dashed #e6e8eb;font-weight: 600;}
.content_right h3 span {display: inline-block; padding:5px;position: relative; z-index: 1;}
.content_right .mobile_news img{ width:207px; height:207px;  margin:0px auto; display:block;}
.content_right_ad{ width:100%;  margin:20px 0; display:block; border-top: 1px dashed #e6e8eb; padding-top:15px;}
.content_right_ad img{ width:100%;}
.position_r:first-child a{ margin: 0; padding-top: 0; border: none;}
.content_right .mobile_news h4{ text-align:center; font-size:.8rem; margin-bottom:20px; display:block; margin-top:0px;}


.brand_news { margin-top:50px;}
.brand_news .news-post-item {margin-bottom: 20px;display: flex;}
.brand_news .news-post-item .img-box {width: 100px;height: 50px; background-size: cover;background-position: 50%;position: relative; overflow: hidden;background-color: #efefef;  border:1px solid #e0e0e0;}
.brand_news .news-post-item .img-box img {width: 100%;position: absolute;}
.brand_news .news-post-item .info-box {width: 100%; margin-left: 5px;}
.brand_news .news-post-item .info-box .title {font-size: 14px;color: #3d464d;text-overflow: ellipsis; overflow: hidden;line-height: 1.2em; max-height: 2.4em;}
.brand_news .news-post-item .info-box .info-box-inner {height: 100%;}
.brand_news .news-post-item .info-box .tips { width: 100%; line-height: 1; font-size: 12px; color: #9ca4ab; margin-top: 5px;}
.brand_news .load-img.fade {opacity: 1;}
.brand_news .load-img { opacity: 0;-webkit-transition: opacity .3s ease; transition: opacity .3s ease;}
.brand dt img{ width:100px; padding-bottom:5px;}


.img-cover {position: relative;width: 100%;height: 216px; border-radius: 4px; overflow: hidden;}
.img-cover a {width: 100%;height: 100%; z-index: 99;display: inline-block;overflow: hidden;}
.img-cover img {-webkit-transition: .7s; transition: .7s; width:100%; height:100%;}
.img-cover .article-title {position: absolute;bottom: 0;padding: .7rem 1rem;color: #fff;width: 100%; background-color: rgba(0,0,0,.5);font-size: .8rem; border-radius: 0 0 4px 4px;}
.img-cover .article-title .article-wrapper {display: -webkit-box;text-overflow: ellipsis;-webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}


.comment{ margin-top:50px;}
.comment ul{ margin-top:20px;}
.comment ul li{ border:1px solid #e6e8eb; padding:10px 15px 5px; margin-bottom:20px; }
.comment ul li h4{ font-size:.8rem; color:#000; font-weight:bold; }
.comment ul li .comment_text{overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;display: -webkit-box; -webkit-line-clamp: 3;}
.comment ul li .tips { text-align:right; margin-top:10px; width: 100%;font-size:.6rem; color: #9ca4ab;}

.news_link{min-width: 300px;}
.news_link .qy_logo{display: flex;justify-content: space-between;flex-wrap: wrap;}
.news_link h3 {font-size:16px; color: #3d464d; margin: 0 auto 15px; padding: 25px 0;text-align: center; border-top: 2px solid #5b8632;border-bottom: 1px dashed #e6e8eb;font-weight: 600;}
.news_link .qy_logo li{ border:1px solid #e6e8eb;margin:0px 0px 6px 0;padding:2px;}
.news_link .qy_logo li a{ display:block; }
.news_link .qy_logo li img{ width:90px; max-height:45px;display:block;}
.qy_logo li .logo_mb{width:90px; height:45px; background:hsla(0,0%,100%,.5); position:absolute; top:0; left:0; z-index:99;}


.footer{ width:100%; height:auto; background:#2d3237; color:#c0c2c3;}
.footer_top { padding:40px 0 20px; width:1100px; margin:0px auto;}
.footer_top  .footer_box{ float:left; margin-left:240px; }
.footer_top  .footer_title { margin-bottom:10px; text-align:center;}
.footer_top  .footer_title span{ margin-right:10px; font-size:.8rem; font-weight:600;} 
.footer_top .footer_box_1{ margin-left:0;}
.footer_top .footer_box_1 a{ float:left; display: block; height: 1.5rem; height:30px \9; line-height:30px \9;line-height: 1.5rem; border-radius: 4px;border: 1px solid #5b8632;text-align: center;
	color:#5b8632;margin-top: 25px; background:none; padding:0px 1rem; margin-right:1rem; padding:0px 10px \9; margin-right:10px \9;}
.footer_top p{ margin-bottom:10px;}
.footer_top p img{ margin-right:10px;}
.footer_top .qq_contact{ border:1px solid #FFF; border-radius:3px; padding:4px 20px 7px;}
.footer_top .qq_contact img{ margin-right:0;}
.footer_box_4 p img{ width:110px;}

.footer_bottom{ background:#23282d; width:100%; height:40px; line-height:40px;}
.footer_bottom_inner{ width:1100px; margin:0px auto; }
.footer_bottom_inner .left{color:#c0c2c3;}
.footer_bottom_inner .left a{ padding-right:10px;}
.footer_bottom_inner .right{color:#999;}
.footer_bottom_inner .right a{ color:#999;}
.footer_bottom_inner  p{ margin-bottom:0 !important;}
.footer_top_wap{ display:none;}


.article_list .img_box img:hover,
.industry .img-cover img:hover,
.article_list ul li .info-flow-monographic-inner .img-pad:hover,
.brand_news .news-post-item .img-box img:hover
{-webkit-transition: .7s; transition: .7s;    -webkit-transform: scale(1.05); transform: scale(1.05);}


/**固定顶部导航**/
 ul.list_tab_bar.affix{top: 0px; width:55%; /* Set the top position of pinned element */}
 
 /*回到顶部*/
.backtotop a{ background:url(../image/icon_top.png) no-repeat 0 0;display: block;width: 40px;height: 40px;overflow: hidden; position:fixed; bottom:100px; right:40px;}
.backtotop a:hover{background:url(../image/icon_top.png) no-repeat 0 -45px;}


/*制冷百科-热点*/	
.no_margin_top{ margin-top:0 !important;}
.hotspot .news-post-item { border-bottom:1px solid #f3f3f3; margin-bottom:15px;}
.hotspot .news-post-item  a{ display:block;}
.hotspot .info-box .title{ width:280px;}
.hotspot .news-post-item .info-box .title {position: relative;top: -2px;font-size: 14px;color: #3d464d;text-overflow: ellipsis;white-space: nowrap \9;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; overflow: hidden;line-height: 1.2em; max-height: 3em;}
.hotspot .news-post-item .info-box .info-box-inner {width: 180px;height: 100%;}
.hotspot .news-post-item .info-box .tips {  font-size: 14px; color: #9ca4ab; margin:8px 0;}



/*buy_card*/
.buy_card{}
.buy_card h3 { line-height:1.1rem;}
.buy_card h3 span{ margin:0px 5px; font-size:0.8rem; color:#5b8632; padding:0;}
.buy_card li h4 img{ width:90px;}
.buy_card li p{ margin:5px 0;}
.buy_card li p span{ color:#5b8632; margin-right:5px; font-size:.7rem;}


.title_box ul li{ display:inline-block;}
.title_box  {padding-top: .5rem;top: 0; z-index: 99;background: hsla(0,0%,100%,.9);-webkit-backdrop-filter: blur(8px); position: relative;}
.title_box  .title_bar{white-space: nowrap; zoom:1; overflow-x: auto;height: 2.5rem;line-height: 2.5rem; -webkit-overflow-scrolling: touch; border-bottom: 1px solid #e6e8eb;overflow: hidden; margin-bottom:0;}
.title_box  .title_bar .title{ list-style: none; color: #666; cursor: pointer;position: relative;padding-bottom: .5rem; font-weight:bold; font-size: 1.1rem;line-height: 1.2;
-webkit-transition: color .5s ease-in;transition: color .5s ease-in;margin-right: .2rem;display: inline-block;}
.title_box  .title_bar  p{ font-size:.7rem; color:#666;}
.title_box  .title_bar .title span{color: #5b8632; margin-right:5px;}
.title_box  .title_bar p span{color: #5b8632; margin:0px 5px;}


/*相关资讯分类*/
.infomation{}
.infomation .infomation_inner{ overflow:hidden;zoom:1; border:1px solid #e6e8eb; border-top:0; padding:0.5rem; font-size:.8rem; color:#666;}
.infomation .infomation_inner a{ display:block; float:left; color:#666; padding: 5px 8px;}
.infomation .infomation_inner a:hover{ color: #5b8632;}

.title_box  .location{ position:absolute; right:-24px; top:-3px; top:10px \9;}
.title_box .location_text {padding: 10px;border: 1px solid #e6e8eb; border-top: none; overflow:hidden;zoom:1;}
.title_box .location_text a{ padding:2px 5px; display:block; float:left; color:#828a92 !important;}
.title_box .location_text a:hover{ color:#06C !important;}


/*公司列表分类*/
.company_list ul{ overflow:hidden;zoom:1;}
.company_list ul li{ float:left;}
.company_list  {padding-top: .5rem;top: 0; z-index: 99;background: hsla(0,0%,100%,.9);-webkit-backdrop-filter: blur(8px); position: relative;}
.company_list  .company_bar{white-space: nowrap; overflow-x: auto;-webkit-overflow-scrolling: touch; border-bottom: 1px solid #e6e8eb;overflow: hidden; margin-bottom:0;}
.company_list  .company_bar .title{ list-style: none;  cursor: pointer;position: relative; font-size:1rem;-webkit-transition: color .5s ease-in;transition: color .5s ease-in;margin-left: .2rem;
display: inline-block;}
.company_list  .company_bar .text-center{ border-right:1px solid #e6e8eb; margin-right:0.3rem; padding-right:.3rem; width:100px; overflow:hidden;}
.company_list  .company_bar .text-center img{ width:100%;}
.company_list  .company_bar .score{ color:red; font-size:0.7rem; display:block;}
.company_list  .company_bar li.right{float:right !important; line-height:3.8rem;}
.company_list  .company_bar .title a {color: red; font-weight:bold;}
.company_list  .company_bar  p{ font-size:.8rem; color:#666;}
.company_list .location_text {padding: 10px;border: 1px solid #e6e8eb;border-top: none; color:#666;}

.buy_card .buy_card_img{ text-align:center; margin:0px auto; color:red; font-size:0.7rem; font-weight:bold;}
.buy_card .buy_card_img img{ width:40%;}     

/*文章内容*/
.content_720{ width:720px !important; }
.article{ margin:1rem 0;}
.article-title h1{color: #3d464d;font-size:1.2rem; font-weight: 600; text-align: left;line-height: 32px; margin:10px 0 15px;}
.article-title h1.text_title{font-size:1.2rem;}
.article-title { border-bottom:1px solid #ededed; padding-bottom:.8rem;}
.article-title .cited_title,.article-title .subtitle{ font-size:.8rem; margin-bottom:0; color:#666;}
.article-title .subtitle{ text-align:right;}
.article-title .author {font-size: 14px; height: 25px; line-height: 25px;color: #999;}
.article-title .author .dot{ margin:0px 5px;}
.article-title .author a{color: #5b8632;}
.article-text{line-height: 1.5rem;font-size: .8rem; color: #3d464d; margin:20px 0px 15px; text-align: justify;}
/*.article-text p,.article-text div{ margin-bottom:28px;}*/
.article-text .img,.article-text img{ text-align:center; margin:10px auto 0; display: block; max-width: 750px;}
.article-text .img p{ font-size:.7rem; margin:.4rem 0; color:#999;}
.article-text a{ color:#3d464d;}
.article-text h3{font-size:.8rem; margin: 40px 0 14px; line-height: 23px;color:#333; font-weight:bold;}
.article-footer-label{ font-size:.65rem; border: 1px solid #e9e8e8; color: #999;border-radius: 4px;margin-top: 25px;line-height: 1.5;
padding: 15px; }
.article-footer-label p{ margin-bottom:0;}
.article_label{}
.article_label a{ font-size:.7rem;display: inline-block;height: 26px; line-height: 24px;padding: 0 15px; border: 1px solid #666; color:#666; margin-bottom:5px;
border-radius: 15px; margin-right:5px;}
.video_box {
	text-align:center;
}


.share_nav {
	height: 50px;
	line-height: 30px;
	background: #ededed;
	margin: 30px 0;
	padding: 10px 15px;
	position: relative;
}
.share_nav li{ float:left; color:#5b8632;}
.share_nav li i{color:#c9cfd9; width:28px; height:28px; margin:0px 15px;}
.share_nav li i:hover{ color:#5b8632;}
.share_nav li.pinglun_box{ background:#FFF; border-radius:15px; padding:0px 15px; color:#333; border:1px solid #e0e0e0; margin-left:10px;}
.share_nav li  input{ width:300px ;}
.share_nav li.pinglun_box a{ color:#999; border-left:1px solid #CCC; padding-left:10px;}
.share_nav li.pinglun_box a:hover{color:#5b8632;}
.share_nav .icon-weixin{ background:url(../image/weixin_2.png) no-repeat center center !important;    position: relative;}
.share_nav .icon-weixin span{position: relative;}
.share_nav .icon-weixin:hover{ background:url(../image/weixin_2.png) no-repeat center center;}
.share_nav .icon-weibo{ background:url(../image/weibo.png) no-repeat center center;}
.share_nav .icon-weibo:hover{ background:url(../image/weibo_2.png) no-repeat center center;}
.share_nav .icon-qq{ background:url(../image/qq.png) no-repeat center center;}
.share_nav .icon-qq:hover{ background:url(../image/qq_2.png) no-repeat center center;}
.share_nav .pinglun_mobile{ display:none;}

/*微信分享弹出*/
.tip {position: absolute; -webkit-transform: translate(-50%,-100%); transform: translate(-50%,-100%); background-color: rgba(0,0,0,.2);
 font-size: 12px; min-height: 50px;padding: 4px;line-height: 1.5em;color: #3d464d; width: 355px; left:190px; top:-15px;}
.inner-box {padding:5px;position: relative;background-color: #fff;}
.tip .kr-arrow {bottom: -15px;left: 65px;margin-left: -15px;border-width: 15px 15px 0; border-color: rgba(0,0,0,.18) transparent transparent;}
.kr-arrow, .kr-arrow span {display: block; border-style: solid; position: absolute;width: 0; height: 0;}
.tip .kr-arrow span { left: 2px;border-width: 15px 15px 0; border-style: solid;border-color: #fff transparent transparent;position: absolute;top: -19px;
left: -15px;}
.tip .img-box { background-size: cover;}
.tip .txt { position: absolute;top: 50%;right: 10px;-webkit-transform: translateY(-50%);
 transform: translateY(-50%);line-height: 1.8em; }
.tip .txt p{ margin-bottom:0;}

.share_ico{font-size: 28px; cursor: pointer;padding: 0 10px; color: #d3d7db;vertical-align: middle; position: relative; 
 margin:0px 20px 0px 5px; overflow:hidden;zoom:1;}
.share_ico a{ width:28px; height:28px; display:block; float:left; margin-right:10px;}

/*品牌*/
.brand{ height:auto; margin-bottom:20px; margin-top:.8rem;}
.brand dt,.brand dd{ float:left;}
.brand dt, .brand .dt{ width:160px; border:1px solid #e3e3e3; margin-right:10px; padding:10px; text-align:center; font-weight:100; font-size:.8rem;}
.brand dt strong{ font-size:.9rem; color:red;}
.brand dt span{ color:red;}
.brand .dt img{width:100%;}
.brand dd{ font-size:.7rem; color:#666; height:33px; line-height:33px; margin-left:15px; border-bottom:1px solid #e3e3e3; width:585px; 
 padding-left:20px; overflow: hidden; /*自动隐藏文字*/
  text-overflow: ellipsis;/*文字隐藏后添加省略号*/ white-space: nowrap;/*强制不换行*/}
.brand dd a:hover{ color:#5b8632;}
.brand dd.more{ border:none !important; background:none !important; height:auto !important;}
 
.brand .bradn_text{ width:570px; margin-left:.8rem;}
.brand .bradn_text p{ font-size:.75rem; line-height:1.8; text-indent:2em;}
.brand .bradn_text .article-title{ padding-bottom:0; }
.brand .bradn_text .article-title h1{font-size:.75rem; line-height:22px;}
 
 
 /*评论*/
.comment_title h2{font-size: 18px;margin-bottom: .5rem;margin-top: 1rem;color: #666;font-weight: 600;line-height: 2; width:50%;
float:left;}
.comment_title a{ width:50%; float:left; text-align:right;margin-top: 1.5rem;color: #666;}
.comment_title a span{ color:#F00; margin:0px .2rem;}
.input-module textarea{outline: none; -webkit-appearance: none; padding: .4rem; width: 100%; background-color: #f7fcff;
 border: 1px solid #d3d7db;border-radius: 3px;font-size: 14px;resize: vertical;margin-bottom: 10px;height: 5rem;background-color: #fafafa;
 color: #333; line-height:1.8;}
.comment_box .user .right{ color:#5b8632; border:1px solid #5b8632;    padding: 6px 15px 3px; display:block;
 border-radius:3px; font-size:.7rem; margin-left:10px;}
.comment_box .user .current-user a{color:#5b8632; margin:0 5px;}
.comment_box .user .current-user{ font-size:.8rem; margin-top:10px;}

.display-module{ margin-top:20px; border-top: 1px dashed #e8e8e8;} 
.display-module .msgwrap{ font-size:.7rem; border-bottom: 1px dashed #e8e8e8; padding: .8rem 0;}
.display-module li { text-align: left; }
.display-module .msgwrap .name {color: #5b8632; }
.display-module .msgwrap .time {color: #ccc;}
.display-module .msgwrap p{ margin:.5rem 0;}
.display-module .msgwrap .text {color: #333; word-break: break-all; word-wrap: break-word; font-size:.8rem;}
.display-module .msgwrap .replay_button {}
.display-module .msgwrap .replay_button a{ margin-right:5px;color: #5b8632;}
.display-module .msgwrap .replay_button a:hover{color: #ccc;}
.display-module .msgwrap .replay_button a.active{color: #ccc;}
.display-module .msgwrap .submit {border: 0 none; background-color: transparent;color: #ccc;font-size: 14px;padding: 0;}
.display-module  .reply_box{ border-left:3px solid #ededed;}
.display-module  .floor_left{margin-left:35px !important;}
.display-module  .new_comment{ overflow:hidden;zoom:1;}
.display-module  .new_comment a{ font-size:.7rem; color:#d3d7db; height:40px; line-height:40px; display:block; margin:10px 0; width:120px; float:left;}
.display-module  .new_comment i{ margin-right:5px;}
.display-module  .new_comment a:hover{color: #5b8632;}

.conpany_new{ margin:50px 0 10px;}
.conpany_new h4{ font-weight:bold; font-size:.8rem; line-height: 35px;}

/*产品推荐*/
.product_tuijian{}
.product_tuijian li{border: 1px solid #e6e8eb;padding: 10px 15px 5px; margin-bottom: 20px; }
.product_tuijian li h4{ font-size:.8rem; font-weight:bold; border-bottom:1px  dashed #e6e8eb; padding-bottom:.6rem; }
#rightcxlmsells .product_tuijian li h4{ height: 50px; line-height: 25px; overflow: hidden; }
.product_tuijian li .left{ width:100px; margin-right:10px;}
.product_tuijian li .right{width:155px;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;display: -webkit-box;
 -webkit-line-clamp: 4; margin-bottom:10px !important; height: 80px;}
 .product_tuijian li p{ margin:4px 0;}
.product_tuijian li p i{ color:#5b8632; margin-right: 10px;}
.product_tuijian li p img{ margin-right:5px;}
.product_tuijian li p span{ color: #5b8632;}

/***行业展会****/
.trade_show{ min-height:12rem;}
.trade_show p{ margin-bottom:0px;  overflow: hidden; /*自动隐藏文字*/text-overflow: ellipsis;/*文字隐藏后添加省略号*/white-space: nowrap;/*强制不换行*/
width: 100%;/*不允许出现半汉字截断*/}
.trade_show .inner_li{ height:12rem !important;}
.trade_show .abstract{max-height:240px !important;}

.partners{ margin-bottom:20px;}
.partners .qq_contact{ margin-top:20px; }
.partners p{ font-size:.7rem;}
.partners  i{ font-size:.8rem; color:#5b8632; padding-right:10px;}
.partners .qq_contact a{border:1px solid #5b8632;    border-radius: 3px; padding: 6px 0 8px; width:100%; display:block; }
.partners .qq_contact img{ display:block; margin:0px auto;}
.share_fixed{position: fixed;bottom: -30px; z-index: 99; width:770px;}

/*行业展会时间表*/
.timetable_box{ border-left:1px solid #5b8632;}
.timetable_box ul{ margin-bottom:15px;}
.timetable_box  li{ margin-left:10px;}
.timetable_box .time{ background:url(../image/yuandian_2.png) no-repeat center left; position:relative; left:-18px; padding-left:20px;}
.timetable_box .title{ font-weight:bold; font-size:.8rem; margin:10px;}
.timetable_box  .address{ color:#666;}

.article-text h4{ vertical-align:middle; background:#f3f3f3; padding:10px; font-size:0.8rem; color:#5b8632; margin:1rem 0;}
.article-text h4 i{ color:#5b8632; margin-right:5px;}
.article-text .exhibition{ background:#f3f3f3; padding:.5rem; border:1px dashed #c9cfd9;}


.mobile_footer{ display:none;}
.dd_more{ height:auto !important;  background: none !important; border-bottom:none !important; padding-left: 0 !important; margin-left:25% !important;}

/*17-04-14*/
.content_left .product_tuijian{ overflow:hidden;zoom:1;}
.content_left .product_tuijian h3{ font-size:.8rem; font-weight:bold; line-height: 35px;}
.content_left .product_tuijian li{ width:32%; float:left; margin-right:15px; padding:10px 10px 5px;}
.content_left .product_tuijian li .right{ width:125px;}
.content_left .product_tuijian li .left{ width:80px; height:80px;}
.content_left .product_tuijian li:last-child{ margin-right:0;}

/*专题页面*/
.special_ad  .info-flow-monographic-inner .img-pad{ width:100% !important;}
.special_ad  .info-flow-monographic-inner .info{ display:block !important;}
.special_ad  .info-flow-monographic-inner .background-cover{background-color: rgba(0,0,0,0.2) !important;}
.special_period .title_box li a{ margin-left:10px; border:1px solid #CCC; padding:.2rem .4rem;}
.special_period .title_box li a:hover{ background:#5b8632; color:#FFF; border:1px #5b8632  solid;}
.special_period .title_box li a.active{background:#5b8632; color:#FFF; border:1px #5b8632  solid;}
.special_period  .article_list ul { overflow:hidden;zoom:1;}
.special_ad .img-pad  img { width:100% !important; }
.special_period  .article_list ul li{ border-bottom: 1px dashed #e6e8eb;  float:left;width:45%;margin-right:5%;}
.special_period  .article_list ul li a{ padding:.4rem 0;padding-left:15px; 
display:block; font-size:.75rem }
.special_period  .article_list h2 a{  font-size:.9rem; font-weight:bold; }
.special_period  .article_list{ margin-bottom:15px;}
.mobile_footer{ display:none;}
.article_list_zt  .info-flow-monographic-inner .info{ top:2.5rem !important;}
.article_list_zt  .info-flow-monographic-inner .desc{ font-size:.75rem !important; width:60%;}


/*企业新闻通*/
.qyxwt_down{ font-size:.8rem; color:red; margin:.8rem 0 1rem; display:block;}
.qyxwt_txt{ line-height:1.8; font-size:.8rem; margin:.5rem 0; color:#666;    text-indent: 2em;}
.qyxwt_contact{background: #f3f3f3;padding: .6rem;border: 1px dashed #c9cfd9; margin-top:.6rem; margin-bottom:40px;}
.qyxwt_contact p{ font-size:.8rem;}
.qyxwt_contact p.qq_contact{ width:162px;border: 1px solid #5b8632;border-radius: 3px;padding: 6px 0 8px;display: block;}
.qyxwt_contact p img{ display:block; margin:0px auto;}
.zxtg{ width:100%; background:#5b8632; color:#FFF; display:block; padding:.5rem 0; text-align:center; font-size:.8rem; margin-top:1rem;}
.zxtg:hover{ color:#FFF; background:#41661d;}
.margin_top_30{ margin-top:30px;}
.qyxwt .content_right{ display:block !important;}
.qyxwt .news_link{ display:block;}

/*企业投稿*/
.submission{ margin-top:.7rem;}
.submission li{ overflow:hidden;zoom:1;}
.submission li label{ width:15%; text-align:right; margin-right:10px; margin-top:7px; font-weight:500;}
.submission li p{ width:75%; position:relative;}
.submission li p strong{ color:red; font-size:.9rem; position:absolute; right:-15px; top:8px;}
.submission li p span{ color:#666; font-size:.6rem; padding-top:10px; display:block;}
.submission li label,.submission li p,.upload_text_box,.upload_text_box_button { float:left;}
.help-block{ margin-left:15%;}

.upload_text_box{  margin-right:10px;  overflow: hidden;zoom:1; width:580px;}
.upload_text_box img{ height:75px; width:100px; overflow:hidden;}
.upload_text{position: relative;margin-right: 9px; margin-bottom: 9px;border-radius: 4px;height:75px; border: 1px solid #D9D9D9; width:115px;}
.upload_text:before,.upload_text:after{content: " "; position: absolute; top: 50%; left: 50%;  -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  background-color: #D9D9D9;}
.upload_text:before{width: 2px; height: 39.5px;}
.upload_text:after{width: 39.5px;height: 2px;}
.upload_text input{position: absolute; z-index: 1; top: 0;left: 0; width: 100%;height: 100%;opacity: 0;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.tougao_text{ margin-bottom:2rem;}
.tougao_text p{  line-height:1.8;}
.margin_bottom_80{ margin-bottom:80px;}

.upload_text_box_button{ width:115px;  margin-right:10px; margin-top:10px;}
.upload_right{ width:580px; overflow:hidden;zoom:1;}

.upload_text_box .upload_img{ width:100px; float:left; margin-right:10px; margin-top:10px;}
.upload_text_box .upload_img a{width:50%; display: inline-block;   }
.upload_button_span {width: 420px !important; margin-top: 66px !important; text-align: left;}

.qhxx_ad_1_pc{display:block;}
.qhxx_ad_1_mobile{display:none !important;}

@media only screen and (max-width: 720px){
	.upload_text_box { max-width: 250px;}
	.upload_text_box_button{clear: both !important;}
	.upload_right{ width:auto;}
	.upload_button_span{margin-top:5px !important; width:100% !important;  text-align: left;}
	.qhxx_ad_1_mobile{display:block !important;}
	.qhxx_ad_1_pc{display:none !important;}
	
}
@media only screen and (max-width: 320px){
	.upload_text_box { max-width: 210px;}
	.upload_text_box .upload_img{ margin-right:5px; width: 100px; clear: both !important;}
	.submission li label{ width:20%;}
	.upload_right{ width:auto;}
	.qhxx_ad_1_mobile{display:block !important;}
	.qhxx_ad_1_pc{display:none !important;}
}





/*评论列表*/
.comment_list .display-module{ margin-bottom:2rem;}
.comment_list .article-title h1{ font-size:.8rem; margin: 10px 0 10px;  }

.search_box{ width:100%; border:2px solid #5b8632; margin-top:15px; overflow:hidden;zoom:1;}
.search_box input{ padding:.3rem ; width:90%; float:left;}
.search_box button{ background:#5b8632; display:block; float:right; padding:.3rem 0; width:10%; color:#FFF; font-size:0.8rem;}
.search_keyword{ margin:.3rem 0; overflow:hidden;zoom:1;}
.search_keyword a{ display:block; float:left; margin-right:.5rem; cursor:pointer;}
.comment_number{ margin-left:10px; color:#5b8632;}
.comment_number i{ margin-right:5px;}
.comment_list .down_btn{ margin-left:10px; color:red !important;}




.commnt_btn_box{ overflow:hidden; zoom:1; margin:10px 0px 20px;}
.commnt_btn_box a{ display:block; float:left; width:32%; padding:.2rem 0; text-align:center; background:#6c8b4e;  color:#fff;
 border-radius:2px; margin-right:1%;}
.commnt_btn_box a.active { background:#3d6c11;}
.commnt_btn_box a:hover{ background:#4b7523 !important;}

.comment_list .content_right .comment dl{ overflow:hidden;zoom:1;    border-bottom: 1px solid #ededed; padding-bottom:15px; margin-bottom:15px;}
.comment_list .content_right .comment dt{ font-size:.75rem;}
.comment_list .content_right .comment dd{ float:left;}
.comment_list .comment .dd_img_box{ margin-top:4px; margin-right:10px;}
.comment_list .comment .dd_img_box img{ width:100px; height:70px; }
.comment_list .comment .dd_txt_box{ width:190px;text-overflow: ellipsis;h 
display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:4; overflow: hidden; color:#666; }
.width_100{ width:100% !important;}
.comment_list .article-title{ border-bottom: 1px dashed #ededed; }
.comment_list .article{position:relative;margin: 1rem 0 1rem;}
.comment_list .display-module ul{}
.comment_list .display-module .msgwrap:last-child{border-bottom: 1px solid #e8e8e8 !important;}
.more_pinglun{ background:#e7e7e7; padding:.2rem .6rem; font-size:.6rem; color:#bbb; position:absolute; bottom:-25px;left: 50%;
    margin-left: -48px;}
	
.no_padding_top{ padding-top:0;}

.tags-list img{ width:100px; margin-left:1rem;}
.no_padding_bottom{ padding-bottom:0 !important;}
.back_go{ float:right;}
.no_margin_bottom{ margin-bottom:0 !important;}

/*17-04-21*/
.comment_list .article-title h1:before,
.tougao_text p:before,
.brand dd:before,
.special_period  .article_list ul li a:before
{content: " ";display: inline-block;width: 6px;height: 6px; border-radius: 50%; margin-right: 6px;
 background-color: #5b8632;vertical-align: middle; }
.footer_box_2{ display:none;}
.dd_more:before{ display:none !important;}
.article_list_zt .info-flow-monographic-inner .info .desc{-webkit-line-clamp: 3 !important; max-height: 5em !important; width:100%;}

/*2017-06-13*/
.page_right{/*border:1px dashed #e5efdc; */border-top:none;}
.content_right_title {background: #5b8632; padding: .5rem 0; font-size: .8rem; color:#fff; text-align: center; }
/*.product_tuijian{padding:0px 10px;}*/

/*2018-0524微信分享弹出*/
.ewm_pop{ width:300px; background:#fff; padding:10px 20px 20px;position:absolute; outline:0px; margin-left:-150px; left:50%; top:200px; z-index:1027;}
.ewm_pop h4{ font-size:16px;  }
.ewm_pop .close{ display:block; width:40px; height:40px; color:#000; position:absolute; right:5px; top:18px; text-align:center;}
.ewm_pic{ width:200px; margin:20px auto; display:block;}
.ewm_pop p{ margin-bottom:5px;}
.name_box{border-bottom:1px solid #eee; margin-bottom:10px;}
.name_box li{ display:inline-block; margin-right:6px;}
.name_box li p{text-align:center; font-size:14px;}
.name_box img{ display:block; width:55px;}
.pop_text{ color:#666;}
.pop_text .title{font-weight:600; margin:5px 0 3px; color:#666; }



/*2018-06-05*/
#qhxx_ajax_upload_form{ float:left;}

