body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
a{
	text-decoration: none;
}
@mixin a_hover{
	color: #990000;
	text-decoration: underline;
}
.fixed
{
width:140px;
height:162px;
display:block;
margin:0px; 
padding:0px;
position:fixed;/* 相对于屏幕定位 */
right:4px;/* 横向位置也可用left */
top:180px;/* 纵向位置也可用top */
background-color:#2c97ed;
}
.fix
{
width:140px;
height:162px;
display:block;
margin:0px; 
padding:0px;
position:fixed;/* 相对于屏幕定位 */
left:4px;/* 横向位置也可用left */
top:180px;/* 纵向位置也可用top */
background-color:#2c97ed;
}
.closed{
font-size:12px;
color:#999999;
height:20px;
display:block;
width:100%;
cursor:pointer;
}
.center{
display:block;
width:1030px;
height:auto;
margin:0 auto;
padding:0;
background-color:white;
}
body{
margin:0 auto;
padding:0;
text-align:center;
}
.top_chinanews {
		width: 1031px;
		margin: 0 auto;
		background: #efefef;
		border-bottom: 1px solid #d9d9d9;
		margin-bottom: 5px;
		line-height: 40px;
		font-size: 11px;
		text-align: left;
		letter-spacing: 0.8px;
		color: #d1d1d1;
		padding-left: 1px;
}
.top_chinanews a{
			font-size: 12px;
			text-align: left;
			letter-spacing: 0.8px;
			color: #888;
			padding-left: 1px;
		}
.top_chinanews a:hover{
			text-decoration: underline;
		}
}
.links{
margin-bottom:5px;
width:1030px;
height:40px;
background-color:#EFEFEF;
border-bottom:1px solid #D9D9D9;
line-height:40px;
font-size:12px;
color:#888;
font-family: "Microsoft YaHei";
letter-spacing:2px;
}
.links a{
font-size:12px;
color:#888;
font-family: "Microsoft YaHei";
}
.links a hover{
text-decoration:underline;
}
.adv{
width:1000px;
margin:auto;
font-size:12px;
color:#888;
font-family: "Microsoft YaHei";
}
p{
margin:0 auto;
padding:0;
text-align:center;
}
.first{
	font-size:14px;
	color:#888;
	font-family: "Microsoft YaHei";	
}
.headline{
width:1000px;
margin:auto;
font-size:12px;
color:#888;
font-family: "Microsoft YaHei";
}
.title{
width:1000px;
font-family: "Microsoft YaHei";
font-size: 14px;
display: block;
height: 57px;
line-height:57px;
position: relative;
background: url(../image/anhui_bg.jpg) left bottom repeat-x;
margin:0;
padding:0;
}
.title a{
display:block;
margin-left:5px;
float:left;
font-family: "Microsoft YaHei";
font-size: 15px;
color:#FFF;
padding: 0 2px;
}
.title a:hover {
  background: #459fe4;
  border-bottom: #6cb3ea 1px solid;
  border-top: 1px solid #2386d3;
  height: 55px;
  line-height: 55px;
  padding: 0 2px;
  text-decoration: none;
}
.news{
display:block;
background-color:#FFF;
width:1000px;
margin:0 auto;
}
.left{
display:block;
float:left;
border:1px solid #459fe4;
width:330px;
height:600px;
margin-top:4px;
}
.mid{
display:block;
float:left;
border:1px solid #459fe4;
width:330px;
height:600px;
margin-top:4px;
}
.sid{
display:block;
float:left;
border:1px solid #459fe4;
width:334px;
height:600px;
margin-top:4px;
}
.mid-adv{
display:block;
float:left;
margin:0 auto;
border:1px solid #459fe4;
width:998px;
height:80px;
margin-top:2px;
}
#heading{
	height:80px;
	clear: both;
}
.logo {
	float:left;
	margin-left:10px;
}
.weather{
	padding-top: 10px;
	width:400px;
	float:left;
	margin-left:40px;
}
	.search_div{
		float:left;
		width: 300px;
		margin-top: 30px;
	}
	.nav_search{
		margin-top: 10px;
	}
	.input_text{
		height:26px;
		width: 230px;
		margin-right: 7px;
		background: #fff;
		border: 1px solid #dedede;
		color: #646464;
		font-size: 12px;
	}
	.input_query{
		height:26px;
		width: 51px;
		cursor: pointer;
		border-radius: 0;
		text-shadow: 0 0;
		  background: #5cb9e2;
		  color: #fff;
		  font-weight: normal;
		  border: 0;
	}
	.input_query:HOVER {
		background: #b21112;
	}
	.body_bg{	
	background: url(../image/nbg.png) repeat-y center #eef2f6;
	}
	.article_view_main{
		float:left;
		width:695px;
		height:auto;
	}
	.article_view_side{
		float:left;
		width:300px;
		margin-left:5px;
		height:auto;
	}
	.cms-news-article-title {
		font-size: 22px;
		text-align: center;
		line-height: 30px;
		padding: 15px 0;
	}
	.cms-news-article-title-source {
		font-size: 13px;
		color: #797979;
		text-align: center;
		margin: 5px 0 15px 0;
		padding-bottom: 5px;
	}
	.cms-news-article-content-block {
		font-size: 15px;
		font-weight: normal;
		text-overflow: clip;
		font-family: 'Microsoft YaHei';
		line-height: 26px;
		text-align:right;
		padding: 0px 10px;
		color: #333;
		letter-spacing: 1px;
		width:620px;
	}
	..cms-news-article-content-block p{
		float:left;
	}
	.cms-news-article-contactnews {
		font-size: 14px;
		text-align: left;
	}
	.cms-news-article-contactnews .title {
	width:670px;
display: block;
height: 34px;
background: #eeeded;
padding-left: 20px;
line-height: 34px;
font-size: 14px;
color: #003b78;
vertical-align: middle;
}
.cms-news-article-contactnews-tab {
width: 98%;
margin: 10px auto;
}
.cms-news-article-contactnews-tab ul li {
list-style: none;
height: 25px;
}
.cms-news-article-contactnews-tab .date {
float: right;
}
.cms-news-article-clear {
clear: both;
}
.vedio_ul_list{
	margin-top:10px;
}
.video_focus li span {
width: 150px;
}
.video_focus li span {
width: 140px;
font-size: 12px;
display: inline-block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
margin-left:1px;
}
.video_focus {
height: 120px;
margin-top: 15px;
}
.video_focus li {
float: left;
width: 140px;
position: relative;
margin-left: 6px;
}
.video_focus li a img{
width:140px;
height:100px;
}
.video_focus .li_2 {
margin-left: 10px;
}
.video_focus .v_focus_img {
bottom: 25px;
}
#editor_choice_box .ec_image .v_focus_img, .video_focus .v_focus_img, #image_list_box .img_l_middle .v_focus_img {
position: absolute;
left: 5px;
}
.video_focus a {
color: #252525;
}
.video_focus a:hover {
color: #990000;
text-decoration: underline;
}
.video_ul{
text-align:left;
}
.video_ul a {
color: #252525;
white-space: nowrap;
margin-left:4px;
}
.video_ul a:hover {
color: #990000;
text-decoration: underline;
}
ul {
list-style: disc outside;
}
.video_ul li {
height: 25px;
line-height: 25px;
background: url(../image/li_v.png) no-repeat;
padding-left: 18px;
text-align:left;
display: inline-block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.video_ul li span{
display: inline-block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 280px;	
}
li {
list-style: none;
}
.news_list_body li .news_li_type {
color: #4a5265;
width: 70px;
font-size: 15px;
margin-right: 10px;
}
.news_list_body li {
background: none;
line-height: 26px;
}
.news_list_body li a {
color: #252525;

}
.news_list_body li a:hover{
color: #990000;
text-decoration: underline;
}
.right {
float: right;
}
.left{
float: left;
}
.image_report_box{
margin-right:100px;
width:300px;
height:auto;
}
.image_report_box ul{
margin-right:20px;
height:auto;
}
.image_report_box ul img {
width: 210px;
height: 140px;
}
.image_report_box ul li {
margin-left:0;
width: 200px;
text-align: center;
padding: 0px 10px;
margin-top: 20px;
}
.image_report_box a {
color: #252525;
margin-left:1px;
}
.image_report_box a:hover {
color: #990000;
text-decoration: underline;
}
fieldset, img {
border: 0;
}
fieldset, img {
border-width: 0;
}
.side_column_title {
height: 32px;
line-height: 32px;
background: #EDEDED;
text-align: center;
font-weight: bold;
font-size: 15px;
border-top: 1px solid #DFDFDF;
}
p {
margin: 0 auto;
padding: 0;
text-align: left;
}
	.adv_bottom{
	margin-top:20px;
	float:left;
	width:1000px;
	height:80px;
	margin-left:16px;
	}
.cms-news-article-content-block img {

}
.pagebottom{width:1000px;margin:15px auto;color:#737373;font-size:12px;clear:both;}

.pagebottom_1{color:#737373;height:30px;font-size:14px;line-height:30px;text-align:center;background:none;}
.pagebottom a{color:#737373; text-decoration:none;}
.pagebottom a:hover{color:#737373; text-decoration:underline;}
.pagebottom_2{text-align:center;line-height:26px;padding-top:5px;}
