.page-article {width:100%;background-color:#f5f7fa;padding-top:68px;}
/*.content-left {width:840px;min-height:2000px;}
*/.content-left .article-body {box-sizing:border-box;background-color:#ffffff;padding:0 24px 0 24px;}
.content-left .article-body .article-header {width:100%;padding:30px 0 20px 0;box-sizing:border-box;border-bottom:1px solid #e4e7ec;}
.content-left .article-body .article-header .article-title {font-size:28px;text-align:justify;font-weight:700;line-height:44px;color:#222;}
.content-left .article-body .article-header .article-intro {margin-top:24px;width:100%;display:flex;font-size:14px;color:#666666;flex-direction:row;justify-content:space-between;align-items:center;}
.content-left .article-body .article-header .article-intro .article-author {display:flex;flex-direction:row;justify-content:flex-start;align-items:center;}
.content-left .article-body .article-header .article-intro .article-author .article-avatar {margin-right:14px;width:48px;height:48px;border-radius:50%;overflow:hidden;line-height:0;}
.content-left .article-body .article-header .article-intro .article-author .article-name {margin-right:14px;font-size:17px;color:#666666;}
.content-left .article-body .article-header .article-intro .article-msg {font-size:14px;color:#666666;}
.content-left .article-body .article-tags {width:100%;box-sizing:border-box;padding-bottom:24px;display:flex;flex-direction:row;justify-content:flex-start;align-items:flex-start;flex-wrap:wrap;}
.content-left .article-body .article-tags a {padding:0 8px;height:24px;background-color:#f3f5f9;border-radius:2px;font-size:14px;color:#4192E7;text-align:center;line-height:24px;margin-right:12px;margin-bottom:12px;}
.content-left .article-body .article-tags a:hover {color:#fff;text-decoration:none;background:#0088ff;}
.content-left .article-body .article-content {width:100%;font-size:16px;line-height:32px;color:#333333;margin-top:25px;padding-bottom:24px;}
.content-left .article-body .article-content p,.content-left .article-body .article-content .p {font-size:15px;color:#333333;line-height:32px;text-align:justify;margin-bottom:15px;}
.content-left .article-body .article-content b {font-size:16px;color:#333333;line-height:32px;text-align:justify;margin-bottom:15px;}
.content-left .article-body .article-content h2 {font-size:16px;border-left:6px solid #00AAEE;padding-left:16px;margin:25px 0;line-height:25px;}
.comment-content hr {display:none;}
.content-left .article-body .article-content h3,.content-left .article-body .article-content .h3 {font-size:18px;font-weight:bold;line-height:42px;}
.content-left .article-body .article-content h4,.content-left .article-body .article-content .h4 {font-size:16px;font-weight:bold;line-height:36px;}
.content-left .article-body .article-content img,.content-left .article-body .article-content .img {display:block;max-width:640px;height:auto!important;margin:20px auto;}
.content-left .article-body .article-content table img {display:block;max-width:100%!important;height:auto!important;margin:20px auto;}
.article-content a {color:#4192E7;font-weight:bold;}
.content-left .article-body .article-copyright {margin-top:8px;padding-bottom:32px;}
.content-left .article-body .article-copyright .article-copyright-lable {font-size:15px;font-weight:bold;color:#222222;}
.content-left .article-body .article-copyright .article-copyright-text {font-size:15px;color:#666666;}
.content-left .article-body .article-options {width:100%;box-sizing:border-box;padding:28px 160px 38px;display:flex;flex-direction:row;justify-content:space-between;align-items:center;}
.content-left .article-body .article-options .article-option-active {width:180px;height:48px;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;}
.content-left .article-body .article-options .article-option-active .article-option-click {margin-right:14px;width:48px;height:48px;border-radius:50%;overflow:hidden;background-color:#4192E7;display:flex;justify-content:center;align-items:center;cursor:pointer;}
.content-left .article-body .article-options .article-option-dective {width:180px;height:48px;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;}
.content-left .article-body .article-options .article-option-dective .article-option-click {margin-right:14px;width:48px;height:48px;border-radius:50%;overflow:hidden;background-color:#e2e0eb;display:flex;justify-content:center;align-items:center;cursor:pointer;}
.content-left .article-body .article-options .article-option-line {width:1px;height:48px;background-color:#e4e7ec;}
.content-left .article-body .article-options .article-option-warn {width:21px;height:18px;background-image:url(../image/icon.png);background-position:-145px -49px;}
.content-left .article-body .article-options .article-option-feel {width:21px;height:21px;background-image:url(../image/icon.png);background-position:-145px -72px;}
.content-left .article-body .article-options .article-option-msg {height:44px;display:flex;flex-direction:column;justify-content:space-between;align-items:flex-start;}
.content-left .article-body .article-options .article-option-msg .article-option-title {font-size:18px;color:#aaa3ba;}
.content-left .article-body .article-options .article-option-msg .article-option-number {font-size:14px;color:#aa9ed2;}
.content-right {width:320px;}
.tag_title {height:64px;background:#FFFFFF;border-radius:2px;font-size:18px;color:#181818;line-height:64px;margin-bottom:20px;}
.tag_title .icon {width:4px;height:24px;float:left;display:inline;margin-top:20px;margin-right:18px;background:url(../image/tagtitle2x.png) no-repeat center center;background-size:100%;}
.choices {margin-top:20px;background:#fff;padding:25px;}
.content-left .article-body {box-sizing:border-box;background-color:#ffffff;padding:0 25px;}
.content-left .list {padding:0;}
table {border-collapse:collapse;border-spacing:0;max-width:700px !important;margin-left:auto;margin-right:auto;text-align:center;}
table th,table td {border:1px solid #ddd;padding:5px;}
/*评论*/.plbox {border:solid 1px #e8e8e8;border-radius:5px;margin-top:20px;}
#plpost {padding:0;width:100%;}
#plpost textarea {border-color:#fff;width:730px!important;padding:5px;border-radius:5px;}
#plpost input[type="submit"] {display:block;background:#b9b9b9;color:#fff;border:0;margin-top:2px;line-height:45px;width:120px;padding:0 20px;border-radius:0 0 5px 0;float:right;}
.pl_denglu {background-color:#f6f6f6;padding:3px 3px 3px 10px;height:40px;}
.yname {width:150px;float:left;}
.yname input {height:30px;width:130px;margin:7px 0;border:none;padding-left:15px;}
.yzm {width:250px;margin-left:10px;float:left;}
.yzm input {height:30px;width:130px;margin:7px 0;border:none;padding-left:15px;}
.yzm img {margin-left:5px;height:25px;}
.adimg1 {background:url(https://seoxiaoxin.com/wp-content/themes/begin/img/liujnxX.png)no-repeat;display:block;overflow:hidden;height:100px;margin-bottom:20px;background-size:100% auto;}
._guypy35gnr{display:none;}

/*.m {*/
/*    background: #ececec;*/
/*    line-height: 50px;*/
/*    font-size: 16px;*/
/*    color: #0da944;*/
/*    text-align: center;*/
/*}*/
/*.blank-img {*/
/*    padding-top: 6rem;*/
/*}*/
/*.blank-img {*/
/*    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,0)),color-stop(70%, #fff));*/
/*    background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 70%);*/
/*    padding-top: 160px;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/

/*max-height: 50rem;*/

/*.article-content {position:relative;font-size:18px;color:#2b2b2b;line-height:1.7em;height:40rem;overflow:hidden;}*/
/*.article-content .get_ct_more {clear:both;min-height:1em;white-space:pre-wrap;}*/
/*.get_ct_more {position:relative;padding-top:.1rem;padding-bottom:.4rem;top:-3.2rem;text-align:center;height:45px;position:absolute;bottom:0px;width:100%;background:linear-gradient(to top,#fff,rgba(255,255,255,0) 70%);margin:0px;}*/
/*.more_bt {width:16px;height:16px;margin-bottom:-10px}*/
/*.btn-wrapper {position:relative;padding-top:15px;padding-bottom:20px;background-color:#fff;text-align:center;}*/
/*.read_more_btn {font-size:16px;color:#1da1f2;letter-spacing:0;background:#fff;letter-spacing:0;}*/
/*.readall_box .read_more_mask {position:absolute;left:0;right:0;top:-1.5rem;height:1.5rem;background:-webkit-linear-gradient(top,hsla(0,0%,100%,0),#fff);background:linear-gradient(-180deg,hsla(0,0%,100%,0),#fff);}*/
/*.btn-wrapper .imgtop {margin-top:2rem;display:block;}*/

@media (max-width:640px) {
body {background: #eee;}
._guypy35gnr {display:block;}
.right-fixed,.right-slide,.right-tuijian {margin-bottom:0;}
.nevigate_ul,.right-fixed ul,.right-tuijian ul,.right-tuijian{display:none;}
.xmedia_nav .search_box {margin-top:-50px;}
.content-left .article-body .article-header {padding:15px 0 10px 0;}
.content-left .article-body .article-tags {padding:10px 0;}
.content-left .article-body .article-content {padding-bottom:0px;margin-top:10px;}
.content-left .article-body .article-header .article-intro {margin-top:20px;}
.content-left .article-body .article-content img,.content-left .article-body .article-content .img {display:block;max-width:100%;height:100px;margin:20px auto;}
.plbox {display:none;}
.adimg2 {background:url(https://seoxiaoxin.com/wp-content/themes/begin/img/liujnxX.png)no-repeat;display:block;overflow:hidden;margin-bottom:20px;height:100%;width:100%;background-size:100% auto;}
}
@media (max-width:380px) {.adimg2 {height:100px;}
}
@media (max-width:325px) {.adimg2 {height:100px;}
}
